<?php $this->headScript()->appendFile($this->basePath('js/job-card/job-dispatch-dashboard.js')); ?>
<div class="_row_with_margin job_dispath clearfix">

    <div class="col-lg-3">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="projects" class="active"><a href="#_projects" aria-controls="project" role="tab" data-toggle="tab">Projects</a></li>
            <li role="jobs"><a href="#_jobs" aria-controls="profile" role="job" data-toggle="tab">Jobs</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane margin_top_normal active" id="_projects">
                <div class="list-group clearfix" id="project-list">
                    <?php
                    foreach ($projects as $project) {
                        $projectName = is_null($project['projectName']) ? $project['projectCode'] : $project['projectCode'] . ' (' . $project['projectName'] . ')';
                        ?>
                        <?php if($project['customerStatus'] == 1) { ?>
                        <a href="#<?php echo $project['projectCode']; ?>" class="clearfix list-group-item dispatcher-item" data-item-id="<?php echo $project['projectId']; ?>" data-item-name="<?php echo $projectName; ?>" data-item-code="<?php echo $project['projectCode']; ?>" data-item-type="project">
                            <table>
                                <tr>
                                    <td><?php echo $projectName; ?></td>
                                    <td class="pull-right"><span class="badge"><?php echo $project['projectProgress'] . ' %'; ?></span></td>
                                </tr>
                            </table>
                        </a>
                        <?php } else { ?>
                            <a href="#" class="clearfix list-group-item dispatcher-item editsInactive">
                            <table>
                                <tr>
                                    <td><?php echo $projectName; ?></td>
                                    <td class="pull-right"><span class="badge"><?php echo $project['projectProgress'] . ' %'; ?></span></td>
                                </tr>
                            </table>
                        </a>
                            <?php } ?>
                    <?php } ?>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane margin_top_normal" id="_jobs">
                <div class="list-group" id="job-list">
                    <?php
                    foreach ($jobs as $job) {
                        $jobName = is_null($job['jobName']) ? $job['jobReferenceNumber'] : $job['jobReferenceNumber'] . ' (' . $job['jobName'] . ')';
                        ?>
                        <?php if($job['customerStatus'] == 1){ ?>
                        <a href="#<?php echo $job['jobReferenceNumber']; ?>" class="clearfix list-group-item dispatcher-item" data-item-id="<?php echo $job['jobId']; ?>" data-item-name="<?php echo $jobName; ?>" data-item-code="<?php echo $job['jobReferenceNumber']; ?>" data-item-type="job">
                            <table>
                                <tr>
                                    <td><?php echo $jobName; ?></td>
                                    <td class="pull-right"><span class="badge"><?php echo $job['jobProgress'] . ' %'; ?></span></td>
                                </tr>
                            </table>
                        </a>
                        <?php } else { ?>
                            <a href="#" class="clearfix list-group-item dispatcher-item editsInactive">
                            <table>
                                <tr>
                                    <td><?php echo $jobName; ?></td>
                                    <td class="pull-right"><span class="badge"><?php echo $job['jobProgress'] . ' %'; ?></span></td>
                                </tr>
                            </table>
                        </a>
                            <?php } ?>
                    <?php } ?>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-7">
        <div class="well well_heading" style="padding-left: 15px; padding-right: 15px;">
            <div class="clearfix">
                <h5 class="pull-left font_weight" id="dispatcher-head"><span>Project</span> Review</h5>
                <span class="pull-right status_msg">
                    Change status
                    <select class="selectpicker" id="statusBox" data-width="130px">
                        <option value="3" data-content="<span class='label label-primary'>Open</span>">3</option>
                        <option value="8" data-content="<span class='label label-warning'>In Progress</span>">8</option>
                        <option value="9" data-content="<span class='label label-success'>Completed</span>">9</option>
                        <option value="4" data-content="<span class='label label-danger'>Closed</span>">4</option>
                    </select>
                </span>
            </div>
        </div>

        <div class="stage">
            <div id="dispatcher-body">
                <p class="default_msg">Please click on an entry from the left side panel to view details</p>
            </div>
        </div>
    </div>

    <div class="col-lg-2">
        <div class="well well_heading" style="padding-left: 15px; padding-right: 15px;">
            <h5 class="font_weight">Employees</h5>
        </div>
        <div id="project-list">
            <?php
            foreach ($employees as $employee) {
                $employeeName = $employee['employeeFirstName'] . ' ' . $employee['employeeSecondName'];
                ?>
                <a href="#" class="list-group-item employee-item" data-employee-id="<?php echo $employee['employeeID']; ?>" data-employee-name="<?php echo $employeeName; ?>"><?php echo $employeeName; ?></a>
            <?php } ?>
        </div>
    </div>

</div><!--row-->