<div class="data_table">
    <table width="100%" class="product-list">
        <tr>
            <td>
                <hr />
                <br />
                <div class="qout_body">
                    <table width="100%" class="table bigtable table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width: 10%"><?php echo $this->translate("Item Code"); ?></th>
                                <th style="width: 20%"><?php echo $this->translate("Item Name"); ?></th>
                                <th class="text-right" style="width: 13%"><?php echo $this->translate("Quantity"); ?></th>
                                <th style="width: 2%"</th>
                                <th class="text-right" style="width: 15%"><?php echo $this->translate("Price"); ?><br/><?php echo "({$this->currencySymbol})"; ?></th>
                                <th class="text-right" style="width: 15%"><?php echo $this->translate("Discount"); ?><br/><?php echo "(%)"; ?></th>
                                <th class="text-right" style="width: 10%"><?php echo $this->translate("Tax"); ?><br/><?php echo "({$this->currencySymbol})"; ?></th>
                                <th class="text-right" style="width: 15%"><?php echo $this->translate("Total"); ?><br/><?php echo "({$this->currencySymbol})"; ?></th>
                            </tr>
                        </thead>
                        <tbody id="form_row">
                            <?php
                            foreach ($this->piProducts as $piProduct) {
                                $pQty = $piProduct['piPQ'];
                                if (!empty($piProduct['sP'])) {
                                    $pQty = sizeof($piProduct['sP']);
                                }
                                ?>
                                <tr class="">
                                    <td id='code'><?php echo $piProduct['piPC']; ?></td>
                                    <td id='name'><?php echo $piProduct['piPN']; ?></td>
                                    <td id='quantity' class='text-right'><?php echo $pQty ?></td>
                                    <td><span id="uomName" class='text-right'><?php echo $piProduct['piPUom']; ?></span></td>
                                    <td id='unit' class='text-right'><?php echo number_format($piProduct['piPP'], strlen(substr(strrchr($piProduct['piPP'], "."), 1))); ?></td>
                                    <td id='disc' class='text-right'><?php echo $piProduct['piPD']; ?></td>
                                    <td class="text-right">
                                        <?php
                                        $fullTaxAmount = 0;
                                        foreach ($piProduct['pT'] as $pTax) {
                                            $fullTaxAmount += floatval($pTax['pTA']);
                                        }
                                        echo number_format($fullTaxAmount, 2);
                                        ?>
                                    </td>
                                    <td id='ttl' class='text-right'><?php echo number_format($piProduct['piPT'], 2); ?></td>
                                </tr>
                                <?php
                            }
                            ?>
                        </tbody>
                        <tbody>

                            <tr class="">
                                <td style="height: 31px;"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr><!--sub_total-->
                                <td colspan="6"><label><?php echo $this->translate("Sub Total"); ?></label></td>
                                <td colspan="1"></td>
                                <td id="subtotal" class="text-right"><label><?php echo number_format($this->piSubTotal, 2); ?></label></td>
                            </tr>
                            <?php if ($this->piSTax == 1) { ?>
                                <tr><!--display_taxes-->
                                    <td colspan="3">
                                        <span class="<?php if (empty($this->piTotalTax)) echo "hidden"; ?>remove_font_weight"><label><?php echo $this->translate("Total Taxes"); ?></label></span>
                                    </td>
                                    <td colspan="3" class="text-right">
                                        <?php if (!empty($this->piTotalTax)) { ?>
                                            <table>
                                                <?php
                                                foreach ($this->piTotalTax as $pTotTax) {
                                                    ?>
                                                    <tr>
                                                        <td width="30%" class="text-left" ><?php echo $pTotTax['pTN']; ?></td>
                                                        <td class="text-right"><?php echo '(' . $pTotTax['pTP'] . '%)'; ?></td>
                                                        <td width="40%" class="text-right"><?php echo number_format($pTotTax['pTA'], 2); ?></td>
                                                    </tr>
                                                    <?php
                                                }
                                                ?>
                                            </table>
                                        <?php } ?>
                                    </td>
                                    <td class="text-right font_weight" colspan="1">
                                        <?php
                                        foreach ($this->piTotalTax as $pTotTax) {
                                            $fullTotalTaxAmount += floatval($pTotTax['pTA']);
                                        }
                                        echo number_format($fullTotalTaxAmount, 2);
                                        ?>
                                    </td>
                                    <td></td>
                                </tr>
                            <?php } ?>

                            <tr><!--delivery_charges-->
                                <td colspan="6"><div class='deliCharges'><label><?php echo $this->translate("Delivery Charges"); ?></label></div></td>
                                <td></td>
                                <td class="text-right"><div class='deliCharges'><?php echo number_format($this->piDC, 2); ?></div></td>
                            </tr>

                            <div id="total_disc">
                                <?php
                                    if ($this->piWTD > 0 
                                    //|| $mass_disc_without_product_dis > 0
                                    ) {
                                ?>
                                <td colspan="6"><div class='totalDiscount'><label><strong><?php echo $this->translate($discountStatement); ?></strong></label></div></td>
                                <td></td>
                                <td class="text-right"><div class='totalDiscount'><?php echo number_format($this->piWTD, 2); ?></div></td>
                                <?php
                                    // if ($discount > 0 || $mass_disc_without_product_dis > 0) {
                                        // echo '<strong>' . $discountStatement . '</strong>&nbsp; ' . number_format($this->piWTD, 2);
                                    }
                                ?>
                            </div>

                            <tr><!--total-->
                                <td colspan="6"><h4 class="font_weight"><?php echo $this->translate("Total"); ?></h4><td class="text-right"><h4><?php echo $this->currencySymbol ?></h4></td></td>
                                <td colspan="2" class="text-right"><h4 id="finaltotal" class="font_weight"><?php echo number_format($this->piT, 2); ?></h4></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div><!--./col-->


