<div class="table table-responsive remove_padding_bottom margin_top">
    <table class="table table-striped" id="expenseTypeList">
        <thead>
            <tr>
                <th><?php echo $this->translate('Purchase Requisition Type Name'); ?></th>
                <th><?php echo $this->translate('Purchase Requisition Type Category'); ?></th>
                <th class="text-center"><?php echo $this->translate('Status'); ?></th>
                <th class="text-center"><?php echo $this->translate('Edit'); ?></th>
                <th class="text-center"><?php echo $this->translate('Delete');?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->expTypes as $expTypes) {
                ?>
                <tr id="<?php echo $expTypes['purchaseRequisitionTypeId']; ?>">
                    <td class="expTypeName" ><?php echo $expTypes['purchaseRequisitionTypeName']; ?></td>
                    <td class="expTypeCategory" id="<?php echo $expTypes['purchaseRequisitionTypeCategory']; ?>"><?php echo $expTypes['purchaseRequisitionCategoryName']; ?></td>
                    <td class="text-center" ><a href="javascript:;" class="changeStatus" id="<?php echo $expTypes['purchaseRequisitionTypeId']; ?>"><span class="<?php echo ($expTypes['purchaseRequisitionTypeStatus'] == 1) ? "glyphicon glyphicon-check" : "glyphicon glyphicon-unchecked"; ?>"></span></a></td>
                    <td  class="text-center" >
                        <a href="<?php echo '/purchase-requisition-type/edit/' . $expTypes['purchaseRequisitionTypeId']; ?>" id="<?php echo $expTypes['purchaseRequisitionTypeId']; ?>" class="edit">
                            <span class="fa fa-pencil-square-o" custom_font_size"> </span>
                        </a>
                    </td>
                    <td  class="text-center" >
                        <a href="javascript:;" id="<?php echo $expTypes['purchaseRequisitionTypeId']; ?>" class="delete">
                            <span class="fa fa-trash-o" custom_font_size"> </span>
                        </a>
                    </td>
                </tr>
                <?php
            }
            if (count($this->expTypes) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
            <?php }
            ?>
        </tbody>
    </table>
    <?php
    if ($this->paginated) {
        echo $this->paginationControl(
                $this->expTypes, 'sliding', array('partial/paginator.phtml', 'expense-type'), array(
            'route' => 'expense-type', 'action' => 'list'
                )
        );
    }
    ?>
</div>