
<div class="project-type-form-container margin_top">
    <div class="DepartmentBody">   
        <div class="well well_heading">
            <h5 class="font_weight addTitle"><?php echo $this->translate('Add Rate Card') ?></h5>
            <h5 class="font_weight updateTitle hidden"><?php echo $this->translate('Update Rate Card') ?></h5>
            <h5 class="font_weight viewTitle hidden"><?php echo $this->translate('View Rate Card') ?></h5>
        </div>
        <div class="well well_body">
            <div class="form-horizontal">
                <div class="_row_with_margin clearfix">

                    <div class="col-lg-3 col-md-3 col-sm-4 xs-margin-bottom">
                        <label for="rateCardCode" class="_remove_bold"><?php echo $this->translate('Rate Card Code') ?><span class="_required">*</span></label>
                        <input type="text" autofocus="true" placeholder="<?php echo $this->translate('Eg: RTCRD001') ?>" class="form-control" id="rateCardCode">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 xs-margin-bottom">
                        <label for="rateCardName" class="_remove_bold"><?php echo $this->translate('Rate Card Name') ?><span class="_required">*</span></label>
                        <input type="text" autofocus="true" placeholder="<?php echo $this->translate('Eg: Rate Card One') ?>" class="form-control" id="rateCardName">
                    </div>
                    <div class="col-lg-3">
                        <br>
                        <label class="_remove_bold"></label>
                        <a data-toggle="modal" id="servicesRates"  class="btn btn-success"><?php echo $this->translate('Add Rates For Services') ?></a>
                    </div>


                    <!--Reset&Add-->
                    <div class="col-lg-3 addDiv">
                        <label>&nbsp;</label>
                        <div class="text-right">
                            <button type="button" class="btn btn-primary update" id="btnAdd"><?php echo $this->translate('Add New') ?></button>
                            <button type="button" class="btn btn-default" id="btnReset"><?php echo $this->translate('Reset') ?></button>
                        </div>
                    </div>

                    <!--cancel&Update-->
                    <div class="col-lg-3 updateDiv hidden">
                        <label>&nbsp;</label>
                        <div class="text-right">
                            <button type="button" class="btn btn-primary update" id="btnUpdate"><?php echo $this->translate('Update') ?></button>
                            <button type="button" class="btn btn-default" id="btnCancel"><?php echo $this->translate('Cancel') ?></button>
                        </div>
                    </div>
                    <!--cancel&Update-->
                    <div class="col-lg-3 viewDiv hidden">
                        <label>&nbsp;</label>
                        <div class="text-right">
                            <button type="button" class="btn btn-default" id="btnViewCancel"><?php echo $this->translate('Cancel') ?></button>
                        </div>
                    </div>

                </div><!--row-->
            </div><!--form_horizontal-->
        </div><!--well_body-->

        <!--search-->
         <div class="well well_custom_padding margin_top">
            <div class="row">
                <div class="col-lg-3">
                    <label class="remove_weight" for="rateCardSearch"><?php echo $this->translate('Search Rate Card') ?></label>
                </div>
                <div class="search_field col-lg-9">
                    <form class='departmant-search-form' method="post">
                        <div class="input-group">
                            <input type="text" class="form-control" id="RteCrdSearch" placeholder="Enter rate name/code">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default minus_margin" id="searchRteCrd"><?php echo $this->translate('Search') ?></button>
                                <button type="button" class="btn btn-default minus_margin" id="searchCancel"><?php echo $this->translate('Cancel') ?></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> <!--well-->
        <div id="rate-card-list" class="margin_top">
            <?php echo $this->partial('jobs/rate-card/list', array('rateCards' => $this->rateCards, 'paginated' => $this->paginated)); ?>
        </div>
        
    </div>

    <div class="modal fade" id="addServiceRateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <?php echo $this->serviceRatesAddView; ?>
    </div>

    <!-- sub task rates view modal -->
    <div class="modal fade bs-example-modal-sm" id="subTaskRatesViewModal" tabindex="-1" role="dialog" aria-labelledby="subTaskRatesViewModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="subTaskRatesLabel"><?php echo $this->translate('View Sub Task Rates') ?></h4>
                </div>
                <div class="modal-body subTaskRatesBody">
                    <div class="col-lg-12 margin_top" id="subTaskRatesViewTable">
                        <div class="table table-responsive modaltable">
                            <table class="table  margin_top_normal table-condensed">
                                <thead>
                                    <tr id="subTskRatesHeader">
                                        <th><?php echo $this->translate('Sub Task') ?></th>
                                        <th><?php echo $this->translate('Rate') ?></th>
                                        <!-- <th class="text-center"></th>
                                        <th style="width: 20%"></th> -->
                                    </tr>
                                </thead>                        

                                <tbody id="viewServiceSubTaskRates">
                                    <tr id="subTskRteViewRow" class="hidden">
                                        <td class="text-center"><input type="text" id="addedSubTskCode" class="form-control"></td>
                                        <td class="text-center">
                                            <div class="input-group">
                                                <input type="text" id="addedSubTskRate" class="form-control">
                                                <span class="input-group-addon"><?php echo $this->currency; ?></span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div><!--table_responsive-->
                    </div><!--./col-->
                </div>
                <div class="modal-footer modal-footer-style">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
                </div>
            </div>
        </div>
    </div>
</div>