<!--table-->
<div class="table table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('Rate Card Code') ?></th>
                <th><?php echo $this->translate('Rate Card Name') ?></th>
                <th class="text-center" ><?php echo $this->translate('Status') ?></th>
                <th class="text-center" ><?php echo $this->translate('View') ?></th>
                <th class="text-center" ><?php echo $this->translate('Edit') ?></th>
                <th class="text-center" ><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->rateCards as $rateCard) {
                $rateCard = (object) $rateCard;
                ?>
                <tr data-rate-card-id="<?php echo $rateCard->rateCardID; ?>" data-rate-card-status="<?php echo $rateCard->rateCardStatus; ?>" data-rate-card-name="<?php echo $rateCard->rateCardName; ?>" data-rate-card-code="<?php echo $rateCard->rateCardCode; ?>">
                    <td class="rateCardCode"><?php echo $rateCard->rateCardCode; ?></td>
                    <td class="rateCardName"><?php echo $rateCard->rateCardName; ?></td>
                    <td class="text-center"> 
                        <a href="#" class="status rateCard-action" data-action="status">
                            <span class="<?php echo ($rateCard->rateCardStatus == '1') ? 'fa fa-check-square-o' : 'fa fa-square-o '; ?> custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center"> 
                        <a href="#" class="view rateCard-action" data-action="view">
                            <span class="fa fa-eye custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="#" class="edit rateCard-action" data-action="edit">
                            <span class="fa fa-pencil-square-o custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="#" class="delete rateCard-action" data-action="delete">
                            <span class="fa fa-trash-o custom_font_size"></span>
                        </a>
                    </td>
                </tr>
                <?php
            }
            if (count($this->rateCards) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div>
<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->rateCards, 'sliding', array('partial/paginator.phtml', 'rateCard'), array(
        'route' => 'rateCard', 'action' => 'create'
            )
    );
}
?>
