<div class="modal-dialog _custom_large_modal" style="width: 70">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate('Add Rates For Service') ?></h4>
        </div>

        <div class="modal-body" id="addServiceRateBody">
            <div class="col-lg-12 margin_top" id="departmentStationAddTable">
                <div class="table modaltable">
                    <table class="table table-striped margin_top_normal table-condensed" id="departmentStationTable">
                        <thead>
                            <tr>
                                <th style="width: 30%"><?php echo $this->translate("Service"); ?></th>
                                <th style="width: 20%"><?php echo $this->translate("Rate Per Unit"); ?></th>
                                <th style="width: 20%"><?php echo $this->translate("UOM"); ?></th>
                                <th class="text-center" style="width: 20%"><?php echo $this->translate("Sub Task Rate"); ?></th>
                            </tr>
                        </thead>

                        <tbody id="formRow">
                            <tr id='preSample' class="hidden">
                                <td style="width: 30%">
                                    <input disabled name="addSreviceCodeName" type="text" class="form-control" />
                                </td>
                                <td style="width: 20%">
                                    <input disabled name="addServiceRate" type="text" class="form-control" />
                                </td>
                                <td style="width: 20%">
                                    <input disabled name="addUom" type="text" class="form-control" />
                                </td>
                                <td style="width: 20%" class="text-center">
                                    <a href="#" name="viewSubTasksRates" class="viewSubTaskRate">
                                        <span class="glyphicon glyphicon-expand custom_font_size"></span>
                                    </a>
                                </td>
                                <td class="text-right"><button class="deleteAddedServiceRates btn btn-default"><i class='glyphicon glyphicon-trash deletedepSerRte' id=''></i></button></td>
                            </tr>
                        </tbody>

                        <tbody id="addNewServiceRateRow">
                            <tr><!--item_insert-->
                                <td style="width: 30%">
                                    <p class="visible-xs"><?php echo $this->translate("Item Code or Name"); ?></p>
                                    <select class="form-control  show-tick"  id="serviceCode" name="serviceCode" data-live-search="true">
                                        <option value="0" ><?php echo $this->translate('Select a Service') ?></option>
                                    </select>
                                </td>
                                <td style="width: 20%">
                                    <div class="input-group">
                                        <input type="text" autofocus="true" class="form-control" id="serviceRateVal">
                                        <span class="input-group-addon"><?php echo $this->currency; ?></span>
                                    </div>
                                </td>
                                <td style="width: 20%">
                                    <p class="visible-xs"><?php echo $this->translate("UOM"); ?></p>
                                    <select class="form-control show-tick"  id="uom" name="uom" data-live-search="true">
                                        <option value="0" ><?php echo $this->translate('Select a uom') ?></option>
                                        <?php
                                        foreach ($uomList as $value) {
                                            echo '<option value="' . $value['value'] . '">' . $value['text'] . '</option>';
                                        }
                                        ?>
                                    </select>
                                </td>
                                <td  class="text-center" style="width: 20%">
                                    <a href="#" id="subTaskRate" data-action="status">
                                        <span class="fa fa-square-o  custom_font_size serviceSubTaskEnableIcon" style="font-size: 20px;"></span>
                                    </a>
                                </td>
                                <td class="text-right">
                                    <strong class="btn btn-default" id="add_dep_station"><i class="glyphicon glyphicon-plus"></i></strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!--table_responsive-->
            </div><!--./col-->
            <br>
            <div class="col-lg-12 margin_top" id="depStationViewTable" >
                <div class="table modaltable">
                    <table class="table  margin_top_normal table-condensed">
                        <thead>
                            <tr id="subTskHeader" class="hidden">
                                <th style="width: 20%"></th>
                                <th><?php echo $this->translate('Sub Task') ?></th>
                                <th style="width: 20%"><?php echo $this->translate('Rate') ?></th>
                                <th class="text-center"></th>
                                <th style="width: 20%"></th>
                            </tr>
                        </thead>

                        <tbody id="viewServiceSubTasks">
                            <tr class="hidden" id="subTskRow">
                                <td></td>
                                <td class="text-center"><input type="text" id="subTskCode" class="form-control"></td>
                                <td class="text-center">
                                    <div class="input-group">
                                        <input type="text" id="subTskRate" class="form-control">
                                        <span class="input-group-addon"><?php echo $this->currency; ?></span>
                                    </div>
                                </td>
                                <td>
                                    <button type='button' class="add btn btn-default">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                    <button class="edit btn btn-default hidden" type='button'>
                                        <i class="fa fa-pencil-square-o"></i>
                                    </button>
                                    <button class="save btn btn-default hidden" type='button'>
                                        <i class="fa fa-floppy-o"></i>
                                    </button>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                </div><!--table_responsive-->
            </div><!--./col-->
        </div>
        <div class="modal-footer modal-footer-style">
            <div class="col-lg-12" id="addServiceRates">
                <div class="text-right">
                    <button type="button" class="btn btn-primary" id="btnAddSrvcRates"><?php echo $this->translate('Add Rates') ?></button>
                    <button type="button" class="btn btn-danger" id="btnSrvcClose"><?php echo $this->translate('Close') ?></button>
                </div>
            </div>
            <div class="col-lg-12" id="viewServiceRates" class="hidden">
                <div class="text-right">
                    <button type="button" class="btn btn-danger hidden" data-dismiss="modal" id="btnViewRateCardServicesClose"><?php echo $this->translate('Close') ?></button>
                </div>
            </div>
        </div>
    </div>
</div>

