
<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">
                <tbody>
                    <tr>
                        <th><?php echo $this->translate('No') ?></th>
                        <th><?php echo $this->translate('Issued Date') ?></th>
                        <th><?php echo $this->translate('Due Date') ?></th>
                        <th><?php echo $this->translate('Commment') ?></th>
                        <th><?php echo $this->translate('Amount') . ' (' . $currencySymbol . ')'; ?></th>
                    </tr>
                    <?php
                    if (count($paymentVoucherData) > 0) {
                        foreach ($paymentVoucherData as $data) {
                            ?>
                            <tr class="even_row">
                                <td style="text-align: left"><?php echo $data['paymentVoucherCode']; ?></td>
                                <td style="text-align: center"><?php echo $data['paymentVoucherIssuedDate']; ?></td>
                                <td style="text-align: center"><?php echo $data['paymentVoucherDueDate']; ?></td>
                                <td style="text-align: left"><?php echo $data['paymentVoucherComment']; ?></td>
                                <td style="text-align: right"><?php echo number_format($data['paymentVoucherTotal'], 2); ?></td>
                            </tr>

                        <?php }
                        ?>
                        <tr class="even_row">
                            <td colspan="3"></td>
                            <td><?php echo $this->translate('Grand Total') ?>:</td>
                            <td class="change_order_total_col"><?php echo $this->grandTotal; ?></td>
                        </tr>
                    <?php } else { ?>
                        <tr class="even_row">
                            <td colspan="9"><?php echo $this->translate('No related data found'); ?></td>
                        </tr>
                    <?php } ?>
                </tbody>

            </table>

        </div>

    </div>
</div>



