<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
<?php
$this->headScript()->captureEnd();
?>

<!--panel-->
<div class="panel panel-default margin_top panel_border">

    <div class='panel-heading panel_heading_style'><!--panel_heading-->
        <h4 class="font_weight h1_no_margin report_heading"><?php echo $this->translate('Payment Voucher Report') ?></h4>
    </div>

    <div class="panel-body panel_body_style flex-container">

        <!--links-->
        <div class="col-lg-3 col-md-3 remove_left_padding remove_right_padding panel_links">
            <ul class="nav nav-pills nav-stacked" data-tabs="tabs">
                <li id="pettyCashVoucher" class="report_pills active"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Payment Voucher') ?></a></li>
            </ul>
        </div>

        <!--process_area-->
        <div class="col-lg-9 col-md-9 form-horizontal process_area">
            <div id="reportHead">
                <div class="form-group">

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 petty-cash-content">
                            <div class="form-group">
                                <div class="col-lg-4 col-md-4"><!--from_date-->
                                    <label for="fromDate" class="control-label from_date_lbl"><?php echo $this->translate('From Date') ?></label>
                                    <input type="text" class="span2 datepicker form-control pointer_cursor" style="background-color: white;" readonly="true" id="fromDate" name="fromDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to set a From Date') ?>">
                                </div>

                                <div class="col-lg-4 col-md-4 to set_to_date"><!--set_to_date-->
                                    <label class="control-label to_date_lbl"><?php echo $this->translate('To Date') ?></label>
                                    <input type="text" class="span2 datepicker form-control pointer_cursor" style="background-color: white;" readonly="true" id="toDate" name="toDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to set a To Date') ?>">
                                </div>

                            </div><!--form-group-->
                        </div><!--./col-->
                    </div>
                    <div class="row dimension_div">
                        <br>
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 report_dimesnion_type"><!--from_start_date-->
                            <label class="control-label from_date_lbl"><?php echo $this->translate('Dimension Type') ?></label>
                            <select class="form-control selectpicker show-tick dimenisonchange"  id="dimensionTypeId" name="dimensionTypeId" data-live-search="true">
                                <option class="dimensionTypeDefaultSelect" value=""><?php echo $this->translate('Select Dimension Type') ?></option>
                                <?php
                                    foreach ($this->dimensions as $key => $value) :
                                        echo '<option value="' . $key . '">' . $value . '</option>';
                                    endforeach;
                                ?>   
                            </select>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 to report_dimension_value"><!--report_from_end_date-->
                            <label class="control-label to_date_lbl"><?php echo $this->translate('Dimension Value') ?></label>
                            <select class="form-control show-tick dimensionVal"  id="dimensionVal" name="dimensionVal" data-live-search="true">
                                <option class="dimensionValDefaultSelect" value=""><?php echo $this->translate('Select Dimension Value') ?></option>
                            </select>
                            <select class="form-control selectpicker show-tick hidden dimensionJobNo" id="dimensionJobNo" name="dimensionJobNo" data-live-search="true">
                                <option value=""><?php echo $this->translate('Select Job Number') ?></option>
                            </select>
                            <select class="form-control selectpicker show-tick hidden dimensionProjectNo" id="dimensionProjectNo" name="dimensionProjectNo" data-live-search="true">
                                <option value=""><?php echo $this->translate('Select Project Number') ?></option>
                            </select>
                        </div>
                    </div><!--row-->

                    <div class="row">
                        <div class="col-lg-12 btn-group btn_panel_normal">
                            <button class="btn btn-default col-lg-2" id="viewReport"><?php echo $this->translate('View Report') ?></button>
                            <button class="btn btn-default col-lg-2" id="generatePdf"><?php echo $this->translate('Generate Pdf') ?></button>
                            <button class="btn btn-default col-lg-2" id="csvReport"><?php echo $this->translate('Generate CSV') ?></button>
                        </div>
                    </div>

                </div><!--form_group-->
            </div>
        </div>

    </div>
</div>

<iframe id="expensePaymentVoucherReportIFrame" class="panel panel-default margin_top margin_bottom panel_border report-iframe" style="width: 100%"></iframe>


