<div class="modal-dialog">
    <div class="modal-content">
	
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate('Sales Order Cancel Confirmation') ?></h4>
        </div>
		
        <div class="modal-body">
            <p><?php echo $this->translate('Are You Sure About Canceling this Sales Order?') ?></p>   
			<div class="form-horizontal margin_top_normal">
				<div class="form-group">
					
					<label for="cust_name" class="col-lg-3 control-label">
						<?php echo $this->translate("Comment"); ?>
					</label>
					<div class="col-lg-9">
						<textarea type="textarea" class="form-control" rows="3" id="comment" placeholder="<?php echo $this->translate('Please Enter the Reason') ?>"></textarea>
					</div>
					
				</div>
			</div>
        </div>
		
        <div class="modal-footer">
            <!--<div id="customerloading" class="btn btn-primary"><?php // echo $this->translate('Deleting Customer...')                               ?></div>-->
            <button id="cancel-salesorder-button" class="btn btn-primary"><?php echo $this->translate('Cancel Sales Order') ?></button>
			<button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Back') ?></button>
		</div>
		
    </div>
</div>