<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
var edit_btn = '<?php echo $this->translate('Edit'); ?>';
var save = '<?php echo $this->translate('Save'); ?>';
var currentLocationID = <?php echo $this->currentLocationID; ?>;
$(document).ready(function(){
$("#mobile_heading").html("<h3>SalesOrder</h3>").addClass('heading');
});
var companyCurrencySymbol =  <?php echo "'$this->companyCurrencySymbol'"; ?>;
<?php $this->headScript()->captureEnd() ?>

<?php
//$this->headScript()->prependFile($this->basePath('js/invoice/send_email.js'));
$this->headScript()->appendFile($this->basePath('js/invoice/salesOrderEdit.js'));
//$this->headScript()->appendFile($this->basePath('js/invoice/customer.js'));
$this->headScript()->prependFile($this->basePath('js/calculations.js'));
//$this->headScript()->appendFile($this->basePath('js/invoice/viewSalesOrder.js'));
?>

<?php
$so_form = $this->so_form;
$so_form->prepare();
?>

<div class="margin_top" id="non-printable">
    <h5 class="font_weight well"><?php echo $this->translate("Edit Sales Order"); ?></h5>
    <?php
    echo $this->form()->openTag($so_form);
    ?>
    <input type="hidden" id='edit_so_ID' value="<?php echo $this->edit_ID; ?>">
    <div id="salesOrder_upper_view" class="row"><!--data_insert_section-->
        <div class="col-lg-5 col-md-5">
            <div class="form-group"><!--customer_name-->
                <label for="cust_name" class="col-lg-5 control-label">
                    <?php echo $this->translate("Customer Name"); ?>
                    <font color="red"> *</font>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($so_form->get('cust_name')); ?>
                </div>

                <div class="hiddenid" id="cust_id"></div>
            </div>

            <div class="form-group cus_prof_div" >
                <label for='cusProfile' class="col-lg-5 control-label">
                    <?php echo $this->translate('Customer Profile'); ?>
                </label>
                <div class="col-lg-7 default-cus-prof">
                    <input type="text" value="" id='cust_prof_name' class="form-control " disabled="true">
                </div>
            </div>

            <div class="form-group"><!--payment_term-->
                <label for="payment_term" class="col-lg-5 control-label">
                    <?php echo $this->translate('Payment Term'); ?>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($so_form->get('payment_term')); ?>
                </div>
            </div>

            <div class="form-group"><!--customer_balance-->
                <label for="currentBalance" class="col-lg-5 control-label"><?php echo $this->translate('Customer Balance') ?></label>
                <div class="col-lg-7">
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 remove_left_padding ">
                            <?php echo $this->formRow($so_form->get('invoicecurrentBalance')); ?>
                            <label class="label label-danger custom_label"><?php echo $this->translate('Outstanding') ?></label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 remove_right_padding">
                            <input type="text" class="form-control" id="salesOrderCurrentCredit" readonly="readonly"/>
                            <label class="label label-success custom_label"><?php echo $this->translate('Credit'); ?></label>
                        </div>
                    </div>
                </div>
            </div><!--form_group-->

            <div class="form-group">
                <label for='priceListId' class="col-lg-5 control-label">
                    <?php echo $this->translate('Price List'); ?>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($so_form->get('priceListId')); ?>
                </div>
            </div>
            <div class="form-group">
                <label for="dimensionType" class="col-lg-5 control-label">
                    <?php echo $this->translate('View Documents'); ?>
                </label>
                <div class="col-lg-3 text-right">
                    <button class="btn btn-default form-control" type="button" id='viewUploadedFiles'><i class="glyphicon glyphicon-eye-open"></i></button>
                </div>
            </div>
        </div><!--./col-->

        <div class="col-lg-5 col-md-5 col-lg-offset-2 col-md-offset-2">
            <div class="form-group">
                <label for="date" class="col-lg-5 control-label">
                    <?php echo $this->translate("Issue Date"); ?>
                </label>
                <div class="col-lg-7">
                    <input type="text" class="datepicker form-control pointer_cursor" readonly="true" id="issue_date" data-date-format="<?php echo $this->userdateFormat ?>" placeholder="Click to set a Date">
                </div>
            </div>

            <div class="form-group">
                <label for="date" class="col-lg-5 control-label">
                    <?php echo $this->translate("Valid Till"); ?>
                    <font color="red"> *</font>
                </label>
                <div class="col-lg-7">
                    <input type="text" class="datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="expire_date" data-date-format="<?php echo $this->userdateFormat ?>" placeholder="<?php echo $this->translate('Click to Set a Date'); ?>">
                </div>
            </div>

            <div class="form-group">
                <label for="so_no" class="col-lg-5 control-label">
                    <?php echo $this->translate("Sales Order No"); ?>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($so_form->get('so_no')); ?>
                </div>
            </div>
            <div class="form-group"><!--sales_person-->
                <label for="salesPersonID" class="col-lg-5 control-label">
                    <?php echo $this->translate("Sales Person"); ?>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($so_form->get('salesPersonID')); ?>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-5 control-label">
                    <?php echo $this->translate('Related Customer Order'); ?>
                </label>
                <div class="col-lg-1">
                    <a data-toggle="modal" id="documentReference"  class="btn btn-default"><i class="fa fa-angle-double-down"></i></a>
                </div>
            </div>
            <div class="form-group"><!--custom currency-->
                <label for="customCurrencyId" class="col-lg-5 control-label">
                    <?php echo $this->translate("Custom Currency"); ?>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($so_form->get('customCurrencyId')); ?>
                </div>
            </div>
            <div class="form-group">
                <label for="dimensionType" class="col-lg-5 control-label">
                    <?php echo $this->translate('Select Documents'); ?>
                </label>
                <div class="col-lg-7">
                    <input type="file" name="files[]" id="editDocumentFiles" multiple style="border-color: white">
                </div>
            </div>
        </div><!--./col-->
    </div><!--row-->


    <!--table-->
    <div class="col-lg-12">
        <div class="salesOrder_table table-responsive">
            <table class="table table-striped table-condensed margin_top_normal" id="item_tbl">

                <thead>
                    <tr>
                        <th style="width: 25%"><?php echo $this->translate("Item Code or Name"); ?></th>
                        <th style="width: 15%" class="text-right"><?php echo $this->translate("Quantity"); ?></th>
                        <th style="width: 2%"</th>
                        <th style="width: 15%" class="text-right"><?php echo $this->translate("Price"); ?></th>
                        <th style="width: 10%" class="text-right"><?php echo $this->translate("Dis.nt"); ?></th>
                        <th style="width: 10%" class="text-right"><?php echo $this->translate("Taxes"); ?></th>
                        <th style="width: 15%" class="text-right"><?php echo $this->translate("Total"); ?></th>
                        <th class=""></th>
                        <th class=""></th>
                    </tr>
                </thead>

                <tbody id="" class="itemlist">
                    <tr id='preSetSample' class="hide">
                    	<td id='code'></td>
                        <td id='quantity' class='text-right'></td>
                        <td><span id="uomName" class='text-right'></span></td>
                        <td id='unit' class='text-right'></td>
                        <td id='disc' class='text-right'></td>
                        <td class='text-right' id='tax'><div class='btn-group'><button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'><span id='' class=''></span>&nbsp<span class='glyphicon glyphicon-chevron-down'></span></button><ul class=''></ul></div></td>
                        <td id='ttl' class='text-right'></td>
                        <td><span class='grnDeleteProduct glyphicon glyphicon-trash delete' id=''></span></td>
                        <td><!--<span style="font-size: 18px;" class='grnViewProducts glyphicon glyphicon-expand'></span>--></td>
                    </tr>
                </tbody>

                <tbody>
                    <tr><!--item_insert-->
                    	<td>
                    		<p class="visible-xs"><?php echo $this->translate("Item Code or Name") ?></p>
                    		<div class="pull-right input-group">
                    			<select class="form-control" id="item_code" name="item_code">
                                </select>
                    			<span class="input-group-btn">
                    				<button  type='button' class="btn btn-default addItemDescription" title="Add comment">
                    					<i class="fa fa-comment-o"></i>
                    				</button>
                    			</span>
                    		</div>
                    		<textarea class="itemDescText form-control hidden" placeholder="Enter item description"></textarea>
                    	</td>
                        <td class="">
                            <div class="">
                                <?php echo $this->formRow($so_form->get('qty')); ?>
                            </div>
                        </td>
                        <td></td>
                        <td class="">
                            <p class="visible-xs"><?php echo $this->translate('Price') ?></p>
                            <div class="pull-right input-group">
                                <?php echo $this->formRow($so_form->get('price')); ?>
                                <strong class="input-group-addon cCurrency"><?php echo $companyCurrencySymbol; ?></strong>
                            </div>
                        </td>
                        <td>
                            <p class="visible-xs"><?php echo $this->translate('Discount') ?></p>
                            <div class="input-group">
                                <?php echo $this->formRow($so_form->get('discount')); ?>
                                <span id="discType" class="input-group-addon"></span>
                            </div>
                        </td>
                        <td class="text-right">
                            <div id="addNewTaxDiv" class='btn-group'>
                                <button id ="addNewTax" type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'><span id='taxApplied' class='glyphicon glyphicon-unchecked'></span>&nbsp;<span class='glyphicon glyphicon-chevron-down'></span></button>
                                <ul id="addTaxUl" class="text-left dropdown-menu">
                                    <li id="sampleLi"class="hidden">&nbsp;&nbsp;<input class="taxChecks" id="" type='checkbox' ><label for="" class="taxName">&nbsp;&nbsp;</label></li>
                                    <li id="toggleSelection">&nbsp;&nbsp;<div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs" id="selectAll"><?php echo $this->translate('Select all'); ?>
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs" id="deselectAll"><?php echo $this->translate('Deselect all'); ?>
                                    </button></div>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="">
                            <div class="input-group pull-right">
                                <label class="" id="total">0.00</label>
                            </div>
                        </td>
                        <td class="text-center"><button class="btn btn-default" id="add_item" type="button"><i class="glyphicon glyphicon-plus"></i></button></td>
                        <td></td><!--dummy-->
                    </tr>

                    <tr><!--sub_total-->
                        <td></td>
                        <td colspan="6" class="text-right"><?php echo $this->translate("Sub Total"); ?></td>
                        <td id="subtotal" class="text-right"><label >0.00</label></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr><!--display_taxes-->
                        <td colspan="4"><?php echo $this->formRow($so_form->get('show_tax')) . "&nbsp;" . $this->translate("Display Taxes"); ?></td>
                        <td></td>
                        <td colspan="2" class="text-right">
                            <div id="tax_td"></div>
                        </td>
                        <td colspan="2"></td>
                        <td></td>
                    </tr>

                    <tr class="hidden"><!--delivery_charges-->
                        <td colspan="5">
                            <?php
                            echo $this->formRow($so_form->get('deli_charg')) . "&nbsp;";
                            echo $this->translate("Delivery Charges");
                            ?>
                        </td>
                        <td class="text-right"><div class='deli_row'><?php echo $this->translate("Delivery Charges"); ?></div></td>
                        <td><div class="deli_row text-right"><?php echo $this->formRow($so_form->get('deli_amount')); ?></div></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr><!--total-->
                        <td></td>
                        <td colspan="6" class="text-right"><h4 class="font_weight"><?php echo $this->translate("Total  "); ?>&nbsp;<span class="cCurrency"><?php echo $companyCurrencySymbol ?></span></h4></td>
                        <td class="text-right"><h4 id="finaltotal" class="font_weight">0.00</h4></td>
                        <td colspan="3"></td>
                    </tr>

                </tbody>
            </table><!--table-->

        </div><!--quotation_table-->
    </div><!--./col-->

    <!--comment-->
    <div class="row">
        <!--<div class="col-lg-4" id="deli_form_group"><!--delivery_address-->
        <!--<label for="deli_address">
        <?php echo $this->translate("Delivery Address"); ?>
        </label>
        <?php echo $this->formRow($so_form->get('deli_address')); ?>
    </div>-->

        <div class="col-lg-4 col-md-5"><!--comment-->
            <label for="cmnt" class="">
                <?php echo $this->translate("Comment"); ?>
            </label>
            <?php echo $this->formRow($so_form->get('cmnt')); ?>
        </div>

        <?php echo $this->form()->closeTag(); ?><!--close_form_tag-->

        <div class="col-lg-4 col-md-4 col-lg-offset-0 col-md-offset-3"><!--button-->
            <div class="btn_margin_top salesOrder_button_set">
                <input type='reset' id="reset" value="<?php echo $this->translate("Cancel"); ?>" class='btn btn-default'>
                <button class="btn btn-primary" id="placeSalesOrder" type="submit"><?php echo $this->translate("Save"); ?></button>
            </div>
        </div>

    </div><!--row-->
    <?php echo $this->form()->closeTag(); ?>



    <!-- Add New Product Form Modal -->
    <div class="modal fade" id="add_new_item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                    <h4 class="modal-title"><?php echo $this->translate("Add New Item"); ?></h4>
                </div>
                <!--            <div id="add_new_item_modal" class="modal-body">
                <?php // echo $produt_add;      ?>
                            </div>-->
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</div><!--quotation_tab-->
<div class="modal fade" id="documentReferenceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $documentReference; ?>
</div>
<div class="modal fade" id="add_customer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $cust_formv; ?>
</div>
<div class="modal fade" id="viewAttachmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->attachmentsView; ?>
</div>
<style type="text/css">
    .select2-selection {
        height: 32px !important;
    }
</style>