<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="_remove_margin_bottom no_top_margin" id="attach_view"><?php echo $this->translate('View Linked Customer Order') ?></h4>
        </div>
        <div class="modal-body">

            <table class="table _remove_margin_bottom" id="linked-co-table">
                <thead>
                    <tr>
                        <th><?php echo $this->translate('Customer Order No') ?></th>
                        <th><?php echo $this->translate('Customer Order Date') ?></th>
                        <th><?php echo $this->translate('Customer Order Ref No') ?></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            
            <table class="table _remove_margin_bottom" id="doc-attach-table">
                <thead>
                    <tr>
                        <th><?php echo $this->translate('Attachments') ?></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            
        </div>
        <div id="attach_view_footer" class="modal-footer hidden">
            <button type="button" id="saveAttachmentEdit" class="btn btn-primary"><?php echo $this->translate('Save changes') ?></button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
        </div>
    </div>
</div>