
<?php $this->headScript()->appendFile($this->basePath('js/invoice/viewSalesOrder.js')); ?>

<div class='well clearfix well_custom_padding margin_top xs_view'><!--get_invoice-->

    <div class='col-lg-2 col-md-12 col-sm-12 col-xs-12'>
        <label class="remove_weight"><?php echo $this->translate('Search Sales Order') ?></label>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-4">
        <select id="inv-search-select" class=" form-control col-lg-2">
            <option value="Sales Order No"><?php echo $this->translate('Sales Order No') ?></option>
            <option value="Customer Name"><?php echo $this->translate('Customer Name') ?></option>
        </select>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-4">
        <select class="search form-control selectpicker show-tick" id="inv-search" name="inv-search" data-live-search="true">
            <option value=""><?php echo $this->translate("Select Sales Order No") ?></option>
        </select>
        <select class="search form-control selectpicker show-tick" id="inv-custa-search" name="inv-custa-search" data-live-search="true">
            <option value=""><?php echo $this->translate("Select Customer Name") ?></option>
        </select>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2">
        <input type="text" style="background-color: white" readonly="true" class="span2 datepicker form-control pointer_cursor" id="from-date" data-date-format="<?php echo $this->userdateFormat ?>" placeholder="<?php echo $this->userdateFormat ?>">
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2">
        <input type="text" style="background-color: white" readonly="true" class="span2 datepicker form-control pointer_cursor" id="to-date" data-date-format="<?php echo $this->userdateFormat ?>" placeholder="<?php echo $this->userdateFormat ?>">
    </div>

    <div class="col-lg-1 col-md-2 col-sm-2">
        <button class="btn btn-primary col-lg-12 col-md-12 col-sm-12" id="filter-button"><?php echo $this->translate('GO') ?></button>
    </div>
</div><!--well-->


<!--table-->
<div class="margin_top">
    <div class="table table-responsive">
        <div id="salesorder-list">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class=""><?php echo $this->translate('Sales Order No') ?></th>
                        <th class=""><?php echo $this->translate('Customer Name') ?></th>
                        <th class=""><?php echo $this->translate('Issued Date') ?></th>
                        <th class=""><?php echo $this->translate('Due Date') ?></th>
                        <th class="text-center"><?php echo $this->translate('State') ?></th>
                        <th class="text-right"><?php echo $this->translate('Total Amount') ?></th>
                        <th class="text-right"><?php echo $this->translate('Print View') ?></th>
                        <th class="text-right"><?php echo $this->translate('Edit') ?></th>
                        <th class="text-right"><?php echo $this->translate('Linked Customer PO') ?></th>
                        <th class="text-right"><?php echo $this->translate('Related Documents') ?></th>
                        <th class="text-center"><?php echo $this->translate('Attachments') ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php
                    foreach ($this->salesOrders as $key => $salesOrders) {
                        if ($salesOrders->salesOrdersCustomCurrencyRate == 0) {
                            $currencyRate = 1;
                        } else {
                            $currencyRate = $salesOrders->salesOrdersCustomCurrencyRate;
                        }
                        if (isset($salesOrders->currencySymbol)) {
                            $currencySymbol = $salesOrders->currencySymbol;
                        } else {
                            $currencySymbol = $this->companyCurrencySymbol;
                        }
                        $sO = (object) $salesOrders;
                        $state = $sO->statusID;
                        $stateName = ucfirst($this->statuses[$sO->statusID]);
                        $style = NULL;
                        switch ($state) {
                            case "1":
                                $style = "label label-primary";
                                break;
                            case "2":
                                $style = "label label-default";
                                break;
                            case "3":
                                $style = "label label-success";
                                break;
                            case "4":
                                $style = "label label-warning";
                                break;
                            case "5":
                                $style = "label label-primary";
                                break;
                            case "6":
                                $state = 'Open';
                                $style = "label label-danger";
                                break;
                            default :
                                $style = "label label-default";
                        }
                        ?>
                        <tr>
                            <td class=""> <?php
                                echo $salesOrders->soCode;
                                ?></td>
                            <td class=""> <?php echo $salesOrders->customerName . " - " . $salesOrders->customerCode; ?></td>
                            <td class=""> <?php echo $this->userDateFormatHelper($salesOrders->issuedDate, $this->userdateFormat); ?></td>
                            <td class=""> <?php echo $this->userDateFormatHelper($salesOrders->expireDate, $this->userdateFormat); ?></td>
                            <td class="text-center"><span class="<?php echo $style; ?>"> <?php echo $stateName; ?></span></td>
                            <td class="text-right"> <?php echo $currencySymbol . ' ' . number_format($salesOrders->totalAmount / $currencyRate, 2); ?></td>
                            <td class="text-right">
                                <a class="preview link_color" style="cursor:pointer" data-href="<?php echo $this->url('salesOrders', array('action' => 'salesOrdersView', 'param1' => $salesOrders->soID)); ?>">
                                    <span id="<?php echo $salesOrders->soID; ?>" data-soid ="<?php echo $salesOrders->soID; ?>" class="glyphicon glyphicon-eye-open openlist"></span>
                                </a>
                            </td>
                            <td class="text-right">
                                <?php if($salesOrders->customerStatus == 1 && $salesOrders->statusID == "3"){?>
                                <a href="<?php echo $this->url('salesOrders', array('action' => 'edit', 'param1' => $salesOrders->soID)); ?>">
                                    <span id="<?php echo $salesOrders->soID; ?>" class="fa fa-pencil-square-o custom_font_size"></span>
                                </a>
                                <?php } else { 
                                    if ($salesOrders->statusID == "3") {
                                        ?>
                                     <a href="#" class='editsInactive'>
                                    <span id="<?php echo $salesOrders->soID; ?>" class="fa fa-pencil-square-o custom_font_size"></span>
                                </a>
                                    
                                    <?php }} ?>
                            </td>
                            <td class="text-center">
                                <span id="<?php echo $salesOrders->soID; ?>" class="link_color so_related_cus_po" data-so-related-id="<?php echo $salesOrders->soID; ?>" style="cursor:pointer"><span class="grnView fa fa-file-pdf-o"></span></span>
                            </td>
                            <td class="text-center">
                                <span id="<?php echo $salesOrders->soID; ?>" class="link_color so_related_docs" data-so-related-id="<?php echo $salesOrders->soID; ?>" style="cursor:pointer"><span class="grnView glyphicon glyphicon-link"></span></span>
                            </td>
                            <td class="text-center">
                                <span id="<?php echo $salesOrders->soID; ?>" class="link_color doc_attachments" data-so-related-id="<?php echo $salesOrders->soID; ?>" style="cursor:pointer"><span class="glyphicon glyphicon-paperclip"></span></span>
                            </td>
                            <?php
                        }
                        if (count($this->salesOrders) == 0) {
                            ?>
                        <tr class="not_found">
                            <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                        </tr>
                    <?php }
                    ?>
                </tbody>
            </table>
            <?php
            echo $this->paginationControl(
                    $this->salesOrders, 'sliding', array('partial/paginator.phtml', 'salesOrder'), array(
                'route' => 'salesOrders', 'action' => 'list'
                    )
            );
            ?>
        </div>

    </div><!--tabele_responsive-->
    <div id='custadiv'></div>
</div><!--margin_top-->
<div class="modal fade" id="addDocHistoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->docHistoryView; ?>
</div>
<div class="modal fade" id="DocumentViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->documentView; ?>
</div>
<div class="modal fade" id="viewAttachmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->attachmentsView; ?>
</div>

<div class="modal fade" id="viewLinkedCustomerOrderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->customerOrderView; ?>
</div>
