<iframe id="salesorderpreview" class="A4" src="/salesOrders/document/<?php echo $this->soID; ?>"></iframe>
<div id='btn_group'>
    <div class='form-group text-center'>
        <?php if ($state == 'New' || $state == 'Inprogress') { ?>
            <button class='btn btn-block' id='prv_edit' data-so_id="<?php echo $this->salesOrderCode ?>"><?php echo $this->translate('Edit') ?></button>
        <?php } ?>
        <button class='btn btn-block' id='q_print'><?php echo $this->translate('Print') ?></button>
        <button class='btn btn-block' id='q_email'><?php echo $this->translate('Email') ?></button>
    </div>
    <div class='form-group text-center'>
        <a href="/salesOrders/create" class="btn btn-primary btn-block"><?php echo $this->translate('New Sales Order') ?></a>
    </div>
    <?php if ($state == 'New' || $state == 'Inprogress') { ?>
        <div class='form-group text-center'>
            <button class='btn btn-primary btn-block' id='to_inv' data-so_id="<?php echo $this->salesOrderCode ?>"><?php echo $this->translate('Convert to Invoice') ?></button>
            <button class='btn btn-primary btn-block' id='to_rec_so' data-so_id="<?php echo $this->salesOrderCode ?>"><?php echo $this->translate('Make Recurrent Sales Order') ?></button>
        </div>
    <?php } ?>
    <div class='form-group text-center btn-block'>
        <button class='btn btn-danger btn-block' id='cancel'><?php echo $this->translate('Back') ?></button>
    </div>
</div>

<div class="modal fade" id="email-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"><?php echo $this->translate('Email') ?></h4>
            </div>
            <div class="modal-body"><!-- e-mail fom body -->
                <form action="" method="POST" class="form-horizontal">
                    <div class="form-group"><!-- e-mail to-->
                        <label for="email_to" class="col-lg-2 control-label"><?php echo $this->translate("To") ?></label>
                        <div class="col-lg-10">
                            <input type="text" name="email_to" id="email_to" class="form-control" placeholder="john@example.com, doe@example.com" value="<?php echo isset($email["to"]) ? $email["to"] : null; ?>" autocomplete="off">
                        </div>
                    </div><!--./form-group-->

                    <div class="form-group"><!-- e-mail from-->
                        <label for="email_sub" class="col-lg-2 control-label"><?php echo $this->translate("Subject") ?></label>
                        <div class="col-lg-10">
                            <input type="text" name="email_sub" id="email_sub" class="form-control"  value="<?php echo isset($email["subject"]) ? $email["subject"] : null; ?>">
                        </div>
                    </div><!--./form-group-->


                    <div class="form-group email-body-form-group"><!-- e-mail body -->
                        <div contenteditable="true"  name="email-body" class="email-body"  autocomplete="off" rows="12" ><?php echo isset($email["body"]) ? $email["body"] : null; ?></div>
                    </div><!--./form-group-->
                </form>
            </div><!-- e-mail form body close-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default email-modal-close"><?php echo $this->translate('Cancel') ?></button>
                <button type="button" class="btn btn-primary" id="send" data-so_id="<?php echo $this->salesOrderCode; ?>"><?php echo $this->translate('Send') ?></button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->