<?php
$this->headScript()->appendFile($this->basePath('js/report-pdf/loyalty-card-report.js'));
$this->headScript()->appendFile($this->basePath('js/report-pdf/common-report.js'));
$this->headScript()->appendFile($this->basePath('/css/report.css'));
?>

<!--panel-->
<div class='panel panel-default margin_top margin_bottom panel_border'>

    <!--panel_heading-->
    <div class='panel-heading panel_heading_style'>
        <h4 class="font_weight h1_no_margin report_heading"><?php echo $this->translate('Layalty Card Reports') ?></h4>
    </div>

    <div class="panel-body panel_body_style flex-container">

        <!--links-->
        <div class="col-lg-3 col-md-3 remove_left_padding remove_right_padding panel_links">
            <ul class="nav nav-pills nav-stacked data-tabs" data-tabs="tabs">
                <li id="reconciliationDetails" class="report_pills active"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Loyalty Card Report') ?></a></li>
            </ul>
        </div>

        <!--process_area-->
        <div class="col-lg-9 col-md-9 form-horizontal process_area">

            <div id="report_head">
                <div class="form-group">

                    <div class="row">
                        <div class=" product-content customerSelection">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <label class="" name="isAllCustomerslbl" id="isAllCustomerslbl">
                                    <input type="radio" class="check_box_mar_right isAllCustomers" value="0" name="isAllCustomers" id="customCustomerSelection" checked> <?php echo $this->translate('Custom Cutomers') ?>
                                </label>
                                <div class="">
                                    <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="customerName" id="customerName" multiple="multiple" title="<?php echo $this->translate('Select Customer(s)') ?>" data-selected-text-format="count>3"></select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 product-content customerSelection" id="isAllProductsCBox">
                            	<label name="isAllCustomerslbl" id="isAllCustomerslbl">
                                	<input type="radio" class="isAllCustomers" value="1" name="isAllCustomers" id="AllCustomers">
                                	<?php echo $this->translate('All Customers') ?>
                            	</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class=" product-content cardSelection">
                            <br>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <label class="" name="isAllCardlbl" id="isAllCardlbl">
                                    <input type="radio" class="check_box_mar_right isAllCards" value="0" name="isAllCards" id="customCardSelection" checked> <?php echo $this->translate('Custom Lotalty Card') ?>
                                </label>
                                <div class="">
                                    <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="cardName" id="cardName" multiple="multiple" title="<?php echo $this->translate('Select Lotalty Card(s)') ?>" data-selected-text-format="count>3"></select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 product-content cardSelection">
                            	<label name="isAllCardslbl" id="iisAllCardslbl">
                                	<input type="radio" class="isAllCards" value="1" name="isAllCards" id="AllCards">
                                	<?php echo $this->translate('All Loyalty Cards') ?>
                            	</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class=" product-content cardCodeSelection">
                            <br>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <label class="" name="isAllCardCodeslbl" id="isAllCardCodeslbl">
                                    <input type="radio" class="check_box_mar_right isAllCardCodes" value="0" name="isAllCardCodes" id="customCardCodeSelection" checked> <?php echo $this->translate('Custom Lotalty Card Number') ?>
                                </label>
                                <div class="">
                                    <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="cardCode" id="cardCode" multiple="multiple" title="<?php echo $this->translate('Select Lotalty Card Number(s)') ?>" data-selected-text-format="count>3"></select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 product-content customCardCodeSelection">
                            	<label name="isAllCardCodeslbl" id="isAllCardCodeslbl">
                                	<input type="radio" class="isAllCardCodes" value="1" name="isAllCardCodes" id="AllCardCodes">
                                	<?php echo $this->translate('All Loyalty Card Numbers') ?>
                            	</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 btn-group btn_panel_height_high report_buttons">
                            <button class="btn btn-default col-lg-2 report-btn" id="viewReport"><?php echo $this->translate('View Report') ?></button>
                            <button class="btn btn-default col-lg-2 report-btn" id="generatePdf"><?php echo $this->translate('Generate Pdf') ?></button>
                            <button class="btn btn-default col-lg-2 report-btn" id="csvReport"><?php echo $this->translate('CSV Report') ?></button>
                        </div>
                    </div>

                </div><!--form-group-->
            </div><!--reportHead-->

        </div><!--form-->
    </div><!--panel_body-->
</div><!--panel-->

<iframe id="loyalty-report-iframe" class="panel panel-default margin_top margin_bottom panel_border report-iframe" style="width: 100%"></iframe>


