<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>
    <div id="content">
        <div class="page" style="font-size: 7pt">
            <?php echo $this->headerTemplate; ?>
            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>
            <table class="change_order_items">
                <tbody>
                    <tr>
                        <th style="width: 20%"><?php echo $this->translate('Customer Name'); ?></th>
                        <th style="width: 10%"><?php echo $this->translate('Customer Code'); ?></th>
                        <th style="width: 15%"><?php echo $this->translate('Customer Phone Number'); ?></th>
                        <th style="width: 15%"><?php echo $this->translate('Loyalty Card Type'); ?></th>
                        <th style="width: 20%"><?php echo $this->translate('Loyalty Card Number'); ?></th>
                        <th style="width: 20%"><?php echo $this->translate('Available Points'); ?></th>
                    </tr>
                    <?php
                    if (empty($cardDetails)) {
                        ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="6">No related data found</td>
                        </tr>
                        <?php
                    } else {
                        foreach ($cardDetails as $data) {
                            $customerLoyaltyCode = ($data['customerLoyaltyCode']) ? $data['customerLoyaltyCode'] : '-';
                            ?>
                            <tr class="even_row">
                                <td style="text-align: left"><?php echo $data['customerName']; ?></td>
                                <td style="text-align: left"><?php echo $data['customerCode']; ?></td>
                                <td style="text-align: left"><?php echo $data['customerTelephoneNumber']; ?></td>
                                <td style="text-align: left"><?php echo $data['loyaltyName']; ?></td>
                                <td style="text-align: left"><?php echo $customerLoyaltyCode; ?></td>
                                <td style="text-align: right"><?php echo number_format($data['customerLoyaltyPoints'], 2); ?></td>
                            </tr>
                            <?php
                        }
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>