<?php
$form = $this->form;
$form->setAttribute('id', 'create-task-form');
$form->get('taskCode')->setValue($this->refCode);
?>

<div class="job-type-form-container margin_top">
    <div class="well well_heading">
        <h5 class="font_weight addTitle"><?php echo $this->translate('Add Task') ?></h5>
        <h5 class="font_weight updateTitle hidden"><?php echo $this->translate('Update Task') ?></h5>
    </div>

    <div class="well well_body">
        <?php
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formHidden($form->get('taskID'));
        ?>

        <div class="form-group">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Task Code') ?><font color="red"> *</font></label>
                <div class="">
                    <?php echo $this->formRow($form->get('taskCode')); ?>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Task Name') ?><font color="red"> *</font></label>
                <div class="">
                    <?php echo $this->formRow($form->get('taskName')); ?>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Department') ?><font color="red"> *</font></label>
                <div class="">
                    <select class="form-control selectpicker show-tick"  id="department" name="department" data-live-search="true">
                        <option class="departmentDefaultSelect" value=""><?php echo $this->translate('Select a department') ?></option>
                    </select>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Referal Item') ?><font color="red"> *</font></label>
                <div class="">
                    <select class="form-control selectpicker show-tick"  id="addItem" name="addItem" data-live-search="true">
                        <option class="" value=""><?php echo $this->translate('Select a non inventory item') ?></option>
                    </select>
                </div>
            </div>

            <!--Cancel&update-->
            <div class="col-lg-12 updateDiv hidden">
                <label class="control-label label_bottom_margin">&nbsp;</label>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary update job_type_update_btn"><?php echo $this->translate('Update') ?></button>
                    <button type="button" class="btn btn-default cancel"><?php echo $this->translate('Cancel') ?></button>
                </div>
            </div>

            <!--reset&add_new-->
            <div class="col-lg-12 addDiv">
                <label class="control-label label_bottom_margin">&nbsp;</label>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary add"><?php echo $this->translate('Add New') ?></button>
                    <button type="reset" class="btn btn-default reset"><?php echo $this->translate('Reset') ?></button>
                </div>
            </div>
        </div><!--form_group-->

        <?php
        echo $this->form()->closeTag($form);
        ?>

    </div><!--well-->
</div><!--job_type_form_container-->

<!--search-->
<div class="well clearfix well_custom_padding margin_top jobType">
    <form class="task-search" id="task-search" method="post" action="">
        <div class="col-lg-3">
            <label class="remove_weight"><?php echo $this->translate('Search a Task') ?></label>
        </div>
        <div class="col-lg-9 xs-search-field">
            <div class=" input-group">
                <input type="text" class="search form-control" id ='task-search-keyword' placeholder="<?php echo $this->translate('Enter Task Name or Code') ?>"/>
                <span class="input-group-btn">
                    <button class="btn btn-default search_btn_css" type="submit"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default reset" type="reset"><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </form>
</div>

<!--paginate job type list add in here-->
<div id="task-list" class="margin_top">
    <?php echo $this->partial('jobs/task-setup/list', array('taskList' => $this->taskList, 'paginated' => $this->paginated)); ?>
</div>