<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('Task Code') ?></th>
                <th><?php echo $this->translate('Task Name') ?></th>
                <th><?php echo $this->translate('Department') ?></th>
                <th><?php echo $this->translate('Product') ?></th>
                <th class="text-center" ><?php echo $this->translate('Edit') ?></th>
                <th class="text-center" ><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->taskList as $task) {
                $task = (object) $task;
                ?>
                <tr data-taskID="<?php echo $task->taskID;?>" data-departmentID="<?php echo $task->departmentID;?>" data-productid="<?php echo $task->productID;?>">
                    <td class="tCode"><?php echo $task->taskCode; ?></td>
                    <td class="tName"><?php echo $task->taskName ?></td>
                    <td class="tDepartment"><?php echo $task->departmentCode.'-'.$task->departmentName ?></td>
                    <td class="tProduct"><?php echo $task->productCode.'-'.$task->productName ?></td>
                    <td class="text-center">
                        <a href="#" class="edit">
                            <span class="fa fa-pencil-square-o custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center" >
                        <a href="#" class="delete">
                            <span class="fa fa-trash-o custom_font_size"></span>
                        </a>
                    </td>
                </tr>
                <?php
            }
            if (count($this->taskList) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div><!--table_responsive-->

<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->taskList, 'sliding', array('partial/paginator.phtml', 'taskSetup'), array(
        'route' => 'taskSetup', 'action' => 'index'
            )
    );
}
?>
