/*----------------layout.css----------------*/
/*application main layouts styles*/
html{
    height: 100%;
}
body{
    padding-top: 50px;
    min-height: 100%;
}
/*--top_navigation_bar--*/
.header .row{
    margin-right: 0;
    margin-left: 0;
}
.header .row .navbar{
    border-radius: 0;
    background: #3376b1;
    box-shadow: 0 -3px 18px 5px #333232;
}
.navbar-default{
    border-color: transparent;
    border: none;
}
.header .row .col-lg-2{
    padding-left: 0;
    padding-right: 0;
}
.header .row .col-lg-10{
    padding-left: 0;
}
.header .row .navbar-header{
    text-align: center;
    width: 100%;
    background: #3376b1;
    height: 50px;
}
.header .row .navbar-collapse{
    padding-left: 0;
}
/*---application_heading---*/
.navbar-header h1{
    font-weight: normal;
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 50px;
}
.navbar-header h1 a{
    text-decoration: none;
    color: #fafafc;
    display: block;
    letter-spacing: 0.06em;
}
.navbar-header h1 a span{
    position: relative;
}
/*Beta label style*/
.navbar-header h1 a span span{
    color: #fff;
    letter-spacing: 0;
    font-size: 9px;
    position: absolute;
    width: 50px;
    display: block;
    right: -51px;
    top: -22px;
    text-align: left;
    text-transform: uppercase;
}
/*mobile view nav-bar dropdown button*/
.navbar-default .navbar-toggle{
    border: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background: transparent;
    outline: none;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
/*================inside_main_body navbars=================*/
.nav-tabs{
    border-bottom: 1px solid #bbb;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:active{
    color: #444;
    cursor: default;
    background-color: #fff;
    border: 1px solid #bbb;
    border-bottom-color: transparent;
}
.nav-tabs>li>a{
    color: #238ab1;
}
.nav-tabs > li > a:hover, .nav-tabs > li >a:focus, .nav-tabs > li >a:active{
    border-color: transparent;
    border-bottom-color: #bbb;
    background: #fff;
    color: #0e769e;
}
/*===========Top_navigation_bar===========*/
ul.application_menu, ul.app_menu_collapsed{
    padding-left: 20px;
}
.navbar-default .navbar-nav>li>a {
    color: #f3f5fa;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:active {
    color: #ffffff;
}
.navbar-default .navbar-nav>li> a.application_active{
    color: #276194;
    background-color: #ffffff;
}
.application_active{
    /*background: url('/assets/img/arrow.png') no-repeat center bottom;*/
}
/*------right_navbar----------*/
ul.navbar-right{
    padding-right: 20px;
}
.navbar-right > li > a{
    padding-left: 18px;
    padding-right: 18px;
}
.navbar-right > li:last-child > a{
    padding-right: 0;
}
/*notification_badge*/
#notifi_badge_div{
    position: relative;
    display: inline-block;
    min-width: 10px;
    min-height: 10px;
}
#msg_lable .badge{
    display: inline;
    background: #FE2E2E;
    padding: 3px;
    border-radius: 3px;
    margin-left: 0px;
    position: absolute;
    top: -3px;
    font-size: 11px;
    text-align: center;
    z-index: 200;
}
/*--------dropdown---------*/
.global_menu .dropdown-menu{
    top: 110%;
}
.application_menu .dropdown-menu, .app_menu_collapsed .dropdown-menu {
    top: 138%;
}
.navbar-nav>li>.dropdown-menu{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.dropdown-menu>li>a{
    color: #f3f5fa;
    position: relative;
}
.dropdown-menu > li > a:hover{
    /*background: #222222;*/
    color: #3c87b5;
}
/*report_multi_select_drop_down*/
.multiselect-container > li > a{
    color: #333333;
    padding: 0 10px;
    padding-top: 6px;
}
.multiselect-container .checkbox{
    padding-top: 0;
}

.multiselect-container > li > a:hover{
    background: transparent;
    color: #222222;
}
.selectpicker > li > a{
    color: #333333;
}
.selectpicker > li > a:hover{
    background: #428BCA;
    color: #f3f5fa;
}
.dropdown-menu .divider{
    background: #555555;
    border: #555555;
}
/*change the defautl nav-bar after the click*/
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:active{
    background: #f3f5fa;
    color: #395196;
}
.black_drop_down{
    padding: 10px 0;
    border: none;
    box-shadow: none;
    background: #3376b1;
}
/***************----------main_body-------------***************/
.main_body .row{
    margin: 0;
    padding: 0;
}
/*--side_bar--*/
.main_body .row .side_bar{
    position: fixed;
    background: #3276b1;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    letter-spacing: 0.02em;
}
.side_bar .nav-pills li.empty_li{
    height: 30px;
}
.side_bar .nav-pills > li > a{
    color: #fefefe;
    border-radius: 0;
    padding-left: 13px;
    font-size: 15px;
    padding-bottom: 12px;
    padding-top: 12px;
}
.side_bar .nav-pills > li > a:hover, .side_bar .nav-pills > li > a:focus, .side_bar .nav-pills > li > a:active{
    background: #324477;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.side_bar .nav-pills > li.active > a{
    background: #324477;
    color: #ffffff;
    border-radius: 0;
    padding-left: 9px;
    border-left: 4px solid #ffffff;
}
.side_bar .nav-pills > li > ul{
}
.side_bar .nav-pills > li > ul > li a{
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.side_bar .nav-pills > li > ul > li.active a{
    background: #292929;
    border-left: 4px solid #4D97D6;
}
.side_bar .nav-pills > li > ul > li a:hover, .side_bar .nav-pills > li > ul > li a:focus{
    background: #324477;
}
/*remove the default_margin_top from nav-stacked*/
.nav-stacked>li+li{
    margin-top: 0;
}
.side_bar .nav-pills .side_icons{
    font-size: 14px;
    color: #f3f5fa;
    margin-right: 3px;
    min-width: 15px;
}
.side_bar .nav-pills > li.active > a i{
    color: #ffffff;
}
/*side bar links contain sub links style*/
.side_bar .nav-pills > li.active > ul.nav-pills > li.child_active a{
    border-left-color: transparent;
    color: #ffffff;
    background: #324477;
}
.side_bar .nav-pills > li.active a i.has_children{
    font-size: 12px;
    padding-left: 10px;
}

/*end*/


/*mobile_view_only*/
.side_bar_menu_call{
    background: #333333;
    color: #999999;
    height: 35px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    position: fixed;
    z-index: 1029;
    width: 100%;
}

@media( max-width: 767px ){
    .side_bar_menu_call {
        top: 51px;
    }
}
/*--process_area--*/
.main_div{
    float: right;
    height: auto;
    padding: 20px;
    padding-top: 30px;
    background: #ffffff;
}
/*--footer--*/
.copyright{
    width: inherit;
    height: auto;
    position: fixed;
    bottom: 0;
    background: #3376b1;
}
.copyright p{
    font-size: 13px;
    padding-left: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 0;
    font-family: arial;
    color: #ffffff;
}
.copyright p a{
    color: #ffffff;
    border-bottom: 1px dotted #555555;
}

/*=============BEGIN_Responsive_Layout=============*/

@media( max-width: 1200px ){
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-x: scroll;
        overflow-y: hidden;
        border: 1px solid #ddd;
    }
    #deliveryNoteProductTable, #deliveryNoteProductTable, .sales_order_table, .quotation_table table{
        width: 1400px;
    }
}

/*in sm width remove icons from sidebar*/
@media (min-width: 768px){
    .side_icons{
        display: none;
    }
    .panel-default .listing_min_height{
        min-height: 0;
    }
    .graph_btn_label{
        display: none;
        clear: both;
        display: block;
        margin-top: 10px;
    }
    .main_body .row .side_bar{
        display: block!important;
    }
}

@media( max-width: 768px ){
    .quotation_table table, #deliveryNoteProductTable{
        width: 100%;
    }
}

@media (max-width: 767px){
    .main_body .row .side_bar{
        position: static;
        margin-top: 35px;
        display: none;
        float: unset;
    }
    /*narrow window give more padding to main_div*/
    .main_div{
        padding-top: 65px;
    }
    .navbar-nav{
        margin: 0 -15px;
    }
    .navbar-nav > li{
        height: auto;
    }
    /*user_login dropdown menu divider color*/
    .dropdown-menu .divider{
        margin: 0;
        background: #666666;
    }
    .navbar-default .navbar-nav .open .dropdown-menu >li>a{
        color: #999999;
        padding-top: 8px;
        padding-left: 50px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu >li>a:hover{
        color: #eeeeee;
    }
    .header .row .navbar-header{
        text-align: left;
        padding-left: 40px;
        -moz-transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    .xs_view input[type="text"]{
        margin-top: 8px;
    }
    /*reporting*/
    .report_heading{
        text-align: center;
    }
    .report_buttons{
        margin-bottom: 10px;
    }
    .panel-default .listing_min_height{
        min-height: 0;
    }
    .graph_btn_label{
        display: none;
        clear: both;
        display: block;
        margin-top: 10px;
    }
    /*toggle_menu_redesing*/
    .navbar-right > li > a{
        padding-left: 40px;
    }
    ul.navbar-nav li a.sub_heading{
        /*padding-left: 40px;*/
    }
    .navbar-collapse{
        border-top: none;
    }
    /*tax_setting*/
    .tax_setting_margin_top{
        margin-top: 15px;
    }
    .combound_tax_box{
        border-left: 3px solid #ccc;
        padding-left: 20px;
    }
    /*navication_responsive*/
    .navbar-collapse{
        box-shadow: none;
    }
    ul.application_menu{
        padding-left: 0px;
    }
    .navbar-collapse{
        padding-right: 0;
    }
    .navbar-nav{
        margin-left: 0;
        margin-right: 0;
    }
    .navbar-right{
        margin-right: 0;
    }
    .application_active{
        background: none;
    }
    .mobile_full_width{
        padding-right: 0;
    }
    /*nav-right*/
    ul.navbar-right{
        padding-right: 0px;
    }
    /*notification*/
    p.heading{
        color: #ccc;
    }
    .light_color{
        color: #999;
    }
    ul.notifi_msg li{
        border-bottom: none;
        border-top: 1px solid #444;
    }
    ul.notifi_msg li a:hover > span.icon, ul.notifi_msg li a:focus > span.icon{
        border-color: #444;
    }
    /*    #deliveryNoteProductTable{
            width: 1400px;
        }*/
}

@media (min-width: 1201px) {
    .app_menu_collapsed {
        display: none !important;
    }
}

@media( max-width: 1200px ) {
    .category_name, .category_type, .unit_of_mesure, .abbr{
        margin-bottom: 20px;
    }
    .application_menu {
        display: none !important;
    }
}

@media ( min-width: 992px ){
    .side_icons{
        display: inline-block;
    }
    .panel-default .listing_min_height{
        min-height: 145px;
    }
    .graph_btn_label{
        opacity: 0;
    }
}

@media ( max-width: 991px ){
    .graph_btn_label{
        opacity: 0;
    }
    .user_edit_change_password{
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .app_menu_collapsed {
        display: none !important;
    }
    .application_menu {
        display: block !important;
    }
}

/*@media (min-width: 768px) and (max-width: 1200px){*/
.app_menu_collapsed > li > a{
    background: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #222222;
    border-radius: 4px;
    width: 160px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.6) inset;
    position: relative;
}
.app_menu_collapsed > li > a i{
    color: #818080;
    position: absolute;
    right: 10px;
    top: 7px;
}
.app_menu_collapsed > li > a:hover, .app_menu_collapsed > li > a:focus, .app_menu_collapsed > li > a:active{
    background: #222222!important;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.4) inset;
}
.navbar-right > li > a{
    padding-right: 14px;
    padding-left: 14px;
}
.app_menu_collapsed{
    margin:10px 0 0 10px;
}
/*}*/

/*responsive purpose classes*/
.recurrent_sales_order_style{
    font-size : 18px;
    font-weight: bold;
}

@media ( max-width: 480px ){
    .nav-tabs > li{
        float: none;
        margin-bottom: 0;
    }
    .nav-tabs{
        font-size: 16px;
    }
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
        border: none;
        border-left: 3px solid #333333;
        border-radius: 0;
    }
    .nav-tabs{
        border-bottom: none;
    }
    #deliveryNoteProductTable{
        width: 1400px;
    }
}

#upload_form #image_div .jcrop-holder{
    margin: 0 auto;
}

.help-container iframe{
    position: fixed;
    right: 15px;
    top: 55px;
    border: none;
    width: 430px;
    height: 535px;
    display: block;
    border-radius: 3px;
    -moz-border-radius: 3px;
    z-index: 1000;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background: #fff;
}