<?php
$this->headScript()->prependFile($this->basePath('js/notifications.js'));
?>

<div class="row">
    <?php $type = $this->notificationType; ?>

    <div class="notify_header clearfix">
        <h3><?php echo $this->translate('Notifications') ?></h3>
        <label><?php echo $this->noOfNotification ?></label>
        <select class="selectpicker pull-right" id="notificationFilter">
            <option data-hidden="true"><?php echo $this->translate('Filter by') ?></option>
            <option value="1" <?php echo ($type == '1') ? 'selected' : '' ?>><?php echo $this->translate('Overdue sales invoice') ?></option>
            <option value="2" <?php echo ($type == '2') ? 'selected' : '' ?>><?php echo $this->translate('Overdue purchases invoice') ?></option>
            <option value="3" <?php echo ($type == '3') ? 'selected' : '' ?>><?php echo $this->translate('Reorder level') ?></option>
            <option value="4" <?php echo ($type == '4') ? 'selected' : '' ?>><?php echo $this->translate('Minimum inventory level') ?></option>
            <option value="6" <?php echo ($type == '6') ? 'selected' : '' ?>><?php echo $this->translate('Incoming Cheque') ?></option>
            <option value="7" <?php echo ($type == '7') ? 'selected' : '' ?>><?php echo $this->translate('Outgoing Cheque') ?></option>
            <option value="8" <?php echo ($type == '8') ? 'selected' : '' ?>><?php echo $this->translate('Product Expiry Alerts') ?></option>
            <option value="9" <?php echo ($type == '9') ? 'selected' : '' ?>><?php echo $this->translate('PostDated cheque Expire Alerts') ?></option>
            <option value="10" <?php echo ($type == '10') ? 'selected' : '' ?>><?php echo $this->translate('Report Notification') ?></option>
            <option value="" <?php // echo ($type == '') ? 'selected' : ''                           ?>><?php echo $this->translate('View All') ?></option>

        </select>
    </div>

    <div id="displayAllNotificationsList">
        <div class="row">
            <ul id="notification_body">
                <?php
                foreach ($this->notifications as $notification) {
                    ?>
                    <li class="divider" id="notification_<?php echo $notification['notificationID'] ?>">
                        <div class="ui-pnotify-closer <?php echo ($notification['notificationTitle'] == 'No messages') ? 'hidden' : '' ?>" style="cursor: pointer;">
                            <span class="fa fa-trash-o closer" data-id="<?php echo $notification['notificationID'] ?>"></span>
                        </div>
                        <a class="<?php echo $notification['notificationType'] ?>" <?php echo ($notification['notificationType'] == 'Report Notification') ? "target='_blank'" : "" ?>  href="<?php echo $notification['link'] ?>">
                            <p class="heading">
                                <!--<i class="<?php echo $notification['iconClass'] ?>"></i>-->
                                <?php echo $notification['notificationTitle'] ?> 
                                
                                <span class="notify_time">
                                    <abbr class="timeago" title="<?php echo $notification['notificationUpdatedTime'] ?>">
                                        <?php echo $notification['notificationFormatedUpdateTime'] ?>
                                    </abbr>
                                </span>
                            </p>
                            <div class="notifi-body">
                                <span class="light_color"><?php echo $notification['notificationBody'] ?></span>
                            </div>
                        </a>
                    </li>
                <?php } ?>
            </ul>
        </div><!--row-->
    </div>

    <?php
    $additional_params = ($this->notificationType) ? ['param2' => $this->notificationType] : [];
    // For pagination
    echo $this->paginationControl(
            $this->notifications, 'sliding', array('partial/paginator.phtml', 'Notification'), array('route' => 'notification', 'action' => 'displayAllNotifications') + $additional_params
    );
    ?>

</div><!--row-->
