<script>
    (function($) {
        $(window).load(function() {
            $(".notification_scroll").mCustomScrollbar({
                setHeight: 350,
                theme: "minimal-dark"
            });
        });
    })(jQuery);
</script>

<?php
$this->headScript()->prependFile($this->basePath('js/notifications.js'));
?>

<?php
if (isset($this->data)) {
    $notificationArray = $this->data;
    ?>
    <a href="#" class="dropdown-toggle dashboard" data-toggle="dropdown" data-placement="bottom" title="Notifications" id="msg_lable">
        <span class="fa fa-bell-o"></span>
        <span id="notifi_badge_div"><span class="badge">
                <?php echo $notificationArray['noOfNotification'] ?> </span>
        </span>
    </a>
    <div class="dropdown-menu">
        <ul class="notifi_msg notification_scroll" id="notification_body">
            <?php
            $notifications = (is_array($notificationArray['notifications'])) ? $notificationArray['notifications'] : array();
            foreach (array_slice($notifications, 0, 20) as $notification) {
                ?>
                <li id="notification_<?php echo $notification['notificationID'] ?>">
                    <a class="<?php echo $notification['notificationType'] ?>" <?php echo ($notification['notificationType'] == 'Report Notification') ? "target='_blank'" : "" ?> href="<?php echo $notification['link'] ?>">
                        <p class="heading">
                            <!--<i class="<?php echo $notification['iconClass'] ?>"></i>-->
                            <?php echo $notification['notificationTitle'] ?>
                            <!--                        <div class="ui-pnotify-closer " style="cursor:pointer">
                                                        <span class="glyphicon glyphicon-remove closer" data-id="<?php echo $notification['notificationID'] ?>"></span>
                                                    </div>-->
                        </p>
                        <div class="notifi-body">
                            <span class="light_color"><?php echo $notification['notificationBody'] ?></span>
                        </div>
                        <span class="notify_time">
                            <abbr class="timeago" title="<?php echo $notification['notificationUpdatedTime'] ?>">
                                <?php echo $notification['notificationFormatedUpdateTime'] ?>
                            </abbr>
                        </span>
                    </a>

                </li>
            <?php } ?>
        </ul>
        <a id="seeAllNotifications" href="/notification/display-all-notifications"><?php echo $this->translate('View all') ?></a>
    </div>
    <?php
}

