<?php
foreach ($notices as $notice) {
    ?>
    <div id='<?php echo 'notice_' . $notice['noticeID']; ?>' class="notice_panel <?php echo $notice['noticeStatusLable']; ?>">
        <div class="row">
            <div class="col-lg-10">
                <span id="notice">
                    <?php echo $notice['notice'];
                    ?>
                </span>
                <?php if ($notice['noticeLink'] != NULL) { ?>
                    <u><a style="color: white" href="<?php echo $notice['noticeLink'] ?>"><?php echo $this->translate('more') ?></a></u>
                    <?php
                }
                ?>
            </div>
            <div class="col-lg-2">
                <button class="panelMinimize minimize_btn"><i class="fa fa-minus"></i></button>
                <button class="panelClose close_button"><i class="fa fa-times"></i></button>
            </div>
        </div>
    </div>

    <?php
}
?>
