	html{
		height: 100%;
	}

	body{
		background: url(../img/c3.jpg) no-repeat fixed;
		background-size: cover;
		background-position: top center;
		position: relative;
	}
	
	.body{
		margin-top: 45px;
	}
	
	/****global*****/
	.remove_padding{
		padding-left: 0;
		padding-right: 0;
	}
	
	/*********navigation*************/
	.black{
		background: rgba(0,0,0,0.2);
		border-bottom: none;
	}
	.make_center{
		margin: 0 auto;
		float: none;
	}
	
	.icons{
		font-size: 20px;
	}
	
	.navbar-nav > li{
		margin-right: 50px;
	}
	
	.navbar-nav > li:last-child{
		margin-right: 0;
	}
	
	.navbar-default .navbar-nav > li > a{
		color: #999;
	}
	
	.navbar-default .navbar-nav > li > a:hover{
		color: #eee;
	}
	
	.navbar-default .navbar-nav > li > a.acitve{
		color: #eee;
		/*border-bottom: 3px solid #3c1915;*/
		border-bottom: 3px solid #000;
	}
	
	.navbar-nav>li>a {
		padding-bottom: 17px;
	}
	
	/********nav_bar toggle button*******/
	
	.navbar-toggle{
		border-radius: 0;
	}
	
	.navbar-default .navbar-toggle {
		border-color: #70402c;
	}
	
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
		background-color: rgba(0,0,0,0.2);
	}
	
	.navbar-default .navbar-toggle .icon-bar{
		background-color: #d0cece;
	}
	
	.navbar-default .navbar-collapse{
		border-color: #70402c;
	}
	
	.navbar-collapse {
		border-top: none;
	}
	
	
	/**********nav_bar heading********/
	.navbar-header h1 {
		font-weight: normal;
		font-size: 18px;
		margin-top: 0;
		margin-bottom: 0;
		line-height: 55px;
	}
	
	.navbar-header h1 a{
		color: #eee;
		text-decoration: none;
	}
	
	.navbar-header h1 a span{
		padding-left: 20px;
		color: #ddd;
	}
	
	/******remove_outline********/
	.btn:focus{
		outline: none;
	}
	input[type="checkbox"]:focus{
		outline: none;
	}
	button{
		outline: none;
	}
	
	/******smooth_scroll*******/
	#Demo{ 
		position:relative;
		overflow: hidden;
		background: rgba(255,255,255,0.1);
		border: 1px solid rgba(255,255,255,0.3);
		padding: 0;
		padding-left: 30px;
		padding-right: 30px;
		margin-bottom: 30px;
	}
	
	.custom_heading_well{
		padding: 12;
		background: rgba(255,255,255,0.1);
		border: 1px solid rgba(255,255,255,0.3);
	}
	.custom_heading_well h3{
		margin-bottom: 0;
		font-size: 17px;
		text-transform: uppercase;
		word-spacing: 10px;
		letter-spacing: 0.02em;
		color: rgba(255,255,255,0.8);
		text-shadow: 0 0 5px rgba(0,0,0,0.1);
	}
	
	.icon_margin_right{
		color: rgba(255,255,255,0.6);
	}
	
	.dis_remove_bott_mar{
		margin: 0;
		padding: 0;
	}
	
	/*input_section_style*/
	.input_area_well{
		background-color: transparent;
		border: none;
	}
	
	/******Next_Prev_button******/
	.custom_button{
		width: 130px;
		margin-bottom: 10px;
	}
	.next, .prev{
		background: #d07c4b;
		border: none;
		border-radius: 0;
		padding-top: 8px;
		padding: 8px 0px;
		font-size: 16px;
		letter-spacing: 0.06em;
		font-family: verdana;
		color: #fff;
		text-shadow: 0 0 10px rgba(0,0,0,0.4);
		border: 1px solid #d07c4b;
	}
	.prev{
		background: transparent;
		border: 1px solid #d07c4b;
		margin-right: 10px;
	}
	.next:hover{
		background: #bf6d3d;
		border: 1px solid #bf6d3d;
	}
	.prev:hover{
		background: transparent;
		border: 1px solid #bf6d3d;
	}
	
	/*******form_control_input_field*******/
	#Demo select.form-control{
		border-radius: 3px;
		border: 1px solid #fff;
		-webkit-box-shadow:  0 1px 1px rgba(0,0,0,0.3);
		color: #333;
	}
	
	label{
		font-weight: normal;
		color: #222;
		font-weight: bold;
		font-size: 15px;
	}
	
	/****/
	.custom_heading_well_two{
		padding: 0;
		padding-left: 12px;
		background: rgba(255,255,255,0.1);
		border: 1px solid rgba(255,255,255,0.3);
		margin-bottom: 20px;
	}
	
	.next_ref{
		font-size: 17px;
		text-transform: uppercase;
		word-spacing: 7px;
		letter-spacing: 0.03em;
		color: rgba(255,255,255,0.8);
		text-shadow: 0 0 5px rgba(0,0,0,0.2);
	}
	
	/***addon_style*****/
	
	.input_area_well .input-group-addon{
		background: #d07c4b;
		border-color: #d07c4b;
		color: #eee;
	}
	
	.input-group{
		border-radius: 4px;
		-webkit-box-shadow:  0 1px 1px rgba(0,0,0,0.4);
	}
	
	input[type="text"].form-control{
		border-color: #fff;
		box-shadow: none;
		color: #333;
	}

	.inp_gro_bott_mar{
		margin-bottom: 8px;
	}
	
	input[type="text"].form-control:focus{
		border-color: #d07c4b;
	}
	
	/*input_section_style*/
	.input_area_well{
		background-color: transparent;
		border: none;
	}
	
	/******Next_Prev_button******/
	.custom_button{
		width: 130px;
		margin-bottom: 10px;
	}
	.next,.prev{
		background: #777;
		border-radius: 2px;
		padding-top: 6px;
		padding: 5px 0px;
		font-size: 16px;
		letter-spacing: 0.03em;
		font-family: verdana;
		color: #fff;
		border: 1px solid #777;
	}
	.prev{
		background: transparent;
		border: 1px solid #777;
		margin-right: 10px;
		color: #777;
	}
	
	.next:hover, .next:focus{
		background: #666;
		border-color: #666;
	}
	
	.prev:hover, .prev:focus{
		background: transparent;
		color: #666;
		border-color: #666;
	}
	
	/***addon_style*****/
	.input_area_well .input-group-addon{
		background: #888;
		border-color: #888;
		color: #eee;
	}
	
	.input-group{
		border-radius: 4px;
	}
	
	input[type="text"].form-control{
		border-color: #aaa;
		box-shadow: none;
	}

	.inp_gro_bott_mar{
		margin-bottom: 8px;
	}
	
	input[type="text"].form-control:focus{
		border-color: #888;
	}
