	html{
		height: 100%;
	}

	body{
		background: #eee;
		background-position: top center;
		position: relative;
	}
	
	.body{
		margin-top: 45px;
	}
	
	/****global*****/
	.remove_padding{
		padding-left: 0;
		padding-right: 0;
	}
	
	/*********navigation*************/
	.black{
		background: rgba(0,0,0,0.7);
	
	}
	
	.make_center{
		margin: 0 auto;
		float: none;
	}
	
	.icons{
		font-size: 20px;
	}
	
	
	.navbar-nav > li{
		margin-right: 50px;
	}
	
	.navbar-nav > li:last-child{
		margin-right: 0;
	}
	
	.navbar-default .navbar-nav > li > a{
		color: #aaaaaa;
	}
	
	.navbar-default .navbar-nav > li > a:hover{
		color: #eee;
	}
	
	.navbar-default .navbar-nav > li > a.acitve{
		color: #eee;
		/*border-bottom: 3px solid #3c1915;*/
		border-bottom: 3px solid #eee;
	}
	
	.navbar-nav>li>a {
		padding-bottom: 17px;
	}
	
	/********nav_bar toggle button*******/
	.navbar-toggle{
		border-radius: 0;
	}
	
	.navbar-default .navbar-toggle {
		border-color: #70402c;
	}
	
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
		background-color: rgba(0,0,0,0.2);
	}
	
	.navbar-default .navbar-toggle .icon-bar{
		background-color: #d0cece;
	}
	
	.navbar-default .navbar-collapse{
		border-color: #70402c;
	}
	
	.navbar-collapse {
		border-top: none;
	}
	
	
	/**********nav_bar heading********/
	.navbar-header h1 {
		font-weight: normal;
		font-size: 18px;
		margin-top: 0;
		margin-bottom: 0;
		line-height: 55px;
	}
	
	.navbar-header h1 a{
		color: #eee;
		text-decoration: none;
	}
	
	.navbar-header h1 a span{
		padding-left: 20px;
		color: #ccc;
	}
	
	/******remove_outline********/
	.btn:focus{
		outline: none;
	}
	input[type="checkbox"]:focus{
		outline: none;
	}
	button{
		outline: none;
	}
	
	/******smooth_scroll*******/
	#Demo{ 
		position:relative; 
		overflow: hidden;
		background: #fff;
		border: 1px solid #fff;
		padding: 0;
		padding-left: 30px;
		padding-right: 45px;
		margin-bottom: 30px;
		box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	}
	.custom_heading_well{
		padding: 0;
		background: transparent;
		border: none;
	}
	.custom_heading_well h3{
		margin-bottom: 0;
		font-size: 18px;
		text-transform: uppercase;
		word-spacing: 10px;
		color: #444;
	}
	.icon_margin_right{
		color: #222;
	}
	

	
/*********Display_setting page styles*********/
.dis_custom_button{
	width: 100px;
}
#moreform{
	margin-top: 50px;
}
.custom_heading_well_two{
	padding-left: 12px;
	background: #eee;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	border-radius: 4px;
}	
label{
	font-weight: bold;
	color: #333;
	font-size: 15px;
}

/*********Tax_setting page styles*********/
/*equal_button*/
.tax_custom_button{
	width: 100px;
}
.tax_table_top{
	margin-top: 60px;
}
	
	
	
	