<div class="well well_heading margin_top">
    <h5 class="font_weight add"><?php echo $this->translate('Search a Tournament') ?></h5>
</div>
<div class="well clearfix well_body">
    <div class="row">
        <div class="col-lg-12 xs-search-field">
            <div class=" input-group">
                <input type="text" class="form-control" id="projectSearch" placeholder="<?php echo $this->translate('Enter Tournament Name or Code') ?>">
                <span class="input-group-btn">
                    <button class="btn btn-default" id="searchProjectBtn"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default" id="resetSearch" ><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="search_field col-lg-4">
            <select class='form-control selectpicker' data-actions-box="false" data-live-search="false" name="projectMgrSearch" id="projectManagerSearch" title="Select a Tournament Official Type" data-selected-text-format="count>3" data-size="5">
                <option value="0"><?php echo $this->translate('Select Tournament Official') ?></option>
                <?php
                foreach ($this->tournamentOfficials as $tOff):
                    $tOff = (object) $tOff;
                    echo '<option value="' . $tOff->employeeID . '">' . $tOff->employeeCode.' - '. $tOff->employeeFirstName .' '.$tOff->employeeSecondName. '</option>';
                endforeach;
                ?>
            </select>
        </div>
        <div class="col-lg-4">
            <select class='form-control selectpicker' data-actions-box="false" data-live-search="false" name="proTypeSearch" id="projectTypeSearch" title="Select a Tournament Official" data-selected-text-format="count>3" data-size="5">
                <option value="0"><?php echo $this->translate('Select a Tournament Type') ?></option>
                <?php
                foreach ($this->projectTypes as $projectType) :
                    echo '<option value="' . $projectType['projectTypeID'] . '">' . $projectType['projectTypeName'].' - '. $projectType['projectTypeCode']. '</option>';
                endforeach;
                ?>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div id="projectList" class="margin_top_normal">
        <div class="table table-responsive">
            <?php echo $this->projectList; ?>
        </div>
    </div>
</div>

<!-- Project Manager View Modal -->
<div class="modal fade bs-example-modal-sm" id="employeeViewModal" tabindex="-1" role="dialog" aria-labelledby="employeeViewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="employeeViewModalLabel"><?php echo $this->translate('View Tournament Officials') ?></h4>
            </div>
            <div class="modal-body employeeViewModalBody"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>
