<div class="modal-dialog team-modal">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
             <?php if ($this->mode == 'create' || $this->mode == "edit") { ?>
                <h4><?php echo $this->translate("Add Tournament Officials"); ?></h4>
            <?php } else { ?>
                <h4><?php echo $this->translate("View Tournament Officials"); ?></h4>
            <?php } ?>
        </div>

        <div class="modal-body">
            <div id="materialItemAndAssets" class="row">
                <?php if ($this->mode == 'create') { ?>
                <div class="row">
                    <div class="form-group">
                        <div class="col-lg-4">
                            <label class="control-label label_bottom_margin"><?php echo $this->translate('Add Officials by team'); ?></label>
                        </div>
                        <div class="col-lg-8">
                            <div>
                                <select class="form-control selectpicker" title="" id="teamID" multiple="true" name="teamID" data-live-search="true" title="<?php echo $this->translate('Select Team') ?>">
                                </select>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <br>
                <?php } ?>
                 <?php if ($this->mode == 'create' || $this->mode == "edit") { ?>
                <div class="row">
                    <div class="form-group">
                        <div class="col-lg-4">
                            <div>
                                <select class='form-control selectpicker' data-actions-box="false" data-live-search="false" name="partiTy" id="partiType" title="Select Participant Type" data-selected-text-format="count>3" data-size="5">
                                    <option value="0"><?php echo $this->translate('Select Participants Type') ?></option>
                                    <?php
                                    foreach ($this->departments as $department):
                                        $department = (object) $department;
                                        echo '<option value="' . $department->departmentID . '">' . $department->departmentCode.' - '. $department->departmentName . '</option>';
                                    endforeach;
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div>
                                <select class='form-control selectpicker' data-actions-box="false" data-live-search="false" name="partiSubTy" id="partiSubType" title="Select Participant Sub Type" data-selected-text-format="count>3" data-size="5">
                                    <option value="0"><?php echo $this->translate('Select Participants Sub Type') ?></option>
                                    <?php
                                    foreach ($this->designations as $designation):
                                        $designation = (object) $designation;
                                        echo '<option value="' . $designation->designationID . '">'.$designation->designationCode .' - '. $designation->designationName. '</option>';
                                    endforeach;
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div>
                                 <select class='form-control selectpicker' disabled="true" data-actions-box="false" data-live-search="false" name="teamEmp" id="teamEmployee" title="Select Participants" data-selected-text-format="count>3" data-size="5">
                                    <option value="0" disabled="true"><?php echo $this->translate("Select Participants"); ?></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <?php } ?>

                <div class="row">
                    <div id="partTable">
                    <hr>
                        <table class="participant-table table margin_top_normal table-condensed hidden">
                            <thead>
                                <tr>
                                    <th width="32%"><?php echo $this->translate("Participant Type"); ?></th>
                                    <th width="32%"><?php echo $this->translate("Participant Sub Type"); ?></th>
                                    <th width="32%"><?php echo $this->translate("Participant"); ?></th>
                                    <?php if ($this->mode == 'create' || $this->mode == "edit") { ?>
                                    <th width="4%"></th>
                                    <?php } ?>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="participantPreSetSample" class="add-row sample hidden">
                                    <td id="participantTypeName"></td>
                                    <td id="participantSubTypeName"></td>
                                    <td id="participantName"></td>
                                    <?php if ($this->mode == 'create' || $this->mode == "edit") { ?>
                                    <td class="text-center">
                                        <a class="btn btn-default participant-delete">
                                            <span class="pointer_cursor fa fa-trash-o"></span>
                                        </a>
                                    </td>
                                    <?php } ?>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!--modal_body-->

        <div class="modal-footer-style modal-footer">
            <div style="margin-top: 4%; float: right;">
                <?php if ($this->mode == 'create' || $this->mode == "edit") { ?>
                <button type="button" id="addParti" class="btn btn-primary"><?php echo $this->translate('Add Officials') ?></button>
                <?php } ?>
                <button type="button" id="closeTCProducts" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
            </div> 
        </div>

    </div>
</div>
<style type="text/css">
    .team-modal {
        min-width: 780px;
    }
</style>