<div class="data_table">
    <?php
    $i = 1;
    $j = 1;
    ?>
    <table  width="100%" class="product-list">
        <tr>
            <td colspan="2">
                <hr />
                <br />
                <div class="qout_body">
                    <?php
                    //if temporary item exist print a Temporaray product table
                    if ($activityTempProducts) {
                        ?>
                        <table width="100%" class="table bigtable table-bordered table-striped" id="item_tbl">
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>Item Code</th>
                                    <th>Item Name</th>
                                    <th>Qty</th>
                                    <th>Sub Products</th>
                                    <th>Price (<?php echo $currencySymbol; ?>)</th>
                                    <th>Total (<?php echo $currencySymbol; ?>)</th>
                                </tr>
                            </thead>
                            <tbody>
                            <h4>Temporary Items</h4>
                            <?php
                            foreach ($activityTempProducts as $dat) {
                                $dat = (object) $dat;
                                $a = 0;
                                if ($dat->ProductBatches) {
                                    if ($dat->ProductSerials) {
                                        $batchlseriallitemp = "<li>" . $dat->ProductBatches . "</li>Serial<ul>" . $dat->ProductSerials . "</ul>";
                                    } else {
                                        $batchlseriallitemp = "<li>" . $dat->ProductBatches . "</li>";
                                    }
                                    $subP = "<ul><li>Batch<ul>" . $batchlseriallitemp . "</ul></li></ul>";
                                } else if ($dat->ProductSerials) {
                                    $subP = "<ul><li>Serial<ul>" . $dat->ProductSerials . "</ul></li></ul>";
                                }

                                echo "<tr>"
                                . "<td>" . $i++ . "</td>"
                                . "<td>" . $dat->productCode . "</td>"
                                . "<td>" . $dat->productName . "</td>"
                                . "<td>" . $dat->productQty . "</td>"
                                . "<td>" . $subP . "</td>"
                                . "<td class='text-right'>" . number_format($dat->productUnitPrice, 2) . "</td>"
                                . "<td class='text-right'>" . number_format($dat->productUnitPrice * $dat->productQty, 2) . "</td>"
                                . "</tr>";

                                $subP = '';
                            }
                            ?>
                            </tbody>
                        </table>
                        <?php
                    }
                    ?>
                    <table width="100%" class="table bigtable table-bordered table-striped" id="item_tbl">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Item Code</th>
                                <th>Item Name</th>
                                <th>Qty</th>
                                <th>Sub Products</th>
                                <th>Price (<?php echo $currencySymbol; ?>)</th>
                                <th>Total (<?php echo $currencySymbol; ?>)</th>
                            </tr>
                        </thead>
                        <tbody>

                            <?php
                            if ($activityProducts) {
                                ?><h4> Raw Materials</h4>
                                <?php
                                foreach ($activityProducts as $dat) {
                                    $dat = (object) $dat;
                                    $a = 0;
                                    if ($dat->ProductBatchSerials) {
                                        foreach ($dat->ProductBatchSerials as $val) {
                                            $val = (object) $val;
                                            foreach ($val->productSerials as $serval) {
                                                $serval = (object) $serval;
                                                $serialli.="<li>" . $serval->productSerialCode . "</li>";
                                            }
                                            $batchlserialli .= "<li>" . $val->productBatchCode . "</li>Serial<ul>" . $serialli . "</ul>";
                                        }
                                        $subP = "<ul><li>Batch<ul>" . $batchlserialli . "</ul></li></ul>";
                                    } else if ($dat->ProductBatches) {
                                        foreach ($dat->ProductBatches as $val) {
                                            $val = (object) $val;
                                            $batchli .= "<li>" . $val->productBatchCode . "</li>";
                                        }
                                        $subP = "<ul><li>Batch<ul>" . $batchli . "</ul></li></ul>";
                                    } else if ($dat->ProductSerials) {
                                        foreach ($dat->ProductSerials as $val) {
                                            $val = (object) $val;
                                            $serialli .= "<li>" . $val->productSerialCode . "</li>";
                                        }
                                        $subP = "<ul><li>Serial<ul>" . $serialli . "</ul></li></ul>";
                                    }

                                    $total+=$dat->productUnitPrice * $dat->productQty;
                                    echo "<tr>"
                                    . "<td>" . $j++ . "</td>"
                                    . "<td>" . $dat->productCode . "</td>"
                                    . "<td>" . $dat->productName . "</td>"
                                    . "<td>" . $dat->productQty . "</td>"
                                    . "<td>" . $subP . "</td>"
                                    . "<td class='text-right'>" . $dat->productUnitPrice . "</td>"
                                    . "<td class='text-right'>" . $dat->ProductTotalPrice . "</td>"
                                    . "</tr>";

                                    $subP = '';
                                }
                            }
                            ?>
                        </tbody>
                    </table>

                    <div class="summary">
                        <table width="100%"  id="" class="table">
                            <col width="90px"><col width="290px"><col width="75px">
                            <col width="100px"><col width="50px"><col width="100px">
                            <tr>
                                <td colspan="2" rowspan="<?php echo isset($cr_discount) ? 4 : isset($mass_disc_without_product_dis) ? 5 : 3; ?>">
                                    <?php
                                    echo (isset($comment)) ? "<div id='comment'><strong>" . Comment . "&nbsp;:</strong><p><i>" . $comment . "<i></div>" : "";
                                    echo (isset($memo)) ? "<div id='comment'><strong>" . Memo . "</strong><p><i>" . $memo . "<i></div>" : "";
                                    ?>
                                </td>
                            </tr>
                            <?php if ($mass_disc_without_product_dis > 0) { ?>
                                <tr>
                                    <td colspan="3">
                                        <div>Invoice Discount</div>
                                    </td>
                                    <td class="text-right">
                                        <?php echo number_format($mass_disc_without_product_dis, 2); ?>
                                    </td>
                                </tr>
                            <?php } ?>
                            <?php if (isset($cr_payment)) { ?>
                                <tr>
                                    <td colspan="3">
                                        <div>Credit Payments</div>
                                    </td>
                                    <td class="text-right">
                                        <?php echo number_format($cr_payment, 2); ?>
                                    </td>
                                </tr>
                            <?php } ?>
                            <?php if (isset($cr_discount)) { ?>
                                <tr>
                                    <td colspan="3">
                                        <div>Discount</div>
                                    </td>
                                    <td class="text-right">
                                        <?php echo "( " . number_format($cr_discount, 2) . " )"; ?>
                                    </td>
                                </tr>
                            <?php } ?>
                            <?php if (isset($salesInvoiceDeliveryCharge) && $salesInvoiceDeliveryCharge > 0) { ?>
                                <tr>
                                    <td colspan="3">
                                        <div>Delivery Charges</div>
                                    </td>
                                    <td class="text-right">
                                        <?php echo number_format($salesInvoiceDeliveryCharge, 2); ?>
                                    </td>
                                </tr>
                            <?php } ?>
                        </table>
                    </div>
                </div>
            </td>
        </tr>
        <?php
//            if (isset($salesInvoiceTotalDiscount)) {
        ?>
        <tr>
            <td colspan="2" class="small">
                <?php if ($salesInvoiceShowTax && $tax_record_line != "") { ?>
                    <br />
                    <div id="total_tax"><?php echo $tax_record . $tax_record_line; ?></div>
                <?php } ?>
                <br />
                <div id="total_disc">
                    <?php
                    if ($discount > 0 || $mass_disc_without_product_dis > 0) {
                        echo '<strong>' . $discountStatement . '</strong>&nbsp; ' . $currencySymbol . number_format($mass_discount, 2);
                    }
                    ?>
                </div>
            </td>
        </tr>
        <?php
//            }
        ?>
    </table>
</div>