<?php
$form = $this->temporaryContractorForm;
$form->setAttribute('id', 'temporaryContractor');
?>

<div class="category-form-container margin_top">

    <div class="well well_heading">
        <h5 class="font_weight add-contractor-h5"><?php echo $this->translate('Add Temporary Contractor') ?></h5>
        <h5 class="font_weight update-contractor-h5 hidden"><?php echo $this->translate('Update Temporary Contractor') ?></h5>
    </div>

    <div class="well well_body">

        <?php
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formHidden($form->get('temporaryContractorID'));
        ?>

        <div class="_row_with_margin clearfix">
            <!--first_name-->
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('First Name') ?><font color="red"> *</font></label>
                    <div class="">
                        <?php echo $this->formRow($form->get('temporaryContractorFirstName')); ?>
                    </div>
                </div>
            </div>

            <!--last_name-->
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Last Name') ?><font color="red"> *</font></label>
                    <div class="">
                        <?php echo $this->formRow($form->get('temporaryContractorSecondName')); ?>
                    </div>
                </div>
            </div>

            <!--designation-->
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Designation') ?></label>
                    <div class="">
                        <?php echo $this->formRow($form->get('designationID')); ?>
                    </div>
                </div>
            </div>

            <!--division-->
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Division') ?></label>
                    <div class="">
                        <?php echo $this->formRow($form->get('divisionID')); ?>
                    </div>
                </div>
            </div>

            <!--tel_number-->
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Telephone Number') ?></label>
                    <div class="">
                        <?php echo $this->formRow($form->get('temporaryContractorTP')); ?>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group update-button-set hidden">
                    <lable class="control-label label_bottom_margin">&nbsp;</lable>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary update" id="contractorUpdate"><?php echo $this->translate('Update') ?></button>
                        <button type="reset" class="btn btn-default reset cancel"><?php echo $this->translate('Cancel') ?></button>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group add-button-set">
                    <lable class="control-label label_bottom_margin">&nbsp;</lable>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary add " id="contractorSave"><?php echo $this->translate('Add New') ?></button>
                        <button type="reset" class="btn btn-default add reset"><?php echo $this->translate('Reset') ?></button>
                    </div>
                </div>
            </div>
        </div><!--row-->

        <?php
        echo $this->form()->closeTag($form);
        ?>

    </div>
</div>

<div>
    <?php echo $this->temporaryContractorSearchHeader ?>
</div>


<div id="temporary-product-list">
    <?php echo $this->temporaryContractorList ?>
</div>