<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('First Name') ?></th>
                <th><?php echo $this->translate('Last Name') ?></th>
                <th><?php echo $this->translate('Designation') ?></th>
                <th><?php echo $this->translate('Division') ?></th>
                <th><?php echo $this->translate('Telephone Number') ?></th>
                <th class="text-center" ><?php echo $this->translate('Edit') ?></th>
                <th class="text-center" ><?php echo $this->translate('Active') ?></th>
                <th class="text-center" ><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>

        <tbody>
            <?php
            foreach ($this->temporaryContractors as $contractor) {
                $contractor = (object) $contractor;
                ?>
                <tr data-contractorid="<?php echo $contractor->temporaryContractorID; ?>">
                    <td class="fName"><?php echo $contractor->temporaryContractorFirstName ?></td>
                    <td class="sName"><?php echo $contractor->temporaryContractorSecondName ?></td>
                    <td class="desName" data-desid="<?php echo $contractor->designationID ?>"><?php echo $contractor->designationName ?></td>
                    <td class="divName" data-diviid="<?php echo $contractor->divisionID ?>"><?php echo $contractor->divisionName ?></td>
                    <td class="contractp"><?php echo $contractor->temporaryContractorTP ?></td>
                    <td class="text-center">
                        <a href="#" class="edit">
                            <span class="fa fa-pencil-square-o custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="#" class="status">
                            <span class="<?php echo ($contractor->status == '1') ? 'fa fa-check-square-o' : 'fa fa-square-o '; ?> custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center" >
                        <a href="#" class="delete">
                            <span class="fa fa-trash-o custom_font_size"></span>
                        </a>
                    </td>
                </tr>
                <?php
            }
            if (count($this->temporaryContractors) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="7"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>

        </tbody>
    </table>
</div><!--table_responsive-->

<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->temporaryContractors, 'sliding', array('partial/paginator.phtml', 'temporaryContractor'), array(
        'route' => 'temporaryContractor', 'action' => 'index'
            )
    );
}
?>
