<div class="well clearfix well_custom_padding margin_top ">
    <form class="contractor-search" id="temporaryContractorSearchForm" method="post" action="">
        <div class="col-lg-3">
            <label class="remove_weight"><?php echo $this->translate('Search Temporary Contractor') ?></label>
        </div>
        <div class="col-lg-9 xs-search-field">
            <div class=" input-group">
                <input type="text" class="search form-control" id ='temporaryContractorSearchKeyword' placeholder="<?php echo $this->translate('Enter Contractor First Name or Last Name') ?>"/>
                <span class="input-group-btn">
                    <button class="btn btn-default search_btn_css" id="contractorSearch" type="submit"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default reset" type="reset"><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </form>
</div>
