<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate('Add a temporary contractor') ?></h4>
        </div>

        <div class="modal-body">
            <?php $this->headScript()->appendFile($this->basePath('js/job-card/contractor.js')); ?>

            <?php
            $form = $this->tempContractorForm;
            $form->prepare();
            ?>
            <div class="form-horizontal clearfix">
                <?php echo $this->form()->openTag($form); ?>

                <div class="form-group">
                    <label for="contractorFirstName" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('First Name :') ?><font color="red">*</font></label>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <?php echo $this->formRow($form->get('temporaryContractorFirstName')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="contractorSecondName" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Second Name :') ?><font color="red">*</font></label>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <?php echo $this->formRow($form->get('temporaryContractorSecondName')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="designation" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Designation :') ?></label>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <?php echo $this->formRow($form->get('designationID')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="division" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Division ') ?></label>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <?php echo $this->formRow($form->get('divisionID')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="temporaryContractorTP" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Telephone Number ') ?></label>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <?php echo $this->formRow($form->get('temporaryContractorTP')); ?>
                    </div>
                </div>
                <?php
                echo $this->form()->closeTag();
                ?>
            </div>
        </div>

        <div class="modal-footer">
            <?php echo $this->formRow($form->get('temporaryContractorFormButton')); ?>
        </div>
    </div>
</div>