<?php
$form = $this->form;
$form->setAttribute('id', 'create-project-form');
?>

<?php
$refNotSet = '';
if ($refNotSet) {
    ?>
    <script>
        $(function () {
            $('#refNotSet').modal('show');
        });
    </script>
    <?php
}
?>

<div class="project-form-container margin_top">
    <div class="well well_heading">
        <?php if ($this->editMode) { ?>
            <h5 class = "font_weight addTitle"><?php echo $this->translate('Update Project') ?></h5>
        <?php } else { ?>
            <h5 class = "font_weight addTitle"><?php echo $this->translate('Create Project') ?></h5>
        <?php } ?>
    </div>

    <div class="well job_padding_top well_body">

        <?php
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formHidden($form->get('projectID'));
        ?>

        <input type="hidden" id='editMode' value="<?php echo $this->editMode ?>" data-pid="<?php echo $this->projectID ?>">

        <!--Project Code-->
        <div class="form-group">
            <label class=" col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Project Code') ?><font color="red"> *</font></label>
            <div class="col-lg-6 ">
                <div class="">
                    <?php echo $this->formRow($form->get('projectCode')); ?>
                </div>
            </div>
        </div>

        <!--Project name-->
        <div class="form-group">
            <label class=" col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Project Name') ?><font color="red"> *</font></label>
            <div class="col-lg-6 ">
                <div class="">
                    <?php echo $this->formRow($form->get('projectName')); ?>
                </div>
            </div>
        </div>

        <!--Project type-->
        <div class="form-group">
            <label class=" col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Project Type') ?><font color="red"> *</font></label>
            <div class="col-lg-6 ">
                <div class="">
                    <select class="form-control selectpicker" title="" data-ptypeid="<?php echo ($this->projectTypeID) ? $this->projectTypeID : ''; ?>" id="projectType" name="projectType" data-live-search="true">
                        <option value=""><?php echo $this->translate('Select Project Type') ?></option>
                    </select>
                </div>
            </div>
        </div>

        <!--Project Description-->
        <div class="form-group">
            <label class=" col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Project Description') ?></label>
            <div class="col-lg-6 ">
                <div class="">
                    <?php echo $this->formRow($form->get('projectDescription')); ?>
                </div>
            </div>
        </div>

        <!--Project owners-->
        <div class="form-group">
            <label class=" col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Project Owners') ?></label>
            <div class="col-lg-6 ">
                <div class="">
                    <select class="form-control selectpicker" title="" id="projectOwners" name="projectOwners" data-live-search="true">
                        <option value=""><?php echo $this->translate('Select Project Owners') ?></option>
                    </select>
                </div>
                <table class="owners hidden table margin_top_normal table-condensed">
                    <thead>
                        <tr>
                            <th style="width: 50%"><?php echo $this->translate('Owners') ?></th>
                            <th style="width: 50%" class="text-right"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php
                        if ($this->projectOwners) {
                            foreach ($this->projectOwners as $key => $value) {
                                ?>
                                <tr class='ownerlist' data-oid='<?php echo $key ?>'>
                                    <td><?php echo $value ?></td>
                                    <td class="text-right">
                                        <a class="btn btn-default delete-owners">
                                            <i class='pointer_cursor fa fa-trash-o'></i>
                                        </a>
                                    </td>
                                </tr>
                                <?php
                            }
                        }
                        ?>
                    </tbody>
                </table>
            </div>
        </div>

        <!--Project Supervisors-->
        <div class="form-group">
            <label class=" col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Project Supervisors') ?></label>
            <div class="col-lg-6 ">
                <div class="">
                    <select class="form-control selectpicker" title="" id="projectSupervisors" name="projectSupervisors" data-live-search="true">
                        <option value=""><?php echo $this->translate('Select Project Supervisors') ?></option>
                    </select>
                </div>
                <table class="supervisors hidden table table-condensed margin_top_normal">
                    <thead>
                        <tr>
                            <th style="width: 50%"><?php echo $this->translate('Supervisors') ?></th>
                            <th style="width: 50%" class="text-right"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php
                        if ($this->projectSupervisors) {
                            foreach ($this->projectSupervisors as $key => $value) {
                                ?>
                                <tr class='supervisorslist' data-supid='<?php echo $key ?>'>
                                    <td><?php echo $value ?></td>
                                    <td class="text-right">
                                        <a class="btn btn-default delete-supervisors">
                                            <span class='pointer_cursor fa fa-trash-o'></span>
                                        </a>
                                    </td>
                                </tr>
                                <?php
                            }
                        }
                        ?>
                    </tbody>
                </table>
            </div>
        </div>

        <!--Customer-->
        <div class="form-group">
            <label class=" col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Customer') ?><font color="red"> *</font></label>
            <div class="col-lg-6 ">
                <div class="">
                    <select class="form-control selectpicker" <?php if ($this->editMode && $this->customerProfileHidden == true) { ?>disabled="disabled"<?php } ?> title="" id="projectCustomer" name="projectCustomer" data-cid="<?php echo ($this->projectCustomerID) ? $this->projectCustomerID : ''; ?>" data-live-search="true">
                        <option value=""><?php echo $this->translate('Select Project Customer') ?></option>
                    </select>
                </div>
                <table class="customer-profiles hidden table table-condensed margin_top_normal">
                    <thead>
                        <tr>
                            <th style="width: 50%"><?php echo $this->translate('Customer Profile') ?></th>
                            <th style="width: 50%" class="text-center"><?php echo $this->translate('Check') ?></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php
                        if ($this->customerProfiles) {
                            foreach ($this->customerProfiles as $key => $value) {
                                ?>
                                <tr class='customer-profile-list' data-cpid='<?php echo $key ?>'>
                                    <td><?php echo $value ?></td>
                                    <td class="text-center"><input type='radio'<?php if ($key == $this->customerProfileID) { ?>checked="checked"<?php } ?> name='cProfile' class='cProfile'/></td>
                                </tr>
                                <?php
                            }
                        }
                        ?>
                    </tbody>
                </table>
            </div>
        </div>

        <!--starting_time-->
        <div class="form-group">
            <label class=" col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Starting Time') ?></label>
            <div class="col-lg-6 ">
                <div class="">
                    <?php echo $this->formRow($form->get('projectStartingDate')); ?>
                </div>
            </div>
        </div>

        <!--Ending_time-->
        <div class="form-group">
            <label class=" col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Ending Time') ?></label>
            <div class="col-lg-6 ">
                <div class="">
                    <?php echo $this->formRow($form->get('projectEndingDate')); ?>
                </div>
            </div>
        </div>

        <!--estimated_time&duration-->
        <div class="form-group">
            <label class=" col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Estimated Time Duration') ?></label>
            <div class="col-lg-6 clearfix">
                <div class="row">
                    <?php echo $this->formRow($form->get('projectExtimatedTimeDuration')); ?>
                </div>
            </div>
        </div>

        <!--Estimated Cost-->
        <div class="form-group">
            <label class=" col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Estimated Cost') ?></label>
            <div class="col-lg-6 ">
                <div class="">
                    <?php echo $this->formRow($form->get('projectExtimatedCost')); ?>
                </div>
            </div>
        </div>

        <!--divisions-->
        <div class="form-group">
            <label class=" col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Divisions') ?></label>
            <div class="col-lg-6 ">
                <div class="">
                    <select class="form-control selectpicker" title="" id="projectDivisions" name="projectDivisions" data-live-search="true">
                        <option value=""><?php  echo $this->translate('Select Project Divisions'); ?></option>
                    </select>
                </div>
                <table class="divisions hidden table table-condensed margin_top_normal">
                    <thead>
                        <tr>
                            <th style="width: 50%"><?php echo $this->translate('Divisions') ?></th>
                            <th style="width: 50%" class="text-right"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php
                        if ($this->projectDivisions) {
                            foreach ($this->projectDivisions as $key => $value) {
                                ?>
                                <tr class='divisions-list' data-divid='<?php echo $key ?>'>
                                    <td><?php echo $value ?></td>
                                    <td class="text-right">
                                        <a class="btn btn-default delete-division">
                                            <span class='pointer_cursor fa fa-trash-o'></span>
                                        </a>
                                    </td>
                                </tr>
                                <?php
                            }
                        }
                        ?>
                    </tbody>
                </table>
            </div>
        </div>

        <!--buttons-->
        <div class="form-group button-set addDiv margin_top_high">
            <div class="col-lg-9 text-right">
                <?php if ($this->editMode) { ?>
                    <button type='button' class="btn btn-default back"><?php echo $this->translate('Back') ?></button>
                    <button type="submit" class="btn btn-primary add"><?php echo $this->translate('Create Project') ?></button>
                <?php } else { ?>
                    <button type="reset" class="btn btn-default reset"><?php echo $this->translate('Reset') ?></button>
                    <button type="submit" class="btn btn-default add"><?php echo $this->translate('Create Project') ?></button>
                    <button type="button" class="btn btn-primary addAndContinue"><?php echo $this->translate('Create Project &amp; Continue') ?></button>
                <?php } ?>
            </div>
        </div>

        <?php
        echo $this->form()->closeTag($form);
        ?>
    </div>
</div>

<div class="modal fade" id="refNotSet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $refNotSet; ?>
</div>
