<div class="project-edit-container expanded">
    <?php echo $projectDetails; ?>
</div>
<div class="product-edit-container secondary">
    <?php echo $productLocations; ?>
</div>

<input type="hidden" name="editmode" value="1" />