<div class="well well_heading margin_top">
    <h5 class="font_weight add"><?php echo $this->translate('Search a Project') ?></h5>
</div>

<div class="well clearfix well_body">
    <form class="project-search" id="project-search" method="post" action="">
        <div class="_row_with_margin clearfix">

            <div class="col-lg-4 col-md-12">
                <div class="form-group">
                    <label class="control-label"><?php echo $this->translate('Select project') ?></label>
                    <select class="selectpicker form-control" title="Select Project" data-live-search="true" id="projectSelection"></select>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="form-group">
                    <label class="control-label"><?php echo $this->translate('From') ?></label>
                    <input type="text" style="background-color: white" readonly="true"
                           class="span2 datepicker form-control pointer_cursor"
                           id="from-date" data-date-format="<?php echo $this->userDateFormat ?>"
                           placeholder="<?php echo $this->userDateFormat ?>">
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="form-group">
                    <label class="control-label"><?php echo $this->translate('To') ?></label>
                    <input type="text" style="background-color: white" readonly="true"
                           class="span2 datepicker form-control pointer_cursor" id="to-date"
                           data-date-format="<?php echo $this->userDateFormat ?>" placeholder="<?php echo $this->userDateFormat ?>">
                </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="form-group">
                    <label class="control-label visible-lg">&nbsp;</label>
                    <div class="btn-group btn-block">
                        <button class="btn btn-default take-half-space" id="date-filter">
                            <?php echo $this->translate('Search') ?>
                        </button>
                        <button class="btn btn-default take-half-space" id="clear-filter">
                            <?php echo $this->translate('Clear') ?>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>

<div class="row">
    <div id="projectList" class="margin_top_normal">
        <div class="table table-responsive">
            <?php echo $this->projectList; ?>
        </div>
    </div>
</div>
