<div id="project-list">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class=""><?php echo $this->translate('Project Code') ?></th>
                <th class=""><?php echo $this->translate('Project Name') ?></th>
                <th class=""><?php echo $this->translate('Start Date') ?></th>
                <th class=""><?php echo $this->translate('End Date') ?></th>
                <th class=""><?php echo $this->translate('Progress') ?></th>
                <th class=""><?php echo $this->translate('Estimated Cost') ?></th>
                <th class=""><?php echo $this->translate('Project Status') ?></th>
                <th class=""><?php echo $this->translate('Change Status') ?></th>
                <th class="text-center"><?php echo $this->translate('Job List') ?></th>
                <th class="text-center"><?php echo $this->translate('Create Job') ?></th>
                <th class="text-center"><?php echo $this->translate('Edit') ?></th>
                <th class="text-center"><?php echo $this->translate('View') ?></th>
                <th class="text-center"><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->project_list as $key => $project) {
                $project = (object) $project;
                $status = $project->projectStatus;
                $state = ucfirst($this->status[$status]);
                $style = NULL;
                switch ($status) {
                    case "3":
                        $style = "label label-success";
                        break;
                    case "8":
                        $style = "label label-primary";
                        break;
                    case "9":
                        $style = "label label-info";
                        break;
                    case "4":
                        $style = "label label-danger";
                        break;
                    default :
                        $style = "label label-default";
                }
                ?>
                <tr data-project-id="<?php echo $project->projectId; ?>">
                    <td class=""> <?php echo $project->projectCode; ?></td>
                    <td class=""> <?php echo $project->projectName ?></td>
                    <td class=""> <?php echo to_user_date($project->projectStartingAt, $this->userDateTimeFormat); ?></td>
                    <td class=""> <?php echo to_user_date($project->projectEndAt, $this->userDateTimeFormat); ?></td>
                    <td class=""> <?php echo $project->projectProgress; ?></td>
                    <td class=""> <?php echo number_format($project->projectEstimatedCost, 2); ?></td>
                    <td class="proStatus"><span class="<?php echo $style; ?>"> <?php echo $state; ?></span></td>
                    <td class="text-center">
                    <?php if($project->customerStatus == 1) { ?>
                        <a href="#" class="<?php echo ($status == '4') ? 'disabled':'projectChangeStatus'; ?>" data-toggle="modal" data-status="<?php echo $status; ?>"><i class="fa fa-toggle-on"></i>
                        </a>
                        <?php } else { ?>
                          <a href="#" class="<?php echo ($status == '4') ? 'disabled':'editsInactive'; ?>" data-toggle="modal" data-status="<?php echo $status; ?>"><i class="fa fa-toggle-on"></i>
                        </a>
                            <?php } ?>
                    </td>
                    <td class="text-center">
                        <span class=" link_color" style="cursor:pointer" >
                            <span id="<?php echo $project->projectId; ?>" class="glyphicon glyphicon-list jobList"></span>
                        </span>
                    </td>
                    <td class="text-center">
                    <?php if($project->customerStatus == 1) { ?>
                        <span class=" link_color" style="cursor:pointer" >
                            <span id="<?php echo $project->projectId; ?>" class="glyphicon glyphicon-pencil createJob"></span>
                        </span>
                        <?php } else { ?>
                            <span class=" link_color" style="cursor:pointer" >
                            <a id="<?php echo $project->projectId; ?>" class="editsInactive" href="#">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>

                        </span>
                        </a>

                            <?php } ?>

                    </td>
                    <td class="text-center">
                    <?php if($project->customerStatus == 1) { ?>
                        <span id="<?php echo $project->projectId; ?>" class=" link_color <?php echo ($status == '4') ? 'link_disabled disabled':'projectEdit'; ?>" style="cursor:pointer">
                            <i class="fa fa-pencil-square-o"></i>
                        </span>
                        <?php } else { ?>
                            <a id="<?php echo $project->projectId; ?>" class=" link_color <?php echo ($status == '4') ? 'link_disabled disabled':'editsInactive'; ?>" style="cursor:pointer" href="#">
                            <i class="fa fa-pencil-square-o"></i>
                        </a>

                            <?php } ?>
                    </td>
                    <td class="text-center">
                        <span class=" link_color" style="cursor:pointer" >
                            <span id="<?php echo $project->projectId; ?>" class="glyphicon glyphicon-eye-open projectView"></span>
                        </span>
                    </td>
                    <td class="text-center">
                    <?php if($project->customerStatus == 1) { ?>
                        <span id="<?php echo $project->projectId; ?>" class=" link_color <?php echo ($status == '4') ? 'link_disabled disabled':'projectDelete'; ?>" style="cursor:pointer" href="#delete_project">
                            <i class="glyphicon glyphicon-trash"></i>
                        </span>
                        <?php } else { ?>
                            <a id="<?php echo $project->projectId; ?>" class=" link_color <?php echo ($status == '4') ? 'link_disabled disabled':'editsInactive'; ?>" style="cursor:pointer" href="#">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>

                            <?php } ?>
                    </td>
                    <?php
                }
                if (count($this->project_list) == 0) {
                    ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
            <?php }
            ?>
        </tbody>
    </table>

</div>

<?php
if (!isset($this->paginated)) {
    echo $this->paginationControl(
            $this->project_list, 'sliding', array('partial/paginator.phtml', 'project_list'), array(
        'route' => 'project', 'action' => 'list'
            )
    );
}
?>

<div class="modal fade" id="delete_project" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4><?php echo $this->translate('Project Delete Confirmation') ?></h4>
            </div>
            <div class="modal-body">
                <?php echo $this->translate('Are you sure you want to delete this Project?') ?>
            </div>
            <div class="modal-footer">
                <button id="delete-project-button"  class="btn btn-danger"><?php echo $this->translate('Yes.! Delete Project') ?></button>
                <button type="button" data-dismiss="modal" class="btn btn-default"><?php echo $this->translate('Cancel') ?></button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="projectStatueChangeModal" tabindex="-1" role="dialog" aria-labelledby="projectStatueChangeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="projectStatueChangeModalLabel">Change Status</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="form-horizontal">
                        <label class="col-lg-3 control-label">Select Status</label>
                        <div class="col-lg-5">
                            <select id="statusValue" class="form-control">
                                <option value="3">Open</option>
                                <option value="8">In Progress</option>
                                <option value="9">Completed</option>
                                <option value="4">Closed</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="changeStatusBtn">Change</button>
            </div>
        </div>
    </div>
</div>