<div class="project-form-container margin_top">

    <input type="hidden" id='projectID' value="<?php echo $this->projectID ?>">

    <div class="_row_with_margin">

        <div class="col-lg-10 col-md-10">
            <div class="well well_heading">
                <h5 class="font_weight addTitle"><?php echo $this->translate('View Project') ?></h5>
            </div>

            <div class="well well_body form-horizontal remove_top_radius project_view">

                <!--project_code-->
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="control-label"><?php echo $this->translate('Project Code') ?>:</label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" disabled="disabled" value="<?php echo $this->projectCode ?>"/>
                    </div>
                </div>

                <!--project_name-->
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="control-label"><?php echo $this->translate('Project Name') ?>:</label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" disabled="disabled" value="<?php echo $this->projectName ?>"/>
                    </div>
                </div>

                <!--project_type-->
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="control-label"><?php echo $this->translate('Project Type') ?>:</label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" disabled="disabled" value="<?php echo $this->projectType ?>"/>
                    </div>
                </div>

                <!--project_description-->
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="control-label"><?php echo $this->translate('Project Description') ?>:</label>
                    </div>
                    <div class="col-lg-6">
                        <textarea class="form-control" disabled="disabled"><?php echo $this->projectDescription ?></textarea>
                    </div>
                </div>

                <!--project_owners-->
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="control-label"><?php echo $this->translate('Project Owners') ?>:</label>
                    </div>
                    <div class="col-lg-6">
                        <table class="owners table table-condensed">
                            <thead>
                                <tr>
                                    <th>Owners List</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php
                                if ($this->projectOwners) {
                                    foreach ($this->projectOwners as $key => $value) {
                                        ?>
                                        <tr class='ownerlist' data-oid='<?php echo $key ?>'>
                                            <td><?php echo $value ?></td>
                                        </tr>
                                        <?php
                                    }
                                }
                                ?>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--project_supervisor-->
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="control-label"><?php echo $this->translate('Project Supervisors') ?>:</label>
                    </div>
                    <div class="col-lg-6">
                        <table class="supervisors table table-condensed">
                            <thead>
                                <tr>
                                    <th>Supervisors List</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php
                                if ($this->projectSupervisors) {
                                    foreach ($this->projectSupervisors as $key => $value) {
                                        ?>
                                        <tr class='supervisorslist' data-supid='<?php echo $key ?>'>
                                            <td><?php echo $value ?></td>
                                        </tr>
                                        <?php
                                    }
                                }
                                ?>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--customer-->
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="control-label"><?php echo $this->translate('Customer') ?>:</label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" disabled="disabled" value="<?php echo $this->customerName ?>">
                        <table class="customer-profiles table table-condensed margin_top_normal">
                            <thead>
                                <tr>
                                    <th><?php echo $this->translate('Customer Profile') ?></th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php
                                if ($this->customerProfile) {
                                    foreach ($this->customerProfile as $key => $value) {
                                        ?>
                                        <tr class='customer-profile-list' data-cpid='<?php echo $key ?>'>
                                            <td> <?php echo $value ?></td>
                                        </tr>
                                        <?php
                                    }
                                }
                                ?>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--starting_time-->
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="control-label"><?php echo $this->translate('Starting Time') ?>:</label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" disabled="disabled" value="<?php echo $this->startTime ?>"/>
                    </div>
                </div>

                <!--ending_time-->
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="control-label"><?php echo $this->translate('Ending Time') ?>:</label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" disabled="disabled" value="<?php echo $this->endTime ?>"/>
                    </div>
                </div>

                <!--estimate_time-->
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="control-label"><?php echo $this->translate('Estimated Time Duration') ?>:</label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="viewTimeDuration" disabled="disabled" value="<?php echo $this->timeDuration ?>"/>
                    </div>
                </div>

                <!--estimated_cost-->
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="control-label"><?php echo $this->translate('Estimated Cost') ?>:</label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" disabled="disabled" value="<?php echo number_format($this->projectExtimatedCost, 2) ?>"/>
                    </div>
                </div>

                <!--divisions-->
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="control-label"><?php echo $this->translate('Divisions') ?>:</label>
                    </div>
                    <div class="col-lg-6">
                        <table class="divisions table">
                            <thead>
                                <tr>
                                    <th>Divisions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php
                                if ($this->projectDivisions) {
                                    foreach ($this->projectDivisions as $key => $value) {
                                        ?>
                                        <tr class='divisions-list' data-divid='<?php echo $key ?>'>
                                            <td><?php echo $value ?></td>
                                        </tr>
                                        <?php
                                    }
                                }
                                ?>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div><!--well-->
        </div><!--./col-->

        <div class="col-lg-2 col-md-2">
        <?php if ( $this->customerStatus == 1 ) { ?>
            <input type="button" id='createJob' class="btn btn-block btn-primary" value="Create Job">
            <input type="button" id='listJob' class="btn btn-block btn-default" value="List Jobs">
            <input type="button" id='editProject' class="btn btn-block btn-default" value="Edit Project">
            <button type="button" id='viewBack' class="btn btn-block btn-default viewBack"><?php echo $this->translate('Back') ?></button>
        <?php } else { ?>
            <a href="#" class="btn btn-block btn-primary editsInactive">Create Job</a>
            <input type="button" id='listJob' class="btn btn-block btn-default" value="List Jobs">
            <a  href="#" class="btn btn-block btn-default editsInactive">Edit Project</a>
            <button type="button" id='viewBack' class="btn btn-block btn-default viewBack"><?php echo $this->translate('Back') ?></button>
            <?php } ?>
        </div><!--./col-->

    </div><!--row-->


</div>