<!--table-->
<div class="table table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('Designation Code') ?></th>
                <th><?php echo $this->translate('Designation Name') ?></th>
                <th class="text-center" ><?php echo $this->translate('Edit') ?></th>
                <th class="text-center" ><?php echo $this->translate('Active') ?></th>
                <th class="text-center" ><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->designations as $designation) {
                $designation = (object) $designation;
                ?>
                <tr data-designation-id="<?php echo $designation->designationID; ?>" data-entity-id="<?php echo $designation->entityID; ?>" data-designation-name="<?php echo $designation->designationName; ?>" data-designation-code="<?php echo $designation->designationCode; ?>" data-designation-status="<?php echo $designation->designationStatus; ?>">
                    <td class="designationCode"><?php echo $designation->designationCode; ?></td>
                    <td class="designationName"><?php echo $designation->designationName; ?></td>
                    <td class="text-center">
                        <?php
                        if ($designation->designationCode != 'DES001' && $designation->designationCode != 'DES002' && $designation->designationCode != 'DES003' && $designation->designationCode != 'DES004') { ?>
                        <a href="#" class="edit designation-action" data-action="edit">
                            <span class="fa fa-pencil-square-o custom_font_size"></span>
                        </a>
                        <?php
                        }
                        ?>
                    </td>
                    <td class="text-center">
                        <?php
                        if ($designation->designationCode != 'DES001' && $designation->designationCode != 'DES002' && $designation->designationCode != 'DES003' && $designation->designationCode != 'DES004') { ?>
                        <a href="#" class="status designation-action" data-action="status">
                            <span class="<?php echo ($designation->designationStatus == '1') ? 'fa fa-check-square-o' : 'fa fa-square-o '; ?> custom_font_size"></span>
                        </a>
                        <?php
                        }
                        ?>
                    </td>
                    <td class="text-center">
                        <?php
                        if ($designation->designationCode != 'DES001' && $designation->designationCode != 'DES002' && $designation->designationCode != 'DES003' && $designation->designationCode != 'DES004') { ?>
                        <a href="#" class="delete designation-action" data-action="delete">
                            <span class="fa fa-trash-o custom_font_size"></span>
                        </a>
                        <?php
                        }
                        ?>
                    </td>
                </tr>
                <?php
            }
            if (count($this->designations) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div>
<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->designations, 'sliding', array('partial/paginator.phtml', 'designation'), array(
        'route' => 'designation', 'action' => 'create'
            )
    );
}
?>
