<?php $this->headScript()->appendFile($this->basePath('js/expenses/account.js')); ?>

<!--create_account-->
<div class="_row_with_margin clearfix margin_top create_wrapper">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6">
        <p><?php echo $this->translate('Account') ?></p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <a id="create-account" href="#" data-toggle="modal" data-target="#accountModal" class="btn btn-default btn-block"><?php echo $this->translate('Create Account') ?></a>
    </div>
</div>

<!--search-->
<div class="well well_custom_padding margin_top">
    <div class="row clearfix">

        <div class="col-lg-2">
            <label class="remove_weight"><?php echo $this->translate('Search Accounts') ?></label>
        </div>

        <div class="search_field col-lg-10">
            <form class='account-search-form' method="post">
                <div class="_row_with_margin">

                    <!--search_type-->
                    <div class="col-lg-4 col-md-4 col-sm-6 xs-margin-bottom">
                        <select id="account-search-select" class="form-control">
                            <option value="account-name"><?php echo $this->translate('Account Name') ?></option>
                            <option value="account-number"><?php echo $this->translate('Account Number') ?></option>
                            <option value="bank-name"><?php echo $this->translate('Bank') ?></option>
                        </select>
                    </div>

                    <!--search_type_specific-->
                    <div class="col-lg-5 col-md-4 col-sm-6">
                        <select class="form-control selectpicker show-tick account-search"  id="account-name-search" name="account-name-search" data-live-search="true">
                            <option value=""><?php echo $this->translate('Select Account Name') ?></option>
                        </select>
                        <select class="form-control selectpicker show-tick account-search"  id="account-number-search" name="account-number-search" data-live-search="true">
                            <option value=""><?php echo $this->translate('Select Account Number') ?></option>
                        </select>
                        <select class="form-control selectpicker show-tick account-search"  id="bank-search" name="bank-search" data-live-search="true">
                            <option value=""><?php echo $this->translate('Select Bank Name') ?></option>
                        </select>
                    </div>

                    <!--button-->
                    <div class="col-lg-3 col-md-4 btn-group search_margin_bottom">
                        <button type="button" class="btn btn-default minus_margin take-half-space" id="searchBtn"><?php echo $this->translate('Search') ?></button>
                        <button type="button" class="btn btn-default minus_margin take-half-space" id="searchCancelBtn"><?php echo $this->translate('Cancel') ?></button>
                    </div>

                </div><!--row-->
            </form>
        </div><!--./col-->

    </div><!--row-->
</div><!--well-->

<!--table-->
<div id="account-list" class="margin_top">
    <?php echo $this->partial('expenses/account-api/get-accounts', array('accounts' => $this->accounts, 'paginated' => $this->paginated)); ?>
</div><!--#account_list-->

<!-- Account Create Modal -->
<div class="modal fade bs-example-modal" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="accountModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="accountModalLabel"></h4>
            </div>

            <div class="modal-body">
                <?php
                $form = $this->form;
                $form->setAttribute('action', $this->url('bank', array('action' => 'createAccount')));
                $form->setAttribute('id', 'createAccountForm');
                $form->prepare();
                ?>

                <div class="form-horizontal margin_top_low">
                    <?php echo $this->form()->openTag($form); ?>

                    <div class="form-group">
                        <label for="accountName" class="control-label col-lg-4"><?php echo $this->translate('Name ') ?><font color="red"> *</font></label>
                        <div class="col-lg-8">
                            <?php echo $this->formRow($form->get('accountName')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="accountNumber" class="control-label col-lg-4"><?php echo $this->translate('Account Number') ?><font color="red"> *</font></label>
                        <div class="col-lg-8">
                            <?php echo $this->formRow($form->get('accountNumber')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="accountSatus" class="control-label col-lg-4"><?php echo $this->translate('Account Status') ?><font color="red"> *</font></label>
                        <div class="col-lg-8">
                            <?php echo $this->formRow($form->get('accountStatus')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="bankId" class="control-label col-lg-4"><?php echo $this->translate('Bank Name') ?><font color="red"> *</font></label>
                        <div class="col-lg-8">
                            <?php echo $this->formRow($form->get('bankId')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="bankBranchId" class="control-label col-lg-4"><?php echo $this->translate('Branch Name') ?><font color="red"> *</font></label>
                        <div class="col-lg-8">
                            <?php echo $this->formRow($form->get('bankBranchId')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="accountTypeId" class="control-label col-lg-4"><?php echo $this->translate('Account Type') ?><font color="red"> *</font></label>
                        <div class="col-lg-8">
                            <?php echo $this->formRow($form->get('accountTypeId')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="currencyId" class="control-label col-lg-4"><?php echo $this->translate('Currency') ?><font color="red"> *</font></label>
                        <div class="col-lg-8">
                            <?php echo $this->formRow($form->get('currencyId')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="financeAccountID" class="control-label col-lg-4"><?php echo $this->translate('Gl Account') ?><font color="red"> *</font></label>
                        <div class="col-lg-8">
                            <?php echo $this->formRow($form->get('financeAccountID')); ?>
                        </div>
                    </div>

                    <div class="form-group hidden" id="cardTypeSelection">
                        <label for="cardTypes" class="control-label col-lg-4"><?php echo $this->translate('Card Type') ?><font color="red"> *</font></label>
                        <div class="col-lg-8">
                            <select id="cardTypes" class="form-control selectpicker" multiple data-live-search="true" title="">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group _remove_margin_bottom">
                        <div class="col-lg-4">
                            <?php echo $this->formRow($form->get('isCardPaymentAccount')); ?>
                            <label for="cardPaymentAccount" class="control-label"> <?php echo $this->translate('Card Payment Account') ?> </label>
                        </div>
                    </div>

                    <?php echo $this->formRow($form->get('entityId')); ?>
                    <?php echo $this->form()->closeTag(); ?>

                </div><!--form_horizontal-->
            </div><!--modal_body-->

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnCreate"><?php echo $this->translate('Create') ?></button>
                <button type="button" class="btn btn-primary hidden" id="btnUpdate"><?php echo $this->translate('Update') ?></button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>

<!-- Account Delete Modal -->
<div class="modal fade bs-example-modal-sm" id="accountDeleteModal" tabindex="-1" role="dialog" aria-labelledby="accountDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="accountDeleteModalLabel"><?php echo $this->translate('Delete Account') ?></h4>
            </div>
            <div class="modal-body accountDeleteModalBody"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
                <button type="button" class="btn btn-danger" id="btnDelete"><?php echo $this->translate('Delete') ?></button>
            </div>
        </div>
    </div>
</div>
