<div class="data_table">
    <?php $i = 1; ?>
    <table  width="100%" class="product-list">
        <tr>
            <td colspan="2">
                <hr />
                <br />
                <div class="qout_body">
                    <table width="100%" class="table bigtable <?php if (!$table['hide_table_borders']) { ?>table-bordered table-striped<?php } ?>" id="item_tbl">
                        <?php if (!$table['hide_table_header']) { ?>
                            <thead>
                                <tr>
                                    <?php
                                    foreach ($table["headers"] as $header) {
                                        echo "<th width=\"{$header['width']}%\">" . ucfirst($header['label']) . "</th>";
                                    }
                                    ?>
                                </tr>
                            </thead>
                        <?php } ?>
                        <?php foreach ($table['records'] as $cat) { ?>
                            <?php if (isset($cat['category'])) { ?>
                                <thead>
                                    <tr><td></td><td colspan="6" style="font-weight: bold;"><small><?php echo $cat['category'] ?></small></td></tr>
                                </thead>
                            <?php } ?>
                            <tbody>
                                <?php
                                foreach ($cat['products'] as $key => $product) {

                                    if (isset($multiplePages)) {
                                        $startFromProduct = (($page - 1) * $perPage) - 1;
                                        // $startFromProduct = $startFromProduct > 0 ? $startFromProduct : 0;
                                        $uptoProduct = $page * $perPage;
                                        $uptoProduct = ($uptoProduct > count($cat['products'])) ? count($cat['products']) : $uptoProduct;

                                        if ($key <= $startFromProduct) {
                                            continue;
                                        }

                                        if ($key >= $uptoProduct) {
                                            continue;
                                        }
                                    }

                                    echo "<tr style=\"page-break-inside: avoid;\">";
                                    foreach ($product as $key => $val) {

                                        $zeroClass = ($val === '0.00') ? 'prod-val-zero' : '';

                                        echo "<td  align=\"{$table['headers'][$key]['align']}\" width=\"{$table['headers'][$key]['width']}%\" class=\"prod-col-{$key} {$zeroClass}\"><span>" . $val . "</span></td>";
                                    }
                                    echo "</tr>";
                                }
                                ?>
                            </tbody>
                        <?php } ?>
                    </table>

                    <div class="summary">
                        <table width="100%"  id="" class="table">
                            <col width="90px"><col width="290px"><col width="75px">
                            <col width="100px"><col width="50px"><col width="100px">
                            <tr>
                                <td colspan="2" rowspan="<?php echo isset($cr_discount) ? 4 : 3; ?>">
                                    <?php
                                    echo (isset($comment)) ? "<div id='comment'><strong>" . $this->translate('Comment') . "&nbsp;:</strong><pre style='font-family:Helvetica,Arial,sans-serif; white-space: pre-wrap;'><i>" . $comment . "<i></div>" : "";
                                    echo (isset($memo)) ? "<div id='comment'><strong>" . $this->translate('Memo') . "</strong><pre style='font-family:Helvetica,Arial,sans-serif; white-space: pre-wrap;'><i>" . $memo . "<i></div>" : "";
                                    ?>
                                </td>
                                <td colspan="3">&nbsp;</td>
                                <td class="text-right">&nbsp;</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>