<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('Cost Type Name') ?></th>
                <th><?php echo $this->translate('Cost Type Description') ?></th>
                <th><?php echo $this->translate('Cost Type Item') ?></th>
                <th><?php echo $this->translate('Minimum Value') ?></th>
                <th><?php echo $this->translate('Maximum Value') ?></th>
                <th class="text-center" ><?php echo $this->translate('Edit') ?></th>
                <th class="text-center" ><?php echo $this->translate('Active') ?></th>
                <th class="text-center" ><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>

        <tbody>
            <?php
            foreach ($this->costTypeList as $loo) {
                $loo = (object) $loo;
                ?>
                <tr data-costtypeid="<?php echo $loo->costTypeID; ?>">
                    <td class="CTN"><?php echo $loo->costTypeName; ?></td>
                    <td class="CTD"><?php echo $loo->costTypeDescription ?></td>
                    <td class="CTP" data-pid="<?php echo $loo->productID ?>"><?php echo $loo->productCode . "-" . $loo->productName ?></td>
                    <td class="CTMINVAL"><?php echo number_format($loo->costTypeMinimumValue, 2); ?></td>
                    <td class="CTMAXVAL"><?php echo number_format($loo->costTypeMaximumValue, 2); ?></td>
                    <td width="" class="text-center">
                        <a href="#" class="edit">
                            <span class="fa fa-pencil-square-o custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="#" class="status">
                            <span class="<?php echo ($loo->costTypeStatus == '1') ? 'fa fa-check-square-o' : 'fa fa-square-o '; ?> custom_font_size"></span>
                        </a>
                    </td>
                    <td width="" class="text-center" >
                        <a href="#" class="delete">
                            <span class="fa fa-trash-o custom_font_size"></span>
                        </a>
                    </td>
                </tr>
                <?php
            }
            if (count($this->costTypeList) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div>

<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->costTypeList, 'sliding', array('partial/paginator.phtml', 'costType'), array(
        'route' => 'costType', 'action' => 'create'
            )
    );
}
?>
