<?php
$grnform = $this->grnForm;
$companyCurrencySymbol = $this->companyCurrencySymbol;

$grnform->prepare();
$this->headScript()->prependFile($this->basePath('js/po/purchaseRequistion.js'));
$this->headScript()->prependFile($this->basePath('js/calculations.js'));
?>
<div class="margin_top">

    <?php echo $this->form()->openTag($grnform); ?>

    <!--data_insert_section-->
    <div class="row">
        <div class="margin_top_normal">
            <div class="col-lg-5 col-md-5 col-sm-5">
                <div class="form-group">
                    <label for="supplier" class="col-lg-5 control-label">
                        <?php echo $this->translate("Supplier"); ?>
                        <font style="color: red">*</font>
                    </label>
                    <div class="col-lg-7">
                        <div class="input-group">
                            <select class="form-control selectpicker supplier-select" id="supplier" name="supplier" data-live-search="true" title="">
                            </select>
                            <a data-toggle="modal" id="addSupplierBtn" href="#addSupplierModal" class="input-group-addon btn-default"><i class="fa fa-plus remove_font_weight"></i></a>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="qot_no" class="col-lg-5 control-label">
                        <?php echo $this->translate("Retrieve Location"); ?>
                        <font style="color: red">*</font>
                    </label>
                    <div class="col-lg-7" id='abcde'>
                        <select class="form-control selectpicker show-tick" id="retrieveLocation" name="retrieveLocation" data-live-search="true">
                            <option value=""><?php echo $this->translate("Select Location"); ?></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="date" class="col-lg-5 control-label">
                        <?php echo $this->translate("Supplier Reference"); ?>
                        <a class="help_icon_js" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="top" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('INVENTORY_PO_CREATE_SUPPREF') ?>">
                            <i class="fa fa-question-circle help_icon"></i>
                        </a>
                    </label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($grnform->get('supplierReference')); ?>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dimensionType" class="col-lg-5 control-label">
                        <?php echo $this->translate('Select Documents'); ?>
                    </label>
                    <div class="col-lg-7 createPoDiv">
                        <input type="file" name="files[]" id="documentFiles" multiple>
                    </div>
                    <div class="col-lg-7 updatePoDiv hidden">
                        <input type="file" name="files[]" id="editDocumentFiles" multiple style="border-color: white">
                    </div>
                </div>
                <div class="form-group updatePoDiv_view hidden">
                    <label for="dimensionType" class="col-lg-5 control-label">
                        <?php echo $this->translate('View Documents'); ?>
                    </label>
                    <div class="col-lg-3 text-right">
                        <button class="btn btn-default form-control" type="button" id='viewUploadedFiles'><i class="glyphicon glyphicon-eye-open"></i></button>
                    </div>
                </div>
            </div><!--./col-->
        </div><!--margin_top-->


        <div class="col-lg-5 col-md-5 col-sm-5 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
            
            <div class="form-group">
                <label for="date" class="col-lg-5 control-label">
                    <?php echo $this->translate("Purchase Requistion Date"); ?>
                    <font style="color: red">*</font>
                </label>
                <div class="col-lg-7">
                    <input type="text" class="datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="purchaseOrderDate" data-date-format="<?php echo $this->dateFormat ?>" placeholder="<?php echo $this->dateFormat ?>">
                </div>
            </div>

            <div class="form-group">
                <label for="date" class="col-lg-5 control-label">
                    <?php echo $this->translate("Estimated Delivery Date"); ?>
                    <font style="color: red">*</font>
                </label>
                <div class="col-lg-7">
                    <input type="text" class="datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="expectedDeliveryDate" data-date-format="<?php echo $this->dateFormat ?>" placeholder="<?php echo $this->dateFormat ?>">
                </div>
            </div>

            <div class="form-group">
                <label for="payment_term" class="col-lg-5 control-label">
                    <?php echo $this->translate('Purchase Requistion No'); ?>
                    <font style="color: red">*</font>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($grnform->get('grnNo')); ?>
                    <input type="hidden" id="locRefID">
                </div>
            </div>

            <div class="form-group hidden">
                <label class="col-lg-5 control-label">
                    <?php echo $this->translate('Document Reference'); ?>
                </label>
                <div class="col-lg-1">
                    <a data-toggle="modal" id="documentReference"  class="btn btn-default"><i class="fa fa-angle-double-down"></i></a>
                </div>
            </div>
            <div class="form-group">
                <label for="supplier" class="col-lg-5 control-label">
                    <?php echo $this->translate("Purchase Requisition Type"); ?>
                </label>
                <div class="col-lg-7">
                     <select class="form-control selectpicker" id="purchaseReqType" data-live-search="false" data-selected-text-format="count>3" data-size="5" title="Select Purchase Requisition Type">
                        <option class="" value=""><?php echo $this->translate('Select Purchase Requisition Type') ?></option>
                        <?php
                        foreach ($this->purchaseRequistionTypes as $key => $purReqType):
                            echo '<option value="' . $key . '">' . $purReqType. '</option>';
                        endforeach;
                        ?>
                    </select>
                </div>
            </div>
        </div><!--./col-->
    </div><!--margin_top-->
</div><!--row-->

<!--table-->
<div class="col-lg-12">
    <div class="table">
        <div id="productAddOverlay" class="overlay"></div>
        <table class="table table-striped margin_top_normal table-condensed" id="poProductTable">
            <!--table_heading-->
            <thead>
                <tr>
                    <th style="width: 25%"><?php echo $this->translate("Item Code - Name"); ?></th>
                    <th class="text-right" style="width: 16%"><?php echo $this->translate("Quantity"); ?></th>
                    <th class="uom_label" style="width: 2%"></th>
                    <th class="text-right" style="width: 12%"><?php echo $this->translate("Price"); ?></th>
                    <th class="text-right" style="width: 12%"><?php echo $this->translate("Discount"); ?></th>
                    <th class="text-right" style="width: 8%"><?php echo $this->translate("Taxes"); ?></th>
                    <th class="text-right" style="width: 15%"><?php echo $this->translate("Total"); ?></th>
                    <th style="width: 5%;"></th>
                    <th style="width: 5%;"></th>
                </tr>
            </thead>

            <!--Item_show_row-->
            <tbody id="form_row">
                <tr id='preSetSample' class="hidden">
                    <td id='code'></td>
                    <td id='quantity' class='text-right'></td>
                    <td class="text-right"><span id="uomName"></span></td>
                    <td id='unit' class='text-right'></td>
                    <td id='disc' class='text-right'></td>
                    <td class='text-right clearfix' id='tax'>
                        <div class='btn-group'>
                            <button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'>
                                <span id='' class=''></span>&nbsp<span class='fa fa-caret-down'></span>
                            </button>
                            <ul class=''></ul>
                        </div>
                    </td>
                    <td id='ttl' class='text-right'></td>
                    <td class="text-center clearfix">
                        <button type="button" class="btn btn-default poDeleteProduct">
                            <span class='fa fa-trash-o delete' id=''></span>
                        </button>
                    </td>
                </tr>
            </tbody>

            <!--item_insert_row-->
            <tbody id="add-new-item-row" class="top_table_margin">
                <tr id="add-new-po-record" >
                    <td class="clearfix">
                        <p class="visible-xs"><?php echo $this->translate("Item Code-Name"); ?></p>
                        <select class="form-control selectpicker show-tick" id="itemCode" name="itemCode" data-live-search="true">
                            <option class="itemCodeDefaultSelect"  value=""><?php echo $this->translate("Select Item Code or Name"); ?></option>
                        </select>
                    </td>
                    <td class="clearfix">
                        <p class="visible-xs"><?php echo $this->translate("Quantity"); ?></p>
                        <div class="">
                            <?php echo $this->formRow($grnform->get('qty')); ?>
                        </div>
                    </td>
                    <td class="text-right"></td>
                    <td class="clearfix">
                        <p class="visible-xs"><?php echo $this->translate("Price"); ?></p>
                        <div class="pull-right input-group">
                            <?php echo $this->formRow($grnform->get('unitPrice')); ?>
                            <strong class="input-group-addon">
                                <!--$this->translate("Rs");-->
                                <?php echo $companyCurrencySymbol; ?>
                            </strong>
                        </div>
                    </td>
                    <td>
                        <p class="visible-xs"><?php echo $this->translate("Discount"); ?></p>
                        <div class="input-group">
                            <?php echo $this->formRow($grnform->get('discount')); ?>
                            <span class="sign input-group-addon"></span>
                        </div>
                    </td>
                    <td class='text-right clearfix' id='tax'>
                        <p class="visible-xs"><?php echo $this->translate("Taxes"); ?></p>
                        <div id="addNewTaxDiv" class='btn-group'>
                            <button id ="addNewTax" type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'>
                                <span id='taxApplied' class='glyphicon glyphicon-unchecked'></span>
                                <span class='fa fa-caret-down'></span>
                            </button>
                            <ul id="addTaxUl" class="text-left dropdown-menu">
                                <li id="sampleLi"class="hidden">&nbsp;&nbsp;
                                    <input class="taxChecks" id="" type='checkbox'>
                                    <label for="" class="taxName">&nbsp;&nbsp;</label>
                                </li>
                                <li id="toggleSelection">&nbsp;&nbsp;<div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs" id="selectAll"><?php echo $this->translate("Select all"); ?>
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs" id="deselectAll"><?php echo $this->translate("Deselect all"); ?>
                                    </button></div>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td class="clearfix">
                        <p class="visible-xs text-right"><?php echo $this->translate("Total"); ?></p>
                        <div class="pull-right input-group">
                            <label class="text-right newTotalVal" id="addNewTotal" >0.00</label>
                        </div>
                    </td>
                    <td class="text-center add-po">
                        <button type="button" class="btn btn-default" id="addItem">
                            <i class="fa fa-plus remove_font_weight"></i>
                        </button>
                    </td>
                    <td class="text-center edit-po hidden">
                        <button type="button" class="btn btn-default" id="editItem">
                            <i class="glyphicon glyphicon-edit"></i>
                        </button>
                    </td>
                    <td class="text-center delete-po hidden">
                        <button type="button" class="btn btn-default" id="deleteItem">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>

            <tbody class="PO_footer">
                <!--dummy_row_for_separate_subtotal_section-->
                <tr>
                    <td colspan="9">&nbsp;</td>
                </tr>

                <!--sub_total_row-->
                <tr>
                    <td colspan="7" class="text-right"><?php echo $this->translate("Sub Total"); ?></td>
                    <td class="text-right"><label id="subtotal">0.00</label></td>
                    <td class="hidden-xs"></td>
                </tr>

                <!--display_taxes-->
                <tr>
                    <td colspan="6">
                        <label class="remove_font_weight"><?php echo $this->formRow($grnform->get('showTax')) . "&nbsp;"; ?><?php echo $this->translate("Display Taxes"); ?></label>
                    </td>
                    <td class="text-right">
                        <div id="totalTaxShow" class="hidden"></div>
                    </td>
                    <td colspan="2"></td>
                </tr>

                <!--delivery_charges-->
                <tr>
                    <td colspan="7">
                        <label class="remove_font_weight">
                            <?php
                            echo $this->formRow($grnform->get('deliveryChargeEnable')) . "&nbsp;";
                            echo $this->translate("Delivery Charges");
                            ?>
                        </label>
                    </td>
                    <td>
                        <div class='deliCharges hidden'>
                            <?php echo $this->formRow($grnform->get('deliveryCharge')) ?>
                        </div>
                    </td>
                    <td class="hidden-xs"></td>
                </tr>

                <!--total-->
                <tr>
                    <td colspan="7" class="text-right">
                        <h4 class="font_weight"><?php echo $this->translate("Total ") . $companyCurrencySymbol; ?></h4>
                    </td>
                    <td class="text-right"><h4 id="finaltotal" class="font_weight">0.00</h4></td>
                    <td class="hidden-xs"></td>
                </tr>
            </tbody>
        </table>

    </div><!--table_responsive-->
</div><!--./col-->

<!--comment-->
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4"><!--comment-->
        <label for="cmnt" class="">
            <?php echo $this->translate("Description"); ?>
        </label>
        <?php echo $this->formRow($grnform->get('comment')); ?>
    </div>



    <div class="col-lg-4 col-sm-4"><!--button-->
        <div class="btn_margin_top">
            <?php echo $this->formRow($grnform->get('grnCancelButton')); ?>
            <?php echo $this->formRow($grnform->get('grnSaveButton')); ?>
        </div>
    </div>

</div><!--row-->
<div class='row'>
    <?php echo $this->formRow($grnform->get('poDraft')); ?>
</div>
<?php echo $this->form()->closeTag(); ?>
<div class="modal fade" id="addSupplierModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->supplierAddView; ?>
</div>
<div class="modal fade" id="refNotSet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $refNotSet; ?>
</div>

<div class="modal fade" id="documentReferenceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $documentReference; ?>
</div>

<div class="modal fade" id="viewAttachmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->attachmentsView; ?>
</div>
