<div class="row">
    <div id="poSearch" class="margin_top_normal">
        <?php echo $this->poSearchHeader; ?>
    </div>
</div>
<div class="row">
    <div id="poList" class="margin_top_normal">
        <?php echo $this->poList; ?>
    </div>
</div>
<div class="modal fade" id="statusModal" data-entity='purchase-requisition' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->statusChange; ?>
</div>

<div class="modal fade" id="addDocHistoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->docHistoryView; ?>
</div>
<div class="modal fade" id="DocumentViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->documentView; ?>
</div>
<div class="modal fade" id="viewAttachmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->attachmentsView; ?>
</div>
