<?php
$poform = $this->poForm;
$poform->prepare();
$poData = $this->poData;
$companyCurrencySymbol = $this->companyCurrencySymbol;

$this->headScript()->prependFile($this->basePath('js/documentReference.js'));
?>
<script>
    $(window).bind('ready resize', function() {
        if ($(window).width() < 480) {
            $('.grn_button_grp').removeClass('btn-group');
        } else {
            $('.grn_button_grp').addClass('btn-group');
        }
    });
</script>
<div class="margin_top">

    <?php echo $this->form()->openTag($poform); ?>

    <!--data_insert_section-->
    <div class="row">
        <div class="margin_top_normal">
            <div class="col-lg-5 col-md-5 col-sm-5">
                <div class="form-group">
                    <label for="supplier" class="col-lg-5 control-label">
                        <?php echo $this->translate("Supplier"); ?>
                    </label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($poform->get('supplier')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="qot_no" class="col-lg-5 control-label">
                        <?php echo $this->translate("Retrieve Location"); ?>
                    </label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($poform->get('retrieveLocation')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="date" class="col-lg-5 control-label">
                        <?php echo $this->translate("Supplier Reference"); ?>
                    </label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($poform->get('supplierReference')); ?>
                    </div>
                </div>

            </div><!--./col-->
        </div><!--margin_top-->


        <div class="col-lg-5 col-md-5 col-sm-5 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
            
            <?php if($poData['purchaseOrderDate'] !== NULL) { ?>
                <div class="form-group">
                    <label for="date" class="col-lg-5 control-label">
                        <?php echo $this->translate("Purchase Requisition Date"); ?>
                    </label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($poform->get('purchaseOrderDate')); ?>
                    </div>
                </div>
            <?php }; ?>
            
            <div class="form-group">
                <label for="date" class="col-lg-5 control-label">
                    <?php echo $this->translate("Estimated Delivery Date"); ?>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($poform->get('deliveryDate')); ?>
                </div>
            </div>
            
            <div class="form-group">
                <label for="payment_term" class="col-lg-5 control-label">
                    <?php echo $this->translate('Purchase Requisition No'); ?>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($poform->get('grnNo')); ?>
                </div>
            </div>

            <div class="form-group">
                <label for="payment_term" class="col-lg-5 control-label">
                    <?php echo $this->translate('Purchase Requisition Type'); ?>
                </label>
                <div class="col-lg-7">
                    <input type="text" name="pReqType" class="form-control" id="pReqType" disabled="disabled" value="<?php echo $this->pReqType; ?>">
                </div>
            </div>

            <div class="form-group hidden">
                <label class="col-lg-5 control-label">
                    <?php echo $this->translate('Document References'); ?>
                </label>
                <div class="col-lg-7">
                    <button type="button" class="btn btn-default" data-toggle="modal" href="#doc_ref">
                        <?php echo $this->translate("Show document references"); ?>
                    </button>
                </div>
            </div>
        </div><!--./col-->
    </div><!--margin_top-->
</div><!--row-->

<!--table-->
<div class="col-lg-12">
    <div class="table table-responsive">
        <table class="table table-striped margin_top_normal table-condensed" id="poProductTable">
            <thead>
                <tr>
                    <th style="width: 10%"><?php echo $this->translate("Item Code"); ?></th>
                    <th style="width: 20%"><?php echo $this->translate("Item Name"); ?></th>
                    <th class="text-right" style="width: 13%"><?php echo $this->translate("Quantity"); ?></th>
                    <th style="width: 2%"</th>
                    <th class="text-right" style="width: 15%"><?php echo $this->translate("Price"); ?></th>
                    <th class="text-right" style="width: 15%"><?php echo $this->translate("Discount"); ?></th>
                    <th class="text-right" style="width: 10%"><?php echo $this->translate("Taxes"); ?></th>
                    <th class="text-right" style="width: 4%"><?php echo $this->translate("More"); ?></th>
                    <th class="text-right" style="width: 15%"><?php echo $this->translate("Total"); ?></th>
                    <th></th>
                </tr>
            </thead>

            <tbody id="form_row">
                <?php
                foreach ($poData['poProducts'] as $poProduct) {
                    ?>
                    <tr class="">
                        <td id='code'><?php echo $poProduct['poPC']; ?></td>
                        <td id='name'><?php echo $poProduct['poPN']; ?></td>
                        <td id='quantity' class='text-right'><?php echo $poProduct['poPQ']; ?></td>
                        <td><span id="uomName" class='text-right'><?php echo $poProduct['poPUom']; ?></span></td>
                        <td id='unit' class='text-right'><?php echo number_format($poProduct['poPP'], strlen(substr(strrchr($poProduct['poPP'], "."), 1))); ?></td>
                        <td id='disc' class='text-right'><?php echo $poProduct['poPD']; ?></td>
                        <td class="text-right">
                            <?php
                            $fullTaxAmount = 0;
                            foreach ($poProduct['pT'] as $pTax) {
                                $fullTaxAmount += floatval($pTax['pTA']);
                            }
                            echo number_format($fullTaxAmount, 2);
                            ?>
                        </td>
                        <td class='text-right' id='tax'>
                            <div class='btn-group'>
                                <?php if (!empty($poProduct['pT'])) { ?>

                                    <button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'><span id='' class=''></span><span class='glyphicon glyphicon-chevron-down'></span></button>

                                    <ul class="text-left dropdown-menu">
                                        <?php
                                        foreach ($poProduct['pT'] as $pTax) {
                                            ?>
                                            <li>&nbsp;&nbsp;<?php echo $pTax['pTN'] . '(' . $pTax['pTP'] . '%) - ' . number_format($pTax['pTA'], 2); ?></li>
                                            <?php
                                        }
                                        ?>

                                    </ul>
                                <?php } ?>
                            </div>
                        </td>
                        <td id='ttl' class='text-right'><?php echo number_format($poProduct['poPT'], 2); ?></td>
                        <td></td>
                    </tr>
                    <?php
                }
                ?>
            </tbody>
            <tbody>
                <tr class="">
                    <td style="height: 31px;"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr><!--sub_total-->
                    <td colspan="6"><label><?php echo $this->translate("Sub Total"); ?></label></td>
                    <td></td>
                    <td></td>
                    <td id="subtotal" class="text-right"><label><?php echo $this->poSubTotal; ?></label></td>
                    <td></td>
                </tr>

                <tr><!--display_taxes-->
                    <td colspan="4">
                        <span class="<?php if (empty($this->pTotalTax)) echo "hidden"; ?>remove_font_weight"><label><?php echo $this->translate("Total Taxes"); ?></label></span>
                    </td>
                    <td></td>
                    <td class="text-right" colspan="2">
                        <?php
                        $fullTotalTaxAmount = 0;
                        foreach ($this->pTotalTax as $pTotTax) {
                            $fullTotalTaxAmount += floatval($pTotTax['pTA']);
                        }
                        echo number_format($fullTotalTaxAmount, 2);
                        ?>
                    </td>
                    <td colspan="1" class="text-right">
                        <div class='btn-group'>
                            <?php if (!empty($this->pTotalTax)) { ?>

                                <button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'><span id='' class=''></span><span class='glyphicon glyphicon-chevron-down'></span></button>

                                <ul class="text-left dropdown-menu">
                                    <?php
                                    foreach ($this->pTotalTax as $pTotTax) {
                                        ?>
                                        <li>&nbsp;&nbsp;<?php echo $pTotTax['pTN'] . '(' . $pTotTax['pTP'] . '%) - ' . number_format($pTotTax['pTA'], 2); ?></li>
                                        <?php
                                    }
                                    ?>

                                </ul>
                            <?php } ?>
                        </div>
                    </td>
                    <td colspan="2"></td>
                </tr>

                <tr><!--delivery_charges-->
                    <td colspan="6"><div class='deliCharges'><label><?php echo $this->translate("Delivery Charges"); ?></label></div></td>
                    <td></td>
                    <td></td>
                    <td class="text-right"><div class='deliCharges'><?php echo number_format($this->deliCharge, 2); ?></div></td>
                    <td></td>
                </tr>

                <tr><!--total-->
                    <td colspan="6"><h4 class="font_weight"><?php echo $this->translate("Total "); ?></h4></td>
                    <td></td>
                    <td></td>
                    <td class="text-right"><h4 id="finaltotal" class="font_weight"><?php echo $companyCurrencySymbol . number_format($poData['poT'], 2); ?></h4></td>
                    <td colspan="3"></td>
                </tr>
            </tbody>
        </table>

    </div><!--table_responsive-->
</div><!--./col-->

<!--comment-->
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4"><!--comment-->
        <label for="cmnt" class="">
            <?php echo $this->translate("Comment"); ?>
        </label>
        <?php echo $this->formRow($poform->get('comment')); ?>
    </div>

    <?php echo $this->form()->closeTag(); ?>

    <div class="col-lg-4 col-sm-4"><!--button-->
        <div class="btn_margin_top">
            <button id="grnViewBack" onclick="goBack()" class="btn btn-default"><?php echo $this->translate('Back'); ?></button>
            <?php
            if ($poStatus != 'closed' && $poStatus != 'cancelled') {
                ?>
                <a href="<?php echo $this->url('grn', array('action' => 'create', 'param1' => $poData['poC'])); ?>" id="converToGrn" class="btn btn-primary hidden"><?php echo $this->translate('Convert to GRN'); ?></a>
                <?php
            }
            ?>
        </div>
    </div>
</div><!--row-->


<!-- Document references modal -->
<div class="modal fade" id="doc_ref" tabindex="1" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabelx"><?php echo $this->translate("Document References"); ?></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <?php foreach ($documentReference as $docType => $refDoc): ?>
                        <div class="col-md-4">
                            <b><?php echo $docType.": "; ?></b>
                        </div>
                        <div class="col-md-8">
                        <?php foreach ($refDoc as $key => $doc): ?>
                                <span class="ref-doc link_color" data-docid="<?php echo $doc['id']; ?>" data-doctype="<?php echo $docType; ?>">
                                <?php echo $doc['code']; ?>
                                </span><br>
                        <?php endforeach; ?>
                        <br>
                        </div>
                    <?php endforeach; ?>
                    <?php if(!count($documentReference)):?>
                        <div>No referred documents to display.</div>
                    <?php endif; ?>
                </div>
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate("Close"); ?></button>
        </div>
    </div>
</div>

<!-- Reference document view modal -->
<div class="modal fade" id="doc_ref_view" tabindex="-1" >
    <div class="modal-dialog  _custom_large_modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close_doc_ref_view" >
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="doc_title"><?php echo $this->translate("Document References"); ?></h4>
            </div>
            <div class="modal-body" style="padding:.5in">
                <iframe src="" style="width:8.28in; border:none" height="1060px" id="doc_view"></iframe>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div> -->
        </div>
    </div>
</div>
