<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate("Add Vehicle Makes"); ?></h4>
        </div>

        <div class="modal-body">
            <div class="col-lg-12 margin_top" id="vehicleTable">
                <div class="table table-responsive">
                    <table class="job-vehicle-table job-table table table-striped margin_top_normal table-condensed" id="jobVehicleTable">
                        <thead>
                            <tr>
                                <th class="text-center" style="float: left;"><?php echo $this->translate("Vehicle Make"); ?></th>
                                <th class="text-center"><?php echo $this->translate("Vehicle Model"); ?></th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody id="vehicleModelTbody">
                            <tr class="sample hidden" id="sample">
                                <td>
                                    <input name="id" id="id" type="hidden" class="form-control" disabled="true" />
                                    <input name="name" id="name" type="text" class="form-control" disabled="true" />
                                </td>
                                <td class="text-center">
                                    <button type='button' class="addVehicalModel btn btn-default">
                                        <i class="glyphicon glyphicon-list-alt"></i>
                                    </button>
                                </td>
                                <td class="text-right">
                                    <strong class="btn btn-default delete" id="delete"><i class="fa fa-trash-o"></i></strong>
                                </td>
                            </tr>

                            <tr class="userInput" id="userInput">
                                <td>
                                    <input name="name" id="name" type="text" class="form-control" />
                                </td>
                                <td class="text-center">
                                    <button type='button' class="addVehicalModel btn btn-default">
                                        <i class="glyphicon glyphicon-list-alt"></i>
                                    </button>
                                </td>
                                <td class="text-right">
                                    <strong class="btn btn-default add" id="add"><i class="glyphicon glyphicon-plus"></i></strong>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                            </tr>
                        </tbody>

                    </table>

                </div><!--table_responsive-->
            </div><!--./col-->

        </div><!--modal_body-->

        <div class="modal-footer modal-footer-style">
            <button type="button" id="btnAddVehicleModels" class="btn btn-primary"><?php echo $this->translate('Save') ?></button>
        </div>
    </div>
</div>