<div class="project-type-form-container margin_top">
   <div class="well well_custom_padding margin_top">
       <div class="row">
           <div class="col-lg-3">
               <label class="remove_weight" for="departmentSearch">Select Vehicle Type</label>
           </div>
           <div class="search_field col-lg-9">
               <select class="form-control selectpicker show-tick" id="vehicleTypes" name="vehicleTypes" data-live-search="true">
                   <option value=""><?php echo $this->translate('Select A Vehicle Type') ?></option>
               </select>
           </div>
       </div>
   </div>
   <div id="serviceList" class="margin_top">
       <?php echo $this->serviceList; ?>
   </div>
</div>
<div class="modal fade" id="viewMaterialsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <?php echo $this->viewMaterialsModal; ?>
</div>