<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('Vehicle Type') ?></th>
                <th class="text-center" ><?php echo $this->translate('Edit') ?></th>
                <th class="text-center" ><?php echo $this->translate('Vehicle Models') ?></th>
                <th class="text-center" ><?php echo $this->translate('Active') ?></th>
                <th class="text-center" ><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->vehicleTypeList as $value) {
                $value = (object) $value;
                ?>
                <tr id="<?php echo $value->vehicleTypeID; ?>">
                    <td id="vehicleTypeName"><?php echo $value->vehicleTypeName; ?></td>
                    <td class="text-center">
                        <a href="#" id="edit" class="edit">
                            <span class="fa fa-pencil-square-o custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="#" id="view" class="view">
                            <span class="fa fa-search-plus custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="#" id="status" class="status">
                            <span id="statusSpan" class="<?php echo ($value->vehicleTypeStatus == '1') ? 'fa fa-check-square-o' : 'fa fa-square-o '; ?> custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="#" id="delete" class="delete">
                            <span class="fa fa-trash-o custom_font_size"></span>
                        </a>
                    </td>
                </tr>
                <?php
            }
            if (count($this->vehicleTypeList) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div><!--table_responsive-->

<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->vehicleTypeList, 'sliding', array('partial/paginator.phtml', 'resources'), array(
        'route' => 'resources', 'action' => 'vehicles'
            )
    );
}
?>
