<div class="project-type-form-container margin_top">
	<form id="addVehicleTypeForm" mode="add">
    <div class="well well_heading">
        <h5 class="font_weight addFromTitle" id="addFromTitle"><?php echo $this->translate('Add Vehicle Type') ?></h5>
        <h5 class="font_weight updateFormTitle hidden" id="updateFormTitle"><?php echo $this->translate('Update Vehicle Type') ?></h5>

    </div>
    <div class="well well_body remove_padding_bottom">
        <div class="_row_with_margin clearfix">

            <div class="form-group col-lg-3 col-md-3 col-xs-12">
            	<label for="vehicleType">
            		<?php echo $this->translate('Vehicle Type'); ?>
            		<font style="color: red">&nbsp*</font>
            	</label>
                <input type="hidden" id="vehicleTypeID" value="null">
            	<input type="text" class="form-control" id="vehicleType" placeholder="<?php echo $this->translate('Eg: Mini Cars'); ?>">
            </div>
            
            <div class="form-group col-lg-5 col-md-5 col-xs-12">
				<div style="margin-top: 29px; float: left;">
	            	<button type="button" class="btn btn-success" id="addVehicleModelsBtn">Add Vehicle Makes and Models</button>
	                <span id="vehicleModelCount" style="color: #A9A9A9"> (<?php echo $this->translate('No vehicle makes added'); ?>  )</span>
	            </div>
            </div>
            
            <div class="col-lg-4 col-md-4 col-xs-4 form-group project-button">
                <div class="addFormBtn" id="addFormBtn" style="float: left; padding-top: 29px;">
                    <button type="submit" class="btn btn-primary" id="add"><?php echo $this->translate('Add New'); ?></button>
                    <button type="reset" class="btn btn-default reset" id="reset"><?php echo $this->translate('Reset'); ?></button>
                </div>
                <div class="updateFormBtn hidden" id="updateFormBtn" style="float: left; padding-top: 29px;">
                    <button type="submit" class="btn btn-primary" id="update"><?php echo $this->translate('Update'); ?></button>
                    <button type="reset" class="btn btn-default reset" id="reset"><?php echo $this->translate('Reset'); ?></button>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>


<!--search-->
<div class="well clearfix margin_top">
    <form class="project-type-search" id="vehicle-type-search" method="post" action="">
        <div class="col-lg-3">
            <label class="remove_weight"><?php echo $this->translate('Search Vehicle Type') ?></label>
        </div>
        <div class="col-lg-9 xs-search-field">
            <div class="input-group">
                <input type="text" class="search form-control" id ='vehicle-type-search-keyword' placeholder="<?php echo $this->translate('Enter Vehicle Type') ?>"/>
                <span class="input-group-btn">
                    <button class="btn btn-default search_btn_css" type="submit"><?php echo $this->translate('Search') ?></button>
                    <button id="searchVehicleTypeReset" class="btn btn-default reset" type="reset"><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </form>
</div>

<!--paginate project type list add in here-->
<div id="vehicle-type-list" class="margin_top">
    <?php echo $this->partial('jobs/resources/vehicle-list', array('vehicleTypeList' => $this->vehicleTypeList, 'paginated' => $this->paginated)); ?>
</div>

<div class="modal fade" id="addVehicleModels" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->addVehicleModels; ?>
</div>

<div class="modal fade" id="viewVehicleModels" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->viewVehicleModels; ?>
</div>

<div class="modal fade" id="viewVehicleSubModels" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->viewVehicleSubModels; ?>
</div>

<div class="modal fade" id="addVehicleSubModels" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->addVehicleSubModels; ?>
</div>
