<input type="hidden" id="jobCardServiceId">
<div class="modal-dialog modal-lg" style="width: 50%;">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate("Add Materials"); ?></h4>
        </div>

        <div class="modal-body">
            <h4><?php echo $this->translate("Service Materials"); ?></h4>
            <div class="col-lg-12 margin_top">
                <div class="table table-responsive">
                    <table class="job-vehicle-table job-table table table-striped margin_top_normal table-condensed">
                        <thead>
                            <tr>
                                <th class="text-center" width="40%"><?php echo $this->translate("Item Code / Item Name"); ?></th>
                                <th class="text-center" width="25%"><?php echo $this->translate("Standard Qty"); ?></th>
                                <th class="text-center" width="25%"><?php echo $this->translate("UOM"); ?></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody id="serviceMaterials" taskCardTaskProductType="1">
                            <tr class="sample hidden" id="sample">
                                <td>
                                    <input type="hidden" id="locationProductID" disabled="true">
                                    <input class="form-control" type="text" id="code" disabled="true">
                                </td>
                                <td>
                                    <input class="form-control text-right" type="text" id="qty" disabled="true">
                                </td>
                                <td>
                                    <select class="form-control show-tick"  id="uom" data-live-search="true" disabled="true">
                                        <option value="0" ><?php echo $this->translate('Select a uom') ?></option>
                                    </select>
                                </td>
                                <td class="text-right">
                                    <strong class="btn btn-default hidden save" id="save"><i class="fa fa-floppy-o"></i></strong>
                                    <strong class="btn btn-default edit" id="edit"><i class="fa fa-pencil-square-o"></i></strong>
                                </td>
                                <td class="text-right">
                                    <strong class="btn btn-default delete" id="delete"><i class="fa fa-trash-o"></i></strong>
                                </td>
                            </tr>
                        </tbody>

                        <tbody>
                            <tr class="userInput" id="userInput" taskCardTaskProductType="1">
                                <td>
                                    <input type="hidden" id="selectLocationProductID">
                                    <input type="hidden" id="selectLocationProductName">
                                    <select class="form-control selectpicker locationProductID" title="" id="locationProductID" data-live-search="true">
                                        <option value=""><?php echo $this->translate('Select Service Material') ?></option>
                                    </select>
                                </td>
                                <td>
                                    <input class="form-control text-right" type="text" id="qty">
                                </td>
                                <td>
                                    <select class="form-control show-tick"  id="uom" data-live-search="true" disabled="true">
                                        <option value="0" ><?php echo $this->translate('Select a uom') ?></option>
                                    </select>
                                </td>
                                <td class="text-right">
                                    <strong class="btn btn-default add" id="add"><i class="glyphicon glyphicon-plus"></i></strong>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!--table_responsive-->
            </div><!--./col-->

           <!--  <h4><?php echo $this->translate("Trade Materials"); ?></h4>
            <div class="col-lg-12 margin_top">
                <div class="table table-responsive" style="overflow-x: auto; overflow-y: auto;">
                    <table class="job-vehicle-table job-table table table-striped margin_top_normal table-condensed">
                        <thead>
                            <tr>
                                <th class="text-center" width="40%"><?php echo $this->translate("Item Code / Item Name"); ?></th>
                                <th class="text-center" width="25%"><?php echo $this->translate("Standard Qty"); ?></th>
                                <th class="text-center" width="25%"><?php echo $this->translate("UOM"); ?></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody id="tradeMaterials" taskCardTaskProductType="2">
                            <tr class="sample hidden" id="sample">
                                <td>
                                    <input type="hidden" id="locationProductID" disabled="true">
                                    <input class="form-control" type="text" id="code" disabled="true">
                                </td>
                                <td>
                                    <input class="form-control text-right" type="text" id="qty" disabled="true">
                                </td>
                                <td>
                                    <select class="form-control show-tick"  id="uom" data-live-search="true" disabled="true">
                                        <option value="0" ><?php echo $this->translate('Select a uom') ?></option>
                                    </select>
                                </td>
                                <td class="text-right">
                                    <strong class="btn btn-default hidden save" id="save"><i class="fa fa-floppy-o"></i></strong>
                                    <strong class="btn btn-default edit" id="edit"><i class="fa fa-pencil-square-o"></i></strong>
                                </td>
                                <td class="text-right">
                                    <strong class="btn btn-default delete" id="delete"><i class="fa fa-trash-o"></i></strong>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr class="userInput" id="userInput" taskCardTaskProductType="2">
                                <td>
                                    <input type="hidden" id="selectLocationProductID">
                                    <input type="hidden" id="selectLocationProductName">
                                    <select class="form-control selectpicker locationProductID" title="" id="locationProductID" data-live-search="true">
                                        <option value=""><?php echo $this->translate('Select Trade Material') ?></option>
                                    </select>
                                </td>
                                <td>
                                    <input class="form-control text-right" type="text" id="qty">
                                </td>
                                <td>
                                    <select class="form-control show-tick"  id="uom" data-live-search="true" disabled="true">
                                        <option value="0" ><?php echo $this->translate('Select a uom') ?></option>
                                    </select>
                                </td>
                                <td class="text-right">
                                    <strong class="btn btn-default add" id="add"><i class="glyphicon glyphicon-plus"></i></strong>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div> --><!--table_responsive-->
            <!-- </div> -->
            <!--./col-->
        </div><!--modal_body-->

        <div class="modal-footer modal-footer-style">
            <button type="button" id="saveViewMaterialsModal" class="btn btn-primary"><?php echo $this->translate('Save') ?></button>
        </div>
    </div>
</div>