<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate("View Vehicle Type"); ?> <b id="viewVehicleModelTitle"></b></h4>
        </div>

        <div class="modal-body">
            <div class="col-lg-12 margin_top" id="viewVehicleTable">
                <div class="table table-responsive">
                    <table class="job-view-vehicle-table job-table table table-striped margin_top_normal table-condensed">
                        <thead>
                            <tr>
                                <th class="text-center" style="float: left;"><?php echo $this->translate("Vehicle Make"); ?></th>
                                <th class="text-right"><?php echo $this->translate("Vehicle Model"); ?></th>
                            </tr>
                        </thead>

                        <tbody id="viewVehicleModelTbody">
                            <tr class="subSample hidden" id="sample">
                                <td id="subModelname">
                                </td>
                                <td class="text-right">
                                    <input name="subId" id="subId" type="hidden" class="form-control" disabled="true" />
                                    <button type='button' class="viewVehiclSubModel btn btn-default">
                                        <i class="glyphicon glyphicon-list-alt"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>

                    </table>

                </div><!--table_responsive-->
            </div><!--./col-->

        </div><!--modal_body-->

        <div class="modal-footer modal-footer-style">
            <button type="button" id="closeTcTasks" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate("Close"); ?></button>
        </div>
    </div>
</div>