<div class="margin_top">
    <div class="col-lg-3 col-sm-3 col-xm-3"></div>
    <div class="col-lg-6 col-sm-6 col-xm-6" style="position: absolute;top: 50vh;left: 50%;transform: translateX(-50%) translateY(-50%);">
        <div class='panel panel-default clearfix'>
            <div class='panel-heading compound-cost-add text-center' ><b><?php echo $this->translate('Select your business type')?></b></div>
            <div class="col-lg-3 col-sm-3 col-xm-3"></div>
            <div class="col-lg-6 col-sm-6 col-xm-6" style="padding-top:16%;">
                <select class="form-control selectpicker" name="businessType" id="businessType" title="<?php echo $this->translate('Select your business type') ?>">
                    <?php 
                    foreach ($business_type as $key => $value) {
                        ?>
                        <option value=<?php echo $key ?>><?php echo $value?></option>
                        <?php
                    }
                    ?>
                </select> 
            </div>
            <div class="col-lg-3 col-sm-3 col-xm-3" style="padding-top:45%; padding-bottom: 10px;">
                <button class='btn btn-primary hidden' id="business-type" style="position: absolute; bottom: 10%;margin: auto; right: 25%;"><?php echo $this->translate('Submit') ?></button>
                <button class='btn btn-primary' id="business-type-next" style="position: absolute; bottom: 10%;margin: auto; right: 25%;"><?php echo $this->translate('Continue') ?></button>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-3 col-xm-3"></div>
</div>