<div class="margin_top">
    <div class="row">
        <div class="add_margin">
            <div class="col-lg-9 col-md-9 col-sm-9">
                <p style="font-size: 18px;"><?php echo $this->translate('Journal Entry Type');?></p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3">
                <button class="btn btn-primary pull-right" id = 'createNewJournalEntryType' >
                    <?php echo $this->translate('Create Journal Entry Type');?>
                </button>
            </div>
        </div>
    </div>
</div>

<div class='well clearfix well_custom_padding margin_top xs_view'>
    <div class="col-lg-3 col-md-3">
    	<label class="remove_weight margin_bottom_normal_low"><?php echo $this->translate('Search Journal Entry Type') ?></label>
    </div>

    <div class="col-lg-9 col-md-9">
        <select class="form-control selectpicker show-tick"  id="journal-entry-type-search" name="journal-entry-type-search" data-live-search="true">
            <option value=""><?php echo $this->translate("Select a Journal Entry Type"); ?></option>
        </select>
    </div>
</div><!--well-->

<!--table-->
<div class="margin_top">
    <div class="table table-responsive">

        <div id="journal-entry-type-list">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class=""><?php echo $this->translate('Journal Entry Type Name') ?></th>
                        <th class="text-center"><?php echo $this->translate('Edit') ?></th>
                        <th class="text-center"><?php echo $this->translate('Delete') ?></th>
                    </tr>
                </thead>

                <tbody>
                    <?php
                    foreach ($this->journalEntryType as $key => $journalEntryType) {
                        ?>
                        <tr>
                            <td class=""> <?php echo $journalEntryType->journalEntryTypeName; ?></td>
                            <td class="text-center">
                            	<a><span onclick="editJournalEntryType(<?php echo $journalEntryType->journalEntryTypeID; ?>)" class="pointer fa fa-pencil-square-o custom_font_size"></span></a>
                            </td>
                            <td class="text-center">
                                <a><span onclick="deleteJournalEntryType(<?php echo $journalEntryType->journalEntryTypeID; ?>)" class="pointer fa fa-trash-o custom_font_size"></span></a>
                            </td>
                            <?php
                        }
                        if (count($this->journalEntryType) == 0) {
                            ?>
                        <tr class="not_found">
                            <td colspan="3"><?php echo $this->translate('No results were found.'); ?></td>
                        </tr>
                    <?php }
                    ?>
                </tbody>
            </table>
            <?php
            echo $this->paginationControl(
                    $this->journalEntryType, 'sliding', array('partial/paginator.phtml', 'journalEntryType'), array(
                'route' => 'journal-entry-type', 'action' => 'create'
                    )
            );
            ?>
        </div>

    </div><!--tabele_responsive-->
    <div id="dynamicJournalEntryType"></div>

</div><!--margin_top-->

<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<?php echo $journalEntryTypeCreate?>
</div>

