<div id="journal-entry-type-list">
	<table class="table table-striped">
		<thead>
			<tr>
				<th class=""><?php echo $this->translate('Journal Entry Type Name') ?></th>
                <th class="text-center"><?php echo $this->translate('Edit') ?></th>
                <th class="text-center"><?php echo $this->translate('Delete') ?></th>
			</tr>
		</thead>
		<tbody>
			<?php
			foreach ($this->journalEntryType as $key => $journalEntryType) {
				?>
				<tr>
					<td class=""> <?php echo $journalEntryType->journalEntryTypeName; ?></td>
					<td class="text-center">
						<a><span onclick="editJournalEntryType(<?php echo $journalEntryType->journalEntryTypeID; ?>)" class="pointer fa fa-pencil-square-o custom_font_size"></span></a>
					</td>
					<td class="text-center">
						<a><span onclick="deleteJournalEntryType(<?php echo $journalEntryType->journalEntryTypeID; ?>)" class="pointer fa fa-trash-o custom_font_size"></span></a>
					</td>
				</tr>
				<?php
			}
			if (count($this->journalEntryType) == 0) {
				?>
				<tr class="not_found">
					<td colspan="3"><?php echo $this->translate('No results were found.'); ?></td>
				</tr>
		<?php } ?>
		</tbody>
	</table>
</div>