<div class="modal-dialog">
    <div class="modal-content" style="">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate("Journal Entry Type") ?></h4>
        </div>

        <div class="modal-body">
        	<?php
        	$form = $this->journalEntryTypeForm;
        	$form->setAttribute('id', 'create-journal-entry-type-form');

        	$form->prepare();
        	echo $this->form()->openTag($form);
        	echo $this->formHidden($form->get('journalEntryTypeID'));
        	echo $this->formHidden($form->get('entityID'));
        	?>

        	<div class="row_with_margin clearfix">
    			<div class="form-group">
    				<div class="col-lg-5">
    					<label class="control-label label_bottom_margin" for="journalEntryTypeName"><?php echo $this->translate('Journal Entry Type Name')?><font color="red"> *</font></label>
    				</div>

    				<div class="col-lg-7">
    					<?php echo $this->formRow($form->get('journalEntryTypeName')); ?>
    				</div>
    			</div>

    			<div class="form-group">
    				<div class="col-lg-12">
                        <div class="checkbox">
                            <?php echo $this->formRow($form->get('journalEntryTypeApprovedStatus')); ?>
                            <label class="control-label label_bottom_margin" for="journalEntryTypeApprovedStatus"><?php echo $this->translate('Approve Enable')?></label>
                        </div>
                    </div>
    			</div>
        	</div>

        	<div id="journalEntryTypeApproverValues" class="hidden margin_bottom_normal">

        		<div class="margin_top_normal margin_bottom_normal_low">
        			<label><?php echo $this->translate('Approver Value Limit') ?></label>
        		</div>

        		<?php
        		$form1 = $this->journalEntryTypeApproversForm;
        		$form1->setAttribute('id', 'create-journal-entry-type-approvers-form');

        		$form1->prepare();
        		echo $this->form()->openTag($form1);
        		echo $this->formHidden($form1->get('journalEntryTypeApproversID'));
        		?>

        		<table id="journalEntryTypeApproverTable" class="table">
        			<tbody id='approverBody'>
        				<tr id = 'presetSample' class = 'hidden' >
        					<td width="20%">
        						<div class="_remove_margin_bottom">
        							<label class="_remove_bold"><?php echo $this->translate('Min') ?></label>
        							<?php echo $this->formRow($form1->get('journalEntryTypeApproversMinAmount')); ?>
        						</div>
        					</td>
        					<td width="20%">
        						<div class=" _remove_margin_bottom">
        							<label class="_remove_bold"><?php echo $this->translate('Max') ?></label>
        							<?php echo $this->formRow($form1->get('journalEntryTypeApproversMaxAmount')); ?>
        						</div>
        					</td>
        					<td width="40%">
        						<div class=" _remove_margin_bottom">
        							<label class="_remove_bold"><?php echo $this->translate('Approvers'); ?></label>
        							<?php echo $this->formRow($form1->get('employeeID')); ?>
        						</div>
        					</td>
        					<td width="5%" name="save">
        						<div class=" _remove_margin_bottom">
        							<label class="display_block">&nbsp;</label>
        							<button  type='button' class="save btn btn-default">
        								<i class="fa fa-plus"></i>
        							</button>
        						</div>
        					</td>
        					<td width="5%" name='edit' class="hidden">
        						<label class="display_block">&nbsp;</label>
        						<button  type='button' class="edit btn btn-default">
        							<i class="fa fa-pencil-square-o"></i>
        						</button>
        					</td>
        					<td width="5%" name='update' class="hidden">
        						<label class="display_block">&nbsp;</label>
        						<button  type='button' class="update btn btn-default">
        							<i class="fa fa-floppy-o"></i>
        						</button>
        					</td>
        					<td width="5%" name='delete' class="hidden">
        						<label class="display_block">&nbsp;</label>
        						<button  type='button' class="delete btn btn-default">
        							<i class="fa fa-trash-o"></i>
        						</button>
        					</td>
        				</tr>
        			</tbody>
        		</table>
        	</div>
        </div>

        <div class="modal-footer">
        	<?php echo $this->formRow($form->get('createJournalEntryType')); ?>
			<?php echo $this->formRow($form->get('cancelJournalEntryType')); ?>
			<?php echo $this->form()->closeTag($form);?>
        </div>
	</div>
</div>


