<?php
$form = $this->form;
$form->setAttribute('id', 'create-cost-type-form');
?>

<div class="cost-type-form-container margin_top">

    <div class="well well_heading">
        <h5 class="font_weight addTitle"><?php echo $this->translate('Add Cost Type') ?></h5>
        <h5 class="font_weight updateTitle hidden"><?php echo $this->translate('Update Cost Type') ?></h5>
    </div>

    <div class="well well_body">

        <?php
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formHidden($form->get('costTypeID'));
        ?>

        <div class="_row_with_margin clearfix">

            <!--cost_type_name-->
            <div class="col-lg-4 col-md-6">
                <div class="form-group">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Cost Type Name') ?><font color="red"> *</font></label>
                    <div class="">
                        <?php echo $this->formRow($form->get('costTypeName')); ?>
                    </div>
                </div>
            </div>

            <!--cost_type_description-->
            <div class="col-lg-4 col-md-6">
                <div class="form-group">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Cost Type Description') ?><font color="red"> *</font></label>
                    <div class="">
                        <?php echo $this->formRow($form->get('costTypeDescription')); ?>
                    </div>
                </div>
            </div>

            <!--cost_item-->
            <div class="col-lg-4 col-md-6">
                <div class="form-group">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Cost Item') ?><font color="red"> *</font></label>
                    <div class="">
                        <select class="form-control selectpicker" title="" id="costItem" name="costItem" data-live-search="true">
                            <option value="">Select Item</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="form-group">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Minimum Value') ?></label>
                    <div class="">
                        <?php echo $this->formRow($form->get('minimumValue')); ?>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="form-group">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Maximum Value') ?></label>
                    <div class="">
                        <?php echo $this->formRow($form->get('maximumValue')); ?>
                    </div>
                </div>
            </div>

            <!--update&cancel-->
            <div class="col-lg-4 updateDiv hidden">
                <label class="control-label label_bottom_margin">&nbsp;</label>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary update cost_type_update_btn"><?php echo $this->translate('Update') ?></button>
                    <button type="button" class="btn btn-default cancel"><?php echo $this->translate('Cancel') ?></button>
                </div>
            </div>

            <!--reset&add_new-->
            <div class="col-lg-4 addDiv">
                <label class="control-label label_bottom_margin">&nbsp;</label>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary add"><?php echo $this->translate('Add New') ?></button>
                    <button type="reset" class="btn btn-default reset"><?php echo $this->translate('Reset') ?></button>
                </div>
            </div>

        </div>

        <?php
        echo $this->form()->closeTag($form);
        ?>
    </div>
</div>

<!--search-->
<div class="well clearfix well_custom_padding margin_top costType">
    <form class="cost-type-search" id="cost-type-search" method="post" action="">
        <div class="col-lg-3">
            <label class="remove_weight"><?php echo $this->translate('Search a Cost Type') ?></label>
        </div>
        <div class="col-lg-9 xs-search-field">
            <div class=" input-group">
                <input type="text" class="search form-control" id ='cost-type-search-keyword' placeholder="<?php echo $this->translate('Enter Cost Type') ?>"/>
                <span class="input-group-btn">
                    <button class="btn btn-default search_btn_css" type="submit"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default reset" type="reset"><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </form>
</div>

<!--paginate cost type list add in here-->
<div id="cost-type-list" class="margin_top">
    <?php echo $this->partial('job-card/cost-type/list', array('costTypeList' => $this->costTypeList, 'paginated' => $this->paginated)); ?>
</div>