<div class="modal-dialog">
    <div class="modal-content" style="">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate('Import Suppliers') ?></h4>
        </div>
		
        <div class="modal-body">
            <?php echo $this->translate('If a Supplier Exists in Database?') ?>
            <form>
                <input type="radio" name="importmethod" value="replace"><?php echo $this->translate('Replace') ?><br>
                <input type="radio" name="importmethod" value="discard"><?php echo $this->translate('Discard') ?>
            </form>
        </div>
		
        <div class="modal-footer">
            <button id="import-button" class="btn btn-primary"><?php echo $this->translate('OK') ?></button>
			<button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Cancel') ?></button>
        </div>
    </div>
</div>