<?php
$this->headScript()->prependFile($this->basePath('js/jobs/vehicles-setup.js'));
?>

<!-- Vehicle add/edit form -->
<div class="cost-type-form-container margin_top">
	<form id="addVehicleForm" name="addVehicleForm">
    <div class="well well_heading">
    	<h5 id="addVehicleTitle" class="font_weight">
    		<?php echo $this->translate('Add Vehicle'); ?>
    	</h5>
    	<h5 id="editVehicleTitle" class="font_weight hidden">
    		<?php echo $this->translate('Edit Vehicle'); ?>
    	</h5>
    </div>
    <div class="well well_body">
    	<div class="_row_with_margin clearfix">
			<input type="hidden" id="editMode" value="false">
			<div class="form-row">
				<div class="form-group col-md-2">
					<label for="vehicleCode">
						<?php echo $this->translate('Vehicle Code'); ?>
						<font style="color: red">&nbsp*</font>
					</label>
					<input type="text" class="form-control" id="vehicleCode" placeholder="<?php echo $this->translate('Eg: VEH001'); ?>">
				</div>
				<div class="form-group col-md-2">
					<label for="vehicleCode">
						<?php echo $this->translate('Vehicle Name'); ?>
						<font style="color: red">&nbsp*</font>
					</label>
					<input type="text" class="form-control" id="vehicleName" placeholder="<?php echo $this->translate('Eg: Delivery Van'); ?>">
				</div>
				<div class="form-group col-md-2">
					<label for="vehicleCode">
						<?php echo $this->translate('Registration No'); ?>
						<font style="color: red">&nbsp*</font>
					</label>
					<input type="text" class="form-control" id="registrationNo" placeholder="<?php echo $this->translate('Eg: AAA-1111'); ?>">
				</div>
				<div class="form-group col-md-2">
					<label for="vehicleCode">
						<?php echo $this->translate('Cost Per KM'); ?>
						<font style="color: red">&nbsp*</font>
					</label>
					<div class="pull-right input-group">
	                    <input type="text" class="form-control text-right" id="costPerKM" placeholder="<?php echo $this->translate('Eg: 100.00'); ?>">
	                    <strong class="input-group-addon">
	                    	<?php echo $companyCurrencySymbol; ?>
	                    </strong>
	                </div>
				</div>

				<div class="form-group col-md-4">
					<div style="margin-top: 24px; float: right;">
						<button type="submit" class="btn btn-primary" id="btnAddNewVehicle"><?php echo $this->translate('Add New'); ?></button>
						<button type="reset" class="btn btn-default" id="btnResetNewVehicle"><?php echo $this->translate('Reset'); ?></button>
					</div>
				</div>
			</div>
		</div>
    </div>
	</form>
</div>

<!-- Vehicle search form -->
<div class="well clearfix well_custom_padding margin_top">
    <form id="vehicleSearchForm">
        <div class="col-lg-3">
            <label class="remove_weight"><?php echo $this->translate('Search Vehicle') ?></label>
        </div>
        <div class="col-lg-9 xs-search-field">
            <div class=" input-group">
                <input type="text" class="search form-control" id ='vehicleSearchKey' placeholder="<?php echo $this->translate('Enter Vehicle') ?>"/>
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-default search_btn_css" value="<?php echo $this->translate('Search') ?>">
                    <input type="reset" class="btn btn-default search_btn_css" value="<?php echo $this->translate('Cancel') ?>">
                </span>
            </div>
        </div>
    </form>
</div>

<!-- Vehicle list -->
<div id="vehiclesListDiv">
	<?php echo $vehiclesList; ?>		
</div>

<!-- Vehicle list pagination -->
<div id="vehicle-list" class="margin_top">
    <?php 
    	if ($this->paginated) {
    	    echo $this->paginationControl(
    	            $vehicles, 'sliding', array('partial/paginator.phtml', 'vehicle'), array('route' => 'vehicle', 'action' => 'index')
    	    );
    	}
    ?>
</div>
