<div class="well well_heading margin_top">
	<form>
		<div class="form-row">
			<label for="resourceUsedInBusiness"><?php echo $this->translate('Select types of resources are being used in your business'); ?></label>
			<div class="checkbox">
			  <label><input type="checkbox" value=""><?php echo $this->translate('Raw Materials'); ?></label>
			</div>
			<div class="checkbox">
			  <label><input type="checkbox" value=""><?php echo $this->translate('Items(FGs)'); ?></label>
			</div>
			<div class="checkbox">
			  <label><input type="checkbox" value=""><?php echo $this->translate('Fixed Assets'); ?></label>
			</div>
			<div class="checkbox">
			  <label><input type="checkbox" value=""><?php echo $this->translate('Non Inventory Items'); ?></label>
			</div>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary"><?php echo $this->translate("UPDATE"); ?></button>
			<button type="reset" class="btn btn-secondary"><?php echo $this->translate('RESET'); ?></button>
		</div>
	</form>
</div>
