<div class="table-responsive">
    <table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">
					<?php echo $this->translate('Vehicle Code'); ?>
				</th>
				<th scope="col">
					<?php echo $this->translate('Vehicle Name'); ?>
				</th>
				<th scope="col">
					<?php echo $this->translate('Registration No'); ?>
				</th>
				<th scope="col">
					<?php echo $this->translate('Cost/ Km'); ?>
					(<?php echo $companyCurrencySymbol; ?>)
				</th>
				<th class="text-center" scope="col">
					<?php echo $this->translate('Edit'); ?>
				</th>
				<th class="text-center" scope="col">
					<?php echo $this->translate('Active'); ?>
				</th>
				<th class="text-center" scope="col">
					<?php echo $this->translate('Delete'); ?>
				</th>
			</tr>
		</thead>
		<tbody id="vehiclesListBody">
			<?php
			if (count($vehiclesList) == 0) {
			?>
			    <tr class="not_found">
			        <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
			    </tr>
		    <?php
			} else {
				foreach ($vehiclesList as $key => $value) {
					?>
						<tr 
							vehicleid = "<?php echo $value['vehicleId']; ?>"
							vehiclestatus = "<?php echo $value['vehicleStatus']; ?>"
							entityid = "<?php echo $value['entityId']; ?>"
							>
							<td id="vehicleCode"><?php echo $value['vehicleCode']; ?></td>
							<td id="vehicleName"><?php echo $value['vehicleName']; ?></td>
							<td id="vehicleNumber"><?php echo $value['vehicleRegistrationNumber']; ?></td>
							<td id="costPerKM"><?php echo $value['vehicleCost']; ?></td>
							<td id="edit" class="text-center">
								<button class="edit btn btn-link inline-btn" >
								    <span class="grnEdit glyphicon glyphicon-edit"></span>
								</button>
							</td>
							<td class="text-center">
								<button class="changeActivation btn btn-link inline-btn" >
								    <?php
								    	if($value['vehicleStatus'] == 1) {
								    		echo '<span class="changeActivation fa fa-check-square-o custom_font_size"></span>';
								    	} else if($value['vehicleStatus'] == 2) {
								    		echo '<span class="fa fa-square-o custom_font_size"></span>';
								    	} 
								    ?>
								    
								</button>
							</td>
							<td id="delete" class="text-center">
							  <button class="delete btn btn-link inline-btn" >
							      <span class="fa fa-trash-o custom_font_size"></span>
							  </button>
							</td>
						</tr>
			<?php }} ?>
		</tbody>
	</table>
</div>

<!--pagination-->
<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->vehiclesList, 
            'sliding', 
            array('partial/paginator.phtml', 'vehiclesList'), 
            array('route' => 'vehicle', 'action' => 'create')
    );
}
?>
