<html moznomarginboxes mozdisallowselectionprint style="overflow-x:scroll;overflow-y:hidden">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="Content-Type" content="application/pdf; charset=utf-8"/>
        <style>
            body{
                color: #000;
                font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                font-size: 14px;
                line-height: 1.42857;
                margin: 0px;
                padding: 0px;
            }

            div.body{
                min-height: 9.5in;
                padding-bottom: 0.5in;
                position: relative;
            }

            table.table, .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
                border: 0px !important;
            }

            .data_table .table thead > tr > th, .data_table .table tbody > tr > th, .data_table .table tfoot > tr > th, .data_table .table thead > tr > td, .data_table table tbody > tr > td, .data_table .table tfoot > tr > td {
                line-height: 1.42857;
                padding: 8px;
                vertical-align: top;
            }

            .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
                border-top: 1px solid #DDDDDD;
            }

            .data_table .table-bordered > thead > tr > th, .data_table .table-bordered > tbody > tr > th, .data_table .table-bordered > tfoot > tr > th, .data_table .table-bordered > thead > tr > td, .data_table .table-bordered > tbody > tr > td, .data_table .table-bordered > tfoot > tr > td {
                border: 1px #e0e0e0 solid !important;
            }

            .data_table .product-list > tbody >tr > td{
                padding: 0px;
            }

            hr{
                -moz-border-bottom-colors: none;
                -moz-border-left-colors: none;
                -moz-border-right-colors: none;
                -moz-border-top-colors: none;
                border-color: #EEEEEE;
                border-image: none;
                border-right: 0 none;
                border-style: solid none none;
                border-width: 1px 0 0;
                margin-bottom: 20px;
                margin-top: 20px;
            }

            h2 {
                display: block;
                font-size: 32px;
                -webkit-margin-before: 0.83em;
                -webkit-margin-after: 0.83em;
                -webkit-margin-start: 0px;
                -webkit-margin-end: 0px;
                font-weight: bold;
            }

            h3, .h3 {
                font-size: 24px;
            }

            h4, .h4 {
                font-size: 18px;
            }
            h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
                font-weight: 500;
                line-height: 1.1;
            }
            table {
                border-collapse: collapse;
                border-spacing: 0;
                max-width: 100%;
                background-color: transparent;
            }
            h1, h2, h3 {
                margin-top: 20px;
                margin-bottom: 10px;
            }
            h4, h5, h6 {
                margin-top: 10px;
                margin-bottom: 10px;
            }
            td, th {
                display: table-cell;
                vertical-align: inherit;
                font-size: 14px;
            }
            th {
                font-weight: bold;
            }
            .bigtable thead>tr>th, .bigtable tbody>tr>th, .bigtable tfoot>tr>th, .bigtable thead>tr>td, .bigtable tbody>tr>td, .bigtable tfoot>tr>td {
                padding: 8px;
                line-height: 1.428571429;
                vertical-align: top;
                border-top: 1px solid #ddd;
            }
            .table thead>tr>th {
                vertical-align: bottom;
            }
            .table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
                border: 1px solid #ddd;
            }
            .table caption+thead tr:first-child th, .table colgroup+thead tr:first-child th, .table thead:first-child tr:first-child th, .table caption+thead tr:first-child td, .table colgroup+thead tr:first-child td, .table thead:first-child tr:first-child td {
                border-top: 0;
            }
            .table-bordered {
                border: 1px solid #ddd;
            }
            .table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
                background-color: #f9f9f9;
            }
            .text-center {
                text-align: center;
            }
            .text-right {
                text-align: right;
            }
            .add_block{
                width: 3.5in;
            }
            .A4{
                background-color: #ffffff;
                margin-top: 30px;
                margin-left: auto;
                margin-right: auto;
                border: solid 1px;
                padding: 0.5in;
                height: 11.6in;
                width: 8.27in;
            }
            .summary{
                /*position: absolute;*/
                /*bottom: 0;*/
                /*left: 0;*/
                padding-top:40px;
                width: 100%;
                page-break-inside: avoid;
            }
            #comment{
                word-wrap: break-word;
            }
            #summary_tbl{
                padding: 8px;
                line-height: 1.428571429;
                vertical-align: top;
                border-top: 1px solid #ddd;
            }
            .relative_data{
                position: relative;
                vertical-align: bottom;
            }

            .logo{
                max-height: 75px;
                margin-bottom: 10px;
            }

            .data_table{
                padding-top: 10px;
                margin-bottom: 50px;
                margin-bottom: 20px;
                min-height: 400px;
                padding-bottom: 100px;
                position: relative;
            }

            footer{
                position: absolute;
                bottom: 0px;
                left: 0px;
                width: 100%;
                /*padding:10px;*/
                font-size:12px;
                color: #000;
            }

            footer.doc{
                bottom: 28px;
            }

            footer.doc td{
                font-size: 12px;
            }

            @media print
            {
                @page {
                    size: A4;
                    margin: 10mm;
                    margin-bottom: 0mm;
                }
                body{
                    background-color:#FFFFFF;
                    margin: 0px;  /* the margin on the content before printing */
                }
            }
        </style>
    </head>
    <body>
        <div class="body">
            <?php echo $this->body; ?>
            <footer><?php echo $this->translate('Powered by ezBiz (ezbizapp.com / +94 114 331188)') ?></footer>
        </div>
    </body>
    <script type="text/javascript">
        var iframeWin = parent.document.getElementById("preview").getElementsByTagName('iframe')[0];
        var body = document.body,
                html = document.documentElement;
        (function() {
            setTimeout(function() {
                var height = Math.max(body.scrollHeight, body.offsetHeight,
                        html.clientHeight, html.scrollHeight, html.offsetHeight);
                if (height > 100) {
                    iframeWin.style.height = (height + 100) + 'px';
                }
            }, 100);
        })();
    </script>    
</html>