<div class="account-class-form-container margin_top">

    <div class="well well_heading">
        <h5><?php echo $this->translate('Create Account class') ?></h5>
    </div>

    <div class="well well_body">

        <?php
            $form = $this->financeAccountClassForm;
            $form->setAttribute('id', 'create-finance-account-class-form');

            $form->prepare();
            echo $this->form()->openTag($form);
            echo $this->formHidden($form->get('financeAccountClassID'));
            echo $this->formHidden($form->get('entityId'));
        ?>

            <div class="form-horizontal">
                <div class="_row_with_margin clearfix">

                    <!--finanace account class name-->
                    <div class="col-lg-4">
                        <label class="label_bottom_margin _remove_bold" for="financeAccountClassName"><?php echo $this->translate('Account Class Name')?><font color="red"> *</font></label>
                        <?php echo $this->formRow($form->get('financeAccountClassName')); ?>
                    </div>

                    <!--fian-->
                    <div class="col-lg-4">
                        <label class="label_bottom_margin _remove_bold" for="financeAccountTypesID"><?php echo $this->translate('Account Types') ?><font color="red"> *</font></label>
                        <?php echo $this->formRow($form->get('financeAccountTypesID')); ?>
                    </div>

                    <!--reset&add-->
                    <div class="col-lg-4">
                        <label>&nbsp;</label>
                        <div class="text-right">
                            <?php echo $this->formRow($form->get('createFinanceAccountClass')); ?>
                            <?php echo $this->formRow($form->get('cancelFinanceAccountClass')); ?>
                        </div>
                    </div>

                </div>
            </div>

        <?php
            echo $this->form()->closeTag($form);
        ?>

    </div><!--well-->
</div><!--category_form_container-->