<div id="account-class-list">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class=""><?php echo $this->translate('Account Class Name') ?></th>
                <th class=""><?php echo $this->translate('Account Type') ?></th>
                <th class="text-center"><?php echo $this->translate('Edit') ?></th>
                <th class="text-center"><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>

        <tbody>
            <?php
            foreach ($this->financeAccountClass as $key => $accountClass) {
                ?>
                <tr>
                    <td class=""> <?php echo $accountClass->financeAccountClassName; ?></td>
                    <td class=""> <?php echo $accountClass->financeAccountTypesName; ?></td>
                    <td class="text-center">
                    	<a class="edits" href="<?php echo $this->url('account-classes', array('action' => 'create', 'param1' => $accountClass->financeAccountClassID));
                    		?>" id="<?php echo $accountClass->financeAccountClassID ?>">
                    		<span class="fa fa-pencil-square-o custom_font_size"></span>
                    	</a>
                    </td>
                    <td class="text-center">
                         <a><span onclick="deleteAccountClass(<?php echo $accountClass->financeAccountClassID; ?>)" class="pointer fa fa-trash-o custom_font_size"></span></a>
                    </td>
                    <?php
                }
                if (count($this->financeAccountClass) == 0) {
                    ?>
                <tr class="not_found">
                    <td colspan="4"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
            <?php }
            ?>
        </tbody>
    </table>
</div>