<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default dashboard-widgets">
		    <div class="panel-heading">
		    	<div class="row text-center">
					<span class="job-dashboard-header">Employees</span>
				</div>
		    </div>
		    <div class="panel-body vehicle_reg_list_panel_body" id="mainServiceList">
			    <table class="table">
				    <thead>
				      	<tr>
					        <th>Emp Code</th>
					        <th>Emp Name</th>
					        <th>Hours Worked</th>
					        <th>Completed Services</th>
					        <th>Incentive Earned</th>
				      	</tr>
				    </thead>
				    <tbody>
				    	<?php foreach ($employees as $key => $employee) {
				    		$employee = (object) $employee;
				    	?>
					      <tr class="main-emp-row" id="<?php echo 'main_row_'.$jobService->jobTaskID ?>" data-emp-id="<?php echo $employee->employeeId ?>">
					        <td style="background-color: #c0c0c0; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid"><?php echo $employee->employeeCode?></td>
					        <td style="background-color: #c0c0c0; border-top: 1px solid; border-bottom: 1px solid;"><?php echo $employee->employeeFirstName.' '.$employee->employeeSecondName?></td>
					        <td style="background-color: #c0c0c0; border-top: 1px solid; border-bottom: 1px solid;"><?php echo $employee->totalWorkHours?></td>
					        <td style="background-color: #c0c0c0; border-top: 1px solid; border-bottom: 1px solid;"><?php echo $employee->completedTasks?></td>
					        <td style="background-color: #c0c0c0; border-top: 1px solid; border-bottom: 1px solid; border-right: 1px solid"><?php echo $employee->totalIncentive?></td>
					        <td>
					        	<button type="button" class="btn btn-primary viewEmpDetails">View Details</button>
					        </td>
					      </tr>
					    <?php 
				    		}
				    	?>
				    </tbody>
			    </table>
		    </div>
		</div>
	</div>
</div>
