<br><br><br>
<div class="row">
    <div class="col-lg-2 col-md-3 col-xs-6">
        <input type="text" name="serviceStartingDate" id="serviceStartingDate" class="form-control" placeholder="From" data-date-format = <?php echo $this->userDateFormat ?>>
    </div>
    <div class="col-lg-2 col-md-3 col-xs-6">
        <input type="text" name="serviceEndingDate" id="serviceEndingDate" class="form-control" placeholder="To" data-date-format = <?php echo $this->userDateFormat ?>>      
    </div>
</div>
<br>
<div class="row btn-group-toggle" id="department-list" style="padding: 4px"> 
    <div id="allDep" class="col-lg-2 col-md-3 col-sm-3 job-horizontal-list text-center department-list-item" data-department-id = "null"><?php echo 'All Departments' ?></div>
    <?php 
        foreach ($this->departmentList as $key => $department) {
            $department = (object) $department;
    ?>
    <div id="<?php echo 'dep_'.$department->departmentID ?>" style="word-break: break-all;" class="col-lg-2 col-md-3 col-sm-3 job-horizontal-list text-center department-list-item" data-department-id="<?php echo $department->departmentID ?>"><?php echo $department->departmentName; ?></div>
    <?php 

    }
    ?>
</div>
<br><br><br>
<div class="row" id="employeePerformanceList">
    <?php echo $this->partial('jobs/employee-management/employee-performance-list', array('employees' => $this->employees)); ?>
</div>

<div class="modal fade" id="employeeJobTaskModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog _custom_large_modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Job Services</h4>
            </div>
            <div class="modal-body">
                <div id="employee-job-task-list" class="margin_top">
                    <?php echo $this->partial('jobs/service-progress-update/view-due-service-list', array('employeesjobTaskList' => $this->employeesjobTaskList)); ?>
                </div>
            </div>
            <br>
            <div class="modal-footer modal-footer-style">
                <div class="row" id="viewServiceRates">
                    <div class="col-lg-12 col-md-12 col-xs-12 text-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    @media screen and (min-width: 1024px) {
        #department-list {
            overflow-y: scroll;
            height: 156px;
        }
    }
</style>
