<h5><?php echo $this->translate('Uploaded contents'); ?></h5>
<div style="display: none" id="importheader"><?php echo $this->header ?></div>
<div style="display: none" id="importdelim"><?php echo $this->delim ?></div>
<div style="display: none" id="importcolumncount"><?php echo $this->columns ?></div>
<p> <?php echo "(Total contents - {$contactCountDetails['noOfContacts']} ,New Contacts - {$contactCountDetails['noOfNewContacts']} , Existing contacts - {$contactCountDetails['noOfExistContacts']})"; ?></p>
<div class="row panel">
    <div id="customer-data_list">
        <div class="test-body">
            <table id="importdatatable" class="table table-striped">
                <thead>
                    <tr>
                        <?php foreach($colarray as $key=>$column){ ?>
                            <th class="col-lg-1">
                                <?php echo $column; ?>
                            </th>
                        <?php }?>
                    </tr>
                </thead>
                <tbody >
                    <?php
                        $i = 0;
                        foreach ($importArray as $key => $contactRow) {
                    ?>
                            <tr data-column='<?php echo $i; ?>'>
                            <?php 
                                foreach($colarray as $key=>$column){

                            ?>
                                <td class="col-lg-3"> <?php echo $contactRow[$column]; ?></td>
                            <?php }?>
                            </tr>
                    <?php
                            $i++;
                        }
                    ?>
                </tbody>
            </table>
        </div>

        <!--hidden fields-->
        <input id="fileData" class="hidden" value="<?php echo htmlentities(serialize($fData)); ?>">
        <input id="fileHeader" class="hidden" value="<?php echo $header ?>">
        <input id="fileHandlerType" class="hidden" value="<?php echo $fileHandlerType; ?>">
        <div class="text-right margin_top">
            <button id="saveContactListFromCsv" class="btn btn-primary float-right"><?php echo $this->translate('Save') ?></button>
            <button id="contactImportLitViewBack" type="reset" class="btn btn-default"><?php echo $this->translate('Back') ?></button>
        </div>
    </div>
</div>

<style type="text/css">
 
.test-body {
    width: auto;
    height: 500px;
    overflow: auto;
}


</style>


