<div class="margin_top margin_bottom viewContactDiv">
    <!-- <div class="well well_heading">
        <h5 class="font_weight"><?php echo $this->translate('View Contacts List'); ?></h5>
    </div> -->

    <div class="" style="height: 600px">
        <div class="well clearfix well_custom_padding margin_top">
            <div class="col-lg-1 col-md-1 col-sm-1 xs-margin-bottom" style="padding-bottom: 25px">
                <label><?php echo $this->translate('Search List'); ?></label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 xs-margin-bottom">
                <select id="contactListSearch" class="selectpicker form-control" data-live-search="true">
                    <option value="" ><?php echo $this->translate('Search Contacts List') ?></option>
                </select>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
                <button type="button" class="btn btn-default btn-block" style="width: 40% !important"  id="clear-search"><?php echo $this->translate('X') ?></button>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <button type="button" class="btn btn-primary btn-block"  id="add-contact"><?php echo $this->translate('Create a List') ?></button>
            </div>
        </div>
        <div id="contactListsList">
            <?php echo $this->partial('invoice/contacts/contact-list-table', array('contactList' => $this->contactList, 'isPaginated' => $this->isPaginated)) ?>
        </div>
    </div>


</div>
<div class="margin_top margin_bottom createContactDiv hidden">
    <div class="well well_heading">
        <h5 class="font_weight well_title"><?php echo $this->translate('Add New Contact List'); ?></h5>
    </div>

    <div class="well well_body">
        <div class="form-horizontal">
        
            <div class="form-group"><!-- Contact list code -->
                <label for="customerTitle" class="col-lg-2 col-md-2 col-sm-12 control-label"><?php echo $this->translate('Contact list code') ?></label>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <input type="text" name="listCode" placeholder="List Code" id="listCode" class="form-control">
                </div>

                <label for="customerTitle" class="col-lg-2 col-md-2 col-sm-12 control-label"><?php echo $this->translate('Contact list Name') ?></label>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <input type="text" name="listName" placeholder="List Name" id="listName" class="form-control">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12">
                    <button  id="btnCsvUpload" class="btn btn-primary" ><?php echo $this->translate('Upload CSV') ?></button>
                    <button  id="btnSelectFromContact" class="btn btn-primary" ><?php echo $this->translate('Select from contact') ?></button>
                </div>
            </div>

            <hr>
            <div id="contactViewDiv">
                <div class=" clearfix well_custom_padding margin_top margin_bottom">
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <label class="remove_weight"><?php echo $this->translate('Search a Customer') ?>
                            <a class="help_icon_js" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="top" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('CONTACT_LIST_SEARCH_CUST') ?>">
                                <i class="fa fa-question-circle help_icon"></i>
                            </a>
                        </label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8 col-vxs-12 vxs-margin-bottom">
                        <select id="contactSearch" class="selectpicker form-control" data-live-search="true" title="Select">
                            <option value="undefined" ><?php echo $this->translate('Select') ?></option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 col-vxs-12">
                        <button type="button" class="btn btn-default btn-block" id="clear-select-contact"><?php echo $this->translate('Clear Search') ?></button>
                    </div>
                </div>
                <div class="form-group select-all-div">
                    <div class="col-lg-12 col-md-12 col-sm-12 xs-margin-bottom">                        
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <label >
                                <input type="checkbox" name="selectAll" />
                                <?php echo $this->translate('Select All') ?>
                            </label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <button  id="btnAddNewContact" class="btn btn-primary" data-saveType = "1"><?php echo $this->translate('Add a new contact') ?></button>    
                        </div>
                    </div>
                </div>
                <div class="test-body">
                    <table id="contactListTable" class="table table-striped">
                        <thead id="contactListTableThead">
                            <tr>
                                <th style="width: 23%"><?php echo $this->translate('Name') ?></th>
                                <th style="width: 23%"><?php echo $this->translate('Designation') ?></th>
                                <th style="width: 23%"><?php echo $this->translate('Contact Number') ?></th>
                                <th style="width: 20%"><?php echo $this->translate('Email') ?></th>
                                <th style="width: 10%"><?php echo $this->translate('Select') ?></th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr id="contactSampleRow" class="hidden">
                                <td class="contactName"></td>
                                <td class="contactDesignation"></td>
                                <td class="contactPhoneNumber"></td>
                                <td class="contactEmail"></td>
                                <td class="text-center"><input name='contact[]' class="promoCustomerSelect" type="checkbox" ></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
            
            
                <div class="form-group margin_top_high">
                    <div class="col-lg-5 hidden-md margin_top_normal"></div>
                    <div class="col-lg-7 col-md-9 col-sm-9 text-right margin_top_normal">
                        <button  id="saveButton" class="btn btn-primary" data-saveType = "1"><?php echo $this->translate('Save') ?></button>
                        <button  id="updateButton" class="btn btn-primary hidden" data-saveType = "1"><?php echo $this->translate('Update') ?></button>
                        <!-- <button  id="saveAndCreateButton" class="btn btn-primary" data-saveType = "2"><?php echo $this->translate('Save & Add New') ?></button> -->
                        <button id="cancelbutton" class="btn btn-default"><?php echo $this->translate('Cancel') ?></button>
                    </div>
                </div>
            </div>
            <div id="csvUploadDiv" class="hidden">
                <?php echo $this->contactCsvImportView; ?>
            </div>
            <div id="importMappingDiv" class="hidden">
            </div>
            <div id="importListDiv" class="hidden">
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="contactListViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->contactListView; ?>
</div>
<div class="modal fade" id="contactCreateViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->contactCreateView; ?>
</div>


<style type="text/css">
 
.test-body {
    width: auto;
    height: 500px;
    overflow: auto;
}


</style>