<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="_remove_margin_bottom no_top_margin" id="doc_histry_view"><?php echo $this->translate('View Contact List') ?></h4>
            <!-- <h4 class="_remove_margin_bottom no_top_margin hidden" id="relat_doc_view"><?php echo $this->translate('Related Documents') ?></h4> -->
        </div>
        <div class="modal-body">
            <div >
                <label for="contactListCode" class="control-label"><?php echo $this->translate('Contact list code') ?> : </label>
                <label for="contactListCode" class="control-label" id="lblContactListCode"></label>
            </div>
            <div >
                <label for="contactListCode" class="control-label"><?php echo $this->translate('Contact list Name') ?> : </label>
                <label for="contactListCode" class="control-label" id="lblContactListName"></label>
            </div>
            
            <hr/>
            <table id="contactTable" class="table table-striped table _remove_margin_bottom hidden">
                <thead id="contactTableThead">
                    <tr>
                        <th style="width: 25%"><?php echo $this->translate('Name') ?></th>
                        <th style="width: 25%"><?php echo $this->translate('Designation') ?></th>
                        <th style="width: 25%"><?php echo $this->translate('Contact Number') ?></th>
                        <th style="width: 25%"><?php echo $this->translate('Email') ?></th>
                    </tr>
                </thead>
                <tbody >
                    <tr id="conSampleRow" class="hidden">
                        <td class="contactName"></td>
                        <td class="contactDesignation"></td>
                        <td class="contactPhoneNumber"></td>
                        <td class="contactEmail"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
