<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="_remove_margin_bottom no_top_margin" id="doc_histry_view"><?php echo $this->translate('Add New Contact') ?></h4>
        </div>
        <div class="modal-body">
        <div class="form-horizontal">
            <input type="text" class="cusGender hidden" value="<?php echo $this->customerGender ?>">

            <div class="form-group"><!-- Title -->
                <label for="customerTitle" class="col-lg-3 col-md-3 col-sm-12 control-label"><?php echo $this->translate('Title ') ?></label>
                <div class="col-lg-9 col-md-9 col-sm-12">
                    <select class="titleID form-control" id="title" name="title">
                        <option value="0">Select Customer Title</option>
                        <option value="Mr.">Mr.</option>
                        <option value="Ms.">Ms.</option>
                        <option value="Dr.">Dr.</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="customername" class="col-lg-3 col-md-3 col-sm-12 control-label"><?php echo $this->translate('First Name') ?><font color="red"> *</font></label>
                <div class="col-lg-9 col-md-9 col-sm-12">
                    <input type="text" name="firstName" placeholder="First Name" id="firstName" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="customername" class="col-lg-3 col-md-3 col-sm-12 control-label"><?php echo $this->translate('Last Name') ?></label>
                <div class="col-lg-9 col-md-9 col-sm-12">
                    <input type="text" name="lastName" placeholder="Last Name" id="lastName" class="form-control">
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label class="col-lg-3 col-md-3 control-label"><?php echo $this->translate('Contact Number Details') ?><font color="red"> *</font></label>
                <div class="col-lg-9 col-md-9">
                <table class="numberTable table table-striped margin_top_normal table-condensed" id="numberTable">
                        <thead>
                            <tr>
                                <th style="width: 40%">  <?php echo $this->translate('Telephone No') ?></th>
                                <th style="width: 40%">  <?php echo $this->translate('Number Type') ?></th>
                            </tr>
                        </thead>

                        <tbody class="documentTypeBody">
                            <tr class="sample hidden">
                                <td style="width: 35%">
                                   <input type="text" placeholder="eg: 071 XXX XXXX" name="mobileNo" class="form-control mobileNo">
                                </td>
                                <td style="width: 35%">
                                    <select class="form-control numberTypeId"  name="numberTypeId" >
                                        <option value=""><?php echo $this->translate('Select Number Type') ?></option>
                                        <option value="1">Mobile</option>
                                        <option value="2">Work Place</option>
                                        <option value="3">Other</option>
                                    </select>
                                </td>
                                <td style="width: 10%">
                                    <button class="addNum btn btn-default" type="button"><i class="fa fa-plus"></i></button>
                                </td>
                                <td style="width: 10%">
                                    <button class="deleteNum hidden btn btn-default" type="button"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>

                            <tr class="mainrow documentRow editable">
                                <td style="width: 35%">
                                    <input type="text" name="primaryTP" placeholder="eg: 071 XXX XXXX" id="primaryTP" class="form-control mobileNo">
                                </td>
                                <td style="width: 35%">
                                    <select class="form-control selectpicker numberTypeId"  name="numberTypeId" data-live-search="true">
                                        <option value="1">Mobile</option>
                                        <option value="2">Work Place</option>
                                        <option value="3">Other</option>
                                    </select>
                                </td>
                                <td style="width: 10%">
                                    <button class="addNum btn btn-default" type="button"><i class="fa fa-plus"></i></button>
                                </td>
                                <td style="width: 10%">
                                    <button class="deleteNum hidden btn btn-default" type="button"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label class="col-lg-3 col-md-3 control-label"><?php echo $this->translate('Email Details') ?></label>
                <div class="col-lg-9 col-md-9">
                    <table class="emailTable table table-striped margin_top_normal table-condensed" id="emailTable">
                        <thead>
                            <tr>
                                <th style="width: 40%">  <?php echo $this->translate('Email Address') ?></th>
                                <th style="width: 40%">  <?php echo $this->translate('Email Type') ?></th>
                            </tr>
                        </thead>

                        <tbody class="emailTypeBody">
                            <tr class="sample-email hidden">
                                <td style="width: 35%">
                                   <input type="text" placeholder="eg: abc@gmail.com" name="emailAdd" class="form-control emailAdd">
                                </td>
                                <td style="width: 35%">
                                    <select class="form-control emailTypeId"  name="emailTypeId" >
                                        <option value=""><?php echo $this->translate('Select Email Type') ?></option>
                                        <option value="1">Personal</option>
                                        <option value="2">Work Place</option>
                                        <option value="3">Other</option>
                                    </select>
                                </td>
                                <td style="width: 10%">
                                    <button class="addEmail btn btn-default" type="button"><i class="fa fa-plus"></i></button>
                                </td>
                                <td style="width: 10%">
                                    <button class="deleteEmail hidden btn btn-default" type="button"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>

                            <tr class="mainrow emailRow editable">
                                <td style="width: 35%">
                                    <input type="text" name="emailAdd" placeholder="eg: abc@gmail.com" id="emailAdd" class="form-control emailAdd">
                                </td>
                                <td style="width: 35%">
                                    <select class="form-control selectpicker emailTypeId"  name="emailTypeId" data-live-search="true">
                                        <option value="1">Personal</option>
                                        <option value="2">Work Place</option>
                                        <option value="3">Other</option>
                                    </select>
                                </td>
                                <td style="width: 10%">
                                    <button class="addEmail btn btn-default" type="button"><i class="fa fa-plus"></i></button>
                                </td>
                                
                                <td style="width: 10%">
                                    <button class="deleteEmail hidden btn btn-default" type="button"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 col-md-3 control-label"><?php echo $this->translate('Designation') ?></label>
                <div class="col-lg-9 col-md-9">
                    <input type="text" name="designation" placeholder="Designation" id="designation" class="form-control">
                </div>
            </div>
            <div class="form-group margin_top_high">
                <div class="col-lg-5 hidden-md margin_top_normal"></div>
                <div class="col-lg-7 col-md-9 col-sm-9 text-right margin_top_normal">
                    <button  id="saveButtonContact" class="btn btn-primary" data-saveType = "1"><?php echo $this->translate('Save') ?></button>
                    <button id="cancelButtonContact" class="btn btn-default"><?php echo $this->translate('Cancel') ?></button>
                </div>
            </div>
           
        </div>
        </div>
    </div>
</div>