<div class="table-responsive">
    <table id="ratingTypesTable" class="table table-striped">
        <thead>
            <tr>
                <th width="24%"><?php echo $this->translate('Code') ?></th>
                <th width="23%"><?php echo $this->translate('Name') ?></th>
                <th width="23%"><?php echo $this->translate('Number of Contacts') ?></th>
                <th width="10%" class="text-center"><?php echo $this->translate('View list') ?></th>
                <th width="10%" class="text-center"><?php echo $this->translate('Edit') ?></th>
                <th width="10%" class="text-center"><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php if (empty($this->contactList)) { ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            } else {
                foreach ($this->contactList as $contact) {

                    ?>
                    <tr data-contact-id = "<?php echo($contact['contactListsID']) ?>">
                        <td ><?php echo $contact['code']; ?></td>
                        <td ><?php echo $contact['name'] ?></td>
                        <td><?php echo $contact['noOfContacts'] ?></td>
                        <td class="text-center">
                            <span class="edit link_color view-list" style="cursor:pointer"  >
                                <span class="fa fa-list"></span>
                            </span>
                        </td>
                        <td class="text-center">
                            <span class="edit link_color edit-contact" style="cursor:pointer"  >
                                <span class="fa fa-pencil-square-o "></span>
                            </span>
                        </td>
                        <td class="text-center">
                            <span class="delete link_color delete-contact-list" style="cursor:pointer"  >
                                <span class="fa fa-trash-o "></span>
                            </span>
                        </td>
                    </tr>
                    <?php
                }
            }
            ?>
        </tbody>
    </table>
</div>

<?php
if ($this->isPaginated) {
    echo $this->paginationControl(
            $this->contactList, 'sliding', array('partial/paginator.phtml', 'contacts'), array('route' => 'contacts', 'action' => 'create')
    );
}