<div class="margin_top margin_bottom viewContactDiv">
    <div class="well well_heading">
        <h5 class="font_weight"><?php echo $this->translate('View Contacts'); ?></h5>
    </div>

    <div class="well well_body" style="height: 600px">
        <div class="col-lg-1 col-md-1 col-sm-1 xs-margin-bottom" style="padding-bottom: 25px">
            <h4>Contacts</h4>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 xs-margin-bottom">
            <select id="contactSearch" class="selectpicker form-control" data-live-search="true">
                <option value="" ><?php echo $this->translate('Search Contacts') ?></option>
            </select>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1">
            <button type="button" class="btn btn-default btn-block" style="width: 40% !important"  id="clear-search"><?php echo $this->translate('X') ?></button>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <button type="button" class="btn btn-primary btn-block"  id="add-contact"><?php echo $this->translate('Add Contact') ?></button>
            <button type="button" class="btn btn-primary btn-block margin-bottom"  id="import-contact"><?php echo $this->translate('Import Contact(CSV)') ?></button>
        </div>
        <div id="contactList">
            <?php echo $this->partial('invoice/contacts/master-contact-list', array('contactList' => $this->contactList,'contactNumebrs' => $this->contactNumebrs, 'contactEmails' => $this->contactEmails, 'isPaginated' => $this->isPaginated)) ?>
        </div>
    </div>


</div>
<div class="margin_top margin_bottom createContactDiv hidden">
    <div class="well well_heading">
        <h5 class="font_weight"><?php echo $this->translate('Add New Contact'); ?></h5>
    </div>

    <div class="well well_body">
        <div class="form-horizontal">
            <input type="text" class="cusGender hidden" value="<?php echo $this->customerGender ?>">

            <div class="form-group"><!-- Title -->
                <label for="customerTitle" class="col-lg-3 col-md-3 col-sm-12 control-label"><?php echo $this->translate('Title ') ?></label>
                <div class="col-lg-6 col-md-9 col-sm-12">
                    <select class="titleID form-control" id="title" name="title">
                        <option value="0">Select Customer Title</option>
                        <option value="Mr.">Mr.</option>
                        <option value="Ms.">Ms.</option>
                        <option value="Dr.">Dr.</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="customername" class="col-lg-3 col-md-3 col-sm-12 control-label"><?php echo $this->translate('First Name') ?><font color="red"> *</font></label>
                <div class="col-lg-6 col-md-9 col-sm-12">
                    <input type="text" name="firstName" placeholder="First Name" id="firstName" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="customername" class="col-lg-3 col-md-3 col-sm-12 control-label"><?php echo $this->translate('Last Name') ?></label>
                <div class="col-lg-6 col-md-9 col-sm-12">
                    <input type="text" name="lastName" placeholder="Last Name" id="lastName" class="form-control">
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label class="col-lg-3 col-md-3 control-label"><?php echo $this->translate('Contact Number Details') ?><font color="red"> *</font></label>
                <div class="col-lg-6 col-md-9">
                <table class="numberTable table table-striped margin_top_normal table-condensed" id="numberTable">
                        <thead>
                            <tr>
                                <th style="width: 40%">  <?php echo $this->translate('Telephone No') ?></th>
                                <th style="width: 40%">  <?php echo $this->translate('Number Type') ?></th>
                            </tr>
                        </thead>

                        <tbody class="documentTypeBody">
                            <tr class="sample hidden">
                                <td style="width: 35%">
                                   <input type="text" placeholder="eg: 071 XXX XXXX" name="mobileNo" class="form-control mobileNo">
                                </td>
                                <td style="width: 35%">
                                    <select class="form-control numberTypeId"  name="numberTypeId" >
                                        <option value=""><?php echo $this->translate('Select Number Type') ?></option>
                                        <option value="1">Mobile</option>
                                        <option value="2">Work Place</option>
                                        <option value="3">Other</option>
                                    </select>
                                </td>
                                <td style="width: 10%">
                                    <button class="addNum btn btn-default" type="button"><i class="fa fa-plus"></i></button>
                                </td>
                                <td style="width: 10%">
                                    <button class="deleteNum hidden btn btn-default" type="button"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>

                            <tr class="mainrow documentRow editable">
                                <td style="width: 35%">
                                    <input type="text" name="primaryTP" placeholder="eg: 071 XXX XXXX" id="primaryTP" class="form-control mobileNo">
                                </td>
                                <td style="width: 35%">
                                    <select class="form-control selectpicker numberTypeId"  name="numberTypeId" data-live-search="true">
                                        <option value="1">Mobile</option>
                                        <option value="2">Work Place</option>
                                        <option value="3">Other</option>
                                    </select>
                                </td>
                                <td style="width: 10%">
                                    <button class="addNum btn btn-default" type="button"><i class="fa fa-plus"></i></button>
                                </td>
                                <td style="width: 10%">
                                    <button class="deleteNum hidden btn btn-default" type="button"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label class="col-lg-3 col-md-3 control-label"><?php echo $this->translate('Email Details') ?></label>
                <div class="col-lg-6 col-md-9">
                    <table class="emailTable table table-striped margin_top_normal table-condensed" id="emailTable">
                        <thead>
                            <tr>
                                <th style="width: 40%">  <?php echo $this->translate('Email Address') ?></th>
                                <th style="width: 40%">  <?php echo $this->translate('Email Type') ?></th>
                            </tr>
                        </thead>

                        <tbody class="emailTypeBody">
                            <tr class="sample-email hidden">
                                <td style="width: 35%">
                                   <input type="text" placeholder="eg: abc@gmail.com" name="emailAdd" class="form-control emailAdd">
                                </td>
                                <td style="width: 35%">
                                    <select class="form-control emailTypeId"  name="emailTypeId" >
                                        <option value=""><?php echo $this->translate('Select Email Type') ?></option>
                                        <option value="1">Personal</option>
                                        <option value="2">Work Place</option>
                                        <option value="3">Other</option>
                                    </select>
                                </td>
                                <td style="width: 10%">
                                    <button class="addEmail btn btn-default" type="button"><i class="fa fa-plus"></i></button>
                                </td>
                                <td style="width: 10%">
                                    <button class="deleteEmail hidden btn btn-default" type="button"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>

                            <tr class="mainrow emailRow editable">
                                <td style="width: 35%">
                                    <input type="text" name="emailAdd" placeholder="eg: abc@gmail.com" id="emailAdd" class="form-control emailAdd">
                                </td>
                                <td style="width: 35%">
                                    <select class="form-control selectpicker emailTypeId"  name="emailTypeId" data-live-search="true">
                                        <option value="1">Personal</option>
                                        <option value="2">Work Place</option>
                                        <option value="3">Other</option>
                                    </select>
                                </td>
                                <td style="width: 10%">
                                    <button class="addEmail btn btn-default" type="button"><i class="fa fa-plus"></i></button>
                                </td>
                                
                                <td style="width: 10%">
                                    <button class="deleteEmail hidden btn btn-default" type="button"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 col-md-3 control-label"><?php echo $this->translate('Designation') ?></label>
                <div class="col-lg-6 col-md-9">
                    <input type="text" name="designation" placeholder="Designation" id="designation" class="form-control">
                </div>
            </div>
            <div class="form-group margin_top_high">
                <div class="col-lg-5 hidden-md margin_top_normal"></div>
                <div class="col-lg-4 col-md-9 col-sm-9 text-right margin_top_normal">
                    <button  id="saveButton" class="btn btn-primary" data-saveType = "1"><?php echo $this->translate('Save') ?></button>
                    <button  id="updateButton" class="btn btn-primary hidden" data-saveType = "1"><?php echo $this->translate('Update') ?></button>
                    <button  id="saveAndCreateButton" class="btn btn-primary" data-saveType = "2"><?php echo $this->translate('Save & Add New') ?></button>
                    <button id="cancelbutton" class="btn btn-default"><?php echo $this->translate('Cancel') ?></button>
                </div>
            </div>
           
        </div>
    </div>
</div>