<div class="table-responsive">
    <table id="ratingTypesTable" class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('Name') ?></th>
                <th><?php echo $this->translate('Designation') ?></th>
                <th><?php echo $this->translate('Contact Number') ?></th>
                <th><?php echo $this->translate('Email') ?></th>
                <th width="10%" class="text-center"><?php echo $this->translate('Edit') ?></th>
                <th width="10%" class="text-center"><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php if (empty($this->contactList)) { ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            } else {
                foreach ($this->contactList as $contact) {
                	$firstName = $contact['firstName'];
                	$lastName = (!empty($contact['lastName'])) ? $contact['lastName'] : '';
                	$fullName = $firstName.' '.$lastName;

                	if (array_key_exists($contact['contactID'], $this->contactNumebrs)) {
	                	if (array_key_exists(1, $this->contactNumebrs[$contact['contactID']])){
	                		$mobileNum = $this->contactNumebrs[$contact['contactID']][1];
	                	} elseif (array_key_exists(2, $this->contactNumebrs[$contact['contactID']])) {
	                		$mobileNum = $this->contactNumebrs[$contact['contactID']][2];
	                	} elseif (array_key_exists(3, $this->contactNumebrs[$contact['contactID']])) {
	                		$mobileNum = $this->contactNumebrs[$contact['contactID']][3];
	                	}
                	} else {
                		$mobileNum = '-';
                	}


                	if (array_key_exists($contact['contactID'], $this->contactEmails)) {
	                	if (array_key_exists(1, $this->contactEmails[$contact['contactID']])){
	                		$emailAdd = $this->contactEmails[$contact['contactID']][1];
	                	} elseif (array_key_exists(2, $this->contactEmails[$contact['contactID']])) {
	                		$emailAdd = $this->contactEmails[$contact['contactID']][2];
	                	} elseif (array_key_exists(3, $this->contactEmails[$contact['contactID']])) {
	                		$emailAdd = $this->contactEmails[$contact['contactID']][3];
	                	}
                	} else {
                		$emailAdd = '-';
                	}

                    ?>
                    <tr data-contact-id = "<?php echo($contact['contactID']) ?>">
                        <td class="rtCode"><?php echo $fullName; ?></td>
                        <td class="rtName"><?php echo (!empty($contact['designation'])) ? $contact['designation'] : '-' ?></td>
                        <td><?php echo $mobileNum; ?></td>
                        <td><?php echo $emailAdd; ?></td>
                        <td class="text-center">
                            <?php if ($contact['isConvertToCustomer'] == "1"){ ?>
                                <span class="edit link_color disabled" style="cursor:pointer"  >
                                    --
                                </span>
                            <?php } else { ?>
                                <span class="edit link_color edit-contact" style="cursor:pointer"  >
                                    <span class="fa fa-pencil-square-o "></span>
                                </span>
                            <?php } ?>
                        </td>
                        <td class="text-center">

                            <?php if ($contact['isConvertToCustomer'] == "1"){ ?>
                                <span class="delete link_color disabled" style="cursor:pointer"  >
                                    --
                                </span>
                            <?php } else { ?>
                                <span class="delete link_color delete-contact" style="cursor:pointer"  >
                                    <span class="fa fa-trash-o "></span>
                                </span>
                            <?php } ?>
                        </td>
                    </tr>
                    <?php
                }
            }
            ?>
        </tbody>
    </table>
</div>

<?php
if ($this->isPaginated) {
    echo $this->paginationControl(
            $this->contactList, 'sliding', array('partial/paginator.phtml', 'contacts'), array('route' => 'contacts', 'action' => 'create')
    );
}