<?php
$companyCurrencySymbol = $this->companyCurrencySymbol;
$rawMaterials = $this->rawMaterials;
$fixedAssets = $this->fixedAssets;
?>
<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate("Add Sport Equipments"); ?></h4>
        </div>

        <div class="modal-body">
            <div id="materialItemAndAssets" class="row">
                <!--fixed_assets-->
                <div class="row">
                    <div class="form-group">
                        <div class="col-lg-3">
                            <label class="control-label label_bottom_margin"><?php echo $this->translate('Equipments(Fixed Assets)'); ?></label>
                        </div>
                        <div class="col-lg-9">
                            <div>
                                <select class="form-control selectpicker" title="" id="fixedAssetsID" name="fixedAssetsID" data-live-search="true">
                                    <option value=""><?php echo $this->translate('Select Equipments') ?></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="fixedAssetsTable">
                        <hr>
                        <table class="fixed-assests-product-table table margin_top_normal table-condensed hidden">
                            <thead>
                                <tr>
                                    <th width="28%"><?php echo $this->translate("Equipment Name - Code"); ?></th>
                                    <th width="15%"><?php echo $this->translate("Estimated Quantity"); ?></th>
                                    <th width="4%"></th>
                                    <th width="4%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="fixedProductPreSetSample" class="hidden">
                                    <td id="fixedProdctNameAndCode"></td>
                                    <td class="text-right input-group">
                                        <input id="addedQuantity" name="addedQuantity" type="text" class="form-control">
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-default fixed-assests-product-plus">
                                            <i class="pointer_cursor fa fa-plus"></i>
                                        </a>
                                        <a class="fixed-assests-product-edit btn btn-default hidden" id="fixed-assests-product-edit">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </a>
                                        <a class="fixed-assests-product-save btn btn-default hidden" id="fixed-assests-product-save">
                                            <i class="fa fa-floppy-o"></i>
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-default fixed-assests-product-delete">
                                            <i class="pointer_cursor fa fa-trash-o"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!--modal_body-->

        <div class="modal-footer-style modal-footer">
            <div style="margin-top: 4%; float: right;">
                <button type="button" id="addTCProducts" class="btn btn-primary"><?php echo $this->translate('Add Equipments') ?></button>
                <button type="button" id="closeTCProducts" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
            </div> 
        </div>

    </div>
</div>