<?php
$jobform = $this->jobForm;
$companyCurrencySymbol = $this->companyCurrencySymbol;
$maintainProject = $this->maintainProject;
$contractorForJob = $this->contractorForJob;
?>

<div class="margin_top">
    <?php echo $this->form()->openTag($jobform); ?>
    <!--data_insert_section-->
    <?php if($maintainProject == 1) { ?>
     <div class="row">
        <div class="well clearfix well_custom_padding">
            <div class="row">
                <div class="margin_top_normal">
                    <div class="col-lg-3" >
                        <label for="project" class="remove_weight"><b><?php echo $this->translate("Start Event by Tournament") ?></b></label>
                    </div>
                    <div class="col-lg-8">
                        <div class="form-group">
                            <select class="form-control selectpicker show-tick" id="projectCode" name="projectCode" data-live-search="true">
                                <option value=""><?php echo $this->translate('Select Tournament') ?></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <?php } ?>
    <div class="row">
        <div class="margin_top_normal">
            <div class="col-lg-5 col-md-5 col-sm-5">
                <div class="form-group">
                    <label for="jobCode" class="col-lg-5 control-label">
                        <?php echo $this->translate('Event Code'); ?>
                        <font style="color: red">*</font>
                    </label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($jobform->get('jobCode')); ?>
                    </div>
                </div>
                <div class="form-group">
                    <label for='jobType' class="col-lg-5 control-label">
                        <?php echo $this->translate('Event Type'); ?>
                        <font style="color: red">*</font>
                    </label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($jobform->get('jobTypeIds')); ?>
                    </div>
                </div>
                <div class="form-group">
                    <label for="date" class="col-lg-5 control-label">
                        <?php echo $this->translate("Event Start Date"); ?>
                    </label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($jobform->get('expDate')); ?>
                    </div>
                </div>
            </div><!--./col-->
        </div><!--margin_top-->


        <div class="col-lg-5 col-md-5 col-sm-5 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
            
            <div class="form-group">
                <label for="jobName" class="col-lg-5 control-label">
                    <?php echo $this->translate("Event Name"); ?>
                    <font style="color: red">*</font>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($jobform->get('jobName')); ?>
                </div>
            </div>
            <div class="form-group">
                <label for="estimatedCost" class="col-lg-5 control-label">
                    <?php echo $this->translate('Event Est. cost'); ?>
                </label>
                <div class="col-lg-7">
                    <div class="input-group">
                        <?php echo $this->formRow($jobform->get('jobEstCost')); ?>
                        <strong class="input-group-addon"><?php echo $companyCurrencySymbol; ?></strong>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="date" class="col-lg-5 control-label">
                    <?php echo $this->translate("Event End Date"); ?>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($jobform->get('dueDate')); ?>
                </div>
            </div>
        </div><!--./col-->
    </div><!--margin_top-->

    <hr>
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5">
            <div class="form-group">
                <div class="col-lg-5">
                    <button type="button" id="addResources" class="form-control btn btn-success"><?php echo $this->translate('Sports Equipments'); ?></button>
                </div>
                <div class="col-lg-5" style="margin-top: 2%;">
                    <span id="resourceCount" style="color: #A9A9A9"><?php echo $this->translate('No equipments added') ?></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-5">
                    <button type="button" id="tournamentOfficial" class="btn btn-success form-control"><?php echo $this->translate('Event Participants') ?></button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-8 col-md-4 col-sm-4"></div>
        <div class="col-lg-4 col-sm-4"><!--button-->
            <div class="text-right">
                <input type='reset' id="resetJob" value="<?php echo $this->translate("Cancel"); ?>" class='btn btn-default'>
                <button class="btn btn-primary" id="saveJob"><?php echo $this->translate("Save"); ?></button>
                <button class="btn btn-primary" id="saveAndAddJob"><?php echo $this->translate("Add New Event"); ?></button>
            </div>
        </div>
    </div><!--row-->
    <?php echo $this->form()->closeTag(); ?>
</div><!--margin_top-->


<div class="modal fade" id="addJobSupervisorsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->addJobSupervisors; ?>
</div>

<div class="modal fade" id="addjobManagersModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->addJobManagers; ?>
</div>

<div class="modal fade" id="addTasksModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->addTasks; ?>
</div>

<div class="modal fade" id="addTaskProductsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->addTaskproducts; ?>
</div>

<div class="modal fade" id="addTaskEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->taskEmployees; ?>
</div>

<div class="modal fade" id="addTaskContractorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->taskContractors; ?>
</div>
<div class="modal fade" id="addParticipantModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->participantAddView; ?>
</div>