<?php
$maintainProject = $this->maintainProject;
?>
<div id="job-list-view">

    <div class="well well_heading margin_top">
        <h5 class="font_weight"><?php echo $this->translate('Search a Event') ?></h5>
    </div>

    <div class="well well_body clearfix">
        <form class="job-search" id="job-search" method="post" action="">
            <div class="row">
                <div class="col-lg-12 xs-search-field">
                    <div class=" input-group">
                        <input type="text" class="search form-control" id ='job-search-keyword' placeholder="<?php echo $this->translate('Enter Event Name or Code') ?>"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default search_btn_css" type="submit"><?php echo $this->translate('Search') ?></button>
                            <button class="btn btn-default reset" type="reset"><?php echo $this->translate('Cancel') ?></button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
        <br>
        <div class="row">
            <?php if($maintainProject == 1) { ?>
            <div class="search_field col-lg-4">
                <select class='form-control selectpicker' data-actions-box="false" data-live-search="false" name="projectCode" id="projectCode" title="Select a Tournament" data-selected-text-format="count>3" data-size="5">
                    <option value="0"><?php echo $this->translate('Select Tournament') ?></option>
                    <?php
                    foreach ($this->projectList as $project):
                        $project = (object) $project;
                        echo '<option value="' . $project->projectId . '">' . $project->projectCode. '</option>';
                    endforeach;
                    ?>
                </select>
            </div>
            <?php } ?>
            <div class="col-lg-4">
                <select class='form-control selectpicker' data-actions-box="false" data-live-search="false" name="jobSupervisorSearch" id="jobSupervisorSearch" title="Select Event Participant" data-selected-text-format="count>3" data-size="5">
                    <option value="0"><?php echo $this->translate('Select Event Participant') ?></option>
                    <?php
                    foreach ($this->jobSupervisors as $jSup) :
                        echo '<option value="' . $jSup['employeeID'] . '">' . $jSup['employeeCode'].' - '. $jSup['employeeFirstName']. '</option>';
                    endforeach;
                    ?>
                </select>
            </div>
        </div>
    </div>

    <div id="search-job-list">
        <?php
        echo $this->partial('jobs/event/list-table', array('jobList' => $this->jobList,
            'paginated' => $this->paginated, 'status' => $this->status, 'maintainProject' => $maintainProject));
        ?>
    </div>

</div>
<div class="modal fade bs-example-modal-sm" id="employeeViewModal" tabindex="-1" role="dialog" aria-labelledby="employeeViewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="employeeViewModalLabel"><?php echo $this->translate('View Event Participants') ?></h4>
            </div>
            <div class="modal-body employeeViewModalBody"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>