<div class="table-responsive" id="job-list">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="15%"><?php echo $this->translate('Event Code') ?></th>
                <th width="15%"><?php echo $this->translate('Event Name') ?></th>
                <th width="15%"><?php echo $this->translate('Tournament Type') ?></th>
                <th width="15%"><?php echo $this->translate('Event Type') ?></th>
                <th width="15%"><?php echo $this->translate('Event Duration') ?></th>
                <th width="13%"><?php echo $this->translate('Event Participants') ?></th>
                <th width="6%"><?php echo $this->translate('Status') ?></th>
                <th width="6%" class="text-center" ><?php echo $this->translate('View') ?></th>
                <th width="6%" class="text-center" ><?php echo $this->translate('Edit') ?></th>
                <th width="8%" class="text-center" ><?php echo $this->translate('Delete') ?></th>
                <th width="8%" class="text-center" ></th>
            </tr>
        </thead>
        <tbody id="jobList">
            <?php
            foreach ($this->jobList as $loo) {
                $loo = (object) $loo;
                $status = $loo->jobStatus;
                $state = ucfirst($this->status[$status]);
                $style = NULL;
                switch ($status) {
                    case "3":
                        $style = "label label-success";
                        break;
                    case "8":
                        $style = "label label-primary";
                        break;
                    case "9":
                        $style = "label label-info";
                        break;
                    case "4":
                        $style = "label label-danger";
                        break;
                    default :
                        $style = "label label-default";
                }
                ?>
                <tr data-jobid="<?php echo $loo->jobId; ?>">
                    <td class="jobCode"><?php echo $loo->jobReferenceNumber ?></td>
                    <td class="jobName"><?php echo $loo->jobName ?></td>
                    <td class="projectType"><?php echo $loo->projectTypeName ?></td>
                    <td class="jobTypeName"><?php echo $loo->jobTypeName ?></td>
                    <td class="jobDueDate"><?php echo $loo->jobStartDate.' - '.$loo->jobEstimatedEndDate; ?></td>
                    <td class="jSupervisor text-center">
                        <span class=" link_color" style="cursor:pointer" >
                            <span id="<?php echo $loo->jobId; ?>" onClick='viewParticipants("<?php echo $loo->jobId; ?>")' class="glyphicon glyphicon-user jobSupervisor"></span>
                        </span>
                    </td>
                    <td class="jState"><span class="<?php echo $style; ?>"> <?php echo $state; ?></span></td>
                    <td width="10%" class="text-center">
                        <a href="<?php echo $this->url('event', array('action' => 'view', 'param1' => $loo->jobId)); ?>" class="fullView">
                            <span class="glyphicon fa fa-search-plus openlist custom_font_size"></span>
                        </a>
                    </td>
                    <td width="20%" class="text-center">
                    <?php if($loo->deleted == 0 && $status != 4) { ?>
                                <a class="edits" href="<?php echo $this->url('event', array('action' => 'edit', 'param1' => $loo->jobId));
                                ?>" id="<?php echo $loo->jobId ?>">
                                    <span class="fa fa-pencil-square-o custom_font_size"></span>
                                </a>
                        <?php } ?>
                    </td>
                    <td width="20%" class="text-center" >
                    <?php if( $status != 4) { ?>
                        <a href="#" class="<?php echo ($status == '4') ? 'link_disabled disabled' : 'delete-job'; ?>">
                            <?php if ($loo->deleted == 0) { ?>
                                <i class="fa fa-trash-o custom_font_size" onclick='deleteEvent("<?php echo $loo->jobId; ?>")'></i>
                            <?php } ?>
                        </a>
                    <?php } ?>
                    </td>
                    
                    
                </tr>
                <?php
            }
            if (count($this->jobList) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>

        </tbody>
    </table>
</div>
<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->jobList, 'sliding', array('partial/paginator.phtml', 'event'), array(
        'route' => 'event', 'action' => 'list'
            )
    );
}
?>

<div class="modal fade" id="viewJobSupervisorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><?php echo $this->translate('Job Supervisors') ?></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="job-supervisor-table table table-striped margin_top_normal table-condensed" id="jobSupervisorTable">
                    <thead>
                        <tr>
                            <th class="" style="width: 45%"><?php echo $this->translate("Job Supervisor Name"); ?></th>
                        </tr>
                    </thead>

                    <tbody id="formRow">
                        <tr id='preSample' class="hidden">
                            <td id="supervisorName">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function viewParticipants(id) {
        $("#viewJobSupervisorModal #jobSupervisorTable tbody .addedSupervisors").remove();
        eb.ajax({
            url: BASE_URL + '/event-api/getParticipants',
            type: 'GET',
            data: {jobID:id},
            dataType: 'json',
            success: function(respond) {
                $('.employeeViewModalBody').html(respond.html);
                $('#employeeViewModal').modal('show');
            }
        }); 
    }

    function deleteEvent(jobID) {
        bootbox.confirm('Are you sure you want to delete this Event?', function(result) {
            if (result === true) {
                eb.ajax({
                    url: BASE_URL + '/event-api/delete',
                    method: 'post',
                    data: {
                        jobID: jobID,
                    },
                    dataType: 'json',
                    success: function(data) {
                        if (data.status == true) {
                            p_notification(data.status, data.msg);
                            window.location.reload();
                        } else {
                            p_notification(data.status, data.msg);
                        }
                    }
                });
            }
        });
    }
</script>