<div class="panel panel-default small_panel_heading">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped" style="margin-bottom: 50px;">
                <thead>
                    <tr>
                        <th><?php echo $this->translate("Participant Type"); ?></th>
                        <th><?php echo $this->translate("Participant Sub Type"); ?></th>
                        <th><?php echo $this->translate("Participant Code & Name"); ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php
                    foreach ($employees as $employee) {
                        ?>
                        <tr>
                            <td><?php echo $employee['departmentCode'].' - '.$employee['departmentName']; ?></td>
                            <td><?php echo $employee['designationCode'].' - '.$employee['designationName']; ?></td>
                            <td><?php echo  $employee['employeeCode'].' - '.$employee['employeeFirstName'].' '.$employee['employeeSecondName']; ?></td>
                        </tr>
                    <?php } ?>
                </tbody>
            </table>
        </div>

    </div><!--panel_body-->
</div><!--panel_default-->