<div class="row">
    <div class="col-lg-3">
        <h4 class="title-dashboard"><b><?php echo $this->translate('Inventory Overview');?></b></h4>
    </div>
    <div class="col-lg-2" style="display: flex; padding-top: 9px;">
          <p style="color: grey"><?php echo $this->translate('Show :');?> &nbsp;&nbsp;</p>
          <select class="jobInput period">
            <option value="thisWeek"><?php echo $this->translate('This Week');?></option>
            <option value="thisMonth"><?php echo $this->translate('This Month');?></option>
            <option value="thisDay"><?php echo $this->translate('This Day');?></option>
            <option value="thisYear"><?php echo $this->translate('This Year');?></option>
          </select>
    </div>
</div>
<div class="row" style="background-color: #f1efef; min-height: 100vh">
    <div class="row widgetRow">
        <div class="col-lg-3 title-widget">
            <div class="row" style="padding-top: 10px">
                <p style="color: #5f675f; font-size: 12px"><b><?php echo $this->translate('Total Stock Value');?></b></p>
            </div>
            <div class="row">
                <div style="float: left;">
                    <h4><b id="total-sales">LKR</b></h4>
                </div>
                <div style="float: right;">
                    
                </div>
            </div>
        </div>
        <div class="col-lg-3 title-widget">
            <div class="row" style="padding-top: 10px">
                <p style="color: #5f675f; font-size: 12px"><b><?php echo $this->translate('M.I.L Reached Items');?></b></p>
            </div>
            <div class="row">
                <div style="float: left;">
                    <h4><b id="gross-profit">0</b></h4>
                </div>
                <div style="float: right;">
                
                </div>
            </div>
        </div>
        <div class="col-lg-3 title-widget">
            <div class="row" style="padding-top: 10px">
                <p style="color: #5f675f; font-size: 12px"><b><?php echo $this->translate('M.R.L Reached Items');?></b></p>
            </div>
            <div class="row">
                <div style="float: left;">
                    <h4><b id="total-payments">0</b></h4>
                </div>
                <div style="float: right;">

                </div>
            </div>
        </div>
        <div class="col-lg-3 title-widget">
            <div class="row" style="padding-top: 10px">
                <p style="color: #5f675f; font-size: 12px"><b><?php echo $this->translate('Total Active Items');?></b></p>
            </div>
            <div class="row">
                <div style="float: left;">
                    <h4><b id="totalInvoiceCount">0</b></h4>
                </div>
                <div style="float: right;">
                </div>
            </div>
        </div>
    </div>
    <div class="row graph-row">
        <div class="col-lg-8 graph-widget">
            <div class="row" style="text-align: center;">
                <p class="tab-title1" style="padding-top: 13px;"><?php echo $this->translate('Inventory Levels Reached Items');?></p>
            </div>
            <div class="row">
                <div class="row" style="display: flex;">
                    <div class="col-lg-1 title-row">
                    </div>
                    <div class="col-lg-4 title-row" style="width: 100%;">
                        <b><?php echo $this->translate('Item');?></b>
                    </div>
                    <div class="col-lg-1 title-row text-center" style="width: 100%;">
                        <b><?php echo $this->translate('Current Stock');?></b>
                    </div>
                    <div class="col-lg-1 title-row text-center" style="width: 100%;">
                        <b><?php echo $this->translate('Reorder Level');?></b>
                    </div>
                    <div class="col-lg-2 title-row text-center" style="width: 100%;">
                        <b><?php echo $this->translate('Min.Inventory Level');?></b>
                    </div>
                    <div class="col-lg-1 title-row text-center" style="width: 100%;">
                        <b><?php echo $this->translate('Purchase Order');?></b>
                    </div>
                    <div class="col-lg-2 title-row text-center" style="width: 100%;">
                        <b><?php echo $this->translate('To be Ordered Qty');?></b>
                    </div>
                </div>
                <div class="list-scroll">
                    
                <?php
                $i = 1;
                foreach ($this->finalProductArray as $value) {
                ?>
                    <div class="row item-row">
                        <div class="col-lg-1 table-text">
                            <?php echo $i; ?>
                        </div>
                        <div class="col-lg-4 table-text productCode0 sales-text" style="width: 100%;">
                            <?php echo $value['productName']; ?>
                        </div>
                        <div class="col-lg-1 table-text productQty0 text-center" style="width: 100%;">
                            <?php echo $value['locationProductQuantity']; ?>
                        </div>
                        <div class="col-lg-1 table-text productQty0 text-center" style="width: 100%;">
                            <?php echo $value['locationProductReOrderLevel']; ?>
                        </div>
                        <div class="col-lg-2 table-text productQty0 text-center" style="width: 100%;">
                            <?php echo $value['locationProductMinInventoryLevel']; ?>
                        </div>
                        <div class="col-lg-1 table-text productQty0 text-center" style="width: 100%;">
                            <?php echo $value['poQty']; ?>
                        </div>
                        <div class="col-lg-1 table-text productSales0 text-center" style="width: 100%;">
                            <?php echo (floatval($value['toBeOrderQty']) < 0) ? 0 : $value['toBeOrderQty']; ?>
                        </div>
                    </div>
                <?php
                    $i++;
                }
                ?>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row best-items2">
                <div class="row" style="text-align: center;">
                    <p class="tab-title1" style="padding-top: 13px;"><?php echo $this->translate('Best Moving Items');?></p>
                </div>
                <div class="row">
                    <div class="row" style="display: flex;">
                        <div class="col-lg-1 title-row">
                        </div>
                        <div class="col-lg-8 title-row text-center" style="width: 100%;">
                            <b><?php echo $this->translate('Item');?></b>
                        </div>
                        <div class="col-lg-3 title-row text-right" style="width: 100%;">
                            <b><?php echo $this->translate('Count');?></b>
                        </div>
                    </div>
                    <div class="list-scroll">
                        <div class="bestMovingItems">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row graph-row" style="margin-top: 15px; margin-bottom: 15px;">
        <div class="col-lg-8 graph-widget2">
            <div class="row">
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a data-toggle="tab" id="cash-credit" href="#byVehcleTab">
                      <span class="tab-title"><?php echo $this->translate('Total Stock Value With Aging');?></span>
                    </a>
                  </li>
                  <!-- <li>
                    <a data-toggle="tab" id="sales-gross-profit" href="#byItemTab"><span class="tab-title">Sales & Gross Profit By Item</span></a>
                  </li> -->
                </ul>
            </div>
            <div class="row" id="cash-chart">
            </div>
            <div class="row hidden" id="gp-chart">         
            </div>
            <div class="row hidden" id="turnover-chart">         
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row best-items">
                <div class="row" style="text-align: center;">
                    <p class="tab-title1" style="padding-top: 13px;"><?php echo $this->translate('Sale Value Of Current Stock');?></p>
                </div>
                <div class="row" id="sales-summary"></div>
            </div>
        </div>
    </div>
    </div>
</div>
<script type="text/javascript">
    (function($) {
        $(window).load(function() {
            $(".list-scroll").mCustomScrollbar({
                setHeight: 280,
                theme: "minimal-dark"
            });
        });
    })(jQuery);
</script>
<style type="text/css">
#sales-payment-summary {
  /*min-height: 150px;*/
  width: 100%;
  height: 100%;
  min-height: 250px;
  position: relative;
    left: -4px;
}

#sales-gp-summary {
  /*min-height: 150px;*/
  width: 100%;
  height: 100%;
  min-height: 250px;
  position: relative;
    left: -4px;
}

#sales-summary {
  /*min-height: 150px;*/
  width: 100%;
  height: 100%;
  min-height: 351px;
  position: relative;
  left: 0px;
}

#expense-detail {
  /*min-height: 150px;*/
  width: 100%;
  height: 100%;
  min-height: 250px;
  position: relative;
    left: -4px;
}
#income-detail {
  /*min-height: 150px;*/
  width: 100%;
  height: 100%;
  min-height: 250px;
  position: relative;
    left: -4px;
}

.badge-success {
    background-color: green;
}
.badge-danger {
    background-color: red;
}
</style>
