
<input type="hidden" id="mrpStatus" value="<?php echo $this->useMrpSettings;?>">
<input type="hidden" id="currentLoc" value="<?php echo $this->currentLoc;?>">
<div class="row">
    <br>
    <div class="alert alert-info uom-alert"><?php echo $this->translate('Note : When You Setup the MRP (Maximum Retail Price) for Items You have to provide locations correctly and You can select multiple locations and set the MRP for Items') ?></div>
    <div class="charge_tax">
        <div class="form-group">
            <label for="has_tax" class="control-label col-lg-3 col-md-4 col-sm-5">
                <?php echo $this->translate("Do you want to enable MRP Settings?"); ?>
                <a class="help_icon_js" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="right" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('SETTINGS_SMS_ENABLE') ?>">
                    <i class="fa fa-question-circle help_icon"></i>
                </a>
            </label>
            <div class="col-lg-9 col-md-8 col-sm-7">
                <br>
                <label class="switch">
                  <input id="smsEnable" type="checkbox">
                  <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
</div>

<div class="mrpSetting_div hidden row">
    <br>
    <div class="row document-radio">
        <div class="col-lg-6 product-content" id="isActualDateWiseBox">
            <label name="isActualDateWiselbl" id="isActualDateWiselbl">
                <input type="radio" class="isBulkItemWise" value="1" name="isBulkItemWise" id="isBulkItemWise" checked>
                <?php echo $this->translate('Is Bulk Item MRP Setup') ?>
            </label>
        </div>
        <div class="col-lg-6 product-content" id="isDocumentDateWiseBox">
            <label name="isDocumentDateWiselbl" id="isDocumentDateWiselbl">
                <input type="radio" class="isSingleItemWise" value="1" name="isSingleItemWise" id="isSingleItemWise">
                <?php echo $this->translate('Is Single Item MRP Setup') ?>
            </label>
        </div>
    </div>
    <div class="bulk-item hidden">
        <div id='bulk-item-mrp-details'>
            <div class="well well_heading margin_top">
                <h5 class="font_weight"><?php echo $this->translate('Bulk Item MRP Setup') ?></h5>
            </div>
            <!--add_custom_currency-->
            <div class="well well_body" style="height: 150px;" id="add_custom_currency">
                <div class="form-group">
                    <div class="col-lg-4 category_name"><!--currency_name-->
                        <label class="control-label label_bottom_margin"><?php echo $this->translate('Effected Locations') ?><font color="red"> *</font></label>
                        <select class='form-control selectpicker' data-actions-box="true"  name="location" id="location" multiple="multiple" title="<?php echo $this->translate('Select Location(s)') ?>" data-selected-text-format="count>3">
                            <?php
                            foreach ($this->locNames as $key => $locName):
                                echo '<option value="' . $key . '">' . $locName . '</option>';
                            endforeach;
                            ?>
                        </select>
                        
                    </div>

                    <div class="col-lg-4 category_name"><!--currency_name-->
                        <label class="control-label label_bottom_margin"><?php echo $this->translate('MRP Type') ?><font color="red"> *</font></label>
                        <select class='form-control selectpicker' name="mrpType" id="mrpType"  title="<?php echo $this->translate('Select Mrp Type') ?>" data-selected-text-format="count>3">
                            <option value="0"><?php echo $this->translate('Select MRP Type') ?></option>
                            <option value="1"><?php echo $this->translate('Percentage') ?></option>
                            <option value="2"><?php echo $this->translate('Value') ?></option>
                        </select>
                    </div>

                    <div class="col-lg-4 category_type"><!--currency_symbol-->
                        <label class="control-label label_bottom_margin"><?php echo $this->translate('Mrp Value') ?><font color="red"> *</font></label>
                        <input type="text" name="service-charge-type-name" id ="mrpPercentageVal" placeholder="MRP Percenage Value" class="service-charge-type-name form-control">
                    </div>
                </div><!--./form_group-->
            
            </div><!--well-->
        </div>
        <div id='bulk-items'>
            <div class="well well_heading margin_top">
                <h5 class="font_weight"><?php echo $this->translate('Select Items For Mrp Setup') ?></h5>

            </div>
            <!--add_custom_currency-->
            <div class="well well_body" style="height: auto;" id="add_custom_currency">
                <div class="row">
                    <div class="col-lg-2">
                        <br>
                        <label class="remove_weight margin_bottom_normal_low"><?php echo $this->translate('Search Items By Category') ?></label>
                    </div>
                    <div class="col-lg-9">
                        <br>
                        <select class='form-control selectpicker' data-actions-box="true"  name="category" id="category" title="<?php echo $this->translate('Select Category') ?>" data-selected-text-format="count>3">
                            <option value="0"><?php echo $this->translate('Select a Item Category') ?></option>
                            <?php
                                foreach ($this->catgryList as $categoryID => $categoryName):
                                    echo '<option value="' . $categoryID . '">' . $categoryName . '</option>';
                                endforeach;
                            ?>
                        </select>
                    </div>
                </div>
                <div class="form-group hidden select-all-div">
                    <div>
                        <label class="">
                            <input type="checkbox" name="selectAll" />
                            <?php echo $this->translate('Select All') ?>
                        </label>
                    </div>
                </div>

                <div class="form-group margin_top table-div hidden" style="height: 300px;overflow-y: auto;">
                    <!-- <div class="col-lg-8 col-lg-push-4 col-md-8 col-md-push-4"> -->
                        <table id="promoCustomerTable" class="table table-striped hidden">
                            <thead>
                                <tr>
                                    <th style="width: 43%"><?php echo $this->translate('Item Name') ?></th>
                                    <th class="con-email-header" style="width: 23%"><?php echo $this->translate('Item Code') ?></th>
                                    <th style="width: 10%; text-align: center;"><?php echo $this->translate('Select') ?></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="customerSampleRow" class="hidden">
                                    <td class="itemName"></td>
                                    <td class="itemCode"></td>
                                    <td class="text-center"><input name='promoCustomerSelect' class="promoCustomerSelect" type="checkbox" ></td>
                                </tr>
                            </tbody>
                        </table>
                    <!-- </div> -->
                </div>
                <div class="form-group margin_top_normal">
                    <div class="col-lg-12 text-right">
                        <button type="button" class="btn btn-primary cancel make-full-width" id="save-mrp-settings"><?php echo $this->translate('Save') ?></button>
                        <button type="button" class="btn btn-default cancel make-full-width" data-dismiss="modal"><?php echo $this->translate('Cancel') ?></button>
                    </div>
                </div>
                <br>
                <br>
            
            </div><!--well-->
        </div>
    </div>
    <div class="single-item hidden">
        <div class="well well_heading margin_top">
            <h5 class="font_weight"><?php echo $this->translate('Single Item MRP Setup') ?></h5>
        </div>
        <div class="well well_body" style="height: 200px;">
            <div class="alert alert-info uom-alert"><?php echo $this->translate('Note : When You Set MRP for Single Item You need to enter mrp percentage value or mrp normal value base on base uom of the item') ?></div>

           
            <div class="form-group">
                <div class="col-lg-3"><!--currency_name-->
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Effected Locations') ?><font color="red"> *</font></label>
                    <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="single-location" id="single-location" multiple="multiple" title="<?php echo $this->translate('Select Location(s)') ?>" data-selected-text-format="count>3">
                        <?php
                        foreach ($this->locNames as $key => $locName):
                            echo '<option value="' . $key . '">' . $locName . '</option>';
                        endforeach;
                        ?>
                    </select>
                    
                </div>

                <div class="col-lg-3"><!--currency_name-->
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Select Item') ?><font color="red"> *</font></label>
                    

                    <select class="form-control selectpicker" title="" id="product" name="product" data-live-search="true">
                        <option value=""><?php echo $this->translate('Select Product') ?></option>
                    </select>
                </div>

                <div class="col-lg-3"><!--currency_symbol-->
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Mrp Type') ?><font color="red"> *</font></label>
                    <select class='form-control selectpicker' name="mrpType" id="mrpType"  title="<?php echo $this->translate('Select Mrp Type') ?>" data-selected-text-format="count>3">
                        <option value="0"><?php echo $this->translate('Select MRP Type') ?></option>
                        <option value="1"><?php echo $this->translate('Percentage') ?></option>
                        <option value="2"><?php echo $this->translate('Value') ?></option>
                    </select>
                    
                </div>
                <div class="col-lg-3"><!--currency_symbol-->
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Mrp Value') ?><font color="red"> *</font></label>
                    <div class="input-group hidden" id ="mrpPercentagediv">
                        <input type="text" class="service-charge-type-name form-control"  id ="singlemrpPercentageVal" placeholder="MRP Percenage Value" class="service-charge-type-name form-control">
                        <span class="input-group-addon sign"></span>
                    </div>
                    <div class="input-group" id="mrpValDiv">
                        <input type="text"  id ="singlemrpVal" placeholder="MRP Value" class="service-charge-type-name form-control">
                        <span class="input-group-addon sign"></span>
                    </div>
                    
                </div>
            </div><!--./form_group-->
        </div><!--well-->
        <div class="row" style="padding-top: 25px;">
            <div class="col-lg-12 text-right">
                <button type="button" class="btn btn-primary cancel make-full-width" id="save-single-mrp-settings"><?php echo $this->translate('Save') ?></button>
                <button type="button" class="btn btn-default cancel make-full-width" data-dismiss="modal"><?php echo $this->translate('Cancel') ?></button>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>

<style type="text/css">
    .select2-selection {
        height: 32px !important;
        width: 100px !important;
    }
</style>
