
<div id="delete_quotations" class="modal fade" style="position: absolute"></div>

<!--search_quotation-->
<div class="well clearfix well_custom_padding margin_top quotation_panel xs_view">
	<div class="product-search" method="post" action="">
        <div class="col-lg-3">
            <label class="remove_weight"><?php echo $this->translate('Search Item') ?></label>
        </div>
        <div class="col-lg-9">
            <div class=" input-group">
                <input type ="text" id ='productSearch' class="form-control" placeholder="<?php echo $this->translate('Enter Item Name or Item Code or Item Description') ?>"/>
                <span class="input-group-btn">
                    <button class="btn btn-default minus_margin" type="button" id = "searchItem"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default reset"  id ="reset-button"type="button"><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <br>
            <label class="remove_weight margin_bottom_normal_low"><?php echo $this->translate('Search Items By Category') ?></label>
        </div>
        <div class="col-lg-9">
            <br>
                        
            <select class='form-control selectpicker'   name="category" id="category" title="<?php echo $this->translate('Select Category') ?>" data-selected-text-format="count>3">
                <option value="0"><?php echo $this->translate('Select a Item Category') ?></option>
                <?php
                    foreach ($this->catgryList as $categoryID => $categoryName):
                        echo '<option value="' . $categoryID . '">' . $categoryName . '</option>';
                    endforeach;
                ?>
            </select>
        </div>
    </div>
    

</div><!--well-->

<div id="cqview"></div>
<div id="contactList">
    <?php
    	
     echo $this->partial('invoice/mrp-settings/mrp-item-list', array('itemList' => $itemList,'isPaginated' => $paginated)) ?>
</div>



