<div class="row">

    <div id="cus-order-list" class="table table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class=""><?php echo $this->translate('Item Name') ?></th>
                    <th class=""><?php echo $this->translate('Item Code') ?></th>
                    <th><?php echo $this->translate('Mrp Type') ?></th>
                    <th class="text-center"><?php echo $this->translate('Mrp Percentage Value') ?></th>
                    <th class="text-right"><?php echo $this->translate("Mrp Value") ?></th>
                </tr>
            </thead>
            <tbody>
                <?php
                foreach ($this->itemList as $key => $item) {
                    $quo = (object) $item;
                    $item = (object) $item;
                    $state = ucfirst($this->statuses[$item->customerOrderStatus]);
                    $style = NULL;
                    switch ($quo->mrpType) {

                        case "1":
                            $type = "percentage";
                            break;
                        case "2":
                            $type = "value";
                            break;
                        default :
                            $type = "-";
                    }
                    ?>
                    <tr>
                        <td class=""> <?php echo $item->productCode; ?></td>
                        <td class=""> <?php echo $item->productName?></td>
                        <td> <?php echo $type ?></td>
                        <td class="text-center "><?php echo (!empty($item->mrpPercentageValue)) ? number_format(($item->mrpPercentageValue), 2).' %'  : '-'; ?></td>
                        <td class="text-right"><?php echo (is_null($item->mrpValue)) ? '-' : 'Rs '. number_format($item->mrpValue,2) ?></td>

                        
                        <?php
                    }

                    if (count($this->itemList) == 0) {
                        ?>
                    <tr class="not_found">
                        <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                    </tr>
                    <?php
                }
                ?>
            </tbody>
        </table>
        <?php
        if ($this->isPaginated) {
            echo $this->paginationControl(
                    $this->itemList, 'sliding', array('partial/paginator.phtml', 'mrpSetting'), array(
                'route' => 'mrp-setting', 'action' => 'list',
                    )
            );
        }
        ?>
    </div>

</div>