<?php $this->headScript()->appendFile($this->basePath('js/inventory/supplier.js')); ?>

<?php
$form = $this->supplierForm;
$form->prepare();
?>


<div class="form-horizontal well clearfix margin_top margin_bottom">
    <?php echo $this->form()->openTag($form); ?>

    <div class="form-group">
        <label for="customerTitle" class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Title ') ?></label>
        <div class="col-lg-6 col-md-6 col-sm-8">
            <?php echo $this->formRow($form->get('supplierTitle')); ?>
        </div>
    </div>

    <div class="form-group">
        <label for="suppliername" class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Supplier Name ') ?><font color="red">*</font></label>
        <div class="col-lg-6 col-md-6 col-sm-8">
            <?php echo $this->formRow($form->get('supplierName')); ?>
        </div>
    </div>

    <div class="form-group">
        <label for="supplierCodes" class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Supplier Code ') ?><font color="red">*</font>
            <a class="help_icon_js" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="top" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('INVENTORY_SUPP_ADD_CODE') ?>">
                <i class="fa fa-question-circle help_icon"></i>
            </a>
        </label>
        <div class="col-lg-6 col-md-6 col-sm-8">
            <?php echo $this->formRow($form->get('supplierCode')); ?>
        </div>
    </div>

    <div class="form-group">
        <label for="supplierCategory" class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Supplier Category ') ?>
            <a class="help_icon_js" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="top" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('INVENTORY_SUPP_ADD_CATEGORY') ?>">
                <i class="fa fa-question-circle help_icon"></i>
            </a>
        </label>
        <div class="col-lg-6 col-md-6 col-sm-8">
            <?php echo $this->formRow($form->get('supplierCategory[]')); ?>
        </div>
    </div>

    <div id="supplier_more" class="hidden">
        <div class="form-group">
            <label for="supplierCurrency" class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Currency ') ?></label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                <?php echo $this->formRow($form->get('supplierCurrency')); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 col-md-3  col-sm-4  control-label"><?php echo $this->translate('Telephone Number :') ?></label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                <?php echo $this->formRow($form->get('supplierTelephoneNumber')); ?>
            </div>
        </div>

        <div class="form-group">
            <label for="supplierEmail" class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Email :') ?></label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                <?php echo $this->formRow($form->get('supplierEmail')); ?>
            </div>
        </div>

        <div class="form-group">
            <label for="supplierAddress" class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Address :') ?></label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                <?php echo $this->formRow($form->get('supplierAddress')); ?>
            </div>
        </div>

        <div class="form-group">
            <label for="supplierVatnumber" class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Tax Registration No :') ?></label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                <?php echo $this->formRow($form->get('supplierVatNumber')); ?>
            </div>
        </div>

        <div class="form-group">
            <label for="supplierCreditlimit" class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Credit Limit :') ?>
                <a class="help_icon_js" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="top" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('INVENTORY_SUPP_ADD_CRLIMIT') ?>">
                    <i class="fa fa-question-circle help_icon"></i>
                </a>
            </label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                <?php echo $this->formRow($form->get('supplierCreditLimit')); ?>
            </div>
        </div>

        <div class="form-group">
            <label for="supplierPaymentTerm" class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Payment Terms :') ?></label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                <?php echo $this->formRow($form->get('supplierPaymentTerm')); ?>
            </div>
        </div>

        <div class="form-group">
            <label for="SupplierBalance" class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Supplier Balance :') ?></label>
            <div class="col-lg-6 col-md-6 col-sm-8 add_row"><!--.add_row class for supplier_edit_modal specific style-->
                <div class="add_form_group">
                    <div class="col-lg-6 remove_left_padding balance_left">
                        <?php echo $this->formRow($form->get('supplierOutstandingBalance')); ?>
                        <label class="label label-danger custom_label"><?php echo $this->translate('Outstanding') ?></label>
                    </div>
                    <div class="col-lg-6 remove_right_padding balance_right">
                        <?php echo $this->formRow($form->get('supplierCreditBalance')); ?>
                        <label class="label label-success custom_label"><?php echo $this->translate('Credit') ?></label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="supplierOther" class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Other :') ?></label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                <?php echo $this->formRow($form->get('supplierOther')); ?>
            </div>
        </div>

        <?php if($this->useAccounting == 1){?>
        <div class="form-group">
            <label for="supplierPayableAccountID" class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Payable Account') ?></label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                <?php echo $this->formRow($form->get('supplierPayableAccountID')); ?>
            </div>
        </div>

        <div class="form-group">
            <label for="supplierPurchaseDiscountAccountID" class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Purchase Discount Account') ?></label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                <?php echo $this->formRow($form->get('supplierPurchaseDiscountAccountID')); ?>
            </div>
        </div>

        <div class="form-group">
            <label for="supplierGrnClearingAccountID" class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Grn Clearing Account') ?></label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                <?php echo $this->formRow($form->get('supplierGrnClearingAccountID')); ?>
            </div>
        </div>

        <div class="form-group">
            <label for="supplierAdvancePaymentAccountID" class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate(' Advance Payment Account ') ?></label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                <?php echo $this->formRow($form->get('supplierAdvancePaymentAccountID')); ?>
            </div>
        </div>
        <?php }?>
    </div><!--/#customer_more-->

    <div class="form-group margin_top_high">
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs margin_top_normal supplier_modal_remove"></div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 more_detail margin_top_normal remove_class"><!--remove_class is used to remove col-lg-2 in supplier_modal-->
            <div class="">
                <a id="moredetails" title="" class="btn"><?php echo $this->translate('More Details') ?>
                    <span class="glyphicon glyphicon-circle-arrow-down"></span>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-9 col-xs-9 col-vxs-12 text-right margin_top_normal remove_class_btn">
            <div>
                <?php echo $this->formRow($form->get('supplierFormCancel')); ?>
                <?php echo $this->formRow($form->get('supplierFormButton')); ?>
            </div>
        </div>
    </div>

    <?php
    echo $this->form()->closeTag();
    ?>
</div><!--form_horizontal-->