<table class="table table-condensed">
    <thead>
        <tr>
            <th><?php echo $this->translate('Enumerator') ?></th>
            <th><?php echo $this->translate('EzBiz Type') ?> </th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($enumerators as $enumerator) { ?>
            <tr data-id="<?php echo $enumerator; ?>" class="enum-tr">
                <td><?php echo $enumerator; ?></td>
                <td>
                    <select class="form-control input-sm enumSelector">                
                        <?php foreach ($fieldData as $key => $value) { ?>                
                            <option value="<?php echo $key; ?>"><?php echo $value; ?></option>
                        <?php } ?>
                    </select>
                </td>
            </tr>
        <?php } ?>                    
    </tbody>
</table>