<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
<?php $this->headScript()->captureEnd() ?>
<?php $this->headScript()->appendFile($this->basePath('js/inventory/supplier.js')); ?>

<?php
$title = $this->translate('Supplier Data Import');
$this->headTitle($title);
$form = $this->form;
$suppliers = $this->data;
?>
<h2><?php echo $this->escapeHtml($title); ?></h2>
<div id="supplier-import-form-div" class="modal fade"></div>
<div style="display: none" id="importheader"><?php echo $this->header ?></div>
<div style="display: none" id="importdelim"><?php echo $this->delim ?></div>
<div style="display: none" id="importcolumncount"><?php echo $this->columns ?></div>

<div class="row panel">
    <div id="supplier-data_list">
        <table id="importdatatable" class="table table-striped">
            <thead class="panel panel-info">
                <tr class="panel panel-heading">
                    <th class="col-lg-4 "><?php echo $this->translate('Header') ?>
                        <a class="help_icon_js" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="top" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('INVOICE_IMPORTCUSTOMER_FIELD_DATA') ?>">
                            <i class="fa fa-question-circle help_icon"></i>
                        </a>
                    </th>
                    <th class="col-lg-4 "><?php echo $this->translate('Field Data') ?></th>
                    <th class="col-lg-3 text-center"><?php echo $this->translate('Name of the Field') ?>
                        <a class="help_icon_js" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="top" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('INVOICE_IMPORTCUSTOMER_FIELD_NAME') ?>">
                            <i class="fa fa-question-circle help_icon"></i>
                        </a>
                    </th>
                    <th class="col-lg-1 text-center">
                        <?php echo $this->translate('Default Value') ?>
                    </th>
                </tr>
            </thead>
            <tbody class="panel panel-body">
                <?php
                $i = 0;
                foreach ($suppliers as $key => $supplierdata) {
                    ?>
                    <tr data-column='<?php echo $i; ?>'>
                        <td class="col-lg-3"> <?php echo $supplierdata['header']; ?></td>
                        <td class="col-lg-3"> <?php echo $supplierdata['row']; ?></td>
                        <td class="col-lg-3"><select class="form-control supplierimportselector" id="<?php echo $i ?>"  name="select">
                                <option value="Unmapped"><?php echo $this->translate('Select..') ?></option>
                                <option value="Supplier Title"><?php echo $this->translate('Supplier Title') ?></option>
                                <option value="Supplier Name"><?php echo $this->translate('Supplier Name') ?></option>
                                <option value="Supplier Code"><?php echo $this->translate('Supplier Code') ?></option>
                                <option value="Supplier Category"><?php echo $this->translate('Supplier Category') ?></option>
                                <option value="Currency"><?php echo $this->translate('Currency') ?></option>
                                <option value="Telephone"><?php echo $this->translate('Telephone') ?></option>
                                <option value="Email"><?php echo $this->translate('Email') ?></option>
                                <option value="Address"><?php echo $this->translate('Address') ?></option>
                                <option value="Tax Registration No"><?php echo $this->translate('Tax Registration No') ?></option>
                                <option value="Outstanding Balance"><?php echo $this->translate('Outstanding Balance') ?></option>
                                <option value="Credit Balance"><?php echo $this->translate('Credit Balance') ?></option>
                                <option value="Credit Limit"><?php echo $this->translate('Credit Limit') ?></option>
                                <option value="Other"><?php echo $this->translate('Other') ?></option>
                            </select> </td>
                            <td class="">
                                <button type="button" class="btn btn-sm btn-default pull-right hidden enum-modal-btn" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                </button>
                            </td>
                    </tr>
                    <?php
                    $i++;
                }
                ?>
            </tbody>
        </table>

        <!--hidden fields-->
        <input id="fileData" class="hidden" value="<?php echo htmlentities(serialize($fData)); ?>">
        <input id="fileHeader" class="hidden" value="<?php echo $header ?>">
        <input id="fileHandlerType" class="hidden" value="<?php echo $fileHandlerType; ?>">

        <button id="importdatabutton" class="btn btn-primary"><?php echo $this->translate('Import') ?></button>
        <button id="customerimportcancel" type="reset" class="btn btn-warning"><?php echo $this->translate('Cancel') ?></button>
    </div>
    <div class="modal fade" id="enumeratorModal" tabindex="-1" role="dialog" aria-labelledby="enumeratorModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id='enumeratorModalTitle'><?php echo $this->translate('Enumerator Modal') ?></h4>
                </div>
                <div class="modal-body" id='enumeratorModalBody'>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
                    <button type="button" class="btn btn-success enum-save-btn"><?php echo $this->translate('Save') ?></button>                    
                </div>
            </div>
        </div>
    </div>
</div>


