<div class="well clearfix well_custom_padding margin_top">

    <div class="col-lg-2 col-md-3 col-sm-12">
        <label class="remove_weight"><?php echo $this->translate('Search Supplier') ?></label>
    </div>

    <form class="col-lg-10 supplier-search-form">
        <div class="input-group">
            <input type ="text" id ='supplierSearch' class="form-control" placeholder="<?php echo $this->translate('Enter Supplier Name or Part of the Name') ?>"/>
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default minus_margin"><?php echo $this->translate('Search'); ?></button>
                <button type="reset" class="btn btn-default supplier-reset"><?php echo $this->translate('Cancel'); ?></button>
            </span>
        </div>
    </form>

</div>

