<?php // $this->headLink()->prependStylesheet($this->basePath() . '/assets/bootstrap/css/bootstrap-select.min.css');  ?>
<?php // $this->headScript()->prependFile($this->basePath('assets/bootstrap/js/bootstrap-select.min.js'));  ?>
<?php $this->headScript()->appendFile($this->basePath('js/inventory/supplier.js')); ?>

<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate('Add a supplier') ?></h4>
        </div>

        <div class="modal-body">
            <?php $this->headScript()->appendFile($this->basePath('js/inventory/supplier.js')); ?>

            <?php
            $form = $this->supplierForm;
            $form->prepare();
            ?>
            <div class="form-horizontal clearfix margin_top">
                <?php echo $this->form()->openTag($form); ?>

                <div class="form-group">
                    <label for="supplierTitle" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Title ') ?></label>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <?php echo $this->formRow($form->get('supplierTitle')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="suppliername" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Supplier Name ') ?><font color="red">*</font></label>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <?php echo $this->formRow($form->get('supplierName')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="supplierCodes" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Supplier Code ') ?><font color="red">*</font></label>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <?php echo $this->formRow($form->get('supplierCode')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="supplierCategory" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Supplier Category :') ?></label>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <?php echo $this->formRow($form->get('supplierCategory[]')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="supplierCurrency" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Currency ') ?></label>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <?php echo $this->formRow($form->get('supplierCurrency')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-5 col-lg-offset-4 col-md-5 col-md-offset-4 col-sm-5 col-sm-offset-4 more_detail">
                        <a id="moredetails" title="" class="btn"><?php echo $this->translate('More Details') ?>
                            <span class="glyphicon glyphicon-circle-arrow-down"></span>
                        </a>
                    </div>
                </div>

                <div id="supplier_more" class="hidden">
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Telephone Number') ?></label>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <?php echo $this->formRow($form->get('supplierTelephoneNumber')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="supplierEmail" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Email') ?></label>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <?php echo $this->formRow($form->get('supplierEmail')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="supplierAddress" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Address') ?></label>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <?php echo $this->formRow($form->get('supplierAddress')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="supplierVatnumber" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Vat Number') ?></label>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <?php echo $this->formRow($form->get('supplierVatNumber')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="supplierCreditlimit" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Credit Limit ') ?></label>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <?php echo $this->formRow($form->get('supplierCreditLimit')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="supplierPaymentTerm" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Payment Terms ') ?></label>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <?php echo $this->formRow($form->get('supplierPaymentTerm')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="SupplierBalance" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Supplier Balance ') ?></label>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="col-lg-6 col-md-6 col-sm-6 remove_left_padding balance_left">
                                <?php echo $this->formRow($form->get('supplierOutstandingBalance')); ?>
                                <label class="label label-danger custom_label"><?php echo $this->translate('Outstanding') ?></label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 remove_right_padding balance_right">
                                <?php echo $this->formRow($form->get('supplierCreditBalance')); ?>
                                <label class="label label-success custom_label"><?php echo $this->translate('Credit') ?></label>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="supplierOther" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Other ') ?></label>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <?php echo $this->formRow($form->get('supplierOther')); ?>
                        </div>
                    </div>

                    <?php if($this->useAccounting == 1){?>
                    <div class="form-group">
                    <label for="supplierPayableAccountID" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Payable Account') ?></label>
                    	<div class="col-lg-8 col-md-8 col-sm-8">
                    		<?php echo $this->formRow($form->get('supplierPayableAccountID')); ?>
                    	</div>
                    </div>

                    <div class="form-group">
                    	<label for="supplierPurchaseDiscountAccountID" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Purchase Discount Account') ?></label>
                    	<div class="col-lg-8 col-md-8 col-sm-8">
                    		<?php echo $this->formRow($form->get('supplierPurchaseDiscountAccountID')); ?>
                    	</div>
                    </div>

                    <div class="form-group">
                    	<label for="supplierGrnClearingAccountID" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Grn Clearing Account') ?></label>
                    	<div class="col-lg-8 col-md-8 col-sm-8">
                    		<?php echo $this->formRow($form->get('supplierGrnClearingAccountID')); ?>
                    	</div>
                    </div>

                    <div class="form-group">
                    	<label for="supplierAdvancePaymentAccountID" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate(' Advance Payment Account ') ?></label>
                    	<div class="col-lg-8 col-md-8 col-sm-8">
                    		<?php echo $this->formRow($form->get('supplierAdvancePaymentAccountID')); ?>
                    	</div>
                    </div>
                    <?php }?>
                </div><!--/#customer_more-->

                <?php
                echo $this->form()->closeTag();
                ?>
            </div>
        </div>

        <div class="modal-footer">
            <?php echo $this->formRow($form->get('supplierFormButton')); ?>
            <button type="button" id="addSupplierModalClose" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
        </div>

    </div>
</div>