<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('Category Name') ?></th>
                <th width="10%" class="text-center"><?php echo $this->translate('Edit') ?></th>
                <th width="10%" class="text-center"><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->categoryList as $list) {
                ?>
                <tr data-categoryrow="<?php echo $list->supplierCategoryID; ?>">
                    <td><?php echo $list->supplierCategoryName; ?></td>

                    <td class="text-center">
                        <a href="#" class="edit">
                            <span class="fa fa-pencil-square-o custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="#" class="delete">
                            <span class="fa fa-trash-o custom_font_size"></span>
                        </a>
                </tr>
            <?php } ?>
        </tbody>
    </table>
</div>

<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->categoryList, 'sliding', array('partial/paginator.phtml', 'supplier'), array(
        'route' => 'supplier', 'action' => 'supplierCategory'
            )
    );
}
?>