<div class="table-responsive">
    <table class="table table-striped">
        <thead class="table_row_color">
            <tr>
                <th><?php echo $this->translate('Supplier Name') ?></th>
                <th><?php echo $this->translate('Supplier Code') ?></th>
                <th><?php echo $this->translate('Telephone Number') ?></th>
                <th class="text-right"><?php echo $this->translate('Credit Bal') ?></th>
                <th class="text-right"><?php echo $this->translate('Outstanding Bal') ?></th>
                <th class="text-center"><?php echo $this->translate('Edit') ?></th>
                <th class="text-center"><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>

        <tbody>
            <?php
            foreach ($this->suppliers as $key => $supplier) {
                ?>
                <tr>
                    <td><?php echo $supplier->supplierTitle . ' ' . $supplier->supplierName; ?></td>
                    <td><?php echo $supplier->supplierCode; ?></td>
                    <td><?php echo $supplier->supplierTelephoneNumber; ?></td>
                    <td class="text-right"> <?php echo number_format($supplier->supplierCreditBalance, 2); ?></td>
                    <td class="text-right"> <?php echo number_format($supplier->supplierOutstandingBalance, 2); ?></td>
                    <td class="text-center">
                        <a class="editSupplier pointer" onclick="editSupplier(<?php echo $supplier->supplierID; ?>)">
                            <span class="supplierEdit fa fa-pencil-square-o custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a class="pointer"><span onclick="deleteSupplier(<?php echo $supplier->supplierID; ?>, '<?php echo $supplier->supplierName; ?>')" class="supplierDelete fa fa-trash-o custom_font_size"></span></a>
                    </td>
                </tr>
                <?php
            }

            if (count($this->suppliers) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="7"><?php echo $this->translate('No matches were found.') ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
    <?php
    if (!isset($this->paginated)) {
        echo $this->paginationControl(
                $this->suppliers, 'sliding', array('partial/paginator.phtml', 'supplier'), array(
            'route' => 'supplier', 'action' => 'view'
                )
        );
    }
    ?>
</div>