<?php $this->headScript()->appendFile($this->basePath('js/inventory/supplierCategory.js')); ?>

<?php
$form = $this->addSupplierCategoryForm;
$form->setAttribute('id', 'create-supplier-category-form');
$form->prepare();
echo $this->form()->openTag($form);
?>

<!--This for add or update supplier category-->
<div class="category-form-container margin_top">
    <div class="well toggle_purpose">
        <h5 class="font_weight"><?php echo $this->translate('Add Category') ?></h5>
        <h5 class="font_weight update"><?php echo $this->translate('Update Category') ?></h5>
    </div>

    <?php
    $form->prepare();
    echo $this->form()->openTag($form);
    echo $this->formHidden($form->get('supplierCategoryID'));
    ?>

    <div class="well clearfix well_custom_padding">

        <div class="col-lg-12">
            <div class="form-group" style="margin-bottom: 0;">
                <label for="supplierCategoryName" class="col-lg-3 col-md-3 col-sm-12 control-label">
                    <?php echo $this->translate('Supplier Category Name ') ?><font color="red">*</font> :
                </label>
                <div class="col-lg-6 col-md-5 col-sm-7">
                    <?php echo $this->formRow($form->get('supplierCategoryName')); ?>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-5">
                    <div class="form-group button-set update" style="margin-bottom: 0">
                        <div class="col-lg-12 text-right">
                            <button type="submit" class="btn btn-primary update category_update_btn"><?php echo $this->translate('Update') ?></button>
                            <button type="reset" class="btn btn-default reset"><?php echo $this->translate('Cancel') ?></button>
                        </div>
                    </div>

                    <div class="form-group button-set" style="margin-bottom: 0">
                        <div class="col-lg-12 text-right">
                            <button type="submit" class="btn btn-primary add"><?php echo $this->translate('Add New') ?></button>
                            <button type="reset" class="btn btn-default reset"><?php echo $this->translate('Reset') ?></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--        <div class="form-group">
                    <div class="col-lg-12 text-right">
                        <button type="submit" class="btn btn-primary add"><?php echo $this->translate('Add New') ?></button>
                        <button type="reset" class="btn btn-danger reset"><?php echo $this->translate('Reset') ?></button>
                    </div>
                </div>-->

        <?php
        echo $this->form()->closeTag();
        ?>
    </div>
</div> <!--end of add or update supplier category-->

<div id="categoryview"></div>

<div class="well clearfix well_custom_padding margin_top"> <!--search supplier category-->
    <form class="category-search" method="post" action="">
        <div class="col-lg-3">
            <label class="remove_weight"><?php echo $this->translate('Search a Category') ?></label>
        </div>
        <div class="col-lg-9">
            <div class=" input-group">
                <input type="text" class="search form-control" id ='supplier-category-search-keyword' placeholder="<?php echo $this->translate('Enter Supplier Category') ?>"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default reset" type="reset"><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </form>
</div><!--End of search-->

<div id="category-list" class="margin_top">
    <?php echo $this->partial('inventory/supplier/supplier-category-list', array('categoryList' => $this->categoryList, 'paginated' => $this->paginated)); ?>
</div>