<div>
    <?php
    if (isset($this->supplierSearchHeader)):
        echo $this->supplierSearchHeader;
    endif;
    ?>
</div>
<style>
    .form-horizontal .form-group{
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
    .more_detail .btn{
        padding-left: 0;
    }
</style>
<script type="text/javascript">
    $(function() {
        $('.edit_supplier_modal .form-horizontal').removeClass('well margin_top margin_bottom');
        $('.edit_supplier_modal .form-group label').removeClass('col-lg-3 col-md-3 col-sm-4');
        $('.edit_supplier_modal .form-horizontal .form-group').addClass('modal_input_margin').removeClass('form-group');
        $('.modal_input_margin div').removeClass('col-lg-6 col-md-6 col-sm-8');
        $('.edit_supplier_modal .add_form_group').addClass('form-group');
        $('.edit_supplier_modal .add_row').addClass('row');
        $('.remove_left_padding, .remove_right_padding').addClass('col-lg-6');
        $('.modal_input_margin').removeClass('margin_top_high');
        $('.supplier_modal_remove').remove();
        $('.remove_class').removeClass('col-lg-2 margin_top_normal');
        $('.remove_class_btn').removeClass('col-lg-4 col-md-5');
    });
</script>
<div class="row">
    <div id="supplierList" class="margin_top_normal">
        <?php
        if (isset($this->supplierList)):
            echo $this->supplierList;
        endif;
        ?>
    </div>
    <div class="modal fade edit_supplier_modal" id="edit_supplier" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4><?php echo $this->translate("Edit Supplier"); ?></h4>
                </div>
                <div class="modal-body">
                    <?php
                    if (isset($this->createSupplierForm)):
                        echo $this->createSupplierForm;
                    endif;
                    ?>
                </div>
            </div>
        </div>
    </div>
</div>