<!--grn_list-->
<div class="table-responsive" id="draftGrnList">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('Draft GRN No') ?></th>
                <th class="text-center"><?php echo $this->translate('Draft GRN Date') ?></th>
                <th class="text-center"><?php echo $this->translate('Supplier') ?></th>
                <th class="text-center"><?php echo $this->translate('Location') ?></th>
                <th class="text-center"><?php echo $this->translate('Total') ?></th>
                <th class="text-center"><?php echo $this->translate('Status') ?></th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->draftGrnList as $key => $dftGrn) {
                $dftGrn = (object) $dftGrn;
                $state = ucfirst($this->statuses[$dftGrn->status]);
                $style = NULL;
                switch ($dftGrn->status) {
                    case "1":
                        $style = "label label-primary";
                        break;
                    case "2":
                        $style = "label label-default";
                        break;
                    case "3":
                        $state = 'Pending';
                        $style = "label label-default";
                        // $style = "label label-success";
                        break;
                    case "4":
                        $style = "label label-warning";
                        break;
                    case "5":
                        $style = "label label-primary";
                        break;
                    case "6":
                        $state = 'Open';
                        $style = "label label-danger";
                        break;
                    case "16":
                        $state = 'Approved';
                        $style = "label label-success";
                        break;
                    case "13":
                        $state = 'Rejected';
                        $style = "label label-danger";
                        break;
                    default :
                        $style = "label label-default";
                }
                ?>
                <tr>
                    <td> <?php echo $dftGrn->grnCode; ?></td>
                    <td class="text-center"> <?php echo $dftGrn->grnDate; ?></td>
                    <td class="text-center"> <?php echo $dftGrn->supplierName; ?></td>
                    <td class="text-center"> <?php echo $dftGrn->locationName; ?></td>
                    <td class="text-center"> <?php echo number_format($dftGrn->grnTotal, 2); ?></td>
                    <td class="text-center"><span class="<?php echo $style; ?>"> <?php echo $state; ?></span></td>
                </tr>
                <?php
            }

            if (count($this->draftGrnList) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div>
<?php
if (!isset($this->paginated)) {
    echo $this->paginationControl(
            $this->draftGrnList, 'sliding', array('partial/paginator.phtml', 'draftGrnList'), array(
        'route' => 'grn', 'action' => 'draftGrnList'
            )
    );
}
?>

<!-- Project contractor  View Modal -->
<div class="modal fade" id="approveRejectConfirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
               <!--  <h5 class="modal-title" id="exampleModalLabel"><?php echo $this->translate('Job Contractors') ?></h5> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <!-- <span aria-hidden="true">&times;</span> -->
                </button>
            </div>
            <div class="modal-body">
                <div id="approve-msg"><span>Are you sure you want to approve this draft grn ?</span></div>
                <div id="reject-msg"><span>Are you sure you want to reject this draft grn ?</span></div>
            </div>
            <div class="modal-footer">
                <button type="button" id= "draft-confirm" class="btn btn-success"><?php echo $this->translate('Ok') ?></button>
                <button type="button"  class="btn btn-danger" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="draftItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog large grn_modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4><?php echo $this->translate('Draft Grn Related Item Details ') ?></h4>
            </div>

            <div class="modal-body" id="viewGrnItemBody">
                <div class="col-lg-12 margin_top" id="draftGrnItemViewTable">
                    <div class="table table-responsive modaltable">
                        <table class="table table-striped margin_top_normal table-condensed">
                            <thead>
                                <tr>
                                    <th class=""><?php echo $this->translate("Item Code"); ?></th>
                                    <th class=""><?php echo $this->translate("Quantity"); ?></th>
                                    <th class=""><?php echo $this->translate("Batch Number"); ?></th>
                                    <th class=""><?php echo $this->translate("Expiary Date"); ?></th>
                                    <th class=""><?php echo $this->translate("Unit Cost"); ?></th>
                                    <th class=""><?php echo $this->translate("Unit Sales Price"); ?></th>
                                </tr>
                            </thead>                        

                            <tbody id="viewNewServiceRow">
                                <tr id='draftItemRow' class="hidden">
                                    <td id="draftItemCode"></td>
                                    <td id="draftItemQuantity"></td>
                                    <td id="draftItemBatchNumber"></td>
                                    <td id="draftItemExpiaryDate"></td>
                                    <td id="draftItemUnitCost"></td>
                                    <td id="draftItemUnitSalesPrice"></td>
                                </tr>
                            </tbody>
                        </table>

                    </div><!--table_responsive-->
                </div><!--./col-->
            </div>

            <div class="modal-footer modal-footer-style">
                <div class="col-lg-12">
                    <div class="text-right">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnViewServicesClose"><?php echo $this->translate('Close') ?></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>