<div class="project-edit-container expanded">
    <?php echo $grnEdit; ?>
</div>

<!-- <div class="modal fade" id="addInvoiceProductsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <?php echo $this->invoiceProducts; ?>
</div> -->

<input type="hidden" name="editmode" id="editMode" data-grnid = <?php echo $this->grnID; ?> value="1" />