<div class="modal-dialog">
    <div class="modal-content" id="grnDiscountUpload">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><?php echo $this->translate('Map Discount Type') ?></h4>
        </div>
        <div class="modal-body">
            <table class="table table-condensed" id="grnDiscountModal">
                <thead>
                    <tr>
                        <th><?php echo $this->translate('Uploaded Discount Type') ?></th>
                        <th><?php echo $this->translate('Default Discount Type') ?></th>
                    </tr>
                </thead>
                <tbody id="grnUploadDiscountType">
                                    
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" id="saveUploadDiscType" class="btn btn-primary"><?php echo $this->translate('Save Discount Types') ?></button>
            <button type="button" id="discTypeUploadClose" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
        </div>
    </div>
</div>  