<?php
$grnform = $this->grnForm;
$grnform->prepare();
$grnData = $this->grnData;

$companyCurrencySymbol = $this->companyCurrencySymbol;

$this->headScript()->prependFile($this->basePath('js/documentReference.js'));
?>
<div class="margin_top">

    <?php echo $this->form()->openTag($grnform); ?>

    <!--data_insert_section-->
    <div class="row">
        <div class="margin_top_normal">
            <div class="col-lg-5 col-md-5 col-sm-5">

                <div class="form-group">
                    <label for="supplier" class="col-lg-5 control-label">
                        <?php echo $this->translate("Supplier"); ?>
                    </label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($grnform->get('supplier')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="qot_no" class="col-lg-5 control-label">
                        <?php echo $this->translate("Retrieve Location"); ?>
                    </label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($grnform->get('retrieveLocation')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="date" class="col-lg-5 control-label">
                        <?php echo $this->translate("Supplier Reference"); ?>
                    </label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($grnform->get('supplierReference')); ?>
                    </div>
                </div>


            </div><!--./col-->
        </div><!--margin_top-->


        <div class="col-lg-5 col-md-5 col-sm-5 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
            <div class="form-group">
                <label for="date" class="col-lg-5 control-label">
                    <?php echo $this->translate("Delivery Date"); ?>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($grnform->get('deliveryDate')); ?>
                </div>
            </div>

            <div class="form-group">
                <label for="payment_term" class="col-lg-5 control-label">
                    <?php echo $this->translate('Grn No'); ?>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($grnform->get('grnNo')); ?>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-5 control-label">
                    <?php echo $this->translate('Document References'); ?>
                </label>
                <div class="col-lg-7">
                    <button type="button" class="btn btn-default" data-toggle="modal" href="#doc_ref">
                        Show document references
                    </button>
                </div>
            </div>

        </div><!--./col-->
    </div><!--margin_top-->
</div><!--row-->

<!--table-->
<div class="col-lg-12">
    <div class="table table-responsive">
        <table class="table table-striped margin_top_normal table-condensed" id="grnProductTable">
            <thead>
                <tr>
                    <th style="width: 10%"><?php echo $this->translate("Item Code"); ?></th>
                    <th style="width: 20%"><?php echo $this->translate("Item Name"); ?></th>
                    <th class="text-right" style="width: 13%"><?php echo $this->translate("Quantity"); ?></th>
                    <th style="width: 2%"</th>
                    <th class="text-right" style="width: 15%"><?php echo $this->translate("Price"); ?></th>
                    <th class="text-right" style="width: 13%"><?php echo $this->translate("Discount"); ?></th>
                    <th style="width: 2%"</th>
                    <th class="text-right" style="width: 10%"><?php echo $this->translate("Tax"); ?></th>
                    <th class="text-right" style="width: 4%"><?php echo $this->translate("More"); ?></th>
                    <th class="text-right" style="width: 15%"><?php echo $this->translate("Total"); ?></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody id="form_row">
                <?php
                foreach ($grnData['gProducts'] as $key => $grnProduct) {
                    $pQty = $grnProduct['gPQ'];
                    if (!empty($grnProduct['sP'])) {
                        $pQty = sizeof($grnProduct['sP']);
                    }
                    ?>
                    <tr class="">
                        <td id='code'><?php echo $grnProduct['gPC']; ?></td>
                        <td id='name'><?php echo $grnProduct['gPN']; ?></td>
                        <td id='quantity' class='text-right'><?php echo $grnProduct['gPQ']; ?></td>
                        <td><span id="uomName" class='text-right'><?php echo $grnProduct['gPUom']; ?></span></td>
                        <td id='unit' class='text-right'><?php echo number_format($grnProduct['gPP'], strlen(substr(strrchr($grnProduct['gPP'], "."), 1))); ?></td>
                        <td id='disc' class='text-right'><?php echo $grnProduct['gPD']; ?></td>
                        <td><span id="discTypeName" class='text-right'><?php echo $grnProduct['gPDT']; ?></span></td>
                        <td class="text-right">
                            <?php
                            $fullTaxAmount = 0;
                            if(isset($grnProduct['pT'])){
                                foreach ($grnProduct['pT'] as $pTax) {
                                    $fullTaxAmount += floatval($pTax['pTA']);
                                }    
                            }
                            
                            echo number_format($fullTaxAmount, 2);
                            ?>
                        </td>
                        <td class='text-right' id='tax'>
                            <div class='btn-group'>
                                <?php if (!empty($grnProduct['pT'])) { ?>

                                    <button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'><span class='glyphicon glyphicon-chevron-down text-left'></span></button>

                                    <ul class="text-left dropdown-menu">
                                        <?php
                                        foreach ($grnProduct['pT'] as $pTax) {
                                            ?>
                                            <li>&nbsp;&nbsp;<?php echo $pTax['pTN'] . '(' . $pTax['pTP'] . '%) - ' . number_format($pTax['pTA'], 2); ?></li>
                                            <?php
                                        }
                                        ?>

                                    </ul>
                                <?php } ?>
                            </div>
                        </td>
                        <td id='ttl' class='text-right'><?php echo number_format($grnProduct['gPT'], 2); ?></td>
                        <td></td>
                        <td>
                            <?php
                            if (empty($grnProduct['sP']) && empty($grnProduct['bP'])) {

                            } else {
                                ?>
                                <a data-toggle="modal" href='#<?php echo $key . 'viewSubProducts' ?>'style = "font-size: 18px;" class ='glyphicon glyphicon-expand'></a>
                                <?php
                            }
                            ?>
                        </td>
                    </tr>
                    <?php
                }
                ?>
            </tbody>

            <tbody>

                <tr class="">
                    <td style="height: 31px;"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr><!--sub_total-->
                    <td colspan="6"><label><?php echo $this->translate("Sub Total"); ?></label></td>
                    <td></td>
                    <td></td>
                    <td id="subtotal" class="text-right"><label><?php echo $this->grnSubTotal; ?></label></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr><!--display_taxes-->
                    <td colspan="4">
                        <span class="<?php if (empty($this->pTotalTax)) echo "hidden"; ?>remove_font_weight"><label><?php echo $this->translate("Total Taxes"); ?></label></span>
                    </td>
                    <td></td>
                    <td class="text-right font_weight" colspan="2">
                        <?php
                        $fullTotalTaxAmount = 0;
                        foreach ($this->pTotalTax as $pTotTax) {
                            $fullTotalTaxAmount += floatval($pTotTax['pTA']);
                        }
                        echo number_format($fullTotalTaxAmount, 2);
                        ?>
                    </td>
                    <td colspan="1" class="text-right">
                        <div class='btn-group'>
                            <?php if (!empty($this->pTotalTax)) { ?>

                                <button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'><span id='' class=''></span><span class='glyphicon glyphicon-chevron-down'></span></button>

                                <ul class="text-left dropdown-menu">
                                    <?php
                                    foreach ($this->pTotalTax as $pTotTax) {
                                        ?>
                                        <li>&nbsp;&nbsp;<?php echo $pTotTax['pTN'] . '(' . $pTotTax['pTP'] . '%) - ' . number_format($pTotTax['pTA'], 2); ?></li>
                                        <?php
                                    }
                                    ?>

                                </ul>
                            <?php } ?>
                        </div>
                    </td>
                    <td colspan="2"></td>
                    <td></td>
                </tr>

                <!--delivery_charges-->
                <tr>
                    <td colspan="6"><div class='deliCharges'><label><?php echo $this->translate("Delivery Charges"); ?></label></div></td>
                    <td></td>
                    <td></td>
                    <td class="text-right"><div class='deliCharges'><?php echo number_format($this->deliCharge, 2); ?></div></td>
                    <td></td>
                    <td></td>
                </tr>

                <!--total-->
                <tr>
                    <td colspan="6"><h4 class="font_weight"><?php echo $this->translate("Total"); ?></h4></td>
                    <td></td>
                    <td></td>
                    <td class="text-right"><h4 id="finaltotal" class="font_weight"><?php echo $companyCurrencySymbol . "&nbsp;" . number_format($grnData['gT'], 2); ?></h4></td>
                    <td colspan="3"></td>
                </tr>
            </tbody>
        </table>

    </div><!--table_responsive-->
</div><!--./col-->

<!--comment-->
<div class="row clearfix">
    <div class="col-lg-4 col-md-4 col-sm-4"><!--comment-->
        <label for="cmnt" class="">
            <?php echo $this->translate("Comment"); ?>
        </label>
        <?php echo $this->formRow($grnform->get('comment')); ?>
    </div>

    <?php echo $this->form()->closeTag(); ?>

    <div class="col-lg-4 col-sm-4"><!--button-->
        <div class="btn_margin_top">
            <button id="grnViewBack" onclick="goBack()" class="btn btn-primary"><?php echo $this->translate('Back') ?></button>
        </div>
    </div>
</div><!--row-->


<!--batch_product_details_modal-->
<?php
foreach ($grnData['gProducts'] as $key => $grnProduct) {
    if (empty($grnProduct['sP']) && empty($grnProduct['bP'])) {

    } else {
        ?>
        <div class="modal fade" id='<?php echo $key . 'viewSubProducts' ?>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4><?php echo $this->translate("Items"); ?></h4>
                    </div>

                    <div class="modal-body">
                        <?php
                        if (!empty($grnProduct['sP'])) {
                            ?>
                            <div  class="panel panel-default small_panel_heading">

                                <div class="panel-heading">
                                    <h5 class="font_weight">Serial Item List</h5>

                                </div>

                                <div class="panel-body overflow_control">

                                    <div class="product_code">
                                        <span><?php echo $this->translate("Item Code:"); ?></span>
                                        <span id="batchCodeView"><?php echo $grnProduct['gPC']; ?></span>
                                    </div>

                                    <div class="quantity_amount"></div>

                                    <div class="table-responsive">
                                        <table class="table table-striped" style="margin-bottom: 50px;">
                                            <thead>
                                                <tr>
                                                    <th><?php echo $this->translate("Serial Number"); ?></th>
                                                    <th><?php echo $this->translate("Batch Code"); ?></th>
                                                    <th><?php echo $this->translate("WarrantyType"); ?></th>
                                                    <th><?php echo $this->translate("WarrantyPeriod"); ?></th>
                                                    <th><?php echo $this->translate("Exp: Date"); ?></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <?php
                                                foreach ($grnProduct['sP'] as $serialProduct) {
                                                    $wPeriod = "";
                                                    if($serialProduct['sWT']==='4'){
                                                        $wPeriod = "Years";
                                                    }else if($serialProduct['sWT']==='3'){
                                                        $wPeriod = "Months";
                                                    }else if($serialProduct['sWT']==='2'){
                                                        $wPeriod = "Weeks";
                                                    }else{
                                                        $wPeriod = "Days";
                                                    }
                                                    ?>
                                                    <tr>
                                                        <td><?php echo $serialProduct['sC']; ?></td>
                                                        <td><?php echo isset($serialProduct['sBC']) ? $serialProduct['sBC'] : '-'; ?></td>
                                                        <td><?php echo $wPeriod  ?></td>
                                                        <td><?php echo $serialProduct['sW']; ?></td>
                                                        <td><?php echo $serialProduct['sED']; ?></td>
                                                    </tr>
                                                <?php } ?>
                                            </tbody>
                                        </table>
                                    </div><!--table_responsive-->
                                </div><!--panel_body-->
                            </div><!--panel-->
                        <?php } else if (!empty($grnProduct['bP'])) {
                            $totalBatchQty = 0;
                            foreach ($grnProduct['bP'] as $batchProduct) {
                                $totalBatchQty += floatval($batchProduct['bQ']);
                            }
                            ?>
                            <div class="panel panel-default small_panel_heading">
                                <div class="panel-heading">
                                    <h5 class="font_weight">Batch</h5>
                                </div>

                                <div class="panel-body">

                                    <div class="product_code">
                                        <span><?php echo $this->translate("Item Code:"); ?></span>
                                        <span id="batchCodeView"><?php echo $grnProduct['gPC']; ?></span>
                                    </div>

                                    <div class="quantity_amount">
                                        <span><?php echo $this->translate("Quantity:"); ?></span>
                                        <span id="batchQuantityView"><?php echo $totalBatchQty; ?></span>
                                    </div>

                                    <div class="table-responsive">
                                        <table class="table table-striped" style="margin-bottom: 50px;">
                                            <thead>
                                                <tr>
                                                    <th><?php echo $this->translate("Batch Code"); ?></th>
                                                    <th><?php echo $this->translate("Qty"); ?></th>
                                                    <th><?php echo $this->translate("Man: Date"); ?></th>
                                                    <th><?php echo $this->translate("Exp: Date"); ?></th>
                                                    <th><?php echo $this->translate("Warranty(Days)"); ?></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <?php
                                                foreach ($grnProduct['bP'] as $batchProduct) {
                                                    ?>
                                                    <tr>
                                                        <td><?php echo $batchProduct['bC']; ?></td>
                                                        <td><?php echo $batchProduct['bQ']; ?></td>
                                                        <td><?php echo $batchProduct['bMD']; ?></td>
                                                        <td><?php echo $batchProduct['bED']; ?></td>
                                                        <td><?php echo $batchProduct['bW']; ?></td>
                                                    </tr>
                                                <?php } ?>
                                            </tbody>
                                        </table>
                                    </div><!--table_responsive-->
                                </div><!--panel_body-->
                            </div><!--panel-->
                            <?php
                        }
                        ?>
                        
                    </div><!--modal_body-->

                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
                    </div>

                </div><!--modal_content-->
            </div><!--modal_dialog-->
        </div><!--modal_fade-->

        <?php
    }
}
?>

<!-- Document references modal -->
<div class="modal fade" id="doc_ref" tabindex="1" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabelx"><?php echo $this->translate("Document References"); ?></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <?php foreach ($documentReference as $docType => $refDoc): ?>
                        <div class="col-md-4">
                            <b><?php echo $docType.": "; ?></b>
                        </div>
                        <div class="col-md-8">
                        <?php foreach ($refDoc as $key => $doc): ?>
                                <span class="ref-doc link_color" data-docid="<?php echo $doc['id']; ?>" data-doctype="<?php echo $docType; ?>">
                                <?php echo $doc['code']; ?>
                                </span><br>
                        <?php endforeach; ?>
                        <br>
                        </div>
                    <?php endforeach; ?>
                    <?php if(!count($documentReference)):?>
                        <div>No referred documents to display.</div>
                    <?php endif; ?>
                </div>
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate("Close"); ?></button>
        </div>
    </div>
</div>

<!-- Reference document view modal -->
<div class="modal fade" id="doc_ref_view" tabindex="-1" >
    <div class="modal-dialog  _custom_large_modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close_doc_ref_view" >
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="doc_title"><?php echo $this->translate("Document References"); ?></h4>
            </div>
            <div class="modal-body" style="padding:.5in">
                <iframe src="" style="width:8.28in; border:none" height="1060px" id="doc_view"></iframe>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div> -->
        </div>
    </div>
</div>
