<?php
$this->headScript()->prependFile($this->basePath('js/grn/grn.js'));
?>
<div class="modal-dialog grn_modal">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate("Add items"); ?></h4>
        </div>

        <div class="modal-body">

            <div id="batchAddScreen" class="hidden">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="font_weight"><?php echo $this->translate("Batch Details"); ?></h5>
                    </div>

                    <div class="panel-body overflow_control">

                        <div class="product_code">
                            <span><?php echo $this->translate("Item Code :"); ?></span>
                            <span id="grnProductCodeBatch"></span>
                        </div>

                        <div class="quantity_amount">
                            <span><?php echo $this->translate("Quantity :"); ?></span>
                            <span id="grnProductQuantityBatch"></span>
                        </div>

                        <!--table-->
                        <div class="table-responsive">
                            <table class="table table-striped" style="margin-bottom: 45px;">
                                <thead>
                                    <tr>
                                        <th style="width: 32%;"><?php echo $this->translate("Batch Code"); ?></th>
                                        <th style="width: 11%;"><?php echo $this->translate("Qty"); ?></th>
                                        <th><?php echo $this->translate("Man: Date"); ?></th>
                                        <th><?php echo $this->translate("Exp: Date"); ?></th>
                                        <th style="width: 12%;"><?php echo $this->translate("Warranty(Days)"); ?></th>
                                        <th style="width: 10%"><?php echo $this->translate("Batch Sales Price")?>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr id="proBatchSample" class="hidden">
                                        <td id="batchNmbr" style="width: 32%;"></td>
                                        <td id="batchQty" style="width: 11%;"></td>
                                        <td id="batchMDate"></td>
                                        <td id="batchEDate"></td>
                                        <td id="batchW" style="width: 12%;"></td>
                                        <td id="btchPrice" style="width: 10%">
                                        <td class="text-center"><span class='batchDelete glyphicon glyphicon-trash delete' id=''></span></td>
                                    </tr>
                                </tbody>

                                <tbody id="addNewBatch">
                                    <tr id="proBatchAddNew">
                                        <td style="width: 33%;">
                                            <input id="newBatchNumber" class="form-control" type="text" value="" autocomplete="off" name="batchCode">
                                        </td>
                                        <td style="width: 12%;">
                                            <input id="newBatchQty" class="form-control" type="text" value="" autocomplete="off" name="batchQty">
                                        </td>
                                        <td>
                                            <input id="newBatchMDate" class="datepicker form-control" readonly="true" data-date-format="<?php echo $this->dateFormat ?>" placeholder="<?php echo $this->dateFormat ?>" type="text" value="" autocomplete="off" name="newBatchMDate">
                                        </td>
                                        <td>
                                            <input id="newBatchEDate" class="datepicker form-control" readonly="true" data-date-format="<?php echo $this->dateFormat ?>" placeholder="<?php echo $this->dateFormat ?>" type="text" value="" autocomplete="off" name="newBatchEDate">
                                        </td>
                                        <td style="width: 15%;">
                                            <input id="newBatchWarrenty" class="form-control" type="text" value="" autocomplete="off" name="batchQty">
                                        </td>
                                        <td style="width: 10%;">
                                            <input id="newBatchPrice" class="form-control" type="text" value="" autocomplete="off" name="batchPriz">
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-default text-right" id="addBatchItem"><i class="glyphicon glyphicon-plus"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div><!--modal_body-->
                </div><!--panel_default-->
            </div><!--#batchAddScreen-->


            <!--serial_div-->
            <div id="serialAddScreen" class="hidden">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="font_weight"><?php echo $this->translate("Serial Details"); ?></h5>
                    </div>

                    <div class="panel-body overflow_control">
                        <div class="row">
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                <div class="product_code">
                                    <span><?php echo $this->translate("Item Code :"); ?></span>
                                    <span id="grnProductCodeSerial"></span>
                                </div>
                                <div class="quantity_amount">
                                    <span><?php echo $this->translate("Quantity :"); ?></span>
                                    <span id="grnProductQuantitySerial"></span>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="serNumDiv">
                                <div class="srl_only_tick">
                                    <div class="form-group"><label><?php echo $this->translate("Serial Number Only"); ?></label>&nbsp; &nbsp;<input type="checkbox" name="serial-number-only-flag" id="serFlag"></div>
                                </div>
                                <div class="machine-redio hidden">
                                    <input type="radio" name="inType" id="machiIn" class="machiHumaIn" value="machine">&nbsp;<label> Machine Input</label><br>
                                    <input type="radio" name="inType" id="humIn" class="machiHumaIn" value="human">&nbsp;<label>Human Input</label>
                                </div>
                            </div>
                        </div>
                            
                        

                        <?php echo $this->SerialNumberAutoFill; ?>
                        <b><?php echo $this->translate("Or else for manual insert, use this form:"); ?></b>
                        <!--table-->
                        <div class="table-responsive " id="serialAddTable" >
                            <table class="table table-striped" id="batch_serial_selector" style="margin-bottom: 45px;">
                                <thead>
                                    <tr>
                                        <th><?php echo $this->translate("Serial Number"); ?></th>
                                        <th><?php echo $this->translate("WarrantyType"); ?></th>
                                        <th><?php echo $this->translate("WarrantyPeriod"); ?></th>
                                        <th id="bCodeT"><?php echo $this->translate("Batch Code"); ?></th>
                                        <th><?php echo $this->translate("Exp: Date"); ?></th>
                                    </tr>
                                </thead>
                                <tbody id="addNewSerial">
                                    <tr id="serialSample" class="sProducts">
                                        <td>
                                            <input id="newSerialNumber" class="form-control" type="text" value="" autocomplete="off" name="serialCode">
                                        </td>
                                        <td>
                                          <select class="form-control"  id="newSerialWarrantyType" name="serialWarrontyType">
                                             <option value="1"><?php echo $this->translate('Days') ?></option>
                                             <option value="2"><?php echo $this->translate("Weeks") ?></option>
                                             <option value="3"><?php echo $this->translate('Months') ?></option>
                                             <option value="4"><?php echo $this->translate('Years') ?></option>
                                           </select>
                                       </td>
                                        <td>
                                        <input id="newSerialWarranty" class="form-control" type="text" value="" autocomplete="off" name="serialWarronty">
                                        </td>
                                        <td id = "bCode">
                                            <input id="newSerialBatch" class="form-control" type="text" value="" autocomplete="off" name="batchCode">
                                        </td>
                                        <td>
                                            <input id="newSerialEDate" class="serialEDate form-control datepicker" data-date-format="<?php echo $this->dateFormat ?>" placeholder="<?php echo $this->dateFormat ?>" type="text" value="" autocomplete="off" name="serialEDate">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div id="serialDefaultData" class="hidden">
                            <b><?php echo $this->translate("if you wants to add default values then use this:"); ?></b>
                            <table class="table table-striped" id="" style="margin-bottom: 45px;">
                                <thead>
                                    <tr>
                                        <th><?php echo $this->translate("Warranty(Days)"); ?></th>
                                        <th><?php echo $this->translate("Exp: Date"); ?></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input id="defaultSerialWarranty" class="form-control" type="text" value="" autocomplete="off" name="serialWarronty">
                                        </td>
                                        
                                        <td>
                                            <input id="defaultSerialEDate" class="form-control datepicker" data-date-format="<?php echo $this->dateFormat ?>" placeholder="<?php echo $this->dateFormat ?>" type="text" value="" autocomplete="off" name="defaultSerialEDate">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><!--panal_body-->
                </div><!--panel_default-->
            </div><!--serial_div-->

        </div><!--modal_body-->

        <div class="modal-footer">
            <button type="button" id="saveGrnProducts" class="btn btn-primary"><?php echo $this->translate('Add Products') ?></button>
            <button type="button" id="addGrnProductsClose" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
        </div>

    </div>
</div>