<div class="modal-dialog">
    <div class="modal-content" id="grnUomModal1">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><?php echo $this->translate('Map UOM') ?></h4>
        </div>
        <div class="modal-body">
            <table class="table table-condensed" id="grnItemUomModal">
                <thead>
                    <tr>
                        <th><?php echo $this->translate('Uploaded Uom') ?></th>
                        <th><?php echo $this->translate('System Uom') ?></th>
                    </tr>
                </thead>
                <tbody id="grnUploadUom">
                                    
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" id="saveUploadUom" class="btn btn-primary"><?php echo $this->translate('Save UOM') ?></button>
            <button type="button" id="uomUploadClose" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
        </div>
    </div>
</div>    
