<!--grn_list-->
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('GRN No') ?></th>
                <th><?php echo $this->translate('Supplier Name') ?></th>
                <th><?php echo $this->translate('Supplier Reference') ?></th>
                <th class="text-center"><?php echo $this->translate('Status') ?></th>
                <th class="text-center"><?php echo $this->translate('Location') ?></th>
                <th class=""><?php echo $this->translate('Date') ?></th>
                <th class="text-right"><?php echo $this->translate('Total') ?></th>
                <th class="text-center"><?php echo $this->translate('View') ?></th>
                <th class="text-center"><?php echo $this->translate('Print View') ?></th>
                <th class="text-center"><?php echo $this->translate('Edit') ?></th>
                <th class="text-center"><?php echo $this->translate('Status') ?></th>
                <th class="text-center"><?php echo $this->translate('Related Documents') ?></th>
                <th class="text-center"><?php echo $this->translate('Attachments') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->grnList as $key => $grnL) {
                $grn = (object) $grnL;
                $state = ucfirst($this->statuses[$grn->status]);
                $style = NULL;
                switch ($grn->status) {
                    case "1":
                        $style = "label label-primary";
                        break;
                    case "2":
                        $style = "label label-default";
                        break;
                    case "3":
                        $style = "label label-success";
                        break;
                    case "4":
                        $style = "label label-warning";
                        break;
                    case "5":
                        $style = "label label-primary";
                        break;
                    case "6":
                        $state = 'Open';
                        $style = "label label-danger";
                        break;
                    default :
                        $style = "label label-default";
                }
                ?>
                <tr>
                    <td> <?php echo $grn->grnCode; ?></td>
                    <td> <?php echo $grn->supplierTitle . ' ' . $grn->supplierName; ?></td>
                    <td class="text-left"> <?php echo $grn->grnSupplierReference; ?></td>
                    <td class="text-center"><span class="<?php echo $style; ?>"> <?php echo $state; ?></span></td>
                    <td class="text-center"> <?php echo $grn->locationName; ?></td>
                    <td class=""><?php echo $this->userDateFormatHelper($grn->grnDate, $this->dateFormat); ?></td>
                    <td class="text-right"><?php echo number_format($grn->grnTotal, 2); ?></td>
                    <td class="text-center">
                        <a href="<?php echo $this->url('grn', array('action' => 'view', 'param1' => $grn->grnID)); ?>"><span class="grnView fa fa-search-plus "></span></a>
                    </td>
                    <td class="text-center">
                        <span class ="printViewGrn link_color" style="cursor:pointer" data-href="<?php echo $this->url('grn', array('action' => 'preview', 'param1' => $grn->grnID)); ?>"><span class="grnView glyphicon glyphicon-eye-open"></span></span>
                    </td>

                    <?php
                    if ($state == "Open") {
                        ?>
                        <td class="text-center">
                        <a href="<?php echo $this->url('grn', array('action' => 'edit', 'param1' => $grn->grnID)); ?>"><span class="grnEdit glyphicon glyphicon-edit"></span>
                            
                        </td>

                        <td class="text-center"><a href="" class="grnChangeStatus" id="<?php echo $grn->grnID; ?>" data-status="<?php echo $this->statuses[$grn->status]; ?>"><i class="fa fa-toggle-on"></i></a></td>
                    <?php } else {
                        ?>
                        <td></td>
                        <td></td>
                        <?php
                    }
                    ?>
                    <td class="text-center">
                        <span id="<?php echo $grn->grnID; ?>" class="link_color grn_related_docs" data-grn-related-id="<?php echo $grn->grnID; ?>" style="cursor:pointer"><span class="grnView glyphicon glyphicon-link"></span></span>
                    </td>
                    <td class="text-center">
                        <span id="<?php echo $grn->grnID; ?>" class="link_color doc_attachments" data-grn-related-id="<?php echo $grn->grnID; ?>" style="cursor:pointer"><span class="glyphicon glyphicon-paperclip"></span></span>
                    </td>
                </tr>
                <?php
            }

            if (count($this->grnList) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div>
<?php
if (!isset($this->paginated)) {
    echo $this->paginationControl(
            $this->grnList, 'sliding', array('partial/paginator.phtml', 'grn'), array(
        'route' => 'grn', 'action' => 'list'
            )
    );
}
?>