<!--search_box-->
<div class="well clearfix well_custom_padding margin_top">
    <div class="col-lg-2 col-md-2 col-sm-12">
        <label class="remove_weight"><?php echo $this->translate('Search GRN') ?></label>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 xs-margin-bottom">
        <select id="grnSearchSelector" class="selectpicker form-control col-lg-3 show-tick">
            <option value="searchBySupplier"><?php echo $this->translate('By Supplier') ?></option>
            <option value="searchByGRN"><?php echo $this->translate('By GRN') ?></option>
        </select>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-5 xs-margin-bottom">
        <select id="grnSearchBySupplier" class=" form-control col-lg-3 selectpicker" title="" data-live-search="true">
            <option value=""><?php echo $this->translate('Select Supplier') ?></option>
        </select>
        <select id="grnSearchByGRN" class="xs-margin-bottom form-control col-lg-3 selectpicker" title="" data-live-search="true">
            <option value=""><?php echo $this->translate('Select GRN') ?></option>
        </select>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-3">
        <button type="button" class="btn btn-default btn-block" id="grnSearchClear"><?php echo $this->translate("All GRNs"); ?></button>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <br>
            <label class="remove_weight margin_bottom_normal_low"><?php echo $this->translate('Search GRN by Serial Code') ?></label>
        </div>
        <div class="col-lg-9">
            <br>
            <div class=" input-group">
                <input type ="text" id ='grnSerialCodeSearch' class="form-control" placeholder="<?php echo $this->translate('Search GRN by Serial Code') ?>"/>
                <span class="input-group-btn">
                    <button class="btn btn-default minus_margin" id="searchBySerialCode"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default" id ="resetSerchBySerialCode"><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </div>
</div>

