<div class="row">
	<div class="col-lg-2">
		<h4 class="title-dashboard"><b><?php echo $this->translate('Purchase Overview')?></b></h4>
	</div>
	<div class="col-lg-2" style="display: flex; padding-top: 9px;">
		  <p style="color: grey"><?php echo $this->translate('Show :')?> &nbsp;&nbsp;</p>
		  <select class="jobInput period">
		    <option value="thisWeek"><?php echo $this->translate('This Week')?></option>
		    <option value="thisYear"><?php echo $this->translate('This Year')?></option>
		    <option value="thisMonth"><?php echo $this->translate('This Month')?></option>
		    <option value="thisDay"><?php echo $this->translate('This Day')?></option>
		  </select>
	</div>
</div>
<div class="row" style="background-color: #f1efef; min-height: 100vh">
	<div class="row widgetRow">
		<div class="col-lg-3 title-widget">
			<div class="row" style="padding-top: 10px">
				<p style="color: #5f675f;"><b><?php echo $this->translate('Total Purchases')?></b></p>
			</div>
			<div class="row">
				<div style="float: left;">
					<h4><b id="total-sales">LKR</b></h4>
				</div>
				<div style="float: right;">
					<h5 class="profit-rate" id="total-sales-profit">+2.5%<span><i class="glyphicon glyphicon-arrow-up"></i></span></h5>
					<h5 class="loss-rate hidden" id="total-sales-loss">+2.5%<span><i class="glyphicon glyphicon-arrow-down"></i></span></h5>
				</div>
			</div>
			<p style="color: #8c867e;font-size: 12px;" id="last-period-total-sales">Compared to (LKR 100,000 last year)</p>
		</div>
		<div class="col-lg-3 title-widget">
			<div class="row" style="padding-top: 10px">
				<p style="color: #5f675f;"><b><?php echo $this->translate('Active Suppliers')?></b></p>
			</div>
			<div class="row">
				<div style="float: left;">
					<h4><b id="gross-profit">0</b></h4>
				</div>
				<div style="float: right;">
					
				</div>
			</div>
		</div>
		<div class="col-lg-3 title-widget">
			<div class="row" style="padding-top: 10px">
				<p style="color: #5f675f;"><b><?php echo $this->translate('Total Returns')?></b></p>
			</div>
			<div class="row">
				<div style="float: left;">
					<h4><b id="total-payments">LKR</b></h4>
				</div>
				<div style="float: right;">
					<h5 class="profit-rate" id="total-payment-profit">+2.5%<span><i class="glyphicon glyphicon-arrow-up"></i></span></h5>
					<h5 class="loss-rate hidden" id="total-payment-loss">+2.5%<span><i class="glyphicon glyphicon-arrow-down"></i></span></h5>
				</div>
			</div>
			<p style="color: #8c867e;font-size: 12px;" id="last-period-total-payment">Compared to (LKR 100,000 last year)</p>
		</div>
		<div class="col-lg-3 title-widget">
			<div class="row" style="padding-top: 10px">
				<p style="color: #5f675f;"><b><?php echo $this->translate('Total Payments')?></b></p>
			</div>
			<div class="row">
				<div style="float: left;">
					<h4><b id="totalInvoiceCount">0</b></h4>
				</div>
				<div style="float: right;">
					<h5 class="profit-rate" id="total-invoice-count-profit">+2.5%<span><i class="glyphicon glyphicon-arrow-up"></i></span></h5>
					<h5 class="loss-rate hidden" id="total-invoice-count-loss">+2.5%<span><i class="glyphicon glyphicon-arrow-down"></i></span></h5>
				</div>
			</div>
			<p style="color: #8c867e;font-size: 12px;" id="last-period-total-invoices">Compared to (LKR 100,000 last year)</p>
		</div>
	</div>
	<div class="row graph-row">
		<div class="col-lg-8 graph-widget">
			<div class="row" style="text-align: center;">
	            <p class="tab-title1" style="padding-top: 13px;"><?php echo $this->translate('Supplier by Most Purchase')?></p>
	        </div>
			<div class="row" id="cash-chart">
				
			</div>
			<div class="row hidden" id="gp-chart">
				
			</div>
		</div>
		<div class="col-lg-4">
			<div class="row best-items">
				<div class="row" style="text-align: center;">
                    <p class="tab-title1" style="padding-top: 13px;"><?php echo $this->translate('Purchase Order Status')?></p>
                </div>
                <div class="row donught-chart" id="po-summary"></div>
			</div>
		</div>
	</div>
	<div class="row final-graph-row">
		<div class="col-lg-4">
			<div class="row" style="text-align: center;">
				<p class="tab-title1" style="padding-top: 13px;"><?php echo $this->translate('Purchase Invoice Status')?></p>
			</div>
			<div class="row donught-chart" id="sales-summary"></div>
		</div>
		<div class="col-lg-4" style="border-left: 1px solid #beb4b4;border-right: 1px solid #beb4b4;">
			<div class="row" style="text-align: center;">
				<p class="tab-title1" style="padding-top: 13px;"><?php echo $this->translate('Supplier by Most Purchase Returns')?></p>
			</div>
			<div class="row donught-chart" id="sales-gp-summary"></div>
		</div>
		<div class="col-lg-4">
			<div class="row" style="text-align: center;">
				<p class="tab-title1" style="padding-top: 13px;"><?php echo $this->translate('Payment Summary')?></p>
			</div>
			<div class="row donught-chart" id="sales-payment-summary"></div>
		</div>
	</div>
	<a class="zc-ref" href="https://www.zingchart.com/">Powered by ZingChart</a>
</div>

<style type="text/css">
#sales-payment-summary {
  /*min-height: 150px;*/
  width: 100%;
  height: 100%;
  position: relative;
    left: -4px;
}

#sales-gp-summary {
  /*min-height: 150px;*/
  width: 100%;
  height: 100%;
  position: relative;
    left: -4px;
}

#sales-summary {
  /*min-height: 150px;*/
  width: 100%;
  height: 100%;
  position: relative;
    left: -4px;
}
#po-summary {
  /*min-height: 150px;*/
  width: 100%;
  height: 100%;
  position: relative;
  top: 30px;
}

.donught-chart {
  min-height: 226px;
}
</style>
