<!-- <div class="col-lg-6 sortable left-widget" style="padding-right: 0px; padding-left: 0px;">

    <?php
    $helptool_url = $this->configHelper()['helptool_url'];
    if($helptool_url):
    ?>
    <div class="col-lg-12 widget w8">
        <h2>Help</h2>
        <div style="position: relative;">
            <iframe id="wizard-help" src="<?php echo $helptool_url; ?>?tags=dashboard"></iframe>
        </div>
    </div>
    <?php endif; ?>
    <?php
    for ($l = 0; $l < $leftWidgets; $l++) {
        echo $lW = ${
        'left_widget_' . $l
        };
    }
    ?>
</div>

<div class="col-lg-6 sortable right-widget">
    <?php
    for ($r = 0; $r < $rightWidgets; $r++) {
        echo $rW = ${
        'right_widget_' . $r
        };
    }
    ?>
</div>

<div id="welcomeWindow" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4><?php echo $this->translate('ezBiz') ?></h4>
            </div>

            <div class="modal-body">
                <h2><?php echo $this->translate('Welcome to your ezBiz account.') ?></h2>
                <p><?php echo $this->translate("Let's get to work.") ?></p>
                <div class="button_wrapper">
                    <button id="invoiceBtn" class="btn"><?php echo $this->translate('Create Invoice') ?></button>
                    <span>OR</span>
                    <button id="inventoryBtn" class="btn"><?php echo $this->translate('Setup Inventory') ?></button>
                </div>
            </div>

        </div>
    </div>
</div> -->
 <?php
    $helptool_url = $this->configHelper()['helptool_url'];
    ?>
<div class="row">
    <div class="col-lg-3">
        <h4 class="title-dashboard"><b><?php echo $this->companyName ?><?php echo $this->translate(' - Overview'); ?></b></h4>
    </div>
    <div class="col-lg-2" style="display: flex; padding-top: 9px;">
          <p style="color: grey"><?php echo $this->translate('Show :'); ?> &nbsp;&nbsp;</p>
          <select class="jobInput period">
            <option value="thisWeek"><?php echo $this->translate('This Week'); ?></option>
            <option value="thisYear"><?php echo $this->translate('This Year'); ?></option>
            <option value="thisMonth"><?php echo $this->translate('This Month'); ?></option>
            <option value="thisDay"><?php echo $this->translate('This Day'); ?></option>
          </select>
    </div>
</div>
<div class="row" style="background-color: #f1efef; min-height: 100vh">
    <div class="row widgetRow">
        <div class="col-lg-3 title-widget">
            <div class="row" style="padding-top: 10px">
                <p style="color: #5f675f; font-size: 12px"><b><?php echo $this->translate('Total Sales'); ?></b></p>
            </div>
            <div class="row">
                <div style="float: left;">
                    <h4><b id="total-sales">LKR</b></h4>
                </div>
                <div style="float: right;">
                    <h5 class="profit-rate" id="total-sales-profit">+2.5%<span><i class="glyphicon glyphicon-arrow-up"></i></span></h5>
                    <h5 class="loss-rate hidden" id="total-sales-loss">+2.5%<span><i class="glyphicon glyphicon-arrow-down"></i></span></h5>
                </div>
            </div>
            <p style="color: #8c867e;font-size: 12px;" id="last-period-total-sales">Compared to (LKR 100,000 last year)</p>
        </div>
        <div class="col-lg-3 title-widget">
            <div class="row" style="padding-top: 10px">
                <p style="color: #5f675f; font-size: 12px"><b><?php echo $this->translate('Total Stock Value'); ?></b></p>
            </div>
            <div class="row">
                <div style="float: left;">
                    <h4><b id="gross-profitt">LKR</b></h4>
                </div>
                <div style="float: right;">
                    
                </div>
            </div>
        </div>
        <div class="col-lg-3 title-widget">
            <div class="row" style="padding-top: 10px">
                <p style="color: #5f675f; font-size: 12px"><b><?php echo $this->translate('Received Cheqes to be Deposited'); ?></b></p>
            </div>
            <div class="row">
                <div style="float: left;">
                    <h4><b id="gross-profit">LKR</b></h4>
                </div>
                <div style="float: right;" class="hidden">
                    <h5 class="profit-rate" id="total-gross-profit">+2.5%<span><i class="glyphicon glyphicon-arrow-up"></i></span></h5>
                    <h5 class="loss-rate hidden" id="total-gross-loss">+2.5%<span><i class="glyphicon glyphicon-arrow-down"></i></span></h5>
                </div>
            </div>
            <p style="color: #8c867e;font-size: 12px;" id="last-period-total-gross" class="hidden">Compared to (LKR 100,000 last year)</p>
        </div>
        <div class="col-lg-3 title-widget">
            <div class="row" style="padding-top: 10px">
                <p style="color: #5f675f; font-size: 12px"><b><?php echo $this->translate('Issued Cheques to be Settled'); ?></b></p>
            </div>
            <div class="row">
                <div style="float: left;">
                    <h4><b id="total-payments">LKR</b></h4>
                </div>
                <div style="float: right;" class="hidden">
                    <h5 class="profit-rate" id="total-payment-profit">+2.5%<span><i class="glyphicon glyphicon-arrow-up"></i></span></h5>
                    <h5 class="loss-rate hidden" id="total-payment-loss">+2.5%<span><i class="glyphicon glyphicon-arrow-down"></i></span></h5>
                </div>
            </div>
            <p style="color: #8c867e;font-size: 12px;" id="last-period-total-payment" class="hidden">Compared to (LKR 100,000 last year)</p>
        </div>
    </div>
    <div class="row graph-row">
        <div class="col-lg-8">
            <div class="row final-graph-row">
                <div class="col-lg-6">
                    <div class="row best-items2">
                        <div class="row" style="text-align: center;">
                            <p class="tab-title1" style="padding-top: 13px;"><?php echo $this->translate('Issued Cheques'); ?></p>
                        </div>
                        <div class="row">
                            <div class="row" style="display: flex;">
                                <div class="col-lg-1 title-row">
                                </div>
                                <div class="col-lg-3 title-row text-center" style="width: 100%;">
                                    <b>Supplier</b>
                                </div>
                                <div class="col-lg-2 title-row text-right" style="width: 100%;">
                                    <b>Date</b>
                                </div>
                                <div class="col-lg-3 title-row text-right" style="width: 100%;">
                                    <b>Amount</b>
                                </div>
                                <div class="col-lg-3 title-row text-right" style="width: 100%;">
                                    <b>Reference</b>
                                </div>
                                
                            </div>
                            <div class="cheques list-scroll">
                                <?php
                                    foreach ($this->issuedCheques as $key => $cheque) {
                                        //currency symbol
                                        $currencySymbol = (isset($cheque['currencySymbol'])) ? $cheque['currencySymbol'] : $this->companyCurrencySymbol;
                                        //amount
                                        $paymentAmount = $cheque['outGoingPaymentMethodPaidAmount'];
                                ?>  
                                    <div class="row item-row">
                                        <div class="col-lg-1 table-text">
                                            <?php echo $key + 1; ?>
                                        </div>
                                        <div class="col-lg-3 table-text p-text" style="width: 100%;">
                                            <?php echo $cheque['supplierName']; ?>
                                        </div>
                                        <div class="col-lg-2 table-text p-text" style="width: 100%;">
                                             <?php
                                                echo ($cheque['postdatedChequeDate'] == '0000-00-00') ? $cheque['outgoingPaymentDate'] : $cheque['postdatedChequeDate'];
                                                ?>
                                        </div>
                                        <div class="col-lg-3 table-text p-text" style="width: 100%;">
                                            <?php echo $currencySymbol . " " . number_format($paymentAmount, 2); ?>
                                        </div>
                                        <div class="col-lg-3 table-text p-text" style="width: 100%;">
                                            <?php echo $cheque['outGoingPaymentMethodReferenceNumber']; ?>
                                        </div>
                                    </div>
                                <?php
                                    }
                                ?>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" style="border-left: 1px solid #beb4b4;">
                    <div class="row best-items2">
                        <div class="row" style="text-align: center;">
                            <p class="tab-title1" style="padding-top: 13px;"><?php echo $this->translate('Received Cheques'); ?></p>
                        </div>
                        <div class="row">
                            <div class="row" style="display: flex;">
                                <div class="col-lg-1 title-row">
                                </div>
                                <div class="col-lg-3 title-row text-center" style="width: 100%;">
                                    <b><?php echo $this->translate('Customer'); ?></b>
                                </div>
                                <div class="col-lg-2 title-row text-right" style="width: 100%;">
                                    <b><?php echo $this->translate('Date'); ?></b>
                                </div>
                                <div class="col-lg-3 title-row text-right" style="width: 100%;">
                                    <b><?php echo $this->translate('Amount'); ?></b>
                                </div>
                                <div class="col-lg-3 title-row text-right" style="width: 100%;">
                                    <b><?php echo $this->translate('Reference'); ?></b>
                                </div>
                                
                            </div>
                            <div class="cheques list-scroll">
                                <?php
                                    foreach ($this->cheques as $key => $cheque) {
                                        //currency rate
                                        $currencyRate = ($cheque['incomingPaymentCustomCurrencyRate'] == 0) ? 1 : $cheque['incomingPaymentCustomCurrencyRate'];
                                        //currency symbol
                                        $currencySymbol = (isset($cheque['currencySymbol'])) ? $cheque['currencySymbol'] : $this->companyCurrencySymbol;
                                        //amount
                                        $paymentAmount = $cheque['incomingPaymentMethodAmount'] / $currencyRate;
                                ?>  
                                    <div class="row item-row">
                                        <div class="col-lg-1 table-text">
                                            <?php echo $key + 1; ?>
                                        </div>
                                        <div class="col-lg-3 table-text p-text" style="width: 100%;">
                                            <?php echo $cheque['customerName']; ?>
                                        </div>
                                        <div class="col-lg-2 table-text p-text" style="width: 100%;">
                                             <?php
                                                echo is_null($cheque['postdatedChequeDate']) ? $cheque['incomingPaymentDate'] : $cheque['postdatedChequeDate'];
                                                ?>
                                        </div>
                                        <div class="col-lg-3 table-text p-text" style="width: 100%;">
                                            <?php echo $currencySymbol . " " . number_format($paymentAmount, 2); ?>
                                        </div>
                                        <div class="col-lg-3 table-text p-text" style="width: 100%;">
                                            <?php echo $cheque['incomingPaymentMethodChequeNumber']; ?>
                                        </div>
                                    </div>
                                <?php
                                    }
                                ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row graph-widget">
                <div class="row">
                    <ul class="nav nav-tabs">
                      <li class="active">
                        <a data-toggle="tab" id="cash-credit" href="#byVehcleTab">
                          <span class="tab-title"><?php echo $this->translate('Help'); ?></span>
                        </a>
                      </li>
                    </ul>
                </div>
                <div class="row" id="cash-chart">
                    <div style="position: relative;margin: 25px">
                        <iframe id="wizard-help" src="<?php echo $helptool_url; ?>?tags=dashboard"></iframe>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-lg-4">
            <div class="row best-items">
                <div class="row" style="text-align: center;">
                    <p class="tab-title1" style="padding-top: 13px;"><?php echo $this->translate('Notifications'); ?></p>
                </div>
                <div class="row">
                    <ul class="notifi_msg notification_scrolll" id="notification_body" style="width: 100% !important">
                        <?php
                        $notificationArray = $this->notificationData;
                        $notifications = (is_array($notificationArray['notifications'])) ? $notificationArray['notifications'] : array();
                        foreach (array_slice($notifications, 0, 20) as $notification) {
                            ?>
                            <li id="notification_<?php echo $notification['notificationID'] ?>">
                                <a class="<?php echo $notification['notificationType'] ?>" <?php echo ($notification['notificationType'] == 'Report Notification') ? "target='_blank'" : "" ?> href="<?php echo $notification['link'] ?>">
                                    <p class="heading">
                                        <!--<i class="<?php echo $notification['iconClass'] ?>"></i>-->
                                        <?php echo $notification['notificationTitle'] ?>
                                        <!--                        <div class="ui-pnotify-closer " style="cursor:pointer">
                                                                    <span class="glyphicon glyphicon-remove closer" data-id="<?php echo $notification['notificationID'] ?>"></span>
                                                                </div>-->
                                    </p>
                                    <div class="notifi-body">
                                        <span class="light_color"><?php echo $notification['notificationBody'] ?></span>
                                    </div>
                                    <span class="notify_time">
                                        <abbr class="timeago" title="<?php echo $notification['notificationUpdatedTime'] ?>">
                                            <?php echo $notification['notificationFormatedUpdateTime'] ?>
                                        </abbr>
                                    </span>
                                </a>

                            </li>
                        <?php } ?>
                    </ul>
                </div>
            </div>
            <div class="row viewAllNotifi">
                <a id="seeAllNotifications" href="/notification/display-all-notifications"><?php echo $this->translate('View all') ?></a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function($) {
        $(window).load(function() {
            $(".list-scroll").mCustomScrollbar({
                setHeight: 280,
                theme: "minimal-dark"
            });
        });
    })(jQuery);
    
    (function($) {
        $(window).load(function() {
            $(".notification_scrolll").mCustomScrollbar({
                setHeight: 807,
                theme: "minimal-dark"
            });
        });
    })(jQuery);

</script>
<style type="text/css">
#sales-payment-summary {
  /*min-height: 150px;*/
  width: 100%;
  height: 100%;
  min-height: 250px;
  position: relative;
    left: -4px;
}

#sales-gp-summary {
  /*min-height: 150px;*/
  width: 100%;
  height: 100%;
  min-height: 250px;
  position: relative;
    left: -4px;
}

#sales-summary {
  /*min-height: 150px;*/
  width: 100%;
  height: 100%;
  min-height: 250px;
  position: relative;
    left: -4px;
}

#expense-detail {
  /*min-height: 150px;*/
  width: 100%;
  height: 100%;
  min-height: 250px;
  position: relative;
    left: -4px;
}
#income-detail {
  /*min-height: 150px;*/
  width: 100%;
  height: 100%;
  min-height: 250px;
  position: relative;
    left: -4px;
}

.badge-success {
    background-color: green;
}
.badge-danger {
    background-color: red;
}
</style>
