<div class="project-type-form-container margin_top">

    <div class="well well_heading">
        <h5 class="font_weight addTitle"><?php echo $this->translate('Add Project Type') ?></h5>
        <h5 class="font_weight updateTitle hidden"><?php echo $this->translate('Update Project Type') ?></h5>

    </div>
    <div class="well well_body remove_padding_bottom">
        <div class="_row_with_margin clearfix">

            <div class="col-lg-3 col-md-3 col-xs-12">
                <div class="form-group control-label label_bottom_margin">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Project Type Code') ?><font color="red"> *</font></label>
                </div>
                <div class="form-group control-label label_bottom_margin">
                    <div class="">
                        <input type="text" name="projectTypeCode" class="projectTypeCode form-control">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-xs-12">
                <div class="form-group control-label label_bottom_margin">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Project Type Name') ?><font color="red"> *</font></label>
                </div>
                <div class="form-group control-label label_bottom_margin">
                    <div class="">
                        <input type="text" name="projectTypeName" class="projectTypeName form-control">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-xs-4 form-group project-button">
                <div class="add" style="float: right; padding-top: 10%;">
                    <button type="button" class="btn btn-primary" id="add"><?php echo $this->translate('Add New') ?></button>
                    <button type="button" class="btn btn-default" id="reset"><?php echo $this->translate('RESET') ?></button>
                </div>
                <div class="update hidden" id="update" style="float: right; padding-top: 10%;">
                    <button type="button" class="btn btn-primary" id="updateType"><?php echo $this->translate('Update') ?></button>
                    <button type="button" class="btn btn-default" id="reset"><?php echo $this->translate('Reset') ?></button>
                </div>
            </div>
        </div>
    </div>
</div><!--project_type_form_container-->


<!--search-->
<div class="well clearfix margin_top">
    <form class="project-type-search" id="project-type-search" method="post" action="">
        <div class="col-lg-3">
            <label class="remove_weight"><?php echo $this->translate('Search a Project Type') ?></label>
        </div>
        <div class="col-lg-9 xs-search-field">
            <div class="input-group">
                <input type="text" class="search form-control" id ='project-type-search-keyword' placeholder="<?php echo $this->translate('Enter Project Type') ?>"/>
                <span class="input-group-btn">
                    <button class="btn btn-default search_btn_css" type="submit"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default reset" type="reset"><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </form>
</div>

<!--paginate project type list add in here-->
<div id="project-type-list" class="margin_top">
    <?php echo $this->partial('jobs/project-setup/list', array('projectTypeList' => $this->projectTypeList, 'paginated' => $this->paginated)); ?>
</div>