<table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
    <tr>
        <td colspan="4"><h2><?php echo $this->translate($reportName) ?>:</h2></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Report Generated ') ?>: <?php echo $this->translate($dateTime) ?></td>
        <td><strong></strong></td>
    </tr>
    <tr>
        <td><?php echo $cD[0]->companyName ?>,<?php echo $cD[0]->companyAddress ?> <?php echo $this->translate(' Tel : ') ?> <?php echo $cD[0]->telephoneNumber ?></td>
        <td> <strong></strong></td>
    </tr>
    <?php
    if (isset($period)):
        ?>
        <tr>
            <td><?php echo $this->translate('Period ') ?> : <?php echo $period; ?></td>
            <td> <strong></strong></td>
        </tr>
        <?php
    endif;
    ?>
</table>