<div class="data_table">
    <table width="100%" class="product-list">
        <tr>
            <td>
                <hr />
                <br />
                <div class="qout_body">
                    <table width="100%" class="table bigtable table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width: 10%"><?php echo $this->translate("Code"); ?></th>
                                <th style="width: 20%"><?php echo $this->translate("Item"); ?></th>
                                <th class="text-right" style="width: 13%"><?php echo $this->translate("Quantity"); ?></th>
                                <th style="width: 2%"</th>
                                <th class="text-right" style="width: 15%"><?php echo $this->translate("Price"); ?><br/><?php echo "({$this->currencySymbol})"; ?></th>
                                <th class="text-right" style="width: 15%"><?php echo $this->translate("Discount"); ?><br/><?php echo "(%)"; ?></th>
                                <th class="text-right" style="width: 10%"><?php echo $this->translate("Tax"); ?><br/><?php echo "({$this->currencySymbol})"; ?></th>
                                <th class="text-right" style="width: 15%"><?php echo $this->translate("Total"); ?><br/><?php echo "({$this->currencySymbol})"; ?></th>
                            </tr>
                        </thead>
                        <tbody id="form_row">
                            <?php
                            if (count($this->piProducts) > 0) {
                                foreach ($this->piProducts as $piProduct) {
                                    $pQty = $piProduct['piPQ'];
                                    if (!empty($piProduct['sP'])) {
                                        $pQty = sizeof($piProduct['sP']);
                                    }
                                    ?>
                                    <tr class="">
                                        <td id='code'><?php echo $piProduct['piPC']; ?></td>
                                        <td id='name'><?php echo $piProduct['piPN']; ?></td>
                                        <td id='quantity' class='text-right'><?php echo number_format($pQty); ?></td>
                                        <td><span id="uomName" class='text-right'><?php echo $piProduct['piPUom']; ?></span></td>
                                        <td id='unit' class='text-right'><?php echo number_format($piProduct['piPP'], 2); ?></td>
                                        <td id='disc' class='text-right'><?php echo $piProduct['piPD']; ?></td>
                                        <td class="text-right">
                                            <?php
                                            $fullTaxAmount = 0;
                                            foreach ($piProduct['pT'] as $pTax) {
                                                $fullTaxAmount += floatval($pTax['pTA']);
                                            }
                                            echo number_format($fullTaxAmount, 2);
                                            ?>
                                        </td>
                                        <td id='ttl' class='text-right'><?php echo number_format($piProduct['piPT'], 2); ?></td>
                                    </tr>
                                    <?php
                                }
                            }
                            ?>
                        </tbody>
                        <tbody>

                            <tr class="">
                                <td style="height: 31px;"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr><!--sub_total-->
                                <td colspan="6"><label><?php echo $this->translate("Sub Total"); ?></label></td>
                                <td colspan="1"></td>
                                <td id="subtotal" class="text-right"><label><?php echo $this->piSubTotal; ?></label></td>
                            </tr>
                            <?php if ($this->piSTax == 1) { ?>
                                <tr><!--display_taxes-->
                                    <td colspan="3">
                                        <span class="<?php if (empty($this->piTotalTax)) echo "hidden"; ?>remove_font_weight"><label><?php echo $this->translate("Total Taxes"); ?></label></span>
                                    </td>
                                    <td colspan="3" class="text-right">
                                        <?php if (!empty($this->piTotalTax)) { ?>
                                            <table>
                                                <?php
                                                foreach ($this->piTotalTax as $pTotTax) {
                                                    ?>
                                                    <tr>
                                                        <td width="30%" class="text-left" ><?php echo $pTotTax['pTN']; ?></td>
                                                        <td class="text-right"><?php echo '(' . $pTotTax['pTP'] . '%)'; ?></td>
                                                        <td width="40%" class="text-right"><?php echo number_format($pTotTax['pTA'], 2); ?></td>
                                                    </tr>
                                                    <?php
                                                }
                                                ?>
                                            </table>
                                        <?php } ?>
                                    </td>
                                    <td class="text-right font_weight" colspan="1">
                                        <?php
                                        foreach ($this->piTotalTax as $pTotTax) {
                                            $fullTotalTaxAmount += floatval($pTotTax['pTA']);
                                        }
                                        echo number_format($fullTotalTaxAmount, 2);
                                        ?>
                                    </td>
                                    <td></td>
                                </tr>
                            <?php } ?>

                            <tr><!--delivery_charges-->
                                <td colspan="6"><div class='deliCharges'><label><?php echo $this->translate("Delivery Charges"); ?></label></div></td>
                                <td></td>
                                <td class="text-right"><div class='deliCharges'><?php echo number_format($this->piDC, 2); ?></div></td>
                            </tr>

                            <tr><!--total-->
                                <td colspan="6"><h4 class="font_weight"><?php echo $this->translate("Total"); ?></h4></td>
                                <td colspan="2" class="text-right"><h4 id="finaltotal" class="font_weight"><?php echo $this->currencySymbol . number_format($this->piT, 2); ?></h4></td>
                            </tr>
                        </tbody>
                    </table>
                    <br/>
                    <hr/>
                    <table width="100%" class="table bigtable table-bordered table-striped" >
                        <thead>
                            <tr>
                                <th style="width: 10%"><?php echo $this->translate("Code"); ?></th>
                                <th style="width: 20%"><?php echo $this->translate("Product"); ?></th>
                                <th  colspan="2" style="width: 40%"><?php echo $this->translate("Serial/Batch Details"); ?></th>
                                <th class="text-right" style="width: 13%"><?php echo $this->translate("Quantity"); ?></th>
                            </tr>
                        </thead>
                        <tbody id="form_row">
                            <?php
                            if (count($this->piProducts) > 0) {
                                foreach ($this->piProducts as $piProduct) {
                                    if (empty($piProduct['sP']) && empty($piProduct['bP'])) {

                                    } else {
                                        ?>
                                        <tr class="">
                                            <td id='code'><?php echo $piProduct['piPC']; ?></td>
                                            <td id='name'><?php echo $piProduct['piPN']; ?></td>
                                            <td>
                                                <?php
                                                if (!empty($piProduct['bP'])) {
                                                    ?>
                                                    <table>
                                                        <th class="text-left"><?php echo $this->translate("Code"); ?></th>
                                                        <th class="text-right"><?php echo $this->translate("Qty"); ?></th>
                                                        <?php
                                                        foreach ($piProduct['bP'] as $batchProduct) {
                                                            ?>
                                                            <tr>
                                                                <td width="30%" class="text-left"><?php echo $batchProduct['bC']; ?></td>
                                                                <td width="30%" class="text-right"><?php echo $batchProduct['bQ']; ?></td>
                                                            </tr>
                                                        <?php }
                                                        ?>

                                                    </table>
                                                <?php }
                                                ?>
                                            </td>
                                            <td>
                                                <?php
                                                if (!empty($piProduct['sP'])) {
                                                    $totalSerialQty = 0;
                                                    ?>
                                                    <table>
                                                        <th class="text-left"><?php echo $this->translate("Serial No"); ?></th>
                                                        <?php
                                                        if (!empty($piProduct['bP'])) {
                                                            ?>
                                                            <th class="text-right"><?php echo $this->translate("Code"); ?></th>
                                                            <?php
                                                        }
                                                        foreach ($piProduct['sP'] as $serialProduct) {
                                                            $totalSerialQty++;
                                                            ?>
                                                            <tr>
                                                                <td width="30%" class="text-left"><?php echo $serialProduct['sC']; ?></td>
                                                                <td width="30%" class="text-right"><?php echo $serialProduct['sBC']; ?></td>
                                                            </tr>
                                                        <?php }
                                                        ?>

                                                    </table>
                                                <?php }
                                                ?>
                                            </td>
                                            <td id='quantity' class='text-right'>
                                                <?php echo (!empty($piProduct['sP'])) ? $totalSerialQty : $piProduct['piPQ']; ?>
                                            </td>
                                        </tr>
                                        <?php
                                    }
                                }
                            }
                            ?>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div><!--./col-->


