<div class="data_table">
    <table width="100%" class="product-list">
        <tr>
            <td>
            <span><h4>Payment Details</h4></span>
                <hr />

                <br />
                <div class="qout_body">
                <?php if(count($this->paymentDetails)>0) { ?>
                    <table width="100%" class="table bigtable table-bordered table-striped">

                        <thead>
                            <tr>
                                <th style="width: 10%"><?php echo $this->translate("Payment NO"); ?></th>
                                <th style="width: 15%"><?php echo $this->translate("Payment Date"); ?></th>
                                <th style="width: 15%"><?php echo $this->translate("Payment Method"); ?></th>
                                <th style="width: 20%"><?php echo $this->translate("Payment Reference"); ?></th>
                                <th class="text-right" style="width: 15%"><?php echo $this->translate("Amount"); ?><br/><?php echo "({$this->currencySymbol})"; ?></th>
                                <th class="text-right" style="width: 15%"><?php echo $this->translate("Credit Payments"); ?><br/><?php echo "({$this->currencySymbol})"; ?></th>
                                <th class="text-right" style="width: 15%"><?php echo $this->translate("Discount"); ?><br/><?php echo "({$this->currencySymbol})"; ?></th>
                                <th class="text-right" style="width: 20%"><?php echo $this->translate("Total"); ?><br/><?php echo "({$this->currencySymbol})"; ?></th>


                            </tr>
                        </thead>
                        <tbody id="form_row">
                        <?php foreach($this->paymentDetails as $pd) {
                            $pd = (object)$pd; ?>
                                <tr class="">
                                    <td id='PaymentCode'><?php echo $pd->outgoingPaymentCode ?></td>
                                    <td id='paymentDate'><?php echo $pd->outgoingPaymentDate; ?></td>
                                    <td id='payMethod'><?php echo $pd->paymentMethodName ?></td>
                                    <td><span id="payRef" class='text-right'><?php echo $pd->paymentMethodReference; ?></span></td>
                                    <td class='text-right'><?php echo number_format($pd->cashPayment,2); ?></td>
                                    <td class='text-right'><?php echo number_format($pd->creditPayment,2); ?></td>
                                    <td class='text-right'><?php echo "( ".number_format($pd->cr_discount,2)." )"; ?></td>
                                    <td class='text-right'><?php echo number_format($pd->total,2); ?></td>

                                </tr>
                                <?php } ?>

                        </tbody>
                        <tbody>
                        <tr class="">
                                <td style="height: 31px;"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>


                            </tr>

                            <tr><!--total-->
                                <td colspan="7" ><label><?php echo $this->translate("Total Settled Amount"); ?><?php echo " ({$this->currencySymbol})"; ?></label></td>

                                <td id="subtotal" class="text-right" colspan="1"><label><?php echo number_format($this->settledTotal, 2); ?></label></td>
                            </tr>

                            <tr><!--total Discount-->
                                <td colspan="7" ><div class='deliCharges'><label><?php echo $this->translate("Total Discount"); ?><?php echo " ({$this->currencySymbol})"; ?></label></div></td>

                                <td class="text-right" <td colspan="1"><div class='deliCharges'><?php echo number_format($this->discountTotal, 2); ?></div></td>
                            </tr>
                            <tr><!--Left tto pay-->
                                <td colspan="7" ><div class='deliCharges'><label><?php echo $this->translate("Left to Pay"); ?><?php echo " ({$this->currencySymbol})"; ?></label></div></td>

                                <td class="text-right" <td colspan="1"><div class='deliCharges'><?php echo number_format($this->leftToPay, 2); ?></div></td>
                            </tr>

                        </tbody>
                    </table>
                    <?php } else { ?>
                        <div style="padding-left:15px;font-style:italic;color:#AAA">No related payments</div>
                    <?php } ?>
                </div>
            </td>
        </tr>
    </table>
</div><!--./col-->


