<div class="data_table">
    <table width="100%" class="product-list">
        <tr>
            <td>
                <hr />
                <br />

                <div class="qout_body">
                    <?php
                    if (isset($this->itemProduct)) {
                     echo $this->translate('Item Product') ?>

                    <table width="100%" class="table bigtable table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width: 10%"><?php echo $this->translate("Item Code"); ?></th>
                                <th style="width: 18%"><?php echo $this->translate("Item Name"); ?></th>
                                <th style="width: 12%"><?php echo $this->translate("Expense Type"); ?></th>
                                <th class="text-right" style="width: 10%"><?php echo $this->translate("Quantity"); ?></th>
                                <th style="width: 2%"</th>
                                <th class="text-right" style="width: 13%"><?php echo $this->translate("Price"); ?><br/><?php echo "({$this->currencySymbol})"; ?></th>
                                <th class="text-right" style="width: 10%"><?php echo $this->translate("Discount"); ?><br/><?php echo "(%)"; ?></th>
                                <th class="text-right" style="width: 10%"><?php echo $this->translate("Tax"); ?><br/><?php echo "({$this->currencySymbol})"; ?></th>
                                <th class="text-right" style="width: 15%"><?php echo $this->translate("Total"); ?><br/><?php echo "({$this->currencySymbol})"; ?></th>
                            </tr>
                        </thead>

                        <tbody id="form_row">
                            <?php
                                foreach ($this->itemProduct as $pVItemProduct) {
                                    $locationProdcutIDArray[] = array();
                                    if (in_array($pVItemProduct['locationProductID'], $locationProdcutIDArray)) {
                                        continue;
                                    } else {
                                        ?>
                                        <tr class="">
                                            <td id='code'><?php echo $pVItemProduct['productCode']; ?></td>
                                            <td id='name'><?php echo $pVItemProduct['productName']; ?></td>
                                            <td><?php echo $pVItemProduct['paymentVoucherProductExpenseType']; ?></td>
                                            <td id='quantity' class='text-right'><?php echo number_format($pVItemProduct['paymentVoucherProductQuantity']); ?></td>
                                            <td><span id="uomName" class='text-right'><?php echo $pVItemProduct['uomAbbr']; ?></span></td>
                                            <td id='unit' class='text-right'><?php echo number_format($pVItemProduct['paymentVoucherProductUnitPrice'], 2); ?></td>
                                            <td id='disc' class='text-right'><?php echo number_format($pVItemProduct['itemDiscount'], 2); ?></td>
                                            <td class="text-right">
                                                <?php
                                                $fullTaxAmount = 0;
                                                if (isset($pVItemProduct['tax']))
                                                    foreach ($pVItemProduct['tax'] as $pTax) {
                                                        $fullTaxAmount += floatval($pTax['paymentVoucherTaxAmount']);
                                                    }
                                                echo number_format($fullTaxAmount, 2);
                                                ?>
                                            </td>
                                            <td id='ttl' class='text-right'><?php echo number_format($pVItemProduct['paymentVoucherProductTotalPrice'], 2); ?></td>
                                        </tr>
                                        <?php
                                        $locationProdcutIDArray[] = $pVItemProduct['locationProductID'];
                                    }
                                }
                            ?>
                        </tbody>
                    </table>
                    <?php } ?>
                    <br />

                    <?php 
                    if (isset($this->nonItemProduct)) {
                        echo $this->translate('Non Item Product'); 
                    } ?>

                    <table  width="100%" class="table bigtable table-bordered table-striped">
                        
                        <?php if (isset($this->nonItemProduct)) { ?>
                        <thead>
                            <tr>
                                <th style="width: 30%" colspan="4"><?php echo $this->translate("Item Description"); ?></th>
                                <th style="width: 12%"><?php echo $this->translate("Expense Type"); ?></th>
                                <th style="width: 18%"><?php echo $this->translate("Unit Price"); ?></th>
                                <th class="text-right" style="width: 10%"><?php echo $this->translate("Quantity"); ?></th>
                                <th class="text-right" style="width: 10%"><?php echo $this->translate("Tax"); ?><br/><?php echo "({$this->currencySymbol})"; ?></th>
                                <th class="text-right" style="width: 20%"><?php echo $this->translate("Total"); ?><br/><?php echo "({$this->currencySymbol})"; ?></th>
                            </tr>
                        </thead>
                        <?php } ?>

                        <tbody>
                            <?php
                            if (isset($this->nonItemProduct)) {
                                foreach ($this->nonItemProduct as $pVNonItemProduct) {
                                    ?>
                                    <tr class="">
                                        <td id='code' colspan="4"><?php echo $pVNonItemProduct['paymentVoucherNonItemProductDiscription']; ?></td>
                                        <td><?php echo $pVNonItemProduct['paymentVoucherNonItemProductExpenseType']; ?></td>
                                        <td id='unit' class='text-right'><?php echo number_format($pVNonItemProduct['paymentVoucherNonItemProductUnitPrice'], 2); ?></td>
                                        <td id='quantity' class='text-right'><?php echo number_format($pVNonItemProduct['paymentVoucherNonItemProductQuantity']); ?></td>
                                        <td class="text-right">
                                            <?php
                                            $fullTaxAmount = 0;
                                            if (isset($pVNonItemProduct['tax'])) {
                                                foreach ($pVNonItemProduct['tax'] as $pTax) {
                                                    $fullTaxAmount += floatval($pTax['paymentVoucherTaxAmount']);
                                                }
                                            }
                                            echo number_format($fullTaxAmount, 2);
                                            ?>
                                        </td>
                                        <td id='ttl' class='text-right'><?php echo number_format($pVNonItemProduct['paymentVoucherNonItemProductTotalPrice'], 2); ?></td>
                                    </tr>
                                    <?php
                                }
                            }
                            ?>

                            <tr>
                                <td colspan="9"></td>
                            </tr>

                            <tr>
                                <td colspan="8"><label><?php echo $this->translate("Sub Total"); ?></label></td>
                                <td id="subtotal" class="text-right"><label><?php echo number_format($this->pVT, 2); ?></label></td>
                            </tr>

                            <?php
                            if ($this->pVSTax == 1) {
                                $totalTaxArray = array();
                                foreach ($this->itemProduct as $item) {
                                    foreach ($item['tax'] as $value) {
                                        if ($totalTaxArray[$value['paymentVoucherTaxID']]['paymentVoucherTaxID'] == $value['paymentVoucherTaxID']) {
                                            $temp = $totalTaxArray[$value['paymentVoucherTaxID']]['paymentVoucherTaxAmount'] + $value['paymentVoucherTaxAmount'];
                                        } else {
                                            $temp = $value['paymentVoucherTaxAmount'];
                                        }
                                        $totalTaxArray[$value['paymentVoucherTaxID']]['paymentVoucherTaxPrecentage'] = $value['paymentVoucherTaxPrecentage'];
                                        $totalTaxArray[$value['paymentVoucherTaxID']]['taxName'] = $value['taxName'];
                                        $totalTaxArray[$value['paymentVoucherTaxID']]['paymentVoucherTaxAmount'] = $temp;
                                        $totalTaxArray[$value['paymentVoucherTaxID']]['paymentVoucherTaxID'] = $value['paymentVoucherTaxID'];
                                    }
                                }
                                foreach ($this->nonItemProduct as $item) {
                                    foreach ($item['tax'] as $value) {
                                        if ($totalTaxArray[$value['paymentVoucherTaxID']]['paymentVoucherTaxID'] == $value['paymentVoucherTaxID']) {
                                            $temp = $totalTaxArray[$value['paymentVoucherTaxID']]['paymentVoucherTaxAmount'] + $value['paymentVoucherTaxAmount'];
                                        } else {
                                            $temp = $value['paymentVoucherTaxAmount'];
                                        }
                                        $totalTaxArray[$value['paymentVoucherTaxID']]['paymentVoucherTaxPrecentage'] = $value['paymentVoucherTaxPrecentage'];
                                        $totalTaxArray[$value['paymentVoucherTaxID']]['taxName'] = $value['taxName'];
                                        $totalTaxArray[$value['paymentVoucherTaxID']]['paymentVoucherTaxAmount'] = $temp;
                                        $totalTaxArray[$value['paymentVoucherTaxID']]['paymentVoucherTaxID'] = $value['paymentVoucherTaxID'];
                                    }
                                }
                                ?>

                                <tr><!--display_taxes-->
                                    <td colspan="3">
                                        <span class="<?php if (empty($totalTaxArray)) echo "hidden"; ?>remove_font_weight"><label><?php echo $this->translate("Total Taxes"); ?></label></span>
                                    </td>
                                    <td colspan="5" class="text-right">
                                        <?php if (!empty($totalTaxArray)) { ?>
                                            <table class="table table-condensed">
                                                <?php
                                                foreach ($totalTaxArray as $item) {
                                                    ?>
                                                    <tr class="no-border">
                                                        <td width="30%" class="text-left" ><?php echo $item['taxName']; ?></td>
                                                        <td class="text-right"><?php echo '(' . $item['paymentVoucherTaxPrecentage'] . '%)'; ?></td>
                                                        <td width="40%" class="text-right"><?php echo number_format($item['paymentVoucherTaxAmount'], 2); ?></td>
                                                    </tr>
                                                    <?php
                                                }
                                                ?>
                                            </table>
                                        <?php } ?>
                                    </td>
                                    <td class="text-right font_weight" colspan="1">
                                        <?php
                                        foreach ($totalTaxArray as $pTotTax) {
                                            $fullTotalTaxAmount += floatval($pTotTax['paymentVoucherTaxAmount']);
                                        }
                                        echo number_format($fullTotalTaxAmount, 2);
                                        ?>
                                    </td>
                                </tr>
                            <?php } ?>

                            <tr><!--delivery_charges-->
                                <td colspan="8"><div class='deliCharges'><label><?php echo $this->translate("Delivery Charges"); ?></label></div></td>
                                <td class="text-right"><div class='deliCharges'><?php echo number_format($this->pVDC, 2); ?></div></td>
                            </tr>

                            <tr><!--total-->
                                <td colspan="7"><h4 class="font_weight"><?php echo $this->translate("Total"); ?></h4><td class="text-right"><h4><?php echo $this->currencySymbol ?></h4></td></td>
                                <td colspan="2" class="text-right"><h4 id="finaltotal" class="font_weight"><?php echo number_format($this->pVT, 2); ?></h4></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div><!--./col-->


