<div class='form-group text-center' id='non-printable'>
    <?php if($glAccountFlag){?>
    	<button class="btn btn-primary btn-block" data-docid='<?php echo $piCode?>' data-doctypeid='12' id="journalEntry"><?php echo $this->translate('Journal Entry View') ?></button>
    <?php }?>
</div>