<?php
$dnform = $this->deliveryNoteForm;
$locationName = $this->locationName;
$locationID = $this->locationID;
$locationCode = $this->locationCode;
$referenceNumber = $this->referenceNumber;
$companyCurrencySymbol = $this->companyCurrencySymbol;
$form2 = $this->form2;
$form2->setAttribute('id', 'customer-payments-form');
$dnform->prepare();
?>
<?php $this->headScript()->captureStart(); ?>
var companyCurrencySymbol =  <?php echo "'$companyCurrencySymbol'"; ?>;
<?php $this->headScript()->captureEnd(); ?>
<?php
if ($refNotSet) {
    ?>
    <script>
        $(function() {
            $('#refNotSet').modal('show');
        });
    </script>
    <?php
}
?>
<div class="margin_top">

    <?php echo $this->form()->openTag($dnform); ?>
    <!--data_insert_section-->
    <div class="row">
        <div class="margin_top_normal">
            <div class="col-lg-5 col-md-5 col-sm-5">
                <div class="form-group">
                    <label for="authorType" class="col-lg-5 control-label">
                        <?php echo $this->translate("Customer"); ?>
                        <font style="color: red">*</font>
                    </label>
                    <div class="col-lg-7">
                        <select class="form-control selectpicker show-tick" id="customer" name="customer" data-live-search="true">
                            <option value=""><?php echo $this->translate('Select Customer') ?> </option>
                        </select>
                    </div>
                    <!-- <div class="col-lg-7">
                        <select class="selectpicker" id="authorType">
                            <option value="1"><?php echo $this->translate('Customer') ?></option>
                            <option value="2"><?php echo $this->translate('GL Account') ?></option>
                        </select>
                    </div> -->
                </div>
               <!--  <div class="form-group" id="customer_div">
                    <label for="customer" class="col-lg-5 control-label">
                       
                    </label>
                </div> -->

<!--                 <div class="form-group" id="gl_account_div">
                    <label for="glAccount" class="col-lg-5 control-label">
                    </label>
                    <div class="col-lg-7">
                        <select class="form-control selectpicker show-tick" id="glAccount" name="glAccount" data-live-search="true">
                            <option value=""><?php echo $this->translate('Select Account') ?></option>
                        </select>
                    </div>
                </div>
 -->
                

                <div class="form-group">
                    <label for="location" class="col-lg-5 control-label">
                        <?php echo $this->translate("Issue Location"); ?>
                        <font style="color: red">*</font>
                    </label>
                    <div class="col-lg-7">
                        <?php
                        if ($locationName != NULL && $locationID != NULL) {
                            $dnform->get('currentLocation')->setValue($locationCode . ' - ' . $locationName)->setAttribute('disabled', true);
                            ?>
                            <input type="hidden" id="idOfLocation" value="<?php echo $locationID ?>">
                        <?php }
                        ?>
                        <?php echo $this->formRow($dnform->get('currentLocation')); ?>
                    </div>
                </div>

                <!-- <div class="form-group">
                    <label for="paymentTerms" class="col-lg-5 control-label">
                        <?php echo $this->translate('Payment Term'); ?>
                        <a class="help_icon_js" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="top" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('INVOICE_INVO_CREATE_PAYTERM') ?>">
                            <i class="fa fa-question-circle help_icon"></i>
                        </a>
                    </label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($dnform->get('paymentTerm')); ?>
                    </div>
                </div> -->

                <div class="form-group"><!--customer_balance-->
                    <label for="currentBalance" class="col-lg-5 control-label"><?php echo $this->translate('Customer Balance') ?></label>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 remove_left_padding ">
                                <input type="text" class="form-control" id="customerCurrentBalance" readonly="readonly"/>
                                <label class="label label-danger custom_label"><?php echo $this->translate('Outstanding') ?> </label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 remove_right_padding">
                                <input type="text" class="form-control" id="customerCurrentCredit" readonly="readonly"/>
                                <label class="label label-success custom_label"><?php echo $this->translate('Credit'); ?></label>
                            </div>
                        </div>
                    </div>
                </div><!--form_group-->
            </div><!--./col-->
        </div><!--margin_top-->

        <div class="col-lg-5 col-md-5 col-sm-5 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
            <div class="form-group">
                <label for="date" class="col-lg-5 control-label">
                    <?php echo $this->translate("Income Date"); ?>
                    <font style="color: red">*</font>
                </label>
                <div class="col-lg-7">
                    <input type="text" class="datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="deliveryDate" data-date-format="<?php echo $this->userdateFormat; ?>" placeholder="<?php echo $this->userdateFormat; ?>">
                </div>
            </div>

            <div class="form-group">
                <label for="deliveryNoteNumber" class="col-lg-5 control-label">
                    <?php echo $this->translate('Income No'); ?><font style="color: red"> *</font>
                </label>
                <div class="col-lg-7">
                    <?php
                    $dnform->get('deliveryNoteNo')->setValue($referenceNumber)->setAttribute('disabled', true);
                    ?>
                    <?php echo $this->formRow($dnform->get('deliveryNoteNo')); ?>
                    <input type="hidden" id="locRefID">
                </div>
            </div>

           <!--  <div class="form-group">
                <label for="date" class="col-lg-5 control-label">
                    <?php echo $this->translate("Customer Reference"); ?>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($dnform->get('customerReference')); ?>
                </div>
            </div> -->

            <div class="form-group">
                <div class="col-lg-12 checkbox">
                    <label>
                        <input type="checkbox" name="itemAddShow" value="itemAddShow" id="item-add-show" class="offset5">
                        <?php echo $this->translate('Add inventory Item'); ?>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="dimensionType" class="col-lg-5 control-label">
                    <?php echo $this->translate('Dimension'); ?>
                </label>
                <div class="col-lg-7">
                    <a data-toggle="modal" id="dimensionView" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></a>
                </div>
            </div>
            <!-- <div class="form-group">
                <label for="dimensionType" class="col-lg-5 control-label">
                    <?php echo $this->translate('Select Documents'); ?>
                </label>
                <div class="col-lg-7 createPoDiv">
                    <input type="file" name="files[]" id="documentFiles" multiple>
                </div>
            </div> -->
        </div><!--./col-->
    </div><!--margin_top-->

    <!--table-->
    <div class="col-lg-12">
        <div id="productTable" class=" table">
            <div id="productAddOverlay" class=""></div>
            <table class="deliveryNoteProductTable table  table-striped margin_top_normal table-condensed hidden" id="deliveryNoteProductTable">
                <thead>
                    <tr>
                        <th style="width: 20%"><?php echo $this->translate("Item Code or Name"); ?></th>
                        <th style="width: 12%"><?php echo $this->translate('Available Qty'); ?></th>
                        <th class="text-right" style="width: 12%"><?php echo $this->translate("Delivery Qty"); ?></th>
                        <th style="width: 2%"></th>
                        <th class="text-right" style="width: 17%"><?php echo $this->translate("Price"); ?></th>
                        <th class="text-right" style="width: 10%"><?php echo $this->translate("Dis.Per Item"); ?></th>
                        <th class="text-right" style="width: 8%"><?php echo $this->translate("Taxes"); ?></th>
                        <th class="text-right" style="width: 15%"><?php echo $this->translate("Total"); ?></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <!--item_show_row-->
                <tbody id="form_row">
                    <tr id='preSetSample' class="hidden">
                        <td id='code'></td>
                        <td id='availableQuantity' class='text-right'></td>
                        <td id='quantity' class='text-right'></td>
                        <td><span id="uomName" class='text-right'></span></td>
                        <td id='unit' class='text-right'></td>
                        <td id='disc' class='text-right'></td>
                        <td class='text-right' id='tax'>
                            <div class='btn-group'>
                                <button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'>
                                    <span id='' class=''></span>&nbsp;
                                    <i class='fa fa-caret-down'></i>
                                </button>
                                <ul class=''></ul>
                            </div>
                        </td>
                        <td id='ttl' class='text-right'></td>
                        <td>
                            <button type='button' class='btn btn-default grnDeleteProduct'>
                                <i class='fa fa-trash-o delete'></i>
                            </button>
                        </td>
                        <td>
                            <button type='button' class='grnViewProducts btn btn-default'>
                                <i class="fa fa-expand"></i>
                            </button>
                        </td>
                        <td></td>
                    </tr>
                </tbody>

                <!--item_insert_row-->
                <tbody id="add-new-item-row">
                    <tr class="add-row sample hidden">
                        <td class="">
                            <p class="visible-xs"><?php echo $this->translate('Item Code or Name') ?></p>
                            <select class="form-control show-tick" id="itemCode" name="itemCode" data-live-search="true">
                                <option value=""><?php echo $this->translate('Enter Item Code Or Name') ?></option>
                            </select>
                        </td>
                        <td class="">
                            <p class="visible-xs"><?php echo $this->translate('Available Qty') ?></p>
                            <div class="">
                                <?php echo $this->formRow($dnform->get('availableQuantity')); ?>
                            </div>
                        </td>
                        <td>
                            <p class="visible-xs"><?php echo $this->translate('Delivery Qty') ?></p>
                            <div class="">
                                <?php echo $this->formRow($dnform->get('deliverQuanity')); ?>
                            </div>
                        </td>
                        <td></td>
                        <td class="">
                            <p class="visible-xs"><?php echo $this->translate('Price') ?></p>
                            <div class="pull-right input-group">
                                <?php echo $this->formRow($dnform->get('unitPrice')); ?>
                                <strong class="input-group-addon cCurrency"><?php echo $companyCurrencySymbol; ?></strong>
                            </div>
                        </td>
                        <td>
                            <p class="visible-xs"><?php echo $this->translate('Dis.Per Item') ?></p>
                            <div class="input-group">
                                <?php echo $this->formRow($dnform->get('discount')); ?>
                                <span class="input-group-addon sign"></span>
                            </div>
                        </td>
                        <td class='text-right' id='tax'>
                            <p class="visible-xs"><?php echo $this->translate('Taxes') ?></p>
                            <div id="addNewTaxDiv" class='btn-group'>
                                <button id ="addNewTax" type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'>
                                    <span id='taxApplied' class='glyphicon glyphicon-unchecked'></span>
                                    <span class='fa fa-caret-down'></span>
                                </button>
                                <ul id="addTaxUl" class="text-left dropdown-menu">
                                    <li id="sampleLi" class="hidden">
                                        &nbsp;&nbsp;<input class="taxChecks" id="" type='checkbox' >
                                        <label for="" class="taxName">&nbsp;&nbsp;</label>
                                    </li>
                                    <li id="toggleSelection">&nbsp;&nbsp;<div class="btn-group">
                                        <button type="button" class="btn btn-default btn-xs" id="selectAll">Select all
                                        </button>
                                        <button type="button" class="btn btn-default btn-xs" id="deselectAll">Deselect all
                                        </button></div>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <p class="visible-xs text-right"><?php echo $this->translate('Total') ?></p>
                            <div class="pull-right input-group">
                                <label class="text-right" id="addNewTotal" >0.00</label>
                            </div>
                        </td>
                        <td>
                            <button type='button' class="edit-modal btn btn-default" title="Select Batch / Serial Products">
                                <i class="fa fa-sitemap"></i>
                            </button>
                        </td>
                        <td>
                            <button  type='button' class="add btn btn-default" id="add_item" >
                                <i class="fa fa-plus"></i>
                            </button>
                            <button  type='button' class="edit btn btn-default hidden">
                                <i class="fa fa-pencil-square-o"></i>
                            </button>
                            <button  type='button' class="save btn btn-default hidden">
                                <i class="fa fa-floppy-o"></i>
                            </button>
                        </td>
                        <td>
                            <button  type='button' class="delete disabled btn btn-default">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>

               
            </table>

            <table id="non-item-table" class="table table-condensed">
                <thead>
                    <tr>
                        <th class="text-left" style="width: 30%"><?php echo $this->translate('Non Item Description') ?></th>
                        <th style="width: 20%"><?php echo $this->translate('Unit Price') ?></th>
                        <th style="width: 10%"><?php echo $this->translate('Taxes') ?></th>
                        <th style="width: 15%"><?php echo $this->translate('GL Account') ?></th>
                        <th style="width: 18%" class="text-right"><?php echo $this->translate('Total') ?></th>
                        <th style="width: 5%"></th>
                        <th style="width: 5%"></th>
                        <th colspan="3"></th>
                    </tr>
                </thead>

                <tbody id="non-item-tbody">

                    <!--Clone purpose-->
                    <tr id="non-item-row-sample" class="hidden">
                        <td disable="true">
                            <input type='text' id='non-item-description' class="non-item-desc form-control" name='non-item-description'>
                        </td>
                        <td>
                            <div class="pull-right input-group">
                                <input type='text' id='non-item-unit-prc' name='non-item-unit-prc' class='non-item-unit-prc form-control'>
                                <strong class="input-group-addon"><?php echo $companyCurrencySymbol; //$this->translate("Rs");                                                                                                                                                               ?></strong>
                            </div>
                        </td>
                        <td id='nonItemTax'>
                            <div id="addNewNonItemTaxDiv" class='btn-group addNewNonItemTaxDiv'>
                                <button id ="addNewNonItemTax" type='button' class='non-item-tax btn btn-default dropdown-toggle' data-toggle='dropdown'>
                                    <span id='nonItemTaxApplied' class='glyphicon glyphicon-unchecked nonItemTaxApplied'></span>&nbsp
                                    <span class='fa fa-caret-down remove_font_weight'></span>
                                </button>
                                <ul id="addNonItemTaxUl" class="text-left dropdown-menu addNonItemTaxUl">
                                    <li class="samplennItemLi hidden">&nbsp&nbsp
                                        <input class="taxChecks" type='checkbox'>
                                        <label for="" class="taxName">&nbsp&nbsp</label>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="non-item-ex-type-row">
                            <select class="form-control selectpicker show-tick ex-type non-item-ex-type-selectbox" data-live-search="true" title="Select GL Account">
                                <option class="" value=""><?php echo $this->translate('Select GL Account') ?></option>
                            </select>
                        </td>
                        <td>
                            <div class="pull-right input-group non-item-total">
                                <label class="text-right non-item-total-price" id="addNewNonItemTotal" >0.00</label>
                            </div>
                        </td>
                        <td class="text-center pv-non-item-add">
                            <button type="button" class="btn btn-default add-non-item" id="addNonItem">
                                <i class="fa fa-plus remove_font_weight"></i>
                            </button>
                        </td>
                        <td class="text-center">
                            <button  id="removeNonItem" type="button" class="btn btn-default hidden remove-non-item">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </td>
                        <td class="text-center pv-non-item-edit hidden">
                            <button  id="editNonItemLine" type="button" class="btn btn-default edit-non-item">
                                <i class="glyphicon glyphicon-edit"></i>
                            </button>
                        </td>
                        <td colspan="3"></td>
                    </tr>

                    <!--Active one-->
                    <tr id="non-item-row-1">
                        <td style="width: 30%" disable="true">
                            <input type='text' id='non-item-description' class="non-item-desc form-control" name='non-item-description'>
                        </td>
                        <td class="" style="width: 20%">
                            <div class="pull-right input-group">
                                <input type='text' id='non-item-unit-prc' name='non-item-unit-prc' class='non-item-unit-prc form-control'>
                                <strong class="input-group-addon"><?php echo $companyCurrencySymbol; //$this->translate("Rs");                                                                                                                                                               ?></strong>
                            </div>
                        </td>
                        <td id='nonItemTax' style="width: 10%">
                            <div id="addNewNonItemTaxDiv" class='btn-group'>
                                <button id ="addNewNonItemTax" type='button' class='non-item-tax btn btn-default dropdown-toggle' data-toggle='dropdown'>
                                    <span id='nonItemTaxApplied' class='glyphicon glyphicon-unchecked nonItemTaxApplied'></span>&nbsp
                                    <span class='fa fa-caret-down remove_font_weight'></span>
                                </button>
                                <ul id="addNonItemTaxUl" class="text-left dropdown-menu addNonItemTaxUl">
                                    <li class="samplennItemLi hidden">&nbsp&nbsp
                                        <input class="taxChecks" type='checkbox'>
                                        <label for="" class="taxName">&nbsp&nbsp</label>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <select class="form-control selectpicker show-tick non-item-ex-type-selectbox" data-live-search="true" title="Select GL Account" >
                                <option class="" value=""><?php echo $this->translate('Select GL Account') ?></option>
                            </select>
                        </td>
                        <td style="width: 15%">
                            <div class="pull-right input-group non-item-total">
                                <label class="text-right non-item-total-price" id="addNewNonItemTotal" >0.00</label>
                            </div>
                        </td>
                        <td class="text-center pv-non-item-add" style="width: 5%">
                            <button type="button" class="btn btn-default add-non-item" id="addNonItem">
                                <i class="fa fa-plus remove_font_weight"></i>
                            </button>
                        </td>
                        <td class="text-center" style="width: 5%">
                            <button  id="removeNonItem" type="button" class="btn btn-default hidden remove-non-item">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </td>
                         <td class="text-center pv-non-item-edit hidden" style="width: 5%">
                            <button  id="editNonItemLine" type="button" class="btn btn-default edit-non-item">
                                <i class="glyphicon glyphicon-edit"></i>
                            </button>
                        </td>
                        <td colspan="3"></td>
                    </tr>

                </tbody>

                 <tbody class="dn_table_footer">
                    <!--dummy_row_for_separate_subtotal_section-->
                    <tr>
                        <td colspan='11'>&nbsp;</td>
                    </tr>

                    <!--sub_total-->
                    <tr>
                        <td colspan="7" class="text-right"><?php echo $this->translate("Sub Total"); ?></td>
                        <td class="text-right"><label id="subtotal">0.00</label></td>
                        <td colspan='3'></td>
                    </tr>

                    <!--display_taxes-->
     <!--                <tr>
                        <td colspan="6">
                            <label class="remove_font_weight"><?php echo $this->formRow($dnform->get('showTax')) . "&nbsp;"; ?><?php echo $this->translate("Display Taxes"); ?></label>
                        </td>
                        <td class="text-right">
                            <div id="totalTaxShow" class="hidden"></div>
                        </td>
                        <td colspan="4"></td>
                    </tr>
 -->
                    <!--delivery_charges-->
<!--                     <tr>
                        <td colspan="7">
                            <label class="remove_font_weight">
                                <?php
                                echo $this->formRow($dnform->get('deliveryChargeEnable')) . "&nbsp;";
                                echo $this->translate("Delivery Charges");
                                ?>
                            </label>
                        </td>
                        <td>
                            <div class='deliCharges hidden'><?php echo $this->formRow($dnform->get('deliveryCharge')); ?></div>
                        </td>
                        <td colspan='3'></td>
                    </tr>

 -->                    <!--total-->
                    <tr>
                        <td colspan="7" class="text-right"><h4 class="font_weight"><?php echo $this->translate("Total Income") ?>&nbsp;<span class="cCurrency"> <?php echo $companyCurrencySymbol; ?></span></h4></td>
                        <td class="text-right"><h4 id="finaltotal" class="font_weight">0.00</h4></td>
                        <td colspan="3"></td>
                    </tr>
                </tbody>

            </table>

        </div><!--table_responsive-->

        <div style="margin:10px">
            <div class="_row_with_margin clearfix">
                <!--amount-->
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Amount :') ?></label>
                        <div class="col-lg-7 col-md-9 col-sm-8">
                            <?php echo $this->formRow($form2->get('amount')); ?>
                        </div>
                    </div>
                </div>

                <!--discount_amount-->
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Discount Amount :') ?></label>
                        <div class="col-lg-7 col-md-9 col-sm-8">
                            <?php echo $this->formRow($form2->get('discountAmount')); ?>
                        </div>
                    </div>
                </div>

                <!--Credit_Amount-->
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Credit Amount :') ?></label>
                        <div class="col-lg-7 col-md-9 col-sm-8">
                            <?php echo $this->formRow($form2->get('creditAmount')); ?>
                        </div>
                    </div>
                </div>

                <!--Balance_paid_amount-->
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Rest to Paid :') ?></label>
                        <div class="col-lg-7 col-md-9 col-sm-8">
                            <?php echo $this->formRow($form2->get('restToPaid')); ?>
                        </div>
                    </div>
                </div>

                <!--Memo-->
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Memo :') ?></label>
                        <div class="col-lg-7 col-md-9 col-sm-8">
                            <?php echo $this->formRow($form2->get('memo')); ?>
                        </div>
                    </div>
                </div>
            </div><!--row_with_margin-->



            <!--Add new payment method-->
            <div class="addPaymentMethod _row_with_margin clearfix margin_top">
                <div id='payMethod_1' class="payMethod">
                    <div class="form-horizontal clearfix">

                        <div class="margin_bottom_normal initialShowPayMethod">
                            <!--Payment-method-->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Payment Method :') ?></label>
                                    <div class="col-lg-7 col-md-9 col-sm-8">
                                        <?php echo $this->formRow($form2->get('paymentMethod')); ?>
                                    </div>
                                </div>
                            </div>

                            <!--Paid_amount-->
                            <div class="col-lg-5 jsPaidAmount">
                                <div class="form-group">
                                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Paid Amount :') ?><font color="red"> *</font></label>
                                    <div class="col-lg-7 col-md-9 col-sm-8">
                                        <?php echo $this->formRow($form2->get('paidAmount')); ?>
                                    </div>
                                </div>
                            </div>
                        </div>

                         <!--cash group-->
                        <div id='cashGroup' class="clearfix">
                            <!--account-->
                            <?php if($this->useAccounting == 1){?>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Gl Account For Cash :') ?></label>
                                    <div class="col-lg-7 col-md-9 col-sm-8">
                                        <select class="selectpicker form-control" data-live-search ="true" id="cashGlAccountID" title="">
                                            <?php
                                            foreach ($this->payMethodAcc as $methodID => $mval) {
                                                if($methodID == 1  && $mval['paymentMethodSalesFinanceAccountID'] != 0){
                                                    ?>
                                                    <option value="<?php echo $mval['paymentMethodSalesFinanceAccountID'] ?>"><?php echo $mval['salesFinanceAccountsCode']."_".$mval['salesFinanceAccountsName'] ?></option>
                                                    <?php
                                                }
                                            }
                                            ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <?php }?>
                        </div><!--cash_group-->


                        <!--cheque group-->
                        <div id='checkGroup' class="clearfix">
                            <!--Cheque number-->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Cheque Number :') ?></label>
                                    <div class="col-lg-7 col-md-9 col-sm-8">
                                        <input type="text" id='checquenumber' placeholder="<?php echo $this->translate('Enter Cheque Number') ?>" class="form-control checquenumber">
                                    </div>
                                </div>
                            </div>

                            <!--Bank-->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Bank :') ?></label>
                                    <div class="col-lg-7 col-md-9 col-sm-8">
                                        <input type="text" id='bank' placeholder="<?php echo $this->translate('Enter Bank Name') ?>" class="form-control bank">
                                    </div>
                                </div>
                            </div>

                            <?php if($this->useAccounting == 1){?>
                            <!--account-->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Gl Account For Check :') ?></label>
                                    <div class="col-lg-7 col-md-9 col-sm-8">
                                         <select class="selectpicker form-control"  data-live-search ="true" id="chequeGlAccountID" title="">
                                            <?php
                                            foreach ($this->payMethodAcc as $methodID => $mval) {
                                                if($methodID == 2  && $mval['paymentMethodSalesFinanceAccountID'] != 0){
                                            ?>
                                                    <option value="<?php echo $mval['paymentMethodSalesFinanceAccountID'] ?>"><?php echo $mval['salesFinanceAccountsCode']."_".$mval['salesFinanceAccountsName'] ?></option>
                                            <?php
                                               }
                                            }
                                            ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <?php }?>
                        </div><!--cheque_group-->

                        <!--postdated cheque-->
                        <div id='postdatedChequeGroup'>
                            <div class="col-lg-6 location">
                                <div class="form-group">
                                    <label class="col-lg-5 col-md-3 col-sm-4">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" class='postdated-cheque'>
                                                <?php echo $this->translate('Postdated Cheque') ?>
                                            </label>
                                        </div>
                                    </label>
                                    <div class="col-lg-7 col-md-9 col-sm-8">
                                        <input type="text" style="background-color: white" readonly="true" class="span2 datepicker form-control pointer_cursor postdated-cheque-date" value=<?php echo date('Y-m-d'); ?>>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--credit_card_number-->
                        <div id='creditGroup'>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Card Number:') ?></label>
                                    <div class="col-lg-7 col-md-9 col-sm-8">
                                        <input type="text" id='cardnumber' placeholder="<?php echo $this->translate('Enter Card Number') ?>" class="form-control cardnumber">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Receipt Number:') ?></label>
                                    <div class="col-lg-7 col-md-9 col-sm-8">
                                        <input type="text" id='reciptnumber' placeholder="<?php echo $this->translate('Enter Receipt Number') ?>" class="form-control reciptnumber">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Card Type:') ?></label>
                                    <div class="col-lg-7 col-md-9 col-sm-8">
                                        <select class="selectpicker form-control"  id="cardType" title="">
                                            <option value=""></option>
                                            <?php
                                            foreach ($cardTypeList as $key => $cardType) {
                                                ?>
                                                <option value="<?php echo $key ?>"><?php echo $cardType ?></option>
                                            <?php }
                                            ?>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <?php if($this->useAccounting == 1){?>
                            <!--account-->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Gl Account For Card :') ?></label>
                                    <div class="col-lg-7 col-md-9 col-sm-8">
                                        <select class="selectpicker form-control" data-live-search ="true" id="creditGlAccountID" title="">
                                            <?php
                                            foreach ($this->payMethodAcc as $methodID => $mval) {
                                                if($methodID == 3  && $mval['paymentMethodSalesFinanceAccountID'] != 0){
                                                    ?>
                                                    <option value="<?php echo $mval['paymentMethodSalesFinanceAccountID'] ?>"><?php echo $mval['salesFinanceAccountsCode']."_".$mval['salesFinanceAccountsName'] ?></option>
                                                    <?php
                                                }
                                            }
                                            ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <?php }?>
                        </div>

                        <!--Bank Transfer-->
                        <div id='bankTransferGroup'>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Bank') ?></label>
                                    <div class="col-lg-7 col-md-9 col-sm-8">
                                        <?php echo $this->formRow($form2->get('bankID')); ?>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Account:') ?></label>
                                    <div class="col-lg-7 col-md-9 col-sm-8">
                                        <select class="form-control  accountID" disabled="true">
                                            <option value="" class="default">Please select the account number</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Customer Bank:') ?></label>
                                    <div class="col-lg-7 col-md-9 col-sm-8">
                                        <input type="text" id='customerBank' placeholder="<?php echo $this->translate('Enter Customer Bank Name') ?>" class="form-control customerBank">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Customer Account Number:') ?></label>
                                    <div class="col-lg-7 col-md-9 col-sm-8">
                                        <input type="text" id='customerAccountNumber' placeholder="<?php echo $this->translate('Enter Customer Account Number') ?>" class="form-control customerAccountNumber">
                                    </div>
                                </div>
                            </div>

                            <?php if($this->useAccounting == 1){?>
                             <!--account-->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Gl Account For Bank Transfer :') ?></label>
                                    <div class="col-lg-7 col-md-9 col-sm-8">
                                        <select class="selectpicker form-control" data-live-search ="true" id="bankTransferGlAccountID" title="">
                                            <?php
                                            foreach ($this->payMethodAcc as $methodID => $mval) {
                                                if($methodID == 5  && $mval['paymentMethodSalesFinanceAccountID'] != 0){
                                                    ?>
                                                    <option value="<?php echo $mval['paymentMethodSalesFinanceAccountID'] ?>"><?php echo $mval['salesFinanceAccountsCode']."_".$mval['salesFinanceAccountsName'] ?></option>
                                                    <?php
                                                }
                                            }
                                            ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <?php } ?>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Bank Transfer Ref:') ?></label>
                                    <div class="col-lg-7 col-md-9 col-sm-8">
                                        <input type="text" id='bankTransferRef' placeholder="<?php echo $this->translate('Enter Reference Note') ?>" class="form-control bankTransferRef">
                                    </div>
                                </div>
                            </div>
                        </div><!--#bankTransferGroup-->

                        <!--gift_card-->
                        <div id='giftCardGroup'>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Gift Card') ?><font color="red"> *</font></label>
                                    <div class="col-lg-7 col-md-9 col-sm-8">
                                        <?php echo $this->formRow($form2->get('giftCardID')); ?>
                                    </div>
                                </div>
                            </div>
                            <!--account-->
                            <!-- <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Gl Account For Gift Card :') ?></label>
                                    <div class="col-lg-7 col-md-9 col-sm-8">
                                        <select class="selectpicker form-control" data-live-search ="true" id="giftCardGlAccountID" title="">
                                            
                                        </select>
                                    </div>
                                </div>
                            </div> -->
                        </div>

                        <!--LC-->
                        <div id='lcGroup'>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Payment Reference') ?></label>
                                    <div class="col-lg-7 col-md-9 col-sm-8">
                                        <textarea  placeholder="<?php echo $this->translate('Enter Payment Referene') ?>" class="form-control lcPaymentReference"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!--account-->
                            <?php if($this->useAccounting == 1){?>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Gl Account For LC :') ?></label>
                                    <div class="col-lg-7 col-md-9 col-sm-8">
                                        <select class="selectpicker form-control"  data-live-search ="true" id="lcGlAccountID" title="">
                                            <?php
                                            foreach ($this->payMethodAcc as $methodID => $mval) {
                                                if($methodID == 7  && $mval['paymentMethodSalesFinanceAccountID'] != 0){
                                                    ?>
                                                    <option value="<?php echo $mval['paymentMethodSalesFinanceAccountID'] ?>"><?php echo $mval['salesFinanceAccountsCode']."_".$mval['salesFinanceAccountsName'] ?></option>
                                                    <?php
                                                }
                                            }
                                            ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <?php }?>
                        </div>

                        <!--TT-->
                        <div id='ttGroup'>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Payment Reference') ?></label>
                                    <div class="col-lg-7 col-md-9 col-sm-8">
                                        <textarea  placeholder="<?php echo $this->translate('Enter Payment Referene') ?>" class="form-control ttPaymentReference"></textarea>
                                    </div>
                                </div>
                            </div>
                            <?php if($this->useAccounting == 1){?>
                            <!--account-->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Gl Account For TT :') ?></label>
                                    <div class="col-lg-7 col-md-9 col-sm-8">
                                        <select class="selectpicker form-control" data-live-search ="true" id="ttGlAccountID" title="">
                                            <?php
                                            foreach ($this->payMethodAcc as $methodID => $mval) {
                                                if($methodID == 8  && $mval['paymentMethodSalesFinanceAccountID'] != 0){
                                                    ?>
                                                    <option value="<?php echo $mval['paymentMethodSalesFinanceAccountID'] ?>"><?php echo $mval['salesFinanceAccountsCode']."_".$mval['salesFinanceAccountsName'] ?></option>
                                                    <?php
                                                }
                                            }
                                            ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <?php }?>
                        </div>

                    </div><!--form_horizontal-->

                    <!--remove_btn-->
                    <div class="panel-footer text-right">
                        <button class="pamentMethodDelete btn btn-default hidden"><i class="fa fa-trash-o"></i></button>
                    </div>

                </div><!--pay_method-->

            </div><!--#addPaymentMethod-->


            <div class="_row_with_margin clearfix">
                <div class="col-md-9">
                    <div id="loyalty_details" class="hidden">
                        <span id="loyalty_name"></span> loyalty card has been added with the code of <strong><span id="loyalty_code"></span></strong>.<br>
                        Currently this customer has: <strong><span id="loyalty_current_points"></span></strong> loyalty points, value of: <strong><span id="loyalty_current_points_val"></span></strong>.<br>
                    </div>
                </div>
                <div class="col-md-3 text-right">
                    <button id="paymentMethodAdd" class="btn btn-default" type="button"><?php echo $this->translate('Add New Payment Method') ?></button>
                </div>
            </div>

            <!--total_payment-->
            <div class="_row_with_margin clearfix margin_top total_payment">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6 total_payment_div">
                    <h4 class="font_weight display_inline"><label class="control-label"><?php echo $this->translate('Total Income Payment') ?></label></h4>
                </div>

                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-6 text-right total_amount">
                    <span class="h4 font_weight cCurrency"><?php echo '&nbsp' . $companyCurrencySymbol; ?></span>
                    <h4 class="display_inline"><label id="totalpayment" class="control-label"><?php echo $this->translate('0.00') ?></label></h4>
                </div>
            </div>
        </div>


        <!--comment-->
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4"><!--comment-->
                <label for="cmnt" class="">
                    <?php echo $this->translate("Comment"); ?>
                </label>
                <?php echo $this->formRow($dnform->get('comment')); ?>
            </div>

            <div class="col-lg-4 col-sm-4"><!--button-->
                <div class="btn_margin_top ">
                    <?php echo $this->formRow($dnform->get('deliveryNoteCancelButton')); ?>
                    <?php echo $this->formRow($dnform->get('deliveryNoteSaveButton')); ?>
                </div>
            </div>

            <?php echo $this->form()->closeTag(); ?>

            <!--<div class="modal fade" id="addCustomerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <?php // echo $this->customerAddView;      ?>
            </div>-->
            <div class="modal fade" id="addDeliveryNoteProductsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <?php echo $this->deliveryNoteAddProducts; ?>
            </div>
            <div class="modal fade" id="refNotSet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <?php echo $refNotSet; ?>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addDimensionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->dimensionAddView; ?>
</div>
