<div class="well toggle_purpose margin_top">
    <h5 class="font_weight"><?php echo $this->translate('Edit Income') ?> </h5>
</div>
<div class="form-horizontal well clearfix margin_bottom addPaymentMethod ">
    <form id="editPayment" class="form-horizontal" name="editPayment" method="post">
        <input type="hidden" id="incomeID" value="<?php echo $this->incomeID ?>">
        <input type="hidden" id="incomingPaymentID" value="<?php echo $this->incomingPaymentID ?>">
        <div class="row">
            <div class="col-lg-6  remove_left_padding location ">
                <div class="form-group"><!--Payment-method-->
                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Income Code :') ?></label>
                    <div class="col-lg-7 col-md-9 col-sm-8">
                        <input type="text" disabled="true" class="form-control paymentCode" value="<?php echo $this->incomeData['incomeCode']; ?>" id="paymentCode">
                    </div>
                </div>
            </div>

            <div class="col-lg-6  remove_left_padding location ">
                <div class="form-group"><!--Payment-method-->
                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Income Amount :') ?></label>
                    <div class="col-lg-7 col-md-9 col-sm-8">
                        <input type="text" disabled="true" class="form-control paymentCode" value="<?php echo number_format($this->incomeData['incomeTotal'],2); ?>" id="paymentCode">
                    </div>
                </div>
            </div>

            <div class="col-lg-6  remove_left_padding location ">
                <div class="form-group"><!--Payment-method-->
                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Payment Code :') ?></label>
                    <div class="col-lg-7 col-md-9 col-sm-8">
                        <input type="text" disabled="true" class="form-control paymentCode" value="<?php echo $this->paymentCode; ?>" id="paymentCode">
                    </div>
                </div>
            </div>


            <div class="col-lg-6  remove_left_padding location ">
                <div class="form-group"><!--Payment-method-->
                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Payment Total Amount :') ?></label>
                    <div class="col-lg-7 col-md-9 col-sm-8">
                        <input type="text" disabled="true" class="form-control paymentCode" value="<?php echo number_format($this->incomingPaymentAmount,2); ?>" id="paymentCode">
                    </div>
                </div>
            </div>

            <div class="col-lg-6  remove_left_padding location ">
                <div class="form-group"><!--Payment-method-->
                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Income Date :') ?></label>
                    <div class="col-lg-7 col-md-9 col-sm-8">
                        <input type="text" class="datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="deliveryDate" data-date-format="<?php echo $this->userdateFormat; ?>" placeholder="<?php echo $this->userdateFormat; ?>" value="<?php echo $this->userDateFormatHelper($this->incomeData['incomeDate'], $this->userdateFormat); ?>">
                    </div>
                </div>
            </div>

            <div class="col-lg-6  remove_left_padding location ">
                <div class="form-group"><!--Payment-method-->
                    <label class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Income Comment :') ?></label>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <textarea type="text" class="form-control  incomeComment"  id="incomeComment"><?php echo $this->incomeData['incomeComment']; ?></textarea>
                    </div>
                </div>
            </div>

            <div class="col-lg-6  remove_left_padding location ">
                <div class="form-group"><!--Payment-method-->
                    <label class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Payment Memo :') ?></label>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <textarea type="text" class="form-control  paymentComment"  id="paymentComment"><?php echo $this->comment; ?></textarea>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <?php
        $increment = 0;
        foreach ($this->paymentMethods as $value) {
            $value = (object) $value;
            $method = 0;
            $methodID = 0;
            $increment++;
            $name = '';
            if ($value->incomingPaymentMethodCashId != null) {
                $method = 1;
                $methodID = $value->incomingPaymentMethodCashId;
                $name = 'Cash';
            } else if ($value->incomingPaymentMethodChequeId != null) {
                $method = 2;
                $methodID = $value->incomingPaymentMethodChequeId;
                $name = 'Cheque';
            } else if ($value->incomingPaymentMethodCreditCardId != null) {
                $method = 3;
                $methodID = $value->incomingPaymentMethodCreditCardId;
                $name = 'Credit Card';
            } else if ($value->incomingPaymentMethodLoyaltyCardId != null) {
                $method = 4;
                $methodID = $value->incomingPaymentMethodLoyaltyCardId;
                $name = 'Loyalty Card';
            } else if ($value->incomingPaymentMethodBankTransferId != null) {
                $method = 5;
                $methodID = $value->incomingPaymentMethodBankTransferId;
                $name = 'Bank Transfer';
            } else if ($value->incomingPaymentMethodGiftCardId != null) {
                $method = 6;
                $methodID = $value->incomingPaymentMethodGiftCardId;
                $name = 'Gift Card';
            } else if ($value->incomingPaymentMethodLCId != null) {
                $method = 7;
                $methodID = $value->incomingPaymentMethodLCId;
                $name = 'LC';
            } else if ($value->incomingPaymentMethodTTId != null) {
                $method = 8;
                $methodID = $value->incomingPaymentMethodTTId;
                $name = 'TT';
            }
            ?>
            <div id='<?php echo "payMethod_" . $increment ?>' class="payMethod row" data-methodid="<?php echo $methodID ?>" data-method="<?php echo $method; ?>">
                <div class="col-lg-6 remove_left_padding location">
                    <div class="form-group"><!--Payment-method-->
                        <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Payment Method :') ?></label>
                        <div class="col-lg-7 col-md-9 col-sm-8">
                            <input type="text" disabled="true" class="form-control paymentMethod" value="<?php echo $name; ?>">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 remove_left_padding location">
                    <div class="form-group"><!--Payment-method-->
                        <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Paid Amount :') ?><font color="red"> *</font></label>
                        <div class="col-lg-7 col-md-9 col-sm-8">
                            <input type="text" disabled="true" class="form-control paidAmount" value="<?php echo $this->currencySymbol . " " . number_format(($value->incomingPaymentMethodAmount / $this->currencyRate), 2, '.', ''); ?>">
                        </div>
                    </div>
                </div>
                <br>
                <?php if ($method == 2) { ?>
                    <!--cheque number-->

                    <br>
                    <div id='checkGroup' class="">
                        <div class="col-lg-6 remove_left_padding location">
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Cheque Number :') ?></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <input type="text" value="<?php echo $value->incomingPaymentMethodChequeNumber ?>" id='checquenumber' placeholder="<?php echo $this->translate('Enter Cheque Number') ?>" class="form-control checquenumber" <?php if ($value->incomingPaymentMethodChequeReconciliationStatus == 1) { ?> disabled="disabled"<?php } ?>>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 remove_left_padding location">
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Bank :') ?></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <input type="text" value="<?php echo $value->incomingPaymentMethodChequeBankName ?>" id='bank' placeholder="<?php echo $this->translate('Enter Bank Name') ?>" class="form-control bank" <?php if ($value->incomingPaymentMethodChequeReconciliationStatus == 1) { ?> disabled="disabled"<?php } ?>>
                                </div>
                            </div>
                        </div>
                    </div><!--cheque_group-->
                <?php } else if ($method == 3) { ?>
                    <!--credit_card_number-->
                    <br>
                    <div id='creditGroup' class="">
                        <div class="col-lg-6 remove_left_padding location">
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Receipt Number:') ?></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <input type="text" value="<?php echo $value->incomingPaymentMethodCreditReceiptNumber ?>" id='reciptnumber' placeholder="<?php echo $this->translate('Enter Receipt Number') ?>" class="form-control reciptnumber">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 remove_left_padding location">
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Card Number:') ?></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <input type="text" value="<?php echo $value->incomingPaymentMethodCreditCardNumber ?>" id='cardnumber' placeholder="<?php echo $this->translate('Enter Card Number') ?>" class="form-control cardnumber">
                                </div>
                            </div>
                        </div>
                    </div>
                <?php } else if ($method == 5) { ?>
                    <!--Bank Transfer-->
                    <br>
                    <div id='bankTransferGroup'>
                        <div class="col-lg-6 remove_left_padding location">
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Bank') ?></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <select class="bankID form-control ">
                                        <option value=""><?php echo $this->translate('Please Select the Bank') ?></option>
                                        <?php foreach ($this->banks as $key => $data) { ?>
                                            <option  value="<?php echo $key; ?>" <?php if ($value->incomingPaymentMethodBankTransferBankId == $key) { ?>selected="selected"<?php } ?>><?php echo $data; ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 remove_left_padding location">
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Account:') ?></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <input type="hidden" class="selectAccountID" value="<?php echo $value->incomingPaymentMethodBankTransferAccountId; ?>">
                                    <select class="form-control  accountID" >
                                        <option value="" class="default"><?php echo $this->translate('Plese select the account number') ?></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="col-lg-6 remove_left_padding location">
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Customer Bank:') ?></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <input type="text" id='customerBank' value="<?php echo $value->incomingPaymentMethodBankTransferCustomerBankName; ?>" placeholder="<?php echo $this->translate('Enter Customer Bank Name') ?>" class="form-control customerBank">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 remove_left_padding location">
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Customer Account Number:') ?></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <input type="text" value="<?php echo $value->incomingPaymentMethodBankTransferCustomerAccountNumber; ?>" id='customerAccountNumber' placeholder="<?php echo $this->translate('Enter Customer Account Number') ?>" class="form-control customerAccountNumber">
                                </div>
                            </div>
                        </div>
                    </div>
                <?php } else if ($method == 6) { ?>
                    <!--gift_card-->
                    <br>
                    <div id='giftCardGroup' class="">
                        <div class="col-lg-6 remove_left_padding location">
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Gift Card') ?></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <select class="form-control  giftCardID" disabled="true">
                                        <option value="" class="default"> Plese select the Gift Card</option>
                                        <?php foreach ($this->giftCards as $key => $data) { ?>
                                            <option value="<?php echo $key; ?>" <?php if ($this->giftCardId == $key) { ?>selected="selected"<?php } ?> class="default"><?php echo $data ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                <?php } else if ($method == 7) { ?>
                    <div id='lcGroup'>
                        <div class="col-lg-6 remove_left_padding">
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Payment Reference') ?></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <textarea  placeholder="<?php echo $this->translate('Enter Payment Referene') ?>" class="form-control lcPaymentReference"><?php echo $value->incomingPaymentMethodLCReference; ?></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                <?php } else if ($method == 8) { ?>
                    <div id='ttGroup'>
                        <div class="col-lg-6 remove_left_padding">
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Payment Reference') ?></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <textarea  placeholder="<?php echo $this->translate('Enter Payment Referene') ?>" class="form-control ttPaymentReference"><?php echo $value->incomingPaymentMethodTTReference; ?></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                <?php } ?>
                <label class="pamentMethodDelete btn btn-default hidden" ><i class="fa fa-trash "></i></label>
            </div>
            <br>
            <br>
        <?php } ?>
        <div class="col-lg-3 col-lg-offset-9">
            <input class="btn btn-primary" type="submit" id="update" value=<?php echo $this->translate('Update') ?> />
        </div>

    </form>
</div>