<?php $this->translate('New Income') ?>
<div id="invoice-list">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class=""><?php echo $this->translate('Income No') ?></th>
                <th class=""><?php echo $this->translate('Customer Name') ?></th>
                <th class="text-left"><?php echo $this->translate('Date') ?></th>
                <th class=""><?php echo $this->translate('Total Amount') ?></th>
                <th class="text-left"><?php echo $this->translate('Status') ?></th>
                <th class="text-center"><?php echo $this->translate('Print View') ?></th>
                <th class="text-center"><?php echo $this->translate('Edit') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            if (count($this->income) > 0) {
                foreach ($this->income as $key => $income) {
                    $income = (object) $income;                  
                    $currencySymbol = $this->companyCurrencySymbol;
                    if (!is_null($income->customerName)) {
                        $customerName = $income->customerName . "-" . $income->customerCode;
                    } else {
                        $customerName = "Default Customer";
                    }
                    $state = ucfirst($this->statuses[$income->status]);
                    switch ($income->status) {
                        case "1":
                            $style = "label label-primary";
                            break;
                        case "2":
                            $style = "label label-default";
                            break;
                        case "3":
                            $style = "label label-success";
                            break;
                        case "4":
                            $style = "label label-warning";
                            break;
                        case "5":
                            $style = "label label-primary";
                            break;
                        case "6":
                            $state = 'Open';
                            $style = "label label-danger";
                            break;
                        default :
                            $style = "label label-default";
                    }
                    ?>
                    <tr>
                        <td class=""> <?php echo $income->incomeCode; ?></td>
                        <td class=""> <?php echo $customerName; ?></td>
                        <td class="text-left"> <?php echo $this->userDateFormatHelper($income->incomeDate, $this->userdateFormat); ?></td>
                        <td class=""> <?php echo $currencySymbol . ' ' . number_format($income->incomeTotal, 2); ?></td>
                        <td class="text-left"><span class="<?php echo $style ?>"><?php echo $state; ?></span></td>
                        <td class="text-center">
                            <span class="preview link_color" style="cursor:pointer" data-href="<?php echo $this->url('income', array('action' => 'preview', 'param1' => $inc->incomeID)); ?>">
                                <span id="<?php echo $inc->incomeID; ?>" class="glyphicon glyphicon-eye-open openlist"></span>
                            </span>
                        </td>
                        <td class="text-center">
                            <a class="edits" href="<?php echo $this->url('income', array('action' => 'edit', 'param1' => $inc->incomeID));
                            ?>" id="<?php echo $inc->incomeID ?>">
                                <span class="fa fa-pencil-square-o custom_font_size"></span>
                            </a>
                        </td>

                        <?php
                    }
                }
                if (count($this->income) == 0) {
                    ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div>
