<?php $this->headScript()->appendFile($this->basePath('js/accounting/viewIncome.js')); ?>

<div class='well clearfix well_custom_padding margin_top xs_view'><!--get_invoice-->

    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <label class="remove_weight margin_bottom_normal_low"><?php echo $this->translate('Search Income') ?></label>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
        <select id="inv-search-select" class=" form-control">
            <option value="Income No"><?php echo $this->translate('Income No') ?></option>
            <option value="Customer Name"><?php echo $this->translate('Customer Name') ?></option>
        </select>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-3">
        <select class="form-control selectpicker show-tick" id="inv-search" name="inv-search" data-live-search="true">
            <option value=""><?php echo $this->translate('Select Income No') ?></option>
        </select>
        <select class="form-control selectpicker show-tick" id="inv-custa-search" name="inv-custa-search" data-live-search="true">
            <option value=""><?php echo $this->translate('Select Customer Name') ?></option>
        </select>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2">
        <input type="text" style="background-color: white" readonly="true" class="span2 datepicker form-control pointer_cursor" id="from-date" data-date-format="<?php echo $this->userdateFormat ?>" placeholder="<?php echo $this->userdateFormat ?>">
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2">
        <input type="text" style="background-color: white" readonly="true" class="span2 datepicker form-control pointer_cursor" id="to-date" data-date-format="<?php echo $this->userdateFormat ?>" placeholder="<?php echo $this->userdateFormat ?>">
    </div>

    <div class="col-lg-1 col-md-3 col-sm-1">
        <button class="btn btn-primary" id="filter-button"><?php echo $this->translate('GO') ?></button>
    </div>
</div><!--well-->


<!--table-->
<div class="margin_top">
    <div class="table table-responsive">

        <div id="deliverynote-list">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class=""><?php echo $this->translate('Income No') ?></th>
                        <th class=""><?php echo $this->translate('Customer Name') ?></th>
                        <th class="text-left"><?php echo $this->translate('Date') ?></th>
                        <th class=""><?php echo $this->translate("Total Amount") ?></th>
                        <th class="text-left"><?php echo $this->translate('State') ?></th>
                        <th class="text-center"><?php echo $this->translate('Print View') ?></th>
                        <th class="text-center"><?php echo $this->translate('Edit') ?></th>
                        <!-- <th class="text-center"><?php echo $this->translate('Cancel') ?></th> -->
                    </tr>
                </thead>
                <tbody>
                    <?php
                    foreach ($this->income as $key => $inc) {
                        $currencySymbol = $this->companyCurrencySymbol;

                        if (!is_null($inc->customerName)) {
                            $customerName = $inc->customerName . "-" . $inc->customerCode;
                        } else {
                            $customerName = "Default Customer";
                        }
                        $dN = (object) $inc;
                        $state = ucfirst($this->statuses[$inc->status]);
                        $style = NULL;
                        switch ($inc->status) {
                            case "1":
                                $style = "label label-primary";
                                break;
                            case "2":
                                $style = "label label-default";
                                break;
                            case "3":
                                $style = "label label-success";
                                break;
                            case "4":
                                $style = "label label-warning";
                                break;
                            case "5":
                                $style = "label label-primary";
                                break;
                            case "6":
                                $state = 'Open';
                                $style = "label label-danger";
                                break;
                            default :
                                $style = "label label-default";
                        }
                        ?>
                        <tr>
                            <td class=""> <?php echo $inc->incomeCode; ?></td>
                            <td class=""> <?php echo $customerName; ?></td>
                            <td class="text-left"> <?php echo $this->userDateFormatHelper($inc->incomeDate, $this->userdateFormat); ?></td>
                            <td class=""> <?php echo $currencySymbol . ' ' . number_format($inc->incomeTotal, 2); ?></td>
                            <td class="text-left"><span class="<?php echo $style ?>"><?php echo $state; ?></span></td>
                            <td class="text-center">
                                <span class="preview link_color" style="cursor:pointer" data-href="<?php echo $this->url('income', array('action' => 'preview', 'param1' => $inc->incomeID)); ?>">
                                    <span id="<?php echo $inc->incomeID; ?>" class="glyphicon glyphicon-eye-open openlist"></span>
                                </span>
                            </td>
                            <td class="text-center">
                                <a class="edits" href="<?php echo $this->url('income', array('action' => 'edit', 'param1' => $inc->incomeID));
                                ?>" id="<?php echo $inc->incomeID ?>">
                                    <span class="fa fa-pencil-square-o custom_font_size"></span>
                                </a>
                            </td>
                          <!--   <td class="text-center">
                                <span id="<?php echo $inc->incomeID; ?>" class="link_color" data-dln-related-id="<?php echo $inc->incomeID; ?>" style="cursor:pointer"><span class="grnView glyphicon glyphicon-ban-circle"></span></span>
                            </td> -->
                            <?php
                        }
                        if (count($this->income) == 0) {
                            ?>
                        <tr class="not_found">
                            <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                        </tr>
                    <?php }
                    ?>
                </tbody>
            </table>
            <?php
            echo $this->paginationControl(
                    $this->income, 'sliding', array('partial/paginator.phtml', 'income'), array(
                'route' => 'income', 'action' => 'list'
                    )
            );
            ?>
        </div>

    </div><!--tabele_responsive-->
    <div id='custadiv'></div>
</div><!--margin_top-->