<div class='form-group text-center' id='non-printable'>
    <?php if ($state != "closed") { ?>
    <?php if(isset($data['pVID'])){?>
        <a href="/supplierPayments/create/pV/<?php echo $piCode ?>" class='btn btn-primary btn-block'>
            <?php echo $this->translate("Pay"); ?>
        </a>
        <?php }else{ ?>
        <a href="/supplierPayments/create/<?php echo $piCode ?>" class='btn btn-primary btn-block'>
            <?php echo $this->translate("Pay"); ?>
        </a>
        <?php } ?>
    <?php } ?>
    <?php if($glAccountFlag){?>
    	<button class="btn btn-primary btn-block" data-docid='<?php echo $piCode?>' data-doctypeid='12' id="journalEntry"><?php echo $this->translate('Journal Entry View') ?></button>
    <?php }?>
</div>