<?php
$piform = $this->piForm;
$companyCurrencySymbol = $this->companyCurrencySymbol;
$piform->prepare();
$this->headScript()->prependFile($this->basePath('js/pi/viewPi.js'));
$this->headScript()->prependFile($this->basePath('js/pi/pi.js'));
$this->headScript()->prependFile($this->basePath('js/calculations.js'));
?>
<div class="margin_top">

    <?php echo $this->form()->openTag($piform); ?>

    <div class="well clearfix well_custom_padding margin_top">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-2">
                <label class="remove_weight"><?php echo $this->translate('Start PI by ') ?></label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4">
                <select class="form-control selectpicker" id="copyFromChooser">
                    <option value="GRN"><?php echo 'GRN'; ?></option>
                    <?php 
                    if ($this->packageID != "1" && $this->packageID != "2") {
                    ?>
                        <option value="PO"><?php echo 'PO'; ?></option>
                    <?php 
                    }
                    ?>
                </select>
            </div>
            <div class="col-lg-7 col-md-6 col-sm-6">
                <div class="input-group">
                    <select class="form-control selectpicker show-tick" id="grn" name="grn" data-live-search="true">
                        <option value=""><?php echo $this->translate('Select GRN No') ?></option>
                    </select>
                    <select class="form-control selectpicker show-tick" id="po" name="po" data-live-search="true">
                        <option value=""><?php echo $this->translate('Select PO No') ?></option>
                    </select>
                    <select class="form-control selectpicker show-tick"  multiple='multiple' id="multipleGrn" name="multipleGrn" data-live-search="true">
                    </select>
                    <span class="input-group-btn">
                        <a id="refreshStartBy" class="btn btn-default"><?php echo $this->translate("Clear") ?></a>
                    </span>
                </div>
                <div id="delNumberSelectDiv" class="hidden">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-3 multiGrnCheckBox">
                <label for="mulitpleGrn" class="remove_weight"><b><?php echo $this->translate("Copy From Multiple GRNs") ?></b></label>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-2">
                <input type='checkBox' style="margin-top: 10px;" class="" id='multipleCopy'>
            </div>
        </div>
    </div>

    <!--data_insert_section-->
    <div class="row">
        <div class="margin_top_normal">
            <div class="col-lg-5 col-md-5 col-sm-5">

                <div class="form-group">
                    <label for="supplier" class="col-lg-5 control-label">
                        <?php echo $this->translate("Supplier"); ?>
                        <font style="color: red">*</font>
                    </label>
                    <div class="col-lg-7">
                        <div class="input-group">
                            <select class="form-control selectpicker show-tick" id="supplier" name="supplier" data-live-search="true">
                                <option value=""><?php echo $this->translate('Select Supplier') ?></option>
                            </select>
                            <a data-toggle="modal" id="addSupplierBtn" href="#addSupplierModal" class="input-group-addon btn-default">
                                <i class="fa fa-plus remove_font_weight"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="qot_no" class="col-lg-5 control-label">
                        <?php echo $this->translate("Retrieve Location"); ?>
                        <font style="color: red">*</font>
                    </label>
                    <div class="col-lg-7">
                        <select class="form-control selectpicker show-tick" id="retrieveLocation" name="retrieveLocation" data-live-search="true">
                            <option value=""><?php echo $this->translate('Select Location') ?></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="paymentTerms" class="col-lg-5 control-label">
                        <?php echo $this->translate('Payment Term'); ?>
                    </label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($piform->get('paymentTerm')); ?>
                    </div>
                </div>

                <div class="form-group"><!--customer_balance-->
                    <label for="currentBalance" class="col-lg-5 control-label"><?php echo $this->translate('Supplier Balance') ?></label>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 remove_left_padding ">
                                <input type="text" class="form-control" id="supplierCurrentBalance" readonly="readonly"/>
                                <label class="label label-danger custom_label"><?php echo $this->translate('Outstanding') ?></label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 remove_right_padding">
                                <input type="text" class="form-control" id="supplierCurrentCredit" readonly="readonly"/>
                                <label class="label label-success custom_label"><?php echo $this->translate('Credit'); ?></label>
                            </div>
                        </div>
                    </div>
                </div><!--form_group-->
                <div class="form-group">
                    <label for="dimensionType" class="col-lg-5 control-label">
                        <?php echo $this->translate('Dimension'); ?>
                    </label>
                    <div class="col-lg-7">
                        <a data-toggle="modal" id="dimensionView" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></a>
                    </div>
                </div>
                <div class="form-group updatePoDiv_view hidden">
                    <label for="dimensionType" class="col-lg-5 control-label">
                        <?php echo $this->translate('View Documents'); ?>
                    </label>
                    <div class="col-lg-3 text-right">
                        <button class="btn btn-default form-control" type="button" id='viewUploadedFiles'><i class="glyphicon glyphicon-eye-open"></i></button>
                    </div>
                </div>
            </div><!--./col-->
        </div><!--margin_top-->


        <div class="col-lg-5 col-md-5 col-sm-5 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">

            <div class="form-group">
                <label  class="col-lg-5 control-label">
                    <?php echo $this->translate('Issue Date'); ?>
                    <font style="color: red">*</font>
                </label>
                <div class="col-lg-7">
                    <input type="text" class="datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="issueDate" data-date-format="<?php echo $this->dateFormat ?>" placeholder="<?php echo $this->dateFormat ?>">
                </div>
            </div>

            <div class="form-group">
                <label for="date" class="col-lg-5 control-label">
                    <?php echo $this->translate("Due Date"); ?>
                    <font style="color: red">*</font>
                </label>
                <div class="col-lg-7">
                    <input type="text" class="datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="deliveryDate" data-date-format="<?php echo $this->dateFormat ?>" placeholder="<?php echo $this->dateFormat ?>">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-5 control-label">
                    <?php echo $this->translate('PI No'); ?>
                    <font style="color: red">*</font>
                    <a class="help_icon_js" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="top" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('INVENTORY_PV_CREATE_PVNUM') ?>">
                        <i class="fa fa-question-circle help_icon"></i>
                    </a>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($piform->get('grnNo')); ?>
                    <input type="hidden" id="locRefID">
                </div>
            </div>

            <div class="form-group">
                <label for="date" class="col-lg-5 control-label">
                    <?php echo $this->translate("Supplier Reference"); ?>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($piform->get('supplierReference')); ?>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-5 control-label">
                    <?php echo $this->translate('Document Reference'); ?>
                </label>
                <div class="col-lg-1">
                    <a data-toggle="modal" id="documentReference"  class="btn btn-default"><i class="fa fa-angle-double-down"></i></a>
                </div>
            </div>
            <div class="form-group">
                <label for="dimensionType" class="col-lg-5 control-label">
                    <?php echo $this->translate('Select Documents'); ?>
                </label>
                <div class="col-lg-7 createPoDiv">
                    <input type="file" name="files[]" id="documentFiles" multiple>
                </div>
                <div class="col-lg-7 updatePoDiv hidden">
                    <input type="file" name="files[]" id="editDocumentFiles" multiple style="border-color: white">
                </div>
            </div>
        </div><!--./col-->
    </div><!--margin_top-->
</div><!--row-->

<!--table-->
<div class="col-lg-12">
    <div class="table table-responsive">
        <div id="productAddOverlay" class="overlay"></div>
        <table class="table table-striped margin_top_normal table-condensed" id="piProductTable">
            <!--table_heading-->
            <thead>
                <tr>
                    <th style="width: 20%"><?php echo $this->translate("Item Code - Name"); ?></th>
                    <th class="text-right" style="width: 16%"><?php echo $this->translate("Quantity"); ?></th>
                    <th style="width: 2%"</th>
                    <th class="text-right" style="width: 13%"><?php echo $this->translate("Price"); ?></th>
                    <th class="text-right" style="width: 11%"><?php echo $this->translate("Discount"); ?></th>
                    <th class="text-right" style="width: 9%"><?php echo $this->translate("Taxes"); ?></th>
                    <th class="text-right" style="width: 14%"><?php echo $this->translate("Total"); ?></th>
                    <th style="width: 5%;"></th>
                    <th style="width: 5%;"></th>
                    <th style="width: 5%;"></th>
                </tr>
            </thead>

            <!--Item_show_row-->
            <tbody id="form_row">
                <tr id='preSetSample' class="hidden">
                    <td  id='code'></td>
                    <td id='quantity' class='text-right'></td>
                    <td><span id="uomName" class='text-right'></span></td>
                    <td id='unit' class='text-right'></td>
                    <td id='disc' class='text-right'></td>
                    <td class='text-right taxSet' id='tax'>
                        <div class='btn-group'>
                            <button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'>
                                <span id='' class=''></span>&nbsp
                                <span class='fa fa-caret-down'></span>
                            </button>
                            <ul class=''></ul>
                        </div>
                    </td>
                    <td id='ttl' class='text-right'></td>
                    <td class="text-center">
                        <button type="button" class="btn btn-default piDeleteProduct">
                            <span class='fa fa-trash-o delete' id=''></span>
                        </button>
                    </td>
                    <td class="text-center">
                        <button id="viewSubProducts" type="button" class="btn btn-default piViewProducts">
                            <span id="" class="fa fa-expand"></span>
                        </button>
                    </td>
                     <td class="text-center editPi">
                        <button type="button" class="btn btn-default editPiLine hidden">
                            <span class='glyphicon glyphicon-edit ' id='singlePiEdit'></span>
                        </button>
                    </td>
                </tr>
            </tbody>

            <!--item_insert_row-->
            <tbody id="add-new-item-row">
                <tr id="addNewItemTr">
                    <td class="">
                        <select class="form-control selectpicker show-tick" id="itemCode" name="itemCode" data-live-search="true" title="">
                            <option class="itemCodeDefaultSelect" value=""><?php echo $this->translate('Select Item Code or Name') ?></option>
                        </select>
                    </td>
                    <td class="">
                        <div class="">
                            <?php echo $this->formRow($piform->get('qty')); ?>
                        </div>
                    </td>
                    <td></td>
                    <td class="">
                        <div class="pull-right input-group">
                            <?php echo $this->formRow($piform->get('unitPrice')); ?>
                            <strong class="input-group-addon"><?php echo $companyCurrencySymbol; //$this->translate("Rs");                                ?></strong>
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <?php echo $this->formRow($piform->get('discount')); ?>
                            <span class="input-group-addon sign"></span>
                        </div>
                    </td>
                    <td class='text-right taxSet' id='tax'>
                        <div id="addNewTaxDiv" class='btn-group'>
                            <button id ="addNewTax" type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'>
                                <span id='taxApplied' class='glyphicon glyphicon-unchecked'></span>&nbsp
                                <span class='fa fa-caret-down remove_font_weight'></span>
                            </button>
                            <ul id="addTaxUl" class="text-left dropdown-menu">
                                <li id="sampleLi"class="hidden">&nbsp;&nbsp;
                                    <input class="taxChecks" id="" type='checkbox'>
                                    <label for="" class="taxName">&nbsp;&nbsp;</label>
                                </li>
                                <li id="toggleSelection">&nbsp;&nbsp;<div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs" id="selectAll"><?php echo $this->translate("Select all") ?>
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs" id="deselectAll"><?php echo $this->translate("Deselect all") ?>
                                    </button></div>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <div class="pull-right input-group">
                            <label class="text-right itemLineTotal" id="addNewTotal" >0.00</label>
                        </div>
                    </td>
                    <td class="text-center">
                        <button type="button" class="btn btn-default" id="addItem">
                            <i class="fa fa-plus remove_font_weight"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button  id="removeItem" type="button" class="btn btn-default hidden">
                            <i class="glyphicon glyphicon-minus"></i>
                        </button>
                    </td>
                    <td class="text-center">

                    </td>
                </tr>
            </tbody>

            <tbody>
                <!--dummy_row_for_separate_subtotal_section-->
                <tr>
                    <td colspan="10">&nbsp;</td>
                </tr>

                <!--sub_total-->
                <tr>
                    <td colspan="6" class="text-right"><?php echo $this->translate("Sub Total"); ?></td>
                    <td class="text-right"><label id="subtotal">0.00</label></td>
                    <td colspan="3"></td>
                </tr>

                 <!--total_discount-->
                 <tr>
                    <td colspan="3">
                        <?php echo $this->translate("Total Discount"); ?>
                    </td>
                    <td colspan="3">
                        <div class="radio pull-right" style="padding-top: 0; min-height: 0">
                            <label>
                                <input  type="radio" name="discount_type" id="disc_value" value="Value"><?php echo $this->translate("value") ?>
                            </label>
                        </div>
                        <div class="radio pull-right" style="margin-right: 20px; padding-top: 0; min-height: 0;margin-top: 10px !important">
                            <label>
                                <input  type="radio" name="discount_type" id="disc_presentage" value="presentage"><?php echo $this->translate("percentage") ?>
                            </label>
                        </div>
                    </td>
                    <td>
                        <?php echo $this->formRow($piform->get('total_discount_rate')); ?>
                    </td>
                    <td colspan="4"></td>
                </tr>

                <!--display_taxes-->
                <tr>
                    <td colspan="5">
                        <label class="remove_font_weight"><?php echo $this->formRow($piform->get('showTax')) . "&nbsp;"; ?><?php echo $this->translate("Display Taxes"); ?></label>
                    </td>
                    <td class="text-right">
                        <div id="totalTaxShow" class="hidden"></div>
                    </td>
                    <td colspan="4"></td>
                </tr>

                <!--delivery_charges-->
                <tr>
                    <td colspan="6">
                        <label class="remove_font_weight">
                            <?php
                            echo $this->formRow($piform->get('deliveryChargeEnable')) . "&nbsp;";
                            echo $this->translate("Delivery Charges");
                            ?>
                        </label>
                    </td>
                    <td>
                        <div class='deliCharges hidden text-right'><?php echo $this->formRow($piform->get('deliveryCharge')); ?></div>
                    </td>
                    <td colspan="3"></td>
                </tr>

                <!--total-->
                <tr>
                    <td colspan="6" class="text-right"><h4 class="font_weight"><?php echo $this->translate("Total") . " " . $companyCurrencySymbol; ?></h4></td>
                    <td class="text-right"><h4 id="finaltotal" class="font_weight">0.00</h4></td>
                    <td colspan="3"></td>
                </tr>
            </tbody>
        </table>

    </div><!--table_responsive-->
</div><!--./col-->

<!--comment-->
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4"><!--comment-->
        <label for="cmnt" class="">
            <?php echo $this->translate("Comment"); ?>
        </label>
        <?php echo $this->formRow($piform->get('comment')); ?>
    </div>

    <div class="col-lg-4 col-sm-4"><!--button-->
        <div class="btn_margin_top ">
            <?php echo $this->formRow($piform->get('grnCancelButton')); ?>
            <?php echo $this->formRow($piform->get('grnSaveButton')); ?>
            <?php if ($useAccounting) {?>
                <input id="journalEntryView" type="submit" class="btn btn-danger" value="View Journal Entry">
            <?php }?>
        </div>
    </div>
</div><!--row-->
<?php echo $this->form()->closeTag(); ?>
<div class="modal fade" id="addSupplierModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->supplierAddView; ?>
</div>

<div class="modal fade" id="addPiProductsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->piAddProducts; ?>
</div>

<div class="modal fade" id="addGrnProductsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog large grn_modal">
		<div class="modal-content">
		<form id="product-modal">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><?php echo $this->translate('&times;') ?></button>
					<h4 class="modal-title"><?php echo $this->translate('Select Batch / Serial Items') ?></h4>
				</div>
				<div class="modal-body ">
					<div class="table-responsive" style="height: 300px; overflow-y: scroll">
						<table class="table batch-table table-striped table-condensed">
							<thead>
								<tr>
									<th style="width: 20%" class="text-left"><?php echo $this->translate('Batch Code') ?></th>
									<th style="width: 20%" class="text-left"><?php echo $this->translate('Serial Code') ?></th>
									<th style="width: 15%" class="text-left"><?php echo $this->translate('Available Qty') ?></th>
									<th style="width: 15%" class="text-center"><?php echo $this->translate('Select Qty') ?></th>
									<!-- <th style="width: 10%" class="text-center warranty "><?php echo $this->translate('Warranty(Days)') ?></th>
									<th style="width: 10%" class="text-center expDate "><?php echo $this->translate('Expire Date') ?></th>
									<th style="width: 10%" class="text-center"><?php echo $this->translate('Batch Price') ?></th> -->
								</tr>
							</thead>
							<tbody id="batch_data">
								<tr id="defaultRow" class="batch_row hidden">
									<td class="batchCode"></td>
									<td class="serialID"></td>
									<td>
										<div class="input-group">
											<input type="text" readonly="true" name="availableQuantity" class="form-control">
										</div>
									</td>
									<td class="text-center">
										<div class="input-group">
											<input type="text" name="selectedQuantity" class="form-control">
										</div>
										<input type="checkbox" name="selectedQuantityCheck" value="1">
									</td>
									<!-- <td class="warrant">
										<input type="text" id="warranty"  name="warranty" class="form-control">
									</td>
									<td>
										<div class="input-group">
											<input type="text" id="expDate"  name="expireDate" class="form-control" readonly="true">
										</div>
									</td>
									<td>
										<div class="input-group">
											<input type="text" id="btPrice"  name="btPrice" class="form-control" readonly="true">
										</div>
									</td> -->
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="modal-footer text-right">
					<input type="submit" value="<?php echo $this->translate('Save') ?>" id="batch-save" class="btn btn-primary">
					<!--<input data-dismiss="modal" aria-hidden="true" type="button" value="Back" id="batchBack" class="btn btn-danger">-->
				</div>
			</form>
		</div> <!-- /.modal-content -->
	</div> <!--/.modal-dialog -->
</div>

<div class="modal fade" id="viewPiSubProductsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Items</h4>
            </div>

            <div class="modal-body">
                <div id="batchProductsView" class="hidden panel panel-default">
                    <div class="col-lg-12 panel panel-heading">
                        <h4><?php echo $this->translate('Batch') ?></h4>
                        <div class="col col-lg-12">
                            <span class="col-lg-3"><?php echo $this->translate("Item Code:"); ?></span><span id="batchCodeView" class="col-lg-3"></span><span class="col-lg-3"><?php echo $this->translate("Quantity:"); ?></span><span id="batchQuantityView" class="col-lg-3"></span>
                        </div>
                    </div>
                    <div class="panel panel-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th><?php echo $this->translate("Batch CoDe"); ?></th>
                                    <th><?php echo $this->translate("Qty"); ?></th>
                                    <th><?php echo $this->translate("Man: Date"); ?></th>
                                    <th><?php echo $this->translate("Exp: Date"); ?></th>
                                    <th><?php echo $this->translate("Wrnty"); ?></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="proBatchViewSample" class="hidden">
                                    <td id="batchNmbrView"></td>
                                    <td id="batchQtyView"></td>
                                    <td id="batchMDateView"></td>
                                    <td id="batchEDateView"></td>
                                    <td id="batchWView"></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div id="serialViewScreen" class="hidden panel panel-default">
                    <div class="col-lg-12 panel panel-heading">
                        <h4><?php echo $this->translate('Serial') ?></h4>
                        <div class="col col-lg-12">
                            <span class="col-lg-3"><?php echo $this->translate("Item Code:"); ?></span><span id="piserialCodeView" class="col-lg-3"></span><span class="col-lg-3"><?php echo $this->translate("Quantity:"); ?></span><span id="piSerialQuantityView" class="col-lg-3"></span>
                        </div>
                    </div>
                    <div class="panel panel-body" style="overflow-y: scroll; height: 300px;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th><?php echo $this->translate("Serial Number"); ?></th>
                                    <th><?php echo $this->translate("Warranty"); ?></th>
                                    <th><?php echo $this->translate("Batch CoDe"); ?></th>
                                    <th><?php echo $this->translate("Exp: Date"); ?></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="serialViewSample" class="">
                                    <td id="serialNumberView"></td>
                                    <td id="serialWarrentyView"></td>
                                    <td id="serialBIDView"></td>
                                    <td id="serialExDView"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="refNotSet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $refNotSet; ?>
</div>
<div class="modal fade" id="documentReferenceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $documentReference; ?>
</div>

<div class="modal fade" id="editJournalEntry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4><?php echo $this->translate("Journal Entry View") ?></h4>
                </div>

                <div class="modal-body">
                    <div class="form-horizontal">
                        <!--journalEntryDate-->
                        <div class="form-group">
                            <label class="control-label label_bottom_margin col-lg-4" for="journalEntryDate">
                                <?php echo $this->translate('Date')?><font color="red"> *</font>
                            </label>

                            <div class="col-lg-8">
                                <input type='text' class="form-control" readonly="true" id="journalEntryDate">
                            </div>
                        </div>

                        <!-- journalEntryCode -->
                        <div class="form-group">
                            <div class="col-lg-4">
                                <label class="control-label label_bottom_margin" for="journalEntryCode"><?php echo $this->translate('Journal Entry Number')?><font color="red"> *</font>
                                </label>
                            </div>

                            <div class="col-lg-8">
                                <input type='text' class="form-control" readonly="true" id="journalEntryCode">
                            </div>
                        </div>

                        <!-- comment -->
                        <div class="form-group">
                            <div class="col-lg-4">
                                <label class="control-label label_bottom_margin" for="journalEntryComment"><?php echo $this->translate('Comment')?></label>
                            </div>

                            <div class="col-lg-8">
                                <textarea class="form-control" id="journalEntryComment">
                                </textarea>
                            </div>
                        </div>
                    </div><!-- ./form-horizontal -->

                    <div class="table">
                        <div id="journalEntryAddOverlay" class="">
                            <table class="journalEntryTable table  table-striped margin_top_normal table-condensed" id="journalEntryTable">
                                <thead>
                                    <tr>
                                        <th><?php echo $this->translate("GL Account"); ?></th>
                                        <th><?php echo $this->translate("Debit"); ?></th>
                                        <th><?php echo $this->translate("Credit"); ?></th>
                                        <th><?php echo $this->translate("Memo"); ?></th>
                                    </tr>
                                </thead>

                                <tbody id="journal-entry-body">
                                    <tr class="temp_acc hidden">
                                        <td>
                                            <select class="accountID form-control col-lg-4 " id="accountID"></select>
                                        </td>
                                        <td><input type="text" class="debitAmount form-control"></td>
                                        <td><input type="text" class="creditAmount form-control"></td>
                                        <td>
                                            <textarea style="width: 150px;
    height: 40px;" class="memo form-control">
                                            </textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- ./modal-body -->
                <div class="modal-footer">
                    <input type="button" data-dismiss="modal" id='close' name='close' class="btn btn-default fromControl" value="<?php echo $this->translate('Close') ?>">
                    <input type="button" id="savePiWithJournalEntry" class="btn btn-primary fromControl" value="<?php echo $this->translate('Save Invoice With This Journal Entry') ?>">
                </div>
            </div>
        </div>
    </div>
<div class="modal fade" id="addDimensionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->dimensionAddView; ?>
</div>
<div class="modal fade" id="viewAttachmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->attachmentsView; ?>
</div>