<div class="project-edit-container expanded">
    <?php echo $pIEditDetails; ?>
</div>

<div class="modal fade" id="addInvoiceProductsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <?php echo $this->invoiceProducts; ?>
</div>

<input type="hidden" name="editmode" id="editMode" data-piid = <?php echo $this->pIID; ?> value="1" />