<div class="row">
    <div id="piSearch" class="margin_top_normal">
        <?php echo $this->piSearchHeader; ?>
    </div>
</div>
<div class="row">
    <div id="piList" class="margin_top_normal">
        <?php echo $this->piList; ?>
    </div>
</div>

<div class="modal fade" id="addDocHistoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->docHistoryView; ?>
</div>
<div class="modal fade" id="DocumentViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->documentView; ?>
</div>
<div class="modal fade" id="viewAttachmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->attachmentsView; ?>
</div>
