<div class="modal-dialog grn_modal">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate('Add Items') ?></h4>
        </div>

        <div class="modal-body">

            <div id="batchAddScreen" class="hidden">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="font_weight"><?php echo $this->translate("Batch Details"); ?></h5>
                    </div>

                    <div class="panel-body overflow_control">

                        <div class="product_code">
                            <span><?php echo $this->translate("Item Code:"); ?></span>
                            <span id="piProductCodeBatch"></span>
                        </div>

                        <div class="quantity_amount">
                            <span><?php echo $this->translate("Quantity:"); ?></span>
                            <span id="piProductQuantityBatch"></span>
                        </div>

                        <!--table-->
                        <div class="table-responsive">
                            <table class="table table-striped" style="margin-bottom: 45px;">
                                <thead>
                                    <tr>
                                        <th><?php echo $this->translate("Batch Code"); ?></th>
                                        <th><?php echo $this->translate("Qty"); ?></th>
                                        <th><?php echo $this->translate("Man: Date"); ?></th>
                                        <th><?php echo $this->translate("Exp: Date"); ?></th>
                                        <th><?php echo $this->translate("Warranty(Days)"); ?></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="proBatchSample" class="hidden">
                                        <td id="batchNmbr"></td>
                                        <td id="batchQty"></td>
                                        <td id="batchMDate"></td>
                                        <td id="batchEDate"></td>
                                        <td id="batchW"></td>
                                        <td class="text-center"><span class='batchDelete glyphicon glyphicon-trash delete' id=''></span></td>
                                    </tr>
                                </tbody>
                                <tbody id="addNewBatch">
                                    <tr id="proBatchAddNew">
                                        <td>
                                            <input id="newBatchNumber" class="form-control" type="text" value="" autocomplete="off" name="batchCode">
                                        </td>
                                        <td>
                                            <input id="newBatchQty" class="form-control" type="text" value="" autocomplete="off" name="batchQty">
                                        </td>
                                        <td>
                                            <input id="newBatchMDate" class="datepicker form-control" readonly="true" data-date-format="<?php echo $this->dateFormat ?>" placeholder="<?php echo $this->dateFormat ?>" type="text" value="" autocomplete="off" name="newBatchMDate">
                                        </td>
                                        <td>
                                            <input id="newBatchEDate" class="datepicker form-control" readonly="true" data-date-format="<?php echo $this->dateFormat ?>" placeholder="<?php echo $this->dateFormat ?>" type="text" value="" autocomplete="off" name="newBatchEDate">
                                        </td>
                                        <td>
                                            <input id="newBatchWarrenty" class="form-control" type="text" value="" autocomplete="off" name="batchQty">
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-default text-right" id="addBatchItem"><i class="glyphicon glyphicon-plus"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!--table_responsive-->

                    </div><!--panel_body-->
                </div><!--panel_default-->
            </div><!--batch_add_screen-->


            <!--serial_div-->
            <div id="serialAddScreen" class="hidden">

                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h5 class="font_weight"><?php echo $this->translate("Serial Details"); ?></h5>
                    </div>

                    <div class="panel-body overflow_control">

                        <div class="product_code">
                            <span><?php echo $this->translate("Item Code:"); ?></span>
                            <span id="piProductCodeSerial" name="piProductCodeSerial"></span>
                        </div>

                        <div class="quantity_amount">
                            <span><?php echo $this->translate("Quantity:"); ?></span>
                            <span id="piProductQuantitySerial"></span>
                        </div>
                        <?php echo $this->SerialNumberAutoFill; ?>
                        <b><?php echo $this->translate("Or else for manual insert, use this form:"); ?></b>
                        <!--table-->
                        <div class="table-responsive" id="serialAddTablePi">
                            <table class="table table-striped" id="batch_serial_selector_pi" style="margin-bottom: 45px;">
                                <thead>
                                    <tr>
                                        <th><?php echo $this->translate("Serial Number"); ?></th>
                                        <th><?php echo $this->translate("Warranty Type"); ?></th>
                                        <th><?php echo $this->translate("Warranty Period"); ?></th>
                                        <th id="bCodeT"><?php echo $this->translate("Batch Code"); ?></th>
                                        <th><?php echo $this->translate("Exp: Date"); ?></th>
                                    </tr>
                                </thead>
                                <tbody id="addNewSerial">
                                    <tr id="serialSample" class="sProducts">
                                        <td>
                                            <input id="newSerialNumber" class="form-control" type="text" value="" autocomplete="off" name="serialCode">
                                        </td>
                                        <td>
                                          <select class="form-control " name="wrntyType" id="newSerialWarrantyType" name="serialWarrontyType">
                                             <option value="1"><?php echo $this->translate('Days') ?></option>
                                             <option value="2"><?php echo $this->translate("Weeks") ?></option>
                                             <option value="3"><?php echo $this->translate('Months') ?></option>
                                             <option value="4"><?php echo $this->translate('Years') ?></option>
                                           </select>
                                       </td>
                                        <td>
                                            <input id="newSerialWarranty" class="form-control" type="text" value="" autocomplete="off" name="serialWarronty">
                                        </td>
                                        <td id="bCode">
                                            <input id="newSerialBatch" class="form-control" type="text" value="" autocomplete="off" name="batchCode">
                                        </td>
                                        <td>
                                            <input id="newSerialEDate" class="serialEDate form-control datepicker" data-date-format="<?php echo $this->dateFormat ?>" placeholder="<?php echo $this->dateFormat ?>" type="text" value="" autocomplete="off" name="serialEDate">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!--table_responsive-->
                    </div><!--panel_body-->
                </div><!--panel_default-->
            </div><!--serial_div-->

        </div><!--moday_body-->

        <div class="modal-footer">
            <button type="button" id="savePiProducts" class="btn btn-primary"><?php echo $this->translate('Add Items') ?></button>
            <button type="button" id="addPiProductsClose" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
        </div>

    </div><!--modal_content-->
</div><!--modal_dialog-->