<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('PI No') ?></th>
                <th><?php echo $this->translate('Supplier Name') ?></th>
                <th><?php echo $this->translate('Supplier Reference') ?></th>
                <th class="text-center"><?php echo $this->translate('Status') ?></th>
                <th><?php echo $this->translate('Location') ?></th>
                <th><?php echo $this->translate('Issue Date') ?></th>
                <th><?php echo $this->translate('Due Date') ?></th>
                <th class="text-right"><?php echo $this->translate('Total') ?></th>
                <th class="text-center"><?php echo $this->translate('View') ?></th>
                <th class="text-center"><?php echo $this->translate('Print View') ?></th>
                <th class="text-center"><?php echo $this->translate('Edit') ?></th>
                <th class="text-center"><?php echo $this->translate('Delete') ?></th>
                <th class="text-center"><?php echo $this->translate('Related Documents') ?></th>
                <th class="text-center"><?php echo $this->translate('Attachments') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->piList as $key => $piL) {
                $pi = (object) $piL;
                $state = ucfirst($this->statuses[$pi->status]);
                $style = NULL;
                switch ($pi->status) {
                    case "1":
                        $style = "label label-primary";
                        break;
                    case "2":
                        $style = "label label-default";
                        break;
                    case "3":
                        $style = "label label-success";
                        break;
                    case "4":
                        $style = "label label-warning";
                        break;
                    case "5":
                        $style = "label label-primary";
                        break;
                    case "6":
                        $state = 'Open';
                        $style = "label label-danger";
                        break;
                    default :
                        $style = "label label-default";
                }
                ?>
                <?php
                    $piEditFlag = true;
                    if ($pi->purchaseInvoiceComment === "Created By Supplier Opening Balance") {
                        $piEditFlag = false;
                    } else {
                        $piEditFlag = true;
                    }
                ?>
                <tr>
                    <td> <?php echo $pi->purchaseInvoiceCode; ?></td>
                    <td> <?php echo $pi->supplierTitle . ' ' . $pi->supplierName; ?></td>
                    <td> <?php echo $pi->purchaseInvoiceSupplierReference; ?></td>
                    <td class="text-center"><span class="<?php echo $style; ?>"> <?php echo $state; ?></span></td>
                    <td> <?php echo $pi->locationName; ?></td>
                    <td><?php echo $this->userDateFormatHelper($pi->purchaseInvoiceIssueDate, $this->dateFormat); ?></td>
                    <td><?php echo $this->userDateFormatHelper($pi->purchaseInvoicePaymentDueDate, $this->dateFormat); ?></td>
                    <td class="text-right"><?php echo number_format($pi->purchaseInvoiceTotal, 2); ?></td>
                    <td class="text-center">
                        <a href="<?php echo $this->url('purchaseInvoice', array('action' => 'view', 'param1' => $pi->purchaseInvoiceID)); ?>"><span class="piView fa fa-search-plus "></span></a>
                    </td>
                    <td class="text-center">
                        <span class="printViewPi link_color" style="cursor:pointer" data-href="<?php echo $this->url('purchaseInvoice', array('action' => 'preview', 'param1' => $pi->purchaseInvoiceID)); ?>"><span class="grnView glyphicon glyphicon-eye-open"></span></span>
                    </td>
                    <?php
                    if($pi->status == '5' || $pi->status == '4' || $piEditFlag == false){
                        ?>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <?php
                    } else {
                        ?>
                        <td class="text-center">
                        <a href="<?php echo $this->url('purchaseInvoice', array('action' => 'edit', 'param1' => $pi->purchaseInvoiceID)); ?>"><span class="pIEdit glyphicon glyphicon-edit"></span>

                        </td>
                        <td class="text-center">
                            <span class="deletePi link_color" data-id="<?php echo $pi->purchaseInvoiceID;?>" style="cursor:pointer"><span class="pIDelete glyphicon glyphicon-trash"></span></span>
                        </td>

                        <?php
                    }
                    ?>
                        <td class="text-center">
                            <span id="<?php echo $pi->purchaseInvoiceID; ?>" class="link_color pi_related_docs" data-pi-related-id="<?php echo $pi->purchaseInvoiceID; ?>" style="cursor:pointer"><span class="grnView glyphicon glyphicon-link"></span></span>
                        </td>
                        <td class="text-center">
                            <span id="<?php echo $pi->purchaseInvoiceID; ?>" class="link_color doc_attachments" data-pi-related-id="<?php echo $pi->purchaseInvoiceID; ?>" style="cursor:pointer"><span class="glyphicon glyphicon-paperclip"></span></span>
                        </td>

                </tr>
                <?php
            }
            if (count($this->piList) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div>

<?php
if (!isset($this->paginated)) {
    echo $this->paginationControl(
            $this->piList, 'sliding', array('partial/paginator.phtml', 'purchaseInvoice'), array(
        'route' => 'purchaseInvoice', 'action' => 'list'
            )
    );
}
?>