<div class="well clearfix well_custom_padding margin_top">
    <div class="col-lg-2 col-md-2">
        <label class="remove_weight"><?php echo $this->translate('Search PI') ?></label>
    </div>
    <div class="col-lg-4 col-md-3">
        <select id="pvSearchSelector" class="selectpicker form-control col-lg-3 show-tick">
            <option value="searchBySupplier"><?php echo $this->translate('By Supplier') ?></option>
            <option value="searchByPV"><?php echo $this->translate('By PI') ?></option>
        </select>
    </div>
    <div class="col-lg-4 col-md-5">
        <select id="pvSearchBySupplier" class=" form-control col-lg-3 selectpicker" title="" data-live-search="true">
            <option value=""><?php echo $this->translate('Select Supplier') ?></option>
        </select>
        <select id="pvSearchByPV" class=" form-control col-lg-3 selectpicker" title="" data-live-search="true">
            <option value=""><?php echo $this->translate('Select PI') ?></option>
        </select>
    </div>
    <div class="col-lg-2 col-md-2">
        <button type="button" class="btn btn-default btn-block" id="pvSearchClear"><?php echo $this->translate("All PIs"); ?></button>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <br>
            <label class="remove_weight margin_bottom_normal_low"><?php echo $this->translate('Search PI by Serial Code') ?></label>
        </div>
        <div class="col-lg-9">
            <br>
            <div class=" input-group">
                <input type ="text" id ='piSerialCodeSearch' class="form-control" placeholder="<?php echo $this->translate('Search PI by Serial Code') ?>"/>
                <span class="input-group-btn">
                    <button class="btn btn-default minus_margin" id="searchPIBySerialCode"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default" id ="resetPISerchBySerialCode"><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </div>
</div>

