<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <table style="width: 100%; font-size: 8pt;">
                <tr>
                    <td> <strong></strong></td>
                    <td><strong></strong></td>
                </tr>
                <tr>
                    <td><h2><?php echo $this->translate('Customer Balances Report') ?></h2></td>
                </tr>

                <tr>
                    <?php $date = date('Y-m-d h:i:s a'); ?>
                    <td><?php echo $this->translate('Report Generated ') ?>: <?php echo $date; ?></td>
                    <td><strong></strong></td>
                </tr>

                <tr>
                    <td><?php echo $this->translate('Address ') ?>: <?php echo $company_data[0]->companyName ?>,<?php echo $company_data[0]->companyAddress ?></td>
                    <td> <strong></strong></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate('Period ') ?>: <?php echo $from_date ?><b>&nbsp;-&nbsp;</b><?php echo $to_date ?></td>
                    <td> <strong></strong></td>
                </tr>
            </table>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>

            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Type') ?></th>
                        <th><?php echo $this->translate('Amount') ?></th>
                        <th><?php echo $this->translate('Credit / Payment') ?></th>
                        <th><?php echo $this->translate('Settled') ?></th>
                        <th><?php echo $this->translate('Outstanding') ?></th>
                    </tr>
                    <?php
                    if ($array_inv[0] == 'nodata' && $array_crd[0] == 'nodata') {
                        $amount = $balanceData[0];
                        $amount = $amount ? $amount : 0.00;
                        $crdOrPay = $balanceData[2];
                        $crdOrPayTotal = $crdOrPay;
                        $crdOrPayTotal = $crdOrPayTotal ? $crdOrPayTotal : 0.00;
                        $setled = $balanceData[1] + $balanceData[3];
                        $setledTotal = $setled;
                        $setledTotal = $setledTotal ? $setledTotal : 0.00;
                        $outstandingInv = $balanceData[0] - $balanceData[1];
                        $outstandingCrdnt = $balanceData[2] - $balanceData[3];

                        $outstandingtotal = $outstandingInv - $outstandingCrdnt;
                        $outstandingTotal = $outstandingtotal;
                        $outstandingTotal = $outstandingTotal ? $outstandingTotal : 0.00;
                        ?>
                        <tr class="even_row">
                            <td colspan="5"><?php echo $Cus_name ?></td>
                        </tr>
                        <tr class="even_row">
                            <td><?php echo $this->translate('Total For Period') ?></td>
                            <td style="text-align: center"><?php echo number_format($amount, 2); ?></td>
                            <td style="text-align: center"><?php echo number_format($crdOrPayTotal, 2); ?></td>
                            <td style="text-align: center"><?php echo number_format($setledTotal, 2); ?></td>
                            <td style="text-align: right"><?php echo number_format($outstandingTotal, 2); ?></td>
                        </tr>
                        <?php
                    } else {
                        ?>

                        <?php
                        $cusName_inv;
                        $cusName_crd;
                        $amount_inv;
                        $amount_crd;
                        $setled_inv;
                        $setled_crd;
                        for ($index = 0; $index < count($customersList); $index++) {
                            if ($array_inv[$customersList[$index]][0] != null && $array_crd[$customersList[$index]][0] == null) {
                                $cusName_crd = '';
                                $amount_crd = 0.00;
                                $setled_crd = 0.00;
                                $cusName_inv = $array_inv[$customersList[$index]][0]['CusName'];
                                $amount_inv = $array_inv[$customersList[$index]][0]['totAmountInv'];
                                $amount_inv = $amount_inv ? $amount_inv : 0.00;
                                $setled_inv = $array_inv[$customersList[$index]][0]['totSetledInv'];
                                $setled_inv = $setled_inv ? $setled_inv : 0.00;
                            } else if ($array_inv[$customersList[$index]][0] == null && $array_crd[$customersList[$index]][0] != null) {
                                $cusName_crd = $array_crd[$customersList[$index]][0]['CusName'];
                                $amount_crd = $array_crd[$customersList[$index]][0]['crdOrPayAmount'];
                                $amount_crd = $amount_crd ? $amount_crd : 0.00;
                                $setled_crd = $array_crd[$customersList[$index]][0]['setledCrdt'];
                                $setled_crd = $setled_crd ? $setled_crd : 0.00;
                                $cusName_inv = '';
                                $amount_inv = 0.00;
                                $setled_inv = 0.00;
                            } else if ($array_inv[$customersList[$index]][0] == null && $array_crd[$customersList[$index]][0] == null) {
                                $cusName_inv = '';
                                $amount_inv = 0.00;
                                $setled_inv = 0.00;
                                $cusName_crd = '';
                                $amount_crd = 0.00;
                                $setled_crd = 0.00;
                            } else if ($array_inv[$customersList[$index]][0] != null && $array_crd[$customersList[$index]][0] != null) {
                                $cusName_inv = $array_inv[$customersList[$index]][0]['CusName'];
                                $amount_inv = $array_inv[$customersList[$index]][0]['totAmountInv'];
                                $amount_inv = $amount_inv ? $amount_inv : 0.00;
                                $setled_inv = $array_inv[$customersList[$index]][0]['totSetledInv'];
                                $setled_inv = $setled_inv ? $setled_inv : 0.00;
                                $cusName_crd = $array_crd[$customersList[$index]][0]['CusName'];
                                $amount_crd = $array_crd[$customersList[$index]][0]['crdOrPayAmount'];
                                $amount_crd = $amount_crd ? $amount_crd : 0.00;
                                $setled_crd = $array_crd[$customersList[$index]][0]['setledCrdt'];
                                $setled_crd = $setled_crd ? $setled_crd : 0.00;
                            }
                            if ($cusName_inv != '' || $cusName_crd != '') {

                                $amount_tot = $amount_inv;
                                $amount_tot = $amount_tot ? $amount_tot : 0.00;
                                $crdOrPay_tot = $amount_crd;
                                $crdOrPayTotal = $crdOrPay_tot;
                                $crdOrPayTotal = $crdOrPayTotal ? $crdOrPayTotal : 0.00;
                                $setled_tot = $setled_inv + $setled_crd;
                                $setledTotal = $setled_tot;
                                $setledTotal = $setledTotal ? $setledTotal : 0.00;
                                $outstandingInv = ($amount_inv) - ($setled_inv);
                                $outstandingCrdnt = ($amount_crd) - ($setled_crd);

                                $outstandingtotal = $outstandingInv - $outstandingCrdnt;
                                $outstandingTotal = $outstandingtotal;
                                $outstandingTotal = $outstandingTotal ? $outstandingTotal : 0.00;
                                $type = 'Total For Period';

                                $cusName;
                                if ($cusName_inv != '' && $cusName_crd == '') {
                                    $cusName = $cusName_inv;
                                } else if ($cusName_inv == '' && $cusName_crd != '') {
                                    $cusName = $cusName_crd;
                                } else {
                                    $cusName = $cusName_crd;
                                }
                            }
                            ?>
                            <tr class="even_row">
                                <td colspan="5"><?php echo $cusName; ?></td>
                            </tr>
                            <tr class="even_row">
                                <td><?php echo $this->translate('Total For Period') ?></td>
                                <td style="text-align: center"><?php echo number_format($amount_tot, 2); ?></td>
                                <td style="text-align: center"><?php echo number_format($crdOrPayTotal, 2); ?></td>
                                <td style="text-align: center"><?php echo number_format($setledTotal, 2); ?></td>
                                <td style="text-align: center"><?php echo number_format($outstandingTotal, 2); ?></td>
                            </tr>
                            <?php
                        }
                    }
                    ?>
                </tbody>

            </table>
        </div>

    </div>
</div>



