<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">
                <tbody>
                <tr>
                    <th style="width: 15%"><?php echo $this->translate("Customer Name"); ?></th>
                    <th style="width: 15%"><?php echo $this->translate("Customer Code"); ?></th>
                    <th style="width: 15%"><?php echo $this->translate("Transaction Type"); ?></th>
                    <th style="width: 5%"><?php echo $this->translate("Transaction Code"); ?></th>
                    <th style="width: 10%"><?php echo $this->translate("Created Date"); ?></th>
                    <th style="width: 5%"><?php echo $this->translate("Status"); ?></th>
                    <th style="width: 10%"><?php echo $this->translate("Parent Doc"); ?></th>
                    <th style="width: 15%"><?php echo $this->translate("Amount"); ?></th>
                    <th style="width: 25%"><?php echo $this->translate("Customer Outstanding"); ?></th>
                    <th style="width: 25%"><?php echo $this->translate("Customer Credit"); ?></th>
                </tr>


                <?php
                    if (count($cusTransactionData) == 0) {
                    ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="8"><?php echo $this->translate("No related data found"); ?></td>
                        </tr>

                        <?php
                    } else {

                        foreach ($cusTransactionData as $cusKey => $cusData) {

                            $tempCusOutstanding = $cusData['customerOpeningOutstanding'];
                            $tempCusCredit = $cusData['customerOpeningCredit'];
                        ?>
                        <tr class="even_row">
                            <td><?php echo $cusData['customerName'];?></td>
                            <td><?php echo $cusData['customerCode'];?></td>
                            <td colspan="5"></td>
                            <td style="text-align: left;font-weight:bold;"><?php echo $this->translate("Opening Balance"); ?></td>
                            <td style="text-align: right;font-weight:bold;"><?php echo number_format($cusData['customerOpeningOutstanding'], 2);?></td>
                            <td style="text-align: right;font-weight:bold;"><?php echo number_format($cusData['customerOpeningCredit'], 2);?></td>
                        </tr>

                        <?php

                            foreach ($cusData['customerTransactions'] as $key => $cusTran) {
                        ?>
                                <tr class="even_row">
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: center"><?php echo $cusTran['docType'];?></td>
                                    <td style="text-align: center"><?php echo $cusTran['code'];?></td>
                                    <td style="text-align: center"><?php echo explode(" ", $cusTran['issueDate'])[0];?></td>
                                    <td style="text-align: center"><?php echo $cusTran['status'];?></td>
                                    <?php
                                        $parentDocString = "";

                                        if($cusTran['docType'] == 'Sales Invoice'){

                                            if($cusTran['quotationCode'] != null){
                                                $parentDocString = 'QT / '.implode(' , ',$cusTran['parentDoc']);
                                            } else if($cusTran['deliveryNoteCode'] != null){
                                                $parentDocString = 'DN / '.implode(' , ',array_unique($cusTran['parentDoc']));
                                            } else if($cusTran['soCode'] != null){
                                                $parentDocString = 'SO / '.implode(' , ',$cusTran['parentDoc']);
                                            } else if($cusTran['activityCode'] != null){
                                                $parentDocString = 'ACT / '.implode(' , ',$cusTran['parentDoc']);
                                            } else if($cusTran['jobReferenceNumber'] != null){
                                                $parentDocString = 'JOB / '.implode(' , ',$cusTran['parentDoc']);
                                            } else if($cusTran['projectCode'] != null){
                                                $parentDocString = 'PROJ / '.implode(' , ',$cusTran['parentDoc']);
                                            }


                                        } else if($cusTran['docType'] == 'Income'){
                                            $parentDocString = 'INC / '.implode(' , ', $cusTran['parentDoc']);
                                        } else if($cusTran['docType'] == 'Payment'){
                                            $parentDocString = 'INV / '.implode(' , ', $cusTran['parentDoc']);
                                        } else if($cusTran['docType'] == 'incomePayment'){
                                            $parentDocString = 'INC / '.implode(' , ', $cusTran['parentDoc']);
                                        } else if($cusTran['docType'] == 'Credit Note'){
                                            $parentDocString = 'INV / '.implode(' , ', $cusTran['parentDoc']);
                                        } else if($cusTran['docType'] == 'Direct Credit Note'){
                                            $parentDocString = $cusTran['parentDoc'];
                                        } else if($cusTran['docType'] == 'Credit Note Payment'){
                                            $parentDocString = 'CR / '.implode(' , ', $cusTran['parentDoc']);
                                        }

                                    ?>
                                    <td style="text-align: center;word-break:break-word"><?php echo $parentDocString;?></td>

                                    <?php
                                        if($cusTran['docType'] == 'Sales Invoice'){
                                            $docAmount = $cusTran['amount'];
                                            $tempCusOutstanding += $cusTran['amount'];
                                        } else if($cusTran['docType'] == 'Payment'){
                                            $tempCusCredit += $cusTran['balance'];
                                            $tempCusCredit -= $cusTran['creditAmount'];
                                            if ($cusTran['paidAmount'] != 0) {
                                                if ($tempCusOutstanding >= $cusTran['amount']) {
                                                    $tempCusOutstanding -= $cusTran['amount'];
                                                } else {
                                                    $creditDiffForInvPayment = $cusTran['amount'] - $tempCusOutstanding;
                                                    $tempCusOutstanding = 0;
                                                    $tempCusCredit += $creditDiffForInvPayment;
                                                }
                                            } else {
                                                $tempCusOutstanding -= $cusTran['amount'];
                                            }

                                            if ($cusTran['creditAmount'] != 0) {
                                                $docAmount = $cusTran['paidAmount'] + $cusTran['creditAmount'];
                                                $docAmount = $docAmount*-1;
                                            } else {
                                                $docAmount = $cusTran['paidAmount'];
                                            }
                                        } else if($cusTran['docType'] == 'Advance Payment'){
                                            $docAmount = $cusTran['amount'];
                                            $tempCusCredit += $cusTran['amount'];
                                        }else if($cusTran['docType'] == 'Income'){
                                            $docAmount = $cusTran['amount'];
                                            $tempCusOutstanding += $cusTran['amount'];
                                        }else if($cusTran['docType'] == 'incomePayment'){
                                            $tempCusCredit += $cusTran['balance'];
                                            $tempCusCredit -= $cusTran['creditAmount'];
                                            if ($cusTran['paidAmount'] != 0) {
                                                if ($tempCusOutstanding >= $cusTran['amount']) {
                                                    $tempCusOutstanding -= $cusTran['amount'];
                                                } else {
                                                    $creditDiffForInvPayment = $cusTran['amount'] - $tempCusOutstanding;
                                                    $tempCusOutstanding = 0;
                                                    $tempCusCredit += $creditDiffForInvPayment;
                                                }
                                            } else {
                                                $tempCusOutstanding -= $cusTran['amount'];
                                            }

                                            if ($cusTran['creditAmount'] != 0) {
                                                $docAmount = $cusTran['paidAmount'] + $cusTran['creditAmount'];
                                                $docAmount = $docAmount*-1;
                                            } else {
                                                $docAmount = $cusTran['paidAmount'];
                                            }
                                        } else if($cusTran['docType'] == 'Credit Note'){
                                            $docAmount = $cusTran['amount'];
                                             if ($cusTran['invoiceBalanceAmount'] >= $cusTran['amount']) {
                                                if ($tempCusOutstanding >= $cusTran['amount']) {
                                                    $tempCusOutstanding -= $cusTran['amount'];
                                                } else {
                                                    $creditDiffForCreditNote = $cusTran['amount'] - $tempCusOutstanding;
                                                    $tempCusOutstanding = 0;
                                                    $tempCusCredit += $creditDiffForCreditNote;
                                                }
                                            } else {
                                                $tempCusOutstanding -= $cusTran['invoiceBalanceAmount'];
                                                $creditDiffForCreditNote = $cusTran['amount'] - $cusTran['invoiceBalanceAmount'];
                                                $tempCusCredit += $creditDiffForCreditNote; 
                                            }
                                        } else if($cusTran['docType'] == 'Linked Direct Credit Note'){
                                            $docAmount = $cusTran['amount'];
                                             if ($cusTran['invoiceBalanceAmount'] >= $cusTran['amount']) {
                                                if ($tempCusOutstanding >= $cusTran['amount']) {
                                                    $tempCusOutstanding -= $cusTran['amount'];
                                                } else {
                                                    $creditDiffForCreditNote = $cusTran['amount'] - $tempCusOutstanding;
                                                    $tempCusOutstanding = 0;
                                                    $tempCusCredit += $creditDiffForCreditNote;
                                                }
                                            } else {
                                                $tempCusOutstanding -= $cusTran['invoiceBalanceAmount'];
                                                $creditDiffForCreditNote = $cusTran['amount'] - $cusTran['invoiceBalanceAmount'];
                                                $tempCusCredit += $creditDiffForCreditNote; 
                                            }
                                        } else if($cusTran['docType'] == 'Direct Credit Note'){
                                            $docAmount = $cusTran['amount'];
                                            $tempCusCredit += $cusTran['amount'];
                                        } else if($cusTran['docType'] == 'Credit Note Payment'){
                                            $docAmount = $cusTran['amount'];
                                            if ($tempCusCredit >= $cusTran['amount']) {
                                                $tempCusCredit -= $cusTran['amount'];
                                            } else {
                                                $tempCusCredit = 0;
                                            }
                                        }

                                    ?>

                                    <?php if($docAmount < 0){ ?>
                                        <td style="text-align: right">
                                        *(<?php echo number_format(abs($docAmount), 2);?>)</td>
                                    <?php } else { ?>
                                        <td style="text-align: right"><?php echo number_format($docAmount, 2);?></td>
                                    <?php } ?>

                                    
                                    <td style="text-align: right"><?php echo number_format($tempCusOutstanding, 2);?></td>
                                    <td style="text-align: right"><?php echo number_format($tempCusCredit, 2);?></td>
                                </tr>


                            <?php
                                }
                            ?>

                             <tr>
                                <td colspan="7"></td>
                                <td style="text-align: left"><?php echo $this->translate('Cumulative Total')?></td>
                                <?php

                                    $grandOutstandingTotal += $tempCusOutstanding;
                                    $grandCreditTotal += $tempCusCredit;

                                ?>
                               
                                <td style="text-align: right"><?php echo number_format($tempCusOutstanding, 2);?></td>
                                <td style="text-align: right"><?php echo number_format($tempCusCredit, 2);?></td>
                            </tr>
                            <tr>
                                <td colspan="7"></td>
                            </tr>


                            <?php

                        }
                    }
                    ?>

                    <tr>
                        <td colspan="7"></td><td style="text-align: center;font-weight:bold;"><?php echo $this->translate('Grand Total')?></td>

                        <td style="text-align: right;font-weight:bold;"><?php echo number_format($grandOutstandingTotal, 2);?></td>
                        <td style="text-align: right;font-weight:bold;"><?php echo number_format($grandCreditTotal, 2);?></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7">* <?php echo $this->translate("include credit payments"); ?></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>



