<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>

            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Customer Name') ?></th>
                        <th><?php echo $this->translate('Customer Code') ?></th>
                        <?php 
                        if($cusCategory){
                        ?>
                            <th><?php echo $this->translate('Customer Category') ?></th>
                        <?php
                        }
                        ?>
                        <th><?php echo $this->translate('Item Parent Category Name') ?></th>
                        <th><?php echo $this->translate('Item Category Name') ?></th>
                        <th><?php echo $this->translate('Item Code') ?></th>
                   		<th><?php echo $this->translate('Item Name') ?></th>
                        <th><?php echo $this->translate('Item Quantity') ?></th>
                        <th><?php echo $this->translate('Item Total') ?></th>
                    </tr>
                    <?php
                    if (count($cSD) > 0) {
                    	$totalQty = 0;
                    	$totalAmt = 0;
                    	foreach ($cSD as $c) {
                            ?>
                            <tr class="even_row">
                                <td style="text-align: top"><?php echo $c['customerName']; ?></td>
                                <td style="text-align: top"><?php echo $c['customerCode']; ?></td>
                                <?php 
                                if($cusCategory){
                                ?>
                                    <td style="text-align: top"><?php echo $c['customerCategory']; ?></td>
                                <?php
                                }
                                ?>
                                <td style="text-align: top"></td>
                                <td style="text-align: top"></td>
                                <td style="text-align: top"></td>
                                <td style="text-align: top"></td>
                                <td style="text-align: top"></td>
                                <td style="text-align: top"></td>
                            </tr>

                            <?php foreach ($c['categorys'] as $cat) {?>
                            	<tr class="even_row">
                                    <td style="text-align: top"></td>
                            		<td style="text-align: top"></td>
                                    <?php 
                                    if($cusCategory){
                                    ?>
                                        <td style="text-align: top"></td>
                                    <?php
                                    }
                                    ?>
                                    <td style="text-align: left"><?php echo $cat['parentCategoryName']; ?></td>
                                	<td style="text-align: left"><?php echo $cat['categoryName']; ?></td>
                                	<td style="text-align: top"></td>
                                	<td style="text-align: top"></td>
                                	<td style="text-align: top"></td>
                                	<td style="text-align: top"></td>
                                </tr>
                                <?php 
                                $catWiseToatolQty = 0;
                                $catWiseToatolAmt = 0;
                                foreach ($cat['products'] as $pro) {
                                	$catWiseToatolQty += $pro['productQuantity'];
                                	$totalQty += $pro['productQuantity'];
                                	$catWiseToatolAmt += $pro['productTotal'];
                                	$totalAmt += $pro['productTotal'];
                                ?>
                               		<tr class="even_row">
                               			<td style="text-align: top"></td>
                                        <td style="text-align: top"></td>
                                        <td style="text-align: top"></td>
                               			<td style="text-align: top"></td>
                                        <?php 
                                        if($cusCategory){
                                        ?>
                                            <td style="text-align: top"></td>
                                        <?php
                                        }
                                        ?>
                                		<td style="text-align: left"> <?php echo $pro['productCode']; ?></td>
                                		<td style="text-align: left"> <?php echo $pro['productName']; ?></td>
                                		<td style="text-align: left"> <?php echo $pro['productQuantity']; ?></td>
                                		<td style="text-align: left"> <?php echo $pro['productTotal']; ?></td>
                                	</tr>
                                <?php }?>
                                <tr class="odd_row">
                                	<td style="text-align: top"></td>
                                	<td style="text-align: left"></td>
                                    <?php 
                                    if($cusCategory){
                                    ?>
                                        <td style="text-align: top"></td>
                                    <?php
                                    }
                                    ?>
                                	<td style="text-align: top"></td>
                                    <td style="text-align: top"></td>
                                    <td style="text-align: top"></td>
                                	<td style="text-align: top"></td>
                                	<td style="text-align: top"><b><?php echo $this->translate('Category Wise Total Quantity'); ?></b></td>
                                	<td style="text-align: top"><b><?php echo $this->translate('Category Wise Total Amount'); ?></b></td>
                                </tr>
                                <tr class="odd_row">
                                	<td style="text-align: top"></td>
                                	<td style="text-align: left"></td>
                                	<?php 
                                    if($cusCategory){
                                    ?>
                                        <td style="text-align: top"></td>
                                    <?php
                                    }
                                    ?>
                                    <td style="text-align: top"></td>
                                    <td style="text-align: top"></td>
                                    <td style="text-align: top"></td>
                                	<td style="text-align: top"></td>
                                	<td style="text-align: top"><?php echo $catWiseToatolQty; ?></td>
                                	<td style="text-align: top"><?php echo $catWiseToatolAmt; ?></td>
                                </tr>			
                            <?php }		
                        }
                        ?>
                        <tr class="odd_row"></tr>
                        <tr class="odd_row">
                        	<td style="text-align: top"></td>
                        	<td style="text-align: left"></td>
                            <?php 
                            if($cusCategory){
                            ?>
                                <td style="text-align: top"></td>
                            <?php
                            }
                            ?>
                        	<td style="text-align: top"></td>
                            <td style="text-align: top"></td>
                            <td style="text-align: top"></td>
                        	<td style="text-align: top"></td>
                        	<td style="text-align: top"><b><?php echo $this->translate('Total Quantity'); ?></b></td>
                        	<td style="text-align: top"><b><?php echo $this->translate('Total Amount'); ?></b></td>
                        </tr>
                        <tr class="odd_row">
                        	<td style="text-align: top"></td>
                        	<td style="text-align: left"></td>
                            <?php 
                            if($cusCategory){
                            ?>
                                <td style="text-align: top"></td>
                            <?php
                            }
                            ?>
                        	<td style="text-align: top"></td>
                            <td style="text-align: top"></td>
                            <td style="text-align: top"></td>
                        	<td style="text-align: top"></td>
                        	<td style="text-align: top"><?php echo $totalQty; ?></td>
                        	<td style="text-align: top"><?php echo $totalAmt; ?></td>
                        </tr>	
                        <?php
                    } else {
                        ?>
                        <tr class="even_row">
                            <td colspan="8"><?php echo $this->translate('No Related Data') ?></td>
                        </tr>
                    </tbody>
                <?php } ?>
            </table>
        </div>

    </div>
</div>



