<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>
<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>

            </table>

            <table class="change_order_items">
                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Ref. NO') ?></th>
                        <th><?php echo $this->translate('Customer Name') ?></th>
                        <th><?php echo $this->translate('Customer Code') ?></th>
                        <?php 
                        if($salesPersonFlag){
                        ?>
                            <th><?php echo $this->translate('Sales Person') ?></th>    
                        <?php } ?>
                        <th><?php echo $this->translate('Invoice Date') ?></th>
                        <th><?php echo $this->translate('Total Invoice Amount') ?></th>
                        
                        <?php 
                        if($advanceDetailsFlag){
                            ?>
                            <th><?php echo $this->translate('0 - 1 Days') ?></th>
                            <th><?php echo $this->translate('1 - 30 Days') ?></th>
                            <th><?php echo $this->translate('31 - 60 Days') ?></th>
                            <th><?php echo $this->translate('61 - 90 Days') ?></th>
                            <th><?php echo $this->translate('91 - 180 Days') ?></th>
                            <th><?php echo $this->translate('181 - 270 Days') ?></th>
                            <th><?php echo $this->translate('271 - 365 Days') ?></th>
                            <th><?php echo $this->translate('> 365 Days') ?></th>
                        <?php
                        } else {
                        ?>
                            <th><?php echo $this->translate('WIthIn 7 Days') ?></th>
                            <th><?php echo $this->translate('WIthIn 14 Days') ?></th>
                            <th><?php echo $this->translate('WIthIn 30 Days') ?></th>
                            <th><?php echo $this->translate('Over 30 Days') ?></th>
                        
                        <?php
                        }
                        ?>
                    </tr>
                    <?php
                    $currentTotal = 0.00;
                    $withIn7Total = 0.00;
                    $withIn14Total = 0.00;
                    $withIn30Total = 0.00;
                    $over30Total = 0.00;
                    $withIn60Total = 0.00;
                    $withIn90Total = 0.00;
                    $withIn180Total = 0.00;
                    $withIn270Total = 0.00;
                    $withIn365Total = 0.00;
                    $over365Total = 0.00;
                    $invTotal = 0.00;
                    foreach ($aAD as $key => $dataSet) {
                        $customerWiseTotal = 0.00;
                        $customerWiseCurrentTotal = 0.00;
                        $customerWiseWithIn7Total = 0.00;
                        $customerWiseWithIn14Total = 0.00;
                        $customerWiseWithIn30Total = 0.00;
                        $customerWiseOver30Total = 0.00;
                        $customerWiseWithIn60Total = 0.00;
                        $customerWiseWithIn90Total = 0.00;
                        $customerWiseWithIn180Total = 0.00;
                        $customerWiseWithIn270Total = 0.00;
                        $customerWiseWithIn365Total = 0.00;
                        $customerWiseOver365Total = 0.00;
                        foreach ($dataSet as $data) {
                            if (!empty($data)) {
                                ?>
                                <?php
                            
                                foreach ($data as $a) {
                                    
                                        
                                    if($advanceDetailsFlag){
                                    
                                        $netTotal = $a['Current'] + $a['WithIn30Days'] + $a['WithIn60Days'] + $a['WithIn90Days'] + $a['WithIn180Days'] + $a['WithIn270Days'] + $a['WithIn365Days'] + $a['Over365'];
                                        $currentTotal += $a['Current'];
                                        $withIn60Total += $a['WithIn60Days'];
                                        $withIn90Total += $a['WithIn90Days'];
                                        $withIn180Total += $a['WithIn180Days'];
                                        $withIn270Total += $a['WithIn270Days'];
                                        $withIn365Total += $a['WithIn365Days'];
                                        $over365Total += $a['Over365'];
                                        
                                        $customerWiseCurrentTotal += $a['Current'];
                                        $customerWiseWithIn60Total += $a['WithIn60Days'];
                                        $customerWiseWithIn90Total += $a['WithIn90Days'];
                                        $customerWiseWithIn180Total += $a['WithIn180Days'];
                                        $customerWiseWithIn270Total += $a['WithIn270Days'];
                                        $customerWiseWithIn365Total += $a['WithIn365Days'];
                                        $customerWiseOver365Total += $a['Over365'];

                                    } else {
                                        $netTotal = $a['WithIn7Days'] + $a['WithIn14Days'] + $a['WithIn30Days'] + $a['Over30'];
                                        $withIn7Total += $a['WithIn7Days'];
                                        $withIn14Total += $a['WithIn14Days'];
                                        $over30Total += $a['Over30'];
                                        
                                        $customerWiseWithIn7Total += $a['WithIn7Days'];
                                        $customerWiseWithIn14Total += $a['WithIn14Days'];
                                        $customerWiseOver30Total += $a['Over30'];
                                        
                                    
                                    }
                                    $withIn30Total += $a['WithIn30Days'];
                                    $invTotal += $netTotal;
                                    
                                    $customerWiseTotal += $netTotal;
                                    $customerWiseWithIn30Total += $a['WithIn30Days'];
                                    
                                    if ($netTotal > 1) {
                                        ?>
                                        <tr class="even_row">
                                            <td><?php echo $a['salesInvoiceCode'] ?></td>
                                            <td><?php echo $a['customerTitle'] . ' ' . $a['customerName']?></td>
                                            <td><?php echo $a['customerCode'] ?></td>
                                            <?php
                                            if($salesPersonFlag){
                                            ?>
                                                <td style="text-align: left"><?php echo (is_null($a['salesPersonSortName'])) ? "Other" : $a['salesPersonSortName']; ?></td>    
                                            <?php } 
                                            ?>
                                            <td style="text-align: left"><?php echo $a['salesInvoiceIssuedDate']; ?></td>
                                            <td style="text-align: right"><?php echo number_format($netTotal, 2); ?></td>
                                            <?php
                                            if($advanceDetailsFlag){
                                            ?>
                                                <td style="text-align: right"><?php echo number_format($a['Current'], 2); ?></td>
                                                <td style="text-align: right"><?php echo number_format($a['WithIn30Days'], 2); ?></td>
                                                <td style="text-align: right"><?php echo number_format($a['WithIn60Days'], 2); ?></td>
                                                <td style="text-align: right"><?php echo number_format($a['WithIn90Days'], 2); ?></td>
                                                <td style="text-align: right"><?php echo number_format($a['WithIn180Days'], 2); ?></td>
                                                <td style="text-align: right"><?php echo number_format($a['WithIn270Days'], 2); ?></td>
                                                <td style="text-align: right"><?php echo number_format($a['WithIn365Days'], 2); ?></td>
                                                <td style="text-align: right"><?php echo number_format($a['Over365'], 2); ?></td>

                                            <?php    
                                            } else {
                                            ?>
                                                <td style="text-align: right"><?php echo number_format($a['WithIn7Days'], 2); ?></td>
                                                <td style="text-align: right"><?php echo number_format($a['WithIn14Days'], 2); ?></td>
                                                <td style="text-align: right"><?php echo number_format($a['WithIn30Days'], 2); ?></td>
                                                <td style="text-align: right" class="change_order_total_col"><?php echo number_format($a['Over30'], 2); ?></td>
                                            
                                            <?php    
                                            } 
                                            ?>
                                        </tr>
                                        <?php
                                    }
                                }
                            }
                        }

                        ?>
                        <tr class="even_row" style="font-weight: bold">
                         <?php
                        if($salesPersonFlag){
                        ?>
                            <td style="text-align: right" colspan="5"><?php echo $this->translate('Customer wise Total Sales Invoice') ?></td>    
                        <?php } else {
                        ?>
                            <td style="text-align: right" colspan="4"><?php echo $this->translate('Customer wise Total Sales Invoice') ?></td>
                        <?php

                        } 
                        ?>
                            <td class="text-align: right"><?php echo number_format($customerWiseTotal, 2); ?></td>
                            <?php
                            if($advanceDetailsFlag){
                            ?>
                                <td style="text-align: right"><?php echo number_format($customerWiseCurrentTotal, 2); ?></td>
                                <td style="text-align: right"><?php echo number_format($customerWiseWithIn30Total, 2); ?></td>
                                <td style="text-align: right"><?php echo number_format($customerWiseWithIn60Total, 2); ?></td>
                                <td style="text-align: right"><?php echo number_format($customerWiseWithIn90Total, 2); ?></td>
                                <td style="text-align: right"><?php echo number_format($customerWiseWithIn180Total, 2); ?></td>
                                <td style="text-align: right"><?php echo number_format($customerWiseWithIn270Total, 2); ?></td>
                                <td style="text-align: right"><?php echo number_format($customerWiseWithIn365Total, 2); ?></td>
                                <td style="text-align: right"><?php echo number_format($customerWiseOver365Total, 2); ?></td>
                            <?php    
                            } else {
                            ?>
                                <td style="text-align: right"><?php echo number_format($customerWiseWithIn7Total, 2); ?></td>
                                <td style="text-align: right"><?php echo number_format($customerWiseWithIn14Total, 2); ?></td>
                                <td style="text-align: right"><?php echo number_format($customerWiseWithIn30Total, 2); ?></td>
                                <td class="change_order_total_col" style="text-align: right"><?php echo number_format($customerWiseOver30Total, 2); ?></td>
                            <?php    
                            } 
                            ?>
                        </tr>

                        <?php


                    }
                    ?>
                    <tr class="even_row" style="font-weight: bold">
                        <?php
                        if($salesPersonFlag){
                        ?>
                            <td style="text-align: right" colspan="5"><?php echo $this->translate('Total Sales Invoice') ?></td>    
                        <?php } else {
                        ?>
                            <td style="text-align: right" colspan="4"><?php echo $this->translate('Total Sales Invoice') ?></td>
                        <?php

                        } 
                        ?>
                        <td class="text-align: right"><?php echo number_format($invTotal, 2); ?></td>
                        <?php
                        if($advanceDetailsFlag){
                        ?>
                            <td style="text-align: right"><?php echo number_format($currentTotal, 2); ?></td>
                            <td style="text-align: right"><?php echo number_format($withIn30Total, 2); ?></td>
                            <td style="text-align: right"><?php echo number_format($withIn60Total, 2); ?></td>
                            <td style="text-align: right"><?php echo number_format($withIn90Total, 2); ?></td>
                            <td style="text-align: right"><?php echo number_format($withIn180Total, 2); ?></td>
                            <td style="text-align: right"><?php echo number_format($withIn270Total, 2); ?></td>
                            <td style="text-align: right"><?php echo number_format($withIn365Total, 2); ?></td>
                            <td style="text-align: right"><?php echo number_format($over365Total, 2); ?></td>
                        <?php    
                        } else {
                        ?>
                            <td style="text-align: right"><?php echo number_format($withIn7Total, 2); ?></td>
                            <td style="text-align: right"><?php echo number_format($withIn14Total, 2); ?></td>
                            <td style="text-align: right"><?php echo number_format($withIn30Total, 2); ?></td>
                            <td class="change_order_total_col" style="text-align: right"><?php echo number_format($over30Total, 2); ?></td>
                        <?php    
                        } 
                        ?>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



