<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">
                <tbody>
                <?php
                if($summaryOnly == 'true'){
                ?>
                <tr>
                    <th style=""><?php echo $this->translate("Customer Name"); ?></th>
                    <th style=""><?php echo $this->translate("Customer Code"); ?></th>
                    <th style=""><?php echo $this->translate("Openning Balance"); ?></th>
                    <th style=""><?php echo $this->translate("Cumulative Customer Balance"); ?></th>
                </tr>    
                <?php
                } else {
                ?>
                <tr>
                    <th style="width: 15%"><?php echo $this->translate("Customer Name"); ?></th>
                    <th style="width: 15%"><?php echo $this->translate("Customer Code"); ?></th>
                    <th style="width: 15%"><?php echo $this->translate("Transaction Type"); ?></th>
                    <th style="width: 5%"><?php echo $this->translate("Transaction Code"); ?></th>
                    <th style="width: 10%"><?php echo $this->translate("Date"); ?></th>
                    <th style="width: 5%"><?php echo $this->translate("Status"); ?></th>
                    <th style="width: 10%"><?php echo $this->translate("Parent Doc"); ?></th>
                    <th style="width: 15%"><?php echo $this->translate("Amount"); ?></th>
                    <th style="width: 25%"><?php echo $this->translate("Cumulative Customer Balance"); ?></th>
                </tr>

                <?php
                } 

                if($summaryOnly == 'true'){
                ?>
                    <?php
                        if (count($cusTransactionData) == 0) {
                    ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="2">No related data found</td>
                        </tr>

                        <?php
                    } else {

                        foreach ($cusTransactionData as $cusKey => $cusData) {

                            $tempCumuBal = $cusData['customerCumulativeBalance'];

                        ?>
                        <?php

                            foreach ($cusData['customerTransactions'] as $key => $cusTran) {
                                $tempCumuBal += ($cusTran['amount'] - $cusTran['creditAmount']);
                        ?>
                            <?php
                                }
                            ?>
                            <tr class="even_row">
                                <td><?php echo $cusData['customerName'];?></td>
                                <td><?php echo $cusData['customerCode'];?></td>
                                <?php if($cusData['customerCumulativeBalance'] < 0){ ?>
                                    <td style="text-align: right;font-weight:bold;">(<?php echo number_format(abs($cusData['customerCumulativeBalance']), 2);?>)</td>
                                <?php } else { ?>
                                    <td style="text-align: right;font-weight:bold;"><?php echo number_format($cusData['customerCumulativeBalance'], 2);?></td>
                                <?php } ?>

                                <?php

                                    $grandTotal += $tempCumuBal;

                                ?>
                                <?php if($tempCumuBal < 0){ ?>
                                            <td style="text-align: right">(<?php echo number_format(abs($tempCumuBal), 2);?>)</td>
                                        <?php } else { ?>
                                            <td style="text-align: right"><?php echo number_format($tempCumuBal, 2);?></td>
                                        <?php } ?>
                            </tr>
                         
                      
                            <tr>
                                <td colspan="4"></td>
                            </tr>


                            <?php

                        }
                    }
                    ?>

                <?php    
                } else {
                ?>

                <?php
                        if (count($cusTransactionData) == 0) {
                    ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="7"><?php echo $this->translate('No related data found') ?></td>
                        </tr>

                        <?php
                    } else {

                        foreach ($cusTransactionData as $cusKey => $cusData) {

                            $tempCumuBal = $cusData['customerCumulativeBalance'];
                        ?>
                        <tr class="even_row">
                            <td><?php echo $cusData['customerName'];?></td>
                            <td><?php echo $cusData['customerCode'];?></td>
                            <td colspan="5"></td>
                            <td style="text-align: left;font-weight:bold;"><?php echo $this->translate("Opening Balance"); ?></td>
                            <?php if($cusData['customerCumulativeBalance'] < 0){ ?>
                                <td style="text-align: right;font-weight:bold;">(<?php echo number_format(abs($cusData['customerCumulativeBalance']), 2);?>)</td>
                            <?php } else { ?>
                                <td style="text-align: right;font-weight:bold;"><?php echo number_format($cusData['customerCumulativeBalance'], 2);?></td>
                            <?php } ?>
                        </tr>

                        <?php

                            foreach ($cusData['customerTransactions'] as $key => $cusTran) {

                                $tempCumuBal += ($cusTran['amount'] - $cusTran['creditAmount']);


                        ?>

                                    <tr class="even_row">
                                        <td></td>
                                        <td></td>
                                        <td style="text-align: center"><?php echo $cusTran['docType'];?></td>
                                        <td style="text-align: center"><?php echo $cusTran['code'];?></td>
                                        <td style="text-align: center"><?php echo $cusTran['issueDate'];?></td>
                                        <td style="text-align: center"><?php echo $cusTran['status'];?></td>
                                        <?php
                                            $parentDocString = "";

                                            if($cusTran['docType'] == 'Sales Invoice'){

                                                if($cusTran['quotationCode'] != null){
                                                    $parentDocString = 'QT / '.implode(' , ',$cusTran['parentDoc']);
                                                } else if($cusTran['deliveryNoteCode'] != null){
                                                    $parentDocString = 'DN / '.implode(' , ',array_unique($cusTran['parentDoc']));
                                                } else if($cusTran['soCode'] != null){
                                                    $parentDocString = 'SO / '.implode(' , ',$cusTran['parentDoc']);
                                                } else if($cusTran['activityCode'] != null){
                                                    $parentDocString = 'ACT / '.implode(' , ',$cusTran['parentDoc']);
                                                } else if($cusTran['jobReferenceNumber'] != null){
                                                    $parentDocString = 'JOB / '.implode(' , ',$cusTran['parentDoc']);
                                                } else if($cusTran['projectCode'] != null){
                                                    $parentDocString = 'PROJ / '.implode(' , ',$cusTran['parentDoc']);
                                                }


                                            } else if($cusTran['docType'] == 'Payment'){
                                                $parentDocString = 'INV / '.implode(' , ', $cusTran['parentDoc']);
                                            } else if($cusTran['docType'] == 'Credit Note'){
                                                $parentDocString = 'INV / '.implode(' , ', $cusTran['parentDoc']);
                                            } else if($cusTran['docType'] == 'Credit Note Payment'){
                                                $parentDocString = 'CR / '.implode(' , ', $cusTran['parentDoc']);
                                            } else if($cusTran['docType'] == 'Income'){
                                                $parentDocString = 'INC / '.implode(' , ', $cusTran['parentDoc']);
                                            } else if($cusTran['docType'] == 'incomePayment'){
                                                $parentDocString = 'INC / '.implode(' , ', $cusTran['parentDoc']);
                                            }

                                        ?>
                                        <td style="text-align: center;word-break:break-word"><?php echo $parentDocString;?></td>



                                        <?php if($cusTran['amount'] < 0){ ?>
                                            <td style="text-align: right">
                                            <?php
                                                if($cusTran['creditAmount'] != 0){
                                                    echo "*";
                                                }
                                            ?>
                                            (<?php echo number_format(abs($cusTran['amount']), 2);?>)</td>
                                        <?php } else { ?>
                                            <td style="text-align: right"><?php echo number_format($cusTran['amount'], 2);?></td>
                                        <?php } ?>


                                        <?php if($tempCumuBal < 0){ ?>
                                            <td style="text-align: right">(<?php echo number_format(abs($tempCumuBal), 2);?>)</td>
                                        <?php } else { ?>
                                            <td style="text-align: right"><?php echo number_format($tempCumuBal, 2);?></td>
                                        <?php } ?>
                                    </tr>


                            <?php
                                }
                            ?>

                             <tr>
                                <td colspan="7"></td>
                                <td style="text-align: left"><?php echo $this->translate('Cumulative Total')?></td>
                                <?php

                                    $grandTotal += $tempCumuBal;

                                ?>
                                <?php if($tempCumuBal < 0){ ?>
                                            <td style="text-align: right">(<?php echo number_format(abs($tempCumuBal), 2);?>)</td>
                                        <?php } else { ?>
                                            <td style="text-align: right"><?php echo number_format($tempCumuBal, 2);?></td>
                                        <?php } ?>
                            </tr>
                            <?php /*
                            <tr>
                                <td colspan="6"></td>
                                <td style="text-align: left"><?php echo $this->translate('Customer Current Outstanding')?></td>
                                <?php if($cusData['customerOutstanding'] < 0){ ?>
                                            <td style="text-align: right">(<?php echo number_format(abs($cusData['customerOutstanding']), 2);?>)</td>
                                        <?php } else { ?>
                                            <td style="text-align: right"><?php echo number_format($cusData['customerOutstanding'], 2);?></td>
                                        <?php } ?>
                            </tr>
                            */ ?>
                            <tr>
                                <td colspan="7"></td>
                            </tr>


                            <?php

                        }
                    }
                    ?>
                
                <?php    
                }
                ?>

                    <tr>
                    <?php
                    if($summaryOnly == 'true'){
                    ?>
                        <td></td><td></td><td style="text-align: center;font-weight:bold;"><?php echo $this->translate('Grand Total')?></td>
                    <?php
                    } else {
                    ?>
                        <td colspan="7"></td><td style="text-align: center;font-weight:bold;"><?php echo $this->translate('Grand Total')?></td>

                    <?php 
                    } ?>

                    <?php if($grandTotal < 0){ ?>
                        <td style="text-align: right;font-weight:bold;">(<?php echo number_format(abs($grandTotal), 2);?>)</td>
                    <?php } else { ?>
                        <td style="text-align: right;font-weight:bold;"><?php echo number_format($grandTotal, 2);?></td>
                    <?php } ?>

                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                    <?php if($summaryOnly != 'true'){ ?>
                        <td colspan="6">* <?php echo $this->translate('include credit payments')?></td>
                        <?php
                    } 
                    ?>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>



