<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>

            </table>

            <table class="change_order_items">
                <tbody>
                    <tr>
                    <?php
                    if($salesPersonFlag){
                    ?>
                        <th><?php echo $this->translate('Sales Person') ?></th>
                    <?php    
                    } 
                    ?>
                        <th><?php echo $this->translate('Customer Name') ?></th>
                        <th><?php echo $this->translate('Customer Code') ?></th>
                        <?php
                        if($cusCategory){
                        ?>
                            <th><?php echo $this->translate('Customer Category') ?></th>
                        <?php    
                        }
                        ?>
                        <?php
                        if($advanceDetails){
                        ?>
                            <th><?php echo $this->translate('0 - 1 Days') ?></th>
                            <th><?php echo $this->translate('1 - 30 Days') ?></th>
                            <th><?php echo $this->translate('31 - 60 Days') ?></th>
                            <th><?php echo $this->translate('61 - 90 Days') ?></th>
                            <th><?php echo $this->translate('91 - 180 Days') ?></th>
                            <th><?php echo $this->translate('181 - 270 Days') ?></th>
                            <th><?php echo $this->translate('271 - 365 Days') ?></th>
                            <th><?php echo $this->translate('> 365 Days') ?></th>
                        <?php    
                        } else {
                        ?>
                            <th><?php echo $this->translate('WithIn 7 Days') ?></th>
                            <th><?php echo $this->translate('WithIn 14 Days') ?></th>
                            <th><?php echo $this->translate('WithIn 30 Days') ?></th>
                            <th><?php echo $this->translate('Over 30 Days') ?></th>

                        <?php
                        }
                        ?>
                        <th><?php echo $this->translate('Total Balance') ?></th>
                    </tr>
                    <?php
                    $withIn7Total = 0.00;
                    $withIn14Total = 0.00;
                    $withIn30Total = 0.00;
                    $over30Total = 0.00;
                    $withIn60Total = 0.00;
                    $withIn90Total = 0.00;
                    $withIn180Total = 0.00;
                    $withIn270Total = 0.00;
                    $withIn365Total = 0.00;
                    $over365Total = 0.00;
                    $invTotal = 0.00;
                    $isRecordExist = false;
                    
                    foreach ($aCD as $data) {
                    
                        if (!empty($data)) {                            
                            if($salesPersonFlag){
                                $firstLine = true;
                                foreach ($data as $key => $value) {

                                    if($advanceDetails){
                                    
                                    $netTotal = $value['withIn30Days'] + $value['current'] + $value['withIn60Days']+ $value['withIn90Days'] + $value['withIn180Days'] + $value['withIn270Days'] + $value['withIn365Days'] + $value['over365'];
                                    $currentTotal += $value['current'];
                                    $withIn60Total += $value['withIn60Days'];
                                    $withIn90Total += $value['withIn90Days'];
                                    $withIn180Total += $value['withIn180Days'];
                                    $withIn270Total += $value['withIn270Days'];
                                    $withIn365Total += $value['withIn365Days'];
                                    $over365Total += $value['over365'];
                                
                                    } else {
                                        $netTotal = $value['withIn7Days'] + $value['withIn14Days'] + $value['withIn30Days'] + $value['over30'];
                                        $withIn7Total += $value['withIn7Days'];
                                        $withIn14Total += $value['withIn14Days'];
                                        $over30Total += $value['over30'];
                                        
                                    }
                                    $withIn30Total += $value['withIn30Days'];
                                    $invTotal += $netTotal;
                                    if ($netTotal > 1) {
                                        $isRecordExist = true;
                                        ?>
                                        <tr class="even_row">
                                            <?php
                                            if($firstLine){
                                            ?>
                                                <td><?php echo $value['salesPerson'] ?></td>
                                            <?php    
                                            } else {
                                                ?>
                                                <td></td>
                                                <?php
                                            }
                                            ?>
                                            <td><?php echo $value['cT'] . ' ' . $value['cN']; ?></td>
                                            <td><?php echo $value['cusCD']; ?></td>
                                            <?php
                                            if($cusCategory){
                                            ?>
                                                <td><?php echo $value['customerCategoryName'] ?></td>
                                            <?php    
                                            }
                                            ?>
                                            <?php 
                                             if($advanceDetails){
                                                ?>
                                                <td style="text-align: right"><?php echo number_format($value['current'], 2); ?></td>
                                                <td style="text-align: right"><?php echo number_format($value['withIn30Days'], 2); ?></td>
                                                <td style="text-align: right"><?php echo number_format($value['withIn60Days'], 2); ?></td>
                                                <td style="text-align: right"><?php echo number_format($value['withIn90Days'], 2); ?></td>
                                                <td style="text-align: right"><?php echo number_format($value['withIn180Days'], 2); ?></td>
                                                <td style="text-align: right"><?php echo number_format($value['withIn270Days'], 2); ?></td>
                                                <td style="text-align: right"><?php echo number_format($value['withIn365Days'], 2); ?></td>
                                                <td style="text-align: right"><?php echo number_format($value['over365'], 2); ?></td>
                                                <?php
                                             } else {
                                                ?>
                                                <td style="text-align: right"><?php echo number_format($value['withIn7Days'], 2); ?></td>
                                                <td style="text-align: right"><?php echo number_format($value['withIn14Days'], 2); ?></td>
                                                <td style="text-align: right"><?php echo number_format($value['withIn30Days'], 2); ?></td>
                                                <td style="text-align: right"><?php echo number_format($value['over30'], 2); ?></td>
                                                <?php
                                             }
                                            ?>
                                            <td class="change_order_total_col"><?php echo number_format($netTotal, 2); ?></td>
                                        </tr>
                                        <?php
                                    }
                                    $firstLine = false;
                                }
                                ?>
                                <tr>
                                <?php 
                                    if($advanceDetails){
                                ?>
                                    <td colspan="7"></td>
                                <?php 
                                } else { ?> 
                                    <td colspan="7"></td>
                                <?php     
                                } 
                                ?>
                                </tr>
                                <?php

                                
                            } else {
                                if($advanceDetails){
                                    
                                    $netTotal = $data['current'] + $data['withIn30Days'] + $data['withIn60Days']+ $data['withIn90Days'] + $data['withIn180Days'] + $data['withIn270Days'] + $data['withIn365Days'] + $data['over365'];
                                    $currentTotal += $data['current'];
                                    $withIn60Total += $data['withIn60Days'];
                                    $withIn90Total += $data['withIn90Days'];
                                    $withIn180Total += $data['withIn180Days'];
                                    $withIn270Total += $data['withIn270Days'];
                                    $withIn365Total += $data['withIn365Days'];
                                    $over365Total += $data['over365'];
                                
                                } else {
                                    $netTotal = $data['withIn7Days'] + $data['withIn14Days'] + $data['withIn30Days'] + $data['over30'];
                                    $withIn7Total += $data['withIn7Days'];
                                    $withIn14Total += $data['withIn14Days'];
                                    $over30Total += $data['over30'];
                                    
                                }
                                $withIn30Total += $data['withIn30Days'];
                                $invTotal += $netTotal;
                                if ($netTotal > 1) {
                                    $isRecordExist = true;
                                    ?>
                                    <tr class="even_row">
                                        <td><?php echo $data['cT'] . ' ' . $data['cN'] ?></td>
                                        <td><?php echo $data['cusCD'] ?></td>
                                        <?php
                                        if($cusCategory){
                                        ?>
                                            <td><?php echo $data['customerCategoryName'] ?></td>
                                        <?php    
                                        }
                                        ?>
                                        <?php 
                                         if($advanceDetails){
                                            ?>
                                            <td style="text-align: right"><?php echo number_format($data['current'], 2); ?></td>
                                            <td style="text-align: right"><?php echo number_format($data['withIn30Days'], 2); ?></td>
                                            <td style="text-align: right"><?php echo number_format($data['withIn60Days'], 2); ?></td>
                                            <td style="text-align: right"><?php echo number_format($data['withIn90Days'], 2); ?></td>
                                            <td style="text-align: right"><?php echo number_format($data['withIn180Days'], 2); ?></td>
                                            <td style="text-align: right"><?php echo number_format($data['withIn270Days'], 2); ?></td>
                                            <td style="text-align: right"><?php echo number_format($data['withIn365Days'], 2); ?></td>
                                            <td style="text-align: right"><?php echo number_format($data['over365'], 2); ?></td>
                                            <?php
                                         } else {
                                            ?>
                                            <td style="text-align: right"><?php echo number_format($data['withIn7Days'], 2); ?></td>
                                            <td style="text-align: right"><?php echo number_format($data['withIn14Days'], 2); ?></td>
                                            <td style="text-align: right"><?php echo number_format($data['withIn30Days'], 2); ?></td>
                                            <td style="text-align: right"><?php echo number_format($data['over30'], 2); ?></td>
                                            <?php
                                         }
                                        ?>
                                        <td class="change_order_total_col"><?php echo number_format($netTotal, 2); ?></td>
                                    </tr>
                                    <?php
                                }
                                
                            }
                        }
                    }

                    if ($isRecordExist) {
                        ?>
                        <tr class="even_row" style="font-weight: bold">
                            <?php
                            if($cusCategory){
                            ?>
                                <td style="text-align: right"></td>
                            <?php    
                            }
                            ?>
                            <?php
                            if($salesPersonFlag){
                            ?>
                                <td style="text-align: right"></td>
                            <?php    
                            }
                            ?>
                            <td style="text-align: right" colspan="2"><?php echo $this->translate('Total Sales Invoice') ?></td>
                            <?php 
                            if($advanceDetails){
                            ?>
                                <td style="text-align: right"><?php echo number_format($currentTotal, 2); ?></td>
                                <td style="text-align: right"><?php echo number_format($withIn30Total, 2); ?></td>
                                <td style="text-align: right"><?php echo number_format($withIn60Total, 2); ?></td>
                                <td style="text-align: right"><?php echo number_format($withIn90Total, 2); ?></td>
                                <td style="text-align: right"><?php echo number_format($withIn180Total, 2); ?></td>
                                <td style="text-align: right"><?php echo number_format($withIn270Total, 2); ?></td>
                                <td style="text-align: right"><?php echo number_format($withIn365Total, 2); ?></td>
                                <td style="text-align: right"><?php echo number_format($over365Total, 2); ?></td>
                            <?php                                
                            } else {
                                ?>
                                <td style="text-align: right"><?php echo number_format($withIn7Total, 2); ?></td>
                                <td style="text-align: right"><?php echo number_format($withIn14Total, 2); ?></td>
                                <td style="text-align: right"><?php echo number_format($withIn30Total, 2); ?></td>
                                <td style="text-align: right"><?php echo number_format($over30Total, 2); ?></td>
                                <?php
                            }
                            ?>
                            <td class="change_order_total_col"><?php echo number_format($invTotal, 2); ?></td>
                        </tr>
                        <?php
                    } else {
                        ?>
                        <tr class="even_row">
                            <td colspan="6">
                                <?php echo $this->translate('No Related Data for Customer Details') ?>
                            </td>
                        </tr>
                        <?php
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>



