<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>

            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Customer Name') ?></th>
                        <th><?php echo $this->translate('Customer Code') ?></th>
                        <?php
                        if($cusCategory){
                        ?>
                           <th><?php echo $this->translate('Customer Category') ?></th>
                        <?php
                        }
                        ?>
                        <th><?php echo $this->translate('Address') ?></th>
                        <th><?php echo $this->translate('Date of birth') ?></th>
                        <th><?php echo $this->translate('Telephone') ?></th>
                        <th><?php echo $this->translate('E-mail') ?></th>
                        <th><?php echo $this->translate('Status') ?></th>
                        <th><?php echo $this->translate('Credit Limit') ?></th>
                        <th><?php echo $this->translate('Outstanding Balance') ?></th>
                        <th><?php echo $this->translate('Cerdit Balance') ?></th>
                    </tr>
                    <?php
                    if (count($cSD) > 0) {
                    	$totalCreditLimit = 0;
                    	$totalCurrentBalance = 0;
                    	$totalCurrentCredit = 0;
                    	foreach ($cSD as $c) {
                    		$totalCreditLimit += $c['customerCreditLimit'];
                    		$totalCurrentBalance += $c['customerCurrentBalance'];
                    		$totalCurrentCredit += $c['customerCurrentCredit'];
                            ?>
                            <tr class="even_row">
                                <td style="text-align: left"><?php echo $c['customerTitle'] . ' ' . $c['customerName']; ?></td>
                                <td style="text-align: left"><?php echo $c['customerCode'] ? $c['customerCode'] : '-'; ?></td>
                                <?php
                                if($cusCategory){
                                ?>
                                    <td style="text-align: left"><?php echo $c['customerCategoryName']; ?></td>
                                <?php
                                }
                                ?>
                                <td style="text-align: left"><?php echo $c['customerAddress'] ? $c['customerAddress'] : '-'; ?></td>
                                <td style="text-align: left"><?php echo $c['customerDateOfBirth'] ? $c['customerDateOfBirth'] : '-'; ?></td>
                                <td style="text-align: left"><?php echo $c['customerTelephoneNumber'] ? $c['customerTelephoneNumber'] : '-'; ?></td>
                                <td style="text-align: left"><?php echo $c['customerEmail'] ? $c['customerEmail'] : '-'; ?></td>
                                <td style="text-align: left"><?php echo $c['customerStatus'] == 1 ? 'Active' : 'Inactive'; ?></td>
                                <td class="change_order_total_col"><?php echo number_format($c['customerCreditLimit'] ? $c['customerCreditLimit'] : '-', 2); ?></td>
                                <td class="change_order_total_col"><?php echo number_format($c['customerCurrentBalance'] ? $c['customerCurrentBalance'] : '-', 2); ?></td>
                                <td class="change_order_total_col"><?php echo number_format($c['customerCurrentCredit'] ? $c['customerCurrentCredit'] : '-', 2); ?></td>
                            </tr>

                            <?php
                        }
                        ?>
                        <tr>
                            <?php
                            if($cusCategory){
                            ?>
                                <td style="text-align: right" colspan="8"><strong><?php echo $this->translate('Sub Total') ?>:</strong></td>
                            <?php
                            } else {
                            ?>
                                <td style="text-align: right" colspan="7"><strong><?php echo $this->translate('Sub Total') ?>:</strong></td>
                            <?php
                            }
                            ?>

                        	<td style="text-align: right"><?php echo number_format($totalCreditLimit, 2) ?> </td>
                        	<td style="text-align: right"><?php echo number_format($totalCurrentBalance, 2)?></td>
                        	<td style="text-align: right"><?php echo number_format($totalCurrentCredit, 2)?></td>
                        </tr>
                        <?php
                    } else {
                        ?>
                        <tr class="even_row">
                            <td colspan="9">><?php echo $this->translate('No Related Data') ?></td>
                        </tr>
                    </tbody>
                <?php } ?>
            </table>
        </div>

    </div>
</div>



