<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <table style="width: 100%; font-size: 8pt;">
                <tr>
                    <td> <strong></strong></td>
                    <td><strong></strong></td>
                </tr>
                <tr>
                    <td><h2><?php echo $this->translate('Daily Customer Transaction Report') ?></h2></td>
                </tr>

                <tr>
                    <?php $date = date('Y-m-d h:i:s a'); ?>
                    <td><?php echo $this->translate('Report Generated ') ?>: <?php echo $date; ?></td>
                    <td><strong></strong></td>
                </tr>

                <tr>
                    <td><?php echo $this->translate('Address ') ?>: <?php echo $company_data[0]->companyName ?>,<?php echo $company_data[0]->companyAddress ?></td>
                    <td> <strong></strong></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate('Date ') ?>: <?php echo $from_date ?></td>
                    <td> <strong></strong></td>
                </tr>
            </table>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>

            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Type') ?></th>
                        <th><?php echo $this->translate('Ref. No') ?></th>
                        <th><?php echo $this->translate('Cus. Name') ?></th>
                        <th><?php echo $this->translate('Due Date') ?></th>
                        <th><?php echo $this->translate('Amount') ?></th>
                        <th><?php echo $this->translate('Credit / Payment') ?></th>
                        <th><?php echo $this->translate('Settled') ?></th>
                        <th><?php echo $this->translate('Outstanding') ?></th>
                    </tr>

                    <tr>
                        <th><?php echo $cus_name ?></th>
                        <th colspan="7"></th>
                    </tr>

                    <?php
                    $TotalAmount = 0.00;
                    $Setled = 0.00;
                    $Outstanding = 0.00;
                    foreach ($invoiceTbl_data as $data) {
                        $outstanding = $data['totalAmount'] - $data['payedAmount'];

                        $Outstanding += $outstanding;
                        $TotalAmount += $data['totalAmount'];
                        $Setled += $data['payedAmount'];
                        $cus_name = $data['customerName'];
                        $customer_name = split('- ', $cus_name);
                        ?>
                        <tr class="even_row">
                            <td>Sale Invoice</td>
                            <td style="text-align: left"><?php echo $data['id']; ?></td>
                            <td style="text-align: left"><?php echo $customer_name[0]; ?></td>
                            <td style="text-align: center"><?php echo $data['overDueDate']; ?></td>
                            <td style="text-align: right"><?php echo number_format($data['totalAmount'], 2); ?></td>
                            <td style="text-align: center">-</td>
                            <td style="text-align: right"><?php echo number_format($data['payedAmount'], 2); ?></td>
                            <td class="change_order_total_col"><?php echo number_format($outstanding, 2); ?></td>
                        </tr>
                        <?php
                    }
                    ?>
                    <tr class="even_row" style="font-weight: bold">
                        <td style="font-weight: bold" colspan="4"><?php echo $this->translate('Total Invoices') ?></td>
                        <td style="text-align: right"><?php echo number_format($TotalAmount, 2); ?></td>
                        <td style="text-align: center">-</td>
                        <td style="text-align: right"><?php echo number_format($Setled, 2); ?></td>
                        <td class="change_order_total_col"><?php echo number_format($Outstanding, 2); ?></td>
                    </tr>

                    <?php
                    $TotalAmount = 0.00;
                    $Setled = 0.00;
                    $Outstanding = 0.00;
                    foreach ($creditNoteTbl_data as $data) {
                        $outstanding = $data['settleAmount'] - $data['totalAmount'];
                        $outstanding = $outstanding ? : 0;
                        $Outstanding += $outstanding;
                        $TotalAmount += $data['totalAmount'];
                        $Setled += $data['settleAmount'];
                        $cus_name = $data['customerName'];
                        $customer_name = split('- ', $cus_name);
                        ?>
                        <tr class="even_row">
                            <td>Credit Note</td>
                            <td style="text-align: left"><?php echo $data['creditNoteID']; ?></td>
                            <td style="text-align: left"><?php echo $customer_name[0]; ?></td>
                            <td style="text-align: center">-</td>
                            <td style="text-align: center">-</td>
                            <td style="text-align: right"><?php echo number_format($data['totalAmount'], 2); ?></td>
                            <td style="text-align: right"><?php echo number_format($data['settleAmount'], 2); ?></td>
                            <td class="change_order_total_col"><?php echo number_format($data['settleAmount'] - $data['totalAmount'], 2); ?></td>
                        </tr>
                        <?php
                    }
                    ?>
                    <tr class="even_row" style="font-weight: bold">
                        <td style="font-weight: bold" colspan="5"><?php echo $this->translate('Total Credit Note') ?></td>
                        <td style="text-align: right"><?php echo number_format($TotalAmount, 2); ?></td>
                        <td style="text-align: right"><?php echo number_format($Setled, 2); ?></td>
                        <td class="change_order_total_col"><?php echo number_format($Outstanding, 2); ?></td>
                    </tr>

                    <?php
                    $TotalAmount = 0.00;
                    $Setled = 0.00;
                    $Outstanding = 0.00;
                    foreach ($paymentTbl_data as $data) {
                        $outstanding = $data['amount'] - $data['amount'];
                        $outstanding = $outstanding ? : 0;
                        $Outstanding += $outstanding;
                        $TotalAmount += $data['amount'];
                        $Setled += $data['amount'];
                        $cus_name = $data['customerName'];
                        $customer_name = split('- ', $cus_name);
                        ?>
                        <tr class="even_row">
                            <td>Payment</td>
                            <td style="text-align: left"><?php echo $data['paymentID']; ?></td>
                            <td style="text-align: left"><?php echo $customer_name[0]; ?></td>
                            <td style="text-align: center">-</td>
                            <td style="text-align: center">-</td>
                            <td style="text-align: right"><?php echo number_format($data['amount'], 2); ?></td>
                            <td style="text-align: right"><?php echo number_format($data['amount'], 2); ?></td>
                            <td style="text-align: center" class="change_order_total_col">-</td>
                        </tr>
                        <?php
                    }
                    ?>
                    <tr class="even_row" style="font-weight: bold">
                        <td style="font-weight: bold" colspan="5"><?php echo $this->translate('Total Payments') ?></td>
                        <td style="text-align: right"><?php echo number_format($TotalAmount, 2); ?></td>
                        <td style="text-align: right"><?php echo number_format($Setled, 2); ?></td>
                        <td style="text-align: center" class="change_order_total_col">-</td>
                    </tr>

                </tbody>

            </table>
        </div>

    </div>
</div>



