<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
<?php
$this->headScript()->captureEnd();
?>

<!--panel-->
<div class="panel panel-default margin_top panel_border">

    <div class='panel-heading panel_heading_style'><!--panel_heading-->
        <h4 class="font_weight h1_no_margin report_heading"><?php echo $this->translate('Customer Report') ?></h4>
    </div>

    <div class="panel-body panel_body_style">

        <!--links-->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 remove_left_padding remove_right_padding panel_links">
            <ul class="nav nav-pills nav-stacked min_height" data-tabs="tabs">
                <li id="agedCustomerAnalysis" value="Aged Customer Analysis" class="report_pills active"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Customer Aged Analysis') ?></a></li>
                <li id="agedAnalysis" class="report_pills"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Invoice Wise Aged Analysis') ?></a></li>
                <li id="customerDetails" class="report_pills"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Customer Details') ?></a></li>
                <li id="customerWiseItem" class="report_pills"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Customer Wise Item Sales With Category') ?></a></li>
                <li id="customerWiseSales" class="report_pills"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Customer Wise Sales') ?></a></li>
                <li id="customerAllTransactions" class="report_pills"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Customer All Transactions') ?></a></li>
                <li id="customerBalance" class="report_pills"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Customer Credit and Outstanding Balance') ?></a></li>
                <li id="customerAgedAnalysisForDonePayment" class="report_pills"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Customer Aged Analysis for done payments') ?></a></li>
            </ul>
        </div>

        <!--process_area-->
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 form-horizontal process_area">
            <div id="reportHead">
                <div class="form-group">
                    <div class="row">
                        <div class=" product-content customerSelection">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <label class="" name="isAllCustomerslbl" id="isAllCustomerslbl">
                                    <input type="radio" class="check_box_mar_right isAllCustomers" value="0" name="isAllCustomers" id="customCustomerSelection" checked> <?php echo $this->translate('Custom Cutomers') ?>
                                </label>
                                <div class="">
                                    <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="customerName" id="customerName" multiple="multiple" title="<?php echo $this->translate('Select Customer(s)') ?>" data-selected-text-format="count>3"></select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 product-content customerSelection" id="isAllProductsCBox">
                            	<label name="isAllCustomerslbl" id="isAllCustomerslbl">
                                	<input type="radio" class="isAllCustomers" value="1" name="isAllCustomers" id="AllCustomers">
                                	<?php echo $this->translate('All Customers') ?>
                            	</label>
                            </div>

                            <div class="customer-category-div col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                                <label class="control-label"><?php echo $this->translate('Customer Category') ?></label>
                                    <select class="form-control selectpicker" data-actions-box="true" name="customerCategoryList" id="customerCategoryList" multiple="multiple" title="<?php echo $this->translate('Select Customer Category'); ?>">
                                        <?php
                                        foreach ($this->cusCategory as $cuCateID => $value) :
                                            echo '<option value="' . $cuCateID . '">' . $value . '</option>';
                                        endforeach;

                                        ?>
                                    </select>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 customer_report_from_date"><!--from_date-->
                            <label class="control-label from_date_label"><?php echo $this->translate('Set From Date') ?></label>
                            <input type="text" class="span2 datepicker form-control" id="from_date" name="from_date" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Set a From Date') ?>">
                            <label class="control-label end_date_label hidden"><?php echo $this->translate('Date') ?></label>
                            <input type="text" class="span2 datepicker form-control" id="endDate" name="endDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Set a End Date') ?>">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><!--slaes person-->
                                <div class="sales-person" id="salesPers">
                                    <label class="control-label"><?php echo $this->translate('Sales Person') ?></label>
                                    <select class="form-control selectpicker" data-actions-box="true" name="salesPersons" id="salesPersons" multiple="multiple" title="<?php echo $this->translate('Select Sales Persons'); ?>">
                                        <?php
                                        foreach ($this->salesPersons as $spID => $value) :
                                            echo '<option value="' . $spID . '">' . $value . '</option>';
                                        endforeach;
                                        ?>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                        </div><!--row-->
                    </div>
                    <br>
                    <div class="row">
                        <div class=" item_category hidden"><!--from_date-->
                        	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        		<label class="" name="isAllCategorylbl" id="isAllCategorylbl">
                        			<input type="radio" class="check_box_mar_right isAllCategory" value="0" name="isAllCategory" id="customCategorySelection" checked> <?php echo $this->translate('Custom Item Categorys') ?>
                        		</label>
                        		<div>
                        			<select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="categorys" id="categorys" multiple="multiple" title="<?php echo $this->translate('Select Item Category(s)') ?>" data-selected-text-format="count>3"></select>
                        		</div>
                        	</div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item_category" id="isAllCategoryCBox">
                            	<label name="isAllCategorylbl" id="isAllCategorylbl">
                                	<input type="radio" class="isAllCategory" value="1" name="isAllCategory" id="AllCategory">
                                	<?php echo $this->translate('All Item Categorys') ?>
                            	</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <!-- select items -->
                    <div class='row'>
                        <div class='item_category hidden'>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="" name="isAllItemlbl" id="isAllItemlbl">
                                    <input type="radio" class="check_box_mar_right isAllItem" value="0" name="isAllItem" id="customItemSelection" checked> <?php echo $this->translate('Select Item(s)') ?>
                                </label>
                                <div>
                                    <select class='form-control selectpicker'  data-actions-box="true" data-live-search="true" name="items" id="items" multiple="multiple" title="<?php echo $this->translate('Select Item(s)') ?>" data-selected-text-format="count>3"></select>

                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item_category" id="isAllItemCBox">
                                <label name="isAllItemlbl" id="isAllItemlbl">
                                    <input type="radio" class="isAllItem" value="1" name="isAllItem" id="AllItem">
                                    <?php echo $this->translate('All Items') ?>
                                </label>
                            </div>

                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="location hidden"><!--from_date-->
                        	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        		<label class="" name="isAllLocationlbl" id="isAllLocationlbl">
                        			<input type="radio" class="check_box_mar_right isAllLocation" value="0" name="isAllLocation" id="customLocationSelection" checked> <?php echo $this->translate('Custom Locations') ?>
                        		</label>
                        		<div>
                        			<select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="locations" id="locations" multiple="multiple" title="<?php echo $this->translate('Select Location(s)') ?>" data-selected-text-format="count>3"></select>
                        		</div>
                        	</div>
                        	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 location" id="isAllLocationCBox">
                            	<label name="isAllLocationlbl" id="isAllLocationlbl">
                                	<input type="radio" class="isAllLocation" value="1" name="isAllLocation" id="AllLocation">
                                	<?php echo $this->translate('All Locations') ?>
                            	</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 customer_report_end_date"><!--end_date-->
                            <label class="control-label remove_label"><?php echo $this->translate('Set To Date') ?></label>
                            <input type="text" class="span2 datepicker form-control" id="to_date" name="to_date" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Set a To Date') ?>">
                        </div>
                    </div>
                    <div class="row advance_columns">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 customer_advance_details">
                            <input type="checkbox" name="AdvanceDetails" id="advRow" value="true"> <?php echo $this->translate('Advance Columns') ?><br>
                        </div>
                    </div>

                    <div class="row summary_columns hidden">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 customer_all_summary_details">
                            <input type="checkbox" name="SummaryDetails" id="summaryRow" value="true"> <?php echo $this->translate('Summary Only') ?><br>
                        </div>
                    </div>
                    
                    <div class="row order_filter hidden">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <label class="control-label"><?php echo $this->translate('Sort By') ?></label>
                            <select class="form-control selectpicker" name="orderFilter" id="orderFilter">
                                <option><?php echo $this->translate('Select a filter for sort') ?> </option>
                                <option value="invoiceNo"><?php echo $this->translate('Invoice Number') ?></option>
                                <option value="invoiceDate"><?php echo $this->translate('Invoice Date') ?></option>
                                <option value="customerName"><?php echo $this->translate('Customer Name') ?></option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 btn-group btn_panel_normal">
                            <button class="btn btn-default col-lg-2" id="viewReport"><?php echo $this->translate('View Report') ?></button>
                            <button class="btn btn-default col-lg-2" id="generatePdf"><?php echo $this->translate('Generate Pdf') ?></button>
                            <button class="btn btn-default col-lg-2" id="csvReport"><?php echo $this->translate('Generate CSV') ?></button>
                            <!--<button class="btn btn-default" id="view_graph"><?php // echo $this->translate('View Graph')                                                                                                                                                  ?></button>-->
                        </div>
                    </div>

                </div><!--form_group-->

            </div>
        </div>
    </div>
 </div>
<iframe id="customerReportIFrame" class="panel panel-default margin_top margin_bottom panel_border report-iframe"></iframe>


