<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
<?php
$this->headScript()->captureEnd();
?>
<link rel="stylesheet" href="<?php echo $this->basePath('assets/DataTables-1.9.4/media/css/jquery.dataTables.css'); ?>" type="text/css" />

<?php //$this->headScript()->appendFile($this->basePath('js/invoice/payments/payments.js'));  ?>
<?php $this->headScript()->appendFile($this->basePath('assets/DataTables-1.9.4/media/js/jquery.dataTables.min.js')); ?>
<?php $this->headScript()->appendFile($this->basePath('assets/DataTables-1.9.4/media/js/jquery.jeditable.js')); ?>
<?php $this->headScript()->appendFile($this->basePath('js/report-pdf/customerReport.js')); ?>

<script type="text/javascript">
//    new Morris.Bar({
//        // ID of the element in which to draw the chart.
//        element: 'item_sold_graph',
//        // Chart data records -- each entry in this array corresponds to a point on
//        // the chart.
//        data: [
//            {year: '2008', value: 20},
//            {year: '2009', value: 10},
//            {year: '2010', value: 5},
//            {year: '2011', value: 5},
//            {year: '2012', value: 20}
//        ],
//        // The name of the data record attribute that contains x-values.
//        xkey: 'year',
//        // A list of names of data record attributes that contain y-values.
//        ykeys: ['value'],
//        // Labels for the ykeys -- will be displayed when you hover over the
//        // chart.
//        labels: ['Value']
//    });

</script>




<div id="reportPdf">

    <div class="row">
        <div class="col-lg-6 col-lg-6">
            <div class="form-group row">
                <label for="fromdate" class="col-lg-3 control-label">
                    <?php echo $this->translate("Item Name"); ?>
                </label>
                <div class="col-lg-6">
                    <input type="text" data-provide="typeahead" class="search form-control typeahead" id="item_search" placeholder="<?php echo $this->translate('Enter Item Name') ?>"/>
                </div>
            </div>
            <div class="form-group row"></div>
        </div>
        <div class="col-6 col-sm-6 col-lg-6">
            <div class="form-group row">
                <label for="date" class="col-lg-3 control-label">

                </label>
                <div class = "col-lg-6">

                </div>
            </div>
            <div class="form-group row"></div>

        </div>
        <div class="row row-fluid">

            <div class="col-lg-6">
                <button class="btn btn-primary" id="item_sold_graph"><?php echo $this->translate('View Graph') ?></button>
            </div>

        </div>
    </div>
    <hr>

    <div id="graph_div" class="row">
        <div class="col col-lg-12 panel">
            <h2 class="text-center"><?php echo $this->translate('Item Sold Graph') ?></h2>
            <div class="text-center" id="item_sold" style="height: 300px;"></div>
        </div>
    </div>


</div>









