<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
<?php
$this->headScript()->captureEnd();
?>
<link rel="stylesheet" href="<?php echo $this->basePath('assets/DataTables-1.9.4/media/css/jquery.dataTables.css'); ?>" type="text/css" />

<?php $this->headScript()->appendFile($this->basePath('assets/DataTables-1.9.4/media/js/jquery.dataTables.min.js')); ?>
<?php $this->headScript()->appendFile($this->basePath('assets/DataTables-1.9.4/media/js/jquery.jeditable.js')); ?>
<?php $this->headScript()->appendFile($this->basePath('js/report-pdf/customerReport.js')); ?>

<div id="reportPdf" class="margin_top">

    <!--drop_down_list-->
    <div class="row">
        <div class="input-group">
            <select id="top_cus_report_select" class="form-control">
                <option value="Select Graph Type"><?php echo $this->translate('Select Graph Type') ?></option>
                <option value="All Customers"><?php echo $this->translate('All Customers') ?></option>
                <option value="Top 10 Customers"><?php echo $this->translate('Top 10 Customers') ?></option>
                <option value="Top 20 Customers"><?php echo $this->translate('Top 20 Customers') ?></option>
            </select>

            <span class="input-group-btn">
                <button class="btn btn-primary" id="top_cus_graph"><?php echo $this->translate('View Graph') ?></button>
            </span>
        </div>
    </div>

    <!--graph_display-->
    <div id="graph_div_cus" class="well margin_top">
        <div id="top_all_cus_graph_div">
            <h3 class="font_weight custom_heading_mar"><?php echo $this->translate('All Customers Graph') ?></h3>
            <div class="" id="cus_all" style="height: 300px;"></div>
        </div>

        <div id="top_ten_cus_graph_div">
            <h3 class="font_weight custom_heading_mar"><?php echo $this->translate('Top Ten Customers Graph') ?></h3>
            <div id="cus_ten" style="height: 300px;"></div>
        </div>

        <div id="top_twowenty_cus_graph_div">
            <h2 class="font_weight custom_heading_mar"><?php echo $this->translate('Top Twowenty Customers Graph') ?></h2>
            <div id="cus_twowenty" style="height: 300px;"></div>
        </div>
    </div>
</div>








