<div class="modal-dialog grn_modal serial_modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate('Product Types') ?></h4>
        </div>

        <div class="modal-body  ">
            <div id="serial_table_outer_wrapper" class="overflow_control">
                <table id="serial_data_table" class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th style="width: 30%"><?php echo $this->translate('Serial Code') ?></th>
                            <th style="width: 35%"><?php echo $this->translate('Available Qty') ?></th>
                            <th style="width: 35%"><?php echo $this->translate('Reduce Qty') ?></th>
                        </tr>
                    </thead>
                    <tbody id="serial_body"></tbody>
                </table>
            </div><!--table_outer_wrapper-->

            <div id="batch_table_outer_wrapper" class="overflow_control">
                <table id="batch_data_table" class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th style="width: 30%"><?php echo $this->translate('Batch Code') ?></th>
                            <th style="width: 35%"><?php echo $this->translate('Available Qty') ?></th>
                            <th style="width: 35%"><?php echo $this->translate('Reduce Qty') ?></th>
                        </tr>
                    </thead>
                    <tbody id="batch_body"></tbody>
                </table>
            </div><!--table_outer_wrapper-->

            <div id="batch_serial_table_outer_wrapper" class="overflow_control">
                <table id="batch_serial_data_table" class="table-striped margin_top_normal table-condensed">
                    <thead>
                        <tr>
                            <th style="width: 20%" class=""><?php echo $this->translate('Batch Code') ?></th>
                            <th style="width: 20%" class=""><?php echo $this->translate('Serial Code') ?></th>
                            <th style="width: 30%"><?php echo $this->translate('Available Qty') ?></th>
                            <th style="width: 30%"><?php echo $this->translate('Reduce Qty') ?></th>
                        </tr>
                    </thead>
                    <tbody id="batch_serial_body"></tbody>
                </table>
            </div><!--table_outer_wrapper-->

        </div>

        <div class="modal-footer">
            <button id="ok-product-button" class="btn btn-primary"><?php echo $this->translate('Save') ?></button>
            <button id="cancel-product-button" type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
        </div>

    </div>
</div>

<!--<td>
    <div class="input-group"><input id="20" type="textbox" name="batch_qty" class="form-control">
        <div id="addNewUomDiv" class="input-group-btn">
            <button id="addNewUom" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span id="uomAb" class="">g</span>&nbsp;<span class="glyphicon glyphicon-chevron-down"></span>
            </button>
        </div>
    </div>
</td>

-->
<!--<div id="addNewUomDiv" class='input-group-btn'>
    <button id ="addNewUom" type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'>
        <span id='uomAbList' class=''></span>&nbsp<span class='glyphicon glyphicon-chevron-down'></span>
    </button>
    <ul id="addUomUl" class="text-left dropdown-menu">
        <li id="sampleUomList" class="hidden">&nbsp&nbsp<input name="sUom" type="radio" value="" class="addNewUomRList" /><label for="" class="uomANameList">&nbsp&nbsp</label></li>
    </ul>
</div>-->