<?php  $this->headScript()->prependFile($this->basePath('js/inventory_adjustment/inventory-adjustment.js'));
?>

<?php
$form = $this->uploadForm;
$form->setAttribute('id', 'grnItemImportform');
// $form->setAttribute('action', $this->url('grn', array('action' => 'grn-item-import')));
$form->prepare();
?>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><?php echo $this->translate('Upload Adjustment Items') ?></h4>
        </div>

        <?php echo $this->form()->openTag($form); ?>
            <div class="modal-body" style="padding: 15px;">
                <div class="form-group">
                    <label class="control-label"><?php echo $this->translate('Select File') ?></label>
                    <div class="alert alert-info" style="padding: 10px; margin-bottom: 10px;"><?php echo $this->translate('Supported File Type: .CSV') ?>
                    <h5 class="font_weight"><?php echo $this->translate('File Import Instructions.') ?></h5>
                    <p class="margin_bottom_normal">
                        <?php echo $this->translate('The <strong> csv file </strong> can have headers like Item Code, UOM, Unit price, Quantity, Serial Code, Batch Code etc.') ?>
                    </p>
                    </div>
                    <?php echo $this->formElement($form->get('productFile')); ?>
                </div>

                <div class="form-horizontal">
                    <div class="form-group clearfix">
                        <label class="col-sm-5 control-label"><?php echo $this->translate('File Type') ?></label>
                        <div class="col-sm-7">
                            <?php echo $this->formElement($form->get('productFileType')); ?>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label for="" class="col-sm-5 control-label"><?php echo $this->translate('Character Encoding') ?></label>
                        <div class="col-sm-7">
                            <?php echo $this->formElement($form->get('productCharacterEncoding')); ?>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label for="" class="col-sm-5 control-label"><?php echo $this->translate('Delimiter') ?></label>
                        <div class="col-sm-7">
                            <?php echo $this->formElement($form->get('productDelimiter')); ?>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label for="" class="col-sm-5 control-label"><?php echo $this->translate('Batch Serial Normal Type') ?></label>
                        <div class="col-sm-7">
                            <?php echo $this->formElement($form->get('productBatchSerialType')); ?>
                        </div>
                    </div>
                
                    <div class="form-group clearfix">
                        <div class="checkbox">                            
                            <label class="col-sm-12 control-label">
                                <?php echo $this->formElement($form->get('productHeader')); ?> <?php echo $this->translate('Has Header') ?>
                            </label>
                        </div>
                    </div> 

                </div>
            </div><!-- ./modal-body -->

            <div class="modal-footer" style="padding: 15px;">
                <?php echo $this->formRow($form->get('productUploadBtn')); ?>
                <?php echo $this->formRow($form->get('productUploadCancelBtn')); ?>
            </div>
        <?php echo $this->form()->closeTag($form); ?>

    </div><!-- ./modal-content -->
</div><!-- ./modal-dialog -->