<?php $this->headScript()->appendFile($this->basePath('js/inventory_adjustment/inventory-adjustment.js')); ?>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><?php echo $this->translate("Map Adjustment Items"); ?></h4>
        </div>
        <div class="modal-body">
            <table id="adjustmentItemUploadTable" class="table table-striped">
                <thead class="panel panel-info">
                    <tr class="panel panel-heading">
                        <th class="col-lg-4 "><?php echo $this->translate('Header') ?></th>
                        <th class="col-lg-4 "><?php echo $this->translate('Row 1') ?></th>
                        <th class="col-lg-4 text-center"><?php echo $this->translate('Name of the Field') ?></th>
                    </tr>
                </thead>
                <tbody class="panel panel-body" id="adjustmentItemUploadBody">

                </tbody>
            </table>
            <input id="uploadedDataSet" type="hidden" value="">
        </div>
        <div class="modal-footer">
            <button id="adjustment-product-importcancel-button" class="btn btn-default"><?php echo $this->translate('Cancel') ?></button>
            <button id="adjustment-product-importdata-button" class="btn btn-primary"><?php echo $this->translate('Import') ?></button>
        </div>
    </div>
</div>
