<?php
$companyCurrencySymbol = $this->companyCurrencySymbol;
$inve_adjust_form = $this->adjusmentForm;
$inve_adjust_form->prepare();
$adjusmentData = $this->adjusmentData;
?>
<script>
    function goBack() {
        window.history.go(-1);
    }
</script>

<div id="load_product_type_div" class="modal fade" >
    <?php echo $load_product_type; ?>
</div>

<div class="margin_top">
    <?php echo $this->form()->openTag($inve_adjust_form); ?>

    <!--data_insert_section-->
    <div class="row">
        <div class="margin_top_normal"><!--style_purpose-->
            <div class="col-lg-5 col-md-5 col-sm-5">

                <div class="form-group">
                    <label for="location_name" class="col-lg-5 control-label">
                        <?php echo $this->translate("Location"); ?>
                    </label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($inve_adjust_form->get('location_name')); ?>
                    </div>
                    <div class="hiddenid" id="location_id"></div>
                </div>

                <div class="form-group">
                    <label for="adjustment" class="col-lg-5 control-label">
                        <?php echo $this->translate("Adjustment Type"); ?>
                    </label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($inve_adjust_form->get('adjustment_type')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="adjusment_date" class="col-lg-5 control-label">
                        <?php echo $this->translate("Adjustment Date"); ?>
                    </label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($inve_adjust_form->get('issue_date')); ?>
                    </div>
                </div>

            </div><!--./col-->

            <div class="col-lg-5 col-md-5 col-sm-5 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">

                <div class="form-group"><!--payment_term-->
                    <label for="ref_no" class="col-lg-5 control-label">
                        <?php echo $this->translate('Adjustment No'); ?>
                    </label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($inve_adjust_form->get('inve_no')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="duo_to" class="col-lg-5 control-label">
                        <?php echo $this->translate("Reason"); ?>
                    </label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($inve_adjust_form->get('reason')); ?>
                    </div>
                </div>

            </div><!--./col-->
        </div><!--margin_top-->
    </div><!--row-->


    <!--table-->
    <div class="col-lg-12">
        <div class="table table-responsive">
            <table class="table table-striped margin_top_normal table-condensed" id="item_tbl">
                <thead>
                    <tr>
                        <th style="width: 15%"><?php echo $this->translate("Item Code"); ?></th>
                        <th style="width: 25%"><?php echo $this->translate("Item Name"); ?></th>
                        <th class="text-right" style="width: 20%"><?php echo $this->translate("Quantity"); ?></th>
                        <th style="width: 2%"</th>
                        <th class="text-right" style="width: 18%"><?php echo $this->translate("Unit Price ({$companyCurrencySymbol})"); ?></th>
                        <th class="text-right" style="width: 20%"><?php echo $this->translate("Total ({$companyCurrencySymbol})"); ?></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody id="form_row">
                    <?php
                    $total = 0.00;
                    foreach ($adjusmentData['aProducts'] as $adjusmentProduct) {
                        $aQty = 0;
                        if ($adjusmentData['aTID'] == 2) {
                            if ($adjusmentProduct['bP']) {
                                foreach ($adjusmentProduct['bP'] as $data) {
                                    $aQty += $data['bQ'];
                                }
                            } else if (!empty($adjusmentProduct['sP'])) {
                                $aQty = sizeof($adjusmentProduct['sP']);
                            } else {
                                $aQty = $adjusmentProduct['aPQ'];
                            }
                        } elseif ($adjusmentData['aTID'] == 1) {
                            if ($adjusmentProduct['bP']) {
                                foreach ($adjusmentProduct['bP'] as $data) {
                                    $aQty += $data['bQ'];
                                }
                            } else if (!empty($adjusmentProduct['sP'])) {
                                $aQty = sizeof($adjusmentProduct['sP']);
                            } else {
                                $aQty = $adjusmentProduct['aPQ'];
                            }
                        }
                        $subTotal = $aQty * ($adjusmentProduct['aP']) ? $aQty * ($adjusmentProduct['aP']) : 0;
                        $total += $subTotal;
                        ?>
                        <tr class="">
                            <td id='code'><?php echo $adjusmentProduct['aPC']; ?></td>
                            <td id='name'><?php echo $adjusmentProduct['aPN']; ?></td>
                            <td id='quantity' class='text-right'><?php echo $aQty; ?></td>
                            <td><span id="uomName" class='text-right'><?php echo $adjusmentProduct['aPUom']; ?></span></td>
                            <td id='unit' class='text-right'><?php echo $adjusmentProduct['aP']; ?></td>
                            <td id='ttl' class='text-right'><?php echo number_format($subTotal, 2); ?></td>
                            <td></td>
                            <td>
                                <?php
                                if (empty($adjusmentProduct['sP']) && empty($adjusmentProduct['bP'])) {

                                } else {
                                    ?>
                                    <a data-toggle="modal" href='#<?php echo $adjusmentProduct['aPC'] . 'viewSubProducts' ?>'style = "font-size: 18px;" class ='glyphicon glyphicon-expand'></a>
                                    <?php
                                }
                                ?>
                            </td>
                        </tr>
                        <?php
                    }
                    ?>

                    <!--styling_purpose-->
                    <tr>
                        <td>&nbsp;</td>
                        <td colspan="4"></td>
                        <td></td>
                        <td colspan="3"></td>
                    </tr>

                    <tr><!--total-->
                        <td></td>
                        <td colspan="4" class="text-right"><h4 class="font_weight"><?php echo $this->translate("Total"); ?></h4></td>
                        <td class="text-right"><h4 id="finaltotal" class="font_weight"><?php echo$companyCurrencySymbol . "&nbsp;" . number_format($total, 2); ?></h4></td>
                        <td colspan="3"></td>
                    </tr>
                </tbody>
            </table>

        </div><!--table_responsive-->
    </div><!--./col-->

    <!--comment-->
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4"><!--comment-->
            <label for="cmnt" class="">
                <?php echo $this->translate("Comment"); ?>
            </label>
            <?php echo $this->formRow($inve_adjust_form->get('cmnt')); ?>
        </div>
    </div>

    <?php echo $this->form()->closeTag(); ?>
    <div class="row">
        <div class="col-lg-4 col-sm-4"><!--button-->
            <div class="btn_margin_top">
                <button  class="btn btn-primary xs_full_width" onclick="goBack()"><?php echo $this->translate('Back') ?></button>
            </div>
        </div>
    </div><!--row-->
</div>

<!--modal-->
<?php
foreach ($adjusmentData['aProducts'] as $adjusmentProduct) {
    if (empty($adjusmentProduct['sP']) && empty($adjusmentProduct['bP'])) {

    } else {
        ?>
        <div class="modal fade" id='<?php echo $adjusmentProduct['aPC'] . 'viewSubProducts' ?>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4>Items</h4>
                    </div>

                    <div class="modal-body">
                        <?php
                        if (!empty($adjusmentProduct['bP'])) {
                            ?>
                            <div class="panel panel-default small_panel_heading">
                                <div class="panel-heading">
                                    <h5 class="font_weight"><?php echo $this->translate("Batch items"); ?></h5>
                                </div>

                                <div class="panel-body">

                                    <div class="table-responsive">
                                        <table class="table table-striped" style="margin-bottom: 50px;">
                                            <thead>
                                                <tr>
                                                    <th><?php echo $this->translate("BatchCode"); ?></th>
                                                    <th><?php echo $this->translate("Qty"); ?></th>
                                                    <th><?php echo $this->translate("Man: Date"); ?></th>
                                                    <th><?php echo $this->translate("Exp: Date"); ?></th>
                                                    <th><?php echo $this->translate("Warranty(Days)"); ?></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <?php
                                                foreach ($adjusmentProduct['bP'] as $batchProduct) {
                                                    ?>
                                                    <tr>
                                                        <td><?php echo $batchProduct['bC']; ?></td>
                                                        <td><?php echo $batchProduct['bQ']; ?></td>
                                                        <td><?php echo $batchProduct['bMD']; ?></td>
                                                        <td><?php echo $batchProduct['bED']; ?></td>
                                                        <td><?php echo $batchProduct['bW']; ?></td>
                                                    </tr>
                                                <?php } ?>
                                            </tbody>
                                        </table>
                                    </div>

                                </div><!--panel_body-->
                            </div><!--panel_default-->
                            <?php
                        }
                        ?>
                        <?php
                        if (!empty($adjusmentProduct['sP'])) {
                            ?>
                            <div  class="panel panel-default small_panel_heading">
                                <div class="panel-heading">
                                    <h5 class="font_weight"><?php echo $this->translate("Batch/Serial Item List"); ?></h5>
                                </div>

                                <div class="panel-body overflow_control">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th><?php echo $this->translate("Serial Code"); ?></th>
                                                    <th><?php echo $this->translate("Batch Code"); ?></th>
                                                    <th><?php echo $this->translate("Warranty"); ?></th>
                                                    <th><?php echo $this->translate("Exp: Date"); ?></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <?php
                                                foreach ($adjusmentProduct['sP'] as $serialProduct) {
                                                    ?>
                                                    <tr>
                                                        <td><?php echo $serialProduct['sC']; ?></td>
                                                        <td><?php echo isset($serialProduct['bC']) ? $serialProduct['bC'] : '-'; ?></td>
                                                        <td><?php echo $serialProduct['sW']; ?></td>
                                                        <td><?php echo $serialProduct['sED']; ?></td>
                                                    </tr>
                                                <?php } ?>
                                            </tbody>
                                        </table>
                                    </div>
                                </div><!--panel-body-->
                            </div><!--panel-default-->
                        <?php } ?>

                    </div><!--modal_body-->

                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
                    </div>
                </div>
            </div>
        </div>

        <?php
    }
}
?>