<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('Adjustment No') ?></th>
                <th><?php echo $this->translate('Reason') ?></th>
                <th><?php echo $this->translate('Date') ?></th>
                <th class="text-center"><?php echo $this->translate('State') ?></th>
                <th class="text-right"><?php echo $this->translate('View') ?></th>
                <th class="text-right"><?php echo $this->translate('Print View') ?></th>
                <th class="text-right"><?php echo $this->translate('Edit') ?></th>
                <th class="text-center"><?php echo $this->translate('Delete') ?></th>
                <th class="text-center"><?php echo $this->translate('Attachments') ?></th>
            </tr>
        </thead>

        <tbody>
            <?php
            foreach ($this->adjustment as $key => $adjustment) {
                $adjustment = (object) $adjustment;
                $state = ucfirst($this->statuses[$adjustment->goodsIssueStatus]);
                $status = $adjustment->goodsIssueStatus;
                switch ($status) {
                    case "1":
                        $style = "label label-primary";
                        break;
                    case "2":
                        $style = "label label-default";
                        break;
                    case "3":
                        $style = "label label-success";
                        break;
                    case "4":
                        $style = "label label-warning";
                        break;
                    case "5":
                        $style = "label label-primary";
                        break;
                    case "6":
                        $state = 'Open';
                        $style = "label label-danger";
                        break;
                    default :
                        $style = "label label-default";
                }
                ?>
                <tr>
                    <td> <?php echo $adjustment->goodsIssueCode; ?></td>
                    <td> <?php
                        echo $adjustment->goodsIssueReason;
                        ?></td>
                    <td><?php echo $this->userDateFormatHelper($adjustment->goodsIssueDate, $this->dateFormat); ?></td>
                    <td class="text-center"><span class="<?php echo $style; ?>"><?php echo $state; ?></span></td>
                    <td class="text-right">
                        <a href="<?php echo $this->url('inventoryAdjustment', array('action' => 'adjustmentView', 'param1' => $adjustment->goodsIssueID)); ?>"><span class="pointer fa fa-search-plus"></span></a>
                    </td>
                    <td class="text-right">
                        <span class="preview link_color" style="cursor:pointer" data-href="<?php echo $this->url('inventoryAdjustment', array('action' => 'preview', 'param1' => $adjustment->goodsIssueID)); ?>">
                            <span id="<?php echo $adjustment->goodsIssueID; ?>" class="glyphicon glyphicon-eye-open openlist"></span>
                        </span>
                    </td>
                    <td class="text-right">
                        <a class="editAdjustment" onclick="editAdjustment(<?php echo $adjustment->goodsIssueID; ?>)">
                            <span class="pointer fa fa-pencil-square-o custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <?php if ($status != 5) { ?>
                            <a><span onclick="deleteAdjustment(<?php echo $adjustment->goodsIssueID; ?>, '<?php echo $adjustment->goodsIssueReason; ?>')" class="pointer fa fa-trash-o custom_font_size"></span></a>
                        <?php } ?>
                    </td>
                    <td class="text-center">
                        <span id="<?php echo $adjustment->goodsIssueID; ?>" class="link_color doc_attachments" data-adjustment-related-id="<?php echo $adjustment->goodsIssueID; ?>" style="cursor:pointer"><span class="glyphicon glyphicon-paperclip"></span></span>
                    </td>
                    <?php
                }
                if (count($this->adjustment) == 0) {
                    ?>
                <tr class="not_found">
                    <td colspan="7"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>

        </tbody>
    </table>
</div>

<?php
if (!isset($this->paginated)) {
    echo $this->paginationControl(
            $this->adjustment, 'sliding', array('partial/paginator.phtml', 'inventoryAdjustment'), array(
        'route' => 'inventoryAdjustment', 'action' => 'view'
            )
    );
}
?>