<?php
$companyCurrencySymbol = $this->companyCurrencySymbol;
$inveAdjustForm = $this->inventoryAdjustForm;
$inveAdjustForm->prepare();
?>

<?php $this->headScript()->captureStart(); ?>
var companyCurrencySymbol =  <?php echo "'$companyCurrencySymbol'"; ?>;
<?php $this->headScript()->captureEnd(); ?>

<div id="addNegativeAdjustmentProductsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->addNegativeAdjustmentProducts; ?>
</div>
<div class="modal fade" id="addPositiveAdjustmentProductsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->addPositiveAdjustmentProducts; ?>
</div>
<div class="margin_top form-horizontal">
    <?php echo $this->form()->openTag($inveAdjustForm); ?>
    <!--data_insert_section-->
    <div class="row">
        <div class="margin_top_normal"><!--style_purpose-->

            <div class="col-lg-5 col-md-5 col-sm-5">
                <div class="form-group"><!--location-->
                    <label for="locationName" class="col-lg-5 control-label">
                        <?php echo $this->translate("Location"); ?>
                        <font style="color: red">*</font>
                    </label>
                    <div class="col-lg-7">
                        <select id="locationName" name="locationName" class="form-control selectpicker show-tick" data-live-search="true">
                            <?php
                            foreach ($this->userLocations as $lID => $lN) :
                                echo '<option value=' . $lID . ' ' . (($lID == $this->userActiveLocID) ? 'selected="selected"' : '') . '>' . $lN . '</option>';
                            endforeach;
                            ?>
                        </select>
                    </div>
                    <div class="hiddenid" id="location_id"></div>
                </div>

                <div class="form-group"><!--adjustment-->
                    <label for="adjustment" class="col-lg-5 control-label">
                        <?php echo $this->translate("Adjustment Type"); ?>
                        <font style="color: red">*</font>
                    </label>
                    <div class="col-lg-7">
                        <select class='form-control' name="adjustmentType" id="adjustmentType">
                            <option value="empty" selected="true"><?php echo $this->translate('Select Type') ?></option>
                            <?php
                            foreach ($this->goodsIssueTypes as $g):
                                echo '<option value="' . $g->goodsIssueTypeID . '">' . $g->goodsIssueTypeName . '</option>';
                            endforeach;
                            ?>
                        </select>
                    </div>
                </div>

                <div class="form-group"><!--adjustment_date-->
                    <label for="adjusmentDate" class="col-lg-5 control-label">
                        <?php echo $this->translate("Adjustment Date"); ?>
                        <font style="color: red">*</font>
                    </label>
                    <div class="col-lg-7">
                        <input type="text" style="" class="datepicker form-control pointer_cursor transparent" readonly="true" id="adjusmentDate" data-date-format="<?php echo $this->dateFormat ?>" placeholder="<?php echo $this->dateFormat ?>">
                    </div>
                </div>
                <div class="form-group">
                    <label for="dimensionType" class="col-lg-5 control-label">
                        <?php echo $this->translate('Dimension'); ?>
                    </label>
                    <div class="col-lg-7">
                        <a data-toggle="modal" id="dimensionView" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></a>
                    </div>
                </div>
            </div><!--./col-->

            <div class="col-lg-5 col-md-5 col-sm-5 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
                <div class="form-group">
                    <label for="refNo" class="col-lg-5 control-label">
                        <?php echo $this->translate('Adjustment No'); ?>
                        <font style="color: red">*</font>
                    </label>
                    <div class="col-lg-7">
                        <input readonly type="text" class="form-control" disabled id="refNo" value="<?php echo $this->ref_no; ?>">
                        <input type="hidden" id="locRefID">
                    </div>
                </div>

                <div class="form-group"><!--ref_num-->
                    <label for="duo_to" class="col-lg-5 control-label">
                        <?php echo $this->translate("Description"); ?>
                        <font style="color: red">*</font>
                    </label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($inveAdjustForm->get('reason')); ?>
                    </div>
                </div>

                <div class="form-group" id="adjustmentUpload">
                    <label class="col-lg-5 control-label">
                        <?php echo $this->translate('Import Adjustment Items')?>
                    </label>
                     <div class="col-lg-1">
                        <a data-toggle="modal" id="adjustmentUploadView"  class="btn btn-default"><i class="glyphicon glyphicon-upload"></i></a>
                    </div>  
                </div>
                <div class="form-group">
                    <label for="dimensionType" class="col-lg-5 control-label">
                        <?php echo $this->translate('Select Documents'); ?>
                    </label>
                    <div class="col-lg-7 createPoDiv">
                        <input type="file" name="files[]" id="documentFiles" multiple>
                    </div>
                    <div class="col-lg-4 updatePoDiv hidden">
                        <input type="file" name="files[]" id="editDocumentFiles" multiple class="btn btn-default fromControl" style="border-color: white">
                    </div>
                    <div class="col-lg-3 text-right updatePoDiv_view hidden">
                        <button class="btn btn-default fromControl" type="button" id='viewUploadedFiles'><i class="glyphicon glyphicon-eye-open"></i></button>
                    </div>
                </div>  
            </div><!--./col-->

        </div><!--margin_top-->
    </div><!--row-->

    <!--table-->
    <div class="col-lg-12 margin_top" id="productTable">
        <div class="table table-responsive">
            <div id="div_overlay" class="overlay"></div>

            <table class="adjustment-table table table-striped margin_top_normal table-condensed" id="adjustmentProductTable">
                <thead>
                    <tr>
                        <th class="" style="width: 25%"><?php echo $this->translate("Item Code or Name"); ?></th>
                        <th class="available-qty hidden" style="width: 20%"><?php echo $this->translate("Available Qty"); ?></th>
                        <th class="" style="width: 15%"><?php echo $this->translate("Quantity"); ?></th>
                        <th class="" style="width: 15%"><?php echo $this->translate("Unit Price"); ?></th>
                        <th class="text-right" style="width: 20%"><?php echo $this->translate("Total"); ?></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody id="formRow">
                    <tr id='preSetSample' class="hidden">
                        <td>
                            <input disabled name="productCode" type="text" class="form-control" />
                        </td>
                        <td class="available-qty hidden">
                            <input type="text" name="availableQuantity" class="form-control text-right reduce_le_ri_padding" id="availableQuantity" autocomplete="off" value="">
                        </td>
                        <td>
                            <div class="input-group">
                                <input disabled name="qty" type="text" class="form-control"/>
                                <div class="input-group-btn">
                                    <button id="addNewUom" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span id="uomName" class="uom-name"></span>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input name="unitPrice" type="text" class="form-control"/>
                                <strong class='input-group-addon'><?php echo $companyCurrencySymbol; ?></strong>
                            </div>
                        </td>
                        <td id='ttl' class='text-right'></td>
                        <td class="text-right"><button class="deleteAdjustment btn btn-default"><i class='glyphicon glyphicon-trash delete' id=''></i></button></td>
                    </tr>
                </tbody>

                <tbody id="addNewItemRow">
                    <tr><!--item_insert-->
                        <td>
                            <select class="form-control selectpicker show-tick"  id="itemCode" name="itemCode" data-live-search="true">
                                <option class="itemCodeDefaultSelect" value=""><?php echo $this->translate('Select Item Code or Name') ?></option>
                            </select>
                        </td>
                        <td class="available-qty hidden">
                            <div class="input-group">
                                <?php echo $this->formRow($inveAdjustForm->get('availableQuantity')); ?>
                            </div>
                        </td>
                        <td class="adding-qty">
                            <div class="input-group">
                                <?php echo $this->formRow($inveAdjustForm->get('qty')); ?>
                            </div>
                        </td>
                        <td class="unit-price">
                            <div class="input-group">
                                <?php echo $this->formRow($inveAdjustForm->get('unitPrice')); ?>
                                <strong class="input-group-addon"><?php echo $companyCurrencySymbol; ?></strong>
                            </div>
                        </td>
                        <td class="text-right">
                            <label id="total">0.00</label>
                        </td>
                        <td class="text-right"><strong class="btn btn-default" id="add_item"><i class="glyphicon glyphicon-plus"></i></strong></td>
                    </tr>

                    <tr>
                        <td colspan="7">&nbsp;</td>
                    </tr>

                    <tr><!--total-->
                        <td colspan="3"><h4 class="font_weight"><?php echo $this->translate("Total ") . $companyCurrencySymbol; ?></h4></td>
                        <td class="text-right"><h4 id="finaltotal" class="font_weight">0.00</h4></td>
                        <td colspan="3"></td>
                    </tr>
                </tbody>
            </table>

        </div><!--table_responsive-->
    </div><!--./col-->

    <!--comment-->
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4"><!--comment-->
            <label for="cmnt" class="">
                <?php echo $this->translate("Comment"); ?>
            </label>
            <?php echo $this->formRow($inveAdjustForm->get('cmnt')); ?>
        </div>



        <div class="col-lg-4 col-sm-4"><!--button-->
            <div class="btn_margin_top">
                <input type='reset' id="reset" value="<?php echo $this->translate("Cancel"); ?>" class='btn btn-default'>
                <button class="btn btn-primary" type="submit" id="saveInventoryAdjustment"><?php echo $this->translate("Save"); ?></button>
            </div>
        </div>
    </div><!--row-->
    <?php echo $this->form()->closeTag(); ?>
</div><!--margin_top-->
<div class="modal fade" id="refNotSet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $refNotSet; ?>
</div>

<div class="modal fade" id="adjustmentImportModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $adjustmentUploadView; ?>
</div>

<div class="modal fade" id="adjustmentImportSecondModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $adjustmentItemImpotView; ?>
</div>

<div class="modal fade" id="adjustmentImportUomModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $adjustmentItemUomUploadView; ?>
</div>
<div class="modal fade" id="addDimensionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->dimensionAddView; ?>
</div>