<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate('Edit') ?></h4>
        </div>

        <div class="modal-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="ref_no" class="col-lg-3 col-md-3 col-sm-3 control-label">
                        <?php echo $this->translate('Adjustment No'); ?>
                    </label>
                    <div class="col-lg-9 col-md-9 col-sm-9">
                        <input readonly type="text" class="form-control" id="ref_no" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <label for="reason" class="col-lg-3 col-md-3 col-sm-3 control-label">
                        <?php echo $this->translate('Reason'); ?>
                    </label>
                    <div class="col-lg-9 col-md-9 col-sm-9">
                        <input type="text" class="form-control" id="reason">
                    </div>
                </div>
                <input type="hidden" id="adjusmentID">
            </div>
        </div><!--modal_body-->

        <div class="modal-footer">
            <button id="ok-adjus-edit-button" class="btn btn-primary"><?php echo $this->translate('Save') ?></button>
            <button id="cancel-adjus-edit-button" type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
        </div>

    </div>
</div>