<div class="well clearfix well_custom_padding margin_top">
    <div class="col-lg-3">
        <label class="remove_weight"><?php echo $this->translate('Search Adjustment') ?></label>
    </div>
    <div class="col-lg-7 col-md-8 col-sm-8 xs-margin-bottom">
        <select id="searchAdjustment" class=" form-control col-lg-3 selectpicker" title="" data-live-search="true">
            <option value=""><?php echo $this->translate('Select Adjustment') ?></option>
        </select>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4">
        <button type="button" class="btn btn-default btn-block" id="adjustmentSearchClear"><?php echo $this->translate("All Adjustments"); ?></button>
    </div>
</div>

