<div id="load_edit_adjustment_div" class="modal fade" >
    <?php echo $load_edit_adjustment; ?>
</div>

<div class="">
    <?php
    if (isset($this->adjustmentSearchHeader)):
        echo $this->adjustmentSearchHeader;
    endif;
    ?>
</div>
<div class="row">
    <div id="adjustmentList" class="margin_top_normal">
        <?php
        if (isset($this->adjustmentList)):
            echo $this->adjustmentList;
        endif;
        ?>
    </div>
</div>
<div class="modal fade" id="viewAttachmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->attachmentsView; ?>
</div>
