<?php
$form = $this->addDivisionForm;
$form->setAttribute('id', 'create-division-form');
?>

<div class="job-type-form-container margin_top">
    <div class="well well_heading">
        <h5 class="font_weight add"><?php echo $this->translate('Add Division') ?></h5>
        <h5 class="font_weight update hidden"><?php echo $this->translate('Update Division') ?></h5>
    </div>

    <div class="well well_body">
        <?php
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formHidden($form->get('divisionID'));
        ?>

        <div class="form-group">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Division Name') ?><font color="red"> *</font></label>
                <div class="">
                    <?php echo $this->formRow($form->get('divisionName')); ?>
                </div>
            </div>

            <!--cancel&update-->
            <div class="col-lg-4 update">
                <label class="control-label label_bottom_margin">&nbsp;</label>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary update hidden" id="update"><?php echo $this->translate('Update') ?></button>
                    <button type="reset" class="btn btn-default reset update hidden"><?php echo $this->translate('Cancel') ?></button>
                </div>
            </div>

            <!--reset&add_new-->
            <div class="col-lg-4">
                <label class="control-label label_bottom_margin">&nbsp;</label>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary add " id="add"><?php echo $this->translate('Add New') ?></button>
                    <button type="reset" class="btn btn-default add reset"><?php echo $this->translate('Reset') ?></button>
                </div>
            </div>
        </div><!--form_group-->

        <?php
        echo $this->form()->closeTag($form);
        ?>
    </div><!--well-->
</div><!--job_type_form_container-->

<!--Search-->
<div class="well clearfix well_custom_padding margin_top jobType">
    <form class="division-search" id="division-search" method="post" action="">
        <div class="col-lg-3">
            <label class="remove_weight"><?php echo $this->translate('Search Division ') ?></label>
        </div>
        <div class="col-lg-9 xs-search-field">
            <div class=" input-group">
                <input type="text" class="search form-control" id ='division-search-keyword' placeholder="<?php echo $this->translate('Enter Division') ?>"/>
                <span class="input-group-btn">
                    <button class="btn btn-default search_btn_css" type="submit" id="div-search"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default reset" type="reset"><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </form>
</div>

<!--paginate job type list add in here-->
<div id="division-list" class="margin_top">
    <?php echo $this->partial('job-card/divisions/list', array('division' => $this->division, 'paginated' => $this->paginated)); ?>
</div>