<?php 
$maintainProject = $this->maintainProject;
?>
<div class="margin_top">
	<div class="form-horizontal">
		<div class="well clearfix well_custom_padding margin_top sales_order_search" id="costSearch">
		        <div class="row" style="padding: 0px 10px 0px 10px">
		            
		            <div class="col-lg-4 col-md-2 col-sm-3 col-xs-5" style="margin: 0px 10px 0px 10px">
                        <div class="form-group">
                            <?php if($maintainProject == 1) { ?>
                            <label class="control-label text-center"><?php echo $this->translate('Project / Job') ?></label>
                            <?php } else {?>
                            <label class="control-label text-center"><?php echo $this->translate('Job') ?></label>
                            <?php }?>
                            <select class="form-control selectpicker show-tick" id="projectJobCode" name="projectJobCode" data-live-search="true">
                                <?php if($maintainProject == 1) { ?>
                                <option value=""><?php echo $this->translate('Select Project/Job') ?></option>
                                <?php } else {?>
                                <option value=""><?php echo $this->translate('Select Job') ?></option>
                                <?php } ?>
                            </select>
                        </div>
		            </div>

		            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5 text-right" style="margin: 0px 10px 0px 10px">
	                    <div class="form-group" style="padding-top: 26px">
	                        <button type="button" class="btn btn-primary" id="btnManage"><?php echo $this->translate('Get Details') ?></button>
	                    </div>
		            </div>

		        </div>
		    </div>


		    <div class="panel-group margin_bottom" id="job-cost">
		    	
		    	<div class="panel panel-default hidden" id="job-task">
    	            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#costoftask">
    	                <h4 class="panel-title"><?php echo $this->translate('Cost of Task') ?></h4>
    	            </div>
    	            <div id="costoftask" class="panel-collapse in" style="height: auto;">
    	                <div class="panel-body">
                            <table class="table  table-striped margin_top_normal table-condensed" id="cost-of-task-table">
                                <thead>
                                    <tr>
                                        <th style="width: 8%" class="th_code"><?php echo $this->translate('Task Code') ?></th>
                                        <th style="width: 17%" class="th_code"><?php echo $this->translate('Task Name') ?></th>
                                        <th style="width: 10%" class="text-center"><?php echo $this->translate('Cost per Unit') ?></th>
                                        <th style="width: 10%" class="text-center"><?php echo $this->translate('Rate per Unit') ?></th>
                                        <th style="width: 10%" class="text-center"><?php echo $this->translate('UOM') ?></th>
                                        <th style="width: 11%" class="text-center"><?php echo $this->translate('Quantity') ?></th>
                                        <th style="width: 12%" class="text-center"><?php echo $this->translate('Total Cost') ?></th>
                                        <th style="width: 12%" class="text-center"><?php echo $this->translate('Total Rate') ?></th>
                                        <th style="width: 10%" class="text-center"><?php echo $this->translate('Add To Invoice') ?></th>

                                    </tr>
                                </thead>

                                <tbody id="add-new-task-row">
                                    <tr class="add-task-row sample hidden">
                                        <td class="clearfix">
                                            <input type="text" class="form-control" id="taskCode" disabled="true">
                                        </td>
                                        <td class="clearfix">
                                            <input type="text" class="form-control" id="taskName" disabled="true">
                                        </td>
                                        <td class="clearfix">
                                            <input type="text" class="form-control text-right" id="costPerUnit">
                                        </td>
                                        <td class="clearfix">
                                            <input type="text" class="form-control text-right" id="ratePerUnit">
                                        </td>
                                        <td class="clearfix">
                                            <input type="text" class="form-control text-right" id="uom" disabled="true">
                                        </td>
                                        <td class="clearfix">
                                            <input type="text" class="form-control text-right" id="quantity" disabled="true">
                                        </td>
                                        <td class="clearfix">
                                            <input type="text" class="form-control text-right" id="totalCost" disabled="true">
                                        </td>
                                        <td class="clearfix">
                                            <input type="text" class="form-control text-right" id="totalRate" disabled="true">
                                        </td>
                                        
                                        <td class="clearfix add" style="padding-left: 2.5%">
                                            <button type="button" id="addPayment" class="add-payment btn btn-default">
                                                <i class="fa fa-plus"></i>
                                            </button> 
                                        </td>
                                         <td class="clearfix remove hidden" style="padding-left: 2.5%">
                                            <button type="button" id="removePayment" class="remove-payment btn btn-default">
                                                <i class="fa fa-trash"></i>
                                            </button> 
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
	                </div>
	            </div>

	            <div class="panel panel-default hidden" id="cost-of-metarials">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#costofmetarials">
                        <h4 class="panel-title"><?php echo $this->translate('Cost of Materials') ?></h4>
                    </div>

                    <div id="costofmetarials" class="panel-collapse in" style="height: auto;">
                        <div class="panel-body">
                            <table class="table  table-striped margin_top_normal table-condensed" id="cost-of-materials-table">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" class="th_code"><?php echo $this->translate('Item Code / Item Name') ?></th>
                                        <th style="width: 10%" class="th_code"><?php echo $this->translate('UOM') ?></th>
                                        <th style="width: 20%" class="th_code"><?php echo $this->translate('Unit Price') ?></th>
                                        <th style="width: 20%" class="th_code"><?php echo $this->translate('Quantity') ?></th>
                                        <th style="width: 20%" class="th_code"><?php echo $this->translate('Total Cost') ?></th>
                                        <th style="width: 10%" class="th_code"><?php echo $this->translate('Add To Invoice') ?></th>
                                    </tr>
                                </thead>

                                <tbody id="add-new-material-row">
                                    <tr class="add-material-row sample hidden">
                                        <td class="clearfix">
                                            <input type="text" class="form-control" id="itemCode" disabled="true">
                                        </td>
                                        <td class="clearfix">
                                            <input type="text" class="form-control" id="uom" disabled="true">
                                        </td>
                                        <td class="clearfix">
                                            <input type="text" class="form-control text-right" id="unitPrice">
                                        </td>
                                        <td class="clearfix">
                                            <input type="text" class="form-control text-right" id="soldQty" disabled="true">
                                        </td>
                                        <td class="clearfix">
                                            <input type="text" class="form-control text-right" id="totalValue" disabled="true">
                                        </td>
                                        <td class="clearfix add-item" style="padding-left: 2.5%">
                                            <button type="button" id="" class="add-payment btn btn-default">
                                                <i class="fa fa-plus"></i>
                                            </button> 
                                        </td>
                                         <td class="clearfix remove-item hidden" style="padding-left: 2.5%">
                                            <button type="button" id="" class="remove-payment btn btn-default">
                                                <i class="fa fa-trash"></i>
                                            </button> 
                                        </td>
                                        <td class="clearfix edit-item hidden" style="padding-left: 2.5%">
                                            <button type="button" id="" class="edit-payment btn btn-default">
                                                <i class="fa fa-edit"></i>
                                            </button> 
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

	            <div class="panel panel-default cost-container hidden" style="overflow: visible;" id="cost-of-miscellaneous">
                    <div class="panel-heading" >
                        <h4 class="panel-title"><?php echo $this->translate('Cost of Miscellaneous') ?></h4>
                    </div>

                    <div>
                        <div class="panel-body">
                            <table class="table  table-striped margin_top_normal table-condensed" id="cost-of-miscellaneous-table">
                                <thead>
                                    <tr>
                                        <th style="width: 30%" class="th_code"><?php echo $this->translate('Cost Type') ?></th>
                                        <th style="width: 20%" class="th_code"><?php echo $this->translate('Unit Cost') ?></th>
                                        <th style="width: 20%" class="th_code"><?php echo $this->translate('Unit') ?></th>
                                        <th style="width: 20%" class="th_code"><?php echo $this->translate('Actual Cost') ?></th>
                                        <th style="width: 10%" class="th_code"><?php echo $this->translate('Add To Payment') ?></th>
                                    </tr>
                                </thead>

                                <tbody id="add-other-cost-row">
                                    <tr class="add-other-cost-original">
                                        <td class="select-cost">
                                            <select class="form-control selectpicker show-tick" id="costType" name="costType" data-live-search="true">
                                                <option class="itemCodeDefaultSelect"  value=""><?php echo $this->translate('Select Cost Type') ?></option>
                                            </select>
                                        </td>
                                        <td class='selected-cost hidden'>
                                            <input type="text" class="form-control" id="selectedType" >
                                        </td>
                                        <td class="clearfix">
                                            <input type="text" class="form-control" id="other-cost-unit-price" >
                                        </td>
                                        <td class="clearfix">
                                            <input type="text" class="form-control text-right" id="other-cost-unit">
                                        </td>
                                        <td class="clearfix">
                                            <input type="text" class="form-control text-right" id="other-cost-total" disabled="true">
                                        </td>
                                        <td class="clearfix add-normal-cost" id="add-normal-cost" style="padding-left: 2.5%">
                                            <button type="button" id="" class="add-cost btn btn-default">
                                                <i class="fa fa-plus"></i>
                                            </button> 
                                        </td>
                                         <td class="clearfix remove-normal-cost hidden" id="remove-normal-cost" style="padding-left: 2.5%">
                                            <button type="button" id="" class="remove-cost btn btn-default">
                                                <i class="fa fa-trash"></i>
                                            </button> 
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row hidden" id="productPanel_footer">
                <div class="col-lg-8 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-sm-4">
                    <div class="text-right">
                        <button class="btn btn-primary" id="save-cost"><?php echo $this->translate('Convert To Invoice') ?></button>
                    </div>
                </div>
            </div>

            <div id="default-job-list">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><?php echo $this->translate('Job Code') ?></th>
                            <th class="text-center"><?php echo $this->translate('Job Name') ?></th>
                            <th class="text-center"><?php echo $this->translate('Job Type') ?></th>
                            <th></th>
                            
                        
                        </tr>
                    </thead>
                    <tbody>
                        <?php
                        foreach ($this->jobs as $job) {
                            $job = (object) $job;
                            ?>
                            <tr data-job-id="<?php echo $job->jobId; ?>" data-entity-id="<?php echo $job->entityID; ?>" data-job-name="<?php echo $job->jobName; ?>" data-job-type="<?php echo $job->jobTypeID; ?>" data-employee-address="<?php echo $employee->employeeAddress; ?>"  data-job-contractor-id="<?php echo $job->contractorID; ?>">
                                <td class="jobCode"><?php echo $job->jobReferenceNumber; ?></td>
                                <td class="jobName text-center"><?php echo $job->jobName; ?></td>
                                <td class="jobType text-center"><?php echo $job->jobTypeName; ?></td>
                                <td class="text-center">
                                    <a class="btn btn-primary  getDetailsRawBtn">
                                        <span>Get Details</span>
                                    </a>
                                </td>
                            </tr>
                            <?php
                        }
                        ?>
                    </tbody>
                </table>
                <?php
                if ($this->paginated) {
                    echo $this->paginationControl(
                            $this->jobs, 'sliding', array('partial/paginator.phtml', 'jobs'), array(
                        'route' => 'cost', 'action' => 'index'
                            )
                    );
                }
                ?>
            </div>
	    </div>
	</div>
</div>