<div class="modal-dialog" id="rules-add-modal">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title add-header"><?php echo $this->translate('Add Rules') ?></h4>
      <h4 class="modal-title hidden view-header"><?php echo $this->translate('View Rules') ?></h4>
    </div>
      
    <div class="modal-body">
      
      <div class="form-group clearfix">
        <table>
          <thead>
            <tr>
              <th class="col-lg-4"><?php echo $this->translate("Item Code or Name"); ?></th>
              <th class="col-lg-4"><?php echo $this->translate('Rule')?></th>
              <th class="col-lg-4"><?php echo $this->translate('Quantity')?></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody id="tempRuleAddBody">
            <tr id="rulePreSample" class="hidden">
              <td class="clearfix">
                  <input class="form-control text-right" type="text" name="productName">
              </td>
              <td>
                  <input class="form-control text-right" type="text" name="ruleType">
              </td>
              <td class="clearfix">
                  <input class="form-control text-right" type="text" name="quantity">
              </td>
              <td> 
                <button class="btn delete-rule"><i class="glyphicon glyphicon-trash remove_font-Weight"></i></button>
              </td>
            </tr>
          </tbody>
          <tbody id="ruleAddBody">
            <tr class="promo-comb-rule-add-row">
              <td class="clearfix selectItem">
                  <select class="form-control selectpicker show-tick" id="itemCode" name="itemCode" title="Select Item" data-live-search="true">
                      <option value="0"><?php echo $this->translate('Select Item') ?></option>
                  </select>
              </td>
              <td>
                <select class="form-control show-tick" name="ruleType" data-live-search="true">
                    <option value="equal">equal</option>
                    <option value="greater than or equal" >greater than or equal</option>
                    <option value="less than or equal" >less than or equal</option>
                    <option value="greater than" >greater than</option>
                    <option value="less than" >less than</option>
                    <option value="not equal" >not equal</option>
                </select>
              </td>
              <td class="clearfix">
                  <input class="form-control text-right" type="text" name="quantity">
              </td>
              <td> 
                <button class="btn btn-default add-rule"><i class="glyphicon glyphicon-ok remove_font-Weight"></i></button>
                <button class="btn delete-rule hidden"><i class="glyphicon glyphicon-trash remove_font-Weight"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default comb-rule-close"><?php echo $this->translate('Close') ?></button>
        <button type="button" class="btn btn-primary comb-rule-save"><?php echo $this->translate('Add Rules') ?></button>
        <button type="button" class="btn btn-primary comb-rule-update hidden"><?php echo $this->translate('Update Rules') ?></button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->