<div class="modal-dialog" id="attr-rules-add-modal">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title add-header"><?php echo $this->translate('Add Rules') ?></h4>
      <h4 class="modal-title hidden view-header"><?php echo $this->translate('View Rules') ?></h4>
    </div>
      
    <div class="modal-body">

      <div class="form-group clearfix">
        <table>
          <thead>
            <tr>
              <th class="col-lg-4"><?php echo $this->translate("Attribute"); ?></th>
              <th class="col-lg-4"><?php echo $this->translate('Rule')?></th>
              <th class="col-lg-4 hidden"><?php echo $this->translate('Quantity')?></th>
              <th class="col-lg-4"><?php echo $this->translate('Attribute Value')?></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody id="tempAttrRuleAddBody">
            <tr id="ruleAttrPreSample" class="hidden">
              <td class="clearfix">
                  <input class="form-control text-right" type="text" name="attributeName">
              </td>
              <td>
                  <input class="form-control text-right" type="text" name="ruleType">
              </td>
              <td class="clearfix">
                  <input class="form-control text-right" type="text" name="value">
              </td>
              <td> 
                <button class="btn delete-rule"><i class="glyphicon glyphicon-trash remove_font-Weight"></i></button>
              </td>
            </tr>
          </tbody>
          <tbody id="attrRuleAddBody">
            <tr class="promo-comb-attr-rule-add-row">
              <td class="clearfix selectItem">
                 <!--  <select class="form-control selectpicker show-tick" id="attributeType" name="attributeType" title="Select Attribute" data-live-search="true">
                      <option value="0"><?php echo $this->translate('Select Attribute') ?></option>
                  </select> -->

                  <select name="attributeType" id="attributeType" class="form-control selectpicker show-tick">
                      <option value="0"><?php echo $this->translate('Select Attribute') ?></option>
                      <?php
                      foreach ($this->itemAttrDetails as $key => $value) {
                         ?>
                         <option value=<?php echo $value['itemAttributeID'];?> class=""><?php echo $value['description'];?></option>
                         <?php
                       } 
                      ?>
                      <option value="quantity">Quantity</option>
                  </select>
              </td>
              <td>
                <select class="form-control show-tick ruleType" name="ruleType" id ="rule-type" data-live-search="true">
                    <option class="ruleCon1" value="equal">equal</option>
                    <option class="ruleCon2" value="greater than or equal" >greater than or equal</option>
                    <option class="ruleCon2" value="less than or equal" >less than or equal</option>
                    <option class="ruleCon2" value="greater than" >greater than</option>
                    <option class="ruleCon2" value="less than" >less than</option>
                    <option class="ruleCon2" value="not equal" >not equal</option>
                </select>
              </td>
              <td class="clearfix">
                  <div id="attributeValDiv">
                    <select class="form-control selectpicker show-tick" id="attributeVal" name="attributeVal" title="Select Value">
                        <option value="0"><?php echo $this->translate('Select Attribute') ?></option>
                    </select>
                  </div>
                  <input class="form-control text-right hidden" type="text" id="qty" name="quantity">
              </td>
              <td> 
                <button class="btn btn-default add-rule"><i class="glyphicon glyphicon-ok remove_font-Weight"></i></button>
                <button class="btn delete-rule hidden"><i class="glyphicon glyphicon-trash remove_font-Weight"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default comb-attr-rule-close"><?php echo $this->translate('Close') ?></button>
        <button type="button" class="btn btn-primary comb-attr-rule-save"><?php echo $this->translate('Add Rules') ?></button>
        <button type="button" class="btn btn-primary comb-attr-rule-update hidden"><?php echo $this->translate('Update Rules') ?></button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->