<div class="margin_top" id="promoAddMenu">

    <div class="well well_heading">
        <h5><?php echo $this->translate('Add Promotion') ?></h5>
    </div>
    <input type="hidden" id="locationID" value="<?php echo $this->locationID; ?>">

    <div class="well well_body">
        <div class="form-horizontal">

            <?php
            $form->prepare();
            echo $this->form()->openTag($form);
            ?>

            <!--promotion_name-->
            <div class="form-group">
                <label for="promotionName"class="control-label col-lg-2 col-md-3"><?php echo $this->translate('Promotion Name') ?><span class="_required">*</span></label>
                <div class="col-lg-6 col-md-9">
                    <?php echo $this->formRow($form->get('promotionName')); ?>
                </div>
            </div>

            <!--promotion_type-->
            <div class="form-group">
                <label for="promotionType" class="control-label col-lg-2 col-md-3"><?php echo $this->translate('Promotion Type') ?><span class="_required">*</span></label>
                <div class="col-lg-6 col-md-9">
                    <?php echo $this->formRow($form->get('promotionType')); ?>
                </div>
            </div>

            <!--promotion_period-->
            <div class="form-group">
                <label class="control-label col-lg-2 col-md-3 _remove_padding_top"><?php echo $this->translate('Promotion Period') ?></label>
                <div class="col-lg-6 col-md-9 sm-margin-top">
                    <div class="_row_with_margin">
                        <div class="col-lg-6 col-md-6 sm-margin-bottom">
                            <label for="promotionFrom"><?php echo $this->translate('From') ?><span class="_required">*</span></label>
                            <?php echo $this->formRow($form->get('promotionFrom')); ?>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <label for="promotionTo"><?php echo $this->translate('To') ?><span class="_required">*</span></label>
                            <?php echo $this->formRow($form->get('promotionTo')); ?>
                        </div>
                    </div>
                </div>
            </div>

            <!--promotion_description-->
            <div class="form-group">
                <label for="promotionDescription" class="control-label col-lg-2 col-md-3"><?php echo $this->translate('Promotion Description') ?></label>
                <div class="col-lg-6 col-md-9">
                    <?php echo $this->formRow($form->get('promotionDescription')); ?>
                </div>
            </div>

            <!--promotion to all location-->
            <div class="form-group">
                <div class="col-lg-6 col-lg-push-2 col-md-9 col-md-push-3">
                    <div class="checkbox">
                        <label><input type="checkbox" name="globalPromotion"> 
                            <?php echo $this->translate('Apply promotion to all locations') ?>
                        </label>
                    </div>
                </div>
            </div>

            <!--form_button-->
            <div class="form-group btn_wrapper _remove_margin_bottom">
                <div class="next col-lg-6 col-lg-push-2">
                    <div class="text-right">
                        <button type="reset" class="btn btn-default reset"><?php echo $this->translate('Reset') ?></button>
                        <button type="submit" id="promotionNext" class="btn btn-primary next"><?php echo $this->translate('Next') ?></button>
                    </div>
                </div>
            </div>

            <?php
            echo $this->form()->closeTag($form);
            ?>

        </div><!--form_horizontal-->
    </div><!--well-->
</div><!--promoAddMenu-->


<div id="promoItemBasedMenu" class="margin_top hidden">
    <div class="well well_heading">
        <h5><?php echo $this->translate('Add items to Promotion') ?></h5>
    </div>

    <div class="well well_body">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th style="width: 30%" ><?php echo $this->translate("Item Code or Name"); ?></th>
                    <th style="width: 15%"><?php echo $this->translate('Min Qty'); ?></th>
                    <th style="width: 15%"><?php echo $this->translate("Max Qty"); ?></th>
                    <th style="width: 20%"><?php echo $this->translate("Discount Type"); ?></th>
                    <th style="width: 20%"><?php echo $this->translate("Amount"); ?></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody id="promoAddNewItems">
                <tr class="promo-add-row">
                    <td class="clearfix selectItem">
                        <select class="form-control selectpicker show-tick" id="itemCode" name="itemCode" title="Select Item" data-live-search="true">
                            <option value="0"><?php echo $this->translate('Select Item') ?></option>
                        </select>
                    </td>
                    <td class="clearfix">
                        <p class="visible-xs"><?php echo $this->translate('Min Qty') ?></p>
                        <div class="minQty">
                            <input class="form-control" type="text" name="minQty">
                        </div>
                    </td>
                    <td class="clearfix">
                        <p class="visible-xs"><?php echo $this->translate('Max Qty') ?></p>
                        <div class="maxQty">
                            <input class="form-control" type="text" name="maxQty">
                        </div>
                    </td>
                    <td class="clearfix">
                        <select class="form-control show-tick" name="discountType" data-live-search="true">
                            <option value="1">Value</option>
                            <option value="2" >Precentage</option>
                        </select>
                    </td>
                    <td class="clearfix">
                        <input class="form-control text-right" type="text" name="discountAmount">
                    </td>
                    <td>
                        <button  type='button' class="add btn btn-default">
                            <i class="fa fa-plus"></i>
                        </button>
                        <button  class="save btn btn-default hidden" type='button'>
                            <i class="fa fa-floppy-o"></i>
                        </button>
                        <button  class="edit btn btn-default hidden" type='button'>
                            <i class="fa fa-pencil-square-o"></i>
                        </button>
                    </td>
                    <td>
                        <button  class="delete disabled btn btn-default" type='button'>
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="btn_wrapper next text-right">
            <button type="button" id="promotionItemBack" class="btn btn-default"><?php echo $this->translate('Back') ?></button>
            <button type="button" id="promotionItemSave" class="btn btn-success promoItemSave"><?php echo $this->translate('Save') ?></button>
        </div>

    </div><!--well_body-->
</div><!--promoItemBasedMenu-->

<div id="createCombinationMenu" class="margin_top hidden">
    <div class="well well_heading">
        <h5><?php echo $this->translate('Add combination to Promotion') ?></h5>
    </div>

    <div class="well well_body">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th style="width: 30%" ><?php echo $this->translate("Combination Name"); ?></th>
                    <th style="width: 15%"><?php echo $this->translate('Major Condition'); ?></th>
                    <th style="width: 20%"><?php echo $this->translate("Discount Type"); ?></th>
                    <th style="width: 20%"><?php echo $this->translate("Amount"); ?></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody id="promoAddNewCombination">
                <tr class="promo-comb-add-row">
                    <td class="clearfix">
                        <p class="visible-xs"><?php echo $this->translate('Combination Name') ?></p>
                        <div class="combinationName">
                            <input class="form-control" type="text" name="combinationName">
                        </div>
                    </td>
                    <td class="clearfix">
                        <select class="form-control show-tick" name="majorConditionType">
                            <option value="AND">AND</option>
                            <option value="OR" >OR</option>
                        </select>
                    </td>
                    <td class="clearfix">
                        <select class="form-control show-tick" name="discountType" data-live-search="true">
                            <option value="1">Value</option>
                            <option value="2" >Precentage</option>
                        </select>
                    </td>
                    <td class="clearfix">
                        <input class="form-control text-right" type="text" name="discountAmount">
                    </td>
                    <td class="clearfix">
                        <button  type='button' class="btn btn-default" id="showRuleAddModal">
                            Add Rules
                        </button>
                        <button  type='button' class="btn btn-default hidden" id="showRuleModal">
                            view Rules
                        </button>
                        <button  type='button' class="btn btn-default hidden" id="showRuleEditModal">
                            Edit Rules
                        </button>
                    </td>
                    <td>
                        <button  type='button' class="add btn btn-default">
                            <i class="fa fa-plus"></i>
                        </button>
                        <button  class="save btn btn-default hidden" type='button'>
                            <i class="fa fa-floppy-o"></i>
                        </button>
                        <button  class="edit btn btn-default hidden" type='button'>
                            <i class="fa fa-pencil-square-o"></i>
                        </button>
                    </td>
                    <td>
                        <button  class="delete disabled btn btn-default" type='button'>
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="btn_wrapper next text-right">
            <button type="button" id="promotionCombBack" class="btn btn-default"><?php echo $this->translate('Back') ?></button>
            <button type="button" id="promotionCombSave" class="btn btn-success promoCombSave"><?php echo $this->translate('Save') ?></button>
        </div>

    </div><!--well_body-->
</div><!--promoItemBasedMenu-->


<!--promotion_next-->
<div id="promoValueBasedMenu" class="hidden margin_top">
    <div class="well well_heading">
        <h5><?php echo $this->translate('Add values for Promotion') ?></h5>
    </div>

    <div class="well well_body">
        <form id="promoValueForm" class="" name="promoValueForm" method="post" action="">
            <div class="form-horizontal">
                <!--min_value-->
                <div class="form-group">
                    <label for="promoMinVal" class="control-label col-lg-2"><?php echo $this->translate('Min Value') ?><span class="_required">*</span></label>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <input class="form-control" type="text" id="promoMinVal">
                            <span class="input-group-addon"><?php echo $companyCurrencySymbol; ?></span>
                        </div>
                    </div>
                </div>

                <!--max_value-->
                <div class="form-group">
                    <label for="promoMaxVal" class="control-label col-lg-2"><?php echo $this->translate('Max Value') ?><span class="_required">*</span></label>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <input class="form-control" type="text" id="promoMaxVal">
                            <span class="input-group-addon"><?php echo $companyCurrencySymbol; ?></span>
                        </div>
                    </div>
                </div>

                <!--discount_type-->
                <div class="form-group">
                    <label for="" class="control-label col-lg-2"><?php echo $this->translate('Discount Type') ?><span class="_required">*</span></label>
                    <div class="col-lg-6">
                        <select class="form-control show-tick" name="valueDiscountType">
                            <option value="1">Value</option>
                            <option value="2" >Percentage</option>
                        </select>
                    </div>
                </div>

                <!--amount-->
                <div class="form-group">
                    <label for="" class="control-label col-lg-2"><?php echo $this->translate('Amount') ?><span class="_required">*</span></label>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <input class="form-control" type="text" id="promoValueAmount">
                            <span id="promoValueAmountCurrency" class="input-group-addon"><?php echo $companyCurrencySymbol; ?></span>
                        </div>
                    </div>
                </div>

                <!--button-->
                <div class="form-group btn_wrapper _remove_margin_bottom">
                    <div class="col-lg-6 col-lg-push-2 text-right">
                        <button type="button" id="promotionValueBack" class="btn btn-default"><?php echo $this->translate('Back') ?></button>
                        <button type="submit" id="promotionValueSave" class="btn btn-success promoValSave"><?php echo $this->translate('Save') ?></button>
                    </div>
                </div>
            </div><!--form_horizontal-->
        </form>
    </div><!--well-->
</div><!--promoValueBasedMenu-->

<div class="modal fade" id="addRuleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <?php echo $this->combintionRule; ?>
</div>

<div class="modal fade" id="addAttrRuleModal" tabindex="-1" role="dialog" aria-labelledby="myModalggLabel" aria-hidden="true">
        <?php echo $this->combintionAttrRule; ?>
</div>