<div class="margin_top" id="promoEmailsMenu">
    <div class="well well_heading">
        <h5><?php echo $this->translate('Send direct promotional email/SMS notification') ?></h5>
    </div>

    <div class="well well_body">

        <form id="promoEmailForm" type="POST">
            <div id='promoEmailsDiv' class="form-horizontal">

                <!--select_location-->
                <div class="form-group">
                    <label class="control-label col-lg-4 col-md-4 col-sm-12">
                        <?php echo $this->translate('Select Notification Type') ?><span class="_required">*</span>
                    </label>
                    <div class="col-lg-3 col-md-3 col-sm-4 xs-margin-bottom">
                        <div class="radio">
                            <label class="">
                                <input  type="radio" name="filter_notification" id="" value="sms" checked>
                                <?php echo $this->translate('SMS') ?>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 xs-margin-bottom">
                        <div class="radio">
                            <label class="">
                                <input type="radio" name="filter_notification" id="" value="email">
                                <?php echo $this->translate('Email') ?>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-5">
                        <button type="button" class="form-control btn btn-default" name="getContactList" id="getContactList">
                            <?php echo $this->translate('Retrieve Contacts') ?>
                        </button>
                    </div>
                </div>
                <div class="form-group hidden select-all-div">
                    <div class="col-lg-6 col-md-6 col-sm-12 xs-margin-bottom">                        
                        <div>
                            <label class="">
                                <input type="checkbox" name="selectAll" />
                                <?php echo $this->translate('Select All') ?>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 xs-margin-bottom text-right">
                        <label class="selectedValues"><strong >Selected Contact : <span id="selectedContact">0</span> | Selected List : <span id="selectedContactList">0</span></strong></label>
                    </div>
                </div>
                <div class="form-group margin_top hidden" id="promoCustomerDiv">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#contact">Contact</a></li>
                        <li><a data-toggle="tab" href="#contactList">Contact List</a></li>
                    </ul>
                    <!-- <div class="col-lg-8 col-lg-push-4 col-md-8 col-md-push-4"> -->
                    <div class="tab-content">
                        <div id="contact" class="tab-pane table-div margin-bottom fade in active">
                            <table id="promoCustomerTable" class="table table-striped hidden margin-bottom">
                                <thead>
                                    <tr>
                                        <th style="width: 43%"><?php echo $this->translate('Contact Person Name') ?></th>
                                        <th class="con-email-header" style="width: 23%"><?php echo $this->translate('Contact Email') ?></th>
                                        <th class="con-num-header" style="width: 23%"><?php echo $this->translate('Customer Number') ?></th>
                                        <!-- <th style="width: 20%"><?php echo $this->translate('Customer Status') ?></th> -->
                                        <th style="width: 10%; text-align: center;"><?php echo $this->translate('Select') ?></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="customerSampleRow" class="hidden ">
                                        <td class="customerName"></td>
                                        <td class="customerEmail cus-email-raw"></td>
                                        <td class="customerPhoneNumber"></td>
                                        <td class="text-center"><input name='contacts[]' class="promoCustomerSelect" type="checkbox" ></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="contactList" class="tab-pane table-div margin-bottom fade">
                            <table id="promoCustomerListTable" class="table table-striped hidden">
                                <thead>
                                    <tr>
                                        <th style="width: 20%"><?php echo $this->translate('Contact list Code') ?></th>
                                        <th class="" style="width: 20%"><?php echo $this->translate('Contact list Name') ?></th>
                                        <th class="" style="width: 20%"><?php echo $this->translate('Number of Contacts') ?></th>
                                        <th style="width: 20%;text-align: center;"><?php echo $this->translate('View List') ?></th>
                                        <th style="width: 10%; text-align: center;"><?php echo $this->translate('Select') ?></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="customerListSampleRow" class="hidden">
                                        <td class="listCode"></td>
                                        <td class="listName cus-email-raw"></td>
                                        <td class="listNoOFContact"></td>
                                        <td class="text-center">
                                            <span class="edit link_color view-list" style="cursor:pointer"  >
                                                <span class="fa fa-list"></span>
                                            </span>
                                        </td>
                                        <td class="text-center"><input name='contactsList[]' class="promoContactListSelect" type="checkbox" ></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
                <input name='processedContacts[]' class="hidden processed-contacts" type="text" >

                <div class="form-group _remove_margin_bottom button_wrapper">
                    <div class="col-lg-8 col-lg-push-4 text-right">
                        <button type="reset" class="btn btn-default reset"><?php echo $this->translate('Reset') ?></button>
                        <button type="button" id="emailPromoNext" class="btn btn-primary next"><?php echo $this->translate('Email') ?></button>
                        <?php if($smsServiceStatus){?>
                        <button type="button" id="smsPromoNext" class="btn btn-primary next" ><?php echo $this->translate('SMS') ?></button>
                        <?php }?>
                    </div>
                </div>
            </div><!--form_horizontal-->


            <div id='promoEmailsWindow' class="form-horizontal hidden">
                <!--infor-->
                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="alert alert-info _remove_margin_bottom" role="alert">
                            <small>
                                <?php echo $this->translate('Insert the text you want in the email body and if you want to add an image, uploads
                                it using the box under below section.It will be inserted below the text or you can leave it empty.') ?>
                            </small>
                        </div>
                    </div>
                </div>

                <!--promotion_name-->
                <div class="form-group">
                    <label for="emailPromotionName" class="control-label col-lg-4"><?php echo $this->translate('Enter a name for the promotion email'); ?><span class="_required">*</span></label>
                    <div class="col-lg-6">
                        <input type="text" name="emailPromotionName" id="emailPromotionName" class="form-control col-md-4" >
                    </div>
                </div>

                <!--email_subject-->
                <div class="form-group">
                    <label for="emailPromotionSubject" class="control-label col-lg-4"><?php echo $this->translate('Enter email subject'); ?><font color="red"> *</font></label>
                    <div class="col-lg-6">
                        <input type="text" name="emailPromotionSubject" id="emailPromotionSubject" class="form-control col-md-4" >
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-12">
                        <textarea name="emailBody" ></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-12">
                        <input type="file" name="emailPromotionFile" id="emailPromotionFile">
                    </div>
                </div>

                <div class="next btn_wrapper text-right">
                    <button type="button" id="promoEmailEditBack" class="btn btn-default"><?php echo $this->translate('Back') ?></button>
                    <button type="submit" id="promoEmailSave" class="btn btn-success next"><?php echo $this->translate('Save') ?></button>
                </div>
            </div>

            <div id='promoSmsWindow' class="form-horizontal hidden">
                <!--infor-->
                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="alert alert-info _remove_margin_bottom" role="alert">
                            <small>
                                <?php echo $this->translate('Send promotional SMS notifications.') ?>
                            </small>
                        </div>
                    </div>
                </div>

                <!--promotion_name-->
                <div class="form-group">
                    <label for="smsPromotionSelectedCustomers" class="control-label col-lg-2"><?php echo $this->translate('To'); ?><span class="_required"> : </span></label>
                    <div class="col-lg-6">
                        <input type="text" name="draftMessageID" id="draftMessageID" class="hidden" >
                        <input type="text" name="smsPromotionSelectedCustomers" id="smsPromotionSelectedCustomers" class="form-control col-md-12" >
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12 text-right">
                        <button type="button" id="viewDraftMsg" class="btn btn-default"><?php echo $this->translate('View Draft Messages') ?></button>
                    </div>
                </div>

                <div class="form-group">
                    <label for="smsPromotionSelectedCustomers" class="control-label col-lg-3"><?php echo $this->translate('Enter a name for the promotional message'); ?><span class="_required"> : </span></label>
                    <div class="col-lg-5">
                        <input type="text"  name="messageName" id="messageName" class="form-control col-md-12" >
                    </div>
                </div>


                <div class="form-group">
                    <label for="emailPromotionSubject" class="control-label col-lg-4"><?php echo $this->translate('Enter the message'); ?></label>           
                    <div class="col-lg-12">
                        <textarea name="smsBody" id="smsBody" class="form-control col-md-4 textarea-alt"></textarea>
                    </div>
                </div>

                <div class="next btn_wrapper text-right">
                    <button type="button" id="promoSmsEditBack" class="btn btn-default"><?php echo $this->translate('Back') ?></button>
                    <button type="button" id="saveDraft" class="btn btn-primary"><?php echo $this->translate('Save As Draft') ?></button>
                    <button type="button" id="promoSmsSave" class="btn btn-success next"><?php echo $this->translate('Send') ?></button>
                </div>
            </div>

        </form>
    </div><!--well_body-->
</div><!--promo_email_menu-->
<div class="modal fade" id="contactListViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->contactListView; ?>
</div>

<div class="modal fade" id="draftMessagesViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->draftMessagesView; ?>
</div>

<style type="text/css">
    /* The textarea-alt - increase the height of textarea */
.textarea-alt {
    height: 150px !important;
}

div.test-body {
    width: auto;
    height: 500px;
    overflow: auto;
}

</style>

