<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="_remove_margin_bottom no_top_margin" id="doc_histry_view"><?php echo $this->translate('Draft Messages') ?></h4>
        </div>
        <div class="modal-body">
            <table id="draftMessageTable" class="table table-striped table _remove_margin_bottom hidden">
                <thead id="draftMessageTableThead">
                    <tr>
                        <th style="width: 50%"><?php echo $this->translate('Message Name') ?></th>
                        <th style="width: 24%"><?php echo $this->translate('Draft Date') ?></th>
                        <th style="width: 24%"><?php echo $this->translate('Action') ?></th>
                    </tr>
                </thead>
                <tbody >
                    <tr id="draftMessageSampleRow" class="hidden">
                        <td class="msgName"></td>
                        <td class="msgDate"></td>
                        <td class="">
                            <button class="btn btn-primary cpyButton" ><?php echo $this->translate('Copy') ?></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
