<div class="margin_top" id="promoEmailsMenu">
    <div class="well well_heading">
        <h5><?php echo $this->translate('Send promotional email/SMS notification') ?></h5>
    </div>

    <div class="well well_body">

        <form id="promoEmailForm" type="POST">
            <div id='promoEmailsDiv' class="form-horizontal">

                <!--select_location-->
                <div class="form-group">
                    <label class="control-label col-lg-4 col-md-4 col-sm-12">
                        <?php echo $this->translate('Select location to retrieve products & services') ?><span class="_required">*</span>
                    </label>
                    <div class="col-lg-6 col-md-5 col-sm-8 xs-margin-bottom">
                        <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="location[]" id="location" multiple="multiple" title="<?php echo $this->translate('Select Location(s)') ?>" data-selected-text-format="count>3">
                            <?php
                            foreach ($this->locations as $key => $locName):
                                echo '<option value="' . $key . '">' . $locName . '</option>';
                            endforeach;
                            ?>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-5">
                        <button type="button" class="form-control btn btn-default" name="getProductList" id="getProductList">
                            <?php echo $this->translate('Retrieve Products & Services') ?>
                        </button>
                    </div>
                </div>

                <!--select_products-->
                <div class="form-group">
                    <label class="control-label col-lg-4 col-md-4">
                        <?php echo $this->translate('Select product or service to retrieve customers') ?><span class="_required">*</span>
                    </label>
                    <div class="col-lg-6 col-md-8">
                        <select class='form-control selectpicker' disabled="disabled" data-actions-box="true" data-live-search="true" name="product[]" id="product" multiple="multiple" title="<?php echo $this->translate('Select product(s)') ?>" data-selected-text-format="count>3"></select>
                        <!--                        <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="productFilter" id="productFilter">
                                                        Check this for get customers who've purchased the all selected products
                                                    </label>
                                                </div>-->
                    </div>
                </div>

                <!--customer_filter_options-->
                <div class="form-group">
                    <div class="col-lg-6 col-lg-push-4 col-md-8 col-md-push-4">
                        <div class="radio">
                            <label class="">
                                <input  type="radio" name="filter_customer" id="" value="single" checked>
                                <?php echo $this->translate('Customer who purchased at least one product or service') ?>
                            </label>
                        </div>
                        <div class="radio">
                            <label class="">
                                <input type="radio" name="filter_customer" id="" value="all">
                                <?php echo $this->translate('Customer who purchased all the product & services') ?>
                            </label>
                        </div>
                    </div>
                </div>

                <!--retrieve_btn-->
                <div class="form-group">
                    <div class="col-lg-3 col-lg-push-4 col-md-3 col-md-push-4 col-sm-4 col-xs-5">
                        <button type="button" disabled="disabled" class="form-control btn btn-default" name="getCustList" id="getCustList">
                            <?php echo $this->translate('Retrieve Customers') ?>
                        </button>
                    </div>
                </div>

                <div class="form-group margin_top">
                    <div class="col-lg-8 col-lg-push-4 col-md-8 col-md-push-4">
                        <table id="promoCustomerTable" class="table table-striped hidden">
                            <thead>
                                <tr>
                                    <th style="width: 23%"><?php echo $this->translate('Customer Name') ?></th>
                                    <th style="width: 23%"><?php echo $this->translate('Customer Email') ?></th>
                                    <th style="width: 23%"><?php echo $this->translate('Customer Phone Number') ?></th>
                                    <th style="width: 20%"><?php echo $this->translate('Customer Status') ?></th>
                                    <th style="width: 10%"><?php echo $this->translate('Select') ?></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="customerSampleRow" class="hidden">
                                    <td class="customerName"></td>
                                    <td class="customerEmail"></td>
                                    <td class="customerPhoneNumber"></td>
                                    <td class="customerStatus"></td>
                                    <td class="text-center"><input name='customer[]' class="promoCustomerSelect" type="checkbox" ></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="form-group _remove_margin_bottom button_wrapper">
                    <div class="col-lg-8 col-lg-push-4 text-right">
                        <button type="reset" class="btn btn-default reset"><?php echo $this->translate('Reset') ?></button>
                        <button type="button" id="emailPromoNext" class="btn btn-primary next"><?php echo $this->translate('Email') ?></button>
                        <?php if($smsServiceStatus){?>
                        <button type="button" id="smsPromoNext" class="btn btn-primary next" ><?php echo $this->translate('SMS') ?></button>
                        <?php }?>
                    </div>
                </div>
            </div><!--form_horizontal-->


            <div id='promoEmailsWindow' class="form-horizontal hidden">
                <!--infor-->
                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="alert alert-info _remove_margin_bottom" role="alert">
                            <small>
                                <?php echo $this->translate('Insert the text you want in the email body and if you want to add an image, uploads
                                it using the box under below section.It will be inserted below the text or you can leave it empty.') ?>
                            </small>
                        </div>
                    </div>
                </div>

                <!--promotion_name-->
                <div class="form-group">
                    <label for="emailPromotionName" class="control-label col-lg-4"><?php echo $this->translate('Enter a name for the promotion email'); ?><span class="_required">*</span></label>
                    <div class="col-lg-6">
                        <input type="text" name="emailPromotionName" id="emailPromotionName" class="form-control col-md-4" >
                    </div>
                </div>

                <!--email_subject-->
                <div class="form-group">
                    <label for="emailPromotionSubject" class="control-label col-lg-4"><?php echo $this->translate('Enter email subject'); ?><font color="red"> *</font></label>
                    <div class="col-lg-6">
                        <input type="text" name="emailPromotionSubject" id="emailPromotionSubject" class="form-control col-md-4" >
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-12">
                        <textarea name="emailBody" ></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-12">
                        <input type="file" name="emailPromotionFile" id="emailPromotionFile">
                    </div>
                </div>

                <div class="next btn_wrapper text-right">
                    <button type="button" id="promoEmailEditBack" class="btn btn-default"><?php echo $this->translate('Back') ?></button>
                    <button type="submit" id="promoEmailSave" class="btn btn-success next"><?php echo $this->translate('Save') ?></button>
                </div>
            </div>

            <div id='promoSmsWindow' class="form-horizontal hidden">
                <!--infor-->
                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="alert alert-info _remove_margin_bottom" role="alert">
                            <small>
                                <?php echo $this->translate('Send promotional SMS notifications.') ?>
                            </small>
                        </div>
                    </div>
                </div>

                <!--promotion_name-->
                <div class="form-group">
                    <label for="smsPromotionSelectedCustomers" class="control-label col-lg-4"><?php echo $this->translate('To'); ?><span class="_required"> : </span></label>
                    <div class="col-lg-6">
                        <input type="text" name="smsPromotionSelectedCustomers" id="smsPromotionSelectedCustomers" class="form-control col-md-12" >
                    </div>
                </div>

                <!--email_subject-->
                <!-- <div class="form-group">
                    <label for="emailPromotionSubject" class="control-label col-lg-4"><?php echo $this->translate('Enter email subject'); ?><font color="red"> *</font></label>
                    <div class="col-lg-6">
                        <input type="text" name="emailPromotionSubject" id="emailPromotionSubject" class="form-control col-md-4" >
                    </div>
                </div> -->

                <div class="form-group">
                    <label for="emailPromotionSubject" class="control-label col-lg-4"><?php echo $this->translate('Enter the message'); ?></label>           
                    <div class="col-lg-12">
                        <textarea name="smsBody" class="form-control col-md-4 textarea-alt"></textarea>
                    </div>
                </div>

                <div class="next btn_wrapper text-right">
                    <button type="button" id="promoSmsEditBack" class="btn btn-default"><?php echo $this->translate('Back') ?></button>
                    <button type="button" id="promoSmsSave" class="btn btn-success next"><?php echo $this->translate('Send') ?></button>
                </div>
            </div>

        </form>
    </div><!--well_body-->
</div><!--promo_email_menu-->

<style type="text/css">
    /* The textarea-alt - increase the height of textarea */
.textarea-alt {
    height: 150px !important;
}

</style>

