<div class="margin_top">
    <div class="table-responsive">
        <table id="promotionEmailList" class="table table-striped">
            <thead>
                <tr>
                    <th width="40%"><?php echo $this->translate('Promotion Email Name') ?></th>
                    <th width="40%"><?php echo $this->translate('Promotion Email Subject') ?></th>
                    <th width="20%" class="text-center" ><?php echo $this->translate('View') ?></th>
                </tr>
            </thead>
            <tbody >
                <?php
                foreach ($this->promoEmails as $promoEmail) {
                    ?>
                    <tr id="<?php echo $promoEmail->promotionEmailID; ?>">
                        <td ><?php echo $promoEmail->promotionEmailName; ?></td>
                        <td ><?php echo $promoEmail->promotionEmailSubject; ?></td>
                        <td width="20%" class="text-center" >
                            <a href="#" id="<?php echo $promoEmail->promotionEmailID; ?>" class="viewPromoEmails">
                                <span class="glyphicon glyphicon-eye-open" custom_font_size"> </span>
                            </a>
                        </td>
                    </tr>
                    <?php
                }
                if (count($this->promoEmails) == 0) {
                    ?>
                    <tr class="not_found">
                        <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                    </tr>
                    <?php
                }
                ?>

            </tbody>
        </table>
    </div>
</div>

<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->promoEmails, 'sliding', array('partial/paginator.phtml', 'promotions'), array(
        'route' => 'promotions', 'action' => 'viewEmails'
            )
    );
}
?>

<div class="modal fade" id="promoEmailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>