<div id="promotionListView" class="margin_top">
    <div class="table-responsive" id="promotionList">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="27%"><?php echo $this->translate('Promotion Name') ?></th>
                    <th width="15%"><?php echo $this->translate('From') ?></th>
                    <th width="15%"><?php echo $this->translate('To') ?></th>
                    <th width="15%"><?php echo $this->translate('Type') ?></th>
                    <th width="7%" class="text-center" ><?php echo $this->translate('Status') ?></th>
                    <th width="7%" class="text-center" ><?php echo $this->translate('View') ?></th>
                    <th width="7%" class="text-center" ><?php echo $this->translate('Edit') ?></th>
                    <th width="7%" class="text-center" ><?php echo $this->translate('Delete') ?></th>
                </tr>
            </thead>
            <tbody id="promotionList">
                <?php
                foreach ($this->promotions as $promo) {
                    ?>
                    <tr id="<?php echo $promo->promotionID; ?>">
                        <td ><?php echo $promo->promotionName; ?></td>
                        <td ><?php echo $promo->promotionFromDate; ?></td>
                        <td ><?php echo $promo->promotionToDate; ?></td>
                        <td ><?php echo ($promo->promotionType == 1) ? 'Items' : 'Value' ?></td>
                        <td class="text-center" ><a href="#" class="changeStatus" id="<?php echo $promo->promotionID; ?>"><span class="<?php echo ($promo->promotionStatus == 1) ? "glyphicon glyphicon-check" : "glyphicon glyphicon-unchecked"; ?>"></span></a></td>
                        <td width="10%" class="text-center">
                            <a href="<?php echo $this->url('promotions', array('action' => 'view', 'param1' => $promo->promotionID)); ?>" class="fullView">
                                <span class="glyphicon glyphicon-eye-open openlist custom_font_size"></span>
                            </a>
                        </td>
                        <td width="20%" class="text-center">
                            <a href="<?php echo $this->url('promotions', array('action' => 'edit', 'param1' => $promo->promotionID)); ?>" class="edit">
                                <span class="fa fa-pencil-square-o custom_font_size"></span>
                            </a>
                        </td>
                        <td width="20%" class="text-center" >
                            <a href="#" id="<?php echo $promo->promotionID; ?>" class="delete">
                                <span class="fa fa-trash-o" custom_font_size"> </span>
                            </a>
                        </td>
                    </tr>
                    <?php
                }
                if (count($this->promotions) == 0) {
                    ?>
                    <tr class="not_found">
                        <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                    </tr>
                    <?php
                }
                ?>

            </tbody>
        </table>
    </div>
</div>

<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->promotions, 'sliding', array('partial/paginator.phtml', 'promotions'), array(
        'route' => 'promotions', 'action' => 'list'
            )
    );
}
?>
