<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4>Promotion Email</h4>
        </div>

        <div class="modal-body">
            <!--email_name-->
            <div class="_row_with_margin clearfix" style="margin-bottom: 15px;">
                <div class="col-lg-3 bold"><?php echo $this->translate("Email Name :"); ?></div>
                <div class="col-lg-9"><?php echo $this->proEmName; ?></div>
            </div>

            <!--subject-->
            <div class="_row_with_margin clearfix" style="margin-bottom: 15px;">
                <div class="col-lg-3 bold"><?php echo $this->translate("Email Subject :") ?></div>
                <div class="col-lg-9"><?php echo $this->proEmSub; ?></div>
            </div>

            <!--email_body-->
            <div class="_row_with_margin clearfix" style="margin-bottom: 25px;">
                <div class="col-lg-12 bold"><?php echo $this->translate("Email Body :") ?></div>
                <div class="col-lg-12">
                    <!--<div class="promo_email_header"><i class="fa fa-envelope-o"></i></div>-->
                    <div class="promo_email_body"><?php echo $this->proEmBody; ?></div>
                </div>
            </div>

            <!--email_footer-->
            <div class="_row_with_margin clearfix">
                <div class="col-lg-12">
                    <div class="promo_email_footer">

                        <div class="_row_with_margin clearfix">
                            <!--location-->
                            <div class="col-lg-2 <?php echo (empty($this->locations)) ? 'hidden' : ''; ?>">
                                <p class="bold"><?php echo $this->translate('Locations') ?></p>
                                <div>
                                    <?php foreach ($this->locations as $location) {
                                        ?>
                                        <p>
                                            <?php echo $location; ?>
                                        </p>
                                    <?php } ?>
                                </div>
                            </div>

                            <!--product-->
                            <div class="col-lg-4 <?php echo (empty($this->products)) ? 'hidden' : ''; ?>">
                                <p class="bold"><?php echo $this->translate('Products') ?></p>
                                <div>
                                    <?php foreach ($this->products as $product) {
                                        ?>
                                        <p>
                                            <?php echo $product; ?>
                                        </p>
                                    <?php } ?>
                                </div>
                            </div>

                            <!--customer Events-->
                            <div class="col-lg-3 <?php echo (empty($this->customerEvents)) ? 'hidden' : ''; ?>">
                                <p class="bold"><?php echo $this->translate('Customer Events') ?></p>
                                <div>
                                    <?php foreach ($this->customerEvents as $customerEvent) {
                                        ?>
                                        <p>
                                            <?php echo $customerEvent; ?>
                                        </p>
                                    <?php } ?>
                                </div>
                            </div>

                            <!--customer-->
                            <div class="col-lg-3 <?php echo (empty($this->customers)) ? 'hidden' : ''; ?>">
                                <p class="bold"><?php echo $this->translate('Customers') ?></p>
                                <div>
                                    <?php foreach ($this->customers as $customer) {
                                        ?>
                                        <p>
                                            <?php echo $customer; ?>
                                        </p>
                                    <?php } ?>
                                </div>
                            </div>
                        </div><!--./row-->

                    </div><!--promotion_email_footer-->
                </div><!--./col-->
            </div><!--./row-->

        </div>
    </div>
</div>