<div class="margin_top">

    <div class="well well_heading">
        <h5><?php echo $this->translate('View Promotion') ?></h5>
    </div>

    <div class="well well_body">

        <div class="table-responsive">
            <table class="table table-striped _remove_margin_bottom">
                <tbody>
                    <tr><td>Promotion Name</td><td><?php echo $this->promoName; ?></td></tr>
                    <tr><td>From</td><td><?php echo $this->promoFromDate; ?></td></tr>
                    <tr><td>To</td><td><?php echo $this->promoToDate; ?></td></tr>
                    <tr><td>Type</td><td><?php echo ($this->promoType == 1) ? 'Product Based' : 'Value Based'; ?></td></tr>
                    <tr><td>Location</td><td><?php echo $this->promoLocationName; ?></td></tr>
                    <tr><td>Status</td><td><?php echo ucfirst($this->promoStatus); ?></td></tr>
                    <tr><td>Description</td><td><?php echo $this->promoDesc; ?></td></tr>
                </tbody>
                <?php if ($this->invoicePromotionID) { ?>
                    <tbody>
                        <tr><td>Min Value </td><td><?php echo $this->minValue; ?></td></tr>
                        <tr><td>Max Value </td><td><?php echo $this->maxValue; ?></td></tr>
                        <tr><td>Discount Type </td><td><?php echo ($this->discountType == 1 ) ? 'Value' : 'Percentage'; ?></td></tr>
                        <tr><td>Discount Amount </td><td><?php echo ($this->discountType == 1 ) ? $this->companyCurrencySymbol . ' ' . $this->discountAmount : $this->discountAmount . '%'; ?></td></tr>
                    </tbody>
                <?php } ?>
            </table>
        </div>

        <div>
            <?php if ($this->combinations) { ?>
                <center><h4><?php echo $this->translate('Promotion Combinations') ?></h4></center>
                <br>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 text-left"><strong><?php echo $this->translate('Combination Name') ?></strong></div>
                    <div class="col-lg-3 col-md-3 col-sm-3 text-center"><strong><?php echo $this->translate('Major Condition') ?></strong></div>
                    <div class="col-lg-3 col-md-3 col-sm-3 text-center"><strong><?php echo $this->translate('Discount Type') ?></strong></div>
                    <div class="col-lg-3 col-md-3 col-sm-3 text-right"><strong><?php echo $this->translate('Discount Amount') ?></strong></div>
                </div>
                <br>

                <?php foreach ($this->combinations as $combination) { ?>
                    <div class="row table-striped" style="border: 1px solid black; padding: 8px;">
                        <div class="col-lg-3 col-md-3 col-sm-3 text-left"><?php echo $combination['combinationName']; ?></div>
                        <div class="col-lg-3 col-md-3 col-sm-3 text-center"><?php echo $combination['conditionType']; ?></div>
                        <div class="col-lg-3 col-md-3 col-sm-3 text-center"><?php echo ($combination['discountType'] == 1 ) ? 'Value' : 'Percentage'; ?></div>
                        <div class="col-lg-3 col-md-3 col-sm-3 text-right"><?php echo ($combination['discountType'] == 1 ) ? $this->companyCurrencySymbol . ' ' . $combination['discountAmount'] : $combination['discountAmount'] . '%'; ?></div>
                    </div>
                    <br>
                    <div class="row"><center><strong><?php echo $this->translate('Related Combination Rules') ?></strong></center></div>
                    <br>
                    <?php if ($this->promoType == 3) { ?>
                        <div class="row" style="margin-left: 100px; margin-right: 100px;">
                            <div class="col-lg-4 col-md-4 col-sm-4 text-left"><strong><?php echo $this->translate('Attribute') ?></strong></div>
                            <div class="col-lg-4 col-md-4 col-sm-4 text-center"><strong><?php echo $this->translate('Rule Type') ?></strong></div>
                            <div class="col-lg-4 col-md-4 col-sm-4 text-right"><strong><?php echo $this->translate('Value') ?></strong></div>
                        </div>
                        <?php foreach ($combination['ruleSet'] as $rule) { ?>
                            <div class="row" style="margin-left: 100px; margin-right: 100px; padding-top: 10px; border-bottom: 1px solid grey; padding-bottom: 5px;">
                                <div class="col-lg-4 col-md-4 col-sm-4 text-left"><?php echo $rule['attributeTypeName']; ?></div>
                                <div class="col-lg-4 col-md-4 col-sm-4 text-center"><?php echo $rule['ruleType']; ?></div>
                                <?php 
                                    if ($rule['attributeID'] == 0) {
                                        $val = $rule['quantity'];
                                    } else {
                                        $val = $rule['attributeValName'];   
                                    }
                                 ?>
                                <div class="col-lg-4 col-md-4 col-sm-4 text-right"><?php echo $val; ?></div>
                            </div>

                        <?php } ?>
                    <?php } elseif ($this->promoType == 1) { ?>
                        <div class="row" style="margin-left: 100px; margin-right: 100px;">
                            <div class="col-lg-4 col-md-4 col-sm-4 text-left"><strong><?php echo $this->translate('Product Name') ?></strong></div>
                            <div class="col-lg-4 col-md-4 col-sm-4 text-center"><strong><?php echo $this->translate('Rule Type') ?></strong></div>
                            <div class="col-lg-4 col-md-4 col-sm-4 text-right"><strong><?php echo $this->translate('Quantity') ?></strong></div>
                        </div>
                        <?php foreach ($combination['ruleSet'] as $rule) { ?>
                            <div class="row" style="margin-left: 100px; margin-right: 100px; padding-top: 10px;">
                                <div class="col-lg-4 col-md-4 col-sm-4 text-left"><?php echo $rule['productName']; ?></div>
                                <div class="col-lg-4 col-md-4 col-sm-4 text-center"><?php echo $rule['ruleType']; ?></div>
                                <div class="col-lg-4 col-md-4 col-sm-4 text-right"><?php echo $rule['quantity']; ?></div>
                            </div>

                        <?php } ?>

                    <?php } ?>
                    <hr>

                <?php } ?>
            <?php } ?>
        </div>

    </div><!--well_body-->
</div>
