<h3>Vehicl Release</h3>
<div id="job-list-view">

    <div class="well well_heading margin_top">
        <h5 class="font_weight"><?php echo $this->translate('Search a Job') ?></h5>
    </div>

    <div class="well well_body clearfix">
        <form class="job-search" id="job-search" method="post" action="">
            <div class="row">
                <div class="col-lg-12 xs-search-field">
                    <div class=" input-group">
                        <input type="text" class="search form-control" id ='job-search-keyword' placeholder="<?php echo $this->translate('Search by customer name, phone number and vehical number') ?>"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default search_btn_css" type="submit"><?php echo $this->translate('Search') ?></button>
                            <button class="btn btn-default reset" type="reset"><?php echo $this->translate('Cancel') ?></button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <?php if(sizeof($this->jobList)) {?>
    <div class="row text-right">
        <button class="btn btn-danger outAllVehicle"><?php echo $this->translate('Out & Close All'); ?></button>
    </div>
    <br>
    <?php } ?>
    <div id="search-job-list">
        <?php
        echo $this->partial('jobs/vehicle-release/list-table', array('jobList' => $this->jobList,
            'paginated' => $this->paginated, 'status' => $this->status, 'jobInTimeData' => $this->jobInTimeData));
        ?>
    </div>

</div>