<div class="table-responsive" id="job-list">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="15%"><?php echo $this->translate('Customer Name') ?></th>
                <th width="14%"><?php echo $this->translate('Telephone No') ?></th>
                <th width="12%"><?php echo $this->translate('Vehical Model') ?></th>
                <th width="12%"><?php echo $this->translate('Registration No') ?></th>
                <th width="14%"><?php echo $this->translate('Job Card') ?></th>
                <th width="15%"><?php echo $this->translate('In Date & Time') ?></th>
                <th width="8%"><?php echo $this->translate('Status') ?></th>
                <th width="10%" class="text-center"></th>
            </tr>
        </thead>
        <tbody id="jobList">
            <?php
            foreach ($this->jobList as $loo) {
                $loo = (object) $loo;
                $status = $loo->jobStatus;
                $state = ucfirst($this->status[$status]);
                $style = NULL;
                switch ($status) {
                    case "20":
                        $style = "label label-invoiced";
                        break;
                    case "21":
                        $style = "label label-success";
                        break;
                    default :
                        $style = "label label-default";
                }
                ?>
                <tr data-jobid="<?php echo $loo->jobId; ?>">
                    <td class="customerName"><?php echo $loo->customerName ?></td>
                    <td class="customerTelephoneNumber"><?php echo $loo->customerTelephoneNumber ?></td>
                    <td class="vehicleModelName"><?php echo $loo->vehicleModelName ?></td>
                    <td class="serviceVehicleRegNo"><?php echo $loo->serviceVehicleRegNo ?></td>
                    <td class="taskCardName"><?php echo $loo->taskCardName ?></td>
                    <td class="jobStartedAt"><?php echo $this->jobInTimeData[$loo->jobId] ?></td>
                    <td class="jState"><span class="<?php echo $style; ?>"> <?php echo $state; ?></span></td>
                    <td width="10%" class="text-center">
                        <a id="<?php echo $loo->jobStatus; ?>" class="btn btn-danger outVehicle">Out & Close
                        </a>
                    </td>
                </tr>
                <?php
            }
            if (count($this->jobList) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>

        </tbody>
    </table>
</div>
<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->jobList, 'sliding', array('partial/paginator.phtml', 'jobList'), array(
        'route' => 'vehicleRelease', 'action' => 'index'
            )
    );
}
?>


<div class="modal fade" id="vehicleRelaseConformationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4><?php echo $this->translate('Job close confirmation for not paid jobs') ?></h4>
            </div>

            <div class="modal-body rm_modal_body_bpa">

                <div class="form-group">
                    <p class="modal_para"><?php echo $this->translate('Please enter the Administrator account Username and Password to continue') ?></p>
                </div>

                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-4 control-label"><?php echo $this->translate('Username') ?><font color="red"> *</font></label>
                        <div class="col-lg-6">
                            <input type="text" id="username" class="form-control" placeholder="<?php echo $this->translate('Username') ?>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label"><?php echo $this->translate('Password') ?><font color="red"> *</font></label>
                        <div class="col-lg-6">
                            <input type="password" id="password" class="form-control" placeholder="<?php echo $this->translate('Password') ?>">
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Cancel') ?></button>
                <button id="vehicleRelaseConformationButton" class="btn btn-primary"><?php echo $this->translate('Out & Close') ?></button>
            </div>

        </div>
    </div>
</div>
