<div class="margin_top">
    <div class="col-lg-12">

        <div class="well clearfix well_custom_padding margin_top">
            <div class="col-lg-2">
                <label class="remove_weight"><?php echo $this->translate('Start by PO'); ?></label>
            </div>
            <div class="col-lg-10">
                <div class="input-group">
                    <select class="form-control selectpicker show-tick" value="<?php echo $copyToPoCode; ?>" id="startByCode" name="startByCode" data-live-search="true" title="Select PO No">
                        <option value=""><?php echo $this->translate('Select PO No') ?></option>
                    </select>
                    <span class="input-group-btn">
                        <a id="refreshStartBy" class="btn btn-default">
                            <?php echo $this->translate('Clear') ?>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class='panel panel-default clearfix'>
            <div class='panel-heading compound-cost-add' data-id=<?php echo $currentLocationID;?> ><b><?php echo $this->translate('Add Items')?></b></div>
            
            <div class="">
                <div class="table table-responsive" id='item-table'>
                    <table class="table table-striped margin_top_normal table-condensed" name="compound-cost-table" id ="compound-cost-table">
                        <thead>
                            <tr>
                                <th style="width: 25%; text-align: center;"><?php echo $this->translate('Supplier Name'); ?></th>
                                <th style="width: 25%; text-align: center;"><?php echo $this->translate('Product Name'); ?></th>
                                <th style="width: 15%; text-align: center;"><?php echo $this->translate('Quantity'); ?></th>
                                <th style="width: 20%; text-align: center;"><?php echo $this->translate('Unit Price'); ?></th>
                                <th style="width: 20%; text-align: center;"><?php echo $this->translate('Total Value'); ?></th>
                                <th style="width: 10%"></th>
                            </tr>
                        </thead>
                        <tbody class="cost-item-body " id='cost-item-body'>
                            <tr class="product-line-sample hidden">
                                <td class="">
                                    <select class="form-control selectpicker show-tick supplier" id="" name="supplier" data-live-search="true" title="Select Supplier">
                                        <option value=""><?php echo $this->translate('Select Supplier') ?></option>
                                    </select>
                            
                                </td>
                                <td class="">
                                    <select class="form-control selectpicker show-tick itemCode" id="" name="itemCode" data-live-search="true" title="">
                                        <option class="itemCodeDefaultSelect" value=""><?php echo $this->translate('Select Item Code or Name') ?></option>
                                    </select>
                                </td>
                                
                                <td class="">
                                    <div class="">
                                        <input type="text" name="purchase-qty" class="purchase-qty form-control">
                                    </div>
                                </td>
                                
                                <td class="">
                                    <div class="">
                                        <input type="text" name="unitPrice" class="unitPrice form-control">
                                    </div>
                                </td>
                                <td class="">
                                    <div class="">
                                        <input type="text" name="totalPrice" id ="totalPrice" class="totalPrice form-control">
                                    </div>
                                </td>

                                
                                <td class="add">
                                    <button type="button" class="btn btn-default addItem">
                                        <i class="fa fa-plus remove_font_weight"></i>
                                    </button>
                                </td>
                                <td class='delete hidden'>
                                    <button type="button" class="btn btn-default remove-items" id="removeItem">
                                        <i class="fa fa-trash-o delete remove-item"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class='panel panel-default clearfix'>
            <div class='panel-heading '><b><?php echo $this->translate('Add Additional Cost')?></b></div>
            
            <div class="">
                <div class="table table-responsive" id='cost-table'>
                    <table class="table table-striped margin_top_normal table-condensed">
                        <thead>
                            <tr>
                                <th style="width: 30%; text-align: center;"><?php echo $this->translate('Supplier'); ?></th>
                                <th style="width: 30%; text-align: center;"><?php echo $this->translate('Cost Type'); ?></th>
                                <th style="width: 30%; text-align: center;"><?php echo $this->translate('Cost Value'); ?></th>
                                <!-- <th style="width: 10%; text-align: center;">Common Cost</th> -->
                                <th style="width: 10%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="cost-line-sample hidden">
                                <td class="">
                                    <select class="form-control selectpicker show-tick cost-supplier" id="" name="supplierID" data-live-search="true" title="Select Supplier">
                                        <option value=""><?php echo $this->translate('Select Supplier') ?></option>
                                    </select>
                                </td>
                                <td class="">
                                    <select class="form-control selectpicker show-tick costCode" id="" name="costCode" data-live-search="true" title="">
                                        <option class="itemCodeDefaultSelect" value=""><?php echo $this->translate('Select Cost Code or Name') ?></option>
                                    </select>
                                </td>
                                <td class="input-group">
                                    <input type="text" name="" class="form-control cost-price" >
                                    <strong class="input-group-addon">
                                        <?php echo $companyCurrencySymbol; ?>
                                   </strong>
                                </td>
                                <!-- <td class="text-center">
                                    <input type="checkbox" name="common-cost" class="cost-tick" id=''>
                                </td> -->
                                <td class="cost-map hidden">
                                    <button type="button" class="btn btn-default" id="cost-map">
                                        <i class="fa fa-plus remove_font_weight"></i>
                                    </button>
                                </td>
                                <td class="add">
                                    <button type="button" class="btn btn-default" id="addCost">
                                        <i class="fa fa-plus remove_font_weight"></i>
                                    </button>
                                </td>
                                <td class='delete hidden'>
                                    <button type="button" class="btn btn-default" id="removeCost">
                                        <i class="fa fa-trash-o delete"></i>
                                    </button>
                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class='col-lg-12'>
        <div class='panel panel-default clearfix'>
            <div class='panel-heading'><b><?php echo $this->translate('Added Item Costs')?></b></div>
            <div class='table table-responsive'>
                <table class="table table-striped margin_top_normal table-condensed maped-item hidden">
                    <thead>
                        <tr>
                            <th style="width: 20%; text-align: center;"><?php echo $this->translate('Product Name'); ?></th>
                            <th style="width: 20%; text-align: center;"><?php echo $this->translate('Unit Price'); ?></th>
                            <th style="width: 20%; text-align: center;"><?php echo $this->translate('Qty'); ?></th>
                            <th style="width: 20% ; text-align: center;"><?php echo $this->translate('Additional Cost'); ?></th>
                            <th style="width: 20%; text-align: center;"><?php echo $this->translate('Total Unit Price'); ?></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="maped-item-sample hidden">
                            <td class="">
                                <input type="text" name="" class="form-control item-name-code" >
                            </td>
                            <td class="">
                                <div class="">
                                    <input type="text" name="unitPrice" class="maped-unit-price form-control">
                                </div>
                            </td>
                            <td class="">
                                <div class="">
                                    <input type="text" name="maped-qty" class="maped-qty form-control">
                                </div>
                            </td>
                            <td class="">
                                <div class="">
                                    <input type="text" name="maped-cost" class="maped-cost form-control">
                                </div>
                            </td>
                            <td class="">
                                <div class="">
                                    <input type="text" name="maped-total-cost" class="maped-total-cost form-control">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table> 
            </div>  
        </div>
        
    </div>
    <div class="col-lg-12">
        <div class='panel panel-default clearfix'>
            <div class='panel-heading compound-cost-basic' ><b><?php echo $this->translate('Template Details')?></b>
            </div>
            <div class='row'>
                <div class="margin_top_normal">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="cost-name" class="col-lg-3 control-label">
                                <?php echo $this->translate("Template Name"); ?>
                                <font style="color: red">*</font>
                            </label>
                            <div class="col-lg-9">
                                <div class="">
                                    <input type="text" name="temp-name" class="form-control temp-name">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="comment" class="col-lg-3 control-label text-right">
                                <?php echo $this->translate("Template Comment"); ?>
                                <font style="color: red">*</font>
                            </label>
                            <div class="col-lg-9">
                                <div class="">
                                    <input type="text" name="temp-comment" class="form-control temp-comment">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="comment" class="col-lg-3 control-label text-right">
                                <?php echo $this->translate("Calculation Type"); ?>
                            </label>
                            <div class="col-lg-9">
                                <div class="">
                                    <select class="form-control selectpicker cost-type" id="cost-type-set" name="cost-type" data-live-search="true" title="">
                                        <?php
                                            foreach ($costCalculateType as $key => $value) {
                                            ?>
                                                <option class="cost-cal-type-val" value=<?php echo $key ?>><?php echo $value ?></option>
                                            
                                            <?php     
                                             } 
                                        ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 text-right margin_top_normal margin_bottom_normal">
                        <button class="btn btn-default" id="convert-to-grn"><?php echo $this->translate('PROCESS'); ?></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    


</div>
    



 


