<!--grn_list-->
<div class="table-responsive margin_top">
    <table class="table table-striped">
        <thead class='table table-striped margin_top_normal table-condensed'>
            <tr>
                <th><?php echo $this->translate('Landed Cost Template ID/Code') ?></th>
                <th><?php echo $this->translate('Landed Cost Template Name') ?></th>
                <th><?php echo $this->translate('Date & Time') ?></th>
                <th class="text-center"><?php echo $this->translate('Status') ?></th>
                
            </tr>
        </thead>
        <tbody class='margin_top'>
            <?php
            foreach ($this->landedCostList as $key => $cCL) {
                $cc = (object) $cCL;
                $state = ucfirst($this->statuses[$cc->status]);
                if ($cc->compoundCostTemplateCode == null) {
                    $costCode = $cc->compoundCostTemplateID;
                } else {
                    $costCode = $cc->compoundCostTemplateCode;
                }
                $style = NULL;
                switch ($cc->status) {
                    case "1":
                        $style = "label label-primary";
                        break;
                    case "2":
                        $style = "label label-default";
                        break;
                    case "3":
                        $style = "label label-success";
                        break;
                    case "4":
                        $style = "label label-warning";
                        break;
                    case "5":
                        $style = "label label-primary";
                        break;
                    case "6":
                        $state = 'Open';
                        $style = "label label-danger";
                        break;
                    default :
                        $style = "label label-default";
                }
                ?>
                <tr>
                    <td> <?php echo $costCode; ?></td>
                    <td> <?php echo $cc->compoundCostTemplateName; ?></td>
                    <td class="text-left"> <?php echo $cc->createdTimeStamp; ?></td>
                    <td class="text-center"><span class="<?php echo $style; ?>"> <?php echo $state; ?></span></td>
                </tr>
                <?php
            }

            if (count($this->landedCostList) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div>
<?php
if (!isset($this->paginated)) {
    echo $this->paginationControl(
            $this->landedCostList, 'sliding', array('partial/paginator.phtml', 'compoundCosting'), array(
        'route' => 'compoundCosting', 'action' => 'list'
            )
    );
}
?>