<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate('Map Item With Cost') ?></h4>
        </div>

        <div class="modal-body">
            <div class="table table-responsive table-area">
                <table class="table table-striped margin_top_normal table-condensed">
                    <thead class='theader' id="theader">
                        <tr class='header'>
                            <th class=''>
                        </tr>
                        
                    </thead>
                    <tbody class="mapping-t-body " id='mapping-t-body'>
                        
                    </tbody>
                </table>
            </div>
            

                
            
        </div>

        <div class="modal-footer">
            <button type="button" id="addSupplierModalClose" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
        </div>

    </div>
</div>