<div class="project-type-form-container margin_top">
    <div class="TeamBody">   
        <div class="well well_heading">
            <h5 class="font_weight addTitle"><?php echo $this->translate('Add Team') ?></h5>
            <h5 class="font_weight updateTitle hidden"><?php echo $this->translate('Update Team') ?></h5>
        </div>
        <div class="well well_body">
            <div class="form-horizontal">
                <div class="_row_with_margin clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-3 xs-margin-bottom">
                        <label for="teamCode" class="_remove_bold"><?php echo $this->translate('Team Code') ?><span class="_required">*</span></label>
                        <input type="text" placeholder="<?php echo $this->translate("Eg: TM001"); ?>" autofocus="true" class="form-control" id="teamCode">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 xs-margin-bottom">
                        <label for="teamName" class="_remove_bold"><?php echo $this->translate('Team Name') ?><span class="_required">*</span></label>
                        <input type="text" placeholder="<?php echo $this->translate("Eg: World XI"); ?>" autofocus="true" class="form-control" id="teamName">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 xs-margin-bottom">
                        <label>&nbsp;</label>
                        <input type="button" data-toggle="modal" id="addParticipants" class="form-control btn btn-success" value="<?php echo $this->translate('Add Participants') ?>">
                    </div>
                </div>
                <label>&nbsp;</label>
                <div class="_row_with_margin clearfix">
                    <label>&nbsp;</label>
                    <!--Reset&Add-->
                    <div class="col-lg-12 addDiv">
                        <div class="text-right">
                            <button type="button" class="btn btn-primary update" id="btnAdd"><?php echo $this->translate('Add New') ?></button>
                            <button type="button" class="btn btn-default" id="btnReset"><?php echo $this->translate('Reset') ?></button>
                        </div>
                    </div>

                    <!--cancel&Update-->
                    <div class="col-lg-12 updateDiv hidden">
                        <div class="text-right">
                            <button type="button" class="btn btn-primary update" id="btnUpdate"><?php echo $this->translate('Update') ?></button>
                            <button type="button" class="btn btn-default" id="btnCancel"><?php echo $this->translate('Cancel') ?></button>
                        </div>
                    </div>
                </div>
            </div><!--form_horizontal-->
        </div><!--well_body-->

        <!--search-->
        <div class="well well_custom_padding margin_top">
            <div class="row">
                <div class="col-lg-3">
                    <label class="remove_weight" for="employeeSearch"><?php echo $this->translate('Search Team') ?></label>
                </div>
                <div class="search_field col-lg-9">
                    <form class='team-search-form' method="post">
                        <div class="input-group">
                            <input type="text" class="form-control" id="teamSearch" placeholder="Enter Team name/code">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default minus_margin" id="searchTm"><?php echo $this->translate('Search') ?></button>
                                <button type="button" class="btn btn-default minus_margin" id="searchCancel"><?php echo $this->translate('Cancel') ?></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div><!--well-->
    </div>
</div><!--project_type_form_container-->

<div id="team-list" class="margin_top">
    <?php echo $this->partial('jobs/tournament-team//list', array('teams' => $this->teams, 'paginated' => $this->paginated)); ?>
</div>


<!-- Employee View Modal -->
<div class="modal fade bs-example-modal-sm" id="employeeViewModal" tabindex="-1" role="dialog" aria-labelledby="employeeViewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="employeeViewModalLabel"><?php echo $this->translate('View Participants') ?></h4>
            </div>
            <div class="modal-body employeeViewModalBody"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addParticipantModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->participantAddView; ?>
</div>