<div class="modal-dialog team-modal">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate("Add Participants"); ?></h4>
        </div>

        <div class="modal-body">
            <div id="materialItemAndAssets" class="row">
                <div class="row">
                    <div class="form-group">
                        <div class="col-lg-4">
                            <div>
                                <select class='form-control selectpicker' data-actions-box="false" data-live-search="false" name="partiTy" id="partiType" title="Select Participant Type" data-selected-text-format="count>3" data-size="5">
                                    <option value="0"><?php echo $this->translate('Select Participants Type') ?></option>
                                    <?php
                                    foreach ($this->departments as $department):
                                        $department = (object) $department;
                                        echo '<option value="' . $department->departmentID . '">' . $department->departmentCode.' - '. $department->departmentName . '</option>';
                                    endforeach;
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div>
                                <select class='form-control selectpicker' data-actions-box="false" data-live-search="false" name="partiSubTy" id="partiSubType" title="Select Participant Sub Type" data-selected-text-format="count>3" data-size="5">
                                    <option value="0"><?php echo $this->translate('Select Participants Sub Type') ?></option>
                                    <?php
                                    foreach ($this->designations as $designation):
                                        $designation = (object) $designation;
                                        echo '<option value="' . $designation->designationID . '">'.$designation->designationCode .' - '. $designation->designationName. '</option>';
                                    endforeach;
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div>
                                 <select class='form-control selectpicker' disabled="true" data-actions-box="false" data-live-search="false" name="teamEmp" id="teamEmployee" title="Select Participants" data-selected-text-format="count>3" data-size="5">
                                    <option value="0" disabled="true"><?php echo $this->translate("Select Participants"); ?></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div id="partTable">
                    <hr>
                        <table class="participant-table table margin_top_normal table-condensed hidden">
                            <thead>
                                <tr>
                                    <th width="32%"><?php echo $this->translate("Participant Type"); ?></th>
                                    <th width="32%"><?php echo $this->translate("Participant Sub Type"); ?></th>
                                    <th width="32%"><?php echo $this->translate("Participant"); ?></th>
                                    <th width="4%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="participantPreSetSample" class="add-row sample hidden">
                                    <td id="participantTypeName"></td>
                                    <td id="participantSubTypeName"></td>
                                    <td id="participantName"></td>
                                    
                                    <td class="text-center">
                                        <a class="btn btn-default participant-delete">
                                            <span class="pointer_cursor fa fa-trash-o"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!--modal_body-->

        <div class="modal-footer-style modal-footer">
            <div style="margin-top: 4%; float: right;">
                <button type="button" id="addParti" class="btn btn-primary"><?php echo $this->translate('Add Participants') ?></button>
                <button type="button" id="closeTCProducts" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
            </div> 
        </div>

    </div>
</div>
<style type="text/css">
    .team-modal {
        min-width: 780px;
    }
</style>