<div class="project-type-form-container margin_top">

    <div class="well well_heading">
        <h5 class="font_weight addTitle"><?php echo $this->translate('Add Service') ?></h5>
        <h5 class="font_weight updateTitle hidden"><?php echo $this->translate('Update Service') ?></h5>
    </div>
    <div class="well well_body remove_padding_bottom">
        <div class="_row_with_margin clearfix">

            <div class="col-lg-3 col-md-3 col-xs-12">
                <div class="form-group control-label label_bottom_margin">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Service Code') ?><font color="red"> *</font></label>
                </div>
                <div class="form-group control-label label_bottom_margin">
                    <div class="">
                        <input type="text" placeholder="<?php echo $this->translate('Eg: SER001') ?>" name="serviceCode" id="serviceCode" class="serviceCode form-control">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-xs-12">
                <div class="form-group control-label label_bottom_margin">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Service Name') ?><font color="red"> *</font></label>
                </div>
                <div class="form-group control-label label_bottom_margin">
                    <div class="">
                        <input type="text" placeholder="<?php echo $this->translate('Eg: Washing') ?>" name="serviceName" id="serviceName" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12">
                <div class="form-group control-label label_bottom_margin">
                    <label for="employeeDepartment" class="_remove_bold"><?php echo $this->translate('Department') ?><span class="_required">*</span></label>
                </div>
                <div class="form-group control-label label_bottom_margin">
                    <select class='form-control selectpicker show-tick' data-actions-box="false" data-live-search="true" name="serviceDept" id="department" title="Select a Department" data-selected-text-format="count>3" data-size="5">
                        <option value="0"><?php echo $this->translate('Select Department') ?></option>
                        <?php
                        foreach ($this->departments as $department):
                            $department = (object) $department;
                            echo '<option value="' . $department->departmentID . '">' . $department->departmentCode.' - '. $department->departmentName . '</option>';
                        endforeach;
                        ?>
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="form-group control-label label_bottom_margin">
                    <label class="_remove_bold"><?php echo $this->translate('Referal Item') ?><font color="red"> *</font></label>
                </div>
                <div class="">
                    <select class="form-control selectpicker show-tick"  id="addItem" name="addItem" data-live-search="true">
                        <option class="" value=""><?php echo $this->translate('Select a non inventory item') ?></option>
                    </select>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-xs-6">
                <div style="float: left; padding-top: 5%;">
                    <a data-toggle="modal" id="serviceSubTasks"  class="btn btn-success"><?php echo $this->translate('Add Sub Tasks') ?></a>
                </div>
            </div>
        </div>
        <br>
        <div class="_row_with_margin clearfix">
            <div class="col-lg-6 col-md-6 col-xs-6">
                <a href="#" id="addVehicalType"><h5><b>Add vehicle types to services</b></h5></a>
                <h5 class="hidden" id="viewVehicalType"><b>Add vehicle types to services</b></h5>
            </div>
        </div>
        <div class="row hidden" id="vehicalTypeDiv">
            <?php foreach ($this->vehicleTypes as $value) {
            ?>
                <div class="col-lg-2" id="<?php echo $value['vehicleTypeID']; ?>">
                    <label class="containerType"><?php echo $value['vehicleTypeName']; ?>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            <?php } ?>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-6">
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6 form-group project-button">
                <div class="add" style="float: right; padding-top: 5%;">
                    <button type="button" class="btn btn-primary" id="add"><?php echo $this->translate('Add New') ?></button>
                    <button type="button" class="btn btn-default" id="reset"><?php echo $this->translate('RESET') ?></button>
                </div>
                <div class="update hidden" id="update" style="float: right; padding-top: 5%;">
                    <button type="button" class="btn btn-primary" id="updateType"><?php echo $this->translate('Update') ?></button>
                    <button type="button" class="btn btn-default" id="cancelService"><?php echo $this->translate('Cancel') ?></button>
                </div>
            </div>
        </div>
    </div>
</div><!--project_type_form_container-->


<!--search-->
<div class="well clearfix well_custom_padding margin_top jobType">
    <form class="task-search" id="task-search" method="post" action="">
        <div class="col-lg-3">
            <label class="remove_weight"><?php echo $this->translate('Search a Service') ?></label>
        </div>
        <div class="col-lg-9 xs-search-field">
            <div class=" input-group">
                <input type="text" class="search form-control" id ='service-search-keyword' placeholder="<?php echo $this->translate('Enter Service Name or Code') ?>"/>
                <span class="input-group-btn">
                    <button class="btn btn-default search_btn_css" type="submit"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default reset" type="reset"><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </form>
</div>

<!--paginate project type list add in here-->
<div id="service-list" class="margin_top">
    <?php echo $this->partial('jobs/service-setup/list', array('ServiceList' => $this->ServiceList, 'paginated' => $this->paginated)); ?>
</div>

<div class="modal fade" id="addSubTaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->SubTaskAddView; ?>
</div>
<style type="text/css">
    /* The container */
.containerType {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.containerType input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.containerType:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerType input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containerType input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.containerType .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
</style>