<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('Service Code') ?></th>
                <th><?php echo $this->translate('Service Name') ?></th>
                <th><?php echo $this->translate('Department') ?></th>
                <th><?php echo $this->translate('Product') ?></th>
                <th class="text-center"><?php echo $this->translate('Sub Tasks') ?></th>
                <th class="text-center" ><?php echo $this->translate('Status') ?></th>
                <th class="text-center" ><?php echo $this->translate('Edit') ?></th>
                <th class="text-center" ><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->ServiceList as $service) {
                $service = (object) $service;
                ?>
                <tr data-serviceID="<?php echo $service->taskID;?>" data-departmentID="<?php echo $service->departmentID;?>" data-productid="<?php echo $service->productID;?>">
                    <td class="sCode"><?php echo $service->taskCode; ?></td>
                    <td class="sName"><?php echo $service->taskName ?></td>
                    <td class="sDepartment"><?php echo $service->departmentCode.'-'.$service->departmentName ?></td>
                    <td class="sProduct"><?php echo $service->productCode.'-'.$service->productName ?></td>
                    <td class="sSubTask text-center">
                        <a href="#" class="view-subTask" data-action="view-satations">
                            <span class="fa fa-eye custom_font_size"></span>
                        </a>
                    </td>
                    <td class="sStatus text-center">
                        <a href="#" class="serviceStat" data-action="status">
                            <span class="<?php echo ($service->status == '1') ? 'fa fa-check-square-o' : 'fa fa-square-o '; ?> custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="#" class="edit">
                            <span class="fa fa-pencil-square-o custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center" >
                        <a href="#" class="delete">
                            <span class="fa fa-trash-o custom_font_size"></span>
                        </a>
                    </td>
                </tr>
                <?php
            }
            if (count($this->ServiceList) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div><!--table_responsive-->

<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->ServiceList, 'sliding', array('partial/paginator.phtml', 'serviceSetup'), array(
        'route' => 'serviceSetup', 'action' => 'index'
            )
    );
}
?>
