<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
            <h4><?php echo $this->translate('Add Sub Tasks') ?></h4>
        </div>

        <div class="modal-body" id="addSubTaskBody">
            <div class="col-lg-12 margin_top" id="subTaskAddTable">
                <div class="table table-responsive modaltable">
                    <table class="table table-striped margin_top_normal table-condensed" id="subTaskTable">
                        <thead>
                            <tr>
                                <th class="" style="width: 45%"><?php echo $this->translate("Sub Tasks"); ?></th>
                                <th style="width: 45%"></th>
                            </tr>
                        </thead>

                        <tbody id="formRow">
                            <tr id='preSample' class="hidden">
                                <td style="width: 45%">
                                    <input disabled name="addSubTaskCode" type="text" class="form-control" />
                                </td>
                                <td style="width: 45%">
                                    <input disabled name="addSubTaskName" type="text" class="form-control" />
                                </td>
                                <td class="text-right"><button id ="colnedDeleteSubTask" class="deleteSubTsk btn btn-default"><i class='glyphicon glyphicon-trash deleteSubTsk' id=''></i></button></td>
                            </tr>
                        </tbody>

                        <tbody id="addNewSubTaskRow">
                            <tr><!--item_insert-->
                                <td style="width: 45%">
                                    <input  name="subTaskCode" id="subTaskCode" placeholder="Sub Task Code" type="text" class="form-control" />
                                </td>
                                <td style="width: 45%">
                                    <input name="subTaskName" id="subTaskName" placeholder="Sub Task Name" type="text" class="form-control" />
                                </td>
                                
                                <td class="text-right"><strong class="btn btn-default" id="add_sub_task"><i class="glyphicon glyphicon-plus"></i></strong></td>
                            </tr>

                            <tr>
                                <td colspan="7">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>

                </div><!--table_responsive-->
            </div><!--./col-->
        </div>
        <div class="modal-body hidden" id="viewSubTaskBody">
            <div class="col-lg-12 margin_top" id="subTaskViewTable">
                <div class="table table-responsive modaltable">
                    <table class="table table-striped margin_top_normal table-condensed">
                        <thead>
                            <tr>
                                <th class="" style="width: 40%"><?php echo $this->translate("Sub Task Code"); ?></th>
                                <th class="" style="width: 40%"><?php echo $this->translate("Sub Task Name"); ?></th>
                                <th style="width: 10%"></th>
                                <th style="width: 10%"></th>
                            </tr>
                        </thead>                        

                        <tbody id="viewNewSubTaskRow">
                            <tr id='subTskRow' class="hidden">
                                <td id="subTskCode"></td>
                                <td id="subTskName"></td>
                                <td id="status">
                                    <a href="#" class="subTskStatus designation-action" data-action="status">
                                        <span style="font-size: 20px;" class="subTskStatusIcon fa custom_font_size "></span>
                                    </a>
                                </td>
                                <td id="deleteSubTask"><button class="deleteSubTask btn btn-default"><i class='glyphicon glyphicon-trash' id=''></i></button></td>
                            </tr>
                        </tbody>
                    </table>

                </div><!--table_responsive-->
            </div><!--./col-->
        </div>

        <div class="modal-footer modal-footer-style">
            <div class="col-lg-12">
                <div class="text-right">
                    <button type="button" class="btn btn-primary" id="btnAddSubTask"><?php echo $this->translate('Add Sub Tasks') ?></button>
                    <button type="button" class="btn btn-danger" id="btnSubTaskClose"><?php echo $this->translate('Close') ?></button>
                    <button type="button" class="btn btn-danger hidden" data-dismiss="modal" id="btnViewSubTaskClose"><?php echo $this->translate('Close') ?></button>
                </div>
            </div>
        </div>
    </div>
</div>
