
<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">
                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Item Code') ?></th>
                        <th><?php echo $this->translate('Item Name') ?></th>
                        <th><?php echo $this->translate('Item Quantity') ?></th>
                    </tr>
                    <?php
                    if ($dailyDeliveryItemData) {
                        foreach ($dailyDeliveryItemData as $data) {
                            ?>
                            <tr class="even_row">
                                <td style="text-align: left"><?php echo $data['productCode']; ?></td>
                                <td class="change_order_total_col"><?php echo $data['productName']; ?></td>
                                <td style="text-align: right"><?php echo $data['quantity'] . ' ' . $data['uomAbbr']; ?></td>
                            </tr>
                        <?php } ?>
                        <tr class="even_row">
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                    <?php } else { ?>
                        <tr class="even_row">
                            <td><?php echo $this->translate('No related data found') ?></td>
                            <td></td>
                            <td></td>
                        </tr>
                    <?php } ?>
                </tbody>

            </table>

        </div>

    </div>
</div>



