
<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">
                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Date') ?></th>
                        <th><?php echo $this->translate('Delivery Note No') ?></th>
                        <th><?php echo $this->translate('Total Amount') . " ({$currencySymbol})" ?></th>
                    </tr>
                    <?php
                    if ($dailyDeliveryData) {
                        foreach ($dailyDeliveryData as $data) {
                            ?>
                            <tr class="even_row">
                                <td style="text-align: left"><?php echo $data['deliveryNoteDeliveryDate']; ?></td>
                                <td style="text-align: right"><?php echo $data['deliveryNoteCode']; ?></td>
                                <td class="change_order_total_col"><?php echo $data['deliveryNotePriceTotal']; ?></td>
                            </tr>

                        <?php } ?>
                        <tr class="even_row">
                            <td></td>
                            <td>Grand Total:</td>
                            <td class="change_order_total_col"><?php echo $this->grandTotal; ?></td>

                        </tr>
                    <?php } else { ?>
                        <tr class="even_row">

                            <td style="text-align: left"><?php echo $this->translate('No related data found') ?></td>
                            <td></td>
                            <td></td>
                        </tr>
                    <?php } ?>

                </tbody>

            </table>

        </div>

    </div>
</div>



