<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>
    <div id="content">
        <div class="page" style="font-size: 7pt">
            <?php echo $this->headerTemplate; ?>
            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>
            <table class="change_order_items">
                <tbody>
                    <tr>
                        <th style="width: 7%"><?php echo $this->translate('Delivery Note Code'); ?></th>
                        <th style="width: 7%"><?php echo $this->translate('Date'); ?></th>
                        <th style="width: 12%"><?php echo $this->translate('Customer'); ?></th>
                        <th style="width: 6%"><?php echo $this->translate('Customer Profile'); ?></th>
                        <th style="width: 9%"><?php echo $this->translate('Amount') . ' (' . $currencySymbol . ')';  ?></th>
                        <th style="width: 13%"><?php echo $this->translate('Item Name'); ?></th>
                        <th style="width: 7%"><?php echo $this->translate('Issued Price') . ' (' . $currencySymbol . ')'; ?></th>
                        <th style="width: 8%"><?php echo $this->translate('Unit Cost') . ' (' . $currencySymbol . ')'; ?></th>
                        <th style="width: 5%"><?php echo $this->translate('UOM'); ?></th>
                        <th style="width: 5%"><?php echo $this->translate('Issued Quantity'); ?></th>
                        <th style="width: 5%"><?php echo $this->translate('Returned Quantity'); ?></th>
                        <th style="width: 8%"><?php echo $this->translate('TotalCost'). ' (' . $currencySymbol . ')'; ?></th>                        
                        <th style="width: 8%"><?php echo $this->translate('Remaining Item Amount'). ' (' . $currencySymbol . ')'; ?></th>
                    </tr>
                    <?php 
                    if (empty($dataList)) {
                    ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="12">No related data found</td>
                        </tr>
                    <?php
                    } else {
                        $totalDeliveryNoteAmount = $totalDeliveryNoteItemAmount = 0;
                        $totalDNoteIssuesQty  = 0;
                        $totalDNoteIreturnQty = 0;
                        $totalDNoteTotalCost = 0;
                        foreach ($dataList as $data) {
                            $totalDeliveryNoteAmount += $data['amount'];
                            $totalDeliveryNoteAmount -= $data['totalTax'];
                        ?>
                            <tr class="even_row">
                                <td style="text-align: left"><?php echo $data['code']; ?></td>
                                <td style="text-align: center"><?php echo $data['date']; ?></td>
                                <td style="text-align: left"><?php echo $data['customer']; ?></td>
                                <td style="text-align: left"><?php echo $data['customerProfile']; ?></td>
                                <td style="text-align: right"><?php echo number_format(($data['amount'] - $data['totalTax']), 2); ?></td>
                                <td style="text-align: left" colspan="8"></td>
                            </tr>
                        <?php
                            $totalItemAmount = 0;
                            $dNoteIssuesQty  = 0;
                            $dNoteIreturnQty = 0;
                            $dNotetotalCost = 0;
                            foreach ($data['itemData'] as $itemData) {   
                                                        
                                $itemValue = ($itemData['itemTotal'] - $itemData['itemReturnedAmount'] - $itemData['itemRemainingTaxAmount']);
                                $totalItemAmount += $itemValue;
                                $totalDeliveryNoteItemAmount += $itemValue;
                                $dNoteIssuesQty += $itemData['itemIssuedQty'];
                                $dNoteIreturnQty += $itemData['itemReturnedQty'];
                                $totalDNoteIssuesQty += $itemData['itemIssuedQty'];
                                $totalDNoteIreturnQty += $itemData['itemReturnedQty'];
                                $dNotetotalCost += $itemData['totalCost'];
                                $totalDNoteTotalCost +=$itemData['totalCost'];
                        ?>
                                <tr class="even_row">
                                    <td colspan="5"></td>
                                    <td style="text-align: left"><?php echo $itemData['itemName']; ?></td>
                                    <td style="text-align: right"><?php echo number_format($itemData['itemPrice'], 2); ?></td>
                                    <td style="text-align: right"><?php echo number_format($itemData['unitCost'], 2); ?></td>
                                    <td style="text-align: center"><?php echo $itemData['itemUOM']; ?></td>
                                    <td style="text-align: right"><?php echo number_format($itemData['itemIssuedQty'], 2); ?></td>
                                    <td style="text-align: right"><?php echo number_format($itemData['itemReturnedQty'], 2); ?></td>
                                    <td style="text-align: right"><?php echo number_format($itemData['totalCost'], 2); ?></td>
                                    <td style="text-align: right"><?php echo number_format($itemValue, 2); ?></td>
                                </tr>
                        <?php
                            }
                            ?>
                            <tr>
                                <td style="text-align: right" colspan="9"><b><?php echo $this->translate('Delivery Note Item :') ?></b></td>
                                <td style="text-align: right"><b><?php echo number_format($dNoteIssuesQty, 2); ?></b></td>
                                <td style="text-align: right"><b><?php echo number_format($dNoteIreturnQty, 2); ?></b></td>
                                <td style="text-align: right"><b><?php echo number_format($dNotetotalCost, 2); ?></b></td>
                                <td style="text-align: right"><b><?php echo number_format($totalItemAmount, 2); ?></b></td>
                            </tr>    
                            <?php
                        }
                        ?>
                        <tr>
                            <td style="text-align: right" colspan="4"><b><?php echo $this->translate('Total Delivery Note Item :') ?></b></td>
                            <td style="text-align: right"><b><?php echo number_format($totalDeliveryNoteAmount, 2); ?></b></td>
                            <td style="text-align: right" colspan="4"><b><?php echo $this->translate('Total Delivery Note Item :') ?></b></td>
                            <td style="text-align: right"><b><?php echo number_format($totalDNoteIssuesQty, 2); ?></b></td>
                            <td style="text-align: right"><b><?php echo number_format($totalDNoteIreturnQty, 2); ?></b></td>
                            <td style="text-align: right"><b><?php echo number_format($totalDNoteTotalCost, 2); ?></b></td>
                            <td style="text-align: right"><b><?php echo number_format($totalDeliveryNoteItemAmount, 2); ?></b></td>
                        </tr>    
                        <?php
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>