<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>
    <div id="content">
        <div class="page" style="font-size: 7pt">
            <?php echo $this->headerTemplate; ?>
            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>
            <table class="change_order_items">
                <tbody>
                    <tr>
                        <th style="width: 20%"><?php echo $this->translate('Customer'); ?></th>
                        <th style="width: 20%"><?php echo $this->translate('Product Code-Name'); ?></th>
                        <th style="width: 10%"><?php echo $this->translate('Unit Price'). ' (' . $currencySymbol . ')'; ?></th>
                        <th style="width: 10%"><?php echo $this->translate('UOM'); ?></th>
                        <th style="width: 10%"><?php echo $this->translate('Issued Quantity'); ?></th>
                        <th style="width: 10%"><?php echo $this->translate('Returned Quantity'); ?></th>                        
                        <th style="width: 20%"><?php echo $this->translate('Remaining Item Amount'). ' (' . $currencySymbol . ')'; ?></th>
                        
                    </tr>
                    <?php 
                    if (empty($dataList)) {
                    ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="7"><?php echo $this->translate('No related data found'); ?></td>
                        </tr>
                    <?php
                    } else {
                        $totalDeliveryNoteAmount  = 0;
                        
                        foreach ($dataList as $data) {
                         
                            $deliveryNoteCode = implode(" ", array_unique($data['deliveryNotes']));
                            
                        ?>
                            <tr class="even_row">
                                <td style="text-align: left"><?php echo $data['details']['name'].'-'.$data['details']['code']; ?></td>
                                <td style="text-align: left" colspan="6"></td>
                            </tr>
                        <?php
                            $totalItemAmount = 0;
                            $totalItemTaxAmount = 0;
                            foreach ($data['dataSet'] as $itemData) {   
                                                          
                                $totalItemAmount += $itemData['remainingAmount'];
                                $totalItemTaxAmount += $itemData['remainingTaxAmount'];
                                $totalValue = $itemData['remainingAmount'] + $itemData['remainingTaxAmount'];
                                $cusWiseTotal = $totalItemAmount + $totalItemTaxAmount;
                                                               
                        ?>
                                <tr class="even_row">
                                    <td colspan="1"></td>
                                    <td style="text-align: left"><?php echo $itemData['itemName']; ?></td>
                                    <td style="text-align: right"><?php echo number_format($itemData['specialUPrice'], 2); ?></td>
                                    <td style="text-align: center"><?php echo $itemData['itemUOM']; ?></td>
                                    <td style="text-align: right"><?php echo number_format($itemData['IssuedAllQty'], 2); ?></td>
                                    <td style="text-align: right"><?php echo number_format($itemData['returnedAllQty'], 2); ?></td>
                                    <td style="text-align: right"><?php echo number_format($totalValue, 2); ?></td>
                                </tr>
                        <?php
                            }
                            ?>
                            <tr>
                                <td style="text-align: left" colspan="1"><b><?php echo $this->translate('Releted Delivery Notes:'); ?></b></td>
                                <td style="text-align: left" colspan="3"><b><?php echo $deliveryNoteCode; ?></b></td>
                                <td style="text-align: right" colspan="2"><b><?php echo $this->translate('Delivery Note Item Total:'); ?></b></td>
                                <td style="text-align: right"><b><?php echo number_format($cusWiseTotal, 2); ?></b></td>
                            </tr>
                            <tr>
                                <td colspan="1"></td>
                                <td colspan="3"></td>
                                <td colspan="2"></td>
                                <td colspan="1"></td>
                            </tr>
                                
                            <?php
                            $totalDeliveryNoteAmount += $cusWiseTotal;
                        }
                        ?>
                        <tr>
                            <td style="text-align: right" colspan="6"><b><?php echo $this->translate('Delivery Note Total Value :'); ?></b></td>
                            <td style="text-align: right"><b><?php echo number_format($totalDeliveryNoteAmount, 2); ?></b></td>
                        </tr>    
                        <?php
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>