
<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">
                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Date') ?></th>
                        <th><?php echo $this->translate('Customer Name') ?></th>
                        <th><?php echo $this->translate('Delivery Note Number') ?></th>
                        <th><?php echo $this->translate('Total Amount') . "({$currencySymbol})" ?></th>
                    </tr>
                    <?php if (count($dailyDeliveryNoteValueData) == 0) { ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="6"><?php echo $this->translate('No related data found'); ?></td>
                        </tr>

                        <?php
                    } else {
                        foreach ($dailyDeliveryNoteValueData as $data) {
                            
                            echo '
                        <tr class="even_row">
                            <td style="text-align: left">' . $data['deliveryDate'] . '</td>
                            <td style="text-align: left">' . $data['customerCode'].' - '. $data['customerName'] . '</td>
                            <td style="text-align: right">' . $data['deliveryNoteNumber'] . '</td>
                            <td class="change_order_total_col">' . number_format($data['totalAmount'], 2) . '</td>
                        </tr>';
                        }
                        echo'
                    <tr class="even_row">
                        <td></td>
                        <td></td>
                        <td>' . $this->translate('Grand Total') . ':</td>
                        <td class="change_order_total_col">' . $this->grandTotal . '</td>
                    </tr>';
                    }
                    ?>
                </tbody>

            </table>

        </div>

    </div>
</div>



