<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>
    <div id="content">
        <div class="page" style="font-size: 7pt">
            <?php echo $this->headerTemplate; ?>
            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>
            <table class="change_order_items">
                <tbody>
                    <tr>
                        <th style="width: 10%"><?php echo $this->translate('Delivery Note Code'); ?></th>
                        <th style="width: 10%"><?php echo $this->translate('Delivery Note Date'); ?></th>
                        <th style="width: 13%"><?php echo $this->translate('Delivery Note Amount') . ' (' . $currencySymbol . ')';  ?></th>
                        <th style="width: 10%"><?php echo $this->translate('Delivery Note Status'); ?></th>
                        <th style="width: 10%"><?php echo $this->translate('Sales Return Code'); ?></th>
                        <th style="width: 10%"><?php echo $this->translate('Sales Return Date'); ?></th>
                        <th style="width: 10%"><?php echo $this->translate('Sales Return Status'); ?></th>
                        <th style="width: 13%"><?php echo $this->translate('Total Sales Return Amount'). ' (' . $currencySymbol . ')'; ?></th>
                        <th style="width: 12%"><?php echo $this->translate('Copied Sales Return Amount'). ' (' . $currencySymbol . ')'; ?></th>
                    </tr>
                    <?php 
                    if (empty($dataList)) {
                    ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="9"><?php echo $this->translate('No related data found'); ?></td>
                        </tr>
                    <?php
                    } else {
                        foreach ($dataList as $dnData) {
                        ?>
                            <tr class="even_row">
                                <td style="text-align: left"><?php echo $dnData['deliveryNoteCode']; ?></td>
                                <td style="text-align: center"><?php echo $dnData['deliveryNoteDeliveryDate']; ?></td>                                
                                <td style="text-align: right"><?php echo number_format($dnData['deliveryNotePriceTotal'], 2); ?></td>
                                <td style="text-align: center"><?php echo $dnData['deliveryNoteStatus']; ?></td>
                                <td colspan="5"></td>
                            </tr>
                        <?php
                            $totalCopiedAmount = 0;
                            foreach ($dnData['returnData'] as $returnData) {
                        ?>
                                <tr class="even_row">
                                    <td colspan="4"></td>
                                    <td style="text-align: left"><?php echo $returnData['salesReturnCode']; ?></td>
                                    <td style="text-align: center"><?php echo $returnData['salesReturnDate']; ?></td>
                                    <td style="text-align: center"><?php echo $returnData['salesReturnStatus']; ?></td>
                                    <td style="text-align: right"><?php echo number_format($returnData['salesReturnTotal'], 2); ?></td>
                                    <td style="text-align: right"><?php echo number_format($returnData['salesReturnCopiedAmount'], 2); ?></td>
                                </tr>
                        <?php
                            $totalCopiedAmount += $returnData['salesReturnCopiedAmount'];
                            }
                        ?>
                        <tr class="odd_row">
                            <td colspan="4"></td>
                            <td colspan="4"><b>Total Copied Amount :</b></td>
                            <td style="text-align: right"><b><?php echo number_format($totalCopiedAmount, 2); ?></b></td>
                        </tr>
                        <?php
                    }
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>