<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>

            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th style="width:10%"><?php echo $this->translate('Delivery Note Code') ?></th>
                        <th style="width:10%"><?php echo $this->translate('Customer Name') ?></th>
                        <th style="width:15%"><?php echo $this->translate('Edited Date') ?></th>
                        <th style="width:15%"><?php echo $this->translate('Edited User') ?></th>
                        <th style="width:10%"><?php echo $this->translate('Changed Category') ?></th>
                        <th style="width:50%"><?php echo $this->translate('Changed Details') ?></th>
                    </tr>

                    <?php
                    if (empty($editedDeliveryNoteData)) {
                        ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="6"><?php echo $this->translate('No related data found'); ?></td>
                        </tr>
                        <?php
                    } else {
                        $netAmount = 0.00;

                        foreach ($editedDeliveryNoteData as $data) {
                            ?>
                            <tr class="even_row">
                                <td style="text-align: left"><?php echo $data['deliveryNoteCode']; ?></td>
                                <td style="text-align: left"><?php echo $data['deliveryNoteCustomerName']; ?></td>
                                <td style="text-align: left"><?php echo $data['dateAndTime']; ?></td>
                                <td style="text-align: left"><?php echo $data['createdUser']; ?></td>
                                <td colspan="2"></td>
                            </tr>
                            <?php foreach ($data['data'] as $value) {
                                ?>
                                <tr class="even_row">
                                    <td style="text-align: left" colspan="4"></td>
                                    <td style="text-align: left"><?php echo $value['category']; ?></td>
                                    <td style="text-align: left"><?php echo $value['changed']; ?></td>
                                </tr>
                                <?php
                            }
                        }
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>



