<script type="text/javascript">

    function printdiv(printpage)
    {

        var divContents = $("#" + printpage).html();
        var printWindow = window.open('', '', 'height=400,width=800');
        printWindow.document.write(divContents);
        printWindow.print();
        printWindow.close();
        return ture;

    }
</script>

<!--panel-->
<div class='panel panel-default margin_top margin_bottom panel_border'>

    <div class='panel-heading panel_heading_style'><!--panel_heading-->
        <h4 class="font_weight h1_no_margin report_heading"><?php echo $this->translate('Delivery Note Report') ?></h4>
    </div>

    <div class="panel-body panel_body_style">

        <!--links-->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 remove_left_padding remove_right_padding panel_links">
            <ul class="nav nav-pills  nav-stacked data-tabs" data-tabs="tabs">
                <li id="dailyDeliveryValues" class="report_pills active"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Daily Delivery Values') ?></a></li>
                <li id="dailyDeliveryItems" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Daily Delivery Item Quantity') ?></a></li>
                <li id="invDelinoteVal" class="report_pills"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Invoiced Delivery Notes Values') ?></a></li>
                <li id="invDelinoteItem" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Invoiced Delivery Notes Item Quantity') ?></a></li>
                <li id="notInvDelinoteVal" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Not Invoiced Delivery Notes Values') ?></a></li>
                <li id="notInvoiceDeliveryItems" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Not Invoiced Delivery Notes Item Quantity') ?></a></li>
                <li id="deliveryItemDetail" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Delivery Item Detail Report') ?></a></li>
                <li id="deliveryItemDetailSummary" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Delivery Item Detail Summary Report') ?></a></li>
                <li id="deliveryNoteWiseInvoice" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Delivery Note Wise Invoice Report') ?></a></li>
                <!-- <li id="editedDeliveryNote" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Edited Delivery Note') ?></a></li> -->
                <li id="deliveryNoteWiseSalesReturns" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Delivery Note Wise Sales Return Report') ?></a></li>
            </ul>
        </div>

        <!--process_area-->
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 form-horizontal process_area">
            <div id="report_head">

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 report_from_month"><!--from_month-->
                            <label class="control-label from_date_lbl"><?php echo $this->translate('From Date') ?></label>
                            <input type="text" class="span2 datepicker form-control" id="fromDate" name="fromDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to set a From Date') ?>">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 to set_to_date"><!--set_to_date-->
                            <label class="control-label to_date_lbl"><?php echo $this->translate('To Date') ?></label>
                            <input type="text" class="span2 datepicker form-control" id="toDate" name="toDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to set a To Date') ?>">
                        </div>
                    </div><!--row-->

                    <div class="row hidden" id="location_div">
                        <br>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <label class="control-label location-lbl"><?php echo $this->translate('Location') ?></label>
                                <div class="locations">
                                    <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="branch-locations" id="branch-locations" multiple="multiple" title='<?php echo $this->translate('Select Location') ?>' >
                                        <?php
                                        foreach ($this->locationList as $id => $row):
                                            $location = ($id == $currentLocation) ? 'selected="selected"' : '';
                                            echo '<option value="' . $id . '" ' . $location . '>' . $row['locationName'] . '</option>';
                                        endforeach;
                                        ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><!--customer category-->
                            <div class="customer-category-div">
                                <br>
                                <label class="control-label"><?php echo $this->translate('Customer Category') ?></label>
                                <select class="form-control selectpicker" data-actions-box="true" name="customerCategoryList" id="customerCategoryList" multiple="multiple" title="<?php echo $this->translate('Select Customer Category'); ?>">
                                    <?php
                                    foreach ($this->cusCategory as $cuCateID => $value) :
                                        echo '<option value="' . $cuCateID . '">' . $value . '</option>';
                                    endforeach;
                                        
                                    ?>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><!--users-->
                            <div id="user-selection">
                                <br>
                                <label class="control-label"><?php echo $this->translate('Users') ?></label>
                        <select class="form-control selectpicker" data-actions-box="true"
                                name="users" id="users" multiple="multiple" title="<?php echo $this->translate('Select The Users') ?>"
                                data-live-search="true" data-selected-text-format="count>3">
                                    <?php
                                    foreach ($this->users as $userID => $userName) :
                                        echo '<option value="' . $userID . '">' . $userName . '</option>';
                                    endforeach;
                                    ?>
                        </select>
                            </div>
                        </div>
                    </div>
                    <div class="row hidden" id="delivery_note_div">
                        <br>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div>
                                <label class="" name="isAllDeliveryNotelbl" id="isAllDeliveryNotelbl">
                                    <input type="radio" class="check_box_mar_right isAllDeliveryNotes" value="0" name="isAllDeliveryNotes" id="customDeliveryNoteSelection" checked> <?php echo $this->translate('Custom Delivery Notes') ?>
                                </label>
                                <div class="">
                                    <select class='form-control selectpicker ' data-actions-box="true" data-live-search="true" name="deliveryNoteNo" id="deliveryNoteNo" multiple="multiple" title='<?php echo $this->translate('Select Delivery Note(s)') ?>'></select>
                                </div>
                            </div>
                        </div>
                        <!--all delivery note-->
                        <div class="col-lg-4 col-md-4 col-sm-4 product-content" id="isAllProductsCBox">
                            <label name="isAllDeliveryNoteslbl" id="isAllDeliveryNoteslbl">
                                <input type="radio" class="isAllDeliveryNotes" value="1" name="isAllDeliveryNotes" id="isAllDeliveryNotes" > 
                                <?php echo $this->translate('All Delivery Notes') ?>
                            </label>
                        </div>
                    </div>                    
                    
                    <div class="row hidden" id="item_div">
                        <br>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div>
                                <label class="" name="isAllItemslbl" id="isAllItemslbl">
                                    <input type="radio" class="check_box_mar_right isAllItems" value="0" name="isAllItems" id="customItemSelection" checked> <?php echo $this->translate('Custom Items') ?>
                                </label>
                                <div class="">
                                    <select class='form-control selectpicker ' data-actions-box="true" data-live-search="true" name="itemList" id="itemList" multiple="multiple" title='<?php echo $this->translate('Select Item(s)') ?>'></select>
                                </div>
                            </div>
                        </div>
                        <!--all Items-->
                        <div class="col-lg-4 col-md-4 col-sm-4 product-content itemSelection" id="isAllProductsCBox">
                            <label name="isAllCustomerslbl" id="isAllItemslbl">
                                <input type="radio" class="isAllItems" value="1" name="isAllItems" id="isAllItems" > 
                                <?php echo $this->translate('All Items') ?>
                            </label>
                        </div>
                    </div>
                    
                    <div class="row hidden" id="customer_div">
                        <br>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <label class="" name="isAllCustomerslbl" id="isAllCustomerslbl">
                                <input type="radio" class="check_box_mar_right isAllCustomers" value="0" name="isAllCustomers" id="customCustomerSelection" checked> <?php echo $this->translate('Custom Cutomers') ?>
                            </label>
                            <div class="">
                                <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="customerName" id="customerName" multiple="multiple" title="<?php echo $this->translate('Select Customer(s)') ?>" data-selected-text-format="count>3"></select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 product-content customerSelection">
                            <label name="isAllCustomerslbl" id="isAllCustomerslbl">
                                <input type="radio" class="isAllCustomers" value="1" name="isAllCustomers" id="AllCustomers"> 
                                <?php echo $this->translate('All Customers') ?>
                            </label>
                        </div>
                    </div>
                    
                    <div class="row hidden" id="tax_div">
                        <br>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <label class="control-label tax_chk_lbl"><?php echo $this->translate('Tax') ?></label>
                            <div class="text_margin_top">
                                <label id="lblTax" name="lbl_name"><input type="checkbox" id="taxCheckBox" name="tax" value="0" class="check_box_mar_right"/></label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <label class="control-label tax_chk_lbl"><?php echo $this->translate('Sort By Customer') ?></label>
                            <div class="text_margin_top">
                                <label id="lblSortByCustomer" name="lbl_name"><input type="checkbox" id="customerSortCheckBox" name="customerSortCheckBox" value="0" class="check_box_mar_right"/></label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 btn-group btn_panel_height_high report_buttons">
                            <button class="btn btn-default col-lg-2" id="viewReport"><?php echo $this->translate('View Report') ?></button>
                            <button class="btn btn-default col-lg-2" id="generatePdf"><?php echo $this->translate('Generate PDF') ?></button>
                            <button class="btn btn-default col-lg-2" id="csvReport"><?php echo $this->translate('Generate CSV') ?></button>
                        </div>
                    </div>
                </div><!--form-group-->

            </div><!--report_head-->
        </div><!--form_horizontal-->

    </div><!--panel_body-->
</div><!--panel-->

<iframe id="dailyDeliveryReport" class="panel panel-default margin_top margin_bottom panel_border report-iframe hidden"></iframe>
