<div class="row">
	<div class="col-lg-12 gl-account-setup-form-container margin_top">
		
		<div class="well well_heading">
			<h5 class="addTitle"><?php echo $this->translate('Approval Workflow SetUp') ?></h5>
		</div>
		<div class="well well_body">
			<table class="table">
				<thead>
					<tr>
						<th style="width: 50%" ><?php echo $this->translate('Document Type') ?></th>
						<th style="width: 50%"><?php echo $this->translate('Active InActive State') ?></th>
					</tr>
				</thead>
				<tbody>
					<?php 

					foreach ($this->showingDocumentList as $key => $value) {
						$className = "fa custom_font_size active-inactive-btn ". $value['icon'];

						?>
						<tr id="<?php echo $value['docID'] ?>">
							<td style="width: 50%"><?php echo $value['documentName'] ?></td>
							<td style="width: 50%; padding-left: 50px;">
								<a><span class="<?php echo $className ?>" style="font-size: 20px;"></span></a>
							</td>
						</tr>

					<?php } ?>
					
				</tbody>
			</table>
			<button type="button" class="btn btn-primary save"  id="saveWFDoc"><?php echo $this->translate('Save') ?></button>
		</div>
	</div>
	<!-- <div class="col-lg-12 text-right">
		<button type="button" class="btn btn-primary save" id="saveWFDoc"><?php echo $this->translate('Save') ?></button>
	</div> -->
</div>