<!--panel-->
<div class='panel panel-default margin_top margin_bottom panel_border'>

    <div class='panel-heading panel_heading_style'><!--panel_heading-->
        <h4 class="font_weight h1_no_margin report_heading"><?php echo $this->translate('Sales Order') ?></h4>
    </div>

    <div class="panel-body panel_body_style">
        <!--links-->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 remove_left_padding remove_right_padding panel_links">
            <ul class="nav nav-pills  nav-stacked data-tabs" data-tabs="tabs">
                <li id="sales_order_wise_invoice_report" class="report_pills active"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Sales Order Wise Invoice') ?></a></li>
                <li id="sales_order_wise_delivery_note_report" class="report_pills "><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Sales Order Wise Delivery Note') ?></a></li>
                <li id="sales_order_due_date_report" class="report_pills "><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Sales Order Due Date Report') ?></a></li>
            </ul>
        </div>

        <!--process_area-->
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 form-horizontal process_area">
            <div id="report_head">
                <div class="form-group">
                    <div id="">
                        <!--date range-->
                        <div class="row date-range">
                         	<br>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 report_from_month">
                                <label class="control-label from_date_lbl"><?php echo $this->translate('From Date') ?></label>
                                <input type="text" class="span2 datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="fromDate" name="fromDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to Set a From Date') ?>">
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 to set_to_date">
                                <label class="control-label to_date_lbl"><?php echo $this->translate('To Date') ?></label>
                                <input type="text" class="span2 datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="toDate" name="toDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to Set a To Date') ?>">
                            </div>
                           
                        </div>
                        <!--location-->
                        <div class="row location">
                        	<br>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <label class="control-label location-lbl"><?php echo $this->translate('Location') ?></label>
                                <div class="locations">
                                    <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="branchLocation" id="branchLocation" multiple="multiple" title='Select Location(s)' >
                                        <?php
                                        foreach ($this->locationList as $id => $row):
                                            $location = ($id == $currentLocation) ? 'selected="selected"' : '';
                                            echo '<option value="' . $id . '" ' . $location . '>' . $row['locationName'] . '</option>';
                                        endforeach;
                                        ?>
                                    </select>
                                </div>
                            </div>
                            
                        </div>
                        <!--sales person-->
                        <div class="row sales-person">
                        	<br>
                            <div class=" product-content customerSelection">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <label class="" name="isAllCustomerslbl" id="isAllCustomerslbl">
                                        <input type="radio" class="check_box_mar_right isAllCustomers" value="0" name="isAllCustomers" id="customCustomerSelection" checked> <?php echo $this->translate('Custom Cutomers') ?>
                                    </label>
                                    <div class="">
                                        <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="customerName" id="customerName" multiple="multiple" title="<?php echo $this->translate('Select Customer(s)') ?>" data-selected-text-format="count>3"></select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 product-content customerSelection" id="isAllProductsCBox">
                                    <label name="isAllCustomerslbl" id="isAllCustomerslbl">
                                        <input type="radio" class="isAllCustomers" value="1" name="isAllCustomers" id="AllCustomers"> 
                                        <?php echo $this->translate('All Customers') ?>
                                    </label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 hidden" id="cusCategory"><!--customer category-->
                                    <label class="control-label"><?php echo $this->translate('Customer Category') ?></label>
                                    <div class="">
                                        <select class="form-control selectpicker" data-actions-box="true" name="customerCategoryList" id="customerCategoryList" multiple="multiple" title="<?php echo $this->translate('Select Customer Category'); ?>">
                                        <?php
                                        foreach ($this->cusCategory as $cuCateID => $value) :
                                            echo '<option value="' . $cuCateID . '">' . $value . '</option>';
                                        endforeach;
                                            
                                        ?>
                                        </select>
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                        <!--customer-->
                        <div class="row customer">
                        	<br>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 representativeSelection">
                                <div>
                                    <label class="" name="isAllRepresentativelbl" id="isAllRepresentativelbl">
                                        <input type="radio" class="check_box_mar_right isAllRepresentative" value="0" name="isAllRepresentative" id="isAllRepresentative" checked><?php echo $this->translate('Custom Representative') ?>
                                    </label>
                                    <div class="">
                                        <select class='form-control selectpicker ' data-actions-box="true" data-live-search="true" name="representativeList" id="representativeList" multiple="multiple" title='<?php echo $this->translate('Select Representative(s)') ?>'>
                                            <?php
                                            foreach ($this->salesPersonList as $id => $salesPerson):
                                                echo '<option value="' . $id . '">' . $salesPerson . '</option>';
                                            endforeach;
                                                echo '<option value="0">Other</option>';
                                            ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--all Representative-->
                            <div class="col-lg-4 col-md-4 col-sm-4 representativeSelection" id="isAllProductsCBox">
                                <label name="isAllRepresentativelbl" id="isAllRepresentativelbl">
                                    <input type="radio" class="isAllRepresentative" value="1" name="isAllRepresentative" id="isAllRepresentative" > <?php echo $this->translate('All Representative') ?>
                                </label>
                            </div>
                            
                        </div>
                        

                        <!--filer_by-->
                        <!-- <div class="row filer_by hidden">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label class="control-label filer_by_lbl"><?php echo $this->translate('Filter By') ?></label>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-4 ">
                                <label >
                                    <input type="radio" class="salesOrderID" value="1" name="filterRadio" id="salesOrderID" checked="true"> <?php echo $this->translate('Sales Orders') ?>
                                </label>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-4 " >
                                <label >
                                    <input type="radio" class="deliveryNoteID" value="1" name="filterRadio" id="deliveryNoteID" > <?php echo $this->translate('Delivery Notes') ?>
                                </label>
                            </div>
                        </div><br> -->

                        <!--salesOrder-->
                        <div class="row salesOrder">
                        	<br>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <label class="control-label salesOrder-lbl">
                                	<input type="radio" class="check_box_mar_right customeSalesOrders" value="0" name="isAllSalesOrders" id="customeSalesOrders" ><?php echo $this->translate('Custom Sales Orders') ?>
                                </label>
                                <div class="salesOrders">
                                    <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="SO" id="SO" multiple="multiple" title='Select Sales Order(s)' >
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 product-content customerSelection" >
                            	<label name="isAllSalesOrderslbl" id="isAllSalesOrderslbl">
                            		<input type="radio" class="AllSalesOrders" value="1" name="isAllSalesOrders" id="AllSalesOrders"> 
                            		<?php echo $this->translate('All Sales Orders') ?>
                            	</label>
                            </div>
                            
                        </div>

                        <div class="row status_div hidden">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label"><?php echo $this->translate('Status') ?></label>
                                <select class="form-control selectpicker" name="soStatus" id="soStatus">
                                    <option>Select a status</option>
                                    <option value="open">Open</option>
                                    <option value="close">Close</option>
                                </select>
                            </div>
                        </div>
                        <!--deliveryNote-->
                        <!-- <div class="row deliveryNote hidden">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <label class="control-label deliveryNote-lbl">
                                	<input type="radio" class="check_box_mar_right " value="0" name="isAllDeliveryNote" id="customeDeliveryNote" checked><?php echo $this->translate('Custom Delivery Note') ?>
                                </label>
                                <div class="deliveryNotes">
                                    <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="DN" id="DN" multiple="multiple" title='Select Delivery Note(s)'>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 product-content customerSelection" >
                            	<label name="isAllDeliveryNotelbl" id="isAllDeliveryNotelbl">
                            		<input type="radio" class="isAllDeliveryNote" value="1" name="isAllDeliveryNote" id="AllDeliveryNote"> 
                            		<?php echo $this->translate('All Delivery Note') ?>
                            	</label>
                            </div>
                        </div><br> -->
                    </div>
                    <div class="col-lg-12 btn-group btn_panel_height_high report_buttons">
                        <button class="btn btn-default col-lg-2" id="viewReport"><?php echo $this->translate('View Report') ?></button>
                        <button class="btn btn-default col-lg-2" id="generatePdf"><?php echo $this->translate('Generate PDF') ?></button>
                        <button class="btn btn-default col-lg-2" id="csvReport"><?php echo $this->translate('Generate CSV') ?></button>
                    </div>
                </div>
            </div><!--form-group-->
        </div><!--report_head-->
    </div><!--form_horizontal-->
</div><!--panel_body-->

<iframe id="salesOrderReport" class="panel panel-default margin_top margin_bottom panel_border report-iframe hidden"></iframe>
