<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>
<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">
                <tbody>
                    <tr>
                        <th><?php echo $this->translate("SO Code"); ?></th>
                        <th><?php echo $this->translate("SO Issue Date"); ?></th>
                        <th><?php echo $this->translate("SO Due Date"); ?></th>
                        <th><?php echo $this->translate("SO Total Amount"); ?></th>
                        <th><?php echo $this->translate("SO Status"); ?></th>
                        <th><?php echo $this->translate("Invoice Total Amount"); ?></th>
                        <th><?php echo $this->translate("Invoice Paid Amount"); ?></th>
                    </tr>
                    <?php if (count($dataList) == 0) { ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="7"><?php echo $this->translate("No related data found"); ?></td>
                        </tr>

                    <?php
                    } else {
                        foreach ($dataList as $so) {
                    ?>
                        <tr class="even_row">
                            <td style="text-align: center"><?php echo $so['soCode']; ?></td>
                            <td style="text-align: center"><?php echo $so['issuedDate']; ?></td>
                            <td style="text-align: center"><?php echo $so['expireDate']; ?></td>
                            <td style="text-align: center"><?php echo number_format($so['totalAmount'],2); ?></td>
                            <td style="text-align: center"><?php echo $so['stName']; ?></td>
                            <td style="text-align: center"><?php echo number_format($so['salesInvoiceTotalAmount'],2); ?></td>
                            <td style="text-align: center"><?php echo number_format($so['salesInvoiceTotalPaidAmount'],2); ?></td>
                        </tr>
                    <?php
                        }
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>



