<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>
<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">
                <tbody>
                    <tr>
                        <th><?php echo $this->translate("SO Code"); ?></th>
                        <th><?php echo $this->translate("SO Date"); ?></th>
                        <th><?php echo $this->translate("Delivery Date"); ?></th>
                        <th><?php echo $this->translate("Delivery Note Code"); ?></th>
                        <th><?php echo $this->translate("Delivery Note Date"); ?></th>
                        <th><?php echo $this->translate("Delivery Note Delay"); ?></th>
                        <th><?php echo $this->translate("Completion"); ?></th>
                    </tr>
                    <?php if (count($dataList) == 0) { ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="7"><?php echo $this->translate("No related data found"); ?></td>
                        </tr>

                    <?php
                    } else {
                        foreach ($dataList as $so) {
                    ?>
                        <tr class="even_row">
                            <td style="text-align: center"><?php echo $so['soCode']; ?></td>
                            <td style="text-align: center"><?php echo $so['soDate']; ?></td>
                            <td style="text-align: center"><?php echo $so['soDeliveryDate']; ?></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                            <?php
                                $tottalCompletion = 0;
                                foreach ($so['deliveryNoteDetails'] as $deliveryNote) {
                                    $tottalCompletion += $deliveryNote['deliveryNoteCompletion'];
                            ?>
                            <tr class="even_row">
                                <td colspan="3"></td>
                                <td style="text-align: center"><?php echo $deliveryNote['deliveryNoteCode']; ?></td>
                                <td style="text-align: center"><?php echo $deliveryNote['deliveryNoteDate']; ?></td>
                                <td style="text-align: center"><?php echo $deliveryNote['deliveryNoteDelay']; ?></td>
                                <td style="text-align: center"><?php echo number_format($deliveryNote['deliveryNoteCompletion'], 2) . " %"; ?></td>
                            </tr>
                            <?php
                                }
                            ?>

                            <tr class="odd_row">
                                <td colspan="6" style="text-align: right"><b>Total :</b></td>
                                <td style="text-align: center"><b><?php echo number_format($tottalCompletion, 2) . " %"; ?></b></td>
                            </tr>
                        </tr>
                    <?php
                        }
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>



