<?php $this->headScript()->appendFile($this->basePath('js/expenses/bankBranch.js')); ?>

<!--Create_branch-->
<div class="_row_with_margin clearfix margin_top create_wrapper">
    <div class="col-lg-9">
        <p id="bankHeader" data-bank-id="<?php echo $bank['bankId']; ?>"><?php echo $bank['bankName']; ?></p>
    </div>
    <div class="col-lg-3">
        <a id="add-bank-branch" href="#" data-toggle="modal" data-target="#bankBranchModal" class="btn btn-default btn-block"><?php echo $this->translate('Add Bank Branch') ?></a>
    </div>
</div>

<!--Search-->
<div class="well well_custom_padding margin_top">
    <div class="row">
        <div class="col-lg-3">
            <label for="bankBranchSearch" class="remove_weight"><?php echo $this->translate('Search Branch') ?></label>
        </div>
        <div class="search_field col-lg-9">
            <form class='bank-branch-search-form' method="post">
                <div class="input-group">
                    <input type="text" class="form-control" id="bankBranchSearch" placeholder="">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default minus_margin" id="btnSearchCancel"><?php echo $this->translate('Cancel') ?></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div><!--well-->

<!--table-->
<div id="branch-list" class="margin_top">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="20%"><?php echo $this->translate('Branch Code'); ?></th>
                    <th width="20%"><?php echo $this->translate('Branch Name'); ?></th>
                    <th width="40%"><?php echo $this->translate('Branch Address'); ?></th>
                    <th width="10%" class="text-center"><?php echo $this->translate('Edit'); ?></th>
                    <th width="10%" class="text-center"><?php echo $this->translate('Delete'); ?></th>
                </tr>
            </thead>
            <tbody>
                <?php
                if (count($branches) == 0) {
                    ?>
                    <tr class="not_found">
                        <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                    </tr>
                    <?php
                } else {
                    foreach ($branches as $branch) {
                        ?>
                        <tr data-branch-id="<?php echo $branch->bankBranchId; ?>" data-branch-code="<?php echo $branch->bankBranchCode; ?>" data-branch-name="<?php echo $branch->bankBranchName; ?>" data-entity-id="<?php echo $branch->entityId; ?>">
                            <td><?php echo $branch->bankBranchCode; ?></td>
                            <td><?php echo $branch->bankBranchName; ?></td>
                            <td><?php echo $branch->bankBranchAddress; ?></td>
                            <td class="text-center"><a href="#" class="fa fa-edit custom_font_size branch-action" data-action="edit"></a></td>
                            <td class="text-center"><a href="#" class="fa fa-trash-o custom_font_size branch-action" data-toggle="modal" data-target="#branchDeleteModal" data-action="delete"></a></td>
                        </tr>
                        <?php
                    }
                }
                ?>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <?php
            echo $this->paginationControl(
                    $branches, 'sliding', 'partial/paginator.phtml', array('route' => 'bank', 'action' => 'branch', 'param1' => $params['param1'], 'param2' => $params['param2'])
            );
            ?>
        </div>
        <div class="col-lg-6 pagination text-right">
            <a href="<?php echo $this->url('bank', array('action' => 'index')); ?>" class="btn btn-default">Back</a>
        </div>
    </div>

</div><!--#branch_list-->


<!-- Account Create Modal -->
<div class="modal fade bs-example-modal" id="bankBranchModal" tabindex="-1" role="dialog" aria-labelledby="bankBranchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="bankBranchModalLabel"></h4>
            </div>

            <div class="modal-body">
                <?php
                $form = $this->form;
                $form->setAttribute('action', $this->url('bank', array('action' => 'branch')));
                $form->setAttribute('id', 'createBankBranchForm');
                $form->prepare();
                ?>

                <div class="form-horizontal margin_top_low">
                    <?php echo $this->form()->openTag($form); ?>

                    <div class="form-group">
                        <label for="bankBranchCode" class="col-lg-3 control-label"><?php echo $this->translate('Branch Code') ?><span class="_required">*</span></label>
                        <div class="col-lg-9">
                            <?php echo $this->formRow($form->get('bankBranchCode')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="bankBranchName" class="col-lg-3 control-label"><?php echo $this->translate('Branch Name ') ?><span class="_required">*</span></label>
                        <div class="col-lg-9">
                            <?php echo $this->formRow($form->get('bankBranchName')); ?>
                        </div>
                    </div>

                    <div class="form-group _remove_margin_bottom">
                        <label for="bankBranchAddress" class="col-lg-3 control-label"><?php echo $this->translate('Branch Address') ?></label>
                        <div class="col-lg-9">
                            <?php echo $this->formRow($form->get('bankBranchAddress')); ?>
                        </div>
                    </div>

                    <?php echo $this->form()->closeTag(); ?>
                </div><!--form_horizontal-->
            </div><!--modal_body-->

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd"><?php echo $this->translate('Add'); ?></button>
                <button type="button" class="btn btn-primary hidden" id="btnUpdate"><?php echo $this->translate('Update'); ?></button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate('Close'); ?></button>
            </div>
        </div>
    </div>
</div><!--modal-->

<!-- Account Delete Modal -->
<div class="modal fade bs-example-modal-sm" id="branchDeleteModal" tabindex="-1" role="dialog" aria-labelledby="branchDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="accountDeleteModalLabel"><?php echo $this->translate('Delete Branch'); ?></h4>
            </div>
            <div class="modal-body branchDeleteModalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate('Close'); ?></button>
                <button type="button" class="btn btn-danger" id="btnDelete"><?php echo $this->translate('Delete'); ?></button>
            </div>
        </div>
    </div>
</div>