<?php $this->headScript()->appendFile($this->basePath('js/expenses/bank.js')); ?>

<div class="project-type-form-container margin_top">

    <div class="well well_heading">
        <h5 class="font_weight addTitle"><?php echo $this->translate('Register Bank') ?></h5>
        <h5 class="font_weight updateTitle hidden"><?php echo $this->translate('Update Bank') ?></h5>
    </div>

    <div class="well well_body">
        <div class="form-horizontal">
            <div class="_row_with_margin clearfix">

                <!--bank_code-->
                <div class="col-lg-4 col-md-6 col-sm-6 xs-margin-bottom">
                    <label for="bankCode" class="_remove_bold"><?php echo $this->translate('Bank Code') ?><span class="_required">*</span></label>
                    <input type="text" autofocus="true" class="form-control" id="bankCode" placeholder="<?php echo $this->translate('Eg: COM') ?>">
                </div>

                <!--bank_name-->
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <label for="bankName" class="_remove_bold"><?php echo $this->translate('Bank Name') ?><span class="_required">*</span></label>
                    <input type="text" class="form-control" id="bankName" placeholder="<?php echo $this->translate('Eg: Common Bank') ?>">
                </div>

                <!--reset&add_new-->
                <div class="col-lg-4 addDiv">
                    <label>&nbsp;</label>
                    <div class="text-right">
                        <button type="button" class="btn btn-primary" id="btnRegister"><?php echo $this->translate('Register') ?></button>
                        <button type="button" class="btn btn-default" id="btnRest"><?php echo $this->translate('Reset') ?></button>
                    </div>
                </div>

                <!--cancel&update-->
                <div class="col-lg-4 updateDiv hidden">
                    <label>&nbsp;</label>
                    <div class="text-right">
                        <button type="button" class="btn btn-primary update" id="btnUpdate"><?php echo $this->translate('Update') ?></button>
                        <button type="button" class="btn btn-default cancel" id="btnCancel"><?php echo $this->translate('Cancel') ?></button>
                    </div>
                </div>

            </div><!--row-->
        </div><!--form_horizontal-->
    </div><!--well_body-->

    <!--search-->
    <div class="well well_custom_padding margin_top">
        <div class="row">
            <div class="col-lg-3">
                <label class="remove_weight" for="bankSearch"><?php echo $this->translate('Search Bank') ?></label>
            </div>
            <div class="search_field col-lg-9">
                <form class='bank-search-form' method="post">
                    <div class="input-group">
                        <input type="text" class="form-control" id="bankSearch" placeholder="<?php echo $this->translate('Enter bank name') ?>">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default minus_margin" id="searchCancel"><?php echo $this->translate('Cancel') ?></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div><!--well-->

    <!--table-->
    <div id="bank-list" class="margin_top_normal">
        <div class="table table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="20%"><?php echo $this->translate('Bank Code'); ?></th>
                        <th width="53%"><?php echo $this->translate('Bank Name'); ?></th>
                        <th width="9%" class="text-center"><?php echo $this->translate('Branch'); ?></th>
                        <th width="9%" class="text-center"><?php echo $this->translate('Edit'); ?></th>
                        <th width="9%" class="text-center"><?php echo $this->translate('Delete'); ?></th>
                    </tr>
                </thead>

                <tbody>
                    <?php
                    foreach ($banks as $bank) {
                        ?>
                        <tr data-bank-id="<?php echo $bank->bankId; ?>" data-entity-id="<?php echo $bank->entityId; ?>" data-bank-name="<?php echo $bank->bankName; ?>" data-bank-code="<?php echo $bank->bankCode; ?>">
                            <td><?php echo $bank->bankCode; ?></td>
                            <td><?php echo $bank->bankName; ?></td>
                            <td class="text-center"><a href="<?php echo $this->url('bank', array('action' => 'branch', 'param1' => $bank->bankId, 'param2' => 1)); ?>" class="fa fa-plus custom_font_size bnk-action" data-action="add-branch"></a></td>
                            <td class="text-center"><a href="#" class="fa fa-edit custom_font_size bnk-action" data-action="edit"></a></td>
                            <td class="text-center"><a href="#" class="fa fa-trash-o custom_font_size bnk-action" data-toggle="modal" data-target="#bankDeleteModal" data-action="delete"></a></td>
                        </tr>
                        <?php
                    }
                    if (count($banks) == 0) {
                        ?>
                        <tr class="not_found">
                            <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                        </tr>
                        <?php
                    }
                    ?>
                </tbody>
            </table>
        </div>
        <?php
        echo $this->paginationControl(
                $banks, 'sliding', array('partial/paginator.phtml', 'bank'), array('route' => 'bank', 'action' => 'index')
        );
        ?>
    </div><!--bank_list-->

</div><!--project_type_form_container-->

<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="bankDeleteModal" tabindex="-1" role="dialog" aria-labelledby="bankDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="bankDeleteModalLabel"><?php echo $this->translate('Delete Bank') ?></h4>
            </div>
            <div class="modal-body bankModalBody"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
                <button type="button" class="btn btn-danger" id="btnDelete"><?php echo $this->translate('Delete') ?></button>
            </div>
        </div>
    </div>
</div>