<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Ref. NO') ?></th>
                        <th><?php echo $this->translate('Transaction Code') ?></th>
                        <th><?php echo $this->translate('Transaction Type') ?></th>
                        <th><?php echo $this->translate('Date/Time') ?></th>
                        <th><?php echo $this->translate('Location(From - To)') ?></th>
                        <th><?php echo $this->translate('Unt Price') . " ({$cSymbol})"?></th>
                        <th><?php echo $this->translate('In Quantity') ?></th>
                        <th><?php echo $this->translate('Out Quantity') ?></th>
                        <th><?php echo $this->translate('Transaction Value') . " ({$cSymbol})"?></th>
                        <th><?php echo $this->translate('Stock In Hand') ?></th>                        
                        <th><?php echo $this->translate('Stock Value') . " ({$cSymbol})"?></th>
                    </tr>

                    <?php
                    $count = 0;
                    foreach ($globalItemMovingData as $key => $d) {
                        //var_dump($d).die();
                        if ($d['pD']) {
                            $i = 1;
                            $totalQty = 0;
                            $itemInStock = isset($d['itemInStock']) ? $d['itemInStock'] : 0;
                            $itemOutStock = isset($d['itemOutStock']) ? $d['itemOutStock'] : 0;
                            $negAdjstStock = isset($d['negAdjstStock']) ? $d['negAdjstStock'] : 0;
                            $posiAdjstStock = isset($d['posiAdjstStock']) ? $d['posiAdjstStock'] : 0;
                            $openStock = ($itemInStock + $negAdjstStock) - ($itemOutStock + $posiAdjstStock);
                            $stockValue = $d['itemInStockValue'] - $d['itemOutStockValue'];
                            echo '
                                <tr class="even_row">
                                    <td style="text-align: left" colspan="2">' . $d['pName'] . '-' . $d['pCD'] . '</td>
                                    <td style="text-align: left" colspan="7">' . 'Open Stock' . '</td>
                                    <td style="text-align: right" >' . number_format($openStock, 2) . ' ' .$d['uomAbbr']. '</td>
                                    <td style="text-align: right" >' . number_format($stockValue, 2) . '</td>
                                </tr>';
                            $totalQty += $openStock;
                            foreach ($d['pD'] as $value) {
                                $qty = $value['itemInQty'] ? $value['itemInQty'] : $value['itemOutQty'];
                                $itemInQty = $value['itemInQty'];
                                $itemOutQty = $value['itemOutQty'];
                                $inOutPrice = ($value['unitPrice']) ? $value['unitPrice'] : 0;
                                $fromLocation = isset($value['fromLocation']) ? $value['fromLocation'] : '-';
                                $toLocation = isset($value['toLocation']) ? $value['toLocation'] : '-';
                                $discount = $value['itemInDiscount'] ? $value['itemInDiscount'] : 0; 
                                $totalDiscountAmount = $discount * $qty;
                                $actLocation = isset($value['actLocation']) ? $value['actLocation'] : '-';
                                $isTransfer = ($value['isTransfer'] == TRUE) ? TRUE : FALSE;
                                $transactionValue = ($inOutPrice * $qty) - $totalDiscountAmount;
                                $action = '-';
                                if ($itemInQty > 0 && $isTransfer == FALSE) {
                                    if ($value['deleteFlag'] == 'negative') {
                                        $action = 'deleted';
                                    } else {
                                        $action = '-';
                                    }
                                    $totalQty += $qty;
                                } else if ($itemOutQty > 0 && $isTransfer == FALSE) {
                                    if ($value['deleteFlag'] == 'positive') {
                                        $action = 'deleted';
                                    } else {
                                        $action = '-';
                                    }
                                    $totalQty -= $qty;
                                }

                                if ($value['isTransfer'] == FALSE) {
                                    $stockValue = $value['itemInQty'] ? ($stockValue + $transactionValue) : ($stockValue - $transactionValue);
                                }

                                if ($value['isTransfer'] == TRUE) {
                                    echo '
                                    <tr class="even_row">
                                        <td style="text-align: left">' . $i . '</td>
                                        <td style="text-align: left">' . $value['inOrOutItemCode'] . '</td>
                                        <td style="text-align: left">' . $value['itemInOrOutDocumentType'] . '</td>
                                        <td style="text-align: left">' . $value['itemDate'] . '</td>
                                        <td style="text-align: left">' . $fromLocation . '</td>
                                        <td style="text-align: right">' . number_format($inOutPrice, 2) . '</td>
                                        <td style="text-align: center">-</td>
                                        <td style="text-align: right">' . number_format($qty, 2) . " ". $d['uomAbbr'] . '</td>
                                        <td style="text-align: right">' . number_format($transactionValue, 2) . '</td>
                                        <td style="text-align: right">' . number_format($totalQty, 2) . " ". $d['uomAbbr'] . '</td>
                                        <td style="text-align: right">' . number_format($stockValue, 2) . '</td>
                                    </tr>';
                                    echo '
                                    <tr class="even_row">
                                        <td style="text-align: left"></td>
                                        <td style="text-align: left"></td>
                                        <td style="text-align: left"></td>
                                        <td style="text-align: left"></td>
                                        <td style="text-align: left">' . $toLocation . '</td>
                                        <td style="text-align: left"></td>
                                        <td style="text-align: right">' . number_format($qty, 2)  . " ". $d['uomAbbr'] . '</td>
                                        <td style="text-align: center">-</td>
                                        <td style="text-align: right"></td>
                                        <td style="text-align: right"></td>
                                        <td style="text-align: right"></td>
                                    </tr>';
                                } else {
                                    echo
                                    '<tr class="even_row">
                                        <td style="text-align: left">' . $i . '</td>
                                        <td style="text-align: left">' . $value['inOrOutItemCode'] . '</td>
                                        <td style="text-align: left">' . $value['itemInOrOutDocumentType'] . '</td>
                                        <td style="text-align: left">' . $value['itemDate'] . '</td>
                                        <td style="text-align: center">' . $actLocation . '</td>
                                        <td style="text-align: right">' . number_format($inOutPrice, 2) . '</td>
                                        <td style="text-align: right">' . number_format($itemInQty, 2)  . " ". $d['uomAbbr'] . '</td>
                                        <td style="text-align: right">' . number_format($itemOutQty, 2)  . " ". $d['uomAbbr'] . '</td>
                                        <td style="text-align: right">' . number_format($transactionValue, 2) . '</td>
                                        <td style="text-align: right">' . number_format($totalQty, 2)  . " ". $d['uomAbbr'] . '</td>
                                        <td style="text-align: right">' . number_format($stockValue, 2) . '</td>
                                    </tr>';                                    
                                }
                                $i++;
                                $count++;
                            }
                        }
                    }
                    ?>
                    <?php if ($count == 0) { ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="11"><?php echo $this->translate('No related data found') ?></td>
                        </tr>
                        <?php
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>



