<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Ref. NO') ?></th>
                        <th><?php echo $this->translate('Product Code') ?></th>
                        <th><?php echo $this->translate('Product Name') ?></th>
                        <th><?php echo $this->translate('Product Category') ?></th>
                        <th><?php echo $this->translate('Available Quantity') ?></th>
                        <th><?php echo $this->translate("Total Value({$cSymbol})") ?></th>
                    </tr>
                    <?php if (count($gSVD) == 0) { ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="6"><?php echo $this->translate('No related data found') ?></td>
                        </tr>

                        <?php
                    } else {
                        $i = 1;
                        $grandTotal = 0;
                        foreach ($gSVD as $key => $data) {
                            $availableQty = 0;
                            $totalCostValue = 0;
                            $uPrice = 0;
                            $totalDiscount = 0;
                            $availableQtyAmount = 0;
                            foreach ($data['proD'] as $key => $value) {
                                $uomAbbr = isset($value['uomAbbr']) ? $value['uomAbbr'] : '';
                                $aQty = $value['availableQty'] ? $value['availableQty'] : 0.00;
                                $availableQty += $aQty;
                                $costValue = $value['totalCostValue'] ? $value['totalCostValue'] : 0.00;
                                $discount = isset($value['discountValue']) ? $value['discountValue'] : 0;
                                $tax = isset($value['taxValue']) ? $value['taxValue'] : 0;
                                $totalCostValue += (($costValue + $tax) - $discount);
                            }
                            if ($availableQty != 0 && $availableQty != NULL) {
                                $uPrice = ($totalCostValue) / $availableQty;
                            }
                            $availableQtyAmount = $uPrice * $availableQty;
                            $grandTotal += $availableQtyAmount;
                            echo '
                                <tr class="even_row">
                                    <td style="text-align: left">' . $i . '</td>
                                    <td style="text-align: left">' . $value['pCD'] . '</td>
                                    <td style="text-align: left">' . $value['pN'] . '</td>
                                    <td style="text-align: left">' . $value['categoryName'] . '</td>
                                    <td style="text-align: right">' . number_format($availableQty, 2) . ' ' . $uomAbbr . '</td>
                                    <td style="text-align: right">' . number_format($availableQtyAmount, 2) . '</td>
                                </tr>';
                            $i++;
                        }
                        ?>
                        <tr>
                            <td style="text-align: right" colspan="5"><b>Grand Total Value (<?php echo $cSymbol; ?>)</b></td>
                            <td style="text-align: right"><b><?php echo number_format($grandTotal, 2); ?></b></td>
                        </tr>
                        <?php
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>



