<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <div>
                <?php echo "* Showing results of location/s ".implode(", ",$lL); ?>
            </div>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Ref. NO') ?></th>
                        <th><?php echo $this->translate('Product Name') ?></th>
                        <th><?php echo $this->translate('Product Code') ?></th>
                        <th><?php echo $this->translate('Product Category') ?></th>
                        <th><?php echo $this->translate('Total In quantity') ?></th>
                        <th><?php echo $this->translate('Total Out quantity') ?></th>
                        <th><?php echo $this->translate('Stock in hand') ?></th>
                        <th><?php echo $this->translate('Stock in hand Cost') ?></th>
                    </tr>
                    <?php if (count($lpL) == 0) { ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="<?php echo $locationRows ?>">No related data found</td>
                        </tr>
                        <?php
                    } else {
                        $i = 1;
                        $pRemCost = 0;
                        foreach ($lpL as $proID => $proData) {
                            $uomAbbr = $proData['uomAbbr'] ? $proData['uomAbbr'] : '';
                            echo '<tr class = "even_row">
                            <td style = "text-align: left">' . $i . '</td>
                            <td style = "text-align: left">' . $proData['pName'] . '</td>
                            <td style = "text-align: left">' . $proData['pCD'] . '</td>
                            <td style = "text-align: left">' . $proData['categoryName'] . '</td>';

                            $qtyIn = $proData['pQtyIn'] ? $proData['pQtyIn'] : 0.00;
                            echo '<td style = "text-align: right">' . number_format($qtyIn, 2) . ' ' . $uomAbbr . '</td>';
                            $qtyOut = $proData['pQtyOut'] ? $proData['pQtyOut'] : 0.00;
                            echo '<td style = "text-align: right">' . number_format($qtyOut, 2) . ' ' . $uomAbbr . '</td>';
                            $qty = $proData['pTotQty'] ? $proData['pTotQty'] : 0.00;
                            echo '<td style = "text-align: right">' . number_format($qty, 2) . ' ' . $uomAbbr . '</td>';
                            $cost = $proData['pRemCost'] ? $proData['pRemCost'] : 0.00;
                            echo '<td style = "text-align: right">' .$cSymbol.' '. number_format($cost, 2) . '</td>';

                            $pRemCost = ($proData['pRemCost']) ? $pRemCost + $proData['pRemCost'] : $pRemCost + 0;

                            $i++;
                        }
                    }
                    ?>
                    <tr>
                        <td><h1><?php echo $this->translate('Total') ?></h1></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="right"><h1><?php echo $cSymbol.' '.number_format($pRemCost, 2) ?></h1></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



