<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">

                <tbody>
                    <?php 
                    if ($grnCost) {
                        ?>
                        <tr>
                            <th style="width:10%"><?php echo $this->translate('Ref. NO') ?></th>
                            <th style="width:10%"><?php echo $this->translate('Product Code') ?></th>
                            <th style="width:10%"><?php echo $this->translate('Product Name') ?></th>
                            <th style="width:10%"><?php echo $this->translate('Product Category') ?></th>
                            <th style="width:11%"><?php echo $this->translate('Location') ?></th>
                            <th style="width:12%"><?php echo $this->translate('Available Quantity In Location') ?></th>
                            <th style="width:10%"><?php echo $this->translate('Last Doc type for costing') ?></th>
                            <th style="width:12%"><?php echo $this->translate("Costing Value In Location({$cSymbol})") ?></th>
                            <th style="width:15%"><?php echo $this->translate("Total Value({$cSymbol})") ?></th>
                        </tr>    
                        <?php
                    } else {
                        ?>
                        <tr>
                            <th style="width:10%"><?php echo $this->translate('Ref. NO') ?></th>
                            <th style="width:15%"><?php echo $this->translate('Product Code') ?></th>
                            <th style="width:15%"><?php echo $this->translate('Product Name') ?></th>
                            <th style="width:15%"><?php echo $this->translate('Product Category') ?></th>
                            <th style="width:15%"><?php echo $this->translate('Location') ?></th>
                            <th style="width:15%"><?php echo $this->translate('Available Quantity In Location') ?></th>
                            <th style="width:15%"><?php echo $this->translate("Costing Value In Location({$cSymbol})") ?></th>
                            <th style="width:15%"><?php echo $this->translate("Total Value({$cSymbol})") ?></th>
                        </tr>    
                        <?php
                    }
                    ?>
                    
                    <?php
                    if(count($gSVD) > 0){
                        $count = 0;
                        $totalCost = 0;
                        foreach ($gSVD as $key => $value) {
                            if (!is_null($value['pCD'])) {
                            ?>
                                <tr>
                                    <td style="text-align: left"><?php echo $count; ?></td>
                                    <td style="text-align: center"><?php echo ($value['pCD']);?></td>
                                    <td style="text-align: left"><?php echo ($value['pN']); ?></td>
                                    <td style="text-align: left"><?php echo ($value['categoryName']); ?></td>
                                    <?php
                                    if ($grnCost) {
                                        ?>
                                        <td colspan="5"></td>
                                        <?php
                                    } else {
                                        ?>
                                        <td colspan="4"></td>
                                        <?php
                                    }
                                    ?>                                    
                                </tr>
                                <?php
                                foreach ($value['pD'] as $key => $value2) {
                                    $totalCost += $value2['TotalValue'];
                                    if ($grnCost) {
                                        ?>
                                        <tr>
                                            <td colspan="4"></td>
                                            <td style="text-align: left"><?php echo $value2['locName']; ?></td>
                                            <td style="text-align: left"><?php echo $value2['aQty']; ?></td>
                                            <td style="text-align: center"><?php echo $value2['docType']; ?></td>
                                            <td style="text-align: right"><?php echo (number_format($value2['costPrice'], 2));?></td>
                                            <td style="text-align: right"><?php echo (number_format($value2['TotalValue'], 2)); ?></td>
                                            
                                        </tr>
                                        <?php                                        
                                    } else {
                                        ?>
                                        <tr>
                                            <td colspan="4"></td>
                                            <td style="text-align: left"><?php echo $value2['locName']; ?></td>
                                            <td style="text-align: left"><?php echo $value2['aQty']; ?></td>
                                            <td style="text-align: right"><?php echo (number_format($value2['costPrice'], 2));?></td>
                                            <td style="text-align: right"><?php echo (number_format($value2['TotalValue'], 2)); ?></td>
                                            
                                        </tr>
                                        <?php
                                    }
                                    
                                }
                            }
                            $count++;
                         }
                        if ($grnCost) {
                         ?>
                            <tr>
                                <td colspan="7"></td>
                                <td style="text-align: center"><b><?php echo ("Total Cost Value({$cSymbol})");?></b></td>
                                <td style="text-align: right"><b><?php echo (number_format($totalCost, 2)); ?></b></td>
                            </tr>
                         <?php
                        } else {
                            ?>
                            <tr>
                                <td colspan="6"></td>
                                <td style="text-align: center"><b><?php echo ("Total Cost Value({$cSymbol})");?></b></td>
                                <td style="text-align: right"><b><?php echo (number_format($totalCost, 2)); ?></b></td>
                            </tr>
                            <?php
                        }
                    }
                    
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>