<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Ref. NO') ?></th>
                        <th><?php echo $this->translate('Location Name - Code') ?></th>
                        <th><?php echo $this->translate('Category Name') ?></th>
                        <th><?php echo $this->translate('Product Code') ?></th>
                        <th><?php echo $this->translate('Product Name') ?></th>
                        <?php if ($isMILType == true) {?>
                            <th><?php echo $this->translate('MI Level') ?></th>
                        <?php } else {?>
                            <th><?php echo $this->translate('ROL Level') ?></th>
                        <?php } ?>
                        <th><?php echo $this->translate('Available Quantity') ?></th>
                        <th><?php echo $this->translate('Location wise Sale Price') ?></th>
                    </tr>
                    <?php if (count($cL) == 0) { ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="7"><?php echo $this->translate('No related data found') ?></td>
                        </tr>

                        <?php
                    } else {
                        $i = 1;
                        foreach ($cL as $cId => $c) {
                            if (!empty($c['cD'])) {
                                echo '
                                <tr class="even_row">
                                    <td style="text-align: left">' . $i . '</td>
                                    <td style="text-align: left">' . $c['locNameCD'] . '</td>
                                    <td style="text-align: left"></td>
                                    <td style="text-align: left"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                </tr>';
                                foreach ($c['cD'] as $cData) {
                                    foreach ($cData as $pId => $p) {
                                        $qty = $p['qty'] ? $p['qty'] : 0.00;

                                        if ($isMILType == true) {
                                            $miL = $p['miL'] ? $p['miL'] : 0.00;
                                        } else {

                                            $roL = $p['roL'] ? $p['roL'] : 0.00;
                                        }
                                        $uomAbbr = $p['uomAbbr'] ? $p['uomAbbr'] : '';
                                        $unitPrice = $p['defPrice'] ? $p['systemCurrency'] . ' ' . number_format($p['defPrice'], 2) : '';


                                        if ($isMILType == true) {

                                                    echo '
                                            <tr class="even_row">
                                                <td style="text-align: left"></td>
                                                <td style="text-align: left"></td>
                                                <td style="text-align: left">' . $p['cName'] . '</td>
                                                <td style="text-align: left">' . $p['pCD'] . '</td>
                                                <td style="text-align: left">' . $p['pName'] . '</td>
                                                <td style="text-align: right">' . number_format($miL, 2) . ' ' . $uomAbbr . '</td>
                                                <td style="text-align: right">' . number_format($qty, 2) . ' ' . $uomAbbr . '</td>
                                                <td style="text-align: right">' . $unitPrice . '</td>
                                            </tr>';
                                        } else {
                                            echo '
                                            <tr class="even_row">
                                                <td style="text-align: left"></td>
                                                <td style="text-align: left"></td>
                                                <td style="text-align: left">' . $p['cName'] . '</td>
                                                <td style="text-align: left">' . $p['pCD'] . '</td>
                                                <td style="text-align: left">' . $p['pName'] . '</td>
                                                <td style="text-align: right">' . number_format($roL, 2) . ' ' . $uomAbbr . '</td>
                                                <td style="text-align: right">' . number_format($qty, 2) . ' ' . $uomAbbr . '</td>
                                                <td style="text-align: right">' . $unitPrice . '</td>
                                            </tr>';
                                        }
                                    }
                                }
                                $i++;
                            }
                        }
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>



