<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>
<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th style="width: 5%" colspan="2"><?php echo $this->translate('Ref. NO') ?></th>
                        <th style="width: 15%"><?php echo $this->translate('Location Name - Code') ?></th>
                        <th style="width: 15%"><?php echo $this->translate('Product Category') ?></th>
                        <th style="width: 15%"><?php echo $this->translate('Product Code') ?></th>
                        <th style="width: 15%"><?php echo $this->translate('Product Name') ?></th>
                        <th style="width: 15%"><?php echo $this->translate('Available Quantity') ?></th>
                        <th style="width: 20%"><?php echo $this->translate("Total Value({$cSymbol})") ?></th>
                    </tr>

                    <?php
                    $i = 1;
                    $dataFlag = FALSE;
                    $grandTotal = 0;
                    foreach ($locWSVD as $data) {
                        $locationWiseTotal = 0;
                        $count = 1;
                        $uPrice = 0;
                        $availableQtyAmount = 0;
                        foreach ($data['pD'] as $key => $value) {
                            $uomAbbr = isset($value['uomAbbr']) ? $value['uomAbbr'] : '';
                            $availableQty = isset($value['aQty']) ? $value['aQty'] : 0.00;
                            $costValue = isset($value['costValue']) ? $value['costValue'] : 0.00;
                            $discountValue = isset($value['discountValue']) ? $value['discountValue'] : 0.00;
                            $taxValue = isset($value['taxValue']) ? $value['taxValue'] : 0.00;
                            if ($availableQty != 0 && $availableQty != NULL) {
                                $uPrice = (($costValue + $taxValue) - $discountValue) / $availableQty ? (($costValue + $taxValue) - $discountValue) / $availableQty : 0.00;
                            }
                            if (!empty($value['locationName']) && !empty($value['locationCode'])) {
                                if ($count == 1) {
                                    $dataFlag = TRUE;
                                    echo '
                                <tr class="even_row">
                                    <td style="text-align: left"><strong>' . $i . '</strong></td>
                                    <td style="text-align: left">' . $count . '</td>
                                    <td style="text-align: left">' . $value['locationName'] . '-' . $value['locationCode'] . '</td>
                                    <td style = "text-align: left">' . $value['category'] . '</td>
                                    <td style = "text-align: left">' . $value['pCD'] . '</td>
                                    <td style = "text-align: left">' . $value['pN'] . '</td>
                                    <td style = "text-align: right">' . number_format($availableQty, 2) . ' ' . $uomAbbr . '</td>
                                    <td style = "text-align: right">' . number_format(($uPrice * $availableQty), 2) . '</td>
                                </tr>';
                                } else {
                                    echo '
                                <tr class="even_row">
                                    <td style="text-align: left"></td>
                                    <td style="text-align: left">' . $count . '</td>
                                    <td style="text-align: left"></td>
                                    <td style = "text-align: left">' . $value['category'] . '</td>
                                    <td style = "text-align: left">' . $value['pCD'] . '</td>
                                    <td style = "text-align: left">' . $value['pN'] . '</td>
                                    <td style = "text-align: right">' . number_format($availableQty, 2) . ' ' . $uomAbbr . '</td>
                                    <td style = "text-align: right">' . number_format(($uPrice * $availableQty), 2) . '</td>
                                </tr>';
                                }
                                $count++;
                            }
                        $availableQtyAmount = $uPrice * $availableQty;
                        $grandTotal += $availableQtyAmount;
                        $locationWiseTotal += $availableQtyAmount;
                        }
                        $i++;

                        ?>
                        <tr class="even_row">
                            <td style="text-align: right" colspan="7"><strong><?php echo $this->translate("Location Wise Total(".$cSymbol.")") ?></strong></td>
                            <td style="text-align: right"><b><?php echo number_format($locationWiseTotal, 2); ?></b></td>     
                        </tr>
                    <?php
                    }
                    ?>
                    <tr>
                        <td style="text-align: right" colspan="7"><b><?php echo $this->translate('Grand Total Value') ?> (<?php echo $cSymbol; ?>)</b></td>
                        <td style="text-align: right"><b><?php echo number_format($grandTotal, 2); ?></b></td>
                    </tr>

                    <?php if ($dataFlag == FALSE) { ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="8"><?php echo $this->translate('No related data found') ?></td>
                        </tr>
                    <?php } ?>
                </tbody>
            </table>
        </div>
    </div>
</div>



