<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Branch Name') ?></th>
                        <th><?php echo $this->translate('Category Name') ?></th>                        
                        <th><?php echo $this->translate('Product Code') ?></th>
                        <th><?php echo $this->translate('Product Name') ?></th>
                        <th><?php echo $this->translate('Product Quantity') ?></th>
                        <th><?php echo $this->translate('Reorder Quantity') ?></th>
                        <th><?php echo $this->translate('Purchase Price') ?></th>
                        <th><?php echo $this->translate('Selling Price') ?></th>
                    </tr>
                    <?php if (empty($cL)) { ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="8"><?php echo $this->translate('No related data found') ?></td>
                        </tr>

                        <?php
                    } else {
                        foreach ($cL as $key => $locationProducts) {
                        ?>
                            <tr class="even_row">
                                <td style="text-align: left"><?php echo $key; ?></td>
                                <td style="text-align: left" colspan="7"></td>
                            </tr>
                            <?php
                            foreach ($locationProducts as $category => $products){
                                    
                                foreach ($products as $dataKey => $dataValue) {
                                    if ($dataKey === 'item') {
                                        ?>
                                        <tr class="odd_row">
                                            <td style="width:11%; text-align: left"></td>
                                            <td style="width:15%; text-align: center"><b><?php echo $category; ?></b></td>
                                            <td style="width:74%; text-align: right" colspan="6"></td>
                                        </tr>    
                                        <?php
                                        foreach ($dataValue as $product){
                                            if ($product) {
                                                ?>
                                                <tr class="odd_row">
                                                    <td style="width:11%; text-align: left"></td>
                                                    <td style="width:15%; text-align: center"></td>
                                                    <td style="width:11%; text-align: center"><?php echo $product['productCode']; ?></td>
                                                    <td style="width:11%; text-align: left"><?php echo $product['productName']; ?></td>
                                                    <td style="width:11%; text-align: right"><?php echo $product['productQty']; ?></td>
                                                    <td style="width:11%; text-align: right"><?php echo $product['reorderQty']; ?></td>
                                                    <td style="width:15%; text-align: right"><?php echo $product['unitPurchasePrice']; ?></td>
                                                    <td style="width:15%; text-align: right"><?php echo $product['unitSellingPrice']; ?></td>
                                                </tr>
                                            <?php
                                                
                                            }
                                            
                                        }
                                        

                                    } else {
                                        foreach ($dataValue as $subValKey => $subValue) {
                                            ?>
                                                <tr class="odd_row">
                                                <td style="width:11%; text-align: left"></td>
                                                <td style="width:15%; text-align: center"><?php echo $subValKey; ?></td>
                                                <td style="width:74%; text-align: left" colspan="6"></td>
                                            </tr>
                                            <?php
                                            foreach ($subValue as $superSubKey => $superSubValue) {
                                                ?>
                                                    <tr class="odd_row">
                                                    <td style="width:11%; text-align: left"></td>
                                                    <td style="width:15%; text-align: left"></td>
                                                    <td style="width:11%; text-align: center"><?php echo $superSubValue['productCode']; ?></td>
                                                    <td style="width:11%; text-align: left"><?php echo $superSubValue['productName']; ?></td>
                                                    <td style="width:11%; text-align: right"><?php echo $superSubValue['productQty']; ?></td>
                                                    <td style="width:11%; text-align: right"><?php echo $superSubValue['reorderQty']; ?></td>
                                                    <td style="width:15%; text-align: right"><?php echo $superSubValue['unitPurchasePrice']; ?></td>
                                                    <td style="width:15%; text-align: right"><?php echo $superSubValue['unitSellingPrice']; ?></td>
                                                    </tr>
                                            <?php
                                            }
                                            
                                        }
                                    }
                                }
                            
                            ?>
                                <tr class="even_row">
                                <td style="width:11%; text-align: left"></td>
                                <td style="width:89%; text-align: left" colspan="8"></td>
                                
                                </tr>
                            <?php
                            } 

                            
                        }
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>



