<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Location') ?></th>
                        <th><?php echo $this->translate('Product Code') ?></th>
                        <th><?php echo $this->translate('Product Name') ?></th>
                        <th><?php echo $this->translate('Product Category') ?></th>
                        <th><?php echo $this->translate('Batch/Serial Type') ?></th>
                        <th><?php echo $this->translate('Batch/Serial Code') ?></th>
                        <th><?php echo $this->translate('Qty') ?></th>
                        <th><?php echo $this->translate('Unit Cost') ?></th>
                        <th><?php echo $this->translate('Total Cost') ?></th>
                    </tr>
                    <?php if (count($lpL) == 0) { ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="9"><?php echo $this->translate('No related data found') ?></td>
                        </tr>
                        <?php
                    } else {
                        $granTotal = 0;
                        foreach ($lL as $locID => $locName) {

                        ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="9"><?php echo $this->translate($locName)?></td>

                        </tr>
                        <?php
                            $locationTotal = 0;
                            $serialIDs = [];
                            foreach ($lpL as $key => $proData) {
                                $uomAbbr = $proData['uomAbbr'] ? $proData['uomAbbr'] : '';
                                $productSerialID = (is_null($proData['productSerialID'])) ? '-' : $proData['productSerialID'];
                                $productBatchID = (is_null($proData['productBatchID'])) ? '-' : $proData['productBatchID'];
                                if($proData['locationID'] == $locID && !$serialIDs[$productSerialID."_".$productBatchID]){
                                    $serialIDs[$productSerialID."_".$productBatchID] = true;
                                    if($proData['productBatchCode'] != '' && $proData['productBatchQuantity'] != ''){
                                        $qty = $proData['productBatchQuantity'];
                                        $type = 'BATCH';
                                        $typeCode = $proData['productBatchCode'];
                                    } else {
                                        $qty = 1;
                                        $type = 'SERIAL';
                                        $typeCode = $proData['productSerialCode'];
                                    }
                                    $totalCost = floatval($proData['itemInPrice'] - $proData['itemInDiscount']) * floatval($qty);
                                    $grandTotal += $totalCost;
                                    $locationTotal += $totalCost;
                                ?>
                                    <tr class="even_row">
                                        <td style="text-align: left" ></td>
                                        <td style="text-align: left" ><?php echo $this->translate($proData['productCode']);?></td>
                                        <td style="text-align: left" ><?php echo $this->translate($proData['productName'])?></td>
                                        <td style="text-align: left" ><?php echo $this->translate($proData['categoryName'])?></td>
                                        <td style="text-align: left" ><?php echo $this->translate($type)?></td>
                                        <td style="text-align: left" ><?php echo $this->translate($typeCode)?></td>
                                        <td style="text-align: right" ><?php echo $this->translate(number_format($qty, 2)).' '.$uomAbbr;?></td>
                                        <td style="text-align: left" ><?php echo $this->translate(number_format(($proData['itemInPrice'] - $proData['itemInDiscount']), 2));?></td>
                                        <td style="text-align: left" ><?php echo $this->translate(number_format($totalCost, 2));?></td>
                                    </tr>
                                <?php
                                }
                                                                
                            }
                        ?>

                            <tr class="even_row">
                                <td style="text-align: right" colspan="8"><b><?php echo $this->translate('Location Wise Total Cost')?></b></td>
                                
                                <td style="text-align: right" ><b><?php echo $this->translate(number_format($locationTotal, 2));?></b></td>
                            </tr>
                        <?php
                        } 
                        ?>

                        <tr class="even_row">
                            <td style="text-align: right" colspan="8"><b><?php echo $this->translate('Total Cost')?></b></td>
                            <td style="text-align: right" ><b><?php echo $this->translate(number_format($grandTotal, 2));?></b></td>
                        </tr>
                        <?php
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>