<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Ref. NO') ?></th>
                        <th><?php echo $this->translate('Location Name - Code') ?></th>
                        <th><?php echo $this->translate('Product Code') ?></th>
                        <th><?php echo $this->translate('Product Name') ?></th>
                        <?php if ($isMILType == true) { ?>
                            <th><?php echo $this->translate('MI Level') ?></th>
                        <?php } else {?>
                            <th><?php echo $this->translate('ROL Level') ?></th>
                        <?php } ?>

                        <th><?php echo $this->translate('Available Quantity') ?></th>
                    </tr>
                    <?php if (count($pL) == 0) { ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="6"><?php echo $this->translate('No related data found') ?></td>
                        </tr>

                        <?php
                    } else {
                        $i = 1;
                        foreach ($pL as $key => $data) {

                            if (!empty($data['pD'])) {
                                echo '
                                <tr class="even_row">
                                    <td style="text-align: left">' . $i . '</td>
                                    <td style="text-align: left">' . $data['locNameCD'] . '</td>
                                    <td style="text-align: left"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                </tr>';

                                foreach ($data['pD'] as $d) {
                                    $qty = $d['qty'] ? $d['qty'] : 0.00;
                                    if ($isMILType == true) {
                                        $miL = $d['miL'] ? $d['miL'] : 0.00;
                                    } else {
                                        $roL = $d['roL'] ? $d['roL'] : 0.00;

                                    }

                                    $uomAbbr = $d['uomAbbr'] ? $d['uomAbbr'] : '';

                                    if ($isMILType == true) {

                                            echo '
                                        <tr class="even_row">
                                            <td style="text-align: left"></td>
                                            <td style="text-align: left"></td>
                                            <td style="text-align: left">' . $d['pCD'] . '</td>
                                            <td style="text-align: left">' . $d['pName'] . '</td>
                                            <td style="text-align: right">' . number_format($miL, 2) . ' ' . $uomAbbr . '</td>
                                            <td style="text-align: right">' . number_format($qty, 2) . ' ' . $uomAbbr . '</td>
                                        </tr>';
                                    } else {
                                        echo '
                                        <tr class="even_row">
                                            <td style="text-align: left"></td>
                                            <td style="text-align: left"></td>
                                            <td style="text-align: left">' . $d['pCD'] . '</td>
                                            <td style="text-align: left">' . $d['pName'] . '</td>
                                            <td style="text-align: right">' . number_format($roL, 2) . ' ' . $uomAbbr . '</td>
                                            <td style="text-align: right">' . number_format($qty, 2) . ' ' . $uomAbbr . '</td>
                                        </tr>';
                                    }

                                }
                            }
                            $i++;
                        }
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>



