<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Ref. NO') ?></th>
                        <th><?php echo $this->translate('Product Name - Code') ?></th>
                        <th><?php echo $this->translate('Batch Code') ?></th>
                        <th><?php echo $this->translate('Serial Code') ?></th>
                        <th><?php echo $this->translate('Expire Date') ?></th>
                        <th><?php echo $this->translate('Quantity') ?></th>

                    </tr>
                    <?php if (count($bS) == 0) { ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="6"><?php echo $this->translate('No related data found') ?></td>
                        </tr>

                        <?php
                    } else {
                        $i = 1;
                        foreach ($bS as $proID => $proData) {
                            echo '<tr class = "even_row">
                                    <td style = "text-align: left">' . $i . '</td>
                                    <td style = "text-align: left">' . $proData['pName'] . ' - ' . $proData['pCD'] . '</td>
                                    <td style = "text-align: left"></td>
                                    <td style = "text-align: left"></td>
                                    <td style = "text-align: left"></td>
                                    <td style = "text-align: left"></td>
                                </tr>';
                            if (!empty($proData['sData'])) {
                                foreach ($proData['sData'] as $lpLID => $data) {
                                    $uomAbbr = $proData['uomAbbr'] ? $proData['uomAbbr'] : '';
                                    $totalQty = 0;
                                    $count = 0;
                                    foreach ($data['data'] as $sData) {
                                        $sCD = $sData['sCD'] ? $sData['sCD'] : '-';
                                        $qty = $sData['qty'] ? $sData['qty'] : 0.00;
                                        $totalQty += $qty;
                                        if ($count == 0 && $data['bCD']) {
                                            echo '<tr class = "even_row">
                                                <td style = "text-align: left"></td>
                                                <td style = "text-align: left"></td>
                                                <td style = "text-align: left">' . $data['bCD'] . '</td>
                                                <td style = "text-align: left">' . $sCD . '</td>
                                                <td style = "text-align: left">' . $sData['exDate'] . '</td>
                                                <td style = "text-align: right">' . number_format($qty, 2) . '' . $uomAbbr . '</td>
                                            </tr>';
                                            $count++;
                                        } else {
                                            echo '<tr class = "even_row">
                                            <td style = "text-align: left"></td>
                                            <td style = "text-align: left"></td>
                                            <td style = "text-align: left"></td>
                                            <td style = "text-align: left">' . $sCD . '</td>
                                            <td style = "text-align: left">' . $sData['exDate'] . '</td>
                                            <td style = "text-align: right">' . number_format($qty, 2) . '' . $uomAbbr . '</td>
                                        </tr>';
                                        }
                                    }
                                    echo '<tr class = "even_row">
                                        <td style = "text-align: left"></td>
                                        <td style = "text-align: left"></td>
                                        <td style = "text-align: left" colspan="3"><strong>Total Quantity for '.$proData['pName'].'</strong></td>
                                        <td style = "text-align: right"><strong>' . number_format($totalQty, 2) . '' . $uomAbbr . '</strong></td>
                                    </tr>';
                                }
                            }
                            if (!empty($proData['bData'])) {
                                foreach ($proData['bData'] as $lpLID => $bData) {
                                    $uomAbbr = $proData['uomAbbr'] ? $proData['uomAbbr'] : '';
                                    $qty = $bData['qty'] ? $bData['qty'] : 0.00;
                                    echo '<tr class = "even_row">
                                                <td style = "text-align: left"></td>
                                                <td style = "text-align: left"></td>
                                                <td style = "text-align: left">' . $bData['bCD'] . '</td>
                                                <td style = "text-align: left">-</td>
                                                <td style = "text-align: left">' . $bData['bExDate'] . '</td>
                                                <td style = "text-align: right">' . number_format($qty, 2) . '' . $uomAbbr . '</td>
                                    </tr>';
                                }
                            }
                            $i++;
                        }
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>



