<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header"></div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td colspan="9"><strong></strong></td>
                </tr>
            </table>

            <table style="width: 100%;" class="change_order_items">
                <tbody>
                    <tr>
                        <th style="width: 6%"><?php echo $this->translate('Item Name') ?></th>
                        <th style="width: 4%"><?php echo $this->translate('Item Category') ?></th>
                        <th style="width: 7%"><?php echo $this->translate('270 + Quantity') ?></th>
                        <th style="width: 7%"><?php echo $this->translate('270 + Value') ?></th>
                        <th style="width: 7%"><?php echo $this->translate('270-180 Quantity') ?></th>
                        <th style="width: 7%"><?php echo $this->translate('270-180 Value') ?></th>
                        <th style="width: 7%"><?php echo $this->translate('180-90 Quantity') ?></th>
                        <th style="width: 7%"><?php echo $this->translate('180-90 Value') ?></th>
                        <th style="width: 7%"><?php echo $this->translate('90-30 Quantity') ?></th>
                        <th style="width: 7%"><?php echo $this->translate('90-30 Value') ?></th>
                        <th style="width: 7%"><?php echo $this->translate("0-30 Quantity") ?></th>
                        <th style="width: 7%"><?php echo $this->translate("0-30 Value") ?></th>
                        <th style="width: 10%"><?php echo $this->translate('Total Stock') ?></th>
                        <th style="width: 10%"><?php echo $this->translate('Total Stock Value') . " " . "({$companyCurrencySymbol})" ?></th>
                    </tr>
                    <?php if (count($dataList) == 0) { ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="9"><?php echo $this->translate('No related data found') ?></td>
                        </tr>

                    <?php
                    } else {
                        $over270StockValue = 0;
                        $withIn270StockValue = 0;                        
                        $withIn180StockValue = 0;
                        $withIn90StockValue = 0;
                        $withIn30StockValue = 0;
                        $tottalStockValue = 0;

                        foreach ($dataList as $row) {

                            $over270StockValue += $row['Over270StockValue'];
                            $withIn270StockValue += $row['WithIn270StockValue'];
                            $withIn180StockValue += $row['WithIn180StockValue'];
                            $withIn90StockValue += $row['WithIn90StockValue'];
                            $withIn30StockValue += $row['WithIn30StockValue'];

                            $tottalValue = $row['WithIn270StockValue'] + $row['WithIn270StockValue'] + $row['WithIn180StockValue'] + $row['WithIn90StockValue'] + $row['WithIn30StockValue'];
                            $tottalQty = $row['WithIn270Qty'] + $row['WithIn270Qty'] + $row['WithIn180Qty'] + $row['WithIn90Qty'] + $row['WithIn30Qty'];

                            $tottalStockValue += $tottalValue;
                        ?>
                        <tr class="even_row">
                            <td style="text-align: left"><?php echo $row['productName'] . " [ " . $row['productCode'] ." ]"; ?></td>
                            <td style="text-align: left"><?php echo $row['categoryName']; ?></td>
                            <td style="text-align: right"><?php echo number_format($row['Over270Qty'], 2); ?></td>
                            <td style="text-align: right"><?php echo number_format($row['Over270StockValue'], 2); ?></td>
                            <td style="text-align: right"><?php echo number_format($row['WithIn270Qty'], 2); ?></td>
                            <td style="text-align: right"><?php echo number_format($row['WithIn270StockValue'], 2); ?></td>
                            <td style="text-align: right"><?php echo number_format($row['WithIn180Qty'], 2); ?></td>
                            <td style="text-align: right"><?php echo number_format($row['WithIn180StockValue'], 2); ?></td>
                            <td style="text-align: right"><?php echo number_format($row['WithIn90Qty'], 2); ?></td>
                            <td style="text-align: right"><?php echo number_format($row['WithIn90StockValue'], 2); ?></td>
                            <td style="text-align: right"><?php echo number_format($row['WithIn30Qty'], 2); ?></td>
                            <td style="text-align: right"><?php echo number_format($row['WithIn30StockValue'], 2); ?></td>
                            <td style="text-align: right"><?php echo number_format($tottalQty, 2); ?></td>
                            <td style="text-align: right"><?php echo number_format($tottalValue, 2); ?></td>
                        </tr>
                        <?php
                        }
                        ?>
                        <tr class="odd_row">
                            <td style="text-align: left"></td>
                            <td style="text-align: left"><b><?php echo $this->translate('Total :') ?> <?php echo " ({$companyCurrencySymbol})"; ?></b></td>
                            <td style="text-align: right" colspan="2"><b><?php echo number_format($over270StockValue, 2); ?></b></td>
                            <td style="text-align: right" colspan="2"><b><?php echo number_format($withIn270StockValue, 2); ?></b></td>
                            <td style="text-align: right" colspan="2"><b><?php echo number_format($withIn180StockValue, 2); ?></b></td>
                            <td style="text-align: right" colspan="2"><b><?php echo number_format($withIn90StockValue, 2); ?></b></td>
                            <td style="text-align: right" colspan="2"><b><?php echo number_format($withIn30StockValue, 2); ?></b></td>
                            <td style="text-align: right" colspan="2"><b><?php echo number_format($tottalStockValue, 2); ?></b></td>
                        </tr>
                        <?php
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
