<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Ref. NO') ?></th>
                        <th><?php echo $this->translate('Product Code') ?></th>
                        <th><?php echo $this->translate('Product Name') ?></th>
                        <th><?php echo $this->translate('Product Category') ?></th>
                        <th><?php echo $this->translate('Product Description') ?></th>
                        <th><?php echo $this->translate('Active/ Inactive') ?></th>
                        <th><?php echo $this->translate('Quantity') ?></th>
                    </tr>
                    <?php if (count($pL) == 0) { ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="6"><?php echo $this->translate('No related data found') ?></td>
                        </tr>

                        <?php
                    } else {
                        $i = 1;
                        foreach ($pL as $key => $value) {
                            $qty = $value['qty'] ? $value['qty'] : 0.00;
                            $uomAbbr = $value['uomAbbr'] ? $value['uomAbbr'] : '';
                            $status = ($value['pS'] == 1) ? 'Active' : 'Inactive';
                            $proDescription = (is_null($value['pD']) || $value['pD'] == 'NULL') ? '-' : $value['pD'];
                            echo '
                                <tr class="even_row">
                                    <td style="text-align: left">' . $i . '</td>
                                    <td style="text-align: left">' . $value['pCD'] . '</td>
                                    <td style="text-align: left">' . $value['pName'] . '</td>
                                    <td style="text-align: left">' . $value['categoryName'] . '</td>
                                    <td style="text-align: left">' . $proDescription . '</td>
                                    <td style="text-align: left">' . $status . '</td>
                                    <td style="text-align: right">' . number_format($qty, 2) . ' ' . $uomAbbr . '</td>
                                </tr>';
                            $i++;
                        }
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>



