<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Invoiced Date') ?></th>
                        <th><?php echo $this->translate('Invoice Code') ?></th>
                        <th><?php echo $this->translate('Product Name - Code') ?></th>
                        <th><?php echo $this->translate('Quantity') ?></th>
                        <th><?php echo $this->translate('Unit Price') ?></th>
                        <th><?php echo $this->translate('Total Amount') ?></th>
                    </tr>

                    <?php
                    $totalAmount = 0.00;
                    if (count($itemList) > 0) {
                        foreach ($itemList as $key => $d) {
                            $qty = ($d['salesInvoiceProductQuantity'] == 0) ? 1 : $d['salesInvoiceProductQuantity'];
                            ?>
                            <tr class="even_row">
                                <td><?php echo $d['salesInvoiceIssuedDate'] ?></td>
                                <td><?php echo $d['salesInvoiceCode'] ?></td>
                                <td><?php echo $d['productName'] ?></td>
                                <td><?php echo number_format($d['salesInvoiceProductQuantity'], 2) ?></td>
                                <td><?php echo number_format($d['salesInvoiceProductPrice'], 2) ?></td>
                                <td><?php echo number_format($d['salesInvoiceProductTotal'], 2) ?></td>
                            </tr>
                            <?php
                            $totalAmount += $d['salesInvoiceProductTotal'];
                        }
                        ?>
                        <tr class="even_row">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><?php echo $this->translate('Grand Total') ?></td>
                            <td><?php echo number_format($totalAmount, 2) ?></td>
                        </tr>
                        <?php
                        ?>
                    <?php } else { ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="8"><?php echo $this->translate('No related data found') ?></td>
                        </tr>
                        <?php
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>



