<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Ref. NO') ?></th>
                        <th><?php echo $this->translate('Product Code') ?></th>
                        <th><?php echo $this->translate('Product Name') ?></th>
                        <?php
                        $locationRows = 0;
                        ksort($lL);
                        foreach ($lL as $locID => $locationName) {
                            $locationRows++;
                            ?>
                            <th><?php echo $locationName; ?></th>
                        <?php } ?>
                    </tr>
                    <?php if (count($lpL) == 0) { ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="<?php echo $locationRows ?>"><?php echo $this->translate('No related data found') ?></td>
                        </tr>
                        <?php
                    } else {
                        $i = 1;
                        foreach ($lpL as $proID => $proData) {
                            $uomAbbr = $proData['uomAbbr'] ? $proData['uomAbbr'] : '';
                            echo '<tr class = "even_row">
                            <td style = "text-align: left">' . $i . '</td>
                            <td style = "text-align: left">' . $proData['pCD'] . '</td>
                            <td style = "text-align: left">' . $proData['pName'] . '</td>';

                            ksort($proData['locations']);
                            foreach ($proData['locations'] as $locID => $locData) {
                                $qty = $locData['qty'] ? $locData['qty'] : 0.00;
                                echo '<td style = "text-align: right">' . number_format($qty, 2) . ' ' . $uomAbbr . '</td>';
                            }
                            $i++;
                        }
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>



