<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header"></div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td colspan="9"><strong></strong></td>
                </tr>
            </table>

            <table style="width: 100%;" class="change_order_items">
                <tbody>
                    <tr>
                        <th style="width: 5%"><?php echo $this->translate('NO') ?></th>
                        <th style="width: 15%"><?php echo $this->translate('Location Name - Code') ?></th>
                        <th style="width: 10%"><?php echo $this->translate('Product Name') ?></th>
                        <th style="width: 10%"><?php echo $this->translate('Product Code') ?></th>
                        <th style="width: 10%"><?php echo $this->translate('Item Description') ?></th>
                        <th style="width: 10%"><?php echo $this->translate('Item Category') ?></th>
                        <th style="width: 10%"><?php echo $this->translate("Selling Price") . "({$this->companyCurrencySymbol})" ?></th>
                        <th style="width: 10%"><?php echo $this->translate("Purchasing Price") . "({$this->companyCurrencySymbol})" ?></th>
                        <th style="width: 10%"><?php echo $this->translate('Reorder Level') ?></th>
                        <th style="width: 10%"><?php echo $this->translate('Min Inventory Level') ?></th>
                        <th style="width: 10%"><?php echo $this->translate('Max Inventory Level') ?></th>
                        <th style="width: 10%"><?php echo $this->translate('Discount %') ?></th>
                        <th style="width: 10%"><?php echo $this->translate('Discount Value') ?></th>
                        <th style="width: 10%"><?php echo $this->translate('Tax Value') ?></th>
                        <th style="width: 10%"><?php echo $this->translate('Quantity') ?></th>
                    </tr>
                    <?php if (count($pD) == 0) { ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="9"><?php echo $this->translate('No related data found') ?></td>
                        </tr>

                        <?php
                    } else {
                        $i = 1;
                        foreach ($pD as $proID => $proData) {
                            if (!empty($proData['data'])) {
                                echo '<tr class = "even_row">
                                        <td style = "text-align: left">' . $i . '</td>
                                        <td style = "text-align: left">' . $proData['locName'] . '-' . $proData['locCD'] . '</td>
                                        <td style = "text-align: left"></td>
                                        <td style = "text-align: left"></td>
                                        <td style = "text-align: left"></td>
                                        <td style = "text-align: left"></td>
                                        <td style = "text-align: left"></td>
                                        <td style = "text-align: left"></td>
                                        <td style = "text-align: left"></td>
                                        <td style = "text-align: left"></td>
                                        <td style = "text-align: left"></td>
                                        <td style = "text-align: left"></td></tr>';

                                foreach ($proData['data'] as $locID => $locData) {
                                    $uomAbbr = $locData['uomAbbr'] ? $locData['uomAbbr'] : '';
                                    $qty = $locData['qty'] ? $locData['qty'] : 0.00;
                                    $pD = !empty($locData['pD']) ? $locData['pD'] : '-';
                                    $highlightClass = ($qty <= $locData['locMIL'] || $qty <= $locData['locROL']) ? 'highlight' : '';
                                    ?>
                                    <tr class = "even_row">
                                        <td style = "text-align: left"></td>
                                        <td style = "text-align: left"></td>
                                        <td style = "text-align: left" class="longname <?php echo $highlightClass ?>"><?php echo $locData['pName'] ?></td>
                                        <td style = "text-align: left" class="<?php echo $highlightClass ?>"><?php echo $locData['pCD'] ?></td>
                                        <td style = "text-align: left" class="<?php echo $highlightClass ?>"><?php echo $pD ?></td>
                                        <td style = "text-align: left" class="<?php echo $highlightClass ?>"><?php echo $locData['categoryName'] ?></td>
                                        <td style = "text-align: left" class="<?php echo $highlightClass ?>"><?php echo number_format($locData['defaultSellingPrice'], 2) ?></td>
                                        <td style = "text-align: left" class="<?php echo $highlightClass ?>"><?php echo number_format($locData['defaultPurchasePrice'], 2) ?></td>
                                        <td style = "text-align: left" class="<?php echo $highlightClass ?>"><?php echo number_format($locData['locROL'], 2) . '' . $uomAbbr ?></td>
                                        <td style = "text-align: left" class="<?php echo $highlightClass ?>"><?php echo number_format($locData['locMIL'], 2) . '' . $uomAbbr ?></td>
                                        <td style = "text-align: left" class="<?php echo $highlightClass ?>"><?php echo number_format($locData['locMaxIL'], 2) . '' . $uomAbbr ?></td>
                                        <td style = "text-align: left" class="<?php echo $highlightClass ?>"><?php echo number_format($locData['locDP'], 2) ?></td>
                                        <td style = "text-align: left" class="<?php echo $highlightClass ?>"><?php echo number_format($locData['locDV'], 2) ?></td>
                                        <td style = "text-align: left" class="<?php echo $highlightClass ?>"><?php
                                            if ($locData['tD']) {
                                                foreach ($locData['tD'] as $value) :
                                                    echo $value['taxName'] . '-' . $value['taxPrecentage'] . '% ';
                                                endforeach;
                                            }else {
                                                echo '-';
                                            }
                                            ?></td>
                                        <td style = "text-align: right" class="<?php echo $highlightClass ?>"><?php echo number_format($qty, 2) . '' . $uomAbbr ?></td></tr>
                                        <?php
                                    }
                                    $i++;
                                }
                            }
                        }
                        ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
