<?php if (sizeof($chequeDetails) > 0) { ?>
<div>
    <table  width="100%" class="product-list">
        <tr>
            <td colspan="2">
                <div class="qout_body">
                    <table width="100%" class="table bigtable table-bordered table-striped" id="item_tbl">
                        <thead>
                            <tr>
                                <th style="width: 33%"><?php echo $this->translate("Cheque Amount(Rs)"); ?></th>
                                <th style="width: 33%"><?php echo $this->translate("Cheque Number"); ?></th>
                                <th style="width: 33%"><?php echo $this->translate("Cheque Date"); ?></th>
                            </tr>
                        </thead>
                        <tbody id="form_row">
                            <?php
                                foreach ($chequeDetails as $value) { 
                                    ?>
                                    <tr class="">
                                        <td style="text-align: center;" id='chequeAmount'><?php echo $value['chequeAmount']; ?></td>
                                        <td style="text-align: center;" id='chequeNumber'><?php echo $value['chequeNumber']; ?></td>
                                        <td style="text-align: center;" id='chequeDate'><?php echo $value['chequeDate']; ?></td>
                                    </tr>

                            <?php        
                                }
                                 ?> 
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
	
<?php } ?>