<div class="row" style="min-height: 100vh">
  <div class="col-lg-5 col-md-6 col-sm-12">
    <ul class="nav nav-tabs">
      <li class="active">
        <a data-toggle="tab" id="byVehcleTabTitle" href="#byVehcleTab">
          <span class="tab-title">By Vehicle</span>
        </a>
      </li>
      <li>
        <a data-toggle="tab" id="byItemTabTitle" href="#byItemTab"><span class="tab-title">By Item</span></a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-content">
        <br>
        <div id="byVehcleTab" class="tab-pane fade in active">
          <!-- <div class="col-lg-12 col-md-12 col-xs-12 xs-margin-bottom">
            <input type="text" placeholder="Eg: AAA-1111" name="vehicleRegNo" id="vehicleRegNo" class="form-control search-input">
          </div> -->
          <div class="row dataRow">
            <div class="col-lg-12">
                <label for="departmentCode" class="_remove_bold"><?php echo $this->translate('Vehicle Registration No') ?><span class="_required">*</span></label>
                <select class="vehicleRegNo form-control jobInput" name="state">
                </select>
            </div>
          </div>
          <div class ="list-group-title">
            <div class="content-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="label-group service-date col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <p class="title dateTitle">Job No</p>
                </div>
                <div class="label-group service-date col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <p class="title dateTitle">Date</p>
                </div>
                <div class="label-group odm-reading col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <p class="title odoTitle">ODO Meater Reading</p>
                </div>
            </div>
          </div>
        
          <ul class="list-group" id="jobList">
            
          </ul>
        </div>

        <div id="byItemTab" class="tab-pane fade">
          <div id="byVehcleTab" class="tab-pane fade in active">
            <!-- <div class="col-lg-12 col-md-12 col-xs-12 xs-margin-bottom">
              <input type="text" placeholder="Eg: AAA-1111" name="vehicleRegNo" id="vehicleRegNo2" class="form-control search-input">
            </div> -->
            <div class="col-lg-12 col-md-12 col-xs-12">
                <label for="departmentCode" class="_remove_bold"><?php echo $this->translate('Vehicle Registration No') ?><span class="_required">*</span></label>
                <select class="vehicleRegNo2 form-control jobInput" name="state" style="width: 562px;">
                </select>
            </div>
            <div class ="list-group-title">
              <div class="content-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="label-group service-date col-lg-6 col-md-6 col-sm-6 col-xs-6">
                      <h5 class="title dateTitle">Date</h5>
                  </div>
                  <div class="label-group odm-reading col-lg-6 col-md-6 col-sm-6 col-xs-6">
                      <h5 class="title odoTitle">ODO Meater Reading</h5>
                  </div>
              </div>
            </div>
          
            <ul class="list-group" id="jobListByItem">
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12 right-div" id="job-preview-div"></div>
  <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12 right-div hidden" id="job-preview-div-by-item">
    <div class="jobpreviewByItem hidden">
        <div class="main-div col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <svg width="100%" height="100%" viewBox="0 0 700 140">
            <defs>
              <linearGradient id="success-pendingg" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%"   stop-color="#b4ec51"/>
                <stop offset="100%" stop-color="#429321"/>
              </linearGradient>
            </defs>
            <path stroke="#ccc"
              fill="url(#success-pendingg)"
              d="
                M 0 0 Q 150 0 180 0 Q 270 0 340 40 Q 370 60 410 90 Q 480 140 700 140 L 0 140 L 0 0 Z
            "/>
            <text x="150px" y="70px"
              font-family="sans-serif"
              font-size="50px"
              text-anchor="middle"
              fill="white"
              class="vehicleRegistrationNum">
            </text>
            <text x="30px" y="100px"
              font-family="sans-serif"
              font-style="italic"
              font-weight="500"
              font-size="15px"
              text-anchor="inherit"
              fill="white">Job Card
            </text>
            <text x="30px" y="120px"
              font-family="sans-serif"
              font-weight="500"
              font-size="15px"
              text-anchor="inherit"
              class="taskCardName"
              fill="white">
            </text>
            <text x="690px" y="40px"
              font-family="sans-serif"
              font-size="15px"
              class="customerName"
              text-anchor="end"
              fill="gray">
            </text>
            <text x="690px" y="70px"
              font-family="sans-serif"
              font-size="15px"
              text-anchor="end"
              class="createdTimeStamp"
              fill="gray">
            </text>
            <text x="690px" y="100px"
              font-family="sans-serif"
              font-size="15px"
              text-anchor="end"
              font-weight="600"
              class="vehicleModelName"
              fill="gray">
            </text>
          </svg>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content-div">
          <div id="itemContentDivs">
            <div class="col-lg-12 col-md-12 col-sm-12 status-type-container">
              <div class="status-type-box-outer-div col-lg-2 col-md-4 col-sm-3 col-xs-12">
                <div href="" class="status-type-box clickable" data-box-type="air-filter">
                  <h5 class="history-item-title">Air Filter</h5>
                  <img class="history-item-img" src="/assets/img/service-icons/air-filter.png" />
                </div>
              </div>

              <div class="status-type-box-outer-div col-lg-2 col-md-4 col-sm-3 col-xs-12">
                <div href="" class="status-type-box clickable" data-box-type="engine-oil">
                  <h5 class="history-item-title">Engine Oil</h5>
                  <img class="history-item-img" src="/assets/img/service-icons/car-oil.png" />
                </div>
              </div>

              <div class="status-type-box-outer-div col-lg-2 col-md-4 col-sm-3 col-xs-12">
                <div href="" class="status-type-box clickable" data-box-type="wiper-fluid">
                  <h5 class="history-item-title">Wiper Fluid</h5>
                  <img class="history-item-img" src="/assets/img/service-icons/winshield-wiper.png" />
                </div>
              </div>

              <div class="status-type-box-outer-div col-lg-2 col-md-4 col-sm-3 col-xs-12">
                <div href="" class="status-type-box clickable" data-box-type="wiper-blades">
                  <h5 class="history-item-title">Wiper Blades</h5>
                  <img class="history-item-img" src="/assets/img/service-icons/wiper.png" />
                </div>
              </div>

              <div class="status-type-box-outer-div col-lg-2 col-md-4 col-sm-3 col-xs-12">
                <div href="" class="status-type-box clickable" data-box-type="tyres">
                  <h5 class="history-item-title">Tyres</h5>
                  <img class="history-item-img" src="/assets/img/service-icons/tyre2.png" />
                </div>
              </div>

              <div class="status-type-box-outer-div col-lg-2 col-md-4 col-sm-3 col-xs-12">
                <div href="" class="status-type-box clickable" data-box-type="check-belts">
                  <h5 class="history-item-title">Check Belts</h5>
                  <img class="history-item-img" src="/assets/img/service-icons/timing-belt.png" />
                </div>
              </div>

              <div class="status-type-box-outer-div col-lg-2 col-md-4 col-sm-3 col-xs-12">
                <div href="" class="status-type-box clickable" data-box-type="coolant">
                  <h5 class="history-item-title">Coolant</h5>
                  <img class="history-item-img" src="/assets/img/service-icons/engine-coolant.png" />
                </div>
              </div>

              <div class="status-type-box-outer-div col-lg-2 col-md-4 col-sm-3 col-xs-12">
                <div href="" class="status-type-box clickable" data-box-type="brake-fluid">
                  <h5 class="history-item-title">Brake Fluid</h5>
                  <img class="history-item-img" src="/assets/img/service-icons/brake-warning.png" />
                </div>
              </div>

              <div class="status-type-box-outer-div col-lg-2 col-md-4 col-sm-3 col-xs-12">
                <div href="" class="status-type-box clickable" data-box-type="steering-fluid">
                  <h5 class="history-item-title">Steering Fluid</h5>
                  <img class="history-item-img" src="/assets/img/service-icons/steering-wheel.png" />
                </div>
              </div>

              <div class="status-type-box-outer-div col-lg-2 col-md-4 col-sm-3 col-xs-12">
                <div href="" class="status-type-box clickable" data-box-type="transmission-fluid">
                  <h5 class="history-item-title">Transmission Fluid</h5>
                  <img class="status-type-img-long-title" src="/assets/img/service-icons/gear-box.png" />
                </div>
              </div>

              <div class="status-type-box-outer-div col-lg-2 col-md-4 col-sm-3 col-xs-12">
                <div href="" class="status-type-box clickable" data-box-type="battery">
                  <h5 class="history-item-title">Battery</h5>
                  <img class="history-item-img" src="/assets/img/service-icons/battery.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
 
<!-- THIS SECTION CONTAINS ALL THE STYLES THAT ARE RELATED WITH THIS DASHBOARD -->

<style type="text/css">
.autocomplete-items {
  position: absolute;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 4%;
  right: 4%;
  border: 1px solid #d4d4d4;
  z-index: 99;
  max-height: 150px;
  overflow: auto;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

.autocomplete-items2 {
  position: absolute;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 4%;
  right: 4%;
  border: 1px solid #d4d4d4;
  z-index: 99;
  max-height: 150px;
  overflow: auto;
}

.autocomplete-items2 div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items2 div:hover {
  background-color: #e9e9e9; 
}

.border-card .selected {
    background-color: #e8d1d6;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
@media screen and (max-width: 425px) {
    .dateTitle {
      font-size: 10px;
    }
    .odoTitle {
      font-size: 10px;
    }
    .service-date {
      font-size: 12px;
    }
    .odm-reading {
      font-size: 12px;
    }
    #remarks-button {
      width: 100%;
    }
    #back-button {
      width: 100%;
    }
  }
</style>