<?php 
	foreach ($this->jobData as $value) {
?>
	<li class="border-card">
		<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
		    <div class="label-group service-date col-lg-6 col-md-6 col-sm-6 col-xs-6"><?php echo $value['createdTimeStamp']; ?></div>
		    <div class="label-group odm-reading col-lg-6 col-md-6 col-sm-6 col-xs-6"><?php echo floatval($value['jobVehicleKMs'])." KM"; ?></div>
		</div>
	</li>
<?php 
	}
?>
