<?php 
	foreach ($this->jobData as $key => $value) {
?>
	<?php if ($key == 0) { ?>
		<li class="border-card jobTile selected" data-job-id="<?php echo $value['jobId']; ?>">
	<?php } else { ?>
		<li class="border-card jobTile" data-job-id="<?php echo $value['jobId']; ?>">
	<?php }  ?>
	  <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
	    <div class="label-group service-date col-lg-4 col-md-4 col-sm-4 col-xs-4"><?php echo $value['jobReferenceNumber']; ?></div>
	    <div class="label-group service-date col-lg-4 col-md-4 col-sm-4 col-xs-4"><?php echo $value['createdTimeStamp']; ?></div>
	    <div class="label-group odm-reading col-lg-4 col-md-4 col-sm-4 col-xs-4"><?php echo floatval($value['jobVehicleKMs'])." KM"; ?></div>
	  </div>
	</li>
<?php 
	}
?>

