<div class="well clearfix well_custom_padding margin_top">
    <form id="universalSeaech" class="form-horizontal">
        <div class="col-lg-2">
            <label class="remove_weight"><?php echo $this->translate('Universal Search') ?></label>
        </div>
        <div class="col-lg-8 col-md-10 col-sm-9 xs-margin-bottom">
            <input type="text" id="searchKey" autofocus="true" placeholder="<?php echo $this->translate('Please enter search key') ?>" name="searchKey" class="form-control"/>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3">
            <input type="submit" value="<?php echo $this->translate('Search') ?>" class="form-control btn-primary">
        </div>
    </form>
</div><!--well-->

<!--result_table-->
<div class="clearfix margin_top hidden">
    <table id="unTable" class="table table-striped" >
        <thead>
            <tr>
                <th><?php echo $this->translate('Code') ?></th>
                <th><?php echo $this->translate('Name') ?></th>
                <th><?php echo $this->translate('type') ?></th>
                <th><?php echo $this->translate('Progress') ?></th>
                <th class="text-center"><?php echo $this->translate('View Map') ?></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>