<div class="margin_top">
    <div class="well clearfix well_custom_padding margin_top ">
        <div class="control-label col-lg-4">
            <label><?php echo $this->translate('Tree view') ?></label>
        </div>

        <div class="control-label col-lg-6">
            <?php if ($this->inquieryLog != '') { ?>
                <div class="row">
                    <label class="col-lg-4"><?php echo $this->translate('Inquiry Log -:') ?></label>
                    <label class="col-lg-4"><?php echo $this->inquieryLog ?></label>
                </div>
                <div class="row">
                    <label class="col-lg-4"><?php echo $this->translate('Customer Name -:') ?></label>
                    <label class="col-lg-4"><?php echo $this->customerName ?></label>
                </div>
            <?php } else { ?>
                <div class="row">
                    <label class="col-lg-4"><?php echo $this->translate('Customer Name -:') ?></label>
                    <label class="col-lg-4"><?php echo $this->customerName ?></label>
                </div>
            <?php } ?>
        </div>

        <?php
        if (!empty($this->project) || !empty($this->jobs) || !empty($this->activities)) {
            ?>
            <script type="text/javascript">
                $(document).ready(function() {
                    $('#tree').spacetree('#spacetree').hide();
                    $('.back').on('click', function() {
                        window.history.back();
                    });
                });

            </script>
        <?php } ?>
        <div class="row">
            <?php
            if (!empty($this->project)) {
                ?>
                <div id="tree">
                    <div id="root" data-href="<?php echo $this->url('project', array('action' => 'view', 'param1' => $this->projectId)); ?>"><?php echo $this->project[$this->projectId] ?></div>
                    <ul>
                        <?php
                        if ($this->jobs) {
                            $jobi = 0;
                            foreach ($this->jobs as $key => $value) {

                                $jobi++;
                                ?>
                                <li>
                                    <div id="<?php echo 'child' . $jobi; ?>" data-href="<?php echo $this->url('job', array('action' => 'view', 'param1' => $key)); ?>"><?php echo $value ?></div>
                                    <?php
                                    if ($this->activities[$key]) {
                                        $activityi = 0;
                                        foreach ($this->activities[$key] as $key1 => $value1) {
                                            $activityi++;
                                            ?>
                                            <ul>
                                                <li>
                                                    <div id="<?php echo 'subchild' . $key1 . '_' . $activityi; ?>" data-href="<?php echo $this->url('activity', array('action' => 'view', 'param1' => $key1)); ?>"><?php echo $value1; ?></div>
                                                </li>
                                            </ul>
                                            <?php
                                        }
                                    }
                                    ?>
                                </li>
                                <?php
                            }
                        }
                        ?>
                    </ul>
                </div>
                <?php
            } else if (!empty($this->jobs)) {
                ?>
                <div id="tree">
                    <div id="root" data-href="<?php echo $this->url('job', array('action' => 'view', 'param1' => $this->jobId)); ?>"><?php echo $this->jobs[$this->jobId] ?></div>
                    <ul>
                        <?php
                        if ($this->activities[$this->jobId]) {
                            $activityi = 0;
                            foreach ($this->activities[$this->jobId] as $key => $value) {
                                $activityi++;
                                ?>
                                <li>
                                    <div id="<?php echo 'child' . $activityi; ?>" data-href="<?php echo $this->url('activity', array('action' => 'view', 'param1' => $key)); ?>"><?php echo $value ?></div>
                                </li>
                                <?php
                            }
                        }
                        ?>
                    </ul>
                </div>
            <?php } ?>
            <div id="spacetree">
            </div>
        </div>
        <div class="row">
            <input type="button" class="col-md-1 col-md-offset-10 btn btn-primary back" value="Back">
        </div>
    </div>
</div>