<div class="modal-dialog" id="rules-add-modal">
  <div class="modal-content" style="width: 820px">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title add-header"><?php echo $this->translate('Add Rules') ?></h4>
      <h4 class="modal-title hidden view-header"><?php echo $this->translate('View Rules') ?></h4>
    </div>
      
    <div class="modal-body">
      <input type="text" id="currency" class="hidden" value="<?php echo $this->companyCurrencySymbol; ?>">

      <div class="alert alert-info uom-alert"><?php echo $this->translate('Note : When You Setup the Condition ranges for discount schemes You have to set condtions based on the base uom of the product and condition cannot be over ridden by another condition and condtions may consider in the invoice as minQty <= inputQty < maxQty') ?></div>
      
      <div class="form-group clearfix">
        <table>
          <thead>
            <tr>
              <th class="col-lg-4"><?php echo $this->translate("Min Qty"); ?></th>
              <th class="col-lg-4"><?php echo $this->translate('Max Qty')?></th>
              <th class="col-lg-4"><?php echo $this->translate('Discount')?></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody id="tempRuleAddBody">
            <tr id="rulePreSample" class="hidden">
              <td class="clearfix">
                  <input class="form-control text-right" type="text" name="minQty">
              </td>
              <td class="clearfix">
                  <input class="form-control text-right" type="text" name="maxQty">
              </td>
              <td class="clearfix">
                  <div class="input-group">
                      <input class="form-control text-right" type="text" name="discount">
                      <span class="input-group-addon temp-sign"></span>
                  </div>
              </td>
              <td> 
                <button class="btn delete-rule"><i class="glyphicon glyphicon-trash remove_font-Weight"></i></button>
              </td>
            </tr>
          </tbody>
          <tbody id="ruleAddBody">
            <tr class="promo-comb-rule-add-row">
              <td class="clearfix">
                  <input class="form-control text-right" type="text" name="min-quantity">
              </td>
              <td class="clearfix">
                  <input class="form-control text-right" type="text" name="max-quantity">
              </td>
              <td class="clearfix">
                <div class="input-group">
                    <input class="form-control text-right" type="text" name="disc">
                    <span class="input-group-addon sign"></span>
                    <!-- <span class="input-group-addon percentage-sign hidden">%</span> -->
                </div>
              </td>
              <td> 
                <button class="btn btn-default add-rule"><i class="glyphicon glyphicon-plus remove_font-Weight"></i></button>
                <button class="btn delete-rule hidden"><i class="glyphicon glyphicon-trash remove_font-Weight"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default comb-rule-close"><?php echo $this->translate('Close') ?></button>
        <button type="button" class="btn btn-primary comb-rule-save"><?php echo $this->translate('Add Rules') ?></button>
        <button type="button" class="btn btn-primary comb-rule-update hidden"><?php echo $this->translate('Update Rules') ?></button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->