<div class="margin_top">
    <div class="col-lg-12">
        <div class='panel panel-default clearfix'>
            <div class='panel-heading create-header' ><b><?php echo $this->translate('Add Discount Schemes')?></b></div>
            <div class='panel-heading update-header hidden' ><b><?php echo $this->translate('Update Landing Cost Type')?></b></div>
            <div class="form-group clearfix margin_top">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin">
                        <?php echo $this->translate('Discount Scheme Code') ?>
                            <font color="red"> *</font>
                    </label>
                    <div class="">
                        <input type="text" name="discount-scheme-code" class="discount-scheme-code form-control">
                    </div>
                </div>
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin">
                        <?php echo $this->translate('Discount Scheme Name') ?>
                            <font color="red"> *</font>
                    </label>
                    <div class="">
                        <input type="text" name="discount-scheme-name" class="discount-scheme-name form-control">
                    </div>
                </div>
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin">
                        <?php echo $this->translate('Discount Type') ?>
                            <font color="red"> *</font>
                    </label>
                    <div class="">
                        <select class="form-control show-tick" id="discountType" name="discountType" data-live-search="true">
                            <option value="1">Value</option>
                            <option value="2" >Precentage</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 text-center">
                    <div style="margin-top: 30px;">
                        <button  type='button' class="btn btn-default" id="showRuleAddModal">
                            Add Scheme Conditions
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 text-right margin_top_normal margin_bottom_normal">
                <button class="btn btn-primary" id="save-disc-scheme"><?php echo $this->translate('SAVE')?></button>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="well clearfix well_custom_padding margin_top ">
            <div class="col-lg-3">
                <label class="remove_weight"><?php echo $this->translate('Search a Discount Scheme') ?></label>
            </div>
            <div class="col-lg-9 xs-search-field">
                <div class=" input-group">
                    <input type="text" class="search form-control" id ='discount-scheme-search-keyword' placeholder="<?php echo $this->translate('Enter Discount Scheme Name or Code') ?>"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default reset cost-type-search-reset" id='cost-type-reset' type="reset"><?php echo $this->translate('Cancel') ?></button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div id="cost-type-data" class="margin_top">
        <div id="cost-type-list" class="margin_top">
            <?php echo $this->partial('settings/discount-schemes/list', array('schemeList' => $this->schemeList, 'paginated' => $this->paginated)); ?>
        </div>
    </div>
</div>

<div class="modal fade" id="addConditionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <?php echo $this->conditionRule; ?>
</div>