<div class="table-responsive">
    <table class="table table-striped" id="disc-schem-list-view">
    <?php
       
       ?>
        <thead>
            <tr>
                <th><?php echo $this->translate('Discount Scheme Code') ?></th>
                <th><?php echo $this->translate('Discount Scheme Name') ?></th>
                <th><?php echo $this->translate('Discount Type') ?></th>
                <th class="text-center" ><?php echo $this->translate('View condtions') ?></th>
                <th class="text-center" ><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->schemeList as $loo) {
                $loo = (object) $loo;
               
                ?>
                <tr data-discSchemId=<?php echo $loo->discountSchemesID; ?> data-discType=<?php  echo $loo->discountType ?>>
                    <td class="itemAttrCode"><?php echo $loo->discountSchemeCode; ?></td>
                    <td class="itemAttrName"><?php echo $loo->discountSchemeName ?></td>
                    <td class="itemAttrName"><?php echo $loo->discountType ?></td>
                    <td class="text-center view-condtions">
                        <a href="#" class="view">
                            <span class="fa fa-eye custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center delete-scheme">
                        <a href="#" class="delete">
                            <span class="fa fa-trash-o custom_font_size"></span>
                        </a>
                    </td>
                </tr>
                <?php
            }
            if (count($this->schemeList) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div><!--table_responsive-->

<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->schemeList, 'sliding', array('partial/paginator.phtml', 'discount-schemes'), array(
        'route' => 'discount-schemes', 'action' => 'index'
            )
    );
}
?>
