
<div class="project-type-form-container margin_top">
    <div class="DepartmentBody">   
        <div class="well well_heading">
            <h5 class="font_weight addTitle"><?php echo $this->translate('Add Siganture') ?></h5>
        </div>
        <div class="well well_body">
            <div class="form-horizontal">
                <div class="_row_with_margin clearfix">

                    <div class="col-lg-4 col-md-4 col-sm-4 xs-margin-bottom">
                        <label for="dimensionName" class="_remove_bold"><?php echo $this->translate('Signature Holder Name') ?><span class="_required">*</span></label>
                        <input type="text" autofocus="true" placeholder="Eg: Location" class="form-control" id="signatureHolderName">
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group margin_top clearfix">
                            <div class="image_upload col-lg-9 col-md-9 col-sm-8">
                                <div id="profile_pics" >
                                   <!--  <?php
                                    if (isset($this->company->logoID) && $this->company->logoID != NULL) {
                                        ?>
                                        <img src="<?php echo '/userfiles/' . $this->companyFolder . '/company/thumbs/' . $this->company->logoID ?>" id="thumbs" class="img-thumbnail" style="max-height: 180px;"/>
                                    <?php } else { ?>
                                    <?php } ?> -->
                                    <img src="<?php echo '/assets/img/default.jpeg' ?>" id="thumbs" class="img-thumbnail" style="max-height: 180px;"/>
                                    <input type="file" id="image_file" name="image_file"  data-flag="false" accept="image/*" class="margin_top_low"/>
                                </div>
                                <div id="profile_pic">
                                        <img src="<?php echo '/assets/img/default.jpeg' ?>" id="thumb" class="img-thumbnail" style="width: 180px; height: 180px;"/>
                                    <!-- <?php if (isset($this->company->logoID) && $this->company->logoID != NULL) { ?>
                                        <img src="<?php echo '/userfiles/' . $this->companyFolder . '/company/thumbs/' . $this->company->logoID ?>" id="thumb" class="img-thumbnail" style="width: 180px; height: 180px;"/>
                                    <?php } else { ?>
                                    <?php } ?> -->
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--Reset&Add-->
                    <div class="col-lg-4 addDiv">
                        <label>&nbsp;</label>
                        <div class="text-right">
                            <button type="button" class="btn btn-primary update" id="btnAdd"><?php echo $this->translate('Add New') ?></button>
                            <button type="button" class="btn btn-default" id="btnReset"><?php echo $this->translate('Reset') ?></button>
                        </div>
                    </div>

                    <!--cancel&Update-->
                    <div class="col-lg-4 updateDiv hidden">
                        <label>&nbsp;</label>
                        <div class="text-right">
                            <button type="button" class="btn btn-primary update" id="btnUpdate"><?php echo $this->translate('Update') ?></button>
                            <button type="button" class="btn btn-default" id="btnCancel"><?php echo $this->translate('Cancel') ?></button>
                        </div>
                    </div>
                    <!--cancel&Update-->
                    <div class="col-lg-4 viewDiv hidden">
                        <label>&nbsp;</label>
                        <div class="text-right">
                            <button type="button" class="btn btn-default" id="btnViewCancel"><?php echo $this->translate('Cancel') ?></button>
                        </div>
                    </div>

                </div><!--row-->
            </div><!--form_horizontal-->
        </div><!--well_body-->

        <!--search-->
         <div class="well well_custom_padding margin_top">
            <div class="row">
                <div class="col-lg-3">
                    <label class="remove_weight" for="rateCardSearch"><?php echo $this->translate('Search Signatures') ?></label>
                </div>
                <div class="search_field col-lg-9">
                    <form class='departmant-search-form' method="post">
                        <div class="input-group">
                            <input type="text" class="form-control" id="signatureSearch" placeholder="<?php echo $this->translate('Enter signature holder name') ?>">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default minus_margin" id="searchSignature"><?php echo $this->translate('Search') ?></button>
                                <button type="button" class="btn btn-default minus_margin" id="searchCancel"><?php echo $this->translate('Cancel') ?></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> <!--well-->
        <div id="signature-list" class="margin_top">
            <?php echo $this->partial('settings/signature/list', array('signatures' => $this->signatures, 'companyFolder' => $this->companyFolder, 'paginated' => $this->paginated)); ?>
        </div>
        
    </div>

    <div class="modal fade" id="addDimensionValueModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <?php echo $this->dimensionValueAddView; ?>
    </div>
</div>

<div class="modal fade" id="imageUploaderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ><?php echo $this->translate(' &times;
                ') ?></button>
                <h4 class="modal-title"><?php echo $this->translate('Image Upload') ?></h4>
            </div>

            <div class="modal-body">
                <form id="upload_form" enctype="multipart/form-data" method="post" style="" >
                    <!--hidden inputs-->
                    <input type="hidden" id="w" name="w" />
                    <input type="hidden" id="h" name="h" />
                    <input type="hidden" id="x1" name="x1" />
                    <input type="hidden" id="y1" name="y1" />
                    <input type="hidden" id="x2" name="x2" />
                    <input type="hidden" id="y2" name="y2" />
                    <div class="error" style="display: none">
                        <?php echo $this->translate('Test') ?>
                    </div>
                    <br>
                    <div id="image_div" style="display: none;align:center;">
                        <img  src="" id="load_img"/>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <input class="btn btn-primary" type="submit" name='image-submit' id="image-submit" value=<?php echo $this->translate('Upload') ?>  />
            </div>
        </div> <!-- /.modal-content -->
    </div> <!--/.modal-dialog -->
</div> <!--/.modal-->
<div class="modal fade" id="imageViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ><?php echo $this->translate(' &times;
                ') ?></button>
                <h4 class="modal-title"><?php echo $this->translate('View Signature Image') ?></h4>
            </div>

            <div class="modal-body">
                <form id="upload_form" enctype="multipart/form-data" method="post" style="" >
                    
                    <div id="view_image_div" style="float:center;">
                        <center><img  src="" style="max-height:180px; max-width: 250px;" id="load_view_img"/></center>
                    </div>
                </form>
            </div>
        </div> <!-- /.modal-content -->
    </div> <!--/.modal-dialog -->
</div>
<script>
    $(function () {
        $('#imageUploaderModal').on('hidden.bs.modal', function () {
            console.log($('#image_file').data('flag'));
            var name = "<?php echo $this->company->logoID ?>";
            if (!$('#image_file').data('flag')) {
                if (name != null) {
                    document.getElementById("thumbs").src = "<?php echo '/userfiles/' . $this->companyFolder . '/company/thumbs/' . $this->company->logoID ?>";
                    document.getElementById("thumb").src = "<?php echo '/userfiles/' . $this->companyFolder . '/company/thumbs/' . $this->company->logoID ?>";
                    document.getElementById("load_img").src = "<?php echo '/userfiles/' . $this->companyFolder . '/company/thumbs/' . $this->company->logoID ?>";
                } else {
                    document.getElementById("thumbs").src = "<?php echo '/assets/img/default.jpeg' ?>";
                    document.getElementById("thumbs").src = "<?php echo '/assets/img/default.jpeg' ?>";
                    document.getElementById("load_img").src = "<?php echo '/assets/img/default.jpeg' ?>";
                }
                $('#image_file').data('flag', false);
                $('#image_file').val('');
            }
        });
    });


</script>