<!--table-->
<div class="table table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('Signature Holder') ?></th>
                <th class="text-center" ><?php echo $this->translate('View') ?></th>
                <th class="text-center" ><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->signatures as $signature) {
                $signature = (object) $signature;
                ?>
                <tr data-company-folder="<?php echo $this->companyFolder; ?>" data-signature-image-id="<?php echo $signature->signatureImageID; ?>" data-signature-id="<?php echo $signature->signatureDetailsID; ?>">
                    <td class="dimensionName"><?php echo $signature->signatureHolderName; ?></td>
                    <td class="text-center"> 
                        <a href="#" class="view signature-action" data-action="view">
                            <span class="fa fa-eye custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="#" class="delete signature-action" data-action="delete">
                            <span class="fa fa-trash-o custom_font_size"></span>
                        </a>
                    </td>
                </tr>
                <?php
            }
            if (count($this->signatures) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div>
<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->signatures, 'sliding', array('partial/paginator.phtml', 'signature'), array(
        'route' => 'signature', 'action' => 'index'
            )
    );
}
?>
