<div class="modal-dialog _custom_large_modal" style="width: 70">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate('Add Values For Dimension') ?></h4>
        </div>

        <div class="modal-body" id="addDimensionValueBody">
            <div class="col-lg-12 margin_top" id="departmentStationAddTable">
                <div class="table modaltable">
                    <table class="table table-striped margin_top_normal table-condensed" id="departmentStationTable">
                        <thead>
                            <tr>
                                <th><?php echo $this->translate("Dimension value"); ?></th>
                            </tr>
                        </thead>

                        <tbody id="formRow">
                            <tr id='preSample' class="hidden">
                                <td>
                                    <input disabled name="dimensionVal" type="text" class="form-control" />
                                </td>
                                <td class="text-right"><button class="deleteAddedDimensionValues btn btn-default"><i class='glyphicon glyphicon-trash deletedDimesionVal' id=''></i></button></td>
                            </tr>
                        </tbody>

                        <tbody id="addNewDimensionValueRow">
                            <tr><!--item_insert-->
                                <td>
                                    <input type="text" autofocus="true" class="form-control" id="dimensionValue">
                                </td>
                                <td class="text-right">
                                    <strong class="btn btn-default" id="add_dimension_value"><i class="glyphicon glyphicon-plus"></i></strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!--table_responsive-->
            </div><!--./col-->
            <br>
        </div>
        <div class="modal-footer modal-footer-style">
            <div class="col-lg-12" id="addServiceRates">
                <div class="text-right">
                    <button type="button" class="btn btn-primary" id="btnAddDimensionVal"><?php echo $this->translate('Add Dimension Values') ?></button>
                    <button type="button" class="btn btn-danger" id="btnSrvcClose"><?php echo $this->translate('Close') ?></button>
                </div>
            </div>
            <div class="col-lg-12" id="viewServiceRates" class="hidden">
                <div class="text-right">
                    <button type="button" class="btn btn-danger hidden" data-dismiss="modal" id="btnViewRateCardServicesClose"><?php echo $this->translate('Close') ?></button>
                </div>
            </div>
        </div>
    </div>
</div>

