
<div class="project-type-form-container margin_top">
    <div class="DepartmentBody">   
        <div class="well well_heading">
            <h5 class="font_weight addTitle"><?php echo $this->translate('Add Dimension') ?></h5>
            <h5 class="font_weight updateTitle hidden"><?php echo $this->translate('Update Dimension') ?></h5>
            <h5 class="font_weight viewTitle hidden"><?php echo $this->translate('View Dimension') ?></h5>
        </div>
        <div class="well well_body">
            <div class="form-horizontal">
                <div class="_row_with_margin clearfix">

                    <div class="col-lg-4 col-md-4 col-sm-4 xs-margin-bottom">
                        <label for="dimensionName" class="_remove_bold"><?php echo $this->translate('Dimension Name') ?><span class="_required">*</span></label>
                        <input type="text" autofocus="true" placeholder="Eg: Location" class="form-control" id="dimensionName">
                    </div>
                    <div class="col-lg-4">
                        <br>
                        <label class="_remove_bold"></label>
                        <a data-toggle="modal" id="dimensionValues"  class="btn btn-success"><?php echo $this->translate('Add Values For Dimension') ?></a>
                    </div>


                    <!--Reset&Add-->
                    <div class="col-lg-4 addDiv">
                        <label>&nbsp;</label>
                        <div class="text-right">
                            <button type="button" class="btn btn-primary update" id="btnAdd"><?php echo $this->translate('Add New') ?></button>
                            <button type="button" class="btn btn-default" id="btnReset"><?php echo $this->translate('Reset') ?></button>
                        </div>
                    </div>

                    <!--cancel&Update-->
                    <div class="col-lg-4 updateDiv hidden">
                        <label>&nbsp;</label>
                        <div class="text-right">
                            <button type="button" class="btn btn-primary update" id="btnUpdate"><?php echo $this->translate('Update') ?></button>
                            <button type="button" class="btn btn-default" id="btnCancel"><?php echo $this->translate('Cancel') ?></button>
                        </div>
                    </div>
                    <!--cancel&Update-->
                    <div class="col-lg-4 viewDiv hidden">
                        <label>&nbsp;</label>
                        <div class="text-right">
                            <button type="button" class="btn btn-default" id="btnViewCancel"><?php echo $this->translate('Cancel') ?></button>
                        </div>
                    </div>

                </div><!--row-->
            </div><!--form_horizontal-->
        </div><!--well_body-->

        <!--search-->
         <div class="well well_custom_padding margin_top">
            <div class="row">
                <div class="col-lg-3">
                    <label class="remove_weight" for="rateCardSearch"><?php echo $this->translate('Search Dimension') ?></label>
                </div>
                <div class="search_field col-lg-9">
                    <form class='departmant-search-form' method="post">
                        <div class="input-group">
                            <input type="text" class="form-control" id="dimensionSearch" placeholder="<?php echo $this->translate('Enter dimesnion name') ?>">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default minus_margin" id="searchDimension"><?php echo $this->translate('Search') ?></button>
                                <button type="button" class="btn btn-default minus_margin" id="searchCancel"><?php echo $this->translate('Cancel') ?></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> <!--well-->
        <div id="dimension-list" class="margin_top">
            <?php echo $this->partial('settings/dimension/list', array('dimensions' => $this->dimensions, 'paginated' => $this->paginated)); ?>
        </div>
        
    </div>

    <div class="modal fade" id="addDimensionValueModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <?php echo $this->dimensionValueAddView; ?>
    </div>
</div>