<?php /**
 * @author ASHAN <ashan@thinkcube.com>
 * This file contains credit Note create view
 */ ?>
<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
<?php
$this->headScript()->captureEnd();
$creditNoteID = $this->creditNoteID;
$locationName = $this->locationName;
$locationID = $this->locationID;
$referenceNumber = $this->referenceNumber;
$companyCurrencySymbol = $this->companyCurrencySymbol;
?>
<div id="creditNotePayment" class=" margin_top disabl_when_print">
    <!--form_opend_tag-->
    <?php
    if ($refNotSet) {
        ?>
        <script>
            $(function() {
                $('#refNotSet').modal('show');
            });
        </script>
        <?php
    }
    ?>
    <!--Search Credit Note-->
    <div class="well clearfix well_custom_padding margin_top_ font_weight">
        <div class="col-lg-3"><!-- Get credit note By-->
            <label class="control-label"><?php echo $this->translate('Start Credit Note Payment By') ?></label>
        </div>
        <div class="col-lg-2"><!-- selection_Drop_down-->
            <select id="creditNotePaymentsSearch" class="form-control">
                <option value="Credit Note"><?php echo $this->translate('Credit Note') ?></option>
                <option value="Customer Name"><?php echo $this->translate('Customer Name') ?></option>
            </select>
        </div>
        <div class="col-lg-3"><!-- for input credit note id -->
            <div class="" id="creditNote"><!--from_credit_note-->
                <?php
                if ($creditNoteID != NULL) {
                    $idcreditNote = $creditNoteID;
                } else {
                    $idcreditNote = '';
                }
                ?>
                <input type="hidden" class="form-control" id="idCreditNote" value="<?php echo $idcreditNote ?>">
                <select class="form-control selectpicker show-tick" id="creditNoteID" name="creditNoteID" data-live-search="true">
                    <option value=""><?php echo $this->translate('Select Credit Note Code') ?></option>
                </select>
            </div>
            <div class="" id="customer"><!--from_credit_note-->
                <select class="form-control selectpicker show-tick" id="customerID" name="customerID" data-live-search="true">
                    <option value=""><?php echo $this->translate('Select Customer Name') ?></option>
                </select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="">
                <select id="customCurrencyId" class="form-control selectpicker customCurrencyId"  name="customCurrencyId" data-live-search="true">
                    <option value=""><?php echo $this->translate('Select Custom Currency') ?></option>
                    <?php foreach ($this->customCurrency as $key => $val) { ?>
                        <option value="<?php echo $key ?>"><?php echo $val ?></option>
                    <?php } ?>
                </select>
            </div>
        </div>
        <div class="col-lg-2"><!-- clear whole details and table -->
            <button type="button" id="reset-credit-note-button" class="btn btn-default btn-block"><?php echo $this->translate('Reset') ?></button>
        </div>
    </div><!-- end of search Credit Note -->



    <!--data_insert_section-->
    <div class="row form-horizontal">
        <div class="col-lg-6 remove_left_padding location">
            <div class="form-group"><!--date-->
                <label class="col-lg-5 col-md-3 col-sm-4 col-xs-5 control-label "><?php echo $this->translate('Date : ') ?></label>
                <div class="col-lg-7 col-md-9 col-sm-8 col-xs-7 text_margin_top" id="currentdate">
                    <?php
                    echo date("Y-m-d");
                    ?>
                </div>
            </div>

            <div class="form-group"><!--ref_num-->
                <label class="col-lg-5 col-md-3 col-sm-4 col-xs-5 control-label remove_padding"><?php echo $this->translate('Ref-Number :') ?>
                    <font style="color: red">*</font>
                </label>
                <div class="col-lg-7 col-md-9 col-sm-8 col-xs-7 text_margin_top remove_font_weight">
                    <input type="text" id="creditNotePaymentID" class="form-control" disabled="true" value="<?php
                    if ($referenceNumber) {
                        echo $referenceNumber;
                    }
                    ?>">
                </div>
            </div><!--./col-->

            <div class="form-group">
                <label for="paymentTerm" class="col-lg-5 control-label">
                    <?php echo $this->translate("Payment Term"); ?>
                </label>
                <div class="col-lg-7">
                    <select class="form-control" id="paymentTerm">
                        <?php
                        foreach ($this->paymentTerm as $terms => $termName) {
                            ?>
                            <option value="<?php echo $terms; ?>"><?php echo $termName; ?></option>
                        <?php } ?>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="dimensionType" class="col-lg-5 control-label">
                    <?php echo $this->translate('Select Documents'); ?>
                </label>
                <div class="col-lg-7 createPoDiv">
                    <input type="file" name="files[]" id="documentFiles" multiple>
                </div>
            </div>
        </div><!--col-->

        <div class="col-lg-6 col-md-12 remove_right_padding terms">

            <div class="form-group"><!--location-->
                <label class="col-lg-5 col-md-3 col-sm-4 control-label "><?php echo $this->translate('Location :') ?></label>
                <div class="col-lg-7 col-md-9 col-sm-8">
                    <?php
                    if ($locationName != NULL && $locationID != NULL) {
                        $locationValue = ($locationCode . ' - ' . $locationName);
                        ?>
                        <input type="hidden" id="locationID" value="<?php echo $locationID ?>">
                        <?php
                    }
                    ?>
                    <input type="text" disabled="disabled" class="form-control" id="locationName" value="<?php echo $locationValue ?>">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Customer Balance :') ?></label>
                <div class="col-lg-7 col-md-9 col-sm-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 remove_left_padding">
                            <input type="text"  class="form-control" disabled="disabled" id="currentBalance" name="currentBalance" >
                            <label class="label label-danger custom_label"><?php echo $this->translate('Outstanding') ?></label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 remove_right_padding">
                            <input type="text" class="form-control" disabled="disabled" id="currentCredit" name="currentCredit" >
                            <label class="label label-success custom_label"><?php echo $this->translate('Credit') ?></label>
                        </div>
                    </div><!--row-->
                </div>
            </div><!--form_group-->
            <div class="form-group hidden" id="dimensionDiv">
                <label for="dimensionType" class="col-lg-5 control-label">
                    <?php echo $this->translate('Dimension'); ?>
                </label>
                <div class="col-lg-7">
                    <a data-toggle="modal" id="dimensionView" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></a>
                </div>
            </div>
        </div><!--col-->
    </div><!--row-->

    <div id="appendtable" class="margin_top_high margin_bottom" class="clearfix"></div>


    <div class="row form-horizontal">
        <div class="col-lg-6 remove_left_padding location">
            <div class="form-group"><!--discount_amount-->
                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Discount Amount :') ?></label>
                <div class="col-lg-7 col-md-9 col-sm-8">
                    <input type="text" class="form-control" id="discountAmount" name="discountAmount" >
                </div>
            </div>

            <div class="form-group"><!--amount-->
                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Amount :') ?></label>
                <div class="col-lg-7 col-md-9 col-sm-8">
                    <input type="text" disabled="disabled" class="form-control" id="amount" name="amount" >
                </div>
            </div>
        </div><!--col-->

        <div class="col-lg-6 remove_right_padding terms">
            <div class="form-group">
                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Memo :') ?></label>
                <div class="col-lg-7 col-md-9 col-sm-8">
                    <textarea class="form-control" id="memo" name="memo"></textarea>
                </div>
            </div>
        </div><!--col-->
    </div><!--row-->


    <div class="margin_top_high margin_bottom_high form-horizontal">

        <!--cheque number-->
        <div id='checkGroup'>
            <div class="col-lg-6 remove_left_padding location">
                <div class="form-group">
                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Cheque Number :') ?><font color="red"> *</font></label>
                    <div class="col-lg-7 col-md-9 col-sm-8">
                        <input type="text" id='checquenumber' placeholder="<?php echo $this->translate('Enter Cheque Number') ?>" class="form-control">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 remove_right_padding terms">
                <div class="form-group">
                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Bank :') ?><font color="red"> *</font></label>
                    <div class="col-lg-7 col-md-9 col-sm-8">
                        <input type="text" id='bank' placeholder="<?php echo $this->translate('Enter Bank Name') ?>" class="form-control">
                    </div>
                </div>
            </div>
        </div><!--cheque_group-->


        <!--credit_card_number-->
        <div id='creditGroup'>
            <div class="col-lg-6 remove_left_padding location">
                <div class="form-group">
                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Credit Receipt Number:') ?><font color="red"> *</font></label>
                    <div class="col-lg-7 col-md-9 col-sm-8">
                        <input type="text" id='reciptnumber' placeholder="<?php echo $this->translate('Enter Credit Receipt Number') ?>" class="form-control">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 remove_right_padding terms">
                <div class="form-group">
                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Credit Card Number:') ?></label>
                    <div class="col-lg-7 col-md-9 col-sm-8">
                        <input type="text" id='cardnumber' placeholder="<?php echo $this->translate('Enter Credit Card Number') ?>" class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <div id='bankTransferGroup'>
            <div class="col-lg-12 remove_left_padding location">
                <div class="form-group">
                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Bank Transfer Ref Number:') ?></label>
                    <div class="col-lg-7 col-md-9 col-sm-8">
                        <input type="text" id='refnumber' placeholder="<?php echo $this->translate('Enter Bank Transfer Ref Number') ?>" class="form-control">
                    </div>
                </div>
            </div>
        </div>

    </div><!--margin_top-->

    <div class="row"><!--total_payment-->
        <div class="margin_top_high clearfix total_payment">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6 remove_left_padding total_payment_div">
                <h4 class="font_weight display_inline"><label class="control-label"><?php echo $this->translate('Total Payment') ?></label></h4>
            </div>

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-6 remove_right_padding text-right total_amount">
                <h4 class="display_inline"><label id="totalpayment" class="control-label"><?php echo $this->translate('0.00') ?></label></h4>
                <span class="h4 font_weight cCurrency"><?php echo '&nbsp' . $companyCurrencySymbol; //$this->translate('&nbspLKR')                                                                                                                                                             ?></span>
            </div>
        </div>
    </div><!--row-->

    <div class="col-lg-10"></div>
    <div class="row col-lg-2">
        <div class="total margin_top_high clearfix">
            <div class="text-right">
                <span class="">
                    <input type="button" class="btn btn-primary form-control" id='crediNotePayments' value="<?php echo $this->translate("Add Payment") ?>">
                </span>
            </div>
        </div>
    </div>

</div><!--well-->

<div class="modal fade" id="refNotSet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $refNotSet; ?>
</div>

<div class="modal fade" id="addDimensionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->dimensionAddView; ?>
</div>


