<div id="credit-note-payment-list">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('Credit Note Payment No') ?></th>
                <th><?php echo $this->translate('Customer Name') ?></th>
                <th><?php echo $this->translate('Date') ?></th>
                <th class="text-center"><?php echo $this->translate('Paid Amount') ?></th>
                <th class="text-center"><?php echo $this->translate('Status') ?></th>
                <th class="edit text-center"><?php echo $this->translate('Print View') ?></th>
                <th class="text-center"><?php echo $this->translate('Cancel') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->creditNotePayments as $key => $creditNotePayments) {
                if ($creditNotePayments->creditNotePaymentCustomCurrencyRate == 0) {
                    $currencyRate = 1;
                } else {
                    $currencyRate = $creditNotePayments->creditNotePaymentCustomCurrencyRate;
                }
                if (isset($creditNotePayments->currencySymbol)) {
                    $customCurrencySymbol = $creditNotePayments->currencySymbol;
                } else {
                    $customCurrencySymbol = $this->companyCurrencySymbol;
                }
                $state = ucfirst($this->statuses[$creditNotePayments->statusID]);
                $status = $creditNotePayments->statusID;
                switch ($status) {
                    case "1":
                        $style = "label label-primary";
                        break;
                    case "2":
                        $style = "label label-default";
                        break;
                    case "3":
                        $style = "label label-success";
                        break;
                    case "4":
                        $style = "label label-warning";
                        break;
                    case "5":
                        $style = "label label-primary";
                        break;
                    case "6":
                        $style = "label label-danger";
                        break;
                    default :
                        $style = "label label-default";
                }
                ?>
                <tr>
                    <td> <?php echo $creditNotePayments->creditNotePaymentCode; ?></td>
                    <td><?php echo $creditNotePayments->customerName . '-' . $creditNotePayments->customerCode; ?></td>
                    <td> <?php echo $creditNotePayments->creditNotePaymentDate; ?></td>
                    <td class="text-center"> <?php echo $customCurrencySymbol . ' ' . number_format(($creditNotePayments->creditNotePaymentAmount - $creditNotePayments->creditNotePaymentDiscount / $currencyRate), 2); ?></td>
                    <td class="text-center"><span class="<?php echo $style; ?>"><?php echo $state; ?></span></td>
                    <td id="view" class="text-center">
                        <span class="preview link_color" style="cursor:pointer"  data-href="/credit-note-payments/viewCreditNotePaymentReceipt/<?php echo $creditNotePayments->creditNotePaymentID ?>" id="<?php echo $creditNotePayments->creditNotePaymentID ?>">
                            <span class="glyphicon glyphicon-eye-open"></span></span>
                    </td>
                    <?php if ($creditNotePayments->statusID != 5) { ?>
                        <td id="dele" class="text-center">
                            <?php if($creditNotePayments->customerStatus == 1){ ?>
                            <a class ="del" data-toggle="modal" href = "#delete_cn_payment" id="<?php echo $creditNotePayments->creditNotePaymentID ?>">
                                <span class="glyphicon glyphicon-ban-circle"></span>
                            </a>
                            <?php } else { ?>
                                <a class ="editsInactive" href = "#" id="<?php echo $creditNotePayments->creditNotePaymentID ?>">
                                <span class="glyphicon glyphicon-ban-circle"></span>
                            </a>
                                <?php } ?>
                        </td><?php } else { ?>
                        <td></td>
                        <?php
                    }
                }
                ?>
                <?php if (count($this->creditNotePayments) == 0) {
                    ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
            <?php }
            ?>

        </tbody>
    </table>
</div>
