<!--search_panel-->
<div class='well clearfix well_custom_padding margin_top margin_bottom_high'>
    <div class='col-lg-2'>
        <label class="remove_weight"><?php echo $this->translate('Search Credit Note Payment') ?></label>
    </div>

    <div class="col-lg-2">
        <select id="cn-pay-search-select" class="form-control">
            <option value="Payments No"><?php echo $this->translate('Payments No') ?></option>
            <option value="Customer Name"><?php echo $this->translate('Customer Name') ?></option>
        </select>
    </div>

    <div class="col-lg-3">
        <select class="form-control selectpicker show-tick"  id="cn-pay-search" name="cn-pay-search" data-live-search="true">
            <option value=""><?php echo $this->translate('Select Payment No') ?></option>
        </select>
        <select class="form-control selectpicker show-tick"  id="cn-pay-custa-search" name="cn-pay-custa-search" data-live-search="true">
            <option value=""><?php echo $this->translate('Select Customer Name') ?></option>
        </select>
    </div>

    <div class="col-lg-2">
        <input type="text" style="" class="span2 datepicker form-control" id="from-date" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('From') ?>">
    </div>

    <div class="col-lg-2">
        <input type="text" style="" class="span2 datepicker form-control" id="to-date" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('To') ?>">
    </div>

    <div class="col-lg-1">
        <button class="btn btn-primary" id="filter-button"><?php echo $this->translate('GO') ?></button>
    </div>
</div><!--well-->

<!--default_view_table-->
<div id="paymentsview">
    <div class="table-responsive" id="credit-note-payment-list">
        <table class="table table-striped">
            <thead class="table_row_color">
                <tr>
                    <th><?php echo $this->translate('Credit Note Payment No') ?></th>
                    <th><?php echo $this->translate('Customer Name') ?></th>
                    <th><?php echo $this->translate('Date') ?></th>
                    <th class="text-center"><?php echo $this->translate('Paid Amount') ?></th>
                    <th class="text-center"><?php echo $this->translate('Status') ?></th>
                    <th class="edit text-center"><?php echo $this->translate('Print View') ?></th>
                    <th class="text-center"><?php echo $this->translate('Cancel') ?></th>
                    <th class="text-center"><?php echo $this->translate('Related Documents') ?></th>
                    <th class="text-center"><?php echo $this->translate('Attachments') ?></th>
                </tr>
            </thead>

            <tbody>
                <?php
                foreach ($this->creditNotePayments as $key => $creditNotePayments) {
                    if ($creditNotePayments->creditNotePaymentCustomCurrencyRate == 0) {
                        $currencyRate = 1;
                    } else {
                        $currencyRate = $creditNotePayments->creditNotePaymentCustomCurrencyRate;
                    }
                    if (isset($creditNotePayments->currencySymbol)) {
                        $customCurrencySymbol = $creditNotePayments->currencySymbol;
                    } else {
                        $customCurrencySymbol = $this->companyCurrencySymbol;
                    }
                    $state = ucfirst($this->statuses[$creditNotePayments->statusID]);
                    $status = $creditNotePayments->statusID;
                    switch ($status) {
                        case "1":
                            $style = "label label-primary";
                            break;
                        case "2":
                            $style = "label label-default";
                            break;
                        case "3":
                            $style = "label label-success";
                            break;
                        case "4":
                            $style = "label label-warning";
                            break;
                        case "5":
                            $style = "label label-primary";
                            break;
                        case "6":
                            $style = "label label-danger";
                            break;
                        default :
                            $style = "label label-default";
                    }
                    ?>
                    <tr>
                        <td> <?php echo $creditNotePayments->creditNotePaymentCode; ?></td>
                        <td><?php echo $creditNotePayments->customerName . '-' . $creditNotePayments->customerCode; ?></td>
                        <td> <?php echo $creditNotePayments->creditNotePaymentDate; ?></td>
                        <td class="text-center"> <?php echo $customCurrencySymbol . ' ' . number_format(($creditNotePayments->creditNotePaymentAmount - $creditNotePayments->creditNotePaymentDiscount) / $currencyRate, 2); ?> </td>
                        <td class="text-center"><span class="<?php echo $style; ?>"><?php echo $state; ?></span></td>
                        <td id="view" class="text-center">
                            <span class="preview link_color" style="cursor:pointer" data-href="/credit-note-payments/viewCreditNotePaymentReceipt/<?php echo $creditNotePayments->creditNotePaymentID ?>" id="<?php echo $creditNotePayments->creditNotePaymentID ?>">
                                <span class="glyphicon glyphicon-eye-open"></span></span>
                        </td>
                        <?php if ($creditNotePayments->statusID != 5) { ?>
                            <td id="dele" class="text-center">
                            <?php if($creditNotePayments->customerStatus == 1) { ?>
                                <a class ="del" data-toggle="modal" href = "#delete_cn_payment" id="<?php echo $creditNotePayments->creditNotePaymentID ?>">
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                <?php } else { ?>
                                    <a class ="editsInactive" href = "#" id="<?php echo $creditNotePayments->creditNotePaymentID ?>">
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                    <?php } ?>
                                </a>
                            </td>
                        <?php } else { ?>
                            <td></td>
                            <?php
                        }
                        ?>
                        <td class="text-center">
                            <span id="<?php echo $creditNotePayments->creditNotePaymentID; ?>" class="link_color cn_payments_related_docs" data-cn-payment-related-id="<?php echo $creditNotePayments->creditNotePaymentID; ?>" style="cursor:pointer"><span class="grnView glyphicon glyphicon-link"></span></span>
                        </td>
                        <td class="text-center">
                            <span id="<?php echo $creditNotePayments->creditNotePaymentID; ?>" class="link_color doc_attachments" data-cnp-related-id="<?php echo $creditNotePayments->creditNotePaymentID; ?>" style="cursor:pointer"><span class="glyphicon glyphicon-paperclip"></span></span>
                        </td>
                        <?php
                    } if (count($this->creditNotePayments) == 0) {
                        ?>
                    <tr class="not_found">
                        <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                    </tr>
                <?php }
                ?>
            </tbody>
        </table>
    </div>

    <?php
    echo $this->paginationControl(
            $this->creditNotePayments, 'sliding', array('partial/paginator.phtml', 'creditNotePayments'), array(
        'route' => 'creditNotePayments', 'action' => 'view'
            )
    );
    ?>

    <div class="modal fade" id="delete_cn_payment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4><?php echo $this->translate('Credit Note Payment Cancel Confirmation') ?></h4>
                </div>

                <div class="modal-body rm_modal_body_bpa">

                    <div class="form-group">
                        <p class="modal_para"><?php echo $this->translate('Please enter the Administrator account Username and Password to continue') ?></p>
                    </div>

                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-4 control-label"><?php echo $this->translate('Username') ?><font color="red"> *</font></label>
                            <div class="col-lg-6">
                                <input type="text" id="username" class="form-control" placeholder="<?php echo $this->translate('Username') ?>">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-4 control-label"><?php echo $this->translate('Password') ?><font color="red"> *</font></label>
                            <div class="col-lg-6">
                                <input type="password" id="password" class="form-control" placeholder="<?php echo $this->translate('Password') ?>">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-4 control-label"><?php echo $this->translate('Comment') ?></label>
                            <div class="col-lg-6">
                                <textarea id="comment" class="form-control" placeholder="Comment"></textarea>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Cancel') ?></button>
                    <button id="delete-cn-payment-button" class="btn btn-primary"><?php echo $this->translate('Cancel Payment') ?></button>
                </div>

            </div>
        </div>
    </div><!--modal-->

</div><!--payment_view-->
<div class="modal fade" id="viewAttachmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->attachmentsView; ?>
</div>
<div class="modal fade" id="addDocHistoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->docHistoryView; ?>
</div>
<div class="modal fade" id="DocumentViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->documentView; ?>
</div>