<?php /**
 * @author ASHAN <ashan@thinkcube.com>
 * This file contains add-category views
 */ ?>
<?php
$categoryForm->prepare();
$categoryForm->setAttribute('id', 'create-category-form');
echo $this->form()->openTag($categoryForm);
echo $this->formHidden($categoryForm->get('categoryID'));
?>

<div class="form-group">
    <label class="control-label label_bottom_margin col-lg-3"><?php echo $this->translate('Category') ?><font color="red"> *</font></label>
    <div class="col-lg-9">
        <?php echo $this->formRow($categoryForm->get('categoryName')); ?>
    </div>
</div>

<div class="form-group">
    <label class="control-label label_bottom_margin col-lg-3"><?php echo $this->translate('Parent Category') ?></label>
    <div class="col-lg-9">
        <?php echo $this->formRow($categoryForm->get('categoryParentID')->setAttribute("ID", null)); ?>
    </div>
</div>

<div class="form-group">
    <label class="control-label label_bottom_margin col-lg-3"><?php echo $this->translate('Prefix') ?></label>
    <div class="col-lg-9">
        <?php echo $this->formRow($categoryForm->get('categoryPrefix')); ?>
    </div>
</div>

<input type="hidden" name="categoryState" value="1" />

<div class="form-group">
    <div class="col-lg-12 text-right">
        <button type="submit" class="btn btn-primary add"><?php echo $this->translate('Add New') ?></button>
        <button type="reset" class="btn btn-danger reset"><?php echo $this->translate('Reset') ?></button>
    </div>
</div>

<?php
echo $this->form()->closeTag($categoryForm);
?>
