<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><?php echo $this->translate('Item Attribute Add') ?></h4>
        </div>
        <div class="modal-body">
          <table cellspacing="10" id="item-attr-add-product-table">
            <thead>
              <tr>
                <th class="col-lg-12" ><?php echo $this->translate('Item Attribute');?></th>
                <th class="col-lg-2"></th>
                <th class="col-lg-2"></th>
                <th class="col-lg-2"></th>
              </tr>
            </thead>
            <tbody class="item-attr-body">
              <tr class="sample-data-set hidden">
                <td>
                  <select name="item-attr" id="item-attr-add-product" class="form-control select-item-attr-add-pro">
                      <?php
                      foreach ($this->itemAttrDetails as $key => $value) {
                         ?>
                         <option value=<?php echo $value['itemAttributeID'];?> class=""><?php echo $value['description'];?></option>
                         <?php
                       } 
                      ?>
                  </select>
                </td>
                <td class="add-values">
                  <button class="btn add-values"  >
                    <a><span class="glyphicon glyphicon-plus"></span></a>
                  </button>
                </td>
                <td class="edit-values hidden">
                  <button class="btn edit-values hidden" >
                    <a><span class="glyphicon glyphicon-edit"></span></a>
                  </button>
                </td>
                <td class="delete-values hidden">
                  <button class="btn delete-values hidden" >
                    <a><span class="glyphicon glyphicon-trash"></span></a>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default close-item-attr-modal" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
          <button type="button" class="btn btn-primary save-item-attr-modal"><?php echo $this->translate('Save changes') ?></button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->