<table class="table uom-list table-striped table-condensed">
    <thead>
        <tr>
            <th><?php echo $this->translate('UoM') ?></th>
            <th><?php echo $this->translate('Base') ?></th>
            <th><?php echo $this->translate('Display Uom') ?></th>
            <th><?php echo $this->translate('Conversion Factor') ?></th>
            <th>&nbsp;</th>
        </tr>
    </thead>

    <tbody>
        <tr class="sample">
            <td>
                <select name="uomID[]" class="form-control input-sm">
                    <?php
                    foreach ($this->uoms->buffer() as $uom) {
                        echo <<<HTML
                        <option value="{$uom->uomID}">{$uom->uomName} ({$uom->uomAbbr})</option>
HTML;
                    }
                    ?>
                </select>
            </td>
            <td><input type="radio" <?php echo ($this->editMode == true) ? 'disabled' : '' ?> name="productBaseUom"></td>
            <td><input type="radio"  name="productDisplayUom"></td>
            <td><input type="text"  name="productUomConversion[]" class="form-control input-sm" size="5"></td>
            <td>
                <a class="delete" href="#" tabindex="-1">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
        <?php
        $productUomsList = (isset($this->productUoms)) ? $this->productUoms : array(array('productUomConversion' => 1, 'productUomBase' => 1, 'productUomDisplay' => 1));
        foreach ($productUomsList as $productUom) {
            ?>
            <tr class="<?php echo ($productUom['productUomBase'] == 1) ? 'base' : ''; ?>">
                <td>
                    <select name="uomID[]" <?php echo ($this->editMode == true) ? 'disabled' : '' ?> class="form-control input-sm">
                        <option value=""><?php echo $this->translate('Select a UoM') ?></option>
                        <?php
                        foreach ($this->uoms->buffer() as $uom) {
                            @$checked = ($productUom['uomID'] == $uom->uomID) ? "selected" : "";
                            echo <<<HTML
                            <option value="{$uom->uomID}" {$checked}>{$uom->uomName} ({$uom->uomAbbr})</option>
HTML;
                        }
                        ?>
                    </select>
                </td>
                <td><input type="radio" <?php echo ($this->editMode == true) ? 'disabled' : '' ?> name="productBaseUom" <?php echo ($productUom['productUomBase'] == 1) ? 'checked' : ''; ?> ></td>
                <td><input type="radio"  name="productDisplayUom" <?php echo ($productUom['productUomDisplay'] == 1) ? 'checked' : ''; ?>  ></td>
                <td><input type="text" <?php echo ($this->editMode == true) ? 'disabled' : '' ?> name="productUomConversion[]" class="form-control input-sm" <?php echo ($productUom['productUomBase'] == 1) ? 'readonly="readonly"' : ''; ?> size="5" value="<?php echo $productUom['productUomConversion'] + 0; ?>" ></td>
                <td>
                    <a class="delete" <?php echo ($this->editMode == true) ? 'hidden' : '' ?>  href="#" tabindex="-1">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        <?php } ?>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">
                <button class="btn btn-default add-uom btn-sm <?php echo ($this->editMode == true) ? 'edit_mode' : '' ?>" type="button" ><?php echo $this->translate('Add another UoM') ?> </button>
            </td>
        </tr>
    </tfoot>
</table>