<?php
$companyCurrencySymbol = $this->companyCurrencySymbol;
$rawMaterials = $this->rawMaterials;
$fixedAssets = $this->fixedAssets;
?>
<div class="modal-dialog free_item_modal">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate("Add Free Issue Items"); ?></h4>
        </div>

        <div class="modal-body" style="margin-bottom: 25px;">

            <div class="row" id="taskCardDiv">
                <div class="well tasks-clearfix-modal well_custom_padding margin_top col-md-5">
                    <div class="row">
                        <div class="margin_top_normal">
                            <div class="col-lg-4">
                                <label>Item</label>
                                <div class="form-group">
                                    <input type="text" name="service-charge-type-name" id ="itemNameCode" placeholder="MRP Percenage Value" class="service-charge-type-name form-control">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label>Applied Condition <font color="red"> *</font></label>
                                <div class="form-group">
                                    <select class='form-control selectpicker' name="conditionType" id="conditionType"  title="<?php echo $this->translate('Select Mrp Type') ?>" data-selected-text-format="count>3">
                                        <option value="0"><?php echo $this->translate('Select Condition Type') ?></option>
                                        <option value="1"><?php echo $this->translate('greater than') ?></option>
                                        <option value="2"><?php echo $this->translate('greater than or equal') ?></option>
                                        <option value="3"><?php echo $this->translate('equal') ?></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label>Quantity <font color="red"> *</font></label>
                                <div class="input-group">
                                    <input type="text" name = "majorQuantity"  id ="majorQuantity" placeholder="MRP Value" class="service-charge-type-name form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="form-group clearfix">
                    <table class="table  table-striped margin_top_normal table-condensed" id="free-item-table" style="margin-left: 10px; margin-right: 20px;">
                      <thead>
                        <tr>
                          <th style="width: 45%"><?php echo $this->translate("Free Issue Item Code or Name"); ?></th>
                          <th style="width: 50%"><?php echo $this->translate('Quantity')?></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody id="tempRuleAddBody" style="margin-bottom: 25px;">
                        <tr id="rulePreSample" class="hidden">
                          <td class="clearfix">
                              <input class="form-control text-left" type="text" name="productName">
                          </td>
                          <td class="clearfix input-group" >
                              <input class="form-control text-right"  type="text" name="quantity">
                              <span class="input-group-addon sign" name="sign"></span>
                          </td>
                          <td> 
                            <button class="btn delete-free-item"><i class="glyphicon glyphicon-trash remove_font-Weight"></i></button>
                          </td>
                        </tr>
                      </tbody>
                      <tbody id="ruleAddBody">
                        <tr class="free-new-item-add-row">
                          <td class="clearfix selectItem">
                              <select class="form-control selectpicker show-tick" id="freeItemCode" name="freeItemCode" title="Select Item" data-live-search="true">
                                  <option value="0"><?php echo $this->translate('Select Item') ?></option>
                              </select>
                          </td>
                          <td class="clearfix quantity-tr">
                              <input class="form-control text-right" type="text" name="free-quantity" id ="free-quantity">
                          </td>
                          <td> 
                            <button class="btn btn-default add"><i class="glyphicon glyphicon-plus remove_font-Weight"></i></button>
                            <button class="btn delete-rule hidden"><i class="glyphicon glyphicon-trash remove_font-Weight"></i></button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
            <div class="row" style="padding-top: 25px;">
                <div class="col-lg-12 text-right">
                    <button type="button" class="btn btn-primary cancel make-full-width" id="save-free-issue-items"><?php echo $this->translate('Save') ?></button>
                    <button type="button" class="btn btn-primary cancel make-full-width hidden" id="update-free-issue-items"><?php echo $this->translate('Update') ?></button>
                    <button type="button" class="btn btn-default cancel make-full-width" data-dismiss="modal"><?php echo $this->translate('Cancel') ?></button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    @media(min-width: 992px){
        .modal .free_item_modal{
            width: 70%;
            margin-right: auto;
            margin-left: auto;
        }
    }
    .quantity-tr .uomqty {
        width: 100% !important; 
    }
    .quantity-tr #free-quantity {
        width: 612px !important;
    }
</style>