<div class="product-edit-container">
    <?php echo $productLocations; ?>
</div>

<div class="product-edit-container expanded secondary">
    <?php echo $productDetails; ?>
</div>

<input type="hidden" name="editmode" value="1" />

<div class="modal fade" id="change_inventory_type" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4><?php echo $this->translate('Inventory Type Change Confirmation') ?></h4>
            </div>

            <div class="modal-body rm_modal_body_bpa">

                <div class="form-group">
                    <p class="modal_para"><?php echo $this->translate('Please enter the Administrator account Username and Password to continue') ?></p>
                </div>

                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-4 control-label"><?php echo $this->translate('Username') ?><font color="red"> *</font></label>
                        <div class="col-lg-6">
                            <input type="text" id="username" class="form-control" placeholder="<?php echo $this->translate('Username') ?>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label"><?php echo $this->translate('Password') ?><font color="red"> *</font></label>
                        <div class="col-lg-6">
                            <input type="password" id="password" class="form-control" placeholder="<?php echo $this->translate('Password') ?>">
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Cancel') ?></button>
                <button id="change-inventory-type-button" class="btn btn-primary"><?php echo $this->translate('Change Inventory Type') ?></button>
            </div>

        </div>
    </div>
</div>