<?php /**
 * @author ASHAN <ashan@thinkcube.com>
 * This file contains index view
 */ ?>

<div class="well well_heading margin_top">
    <h5 class="font_weight"><?php echo $this->translate('Edit Item details by Location') ?></h5>
</div>

<div class="form-horizontal well well_body clearfix margin_bottom product-form">
    <div class="_row_with_margin clearfix">
        <div class="col-lg-2">
            <label class="control-label">
                <?php echo $this->translate('Select Location :') ?>
            </label>
        </div>
        <div class="col-lg-5">
            <select id="locations" class="form-control">
                <option value="0"><?php echo $this->translate('Select Location'); ?></option>
                <?php foreach ($this->locations as $key => $location) { ?>
                    <option value=<?php echo $location->locationID; ?>><?php echo $location->locationName ?></option>
                <?php } ?>
            </select>
        </div>
    </div>
</div>

<div id="locationTable" class="form-horizontal">
    <form method="post" name="location-product-mass">
        <div class="form-group margin_top" >
            <div class="col-lg-12">
                <div class="table-responsive fixed-height-table">
                    <table class="table table-striped location-product-table">
                        <thead>
                            <tr>
                                <th><?php echo $this->translate('Item Code') ?></th>
                                <th><?php echo $this->translate('Item Name') ?></th>
                                <th width="15%"><?php echo $this->translate('Min. Inventory Level') ?></th>
                                <th width="15%"><?php echo $this->translate('Reorder Level') ?></th>
                                <th width="15%"><?php echo $this->translate('Default Selling Price') ?></th>
                                <th width="15%" class="text-center"><?php echo $this->translate('Dis.Percentage') ?></th>
                                <th width="15%" class="text-center"><?php echo $this->translate('Dis.Value') ?></th>
                            </tr>
                        </thead>
                        <tbody id="tbl_data"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-12 text-right">
                <input type="submit" value="<?php echo $this->translate('Save') ?>" id="save" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>