
<div class="" id="expiry_data_set">
    <div id="expire_data_div">
        <div class="col-lg-12 form-group expire_data_set sample_data_set hidden" id="">
            <label class="control-label label_bottom_margin col-lg-2"><?php echo $this->translate('Number of Days') ?></label>
            <div class="col-lg-10">
                <div class="form-group col-lg-12">
                    <div class="col-lg-10">
                        <input type="text" id="" class="number_of_expiry_days form-control">
                    </div>
                    <div class="col-lg-1 add_unit">
                        <button class="btn btn-default btnExpiryDyAdd" id="btnExpiryDyAdd">
                        <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <div class="col-lg-1 hidden delete_unit">
                        <button class="btn btn-default btnExpiryDyDel" id="btnExpriryDelete">
                        <i class="fa fa-trash-o delete"></i>
                        </button>
                    </div>
                            
                </div>
            </div>
        </div>
    </div>

    <!--<div class="form-group">-->
    <div class=" text-right">
        <button type="submit" class="btn btn-primary add" id="expiry_date_set_key"><?php echo $this->translate('Add') ?></button>
        <!--</div>-->
    </div>
</div>

