<div class="table-responsive">
    <div id="product-list" class="form-horizontal clearfix margin_bottom">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><?php echo $this->translate('Item Code') ?></th>
                    <th><?php echo $this->translate('Item Name') ?></th>
                    <th><?php echo $this->translate("Value") . " ({$this->cSymbol})" ?></th>
                    <th><?php echo $this->translate("Current Value") . " ({$this->cSymbol})" ?></th>
                    <th><?php echo $this->translate('Available Qty') ?></th>
                    <th><?php echo $this->translate('State') ?></th>
                    <th class="edit text-center" width="10%"><?php echo $this->translate('Edit') ?></th>
                    <th class="text-center" width="10%"><?php echo $this->translate('State') ?></th>
                    <th class="text-center" width="10%"><?php echo $this->translate('Delete') ?></th>
                    <th class="text-center" width="10%"></th>
                </tr>
            </thead>
            <tbody>
                <?php
                foreach ($this->products as $key => $products) {
                    $products = (object) $products;
                    $availableQty = isset($products->locationProductQuantity) ? $products->locationProductQuantity : 0.00;
                    switch ($products->productState) {
                        case "1":
                            $style = "label label-success";
                            $stateValue = 'Active';
                            break;
                        case "0":
                        default :
                            $style = "label label-warning";
                            $stateValue = 'Inactive';
                            break;
                    }
                    if ($this->globalStockValueData != 0) {
                        $productValue = $this->globalStockValueData[$products->productID]['pD'][$userLocation]['TotalValue'] / $this->globalStockValueData[$products->productID]['pD'][$userLocation]['aQty'];
                    } else {
                        $productValue = 0;
                    }   

                    $currentAssetValue = floatval($productValue) - floatval($this->depreciationData[$products->productID]);
                    ?>
                    <tr>
                        <td><?php echo $products->productCode; ?></td>
                        <td><?php echo $products->productName; ?></td>
                        <td><?php echo number_format($productValue, 2); ?></td>
                        <td><?php echo number_format($currentAssetValue, 2); ?></td>
                        <td><?php echo number_format(1, 2); ?></td>
                        <td><span class="<?php echo $style; ?>"><?php echo $stateValue; ?></span></td>
                        <td id="edit" class="text-center">
                            <a href="<?php echo $this->url('product', array('action' => 'edit', 'param1' => $products->productID)); ?>" class ="editProduct">
                                <span class="fa fa-pencil-square-o custom_font_size"></span>
                            </a>
                        </td>
                        <td class="text-center">
                            <button class ="inac btn btn-link inline-btn" onclick="productStatusChangeFixedAsset(this, <?php echo $products->productID; ?>, '<?php echo $products->productName; ?>');">
                                <span class="glyphicon glyphicon-<?php echo ($products->productState == '1') ? "check" : "unchecked"; ?>"></span>
                            </button>
                        </td>
                        <td class="text-center">
                            <button class="inac btn btn-link inline-btn" onclick="deleteProductFixedAsset(<?php echo $products->productID; ?>, '<?php echo $products->productName; ?>');
                                        return false;" >
                                <span class="fa fa-trash-o custom_font_size"></span>
                            </button>
                        </td>
                        <td class="text-center">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown"><?php echo $this->translate('Action'); ?>
                                <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                  <li role="presentation"><a role="menuitem" tabindex="-1" href="<?php echo ($products->productState == '1') ? $this->url('fixedAssetManagement', array('action' => 'depreciate', 'param1' => $products->productID)) : '#' ?>" style="color: black"><?php echo $this->translate('Depreciate'); ?></a></li>
                                 <!--  <li role="presentation"><a role="menuitem" tabindex="-1" href="<?php echo $this->url('fixedAssetManagement', array('action' => 'dispose', 'param1' => $products->productID)); ?>" style="color: black">Dispose</a></li> -->
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <?php
                }
                if (count($this->products) == 0) {
                    ?>
                    <tr class="not_found">
                        <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                    </tr>
                    <?php
                }
                ?>

            </tbody>
        </table>
    </div>
</div>

<!--pagination-->
<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->products, 'sliding', array('partial/paginator.phtml', 'product'), array(
        'route' => 'product', 'action' => 'list'
            )
    );
}
?>
