<div id='bulk-item-mrp-details'>
    <div class="well well_heading margin_top" style="height: 80px;">
        <br>
        <div>
            <div class="col-lg-3">
                <label class="remove_weight"><?php echo $this->translate('Search Item For Free issue item Setting') ?></label>
            </div>
            <div class="col-lg-9">
                <div class=" input-group">
                    <input type ="text" id ='productSearch' class="form-control" placeholder="<?php echo $this->translate('Enter Item Name or Item Code or Item Description') ?>"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default minus_margin" id="searchItem" type="button"><?php echo $this->translate('Search') ?></button>
                        <button class="btn btn-default reset" id="search-reset" type="button"><?php echo $this->translate('Cancel') ?></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <input type="text" class="hidden" id ="location" value="<?php echo $this->currentLoc ?>" >
    <!--add_custom_currency-->
    <div class="well well_body" style="height: auto;" id="add_custom_currency">
        <div class="form-horizontal clearfix margin_bottom ">
            <div id="productListView" class="form-horizontal">
                <?php echo $this->partial('inventory/product/free-item-list-view', array('itemList' => $itemList,'isPaginated' => $paginated, 'freeItemsAddedItems' => $freeItemsAddedItems)) ?>
            </div>
        </div>    
    </div><!--well-->
</div>


<div class="modal fade" id="addFreeIseueItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->addFreeItems; ?>
</div>
















