<div class="form-group margin_top" >
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-striped price-list-view-table">
                <thead>
                    <tr>
                        <th><?php echo $this->translate('Item Name') ?></th>
                        <th><?php echo $this->translate('Item Code') ?></th>
                        <th style="text-align: right;"><?php echo $this->translate('Item Category') ?></th>
                        <th style="text-align: right;"><?php echo $this->translate('Add or Edit') ?></th>
                    </tr>
                </thead>
                <tbody id="price_list_data" >
                    <?php
                    foreach ($itemList as $item) {
                        $item = (object) $item;
                        ?>
                        <tr data-id="<?php echo $item->productID ?>" data-product="<?php echo $item->productCode.' - '.$item->productName ?>">
                            <td><?php echo $item->productName ?></td>
                            <td><?php echo $item->productCode ?></td>
                            <td style="text-align: right;"><?php echo $item->categoryName; ?></td>
                            <?php if (!in_array($item->productID, $freeItemsAddedItems)) { ?>
                                <td style="text-align: right;">
                                    <button type="button" class="btn btn-primary add-free-item"><?php echo $this->translate('Add Free Items') ?></button>
                                </td>
                            <?php } else { ?>
                                <td style="text-align: right;">
                                    <button type="button" class="btn btn-primary edit-free-item"><?php echo $this->translate('Edit Free Items') ?></button>
                                </td>
                            <?php } ?>
                        </tr>
                        <?php
                    }
                    ?>
                </tbody>
            </table>
        </div>
        <!--pagination-->
        <?php
        if ($isPaginated) {
            echo $this->paginationControl(
                    $this->itemList, 'sliding', array('partial/paginator.phtml', 'product'), array(
                'route' => 'product', 'action' => 'freeItemIssueList',
                    )
            );
        }
        ?>
        
    </div>
</div>