<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
<?php $this->headScript()->captureEnd() ?>

<?php $this->headScript()->appendFile($this->basePath('js/inventory/productimport.js')); ?>
<?php
//$title = $this->translate('Product Data Import');
//$this->headTitle($title);
?>
<?php
$form = $this->form;
$fileerror = 'nofile';
$fileerror = $this->fileerror;
$form->setAttribute('id', 'importproductform');
$form->setAttribute('action', $this->url('product', array('action' => 'import')));
$form->prepare();
?>

<div class="form-horizontal well margin_top" id="step1">
    <?php echo $this->form()->openTag($form); ?>

    <!--choose_file-->
    <div class="form-group">
        <label class="control-label col-lg-3 col-md-3"><p class="margin_bottom_normal"><?php echo $this->translate('Select a File') ?></p></label>
        <div class="col-lg-9 col-md-9">
            <div class="alert alert-info">
                <h5 class="font_weight"><?php echo $this->translate('File Import Instructions.') ?></h5>
                <p class="margin_bottom_normal">
                    <?php echo $this->translate('The csv file can have headers like Item Code, Item Name, Item Type ID, Item Description, Item Discount Eligible, Item Discount Percentage, Item Discount Value, Item Tax Eligible, Batch Item, Serial Item, HS Code, Custom Duty Percentage, Custom Duty Value, etc.') ?>
                </p>
            </div>

            <div class="_row_with_margin">
                <div class="col-md-6"><?php echo $this->formRow($form->get('productfileupload')); ?></div>
                <div class="col-md-6"><a class="form-horizontal" href="/default-csv-files/product.csv" ><?php echo $this->translate('Default csv file') ?></a></div>
            </div>
        </div>
    </div>

    <!--error_msg-->
    <div class="row">
        <div id="product-import-errorlog" class="alert alert-danger col-lg-offset-3 col-lg-9 text-center">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        </div>
    </div>

    <!--has_header-->
    <div id="product-import-more">
        <div class="form-group">
            <div class="col-lg-3"></div>
            <div class="col-lg-5">
                <label class="control-label">
                    <?php echo $this->formRow($form->get('productheader')); ?>
                    <?php echo $this->translate('Has Header') ?>
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-lg-3 col-md-3"> <?php echo $this->translate('Character Encoding :') ?></label>
            <div class="col-lg-5 col-md-9">
                <?php echo $this->formRow($form->get('productcharacterencoding')); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 col-md-3 control-label"><?php echo $this->translate('Delimiter :') ?></label>
            <div class="col-lg-5 col-md-9">
                <?php echo $this->formRow($form->get('productdelimiter')); ?>
            </div>
        </div>
    </div>

    <!--    <div class="form-group">show_more_details
            <div class="col-lg-5 col-lg-offset-3 col-md-5 col-md-offset-3 more_detail margin_top">
                <a id="product-moredetails-click" class="btn"><?php echo $this->translate('Show More Details') ?>
                    <span class="glyphicon glyphicon-circle-arrow-down"></span>
                </a>
            </div>
        </div>-->

    <div class="form-group margin_top"><!--buttons-->
        <div class="col-lg-offset-3 col-lg-3 col-md-offset-3 col-md-4">
            <div class="more_detail">
                <a id="product-moredetails-click" class="line_height">
                    <?php echo $this->translate('Show More Details') ?>
                    <span class="glyphicon glyphicon-circle-arrow-down"></span>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-5 text-right">
            <div class="">
                <button type="reset" class="btn btn-default"><?php echo $this->translate('Cancel') ?></button>

                <!--<button type="reset" class="btn btn-default"><?php // echo $this->translate('Reset')                                           ?></button>-->

                <?php echo $this->formSubmit($form->get('submit')); ?>
            </div>
        </div>
    </div>

    <?php echo $this->form()->closeTag(); ?>
</div><!--form-->

<?php if ($fileerror == 'nofile') { ?>
    <script type='text/javascript'>
        $('#product-import-errorlog').html("No file chosen");
        $('#product-import-errorlog').fadeOut(5000);
    </script>
    <?php
} elseif ($fileerror == 'utferror') {
    ?>
    <script type='text/javascript'>
        $('#product-import-errorlog').html("UTF-8 Encoding type not supported");
        $('#product-import-errorlog').fadeOut(5000);
    </script>
    <?php
} elseif ($fileerror == 'isoerror') {
    ?>
    <script type='text/javascript'>
        $('#product-import-errorlog').html("ISO-8859-1 Encoding type not supported");
        $('#product-import-errorlog').fadeOut(5000);
    </script>
    <?php
} else {
    ?>
    <script>
        $('#product-import-errorlog').hide();
    </script><?php }
?>