<!-- Modal -->
<table class="table table-condensed">
    <thead>
    </thead>
    <tbody>
        <input id="dataBucket" class="hidden" value="<?php echo htmlentities(serialize($bucket)); ?>"/>
        
        <?php if(count($bucket['error']) > 0):?>
        <tr>
            <td colspan="2"><a data-toggle="collapse" data-target="#errorList" class="pointer"><i>Number of errors : &nbsp; <b><?php echo count($bucket['error']); ?></b></i></a></td>
        </tr>
        <tbody id="errorList" class="collapse">
            <?php foreach ($bucket['error'] as $error):?>        
            <tr class="danger">
                <td><?php echo $error['item']['itemCode']; ?></td>
                <td><?php echo $error['msg']; ?></td>
            </tr>
            <?php endforeach; ?>
        </tbody>
        <?php endif; ?> 
        
        <?php if(count($bucket['warning']) > 0):?>
        <tr>
            <td colspan="2"><a data-toggle="collapse" data-target="#warningList" class="pointer"><i>Number of warnings : &nbsp; <b><?php echo count($bucket['warning']); ?></b></i></a></td>
        </tr>
        <tbody id="warningList" class="collapse">
            <?php foreach ($bucket['warning'] as $warning): ?>
            <tr class="warning">
                <td><?php echo $warning['item']['itemCode']; ?></td>
                <td><?php echo $warning['msg']; ?></td>
            </tr>        
            <?php endforeach; ?>
        </tbody>
        <?php endif; ?>
        
        <tr>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td colspan="2"><i>Number of valid records : &nbsp; <b><?php echo count($bucket['success']); ?></b></i></td>
        </tr>
        <tr>
            <td colspan="2"><i>Number of records : &nbsp; <b><?php echo $noumberOfRecords; ?></b></i></td>
        </tr>
        <tr>
            <td colspan="2"><i>Valid record percentage : &nbsp; <b><?php echo number_format((count($bucket['success']) / $noumberOfRecords) * 100, 2) .' %'; ?></b></i></td>
        </tr>
        <?php if(count($bucket['error']) == 0 && count($bucket['warning']) > 0){ ?>
        <tr>
            <td colspan="2"><h5><i>
                    <?php 
                        if($stockUpdate):
                    ?>
                        <li>Stock will not be able to update for <b>"Serial"</b> , <b>"Batch"</b> & <b>"Non inventory"</b> items.</li>
                        <br>
                    <?php 
                        endif;
                    ?>
                    <li>
                    <?php if($fileHandlerType != 'merge') { ?>
                        All the duplicate items will be <b>"skipped"</b>.
                    <?php } else {?>
                        All the duplicate items will be <b>"merged"</b>. but item locations & UOM will not updated. 
                    <?php } ?>
                    </li>
                    <br>    
                    Do you want to continue this process ?
                    </i></h5></td>
        </tr>
        <?php } else { ?>
        <tr>
        <br>
        <td colspan="2"><h4><i>Please fix errors before continue this process</i></h4></td>
        </tr>
        <?php }?>        
</tbody>
</table>