<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
<?php $this->headScript()->captureEnd() ?>
<?php $this->headScript()->appendFile($this->basePath('js/inventory/productimport.js')); ?>

<?php
$title = $this->translate('Item Data Import');
$this->headTitle($title);
$form = $this->form;
$form->setAttribute('id', 'importproductmappingform');
$products = $this->data;
?>
<h2><?php echo $this->escapeHtml($title); ?></h2>
<div id="Product-import-form-div" class="modal fade"></div>
<!--<div id="Product-import-form-div" class="modal fade" style="position: absolute"></div>-->
<div style="display: none" id="productimportheader"><?php echo $this->header ?></div>
<div style="display: none" id="productimportdelim"><?php echo $this->delim ?></div>
<div style="display: none" id="productimportcolumncount"><?php echo $this->columns ?></div>

<div class="row panel">
    <table id="importdatatable" class="table table-striped">
        <thead class="panel panel-info">
            <tr class="panel panel-heading">
                <th class="col-lg-4 "><?php echo $this->translate('Header') ?></th>
                <th class="col-lg-4 "><?php echo $this->translate('Row 1') ?></th>
                <th class="col-lg-4 text-center"><?php echo $this->translate('Name of the Field') ?></th>
            </tr>
        </thead>
        <tbody class="panel panel-body">
            <?php
            $i = 0;
            foreach ($products as $key => $productdata) {
                ?>
                <tr>
                    <td class="col-lg-3"> <?php echo $productdata['header']; ?></td>
                    <td class="col-lg-3"> <?php echo $productdata['row']; ?></td>
                    <td class="col-lg-3"><select class="form-control productimportselector selectpicker" data-live-search='true' id="<?php echo $i ?>"  name="select">
                            <option><?php echo $this->translate('Unmapped') ?></option>
                            <option><?php echo $this->translate('Item Code') ?></option>
                            <option><?php echo $this->translate('Item Name') ?></option>
                            <option><?php echo $this->translate('Item Type ID') ?></option>
                            <option><?php echo $this->translate('Item Description') ?></option>
                            <option><?php echo $this->translate('Item Discount Eligible') ?></option>
                            <option><?php echo $this->translate('Item Discount Percentage(%)') ?></option>
                            <option><?php echo $this->translate('Item Discount Value(RS)') ?></option>
                            <option><?php echo $this->translate('Item Tax Eligible') ?></option>
                            <option><?php echo $this->translate('Batch Item') ?></option>
                            <option><?php echo $this->translate('Serial Item') ?></option>
                            <option><?php echo $this->translate('Hs Code') ?></option>
                            <option><?php echo $this->translate('Custom Duty Percentage') ?></option>
                            <option><?php echo $this->translate('Custom Duty Value') ?></option>
                        </select> </td>
                </tr>
                <?php
                $i++;
            }
            ?>
        </tbody>
    </table>
    <button id="product-importcancel-button" class="btn btn-default"><?php echo $this->translate('Cancel') ?></button>
    <button id="product-importdata-button" class="btn btn-primary"><?php echo $this->translate('Import') ?></button>
</div>

<div id="step2">
</div>

<div id="step3">
</div>


