<?php 
/**
 * @author ASHAN <ashan@thinkcube.com>
 * This file contains index view
 */
$form = $this->productForm;
$tax = $this->tax;
$ctax = $this->ctax;
$form->setAttribute('id', 'create-product-form');
?>

<div class="well well_heading toggle_purpose margin_top">
    <?php if ($this->editMode == true) { ?>
        <h5 class="font_weight"><?php echo $this->translate('Edit Item Details') ?> <span class="glyphicon glyphicon-chevron-down pull-right"></span><span class="glyphicon glyphicon-chevron-up pull-right"></span></h5>
    <?php } else { ?>
        <h5 class="font_weight"><?php echo $this->translate('Step 1') ?>  - <?php echo $this->translate('Add item details') ?> </h5>
    <?php } ?>
</div>

<div class="form-horizontal well well_body clearfix margin_bottom product-form">
    <input type="hidden" id="cdnUrl" value="<?php echo $this->cdn_url ?>">
    <!--form_open_tag-->
    <?php
    $form->prepare();
    echo $this->form()->openTag($form);
    echo $this->formHidden($form->get('productID'));
    ?>

    <div class="form-group"><!--product_code-->
        <label class="col-lg-3 control-label"><?php echo $this->translate('Item Code') ?><font color="red"> *</font>
            <a class="help_icon_js" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="top" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('INVENTORY_ITEM_ADD_CODE') ?>">
                <i class="fa fa-question-circle help_icon"></i>
            </a>
        </label>
        <div class="col-lg-9">
            <?php echo $this->formRow($form->get('productCode')); ?>
        </div>
    </div>

    <div class="form-group"><!--product_name-->
        <label class="col-lg-3 control-label"><?php echo $this->translate('Item Name') ?><font color="red"> *</font></label>
        <div class="col-lg-9">
            <?php echo $this->formRow($form->get('productName')); ?>
        </div>
    </div>

   <!--  <div class="form-group">
        <label class="col-lg-3 control-label"><?php echo $this->translate('Item Barcode') ?></label>
        <div class="col-lg-9">
            <?php echo $this->formRow($form->get('productBarcode')); ?>
        </div>
    </div> -->



    <div class="form-group"><!--Description-->
        <label class="col-lg-3 control-label"><?php echo $this->translate('Description') ?></label>
        <div class="col-lg-9">
            <?php echo $this->formRow($form->get('productDescription')); ?>
        </div>
    </div>

    <div class="form-group"><!--product_category-->
        <label class="col-lg-3 control-label"><?php echo $this->translate('Item Category') ?><font color="red"> *</font></label>
        <div class="col-lg-9">
            <div class="input-group">
                <?php echo $this->formRow($this->categoryForm->get('categoryParentID')); ?>
                <div class="input-group-btn">
                    <a data-toggle="modal" id="addcategory" data-target="#add_cat" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group"><!--productType-->
        <label class="col-lg-3 control-label"><?php echo $this->translate('Item Type') ?></label>
        <div class="col-lg-9">
            <div class="alert alert-info uom-alert hide" id="item_type_change_note"><?php echo $this->translate('Note: You can not change item type once it changes into non inventory') ?></div>
            <?php echo $this->formRow($form->get('productTypeID')); ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label"><?php echo $this->translate('Barcodes') ?></label>
        <div class="col-lg-9">
            <a data-toggle="modal" id="itemBarcodeBtn"  class="btn btn-primary"><?php echo $this->translate('Add Barcodes') ?></a>
        </div>
    </div>
    <hr class="" />
    <div class="form-group"><!--unit_of_measure-->
        <label class="col-lg-3 control-label"><?php echo $this->translate('Unit of Measure') ?></label>
        <div class="col-lg-9">
            <input type="hidden" id="defaultUomID" value="<?php echo $this->defaultUom ?>">
            <div class="alert alert-info uom-alert"><?php echo $this->translate('Note: When adding multiple Units of Measurement (UoMs), the base UoM is always the smallest, and the rest are multiples of the Base UoM.') ?></div>
            <?php echo $this->partial('inventory/product/add-uom', array('uoms' => $this->uomList, 'productUoms' => $this->productUoms, 'editMode' => $this->editMode)); ?>
        </div>
    </div>
    <hr class="" />

    <div class="form-group"><!--ReorderLevel-->
        <label class="col-lg-3 control-label"><?php echo $this->translate('Location') ?></label>
        <div class="col-lg-9">
            <div class="row">
                <div class="radio">
                    <input type="radio" <?php if (!isset($this->productDetails['productGlobalProduct'])) { ?>checked="checked"<?php } ?> name="productGlobalProduct" id="globalItem" <?php
                    if ((isset($this->productDetails['productGlobalProduct'])) || $this->productDetails['productGlobalProduct'] == 1) {
                        echo 'checked';
                        ?>
                               disabled="true"
                           <?php } ?> value="1" />
                    <label for="globalItem"><?php echo $this->translate('Global Item') ?></label>
                </div>
            </div>
            <div class="row">
                <div class="radio">
                    <input type="radio" name="productGlobalProduct" id="locationItem" <?php if ((isset($this->productDetails['productGlobalProduct']))) { ?>
                               disabled="true"
                               <?php
                               if ($this->productDetails['productGlobalProduct'] == 0) {
                                   echo 'checked';
                               }
                           }
                           ?>  value="0" />
                    <label for="locationItem"><?php echo $this->translate('Location Item') ?></label>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group" id="itemLocations">
        <div class="col-lg-3"></div>
        <div class="col-lg-9">
            <table class="product-location-table table table-striped table-condensed">
                <thead>
                    <tr>
                        <th><?php echo $this->translate('Location') ?></th>
                        <th><?php echo $this->translate('Active') ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($this->location as $key => $location) { ?>
                        <tr>
                            <td><label for="locationSel<?php echo $key; ?>"><small><?php echo $location ?></small></label></td>
                            <td>
                                <?php
                                if ($form->get('location' . $key)->getValue() != null) {
                                    $form->get('location' . $key)->setAttributes(array('disabled' => true));
                                };
                                echo $this->formRow($form->get('location' . $key));
                                ?>
                            </td>
                        </tr>
                    <?php } ?>
                </tbody>
            </table>
        </div>
    </div>

    <div class="form-group"><!--productType-->
        <label class="col-lg-3 control-label"><?php echo $this->translate('Default Selling Price') ?></label>
        <div class="col-lg-9 product-default-selling-price">
            <div>
                <?php echo $this->formRow($form->get('productDefaultSellingPrice')); ?>
            </div>
        </div>
    </div>
    <div class="form-group"><!--productType-->
        <label class="col-lg-3 control-label"><?php echo $this->translate('Default Purchasing Price') ?></label>
        <div class="col-lg-9 product-default-purchase-price">
            <div>
                <?php echo $this->formRow($form->get('productDefaultPurchasePrice')); ?>
            </div>
        </div>
    </div>
    <div class="form-group"><!--productType-->
        <label class="col-lg-3 control-label"><?php echo $this->translate('Default Min.Inventory Level') ?></label>
        <div class="col-lg-9">
            <?php echo $this->formRow($form->get('productDefaultMinimumInventoryLevel')); ?>
        </div>
    </div>
    <div class="form-group"><!--productType-->
        <label class="col-lg-3 control-label"><?php echo $this->translate('Default Max.Inventory Level') ?></label>
        <div class="col-lg-9">
            <?php echo $this->formRow($form->get('productDefaultMaximunInventoryLevel')); ?>
        </div>
    </div>
    <div class="form-group"><!--productType-->
        <label class="col-lg-3 control-label"><?php echo $this->translate('Default Reorder Level') ?></label>
        <div class="col-lg-9">
            <?php echo $this->formRow($form->get('productDefaultReorderLevel')); ?>
        </div>
    </div>

    <div class="form-group"><!--product_name-->
        <label class="col-lg-3 control-label"><?php echo $this->translate('Item Handling Type') ?><font color="red"> *</font></label>
        <div class="col-lg-9">
            <div class="row">
                <div class="checkbox">
                    <?php echo $this->formRow($productHandelingForm->get('productHandelingManufactureProduct')); ?>
                    <label for="productHandelingManufactureProduct"><?php echo $this->translate('Trading Items') ?></label>
                </div>
            </div>
            <div class="row">
                <div class="checkbox">
                    <?php echo $this->formRow($productHandelingForm->get('productHandelingPurchaseProduct')); ?>
                    <label for="productHandelingPurchaseProduct"><?php echo $this->translate('Raw Materials') ?></label>
                </div>
            </div>
            <div class="row">
                <div class="checkbox">
                    <?php echo $this->formRow($productHandelingForm->get('productHandelingSalesProduct')); ?>
                    <label for="productHandelingSalesProduct"><?php echo $this->translate('Finished Goods') ?></label>
                </div>
            </div>
            <div class="row">
                <div class="checkbox">
                    <?php echo $this->formRow($productHandelingForm->get('productHandelingConsumables')); ?>
                    <label for="productHandelingConsumables"><?php echo $this->translate('Consumables') ?></label>
                </div>
            </div>
            <div class="row">
                <div class="checkbox">
                    <?php echo $this->formRow($productHandelingForm->get('productHandelingFixedAssets')); ?>
                    <label for="productHandelingFixedAssets"><?php echo $this->translate('Fixed Assets') ?></label>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix">
        <div id="showTaxDiscount" class="panel panel-default link">
            <div class="panel-body">
                <h4 class="panel-title">
                    <a href="#" onclick="return false;">
                        <?php echo $this->translate('Tax & Discount') ?>
                        <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                        <span class="glyphicon glyphicon-chevron-up pull-right"></span>
                    </a>
                </h4>
            </div>
        </div>
    </div>

    <div id="taxDiscount" class="_row_with_margin clearfix">
        <div class="col-lg-12">

            <div class="form-group">
                <label class="col-lg-3 control-label"><?php echo $this->translate('Tax Eligibility') ?></label>
                <div class="col-lg-6">
                    <div class="row">
                        <?php if ($this->taxStatus) { ?>
                            <div class="checkbox">
                                <label for="productTaxEligible"><?php echo $this->translate('Eligible') ?></label>
                                <?php echo $this->formRow($form->get('productTaxEligible')); ?>
                            </div>
                        <?php } else { ?>
                            <div class="alert alert-info"><?php echo $this->translate('Tax is Disabled') ?></div>
                        <?php } ?>
                    </div>
                </div>
            </div>

            <div class="form-group margin_bottom" id="showtax">
                <?php if ($this->taxStatus) { ?>
                    <label class="col-lg-3 control-label">&nbsp;</label>
                    <?php
                    $compoundTax = '';
                    $normalTax = '';
                    foreach ($tax as $id => $name) {
                        $taxRow = <<<HTML
                            <tr>
                                <td><label for="tax{$id}">{$name}</label></td>
                                <td>
                                    <span class="pull-right">
                                        {$this->formRow($form->get('tax' . $id))}
                                    </span>
                                </td>
                            </tr>
HTML;
                        if (in_array($name, $ctax)) {
                            $compoundTax .= $taxRow;
                        } else {
                            $normalTax .= $taxRow;
                        }
                    }
                    ?>
                    <div class="col-lg-3">
                        <table class="col-lg-6 table tax-table table-striped table-condensed small">
                            <tbody>
                                <?php echo $normalTax ?>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-3">
                        <table class="col-lg-6 table tax-table table-striped table-condensed small">
                            <tbody>
                                <?php echo $compoundTax ?>
                            </tbody>
                        </table>
                    </div>
                <?php } ?>
            </div>

            <div class="form-group"><!--dis_eli-->
                <label class="col-lg-3 control-label"><?php echo $this->translate('Sales Discount Eligible') ?></label>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="checkbox">
                            <label for="productDiscountEligible"><?php echo $this->translate('Eligible') ?></label>
                            <?php echo $this->formRow($form->get('productDiscountEligible')); ?>
                        </div>
                    </div>
                </div>
            </div>
            <div id="showdiscount" class="form-group">
                <div class="col-lg-12" style="margin-left: 10px;">
                    <div class="row">
                        <div class="checkbox">
                            <label for="discountSchemeEligible"><?php echo $this->translate('Use Discount Scheme') ?></label>
                            <?php echo $this->formRow($form->get('discountSchemeEligible')); ?>
                        </div>
                    </div>
                </div>
                <div id ="showdiscountManual" class="form-group">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">&nbsp;</label>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <label class="input-group-addon"><?php echo $this->translate('Percentage') ?></label>
                                <?php echo $this->formRow($form->get('productDiscountPercentage')); ?>
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">&nbsp;</label>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <label class="input-group-addon"><?php echo $this->translate('Fixed Value') ?></label>
                                <?php echo $this->formRow($form->get('productDiscountValue')); ?>
                                <span class="input-group-addon"><?php echo $this->companyCurrencySymbol; ?></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id ="showdiscountScheme" class="form-group">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">&nbsp;</label>
                        <div class="col-lg-6">
                            <?php echo $this->formRow($form->get('discountSchemeID')); ?>
                        </div>
                    </div>
                </div>
            </div>

            <!-- use to add purchasing discounts -->
             <div class="form-group"><!--dis_eli-->
                <label class="col-lg-3 control-label"><?php echo $this->translate('Purchase Discount Eligible') ?></label>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="checkbox">
                            <label for="productPurchaseDiscountEligible"><?php echo $this->translate('Eligible') ?></label>
                            <?php echo $this->formRow($form->get('productPurchaseDiscountEligible')); ?>
                        </div>
                    </div>
                </div>
            </div>

            <div id="showPurchaseDiscount" class="form-group">
                <div class="form-group">
                    <label class="col-lg-3 control-label">&nbsp;</label>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <label class="input-group-addon"><?php echo $this->translate('Percentage') ?></label>
                            <?php echo $this->formRow($form->get('productPurchaseDiscountPercentage')); ?>
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">&nbsp;</label>
                    <div class="col-lg-6">
                         <div class="alert alert-info "><?php echo $this->translate('Note: When adding Fixed value for purchase Discount, Please make sure that your adding value based on BASE UOM.') ?>
                             
                         </div>

                        <div class="input-group">
                            <label class="input-group-addon"><?php echo $this->translate('Fixed Value') ?></label>
                            <?php echo $this->formRow($form->get('productPurchaseDiscountValue')); ?>
                            <span class="input-group-addon"><?php echo $this->companyCurrencySymbol; ?></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div  id="showImageAndController" class="panel panel-default link">
        <div class="panel-body">
            <h4 class="panel-title">
                <a href="#" onclick="return false;">
                    <?php echo $this->translate('Image & Controller Factors') ?>
                    <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                    <span class="glyphicon glyphicon-chevron-up pull-right"></span>
                </a>
            </h4>
        </div>
    </div>

    <div id="imageAndController" class="_row_with_margin clearfix">
        <div class="col-lg-12">
            <div class="form-group"><!--upload_image-->
                <label class="col-lg-3 control-label"><?php echo $this->translate('Upload Image') ?></label>
                <div class="col-lg-6">
                    <div id="profile_pics">
                        <?php if ($this->editMode) { ?>
                            <img src = "<?php echo '/userfiles/' . $this->companyFolder . '/product/thumbs/' . $this->imageUrl ?>" id = "thumbs" class = "img-thumbnail" style = "max-height:180px; margin-bottom: 10px;"/>
                        <?php } else { ?>
                            <img src = "<?php echo '/userfiles/' . $this->companyFolder . '/product/default.jpeg' ?>" id = "thumbs" class = "img-thumbnail" style = "max-height:180px; margin-bottom: 10px;"/>
                        <?php } ?>
                        <input type="file" id="image_file" data-flag="false" accept="image/*" name="image_file" />
                    </div>
                    <div id="profile_pic" >
                        <img src="<?php echo '/userfiles/' . $this->companyFolder . '/product/default.jpeg' ?>" id="thumb" class="img-thumbnail" style="width: 180px; height: 180px;"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label">
                    <?php echo $this->translate('Item Controll By') ?>
                </label>
                <div class="col-lg-9 b-s-checkbox">
                    <div class="row">
                        <div class="checkbox">
                            <label for="batchProduct">
                                <?php echo $this->translate('Batch Number') ?>
                            </label>
                            <?php echo $this->formRow($form->get('batchProduct')); ?>
                        </div>
                    </div>
                    <div class="row">
                        <div class="checkbox">
                            <label for="serialProduct">
                                <?php echo $this->translate('Serial Number') ?>
                            </label>
                            <?php echo $this->formRow($form->get('serialProduct')); ?>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group"><!--Expiry Alerts-->
                <label class="col-lg-3 control-label"><?php echo $this->translate('Expiry Alerts') ?></label>
                <div class="col-lg-9">
                    <button id="expiry_alert_btn" class="btn btn-default" data-target="#expAlertBtn">Click Here</button>
                </div>
            </div>
            
            <div class="form-group"><!--itemAttribute-->
                <label class="col-lg-3 control-label"><?php echo $this->translate('Item Attribute') ?></label>
                <div class="col-lg-9">
                    <button class="btn btn-default <?php echo $this->editMode ? 'edited': '';?>" id="item-attr-add-item"><?php echo $this->translate('Add Item Attribute')?></button>
                </div>
            </div>
            
            <div class="form-group"><!--Hs_code-->
                <label class="col-lg-3 control-label"><?php echo $this->translate('HS Code') ?></label>
                <div class="col-lg-9">
                    <?php echo $this->formRow($form->get('hsCode')); ?>
                </div>
            </div>

            <div class="form-group"><!--Hs_code-->
                <label class="col-lg-3 control-label"><?php echo $this->translate('Import/Export Duty') ?></label>
                <div class="col-lg-9">
                    <div class="input-group">
                        <!--<span class="input-group-addon"><input type="radio"></span>-->
                        <label class="input-group-addon"><?php echo $this->translate('Percentage') ?></label>
                        <?php echo $this->formRow($form->get('customDutyPercentage')); ?>
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
            </div>
            <div class="form-group"><!--Hs_code-->
                <label class="col-lg-3 control-label">&nbsp;</label>
                <div class="col-lg-9">
                    <div class="input-group">
                        <!--<span class="input-group-addon"><input type="radio"></span>-->
                        <label class="input-group-addon"><?php echo $this->translate('Fixed Value') ?></label>
                        <?php echo $this->formRow($form->get('customDutyValue')); ?>
                        <span class="input-group-addon"><?php echo $this->companyCurrencySymbol; ?></span>
                    </div>
                </div>
            </div>

            <div class="form-group"><!--potenial_supp-->
                <label class="col-lg-3 control-label"><?php echo $this->translate('Potential Suppliers') ?></label>
                <div class="col-lg-9">
                    <?php echo $this->formRow($form->get('potentialSuppliers')); ?>
                </div>
            </div>

            <div class="form-group suppliers-list-cont">
                <label class="col-lg-3 control-label">&nbsp;</label>
                <div class="col-lg-9">
                    <table class="table suppliers-list table-striped table-condensed">
                        <tbody>
                            <tr class="sample hidden">
                                <td width="80%"></td>
                                <td>
                                    <a class="delete" href="#" tabindex="-1">
                                        <span class="glyphicon glyphicon-trash pull-right"></span>
                                    </a>
                                </td>
                            </tr>
                            <?php foreach ($this->productSuppliers as $pSupplier) { ?>
                                <tr data-supplierid="<?php echo $pSupplier['supplierID']; ?>">
                                    <td width="80%"><?php echo $pSupplier['supplierName']; ?></td>
                                    <td>
                                        <a class="delete" href="#" tabindex="-1">
                                            <span class="glyphicon glyphicon-trash pull-right"></span>
                                        </a>
                                    </td>
                                </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label"><?php echo $this->translate('Rack ID') ?></label>
                <div class="col-lg-9">
                    <?php echo $this->formRow($form->get('rackId')); ?>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label"><?php echo $this->translate('Item Details') ?></label>
                <div class="col-lg-9">
                    <?php echo $this->formRow($form->get('itemDetail')); ?>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label"><?php echo $this->translate('Item State') ?></label>
                <div class="col-lg-9">
                    <?php echo $this->formRow($form->get('productState')); ?>
                </div>
            </div>
        </div>
    </div>

    <?php if($this->useAccounting == 1){?>
    <div class="clearfix">
    	<div id="showItemDefaultAccount" class="panel panel-default link">
    		<div class="panel-body">
    			<h4 class="panel-title">
    				<a href="#" onclick="return false;">
    					<?php echo $this->translate('Default Accounts') ?>
    					<span class="glyphicon glyphicon-chevron-down pull-right"></span>
    					<span class="glyphicon glyphicon-chevron-up pull-right"></span>
    				</a>
    			</h4>
    		</div>
    	</div>
    </div>

    <div id="defaultAccounts" class="_row_with_margin clearfix">
        <div class="col-lg-12">
        	<div class="form-group"><!--sales Account-->
                <label class="col-lg-3 control-label"><?php echo $this->translate('Sales Account') ?></label>
                <div class="col-lg-9">
                	<?php echo $this->formRow($form->get('productSalesAccountID')); ?>
                </div>
            </div>
            <div class="form-group"><!--inventory Account-->
                <label class="col-lg-3 control-label"><?php echo $this->translate('Inventory Account') ?></label>
                <div class="col-lg-9">
                	<?php echo $this->formRow($form->get('productInventoryAccountID')); ?>
                </div>
            </div>
            <div class="form-group"><!--COGS Account-->
                <label class="col-lg-3 control-label"><?php echo $this->translate('Cost of Goods Sold Account') ?></label>
                <div class="col-lg-9">
                	<?php echo $this->formRow($form->get('productCOGSAccountID')); ?>
                </div>
            </div>
            <div class="form-group"><!--Adjusment Account-->
                <label class="col-lg-3 control-label"><?php echo $this->translate('Inventory Adjusment Account') ?></label>
                <div class="col-lg-9">
                	<?php echo $this->formRow($form->get('productAdjusmentAccountID')); ?>
                </div>
            </div>
            <div class="form-group hidden" id="depreciation_ac_div"><!--Adjusment Account-->
                <label class="col-lg-3 control-label"><?php echo $this->translate('Inventory Depreciation Account') ?></label>
                <div class="col-lg-9">
                    <?php echo $this->formRow($form->get('productDeperciationAccountID')); ?>
                </div>
            </div>
        </div>
    </div>
    <?php } ?>
    
    <div class="form-group"><!--button-->
        <div class="margin_top_normal text-right">
            <div class="col-lg-12">
                <?php if (!$this->editMode) { ?>
                    <input type="reset"  id="reset" class="btn btn-default" value=<?php echo $this->translate('Reset') ?> />
                <?php } ?>
                <?php echo $this->formSubmit($form->get('submit')); ?>
            </div>
        </div>
    </div>
    <!--form_close_tag-->
    <?php
    echo $this->form()->closeTag($form);
    ?>
</div>
<!--</div>row-->

<div class="modal fade" id="add_cat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div  class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><?php echo $this->translate('&times;') ?></button>
                <h4 class="modal-title"><?php echo $this->translate('Add Category') ?></h4>
            </div>
            <div class="modal-body">
                <?php echo $categoryFormView; ?>
            </div>
        </div> <!-- /.modal-content -->
    </div> <!--/.modal-dialog -->
</div> <!--/.modal-->

<div class="modal fade" id="expAlertBtn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div  class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close expiryAlertClose" data-dismiss="modal" aria-hidden="true"><?php echo $this->translate('&times;') ?></button>
                <h4 class="modal-title"><?php echo $this->translate('Add Expiry Alerts') ?></h4>
            </div>
            <div class="modal-body">
                <?php echo $expiryAlerts; ?>
            </div>
        </div> <!-- /.modal-content -->
    </div> <!--/.modal-dialog -->
</div> <!--/.modal-->


<div class="modal fade" id="imageUploaderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden=imageUploaderModal"true"><?php echo $this->translate('&times;') ?></button>
                <h4 class="modal-title"><?php echo $this->translate('Image Upload') ?></h4>
            </div>
            <div class="modal-body">
                <form id="upload_form" enctype="multipart/form-data" method="post" style="" >
                    <input type="hidden" id="w" name="w" />
                    <input type="hidden" id="h" name="h" />
                    <input type="hidden" id="x1" name="x1" />
                    <input type="hidden" id="y1" name="y1" />
                    <input type="hidden" id="x2" name="x2" />
                    <input type="hidden" id="y2" name="y2" />
                    <!--<input type="hidden" id="productName" name="productName" />-->
                    <div class="error" style="display: none">
                        <?php echo $this->translate('Test') ?>
                    </div>
                    <br>
                    <div id="image_div" style="display: none">
                        <img  src="" id="load_img"/>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <input class="btn btn-primary" type="submit" id="image-submit" value=<?php echo $this->translate('Upload') ?> />
            </div>
        </div> <!-- /.modal-content -->
    </div> <!--/.modal-dialog -->
</div> <!--/.modal-->

<div class="modal fade" id="itemAttrViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->itemAttributeAddView; ?>
</div>

<div class="modal fade" id="itemAttrValueViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->itemAttributeAddValueView; ?>
</div>

<script type="text/javascript">
    var el = document.getElementById("productCode");
    if (el.value == "") {
        el.focus();
    }

    $(function() {
        $('#imageUploaderModal').on('hidden.bs.modal', function() {
            var name = "<?php echo $this->imageUrl ?>";
            if (!$('#image_file').data('flag')) {
                if (name == null || name.length == 0) {
                    document.getElementById("thumbs").src = "<?php echo '/userfiles/' . $this->companyFolder . '/product/default.jpeg' ?>";
                    document.getElementById("thumbs").src = "<?php echo '/userfiles/' . $this->companyFolder . '/product/default.jpeg' ?>";
                    document.getElementById("load_img").src = "<?php echo '/userfiles/' . $this->companyFolder . '/product/default.jpeg' ?>";
                } else {
                    document.getElementById("thumbs").src = "<?php echo '/userfiles/' . $this->companyFolder . '/product/thumbs/' . $this->imageUrl ?>";
                    document.getElementById("thumb").src = "<?php echo '/userfiles/' . $this->companyFolder . '/product/thumbs/' . $this->imageUrl ?>";
                    document.getElementById("load_img").src = "<?php echo '/userfiles/' . $this->companyFolder . '/product/thumbs/' . $this->imageUrl ?>";
                }
                $('#image_file').val('');
                $('#image_file').data('flag', false);
            }
        });
    });
</script>

<div class="modal fade" id="barCodeAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <?php echo $this->barCodeAddModal; ?>
</div>