<div class="table-responsive">
    <div id="product-list" class="form-horizontal clearfix margin_bottom">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><?php echo $this->translate('Item Code') ?></th>
                    <th><?php echo $this->translate('Item Name') ?></th>
                    <th><?php echo $this->translate("Default Selling Price") . " ({$this->cSymbol})" ?></th>
                    <th><?php echo $this->translate('Available Qty') ?></th>
                    <th><?php echo $this->translate('State') ?></th>
                    <th><?php echo $this->translate('Item Category') ?></th>
                    <th class="edit text-center" width="10%"><?php echo $this->translate('Edit') ?></th>
                    <th class="text-center" width="10%"><?php echo $this->translate('State') ?></th>
                    <th class="text-center" width="10%"><?php echo $this->translate('Delete') ?></th>
                </tr>
            </thead>
            <tbody>
                <?php
                foreach ($this->products as $key => $products) {
                    $products = (object) $products;
                    $availableQty = isset($products->locationProductQuantity) ? $products->locationProductQuantity : 0.00;
                    $formattedProductName= str_replace(array("'", '"'),"",$products->productName);
                    switch ($products->productState) {
                        case "1":
                            $style = "label label-success";
                            $stateValue = 'Active';
                            break;
                        case "0":
                        default :
                            $style = "label label-warning";
                            $stateValue = 'Inactive';
                            break;
                    }
                    ?>
                    <tr>
                        <td><?php echo $products->productCode; ?></td>
                        <td><?php echo $products->productName; ?></td>
                        <td><?php echo number_format(($products->defaultSellingPrice * $products->productUomConversion), 2); ?></td>
                        <td><?php echo number_format(($availableQty / $products->productUomConversion), 2) . ' ' . $products->uomAbbr; ?></td>
                        <td><span class="<?php echo $style; ?>"><?php echo $stateValue; ?></span></td>
                        <td><?php echo $products->categoryName; ?></td>
                        <td id="edit" class="text-center">
                            <a href="<?php echo $this->url('product', array('action' => 'edit', 'param1' => $products->productID)); ?>" class ="editProduct">
                                <span class="fa fa-pencil-square-o custom_font_size"></span>
                            </a>
                        </td>
                        <td class="text-center">
                            <button class ="inac btn btn-link inline-btn" onclick="productStatusChange(this, <?php echo $products->productID; ?>, '<?php echo $formattedProductName; ?>');">
                                <span class="glyphicon glyphicon-<?php echo ($products->productState == '1') ? "check" : "unchecked"; ?>"></span>
                            </button>
                        </td>
                        <td class="text-center">
                            <button class="inac btn btn-link inline-btn" onclick="deleteProduct(<?php echo $products->productID; ?>, '<?php echo $formattedProductName; ?>');
                                        return false;" >
                                <span class="fa fa-trash-o custom_font_size"></span>
                            </button>
                        </td>
                    </tr>
                    <?php
                }
                if (count($this->products) == 0) {
                    ?>
                    <tr class="not_found">
                        <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                    </tr>
                    <?php
                }
                ?>

            </tbody>
        </table>
    </div>
</div>

<!--pagination-->
<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->products, 'sliding', array('partial/paginator.phtml', 'product'), array(
        'route' => 'product', 'action' => 'list'
            )
    );
}
?>
