<?php /**
 * @author ASHAN <ashan@thinkcube.com>
 * This file contains index view
 */ ?>

<div class="well toggle_purpose margin_top">
    <h5 class="font_weight"><?php echo $this->translate('Add Item  Locations') ?></h5>
</div>
<?php
$allLocation = '';
$locations = '';
foreach (clone $this->loc as $key) {
    $location = (object) $key;
    $allLocation.=$location->locationID . ",";
    $locations .= <<<HTML
                                <tr data-lid="$location->locationID">
                                    <td> $location->locationName</td>
                                    <td><input type="checkbox" class="locCheck"></td>
                                </tr>
                                    <?php }?>
HTML;
}
?>
<input type="hidden" id="allLocations" value="<?php echo $allLocation ?>">


<div class="form-horizontal well clearfix margin_bottom product-form">
    <form method="post" id="product-location" name="product-location">
        <div class="form-group">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-striped product-location-table">
                        <thead>
                            <tr>
                                <th width="25%"><?php echo $this->translate('Item Name') ?></th>
                                <th width="25%"><?php echo $this->translate('Global Item') ?></th>
                                <th width="25%"><?php echo $this->translate('Location Item') ?></th>
                                <th width="25%"><?php echo $this->translate('Item Category') ?></th>
                               <!--<th width="5%"></th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            foreach ($this->products as $key => $l) {
                                ?>
                                <tr data-productid="<?php echo $l->productID; ?>">
                                    <td class="pname"><?php echo $l->productName ?></td>
                                    <td><input type="radio"  class="global" name="location<?php echo $l->productID ?>" class=" form-control"  <?php if ($l->globalProduct == 1) { ?> checked="checked"  <?php } ?>></td>
                                    <td><input type="radio" class="location" name="location<?php echo $l->productID ?>" class=" form-control" <?php if ($l->globalProduct == 0) { ?> checked="checked" <?php } ?> >
                                        <div id="locationHide<?php echo $l->productID ?>" <?php if ($l->globalProduct == 1) { ?>class="hide"<?php } ?>>
                                            <table class="locationTable" >
                                                <thead>
                                                    <tr>
                                                        <th><?php echo $this->translate('Location') ?></th>
                                                        <th><?php echo $this->translate('Active') ?></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <?php
                                                    echo $locations;
                                                    ?>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                    <td>
                                        <select id="category<?php echo $l->productID ?>" class="selectpicker" data-live-search="true">
                                            <option value="0">Select Category</option>
                                            <?php
                                            foreach ($this->categories as $key => $data) {
                                                ?>
                                                <option value="<?php echo $data->categoryID ?>" data-subtext="<?php echo $data->categoryPath ?>"><?php echo $data->categoryName ?></option>
                                            <?php }
                                            ?>
                                        </select>
                                    </td>
                                </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-9"></div>
        <div class="col-lg-3">
            <input type="submit" id='product-location-submit' class=" form-control btn-primary" value="<?php echo $this->translate('save') ?>">
        </div>

    </form>
</div>