<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
	<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>
<div id="body">
	<div id="section_header">
	</div>

	<div id="content" >
		<?php if (!$sepLocBal && empty($locationData)) { ?>
			<div class="page" style="font-size: 7pt">
				<?php echo $this->headerTemplate; ?> 
				
				<div style="line-height:1.5;  margin-top: 2em"></div>
				
				<?php foreach ($profitAndLostData as $typekey => $typeData) {

					if($typeKey == 0){
						$amountClass = "revenue";
					}else if($typeKey == 1){
						$amountClass = "costOfSales";
					}else if($typeKey == 2){
						$amountClass = "otherRevenue";
					}else if($typeKey == 3){
						$amountClass = "expence";
					}

					$typeAmounts = calculateAccountTypeAmount($typeData);
					$TotalDebitValue = (float) $typeAmounts['TotalDebitAmount'];
					$TotalCreditValue = (float) $typeAmounts['TotalCreditAmount'];
				
					if($typekey == 0 || $typekey == 2){ 
						if($typekey == 0){
							$revenueAmount = $TotalCreditValue - $TotalDebitValue; 
						}else if($typekey == 2){
							$otherRevenueAmount = $TotalCreditValue - $TotalDebitValue; 
						}

						if($TotalCreditValue - $TotalDebitValue >= 0){
							$typeValue = number_format($TotalCreditValue - $TotalDebitValue, 2);
						} else {
							$typeValue = '('.(number_format($TotalDebitValue - $TotalCreditValue, 2)).')' ;

						}
						
					} else if($typekey == 1 || $typekey == 3) { 
						if($typekey == 1){
							$costOfSalesAmount = $TotalDebitValue - $TotalCreditValue ; 
						}else if($typekey == 3){
							$expenceAmount = $TotalDebitValue - $TotalCreditValue ; 
						}

						if($TotalDebitValue - $TotalCreditValue >= 0){
							$typeValue = number_format($TotalDebitValue - $TotalCreditValue, 2);
						}else {
							$typeValue = '('.(number_format($TotalCreditValue - $TotalDebitValue, 2)).')';
						}
					}
					?>

					<div class="row show-grid" >
						<div class="col-md-10 showAccounts" style="cursor:pointer; border: 2px solid gray; padding: 10px;"><i class="plus fa fa-plus-square" aria-hidden="true"></i>  <b><?php echo $typeData['financeAccountTypesName']?></b></div>
						<div class="col-md-2 amount"  style="border: 2px solid gray; padding: 10px;"><b class="<?php echo $amountClass;?>" id="amount<?php echo $typeData['financeAccountTypesID'] ?>"><?php echo $typeValue ?> </b></div>
						<div class="col-md-12 accountsDiv hidden" style="border: 1px solid gray; padding: 10px;">
							
							<table class="change_order_items table table-striped" style="width: 100%; border-collapse: collapse;">
								<thead>
									<tr>
										<th class=""><?php echo $this->translate('Account Code') ?></th>
										<th style="text-align: center" class=""><?php echo $this->translate('Account Name') ?></th>
										<th style="text-align: center" class=""><?php echo $this->translate('Balance') ?></th>
										
									</tr>
								</thead>
								
								<tbody class='balanceSheetBody'>
									<?php foreach ($typeData as $bsData) {
										$subTotalForAcc = 0;
										if(isset($bsData['financeAccounts'][0]['child'])){
											?>
											<tr>
												<td></td>
												<td style="text-align: center" class=""><b><?php echo $bsData['financeAccountClassName'];?></b></td>
												<td></td>
											</tr>
											<?php
											foreach ($bsData['financeAccounts'][0]['child'] as $key => $value) {
												
												$creditAmount = 0;
												$debitAmount = 0;
												$subAccountCreditAmount = 0;
												$subAccountDebitAmount = 0;
												
												if(isset($value['child'])){
													$amountData = calculateAmounts($value['child']);
													$subAccountCreditAmount += $amountData['totalCreditAmount']; 
													$subAccountDebitAmount += $amountData['totalDebitAmount'];
													if($amountData['totalCreditAmount'] - $amountData['totalDebitAmount'] > 0){
														$creditAmount = $amountData['totalCreditAmount'] - $amountData['totalDebitAmount'];
													} else {
														$debitAmount = $amountData['totalDebitAmount'] - $amountData['totalCreditAmount'];
													}
												}
												
												if($value['data']->totalCreditAmount - $value['data']->totalDebitAmount > 0){
													$creditAmount+=$value['data']->totalCreditAmount - $value['data']->totalDebitAmount;
												}else{
													$debitAmount+=$value['data']->totalDebitAmount - $value['data']->totalCreditAmount;
												}
												$totalCDvalue = 0;
												if($typekey == 0 || $typekey == 2){
													$subAccountTotal = $subAccountCreditAmount - $subAccountDebitAmount;
													$totalCDvalue = $value['data']->totalCreditAmount - $value['data']->totalDebitAmount;
													$totalCDvalue += $subAccountTotal;
												} else if($typekey == 1 || $typekey == 3){
													$totalCDvalue = $value['data']->totalDebitAmount - $value['data']->totalCreditAmount;
													$subAccountTotal = $subAccountDebitAmount - $subAccountCreditAmount;
													$totalCDvalue += $subAccountTotal;
												}
												$subTotalForAcc += $totalCDvalue;

												if($totalCDvalue < 0){
													$viewTotalCDValue = '('.number_format($totalCDvalue*(-1), 2).')';
												} else {
													$viewTotalCDValue = number_format($totalCDvalue, 2);
												}


												?>
												
												<?php if ($hideZeroVal) { ?>
													<?php if ($totalCDvalue != 0) { ?>
														<tr class="<?php echo ($value['data']->financeAccountsParentID ==0 )? "class_".$value['data']->financeAccountClassID : $value['data']->financeAccountsParentID ?>" id="<?php echo  $value['data']->financeAccountsID ?>" data-classid="<?php echo $value['data']->financeAccountClassID ?>" data-autotrigger="false" >
															<td><?php echo $value['data']->financeAccountsCode;
																if(isset($value['child'])){?>
																<span class="glyphicon glyphicon-chevron-down link_color financeAccountChild" style="cursor:pointer;" ></span>
																<?php }?>
															</td>
															<td><?php echo $value['data']->financeAccountsName?></td>
															<td style="text-align: right" class='creditAmount'><?php echo $viewTotalCDValue?></td>
														</tr>
													<?php } ?>
												<?php } else { ?>
													<tr class="<?php echo ($value['data']->financeAccountsParentID ==0 )? "class_".$value['data']->financeAccountClassID : $value['data']->financeAccountsParentID ?>" id="<?php echo  $value['data']->financeAccountsID ?>" data-classid="<?php echo $value['data']->financeAccountClassID ?>" data-autotrigger="false" >
														<td><?php echo $value['data']->financeAccountsCode;
															if(isset($value['child'])){?>
															<span class="glyphicon glyphicon-chevron-down link_color financeAccountChild" style="cursor:pointer;" ></span>
															<?php }?>
														</td>
														<td><?php echo $value['data']->financeAccountsName?></td>
														<td style="text-align: right" class='creditAmount'><?php echo $viewTotalCDValue?></td>
													</tr>
												<?php } ?>
												
												
												<?php if(isset($value['child'])){
													$level = 1;
													getChildAccounts($value['child'],$bsData,$level, $typekey, $hideZeroVal);
												}
											} 

											if($subTotalForAcc < 0){
												$subTotalForAcc = '('.number_format($subTotalForAcc*(-1), 2).')';
											} else {
												$subTotalForAcc = number_format($subTotalForAcc, 2);
											}
											?>
											<tr>
												<td></td>
												<td><b><?php echo $this->translate("sub Total"); ?></b></td>
												<td style="text-align: right" class=""><b><?php echo $subTotalForAcc; ?></b></td>
											</tr>
											<tr>
												<td></td>
												<td class=""></td>
												<td></td>
											</tr
											<?php 
										} 
									} ?>
								</tbody>
							</table>

							
						</div>
					</div>
								
				<?php if($typekey == 1){ 
						 	if($revenueAmount - $costOfSalesAmount >= 0 ){
								$grosProfit = number_format(($revenueAmount - $costOfSalesAmount), 2);
							}else{
					 			$grosProfit = ($costOfSalesAmount - $revenueAmount);
					 			$grosProfit = '('.number_format($grosProfit, 2).')';
					 		} 
					 		?>
					<div class="row show-grid" >
						<div class="col-md-10 " style="border: 2px solid gray; background-color: rgb(238, 238, 238); padding: 10px;"><b><?php echo $this->translate('Gross Profit'); ?></b></div>
						<div class="col-md-2 "  style="border: 2px solid gray; background-color: rgb(238, 238, 238); padding: 10px;"><b id="grosProfit"><?php echo $grosProfit ?></b></div>
					</div>
				<?php } else if($typekey == 3){?>
							<?php if($revenueAmount - $costOfSalesAmount >= 0){
								if($otherRevenueAmount - $expenceAmount >= 0){
									$netProfit = number_format(($revenueAmount - $costOfSalesAmount) + ($otherRevenueAmount - $expenceAmount), 2);
								}else{
									if(($revenueAmount - $costOfSalesAmount) + ($otherRevenueAmount - $expenceAmount) >= 0){
										$netProfit =number_format(($revenueAmount - $costOfSalesAmount) + ($otherRevenueAmount - $expenceAmount), 2);
									} else {
										$netProfit = "(".number_format((($revenueAmount - $costOfSalesAmount) + ($otherRevenueAmount - $expenceAmount))*(-1),2).")";
									}
								}
							}else{
								if(($revenueAmount - $costOfSalesAmount) + ($otherRevenueAmount - $expenceAmount) >= 0){
									$netProfit = number_format(($revenueAmount - $costOfSalesAmount) + ($otherRevenueAmount -  $expenceAmount), 2);
								}else{
									$netProfit = "(".number_format((($revenueAmount - $costOfSalesAmount) + ($otherRevenueAmount - $expenceAmount))*(-1), 2).")";	
								}
							}
					?>
					<div class="row show-grid" >
						<div class="col-md-10 " style="border: 2px solid gray; background-color: rgb(238, 238, 238); padding: 10px;"><b><?php echo $this->translate('Net Profit'); ?></b></div>
						<div class="col-md-2 "  style="border: 2px solid gray; background-color: rgb(238, 238, 238); padding: 10px;"><b id="netProfit"><?php echo $netProfit ?></b></div>
					</div>
				<?php }?>
								
			<?php } ?>
		</div>

	<?php } else { ?>
		<div class="page" style="font-size: 7pt">
			<?php echo $this->headerTemplate; ?> 
			
			<div style="line-height:1.5;  margin-top: 2em"></div>
			
			<?php foreach ($profitAndLostData as $typekey => $typeData) {

				if($typeKey == 0){
					$amountClass = "revenue";
				}else if($typeKey == 1){
					$amountClass = "costOfSales";
				}else if($typeKey == 2){
					$amountClass = "otherRevenue";
				}else if($typeKey == 3){
					$amountClass = "expence";
				}

				foreach ($locationData as $key71 => $value71) {
					$loc71 = $value71['locationCode'].'-'.$value71['locationID'];
					$typeAmounts[$loc71] = calculateAccountTypeAmountLocWise($typeData, $loc71);
					$TotalDebitValue[$loc71] = (float) $typeAmounts[$loc71]['TotalDebitAmount'];
					$TotalCreditValue[$loc71] = (float) $typeAmounts[$loc71]['TotalCreditAmount'];
				
					if($typekey == 0 || $typekey == 2){ 
						if($typekey == 0){
							$revenueAmount[$loc71] = $TotalCreditValue[$loc71] - $TotalDebitValue[$loc71]; 
						}else if($typekey == 2){
							$otherRevenueAmount[$loc71] = $TotalCreditValue[$loc71] - $TotalDebitValue[$loc71]; 
						}

						if($TotalCreditValue[$loc71] - $TotalDebitValue[$loc71] >= 0){
							$typeValue[$loc71] = number_format($TotalCreditValue[$loc71] - $TotalDebitValue[$loc71], 2);
						} else {
							$typeValue[$loc71] = '('.(number_format($TotalDebitValue[$loc71] - $TotalCreditValue[$loc71], 2)).')' ;

						}
						
					} else if($typekey == 1 || $typekey == 3) { 
						if($typekey == 1){
							$costOfSalesAmount[$loc71] = $TotalDebitValue[$loc71] - $TotalCreditValue[$loc71] ; 
						}else if($typekey == 3){
							$expenceAmount[$loc71] = $TotalDebitValue[$loc71] - $TotalCreditValue[$loc71] ; 
						}

						if($TotalDebitValue[$loc71] - $TotalCreditValue[$loc71] >= 0){
							$typeValue[$loc71] = number_format($TotalDebitValue[$loc71] - $TotalCreditValue[$loc71], 2);
						}else {
							$typeValue[$loc71] = '('.(number_format($TotalCreditValue[$loc71] - $TotalDebitValue[$loc71], 2)).')';
						}
					}
				}


				?>

				<div class="row show-grid" >
					
					<?php if (sizeof($locationData) == 1) { ?>
						<div class="col-md-10 showAccounts" style="cursor:pointer; border: 2px solid gray; padding: 10px;"><i class="plus fa fa-plus-square" aria-hidden="true"></i> <center><b><?php echo $typeData['financeAccountTypesName']?></b></center></div>


						<?php foreach ($locationData as $key52 => $value52) {
							$loc52 = $value52['locationCode'].'-'.$value52['locationID'];
						?>
							<div class="amount"  style="border: 2px solid gray; padding: 10px;"><center><b class="<?php echo $amountClass;?>" id="amount<?php echo $typeData['financeAccountTypesID'].'-'.$loc52 ?>"><?php echo $value52['locationName'].' '.$typeValue[$loc52] ?></b></center></div>
						<?php } ?>



					<?php } elseif (sizeof($locationData) == 2) {?>
						<div class="col-md-8 showAccounts" style="cursor:pointer; border: 2px solid gray; padding: 10px;"><i class="plus fa fa-plus-square" aria-hidden="true"></i><center><b><?php echo $typeData['financeAccountTypesName']?></b></center></div>
						
						<?php foreach ($locationData as $key53 => $value53) {
							$loc53 = $value53['locationCode'].'-'.$value53['locationID'];
						?>
							<div class="col-md-2 amount"  style="border: 2px solid gray; padding: 10px;"><center><b class="<?php echo $amountClass;?>" id="amount<?php echo $typeData['financeAccountTypesID'].'-'.$loc53 ?>"><?php echo $value53['locationName'].' '.$typeValue[$loc53] ?></b></center></div>
						<?php } ?>

					<?php } elseif (sizeof($locationData) == 3) {?>
						<div class="col-md-6 showAccounts" style="cursor:pointer; border: 2px solid gray; padding: 10px;"><i class="plus fa fa-plus-square" aria-hidden="true"></i> <center><b><?php echo $typeData['financeAccountTypesName']?></b></center></div>
						
						<?php foreach ($locationData as $key54 => $value54) {
							$loc54 = $value54['locationCode'].'-'.$value54['locationID'];
						?>
							<div class="col-md-2 amount"  style="border: 2px solid gray; padding: 10px;"><center><b class="<?php echo $amountClass;?>" id="amount<?php echo $typeData['financeAccountTypesID'].'-'.$loc54 ?>"><?php echo $value54['locationName'].' '.$typeValue[$loc54] ?></b></center></div>
						<?php } ?>


					<?php } ?>

					<div class="col-md-12 accountsDiv hidden" style="border: 1px solid gray; padding: 10px;">

						<table class="change_order_items table table-striped" style="width: 100%; border-collapse: collapse;">
							<thead>
								<tr>
									<th class=""><?php echo $this->translate('Account Code') ?></th>
									<th style="text-align: center" class=""><?php echo $this->translate('Account Name') ?></th>
									<!-- <th style="text-align: right" class=""><?php echo $this->translate('Balance') ?></th> -->
									<?php foreach ($locationData as $key99 => $value99) {?>
										<th style="text-align: right" class=""><?php echo $value99['locationName'].' '.$this->translate('Balance') ?></th>
									<?php } ?>
								</tr>
							</thead>

							<tbody class='balanceSheetBody'>
									
								<?php foreach ($typeData as $bsData) {
									$subTotalForAcc = [];
									if(isset($bsData['financeAccounts'][0]['child'])){
										?>
										<tr>
											<td></td>
											<td style="text-align: center" class=""><b><?php echo $bsData['financeAccountClassName'];?></b></td>
											<?php foreach ($locationData as $key41 => $value41) {?>
												<td></td>
											<?php } ?>
										</tr>
										<?php
																			
										foreach ($bsData['financeAccounts'][0]['child'] as $key => $value) {
											
											$creditAmount = 0;
											$debitAmount = 0;
											$subAccountCreditAmount = 0;
											$subAccountDebitAmount = 0;

											$emptyVal = 0;

											foreach ($locationData as $key22 => $value22) {
											
												$locKey = $value22['locationCode'].'-'.$value22['locationID'];
												$amountData = [];

												if(isset($value['child'])){
													$amountData[$locKey] = calculateAmountsLocWise($value['child'], $locKey);
													$subAccountCreditAmount[$locKey] += $amountData[$locKey]['totalCreditAmount']; 
													$subAccountDebitAmount[$locKey] += $amountData[$locKey]['totalDebitAmount'];
													if($amountData[$locKey]['totalCreditAmount'] - $amountData[$locKey]['totalDebitAmount'] > 0){
														$TotalCreditValue[$locKey]+=$amountData[$locKey]['totalCreditAmount'] - $amountData[$locKey]['totalDebitAmount'];
														$creditAmount[$locKey] = $amountData[$locKey]['totalCreditAmount'] - $amountData[$locKey]['totalDebitAmount'];
													} else {
														$TotalDebitValue[$locKey]+=$amountData[$locKey]['totalDebitAmount'] - $amountData[$locKey]['totalCreditAmount'];
														$debitAmount[$locKey] = $amountData[$locKey]['totalDebitAmount'] - $amountData[$locKey]['totalCreditAmount'];
													}
												}

												if($value['data']->totalCreditAmount[$locKey] - $value['data']->totalDebitAmount[$locKey] > 0){
													$TotalCreditValue[$locKey]+=$value['data']->totalCreditAmount[$locKey] - $value['data']->totalDebitAmount[$locKey];
													$creditAmount[$locKey]+=$value['data']->totalCreditAmount[$locKey] - $value['data']->totalDebitAmount[$locKey];
												}else{
													$TotalDebitValue[$locKey]+=$value['data']->totalDebitAmount[$locKey] - $value['data']->totalCreditAmount[$locKey];
													$debitAmount[$locKey]+=$value['data']->totalDebitAmount[$locKey] - $value['data']->totalCreditAmount[$locKey];
												}
												$totalCDvalue = [];
												if($typekey == 0 || $typekey == 2){
													$subAccountTotal[$locKey] = $subAccountCreditAmount[$locKey] - $subAccountDebitAmount[$locKey];
													$totalCDvalue[$locKey] = $value['data']->totalCreditAmount[$locKey] - $value['data']->totalDebitAmount[$locKey];
													$totalCDvalue[$locKey] += $subAccountTotal[$locKey]; 
												} else if($typekey == 1 || $typekey == 3){
													$totalCDvalue[$locKey] = $value['data']->totalDebitAmount[$locKey] - $value['data']->totalCreditAmount[$locKey];
													$subAccountTotal[$locKey] = $subAccountDebitAmount[$locKey] - $subAccountCreditAmount[$locKey];
													$totalCDvalue[$locKey] += $subAccountTotal[$locKey];
												}
												$subTotalForAcc[$bsData['financeAccountClassID']][$locKey] += $totalCDvalue[$locKey];

												if($totalCDvalue[$locKey] < 0){
													$viewTotalCDValue[$locKey] = '('.number_format($totalCDvalue[$locKey]*(-1), 2).')';
												} else {
													$viewTotalCDValue[$locKey] = number_format($totalCDvalue[$locKey], 2);
												}

												if ($totalCDvalue[$locKey] == 0) {
													$emptyVal++;
												}
											}
										?>
										<?php if ($hideZeroVal) { ?>
											<?php if ($emptyVal != sizeof($locationData)) { ?>
												<tr class="<?php echo ($value['data']->financeAccountsParentID ==0 )? "class_".$value['data']->financeAccountClassID : $value['data']->financeAccountsParentID ?>" id="<?php echo  $value['data']->financeAccountsID ?>" data-classid="<?php echo $value['data']->financeAccountClassID ?>" data-autotrigger="false" >
													<td><?php echo $value['data']->financeAccountsCode;
														if(isset($value['child'])){?>
														<span class="glyphicon glyphicon-chevron-down link_color financeAccountChild" style="cursor:pointer;" ></span>
														<?php }?>
													</td>
													<td><?php echo $value['data']->financeAccountsName?></td>

													<?php foreach ($locationData as $key0 => $value0) { 

														$loc0 = $value0['locationCode'].'-'.$value0['locationID'];
													?>
														<td style="text-align: right" class='creditAmount'><?php echo $viewTotalCDValue[$loc0]?></td>
													<?php } ?>
													
												</tr>
											<?php } ?>
										<?php } else { ?>
											<tr class="<?php echo ($value['data']->financeAccountsParentID ==0 )? "class_".$value['data']->financeAccountClassID : $value['data']->financeAccountsParentID ?>" id="<?php echo  $value['data']->financeAccountsID ?>" data-classid="<?php echo $value['data']->financeAccountClassID ?>" data-autotrigger="false" >
												<td><?php echo $value['data']->financeAccountsCode;
													if(isset($value['child'])){?>
													<span class="glyphicon glyphicon-chevron-down link_color financeAccountChild" style="cursor:pointer;" ></span>
													<?php }?>
												</td>
												<td><?php echo $value['data']->financeAccountsName?></td>

												<?php foreach ($locationData as $key0 => $value0) { 

													$loc0 = $value0['locationCode'].'-'.$value0['locationID'];
												?>
													<td style="text-align: right" class='creditAmount'><?php echo $viewTotalCDValue[$loc0]?></td>
												<?php } ?>
												
											</tr>
										<?php } ?>
											
											<?php if(isset($value['child'])){
												$level = 1;
												getChildAccountsLocationWise($value['child'],$bsData,$level, $typekey, $locationData, $hideZeroVal);
											}
										}
										?>
										<tr>
											<td></td>
											<td><b><?php echo $this->translate("sub Total"); ?></b></td>

											<?php 
											foreach ($locationData as $key88 => $value88) {
												$loc88 = $value88['locationCode'].'-'.$value88['locationID'];
												if($subTotalForAcc[$bsData['financeAccountClassID']][$loc88] < 0){
													$subTotalForAcc[$bsData['financeAccountClassID']][$loc88] = '('.number_format($subTotalForAcc[$bsData['financeAccountClassID']][$loc88]*(-1), 2).')';
												} else {
													$subTotalForAcc[$bsData['financeAccountClassID']][$loc88] = number_format($subTotalForAcc[$bsData['financeAccountClassID']][$loc88], 2);
												}
											?>
												<td style="text-align: right" class=""><b><?php echo $subTotalForAcc[$bsData['financeAccountClassID']][$loc88]; ?></b></td>
											<?php } ?>
										</tr>
										<tr>
											<td></td>
											<td class=""></td>
											<?php foreach ($locationData as $key45 => $value45) {?>
												<td></td>
											<?php } ?>
										</tr
										<?php

									}
								} ?>
							</tbody>
						</table>
					</div>
				</div>


				<?php 

					foreach ($locationData as $key002 => $value002) {
						$loc002 = $value002['locationCode'].'-'.$value002['locationID'];
						if($typekey == 1){ 
						 	if($revenueAmount[$loc002] - $costOfSalesAmount[$loc002] >= 0 ){
								$grosProfit[$loc002] = number_format(($revenueAmount[$loc002] - $costOfSalesAmount[$loc002]), 2);
							}else{
					 			$grosProfit[$loc002] = ($costOfSalesAmount[$loc002] - $revenueAmount[$loc002]);
					 			$grosProfit[$loc002] = '('.number_format($grosProfit[$loc002], 2).')';
					 		}
					 	} else if($typekey == 3){	

					 		if($revenueAmount[$loc002] - $costOfSalesAmount[$loc002] >= 0){
								if($otherRevenueAmount[$loc002] - $expenceAmount[$loc002] >= 0){
									$netProfit[$loc002] = number_format(($revenueAmount[$loc002] - $costOfSalesAmount[$loc002]) + ($otherRevenueAmount[$loc002] - $expenceAmount[$loc002]), 2);
								}else{
									if(($revenueAmount[$loc002] - $costOfSalesAmount[$loc002]) + ($otherRevenueAmount[$loc002] - $expenceAmount[$loc002]) >= 0){
										$netProfit[$loc002] =number_format(($revenueAmount[$loc002] - $costOfSalesAmount[$loc002]) + ($otherRevenueAmount[$loc002] - $expenceAmount[$loc002]), 2);
									} else {
										$netProfit[$loc002] = "(".number_format((($revenueAmount[$loc002] - $costOfSalesAmount[$loc002]) + ($otherRevenueAmount[$loc002] - $expenceAmount[$loc002]))*(-1),2).")";
									}
								}
							}else{
								if(($revenueAmount[$loc002] - $costOfSalesAmount[$loc002]) + ($otherRevenueAmount[$loc002] - $expenceAmount[$loc002]) >= 0){
									$netProfit[$loc002] = number_format(($revenueAmount[$loc002] - $costOfSalesAmount[$loc002]) + ($otherRevenueAmount[$loc002] -  $expenceAmount[$loc002]), 2);
								}else{
									$netProfit[$loc002] = "(".number_format((($revenueAmount[$loc002] - $costOfSalesAmount[$loc002]) + ($otherRevenueAmount[$loc002] - $expenceAmount[$loc002]))*(-1), 2).")";	
								}
							}
						}
					} 
				?>

				<?php if($typekey == 1){ ?>

					<?php if (sizeof($locationData) == 1) { ?>
						<div class="row show-grid" >
							<div class="col-md-10 " style="border: 2px solid gray; background-color: rgb(238, 238, 238); padding: 10px;"><center><b><?php echo $this->translate('Gross Profit'); ?></center></b></div>
							<?php foreach ($locationData as $key83 => $value83) {
								$loc83 = $value83['locationCode'].'-'.$value83['locationID'];
							?>
								<div class="col-md-2 "  style="border: 2px solid gray; background-color: rgb(238, 238, 238); padding: 10px;"><center><b id="grosProfit<?php echo $loc83  ?>"><?php echo $value83['locationName'].' '. $grosProfit[$loc83]; ?></b></center></div>
							<?php } ?>
						</div>
					<?php } ?>

					<?php if (sizeof($locationData) == 2) { ?>
						<div class="row show-grid" >
							<div class="col-md-8 " style="border: 2px solid gray; background-color: rgb(238, 238, 238); padding: 10px;"><center><b><?php echo $this->translate('Gross Profit'); ?></b></center></div>
							<?php foreach ($locationData as $key73 => $value73) {
								$loc73 = $value73['locationCode'].'-'.$value73['locationID'];
							?>
								<div class="col-md-2 "  style="border: 2px solid gray; background-color: rgb(238, 238, 238); padding: 10px;"><center><b id="grosProfit<?php echo $loc73  ?>"><?php echo $value73['locationName'].' '. $grosProfit[$loc73]; ?></b></center></div>
							<?php } ?>
						</div>
					<?php } ?>
					<?php if (sizeof($locationData) == 3) { ?>
						<div class="row show-grid" >
							<div class="col-md-6 " style="border: 2px solid gray; background-color: rgb(238, 238, 238); padding: 10px;"><center><b><?php echo $this->translate('Gross Profit'); ?></b></center></div>
							<?php foreach ($locationData as $key77 => $value77) {
								$loc77 = $value77['locationCode'].'-'.$value77['locationID'];
							?>
								<div class="col-md-2 "  style="border: 2px solid gray; background-color: rgb(238, 238, 238); padding: 10px;"><center><b id="grosProfit<?php echo $loc77  ?>"><?php echo $value77['locationName'].' '. $grosProfit[$loc77]; ?></b></center></div>
							<?php } ?>
						</div>
					<?php } ?>
				<?php } else if($typekey == 3){?>

					<?php if (sizeof($locationData) == 1) { ?>

						<div class="row show-grid" >
							<div class="col-md-10 " style="border: 2px solid gray; background-color: rgb(238, 238, 238); padding: 10px;"><center><b><?php echo $this->translate('Net Profit'); ?></b></center></div>
							<?php foreach ($locationData as $key12 => $value12) {
								$loc12 = $value12['locationCode'].'-'.$value12['locationID'];
							?>
								<div class="col-md-2 "  style="border: 2px solid gray; background-color: rgb(238, 238, 238); padding: 10px;"><center><b id="netProfit<?php echo $loc12 ?>"><?php echo $value12['locationName'].' '.$netProfit[$loc12]; ?></b></center></div>
							<?php } ?>
						</div>

					<?php } ?>
					<?php if (sizeof($locationData) == 2) { ?>

						<div class="row show-grid" >
							<div class="col-md-8 " style="border: 2px solid gray; background-color: rgb(238, 238, 238); padding: 10px;"><center><b><?php echo $this->translate('Net Profit'); ?></b></center></div>
							<?php foreach ($locationData as $key13 => $value13) {
								$loc13 = $value13['locationCode'].'-'.$value13['locationID'];
							?>
								<div class="col-md-2 "  style="border: 2px solid gray; background-color: rgb(238, 238, 238); padding: 10px;"><center><b id="netProfit<?php echo $loc13 ?>"><?php echo $value13['locationName'].' '.$netProfit[$loc13]; ?></b></center></div>
							<?php } ?>
						</div>

					<?php } ?>
					<?php if (sizeof($locationData) == 3) { ?>

						<div class="row show-grid" >
							<div class="col-md-6 " style="border: 2px solid gray; background-color: rgb(238, 238, 238); padding: 10px;"><center><b><?php echo $this->translate('Net Profit'); ?></b></center></div>
							<?php foreach ($locationData as $key16 => $value16) {
								$loc16 = $value16['locationCode'].'-'.$value16['locationID'];
							?>
								<div class="col-md-2 "  style="border: 2px solid gray; background-color: rgb(238, 238, 238); padding: 10px;"><center><b id="netProfit<?php echo $loc16 ?>"><?php echo $value16['locationName'].' '.$netProfit[$loc16]; ?></b></center></div>
							<?php } ?>
						</div>

					<?php } ?>

				<?php }?> 				
			<?php } ?>
		</div>	

	<?php } ?>
</div>
</div>

<?php function getChildAccounts($dataArray,$acCData,$level, $typekey, $hideZeroVal){ 
	foreach ($dataArray as $value) {
		$creditAmount = 0;
		$debitAmount = 0;
		$subAccountCreditAmount = 0;
		$subAccountDebitAmount = 0;
		if(isset($value['child'])){
			$amountData = calculateAmounts($value['child']);
			$subAccountCreditAmount += $amountData['totalCreditAmount']; 
			$subAccountDebitAmount += $amountData['totalDebitAmount'];
			if($amountData['totalCreditAmount'] - $amountData['totalDebitAmount'] > 0){
				$creditAmount+=$amountData['totalCreditAmount'] - $amountData['totalDebitAmount'];
			}else{
				$debitAmount+=$amountData['totalDebitAmount'] - $amountData['totalCreditAmount'] ;
			}
		}
		if($value['data']->totalCreditAmount - $value['data']->totalDebitAmount > 0){
			$creditAmount+=$value['data']->totalCreditAmount - $value['data']->totalDebitAmount;
		}else{
			$debitAmount+=$value['data']->totalDebitAmount - $value['data']->totalCreditAmount;
		}

		$totalCDvalue = 0;
		if($typekey == 0 || $typekey == 2){
			$subAccountTotal = $subAccountCreditAmount - $subAccountDebitAmount;
			$totalCDvalue = $value['data']->totalCreditAmount - $value['data']->totalDebitAmount;
			$totalCDvalue += $subAccountTotal; 
		} else if($typekey == 1 || $typekey == 3){
			$totalCDvalue = $value['data']->totalDebitAmount - $value['data']->totalCreditAmount;
			$subAccountTotal = $subAccountDebitAmount - $subAccountCreditAmount;
			$totalCDvalue += $subAccountTotal;
		}

		if($totalCDvalue < 0){
			$viewTotalCDValue = '('.number_format($totalCDvalue*(-1), 2).')';
		} else {
			$viewTotalCDValue = number_format($totalCDvalue, 2);
		}

		?>
		<?php if ($hideZeroVal) { ?>
			<?php if ($totalCDvalue != 0) { ?>
				<tr class="hidden collapsAll <?php echo ($value['data']->financeAccountsParentID ==0 )? "class_".$value['data']->financeAccountClassID : $value['data']->financeAccountsParentID ?>" id="<?php echo  $value['data']->financeAccountsID ?>" data-classid="<?php echo $value['data']->financeAccountClassID ?>" data-autotrigger="false" >
					<td><?php echo str_repeat('&nbsp;', 2*$level).$value['data']->financeAccountsCode;
						if(isset($value['child'])){?>
							<span class="glyphicon glyphicon-chevron-down link_color financeAccountChild" style="cursor:pointer;" ></span>
						<?php }?>
					</td>
					<td><?php echo $value['data']->financeAccountsName?></td>
					<td style="text-align: right" class='creditAmount'><?php echo $viewTotalCDValue?></td>
				</tr>
			<?php } ?>
		<?php } else { ?>
			<tr class="hidden collapsAll <?php echo ($value['data']->financeAccountsParentID ==0 )? "class_".$value['data']->financeAccountClassID : $value['data']->financeAccountsParentID ?>" id="<?php echo  $value['data']->financeAccountsID ?>" data-classid="<?php echo $value['data']->financeAccountClassID ?>" data-autotrigger="false" >
				<td><?php echo str_repeat('&nbsp;', 2*$level).$value['data']->financeAccountsCode;
					if(isset($value['child'])){?>
						<span class="glyphicon glyphicon-chevron-down link_color financeAccountChild" style="cursor:pointer;" ></span>
					<?php }?>
				</td>
				<td><?php echo $value['data']->financeAccountsName?></td>
				<td style="text-align: right" class='creditAmount'><?php echo $viewTotalCDValue?></td>
			</tr>
		<?php } ?>
		
		<?php if(isset($value['child'])){
				getChildAccounts($value['child'],$acCData,$level+1, $typekey, $hideZeroVal);
		}
	}
} ?>

<?php function calculateAmounts($dataArray){
	$creditAmountTotal = 0; 
	$debitAmountTotal = 0;
	foreach ($dataArray as $value) {
		if(isset($value['child'])){
			$amountData = calculateAmounts($value['child']);
			if($amountData['totalCreditAmount'] - $amountData['totalDebitAmount'] > 0){
				$creditAmountTotal+=$amountData['totalCreditAmount'] - $amountData['totalDebitAmount'];
			}else{
				$debitAmountTotal+=$amountData['totalDebitAmount'] - $amountData['totalCreditAmount'] ;
			}
		}
		if($value['data']->totalCreditAmount - $value['data']->totalDebitAmount > 0){
			$creditAmountTotal+=$value['data']->totalCreditAmount - $value['data']->totalDebitAmount;
		}else{
			$debitAmountTotal+=$value['data']->totalDebitAmount - $value['data']->totalCreditAmount;
		}
	}
	return array('totalCreditAmount'=> $creditAmountTotal, 'totalDebitAmount' => $debitAmountTotal);
}?>

<?php 
	function calculateAccountTypeAmount($typeData){
		$TotalCreditValue = 0.00;
		$TotalDebitValue = 0.00;
		foreach ($typeData as $bsData) {
			if(isset($bsData['financeAccounts'][0]['child'])){
				foreach ($bsData['financeAccounts'][0]['child'] as $key => $value) {

					$creditAmount = 0;
					$debitAmount = 0;

					if(isset($value['child'])){
						$amountData = calculateAmounts($value['child']);
						if($amountData['totalCreditAmount'] - $amountData['totalDebitAmount'] > 0){
							$TotalCreditValue+=$amountData['totalCreditAmount'] - $amountData['totalDebitAmount'];
						} else {
							$TotalDebitValue+=$amountData['totalDebitAmount'] - $amountData['totalCreditAmount'];
						}
					}

					if($value['data']->totalCreditAmount - $value['data']->totalDebitAmount > 0){
						$TotalCreditValue+=$value['data']->totalCreditAmount - $value['data']->totalDebitAmount;
					}else{
						$TotalDebitValue+=$value['data']->totalDebitAmount - $value['data']->totalCreditAmount;
					}				
				}  
			} 
		}
		return array('TotalCreditAmount'=> $TotalCreditValue, 'TotalDebitAmount' => $TotalDebitValue);

	}
	function calculateAccountTypeAmountLocWise($typeData, $locKey) {
		$TotalCreditValue = 0.00;
		$TotalDebitValue = 0.00;
		foreach ($typeData as $bsData) {
			if(isset($bsData['financeAccounts'][0]['child'])){
				foreach ($bsData['financeAccounts'][0]['child'] as $key => $value) {

					$creditAmount = 0;
					$debitAmount = 0;

					if(isset($value['child'])){
						$amountData = calculateAmountsLocWise($value['child'], $locKey);
						if($amountData['totalCreditAmount'] - $amountData['totalDebitAmount'] > 0){
							$TotalCreditValue+=$amountData['totalCreditAmount'] - $amountData['totalDebitAmount'];
						} else {
							$TotalDebitValue+=$amountData['totalDebitAmount'] - $amountData['totalCreditAmount'];
						}
					}

					if($value['data']->totalCreditAmount[$locKey] - $value['data']->totalDebitAmount[$locKey] > 0){
						$TotalCreditValue+=$value['data']->totalCreditAmount[$locKey] - $value['data']->totalDebitAmount[$locKey];
					}else{
						$TotalDebitValue+=$value['data']->totalDebitAmount[$locKey] - $value['data']->totalCreditAmount[$locKey];
					}				
				}  
			} 
		}
		return array('TotalCreditAmount'=> $TotalCreditValue, 'TotalDebitAmount' => $TotalDebitValue);
	}

	function calculateAmountsLocWise($dataArray, $kk){
		// $kk = $locData['locationCode'].'-'.$locData['locationID'];
		$creditAmountTotal = 0; 
		$debitAmountTotal = 0;
		foreach ($dataArray as $value) {
			if(isset($value['child'])){
				$amountData = calculateAmountsLocWise($value['child'], $kk);
				$creditAmountTotal+=$amountData['totalCreditAmount'];
				$debitAmountTotal+=$amountData['totalDebitAmount'];
			}
			$creditAmountTotal+=$value['data']->totalCreditAmount[$kk];
			$debitAmountTotal+=$value['data']->totalDebitAmount[$kk];
		}
		return array('totalCreditAmount'=> $creditAmountTotal, 'totalDebitAmount' => $debitAmountTotal);
	}

	function getChildAccountsLocationWise($dataArray,$acCData,$level, $accType, $locationData, $hideZeroVal){ 
		foreach ($dataArray as $value) {
			$emptyVal = 0;
			foreach ($locationData as $key71 => $value71) {

				$locKey = $value71['locationCode'].'-'.$value71['locationID'];
				$amountData = [];
				if(isset($value['child'])){
					$amountData[$locKey] = calculateAmountsLocWise($value['child'], $locKey);
				}

				$createdCredit[$locKey] = ($amountData[$locKey]['totalCreditAmount'] != 0)? floatval($amountData[$locKey]['totalCreditAmount'])+ floatval($value['data']->totalCreditAmount[$locKey]) : floatval($value['data']->totalCreditAmount[$locKey]);
				$createdDebit[$locKey] = ($amountData[$locKey]['totalDebitAmount'] != 0)? floatval($amountData[$locKey]['totalDebitAmount'])+ floatval($value['data']->totalDebitAmount[$locKey]) : floatval($value['data']->totalDebitAmount[$locKey]);
				if($accType == 5 || $accType == 2){
					$balance[$locKey] = floatval($createdCredit[$locKey]) - floatval($createdDebit[$locKey]);
				}
				else if($accType == 1){
					$balance[$locKey] = floatval($createdDebit[$locKey]) - floatval($createdCredit[$locKey]);
				}

				if($balance[$locKey] < 0){
					$viewBalnce[$locKey] = '('. number_format($balance[$locKey]* (-1) , 2) .')';
				} else {
					$viewBalnce[$locKey] = number_format($balance[$locKey], 2);
				}

				if ($balance[$locKey] == 0) {
					$emptyVal++;
				}

			}
			?>
			<?php if ($hideZeroVal) { ?>
				<?php if ($emptyVal != sizeof($locationData)) { ?>
					<tr class="hidden collapsAll <?php echo ($value['data']->financeAccountsParentID ==0 )? "class_".$value['data']->financeAccountClassID : $value['data']->financeAccountsParentID ?>" id="<?php echo  $value['data']->financeAccountsID ?>" data-classid="<?php echo $value['data']->financeAccountClassID ?>" data-autotrigger="false" >
						<td><?php echo str_repeat('&nbsp;', 2*$level).$value['data']->financeAccountsCode;
							if(isset($value['child'])){?>
								<span class="glyphicon glyphicon-chevron-down link_color financeAccountChild" style="cursor:pointer;" ></span>
							<?php }?>
						</td>
						<td><?php echo $value['data']->financeAccountsName?></td>
						<?php
						
						foreach ($locationData as $key97 => $value97) {
							$ee = $value97['locationCode'].'-'.$value97['locationID'];
						?>
							<td style="text-align: right" class='balanceAmount'><?php echo $viewBalnce[$ee];  ?></td>
						<?php } ?>
					</tr>
				<?php } ?>
			<?php }else { ?>
				<tr class="hidden collapsAll <?php echo ($value['data']->financeAccountsParentID ==0 )? "class_".$value['data']->financeAccountClassID : $value['data']->financeAccountsParentID ?>" id="<?php echo  $value['data']->financeAccountsID ?>" data-classid="<?php echo $value['data']->financeAccountClassID ?>" data-autotrigger="false" >
					<td><?php echo str_repeat('&nbsp;', 2*$level).$value['data']->financeAccountsCode;
						if(isset($value['child'])){?>
							<span class="glyphicon glyphicon-chevron-down link_color financeAccountChild" style="cursor:pointer;" ></span>
						<?php }?>
					</td>
					<td><?php echo $value['data']->financeAccountsName?></td>
					<?php
					
					foreach ($locationData as $key97 => $value97) {
						$ee = $value97['locationCode'].'-'.$value97['locationID'];
					?>
						<td style="text-align: right" class='balanceAmount'><?php echo $viewBalnce[$ee];  ?></td>
					<?php } ?>
				</tr>
			<?php } ?>
			
			<?php if(isset($value['child'])){
					getChildAccountsLocationWise($value['child'],$acCData,$level+1, $accType, $locationData, $hideZeroVal);
			}
		}
	}
?>