<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
	<?php //include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>
<div id="body">
	<div id="section_header">
	</div>

	<div id="content" style="padding: 0.2em 1%;">

		<?php if (!$sepLocBal && empty($locationData)) { ?>
			<div class="page" style="font-size: 10pt">
				<?php echo $this->headerTemplate; 
				$libilityPlEquityCreditAmount = 0;
				$libilityPlEquityDebitAmount = 0;
				
				foreach ($balanceSheetData as $key => $typeData) {
					
					$TotalDebitValue = 0;
					$TotalCreditValue = 0;
					if($typeData['financeAccountTypesID'] == 1 || $typeData['financeAccountTypesID'] == 5 || $typeData['financeAccountTypesID'] == 2){
					?>
						<div style="line-height:1.5;  margin-top: 2em" ><b><?php echo $typeData['financeAccountTypesName']?></b></div>
						<table class="change_order_items table table-striped" style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; border-collapse: collapse;">
							<thead>
								<tr>
									<th class=""><?php echo $this->translate('Account Code') ?></th>
									<th style="text-align: center" class=""><?php echo $this->translate('Account Name') ?></th>
									<th style="text-align: right" class=""><?php echo $this->translate('Balance') ?></th>
									
								</tr>
							</thead>
							<tbody class='balanceSheetBody'>
					<?php foreach ($typeData as $bsData) {
						$accClassSubTotal = 0;
								if(isset($bsData['financeAccounts'][0]['child'])){
										?>
									<tr>
										<td></td>
										<td style="text-align: center" class=""><b><?php echo $bsData['financeAccountClassName'];?><b></td>
										<td></td>
									</tr>
									<?php
									foreach ($bsData['financeAccounts'][0]['child'] as $key => $value) {
										$amountData = [];
										if(isset($value['child'])){
											
											$amountData = calculateAmounts($value['child']);
											$TotalDebitValue+=$amountData['totalDebitAmount'];
											$TotalCreditValue+=$amountData['totalCreditAmount'];
											if($typeData['financeAccountTypesID'] == 5 || $typeData['financeAccountTypesID'] == 2){
												$libilityPlEquityCreditAmount+=$amountData['totalCreditAmount'];
												$libilityPlEquityDebitAmount+=$amountData['totalDebitAmount'];
											}
										}
										if($typeData['financeAccountTypesID'] == 5 || $typeData['financeAccountTypesID'] == 2){
											$libilityPlEquityCreditAmount+=$value['data']->totalCreditAmount;
											$libilityPlEquityDebitAmount+=$value['data']->totalDebitAmount;
										}
										$TotalDebitValue+=$value['data']->totalDebitAmount;
										$TotalCreditValue+=$value['data']->totalCreditAmount;
									?>
										<?php
											
											$createdCredit = ($amountData['totalCreditAmount'] != 0)? floatval($amountData['totalCreditAmount'])+ floatval($value['data']->totalCreditAmount) : floatval($value['data']->totalCreditAmount);
											$createdDebit = ($amountData['totalDebitAmount'] != 0)? floatval($amountData['totalDebitAmount'])+ floatval($value['data']->totalDebitAmount) : floatval($value['data']->totalDebitAmount);
											if($typeData['financeAccountTypesID'] == 5 || $typeData['financeAccountTypesID'] == 2){
												$balance = floatval($createdCredit) - floatval($createdDebit);
											}
											else if($typeData['financeAccountTypesID'] == 1){
												$balance = floatval($createdDebit) - floatval($createdCredit);
											}
											$accClassSubTotal += floatval($balance);

											if($balance < 0){
												$viewBalnce = '('. number_format($balance* (-1) , 2) .')';
											} else {
												$viewBalnce = number_format($balance, 2);
											}
										?>

										<?php if ($hideZeroVal) { ?>

											<?php if ($balance != 0) { ?>
												<tr class="<?php echo ($value['data']->financeAccountsParentID ==0 )? "class_".$value['data']->financeAccountClassID : $value['data']->financeAccountsParentID ?>" id="<?php echo  $value['data']->financeAccountsID ?>" data-classid="<?php echo $value['data']->financeAccountClassID ?>" data-autotrigger="false" >
													<td><?php echo $value['data']->financeAccountsCode;
														if(isset($value['child'])){?>
															<span class="glyphicon glyphicon-chevron-down link_color financeAccountChild" style="cursor:pointer;" ></span>
														<?php }?>
													</td>
													<td><?php echo $value['data']->financeAccountsName?></td>
													
													<td style="text-align: right" class='balanceAmount'><?php echo $viewBalnce;  ?></td>
													
												</tr>
											<?php } ?>

										<?php } else { ?>
											<tr class="<?php echo ($value['data']->financeAccountsParentID ==0 )? "class_".$value['data']->financeAccountClassID : $value['data']->financeAccountsParentID ?>" id="<?php echo  $value['data']->financeAccountsID ?>" data-classid="<?php echo $value['data']->financeAccountClassID ?>" data-autotrigger="false" >
												<td><?php echo $value['data']->financeAccountsCode;
													if(isset($value['child'])){?>
														<span class="glyphicon glyphicon-chevron-down link_color financeAccountChild" style="cursor:pointer;" ></span>
													<?php }?>
												</td>
												<td><?php echo $value['data']->financeAccountsName?></td>
												
												<td style="text-align: right" class='balanceAmount'><?php echo $viewBalnce;  ?></td>
												
											</tr>
										<?php } ?>

										<?php
										if(isset($value['child'])){
											$level = 1;
											getChildAccounts($value['child'],$bsData,$level, $typeData['financeAccountTypesID'], $hideZeroVal);
										}
									}

								if($accClassSubTotal< 0){
									$accClassSubTotal = '('.number_format($accClassSubTotal*(-1), 2).')';
								} else {
									$accClassSubTotal = number_format($accClassSubTotal,2);
								}
							?>
							<tr>
								<td></td>
								<td class=""><b><?php echo $this->translate('Sub Total Balance'); ?></b></td>
								<td style="text-align: right"><b><?php echo $accClassSubTotal; ?></b></td>
							</tr>
							<tr>
								<td class=""></td>
								<td></td>
								<td></td>
							</tr>

							<?php

						  }

					   		} 
					   		$netProfitforView = 0;
					   		if($typeData['financeAccountTypesID'] == 5){
					   			$netProfitforView = $netProfit;
					   			if($netProfit < 0){
					   				$ntPro = '('.number_format($netProfit*(-1), 2).')';
					   			} else {
					   				$ntPro = number_format($netProfit, 2);
					   			}
					   			?>
					   			<tr>
					   				<td><b><?php echo $this->translate('Net profit')?></b></td>
					   				<td></td>
					   				<td style="text-align: right"><b><?php echo $ntPro; ?></b></td>
					   			</tr>
					   		<?php
					   		}
					   		?>
					   			<tr>
					   				<td><b><?php echo $this->translate('Total')?></b></td>
					   				<td></td>
					   				<?php
					   				if($typeData['financeAccountTypesID'] == 5 || $typeData['financeAccountTypesID'] == 2){
					   					$grandTotal = floatval($TotalCreditValue) - floatval($TotalDebitValue);
					   					
					   				} else {
					   					$grandTotal = floatval($TotalDebitValue) - floatval($TotalCreditValue);
					   				}
					   				$grandTotal += $netProfitforView;

					   				if($grandTotal < 0){
					   					$grandTotalView = '('. number_format($grandTotal*(-1),2) . ')';
					   				} else {
					   					$grandTotalView = number_format($grandTotal,2);
					   				}
					   				?>
					   				<td style="text-align: right" ><b><?php echo  $grandTotalView; ?></b></td>
					   			</tr>
							</tbody>
						</table>
			<?php   } 
				}
			?>
				<table class="change_order_items table table-striped" style="width: 100%; border-top: 2px solid black; border-collapse: collapse; margin-top: 2em">
					<thead>
						<?php if($netProfit < 0){
								$debitProfit = -1*$netProfit; 
							}?>
						<tr>
							<th class=""><b><?php echo $this->translate("Equity + Liability")?></b></th>
							<?php
							
							$EqWithLib = (floatval($netProfit) + floatval($libilityPlEquityCreditAmount)) - (floatval($libilityPlEquityDebitAmount));
							 if($EqWithLib < 0){
							 	$eqWithLibView = '(' . number_format($EqWithLib*(-1), 2).')';
							 } else {
							 	$eqWithLibView = number_format($EqWithLib, 2);
							 }
							?>
							<th></th>
							<th style="text-align: right" class="text-center"><b><?php echo $eqWithLibView ; ?></b></th>
						</tr>
					</thead>
				</table>
			</div>
		<?php } else {?>
			<div class="page" style="font-size: 10pt">
				<?php echo $this->headerTemplate; 
				$libilityPlEquityCreditAmount = [];
				$libilityPlEquityDebitAmount = [];
				foreach ($balanceSheetData as $key => $typeData) {
					$TotalDebitValue = [];
					$TotalCreditValue = [];
					$netProfitforView = [];
					$ss = [];
					$grandTotal= [];
					
					if($typeData['financeAccountTypesID'] == 1 || $typeData['financeAccountTypesID'] == 5 || $typeData['financeAccountTypesID'] == 2){
					?>
						<div style="line-height:1.5;  margin-top: 2em" ><b><?php echo $typeData['financeAccountTypesName']?></b></div>
						<table class="change_order_items table table-striped" style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; border-collapse: collapse;">
							<thead>
								<tr>
									<th class=""><?php echo $this->translate('Account Code') ?></th>
									<th style="text-align: left; width: 27%;" class=""><?php echo $this->translate('Account Name') ?></th>
									<!-- <th style="text-align: right" class=""><?php echo $this->translate('Balance') ?></th> -->
									<?php foreach ($locationData as $key99 => $value99) {?>
										<th style="text-align: right" class=""><?php echo $value99['locationName'].' '.$this->translate('Balance') ?></th>
									<?php } ?>
									
								</tr>
							</thead>
							<tbody class='balanceSheetBody'>
					<?php foreach ($typeData as $bsData) {
						// $accClassSubTotal = 0;
								if(isset($bsData['financeAccounts'][0]['child'])){
										?>
									<tr>
										<!-- <td></td> -->
										<td colspan="<?php echo sizeof($locationData)+2?>" style="text-align: center; width: 100%;" class=""><b><?php echo $bsData['financeAccountClassName'];?><b></td>
										<!-- <?php foreach ($locationData as $key11 => $value11) {?>
											<td></td>
										<?php } ?> -->
									</tr>
									<?php
									foreach ($bsData['financeAccounts'][0]['child'] as $key => $value) {
										$emptyColumns = 0;

										foreach ($locationData as $key22 => $value22) {
											
											$locKey = $value22['locationCode'].'-'.$value22['locationID'];
											$amountData = [];
											if(isset($value['child'])){
												$amountData[$locKey] = calculateAmountsLocWise($value['child'], $locKey);
												$TotalDebitValue[$locKey]+=$amountData[$locKey]['totalDebitAmount'];
												$TotalCreditValue[$locKey]+=$amountData[$locKey]['totalCreditAmount'];
												if($typeData['financeAccountTypesID'] == 5 || $typeData['financeAccountTypesID'] == 2){
													$libilityPlEquityCreditAmount[$locKey]+=$amountData[$locKey]['totalCreditAmount'];
													$libilityPlEquityDebitAmount[$locKey]+=$amountData[$locKey]['totalDebitAmount'];
												}
											}
											if($typeData['financeAccountTypesID'] == 5 || $typeData['financeAccountTypesID'] == 2){
												$libilityPlEquityCreditAmount[$locKey]+=$value['data']->totalCreditAmount[$locKey];
												$libilityPlEquityDebitAmount[$locKey]+=$value['data']->totalDebitAmount[$locKey];
											}
											$TotalDebitValue[$locKey]+=$value['data']->totalDebitAmount[$locKey];
											$TotalCreditValue[$locKey]+=$value['data']->totalCreditAmount[$locKey];



											$createdCredit[$locKey] = ($amountData[$locKey]['totalCreditAmount'] != 0)? floatval($amountData[$locKey]['totalCreditAmount'])+ floatval($value['data']->totalCreditAmount[$locKey]) : floatval($value['data']->totalCreditAmount[$locKey]);
											$createdDebit[$locKey] = ($amountData[$locKey]['totalDebitAmount'] != 0)? floatval($amountData[$locKey]['totalDebitAmount'])+ floatval($value['data']->totalDebitAmount[$locKey]) : floatval($value['data']->totalDebitAmount[$locKey]);
											if($typeData['financeAccountTypesID'] == 5 || $typeData['financeAccountTypesID'] == 2){
												$balance[$value['data']->financeAccountsID][$locKey] = floatval($createdCredit[$locKey]) - floatval($createdDebit[$locKey]);
											}
											else if($typeData['financeAccountTypesID'] == 1){
												$balance[$value['data']->financeAccountsID][$locKey] = floatval($createdDebit[$locKey]) - floatval($createdCredit[$locKey]);
											}
											$accClassSubTotal[$bsData['financeAccountClassID']][$locKey] += floatval($balance[$value['data']->financeAccountsID][$locKey]);

											if($balance[$value['data']->financeAccountsID][$locKey] < 0){
												$viewBalnce[$locKey] = '('. number_format($balance[$value['data']->financeAccountsID][$locKey]* (-1) , 2) .')';
											} else {
												$viewBalnce[$locKey] = number_format($balance[$value['data']->financeAccountsID][$locKey], 2);
											}

											if ($balance[$value['data']->financeAccountsID][$locKey] == 0) {
												$emptyColumns++;
											}
										}

									?>

										<?php if ($hideZeroVal) { ?>
											<?php if ($emptyColumns != sizeof($locationData)) {?>
												<tr class="<?php echo ($value['data']->financeAccountsParentID ==0 )? "class_".$value['data']->financeAccountClassID : $value['data']->financeAccountsParentID ?>" id="<?php echo  $value['data']->financeAccountsID ?>" data-classid="<?php echo $value['data']->financeAccountClassID ?>" data-autotrigger="false" >
													<td><?php echo $value['data']->financeAccountsCode;
														if(isset($value['child'])){?>
															<span class="glyphicon glyphicon-chevron-down link_color financeAccountChild" style="cursor:pointer;" ></span>
														<?php }?>
													</td>
													<td style="text-align: left; width: 27%;"><?php echo $value['data']->financeAccountsName?></td>
													<?php
													
													foreach ($locationData as $key33 => $value33) {
														$tt = $value33['locationCode'].'-'.$value33['locationID'];
													?>
													<td style="text-align: right" class='balanceAmount'><?php echo $viewBalnce[$tt];  ?></td>
													<?php } ?>
												</tr>
											<?php } ?>
										<?php } else { ?>
											<tr class="<?php echo ($value['data']->financeAccountsParentID ==0 )? "class_".$value['data']->financeAccountClassID : $value['data']->financeAccountsParentID ?>" id="<?php echo  $value['data']->financeAccountsID ?>" data-classid="<?php echo $value['data']->financeAccountClassID ?>" data-autotrigger="false" >
												<td><?php echo $value['data']->financeAccountsCode;
													if(isset($value['child'])){?>
														<span class="glyphicon glyphicon-chevron-down link_color financeAccountChild" style="cursor:pointer;" ></span>
													<?php }?>
												</td>
												<td style="text-align: left; width: 27%;"><?php echo $value['data']->financeAccountsName?></td>
												<?php
												
												foreach ($locationData as $key33 => $value33) {
													$tt = $value33['locationCode'].'-'.$value33['locationID'];
												?>
												<td style="text-align: right" class='balanceAmount'><?php echo $viewBalnce[$tt];  ?></td>
												<?php } ?>
											</tr>
										<?php } ?>
										<?php
										if(isset($value['child'])){
											$level = 1;
											getChildAccountsLocationWise($value['child'],$bsData,$level, $typeData['financeAccountTypesID'], $locationData, $hideZeroVal);
										}
									}
							?>
							<tr>
								<td></td>
								<td class="" style="text-align: left; width: 27%;"><b><?php echo $this->translate('Sub Total Balance'); ?></b></td>
								<?php foreach ($locationData as $key44 => $value44) { 
									$cc = $value44['locationCode'].'-'.$value44['locationID'];

									$ss[$cc] += $accClassSubTotal[$bsData['financeAccountClassID']][$cc]; 

									if($accClassSubTotal[$bsData['financeAccountClassID']][$cc]< 0){
										$accClassSubTotal[$bsData['financeAccountClassID']][$cc] = '('.number_format($accClassSubTotal[$bsData['financeAccountClassID']][$cc]*(-1), 2).')';
									} else {
										$accClassSubTotal[$bsData['financeAccountClassID']][$cc] = number_format($accClassSubTotal[$bsData['financeAccountClassID']][$cc],2);
									}


								?>
									
									<td style="text-align: right"><b><?php echo $accClassSubTotal[$bsData['financeAccountClassID']][$cc]; ?></b></td>
								<?php } ?>
							</tr>
							<tr>
								<td class=""></td>
								<td></td>
								<?php foreach ($locationData as $key55 => $value55) { ?>
									<td></td>
								<?php } ?>
							</tr>

							<?php

						  }

					   		} 
					   		
					   		if($typeData['financeAccountTypesID'] == 5){
					   			foreach ($locationData as $key55 => $value55) {
					   				$ket = $value55['locationCode'].'-'.$value55['locationID'];
						   			if($netProfitData[$ket] < 0){
						   				$ntPro[$ket] = '('.number_format($netProfitData[$ket]*(-1), 2).')';
						   			} else {
						   				$ntPro[$ket] = number_format($netProfitData[$ket], 2);
						   			}
					   			}

					   			?>
					   			<tr>
					   				<td><b><?php echo $this->translate('Net profit')?></b></td>
					   				<td></td>
					   				<?php  foreach ($locationData as $key0 => $value0) {
					   					$pp = $value0['locationCode'].'-'.$value0['locationID'];
					   				?>
					   					<td style="text-align: right"><b><?php echo $ntPro[$pp]; ?></b></td>
					   				<?php } ?>
					   			</tr>
					   		<?php
					   		}
					   		?>
					   		<tr>
				   				<td><b><?php echo $this->translate('Total')?></b></td>
				   				<td></td>
				   				<?php
				   				foreach ($locationData as $key00 => $value00) {
				   					$cc = $value00['locationCode'].'-'.$value00['locationID'];

					   				if($typeData['financeAccountTypesID'] == 5 || $typeData['financeAccountTypesID'] == 2){
					   					$grandTotal[$cc] = floatval($TotalCreditValue[$cc]) - floatval($TotalDebitValue[$cc]);
					   					
					   				} else {
					   					$grandTotal[$cc] = floatval($TotalDebitValue[$cc]) - floatval($TotalCreditValue[$cc]);
					   				}

					   				if($typeData['financeAccountTypesID'] == 5){

					   					$grandTotal[$cc] += $netProfitData[$cc];
					   				}

					   				if($grandTotal[$cc] < 0){
					   					$grandTotalView[$cc] = (!empty($grandTotal[$cc])) ? '('. number_format($grandTotal[$cc]*(-1),2) . ')' : 0.00;
					   				} else {
					   					$grandTotalView[$cc] = (!empty($grandTotal[$cc])) ? number_format($grandTotal[$cc],2) : 0.00;
					   				}
					   			?>
					   				<td style="text-align: right" ><b><?php echo  $grandTotalView[$cc]; ?></b></td>
					   			<?php } ?>
				   			</tr>
					   		
					   			
							</tbody>
						</table>

				<?php } 
				}
			?>
				<table class="change_order_items table table-striped" style="width: 100%; border-top: 2px solid black; border-collapse: collapse; margin-top: 2em">
					<thead>
						
						<tr>
							<th style="width: 20%" class=""><b><?php echo $this->translate("Equity + Liability")?></b></th>
							<?php 
								if(sizeof($locationData)==2) {
							?>
								<th style="width: 30%;"></th>
							<?php } elseif(sizeof($locationData)==3) {?>
								<th style="width: 25%;"></th>
							<?php } else {?>
								<th></th>
							<?php }?>

							<?php

								foreach ($locationData as $key50 => $value50) {
									$pp = $value50['locationCode'].'-'.$value50['locationID'];
									
									$EqWithLib[$pp] = (floatval($netProfitData[$pp]) + floatval($libilityPlEquityCreditAmount[$pp])) - (floatval($libilityPlEquityDebitAmount[$pp]));
									if($EqWithLib[$pp] < 0){
									 	$eqWithLibView[$pp] = '(' . number_format($EqWithLib[$pp]*(-1), 2).')';
									} else {
									 	$eqWithLibView[$pp] = number_format($EqWithLib[$pp], 2);
									}
							?>
								<th style="text-align: right; width: 19%;" class="text-center"><b><?php echo $eqWithLibView[$pp] ; ?></b></th>
							<?php } ?>
						</tr>
					</thead>
				</table>
			</div>
		<?php } ?>
	</div>
</div>

<?php 
function getChildAccounts($dataArray,$acCData,$level, $accType,$hideZeroVal){ 
	foreach ($dataArray as $value) {

		if(isset($value['child'])){
			$amountData = calculateAmounts($value['child']);
		}
		?>
		<?php
			
			$createdCredit = ($amountData['totalCreditAmount'] != 0)? floatval($amountData['totalCreditAmount'])+ floatval($value['data']->totalCreditAmount) : floatval($value['data']->totalCreditAmount);
			$createdDebit = ($amountData['totalDebitAmount'] != 0)? floatval($amountData['totalDebitAmount'])+ floatval($value['data']->totalDebitAmount) : floatval($value['data']->totalDebitAmount);
			if($accType == 5 || $accType == 2){
				$balance = floatval($createdCredit) - floatval($createdDebit);
			}
			else if($accType == 1){
				$balance = floatval($createdDebit) - floatval($createdCredit);
			}
			
			if($balance < 0){
				$viewBalnce = '('. number_format($balance* (-1) , 2) .')';
			} else {
				$viewBalnce = number_format($balance, 2);
			}
		?>

		<?php if ($hideZeroVal) {?>
			<?php if ($balance != 0) {?>
				<tr class="hidden collapsAll <?php echo ($value['data']->financeAccountsParentID ==0 )? "class_".$value['data']->financeAccountClassID : $value['data']->financeAccountsParentID ?>" id="<?php echo  $value['data']->financeAccountsID ?>" data-classid="<?php echo $value['data']->financeAccountClassID ?>" data-autotrigger="false" >
					<td><?php echo str_repeat('&nbsp;', 2*$level).$value['data']->financeAccountsCode;
						if(isset($value['child'])){?>
							<span class="glyphicon glyphicon-chevron-down link_color financeAccountChild" style="cursor:pointer;" ></span>
						<?php }?>
					</td>
					<td><?php echo $value['data']->financeAccountsName?></td>
					
					<td style="text-align: right" class='balanceAmount'><?php echo $viewBalnce;  ?></td>
				</tr>
			<?php } ?>
		<?php } else { ?>
			<tr class="hidden collapsAll <?php echo ($value['data']->financeAccountsParentID ==0 )? "class_".$value['data']->financeAccountClassID : $value['data']->financeAccountsParentID ?>" id="<?php echo  $value['data']->financeAccountsID ?>" data-classid="<?php echo $value['data']->financeAccountClassID ?>" data-autotrigger="false" >
				<td><?php echo str_repeat('&nbsp;', 2*$level).$value['data']->financeAccountsCode;
					if(isset($value['child'])){?>
						<span class="glyphicon glyphicon-chevron-down link_color financeAccountChild" style="cursor:pointer;" ></span>
					<?php }?>
				</td>
				<td><?php echo $value['data']->financeAccountsName?></td>
				
				<td style="text-align: right" class='balanceAmount'><?php echo $viewBalnce;  ?></td>
			</tr>
		<?php } ?>
		<?php if(isset($value['child'])){
				getChildAccounts($value['child'],$acCData,$level+1, $accType, $hideZeroVal);
		}
	}
} 
function getChildAccountsLocationWise($dataArray,$acCData,$level, $accType, $locationData, $hideZeroVal){ 
	foreach ($dataArray as $value) {
		$emptyVal = 0;
		foreach ($locationData as $key71 => $value71) {

			$locKey = $value71['locationCode'].'-'.$value71['locationID'];
			$amountData = [];
			if(isset($value['child'])){
				$amountData[$locKey] = calculateAmountsLocWise($value['child'], $locKey);
			}

			$createdCredit[$locKey] = ($amountData[$locKey]['totalCreditAmount'] != 0)? floatval($amountData[$locKey]['totalCreditAmount'])+ floatval($value['data']->totalCreditAmount[$locKey]) : floatval($value['data']->totalCreditAmount[$locKey]);
			$createdDebit[$locKey] = ($amountData[$locKey]['totalDebitAmount'] != 0)? floatval($amountData[$locKey]['totalDebitAmount'])+ floatval($value['data']->totalDebitAmount[$locKey]) : floatval($value['data']->totalDebitAmount[$locKey]);
			if($accType == 5 || $accType == 2){
				$balance[$locKey] = floatval($createdCredit[$locKey]) - floatval($createdDebit[$locKey]);
			}
			else if($accType == 1){
				$balance[$locKey] = floatval($createdDebit[$locKey]) - floatval($createdCredit[$locKey]);
			}

			if($balance[$locKey] < 0){
				$viewBalnce[$locKey] = '('. number_format($balance[$locKey]* (-1) , 2) .')';
			} else {
				$viewBalnce[$locKey] = number_format($balance[$locKey], 2);
			}

			if ($balance[$locKey] == 0) {
				$emptyVal++;
			}

		}
		?>
		<?php if ($hideZeroVal) { ?>

			<?php if ($emptyVal != sizeof($locationData)) { ?>

				<tr class="hidden collapsAll <?php echo ($value['data']->financeAccountsParentID ==0 )? "class_".$value['data']->financeAccountClassID : $value['data']->financeAccountsParentID ?>" id="<?php echo  $value['data']->financeAccountsID ?>" data-classid="<?php echo $value['data']->financeAccountClassID ?>" data-autotrigger="false" >
					<td><?php echo str_repeat('&nbsp;', 2*$level).$value['data']->financeAccountsCode;
						if(isset($value['child'])){?>
							<span class="glyphicon glyphicon-chevron-down link_color financeAccountChild" style="cursor:pointer;" ></span>
						<?php }?>
					</td>
					<td><?php echo $value['data']->financeAccountsName?></td>
					<?php
					
					foreach ($locationData as $key97 => $value97) {
						$ee = $value97['locationCode'].'-'.$value97['locationID'];
					?>
						<td style="text-align: right" class='balanceAmount'><?php echo $viewBalnce[$ee];  ?></td>
					<?php } ?>
				</tr>

			<?php } ?>

		<?php } else { ?>

			<tr class="hidden collapsAll <?php echo ($value['data']->financeAccountsParentID ==0 )? "class_".$value['data']->financeAccountClassID : $value['data']->financeAccountsParentID ?>" id="<?php echo  $value['data']->financeAccountsID ?>" data-classid="<?php echo $value['data']->financeAccountClassID ?>" data-autotrigger="false" >
				<td><?php echo str_repeat('&nbsp;', 2*$level).$value['data']->financeAccountsCode;
					if(isset($value['child'])){?>
						<span class="glyphicon glyphicon-chevron-down link_color financeAccountChild" style="cursor:pointer;" ></span>
					<?php }?>
				</td>
				<td><?php echo $value['data']->financeAccountsName?></td>
				<?php
				
				foreach ($locationData as $key97 => $value97) {
					$ee = $value97['locationCode'].'-'.$value97['locationID'];
				?>
					<td style="text-align: right" class='balanceAmount'><?php echo $viewBalnce[$ee];  ?></td>
				<?php } ?>
			</tr>
		<?php } ?>
		
		<?php if(isset($value['child'])){
				getChildAccountsLocationWise($value['child'],$acCData,$level+1, $accType, $locationData, $hideZeroVal);
		}
	}
}
?>

<?php 

	function calculateAmounts($dataArray){
		$creditAmountTotal = 0; 
		$debitAmountTotal = 0;
		foreach ($dataArray as $value) {
			if(isset($value['child'])){
				$amountData = calculateAmounts($value['child']);
				$creditAmountTotal+=$amountData['totalCreditAmount'];
				$debitAmountTotal+=$amountData['totalDebitAmount'];
			}
			$creditAmountTotal+=$value['data']->totalCreditAmount;
			$debitAmountTotal+=$value['data']->totalDebitAmount;
		}
		return array('totalCreditAmount'=> $creditAmountTotal, 'totalDebitAmount' => $debitAmountTotal);
	}

	function calculateAmountsLocWise($dataArray, $kk){
		// $kk = $locData['locationCode'].'-'.$locData['locationID'];
		$creditAmountTotal = 0; 
		$debitAmountTotal = 0;
		foreach ($dataArray as $value) {
			if(isset($value['child'])){
				$amountData = calculateAmountsLocWise($value['child'], $kk);
				$creditAmountTotal+=$amountData['totalCreditAmount'];
				$debitAmountTotal+=$amountData['totalDebitAmount'];
			}
			$creditAmountTotal+=$value['data']->totalCreditAmount[$kk];
			$debitAmountTotal+=$value['data']->totalDebitAmount[$kk];
		}
		return array('totalCreditAmount'=> $creditAmountTotal, 'totalDebitAmount' => $debitAmountTotal);
	}

?>