<?php ini_set('memory_limit', '-1'); ?>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
	<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>
<div id="body">
	<div id="section_header">
	</div>

	<div id="content">
		<?php if (!$sepLocBal && empty($locationData)) { ?>
			<div class="page" style="font-size: 7pt">

				<?php echo $this->headerTemplate; ?>
				<table class="change_order_items" style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
					<thead >
						<tr>
							<th class=""><?php echo $this->translate('Account Name') ?></th>
							<th class=""><?php echo $this->translate('Account Code') ?></th>
							<th class=""><?php echo $this->translate('Account Class') ?></th>
							<th class=""><?php echo $this->translate('Account Type') ?></th>
							<th style="text-align: right" class=""><?php echo $this->translate('Debit') ?></th>
							<th style="text-align: right" class=""><?php echo $this->translate('Credit') ?></th>
						</tr>
					</thead>
					<tbody class='trialBalanceBody'>
						<?php 
						$TotalCreditValue = 0;
						$TotalDebitValue = 0;
						foreach ($trialBalanceData as $key => $tbalance) { 
							?>
							<?php if(isset($tbalance['financeAccounts'][0]['child'])){
								foreach ($tbalance['financeAccounts'][0]['child'] as $key => $value) {
									$amountData = [];
									if(isset($value['child'])){
										$amountData = calculateAmounts($value['child']);
									}
							?>		
									<?php
									//set credit value
									if($amountData['totalCreditAmount'] != 0){
										$singlelineCredit = floatval($amountData['totalCreditAmount']) + floatval($value['data']->totalCreditAmount);
									} else {
										$singlelineCredit = floatval($value['data']->totalCreditAmount);
									} 
									//set debit value
									if($amountData['totalDebitAmount'] != 0){
										$singlelineDebit = floatval($amountData['totalDebitAmount']) + floatval($value['data']->totalDebitAmount);
									} else {
										$singlelineDebit = floatval($value['data']->totalDebitAmount);
									}

									$viewDebitBalance = number_format(0,2);
									$viewCreditBalance = number_format(0,2);
									//get differnce by debit & credit
									$singleLIneBalance = floatval($singlelineDebit) - floatval($singlelineCredit);
									if($singleLIneBalance < 0){
										$viewCreditBalance = number_format(floatval($singleLIneBalance)*(-1), 2);
										$TotalCreditValue += floatval($singleLIneBalance)*(-1);
									} else {
										$viewDebitBalance = number_format(floatval($singleLIneBalance), 2);
										$TotalDebitValue += floatval($singleLIneBalance);
									}

									// if ($viewDebitBalance != 0 || $viewCreditBalance != 0) {
									?>

									<?php if ($hideZeroVal) { ?>
										<?php if ($viewDebitBalance != 0 || $viewCreditBalance != 0) { ?>
											<tr class="even_row <?php echo ($value['data']->financeAccountsParentID == 0 )? "class_".$value['data']->financeAccountClassID : $value['data']->financeAccountsParentID ?>" id="<?php echo  $value['data']->financeAccountsID ?>" data-classid="<?php echo $value['data']->financeAccountClassID ?>" data-autotrigger="false" >
												<td><?php echo $value['data']->financeAccountsName;
													if(isset($value['child'])){?>
														<span class="glyphicon glyphicon-chevron-down link_color financeAccountChild" style="cursor:pointer;" ></span>
													<?php }?>
												</td>
												<td><?php echo $value['data']->financeAccountsCode?></td>
												<td><?php echo $tbalance['financeAccountClassName']?></td>
												<td><?php echo $tbalance['financeAccountTypesName'] ?></td>
												<td style="text-align: right" class='balance'><?php echo $viewDebitBalance;  ?></td>
												<td style="text-align: right" class='balance'><?php echo $viewCreditBalance;  ?></td>
											</tr>
										<?php } ?>
										
									<?php } else { ?>
										<tr class="even_row <?php echo ($value['data']->financeAccountsParentID == 0 )? "class_".$value['data']->financeAccountClassID : $value['data']->financeAccountsParentID ?>" id="<?php echo  $value['data']->financeAccountsID ?>" data-classid="<?php echo $value['data']->financeAccountClassID ?>" data-autotrigger="false" >
											<td><?php echo $value['data']->financeAccountsName;
												if(isset($value['child'])){?>
													<span class="glyphicon glyphicon-chevron-down link_color financeAccountChild" style="cursor:pointer;" ></span>
												<?php }?>
											</td>
											<td><?php echo $value['data']->financeAccountsCode?></td>
											<td><?php echo $tbalance['financeAccountClassName']?></td>
											<td><?php echo $tbalance['financeAccountTypesName'] ?></td>
											<td style="text-align: right" class='balance'><?php echo $viewDebitBalance;  ?></td>
											<td style="text-align: right" class='balance'><?php echo $viewCreditBalance;  ?></td>
										</tr>
									<?php } ?>
								<?php
									// }

									if(isset($value['child'])){
										$level = 1;
										getChildAccounts($value['child'],$tbalance,$level, $hideZeroVal);
									}
								}
							} 
						}
						?>
						<tr>
							<td><b><?php echo $this->translate('Total')?></b></td>
							<td></td>
							<td></td>
							<td></td>
							<td style="text-align: right" ><b><?php echo number_format($TotalDebitValue, 2) ; ?></b></td>
							<td style="text-align: right" ><b><?php echo number_format($TotalCreditValue, 2) ; ?></b></td>
						</tr>
					</tbody>
				</table>
			</div>
		<?php } else { ?>
			<div class="page" style="font-size: 7pt">
				<?php echo $this->headerTemplate; ?>
				<table class="change_order_items" style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
					<thead >
						<tr>
							<th class=""><?php echo $this->translate('Location') ?></th>
							<th class=""><?php echo $this->translate('Account Name') ?></th>
							<th class=""><?php echo $this->translate('Account Code') ?></th>
							<th class=""><?php echo $this->translate('Account Class') ?></th>
							<th class=""><?php echo $this->translate('Account Type') ?></th>
							<th style="text-align: right" class=""><?php echo $this->translate('Debit') ?></th>
							<th style="text-align: right" class=""><?php echo $this->translate('Credit') ?></th>
						</tr>
					</thead>
					<tbody class='trialBalanceBody'>
						<?php 

						foreach ($locationData as $key5 => $value5) {
							$TotalCreditValue = 0;
							$TotalDebitValue = 0;
							$locKey5 = $value5['locationCode'].'-'.$value5['locationID'];
						?>
							<tr>
								<td><?php echo $value5['locationName']; ?></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								
							</tr>
						<?php 
						foreach ($trialBalanceData[$locKey5] as $key => $tbalance) { 
							?>
							<?php if(isset($tbalance['financeAccounts'][0]['child'])){
								foreach ($tbalance['financeAccounts'][0]['child'] as $key => $value) {
									$amountData = [];
									if(isset($value['child'])){
										$amountData = calculateAmounts($value['child']);
									}
							?>		
									<?php
									//set credit value
									if($amountData['totalCreditAmount'] != 0){
										$singlelineCredit = floatval($amountData['totalCreditAmount']) + floatval($value['data']->totalCreditAmount);
									} else {
										$singlelineCredit = floatval($value['data']->totalCreditAmount);
									} 
									//set debit value
									if($amountData['totalDebitAmount'] != 0){
										$singlelineDebit = floatval($amountData['totalDebitAmount']) + floatval($value['data']->totalDebitAmount);
									} else {
										$singlelineDebit = floatval($value['data']->totalDebitAmount);
									}

									$viewDebitBalance = number_format(0,2);
									$viewCreditBalance = number_format(0,2);
									//get differnce by debit & credit
									$singleLIneBalance = floatval($singlelineDebit) - floatval($singlelineCredit);
									if($singleLIneBalance < 0){
										$viewCreditBalance = number_format(floatval($singleLIneBalance)*(-1), 2);
										$TotalCreditValue += floatval($singleLIneBalance)*(-1);
									} else {
										$viewDebitBalance = number_format(floatval($singleLIneBalance), 2);
										$TotalDebitValue += floatval($singleLIneBalance);
									}

									// if ($viewDebitBalance != 0 || $viewCreditBalance != 0) {
									?>

									<?php if ($hideZeroVal) { ?>
										<?php  if ($viewDebitBalance != 0 || $viewCreditBalance != 0) {?>
											<tr class="even_row <?php echo ($value['data']->financeAccountsParentID == 0 )? "class_".$value['data']->financeAccountClassID : $value['data']->financeAccountsParentID ?>" id="<?php echo  $value['data']->financeAccountsID ?>" data-classid="<?php echo $value['data']->financeAccountClassID ?>" data-autotrigger="false" >
												<td></td>
												<td><?php echo $value['data']->financeAccountsName;
													if(isset($value['child'])){?>
														<span class="glyphicon glyphicon-chevron-down link_color financeAccountChild" style="cursor:pointer;" ></span>
													<?php }?>
												</td>
												<td><?php echo $value['data']->financeAccountsCode?></td>
												<td><?php echo $tbalance['financeAccountClassName']?></td>
												<td><?php echo $tbalance['financeAccountTypesName'] ?></td>
												<td style="text-align: right" class='balance'><?php echo $viewDebitBalance;  ?></td>
												<td style="text-align: right" class='balance'><?php echo $viewCreditBalance;  ?></td>
											</tr>
										<?php } ?>
									<?php } else { ?>
										<tr class="even_row <?php echo ($value['data']->financeAccountsParentID == 0 )? "class_".$value['data']->financeAccountClassID : $value['data']->financeAccountsParentID ?>" id="<?php echo  $value['data']->financeAccountsID ?>" data-classid="<?php echo $value['data']->financeAccountClassID ?>" data-autotrigger="false" >
											<td></td>
											<td><?php echo $value['data']->financeAccountsName;
												if(isset($value['child'])){?>
													<span class="glyphicon glyphicon-chevron-down link_color financeAccountChild" style="cursor:pointer;" ></span>
												<?php }?>
											</td>
											<td><?php echo $value['data']->financeAccountsCode?></td>
											<td><?php echo $tbalance['financeAccountClassName']?></td>
											<td><?php echo $tbalance['financeAccountTypesName'] ?></td>
											<td style="text-align: right" class='balance'><?php echo $viewDebitBalance;  ?></td>
											<td style="text-align: right" class='balance'><?php echo $viewCreditBalance;  ?></td>
										</tr>
									<?php } ?>
										
								<?php
									// }

									if(isset($value['child'])){
										$level = 1;
										getChildAccountsForLoc($value['child'],$tbalance,$level, $hideZeroVal);
									}
								}
							} 
						}
						?>
						<tr>
							<td></td>
							<td><b><?php echo $this->translate('Total')?></b></td>
							<td></td>
							<td></td>
							<td></td>
							<td style="text-align: right" ><b><?php echo number_format($TotalDebitValue, 2) ; ?></b></td>
							<td style="text-align: right" ><b><?php echo number_format($TotalCreditValue, 2) ; ?></b></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					<?php } ?>
					</tbody>
				</table>
			</div>
		<?php } ?>
		
	</div>
</div>

<?php 

function getChildAccounts($dataArray,$acCData,$level, $hideZeroVal){ 
	foreach ($dataArray as $value) {
		if(isset($value['child'])){
			$amountData = calculateAmounts($value['child']);
		}
		?>

		<?php
			//set credit value
			if($amountData['totalCreditAmount'] != 0){
				$singlelineCredit = floatval($amountData['totalCreditAmount']) + floatval($value['data']->totalCreditAmount);
			} else {
				$singlelineCredit = floatval($value['data']->totalCreditAmount);
			} 
			//set debit value
			if($amountData['totalDebitAmount'] != 0){
				$singlelineDebit = floatval($amountData['totalDebitAmount']) + floatval($value['data']->totalDebitAmount);
			} else {
				$singlelineDebit = floatval($value['data']->totalDebitAmount);
			}

			//get differnce by debit & credit
			$singleLIneBalance = floatval($singlelineDebit) - floatval($singlelineCredit);
			if($singleLIneBalance < 0){
				$viewBalance = '('. number_format(floatval($singleLIneBalance)*(-1), 2).')';
			} else {
				$viewBalance = number_format(floatval($singleLIneBalance), 2);
			}

		?>

		<?php if ($hideZeroVal) { ?>
			<?php if ($singlelineDebit != 0 || $singlelineCredit != 0) { ?>
				<tr class="even_row collapsAll <?php echo ($value['data']->financeAccountsParentID ==0 )? "class_".$value['data']->financeAccountClassID : $value['data']->financeAccountsParentID ?>" id="<?php echo  $value['data']->financeAccountsID ?>" data-classid="<?php echo $value['data']->financeAccountClassID ?>" data-autotrigger="false" >
					<td><?php echo str_repeat('&nbsp;', 2*$level).$value['data']->financeAccountsName;
						if(isset($value['child'])){?>
							<span class="glyphicon glyphicon-chevron-down link_color financeAccountChild" style="cursor:pointer;" ></span>
						<?php }?>
					</td>
					<td><?php echo $value['data']->financeAccountsCode?></td>
					<td><?php echo $acCData['financeAccountClassName']?></td>
					<td><?php echo $acCData['financeAccountTypesName'] ?></td>
					
					<td style="text-align: right" class='balance'><?php echo $viewBalance;  ?></td>
				</tr>
			<?php } ?>
		<?php } else { ?>
			<tr class="even_row collapsAll <?php echo ($value['data']->financeAccountsParentID ==0 )? "class_".$value['data']->financeAccountClassID : $value['data']->financeAccountsParentID ?>" id="<?php echo  $value['data']->financeAccountsID ?>" data-classid="<?php echo $value['data']->financeAccountClassID ?>" data-autotrigger="false" >
				<td><?php echo str_repeat('&nbsp;', 2*$level).$value['data']->financeAccountsName;
					if(isset($value['child'])){?>
						<span class="glyphicon glyphicon-chevron-down link_color financeAccountChild" style="cursor:pointer;" ></span>
					<?php }?>
				</td>
				<td><?php echo $value['data']->financeAccountsCode?></td>
				<td><?php echo $acCData['financeAccountClassName']?></td>
				<td><?php echo $acCData['financeAccountTypesName'] ?></td>
				
				<td style="text-align: right" class='balance'><?php echo $viewBalance;  ?></td>
			</tr>
		<?php } ?>
		<?php if(isset($value['child'])){
				getChildAccounts($value['child'],$acCData,$level+1, $hideZeroVal);
		}
	}
} 

function getChildAccountsForLoc($dataArray,$acCData,$level, $hideZeroVal){ 
	foreach ($dataArray as $value) {
		if(isset($value['child'])){
			$amountData = calculateAmounts($value['child']);
		}
		?>

		<?php
			//set credit value
			if($amountData['totalCreditAmount'] != 0){
				$singlelineCredit = floatval($amountData['totalCreditAmount']) + floatval($value['data']->totalCreditAmount);
			} else {
				$singlelineCredit = floatval($value['data']->totalCreditAmount);
			} 
			//set debit value
			if($amountData['totalDebitAmount'] != 0){
				$singlelineDebit = floatval($amountData['totalDebitAmount']) + floatval($value['data']->totalDebitAmount);
			} else {
				$singlelineDebit = floatval($value['data']->totalDebitAmount);
			}

			//get differnce by debit & credit
			$singleLIneBalance = floatval($singlelineDebit) - floatval($singlelineCredit);
			if($singleLIneBalance < 0){
				$viewBalance = '('. number_format(floatval($singleLIneBalance)*(-1), 2).')';
			} else {
				$viewBalance = number_format(floatval($singleLIneBalance), 2);
			}

		?>

		<?php if ($hideZeroVal) { ?>
			<?php if ($singlelineDebit != 0 || $singlelineCredit != 0) { ?>
				<tr class="even_row collapsAll <?php echo ($value['data']->financeAccountsParentID ==0 )? "class_".$value['data']->financeAccountClassID : $value['data']->financeAccountsParentID ?>" id="<?php echo  $value['data']->financeAccountsID ?>" data-classid="<?php echo $value['data']->financeAccountClassID ?>" data-autotrigger="false" >
					<td></td>
					<td><?php echo str_repeat('&nbsp;', 2*$level).$value['data']->financeAccountsName;
						if(isset($value['child'])){?>
							<span class="glyphicon glyphicon-chevron-down link_color financeAccountChild" style="cursor:pointer;" ></span>
						<?php }?>
					</td>
					<td><?php echo $value['data']->financeAccountsCode?></td>
					<td><?php echo $acCData['financeAccountClassName']?></td>
					<td><?php echo $acCData['financeAccountTypesName'] ?></td>
					
					<td style="text-align: right" class='balance'><?php echo $viewBalance;  ?></td>
				</tr>
			<?php } ?>
		<?php } else {?>
			<tr class="even_row collapsAll <?php echo ($value['data']->financeAccountsParentID ==0 )? "class_".$value['data']->financeAccountClassID : $value['data']->financeAccountsParentID ?>" id="<?php echo  $value['data']->financeAccountsID ?>" data-classid="<?php echo $value['data']->financeAccountClassID ?>" data-autotrigger="false" >
				<td></td>
				<td><?php echo str_repeat('&nbsp;', 2*$level).$value['data']->financeAccountsName;
					if(isset($value['child'])){?>
						<span class="glyphicon glyphicon-chevron-down link_color financeAccountChild" style="cursor:pointer;" ></span>
					<?php }?>
				</td>
				<td><?php echo $value['data']->financeAccountsCode?></td>
				<td><?php echo $acCData['financeAccountClassName']?></td>
				<td><?php echo $acCData['financeAccountTypesName'] ?></td>
				
				<td style="text-align: right" class='balance'><?php echo $viewBalance;  ?></td>
			</tr>
		<?php } ?>
		<?php if(isset($value['child'])){
				getChildAccountsForLoc($value['child'],$acCData,$level+1, $hideZeroVal);
		}
	}
} 


?>

<?php function calculateAmounts($dataArray){
	$creditAmountTotal = 0; 
	$debitAmountTotal = 0;
	foreach ($dataArray as $value) {
		if(isset($value['child'])){
			$amountData = calculateAmounts($value['child']);
			$creditAmountTotal+=$amountData['totalCreditAmount'];
			$debitAmountTotal+=$amountData['totalDebitAmount'];
		}
		$creditAmountTotal+=$value['data']->totalCreditAmount;
		$debitAmountTotal+=$value['data']->totalDebitAmount;
	}
	return array('totalCreditAmount'=> $creditAmountTotal, 'totalDebitAmount' => $debitAmountTotal);
}?>