<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
    <?php //include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>
<style>
    td.columnWidth {
        max-width:90px;
        word-wrap:break-word;
}
</style>

<div id="body">
    <div id="section_header">
    </div>

    <div id="content" style="padding: 0.2em 1%;">

        <div class="page" style="font-size: 10pt">
            <?php echo $this->headerTemplate; ?> 
            
            <div style="line-height:1.5;  margin-top: 2em"></div>

            <div class="row show-grid" style="background-color: #f6f6f6;" >
                <div class="col-md-6" style="border: 2px solid gray; padding: 10px; text-align: center"><b><?php echo $this->translate('Account Code And Name');?></b></div>
                <div class="col-md-2" style="border: 2px solid gray; padding: 10px; text-align: center"><b><?php echo $this->translate('Opening Balance');?></b></div>
                <div class="col-md-2" style="border: 2px solid gray; padding: 10px; text-align: center"><b><?php echo $this->translate('Moving Balance');?></b></div>
                <div class="col-md-2" style="border: 2px solid gray; padding: 10px; text-align: center"><b><?php echo $this->translate('Closing Balance');?></b></div>
            </div>
            
            </br>
            
            <?php 
            foreach ($auditSheduleData as $key => $Data) {

                $openingBalanaceAmount = 0;
                $movingBalanaceAmount = 0;
                $currentBalanaceAmount = 0;
                
                if ($Data['accountsData']['financeAccountsTypeID'] == 1 || $Data['accountsData']['financeAccountsTypeID'] == 3 || $Data['accountsData']['financeAccountsTypeID'] == 6) {

                        

                    $openingBalanaceAmount =  $Data['openingBalanceData']['totalDebitAmount'] -  $Data['openingBalanceData']['totalCreditAmount'];

                    if (empty($Data['movementCreditBalance'])) {
                        $Data['movementCreditBalance'] = 0;
                    }

                    if (empty($Data['movementDebitBalance'])) {
                        $Data['movementDebitBalance'] = 0;
                    }


                    $movingBalanaceAmount = $Data['movementDebitBalance'] - $Data['movementCreditBalance'];


                    $currentBalanaceAmount = ($Data['openingBalanceData']['totalDebitAmount'] + $Data['movementDebitBalance']) - ($Data['openingBalanceData']['totalCreditAmount'] + $Data['movementCreditBalance']);


                } elseif ($Data['accountsData']['financeAccountsTypeID'] == 2 || $Data['accountsData']['financeAccountsTypeID'] == 4 || $Data['accountsData']['financeAccountsTypeID'] == 5  || $Data['accountsData']['financeAccountsTypeID'] == 7) {


                    $openingBalanaceAmount =  $Data['openingBalanceData']['totalCreditAmount'] - $Data['openingBalanceData']['totalDebitAmount'];

                    if (empty($Data['movementCreditBalance'])) {
                        $Data['movementCreditBalance'] = 0;
                    }

                    if (empty($Data['movementDebitBalance'])) {
                        $Data['movementDebitBalance'] = 0;
                    }

                    $movingBalanaceAmount = $Data['movementCreditBalance'] - $Data['movementDebitBalance'];


                    $currentBalanaceAmount = ($Data['openingBalanceData']['totalCreditAmount'] + $Data['movementCreditBalance']) - ($Data['openingBalanceData']['totalDebitAmount'] + $Data['movementDebitBalance']);

                }
            ?>

                <?php

                 if ($hideZeroVal) { ?>

                    <?php if ($openingBalanaceAmount != 0 || $movingBalanaceAmount != 0 || $currentBalanaceAmount != 0) { ?>
                        <input class="hidden" id="<?php echo 'id_ftype_'.$Data['accountsData']['financeAccountsID'] ?>" value="<?php echo $Data['accountsData']['financeAccountsTypeID'] ?>">
                        <div class="row show-grid">
                            <div class="col-md-6" style="border: 1px solid gray; padding: 10px;"><?php echo ($Data['parentFinanceAccountsName'] == null) ? $Data['accountsData']['financeAccountsCode']." - ".$Data['accountsData']['financeAccountsName'] : $Data['accountsData']['financeAccountsCode']." - ".$Data['accountsData']['financeAccountsName']."     (Parent Ac - ".$Data['parentFinanceAccountsName'].")"; ?></div>
                            <div class="col-md-2" style="border: 1px solid gray; padding: 10px; text-align: right"><?php echo ($openingBalanaceAmount < 0) ?  '( '.number_format(($openingBalanaceAmount * -1), 2).' )' : number_format($openingBalanaceAmount, 2);  ?></div>
                            <div class="col-md-2" style="border: 1px solid gray; padding: 10px; text-align: right"><?php echo ($movingBalanaceAmount < 0) ? '( '.number_format(($movingBalanaceAmount * -1), 2).' )' :  number_format($movingBalanaceAmount, 2) ?></div>
                            <div class="col-md-2" style="border: 1px solid gray; padding: 10px; text-align: right">

                                <?php 
                                   echo ($currentBalanaceAmount < 0) ? '( '.number_format(($currentBalanaceAmount * -1), 2).' )' : number_format($currentBalanaceAmount, 2);   
                                ?> 
                            </div>
                        </div>
                    <?php } ?>
                <?php } else { ?>
                    <input class="hidden" id="<?php echo 'id_ftype_'.$Data['accountsData']['financeAccountsID'] ?>" value="<?php echo $Data['accountsData']['financeAccountsTypeID'] ?>">
                    <div class="row show-grid">
                        <div class="col-md-6" style="border: 1px solid gray; padding: 10px;"><?php echo ($Data['parentFinanceAccountsName'] == null) ? $Data['accountsData']['financeAccountsCode']." - ".$Data['accountsData']['financeAccountsName'] : $Data['accountsData']['financeAccountsCode']." - ".$Data['accountsData']['financeAccountsName']."     (Parent Ac - ".$Data['parentFinanceAccountsName'].")"; ?></div>
                        <div class="col-md-2" style="border: 1px solid gray; padding: 10px; text-align: right"><?php echo ($openingBalanaceAmount < 0) ?  '( '.number_format(($openingBalanaceAmount * -1), 2).' )' : number_format($openingBalanaceAmount, 2);  ?></div>
                        <div class="col-md-2" style="border: 1px solid gray; padding: 10px; text-align: right"><?php echo ($movingBalanaceAmount < 0) ? '( '.number_format(($movingBalanaceAmount * -1), 2).' )' :  number_format($movingBalanaceAmount, 2) ?></div>
                        <div class="col-md-2" style="border: 1px solid gray; padding: 10px; text-align: right">

                            <?php 
                               echo ($currentBalanaceAmount < 0) ? '( '.number_format(($currentBalanaceAmount * -1), 2).' )' : number_format($currentBalanaceAmount, 2);   
                            ?> 
                        </div>
                    </div>
                <?php } ?>
            <?php 
                
            }?>
        </div>
    </div>
</div>