<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
    <?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>
<style>
    td.columnWidth {
        max-width:90px;
        word-wrap:break-word;
}
</style>
<div id="body">
    <div id="section_header">
    </div>

    <div id="content" style="padding: 0.2em 1%;">

        <div class="page" style="font-size: 10pt">
            <?php echo $this->headerTemplate; ?> 
            
            <div style="line-height:1.5;  margin-top: 2em"></div>
            <table class="change_order_items " style="width: 100%; border: 1px solid black; font-size: 8pt;">
                <thead>
                        <tr>
                            <th style="text-align: center" ><?php echo $this->translate('Account Code And Name');?></th>
                            <th style="text-align: center"><?php echo $this->translate('Opening Balance');?></th>
                            <th style="text-align: center" ><?php echo $this->translate('Moving Balance');?></th>
                            <th style="text-align: center" ><?php echo $this->translate('Closing Balance');?></th>
                        </tr>
                </thead>

                <tbody>
                    <?php 
                    foreach ($auditSheduleData as $key => $Data) {

                        $openingBalanaceAmount = 0;
                        $movingBalanaceAmount = 0;
                        $currentBalanaceAmount = 0;
                        
                        if ($Data['accountsData']['financeAccountsTypeID'] == 1 || $Data['accountsData']['financeAccountsTypeID'] == 3 || $Data['accountsData']['financeAccountsTypeID'] == 6) {

                                

                            $openingBalanaceAmount =  $Data['openingBalanceData']['totalDebitAmount'] -  $Data['openingBalanceData']['totalCreditAmount'];

                            if (empty($Data['movementCreditBalance'])) {
                                $Data['movementCreditBalance'] = 0;
                            }

                            if (empty($Data['movementDebitBalance'])) {
                                $Data['movementDebitBalance'] = 0;
                            }


                            $movingBalanaceAmount = $Data['movementDebitBalance'] - $Data['movementCreditBalance'];


                            $currentBalanaceAmount = ($Data['openingBalanceData']['totalDebitAmount'] + $Data['movementDebitBalance']) - ($Data['openingBalanceData']['totalCreditAmount'] + $Data['movementCreditBalance']);


                        } elseif ($Data['accountsData']['financeAccountsTypeID'] == 2 || $Data['accountsData']['financeAccountsTypeID'] == 4 || $Data['accountsData']['financeAccountsTypeID'] == 5  || $Data['accountsData']['financeAccountsTypeID'] == 7) {


                            $openingBalanaceAmount =  $Data['openingBalanceData']['totalCreditAmount'] - $Data['openingBalanceData']['totalDebitAmount'];

                            if (empty($Data['movementCreditBalance'])) {
                                $Data['movementCreditBalance'] = 0;
                            }

                            if (empty($Data['movementDebitBalance'])) {
                                $Data['movementDebitBalance'] = 0;
                            }

                            $movingBalanaceAmount = $Data['movementCreditBalance'] - $Data['movementDebitBalance'];


                            $currentBalanaceAmount = ($Data['openingBalanceData']['totalCreditAmount'] + $Data['movementCreditBalance']) - ($Data['openingBalanceData']['totalDebitAmount'] + $Data['movementDebitBalance']);
                        }

                        ?>


                        <?php if ($hideZeroVal) { ?>
                            <?php if ($openingBalanaceAmount != 0 || $movingBalanaceAmount != 0 || $currentBalanaceAmount != 0) { ?>
                                <tr style="border: 1px solid black;">
                                    <td><?php echo  $Data['accountsData']['financeAccountsCode']." - ".$Data['accountsData']['financeAccountsName']  ?></td>
                                    <td style="text-align: right" >
                                        <?php echo ($openingBalanaceAmount < 0) ?  '( '.number_format(($openingBalanaceAmount * -1), 2).' )' : number_format($openingBalanaceAmount, 2);  ?>
                                    </td>
                                    <td style="text-align: right">
                                        <?php echo ($movingBalanaceAmount < 0) ? '( '.number_format(($movingBalanaceAmount * -1), 2).' )' :  number_format($movingBalanaceAmount, 2) ?>
                                    </td>
                                    <td style="text-align: right">
                                        <?php 
                                           echo ($currentBalanaceAmount < 0) ? '( '.number_format(($currentBalanaceAmount * -1), 2).' )' : number_format($currentBalanaceAmount, 2);   
                                        ?> 
                                    </td>
                                </tr>
                            <?php } ?>
                        <?php } else { ?>
                            <tr style="border: 1px solid black;">
                                <td><?php echo  $Data['accountsData']['financeAccountsCode']." - ".$Data['accountsData']['financeAccountsName']  ?></td>
                                <td style="text-align: right" >
                                    <?php echo ($openingBalanaceAmount < 0) ?  '( '.number_format(($openingBalanaceAmount * -1), 2).' )' : number_format($openingBalanaceAmount, 2);  ?>
                                </td>
                                <td style="text-align: right">
                                    <?php echo ($movingBalanaceAmount < 0) ? '( '.number_format(($movingBalanaceAmount * -1), 2).' )' :  number_format($movingBalanaceAmount, 2) ?>
                                </td>
                                <td style="text-align: right">
                                    <?php 
                                       echo ($currentBalanaceAmount < 0) ? '( '.number_format(($currentBalanaceAmount * -1), 2).' )' : number_format($currentBalanaceAmount, 2);   
                                    ?> 
                                </td>
                            </tr>
                        <?php } ?>
                        
                    <?php } ?>
                </tbody>
            </table>                              
        </div>
    </div>
</div>