<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
	<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>
<style>
	td.columnWidth {
    	max-width:90px;
    	word-wrap:break-word;
}
</style>
<div id="body">
	<div id="section_header">
	</div>

	<div id="content" style="padding: 0.2em 1%;">

		<div class="page" style="font-size: 10pt">
			<?php echo $this->headerTemplate; ?> 
			
			<div style="line-height:1.5;  margin-top: 2em"></div>

			<?php 
			foreach ($generalLedgerData as $key => $Data) {
                if (floatval($Data['accountsData']['totalDebitAmount']) != 0 || floatval($Data['accountsData']['totalCreditAmount']) != 0 || floatval($Data['openingBalanceData']['totalCreditAmount']) != 0 || floatval($Data['openingBalanceData']['totalDebitAmount']) != 0) {
				$totalBalanceAmount = 0.00;
				// reset accountDetails totalDebit and totalCredit
				$Data['accountsData']['totalCreditAmount'] = floatval($Data['accountsData']['totalCreditAmount']) - (floatval($Data['removedCreditDebit']['credit']) + floatval($Data['removedCreditDebitForOpenning']['credit']));

				$Data['accountsData']['totalDebitAmount'] = floatval($Data['accountsData']['totalDebitAmount']) - (floatval($Data['removedCreditDebit']['debit']) + floatval($Data['removedCreditDebitForOpenning']['debit']));

				if($Data['accountsData']['totalDebitAmount'] >= $Data['accountsData']['totalCreditAmount']){
					$totalBalanceAmount = $Data['accountsData']['totalDebitAmount'] - $Data['accountsData']['totalCreditAmount'];
				}else{
					$totalBalanceAmount = ($Data['accountsData']['totalCreditAmount'] - $Data['accountsData']['totalDebitAmount']) * -1;
				}

                if ($Data['accountsData']['financeAccountsTypeID'] == 1 || $Data['accountsData']['financeAccountsTypeID'] == 3 || $Data['accountsData']['financeAccountsTypeID'] == 6) {
                    if ($totalBalanceAmount == 0) {
                        $totalBalanceAmountText = '0.00';
                    } elseif ($totalBalanceAmount > 0) {
                        $totalBalanceAmountText = number_format($totalBalanceAmount, 2);
                    } elseif ($totalBalanceAmount < 0) {
                        $totalBalanceAmountText = '( '.number_format($totalBalanceAmount * -1, 2).' )';
                    }

                } elseif ($Data['accountsData']['financeAccountsTypeID'] == 2 || $Data['accountsData']['financeAccountsTypeID'] == 4 || $Data['accountsData']['financeAccountsTypeID'] == 5  || $Data['accountsData']['financeAccountsTypeID'] == 7) {
                    if ($totalBalanceAmount == 0) {
                        $totalBalanceAmountText = '0.00';
                    } elseif ($totalBalanceAmount > 0) {
                        $totalBalanceAmountText = '( '.number_format($totalBalanceAmount, 2).' )';
                    } elseif ($totalBalanceAmount < 0) {
                        $totalBalanceAmountText = number_format($totalBalanceAmount * -1, 2);
                    }
                }

				?>
                                <table class="change_order_items table table-striped" style="width: 100%; border-collapse: collapse;">
                                        <thead>
                                                <tr>
                                                        <th style="text-align: center" ><?php echo $this->translate('Account Code And Name');?></th>
                                                        <th style="text-align: center"><?php echo $this->translate('Debit');?></th>
                                                        <th style="text-align: center" ><?php echo $this->translate('Credit');?></th>
                                                        <th style="text-align: center" ><?php echo $this->translate('Balance');?></th>
                                                </tr>
                                        </thead>

                                        <tbody>
                                                <tr>
                                                        <td><?php echo ($Data['parentFinanceAccountsName'] == null) ? $Data['accountsData']['financeAccountsCode']." - ".$Data['accountsData']['financeAccountsName'] : $Data['accountsData']['financeAccountsCode']." - ".$Data['accountsData']['financeAccountsName']."     (Parent Ac - ".$Data['parentFinanceAccountsName'].")"; ?></td>
                                                        <td style="text-align: right" ><?php echo ($Data['accountsData']['totalDebitAmount'] > 0)? number_format($Data['accountsData']['totalDebitAmount'], 2) : number_format(0, 2);  ?></td>
                                                        <td style="text-align: right"><?php echo ($Data['accountsData']['totalCreditAmount'] > 0)? number_format($Data['accountsData']['totalCreditAmount'], 2) : number_format(0, 2)?></td>
                                                        <td style="text-align: right"><?php echo $totalBalanceAmountText;?></td>
                                                </tr>

                                                <?php

                                                $openingBalance = 0.00;

                                                //reset acounts openning balances
                                                $Data['openingBalanceData']['totalCreditAmount'] = floatval($Data['openingBalanceData']['totalCreditAmount']) - floatval($Data['removedCreditDebitForOpenning']['credit']);
                                                $Data['openingBalanceData']['totalDebitAmount'] = floatval($Data['openingBalanceData']['totalDebitAmount']) - floatval($Data['removedCreditDebitForOpenning']['debit']);

                                                if( $Data['openingBalanceData']['totalCreditAmount'] >= $Data['openingBalanceData']['totalDebitAmount'] ){
                                                        $openingBalance = ($Data['openingBalanceData']['totalCreditAmount'] - $Data['openingBalanceData']['totalDebitAmount']) * -1;
                                                }else{
                                                        $openingBalance = $Data['openingBalanceData']['totalDebitAmount'] - $Data['openingBalanceData']['totalCreditAmount'];
                                                }

                                                $openingBalance = ($openingBalance != 0)? $openingBalance : '0.00';


                                                if ($Data['accountsData']['financeAccountsTypeID'] == 1 || $Data['accountsData']['financeAccountsTypeID'] == 3 || $Data['accountsData']['financeAccountsTypeID'] == 6) {

                                                    if ($openingBalance == 0) {
                                                        $openingBalanceText = '0.00';
                                                    } elseif ($openingBalance > 0) {
                                                        $openingBalanceText = number_format($openingBalance, 2);
                                                    } elseif ($openingBalance < 0) {
                                                        $openingBalanceText = '( '.number_format($openingBalance * -1, 2). ' )';
                                                    }
                                                } elseif ($Data['accountsData']['financeAccountsTypeID'] == 2 || $Data['accountsData']['financeAccountsTypeID'] == 4 || $Data['accountsData']['financeAccountsTypeID'] == 5  || $Data['accountsData']['financeAccountsTypeID'] == 7) {

                                                    if ($openingBalance == 0) {
                                                        $openingBalanceText = '0.00';
                                                    } elseif ($openingBalance > 0) {
                                                        $openingBalanceText = '( '.number_format($openingBalance, 2). ' )';
                                                    } elseif ($openingBalance < 0) {
                                                        $openingBalanceText = number_format($openingBalance * -1, 2);
                                                    }

                                                }

                                                ?>

                                                <tr>
                                                        <td><?php echo $this->translate('Opening Balance'); ?></td>
                                                        <td style="text-align: right"><?php echo ($Data['openingBalanceData']['totalDebitAmount'] > 0)? number_format($Data['openingBalanceData']['totalDebitAmount'],2): number_format(0, 2); ?></td>
                                                        <td style="text-align: right"><?php echo ($Data['openingBalanceData']['totalCreditAmount'] > 0)? number_format($Data['openingBalanceData']['totalCreditAmount'], 2): number_format(0, 2); ?></td>
                                                        <td style="text-align: right"><?php echo $openingBalanceText;?></td>
                                                </tr>
                                        </tbody>
                                </table>
                                <?php if(count($Data['journalEntries']) > 0){?>
                                <div><label><?php echo $this->translate(' Journal Entries');?></label></div>
                                <table class="change_order_items table table-striped" style="width: 100%; border-collapse: collapse;">
                                        <thead>
                                                <tr>
                                                        <th style="width:8%" class=""><?php echo $this->translate('Date') ?></th>
                                                        <th style="width:8%" class=""><?php echo $this->translate('Journal Entry Code') ?></th>
                                                        <th style="width:10%" class=""><?php echo $this->translate('Journal Entry Comment') ?></th>
                                                        <th style="width:8%" class=""><?php echo $this->translate('Related Document Type') ?></th>
                                                        <th style="width:8%" class=""><?php echo $this->translate('Related Document Customer/Supplier') ?></th>
                                                        <th style="width:8%" class=""><?php echo $this->translate('Related Document Code') ?></th>
                                                        <th style="width:10%" class=""><?php echo $this->translate('Related Document Comment') ?></th>
                                                        <th style="width:10%" class=""><?php echo $this->translate('Related Document Details') ?></th>
                                                        <th style="width:10%; text-align: right" class=""><?php echo $this->translate('Debit') ?></th>
                                                        <th style="width:10%; text-align: right" class=""><?php echo $this->translate('Credit') ?></th>
                                                        <th style="width:10%; text-align: right" class=""><?php echo $this->translate('Balance') ?></th>
                                                </tr>
                                        </thead>

                                        <tbody style="background-color: white;">
                                                <?php 

                                                $accBal = $openingBalance;
                                                foreach ($Data['journalEntries'] as $JEkey => $JEvalue) {
                                                        $jentryBalance = 0.00;
                                                        if($JEvalue['journalEntryAccountsDebitAmount'] >= $JEvalue['journalEntryAccountsCreditAmount']){
                                                                $jentryBalance = $JEvalue['journalEntryAccountsDebitAmount'] - $JEvalue['journalEntryAccountsCreditAmount'];
                                                                $jeBal = $jentryBalance;
                                                        }else{
                                                                $jentryBalance = $JEvalue['journalEntryAccountsCreditAmount'] - $JEvalue['journalEntryAccountsDebitAmount'];
                                                                $jeBal = $jentryBalance * -1;
                                                        }


                                                        $accBal += $jeBal;


                                                        if ($Data['accountsData']['financeAccountsTypeID'] == 1 || $Data['accountsData']['financeAccountsTypeID'] == 3 || $Data['accountsData']['financeAccountsTypeID'] == 6) {
                                                            $accBalText = ($accBal < 0) ? '( '.number_format($accBal * -1, 2).' )' : number_format($accBal , 2);


                                                            $jentryBalanceText = ($jeBal < 0) ? '( '.number_format($jentryBalance, 2). ' )' : number_format($jentryBalance, 2);

                                                            
                                                        } elseif ($Data['accountsData']['financeAccountsTypeID'] == 2 || $Data['accountsData']['financeAccountsTypeID'] == 4 || $Data['accountsData']['financeAccountsTypeID'] == 5  || $Data['accountsData']['financeAccountsTypeID'] == 7) {

                                                            $accBalText = ($accBal < 0) ? number_format($accBal * -1, 2) : '( '.number_format($accBal , 2). ' )';


                                                            $jentryBalanceText = ($jeBal < 0) ? number_format($jentryBalance, 2) : '( '.number_format($jentryBalance, 2). ' )';
                                                        }
             
                                                        ?>

                                                        <tr>
                                                                <td><?php echo $JEvalue['journalEntryDate']; ?></td>
                                                                <td><?php echo $JEvalue['journalEntryCode']; ?></td>
                                                                <td class="columnWidth"><?php echo $JEvalue['journalEntryComment']; ?></td>
                                                                <td><?php echo $JEvalue['documentType']; ?></td>
                                                                <td class="columnWidth"><?php echo $JEvalue['cusName']; ?></td>
                                                                <td><?php echo $JEvalue['documentCode']; ?></td>
                                                                <td class="columnWidth"><?php echo ($JEvalue['relatedDocComment'] == '') ? '-' : $JEvalue['relatedDocComment']; ?></td>
                                                                <td class="columnWidth"><?php echo $JEvalue['childDoc']; ?></td>
                                                                <td style="text-align: right" ><?php echo number_format($JEvalue['journalEntryAccountsDebitAmount'], 2); ?></td>
                                                                <td style="text-align: right" ><?php echo number_format($JEvalue['journalEntryAccountsCreditAmount'], 2); ?></td>
                                                                <?php if ($balState){ ?>
                                                                    <td style="text-align: right"><?php echo $accBalText;?></td>
                                                                <?php } else { ?>
                                                                    <td style="text-align: right"><?php echo $jentryBalanceText;?></td>
                                                                <?php } ?>
                                                        </tr>

                                                <?php }?>
                                        </tbody>
                                </table>
                        <?php }?>
                <?php }?>
            <?php } ?>
		</div>
	</div>
</div>