<?php ini_set('memory_limit', '-1'); ?>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
	<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>
<div id="body">
	<div id="section_header">
	</div>

	<div id="content">

		<div class="page" style="font-size: 7pt">

			<?php echo $this->headerTemplate; ?>
			<table class="change_order_items" style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
				<thead>
					<tr>
						<th class=""><?php echo $this->translate('Account Code & Name') ?></th>
						<th style="text-align: right" class=""><?php echo $this->translate('Cash Value') ?></th>
					</tr>
				</thead>
				<tbody class='cashFlowBody'>
					<?php 
					$netCashTotal = 0;
					foreach ($this->cashFlowData as $key => $value) { 
					?>
						<tr>
							<td><b><?php echo strtoupper($key); ?><b></td>
							<td></td>
						</tr>
							<?php 
								$intervelWiseTotal = 0;
								foreach ($value as $val) {
								?>
								<tr>
									<td style="padding-left:5em"><?php echo $val['accountCode']." ". $val['accountName']; ?></td>
									<td style="text-align: right"><?php echo ($val['type'] == "cashOut") ? '( '.number_format($val['value'],2).' )' :number_format($val['value'],2); ?></td>
								</tr>										
							<?php		
									if ($val['type'] == "cashOut") {
										$intervelWiseTotal -= $val['value'];
										$netCashTotal -= $val['value'];
									} else {
										$intervelWiseTotal += $val['value'];
										$netCashTotal += $val['value'];
									}
								}
							?>
							<tr>
								<td style="padding-left:10em"><b><?php echo $this->translate('Net cash provided by').$key; ?></b></td>
								<td style="text-align: right"><b><?php echo ($intervelWiseTotal < 0) ? '( '.number_format(abs($intervelWiseTotal),2).' )' :number_format($intervelWiseTotal,2); ?></b></td>
							</tr>
					<?php			
					}
					?>
					<tr>
						<td style="padding-left:2em"><b><?php echo $this->translate('Net increase/decrease in cash')?></b></td>
						<td style="text-align: right" ><b><?php echo ($netCashTotal < 0) ? '( '.number_format(abs($netCashTotal),2).' )' :number_format($netCashTotal,2); ?></b></td>
					</tr>
					<tr>
						<td style="padding-left:2em"><b><?php echo $this->translate('Cash at the begining of the period')?></b></td>
						<td style="text-align: right" ><b><?php echo ($this->cashFlowTotal < 0) ? '( '.number_format(abs($this->cashFlowTotal),2).' )' :number_format($this->cashFlowTotal,2); ?></b></td>
					</tr>
					<?php
						$finalCash = $this->cashFlowTotal + $netCashTotal;
					?>
					<tr>
						<td style="padding-left:2em"><b><?php echo $this->translate('Cash at the end of the period')?></b></td>
						<td style="text-align: right" ><b><?php echo ($finalCash < 0) ? '( '.number_format(abs($finalCash),2).' )' :number_format($finalCash,2); ?></b></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>