<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
	<?php //include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>
<style>
	td.columnWidth {
    	max-width:90px;
    	word-wrap:break-word;
}
</style>

<div id="body">
	<div id="section_header">
	</div>

	<div id="content" style="padding: 0.2em 1%;">

		<div class="page" style="font-size: 10pt">
			<?php echo $this->headerTemplate; ?> 
			
			<div style="line-height:1.5;  margin-top: 2em"></div>

			<div class="row show-grid" style="background-color: #f6f6f6;" >
				<div class="col-md-6" style="border: 2px solid gray; padding: 10px; text-align: center"><b><?php echo $this->translate('Account Code And Name');?></b></div>
				<div class="col-md-2" style="border: 2px solid gray; padding: 10px; text-align: center"><b><?php echo $this->translate('Debit');?></b></div>
				<div class="col-md-2" style="border: 2px solid gray; padding: 10px; text-align: center"><b><?php echo $this->translate('Credit');?></b></div>
				<div class="col-md-2" style="border: 2px solid gray; padding: 10px; text-align: center"><b><?php echo $this->translate('Balance');?></b></div>
			</div>
			
			</br>
			
			<?php 
			foreach ($generalLedgerData as $key => $Data) {
				if (floatval($Data['accountsData']['totalDebitAmount']) != 0 || floatval($Data['accountsData']['totalCreditAmount']) != 0 || floatval($Data['openingBalanceData']['totalCreditAmount']) != 0 || floatval($Data['openingBalanceData']['totalDebitAmount']) != 0) {

				$totalBalanceAmount = 0.00;
				// reset accountDetails totalDebit and totalCredit
				$Data['accountsData']['totalCreditAmount'] = floatval($Data['accountsData']['totalCreditAmount']);
				$Data['accountsData']['totalDebitAmount'] = floatval($Data['accountsData']['totalDebitAmount']);

				if($Data['accountsData']['totalDebitAmount'] >= $Data['accountsData']['totalCreditAmount']){
					$totalBalanceAmount = $Data['accountsData']['totalDebitAmount'] - $Data['accountsData']['totalCreditAmount'];
				}else{
					$totalBalanceAmount = $Data['accountsData']['totalCreditAmount'] - $Data['accountsData']['totalDebitAmount'];
				}

			?>
				<input class="hidden" id="<?php echo 'id_ftype_'.$Data['accountsData']['financeAccountsID'] ?>" value="<?php echo $Data['accountsData']['financeAccountsTypeID'] ?>">
				<div class="row show-grid">
					<div class="col-md-6" style="border: 1px solid gray; padding: 10px;"><?php echo ($Data['parentFinanceAccountsName'] == null) ? $Data['accountsData']['financeAccountsCode']." - ".$Data['accountsData']['financeAccountsName'] : $Data['accountsData']['financeAccountsCode']." - ".$Data['accountsData']['financeAccountsName']."     (Parent Ac - ".$Data['parentFinanceAccountsName'].")"; ?></div>
					<div class="col-md-2" style="border: 1px solid gray; padding: 10px; text-align: right"><?php echo ($Data['accountsData']['totalDebitAmount'] > 0)? number_format($Data['accountsData']['totalDebitAmount'], 2) : '0.00'  ?></div>
					<div class="col-md-2" style="border: 1px solid gray; padding: 10px; text-align: right"><?php echo ($Data['accountsData']['totalCreditAmount'] > 0)? number_format($Data['accountsData']['totalCreditAmount'], 2) : '0.00'?></div>
					<div class="col-md-2" style="border: 1px solid gray; padding: 10px; text-align: right">

						<?php 
   							if ($Data['accountsData']['financeAccountsTypeID'] == 1 || $Data['accountsData']['financeAccountsTypeID'] == 3 || $Data['accountsData']['financeAccountsTypeID'] == 6) {

   								
   								if ($Data['accountsData']['totalDebitAmount'] >= 0 && ($Data['accountsData']['totalDebitAmount'] < $Data['accountsData']['totalCreditAmount'])) {
   									echo '( '.number_format($totalBalanceAmount, 2).' )';
   								} else  {
   									echo number_format($totalBalanceAmount, 2);
   								}

   							} elseif ($Data['accountsData']['financeAccountsTypeID'] == 2 || $Data['accountsData']['financeAccountsTypeID'] == 4 || $Data['accountsData']['financeAccountsTypeID'] == 5  || $Data['accountsData']['financeAccountsTypeID'] == 7) {

   								if ($Data['accountsData']['totalDebitAmount'] >= 0 && ($Data['accountsData']['totalDebitAmount'] < $Data['accountsData']['totalCreditAmount'])) {
   									echo number_format($totalBalanceAmount, 2);
   								} else  {
   									echo '( '.number_format($totalBalanceAmount, 2).' )';
   								}
   							}
						 ?>	
					</div>
				</div>

				<?php 
				
				$openingBalance = 0.00;

				//reset acounts openning balances
				$Data['openingBalanceData']['totalCreditAmount'] = floatval($Data['openingBalanceData']['totalCreditAmount']);
				$Data['openingBalanceData']['totalDebitAmount'] = floatval($Data['openingBalanceData']['totalDebitAmount']);

				if( $Data['openingBalanceData']['totalCreditAmount'] >= $Data['openingBalanceData']['totalDebitAmount'] ){
					$openingBalance = $Data['openingBalanceData']['totalCreditAmount'] - $Data['openingBalanceData']['totalDebitAmount'];
				}else{
					$openingBalance = $Data['openingBalanceData']['totalDebitAmount'] - $Data['openingBalanceData']['totalCreditAmount'];
				}
			
				$openingBalance = ($openingBalance != 0)? $openingBalance : '0.00';
				
				?>

				<div class="row show-grid" >
					<div class="col-md-6" style="border: 1px solid gray; padding: 10px;" ><?php echo $this->translate('Opening Balance'); ?></div>
					<div class="col-md-2" id="<?php echo 'id_deb_'.$Data['accountsData']['financeAccountsID'] ?>" data-openDebValue = "<?php echo $Data['openingBalanceData']['totalDebitAmount'] ?>" style="border: 1px solid gray; padding: 10px; text-align: right"><?php echo ($Data['openingBalanceData']['totalDebitAmount'] > 0)? number_format($Data['openingBalanceData']['totalDebitAmount'], 2): '0.00'; ?></div>
					<div class="col-md-2" id="<?php echo 'id_cre_'.$Data['accountsData']['financeAccountsID'] ?>" data-openCreValue = "<?php echo $Data['openingBalanceData']['totalCreditAmount'] ?>" style="border: 1px solid gray; padding: 10px; text-align: right"><?php echo ($Data['openingBalanceData']['totalCreditAmount'] > 0)? number_format($Data['openingBalanceData']['totalCreditAmount'], 2): '0.00'; ?></div>
					<div class="col-md-2" id="<?php echo 'id_bal_'.$Data['accountsData']['financeAccountsID'] ?>" data-openValue = "<?php echo $openingBalance ?>" style="border: 1px solid gray; padding: 10px; text-align: right">


						<?php 
							if ($Data['accountsData']['financeAccountsTypeID'] == 1 || $Data['accountsData']['financeAccountsTypeID'] == 3 || $Data['accountsData']['financeAccountsTypeID'] == 6) {


   								if ($Data['openingBalanceData']['totalDebitAmount'] > 0 && ($Data['openingBalanceData']['totalDebitAmount'] < $Data['openingBalanceData']['totalCreditAmount'])) {
   									echo '( '.number_format($openingBalance, 2).' )';
   								} else  {
   									echo number_format($openingBalance, 2);
   								}

   							} elseif ($Data['accountsData']['financeAccountsTypeID'] == 2 || $Data['accountsData']['financeAccountsTypeID'] == 4 || $Data['accountsData']['financeAccountsTypeID'] == 5  || $Data['accountsData']['financeAccountsTypeID'] == 7) {

   								if ($Data['openingBalanceData']['totalDebitAmount'] > 0 && ($Data['openingBalanceData']['totalDebitAmount'] < $Data['openingBalanceData']['totalCreditAmount'])) {
   									echo number_format($openingBalance, 2);
   								} else  {
   									echo '( '.number_format($openingBalance, 2).' )';
   								}
   							}

						?>
							
					</div>
				</div>
					<div class="row show-grid ">
						<div class="col-md-12 JEntries" style="cursor:pointer; background-color: #f6f6f6; border: 1px solid gray; padding: 10px;" data-account-id="<?php echo $Data['accountID'];?>"><i class="plus fa fa-plus-square" aria-hidden="true"></i><?php echo $this->translate(' Journal Entries');?></div>
						<div class="row show-grid JEtable hidden">
							<div class="col-md-12" style="border: 1px solid gray; padding: 10px;">
								<table class="table" id="<?php echo $Data['accountID'];?>generalLedgerJETable">
									<thead>
										<tr>
											<th style="width:8%" class=""><?php echo $this->translate('Date') ?></th>
											<th style="width:8%" class=""><?php echo $this->translate('Journal Entry Code') ?></th>
											<th style="width:10%" class=""><?php echo $this->translate('Journal Entry Comment') ?></th>
											<th style="width:8%" class=""><?php echo $this->translate('Related Document Type') ?></th>
											<th style="width:8%" class=""><?php echo $this->translate('Related Document Customer/Supplier') ?></th>
											<th style="width:8%" class=""><?php echo $this->translate('Related Document Code') ?></th>
											<th style="width:10%" class=""><?php echo $this->translate('Related Document Comment') ?></th>
											<th style="width:10%" class=""><?php echo $this->translate('Related Document Details') ?></th>
											<th style="width:10%; text-align: right" class=""><?php echo $this->translate('Debit') ?></th>
											<th style="width:10%; text-align: right" class=""><?php echo $this->translate('Credit') ?></th>
											<th style="width:10%; text-align: right" class=""><?php echo $this->translate('Balance') ?></th>
										</tr>
									</thead>
									<tbody style="background-color: white;" class='journalTbody'>
										<tr id="<?php echo $Data['accountID'];?>preSetSample" class="hidden">
											<td id="glJournalEntryDate"></td>
											<td id="glJournalEntryCode"></td>
											<td id="glJournalEntryComment" style="cursor:pointer" class='link_color journalComment columnWidth'></td>
											<td id="glDocumentType"></td>
											<td id="glCusName" class="columnWidth"></td>
											<td id="glDocumentCode"></td>
											<td id="glRelatedDocComment" class="columnWidth"></td>
											<td id="glChildDoc" class="columnWidth"></td>
											<td id="glJournalEntryAccountsDebitAmount" style="text-align: right"></td>
											<td id="glJournalEntryAccountsCreditAmount" style="text-align: right" ></td>
											<td id="glJentryBalance" style="text-align: right" ></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</br>
			<?php 
				}
			} ?>
		</div>
	</div>
</div>