<!--panel-->
<div class='panel panel-default margin_top margin_bottom panel_border'>

    <div class='panel-heading panel_heading_style'><!--panel_heading-->
        <h4 class="font_weight h1_no_margin report_heading"><?php echo $this->translate('Finance Report') ?></h4>
    </div>

    <div class="panel-body panel_body_style flex-container">

        <!--links-->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 remove_left_padding remove_right_padding panel_links">
            <ul class="nav nav-pills  nav-stacked data-tabs" data-tabs="tabs">
                <li id="trialBalance" class="report_pills active"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Trial Balance') ?></a></li>
                <li id="profitAndLost" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Profit And Loss') ?></a></li>
                <li id="balanceSheet" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Balance Sheet') ?></a></li>
                <li id="cashflow" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Cash Flow Statement') ?></a></li>
                <li id="generalLedger" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('General Ledger') ?></a></li>
                <li id="auditShedule" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Audit Shedule Report') ?></a></li>
            </ul>
        </div>

        <!--process_area-->
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 form-horizontal process_area">
            <div id="report_head">

                <div class="form-group">
                    <div class="row fiscalPeriod_div">
                        <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5">
                            <label class="control-label"><?php echo $this->translate('Fiscal Period') ?></label>
                            <select class="form-control selectpicker" name="fiscalPeriods" id="fiscalPeriods" title="<?php echo $this->translate('Select a fiscal period') ?>">
                                    <option value="0"><?php echo $this->translate('Select a fiscal period'); ?></option>
                                <?php
                                foreach ($this->fiscalPeriods as $spID => $value) :
                                    echo '<option value="' . $value . '">' . $value . '</option>';
                                endforeach;
                                ?>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row trialBalanceDate">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 report_from_start_date"><!--from_start_date-->
                            <label class="control-label from_date_lbl"><?php echo $this->translate('Start Date') ?></label>
                            <input type="text" class="span2 datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="trStartDate" name="trStartDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to Set a Start Date') ?>">
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 to report_from_end_date"><!--report_from_end_date-->
                            <label class="control-label to_date_lbl"><?php echo $this->translate('End Date') ?></label>
                            <input type="text" class="span2 datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="trEndDate" name="trEndDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to Set an End Date') ?>">
                        </div>
                    </div><!--row-->
                    <div class="row normalDate hidden">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 report_from_start_date"><!--from_start_date-->
                            <label class="control-label from_date_lbl"><?php echo $this->translate('Start Date') ?></label>
                            <input type="text" class="span2 datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="startDate" name="startDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to Set a Start Date') ?>">
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 to report_from_end_date"><!--report_from_end_date-->
                            <label class="control-label to_date_lbl"><?php echo $this->translate('End Date') ?></label>
                            <input type="text" class="span2 datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="endDate" name="endDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to Set an End Date') ?>">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 account_filter hidden">
                            <!-- account filter-->
                            <label class="control-label to_date_lbl"><?php echo $this->translate('GL Account') ?></label>
                            <div class="">
                                    <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="accountID" id="accountID" multiple="multiple" title="<?php echo $this->translate('Select GL Account(s)') ?>" data-selected-text-format="count>3"></select>
                            </div>
                        </div>
                    </div><!--row-->

                    <div class="row dimension_div">
                        <br>
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 report_dimesnion_type"><!--from_start_date-->
                            <label class="control-label from_date_lbl"><?php echo $this->translate('Dimension Type') ?></label>
                            <select class="form-control selectpicker show-tick dimenisonchange"  id="dimensionTypeId" name="dimensionTypeId" data-live-search="true">
                                <option class="dimensionTypeDefaultSelect" value=""><?php echo $this->translate('Select Dimension Type') ?></option>
                                <?php
                                    foreach ($this->dimensions as $key => $value) :
                                        echo '<option value="' . $key . '">' . $value . '</option>';
                                    endforeach;
                                ?>   
                            </select>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 to report_dimension_value"><!--report_from_end_date-->
                            <label class="control-label to_date_lbl"><?php echo $this->translate('Dimension Value') ?></label>
                            <select class="form-control show-tick dimensionVal"  id="dimensionVal" name="dimensionVal" data-live-search="true">
                                <option class="dimensionValDefaultSelect" value=""><?php echo $this->translate('Select Dimension Value') ?></option>
                            </select>
                            <select class="form-control selectpicker show-tick hidden dimensionJobNo" id="dimensionJobNo" name="dimensionJobNo" data-live-search="true">
                                <option value=""><?php echo $this->translate('Select Job Number') ?></option>
                            </select>
                            <select class="form-control selectpicker show-tick hidden dimensionProjectNo" id="dimensionProjectNo" name="dimensionProjectNo" data-live-search="true">
                                <option value=""><?php echo $this->translate('Select Project Number') ?></option>
                            </select>
                        </div>
                    </div><!--row-->
                     <div class="row hidden" id="orderByDateDiv">
                        <br>
                        <div class="col-lg-6 col-md-4 col-sm-4 col-xs-4"><!--tax-->
                            <label class="control-label tax_chk_lbl"><?php echo $this->translate('Order JE By Date') ?></label>
                            <div class="text_margin_top">
                                <label id="lblTax" name="lbl_name"><input type="checkbox" id="jeOrderByDate" name="jeOrderByDate" value="0" class="check_box_mar_right"/></label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4 col-sm-4 col-xs-4"><!--tax-->
                            <label class="control-label tax_chk_lbl"><?php echo $this->translate('Show Accumulated Balance for JE') ?></label>
                            <div class="text_margin_top">
                                <label id="lblTax" name="lbl_name"><input type="checkbox" id="showAccBl" name="showAccBl" value="0" class="check_box_mar_right"/></label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row hidden" id="locationFilterDiv">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <label class="control-label sort"><?php echo $this->translate('Sort By') ?></label>
                            <label class="control-label location-lbl"><?php echo $this->translate('Location') ?></label>
                            <div class="location-list">
                                <select class='form-control selectpicker ' data-actions-box="true" data-live-search="true" name="locationList" id="locationList" multiple="multiple" title='<?php echo $this->translate('Select Location(s)') ?>'>
                                    <?php
                                    foreach ($this->locationList as $id => $row):
                                        echo '<option value="' . $id . '">' . $row['locationName'] . '</option>';
                                    endforeach;
                                    ?>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div>
                        <br>
                        <div class="col-lg-6 col-md-4 col-sm-4 col-xs-4 hidden"  id="isAccLoca"><!--tax-->
                            <label class="control-label tax_chk_lbl"><?php echo $this->translate('With Seperate Locations balance') ?></label>
                            <div class="text_margin_top">
                                <label id="lblTax" name="lbl_name"><input type="checkbox" id="showAccuBal" name="showAccuBal" value="0" class="check_box_mar_right"/></label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4 col-sm-4 col-xs-4 hidden"  id="isHideZero"><!--tax-->
                            <label class="control-label tax_chk_lbl"><?php echo $this->translate('Hide Zero Values') ?></label>
                            <div class="text_margin_top">
                                <label id="lblTax" name="lbl_name"><input type="checkbox" id="hideZeroVal" name="hideZeroVal" value="0" class="check_box_mar_right"/></label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-12 btn-group btn_panel_height_high report_buttons">
                            <button class="btn btn-default col-lg-2" id="viewReport"><?php echo $this->translate('View Report') ?></button>
                            <button class="btn btn-default col-lg-2" id="generatePdf"><?php echo $this->translate('Generate PDF') ?></button>
                            <button class="btn btn-default col-lg-2" id="csvReport"><?php echo $this->translate('Generate CSV') ?></button>
                        </div>
                    </div>
                </div><!--form-group-->

            </div><!--report_head-->
        </div><!--form_horizontal-->
    </div><!--panel_body-->
        <div class="panel-footer" id="generatedReports">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-5">
                            <h5 id="reportName"></h5>
                        </div>
                        <div class="col-md-5">
                            <h5 id="reportCreated"></h5>
                        </div>
                        <div class="col-md-1">
                            <h5><a id="reportUrl" href="" target="_blank"><i class="fa fa-download"></i></a></h5>
                        </div>
                        <div  class="col-md-1">
                            <h5><a id="reportDelete"  data-id="" target="_blank"><i class="fa fa-remove"></i></a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div><!--panel-->

<div id="financeReport" class="panel panel-default margin_top margin_bottom panel_border report-iframe"></div>
