<div class="data_table">
    <table width="100%" class="product-list">
        <tr>
            <td>
                <hr />
                <br />

                <div class="qout_body">
                    <?php
                    if (isset($this->itemProduct)) {
                     echo $this->translate('Item Product') ?>

                    <table width="100%" class="table bigtable table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width: 10%"><?php echo $this->translate("Item Code"); ?></th>
                                <th style="width: 18%"><?php echo $this->translate("Item Name"); ?></th>
                                <th class="text-right" style="width: 10%"><?php echo $this->translate("Quantity"); ?></th>
                                <th style="width: 2%"</th>
                                <th class="text-right" style="width: 13%"><?php echo $this->translate("Price"); ?><br/><?php echo "({$this->currencySymbol})"; ?></th>
                                <th class="text-right" style="width: 10%"><?php echo $this->translate("Discount"); ?><br/><?php echo "(%)"; ?></th>
                                <th class="text-right" style="width: 10%"><?php echo $this->translate("Tax"); ?><br/><?php echo "({$this->currencySymbol})"; ?></th>
                                <th class="text-right" style="width: 15%"><?php echo $this->translate("Total"); ?><br/><?php echo "({$this->currencySymbol})"; ?></th>
                            </tr>
                        </thead>

                        <tbody id="form_row">
                            <?php
                                foreach ($this->itemProduct as $incomeItemProduct) {
                                    $locationProdcutIDArray[] = array();
                                    if (in_array($incomeItemProduct['locationProductID'], $locationProdcutIDArray)) {
                                        continue;
                                    } else {
                                        ?>
                                        <tr class="">
                                            <td id='code'><?php echo $incomeItemProduct['productCode']; ?></td>
                                            <td id='name'><?php echo $incomeItemProduct['productName']; ?></td>
                                            <td id='quantity' class='text-right'><?php echo number_format($incomeItemProduct['incomeProductQuantity']); ?></td>
                                            <td><span id="uomName" class='text-right'><?php echo $incomeItemProduct['uomAbbr']; ?></span></td>
                                            <td id='unit' class='text-right'><?php echo number_format($incomeItemProduct['incomeProductPrice'], 2); ?></td>
                                            <td id='disc' class='text-right'><?php echo number_format($incomeItemProduct['itemDiscount'], 2); ?></td>
                                            <td class="text-right">
                                                <?php
                                                $fullTaxAmount = 0;
                                                if (isset($incomeItemProduct['tax']))
                                                    foreach ($incomeItemProduct['tax'] as $pTax) {
                                                        $fullTaxAmount += floatval($pTax['incomeTaxAmount']);
                                                    }
                                                echo number_format($fullTaxAmount, 2);
                                                ?>
                                            </td>
                                            <td id='ttl' class='text-right'><?php echo number_format($incomeItemProduct['incomeProductTotal'], 2); ?></td>
                                        </tr>
                                        <?php
                                        $locationProdcutIDArray[] = $incomeItemProduct['locationProductID'];
                                    }
                                }
                            ?>
                        </tbody>
                    </table>
                    <?php } ?>
                    <br />

                    <?php 
                    if (isset($this->nonItemProduct)) {
                        echo $this->translate('Non Item Product'); 
                    } ?>

                    <table  width="100%" class="table bigtable table-bordered table-striped">
                        
                        <?php if (isset($this->nonItemProduct)) { ?>
                        <thead>
                            <tr>
                                <th style="width: 30%" colspan="4"><?php echo $this->translate("Item Description"); ?></th>
                                <th style="width: 12%"><?php echo $this->translate("GL Account"); ?></th>
                                <th style="width: 18%"><?php echo $this->translate("Unit Price"); ?></th>
                                <th class="text-right" style="width: 10%"><?php echo $this->translate("Quantity"); ?></th>
                                <th class="text-right" style="width: 10%"><?php echo $this->translate("Tax"); ?><br/><?php echo "({$this->currencySymbol})"; ?></th>
                                <th class="text-right" style="width: 20%"><?php echo $this->translate("Total"); ?><br/><?php echo "({$this->currencySymbol})"; ?></th>
                            </tr>
                        </thead>
                        <?php } ?>

                        <tbody>
                            <?php
                            if (isset($this->nonItemProduct)) {
                                foreach ($this->nonItemProduct as $incomeNonItemProduct) {
                                    ?>
                                    <tr class="">
                                        <td id='code' colspan="4"><?php echo $incomeNonItemProduct['incomeNonItemProductDiscription']; ?></td>
                                        <td><?php echo $incomeNonItemProduct['incomeNonItemProductGLAccount']; ?></td>
                                        <td id='unit' class='text-right'><?php echo number_format($incomeNonItemProduct['incomeNonItemProductUnitPrice'], 2); ?></td>
                                        <td id='quantity' class='text-right'><?php echo number_format($incomeNonItemProduct['incomeNonItemProductQuantity']); ?></td>
                                        <td class="text-right">
                                            <?php
                                            $fullTaxAmount = 0;
                                            if (isset($incomeNonItemProduct['tax'])) {
                                                foreach ($incomeNonItemProduct['tax'] as $pTax) {
                                                    $fullTaxAmount += floatval($pTax['incomeTaxAmount']);
                                                }
                                            }
                                            echo number_format($fullTaxAmount, 2);
                                            ?>
                                        </td>
                                        <td id='ttl' class='text-right'><?php echo number_format($incomeNonItemProduct['incomeNonItemProductTotalPrice'], 2); ?></td>
                                    </tr>
                                    <?php
                                }
                            }
                            ?>

                            <tr>
                                <td colspan="9"></td>
                            </tr>

                            <tr>
                                <td colspan="8"><label><?php echo $this->translate("Sub Total"); ?></label></td>
                                <td id="subtotal" class="text-right"><label><?php echo number_format($this->incomeTotal, 2); ?></label></td>
                            </tr>

                            <?php
                            $totalTaxArray = array();
                            foreach ($this->itemProduct as $item) {
                                foreach ($item['tax'] as $value) {
                                    if ($totalTaxArray[$value['incomeTaxID']]['incomeTaxID'] == $value['incomeTaxID']) {
                                        $temp = $totalTaxArray[$value['incomeTaxID']]['incomeTaxAmount'] + $value['incomeTaxAmount'];
                                    } else {
                                        $temp = $value['incomeTaxAmount'];
                                    }
                                    $totalTaxArray[$value['incomeTaxID']]['incomeTaxPrecentage'] = $value['incomeTaxPrecentage'];
                                    $totalTaxArray[$value['incomeTaxID']]['taxName'] = $value['taxName'];
                                    $totalTaxArray[$value['incomeTaxID']]['incomeTaxAmount'] = $temp;
                                    $totalTaxArray[$value['incomeTaxID']]['incomeTaxID'] = $value['incomeTaxID'];
                                }
                            }
                            foreach ($this->nonItemProduct as $item) {
                                foreach ($item['tax'] as $value) {
                                    if ($totalTaxArray[$value['incomeTaxID']]['incomeTaxID'] == $value['incomeTaxID']) {
                                        $temp = $totalTaxArray[$value['incomeTaxID']]['incomeTaxAmount'] + $value['incomeTaxAmount'];
                                    } else {
                                        $temp = $value['incomeTaxAmount'];
                                    }
                                    $totalTaxArray[$value['incomeTaxID']]['incomeTaxPrecentage'] = $value['incomeTaxPrecentage'];
                                    $totalTaxArray[$value['incomeTaxID']]['taxName'] = $value['taxName'];
                                    $totalTaxArray[$value['incomeTaxID']]['incomeTaxAmount'] = $temp;
                                    $totalTaxArray[$value['incomeTaxID']]['incomeTaxID'] = $value['incomeTaxID'];
                                }
                            }
                            ?>

                            <!-- <tr>
                                <td colspan="3">
                                    <span class="<?php if (empty($totalTaxArray)) echo "hidden"; ?>remove_font_weight"><label><?php echo $this->translate("Total Taxes"); ?></label></span>
                                </td>
                                <td colspan="5" class="text-right">
                                    <?php if (!empty($totalTaxArray)) { ?>
                                        <table class="table table-condensed">
                                            <?php
                                            foreach ($totalTaxArray as $item) {
                                                ?>
                                                <tr class="no-border">
                                                    <td width="30%" class="text-left" ><?php echo $item['taxName']; ?></td>
                                                    <td class="text-right"><?php echo '(' . $item['incomeTaxPrecentage'] . '%)'; ?></td>
                                                    <td width="40%" class="text-right"><?php echo number_format($item['incomeTaxAmount'], 2); ?></td>
                                                </tr>
                                                <?php
                                            }
                                            ?>
                                        </table>
                                    <?php } ?>
                                </td>
                                <td class="text-right font_weight" colspan="1">
                                    <?php
                                    foreach ($totalTaxArray as $pTotTax) {
                                        $fullTotalTaxAmount += floatval($pTotTax['incomeTaxAmount']);
                                    }
                                    echo number_format($fullTotalTaxAmount, 2);
                                    ?>
                                </td>
                            </tr>
 -->
                            <tr><!--total-->
                                <td colspan="7"><h4 class="font_weight"><?php echo $this->translate("Total"); ?></h4><td class="text-right"><h4><?php echo $this->currencySymbol ?></h4></td></td>
                                <td colspan="2" class="text-right"><h4 id="finaltotal" class="font_weight"><?php echo number_format($this->incomeTotal, 2); ?></h4></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div><!--./col-->


