<?php $iS = $this->inquirySetupDetails ?>
<div class="margin_top">

    <div class="well well_heading">
        <h5 class="font_weight"><?php echo $this->translate('Inquiry Log Email Creation on') ?></h5>
    </div>

    <div class="well well_body">
        <form id="inquirySetupForm">

            <div class="checkbox">
                <label>
                    <input type = "checkbox" id = "createCheckBox" data-id = "<?php echo $iS[0]['inquirySetupID'] ?>" <?php echo ($iS[0]['inquirySetupStatus']) ? 'checked' : '' ?>> <?php echo $this->translate('Creation') ?>
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="updateCheckBox" data-id="<?php echo $iS[1]['inquirySetupID'] ?>" <?php echo ($iS[1]['inquirySetupStatus']) ? 'checked' : '' ?>><?php echo $this->translate('Updation') ?>
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="deleteCheckBox" data-id="<?php echo $iS[2]['inquirySetupID'] ?>" <?php echo ($iS[2]['inquirySetupStatus']) ? 'checked' : '' ?>><?php echo $this->translate('Deletion') ?>
                </label>
            </div>
            <div class="clearfix">
                <div class="_row_with_margin">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 pull-right">
                        <button type="submit" class="btn btn-primary btn-block"><?php echo $this->translate('Update') ?></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>