<div id="payment-list">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('Payment Code') ?></th>
                <th><?php echo $this->translate('Supplier') ?></th>
                <th><?php echo $this->translate('Date') ?></th>
                <th class="text-left"><?php echo $this->translate('Paid Amount') ?></th>
                <th class="text-center"><?php echo $this->translate('Status') ?></th>
                <th class="edit text-center"><?php echo $this->translate('Edit Payment Methods') ?></th>
                <th class="text-center"><?php echo $this->translate('Print View') ?></th>
                <th class="text-center"><?php echo $this->translate('Cancel') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->payments as $key => $payments) {
                $state = ucfirst($this->statuses[$payments['outgoingPaymentStatus']]);
                $style = NULL;
                switch ($payments['outgoingPaymentStatus']) {
                    case "1":
                        $style = "label label-primary";
                        break;
                    case "2":
                        $style = "label label-default";
                        break;
                    case "3":
                        $style = "label label-success";
                        break;
                    case "4":
                        $style = "label label-warning";
                        break;
                    case "5":
                        $style = "label label-primary";
                        break;
                    case "6":
                        $state = 'Open';
                        $style = "label label-danger";
                        break;
                    default :
                        $style = "label label-default";
                }
                $paymentEditFlag = true;
                if ($payments['outgoingPaymentMemo'] == "Created By Supplier Opening Credit Balance") {
                    $paymentEditFlag = false;
                }
                ?>
                <tr>
                    <td> <?php echo $payments['outgoingPaymentCode']; ?></td>
                    <td><?php echo $payments['supplierCode'] . '-' . $payments['supplierName']; ?></td>
                    <td> <?php echo $this->userDateFormatHelper($payments['outgoingPaymentDate'], $this->dateFormat); ?></td>
                    <td class="text-left"> <?php echo number_format($payments['outgoingPaymentPaidAmount'], 2); ?></td>
                    <td class="text-center"><span class="<?php echo $style ?>"><?php echo $state; ?></span></td>
                    <?php if ($paymentEditFlag) { ?>
                        <td class="text-center">
                        	<a class="edit link_color" style="cursor:pointer" href="/supplierPayments/edit/<?php echo $payments['outgoingPaymentID'] ?>" >
                        		<span class="fa fa-pencil-square-o "></span>
                        	</a>
                        </td>
                    <?php } else { ?>
                        <td class="text-center"></td>
                    <?php } ?>
                    <td id="edit" class="text-center">
                        <span class="preview link_color" style="cursor:pointer" data-href="<?php echo '/supplierPayments/viewReceipt/' . $payments['outgoingPaymentID'] ?>" >
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </span>
                    </td>
                    <?php if ($payments['outgoingPaymentStatus'] != 5 && $paymentEditFlag == true) { ?>
                        <td id="dele" class="text-center">
                            <a class ="del" data-toggle="modal" href = "#delete_sup_payment" id="<?php echo $payments['outgoingPaymentID'] ?>">
                                <span class="glyphicon glyphicon-ban-circle"></span>
                            </a>
                        </td><?php } else { ?>
                        <td></td>
                        <?php
                    }
                }
                if (count($this->payments) == 0) {
                    ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>

    <?php
    if($this->paginator){
    	$action='view';
    	if($this->whichPayment == "PI"){
    		$action = 'view';
    	}else if($this->whichPayment == "PV"){
    		$action = 'viewPVPayments';
    	}
    	echo $this->paginationControl(
    		$this->payments, 'sliding', array('partial/paginator.phtml', 'outGoingPayment'), array(
    			'route' => 'outGoingPayment', 'action' => $action
    			)
    		);
    }
    ?>
</div>

<div class="modal fade" id="delete_sup_payment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4><?php echo $this->translate('Payment Cancel Confirmation') ?></h4>
            </div>

            <div class="modal-body rm_modal_body_bpa">

                <div class="form-group">
                    <p class="modal_para"><?php echo $this->translate('Please enter the Administrator account Username and Password to continue') ?></p>
                </div>

                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-4 control-label"><?php echo $this->translate('Username') ?><font color="red"> *</font></label>
                        <div class="col-lg-6">
                            <input type="text" id="username" class="form-control" placeholder="<?php echo $this->translate('Username') ?>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label"><?php echo $this->translate('Password') ?><font color="red"> *</font></label>
                        <div class="col-lg-6">
                            <input type="password" id="password" class="form-control" placeholder="<?php echo $this->translate('Password') ?>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label"><?php echo $this->translate('Comment') ?></label>
                        <div class="col-lg-6">
                            <textarea id="comment" class="form-control" placeholder="Comment"></textarea>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Cancel') ?></button>
                <button id="delete-payment-button" class="btn btn-primary"><?php echo $this->translate('Cancel Payment') ?></button>
            </div>

        </div>
    </div>
</div>
