<div class="data_table">
    <table width="100%" class="product-list">
        <tr>
            <td>
                <hr />
                <br />
                <div class="qout_body">
                    <table width="100%" class="table bigtable table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width: 10%"><?php echo $this->translate("Code"); ?></th>
                                <th style="width: 20%"><?php echo $this->translate("Item"); ?></th>
                                <th class="text-right" style="width: 13%"><?php echo $this->translate("Returned Quantity"); ?></th>
                                <th style="width: 2%"</th>
                                <th class="text-right" style="width: 15%"><?php echo $this->translate("Price"); ?><br/><?php echo "({$this->currencySymbol})"; ?></th>
                                <th class="text-right" style="width: 15%"><?php echo $this->translate("Discount"); ?><br/><?php echo "(%)"; ?></th>
                                <th class="text-right" style="width: 10%"><?php echo $this->translate("Tax"); ?><br/><?php echo "({$this->currencySymbol})"; ?></th>
                                <th class="text-right" style="width: 15%"><?php echo $this->translate("Total"); ?><br/><?php echo "({$this->currencySymbol})"; ?></th>
                            </tr>
                        </thead>
                        <tbody id="form_row">
                            <?php
                            foreach ($this->prProducts as $prproduct) {
                                $pQty = $prproduct['prRPQ'];
                                if (!empty($prproduct['sP'])) {
                                    $pQty = sizeof($prproduct['sP']);
                                }
                                ?>
                                <tr class="">
                                    <td id='code'><?php echo $prproduct['prPC']; ?></td>
                                    <td id='name'><?php echo $prproduct['prPN']; ?></td>
                                    <td id='quantity' class='text-right'><?php echo round($pQty, $prproduct['pUomDecimal']); ?></td>
                                    <td><span id="uomName" class='text-right'><?php echo $prproduct['prUom']; ?></span></td>
                                    <td id='unit' class='text-right'><?php echo $prproduct['prPP']; ?></td>
                                    <td id='disc' class='text-right'><?php echo $prproduct['prPD']; ?></td>
                                    <td class="text-right">
                                        <?php
                                        $fullTaxAmount = 0;
                                        foreach ($prproduct['pT'] as $pTax) {
                                            $fullTaxAmount += floatval($pTax['pTA']);
                                        }
                                        echo number_format($fullTaxAmount, 2);
                                        ?>
                                    </td>
                                    <td id='ttl' class='text-right'><?php echo $prproduct['prPT']; ?></td>
                                </tr>
                                <?php
                            }
                            ?>
                        </tbody>
                        <tbody>

                            <tr class="">
                                <td style="height: 31px;"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <?php if ($this->prSTax == 1) { ?>
                                <tr><!--display_taxes-->
                                    <td colspan="3">
                                        <span class="<?php if (empty($this->prTotalTax)) echo "hidden"; ?>remove_font_weight"><label><?php echo $this->translate("Total Taxes"); ?></label></span>
                                    </td>
                                    <td colspan="3" class="text-right">
                                        <?php if (!empty($this->prTotalTax)) { ?>
                                            <table>
                                                <?php
                                                foreach ($this->prTotalTax as $pTotTax) {
                                                    ?>
                                                    <tr>
                                                        <td width="30%" class="text-left" ><?php echo $pTotTax['pTN']; ?></td>
                                                        <td class="text-right"><?php echo '(' . $pTotTax['pTP'] . '%)'; ?></td>
                                                        <td width="40%" class="text-right"><?php echo number_format($pTotTax['pTA'], 2); ?></td>
                                                    </tr>
                                                    <?php
                                                }
                                                ?>
                                            </table>
                                        <?php } ?>
                                    </td>
                                    <td class="text-right font_weight" colspan="1">
                                        <?php
                                        foreach ($this->prTotalTax as $pTotTax) {
                                            $fullTotalTaxAmount += floatval($pTotTax['pTA']);
                                        }
                                        echo number_format($fullTotalTaxAmount, 2);
                                        ?>
                                    </td>
                                    <td></td>
                                </tr>
                            <?php } ?>


                            <tr><!--total-->
                                <td colspan="6"><h4 class="font_weight"><?php echo $this->translate("Total"); ?></h4><td class="text-right"><h4><?php echo $this->currencySymbol ?></h4></td></td>
                                <td colspan="2" class="text-right"><h4 id="finaltotal" class="font_weight"><?php echo number_format($this->prT, 2); ?></h4></td>
                            </tr>
                        </tbody>
                    </table>
                    <br/>
                    <hr/>
                    <table width="100%" class="table bigtable table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width: 10%"><?php echo $this->translate("Code"); ?></th>
                                <th style="width: 20%"><?php echo $this->translate("Item"); ?></th>
                                <th  colspan="2" style="width: 40%"><?php echo $this->translate("Serial/Batch Details"); ?></th>
                                <th class="text-right" style="width: 13%"><?php echo $this->translate("Quantity"); ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            foreach ($this->prProducts as $prproduct) {
                                if (empty($prproduct['sP']) && empty($prproduct['bP'])) {

                                } else {
                                    ?>
                                    <tr class="">
                                        <td id='code'><?php echo $prproduct['prPC']; ?></td>
                                        <td id='name'><?php echo $prproduct['prPN']; ?></td>
                                        <td>
                                            <?php
                                            if (!empty($prproduct['bP'])) {
                                                ?>
                                                <table>
                                                    <th class="text-left"><?php echo $this->translate("Code"); ?></th>
                                                    <th class="text-right"><?php echo $this->translate("Qty"); ?></th>
                                                    <?php
                                                    foreach ($prproduct['bP'] as $batchProduct) {
                                                        ?>
                                                        <tr>
                                                            <td width="30%" class="text-left"><?php echo $batchProduct['bC']; ?></td>
                                                            <td width="30%" class="text-right"><?php echo $batchProduct['bRQ']; ?></td>
                                                        </tr>
                                                    <?php }
                                                    ?>

                                                </table>
                                            <?php }
                                            ?>
                                        </td>
                                        <td>
                                            <?php
                                            if (!empty($prproduct['sP'])) {
                                                $totalSerialQty = 0;
                                                ?>
                                                <table>
                                                    <th class="text-left"><?php echo $this->translate("Serial No"); ?></th>
                                                    <?php
                                                    if (!empty($prproduct['bP'])) {
                                                        ?>
                                                        <th class="text-right"><?php echo $this->translate("Code"); ?></th>
                                                        <?php
                                                    }
                                                    foreach ($prproduct['sP'] as $serialProduct) {
                                                        $totalSerialQty++;
                                                        ?>
                                                        <tr>
                                                            <td width="30%" class="text-left"><?php echo $serialProduct['sC']; ?></td>
                                                            <td width="30%" class="text-right"><?php echo $serialProduct['sBC']; ?></td>
                                                        </tr>
                                                    <?php }
                                                    ?>

                                                </table>
                                            <?php }
                                            ?>
                                        </td>
                                        <td id='quantity' class='text-right'>
                                            <?php echo (!empty($prproduct['sP'])) ? $totalSerialQty : $prproduct['prRPQ']; ?>
                                        </td>
                                    </tr>
                                    <?php
                                }
                            }
                            ?>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div><!--./col-->


