<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>

            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Cheque Reference') ?></th>
                        <th><?php echo $this->translate('Bank Name') ?></th>
                        <th><?php echo $this->translate('Cheque Amount') ?></th>
                        <th><?php echo $this->translate('Date') ?></th>
                        <th><?php echo $this->translate('Cheque Type') ?></th>
                    </tr>

                    <?php
                    if(!empty($chequeData)){
                    foreach ($chequeData as $cheque) {
                        ?>
                        <tr class="even_row">
                            <td><?php echo $cheque['refNum']; ?></td>
                            <td><?php echo $cheque['bank']; ?></td>
                            <td><?php echo number_format($cheque['amount'], 2); ?></td>
                            <td><?php echo $cheque['date']; ?></td>
                            <td><?php echo $cheque['type']; ?></td>
                        </tr>

                    <?php
                    }
                    } else {
                    ?>
                        <tr class="even_row">
                            <td colspan="5"><?php echo $this->translate('no matching records found') ?></td>
                        </tr>
                    <?php
                    }
                    ?>

                </tbody>
            </table>
        </div>
    </div>
</div>