<?php
$this->headScript()->appendFile($this->basePath('js/report-pdf/cheque-report.js'));
$this->headScript()->appendFile($this->basePath('js/report-pdf/common-report.js'));
$this->headScript()->appendFile($this->basePath('/css/report.css'));
?>

<!--panel-->
<div class='panel panel-default margin_top margin_bottom panel_border'>

    <div class='panel-heading panel_heading_style'><!--panel_heading-->
        <h4 class="font_weight h1_no_margin report_heading"><?php echo $this->translate('Cheque Reports') ?></h4>
    </div>

    <div class="panel-body panel_body_style flex-container">

        <!--links-->
        <div class="col-lg-3 col-md-3 remove_left_padding remove_right_padding panel_links">
            <ul class="nav nav-pills nav-stacked data-tabs" data-tabs="tabs">
                <li id="chequeDetails" class="report_pills active"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Cheque Details') ?></a></li>
            </ul>
        </div>

        <!--process_area-->
        <div class="col-lg-9 col-md-9 form-horizontal process_area">
            <div id="report_head">

                <div class="form-group">

                    <div class="row">
                        <div class="item-transfer-content">
                            <div class="account-list">

                                <div class="col-lg-4 col-md-6">
                                    <select class='form-control' id="bankList" title="Select Bank">
                                        <option value="">----- <?php echo $this->translate('Select Bank') ?> -----</option>
                                        <?php foreach ($banks as $bankId => $bankName) { ?>
                                            <option value="<?php echo $bankId; ?>"><?php echo $bankName; ?></option>
                                        <?php } ?>
                                    </select>
                                </div>

                                <div class="col-lg-4 col-md-6">
                                    <select class='form-control' id="accountList" title="Select Account">
                                        <option value="">----- <?php echo $this->translate('Select Account') ?> -----</option>
                                    </select>
                                </div>

                                <div class="col-lg-4 col-md-6">
                                    <select class='form-control' id="chequeType" title="Cheque Type">
                                        <option value=""><?php echo $this->translate('All Cheques') ?></option>
                                        <option value="1">Received Cheques</option>
                                        <option value="2">Issued Cheques</option>
                                    </select>
                                </div>

                                <div class="col-lg-4 col-md-6">
                                    <select class='form-control' id="reconcileStatus" title="Cheque Type">
                                        <option value=""><?php echo $this->translate('Reconciled & Unreconciled') ?></option>
                                        <option value="0">Unreconciled</option>
                                        <option value="1">Reconciled</option>
                                    </select>
                                </div>

                                <div class="col-lg-4 col-md-6">
                                    <div class="input-group date datetimepicker">
                                        <input type="text" class="form-control cal-input" placeholder="<?php echo $this->translate('From Date')?>" id="fromDate">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6">
                                    <div class="input-group date datetimepicker">
                                        <input type="text" class="form-control cal-input" placeholder="<?php echo $this->translate('To Date')?>" id="toDate">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div><!--row-->

                    <div class="row">
                        <div class="col-lg-12 btn-group btn_panel_height_high report_buttons">
                            <button class="btn btn-default col-lg-2 report-btn" id="viewReport"><?php echo $this->translate('View Report') ?></button>
                            <button class="btn btn-default col-lg-2 report-btn" id="generatePdf"><?php echo $this->translate('Generate Pdf') ?></button>
                            <button class="btn btn-default col-lg-2 report-btn" id="csvReport"><?php echo $this->translate('CSV Report') ?></button>
                        </div>
                    </div>

                </div><!--form-group-->

            </div>
        </div><!--form-->

    </div><!--panel_body-->
</div><!--panel-->

<iframe id="cheque-report" class="panel panel-default margin_top margin_bottom panel_border report-iframe" style="width: 100%"></iframe>


