<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
<?php $this->headScript()->captureEnd() ?>

<?php $this->headScript()->appendFile($this->basePath('js/location/location.js')); ?>
<?php $this->headScript()->appendFile($this->basePath('js/common.js')); ?>
<?php
$form = $this->form;
$form->setAttribute('id', 'add-locaion');
$form->prepare();
?>
<div class="margin_bottom location-header">
    <h3 class="no_top_margin font_weight"><?php echo $this->translate('Location') ?></h3>
    <hr class="custom_hr bottom_line">
</div>

<div id ="location-list">
    <?php echo $this->form()->openTag($form); ?>

    <div class="well well_heading">
        <h5 class="font_weight location_update"><?php echo $this->translate('Edit location') ?></h5>
    </div>

    <div class="well well_body">

        <div><?php echo $this->formRow($form->get('locationID')); ?></div>

        <div class="form-horizontal">
            <div class="form-group"><!--code-->
                <label class="control-label col-lg-2"><?php echo $this->translate('Code') ?><span class="mandatory_field"> *</span></label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($form->get('locationCode')); ?>
                </div>
            </div>

            <div class="form-group"><!--name-->
                <label class="control-label col-lg-2"><?php echo $this->translate('Name') ?><span class="mandatory_field"> *</span></label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($form->get('locationName')); ?>
                </div>
            </div>

            <div class="form-group"><!--email-->
                <label class="control-label col-lg-2"><?php echo $this->translate('Email') ?></label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($form->get('locationEmail')); ?>
                </div>
            </div>

            <div class="form-group"><!--status-->
                <label class="control-label col-lg-2"><?php echo $this->translate('Status') ?></label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($form->get('locationStatus')); ?>
                </div>
            </div>

            <div id="locationMore" class="hidden">
                <div class="form-group"><!--tel-->
                    <label class="control-label col-lg-2"><?php echo $this->translate('Telephone') ?></label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($form->get('locationTelephone')); ?>
                    </div>
                </div>

                <div class="form-group"><!--fax-->
                    <label class="control-label col-lg-2"><?php echo $this->translate('Fax') ?></label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($form->get('locationFax')); ?>
                    </div>
                </div>

                <div class="form-group"><!--Location tax-->
                    <label class="control-label col-lg-2"><?php echo $this->translate('Location Tax') ?></label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($form->get('locationTax')); ?>
                    </div>
                </div>

                <div class="form-group"><!--address-->
                    <label class="control-label col-lg-2"><?php echo $this->translate('Address') ?></label>
                    <div class="col-lg-7 wizard">
                        <div class="input-group margin_bottom_normal_low">
                            <span class="input-group-addon location-input-addon">
                                <?php echo $this->translate('Address Line 1') ?>
                            </span>
                            <?php echo $this->formRow($form->get('locationAddressLine1')); ?>
                        </div>

                        <div class="input-group margin_bottom_normal_low">
                            <span class="input-group-addon location-input-addon">
                                <?php echo $this->translate('Address Line 2') ?>
                            </span>
                            <?php echo $this->formRow($form->get('locationAddressLine2')); ?>
                        </div>

                        <div class="input-group margin_bottom_normal_low">
                            <span class="input-group-addon location-input-addon">
                                <?php echo $this->translate('Address Line 3') ?>
                            </span>
                            <?php echo $this->formRow($form->get('locationAddressLine3')); ?>
                        </div>

                        <div class="input-group margin_bottom_normal_low">
                            <span class="input-group-addon location-input-addon">
                                <?php echo $this->translate('Address Line 4') ?>
                            </span>
                            <?php echo $this->formRow($form->get('locationAddressLine4')); ?>
                        </div>
                    </div>
                </div>
            </div>

            <!--status-->
            <div class="form-group">
                <div class="location_more">
                    <div class="_row_with_margin">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-3">
                            <a id="moreDetails" class="btn"><?php echo $this->translate('More Details ') ?><span class="glyphicon glyphicon-circle-arrow-down"></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div><?php echo $this->formRow($form->get('locationID')); ?></div><!--hiddle_field-->
        </div><!--form_horizontal-->

        <div class="_row_with_margin clearfix">
            <div class="col-lg-9 text-right margin_top_low margin_bottom_normal_low">
                <button id="add-location-button" class="btn btn-primary"><?php echo $this->translate('Update') ?></button>
                <button id='list-locations' class="btn btn-default" type="button" ><?php echo $this->translate('Cancel') ?></button>
            </div>
        </div>

    </div><!--panel-->

    <?php echo $this->form()->closeTag(); ?>
