<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath() ?>';
var update_location = '<?php echo $this->translate('Update Location'); ?>';
<?php $this->headScript()->captureEnd() ?>

<?php $this->headScript()->appendFile($this->basePath('js/location/location.js')); ?>
<?php $this->headScript()->appendFile($this->basePath('js/common.js')); ?>
<div id="create-l-form-div" class="modal fade"></div>

<div>
    <?php
    if (isset($this->locationHeader)):
        echo $this->locationHeader;
    endif;
    ?>
</div>

<div id="location-list" class="location-list margin_top">
    <div class="table table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><?php echo $this->translate('Location code'); ?></th>
                    <th><?php echo $this->translate('Location name'); ?></th>
                    <th><?php echo $this->translate('Telephone'); ?></th>
                    <th><?php echo $this->translate('LocationFax'); ?></th>
                    <th><?php echo $this->translate('Location Tax'); ?></th>
                    <th><?php echo $this->translate('Status'); ?></th>
                    <th class="text-center"><?php echo $this->translate('Edit'); ?></th>
                    <!--<th class="text-center"><?php echo $this->translate('View'); ?></th>-->
                    <th class="text-center"><?php echo $this->translate('Delete'); ?></th>
                </tr>
            </thead>

            <tbody>
                <?php
                foreach ($this->locations as $key => $location) {
                    ?>
                    <tr>
                        <td> <?php echo $location->locationCode; ?></td>
                        <td> <?php echo $location->locationName; ?></td>
                        <td> <?php echo $location->locationTelephone; ?></td>
                        <td> <?php echo $location->locationFax; ?></td>
                        <td>
                            <?php if($location->locationTax): ?>
                                <span class="label label-success"><?php echo $this->translate('Enable') ?></span>
                            <?php else: ?>
                                <span class="label label-danger"><?php echo $this->translate('Disable') ?></span>
                            <?php endif; ?>
                        </td>
                        <td>
                            <?php
                            switch ($location->locationStatus) {
                                case 0:
                                    $value = "Inactive";
                                    $style = "label label-warning";
                                    break;

                                case 1:
                                    $value = "Active";
                                    $style = "label label-success";
                                    break;

                                case 2:
                                    $value = "Lock";
                                    $style = "label label-danger";
                                    break;
                            }
                            ?>
                            <span class="<?php echo $style; ?>"><?php echo $value; ?></span>
                        </td>
                        <td class="text-center">
                            <a href="<?php echo $this->url('location', array('action' => 'edit', 'param1' => $location->locationID)); ?>" id="location-edit-<?php echo $location->locationID ?>">
                                <span class="pointer_cursor link_color" id="<?php echo $location->locationID . "_update" ?>"><i class="fa fa-pencil-square-o custom_font_size"></i></span>
                            </a>
                        </td>
    <!--                        <td class="text-center">
                            <span class="pointer_cursor link_color" onclick="locationAction('<?php echo $location->locationID . "_view" ?>')" id="<?php echo $location->locationID . "_view" ?>"><i class="fa fa-eye custom_font_size"></i></span>
                        </td>-->
                        <td class="text-center">
                            <?php if ($this->userCurrentLocation != $location->locationID) { ?>
                                <span class="pointer_cursor link_color" onclick="locationAction('<?php echo $location->locationID . "_delete" ?>')" id="<?php echo $location->locationID . "_delete" ?>"><i class="fa fa-trash-o custom_font_size"></i></span>
                            <?php } ?>
                        </td>
                        <?php
                    }

                    if (count($this->locations) == 0) {
                        ?>
                    <tr class="not_found">
                        <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                    </tr>
                    <?php
                }
                ?>

            </tbody>
        </table>
    </div>

    <?php
    //add at the end of the file after the table
    if (!isset($this->paginator)) {
        echo $this->paginationControl(
                $this->locations, 'sliding', array('partial/paginator.phtml', 'location'), array(
            'route' => 'location'
                )
        );
    }
    ?>
</div>
