<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath() ?>'
var create_new_location = '<?php echo $this->translate('Create new location'); ?>';
var update_location = '<?php echo $this->translate('Update Location'); ?>';
<?php $this->translate('Save Location') ?>
<?php $this->translate('Update Location') ?>

<?php
$this->headScript()->captureEnd();
$form = $this->form;
$form->prepare();
$form->setAttribute('id', 'add-locaion');
$form->setAttribute('enctype', 'multipart/form-data');
$form->setAttribute('method', 'POST');
$this->headScript()->appendFile($this->basePath('js/location/location.js'));
?>

<?php echo $this->form()->openTag($form); ?>

<div class="well well_heading">
    <h5 class="font_weight location_update"><?php echo $this->translate('Create new location') ?></h5>
</div>

<div class="well well_body">
    <div class="form-horizontal margin_top_normal">

        <div class="form-group"><!--code-->
            <label class="control-label col-lg-3 col-md-3 col-sm-4"><?php echo $this->translate('Code') ?><span class="mandatory_field"> *</span></label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                <?php echo $this->formRow($form->get('locationCode')); ?>
            </div>
        </div>

        <div class="form-group"><!--name-->
            <label class="control-label col-lg-3 col-md-3 col-sm-4"><?php echo $this->translate('Name') ?><span class="mandatory_field"> *</span></label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                <?php echo $this->formRow($form->get('locationName')); ?>
            </div>
        </div>

        <div class="form-group"><!--email-->
            <label class="control-label col-lg-3 col-md-3 col-sm-4"><?php echo $this->translate('Email') ?></label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                <?php echo $this->formRow($form->get('locationEmail')); ?>
            </div>
        </div>

        <div class="form-group"><!--status-->
            <label class="control-label col-lg-3 col-md-3 col-sm-4"><?php echo $this->translate('Status') ?></label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                <?php echo $this->formRow($form->get('locationStatus')); ?>
            </div>
        </div>

        <div id="locationMore" class="hidden">
            <div class="form-group"><!--tel-->
                <label class="control-label col-lg-3 col-md-3 col-sm-4"><?php echo $this->translate('Telephone') ?></label>
                <div class="col-lg-6 col-md-6 col-sm-8">
                    <?php echo $this->formRow($form->get('locationTelephone')); ?>
                </div>
            </div>

            <div class="form-group"><!--fax-->
                <label class="control-label col-lg-3 col-md-3 col-sm-4"><?php echo $this->translate('Fax') ?></label>
                <div class="col-lg-6 col-md-6 col-sm-8">
                    <?php echo $this->formRow($form->get('locationFax')); ?>
                </div>
            </div>

            <div class="form-group"><!--address-->
                <label class="control-label col-lg-3 col-md-3 col-sm-4"><?php echo $this->translate('Address') ?></label>
                <div class="col-lg-6 col-md-6 col-sm-8 wizard">
                    <div class="input-group margin_bottom_normal_low">
                        <span class="input-group-addon location-input-addon">
                            <?php echo $this->translate('Address Line 1') ?>
                        </span>
                        <?php echo $this->formRow($form->get('locationAddressLine1')); ?>
                    </div>

                    <div class="input-group margin_bottom_normal_low">
                        <span class="input-group-addon location-input-addon">
                            <?php echo $this->translate('Address Line 2') ?>
                        </span>
                        <?php echo $this->formRow($form->get('locationAddressLine2')); ?>
                    </div>

                    <div class="input-group margin_bottom_normal_low">
                        <span class="input-group-addon location-input-addon">
                            <?php echo $this->translate('Address Line 3') ?>
                        </span>
                        <?php echo $this->formRow($form->get('locationAddressLine3')); ?>
                    </div>

                    <div class="input-group margin_bottom_normal_low">
                        <span class="input-group-addon location-input-addon">
                            <?php echo $this->translate('Address Line 4') ?>
                        </span>
                        <?php echo $this->formRow($form->get('locationAddressLine4')); ?>
                    </div>
                </div>
            </div>
        </div>

        <!--status-->
        <div class="form-group location_more">
            <div class="row">
                <a id="moreDetails" title="" class="btn"><?php echo $this->translate('More Details ') ?><span class="glyphicon glyphicon-circle-arrow-down"></span></a>
            </div>
        </div>

        <div><?php echo $this->formRow($form->get('locationID')); ?></div><!--hiddle_field-->

    </div><!--form_horizontal_div-->
</div><!--panel_body-->

<div class="panel-footer">

    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-right margin_top_low margin_bottom_normal_low">
            <?php echo $this->formRow($form->get('reset-location-button')); ?>
            <?php echo $this->formRow($form->get('list-location-button')); ?>
            <?php echo $this->formRow($form->get('add-location-button')); ?>
        </div>
    </div>
</div><!--penal_footer-->

<?php echo $this->form()->closeTag(); ?>