<div class="margin_bottom location-header">
    <h3 class="no_top_margin font_weight"><?php echo $this->translate('Location') ?></h3>
    <hr class="custom_hr bottom_line">
</div>

<div id='location-header'>
    <?php
    //if (is_array($_SESSION['ezBizUser']['featureNames'])) {
    //if (in_array("AddUser", $_SESSION['ezBizUser']['featureNames'])) {
    ?>
    <?php 
    if ($this->hideLocationCreate == false) {
    ?>
        <div class="row">
            <div class="add_margin location_create">
                <div class="col-lg-9 col-md-9 col-sm-9">
                    <p><?php echo $this->translate('Create New Location') ?></p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <a id="create-location" href="location/create" class="btn btn-default btn-block"><?php echo $this->translate('Create Location') ?></a>
                </div>
            </div>
        </div>
    <?php 
    }
    ?>

    <div class="well clearfix well_custom_padding margin_top">
        <div class="col-lg-2 col-md-3 col-sm-12">
            <label class="remove_weight"><?php echo $this->translate('Search Location') ?></label>
        </div>
        <div class="search_field col-lg-10 col-md-9 col-sm-12">
            <form id="locationSearchForm" method="post">
                <div class="input-group">
                    <input type="text" id ='searchLocation' class="form-control" placeholder="<?php echo $this->translate('Enter Location\'s Name or Location Code Or Location Address') ?>"/>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default minus_margin search_btn_css"><?php echo $this->translate('Search') ?></button>
                        <button type="reset" class="btn btn-default reset"><?php echo $this->translate('Cancel') ?></button>
                    </span>
                </div>
            </form>
        </div>
    </div>

    <?php //} else { ?>
    <!--            <div id='location-header' class='col-lg-12'>
                    <input type ="text" id ='searchuser' class="form-control" placeholder="<?php echo $this->translate('Enter Location\'s Name or Part of the Name') ?>"/>
                </div>-->
    <?php
    //}
    //}
    ?>
</div><!--row-->
