<?php
$form = $this->addJobStationForm;
$form->setAttribute('id', 'create-job-station-form');
?>

<div class="job-station-form-container margin_top">
    <div class="well well_heading">
        <h5 class="font_weight add"><?php echo $this->translate('Add Job Station') ?></h5>
        <h5 class="font_weight update hidden"><?php echo $this->translate('Update Job Station') ?></h5>
    </div>

    <div class="well well_body">
        <?php
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formHidden($form->get('jobStationID'));
        ?>

        <div class="_row_with_margin clearfix">
            <div class="col-lg-4 col-md-4">
                <div class="form-group">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Job Station Name') ?><font color="red"> *</font></label>
                    <div class="" id="actName">
                        <?php echo $this->formRow($form->get('jobStationName')); ?>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="form-group">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Max Value per Job Station') ?></label>
                    <div class="" id="actMxVlu">
                        <?php echo $this->formRow($form->get('maxValue')); ?>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="form-group">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Min Value per Job Station') ?></label>
                    <div class="" id="actMnVlu">
                        <?php echo $this->formRow($form->get('minValue')); ?>
                    </div>
                </div>
            </div>

            <!--update&cancel-->
            <div class="col-lg-4 col-lg-offset-8 update">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary update hidden" id="update"><?php echo $this->translate('Update') ?></button>
                    <button type="reset" class="btn btn-default reset update hidden"><?php echo $this->translate('Cancel') ?></button>
                </div>
            </div>

            <!--reset&add_new-->
            <div class="col-lg-4 col-lg-offset-8 button-set">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary add " id="add"><?php echo $this->translate('Add New') ?></button>
                    <button type="reset" class="btn btn-default add reset"><?php echo $this->translate('Reset') ?></button>
                </div>
            </div>
        </div>

        <?php
        echo $this->form()->closeTag($form);
        ?>
    </div><!--well-->
</div><!--job_station_form_container-->

<div id="jobStationview"></div>

<!--search-->
<div class="well clearfix well_custom_padding margin_top ">
    <form class="job-station-search" id="job-station-search" method="post" action="">
        <div class="col-lg-3">
            <label class="remove_weight"><?php echo $this->translate('Search Job Station') ?></label>
        </div>
        <div class="col-lg-9 xs-search-field">
            <div class=" input-group">
                <input type="text" class="search form-control" id ='jobStation-search-keyword' placeholder="<?php echo $this->translate('Enter Job Station Name') ?>"/>
                <span class="input-group-btn">
                    <button class="btn btn-default search_btn_css" id="jo-station-search" type="submit"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default reset" type="reset"><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </form>
</div>

<!--list_view-->
<div id="job-station-list" class="margin_top">
    <?php echo $this->partial('job-card/job-station/list', array('jobStation' => $this->jobStation, 'paginated' => $this->paginated)); ?>
</div>