<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('Job Station Name') ?></th>
                <th><?php echo $this->translate('Max Value per Job Station') ?></th>
                <th><?php echo $this->translate('Min Value per Job Station') ?></th>
                <th class="text-center" ><?php echo $this->translate('Edit') ?></th>
                <th class="text-center" ><?php echo $this->translate('Active') ?></th>
                <th class="text-center" ><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>

        <tbody>
            <?php
            foreach ($this->jobStation as $js) {
                $js = (object) $js;
                ?>
                <tr data-jobStationid="<?php echo $js->jobStationID; ?>">
                    <td class="joStName"><?php echo $js->jobStationName ?></td>
                    <td class="joStMx"><?php echo $js->jobStationMaxValue ?></td>
                    <td class="joStMn"><?php echo $js->jobStationMinValue ?></td>
                    <td class="text-center">
                        <a href="#" class="edit">
                            <span class="fa fa-pencil-square-o custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="#" class="status">
                            <span class="<?php echo ($js->jobStationStatus == '1') ? 'fa fa-check-square-o' : 'fa fa-square-o '; ?> custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center" >
                        <a href="#" class="delete">
                            <span class="fa fa-trash-o custom_font_size"></span>
                        </a>
                    </td>
                </tr>
                <?php
            }
            if (count($this->jobStation) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div><!--table_responsive-->

<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->jobStation, 'sliding', array('partial/paginator.phtml', 'jobStation'), array(
        'route' => 'jobStation', 'action' => 'create'
            )
    );
}
?>
