<?php $this->headScript()->appendFile($this->basePath('js/expenses/deposits.js')); ?>

<div class="row">
    <div id="cheque-deposit-list" class="margin_top_normal">
        <div class="table table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><?php echo $this->translate('Account Number'); ?></th>
                        <th><?php echo $this->translate('Account Name'); ?></th>
                        <th><?php echo $this->translate('Bank'); ?></th>
                        <th><?php echo $this->translate('Amount'); ?></th>
                        <th><?php echo $this->translate('Date'); ?></th>
                        <th class="text-center"><?php echo $this->translate('View'); ?></th>
                        <th class="text-center"><?php echo $this->translate('Cancel'); ?></th>
                    </tr>
                </thead>

                <tbody>
                    <?php
                    foreach ($deposits as $deposit) {
                        ?>
                        <tr data-cheque-deposit-id="<?php echo $deposit->chequeDepositId; ?>" data-account-name="<?php echo $deposit->accountName; ?>" data-currency-symbol="<?php echo $deposit->currencySymbol; ?>">
                            <td><?php echo $deposit->accountNumber; ?></td>
                            <td><?php echo $deposit->accountName; ?></td>
                            <td><?php echo $deposit->bankName; ?></td>
                            <td><?php echo $deposit->currencySymbol.' '.  number_format($deposit->chequeDepositAmount, 2); ?></td>
                            <td><?php echo $deposit->chequeDepositDate; ?></td>
                            <td class="text-center">
                                <a href="#" class="fa fa-eye custom_font_size deposit-view"></a>
                            </td>
                            <td class="text-center">
                                <a href="#" class="fa fa-ban custom_font_size deposit-cancel"></a>
                            </td>
                        </tr>
                        <?php
                    }
                    if (count($deposits) == 0) {
                        ?>
                        <tr class="not_found">
                            <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                        </tr>
                        <?php
                    }
                    ?>
                </tbody>
            </table>
        </div>
        <?php
        echo $this->paginationControl(
                $deposits, 'sliding', array('partial/paginator.phtml', 'bank'), array('route' => 'cheque-deposit', 'action' => 'deposits')
        );
        ?>
    </div>
</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="depositDeleteModal" tabindex="-1" role="dialog" aria-labelledby="depositDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="depositDeleteModalLabel"><?php echo $this->translate('Cancel Deposit') ?></h4>
            </div>
            <div class="modal-body depositDeleteModalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate('Close'); ?></button>
                <button type="button" class="btn btn-danger" id="btnConfirm"><?php echo $this->translate('Confirm') ?></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="depositModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg custom-modal-width">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myLargeModalLabel"><?php echo $this->translate('Cheque Deposit') ?></h4>
            </div>

            <div class="modal-body">

                <div id="deposit-cheque-list"></div>

                <form class="form-horizontal margin_top">
                    <div class="form-group bounced_cheque_container">
                        <label for="bouncedCheque" class="col-sm-2 control-label"><?php echo $this->translate('Select Bounced Cheques'); ?> &nbsp;</label>
                        <div class="col-sm-10" id="bounced_cheque_div">                        
                            <div class="col-sm-10  sample_bounced_cheque bounced_cheque_div hidden">
                                <div class="checkbox">
                                    <label><input type="checkbox" class="bounced_cheque_cbx"><label class="bounced_cheque_cbx_lbl"></label></label>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    
                    <div class="form-group">
                        <label for="chequeAmount" class="col-sm-2 control-label"><?php echo $this->translate('Amount'); ?> &nbsp;<span class="currencySymbolCls"></span></label>
                        <div class="col-sm-10">
                            <input type="input" class="form-control" id="checkAmount" placeholder="" disabled="disabled">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="deposit" class="col-sm-2 control-label"><?php echo $this->translate('Bank Charge') ?> &nbsp;<span class="currencySymbolCls"></span><font color="red"></font></label>
                        <div class="col-sm-10">
                            <input type="input" class="form-control" id="bankCharge" placeholder="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="comment" class="col-sm-2 control-label"><?php echo $this->translate('Comment') ?></label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="cancelComment" rows="3"></textarea>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="updateDepositBtn" disabled><?php echo $this->translate('Update') ?></button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- ./.modal -->