<?php $this->headScript()->appendFile($this->basePath('js/expenses/undeposited-cheques.js')); ?>


<div class='well clearfix well_custom_padding margin_top xs_view'><!--get_invoice-->

    <div class="row">
        <input type="hidden" id="posFlag" value="0">

        <div class='col-lg-3 col-md-3 col-sm-3 col-xs-12'>
            <label class="remove_weight margin_bottom_normal_low"><?php echo $this->translate('Search Undeposit Cheque By Document') ?></label>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4">
            <select id="inv-search-select" class=" form-control col-lg-2">
                <option value="Invoice No"><?php echo $this->translate('Invoice No') ?></option>
                <option value="Income No"><?php echo $this->translate('Income No') ?></option>
                <option value="Payment No"><?php echo $this->translate('Payment No') ?></option>
                <option value="Customer Name"><?php echo $this->translate('Customer Name') ?></option>
            </select>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4">
            <select class="form-control selectpicker show-tick" id="inv-search" name="inv-search" data-live-search="true" title="Select Invoice No">
                <option value=""><?php echo $this->translate('Select Invoice No') ?></option>
            </select>
            <select class="form-control selectpicker show-tick" id="inv-custa-search" name="inv-custa-search" data-live-search="true" title="Select Customer Name">
                <option value=""><?php echo $this->translate('Select Customer Name') ?></option>
            </select>
            <select class="form-control selectpicker show-tick" id="pay-search" name="pay-search" data-live-search="true" title="Select Payment No">
                <option value=""><?php echo $this->translate('Select Payment No') ?></option>
            </select>
            <select class="form-control selectpicker show-tick" id="inc-search" name="inc-search" data-live-search="true" title="Select Income No">
                <option value=""><?php echo $this->translate('Select Income No') ?></option>
            </select>
        </div>

        <div class="col-lg-1 col-md-1 col-sm-1">
            <button class="btn btn-default" id="reset-button"><?php echo $this->translate('RESET') ?></button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <br>
            <label class="remove_weight margin_bottom_normal_low"><?php echo $this->translate('Search Cheque by Reference No') ?></label>
        </div>
        <div class="col-lg-9">
            <br>
            <div class=" input-group">
                <input type ="text" id ='chequeRefSearch' class="form-control" placeholder="<?php echo $this->translate('Search Cheque by Ref') ?>"/>
                <span class="input-group-btn">
                    <button class="btn btn-default minus_margin" id="searchByRef"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default" id ="resetSerchByComment"><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </div>
    
</div>



<div id="cheque-list" class="margin_top">
    <div class="table table-responsive"  style="height: auto">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><?php echo $this->translate('Customer Name'); ?></th>
                    <th><?php echo $this->translate('Payment Date'); ?></th>
                    <th><?php echo $this->translate('Cheque Reference'); ?></th>
                    <th><?php echo $this->translate('Cheque Amount'); ?></th>
                    <th><?php echo $this->translate('Bank'); ?></th>
                    <th><?php echo $this->translate('Cheque Date'); ?></th>
                    <th><?php echo $this->translate('Related Docs'); ?></th>
                    <th><input type="checkbox" id="allChequesBox"></th>
                </tr>
            </thead>

            <tbody>
                <?php
                foreach ($cheques as $cheque) {
                    //currency rate
                    $currencyRate = ($cheque['incomingPaymentCustomCurrencyRate'] == 0) ? 1 : $cheque['incomingPaymentCustomCurrencyRate'];
                    //currency symbol
                    $currencySymbol = (isset($cheque['currencySymbol'])) ? $cheque['currencySymbol'] : $this->companyCurrencySymbol;
                    //amount
                    $paymentAmount = $cheque['incomingPaymentMethodAmount'] / $currencyRate;
                    ?>
                    <tr data-incoming-payment-method-cheque-id="<?php echo $cheque['incomingPaymentMethodChequeId']; ?>" data-amount="<?php echo $paymentAmount; ?>" data-currency-id="<?php echo $cheque['currencyID']; ?>">
                        <td><?php echo $cheque['customerName']; ?></td>
                        <td><?php echo $cheque['incomingPaymentCode']; ?></td>
                        <td><?php echo $cheque['incomingPaymentMethodChequeNumber']; ?></td>
                        <td><?php echo $currencySymbol . " " . number_format($paymentAmount, 2); ?></td>
                        <td><?php echo $cheque['incomingPaymentMethodChequeBankName']; ?></td>
                        <td>
                            <?php
                            echo is_null($cheque['postdatedChequeDate']) ? $cheque['incomingPaymentDate'] : $cheque['postdatedChequeDate'];
                            ?>
                        </td>
                        <td class="text-center">
                            <span id="<?php echo $cheque['incomingPaymentMethodChequeId']; ?>" class="link_color related_docs" data-cn-related-id="<?php echo $cheque['incomingPaymentID']; ?>" style="cursor:pointer"><span class="glyphicon glyphicon-link"></span></span>
                        </td>
                        <th><input type="checkbox" class="cheque-box"></th>
                    </tr>

                    <?php
                }
                if (count($cheques) == 0) {
                    ?>
                    <tr class="not_found">
                        <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                    </tr>
                    <?php
                }
                ?>
            </tbody>
        </table>

    </div>
</div>

<!--Button-->
<div class="text-right btn_wrapper">
    <button class="btn btn-primary disabled make-full-width" id="nxtBtn" type="button" data-toggle="modal" data-target="#chequeDepositModal">
        <?php echo $this->translate('Next');?>
    </button>
    <button class="btn btn-default make-full-width" type="button" id="resetBtn">
        <?php echo $this->translate('Reset');?>
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="chequeDepositModal" tabindex="-1" role="dialog" aria-labelledby="chequeDepositModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="chequeDepositModalLabel"><?php echo $this->translate('Deposit Details') ?></h4>
            </div>
            <div class="modal-body">

                <?php
                $form = $this->form;
                $form->setAttribute('id', 'chequeDepositForm');
                $form->prepare();
                ?>

                <div class="form-horizontal margin_top_low">
                    <?php echo $this->form()->openTag($form); ?>

                    <div class="form-group">
                        <label for="bankId" class="col-lg-4 control-label"><?php echo $this->translate('Bank Name ') ?><font color="red"> *</font></label>
                        <div class="col-lg-8">
                            <?php echo $this->formRow($form->get('bankId')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="accountId" class="col-lg-4 control-label"><?php echo $this->translate('Account Name ') ?><font color="red"> *</font></label>
                        <div class="col-lg-8">
                            <?php echo $this->formRow($form->get('accountId')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="chequeDepositAmount" class="col-lg-4 control-label"><?php echo $this->translate('Deposit Amount ') ?><font color="red"> *</font></label>
                        <div class="col-lg-8">
                            <?php echo $this->formRow($form->get('chequeDepositAmount')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="chequeDepositDate" class="col-lg-4 control-label"><?php echo $this->translate('Deposit Date ') ?><font color="red"> *</font></label>
                        <div class="col-lg-8">
                            <?php echo $this->formRow($form->get('chequeDepositDate')); ?>
                        </div>
                    </div>

                    <div class="form-group _remove_margin_bottom">
                        <label for="chequeDepositDescription" class="col-lg-4 control-label"><?php echo $this->translate('Deposit Description ') ?></label>
                        <div class="col-lg-8">
                            <?php echo $this->formRow($form->get('chequeDepositDescription')); ?>
                        </div>
                    </div>

                    <?php echo $this->form()->closeTag(); ?>
                </div><!--form_horizontal-->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <?php echo $this->translate('Close') ?>
                </button>
                <button type="button" id="depositBtn" class="btn btn-primary">
                    <?php echo $this->translate('Deposit');  ?>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addDocHistoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->relatedDocsView; ?>
</div>
<div class="modal fade" id="DocumentViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->documentView; ?>
</div>