<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="_remove_margin_bottom no_top_margin" id="doc_histry_view"><?php echo $this->translate('View Related Documents') ?></h4>
            <h4 class="_remove_margin_bottom no_top_margin hidden" id="relat_doc_view"><?php echo $this->translate('Related Documents') ?></h4>
        </div>
        <div class="modal-body">
            <table class="table _remove_margin_bottom" id="doc-history-table">
                <thead>
                    <tr>
                        <th width="25%"><?php echo $this->translate('Document Type') ?></th>
                        <th width="25%"><?php echo $this->translate('Reference Code') ?></th>
                        <th width="20%"><?php echo $this->translate('Amount') ?></th>
                        <th width="20%"><?php echo $this->translate('Issued Date') ?></th>
                        <th width="10"><?php echo $this->translate('View') ?></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

