
/* Regular */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
        url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
        url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-weight: 400;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Italic-webfont.eot');
    src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
        url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
        url('../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-weight: 400;
    font-style: italic;
}

/* Light */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
        url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
        url('../fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

/* Light Italic */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-LightItalic-webfont.eot');
    src: url('../fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
        url('../fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
        url('../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

/* Semibold */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
        url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
        url('../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: 500;
    font-style: normal;
}

/* Semibold Italic */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot');
    src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
        url('../fonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
        url('../fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
        url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
        url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: bold;
    font-weight: 700;
    font-style: normal;
}

/* Bold Italic */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
        url('../fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
        url('../fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
    font-weight: bold;
    font-weight: 700;
    font-style: italic;
}

/* Extra Bold */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
        url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
        url('../fonts/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format('svg');
    font-weight: 900;
    font-style: normal;
}

/* Extra Bold Italic */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
        url('../fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
        url('../fonts/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}


*,h1,h3{
    margin: 0;
    padding: 0;
}
body{
    background: #cccccc;
}
.align_center{
    float: none;
    margin: 0 auto;
}
h1,h3{
    font-family: "Open Sans";
    font-weight: bold;
}
h1{
    /*    letter-spacing: -0.03em;
        color: #444444;
        font-size: 30px;
        font-weight: 800;
        text-indent: -9999em;*/
}
h3{
    font-size: 19px;
    color: #56504b;
    margin-bottom: 50px;
    border-bottom: 1px dotted #a99b8c;
    padding-bottom: 4px;
}
p{
    margin: 0;
    font-size: 1em;
    color: #555555;
}
a:focus{
    outline: none;
}
.footer a{
    color: #428bca;
    letter-spacing: normal;
}
.body{
    /*background: #ffffff;*/
    font-family: arial;
    padding-bottom: 40px;
    position: relative;
}
.remove_left_padding{
    padding-left: 0;
}
.remove_right_padding{
    padding-right: 0;
}
form{
    padding-top: 50px;
}
form label{
    font-family: arial;
    font-size: 14px;
    font-weight: normal;
    color: #56504b;
    letter-spacing: 0.04em;
}
input[type="text"], input[type="password"], input[type="email"]{
    border-radius: 0;
    height: 40px;
    background: transparent;
    border: 1px solid #a99b8c;
    box-shadow: none;
    color: #222222;
    letter-spacing: 0.04em;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus{
    box-shadow: none;
    border-color: #5ca0da;
}
.form-group{
    margin-bottom: 35px;
}
.btn{
    border-radius: 0;
    letter-spacing: 0.03em;
    background-color: #5ca0da;
    border: none;
    height: 40px;
    color: #eeeeee;
    outline: none;
}
.btn:focus, .btn:hover{
    outline: none;
    color: #ffffff;
    background: #4289c5;
    box-shadow: none;
}
.remove_margin_bottom{
    margin-bottom: 0;
}
.checkbox{
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: middle;
}
.checkbox input[type="checkbox"]{
    margin-top: 13px;
}
.checkbox label{
    letter-spacing: normal;
    color: #56504b;
    font-family: arial;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}
.checkbox p{
    letter-spacing: normal;
}
.checkbox p a{
    color: #e6544f;
}
.forget_pass span, span.back_btn{
    display: block;
    text-align: right;
    /*color: #e6544f;*/
    color: #428bca;
    cursor: pointer;
}
span.back_btn{
    text-align: left;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

span.sign_in_btn{
    display: block;
    height: 40px;
}
span.sign_in_btn a{
    line-height: 40px;
}


span.back_btn:hover{
    text-decoration: underline;
}
div.tooltip-inner{
    padding: 6px 15px;
    font-size: 12px;
    font-family: arial,sans-serif;
    font-weight: normal;
    letter-spacing: 0.02em;
    border-radius: 2px;
}
.request_password{
    display: none;
}
.invalid_login, .reset_password{
    background-color: rgba(230,84,79,.9);
    text-align: center;
    padding: 15px 8px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
}
.invalid_login p, .reset_password p{
    color: #eeeeee;
    font-size: 14px;
    font-family: arial;
}
.login_success{
    background-color: #2ecc71;
}
/*------Loader------*/
.loaderOverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 999999;
}

.loader,
.loader:before,
.loader:after {
    background: #FFF;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 8px;
    height: 1em;
}
.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}
.loader:before {
    left: -1em;
}
.loader {
    position: absolute;
    text-indent: -9999em;
    margin: 0 auto;
    margin-top: 220px;
    position: relative;
    font-size: 11px;
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:after {
    left: 1em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
@-webkit-keyframes load1{
    0%,
    80%,
    100% {
        box-shadow: 0 0 #FFF;
        height: 1em;
    }
    40% {
        box-shadow: 0 -2em #ffffff;
        height: 2em;
    }
}
@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0 #FFF;
        height: 1em;
    }
    40% {
        box-shadow: 0 -2em #ffffff;
        height: 2em;
    }
}
@media(max-width : 768px){
    h1{
        text-align: center;
    }
    .copyright, .thinkcube{
        text-align: center;
        line-height: normal;
        padding: 20px 0 10px;
    }
    .thinkcube{
        padding-bottom: 25px;
    }
    .thinkcube span{
        display: none;
    }
    h3{
        margin-bottom: 30px;
    }
    .body {
        min-height: 460px !important;
    }
}

@media(max-width : 1200px){
    .body {
        min-height: 460px !important;
    }
}

