table.templates a{
    outline: none;
    text-decoration: none;
}

tr.subheading th{
    background: #f1f1f1;
}

tr.subheading th a.add{
    margin-left: 3px;
}

.paper-cont{
    background: #ccc;
    padding: 30px 0px;
    margin: 0px -20px -20px -20px;
}

.paper-edit{
    width: 800px;
    height: 1100px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0px 0px 10px #999;
    -moz-box-shadow: 0px 0px 10px #999;
    -webkit-box-shadow: 0px 0px 10px #999;
}

.paper-edit .note-editor{
    border: 1px dashed #e0e0e0;
}

.custom_font_size{
    font-size: 15px;
}

#detailFields option{
    text-indent: 5px;
}

#detailFields option.disabled{
    text-indent: 0px;
    background: #f0f0f0;
    padding: 3px;
}

#edit-template .modal-header {
    padding-bottom: 0px;
}

#edit-template .modal-header form{
    padding-top: 20px;
    border-top: 1px solid #e0e0e0;
    margin-top: 15px;
}

#edit-template .modal-body {
    max-height: calc(100vh - 190px);
    overflow-y: auto;
    padding-top: 0px;
}

#edit-template form#saveTemplate{
    padding: 20px 15px 0px 15px;
    border-top: 1px solid #e0e0e0;
    margin: 15px -15px 0px -15px;
}

/**/

div.note-editable{
    min-height: 400px;
}

div.note-editable .table{
    margin-bottom: 0px;
}

div.note-editable .noneditable{
    margin-top: -1px;
}

div.note-editable abbr{
    background: #e0e0e0;
}

