/*
    Document   : report.css
    Created on : May 9, 2014, 11:05:52 AM
    Author     : SANDUN <sandun@thinkcube.com>
    Description: report iframe css

*/

root {
    display: block;
}
.report-iframe{
    width: 100%;
    /*height: 600px;*/
}

