.title-dashboard {
    color:#5081e7;
}

.jobInput {
    border-radius: 10px; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border: 1% solid white;
    margin-bottom: 10px;
    /*margin-top: 5px;*/
    /*box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 5px 1px 0 rgba(0, 0, 0, 0);*/
    border: 0px;
    background-color: white;
    font-size: 12px;
}

.title-widget {
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 5px 1px 0 rgba(0, 0, 0, 0);
    margin: 15px;
    border-radius: 10px; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border: 1% solid white;
}

.graph-widget {
    background-color: white;
    margin: 15px;
    border-radius: 10px; 
}

.best-items {
    background-color: white;
    border-radius: 10px; 
}

.final-graph-row {
    background-color: white;
    border-radius: 10px; 
    margin: 15px !important;
    min-height: 275px;
}

.item-row {
    display: flex;
    border-radius: 50px;
    border: 1px solid #bcb4b4;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 5px 1px 0 rgba(0, 0, 0, 0);
    margin: 10px !important;
    display: flex;
    min-height: 42px;
}

.profit-rate {
    color: green;
}

.loss-rate {
    color: red;
}

 @media screen and (min-width: 1200px) {
  .widgetRow {
    display: flex;
  }
  .graph-row {
    display: flex;
  }
  .target-value {
    position: relative;
    top: 35px;
    left: -15px;
  }
   #cash-chart {
        position: relative;
        top: 75px;
    }
   #gp-chart {
        position: relative;
        top: 75px;
    }
        
}

/*#sales-summary {
    position: relative;
    top: 10px;
    left: 38px;
}

#sales-payment-summary {
    position: relative;
    top: 10px;
    left: 38px;
}

#sales-gp-summary {
    position: relative;
    top: 10px;
    left: 38px;
}*/

.nav-tabs {
  border: none;
}

.nav-tabs > li.active {
  /*box-shadow: 0px 15px 10px -15px #111;*/
}

.nav-tabs > li.active > a {
  border: 0px solid #bbb !important;
}

.nav-tabs > li.active > a > .tab-title {
  /*border: 0px solid #bbb !important;*/
  color: #4a4040;
}

.tab-title {
  margin-right: 20px;
  margin-left: 20px;
  padding-bottom: 10px;
  color: #a19696;
  font-weight: bold;
}

.tab-title1 {
  margin-right: 20px;
  margin-left: 20px;
  padding-bottom: 10px;
  color: #4a4040;
  font-weight: bold;
}

.table-text {
    position: relative;
    top: 10px;
    font-size: small;
}

#target-chart {
    position: relative;
    top: 35px;
}

.target-chart-row {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 16px !important;
    margin-top: 10px !important;
}

.title-row {
  text-align: center;
  font-size: small;

}


#sales-payment-summary-license-text {
  display: none;
}
#sales-summary-license-text {
  display: none;
}
#sales-gp-summary-license-text {
  display: none;
}

.zc-ref {
    float: right;
    font-size: x-small;
    color: #beb0b0;
}

.sales-text{
    text-overflow: ellipsis;
    cursor: pointer;
    word-break: break-all;
    overflow:hidden;
    white-space: nowrap;
}
.sales-text:hover{
    overflow: visible;
}

.gpPercentageLoss {
  color: red;
}

.gpPercentageProfit {
  color: green;
}

.displayNone {
  display: none;
}
