/*side-bar-toggle*/
.header .sidbar-toggle-menu {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50px;
    background: #3376b1;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
}
.hide-side-bar .side_bar {
    left: -228px;
}
.hide-side-bar .main_div {
    width: 100% !important;
    float: none;
}

/*invoice app styles*/

*:active, *:focus{
    outline: none !important;
}

/*Helper class*/
._required{
    display: inline-block;
    color: #ff0000;
    padding-left: 5px;
}
._row_with_margin{
    margin: 0 -15px;
}
.well_body ._row_with_margin,
.well_heading ._row_with_margin{
    margin: 0 -15px;
}
._remove_margin_bottom{
    margin-bottom: 0;
}
._remove_padding_top{
    padding-top: 0 !important;
}
._disable_hor_resize{
    resize: vertical;
}
._custom_textarea{
    max-height: 150px;
    min-height: 70px;
}
._remove_bold{
    font-weight: normal;
}
._text_margin_top{
    margin-top: 7px;
}
._custom-table-heading thead tr th{
    padding-top: 0;
}
._custom_large_modal {
    width: 9.27in;
    margin-right: auto;
    margin-left: auto;
}
.create_wrapper p{
    font-size: 18px;
}
._remove_padding {
    padding: 0 !important;
}
/*pointer*/
.pointer{
    cursor: pointer;
}

/*job module dashboard styles*/

.vehicle_reg_list_panel_body {
    height: 350px; 
    overflow: auto;
}

.vehicle_reg_list_panel_body_mod {
    min-height: 100px;
    max-height: 350px;
    overflow: auto;
}

.job_dashbord-list {
    font-size: 22px;
    padding: 0px 0px 0px 0px;
}

.job_dashbord-list:hover {
    background: #2d7f9e;
}


.job-dashboard-header {
    font-size: 20px;
    font-weight: bold;
}

.job-dashboard-list-row {
    height: 45px;
}

.no-vehicle-found {
    color: grey; 
    font-size: 30px; 
    padding-top: 100px;
}

.restartListItem {
    background-color: #ffe5e5 !important;
}

.label-invoiced {
    background-color: orange;
}

.service-restart-modal {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.job-horizontal-list {
    height: 70px; 
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 16px;
    padding-top: 20px;
    border: 1px solid grey;
    background-color: #C0C0C0;
    overflow: hidden;
    word-break: break-all;
    font-size: 14px;
}

.active-dep {
    background-color: #2d7f9e !important;
}
.job_progress_sub_list {
    height: 50px; 
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 16px;
    padding-top: 15px;
    border: 1px solid grey;
    background-color: #90EE90;
}

.job_service_pending_list {
    height: 70px; 
    margin-top: 3px;
    font-size: 16px;
    padding-top: 20px;
    border: 1px solid grey;
    background-color: #C0C0C0;
    margin-bottom: 7px;
}

.progress-list {
    height: 34px; 
    border: 1px solid grey; 
    padding-top: 8px;
}

.progress-list-color {
    background-color: #CCCCFF;
}

.ended-list-color {
    background-color: #ff7f7f;
    opacity: 0.8;
    color: black;
}

.progress-list-header {
    font-weight: bold;
    font-size: 15px;
}

.due-service-list {
    border: 1px solid grey;
    font-size: 16px; 
    height: 50px; 
    margin-bottom: 10px; 
    padding-top: 15px;
    margin-left: 45px;

}
.engaged-list-item {
    background-color: #ffbe4f;
}

.no-pending-services {
    color: grey;
    font-size: 16px;
    padding-left: 20px;
}

.no-department-stations {
    color: grey;
    font-size: 16px;
    padding-left: 30px;
}

.no-department-employees {
    color: grey;
    font-size: 16px;
    padding-left: 30px;
}


@media screen and (min-width: 800px) {
    .progress-list-button {
        width: 80px;
    }
}

@media(max-width : 768px){
    .job-dashboard-header {
        font-size: 15px;
        font-weight: bold;
    }

    .job_dashbord-list {
        font-size: 18px;
        padding: 0px 0px 0px 0px;
    }

    ._custom_large_modal {
        width: 7.68in;
        margin-right: auto;
        margin-left: auto;
    }

    .no-vehicle-found {
        color: grey; 
        font-size: 20px; 
        padding-top: 100px;
    }

    .job-horizontal-list {
        height: 50px; 
        margin-top: 4px;
        margin-bottom: 4px;
        margin-right: 10px;
        margin-left: 10px;
        font-size: 14px;
        padding-top: 12px;
        overflow: hidden;
        word-break: break-all;
        font-size: 14px;
    }

    .job_progress_sub_list {
        height: 40px; 
        margin-top: 2px;
        margin-bottom: 2px;
        margin-right: 7px;
        margin-left: 7px;
        font-size: 10px;
        padding-top: 10px;
        border: 1px solid grey;
    }

    .job_service_pending_list {
        height: 50px; 
        margin-top: 2px;
        font-size: 10px;
        padding-top: 15px;
        border: 1px solid grey;
        background-color: #C0C0C0;
    }

    .progress-list {
        height: 34px; 
        border: 1px solid grey; 
        padding-top: 8px;
        font-size: 11px;
    }

    .progress-list-header {
        font-weight: bold;
        font-size: 12px;
    }

    .no-pending-services {
        color: grey;
        font-size: 12px;
        padding-left: 10px;
    }

    .no-department-stations {
        color: grey;
        font-size: 12px;
        padding-left: 20px;
    }

    .no-department-employees {
        color: grey;
        font-size: 12px;
        padding-left: 10px;
    }
}


/*quotation page*/

/*quotation-redesign*/
.margin_top_spl{
    margin-top: 44px;
}

/*-remove_modal_outline-*/
.modal-open .modal { outline: none; }


/*quotation_mobile_heading*/
.heading h3{
    margin-top: 0;
    padding-bottom: 4px;
    font-size: 22px;
    display: inline-block;
}
.mobile_view_icon {
    display: inline;
}

.quotation_tab .form-group .control-label{
    text-align: left;
}

.quotation_table{
    margin-top: 25px;
}

.sub_total .col-lg-9, .sub_total .col-lg-2, .sub_total .col-lg-1{
    padding-right: 0;
}

.form-group .custom_label{
    display: inherit;
    text-align: center !important;
    margin-top: 3px;
}

/*quotation_view*/
.label_no_btt_mar{
    margin-bottom: 0;
}

/*quotation_edit*/
.quotation_panel{
    margin-top: 25px;
}


/*salesorder_menu*/
.quotation_search{
    margin-top: 25px;
}

.sales_search{
    margin-bottom: 25px;
}

.sales_order .control-label{
    text-align: left;
}

.row .sales_order{
    margin-top: 30px;
    margin-bottom: 25px;
}

/**************************Payments_sub_menu*******************************/
.remove_left_padding{
    padding-left: 0;
}
.remove_right_padding{
    padding-right: 0;
}
.text_margin_top{
    /*margin-top: 6px;*/
}
input[type="checkbox"].check_box_mar_right{
    margin-right: 8px;
}
.custom_margin_bottom{
    margin-bottom: 13px;
}
/*total_payment*/
.total_payment{
    /*    border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding-top: 3px;
        padding-bottom: 7px;*/
}
.display_inline{
    display: inline;
}
.float_left{
    float: left;
}
.float_right{
    float: right;
}
.h3{
    margin-right: 8px;
}
.rs_top_margin{
    margin-top: 20px;
}
/*button*/
.button_margin_top{
    margin-top: 20px;
}
.button_margin_bottom{
    margin-bottom: 10px;
}
.form-group label{
    font-weight: normal;
    padding-top: 2%;
}
.heading_4{
    color: #222;
    font-size: 20px;
    word-spacing: 6px;
}
.total_payment{
    color: #222;
}
.table_row_color{
    color: #222222;
}



/*************Customers_submenu pages**************/
/*global*/
.margin_top{
    margin-top: 30px;
}

.margin_top_high{
    margin-top: 45px;
}

.margin_top_normal{
    margin-top: 20px;
}

.margin_top_low{
    margin-top: 10px;
}

.margin_bottom{
    margin-bottom: 40px;
}

.margin_bottom_normal{
    margin-bottom: 25px;
}
.margin_bottom_normal_low{
    margin-bottom: 10px;
}
.margin_bottom_high{
    margin-bottom: 45px;
}
.custom_width{
    width: 150px;
}
thead tr {
    /*border-bottom: 10px solid #eee;*/
}
/*remove_outline*/
.btn:focus{
    outline: none;
}
input[type="checkbox"]:focus{
    outline: none;
}


/*----add_customer_page-----*/
.form-horizontal .form-group label{
    text-align: left;
}
.form-horizontal .form-group .more_detail .btn{
    padding-left: 0;
    padding-right: 0;
}
i.tool{
    font-style: normal;
    cursor: default;
    display: block;
}


/*--customer_import--*/
.well{
    box-shadow: none;
}
.file{
    margin-top: 6px;
}
.table_outer_wrapper{
    position: relative;
    width: 100%;
    height: auto;
    overflow: scroll;
}

.table_inner_wrapper{
    width: 100%;
    height: 405px;
}
.info_box{
    border: 1px dashed #ccc;
    border-left: 4px solid #888;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding-left: 20px;
    margin-bottom: 30px;
}
.info_box p{
    margin-bottom: 10px;
}

/****************User_Setting_page********************/
.add_margin{
    margin-right: -15px;
    margin-left: -15px;
}

/***Tax***/
h4.small_heading{
    font-weight: normal;
}

/**Company**/
.gray_text{
    color: #555;
}
h1.no_top_margin{
    margin-top: 0;
}
h3.no_top_margin{
    margin-top: 0;
}

/**display_setting**/
.custom_padding{
    padding-right: 61px;
}
.inp_gro_bott_mar{
    margin-bottom: 6px;
}
.well .form-group .control_mar_bottom{
    margin-bottom: 13px;
}
.well .form-group .row_margin_bottom{
    margin-bottom: 25px;
}
.icon_margin_right{
    margin-right: 15px;
    /*width: 30px;*/    //reference check box break purpose
}
.icon_margin_right_normal{
    margin-right: 13px;
}
/**Product_page**/
.remove_padding_bottom{
    padding-bottom: 0;
    padding-top: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-horizontal .label_bottom_margin{
    margin-bottom: 6px;
}
.form-horizontal .label_top_margin{
    margin-top: 7px;
}
.toggle_purpose{
    margin-bottom: 0;
    padding: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 19px;
    padding-right: 19px;
}
.toggle_purpose:hover{
    cursor: pointer;
}
#unit_measure{
    /*background: #f9f9f9;*/
    min-height: 0;
}

#add_category{
    background: #f9f9f9;
    min-height: 0;
}

/*
.image_box{
    max-height: 180px;
}*/


/***************Product_submenu**************************/
/*global*/
.remove_left_padding{
    padding-left: 0;
}
.min_width_button{
    width: 25%;
}

.border_radius{
    border-radius: 4px;
}
/*product_list_tab*/
span.margin_right{
    margin-right: 8px;
}
#showtax{
    padding-top: 7px;
    margin-bottom: 10px;
}

/*Notification */
.message{
    bottom: 30px;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    z-index: 1101;
    position:fixed;
}

.msg_alert{
    padding:8px 35px 8px 14px;
    margin-bottom:1px;
    text-shadow:0 1px 0 rgba(255,255,255,0.5);
    border:1px solid;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px
}

.notification{
    margin-top: 0px;
    margin-right: 0px;
    top: 0px;
    right: 4px;
    width: 350px;
    z-index: 1101;
    position:fixed;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 0 8px rgba(82, 84, 88, 0.64);
}

.notification_scroll{
    max-height: 500px;
    overflow-y: auto;
}

/*END Of Notification*/

/************Invoice_submenu****************/

/*global*/
.searh_panel_mar_top{
    margin-top: 2px;
    margin-bottom: 2px;
}
.remove_weight{
    margin-top: 5px;
}
.h1_no_margin{
    margin-top: 0;
    margin-bottom: 0;
}

/*Create_invoice page*/
.well_custom_padding{
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 15px;
    padding-left: 0;
}

/*black_theme_styles*/
/*.well_custom_padding{
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 15px;
    padding-left: 0;
    border: none;
    background: #aba9a8;
}
.well_custom_padding .form-control{
    border: 1px solid #fff;
    box-shadow: none;
}
.well_custom_padding .form-control:focus{
    border: 1px solid #a4a4a4;
}
.patter_background{
    background: url('../img/pattern.png') repeat;
}
.table thead>tr>th {
    vertical-align: bottom;
    border-bottom: 5px solid hsl(0, 0%, 87%);
}

.btn_flat{
    border-radius: 3px;
    border: none;
    padding: 6px 25px;
}

.btn-primary_flat{
    background: #3688a7;
    border: none;
}
.btn-default_flat{
    background: #bbbaba;
}
.btn-primary_flat:hover, .btn-primary_flat:focus{
    background: #2d7f9e;
}
.btn-default_flat:hover, .btn-default_flat:focus{
    background: #a6a3a3;
}
verdana_font
.verdana{
    font-family: arial;
    font-size: 13px;
    color: #222;
}

.mendetry_field{
    color: #f02721;
    font-family: "times New roman",georgia;
}*/



.btn_margin_top{
    margin-top: 45px;
}
/*Recurent Invoice*/
#selectEndDate{
    margin-top: 20px;
}


/*settings_page=>Tax*/
.tax_margin_top{
    padding-top: 7px;
    margin-bottom: 15px;
}
.check_box{
    display: block;
}
.radio_button{
    margin-right: 25px;
    margin-top: 7px;
}
.custom_hr{
    margin-top: 0;
    margin-bottom: 10px;
}
.font_weight{
    font-weight: bold;
}
.remove_font_weight{
    font-weight: normal;
}



/*************************Reports*****************/
/*Audit_trail*/
#report_head{
    padding-bottom: 0;
}
#report_head .btn-group{
    /*margin-top: 15px;*/
}
/*reprt_graph*/
.custom_shadow{
    box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}
.form-horizontal  #report_head  .control-label{
    padding-top: 0;
}
.min_height{
    min-height: 200px;
}

/*listing*/
/*panel*/
.panel_border{
    border: 1px solid #c6c6c6;
}
.panel-default > .panel_heading_style{
    border-bottom: 1px solid #c3c3c3;
    background: #d5d3d3;
}
.panel_body_style{
    padding: 0;
    position: relative;
}
.panel-default .panel_links{
    border-right: 1px solid #ccc;
    background: #eee;
    min-height: 90px;
}
.panel-default .listing_min_height{
    min-height: 145px;
}
.panel-default  li.active a.active_link{
    border-radius: 0;
    background: #e1e1e1;
    color: #000;
    border-bottom: 1px solid #ccc;
    border-left: 4px solid #979696;
    border-radius: 0;
}
.panel-default li.active a.active_link:last-child{
    border-bottom: none;
}
.panel-default .process_area{
    padding-top: 20px;
    min-height: 90px;
}
.btn_panel_height{
    margin-top: 20px;
}
.btn_panel_normal{
    margin-top: 30px;
}
.btn_panel_height_high{
    margin-top: 55px;
}
#view-div p{
    margin: 0;
}
p.tel_no{
    border-bottom: 1px dashed #666;
    padding-bottom: 4px;
}

/*customer_panel*/
.panel_links ul li {/*default_links*/
    border-bottom: 1px solid #ddd;
    border-radius: 0;
}
.panel_links ul li a{
    color: #666;
    border-radius: 0;
}
.panel_links ul li:first-child{
    border-bottom: none;
}
.panel_links ul li:last-child{
    border-bottom: none;
}
.panel_links ul li a:hover{/*hover_state*/
    background: #e1e1e1;
}
.panel_links .nav-stacked>li+li {/*remove_default_boots*/
    margin-top: 0;
}

/*sales*/
.panel_links ul li.last_link{
    background: #d5d3d3;
}
.panel_links ul li.last_link a{
    color: #000;
}

.panel_links ul li.last_link a:hover{
    background: #d5d3d3;
}


/*modal_window styles*/
.modal_input_margin{
    margin-bottom: 15px;
}

.modal_input_margin_spl{
    margin-top: 20px;
    margin-bottom: 15px;
}
.modal_para{
    font-size: 15px;
    margin-bottom: 25px;
}
.rm_modal_body_bpa{
    padding-bottom: 10px;
}

a.more_details{
    text-decoration: none;
    cursor: pointer;
}

/*******reporting styles**********/

/*sales*/
.last_para{
    border-bottom: 1px dashed #777;
    padding-bottom: 10px;
}
.scroll{
    margin-top: 35px;
}
.bold{
    font-weight: bold;
}
.report_header_margin{
    margin-top: 50px;
}
#graph_monthly_div p, #graph_annual_div p, #graph_daily_div p, #customertransaction_report_view p,
#customerbalance_report_view p, #agedcustomeranalysis_report_view p{
    margin-bottom: 0;
}
#sales_monthly{
    margin-top: 35px;
}
#sales_annuval,#sales_daily{
    margin-top: 35px;
}


/*Hover */
.shadow{
    background-color: #ededed !important;
}

/*Ajax Load*/
.Ajaxloading {
    background-image: url('/img/loader.gif');
    background-position:  center center;
    background-repeat: no-repeat;
}
.Ajaxloading * {
    opacity: 0.8;
}

/*user_profile_edit*/
.user_name{
    display: block;
    margin-top: 7px;
}
.password_show_button:hover{
    cursor: pointer;
}
.negative_margin_top{
    margin-top: -30px;
}


/*#ajax-loader {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-image: url('/assets/img/loader.gif');
    background-position:  center center;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    z-index: 9999;
    opacity: 0.8;
}*/

.loaderOverlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 9999;
    top: 0px;
    bottom: 0px;
}

#ajax-loader .loader,
#ajax-loader .loader:before,
#ajax-loader .loader:after {
    background: #FFF;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 8px;
    height: 1em;
}
#ajax-loader .loader:before,
#ajax-loader .loader:after {
    position: absolute;
    top: 0;
    content: '';
}
#ajax-loader .loader:before {
    left: -1em;
}
#ajax-loader .loader {
    position: absolute;
    text-indent: -9999em;
    margin: 0 auto;
    margin-top: 220px;
    position: relative;
    font-size: 11px;
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
#ajax-loader .loader:after {
    left: 1em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
@-webkit-keyframes load1{
    0%,
    80%,
    100% {
        box-shadow: 0 0 #FFF;
        height: 1em;
    }
    40% {
        box-shadow: 0 -2em #ffffff;
        height: 2em;
    }
}
@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0 #FFF;
        height: 1em;
    }
    40% {
        box-shadow: 0 -2em #ffffff;
        height: 2em;
    }
}
@media(max-width : 768px){
    h1{
        text-align: center;
    }
    .copyright, .thinkcube{
        text-align: center;
        line-height: normal;
        padding: 20px 0 10px;
    }
    .thinkcube{
        padding-bottom: 25px;
    }
    .thinkcube span{
        display: none;
    }
}

@media(max-width : 767px){
    .sidbar-toggle-menu {
        display: none;
    }
}

.overlay{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    opacity: 0.7;
    background: #fff;
    z-index: 600;
}
.crossText{
    text-decoration:line-through;
}

/*add item comment*/
tr.comment td {
    position: relative;
}

textarea.itemDescText,
textarea.showItemDescText {
    position: absolute;
    top: 44px;
    left: 5px;
    width: 300%;
    height: 34px;
    z-index: 99;
    resize: none;
}
.itemlist td:first-child {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}
.itemlist td:first-child .input-group {
    display: inline-flex;
    margin-left: 5px;
}


/*inventory style sheet*/
/*
====responsive_styles======
*/
@media( max-width: 480px ){
    .col-vxs-12{
        float: none;
        display: block;
        clear: both;
        width: 100%;
    }
    #supplierSearch, #supplier-category-search-keyword, #poSearchBox, #piSearchBox, #prSearchBox, #grnSearchBox, #productSearch, #adjustmentSearch,
    #customer-category-search-keyword{
        display: block;
        width: 100%;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        margin-bottom: 10px;
    }
    .supplier-search-form .input-group, .category-search .input-group, .po-search-form .input-group,
    .pi-search-form .input-group, .pr-search-form .input-group, .grn-search-form .input-group, .product-search .input-group,
    #adjustmentSearchForm .input-group, #category-search-form .input-group{
        display: block;
    }
    .supplier-search-form .input-group-btn{
        display: block;
        float: none;
        width: 100%;
    }
    .supplier-search-form .input-group-btn button[type="submit"], .category-search .input-group-btn button[type="submit"],
    .po-search-form .input-group-btn button[type="submit"], .pi-search-form .input-group-btn button[type="submit"],
    .pr-search-form .input-group-btn button[type="submit"], .grn-search-form .input-group-btn button[type="submit"],
    .grn-search-form .input-group-btn button[type="submit"], .product-search .input-group-btn button[type="submit"],
    #adjustmentSearchForm .input-group-btn button[type="submit"], #category-search-form .input-group-btn button[type="submit"]{
        width: 100%;
        margin-bottom: 10px;
        border-radius: 4px !important;
    }
    .supplier-search-form .input-group-btn button[type="reset"], .category-search .input-group-btn button[type="reset"],
    .po-search-form .input-group-btn button[type="reset"], .pi-search-form .input-group-btn button[type="reset"],
    .pr-search-form .input-group-btn button[type="reset"], .grn-search-form .input-group-btn button[type="reset"],
    .grn-search-form .input-group-btn button[type="reset"], .product-search .input-group-btn button[type="reset"],
    #adjustmentSearchForm .input-group-btn button[type="reset"], #category-search-form .input-group-btn button[type="reset"]{
        width: 100%;
        display: block;
        border-radius: 4px;
        margin-left: 0;
    }

    /*Suppliers*/
    .add_suppliar_button{
        width: 100%;
        margin-bottom: 10px;
    }
    .clear_button{
        width: 100%;
    }
    #supplierSearch, #grnSave, #grnCancel, #addSupplierModalClose,
    #poSave, #poCancel, #converToGrn, #grnViewBack, #piSave, #piCancel, #add-product-button,
    #reset, #save, .pro_can_btn, #back, .reset, .trans_search_btn, #transfer-search-keyword,
    .tra_back_btn, #save-inventory-adjustment, #showAdjustmentList, #adjustmentSearch, #AdjViewBack,
    .xs_full_width, #list-locations, #reset-location-button, #add-location-button, .display_reset_button,
    #create-display-button, #create-user-button,
    #userupdatebutton, #reset-user-location, #update-user-location,
    .add, .category_update_btn, #customerSearch_Type,#clearbutton, #cancelbutton, #customerFormsubmit,
    #uploadfile,#customerupdatemodal, #editclose, #customer-cancelmassedit-button,
    #customer-savemassedit-button, #get-so-select, #addPayment, #addandprint, #close, #addAdvancePayment,
    #advancepaymentrecipt, #viewGraph, #view_report, #generate_pdf,
    #sheet_report, .search_btn_css, #saveInventoryAdjustment, #customerCategorySubmit, #customerCategoryReset,
    #btnRegister, #btnRest, #saveBtn, #promotionNext, #customerCategoryUpdate, #emailPromoNext, #back, #save, #cancel,
    .addAndContinue, .addAndGoActivity, .jobEditBack, .update, .addAndJob, .jobEditBack, .make-full-width
    {
        width: 100% !important;
        margin-bottom: 10px;
        clear: both;
    }
    .xs-no-margin {
        margin-bottom: 0;
    }
    .table .add {
        margin-bottom: 0;
    }
    #showSupplierList {
        width: 100% !important;
        clear: left;
    }
    .more_detail{
        float: none;
        display: block;
    }
    /*grn*/
    .modal-footer .btn+.btn{
        margin-left: 0px;
    }
    .transfer_table{
        margin-bottom: 110px;
    }
    /*location*/
    .location_create{
        margin-bottom: 20px;
    }
    .total_payment{
        border-bottom: none;
    }
    .total_payment_div{
        width: 100% !important;
        border-bottom: 1px solid #cccccc;
        padding-bottom: 5px;
        margin-bottom: 25px;
    }
    .total_amount{
        text-align: left;
        padding-left: 0px;
    }
    .payment_heading{
        width: 100%;
        margin-bottom: 40px;
    }
    .advanced_payment{
        width: 100%;
    }
    .advanced_payment button{
        width: 100%;
    }
    /*reporting*/
    .min_height{
        min-height: 0;
    }
}


@media(max-width: 768px){
    #copyFromChooser{
        margin-bottom: 10px;
    }
    /*suppliers*/
    #supplierSearch{
        /*width: 75%;*/
        /*float: left;*/
    }
    #showSupplierList{
        width: 23%;
        float: right;
    }
    #supplierCategoryName{
        margin-bottom: 10px;
    }
    /*grn add_supplier_modal*/
    .balance_left{
        padding-right: 0;
    }
    .balance_right{
        padding-left: 0;
    }
    .modal .grn_modal{
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    .transfer_table{
        margin-bottom: 110px;
    }
    th.tf_fi_head{
        width: 25%!important;
    }
    th.tf_se_head{
        width: 40%!important;
    }
    th.tf_th_head{
        width: 35%!important;
    }
    .location_view_results{
        width: 100%;
    }
    /*    #saveTaxRegNumber{
            margin-top: 15px;
        }*/
    #customerSearch_Type, #get-so-select{
        width: 100% !important;
        margin-bottom: 10px;
        clear: both;
    }
    /*Payment page*/
    .location{
        padding-right: 0;
    }
    .terms{
        padding-left: 0;
    }
    .credit_card{
        margin-bottom: 20px;
    }

    /*Quotation -responsive style(show each td in separate row)*/
    table#item_tbl thead{
        display: none;
    }
    table#item_tbl,
    table#item_tbl tbody#item_insert,
    table#item_tbl tbody#item_insert tr,
    table#item_tbl tbody#item_insert tr td,
    table#item_tbl tbody.quotation_table_footer,
    table#item_tbl tbody.quotation_table_footer tr,
    table#item_tbl tbody.quotation_table_footer tr td,
    table#item_tbl tbody#item_insert #add_item{
        display: block;
        width: 100%;
    }

    /*Invoice -responsive style(show each td in separate row)*/
    table#deliveryNoteProductTable thead{
        display: none;
    }
    table#deliveryNoteProductTable,
    table#deliveryNoteProductTable tbody#add-new-item-row,
    table#deliveryNoteProductTable tbody#add-new-item-row tr,
    table#deliveryNoteProductTable tbody#add-new-item-row tr td,
    table#deliveryNoteProductTable tbody.deliveryNoteProductTable_footer,
    table#deliveryNoteProductTable tbody.deliveryNoteProductTable_footer tr,
    table#deliveryNoteProductTable tbody.deliveryNoteProductTable_footer tr td,
    table#deliveryNoteProductTable tbody#add-new-item-row .edit-modal,
    table#deliveryNoteProductTable tbody#add-new-item-row .add,
    table#deliveryNoteProductTable tbody#add-new-item-row .edit,
    table#deliveryNoteProductTable tbody#add-new-item-row .save,
    table#deliveryNoteProductTable tbody#add-new-item-row .delete{
        display: block;
        width: 100%;
    }
    table#deliveryNoteProductTable #add-new-item-row tr.comment td textarea.itemDescText{
        width: 100%;
        left: 0;
        position: relative;
        top: 6px;
    }

    /*Purchase order-responsive style(show each td in separate row)*/
    table#poProductTable thead{
        display: none;
    }
    table#poProductTable,
    table#poProductTable tbody#add-new-item-row,
    table#poProductTable tbody#add-new-item-row tr,
    table#poProductTable tbody#add-new-item-row tr td,
    table#poProductTable tbody.PO_footer,
    table#poProductTable tbody.PO_footer tr,
    table#poProductTable tbody.PO_footer tr td,
    table#poProductTable tbody#add-new-item-row #addItem{
        display: block;
        width: 100%;
    }

    /*Sales_orders -responsive style(show each td in separate row)*/
    /*This table id also same to quotation table*/
    table#item_tbl tbody.so_table_footer,
    table#item_tbl tbody.so_table_footer tr,
    table#item_tbl tbody.so_table_footer tr td{
        display: block;
        width: 100%;
    }

    /*Delivery_notes -responsive style(show each td in separate row)*/
    table#deliveryNoteProductTable tbody.dn_table_footer,
    table#deliveryNoteProductTable tbody.dn_table_footer tr,
    table#deliveryNoteProductTable tbody.dn_table_footer tr td{
        display: block;
        width: 100%;
    }

    /*Returns -responsive style(show each td in separate row)*/
    table#deliveryNoteProductTable tbody.return_table_footer,
    table#deliveryNoteProductTable tbody.return_table_footer tr,
    table#deliveryNoteProductTable tbody.return_table_footer tr td{
        display: block;
        width: 100%;
    }

    /*About separated module style (global)*/
    table#deliveryNoteProductTable, table#poProductTable, table#item_tbl{
        background: #f5f5f5;
    }
    table#deliveryNoteProductTable > tbody > tr > td, table#poProductTable > tbody > tr > td, table.quotation_table > tbody > tr > td,
    table#item_tbl > tbody > tr > td{
        border: none;
    }
}



@media( min-width: 768px ){
    /*Payment page*/
    .location{
        padding-right: 0;
    }
    .terms{
        padding-left: 0;
    }
}

@media(min-width: 992px){

    .modal .grn_modal{
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    /*Payment page*/
    .location{
        padding-right: 0;
    }
    .terms{
        padding-left: 0;
    }
}

@media(max-width: 992px){
    #customerSearch_Type{
        width: 100% !important;
        margin-bottom: 10px;
        clear: both;
    }
    .select_file{
        margin-bottom: 20px !important;
    }
}

@media(max-width: 1200px){
    #customerCategoryName{
        margin-bottom: 10px;
    }
    .modal .grn_modal{
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
}

@media(min-width: 1200px){
    .modal .grn_modal{
        /*width: 40%;*/
        margin-right: auto;
        margin-left: auto;
    }
    .modal .serial_modal{
        width: 40%;
        margin-right: auto;
        margin-left: auto;
    }
    .location{
        padding-right: 15px;
    }
    .terms{
        padding-left: 15px;
    }
}


/*=====supplier_styles_sheet========*/
.not_found td{
    text-align: center;
    font-size: 25px;
    color: #999999;
    font-family: "Georgia";
}

/*=====grn_styles==================*/
.increase_font_size{
    /*    font-size: 14px;
        font-weight: normal;*/
}
#grnProductTable .label, #poProductTable .label{
    min-width: 20%;
    display: inline-block;
}
#grnProductTable span .label, #poProductTable span .label{
    min-width: 33%;
}
a:hover{
    text-decoration: none;
}
.default_cursor:hover{
    cursor: default;
}
.minus_margin{
    margin-right: -1px;
}
/*_____grn_product_add modal___*/
#batchAddScreen .panel-heading, #serialAddScreen .panel-heading{
    padding: 0 15px;
    padding-top: 1px;
}
.small_panel_heading .panel-heading{
    padding: 0 15px;
    padding-top: 1px;
}
.overflow_control{
    height: 300px;
    overflow-y: scroll;
}

/*_____grn_view_batch_modal______*/
.product_code{
    margin-top: 15px;
}
.quantity_amount{
    margin-bottom: 15px;
}
.product_code > span, .quantity_amount > span{
    display: inline-block;
    width: 125px;
    margin-bottom: 5px;
}

/*Setting -> Location*/
.pointer_cursor:hover{
    cursor: pointer;
}
.custom_font_size{
    font-size: 16px;
}
.custom_font_size_large{
    font-size: 20px;
}
.location_create p, .create_user, .create_loyalty p{
    font-size: 18px;
}
.location-input-addon {
    min-width: 120px;
}
.mandatory_field{
    color: red;
    padding-right: 5px;
}
.display_block{
    display: block;
}
.status_field{
    display: inline-block;
    min-width: 110px;
}
.location_view_results{
    display: inline-block;
    background: #eee;
    min-width: 200px;
    border-radius: 30px;
    padding: 5px 15px;
}
.location_padding{
    padding: 0px 15px;
}
.link_color{
    color: #428bca;
}
.link_color:hover{
    color: #005580;
}

//add_references
.radio_span{
    display: inline-block;
    padding-left: 5px;
}
.custom_font_size_small{
    font-size: 14px;
}
.ref_radio_btn{
    display: inline-block;
    padding-left: 5px;
}

/* document preview modal styles */

#preview .A4, #preview .A5{
    background-color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5in;
    height: 10.9in;
    width: 8.27in;
    position: relative;
}

#preview .POS{
    background-color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.12in;
    /*height: 10.9in;*/
    width: 3in;
    position: relative;
}
#preview .POS-EX{
    height: 10.9in;
}


#preview iframe.A4,
#preview iframe.A5,
#preview iframe.POS{
    display:block;
    border: none;
}

#preview #btn_group{
    width: 201px;
    position: fixed;
    top: 130px;
    right: 1%;
}

#preview hr.dropdown-sep{
    border-color: #999;
}

#preview .email-body-form-group{
    margin-bottom: 0px;
}
#preview .email-body{
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    margin: 0px 15px;
}
.resize_none{
    resize: none;
}
.reduce_le_ri_padding{
    padding-left: 6px;
    padding-right: 6px;
}
/*Create help_icon*/
.help_icon{
    color: #428bca;
    font-size: 15px;
}
.transparent{
    background: transparent!important;
}
.line_height{
    line-height:34px;
}
#product-moredetails-click{
    cursor: pointer;
}

.notice_panel{
    width: 100%;
    z-index: 99999;
    position: fixed;
    top: 0;
    padding: 11px 20px;
    height: 50px;
    background: rgba(52,152,219,0.9);
    color: #ffffff;
    text-align: center;
}

.notice_msg{

}

.minimize_btn, .close_button{
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    width: 25px;
    height: 25px;
    line-height: 25px;
}

.notice_panel_info{
    background-color: #3498db;
}
.notice_panel_success{
    background-color: #2ecc71;
}
.notice_panel_danger{
    background-color: #e74c3c;
}
.notice_panel_warning{
    background-color: #f1c40f;
}

/******remove the left&right border radius
inside the input-group select***********/
.input-group .selectpicker{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.table>tbody+tbody{
    border-top: none;
}

/*=====Dropdown default active tic styles==*/
.default_active{
    display: inline-block;
    font-size: 11px;
    color: #2ecc71;
    position: absolute;
    right: 10px;
    top: 8px;
}

.bootstrap-select.btn-group .dropdown-menu li.active:not(.disabled)>a small{
    color:#ddd;
}

/****************************notification_msg*********************/
ul.notifi_msg {
    width: 380px;
    padding-bottom: 0;
    word-wrap: break-word;
}
ul.notifi_msg li {
    border-bottom: 1px solid #ddd;
}
.notifi_msg li a{
    padding: 8px 15px;
    line-height: 1.3;
    display: block;
    overflow: hidden;
    white-space: normal;
}
ul.notifi_msg li a:hover, ul.notifi_msg li a:focus{
    background: #D9EDF7;
}
p.heading{
    font-weight: bold;
    margin-bottom: 1px;
    font-size: 12px;
    color: #333;
}
p.heading i{
    margin-right: 8px;
    background: #B56D3F;
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
    height: 15px;
    line-height: 15px;
    width: 15px;
    text-align: center;
}
#displayAllNotificationsList .ui-pnotify-closer {
    color: #e74c3c;
    float: none;
    margin: 0;
    position: absolute;
    right: 21px;
    top: 21px;
    font-size: 20px;
}
p.heading i.noti_warning{
    background: #297996;
}
p.heading i.error{
    background: #eb392d;
}
p.heading i.overdue_invoice{

}
.notifi_msg label{
    text-align: right;
    display: block;
    font-weight: normal;
    font-size: 12px;
    color: #666666;
    margin-bottom: 0px;
}
.notifi_msg label:hover, .notifi_msg label:focus{
    cursor: pointer;
}
.light_color{
    color: #555555;
    font-size: 13px;
}
.notify_time{
    margin-top: 1px;
    color: #888888;
    font-size: 12px;
    display: inline-block;
    margin-left: 10px;
}
abbr[title]{
    border-bottom: none;
    font-weight: normal;
}
#seeAllNotifications{
    text-align: center;
    display: block;
    min-height: 30px;
    line-height: 30px;
}
#seeAllNotifications:hover{
    text-decoration: underline;
}

/*==========View all notification section=====*/
.notify_header{
    height: auto;
    padding: 4px 8px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #666666;
}
.notify_header h3{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.02em;
    display: inline-block;
    line-height: 34px;
    text-shadow: 0 1px 1px #fff;
    color: #333;
}
.notify_header label{
    padding: 0px 4px;
    display: inline-block;
    background: #5cb85c;
    border-radius: 4px;
    margin-left: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
}

#displayAllNotificationsList{
    border: 1px solid #dddddd;
    border-top: none;
    padding-bottom: 0;
}
#displayAllNotificationsList ul{
    margin-bottom: 0;
}
#displayAllNotificationsList .pagination{
    /*margin: 15px;*/
}
.divider a{
    display: block;
    padding: 15px;
}
.divider a:hover{
    background: #D9EDF7;
}
#displayAllNotificationsList ul li{
    list-style: none;
}

#displayAllNotificationsList p.heading{
    color: #3a89a3;
    font-size: 14px;
}
#displayAllNotificationsList .notifi-body, #displayAllNotificationsList .notify_time{
    padding: 0;
}
#notification_body{
    padding: 0;
}
.divider {
    border-bottom: 1px solid #ddd;
    position: relative;
}
#notification_body li:last-child{
    border-bottom: none;
}

#add-new-item-row tr td{
    position: relative;
}

#add-new-item-row tr.comment td{
    /*height: 85px;*/
}


.form-control.white_bg{
    background: #fff;
}

/*hide the firefox disable hover icon - on purpose*/
input[readonly].white_bg, input[readonly].white_bg:hover{
    cursor: pointer !important;
}

/*========================Job_Card===============*/
.job_padding_top{
    padding-top: 25px;
}
.job_table{
    width: 100%;
}
.job_table>tbody>tr>td{
    padding: 2px;
}
.job_table>thead>th{
    padding: 0;
}
.form-horizontal .job_label{
    padding-top: 0;
    padding-bottom: 4px;
}
.remove_top_radius{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}
.table > tbody > tr > td{
    vertical-align: middle;
}
.form-horizontal .remove_top_padding{
    padding-top: 0;
}

/*View Job*/
.job-form-container thead th, .category-form-container thead th, .project-form-container thead th,
.activity-form-container thead th{
    font-size: 13px;
}

/*Inquiry Log activity ref*/
.disabled i{
    color: #ccc;
}

/*Create help_icon*/
.help_icon{
    color: #428bca;
    font-size: 14px;
}
/*customize the default popover*/
.popover{
    border: none;
    background: #3276b1;
    border-radius: 3px;
    box-shadow: none;
}
.popover-content{
    color: #ffffff;
    font-size: 13px;
    padding: 6px 11px;
}
/*---popover_reposition----*/
.popover.top {
    margin-top: -13px;
}
.popover.right {
    margin-left: 13px;
}
.popover.bottom {
    margin-top: 13px;
}
.popover.left {
    margin-left: -13px;
}
/*--popover_arrow_color--*/
.popover.top .arrow{
    border-top-color: #3276b1;
}
.popover.bottom .arrow{
    border-bottom-color: #3276b1;
}
.popover.right .arrow{
    border-right-color: #3276b1;
}
.popover.left .arrow{
    border-left-color: #3276b1;
}

.popover.top .arrow:after{
    border-top-color: #3276b1;
}
.popover.bottom .arrow:after{
    border-bottom-color: #3276b1;
}
.popover.right .arrow:after{
    border-right-color: #3276b1;
}
.popover.left .arrow:after{
    border-left-color: #3276b1;
}

/*Uom price dynamic drop down btn reset default btn styles*/
.uom_price_drop_down{
    /*    border-radius: 0;
        border-left: 0;*/
}

/*Table */
table .input-group-addon{
    font-size: 12px;
    padding: 6px 7px;
}
table .input-group-btn .btn{
    /*font-size: 12px;*/
    padding-right: 7px;
    padding-left: 7px;
}

/*Sales > invoice > table*/
table #unitPrice{
    min-width: 65px;
}
table #itemUnitPrice{
    min-width: 90px;
}
table #itemQuantity, table #deliverQuanity, table #availableQuantity{
    min-width: 75px;
}

/*CRM-Promotion styles*/
.btn_wrapper{
    padding-top: 15px;
}
.well_heading{
    margin-bottom: 0;
    border-radius: 4px 4px 0 0;
    padding: 4px 19px;
}
.well_heading h5{
    font-size: 15px;
    font-weight: bold;
}
.well_body{
    border-radius: 0 0 4px 4px;
    border-top: 0;
    padding: 19px;
    background: none;
}
.well_body .checkbox{
    /*padding-top: 0;*/
}
.radio label.disable{
    color: #999;
    cursor: not-allowed;
}

/*Promotion_email_view modal*/
#promoEmailModal .promo_email_header{
    text-align: center;
    border: 1px dashed #ccc;
    height: 60px;
    line-height: 60px;
}
#promoEmailModal .promo_email_header i{
    font-size: 30px;
    color: #ccc;
}
#promoEmailModal .promo_email_body{
    padding: 10px;
    border: 1px dashed #ccc;
    margin-top: 15px;
}
#promoEmailModal .promo_email_body img{
    width: 30%;
    height: 30%;
}
#promoEmailModal .promo_email_footer p + div p{
    color: #555;
}
.uom-select .btn, .uom-price-select .btn{
    font-size: 12px;
    line-height: 1.7;
}
.uom-price-select .btn {
    border-radius: 0;
    margin-left: -1px;
}
/*.input-group .uom-price-select*/


/*sales -> payment*/
#payMethod_1 .panel-footer{
    display: none;
}

.payMethod{
    margin-bottom: 20px;
}
.payMethod .panel-body{
    padding: 15px 0 0 0;
}

.custom-modal-width {
    width: 900px;
}

.take-half-space {
    width: 50%;
}
.custom-table-height {
    min-height: 100px;
    max-height:  270px;
    overflow-y: auto;
    margin-bottom: 50px;
}

.flex-container {
    display:-webkit-box; /*old prefixed for webkit*/
    display:-moz-box; /*old prefixed for mozilla*/
    display:-ms-flexbox; /*inbetween prefixed for ie*/
    display:-webkit-flex; /*new prefixed for webkit*/
    display:flex;
}

.panel-body .datetimepicker {
    padding: 0;
}

.fixed-height-table {
    max-height: 300px;
}

#locationTable .table-responsive {
    overflow-y: auto;
}

/*manage user Licenses*/
#users .user-header,
#licenses .licenses-header {
    background: transparent;
    border: 1px solid #ddd;
    padding: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
#users .user-header h1,
#licenses .licenses-header h1{
    line-height: 34px;
}

/*inventory - item edit*/
.product-edit-container .input-group .selectpicker {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/*---Job_Dispath*/
#dispatcher-head + span {
    color: #333;
}
#dispatcher-head + span .bootstrap-select {
    margin-left: 5px;
}
#dispatcher-body {
    border: 1px solid #ddd;
    border-top: none;
    min-height: 150px;
    max-height: 450px;
    overflow: auto;
}
#dispatcher-body p.default_msg {
    text-align: center;
    font-size: 16px;
    color: #777;
    line-height: 150px;
}
.project {
    background: #DCF0FA;
    border-top: none;
}
.project .project_info {
    padding: 20px 15px;
    position: relative;
}
.project_tab {
    margin-left: 15px;
}
.project .project_info h5,
.jobs_info h5,
.activity_info h5 {
    margin: 0;
    font-size: 15px;
    color: #333;
    margin-bottom: 10px;
}
.project .project_info h5 span.project_name {
    font-size: 15px;
    color: #333;
    display: inline-block;
    padding-left: 5px;
}
.project .project_info h5 span.project_status,
.project .project_info h5 span.project_progress,
.jobs_info h5 span.job_status,
.jobs_info h5 span.job_progress,
.activity_info h5 span.activity_status,
.activity_info h5 span.activity_progress {
    display: inline-block;
    padding: 2px 6px;
    border-radius: 2px;
    color: #fff;
    font-size: 11px;
    margin-left: 5px;
    font-weight: bold;
    letter-spacing: 0.02em;
}
.project .project_info h5 span.project_progress,
.jobs_info h5 span.job_progress,
.activity_info h5 span.activity_progress {
    background: #999;
}
.project_info span.open,
.jobs_info span.open,
.activity_info span.open {
    background: #428bca;
}
.project_info span.completed,
.jobs_info span.completed,
.activity_info span.completed {
    background: #5cb85c;
}
.project_info span.closed,
.jobs_info span.closed,
.activity_info span.closed {
    background: #d9534f;
}
.project_info span.inprogress,
.jobs_info span.inprogress,
.activity_info span.inprogress {
    background: #f0ad4e;
}
.project .project_info h5 span.project_duration,
.jobs_info h5 span.job_weight,
.activity_info h5 span.activity_weight {
    display: inline-block;
    margin-left: 8px;
    color: #444;
    font-size: 14px;
}
.project .project_info h5 span.project_duration i,
.jobs_info h5 span.job_weight i,
.activity_info span.activity_weight i {
    display: inline-block;
    padding-right: 5px;
}
.project .project_info p {
    margin: 0;
    color: #777;
    font-size: 14px;
}
.project .project_info p span {
    display: inline-block;
    margin-right: 15px;
}
/*project > jobs*/
.jobs_info {
    background: #FAEBB6;
}
.jobs_info .job_item {
    border-bottom: 1px solid #EBD075;
}
.jobs_info .job_item:last-child {
    border-bottom: none;
}
.jobs_info h5 {
    margin: 0;
    padding: 25px 15px;
}
.jobs_info h5 > i {
    color: #3276B1;
    display: inline-block;
    margin-left: 5px;
}
.jobs_info .total_activity label{
    display: inline-block;
    margin-right: 5px;
    color: #fff;
    background: #999;
    border-radius: 2px;
    padding: 2px 4px;
    font-size: 11px;
}
.jobs_info i.job_drop_down {
    color: #777;
    display: inline-block;
    margin-left: 9px;
    margin-top: 1px;
}
.jobs_info a,
.jobs_info a:hover,
.jobs_info a:active,
.jobs_info a:visited {
    text-decoration: none;
}
/*Jobs > activity*/
.activity_info {
    background: #fff;
}
.project_tab .activity_info,
.jobs_tab .activity_info {
    margin-left: 15px;
}
.activity_info .activity_item {
    padding: 25px 15px;
    border-top: 1px solid #ddd;
}
.activity_info .activity_item:first-child {
    border-top: none;
}
.activity_info .activity,
.activity_info h5 {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
.assigned-employee-div {
    margin-bottom: 15px;
    color: #999;
}
.assigned-employee-div strong {
    display: block;
    margin-bottom: 6px;
}
.assigned-employee-div span {
    padding: 6px 18px;
    border: 1px solid #ccc;
    border-radius: 30px;
    display: inline-block;
    color: #333;
}
.assigned-employee-div span label {
    display: inline-block;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 1px;
    color: #e74c3c;
}
.activity-owner {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 5px;
}
.assign-employee-div {
    border: 1px dashed #aaa;
    text-align: center;
    color: #999;
    font-size: 16px;
    min-height: 65px;
    line-height: 65px;
}
.assign-employee-div strong {
    display: block;
    margin-bottom: 5px;
}
.activity_info .ui-state-default {
    background: #dadada;
}
.activity_info .ui-state-hover {
    border-color: #777;
}
/*jobs_tab*/
.jobs_tab {
    border-top: none;
}
/*jobs_employee*/
#project-list a:first-child{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#_projects table,
#_jobs table {
    width: 100%;
}
.no-emps {
    font-style: normal;
}

@media( max-width: 992px ) {
    #poSearch > .well > div,
    #piSearch > .well > div,
    #prSearch.well > div {
        margin-bottom: 5px;
    }
    #poSearch > .well div:last-child,
    #piSearch > .well div:last-child,
    #prSearch.well div:last-child {
        margin-bottom: 0;
    }
    #grnForm .well div {
        margin-bottom: 5px;
    }
    .custom-modal-width {
        width: 700px;
    }
    .min_height {
        min-height: 0;
    }
    .panel-default .panel_links {
        min-height: 0;
        margin-bottom: 10px;
    }
    .flex-container {
        display: block;
    }
    .sm-margin-bottom {
        margin-bottom: 10px;
    }
    .sm-margin-top {
        margin-top: 10px;
    }
}

@media ( max-width: 480px ) {
    .vxs-margin-bottom {
        margin-bottom: 10px;
    }

    /*---------mobile-search---------*/
    .mobile-search .input-group input[type="text"] {
        display: block;
        width: 100%;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        margin-bottom: 10px;
    }
    .mobile-search .input-group {
        display: block;
    }
    .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
        border-radius: 4px;
    }
    .mobile-search .input-group .btn {
        display: block;
        margin-bottom: 10px;
        width: 100%;
        border-radius: 4px;
    }
    .input-group-btn:last-child>.btn {
        margin-left: 0;
    }

    /*responsive search field*/
    .xs-search-field .input-group {
        display: block;
    }
    .xs-search-field .input-group input[type="text"] {
        width: 100%;
        margin-bottom: 10px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .xs-search-field .input-group .input-group-btn {
        width: 100%;
        display: block;
    }
    .xs-search-field .input-group .input-group-btn button {
        display: block;
    }
    .xs-search-field .input-group-btn:last-child>.btn {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

}

@media( max-width: 768px ) {
    .sales_order_search > div {
        margin-bottom: 5px;
    }
    .sales_order_search > div:last-child {
        margin-bottom: 0;
    }
    .min_height {
        min-height: 0;
    }
    .panel-default .panel_links {
        min-height: 0;
        margin-bottom: 10px;
    }
    .supplier-list {
        margin-bottom: 20px;
    }
    .btn_panel_height_high {
        margin-top: 0px;
    }
    .xs-margin-bottom {
        margin-bottom: 10px;
    }
    .xs-margin-top {
        margin-top: 10px;
    }
    .custom-modal-width {
        width: auto;
    }
    .process_area .form-control {
        /*margin-bottom: 10px;*/
    }
}

@media( min-width: 1200px ) {
    .account-list > div {
        margin-bottom: 10px;
    }
    .vlg-margin-bottom {
        margin-bottom: 10px;
    }
    .vlg-margin-top {
        margin-top: 10px;
    }
}

@media( max-width: 1200px ) {
    .search-debit-notes > div,
    .product-content,
    .payment-search-invoice > div,
    .search_wrapper > div ,
    #expenseTypeForm > div > div,
    .account-list > div {
        margin-bottom: 10px;
    }
    .search-debit-notes > div:last-child,
    .payment-search-invoice > div:last-child,
    #expenseTypeForm > div > div:last-child {
        margin-bottom: 0;
    }
    .search_margin_bottom {
        margin-top: 10px;
    }
    #acc-details-div .form-horizontal .control-label {
        text-align: left;
    }
    .lg-margin-top {
        margin-top: 10px;
    }
    .lg-margin-bottom {
        margin-bottom: 10px;
    }
}
/*Jobs_Projects_modal*/
.modal-footer-style{
    padding: 4px 22px 18px;
    margin-top: -43px;
    text-align: right;
    border-top: 0px solid #e5e5e5;
}
.modaltable{
    margin-top: -40px;
}
.job-task-modal{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.tasks-clearfix-modal{
    width: 100%;
    margin-top: 0px;
}
.job-table{
    margin-top: -4%;
}
.table thead > tr > th {
    border-bottom: 0px solid hsl(0, 0%, 87%);
}
.materialsTable {
    table-layout: fixed;
}