body {
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    margin: 0px;
    padding: 0px;
}

div.body {
/*    min-height: 210mm;
    min-width: 148mm;*/
/*    min-height: 9.5in;
    padding-bottom: 0.5in;*/
    position: relative;
}

table.table,
.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
    border: 0px !important;
}

.data_table .table thead>tr>th,
.data_table .table tbody>tr>th,
.data_table .table tfoot>tr>th,
.data_table .table thead>tr>td,
.data_table table tbody>tr>td,
.data_table .table tfoot>tr>td {
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}

.table thead>tr>th,
.table tbody>tr>th,
.table tfoot>tr>th,
.table thead>tr>td,
.table tbody>tr>td,
.table tfoot>tr>td {
    border-top: 1px solid #DDDDDD;
}

.data_table .table-bordered>thead>tr>th,
.data_table .table-bordered>tbody>tr>th,
.data_table .table-bordered>tfoot>tr>th,
.data_table .table-bordered>thead>tr>td,
.data_table .table-bordered>tbody>tr>td,
.data_table .table-bordered>tfoot>tr>td {
    border: 1px #e0e0e0 solid !important;
}

.data_table .product-list>tbody>tr>td {
    padding: 0px;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin-bottom: 20px;
    margin-top: 20px;
}

h2 {
    display: block;
    font-size: 32px;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h3,
.h3 {
    font-size: 24px;
}

h4,
.h4 {
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 500;
    line-height: 1.1;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    background-color: transparent;
}

h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h4,
h5,
h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

td,
th {
    display: table-cell;
    vertical-align: inherit;
    font-size: 14px;
}

th {
    font-weight: bold;
}

.bigtable thead>tr>th,
.bigtable tbody>tr>th,
.bigtable tfoot>tr>th,
.bigtable thead>tr>td,
.bigtable tbody>tr>td,
.bigtable tfoot>tr>td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table thead>tr>th {
    vertical-align: bottom;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
    border: 1px solid #ddd;
}

.table caption+thead tr:first-child th,
.table colgroup+thead tr:first-child th,
.table thead:first-child tr:first-child th,
.table caption+thead tr:first-child td,
.table colgroup+thead tr:first-child td,
.table thead:first-child tr:first-child td {
    border-top: 0;
}

.table-bordered {
    border: 1px solid #ddd;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    /*background-color: #f9f9f9;*/
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.add_block {
    width: 85%;
}

.summary {
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
    padding-top: 40px;
    width: 100%;
    page-break-inside: avoid;
}

#comment {
    word-wrap: break-word;
}

#summary_tbl {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.relative_data {
    position: relative;
    vertical-align: bottom;
}

.logo {
    max-height: 75px;
    margin-bottom: 10px;
}

.data_table {
    padding-top: 10px;
    /*margin-bottom: 10px;*/
    min-height: 400px;
    position: relative;
}

footer {
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
    /*padding:10px;*/
    font-size: 12px;
    color: #999;
}

footer.doc {
}

footer.doc td {
    font-size: 12px;
}

thead { display: table-header-group }
tfoot { display: table-row-group }
th { page-break-inside: avoid }
