<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>
<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7px">

            <?php echo $this->headerTemplate; ?>


            <table class="change_order_items">
                <?php
                $net_amount = 0.0;
                $net_credit_note = 0.0;

                ?>
                    <tbody>
                        <tr>
                            <th><?php echo $this->translate('Date') ?></th>
                            <th><?php echo $this->translate('Location') ?></th>
                            <th><?php echo $this->translate('Customer Name/Code') ?></th>
                            <th><?php echo $this->translate('Quotation Code') ?></th>
                            <th><?php echo $this->translate('Quotation Status') ?></th>
                            <th><?php echo $this->translate('Quotation Total Without Tax Amount') ?></th>
                            <th><?php echo $this->translate('Normal Tax Amount') ?></th>
                            <th><?php echo $this->translate('Compound Tax Amount') ?></th>
                            <th><?php echo $this->translate('Quotation Total With Tax Amount') ?></th>
                            <th><?php echo $this->translate('Sales Person') ?></th>
                            <?php
                            if($this->cusCatgoryFlag){
                                ?>
                                <th><?php echo $this->translate('Customer Category') ?></th>
                            <?php    
                            } 
                            ?>
                            <th><?php echo $this->translate('Payment Type') ?></th>
                        </tr>
                        <?php
                        $sub_amount = 0.00;
                        foreach ($quotationDetails as $key => $value) {
                           
                           
                            ?>
                            <tr class="even_row">
                                <td style="text-align: center"><?php echo $key; ?></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: center"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: center"></td>
                                <?php
                                if($this->cusCatgoryFlag){
                                ?>
                                    <td style="text-align: right"></td>
                                <?php    
                                } 
                                ?>
                                <td style="text-align: right"></td>
                                <td style="text-align: center"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                
                            </tr>
                            <?php
                            foreach ($value as $key => $subSet) {
                            ?>
                               <tr class="even_row">
                                <td style="text-align: center"></td>
                                <td style="text-align: right"><?php echo $key; ?></td>
                                <td style="text-align: center"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: center"></td>
                                <?php
                                if($this->cusCatgoryFlag){
                                ?>
                                    <td style="text-align: right"></td>
                                <?php    
                                } 
                                ?>
                                <td style="text-align: right"></td>
                                <td style="text-align: center"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                            </tr>
                            <?php
                                foreach ($subSet as $key => $subSet3) {
                                   
                                    ?>
                                    <tr class="even_row">
                                    <td style="text-align: center"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"><?php echo $subSet3['quotationCustomerName']; ?></td>
                                    <td style="text-align: center"><?php echo $subSet3['quotationCode']; ?></td>
                                    <td style="text-align: center"><?php echo $subSet3['statusName']; ?></td>
                                    <td style="text-align: center"><?php echo number_format(floatval(($subSet3['quotationTotalAmount']) - floatval($subSet3['normalTax']) - floatval($subSet3['compoundTaxTax'])), 2); ?></td>
                                    <td style="text-align: center"><?php echo number_format($subSet3['normalTax'], 2); ?></td>
                                    <td style="text-align: center"><?php echo number_format($subSet3['compoundTaxTax'], 2); ?></td>
                                    <td style="text-align: center"><?php echo number_format($subSet3['quotationTotalAmount'], 2); ?></td>
                                    <td style="text-align: center"><?php echo $subSet3['salesPersonSortName']; ?></td>
                                    <?php
                                    if($this->cusCatgoryFlag){
                                    ?>
                                        <td style="text-align: center"><?php echo $subSet3['customerCategoryName']; ?></td>
                                    <?php    
                                    } 
                                    ?>
                                    <td style="text-align: center"><?php echo $subSet3['paymentTermName']; ?></td>
                                    
                            </tr>
                                    <?php
                                    $sub_amount +=$subSet3['quotationTotalAmount'];
                                    $sub_amount_without_tax +=floatval(($subSet3['quotationTotalAmount']) - floatval($subSet3['normalTax']) - floatval($subSet3['compoundTaxTax']));
                                    $sub_amount_of_normal_tax +=$subSet3['normalTax'];
                                    $sub_amount_of_compound_tax +=$subSet3['compoundTaxTax'];
                                  
                                }
                            
                            ?>
                           
                            
                            <?php
                        }
                    }
                        ?>
                         <tr class="even_row">
                                <td style="text-align: center"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: center"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: center"><b><?php echo $this->translate('Quotation Total') ?></b></td>
                                <td style="text-align: center"><b><?php echo $this->currencySymbol .' '. number_format($sub_amount_without_tax ,2)?></b></td>0
                                <td style="text-align: center"><b><?php echo $this->currencySymbol .' '. number_format($sub_amount_of_normal_tax ,2)?></b></td>0
                                <td style="text-align: center"><b><?php echo $this->currencySymbol .' '. number_format($sub_amount_of_compound_tax ,2)?></b></td>0
                                <td style="text-align: center"><b><?php echo $this->currencySymbol .' '. number_format($sub_amount ,2)?></b></td>0
                                <td style="text-align: center"></td>
                                <?php
                                if($this->cusCatgoryFlag){
                                ?>
                                    <td style="text-align: right"></td>
                                <?php    
                                } 
                                ?>
                                <td style="text-align: right"></td>
                        </tr>
                       
                    </tbody>

                </table>
        </div>

    </div>
</div>



