<!--panel-->
<div class='panel panel-default margin_top margin_bottom panel_border'>

    <div class='panel-heading panel_heading_style'><!--panel_heading-->
        <h4 class="font_weight h1_no_margin report_heading"><?php echo $this->translate('Quotation Report') ?></h4>
    </div>

    <div class="panel-body panel_body_style">

        <!--links-->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 remove_left_padding remove_right_padding panel_links">
        </div>    
        <!--process_area-->
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 form-horizontal process_area">
            <div id="report_head">
                <div class="form-group">
                    <div class="row">
                                                                   
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 report_from_time"><!--from_month-->
                            <label class="control-label from_date_lbl"><?php echo $this->translate('From Date') ?></label>
                            <input type="text" class="span2 datepicker form-control" id="fromDate" name="fromDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to set a From Date') ?>">
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 to set_to_date"><!--set_to_date-->
                            <label class="control-label to_date_lbl "><?php echo $this->translate('To Date') ?></label>
                            <input type="text" class="span2 datepicker form-control" id="toDate" name="toDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to set a To Date') ?>">
                        </div>
                         <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="qt-state ">
                                    <label class="control-label"><?php echo $this->translate('Quotation Status') ?></label>
                                    <select class="form-control selectpicker"  multiple='multiple' data-live-search="true" name="quotationStatus" id="quotationStatus" data-actions-box="true">
                                        <?php
                                            foreach ($this->quotStatus as $spID => $value) {
                                                echo '<option value="' . $spID . '">' . $value . '</option>';
                                            }
                                        ?>
                                    </select>
                                </div>
                            </div>
                        </div> 
                                       
                    </div>    
                    </br>
                    
                    <div class="row">
                        <div class=" product-content customerSelection ">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <label class="" name="isAllCustomerslbl" id="isAllCustomerslbl">
                                    <input type="radio" class="check_box_mar_right isAllCustomers" value="0" name="isAllCustomers" id="customCustomerSelection"> <?php echo $this->translate('Custom Cutomers') ?>
                                </label>
                                <div class="">
                                    <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="customerName" id="customerName" multiple="multiple" title="<?php echo $this->translate('Select Customer(s)') ?>" data-selected-text-format="count>3"></select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 product-content customerSelection">
                                <label name="isAllCustomerslbl" id="isAllCustomerslbl">
                                    <input type="radio" class="isAllCustomers" value="1" name="isAllCustomers" id="AllCustomers"> 
                                        <?php echo $this->translate('All Customers') ?>
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cusCatgry ">
                          <!--customer category-->
                            <label class="control-label"><?php echo $this->translate('Customer Category') ?></label>
                            <div class="">
                                <select class="form-control selectpicker" data-actions-box="true" name="customerCategoryList" id="customerCategoryList" multiple="multiple" title="<?php echo $this->translate('Select Customer Category'); ?>">
                                <?php
                                foreach ($this->cusCategory as $cuCateID => $value) :
                                    echo '<option value="' . $cuCateID . '">' . $value . '</option>';
                                endforeach;
                                    
                                ?>
                                </select>
                            </div>
                        </div>

                    </div>

                    <br>
                    <div class="row">
                        <div  class="col-lg-4 col-md-4 col-sm-4 col-xs-4" id="location-selection">
                            <label class="control-label location-lbl"><?php echo $this->translate('Location') ?></label>
                            <div class="location-list">
                                <select class='form-control selectpicker ' data-actions-box="true" data-live-search="true" name="locationList" id="locationList" multiple="multiple" >
                                    <?php
                                        foreach ($this->locations as $id => $row):
                                            echo '<option value="' . $id . '">' . $row . '</option>';
                                        endforeach;
                                        ?>
                                </select>
                            </div>
                        </div>
            
                        <div  class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="payment-term-list" id="payment-term-div">
                                <label class="control-label"><?php echo $this->translate('Payment Term') ?></label>
                                <select class='form-control selectpicker ' data-actions-box="true" data-live-search="true" name="paymentTermList" id="paymentTermList" multiple="multiple" title='<?php echo $this->translate('Select Payment Term') ?>'>
                                    <?php
                                        foreach ($this->paymentTypes as $key => $value):
                                            echo '<option value="' . $key . '">' . $value . '</option>';
                                        endforeach;
                                        ?>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><!--slaes person-->
                                <div class="sales-person ">
                                    <label class="control-label"><?php echo $this->translate('Sales Person') ?></label>
                                    <select class="form-control selectpicker" data-actions-box="true" name="salesPersons" data-live-search="true" id="salesPersons" multiple="multiple" title="<?php echo $this->translate('Select Sales Persons'); ?>">
                                    <?php
                                        foreach ($this->salesPersons as $key => $value) {
                                             echo '<option value='.$key.'>' .$value.'</option>';
                                         } 
                                    ?>
                                    </select>
                                </div>
                            </div><!--row-->
                        </div>
                    
                    </div>

                      
                        <div class="row">
                            <div class="col-lg-12 btn-group btn_panel_height_high report_buttons">
                                <button class="btn btn-default col-lg-2" id="viewReport"><?php echo $this->translate('View Report') ?></button>
                                <button class="btn btn-default col-lg-2" id="generatePdf"><?php echo $this->translate('Generate PDF') ?></button>
                                <button class="btn btn-default col-lg-2" id="csvReport"><?php echo $this->translate('Generate CSV') ?></button>
                            </div>
                        </div>
                    </div><!--form-group-->

                </div><!--report_head-->
            </div><!--form_horizontal-->

        </div><!--panel_body-->
    </div><!--panel-->

    <iframe id="salesReport" class="panel panel-default margin_top margin_bottom panel_border report-iframe"></iframe>
