<?php
$form = $this->form;
$form->setAttribute('id', 'create-gift-card-form');
?>

<div class="margin_top">

    <div class="well well_heading">
        <h5 class="font_weight"><?php echo $this->translate('Add Gift Card') ?></h5>
    </div>

    <div class="well well_body">

        <?php
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formHidden($form->get('giftCardId'));
        ?>

        <div class="form-group">
            <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Location Name') ?></label>
            <div class="col-lg-6">
                <?php echo $this->formRow($form->get('locationName')); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Gift Card Name') ?><font color="red"> *</font></label>
            <div class="col-lg-6">
                <?php echo $this->formRow($form->get('giftCardName')); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3  control-label label_bottom_margin"><?php echo $this->translate('Gift Card Price') ?><font color="red"> *</font></label>
            <div class="col-lg-6 ">
                <?php echo $this->formRow($form->get('giftCardPrice')); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3  control-label label_bottom_margin"><?php echo $this->translate('Gift Card Prefix') ?><font color="red"> *</font></label>
            <div class="col-lg-6 ">
                <?php echo $this->formRow($form->get('giftCardPrefix')); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3  control-label label_bottom_margin"><?php echo $this->translate('Gift Card Range') ?><font color="red"> *</font></label>
            <div class="col-lg-6 ">
                <div class="input-group">
                    <?php echo $this->formRow($form->get('startValue')); ?>
                    <span class=" input-group-addon">To</span>
                    <?php echo $this->formRow($form->get('endValue')); ?>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3  control-label label_bottom_margin"><?php echo $this->translate('Gift Card Discount Precentage (%)') ?></label>
            <div class="col-lg-6 ">
                <?php echo $this->formRow($form->get('giftCardDiscountPrecentage')); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3  control-label label_bottom_margin"><?php echo $this->translate('Duration Days') ?></label>
            <div class="col-lg-6 ">
                <div class="input-group">
                    <?php echo $this->formRow($form->get('giftCardDurationDays')); ?>
                    <span class=" input-group-addon">Days</span>
                </div>
            </div>
        </div>

        <?php if($this->useAccounting == 1){?>
        <div class="form-group">
            <label class="col-lg-3  control-label label_bottom_margin"><?php echo $this->translate('Gl Account') ?></label>
            <div class="col-lg-6 ">
                <?php echo $this->formRow($form->get('giftCardGlAccountID')); ?>
            </div>
        </div>
        <?php } ?>

        <div class="form-group margin_top button-set">
            <div class="col-lg-9 text-right">
                <button type="reset" class="btn btn-default reset"><?php echo $this->translate('Reset') ?></button>
                <button type="submit" class="btn btn-primary add"><?php echo $this->translate('Add New') ?></button>
            </div>
        </div>

        <?php
        echo $this->form()->closeTag($form);
        ?>

    </div>
</div>