<div class="table-responsive">
    <div id="gift-card-list" class="form-horizontal clearfix margin_bottom">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><?php echo $this->translate('Gift Card Code') ?></th>
                    <th><?php echo $this->translate('Gift Card Name') ?></th>
                    <th><?php echo $this->translate("Gift Card Price") . " ({$this->cSymbol})" ?></th>
                    <th><?php echo $this->translate('Available Qty') ?></th>
                    <th><?php echo $this->translate('State') ?></th>
                    <th class="text-center"><?php echo $this->translate('Change State') ?></th>
                    <th width="10%"><?php echo $this->translate('View') ?></th>
                </tr>
            </thead>
            <tbody>
                <?php
                foreach ($this->giftCard as $key => $giftCards) {
                    $giftCards = (object) $giftCards;
                    $availableQty = isset($giftCards->locationProductQuantity) ? $giftCards->locationProductQuantity : 0.00;
                    switch ($giftCards->productState) {
                        case "1":
                            $style = "label label-success";
                            $stateValue = 'Active';
                            break;
                        case "0":
                        default :
                            $style = "label label-warning";
                            $stateValue = 'Inactive';
                            break;
                    }
                    ?>
                    <tr>
                        <td><?php echo $giftCards->productCode; ?></td>
                        <td><?php echo $giftCards->productName; ?></td>
                        <td><?php echo number_format($giftCards->defaultSellingPrice, 2); ?></td>
                        <td><?php echo number_format($availableQty, 2); ?></td>
                        <td><span class="<?php echo $style; ?>"><?php echo $stateValue; ?></span></td>
                        <td class="text-center">
                            <button class ="inac btn btn-link inline-btn" onclick="productStatusChange(this, <?php echo $giftCards->productID; ?>, '<?php echo $giftCards->productName; ?>');">
                                <span class="glyphicon glyphicon-<?php echo ($giftCards->productState == '1') ? "check" : "unchecked"; ?>"></span>
                            </button>
                        </td>
                        <td id="edit" >
                            <a href="<?php echo $this->url('giftCard', array('action' => 'view', 'param1' => $giftCards->productID)); ?>" class ="editGiftCard">
                                <span class="fa fa-search-plus custom_font_size"></span>
                            </a>
                        </td>
                    </tr>
                    <?php
                }
                if (count($this->giftCard) == 0) {
                    ?>
                    <tr class="not_found">
                        <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                    </tr>
                    <?php
                }
                ?>

            </tbody>
        </table>
    </div>
</div>

<!--pagination-->
<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->giftCard, 'sliding', array('partial/paginator.phtml', 'giftCard'), array(
        'route' => 'giftCard', 'action' => 'list'
            )
    );
}
?>
