<!--search-->
<div class="well clearfix well_custom_padding margin_top">
    <form class="gift-card-search mobile-search" method="post" action="">
        <div class="col-lg-3">
            <label class="remove_weight"><?php echo $this->translate('Search Gift Card') ?></label>
        </div>
        <div class="col-lg-9">
            <div class="input-group">
                <input type ="text" id ='giftCardSearch' class="form-control" placeholder="<?php echo $this->translate('Enter Gift Card Name or Gift Card Code') ?>"/>
                <span class="input-group-btn">
                    <button class="btn btn-default minus_margin" type="submit"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default reset" type="reset"><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div id="giftCardList" class="margin_top_normal">
        <?php
        if (isset($this->giftCardList)):
            echo $this->giftCardList;
        endif;
        ?>
    </div>
    <div id="createGiftCardForm" class="hidden" >
        <?php
        if (isset($this->createGiftCardForm)):
            echo $this->createGiftCardForm;
        endif;
        ?>
    </div>
</div>

<script type="text/javascript">
    var el = document.getElementById("giftCardSearch");
    if (el.value == "") {
        el.focus();
    }
</script>