<?php
$form = $this->form;
$form->setAttribute('id', 'remove-gift-card');
?>

<div class="margin_top">
    <div class="well toggle_purpose">
        <h5 class="font_weight"><?php echo $this->translate('View Gift Card') ?></h5>
    </div>

    <div class="well">

        <?php
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formHidden($form->get('giftCardId'));
        ?>

        <div class="form-group">
            <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Location Name') ?></label>
            <div class="col-lg-6">
                <?php echo $this->formRow($form->get('locationName')); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Gift Card Name') ?><font color="red"> *</font></label>
            <div class="col-lg-6">
                <?php echo $this->formRow($form->get('giftCardName')); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3  control-label label_bottom_margin"><?php echo $this->translate('Gift Card Price') ?><font color="red"> *</font></label>
            <div class="col-lg-6 ">
                <?php echo $this->formRow($form->get('giftCardPrice')); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3  control-label label_bottom_margin"><?php echo $this->translate('Gift Card Discount Precentage') ?></label>
            <div class="col-lg-6 ">
                <?php echo $this->formRow($form->get('giftCardDiscountPrecentage')); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3  control-label label_bottom_margin"><?php echo $this->translate('Duration Days') ?></label>
            <div class="col-lg-6 ">
                <div class="input-group">
                    <?php echo $this->formRow($form->get('giftCardDurationDays')); ?>
                    <span class=" input-group-addon">Days</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3  control-label label_bottom_margin"><?php echo $this->translate('Gift Card Serial') ?></label>
            <div class="col-lg-6 ">
                <div class="table-responsive">
                    <table id="rmGiftCard" class="table table-striped">
                        <thead>
                            <tr>
                                <th><?php echo $this->translate('Serial Code') ?></th>
                                <th class="text-center"><?php echo $this->translate('Select') ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            if (isset($this->giftCardSerial)) {
                                foreach ($this->giftCardSerial as $key => $serial) {
                                    ?>
                                    <tr id="<?php echo $key ?>">
                                        <td class="serilaCode"><?php echo $serial ?></td>
                                        <td class="text-center"><input class="serialCheck" type="checkbox" ></td>
                                    </tr>
                                    <?php
                                }
                            }
                            ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="form-group margin_top_normal button-set">
            <div class="col-lg-9 text-right">
                <button type="button" class="btn btn-default delete"><?php echo $this->translate('Delete Selected Serial') ?></button>
            </div>
        </div>

        <?php
        echo $this->form()->closeTag($form);
        ?>
    </div>
</div>