<div class="panel panel-default small_panel_heading">
    <div class="panel-heading">
        <h5 class="font_weight"><?php echo $this->translate("Departments"); ?></h5>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped employeeDepartmentTable" style="margin-bottom: 50px;">
                <thead>
                    <tr>
                        <th><?php echo $this->translate("Department Code"); ?></th>
                        <th><?php echo $this->translate("Department Name"); ?></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <?php
                    foreach ($departments as $department) {
                        ?>
                        <tr data-employee-id="<?php echo $department['employeeDepartmentID']; ?>">
                            <td><?php echo $department['departmentCode']; ?></td>
                            <td><?php echo $department['departmentName']; ?></td>
                            <td>
                                <a href="#" class="status employeeDepartmentStatus" data-action="status">
                                    <span class="<?php echo ($department['employeeDepartmentStatus'] == '1') ? 'fa fa-check-square-o' : 'fa fa-square-o '; ?> custom_font_size"></span>
                                </a>
                            </td>
                        </tr>
                    <?php 
                    } 
                    if (count($departments) == 0) {
                        ?>
                        <tr class="not_found">
                            <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                        </tr>
                        <?php
                    }

                    ?>
                </tbody>
            </table>
        </div>

    </div><!--panel_body-->
</div><!--panel_default-->