<div class="progress-form-container margin_top">
    <div class="well well_heading">
        <h5 class="font_weight addTitle"><?php echo $this->translate('Update Progress') ?></h5>
    </div>

    <div class="well well_body">
        <form class="form-horizontal" id="progressForm">

            <div class="form-group">
                <!--project-->
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Projects') ?></label>
                    <select class="form-control selectpicker" title="" data-pid="" id="project" name="project" data-live-search="true">
                        <option value=""><?php echo $this->translate('Select a Project') ?></option>
                    </select>
                </div>

                <!--jobs-->
                <div class="col-lg-3 jobs">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Jobs') ?></label>
                    <div>
                        <select class="form-control selectpicker " title=""  id="childjob" name="childjob" data-live-search="true">
                            <option value=""><?php echo $this->translate('Select a Job') ?></option>
                        </select>
                        <select class="form-control selectpicker" title=""  id="job" name="job" data-live-search="true">
                            <option value=""><?php echo $this->translate('Select a Job') ?></option>
                        </select>
                    </div>
                </div>

                <!--activities-->
                <div class="col-lg-3 activities">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Activity') ?></label>
                    <select class="form-control selectpicker" id="activity" name="activity" data-live-search="true">
                        <option value=""><?php echo $this->translate('Select a Activity') ?></option>
                    </select>
                </div>

                <!--progress-->
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Progress') ?><font color="red"> *</font></label>
                    <input type="text"  id="progress" class="form-control" placeholder="Eg :50">
                </div>
            </div><!--form_group-->

            <!--button-->
            <div class="form-group margin_top_normal button-set">
                <div class="col-lg-12 text-right">
                    <button type="submit" class="btn btn-primary add"><?php echo $this->translate('Update') ?></button>
                </div>
            </div>

        </form><!--form_end-->
    </div><!--well-->

</div><!--progress-form-container-->
