<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
<?php
$this->headScript()->captureEnd();
?>

<!--panel-->
<div class="panel panel-default margin_top panel_border">

    <!--panel_heading-->
    <div class='panel-heading panel_heading_style'>
        <h4 class="font_weight h1_no_margin report_heading"><?php echo $this->translate('Petty Cash Reports') ?></h4>
    </div>

    <div class="panel-body panel_body_style flex-container">

        <!--links-->
        <div class="col-lg-3 col-md-3 remove_left_padding remove_right_padding panel_links">
            <ul class="nav nav-pills nav-stacked" data-tabs="tabs">
                <li id="pettyCashVoucher" class="report_pills active"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Petty Cash Voucher') ?></a></li>
            </ul>
        </div>

        <!--process_area-->
        <div class="col-lg-9 col-md-9 form-horizontal process_area">
            <div id="reportHead">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 petty-cash-content">
                            <div class="form-group">
                                <div class="col-lg-6 col-md-6 to set-from-location xs-margin-bottom">
                                    <label class="control-label"><?php echo $this->translate('Voucher Type') ?></label>
                                    <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="pettyCashVoucherType" id="pettyCashVoucherType" multiple="multiple" data-selected-text-format="count>2" title="<?php echo $this->translate('Select A Type') ?>">
                                        <?php
                                        foreach ($this->pettyCashVoucherTypes as $voucherID => $voucherType):
                                            echo '<option value="' . $voucherID . '">' . $voucherType . '</option>';
                                        endforeach;
                                        ?>
                                    </select>
                                </div>
                                <div class="col-lg-6 col-md-6 to set-to-location">
                                    <label class="control-label"><?php echo $this->translate('Petty Cash Expense Type') ?></label>
                                    <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="pettyCashExpenetype" id="pettyCashExpenetype" multiple="multiple" data-selected-text-format="count>1" title="<?php echo $this->translate('Select A Type') ?>">
                                        <?php
                                        foreach ($this->pettyCashExpenseTypes as $expenseTypeID => $expenseType):
                                            echo '<option value="' . $expenseTypeID . '">' . $expenseType . '</option>';
                                        endforeach;
                                        ?>
                                    </select>
                                </div>
                            </div><!--form-group-->
                        </div><!--./col-->
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6 xs-margin-bottom"><!--from_date-->
                            <label for="fromDate" class="control-label from_date_lbl"><?php echo $this->translate('From Date') ?></label>
                            <input type="text" class="span2 datepicker form-control pointer_cursor" style="background-color: white;" readonly="true" id="fromDate" name="fromDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to set a From Date') ?>">
                        </div>

                        <div class="col-lg-6 col-md-6 to set_to_date"><!--set_to_date-->
                            <label class="control-label to_date_lbl"><?php echo $this->translate('To Date') ?></label>
                            <input type="text" class="span2 datepicker form-control pointer_cursor" style="background-color: white;" readonly="true" id="toDate" name="toDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to set a To Date') ?>">
                        </div>
                    </div><!--row-->

                    <div class="row">
                        <div class="col-lg-12 btn-group btn_panel_normal">
                            <button class="btn btn-default col-lg-2" id="viewReport"><?php echo $this->translate('View Report') ?></button>
                            <button class="btn btn-default col-lg-2" id="generatePdf"><?php echo $this->translate('Generate Pdf') ?></button>
                            <button class="btn btn-default col-lg-2" id="csvReport"><?php echo $this->translate('Generate CSV') ?></button>
                        </div>
                    </div>

                </div><!--form_group-->

            </div>
        </div>
    </div>
</div>
<iframe id="pettyCashReportIFrame" class="panel panel-default margin_top margin_bottom panel_border report-iframe hidden" style="width: 100%"></iframe>


