
<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">
                <tbody>
                    <tr>
                        <th style="width:12%"><?php echo $this->translate('Petty Cash Voucher No') ?></th>
                        <th style="width:12%"><?php echo $this->translate('Petty Cash Voucher Type') ?></th>
                        <th style="width:12%"><?php echo $this->translate('Petty Cash Voucher Date') ?></th>
                        <th style="width:20%"><?php echo $this->translate('Petty Cash Comment') ?></th>
                        <th style="width:12%"><?php echo $this->translate('Petty Cash Expense Type') ?></th>
                        <th style="width:12%"><?php echo $this->translate('Petty Cash User Name') ?></th>
                        <th style="width:20%"><?php echo $this->translate('Petty Cash Voucher Amount') . ' (' . $currencySymbol . ')'; ?></th>
                    </tr>
                    <?php
                    if (count($pettyCashVoucherData) > 0) {
                        foreach ($pettyCashVoucherData as $data) {
                            ?>
                            <tr class="even_row">
                                <td style="text-align: left"><?php echo $data['pettyCashVoucherNo']; ?></td>
                                <td style="text-align: left"><?php echo $data['pettyCashVoucherType']; ?></td>
                                <td style="text-align: left"><?php echo $data['pettyCashVoucherDate']; ?></td>
                                <td style="text-align: left"><?php echo $data['pettyCashComment']; ?></td>
                                <td style="text-align: left"><?php echo $data['pettyCashExpenseTypeName']; ?></td>
                                <td style="text-align: left"><?php echo $data['userUsername']; ?></td>
                                <td style="text-align: left"><?php echo $data['pettyCashVoucherAmount']; ?></td>
                            </tr>

                        <?php }
                        ?>
                        <tr class="even_row">
                            <td colspan="5"></td>
                            <td><?php echo $this->translate('Grand Total') ?>:</td>
                            <td class="change_order_total_col"><?php echo $this->grandTotal; ?></td>
                        </tr>
                    <?php } else { ?>
                        <tr class="even_row">
                            <td colspan="11"><?php echo $this->translate('No related data') ?></td>
                        </tr>
                    <?php } ?>
                </tbody>

            </table>

        </div>

    </div>
</div>



