<div class="row">
	<div class="col-lg-2">
		<h4 class="title-dashboard"><b><?php echo $this->translate('CRM Overview'); ?></b></h4>
	</div>
	<div class="col-lg-2" style="display: flex; padding-top: 9px;">
		  <p style="color: grey">Show : &nbsp;&nbsp;</p>
		  <select class="jobInput period">
            <option value="thisWeek"><?php echo $this->translate('This Week');?></option>
            <option value="thisMonth"><?php echo $this->translate('This Month');?></option>
            <option value="thisDay"><?php echo $this->translate('This Day');?></option>
            <option value="thisYear"><?php echo $this->translate('This Year');?></option>
          </select>
	</div>
</div>
<div class="row" style="background-color: #f1efef; min-height: 100vh">
	<div class="row widgetRow">
		<div class="col-lg-3 title-widget">
			<div class="row" style="padding-top: 10px">
				<p style="color: #5f675f; font-size: 12px"><b><?php echo $this->translate('Total Customer'); ?></b></p>
			</div>
			<div class="row">
				<div style="float: left;">
					<h4><b id="total-sales">0</b></h4>
				</div>
				<div style="float: right;">
					
				</div>
			</div>
		</div>
		<div class="col-lg-3 title-widget">
			<div class="row" style="padding-top: 10px">
				<p style="color: #5f675f; font-size: 12px"><b><?php echo $this->translate('Total Visits'); ?></b></p>
			</div>
			<div class="row">
				<div style="float: left;">
					<h4><b id="gross-profit">0</b></h4>
				</div>
				<div style="float: right;">
					<h5 class="profit-rate" id="total-gross-profit">+2.5%<span><i class="glyphicon glyphicon-arrow-up"></i></span></h5>
					<h5 class="loss-rate hidden" id="total-gross-loss">+2.5%<span><i class="glyphicon glyphicon-arrow-down"></i></span></h5>
				</div>
			</div>
			<p style="color: #8c867e;font-size: 12px;" id="last-period-total-gross">Compared to (100 last year)</p>
		</div>
		<div class="col-lg-3 title-widget">
			<div class="row" style="padding-top: 10px">
				<p style="color: #5f675f; font-size: 12px"><b><?php echo $this->translate('Loyalty Points Redeemed by Customers'); ?></b></p>
			</div>
			<div class="row">
				<div style="float: left;">
					<h4><b id="total-payments">0</b></h4>
				</div>
				<div style="float: right;">
					<h5 class="profit-rate" id="total-payment-profit">+2.5%<span><i class="glyphicon glyphicon-arrow-up"></i></span></h5>
					<h5 class="loss-rate hidden" id="total-payment-loss">+2.5%<span><i class="glyphicon glyphicon-arrow-down"></i></span></h5>
				</div>
			</div>
			<p style="color: #8c867e;font-size: 12px;" id="last-period-total-payment">Compared to (LKR 100,000 last year)</p>
		</div>
		<div class="col-lg-3 title-widget">
			<div class="row" style="padding-top: 10px">
				<p style="color: #5f675f; font-size: 12px"><b><?php echo $this->translate('Loyalty Points Earned by Customers'); ?></b></p>
			</div>
			<div class="row">
				<div style="float: left;">
					<h4><b id="totalInvoiceCount">0</b></h4>
				</div>
				<div style="float: right;">
					<h5 class="profit-rate" id="total-invoice-count-profit">+2.5%<span><i class="glyphicon glyphicon-arrow-up"></i></span></h5>
					<h5 class="loss-rate hidden" id="total-invoice-count-loss">+2.5%<span><i class="glyphicon glyphicon-arrow-down"></i></span></h5>
				</div>
			</div>
			<p style="color: #8c867e;font-size: 12px;" id="last-period-total-invoices">Compared to (LKR 100,000 last year)</p>
		</div>
	</div>
	<div class="row graph-row">
		<div class="col-lg-9">
			<div class="row graph-widget">
				<div class="row">
					<ul class="nav nav-tabs">
				      <!-- <li class="active">
				        <a data-toggle="tab" id="cash-credit" href="#byVehcleTab">
				          <span class="tab-title">Sales & Returns By Customer</span>
				        </a>
				      </li> -->
				      <li class="active">
				        <a data-toggle="tab" id="sales-gross-profit" href="#byItemTab"><span class="tab-title"><?php echo $this->translate('Customer Acquisition & Visit by Promotions'); ?></span></a>
				      </li>
				    </ul>
				</div>
				<div class="row hidden" id="cash-chart">
					
				</div>
				<div class="row " id="gp-chart">
					
				</div>
			</div>
			<div class="row final-graph-row">
				<div class="col-lg-6">
					<div class="row" style="text-align: center;">
						<p class="tab-title1" style="padding-top: 13px;"><?php echo $this->translate('Customer Acquisition (Based on Invoices)'); ?></p>
					</div>
					<div class="row" id="sales-summary"></div>
				</div>
				<div class="col-lg-6" style="border-left: 1px solid #beb4b4;">
					<div class="row" style="text-align: center;">
						<p class="tab-title1" style="padding-top: 13px;"><?php echo $this->translate('Sales by Promotions'); ?></p>
					</div>
					<div class="row" id="sales-gp-summary"></div>
				</div>
			</div>
			<a class="zc-ref" href="https://www.zingchart.com/">Powered by ZingChart</a>
		</div>
		<div class="col-lg-3">
			<div class="row best-items">
				<div class="row" style="text-align: center;">
					<p class="tab-title1" style="padding-top: 13px;"><?php echo $this->translate('Most Visited Customers'); ?></p>
				</div>
				<div class="row">
					<div class="row" style="display: flex;">
						<div class="col-lg-1 title-row">
						</div>
						<div style="width:100%" class="col-lg-7 title-row">
							<b>Customer</b>
						</div>
						<div style="width:100%" class="col-lg-4 title-row" style="text-align: right;">
							<b>Visits</b>
						</div>
					</div>
					<div class="row item-row">
						<div class="col-lg-1 table-text">
							1
						</div>
						<div style="width:100%" class="col-lg-7 table-text customerName0 sales-text">
							A
						</div>
						<div style="width:100%" class="col-lg-4 table-text table-count customerVisits0">
							0
						</div>
					</div>
					<div class="row item-row">
						<div class="col-lg-1 table-text">
							2
						</div>
						<div style="width:100%" class="col-lg-7 table-text customerName1 sales-text">
							B
						</div>
						<div style="width:100%" class="col-lg-4 table-text table-count customerVisits1">
							0
						</div>
					</div>
					<div class="row item-row">
						<div class="col-lg-1 table-text">
							3
						</div>
						<div style="width:100%" class="col-lg-7 table-text customerName2 sales-text">
							C
						</div>
						<div style="width:100%" class="col-lg-4 table-text table-count customerVisits2">
							0
						</div>
					</div>
					<div class="row item-row">
						<div class="col-lg-1 table-text">
							4
						</div>
						<div style="width:100%" class="col-lg-7 table-text customerName3 sales-text">
							D
						</div>
						<div style="width:100%" class="col-lg-4 table-text table-count customerVisits3">
							0
						</div>
					</div>
					<div class="row item-row">
						<div class="col-lg-1 table-text">
							5
						</div>
						<div style="width:100%" class="col-lg-7 table-text customerName4 sales-text">
							E
						</div>
						<div style="width:100%" class="col-lg-4 table-text table-count customerVisits4">
							0
						</div>
					</div>
					<div class="row item-row">
						<div class="col-lg-1 table-text">
							6
						</div>
						<div style="width:100%" class="col-lg-7 table-text customerName5 sales-text">
							E
						</div>
						<div style="width:100%" class="col-lg-4 table-text table-count customerVisits5">
							0
						</div>
					</div>
					<div class="row item-row">
						<div class="col-lg-1 table-text">
							7
						</div>
						<div style="width:100%" class="col-lg-7 table-text customerName6 sales-text">
							E
						</div>
						<div style="width:100%" class="col-lg-4 table-text table-count customerVisits6">
							0
						</div>
					</div>
					<div class="row item-row">
						<div class="col-lg-1 table-text">
							8
						</div>
						<div style="width:100%" class="col-lg-7 table-text customerName7 sales-text">
							E
						</div>
						<div style="width:100%" class="col-lg-4 table-text table-count customerVisits7">
							0
						</div>
					</div>
					<div class="row item-row">
						<div class="col-lg-1 table-text">
							9
						</div>
						<div style="width:100%" class="col-lg-7 table-text customerName8 sales-text">
							E
						</div>
						<div style="width:100%" class="col-lg-4 table-text table-count customerVisits8">
							0
						</div>
					</div>
					<div class="row item-row">
						<div class="col-lg-1 table-text">
							10
						</div>
						<div style="width:100%" class="col-lg-7 table-text customerName9 sales-text">
							E
						</div>
						<div style="width:100%" class="col-lg-4 table-text table-count customerVisits9">
							0
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>

<style type="text/css">
#sales-payment-summary {
  /*min-height: 150px;*/
  width: 100%;
  height: 100%;
  min-height: 250px;
  position: relative;
    left: -4px;
}

#sales-gp-summary {
  /*min-height: 150px;*/
  width: 100%;
  height: 100%;
  min-height: 250px;
  position: relative;
    left: -4px;
}

#sales-summary {
  /*min-height: 150px;*/
  width: 100%;
  height: 100%;
  min-height: 250px;
  position: relative;
    left: -4px;
}
</style>
