<div class="margin_top">

    <div class="well well_heading" id="exenseCategoryHeader">
        <h5 class=""><?php echo $this->translate('Create Voucher Category') ?></h5>
    </div>

    <div class="well well_body">
        <form id="expenseCategoryAddForm">

            <div class="_row_with_margin clearfix">

                <!--category_name-->
                <div class="col-lg-5 col-md-5">
                    <div class="form-group">
                        <label><?php echo $this->translate('Voucher Category Name') ?><font color="red"> *</font></label>
                        <input type="text" autofocus="true" name="expenseCategoryName" class="form-control">
                    </div>
                </div>

                <!--category_parent-->
                <div class="col-lg-5 col-md-5">
                    <div class="form-group">
                        <label><?php echo $this->translate('Category Parent') ?></label>
                        <select class='form-control selectpicker' data-actions-box="false" data-live-search="true" name="expenseCategoryParent" id="expenseCategoryParent" title="Select a parent category" data-selected-text-format="count>3">
                            <option value="0"><?php echo $this->translate('No parent'); ?></option>
                            <?php
                            foreach ($this->categories as $category):
                                echo '<option value="' . $category['expenseCategoryId'] . '">' . $category['expenseCategoryName'] . '</option>';
                            endforeach;
                            ?>
                        </select>
                    </div>
                </div>

                <!--button-->
                <div class="col-lg-2 col-md-2">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <div class="text-right"><input type="submit"  value="<?php echo $this->translate('Add');?>" class="btn btn-primary btn-block"></div>
                    </div>
                </div>

            </div><!--./row-->

        </form>
    </div><!--well_body-->

</div>

<div id="expenseCategoryList">
    <?php echo $this->categoryList; ?>
</div>