<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <meta http-equiv="Content-Type" content="application/pdf; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl . '/css/template-styles.css'; ?>">
    </head>
    <body>
        <div class="body">
            <?php echo $this->body; ?>
        </div>
    </body>
</html>