<?php
$this->headScript()->appendFile($this->basePath('js/job-card/vehicle.js'));

$form = $this->form;
$form->setAttribute('id', 'vehicle-form');
?>

<div class="cost-type-form-container margin_top">

    <div class="well well_heading">
        <h5 class="font_weight addTitle"><?php echo $this->translate('Vehicle') ?></h5>
        <h5 class="font_weight updateTitle hidden"><?php echo $this->translate('Update Vehicle') ?></h5>
    </div>

    <div class="well well_body">

        <?php
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formHidden($form->get('vehicleId'));
        ?>

        <div class="_row_with_margin clearfix">
            <!--cost_type_name-->
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Vehicle Make') ?><font color="red"> *</font></label>
                    <div class="">
                        <?php echo $this->formRow($form->get('vehicleMake')); ?>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Vehicle Model') ?><font color="red"> *</font></label>
                    <div class="">
                        <?php echo $this->formRow($form->get('vehicleModel')); ?>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Vehicle Registration Number') ?><font color="red"> *</font></label>
                    <div class="">
                        <?php echo $this->formRow($form->get('vehicleRegistrationNumber')); ?>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Vehicle Cost per km') ?></label>
                    <div class="">
                        <?php echo $this->formRow($form->get('vehicleCost')); ?>
                    </div>
                </div>
            </div>

            <!--update&cancel-->
            <div class="col-lg-4 col-lg-offset-4 updateDiv hidden">
                <label class="control-label label_bottom_margin">&nbsp;</label>
                <div class="text-right">
                    <button type="button" id="updateBtn" class="btn btn-primary update cost_type_update_btn"><?php echo $this->translate('Update') ?></button>
                    <button type="button" id="updateCancelBtn" class="btn btn-default cancel"><?php echo $this->translate('Cancel') ?></button>
                </div>
            </div>

            <!--reset&add_new-->
            <div class="col-lg-4 col-lg-offset-4 addDiv">
                <label class="control-label label_bottom_margin">&nbsp;</label>
                <div class="text-right">
                    <button type="button" id="saveBtn" class="btn btn-primary add"><?php echo $this->translate('Save') ?></button>
                    <button type="reset" id="resetBtn" class="btn btn-default reset"><?php echo $this->translate('Reset') ?></button>
                </div>
            </div>
        </div>

        <?php
        echo $this->form()->closeTag($form);
        ?>

    </div>
</div>

<!--search-->
<div class="well clearfix well_custom_padding margin_top">
    <form class="cost-type-search" id="cost-type-search" method="post" action="">
        <div class="col-lg-3">
            <label class="remove_weight"><?php echo $this->translate('Search Vehicle') ?></label>
        </div>
        <div class="col-lg-9 xs-search-field">
            <div class=" input-group">
                <input type="text" class="search form-control" id ='vehicle-search-keyword' placeholder="<?php echo $this->translate('Enter Vehicle') ?>"/>
                <span class="input-group-btn">
                    <button class="btn btn-default search_btn_css" id="searchBtn" type="button"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default reset" type="button" id="cancelBtn"><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </form>
</div>

<!--paginate cost type list add in here-->
<div id="vehicle-list" class="margin_top">
    <?php echo $this->partial('job-card/vehicle/list', array('vehicles' => $this->vehicles, 'paginated' => $this->paginated)); ?>
</div>

<!-- Account Delete Modal -->
<div class="modal fade bs-example-modal-sm" id="vehicleDeleteModal" tabindex="-1" role="dialog" aria-labelledby="vehicleDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="vehicleDeleteModalLabel">Delete Vehicle</h4>
            </div>
            <div class="modal-body vehicleDeleteModalBody"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="btnDelete">Delete</button>
            </div>
        </div>
    </div>
</div>