<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="25%"><?php echo $this->translate('Vehicle Make'); ?></th>
                <th width="25%"><?php echo $this->translate('Vehicle Model '); ?></th>
                <th width="25%"><?php echo $this->translate('Vehicle Registration Number'); ?></th>
                <th width="15%"><?php echo $this->translate('Vehicle Cost'); ?></th>
                <th width="5%" class="text-center"><?php echo $this->translate('Edit'); ?></th>
                <th width="5%" class="text-center"><?php echo $this->translate('Delete'); ?></th>
            </tr>
        </thead>

        <tbody>
            <?php
            if (count($this->vehicles) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            } else {
                foreach ($this->vehicles as $vehicle) {
                    ?>
                    <tr data-vehicle-id="<?php echo $vehicle['vehicleId']; ?>" data-vehicle-make="<?php echo $vehicle['vehicleMake']; ?>" data-vehicle-model="<?php echo $vehicle['vehicleModel']; ?>" data-vehicle-reg-num="<?php echo $vehicle['vehicleRegistrationNumber']; ?>" data-vehicle-cost="<?php echo $vehicle['vehicleCost']; ?>" data-entity-id="<?php echo $vehicle['entityId']; ?>">
                        <td><?php echo $vehicle['vehicleMake']; ?></td>
                        <td><?php echo $vehicle['vehicleModel']; ?></td>
                        <td><?php echo $vehicle['vehicleRegistrationNumber']; ?></td>
                        <td><?php echo $vehicle['vehicleCost']; ?></td>
                        <td class="text-center">
                            <a href="#" class="fa fa-edit custom_font_size vehicle-action" data-action="edit"></a>
                        </td>
                        <td class="text-center">
                            <a href="#" class="fa fa-trash-o custom_font_size vehicle-action" data-toggle="modal" data-target="#vehicleDeleteModal" data-action="delete"></a>
                        </td>
                    </tr>
                    <?php
                }
            }
            ?>
        </tbody>
    </table>
</div>

<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $vehicles, 'sliding', array('partial/paginator.phtml', 'vehicle'), array('route' => 'vehicle', 'action' => 'index')
    );
}
?>