<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th><?php echo $this->translate("Ref. NO"); ?></th>
                        <th><?php echo $this->translate("Supplier Name - Code"); ?></th>
                        <th><?php echo $this->translate("Item Name - Code"); ?></th>
                        <th><?php echo $this->translate("Quantity"); ?></th>
                    </tr>
                    <?php if (count($sL) == 0) { ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="6"><?php echo $this->translate('No related data found') ?></td>
                        </tr>

                        <?php
                    } else {
                        $i = 1;
                        foreach ($sL as $key => $value) {
                            $count = 1;
                            if ($value['products'] != '') {
                                foreach ($value['products'] as $subkey => $pData) {
                                    $totQty = 0;
                                    $totPurchase = 0;
                                    $totDebitNote = 0;
                                    foreach ($pData as $v) {
                                        $pName = $v['pName'] ? $v['pName'] : '-';
                                        $pCD = $v['pCD'] ? $v['pCD'] : '-';
                                        $totPurchaseQty = $v['totPurchaseQty'] ? $v['totPurchaseQty'] : 0.00;
                                        $totPurchase += $totPurchaseQty;
                                        $totDebitNoteQty = $v['totDebitNoteQty'] ? $v['totDebitNoteQty'] : 0.00;
                                        $totDebitNote += $totDebitNoteQty;
                                        $uomAbbr = $v['uomAbbr'] ? $v['uomAbbr'] : ' ';
                                    }
                                    $totQty = $totPurchase - $totDebitNote;
                                    if ($totQty > 0) {
                                        if ($count == 1) {
                                            echo '
                                <tr class="even_row">
                                    <td style="text-align: left">' . $i . '</td>
                                    <td style="text-align: left">' . $value['sTitle'] . ' ' . $value['sName'] . ' - ' . $value['sCD'] . '</td>
                                    <td style="text-align: left">' . $pName . ' - ' . $pCD . '</td>
                                    <td style="text-align: right">' . number_format($totQty, 2) . '' . $uomAbbr . '</td>
                                </tr>';
                                            $count++;
                                        } else {
                                            echo '
                                <tr class="even_row">
                                    <td style="text-align: left"></td>
                                    <td style="text-align: left"></td>
                                    <td style="text-align: left">' . $pName . ' - ' . $pCD . '</td>
                                    <td style="text-align: right">' . number_format($totQty, 2) . '' . $uomAbbr . '</td>
                                </tr>';
                                        }
                                    }
                                }
                            } else {
                                echo '
                                <tr class="even_row">
                                    <td style="text-align: left">' . $i . '</td>
                                    <td style="text-align: left">' . $value['sTitle'] . ' ' . $value['sName'] . ' - ' . $value['sCD'] . '</td>
                                    <td style="text-align: left">-</td>
                                    <td style="text-align: right">-</td>
                                </tr>';
                            }

                            $i++;
                        }
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>



