<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">
                <tbody>
                    <tr>
                        <th style="width: 15%"><?php echo $this->translate("Supplier Name"); ?></th>
                        <th style="width: 15%"><?php echo $this->translate("Document Type"); ?></th>
                        <th style="width: 10%"><?php echo $this->translate("Document Code"); ?></th>
                        <th style="width: 15%"><?php echo $this->translate("Date"); ?></th>
                        <th style="width: 5%"><?php echo $this->translate("Status"); ?></th>
                        <th style="width: 10%"><?php echo $this->translate("Parent Doc"); ?></th>
                        <th style="width: 10%"><?php echo $this->translate("Amount"); ?></th>
                        <th style="width: 10%"><?php echo $this->translate("Supplier Outstanding"); ?></th>
                        <th style="width: 10%"><?php echo $this->translate("Supplier Credit"); ?></th>
                    </tr>
              
                    <?php
                        if (count($supDetails['docDetails']) == 0) {
                    ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="8"><?php echo $this->translate('No related data found') ?></td>
                        </tr>

                        <?php
                    } else {
                        $i = 1;
                        foreach ($supDetails['supDetails'] as $supKey => $supData) {
                        $dataExist = false;

                        $tempOpeningOutsatnding = $openningBalance[$supData['sID']]['openingOutstanding'];
                        $tempOpeningCredit = $openningBalance[$supData['sID']]['openingCredit'];
                            ?>
                        <tr>
                            <td><?php echo $supData['sName'].' - '.$supData['sCD'];?></td>
                            <td colspan="5"></td>
                            <td><b><?php echo $this->translate("Opening Balance");?><b></td>
                            <td style="text-align: right"><b><?php echo number_format($openningBalance[$supData['sID']]['openingOutstanding'], 2); ?><b></td>
                            <td style="text-align: right"><b><?php echo number_format($openningBalance[$supData['sID']]['openingCredit'], 2); ?><b></td>
                        </tr>    
                        

                        <?php
                            foreach ($supDetails['docDetails'] as $key => $transValue) {
                                if($transValue['supplier'] == $supKey){
                                    $dataExist = true;
                                ?>
                                    <tr class="even_row">
                                        <td></td>
                                        <td style="text-align: center"><?php echo $transValue['docType'];?></td>
                                        <td style="text-align: center"><?php echo $transValue['code'];?></td>
                                        <td style="text-align: center"><?php echo explode(" ", $transValue['issueDate'])[0];?></td>
                                        <td style="text-align: center"><?php echo $transValue['statusName'];?></td>
                                        <td style="text-align: center"><?php
                                                if($transValue['docType'] == 'payments'){
                                                    if(isset( $parentDataSet[$transValue['code']]['PIs'] )){
                                                        echo 'PI / '.implode(" , ", $parentDataSet[$transValue['code']]['PIs']);
                                                        echo "</br></br>";
                                                    }
                                                    if(isset($parentDataSet[$transValue['code']]['PVs'] )){
                                                        echo 'PV / '.implode(" , ", $parentDataSet[$transValue['code']]['PVs']);
                                                    }
                                                }else{
                                                    echo $parentDataSet[$transValue['code']];
                                                }
                                            ?>
                                        </td>

                                   <?php    
                                        if ($transValue['docType'] == "purchase Invoice") {
                                            $tempOpeningOutsatnding += $transValue['total'];
                                            $docAmount = $transValue['total'];
                                        } else if ($transValue['docType'] == "payment Voucher") {
                                            $tempOpeningOutsatnding += $transValue['total'];
                                            $docAmount = $transValue['total'];
                                        } else if ($transValue['docType'] == "debit Note") {
                                            if ($transValue['invoiceBalanceAmount'] >= $transValue['total']) {
                                                if ($tempOpeningOutsatnding >= $transValue['total']) {
                                                    $tempOpeningOutsatnding -= $transValue['total'];
                                                } else {
                                                    $creditDiffForDebitNote = $transValue['total'] - $tempOpeningOutsatnding;
                                                    $tempOpeningOutsatnding = 0;
                                                    $tempOpeningCredit += $creditDiffForDebitNote;
                                                }
                                            } else {
                                                $tempOpeningOutsatnding -= $transValue['invoiceBalanceAmount'];
                                                $creditDiffForDebitNote = $transValue['total'] - $transValue['invoiceBalanceAmount'];
                                                $tempOpeningCredit += $creditDiffForDebitNote; 
                                            }
                                            $docAmount = $transValue['total'];
                                        } else if ($transValue['docType'] == "debit Note Payment") {
                                            if ($tempOpeningCredit >= $transValue['total']) {
                                                $tempOpeningCredit -= $transValue['total'];
                                            } else {
                                                $tempOpeningCredit = 0;
                                            }
                                            $docAmount = $transValue['total'];
                                        } else if ($transValue['docType'] == "payments") {
                                            $invoiceLeftToPayAmount = ($transValue['invoiceLeftToPayAmount'] == 0) ? $transValue['purchaseInvoiceTotal'] : $transValue['invoiceLeftToPayAmount'];
                                            $outgoingPaymentBalance = $transValue['total'] - $invoiceLeftToPayAmount;
                                            if ($outgoingPaymentBalance < 0) {
                                                $outgoingPaymentBalance = 0;
                                            }
                                            $tempOpeningCredit += $outgoingPaymentBalance;
                                            $tempOpeningCredit -= $transValue['totalCreditAmount'];

                                            if ($transValue['total'] >= $invoiceLeftToPayAmount) {
                                                $tempOpeningOutsatnding -= $invoiceLeftToPayAmount;
                                            } else {
                                                $tempOpeningOutsatnding -= $transValue['total'];
                                            }

                                            if ($transValue['totalCreditAmount'] > 0) {
                                                $docAmount = $transValue['total']*-1;
                                            } else {
                                                $docAmount = $transValue['total'];
                                            }
                                        } else if ($transValue['docType'] == "advance Payment") {
                                            $tempOpeningCredit += $transValue['total'];
                                            $docAmount = $transValue['total'];
                                        }

                                        if ($docAmount > 0) {
                                        ?>
                                            <td style="text-align: right"><?php echo number_format($docAmount,2);?></td>
                                        <?php
                                        } else {
                                        ?>
                                            <td style="text-align: right"><?php echo "*(".number_format(abs($docAmount),2).")";?></td>
                                        <?php
                                        }
                                        ?>
                                        <td style="text-align: right"><?php echo number_format($tempOpeningOutsatnding,2);?></td>
                                        <td style="text-align: right"><?php echo number_format($tempOpeningCredit,2);?></td>
                                    </tr>

                                <?php
                                }
                            }
                            if(!$dataExist){
                            ?>
                                <tr class="even_row">
                                    <td></td>
                                    <td style="text-align: center" colspan="7"><?php echo $this->translate('No related data found') ?></td>
                                </tr>
                            <?php
                            }
                            $grandOutstandingTotal += $tempOpeningOutsatnding;
                            $grandCreditTotal += $tempOpeningCredit;
                        }
                    }
                    ?>
                    <tr>
                        <td style="text-align: center" colspan="6"></td>
                        <td style="text-align: center;font-weight:bold;"><?php echo $this->translate("Grand Total"); ?></td>
                        <td style="text-align: right;font-weight:bold;"><?php echo number_format($grandOutstandingTotal, 2);?></td>
                        <td style="text-align: right;font-weight:bold;"><?php echo number_format($grandCreditTotal, 2);?></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="8"><label><?php echo $this->translate('* Include credit payments.')?></label></td>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>
</div>



