<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">
                <tbody>
                    <?php
                    if($summaryOnly == 'true'){
                    ?>
                    <tr>
                        <th style=""><?php echo $this->translate("Supplier Name"); ?></th>
                        <th style=""><?php echo $this->translate("Openning Balance"); ?></th>
                        <th style=""><?php echo $this->translate("Cumulative Total"); ?></th>
                    </tr>
                    <?php    
                    } else {
                    ?>
                    <tr>
                        <th style="width: 15%"><?php echo $this->translate("Supplier Name"); ?></th>
                        <th style="width: 15%"><?php echo $this->translate("Document Type"); ?></th>
                        <th style="width: 15%"><?php echo $this->translate("Document Code"); ?></th>
                        <th style="width: 15%"><?php echo $this->translate("Date"); ?></th>
                        <th style="width: 10%"><?php echo $this->translate("Status"); ?></th>
                        <th style="width: 10%"><?php echo $this->translate("Parent Doc"); ?></th>
                        <th style="width: 10%"><?php echo $this->translate("Amount"); ?></th>
                        <th style="width: 10%"><?php echo $this->translate("Cumulative Total"); ?></th>
                    </tr>
                    <?php    
                    } 
                    ?>
                    

                    <?php
                        if (count($supDetails['docDetails']) == 0) {
                    ?>
                        <tr class="even_row">
                        <?php
                        if($summaryOnly == 'true'){
                         ?>
                            <td style="text-align: left" colspan="2"><?php echo $this->translate('No related data found') ?></td>
                         <?php   
                        } else {
                         ?>
                            <td style="text-align: left" colspan="7"><?php echo $this->translate('No related data found') ?></td>
                         
                         <?php   
                        }
                        ?>
                        </tr>

                        <?php
                    } else {
                        $i = 1;
                        foreach ($supDetails['supDetails'] as $supKey => $supData) {
                        $dataExist = false;

                        $openningBalanceVal = floatval($openningBalance['all'][$supKey]) - floatval($openningBalance['current'][$supKey]);
                        $realOpenningBal = $openningBalanceVal;
                        if($summaryOnly != 'true'){
                            ?>
                        <tr>
                            <td><?php echo $supData['sName'].' - '.$supData['sCD'];?></td>
                            <td colspan="5"></td>
                            <td><b><?php echo $this->translate("Opening Balance");?><b></td>
                            <?php
                                if($openningBalanceVal<0){
                                    $view = '('.number_format(abs($openningBalanceVal), 2).')';
                                }else{
                                    $view = number_format($openningBalanceVal, 2);
                                }
                            ?>
                            <td style="text-align: right"><b><?php echo $view; ?><b></td>
                        </tr>    
                        <?php    
                        }
                        ?>
                        

                        <?php
                            foreach ($supDetails['docDetails'] as $key => $transValue) {
                                if($transValue['supplier'] == $supKey){
                                    $dataExist = true;
                                ?>
                                    <tr class="even_row">
                                    <?php
                                    if($summaryOnly != 'true'){
                                    ?>
                                        <td></td>
                                        <td style="text-align: center"><?php echo $transValue['docType'];?></td>
                                        <td style="text-align: center"><?php echo $transValue['code'];?></td>
                                        <td style="text-align: center"><?php echo $transValue['issueDate'];?></td>
                                        <td style="text-align: center"><?php echo $transValue['statusName'];?></td>
                                        <td style="text-align: center"><?php

                                                if($transValue['docType'] == 'payments'){

                                                    if(isset( $parentDataSet[$transValue['code']]['PIs'] )){

                                                        echo 'PI / '.implode(" , ", $parentDataSet[$transValue['code']]['PIs']);
                                                        echo "</br></br>";
                                                    }

                                                    if(isset($parentDataSet[$transValue['code']]['PVs'] )){

                                                        echo 'PV / '.implode(" , ", $parentDataSet[$transValue['code']]['PVs']);
                                                    }
                                                }else{
                                                    echo $parentDataSet[$transValue['code']];
                                                }


                                            ?>

                                        </td>
                                    <?php    
                                    } 
                                    
                                        if($transValue['docType'] == 'payment Voucher' ||
                                            $transValue['docType'] == 'purchase Invoice' ||
                                            $transValue['docType'] == 'debit Note Payment') {
                                            $openningBalanceVal += $transValue['total'];
                                            $view = number_format($transValue['total'], 2);
                                            if($summaryOnly != 'true'){
                                             ?>
                                                <td style="text-align: right"><?php echo $view;?></td>
                                             <?php   
                                            }
                                            ?>
                                            <?php
                                        } else if($transValue['docType'] == 'debit Note'){
                                            $openningBalanceVal -= $transValue['total'];
                                            $view = '('.number_format($transValue['total'], 2).')';
                                            if($summaryOnly != 'true'){
                                            ?>
                                                <td style="text-align: right"><?php echo $view;?></td>
                                            <?php }
                                            ?>
                                            <?php
                                        } else if($transValue['type'] == null){
                                            $openningBalanceVal -= ($transValue['total'] - $transValue['totalCreditAmount']);
                                            if($transValue['totalCreditAmount'] == 0){
                                                $view = '('.number_format($transValue['total'], 2).')';
                                            } else {
                                                $view = '*('.number_format($transValue['total'], 2).')';
                                            }

                                            if($summaryOnly != 'true'){
                                            ?>
                                                <td style="text-align: right"><?php echo $view;?></td>
                                            
                                            <?php } ?>
                                            <?php
                                        } else {
                                            $openningBalanceVal -= $transValue['total'];
                                            $view = '('.number_format($transValue['total'], 2).')';
                                            if($summaryOnly != 'true'){
                                            ?>
                                                <td style="text-align: right"><?php echo $view;?></td>
                                            <?php
                                            }
                                            ?>
                                            <?php

                                        }

                                        ?>
                                        <?php
                                            if($openningBalanceVal<0){
                                                $view = '('.number_format(abs($openningBalanceVal), 2).')';
                                            }else{
                                                $view = number_format($openningBalanceVal, 2);
                                            }

                                        if($summaryOnly != 'true'){
                                        ?>
                                        <td style="text-align: right"><?php echo $view;?></td>
                                        <?php
                                        }
                                        ?>
                                    </tr>

                                <?php

                                }


                           }
                           if(!$dataExist && $summaryOnly != 'true'){
                        
                            ?>
                            <tr class="even_row">
                                <td></td>
                                <td style="text-align: center" colspan="7"><?php echo $this->translate('No related data found') ?></td>
                            </tr>
                            <?php

                           }
                           if($summaryOnly == 'true'){
                            ?>
                                <tr class="even_row">
                                    <td style="text-align: left"><?php echo $supData['sName'].' - '.$supData['sCD'];?></td>
                                <?php
                                if($realOpenningBal<0){
                                    $realOpenview = '('.number_format(abs($realOpenningBal), 2).')';
                                }else{
                                    $realOpenview = number_format($realOpenningBal, 2);
                                }
                            ?>
                                    <td style="text-align: right"><b><?php echo $realOpenview; ?><b></td>
                            <?php
                                if($openningBalanceVal<0){
                                    $currentView = '('.number_format(abs($openningBalanceVal), 2).')';
                                }else{
                                    $currentView = number_format($openningBalanceVal, 2);
                                }
                            ?>
                                    <td style="text-align: right"><?php echo $currentView;?></td>
                            </tr>
                            <?php
                           }
                           $grandTotal += $openningBalanceVal;
                        }
                    }
                    ?>
                    <tr>
                    <?php if($summaryOnly == 'true'){
                     ?>
                        <td ></td>
                     <?php   
                    } else {
                     ?>
                        <td style="text-align: center" colspan="6"></td>
                     
                     <?php   
                    }
                    ?>
                        <td style="text-align: center;font-weight:bold;"><?php echo $this->translate("Grand Total"); ?></td>
                        <?php if($grandTotal < 0){ ?>
                                    <td style="text-align: right;font-weight:bold;">(<?php echo number_format(abs($grandTotal), 2);?>)</td>
                                <?php } else { ?>
                                    <td style="text-align: right;font-weight:bold;"><?php echo number_format($grandTotal, 2);?></td>
                                <?php } ?>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                    <?php if($summaryOnly != 'true'){
                     ?>
                        <td colspan="8"><label><?php echo $this->translate('* Include credit payments.')?></label></td>
                     
                     <?php
                        }
                        ?>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>
</div>



