<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th><?php echo $this->translate("Ref. NO"); ?></th>
                        <th><?php echo $this->translate("Supplier Code"); ?></th>
                        <th><?php echo $this->translate("Supplier Name"); ?></th>
                        <th><?php echo $this->translate("Address"); ?></th>
                        <th><?php echo $this->translate("Telephone"); ?></th>
                        <th><?php echo $this->translate("Total Purchases"); ?></th>
                        <!--<th><?php // echo $this->translate("Outstanding Balance");                         ?></th>-->
                    </tr>
                    <?php if (count($sL) == 0) { ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="6"><?php echo $this->translate('No related data found') ?></td>
                        </tr>

                        <?php
                    } else {
                        $i = 1;
                        foreach ($sL as $key => $data) {
                            $netPaymentVoucher = 0;
                            $netDebitNote = 0;
                            foreach ($data as $value) {
                                $totPaymentVoucher = $value['totPaymentVoucher'] ? $value['totPaymentVoucher'] : 0.00;
                                $netPaymentVoucher += $totPaymentVoucher;
                                $totDebitNote = $value['totDebitNote'] ? $value['totDebitNote'] : 0.00;
                                $netDebitNote += $totDebitNote;
                                $adrs = $value['supplierAddress'] ? $value['supplierAddress'] : '-';
                                $tNo = $value['supplierTelephoneNumber'] ? $value['supplierTelephoneNumber'] : '-';
                            }
                            echo '
                    <tr class="even_row">
                    <td style="text-align: left">' . $i . '</td>
                    <td style="text-align: left">' . $value['supplierCode'] . '</td>
                    <td style="text-align: left">' . $value['supplierTitle'] . ' ' . $value['supplierName'] . '</td>
                    <td style="text-align: left">' . $adrs . '</td>
                    <td style="text-align: left">' . $tNo . '</td>
                    <td style="text-align: right">' . number_format($netPaymentVoucher - $netDebitNote, 2) . '</td>

                    </tr>';
                            $i++;
                        }
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>



