<!--panel-->
<div class='panel panel-default margin_top margin_bottom panel_border'>

    <div class='panel-heading panel_heading_style'><!--panel_heading-->
        <h4 class="font_weight h1_no_margin report_heading"><?php echo $this->translate('Supplier Reports') ?></h4>
    </div>

    <div class="panel-body panel_body_style flex-container">

        <!--links-->
        <div class="col-lg-3 col-md-3 remove_left_padding remove_right_padding panel_links">
            <ul class="nav nav-pills nav-stacked data-tabs" data-tabs="tabs">
                <li id="supplierDetails" class="report_pills active"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Supplier Details') ?></a></li>
                <li id="supplierWiseItem" class="report_pills"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Supplier Wise Item') ?></a></li>
                <li id="supplierTransaction" class="report_pills"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Supplier All Transaction') ?></a></li>
                <li id="agedSupplierAnalysis" value="Aged Supplier Analysis" class="report_pills"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Supplier Aged Analysis') ?></a></li>
                <li id="supplierBalance" value="Supplier Balance" class="report_pills"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Supplier Credit and Outsatanding Balance') ?></a></li>
                <li id="supplierAndDocumentWiseItem" value="Supplier Balance" class="report_pills"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Supplier And Document Wise Item Details') ?></a></li>
            </ul>
        </div>

        <!--process_area-->
        <div class="col-lg-9 col-md-9 form-horizontal process_area">
            <div id="report_head">

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12 item-transfer-content">
                            <div class="_row_with_margin">
                                <div class="col-lg-6 col-md-6 col-sm-6 supplier-list">
                                    <div>
                                        <label class="" name="isAllSupplierslbl" id="isAllSupplierslbl">
                                            <input type="radio" class="check_box_mar_right isAllSuppliers" value="0" name="isAllSuppliers" id="customSupplierSelection" checked> 
                                            <?php echo $this->translate('Custom Supplier(s)') ?>
                                        </label>
                                        <div class="">
                                            <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="supplierLists" id="supplierLists" multiple="multiple" title="<?php echo $this->translate('Select Supplier(s)')?>" data-selected-text-format="count>3"></select>
                                        </div>
                                    </div>
                                </div>

                                <!--all Suppliers-->
                                <div class="col-lg-6 col-md-6 col-sm-6 supplier-list" id="isAllProductsCBox">
                                    <div>
                                        <label name="isAllSupplierslbl" id="isAllSupplierslbl">
                                            <input type="radio" class="isAllSuppliers" value="1" name="isAllSuppliers" id="allSuppliers"> 
                                            <?php echo $this->translate('All Suppliers');?>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--row-->
                    <br>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 xs-margin-bottom report_from_date hidden"><!--set from_date-->
                                <label class="control-label from_date_lbl"><?php echo $this->translate('From Date') ?></label>
                                <input type="text" class="span2 datepicker form-control pointer_cursor" style="background-color: white" id="fromDate" name="fromDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to set a From Date') ?>">
                        </div>
                        <div class="col-lg-4 col-md-4 xs-margin-bottom to set_to_date hidden "><!--set_to_date-->
                                <label class="control-label end_date_label hidden"><?php echo $this->translate('Date') ?></label>
                                <input type="text" class="span2 datepicker form-control pointer_cursor" style="background-color: white" id="toDate" name="toDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to set a To Date') ?>">
                        </div>
                    </div>
                    <div class="row advance_columns hidden">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 supplier_advance_details">
                            <input type="checkbox" name="AdvanceDetails" id="advRow" value="true"> <?php echo $this->translate('Advance Columns') ?><br>
                        </div>
                    </div>
                    <div class="row summary_columns hidden">
                        <br>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 supplier_all_summary_details">
                            <input type="checkbox" name="SummaryDetails" id="summaryRow" value="true"> <?php echo $this->translate('Summary Only') ?><br>
                        </div>
                    </div>
                    <br>
                    <div class="row document-radio hidden">
                        <div class="col-lg-4 product-content" id="pOWiseBox">
                            <label name="pOWiselbl" id="pOWiselbl">
                                <input type="radio" class="pOWise" value="1" name="pOWise" id="pOWise" checked>
                                <?php echo $this->translate('Purchase Order Wise') ?>
                            </label>
                        </div>
                        <div class="col-lg-4 product-content" id="grnWiseBox">
                            <label name="grnWiselbl" id="grnWiselbl">
                                <input type="radio" class="grnWise" value="1" name="grnWise" id="grnWise">
                                <?php echo $this->translate('GRN Wise') ?>
                            </label>
                        </div>
                        <div class="col-lg-4 product-content" id="pIWiseBox">
                            <label name="pIWiselbl" id="pIWiselbl">
                                <input type="radio" class="pIWise" value="1" name="pIWise" id="pIWise">
                                <?php echo $this->translate('Purchase Invoice Wise') ?>
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 btn-group btn_panel_height_high report_buttons">
                            <button class="btn btn-default" id="viewReport"><?php echo $this->translate('View Report') ?></button>
                            <button class="btn btn-default" id="generatePdf"><?php echo $this->translate('Generate Pdf') ?></button>
                            <button class="btn btn-default" id="csvReport"><?php echo $this->translate('CSV Report') ?></button>
                        </div>
                    </div>
                </div><!--form-group-->

            </div>
        </div><!--form_hori-->

    </div><!--panel_body-->
</div><!--panel-->

<iframe id="supplierReport" class="panel panel-default margin_top margin_bottom panel_border report-iframe"></iframe>


