@media print {
    .vehicle-service-tab-header {
        display: none
    }

    .status-button-div {
        display: none
    }

    #servicesTab {
        display: none
    }

    #historyTab {
        display: none
    }

    .remarksDiv {
        display: none
    }
}

.main-div {
    float: left;
    margin-bottom: 25px;
}

.vehicle-number {
    font-size: 50px;
    text-anchor: middle;
    fill: "white";
}

.sub-stat {
    margin: 10px;
    display: block;
    cursor: pointer;
    -moz-box-shadow: 3px 3px 5px 2px #ccc;
    -webkit-box-shadow: 3px 3px 5px 2px #ccc;
    box-shadow: 3px 3px 5px 2px #ccc;
}

.sub-stat:hover {
    background-color: #ededed;
}

.gradient {
    background-image:
        linear-gradient(red, #f06d06);
}

.tab-title {
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 10px;
    color: #454545;
    font-weight: bold;
}

.nav-tabs {
    border: none;
}

.nav-tabs>li.active {
    box-shadow: 0px 15px 10px -15px #111;
}

.nav-tabs>li.active>a {
    border: 0px solid #bbb !important;

}

.status-type-box {
    border-style: solid;
    border-radius: 25px;
    display: block;
    cursor: pointer;
    border-color: #454545;
    padding: 0;
    max-height: 100%;
    height: fit-content;
    max-width: 100%;
    width: 100%;
}

.status-type-box:hover {
    background-color: #ededed;
}

.status-type-title {
    color: #454545;
    text-align: center;
    margin-bottom: 5px;
    font-size: 73%;
    margin-top: 7%;
    margin-left: 4%;
    margin-right: 4%;
}

.status-type {
    color: #454545;
    text-align: center !important;
    font-size: 74%;
    display: block;
    margin-bottom: 10px;
}

.before-selecteding-type {
    color: #454545;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 110%;
    text-align: center !important;
}

.status-type-img {
    height: 31%;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hideDiv {
    display: none;
}

.status-line {
    border-color: #454545;
    margin-top: 6%;
    margin-bottom: 3%;
    margin-left: 25%;
}

.default-status-line {
    border-color: #454545;
    margin-top: 14%;
    margin-bottom: 13%;
    margin-left: 25%;
}

.transmission-fluid-status-line {
    border-color: #454545;
    margin-top: 1%;
    margin-bottom: 7%;
    margin-left: 25%;
}

.default-transmission-fluid-status-line {
    border-color: #454545;
    margin-top: 8%;
    margin-bottom: 13%;
    margin-left: 25%;
}

.tyre-pressure-img {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 15%;
    transform: rotate(180deg);
}

.tyre-pressure-img-div {
    padding-right: 0;
    padding-left: 0;
}

.double-status-box-hr {
    border-color: #454545;
    margin-top: 2%;
    margin-bottom: 2%;
}

.tyre-pressure-left {
    padding-left: 0;
    padding-right: 0;
}

.tyre-pressure-left-labels {
    margin-left: 7%;
    font-size: 80%;
}

.tyre-pressure-left-input {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 9%;
    height: 1.5em;
    width: 80%;
}

.tyre-pressure-right {
    padding-right: 0;
    margin-left: 0;
    padding-left: 0;
    vertical-align: middle;
}

.tyre-pressure-right-labels {
    margin-right: 1%;
    font-size: 80%;
}

.tyre-pressure-right-input {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 9%;
    height: 1.5em;
    width: 80%;
}

.status-type-box-outer-div {
    padding: 1%;
}

.status-type-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 3%;
}

.brake-pads-right-hr {
    border-color: #454545;
    margin-top: 22%;
    margin-bottom: 2%;
}

.sr-only {
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}

#save-button {
    display: block;
    cursor: pointer;
}

#save-remarks-button {
    display: block;
    cursor: pointer;
}

#remarks-button {
    display: block;
    cursor: pointer;
}

#back-button {
    display: block;
    cursor: pointer;
}

.history-box-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 3%;
    padding-bottom: 3%;
}

.history-box-outer-div {
    padding: 1%;
}

.history-box {
    border-style: solid;
    border-radius: 25px;
    display: block;
    border-color: #454545;
    padding: 2%;
    max-height: 100%;
    height: 100%;
}

.history-box-date {
    text-align: start;
}

.history-box-odm {
    text-align: end;
}

@media screen and (max-width: 992px) {
    .history-box-odm {
        text-align: center;
    }

    .history-box-date {
        text-align: center;
    }

    .history-box-detail {
        text-align: center;
    }
}

.border-card {
    background: #fff;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 2% 2%;
    cursor: pointer;
    border-radius: 15px !important;
    border: 1px solid #eaeaea;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.25s ease;
    background-color: #ededed;
}

.list-group-title {
    background: #fff;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 2% 2%;
    border: 0px;
}

.search-input {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1% solid #454545;
    margin-bottom: 10px;
    margin-top: 10px;
}

.border-card:hover {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #ededed;
}

.border-card.over {
    background: rgba(70, 222, 151, 0.15);
    padding-top: 24px;
    padding-bottom: 24px;
    border: 2px solid #47DE97;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0), 0 5px 10px 0 rgba(0, 0, 0, 0);
}

.border-card.over p {
    color: #47DE97 !important;
}

.content-wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.25s ease;
}

.label-group {
    white-space: nowrap;
    overflow: hidden;
}

.label-group.odm-reading {
    flex-shrink: 0;
    text-align: center;
}

.label-group p {
    /* margin: 0px;
    line-height: 21px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.label-group p.title {
    color: #323232;
    font-weight: 750;
}

.bottom-buttons-div {
    padding-top: 4%;
    padding-left: 0;
    padding-right: 0;
}

.odo-input {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 9%;
    margin-top: 16%;
    height: 1.5em;
    width: 70%;
}

.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none;
    /*hide original SELECT element:*/
}

.select-selected {
    background-color: #fff;
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #000 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #000 transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
    color: #000;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.vehicle-servive-tab-content {
    padding-left: 0;
    padding-right: 0;
}

.save-button-div {
    padding-left: 0;
}

.save-button-remarks-div {
    padding-left: 0;
}

.remarks-button-div {
    padding-right: 0;
}

.back-button-div {
    padding-right: 0;
}

.vehicle-service-tab-header {
    box-shadow: 3px 6px 5px 2px #ccc;
    padding-bottom: 1%;
    padding-left: 1%
}

.vehicle-service-content-inner-div {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.vehicle-service-content {
    padding-left: 0;
    padding-right: 0;
}

.right-div {
    box-shadow: 3px 3px 5px 2px #ccc;
    padding-left: 0;
    padding-right: 0;
}

.vehicle-service-tab-full-div {
    padding-left: 0;
    padding-right: 0;
}

svg#save-material-button {
    cursor: pointer;
}