.main-div {
  float: left;
  margin-bottom: 25px;
  padding-left: 0;
  padding-right: 0;
}

.list-group-title{
  background: #fff;
  margin-bottom: 1%;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 2% 2%;
  border: 0px;
}

.search-input{
  border-radius: 10px; 
  -moz-border-radius: 10px; 
  -webkit-border-radius: 10px; 
  border: 1% solid #454545;
  margin-bottom: 10px;
  margin-top: 10px;
}

.content-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.25s ease;
}

.label-group {
  white-space: nowrap;
  overflow: hidden;
}

.label-group.odm-reading {
  flex-shrink: 0;
  text-align: center;
}

.border-card {
  background: #fff;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 2% 2%;
  cursor: pointer;
  border-radius: 15px !important;
  border: 1px solid #eaeaea;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease;
  background-color: #ededed;
}

li.selected{
  background-color: #c4c2c2;
}

.border-card:hover {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #c4c2c2;
}

.border-card.over {
  background: rgba(70, 222, 151, 0.15);
  padding-top: 24px;
  padding-bottom: 24px;
  border: 2px solid #47DE97;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0), 0 5px 10px 0 rgba(0, 0, 0, 0);
}

.border-card.over p {
  color: #47DE97 !important;
}

.gradient {
  background-image:
    linear-gradient(
      red, #f06d06
    );
}

.tab-title {
  margin-right: 20px;
  margin-left: 20px;
  padding-bottom: 10px;
  color: #454545;
  font-weight: bold;
}

.nav-tabs {
  border: none;
}

.nav-tabs > li.active {
  box-shadow: 0px 15px 10px -15px #111;
}

.nav-tabs > li.active > a {
  border: 0px solid #bbb !important;

}

.hideDiv {
  display:none !important;
}

#remarks-button {
  display: block;
  cursor: pointer;
}

#service-button {
  display: block;
  cursor: pointer;
}
#back-button {
  display: block;
  cursor: pointer;
}

.bottom-buttons-div {
  padding-top: 4%;
  padding-left: 0;
  padding-right: 0;
}

.remarks-button-div {
  padding-right: 0;
}

.back-button-div {
  padding-right: 0;
}

.right-div {
  /*box-shadow: 3px 3px 5px 2px #ccc;*/
  padding-left: 0;
  padding-right: 0;
}

.content-div {
  padding-left: 0;
  padding-right: 0;
}

.status-type-box-outer-div {
  padding: 1%;
}

.status-type-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 3%;
}

.status-type-box {
  border-style: solid;
  border-radius: 25px;
  display: block;
  border-color: #c3bebe;
  padding: 0;
  max-height: 100%;
  height: 100%;
  max-width: 100%;
  width: 100%;
}

.status-type-title {
  color: #454545;
  text-align: center;
  margin: 4% 5% 0 5%;
  font-size: 93%;
}

.status-type-img {
  /*height: 40%;*/
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.status-type-img-long-title {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.default-status-line {
  border-color: #454545;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 25%;
 }

 .long-title-status-line {
  border-color: #454545;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 25%;
 }

 .status-type {
  color: #454545;
  text-align: center !important;
  font-size: 120%;
  display: block;
}

.tyre-pressure-img {
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 15%;
  transform:rotate(180deg);
}

.tyre-pressure-img-div {
  padding-right: 0;
  padding-left: 0;
  display: block;
  border-color: #454545;
  padding: 0;
  max-height: 100%;
  height: 100%;
  position: relative;
}

.double-status-box-hr {
  border-color: #454545;
  margin-top: 15%;
  margin-bottom: 2%;
}

.tyre-pressure-left {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}

.tyre-pressure-left-labels {
  /*margin-left: 15%;
  margin-right: 7%;*/
  font-size: 80%;
  text-align: right;
}

.tyre-pressure-right {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}

.tyre-pressure-right-labels {
  /*margin-right: 5%;*/
  /*margin-left: 10%;
  font-size: 80%;*/
  font-size: 80%;
  text-align: left;
}

.tyre-pressure-right-amount {
  text-align: left;
}

.tyre-pressure-left-amount {
  text-align: right;
}

.odo-val {
  color: #454545;
  text-align: center;
  margin-bottom: 17%;
  font-size: 150%;
  margin-top: 20%;
  margin-left: 5%;
  margin-right: 5%;
}

.title {
  font-weight: bold;
  color: #626262;
}

.brake-pads-right {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
  padding-top: 9%;
}

.history-item-img {
  width: 50%;
  display: block;
  margin: 15px auto;
}

.history-item-title {
  color: #454545;
  text-align: center;
  margin: 15% 5% 0 5%;
  font-size: 93%;
}

.clickable {
  display: block;
  cursor: pointer;
}

.clickable:hover {
  background-color: #ededed;
}

.history-box-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 3%;
  padding-bottom: 3%;
}

.history-box-outer-div {
  padding: 1%; 
}

.history-box {
  border-style: solid;
  border-radius: 25px;
  display: block;
  border-color: #454545;
  padding: 2%;
  max-height: 100%;
  height: 100%;
}

.history-box-date{
  text-align:start;
}

.history-box-odm{
  text-align:end;
}

@media screen and (max-width: 992px) {
  .history-box-odm {
    text-align: center;
  }
  .history-box-date {
    text-align: center;
  }
  .history-box-detail{
    text-align: center;
  }
}