<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Wizard</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,800,300,700' rel='stylesheet' type='text/css'>
         <!-- inject:css -->
        <link rel="stylesheet" href="/build/css/all.min-1614595924125.css">
        <!-- endinject -->

        <!-- inject:js -->
        <script src="/build/js/all.min-1614595924119.js"></script>
        <!-- endinject -->
        <?php
        echo $this->headLink(array(
                    'rel' => 'shortcut icon',
                    'type' => 'image/vnd.microsoft.icon',
                    'href' => $this->basePath() . '/img/favicon.ico')
                );
                // ->prependStylesheet($this->basePath() . '/assets/bootstrap/css/bootstrap-multiselect.css')
                // ->prependStylesheet($this->basePath() . '/assets/pnotify-1.2.0/jquery.pnotify.default.css')
                // ->prependStylesheet($this->basePath() . '/css/style.css')
                // ->prependStylesheet($this->basePath() . '/css/font-awesome.min.css')
                // ->prependStylesheet($this->basePath() . '/css/datepicker.css')
                // ->prependStylesheet($this->basePath() . '/assets/bootstrap-switch-3.0/build/css/bootstrap3/bootstrap-switch.min.css')
                // ->prependStylesheet($this->basePath() . '/assets/bootstrap-switch-master/static/stylesheets/bootstrap-switch.css')
                // ->prependStylesheet($this->basePath() . '/assets/bootstrap/css/bootstrap.min.css')
                // ->prependStylesheet($this->basePath() . '/css/style.css')
                // ->prependStylesheet($this->basePath() . '/css/bootstrap-select.css')
                // ->prependStylesheet($this->basePath() . '/assets/rateit/rateit.css');

        echo $this->headScript()->prependFile($this->basePath() . '/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                ->prependFile($this->basePath() . '/js/wizard/wizard.js');
                // ->prependFile($this->basePath() . '/js/common.js')
                // ->prependFile($this->basePath() . '/js/jcrop/jquery.Jcrop.min.js')
                // ->prependFile($this->basePath() . '/assets/pnotify-1.2.0/jquery.pnotify.min.js')
                // ->prependFile($this->basePath() . '/assets/pnotify-1.2.0/ezBiz_pnotify.js')
                // ->prependFile($this->basePath() . '/js/underscore-min.js')
                // ->prependFile($this->basePath() . '/js/raphael-2.1.0.min.js')
                // ->prependFile($this->basePath() . '/js/bootbox.js')
                // ->prependFile($this->basePath() . '/js/bootstrap-typeahead.js')
                // ->prependFile($this->basePath() . '/js/bootstrap-select.js')
                // ->prependFile($this->basePath() . '/assets/bootstrap/js/bootstrap.min.js')
                // ->prependFile($this->basePath() . '/js/jquery.1.9.min.js')
                // ->prependFile($this->basePath() . '/vars.js/messages')
        ?>


        <style>
            /*=====global_styles======*/
            body{
                font-family: "Open Sans","arial","Sans-serif";
            }
            *,p{
                margin: 0;
                padding: 0;
            }
            a:hover{
                text-decoration: none;
            }


            /*=========wizard_main_section_layout=========*/
            .inner_wrapper{
                margin: 0;		/*this style overwrite boostrap .row style default margin*/
                padding: 0;
            }
            .side_bar{
                position: fixed;
                height: 100%;
                width: 19%;
                background: #2d3a4b;
                padding: 0;
                display: block;
                z-index: 20;
            }
            .process_area{
                float: right;
                width: 81%;
                position: relative;
                padding: 0 40px 40px;
                position: absolute;
                height: 100%;
                background: #ffffff;
                right: 0;
                border-bottom: 75px solid #ffffff;
                overflow: auto;
                box-sizing: border-box;
            }
            .content{
                padding-top: 30px;
            }
            .footer{
                height: 60px;
                position: fixed;
                width: 100%;
                bottom: 0;
                left: 0;
                z-index: 10;
                background: #ffffff;
                box-sizing: padding-box;
                padding: 11px 40px 0 20%;
            }/*===========end_wizard_layout==============*/


            /*=======Section_heading=======*/
            .heading h2{
                margin: 0;
                font-size: 20px;
                font-weight: 700;
                color: #222222;
                line-height: 60px;
                border-bottom: 1px solid #cccccc;
            }
            .heading span{
                float: right;
                font-size: 18px;
                border: 1px solid #38475a;
                width: 30px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                margin-top: 26px;
                color: #38475a;
            }/*====section_heading=======*/

            /*============footer_buttons===========*/
            .next_btn,.skip_btn{
                background: #4387fd;
                border-radius: 2px;
                padding: 9px 50px;
                font-size: 14px;
                font-family: "Arial";
                margin-left: 10px;
                border: none;
                letter-spacing: 0.12em;
                color: #eeeeee;
                text-transform: uppercase;
            }
            .skip_btn{
                margin-left: 0;
                padding: 8px 50px;
                color: #333;
                background-color: #fff;
                border: 1px solid #aaaaaa;
            }
            .next_btn:hover,.next_btn:focus,.next_btn:active{
                background: #326dd2;
                outline: 1px solid #ffffff;
            }
            .skip_btn:hover,.skip_btn:focus,.skip_btn:active{
                background: transparent;
                border-color: #888888;
            }/*============End_footer_buttons========*/


            /*============sidebar===============*/
            .logo{
                height: 60px;
                background: #1b242f;
                text-align: center;
                position: relative;
            }
            /*            .logo span{
                            color: #9aabc1;
                            display: inline-block;
                            margin-left: 20px;
                        }*/
            .logo h1{
                margin: 0;
                font-size: 20px;
                display: inline-block;
                line-height: 60px;
                color: #eeeeee;
                font-family: "Open Sans";
                font-weight: 600;
                /*letter-spacing: 0.03em;*/
            }
            .side_bar ul{
                margin-left: 0;
            }
            .side_bar ul li{
                border-bottom: 1px solid #2F3B4D;
                position: relative;
            }
            .side_bar ul li a{
                font-size: 14px;
                width: 84%;
                height: 50px;
                display: inline-block;
                color: #9aabc1;
                background: #364354;
                /*display: block;*/
                position: relative;
                padding-left: 18px;
                line-height: 50px;
                float: right;
            }
            .side_bar ul li a:hover, .side_bar ul li a:active{
                background: #2F3B4D;
            }
            .side_bar ul li.disable a, .side_bar ul li.disable a:hover, .side_bar ul li.disable a:active{
                cursor: default;
                background: #364354;
            }
            .side_bar ul li i{
                display: inline-block;
                width: 16%;
                text-align: center;
                font-size: 15px;
                height: 50px;
                line-height: 50px;
                color: #9aabc1;
                background: #2F3B4D;
            }
            .side_bar ul li.active_bar a{
                background: #53a858;
                color: #eeeeee;
            }
            .side_bar ul li.active_bar i{
                background: #418c46;
                color: #cccccc;
            }
            .side_bar ul li.active_bar{
                border-bottom: none;
            }
            .side_bar ul li:last-child{
                border-bottom: none;
            }
            .side_bar ul li.disable:after{
                background: rgba(0,0,0,0.5);
            }
            .powerde_by_section{
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 40px;
                line-height: 40px;
                text-align: center;
                color: #6b7888;
                background: #1b242f;
                font-size: 13px;
            }/*====side_bar_end=====*/

            .margin_top_normal{
                margin-top: 0;
            }
            .add_padding{
                padding: 0 15px;
            }

            /*mobile_menu*/
            /*            .mobile_menu{
                            display: none;
                        }*/

            @media(max-width: 1170px){
                .side_bar{
                    width: 21%;
                }
                .process_area{
                    width: 79%;
                }
            }

            @media (max-width: 992px){
                .side_bar{
                    width: 25%;
                }
                .process_area{
                    width: 75%;
                }
            }

            @media(max-width: 768px){
                .side_bar{
                    width: 30%;
                }
                .process_area{
                    width: 70%;
                }
                .powerde_by_section{
                    display: none;
                }
                .logo{
                    position: relative;
                }
                .logo h1{
                    display: block;
                }
                .side_bar{
                    position: relative;
                    height: auto;
                    width: 100%;
                }
                .side_bar_wrapper{
                    display: none;
                }
                .mobile_menu{
                    position: absolute;
                    height: 16px;
                    width: 27px;
                    top: 22px;
                    right: 27px;
                }
                .mobile_menu:hover, .mobile_menu:focus{
                    cursor: pointer;
                }
                .mobile_menu i{
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: #eeeeee;
                }
                .mobile_menu i.top{
                    margin-bottom: 5px;
                }
                .mobile_menu i.middle{
                    margin-bottom: 5px;
                }
                .side_bar ul li i{
                    width: 10%;
                }
                .side_bar ul li a{
                    width: 90%;
                }
                .process_area{
                    width: 100%;
                    float: none;
                    border-bottom: none;
                    padding: 0 20px;
                    height: auto;
                }
                .footer{
                    height: auto;
                    position: relative;
                    width: auto;
                    padding: 0;
                    padding-top: 20px;
                    padding-bottom: 25px;
                }
            }

            #upload_form #image_div .jcrop-holder {
                margin: 0 auto;
            }
        </style>
    </head>

    <body>

        <div class="wrapper">
            <div class="row inner_wrapper">
                <div class="side_bar">
                    <div class="logo">
                        <h1>ezBiz</h1>
                        <div class="mobile_menu">
                            <i class="top"></i>
                            <i class="middle"></i>
                            <i class="bottom"></i>
                        </div>
                    </div>
                    <div class="side_bar_wrapper">
                        <ul>
                            <li <?php addActiveClass('company'); ?> id="1"><i class="fa fa-building-o"></i><a href="<?php echo $this->url('wizard', array('action' => 'company')); ?>"><?php echo $this->translate('Company Profile')?></a></li>
                            <li <?php addActiveClass('finish-setup'); ?> id="4" ><i class="fa fa-cog"></i><a href = "<?php echo $this->url('wizard', array('action' => 'finish-setup')); ?>"><?php echo $this->translate('Finish Setup')?></a></li>
                        </ul>
                    </div>
                    <div class = "powerde_by_section">
                        <p><?php echo $this->translate('Powered by thinkCube')?></p>
                    </div>
                </div><!--side_bar-->

                <div class="process_area">
                    <div id="wizard-content" class="margin_top_normal">
                        <div class="add_padding">
                            <div class="heading">
                                <h2><?php echo $this->header ?></h2>
                            </div>
                            <?php echo $this->content; ?>
                            <div class="footer text-right">
                                <!--<button class="btn btn-default skip_btn">Skip</button>-->
                                <button class="btn btn-primary next_btn"><?php echo $this->translate('Next')?></button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </body>
</html>
<?php

function addActiveClass($urlPath)
{
    //get current url
    $currentUrl = $_SERVER["REQUEST_URI"];
    //$filename is 1st string set from last without "/" by $currentUrl
    $filename = substr(strrchr($currentUrl, "/"), 1);
    if ($filename == $urlPath) {
        echo "class='active_bar'";
    }
}
?>