.uom-form-container h5.update, .uom-form-container .button-set.update{
    display: none;
}

.uom-form-container.update h5, .uom-form-container.update .button-set{
    display: none;
}

.uom-form-container.update h5.update, .uom-form-container.update .button-set.update{
    display: block;
}
.input-group-btn>.btn+.btn{
    /*margin-left: -5px;*/
}
form.uom-search button.reset{
    /*margin-left: -5px !important;*/
}

/**/

.category-form-container h5.update, .category-form-container .button-set.update{
    display: none;
}

.category-form-container.update h5, .category-form-container.update .button-set{
    display: none;
}

.category-form-container.update h5.update, .category-form-container.update .button-set.update{
    display: block;
}

form.category-search button.reset{
    /*margin-left: -5px !important;*/
}