table.uom-list{
    margin-bottom: 0px !important;
}

table.uom-list tr.sample{
    display: none;
}

table.uom-list tr.base a.delete{
    display: none;
}

.alert.uom-alert{
    font-size: 90%;
    padding: 10px;
}

.tax-table label{
    font-weight: normal;
}

.product-location-table small{
    font-weight: normal;
    font-size: 90%;
}

#showform, #showtax, #showdiscount, #profile_pic, #itemLocations,
#showControllProduct, #state,
#Prefix, #parentCategoryDiv, #taxDiscount, #imageAndController, #update, #defaultAccounts{
    display: none;
}

.panel-default.link{
    cursor: pointer;
}

.panel-default.link a{
    text-decoration: none;
}

.product-form{
    padding-top: 25px;
    /*background: #f9f9f9;*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -moz-border-top-left-radius: 0;
    -moz-border-top-right-radius: 0;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #F0F0F0;
}

#showTaxDiscount .glyphicon-chevron-up, #showImageAndController .glyphicon-chevron-up, #showItemDefaultAccount .glyphicon-chevron-up{
    display: none;
}

#showTaxDiscount.expanded .glyphicon-chevron-down, #showImageAndController.expanded .glyphicon-chevron-down, #showItemDefaultAccount.expanded .glyphicon-chevron-down{
    display: none;
}

#showTaxDiscount.expanded .glyphicon-chevron-up, #showImageAndController.expanded .glyphicon-chevron-up, #showItemDefaultAccount.expanded .glyphicon-chevron-up{
    display: block;
}

.location-product-table tr td{
    vertical-align: middle !important;
}

.product-edit-container.secondary{
    margin-top: -20px;
}

.product-edit-container .toggle_purpose  .glyphicon-chevron-up{
    display: none;
}

.product-edit-container.expanded .toggle_purpose  .glyphicon-chevron-up{
    display: block;
}

.product-edit-container.expanded .toggle_purpose  .glyphicon-chevron-down{
    display: none;
}

.product-edit-container .toggle_purpose{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.product-edit-container.expanded .toggle_purpose{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.product-edit-container .product-form{
    display: none;
}

.product-edit-container.expanded .product-form{
    display: block;
}

#product-list .btn-link.inline-btn{
    padding: 0px;
}

/**/

#productTable{
    display: none;
}

.uom-select.input-group-addon button, .uom-select.input-group-addon ul.dropdown-menu{
    display: none;
}

#productTable .transfer-table tbody tr.add-row.sample{
    display: none;
}

#productTable .transfer-table tbody tr button.add, #productTable .transfer-table tbody tr button.save{
    display: none;
}

#productTable .transfer-table tbody tr.add-row button.edit, #productTable .transfer-table tbody tr.edit-row button.edit{
    display: none;
}

#productTable .transfer-table tbody tr.add-row button.add{
    display: block;
}

#productTable .transfer-table tbody tr.edit-row button.save{
    display: block;
}


#productTable .transfer-table tbody tr input[readonly]{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #E0E0E0;
    box-shadow: none;
}

