<?php $this->headScript()->captureStart() ?>
var productStatusConfirmModal = '<?php echo $this->translate('Select a status from below or x (upper right) to exit ?'); ?>';
var changeStatus = '<?php echo $this->translate('Change Status') ?>';
var cancelled = '<?php echo $this->translate('Cancelled') ?>';
var clossed = '<?php echo $this->translate('Closed') ?>';
var openStatus = '<?php echo $this->translate('Open') ?>';
<?php $this->headScript()->captureEnd() ?>
<div class="table-responsive">
    <table class="table table-striped" id="poListTable">
        <thead>
            <tr>
                <th><?php echo $this->translate('PO No') ?></th>
                <th><?php echo $this->translate('Supplier Name') ?></th>
                <th><?php echo $this->translate('Supplier Reference') ?></th>
                <th class="text-center"><?php echo $this->translate('Status') ?></th>
                <th class="text-center" ><?php echo $this->translate('Location') ?></th>
                <th class="text-center"><?php echo $this->translate('Delivery Date') ?></th>
                <th class="text-right"><?php echo $this->translate('Total') ?></th>
                <th class="text-center"><?php echo $this->translate('View') ?></th>
                <th class="text-center"><?php echo $this->translate('Print View') ?></th>
                <th class="text-center"><?php echo $this->translate('Status') ?></th>
                <th class="text-center"><?php echo $this->translate('Edit') ?></th>
                <th class="text-center"><?php echo $this->translate('Related Documents') ?></th>
                <th class="text-center"><?php echo $this->translate('Attachments') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->poList as $key => $poL) {
                $po = (object) $poL;
                $state = ucfirst($this->statuses[$po->status]);
                $style = NULL;
                switch ($po->status) {
                    case "1":
                        $style = "label label-primary";
                        break;
                    case "2":
                        $style = "label label-default";
                        break;
                    case "3":
                        $style = "label label-success";
                        break;
                    case "4":
                        $style = "label label-warning";
                        break;
                    case "5":
                        $style = "label label-primary";
                        break;
                    case "6":
                        $state = 'Open';
                        $style = "label label-danger";
                        break;
                    case "13":
                        $style = "label label-danger";
                        break;
                    default :
                        $style = "label label-default";
                }
                ?>
                <tr>
                    <td> <?php echo $po->purchaseOrderCode; ?></td>
                    <td> <?php echo $po->supplierTitle . ' ' . $po->supplierName; ?></td>
                    <td class="text-left"> <?php echo $po->purchaseOrderSupplierReference; ?></td>
                    <td class="text-center"><span class="<?php echo $style; ?>"> <?php echo $state; ?></span></td>
                    <td class="text-center"> <?php echo $po->locationName; ?></td>
                    <td class="text-center"><?php echo $this->userDateFormatHelper($po->purchaseOrderExpDelDate, $this->dateFormat); ?></td>
                    <td class="text-right"><?php echo number_format($po->purchaseOrderTotal, 2); ?></td>
                    <?php 
                    if($po->status == 7){ //check if draft
                    ?>
                        <td class="text-center">
                            <!--this url route to the create action. but create is default action of this purchaseOrder route. that's why param1 pass as a action.-->
                           <a href="" style="color:#261e1e"><span class="poView fa fa-search-plus"></span></a>
                        </td>
                        <td class="text-center">
                        <i class="glyphicon glyphicon-eye-close"></i>
                            
                        </td>   
                        <td class="text-center">
                            <a href="" class="poDraftDelete" style="color:#c60000" data-id="<?php echo $po->purchaseOrderID; ?>"><i class="glyphicon glyphicon-trash"></i></a>
                            
                        </td>
                        <td class="text-center">
                             <!--this url route to the create action. but create is default action of this purchaseOrder route. that's why param1 pass as a action.-->
                             <a href="<?php echo $this->url('purchaseOrder', array('action' => $po->purchaseOrderID)); ?>"><span class="poEditByMrp glyphicon glyphicon-edit"></span></a>
                        </td>
                        <td class="text-center"></td>
                    <?php
                    }else if($po->purchaseOrderDraftFlag == 1 && $po->status == 5){
                    ?>
                        <td class="text-center"></td>
                        <td class="text-center"></td>   
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                    <?php
                    } else {
                    ?>
                        <td class="text-center">
                            <?php if ($po->status != 13) { ?>
                                <a href="<?php echo $this->url('purchaseOrder', array('action' => 'view', 'param1' => $po->purchaseOrderID)); ?>"><span class="poView fa fa-search-plus"></span></a>
                            <?php } ?>
                        </td>
                        <td class="text-center">
                             <?php if ($po->status != 13) { ?>
                                <span class="printViewPo link_color" style="cursor:pointer" data-href="<?php echo $this->url('purchaseOrder', array('action' => 'preview', 'param1' => $po->purchaseOrderID)); ?>"><span class="grnView glyphicon glyphicon-eye-open"></span></span>
                            <?php } ?>
                        </td>
                        <td class="text-center">
                            <?php
                            if($po->status != 4 && $po->status != 5 && $po->status != 13) {
                            ?>
                            <a href="" class="poChangeStatus" id="<?php echo $po->purchaseOrderID; ?>" data-status="<?php echo $this->statuses[$po->status]; ?>"><i class="fa fa-toggle-on"></i></a>
                            <?php
                            }
                            ?>
                        </td>

                        <?php 
                        if ($po->status != 4 && $po->status != 5 && $po->status != 13) {
                            ?>
                            <td class="text-center">
                                <a href="<?php echo $this->url('purchaseOrder', array('action' => 'edit','param1' => $po->purchaseOrderID)); ?>"><span class="poView glyphicon glyphicon-edit"></span></a>
                            </td>
                            <?php
                            } else { ?>
                            <td class="text-center"></td>
                            <?php
                            }
                            ?>                             

                            <td class="text-center">
                            <?php if ($po->status != 13) { ?>
                                <span id="<?php echo $po->purchaseOrderID; ?>" class="link_color po_related_docs" data-po-related-id="<?php echo $po->purchaseOrderID; ?>" style="cursor:pointer"><span class="grnView glyphicon glyphicon-link"></span></span>
                            <?php } ?>
                            </td>
                    <?php
                    }
                    ?>
                    <td class="text-center">
                        <?php if ($po->status != 13) { ?>
                            <span id="<?php echo $po->purchaseOrderID; ?>" class="link_color doc_attachments" data-po-related-id="<?php echo $po->purchaseOrderID; ?>" style="cursor:pointer"><span class="glyphicon glyphicon-paperclip"></span></span>
                        <?php } ?>
                    </td>

                
                    <?php
                }

                if (count($this->poList) == 0) {
                    ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div>
<?php
if (!isset($this->paginated)) {
    echo $this->paginationControl(
            $this->poList, 'sliding', array('partial/paginator.phtml', 'po'), array(
        'route' => 'purchaseOrder', 'action' => 'list'
            )
    );
}
?>