<div class="well clearfix well_custom_padding margin_top">
    <div class="col-lg-2 col-md-2">
        <label class="remove_weight"><?php echo $this->translate('Search PO') ?></label>
    </div>
    <div class="col-lg-4 col-md-3">
        <select id="poSearchSelector" class="selectpicker form-control col-lg-3">
            <option value="searchByPO"><?php echo $this->translate('By PO') ?></option>
            <option value="searchBySupplier"><?php echo $this->translate('By Supplier') ?></option>
        </select>
    </div>
    <div class="col-lg-4 col-md-5">
        <select id="poSearchBySupplier" class=" form-control col-lg-3 selectpicker" title="" data-live-search="true">
            <option value=""><?php echo $this->translate('Select Supplier') ?></option>
        </select>
        <select id="poSearchByPO" class=" form-control col-lg-3 selectpicker" title="" data-live-search="true">
            <option value=""><?php echo $this->translate('Select PO') ?></option>
        </select>
    </div>
    <div class="col-lg-2 col-md-2">
        <button type="button" class="btn btn-default btn-block" id="poSearchClear"><?php echo $this->translate("All POs"); ?></button>
    </div>
    <!--    <form class='po-search-form col-lg-10' method="post">
            <div class="input-group">
                <input type ="text" id ='poSearchBox' class="form-control" autocomplete="off" placeholder="<?php echo $this->translate('Enter PO No,part of PO No or supplier name') ?>"/>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default minus_margin"><?php echo $this->translate('Search'); ?><i class="glyphicon glyphicon-search"></i></button>
                    <button type='reset' class="btn btn-default poReset"><?php echo $this->translate('Cancel'); ?></button>
                </span>
            </div>
        </form>-->
</div>

