<?php
$form = $this->addDesignationForm;
$form->setAttribute('id', 'create-designation-form');
?>

<div class="category-form-container margin_top">
    <div class="well well_heading">
        <h5 class="font_weight add"><?php echo $this->translate('Add Designation') ?></h5>
        <h5 class="font_weight update hidden"><?php echo $this->translate('Update Designation') ?></h5>
    </div>

    <div class="well well_body">
        <?php
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formHidden($form->get('designationID'));
        ?>

        <div class="form-group">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Designation') ?><font color="red"> *</font></label>
                <div class="" id="desigName">
                    <?php echo $this->formRow($form->get('designationName')); ?>
                </div>
            </div>

            <!--cancel&update-->
            <div class="col-lg-4 update">
                <label class="control-label label_bottom_margin">&nbsp;</label>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary update hidden" id="update"><?php echo $this->translate('Update') ?></button>
                    <button type="reset" class="btn btn-default reset update hidden"><?php echo $this->translate('Cancel') ?></button>
                </div>
            </div>

            <!--reset&add_new-->
            <div class="col-lg-4">
                <label class="control-label label_bottom_margin">&nbsp;</label>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary add " id="add"><?php echo $this->translate('Add New') ?></button>
                    <button type="reset" class="btn btn-default add reset"><?php echo $this->translate('Reset') ?></button>
                </div>
            </div>
        </div><!--form_group-->

        <?php
        echo $this->form()->closeTag($form);
        ?>
    </div><!--well-->
</div><!--category_form_container-->

<div id="designationview"></div>

<!--search-->
<div class="well clearfix well_custom_padding margin_top ">
    <form class="designation-search" id="designation-search" method="post" action="">
        <div class="col-lg-3">
            <label class="remove_weight"><?php echo $this->translate('Search a Designation') ?></label>
        </div>
        <div class="col-lg-9 xs-search-field">
            <div class="input-group">
                <input type="text" class="search form-control" id ='designation-search-keyword' placeholder="<?php echo $this->translate('Enter Designation') ?>"/>
                <span class="input-group-btn">
                    <button class="btn btn-default search_btn_css" id="des-search" type="submit"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default reset" type="reset"><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </form>
</div>

<div id="designation-list" class="margin_top">
    <?php echo $this->partial('job-card/designations/list', array('designation' => $this->designation, 'paginated' => $this->paginated)); ?>
</div>