<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="70%"><?php echo $this->translate('Designation') ?></th>
                <th width="10%" class="text-center" ><?php echo $this->translate('Edit') ?></th>
                <th width="10%" class="text-center" ><?php echo $this->translate('Active') ?></th>
                <th width="10%" class="text-center" ><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->designation as $loo) {
                $loo = (object) $loo;
                ?>
                <tr data-designationid="<?php echo $loo->designationID; ?>">
                    <td class="desigName"><?php echo $loo->designationName ?></td>
                    <td class="text-center">
                        <a href="#" class="edit">
                            <span class="fa fa-pencil-square-o custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="#" class="status">
                            <span class="<?php echo ($loo->designationStatus == '1') ? 'fa fa-check-square-o' : 'fa fa-square-o '; ?> custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center" >
                        <a href="#" class="delete">
                            <span class="fa fa-trash-o custom_font_size"></span>
                        </a>
                    </td>
                </tr>
                <?php
            }
            if (count($this->designation) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div><!--table_responsive-->

<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->designation, 'sliding', array('partial/paginator.phtml', 'designation'), array(
        'route' => 'designations', 'action' => 'create'
            )
    );
}
?>
