<?php
$additional_params = (isset($this->param2)) ? ['param2' => $this->param2] : [];

if (empty($additional_params)) {
    if ($this->pageCount):
        ?>
        <div class="paginationHolder">
            <ul class="pagination">
                <input type="hidden" name="pagination_current" value="<?php echo $this->current; ?>" />
                <?php if (isset($this->previous)): ?>
                    <li><a href="<?php echo $this->url($this->route, array('action' => $this->action, 'param1' => $this->previous) + $additional_params); ?>">&laquo;</a></li>
                <?php else: ?>
                    <li><span class="disabled">&laquo;</span><li>
                    <?php endif; ?>
                    <?php foreach ($this->pagesInRange as $page): ?>
                        <?php if ($page != $this->current): ?>
                        <li>
                            <a href="<?php echo $this->url($this->route, array('action' => $this->action, 'param1' => $page) + $additional_params); ?>">
                                <?php echo $page; ?>
                            </a>
                        </li>
                    <?php else: ?>
                        <li><span class="disabled"><?php echo $page; ?><span></li>
                                <?php endif; ?>
                            <?php endforeach; ?>
                            <?php if (isset($this->next)): ?>
                                <li><a href="<?php echo $this->url($this->route, array('action' => $this->action, 'param1' => $this->next) + $additional_params); ?>">
                                        &raquo;
                                    </a><li>
                                <?php else: ?>
                                <li><span class="disabled">&raquo;</span></li>
                            <?php endif; ?>
                            </ul>
                            </div>
                        <?php endif; ?>

                        <?php
                    } else {
                        if ($this->pageCount):
                            ?>
                            <div class="paginationHolder">
                                <ul class="pagination">
                                    <input type="hidden" name="pagination_current" value="<?php echo $this->current; ?>" />
                                    <?php if (isset($this->previous)): ?>
                                        <li><a href="<?php echo $this->url($this->route, array('action' => $this->action, 'param1' => $this->param1, 'param2' => $this->previous)); ?>">&laquo;</a></li>
                                    <?php else: ?>
                                        <li><span class="disabled">&laquo;</span><li>
                                        <?php endif; ?>
                                        <?php foreach ($this->pagesInRange as $page): ?>
                                            <?php if ($page != $this->current): ?>
                                            <li>
                                                <a href="<?php echo $this->url($this->route, array('action' => $this->action, 'param1' => $this->param1, 'param2' => $page)); ?>">
                                                    <?php echo $page; ?>
                                                </a>
                                            </li>
                                        <?php else: ?>
                                            <li><span class="disabled"><?php echo $page; ?><span></li>
                                                    <?php endif; ?>
                                                <?php endforeach; ?>
                                                <?php if (isset($this->next)): ?>
                                                    <li><a href="<?php echo $this->url($this->route, array('action' => $this->action, 'param1' => $this->param1, 'param2' => $this->next)); ?>">
                                                            &raquo;
                                                        </a><li>
                                                    <?php else: ?>
                                                    <li><span class="disabled">&raquo;</span></li>
                                                    <?php endif; ?>
                                                </ul>
                                                </div>
                                            <?php endif; ?>
                                            <?php
                                        }
                                        ?>