<!--table-->
<div class="table table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('Participants Type Code') ?></th>
                <th><?php echo $this->translate('Participants Type Name') ?></th>
                <th class="text-center" ><?php echo $this->translate('Edit') ?></th>
                <th class="text-center" ><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->departments as $department) {
                $department = (object) $department;
                ?>
                <tr data-department-id="<?php echo $department->departmentID; ?>" data-department-status="<?php echo $department->departmentStatus; ?>" data-department-name="<?php echo $department->departmentName; ?>" data-department-code="<?php echo $department->departmentCode; ?>">
                    <td class="departmentCode"><?php echo $department->departmentCode; ?></td>
                    <td class="departmentName"><?php echo $department->departmentName; ?></td>
                    <td class="text-center">
                        <a href="#" class="edit department-action" data-action="edit">
                            <span class="fa fa-pencil-square-o custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="#" class="delete department-action" data-action="delete">
                            <span class="fa fa-trash-o custom_font_size"></span>
                        </a>
                    </td>
                </tr>
                <?php
            }
            if (count($this->departments) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div>
<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->departments, 'sliding', array('partial/paginator.phtml', 'participantType'), array(
        'route' => 'participantType', 'action' => 'create'
            )
    );
}
?>
