<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Ref. NO') ?></th>
                        <th><?php echo $this->translate('Base Location') ?></th>
                        <th><?php echo $this->translate('Transfer Location') ?></th>
                        <th><?php echo $this->translate('Transfer Date') ?></th>
                        <th><?php echo $this->translate('Transfer Code') ?></th>
                        <th><?php echo $this->translate('Item Code') ?></th>
                        <th><?php echo $this->translate('Item Name') ?></th>
                        <th><?php echo $this->translate('Quantity') ?></th>
                    </tr>
                    <?php if (count($iL) == 0) { ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="8"><?php echo $this->translate('No related data') ?></td>
                        </tr>

                        <?php
                    } else {
                        $i = 1;
                        foreach ($iL as $locID => $locData) {
                            if (array_filter($locData['locationIn'])) {
                                echo '<tr class = "even_row">
                            <td style = "text-align: left">' . $i . '</td>
                            <td style = "text-align: left">' . $locData['locToName'] . '</td>
                            <td style = "text-align: left"></td>
                            <td style = "text-align: left"></td>
                            <td style = "text-align: right"></td>
                            <td style = "text-align: left"></td>
                            <td style = "text-align: left"></td>
                            <td style = "text-align: right"></td
                            </tr>';
                                foreach ($locData['locationIn'] as $locTransferData) {
                                    if (is_array($locTransferData)) {
                                        foreach ($locTransferData as $transData) {
                                            foreach ($transData as $transID => $transferData) {
                                                $qty = $transferData['qty'] ? $transferData['qty'] : 0.00;
                                                $uomAbbr = $transferData['uomAbbr'] ? $transferData['uomAbbr'] : '';
                                                $tCD = $transferData['tCD'] ? $transferData['tCD'] : '-';
                                                echo '<tr class = "even_row">
                                                <td style = "text-align: left"></td>
                                                <td style = "text-align: left"></td>
                                                <td style = "text-align: left">' . $transferData['locFromName'] . '</td>
                                                <td style = "text-align: left">' . $transferData['transferDate'] . '</td>
                                                <td style = "text-align: left">' . $tCD . '</td>
                                                <td style = "text-align: left">' . $transferData['pCD'] . '</td>
                                                <td style = "text-align: left">' . $transferData['pName'] . '</td>
                                                <td style = "text-align: right">' . number_format($qty, 2) . ' ' . $uomAbbr . '</td
                                            </tr>';
                                            }
                                        }
                                        $i++;
                                    }
                                }
                            }
                        }
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>



