<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Ref. NO') ?></th>
                        <th><?php echo $this->translate('Item Code') ?></th>
                        <th><?php echo $this->translate('Item Name') ?></th>
                        <th><?php echo $this->translate('From Location') ?></th>
                        <th><?php echo $this->translate('To Location') ?></th>
                        <th><?php echo $this->translate('Transfer Date') ?></th>
                        <th><?php echo $this->translate('Transfer Code') ?></th>
                        <th><?php echo $this->translate('Quantity') ?></th>
                    </tr>
                    <?php if (count($iL) == 0) { ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="8"><?php echo $this->translate('No related data') ?></td>
                        </tr>

                        <?php
                    } else {
                        $i = 1;
                        foreach ($iL as $productValue) {
                            echo '<tr class = "even_row">
                            <td style = "text-align: left"><b>' . $i . '</b></td>
                            <td style = "text-align: left"><b>' . $productValue['pCD'] . '</b></td>
                            <td style = "text-align: left"><b>' . $productValue['pName'] . '</b></td>
                            <td style = "text-align: left"></td>
                            <td style = "text-align: right"></td>
                            <td style = "text-align: left"></td>
                            <td style = "text-align: left"></td>
                            <td style = "text-align: right"></td>
                            </tr>';
                            if (count($productValue['transfersDate']) > 0) {
                                foreach ($productValue['transfersDate'] as $key => $value) {
                                    $qty = $value['qty'] ? $value['qty'] : 0.00;
                                    $uomAbbr = $value['uomAbbr'] ? $value['uomAbbr'] : '';
                                    $tCD = $value['tCD'] ? $value['tCD'] : '-';
                                    echo '<tr class = "even_row">
                                    <td style = "text-align: left"></td>
                                    <td style = "text-align: left"></td>
                                    <td style = "text-align: left"></td>
                                    <td style = "text-align: left">' . $value['locFromName'] . '</td>
                                    <td style = "text-align: left">' . $value['locToName'] . '</td>
                                    <td style = "text-align: left">' . $value['transferDate'] . '</td>
                                    <td style = "text-align: left">' . $tCD . '</td>
                                    <td style = "text-align: right">' . number_format($qty, 2) . ' ' . $uomAbbr . '</td>
                                    </tr>';
                                }
                            }
                            echo '<tr class = "even_row">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style = "text-align: right"><b>Total Quantity</b></td>
                                <td style = "text-align: right"><b>' . number_format($productValue['totalQty'], 2) . ' ' . $uomAbbr . '</b></td>
                            </tr>';
                            $i++;
                        }
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>



