<!--panel-->
<div class='panel panel-default margin_top margin_bottom panel_border'>

    <div class='panel-heading panel_heading_style'><!--panel_heading-->
        <h4 class="font_weight h1_no_margin report_heading"><?php echo $this->translate('Item Transfer Reports') ?></h4>
    </div>

    <div class="panel-body panel_body_style flex-container">
        <!--links-->
        <div class="col-lg-3 col-md-3 remove_left_padding remove_right_padding panel_links">
            <ul class="nav nav-pills nav-stacked data-tabs min_height" data-tabs="tabs">
                <!-- <li id="itemTransfer" class="report_pills active"><a href="#" class="active_link" data-toggle="tab"><?php //echo $this->translate('Item Transfer') ?></a></li> -->
                <li id="itemWiseTransfer" class="report_pills active"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Item Wise Transfer') ?></a></li>
            </ul>
        </div>

        <!--process_area-->
        <div class="col-lg-9 col-md-9 form-horizontal process_area">
            <div id="report_head">

                <div class="form-group">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 item-transfer-content">
                        <div class="form-group">

                            <!-- from location -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 to set-from-location xs-margin-bottom">
                                <label class="control-label" style="display: block;"><?php echo $this->translate('From') ?></label>
                                <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="locationFrom" id="locationFrom" multiple="multiple">
                                    <?php
                                    foreach ($this->locList as $row):
                                        echo '<option value="' . $row->locationID . '">' . $row->locationName . '</option>';
                                    endforeach;
                                    ?>
                                </select>
                            </div>

                            <!-- to location -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 to set-to-location">
                                <label class="control-label" style="display: block;"><?php echo $this->translate('To') ?></label>
                                <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="locationTo" id="locationTo" multiple="multiple">
                                    <?php
                                    foreach ($this->locList as $row):
                                        echo '<option value="' . $row->locationID . '">' . $row->locationName . '</option>';
                                    endforeach;
                                    ?>
                                </select>
                            </div>

                            <!-- from date -->
                            <div id="from_date_div" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 to set-from-date xs-margin-bottom">
                                <label class="control-label from_date_lbl"><?php echo $this->translate('From Date') ?></label>
                                <input type="text" class="span2 datepicker form-control" id="fromDate" name="from_date" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to set a From Date') ?>">
                            </div>

                            <!-- to date -->
                            <div id="to_date_div"class="col-lg-6 col-md-6 col-sm-6 col-xs-12 to set-to-date">
                                <label class="control-label to_date_lbl"><?php echo $this->translate('To Date') ?></label>
                                <input type="text" class="span2 datepicker form-control" id="toDate" name="to_date" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to set a To Date') ?>">
                            </div>

                            <!-- custom products -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 to set-custom-products xs-margin-bottom">
                                <div>
                                    <label class="" name="isAllProductslbl" id="isAllProductslbl">
                                        <input type="radio" class="check_box_mar_right isAllProducts" value="0" name="isAllProducts" id="customProductSelection" checked> <?php echo $this->translate('Custom Items') ?>
                                    </label>
                                    <div class="">
                                        <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="product" id="product" multiple="multiple" title="<?php echo $this->translate('Select Product(s)') ?>" data-selected-text-format="count>3"></select>
                                    </div>
                                </div>
                            </div>

                            <!--all Products-->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 to set-all-products xs-margin-bottom" id="isAllProductsCBox">
                                <label name="isAllProductslbl" id="isAllProductslbl">
                                    <input type="radio" class="isAllProducts" value="1" name="isAllProducts" id="allProducts">
                                    <?php echo $this->translate('All Items') ?>
                                </label>
                            </div>
                        </div><!--form-group-->
                    </div><!--./col-->

                    <div class="row">
                        <div class="col-lg-12 btn-group btn_panel_height_high report_buttons">
                            <button class="btn btn-default col-lg-2" id="viewReport"><?php echo $this->translate('View Report') ?></button>
                            <button class="btn btn-default col-lg-2" id="generatePdf"><?php echo $this->translate('Generate Pdf') ?></button>
                            <button class="btn btn-default col-lg-2" id="csvReport"><?php echo $this->translate('Generate CSV') ?></button>
                        </div>
                    </div>
                </div><!--form-group-->

            </div>
        </div><!--form_hori-->

    </div><!--panel_body-->
</div><!--panel-->

<iframe id="itemTransferReport"  class="panel panel-default margin_top margin_bottom panel_border report-iframe"></iframe>

