<?php $this->headScript()->appendFile($this->basePath('js/expenses/transaction-edit.js')); ?>
<div class="row">
    <input type="hidden" id="reconciliationId" value="<?php echo $reconciliationData['reconciliationId'] ?>">
    <input type="hidden" id="reconciliationAmount" value="<?php echo $reconciliationData['reconciliationStatementBalance'] ?>">
    <div class="well clearfix well_custom_padding search_wrapper margin_top">
        <div class="col-lg-3 col-md-6">
            <b>Bank : </b><?php echo $reconciliationData['bankName']; ?>
        </div>
        <div class="col-lg-4 col-md-6">
            <b>Account : </b><?php echo $reconciliationData['accountName']." - ".$reconciliationData['accountNumber']; ?>
        </div>
        <div class="col-lg-2 col-md-6">
            <b>Period : </b><?php echo $reconciliationData['reconciliationStartDate']." - ".$reconciliationData['reconciliationEndDate']; ?>
        </div>
        <div class="col-lg-2 col-md-6">
        </div>
    </div>

    <div id="cheque-list" class="margin_top_normal"></div>

    <div id="acc-details-div" class="hidden">
        <div class="_row_with_margin">
            <div class="col-lg-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <p class="col-lg-5 control-label"><b><?php echo $this->translate('Total Account Balance') ?></b></p>
                        <div class="col-lg-7">
                            <input type="text" id="account-balance" class="form-control" disabled="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <p class="col-lg-5 control-label"><b><?php echo $this->translate('Comment');?></b></p>
                        <div class="col-lg-7">
                            <textarea id="reconciliation-comment" class="form-control" rows="4"></textarea>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-lg-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <p class="col-lg-6 control-label"><b><?php echo $this->translate('New Statement Balance');?></b></p>
                        <div class="col-lg-6">
                            <input type="text" id="new-statement-balance" class="form-control cal-input">
                        </div>
                    </div>
                    <div class="form-group hidden">
                        <p class="col-lg-6 control-label hidden"><b><?php echo $this->translate('Previous Statement Balance');?></b></p>
                        <div class="col-lg-6">
                            <input type="text" id="previous-statement-balance" class="form-control cal-input hidden" disabled="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <p class="col-lg-6 control-label text-right"><b><?php echo $this->translate('Reconciliation Balance')?></b></p>
                        <div class="col-lg-6">
                            <input type="text" id="reconciliation-balance"  class="form-control" disabled="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <p class="col-lg-6 control-label text-right"><b><?php echo $this->translate('Difference') ?></b></p>
                        <div class="col-lg-6">
                            <input type="text" id="balance-difference" class="form-control cal-input" disabled="true">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="_row_with_margin">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-lg-12">
                            <div class="btn_margin_top">
                                <button id="saveBtnDarft" class="btn btn-primary pull-right" type="button" style="margin-left: 10px;"><?php echo $this->translate('Save As Draft') ?></button>
                                <button id="saveBtn" class="btn btn-primary pull-right" type="button" data-toggle="modal" data-target="#reconciliationModal" ><?php echo $this->translate('Save') ?></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<!-- Cheque Reconciliation Confirm Modal -->
<div class="modal fade bs-example-modal-sm" id="reconciliationModal" tabindex="-1" role="dialog" aria-labelledby="accountDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="reconciliationModalLabel"><?php echo $this->translate('Cheque Reconciliation') ?></h4>
            </div>
            <div class="modal-body">
                <p><?php echo $this->translate('Are you sure you want to <b>Reconcile</b> selected cheques ?');?></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <?php echo $this->translate('Close');?>
                </button>
                <button type="button" class="btn btn-primary" id="btnConfirm">
                    <?php echo $this->translate('Confirm') ?>
                </button>
            </div>
        </div>
    </div>
</div>