<?php $this->headScript()->appendFile($this->basePath('js/expenses/reconciliation.js')); ?>
<div class="row">

    <div class="well clearfix well_custom_padding margin_top search_wrapper">
        <div class="col-lg-3 col-md-6">
            <select id="bank-select" class="form-control">
                <option value="">----- <?php echo $this->translate('Select Bank') ?> -----</option>
                <?php foreach ($banks as $bankId => $bankName) { ?>
                    <option value="<?php echo $bankId; ?>"><?php echo $bankName; ?></option>
                <?php } ?>
            </select>
        </div>
        <div class="col-lg-4 col-md-6">
            <select id="account-select" class="form-control">
                <option value="">----- <?php echo $this->translate('Select Account') ?> -----</option>
            </select>
        </div>
        <div class="col-lg-2 col-md-6">
            <input id="start-date" class="form-control datepicker" placeholder="<?php echo $this->translate('start date') ?>" disabled="true">
        </div>
        <div class="col-lg-2 col-md-6">
            <input id="end-date" class="form-control datepicker" placeholder="<?php echo $this->translate('end date') ?>" disabled="true">
        </div>
        <div class="col-lg-1 col-md-3">
            <button id="search-btn" class="btn btn-primary btn-block" disabled="true">
                <?php echo $this->translate('Go');?>
            </button>
        </div>
    </div>
    <div id="reconciliation-list" class="margin_top_normal">

    </div>
</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="reconciliationDeleteModal" tabindex="-1" role="dialog" aria-labelledby="reconciliationDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="reconciliationDeleteModalLabel">
                    <?php echo $this->translate('Cancel Reconciliation') ?>
                </h4>
            </div>
            <div class="modal-body reconciliationDeleteModalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <?php echo $this->translate('Close')?>
                </button>
                <button type="button" class="btn btn-danger" id="btnConfirm">
                    <?php echo $this->translate('Confirm')?>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="reconciliationUpdateModal" tabindex="-1" role="dialog" aria-labelledby="reconciliationUpdateModalLabel">
    <div class="modal-dialog modal-lg" style="width: 900px; height: 900px;">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="reconciliationUpdateModalLabel"> <?php $this->translate('Reconciliation') ?></h4>
            </div>
            <div class="modal-body">
                <div id="transaction-list">
                </div>
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="updateReconciliationBtn" disabled>
                    <?php echo $this->translate('Update');?>
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <?php echo $this->translate('Close')?>
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>