<script type="text/javascript">

    function printdiv(printpage)
    {

        var divContents = $("#" + printpage).html();
        var printWindow = window.open('', '', 'height=400,width=800');
        printWindow.document.write(divContents);
        printWindow.print();
        printWindow.close();
        return ture;

    }
</script>

<!--panel-->
<div class='panel panel-default margin_top margin_bottom panel_border'>

    <div class='panel-heading panel_heading_style'><!--panel_heading-->
        <h4 class="font_weight h1_no_margin report_heading"><?php echo $this->translate('Purchase Invoice Report') ?></h4>
    </div>

    <div class="panel-body panel_body_style flex-container">

        <!--links-->
        <div class="col-lg-3 col-md-3 remove_left_padding remove_right_padding panel_links">
            <ul class="nav nav-pills  nav-stacked data-tabs" data-tabs="tabs">
                <li id="payVoucherDetails" class="report_pills active"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Daily Purchase Invoice Report') ?></a></li>
                <li id="piWiseDebitNote" class="report_pills"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Purchase Invoice Wise Debit Note Report') ?></a></li>
            </ul>
        </div>

        <!--process_area-->
        <div class="col-lg-9 col-md-9 form-horizontal process_area">
            <div id="report_head">

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 xs-margin-bottom report_from_date"><!--set from_date-->
                            <label class="control-label from_date_lbl"><?php echo $this->translate('From Date') ?></label>
                            <input type="text" class="span2 datepicker form-control pointer_cursor" style="background-color: white" id="fromDate" name="fromDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to set a From Date') ?>">
                        </div>
                        <div class="col-lg-4 col-md-4 xs-margin-bottom to set_to_date"><!--set_to_date-->
                            <label class="control-label to_date_lbl"><?php echo $this->translate('To Date') ?></label>
                            <input type="text" class="span2 datepicker form-control pointer_cursor" style="background-color: white" id="toDate" name="toDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to set a To Date') ?>">
                        </div>
                        <div class="col-lg-4 col-md-4 xs-margin-bottom to" id = "location_div">
                            <label class="control-label" style="display: block;"><?php echo $this->translate('Location') ?></label>
                            <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="locationLists" id="locationLists" multiple="multiple" title="<?php echo $this->translate('Select Location(s)') ?>">
                                <?php
                                foreach ($this->locList as $row):
                                    echo '<option value="' . $row['locationID'] . '" >' . $row['locationCode'] . '-' . $row['locationName'] . '</option>';
                                endforeach;
                                ?>
                            </select>
                        </div>
                    </div><!--row-->
                    <br>
                    <div class="row hidden" id="pi_div">
                        <div class="col-lg-6 col-md-6 col-sm-6 product-content vlg-margin-bottom">
                            <div>
                                <label class="" name="isAllPIlbl" id="isAllPIlbl">
                                    <input type="radio" class="check_box_mar_right isAllPI" value="0" name="isAllPI" id="customPISelection" checked> <?php echo $this->translate('Custom PI') . '(s)'; ?>
                                </label>
                                <div class="">
                                    <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="piLists" id="piLists" multiple="multiple" title="<?php echo $this->translate('Select PI(s)') ?>" data-selected-text-format="count>3"></select>
                                </div>
                            </div>
                        </div>

                        <!--all PO-->
                        <div class="col-lg-6 col-md-6 col-sm-6 product-content vlg-margin-bottom" id="isAllProductsCBox">
                            <label name="isAllPIlbl" id="isAllPIlbl">
                                <input type="radio" class="isAllPI" value="1" name="isAllPI" id="allProducts"><?php echo $this->translate('All PIs'); ?>
                            </label>
                        </div>
                    </div><!--row-->

                    <div class="row">
                        <div class="col-lg-12 btn-group btn_panel_height_high report_buttons">
                            <button class="btn btn-default col-lg-2" id="viewReport"><?php echo $this->translate('View Report') ?></button>
                            <button class="btn btn-default col-lg-2" id="generatePdf"><?php echo $this->translate('Generate PDF') ?></button>
                            <button class="btn btn-default col-lg-2" id="csvReport"><?php echo $this->translate('Generate CSV') ?></button>
                        </div>
                    </div>
                </div><!--form-group-->

            </div><!--report_head-->
        </div><!--form_horizontal-->

    </div><!--panel_body-->
</div><!--panel-->

<iframe id="paymentVoucherReport" class="panel panel-default margin_top margin_bottom panel_border report-iframe"></iframe>
