<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>

            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Ref. NO') ?></th>
                        <th><?php echo $this->translate('Location') ?></th>
                        <th><?php echo $this->translate('Issue Date') ?></th>
                        <th><?php echo $this->translate('Supplier Name') ?></th>
                        <th><?php echo $this->translate('PVID') ?></th>
                        <th><?php echo $this->translate('Due Date') ?></th>
                        <th><?php echo $this->translate('Status') ?></th>
                        <th><?php echo $this->translate('Compound Tax(VAT)') ?></th>
                        <th><?php echo $this->translate('Normal Tax(NBT)') ?></th>
                        <th><?php echo $this->translate('Net Purchase') ?></th>
                        <th><?php echo $this->translate('Amount without Tax') ?></th>
                    </tr>
                    <?php if (count($dailyPayVoucherData) == 0) { ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="8 "><?php echo $this->translate('No related data') ?></td>
                        </tr>

                        <?php
                    } else {
                        $i = 1;
                        $grandTotal = 0;
                        foreach ($dailyPayVoucherData as $key => $data) {
                            if (!empty($data['lc'])) {
                                echo '
                                <tr class="even_row">
                                    <td style="text-align: left">' . $i . '</td>
                                    <td style="text-align: left">' . $data['locName'] . '</td>
                                    <td style="text-align: left"></td>
                                    <td style="text-align: left"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                </tr>';

                                foreach ($data['lc'] as $d) {
                                    // echo print_r($d);
                                    $netPurchase = floatval($d['Amount']) - floatval($d['debitNoteTotal']);
                                    $debitNoteTotalAmountWithoutTax = 0;
                                    $debitNoteTotalAmountWithoutTax = floatval($d['debitNoteTotal']) - (floatval($d['debitNoteNormalTaxAmount']) + floatval($d['debitNoteCompoundTaxAmount']));
                                    $totalWithoutTax = floatval($d['Amount']) - (floatval($d['normalTax']) + floatval($d['compoundTax'])) - $debitNoteTotalAmountWithoutTax;
                                    $nbt = 0;
                                    $nbt = $d['normalTax'] - $d['debitNoteNormalTaxAmount'];
                                    $vat = 0;
                                    $vat = $d['compoundTax'] - $d['debitNoteCompoundTaxAmount'];
                                    echo '
                                <tr class="even_row">
                                    <td style="text-align: left"></td>
                                    <td style="text-align: left"></td>
                                    <td style="text-align: left">' . $d['IssueDate'] . '</td>
                                    <td style="text-align: left">' . $d['SupplierName'] . '</td>
                                    <td style="text-align: left">' . $d['PVID'] . '</td>
                                    <td style="text-align: left">' . $d['Date'] . '</td>
                                    <td style="text-align: center">' . $d['Status'] . '</td>
                                    <td style="text-align: right">' . number_format($vat, 2) . '</td>
                                    <td style="text-align: right">' . number_format($nbt, 2) . '</td>
                                    <td style="text-align: right">' . number_format($netPurchase, 2) . '</td>
                                    <td style="text-align: right">' . number_format($totalWithoutTax, 2) . '</td>
                                </tr>';
                                
                                    $grandTotal += $totalWithoutTax;
                                }

                            }
                            $i++;
                        }
                        ?>
                        <tr>
                            <td style="text-align: right" colspan="10"><b><?php echo $this->translate('Total Purchase') ?></b></td>
                            <td style="text-align: right"><b><?php echo number_format($grandTotal, 2); ?></b></td>
                        </tr>
                <?php        
                    }
                    ?>
                </tbody>

            </table>

        </div>

    </div>
</div>



