<img src="/img/error.jpg"><H1><?php echo $this->translate('You do not have Privileges to Access this Page') ?></H1>
<H4><font color="blue">&copy; 2013 - 2013 by ThinkCube Systems Pvt. Ltd. All rights reserved.</font></H4>
