<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
<?php $this->headScript()->captureEnd() ?>

<?php $this->headScript()->appendFile($this->basePath('js/user/user.js')); ?>
<?php
$form = $this->form;
$form->setAttribute('id', 'create-user-form');
$form->prepare();
?>

<div id="user-create" class="margin_top">
    <?php echo $this->form()->openTag($form); ?>
    <div class="well well_heading">
        <h5 class="font_weight"><?php echo $this->translate("Create new user"); ?></h5>
    </div>

    <div class="well well_body">
        <div class="form-horizontal">

            <div class="form-group"><!--role-->
                <label class="control-label col-lg-3"><?php echo $this->translate("User Type"); ?><span class="mandatory_field"> *</span></label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($form->get('userTypeID')); ?>
                </div>
            </div>

            <div class="form-group"><!--name-->
                <label class="control-label col-lg-3"><?php echo $this->translate("Username"); ?><span class="mandatory_field"> *</span></label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($form->get('userUsername')); ?>
                </div>
            </div>

            <div class="form-group"><!--first_name-->
                <label class="control-label col-lg-3"><?php echo $this->translate("First name"); ?><span class="mandatory_field"> *</span></label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($form->get('userFirstName')); ?>
                </div>
            </div>

            <div class="form-group"><!--last_name-->
                <label class="control-label col-lg-3"><?php echo $this->translate("Last name"); ?><span class="mandatory_field"> *</span></label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($form->get('userLastName')); ?>
                </div>
            </div>

            <div class="form-group"><!--email-->
                <label class="control-label col-lg-3"><?php echo $this->translate("Email"); ?><span class="mandatory_field"> *</span></label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($form->get('userEmail1')); ?>
                </div>
            </div>

            <div class="form-group" id="role-div"><!--role-->
                <label class="control-label col-lg-3"><?php echo $this->translate("Role"); ?><span class="mandatory_field"> *</span></label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($form->get('roleID')); ?>
                </div>
            </div>

            <div class="hidden form-group"><!--license-->
                <label class="control-label col-lg-3"><?php echo $this->translate("User License"); ?></label>
                <div class="col-lg-7">
                    <?php
                    if (!$this->isEmptyLicense) {
                        echo $this->formRow($form->get('licenseID'));
                    } else {
                        ?>
                        <div class="alert alert-info uom-alert"><?php echo $this->translate('Note: You have no Licenses'); ?></div>
                    <?php }
                    ?>
                </div>
            </div>

            <div class="form-group"><!--password-->
                <label class="control-label col-lg-3"><?php echo $this->translate("Password"); ?><span class="mandatory_field"> *</span></label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($form->get('userPassword')); ?>
                </div>
            </div>

            <div class="form-group"><!--password-->
                <label class="control-label col-lg-3"><?php echo $this->translate("Retype Password"); ?><span class="mandatory_field"> *</span></label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($form->get('userPasswordC')); ?>
                </div>
            </div>

            <div class="_row_with_margin clearfix">
                <div class="col-lg-10 text-right clearfix margin_top_normal">
                    <?php echo $this->formRow($form->get('add-location-button')); ?>
                    <button id="userCreateBack" class="btn btn-default make-full-width" type="button"><?php echo $this->translate('Back'); ?></button>
                    <?php echo $this->formRow($form->get('reset-user-button')); ?>
                </div>
            </div>

        </div>
    </div><!--panel_body-->

    <?php echo $this->form()->closeTag(); ?>
</div>
<div id="user-create-location">

</div>