<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
<?php $this->headScript()->captureEnd() ?>
<?php $this->headScript()->appendFile($this->basePath('js/user/user.js')); ?>

<?php
$form = $this->form;
$form->setAttribute('id', 'create-user-form');
$form->setAttribute('class', 'form-horizontal');
$form->prepare();
echo $this->form()->openTag($form);
?>

<div class="well well_heading margin_top">
    <h5 class="font_weight"><?php echo $this->translate('Edit User'); ?></h5>
</div>

<div class="well well_body">

    <div class="form-horizontal">
        <div><?php echo $this->formRow($form->get('userID')); ?></div>

        <div class="form-group"><!--role-->
            <label class="control-label col-lg-3"><?php echo $this->translate("User Type"); ?><span class="mandatory_field"> *</span></label>
            <div class="col-lg-7">
                <?php echo $this->formRow($form->get('userTypeID')); ?>
            </div>
        </div>
        <div class="form-group"><!--user_name-->
            <label class="control-label col-lg-3 col-md-3 col-sm-3"><?php echo $this->translate('Username') ?></label>
            <div class="col-lg-7 col-md-9 col-sm-9">
                <span class="user_name"><?php echo $this->username; ?></span>
            </div>
        </div>

        <div class="form-group"><!--first_name-->
            <label class="control-label col-lg-3 col-md-3 col-sm-3"><?php echo $this->translate('First Name'); ?><span class="mandatory_field"> *</span></label>
            <div class="col-lg-7 col-md-9 col-sm-9">
                <?php echo $this->formRow($form->get('userFirstName')); ?>
            </div>
        </div>

        <div class="form-group"><!--last_name-->
            <label class="control-label col-lg-3 col-md-3 col-sm-3"><?php echo $this->translate('Last Name'); ?><span class="mandatory_field"> *</span></label>
            <div class="col-lg-7 col-md-9 col-sm-9">
                <?php echo $this->formRow($form->get('userLastName')); ?>
            </div>
        </div>

        <div class="form-group"><!--email-->
            <label class="control-label col-lg-3 col-md-3 col-sm-3"><?php echo $this->translate('Email'); ?><span class="mandatory_field"> *</span></label>
            <div class="col-lg-7 col-md-9 col-sm-9">
                <?php echo $this->formRow($form->get('userEmail1')); ?>
            </div>
        </div>

        <div class="form-group" id ="role-div"><!--role_id-->
            <label class="control-label col-lg-3 col-md-3 col-sm-3"><?php echo $this->translate('Role Id') ?><span class="mandatory_field"> *</span></label>
            <div class="col-lg-7 col-md-9 col-sm-9">
                <?php echo $this->formRow($form->get('roleID')); ?>
            </div>
        </div>

        <div class="form-group" id ="licen-div"><!--license-->
            <label class="control-label col-lg-3 col-md-3 col-sm-3"><?php echo $this->translate('User License') ?></label>
            <div class="col-lg-7 col-md-9 col-sm-9">
                <?php
                if (!$this->isEmptyLicense) {
                    echo $this->formRow($form->get('licenseID'));
                } else {
                    ?>
                    <div class="alert alert-info uom-alert"><?php echo $this->translate('Note: You have no Licenses'); ?></div>
                <?php }
                ?>
            </div>
        </div>

        <div class="form-group"><!--change_password-->
            <div class="col-lg-3 col-md-3 col-sm-3 user_edit_change_password">
                <label id="passwordChangeActivate" class="control-label password_show_button"><i id="psssword_icon" class="glyphicon glyphicon-plus-sign" style="display: inline-block; margin-right: 4px;"></i><?php echo $this->translate('Change Password') ?></label>
            </div>

            <div class="col-lg-7 col-md-9 col-sm-9">
                <div id="passwordChange">
                    <div class="form-group">
                        <label class="control-label col-lg-4"><?php echo $this->translate('Current Password') ?><span class="mandatory_field"> *</span></label>
                        <div class="col-lg-8">
                            <?php echo $this->formRow($form->get('userCurrentPassword')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-4"><?php echo $this->translate('New Password') ?><span class="mandatory_field"> *</span></label>
                        <div class="col-lg-8">
                            <?php echo $this->formRow($form->get('userPassword')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-lg-4"><?php echo $this->translate('Re-enter New Password') ?><span class="mandatory_field"> *</span></label>
                        <div class="col-lg-8">
                            <?php echo $this->formRow($form->get('passwordC')); ?>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--form_group-->
    </div><!--form-horizontal-->

    <!--button-->
    <div class="_row_with_margin clearfix">
        <div class="col-lg-10 text-right">
            <button id="userupdatebutton" class="btn btn-primary"><?php echo $this->translate('Update') ?></button>
            <button id='updateclose' class="btn btn-default make-full-width" type="button"><?php echo $this->translate('Back') ?></button>
            <button id='userUpdateReset' class="btn btn-default make-full-width xs-no-margin" type="reset"><?php echo $this->translate('Reset'); ?></button>
        </div>
    </div>

</div><!--panel-body-->




<?php
echo $this->form()->closeTag();
?>
