<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
<?php $this->headScript()->captureEnd() ?>

<?php $this->headScript()->appendFile($this->basePath('js/user/user.js')); ?>
<div id="create-user-form-div" class="modal fade" style="position: absolute"></div>
<?php
if (isset($this->userHeader)):
    echo $this->userHeader;
endif;
?>

<div>
    <h3 class="no_top_margin font_weight"><i class="fa fa-book icon_margin_right"></i><?php echo $this->translate('Audit Trail') ?></h3>
    <hr class="custom_hr">
</div>

<div id="user-list" class="margin_top">
    <div class="table table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-lg-1"><?php echo $this->translate('Username') ?></th>
                    <th class="col-lg-2"><?php echo $this->translate('Name') ?></th>
                    <th class="col-lg-3"><?php echo $this->translate('Action Performed') ?></th>
                    <th class="col-lg-1"><?php echo $this->translate('Section') ?></th>
                    <th class="col-lg-1"><?php echo $this->translate('Ref. ID') ?></th>
                    <th class="col-lg-2"><?php echo $this->translate('IP') ?></th>
                    <th class="col-lg-2"><?php echo $this->translate('Time') ?></th>
                </tr>
            </thead>
            <tbody>
                <?php
                foreach ($this->logs as $key => $log) {
                    ?>
                    <tr>
                        <td> <?php echo $log->userDetails->username; ?></td>
                        <td> <?php echo $log->userDetails->firstName . " " . $log->userDetails->lastName; ?></td>
                        <td> <?php echo $log->logTitle; ?></td>
                        <td> <?php echo $log->module; ?></td>
                        <td> <?php echo $log->refID; ?></td>
                        <td> <?php echo $log->ip; ?></td>
                        <td> <?php echo $log->timeStamp; ?></td>
                    </tr>
                <?php } ?>
            </tbody>
        </table>
    </div>
    <?php
    // add at the end of the file after the table
    echo $this->paginationControl(
            $this->allLogs, 'sliding', array('partial/paginator.phtml', 'user'), array('route' => 'user', 'action' => 'getAllLoggerDetails')
    );
    ?>
</div>


