
<div class="panel-group margin_top" id="accordionRoles">
    <?php
    $i = 0;
    foreach ($this->roleFeatureDeatails as $roleName => $roleFeature) {
        ?>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordionRoles" href="#collapse<?php echo $i; ?>">
                        <?php echo $roleName ?>
                    </a>
                    <?php if ($this->currentRoleName != $roleName && $roleName != "Super Admin") { ?>
                        <a  id="<?php echo $roleName ?>" class="glyphicon glyphicon-trash roleDelete btn btn-small"></a>
                        <?php
                    }
                    if ($roleName != "Super Admin") {
                        ?>
                        <a id="<?php echo $roleName ?>" class="glyphicon glyphicon-floppy-disk roleSave btn btn-small"></a>
                    <?php } ?>
                </h4>
            </div>
            <div id="collapse<?php echo $i; ?>" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="panel-group margin_bottom row" id="accordionModules">
                        <?php
                        foreach ($roleFeature as $key => $featureSet):
                            ?>
                            <div class="col-lg-8" style="margin-bottom: 10px;">
                                <div class="modulePanel panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionModules" href="<?php echo '#collapse' . $key . $i; ?>"><?php echo $key; ?></a>
                                            <?php if ($roleName != "Super Admin") { ?>
                                                <div class="pull-right"><small>Select All</small> <input type="checkbox" /></div>
                                            <?php } ?>
                                        </h4>
                                    </div>
                                    <div id="<?php echo 'collapse' . $key . $i; ?>" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <?php
                                            foreach ($featureSet as $key2 => $features):
                                                ?>
                                                <div class="">
                                                    <table style="width: 100%" class="table table-striped table-condensed">
                                                        <tr><th class="text-center" colspan="2"><?php echo $key2; ?></th></tr>
                                                        <tr>
                                                            <th class="col-md-8"><?php echo $this->translate("Feature Name"); ?></th>
                                                            <th class="col-md-4 text-center"><?php echo $this->translate("Enable"); ?></th>
                                                        </tr>
                                                        <?php
                                                        foreach ($features as $feature):
                                                            ?>
                                                            <tr>
                                                                <td><?php echo $feature['featureName']; ?></td>
                                                                <td class="text-center">
                                                                    <input id="<?php echo $feature['featureID']; ?>" type="checkbox" <?php
                                                                    if ($feature['roleFeatureEnabled'] == 1) {
                                                                        echo 'checked';
                                                                    }
                                                                    ?> class="featureCheckList"
                                                                           <?php
                                                                           if ($roleName == "Super Admin") {
                                                                               echo 'disabled';
                                                                           }
                                                                           ?>
                                                                           >
                                                                </td>
                                                            </tr>
                                                            <?php
                                                        endforeach;
                                                        ?>
                                                    </table>
                                                </div>
                                                <?php
                                            endforeach;
                                            ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <?php
                        endforeach;
                        ?>

                    </div>
                </div>
            </div>
        </div>
        <?php
        $i++;
    }
    ?>
</div>





