<?php $this->headScript()->appendFile($this->basePath('js/user/user.js')); ?>
<div class="margin_top">
    <?php
    if (isset($this->userHeader)):
        echo $this->userHeader;
    endif;
    ?>
</div>

<div id="user-list" class="margin_top_normal">
    <div class="table table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><?php echo $this->translate('Username'); ?></th>
                    <th><?php echo $this->translate('Name'); ?></th>
                    <th><?php echo $this->translate('Email'); ?></th>
                    <th class="text-center"><?php echo $this->translate('Location'); ?>
                        <a class="help_icon_js" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="top" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('SETTINGS_USER_VIEW_LOCATION') ?>">
                            <i class="fa fa-question-circle help_icon"></i>
                        </a>
                    </th>
                    <th class="text-center"><?php echo $this->translate('Edit'); ?></th>
                    <th class="text-center"><?php echo $this->translate('Status'); ?>
                        <a class="help_icon_js" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="top" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('SETTINGS_USER_VIEW_STATUS') ?>">
                            <i class="fa fa-question-circle help_icon"></i>
                        </a>
                    </th>
                    <th class="text-center"><?php echo $this->translate('Delete'); ?></th>
                </tr>
            </thead>

            <tbody>
                <?php
                foreach ($this->users as $key => $user) {
                    $user = (object) $user;
                    ?>
                    <tr>
                        <td> <?php echo $user->userUsername; ?></td>
                        <td> <?php
                            echo $user->userFirstName . " " . $user->userLastName;
                            ;
                            ?></td>
                        <td> <?php echo $user->userEmail1; ?></td>
                        <td class="text-center">
                            <a href="/user/editUserLocation/<?php echo $user->userID ?>"
                               id="user-location-<?php echo $user->userID ?>">
                                <span class="fa fa-map-marker custom_font_size_large"></span></a>

                        </td>
                        <td class="text-center">
                            <a href="/user/edit/<?php echo $user->userID ?>" id="user-edit-<?php echo $user->userID ?>">
                                <span class="fa fa-pencil-square-o custom_font_size"></span></a>
                        </td>
                        <td class="text-center">
                            <?php if ($_SESSION['ezBizUser']['userID'] != $user->userID) { ?>
                                <a href="<?php
                                echo $this->url($this->route, array('action' => 'userLocationEdit',
                                    'param1' => $user->userID));
                                ?>" id="user-status-<?php echo $user->userID ?>">
                                    <span class="<?php echo ($user->userActivated == '1') ? 'fa fa-check-square-o' : 'fa fa-square-o'; ?>"></span></a>
                            <?php } ?>
                        </td>
                        <td class="text-center">
                            <?php if ($_SESSION['ezBizUser']['userID'] != $user->userID) { ?>

                                <a href="<?php
                                echo $this->url($this->route, array('action' => 'delete',
                                    'param1' => $user->userID));
                                ?>" id="user-delete-<?php echo $user->userID ?>">
                                    <span class="fa fa-trash-o custom_font_size"></span></a>

                            <?php } ?>
                        </td>

                        <?php
                    }
                    if (count($this->users) == 0) {
                        ?>
                    <tr class="not_found">
                        <td colspan="7"><?php echo $this->translate('No results were found.'); ?></td>
                    </tr>
                    <?php
                }
                ?>


            </tbody>
        </table>
    </div>

    <?php
    // add at the end of the file after the table
    if (!isset($this->paginated)) {
        echo $this->paginationControl(
                $this->users, 'sliding', array('partial/paginator.phtml', 'user'), array(
            'route' => 'user'
                )
        );
    }
    ?>
</div>