<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!--favicon-->
        <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicons/apple/ezbiz-apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicons/apple/ezbiz-apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicons/apple/ezbiz-apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicons/apple/ezbiz-apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicons/apple/ezbiz-apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicons/apple/ezbiz-apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicons/apple/ezbiz-apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicons/apple/ezbiz-apple-touch-icon-152x152.png">
        <link rel="icon" type="image/png" href="/assets/img/favicons/ezbiz-favicon-196x196.png" sizes="196x196">
        <link rel="icon" type="image/png" href="/assets/img/favicons/ezbiz-favicon-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="/assets/img/favicons/ezbiz-favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/assets/img/favicons/ezbiz-favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/assets/img/favicons/ezbiz-favicon-32x32.png" sizes="32x32">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title>ezBiz - Login</title>

        <link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/auth.css">

        <script type="text/javascript" src="/js/jquery.1.9.min.js"></script>
        <script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/auth.js"></script>

        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body style="background-color: white; background-image: url('/assets/img/ezbiz_background.png'); background-repeat: no-repeat; background-position: right;background-size: 80%;">
        <div class="container">
            <div class="row">

                <div class="header">
                    <div class="align_center">
                        <div class="col-lg-12 remove_left_padding remove_right_padding">
                            <!-- <h1><img src="/assets/img/ezbiz_logo.png"></h1> -->
                        </div>
                    </div><!--col-->
                </div><!--header-->

                <div class="body">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <h1 style="text-align: center;"><img src="/assets/img/ezbiz_logo.png" style="width: 157px;position: relative;left: 20px;"></h1>
                        <form role="form" method="post" action="/user/login" id="appLoginForm">
                            <h3 class="heading" style="text-align: center;border-bottom: none;">Sign In</h3>

                            <div class="form_wrapper">
                                <!--add invalid_login class only if the login unsuccess-->
                                <?php if (isset($this->msg) && $this->msg != NULL && !isset($this->success)) { ?>
                                    <div id="logMsgPanel" class="invalid_login">
                                        <p id="logMsg"><?php echo $this->msg; ?></p>
                                    </div>
                                <?php } elseif (isset($this->msg) && $this->msg != NULL && isset($this->success)) { ?>
                                    <div id="logMsgPanel" class="invalid_login login_success">
                                        <p id="logMsg"><?php echo $this->msg; ?></p>
                                    </div>
                                <?php } ?>
                                <input id='returnTo' name="returnTo" type="hidden" value="<?php echo $this->returnTo ?>">
                                <div class="form-group">
                                    <input type="text" autofocus name="username" id="username" class="form-control authInput" placeholder="User Name" autocomplete="off" style="border-right: none;border-left: none;border-top: none;border-bottom: 0.5px solid #b7a6a6;">
                                </div>

                                <div class="form-group">
                                    <input type="password" name="password" id="password" class="form-control authInput" placeholder="Password" autocomplete="off" style="border-right: none;border-left: none;border-top: none;border-bottom: 0.5px solid #b7a6a6;">
                                </div>

                                <div class="form-group remove_margin_bottom">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <button id="userLoginBtn" type="submit" class="btn form-control" style="background-color: #187dfa; border-radius: 5px;"><?php echo $this->translate('Login') ?></button>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="text-align: end;">
                                            <div class="checkbox">
                                                <label style="color: #bbb0b0;"><input type="checkbox" name="rememberme" id="rememberme" value="true"><?php echo $this->translate('Remember me') ?></label>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                     <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 forget_pass">
                                            <span class="password_recover" data-toggle="tooltip" title="Request password reset link" style="text-align: left; color: #5897ef;"><?php echo $this->translate('Forgot Password') ?></span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4 ">
                                        </div>
                                    </div>
                                </div>
                            </div><!--form_wrapper-->
                        </form>

                        <form style="padding-top: 0" role="form" action="" id="forgotPasswordForm">
                            <div class="request_password">
                                <div id="forgotPassMsgPanel" class="reset_password hidden">
                                    <p id="forgotPassMsg"></p>
                                </div>
                                <div class="form-group">
                                    <input type="text" autofocus name="usernameForgot" id="usernameForgot" class="form-control authInput" placeholder="User Name" style="border-right: none;border-left: none;border-top: none;border-bottom: 0.5px solid #b7a6a6;">
                                </div>
                                <div class="form-group remove_margin_bottom">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <span class="back_btn"><?php echo $this->translate('Back to login') ?></span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <button type="submit" id="forgotPasswordSubmitButton" class="btn form-control" style="margin-top: 0; background-color: #187dfa; border-radius: 5px;"><?php echo $this->translate('Request') ?></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div><!--./col-->
                </div><!-- ./body -->

                <div class="footer">
                    <div class="col-lg-12">
                        <div class="align_center">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12 remove_left_padding">
                                    <p class="copyright"><?php echo $this->translate('The ONE APP you need to run your business.') ?> <a href="http://ezbizapp.com/" target="_blank">ezbizapp.com</a></p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12 remove_right_padding">
                                    <p class="text-right thinkcube"><span><?php echo $this->translate('Powered by') ?> </span><a href="http://thinkcube.com" target="_blank"><img src="/assets/img/thinkcube_logo.png"></a></p>
                                </div>
                            </div><!--row-->
                        </div>
                    </div><!--./col-->
                </div><!--footer-->

            </div><!--row-->
        </div><!--container-->

    </body>
    <style type="text/css">
        .authInput {
            border-right: none;
            border-left: none;
            border-top: none;
            border-bottom: 0.5px solid black;
        }
    </style>
</html>