<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
var noOfEmptyLicense = '<?php echo $this->noOfEmptyLicense ?>'
var noOfAssignedUser = '<?php echo $this->noOfAssignedUser ?>'
<?php $this->headScript()->captureEnd() ?>

<?php
$this->headLink()->prependStylesheet($this->basePath() . '/css/jquery-ui.css');
?>

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <style>
            ul.fixed_scroll,
            #licenses ol {
                height: 414px; /*fixed height for jquery scroll plugin*/
                padding: 20px 10px;
                border: 1px solid #ddd;
                border-top: none;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
            }
            #users h1, #licenses h1{
                font-size: 15px;
                font-weight: bold;
                margin: 0;
                padding: 0;
            }
            #licenses h1 span,
            #users h1 span {
                font-size: 14px;
                font-weight: normal;
                background: #ddd;
                border-radius: 3px;
                padding: 2px 10px;
            }
            #users h1 span label,
            #licenses h1 span label {
                margin: 0;
                font-weight: normal;
            }
            ul li{
                list-style: none;
            }

            /*licence_key_sec*/
            ul,ol{
                padding-left: 0;
            }
            ol li{
                list-style-position: inside;
                background: #fdd652;
                margin-bottom: 10px;
                padding: 9px 13px;
                color: #362D0E;
                border: 1px solid #fdd652;
                border-radius: 4px;
            }
            ol > li:hover{
                cursor: move;
                border-color: #D4B44A;
            }
            ol > li span{
                padding-left: 12px;
            }
            ol > li i{
                float: right;
                margin-top: 3px;
            }
            ol li > i{
                color: #786420;
            }/*end_licence_key_section*/

            /*------licen_drop_section------*/
            .licence_text_wrap h5{
                font-size: 13px;
                margin: 0;
                margin: 10px 0 3px;
                color: #1C1C1C;
            }
            .licence_text_wrap h6{
                font-size: 13px;
                color: #666666;
                margin: 0;
            }
            .ui-widget-content{
                border: 1px dashed #aaaaaa;
                margin-bottom: 10px;
                min-height: 52px;
                position: relative;
            }
            .ui-widget-content span{
                color: #111111;
                padding-left: 15px;
                line-height: 52px;
            }
            .ui-widget-content .deleteUserLicese {
                color: #e74c3c;
                border: none;
                background: transparent;
                float: right;
            }
            .ui-widget-content .deleteUserLicese i {
                font-size: 20px;
                margin-top: 15px;
                margin-right: 7px;
            }
            /*end_licen_drop_sec*/

            .panel h3, .panel-body h5{
                margin: 0;
                font-size: 17px;
                font-weight: normal;
            }
            .panel-body h5{
                font-size: 19px;
                padding: 8px 0;
            }
            /*customize_panel_heading*/
            .user_licens .panel{
                border-color: #999999;
            }
            .user_licens .panel-heading{
                background-color: #aaaaaa;
                border-color: #aaaaaa;
            }
            .mCSB_inside > .mCSB_container{
                margin-right: 10px;
            }
            .drag-size{
                width: 250px;
                font-size: 12px;
                padding: 10px;
                list-style: none;
                z-index: 1000;
            }
            @media(max-width: 992px){
                #licenses ol{
                    height: auto;
                }
            }
            @media( max-width: 768px ){
                .licence_text_wrap {
                    margin-bottom: 5px;
                }
                .drop_box {
                    padding-left: 0px;
                }
            }
        </style>

        <script>
            $(function () {
                $(window).load(function () {
                    $(".fixed_scroll").mCustomScrollbar({
                        theme: "dark-2"
                    });
                });
            });
        </script>
    </head>

    <body>
        <div class="margin_top">
            <div class="user_licens">

                <div class="_row_with_margin clearfix">
                    <!--licenses-->
                    <div class="col-lg-5 col-md-6">
                        <div id="licenses">
                            <div class="licenses-header clearfix">
                                <h1 class="no_top_margin pull-left">
                                    <?php echo $this->translate('Available Licenses') ?>
                                    <span>
                                        <label id="noOfEmptyLicense"><?php echo $this->noOfEmptyLicense ?></label>
                                        / <?php echo $this->totalNoOfLicense ?>
                                    </span>
                                </h1>
                                <button id="smartUpdateUserLicense" class="btn btn-default pull-right">
                                    <?php echo $this->translate('Assign all licenses') ?>&nbsp;
                                    <a class="help_icon_js" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="top" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('SETTINGS_USER_MANAGELICENSE_ASSIGN_LICENSE') ?>">
                                        <i class="fa fa-question-circle help_icon"></i>
                                    </a>
                                </button>
                            </div>

                            <ol>
                                <div id="note" class="hide alert alert-warning text-center">
                                    <?php echo $this->translate('You have assigned all licenses to users.') ?>
                                </div>
                                <?php foreach ($this->licenselist as $licenseID => $licenseName) { ?>
                                    <li>
                                        <span data-id="<?php echo $licenseID; ?>"><?php echo $licenseName ?></span>
                                        <i class="fa fa-arrows"></i>
                                    </li>
                                <?php }
                                ?>
                            </ol>
                        </div>
                    </div><!--./col-->

                    <!--users-->
                    <div class="col-lg-7 col-md-6">
                        <div id="users">
                            <!--user_licenses_header-->
                            <div class="user-header clearfix">
                                <h1 class="no_top_margin pull-left">
                                    Users
                                    <span>
                                        <label id="noOfAssignedUser"><?php echo $this->noOfAssignedUser ?></label>
                                        / <?php echo $this->noOfUser ?>
                                    </span>
                                </h1>
                                <button id="smartDeleteUserLicense" class="btn btn-default pull-right">
                                    <?php echo $this->translate('Remove all licenses') ?>&nbsp;&nbsp;
                                    <a class="help_icon_js pull-right" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="top" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('SETTINGS_USER_MANAGELICENSE_REMOVE_LICENSE') ?>">
                                        <i class="fa fa-question-circle help_icon"></i>
                                    </a>
                                </button>
                            </div>

                            <ul class="fixed_scroll">
                                <?php foreach ($this->userlist as $userID => $user) { ?>
                                    <li>
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-2 remove_left_padding">
                                                <div class="licence_text_wrap">
                                                    <h5 class="header" ><?php echo ucfirst($user['username']) ?></h5>
                                                    <h6><?php echo strtolower($user['firstname']) ?></h6>
                                                </div>
                                            </div><!--./col-->

                                            <div class="col-lg-9 col-md-9 col-sm-10 drop_box">
                                                <div class="ui-widget-content licence-position" id="<?php echo $userID ?>">
                                                    <div class="remove_left_padding remove_right_padding">
                                                        <div class="hide licence_wrapper licen_drop">
                                                            <?php if (isset($user['licenseID'])) { ?>
                                                                <span data-id=<?php echo $user['licenseID'] ?>><?php echo $user['licenseName'] ?></span>
                                                            <?php } ?>
                                                            <button class="hide deleteUserLicese"><i class="fa fa-trash-o"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!--./col-->
                                        </div><!--row-->
                                    </li>
                                <?php }
                                ?>
                            </ul>
                        </div>
                    </div><!--./col-->
                </div><!--row-->

            </div><!--margin_top-->
        </div>

    </body>
</html>