<!--<div class="well well_heading">
    <h5>ezBiz Payment</h5>
</div>-->
<div class="well well_body" style="border: 1px solid #eee; border-radius: 4px;">
    <div class="text-center" style="padding-top: 20px; padding-bottom: 20px;">
        <i class="fa fa-cog" style="font-size: 80px; color: #ccc; margin-bottom: 15px;"></i>
        <p style="font-size: 16px; " class="margin_bottom"><?php echo $this->translate('Access your licenses and payment information through the ezBiz Licene Management Portal') ?></p>
        <a class="btn btn-primary" target="_blank" href="<?php echo $this->portalUrl; ?>"><?php echo $this->translate('ezBiz Licene Management Portal') ?></a>
    </div>
</div>
