<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title><?php echo $this->translate('ezBiz - Reset Password') ?></title>

        <link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/auth.css">

        <script type="text/javascript" src="/js/jquery.1.9.min.js"></script>
        <script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/auth.js"></script>

        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="container">
            <div class="row">

                <div class="header">
                    <div class="align_center">
                        <div class="col-lg-12 remove_left_padding remove_right_padding">
                            <h1>ezBiz</h1>
                        </div>
                    </div><!--col-->
                </div><!--header-->

                <div class="body">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 align_center">
                        <form role="form" method="post">
                            <?php if (isset($this->msg) && $this->msg != NULL) { ?>
                                <div id="passMsgPanel" class="invalid_login">
                                    <p id="passMsg"><?php echo $this->msg; ?></p>
                                </div>
                            <?php } ?>
                            <h3 class="heading"><?php echo $this->translate('Reset Password') ?></h3>
                            <div class="form-group">
                                <label for="reset_password"><?php echo $this->translate('Username') ?></label>
                                <input type="text" tabindex="1" name="username" id="username" class="form-control" disabled="true" value="<?php echo $this->username; ?>"autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label for="reset_password"><?php echo $this->translate('New password') ?></label>
                                <input type="password" tabindex="1" name="password" id="password" class="form-control" placeholder="password" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label for="con_new_pass"><?php echo $this->translate('Confirm new password') ?></label>
                                <input type="password" name="passwordConfirm" tabindex="2" id="passwordConfirm" class="form-control" placeholder="retype password" autocomplete="off">
                            </div>
                            <input type="hidden" id="token" name="token" value="<?php echo $this->token; ?>">
                            <input type="hidden" id="userID" name="userID" value="<?php echo $this->userID; ?>">
                            <div class="form-group remove_margin_bottom">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-5">
                                        <span class="sign_in_btn"><a href="<?php echo $this->url('user', array('controller' => 'user', 'action' => 'login')) ?>" tabindex="4"><?php echo $this->translate('Signin') ?></a></span>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-7">
                                        <button type="submit" tabindex="3" class="btn form-control"><?php echo $this->translate('Change Password') ?></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div><!--./col-->
                </div><!-- ./body -->

                <div class="footer">
                    <div class="col-lg-12">
                        <div class="align_center">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12 remove_left_padding">
                                    <p class="copyright"><?php echo $this->translate('Online tool for professional invoices.') ?> <a href="http://ezbiz.lk" target="_blank">ezbiz.lk</a></p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12 remove_right_padding">
                                    <p class="text-right thinkcube"><span><?php echo $this->translate('Powered by') ?> </span><a href="http://thinkcube.com" target="_blank"><img src="img/thinkcube-logo.png"></a></p>
                                </div>
                            </div><!--row-->
                        </div>
                    </div><!--./col-->
                </div><!--footer-->

            </div><!--row-->
        </div><!--container-->

    </body>
</html>