<div class="row" id='user-header'>
    <div class="row">
        <div class="add_margin create_user">
            <div class="col-lg-9 col-md-9 col-sm-9">
                <p><?php echo $this->translate('View Users') ?></p>
            </div>
            <?php 
            if ($this->hideUserCreate == false) {
            ?>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <a id="create-user" href="/user/create" class="btn btn-default btn-block"><?php echo $this->translate('Create User') ?></a>
                </div>
            <?php 
            }
            ?>
        </div>
    </div>

    <div class="well clearfix mobile-search well_custom_padding margin_top">
        <div class="col-lg-2 col-md-3 col-sm-12">
            <label class="remove_weight"><?php echo $this->translate('Search Users') ?></label>
        </div>
        <div class="search_field col-lg-10 col-md-9 col-sm-12">
            <form class='user-search-form' method="post">
                <div class="input-group">
                    <input type="text" id ='searchuser' class="form-control" placeholder="<?php echo $this->translate('Enter User\'s Name ,part of the Name or email') ?>"/>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default minus_margin"><?php echo $this->translate('Search') ?></button>
                        <button type="reset" class="btn btn-default reset"><?php echo $this->translate('cancel') ?></button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div><!--row-->
