<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
<?php $this->headScript()->captureEnd() ?>
<?php $this->headScript()->appendFile($this->basePath('js/user/user.js')); ?>

<div class="row">
    <?php
    $form = $this->form;
    $form->setAttribute('id', 'user-profile-edit-form');
    $form->setAttribute('class', 'form-horizontal');
    $form->prepare();
    echo $this->form()->openTag($form);
    ?>

    <h3 class="no_top_margin font_weight margin_bottom"><?php echo $this->translate('Edit User Profile'); ?></h3>

    <div><?php echo $this->formRow($form->get('userID')); ?></div>
    <div class="hidden"><?php echo $this->formRow($form->get('roleID')); ?></div>
    <div class="hidden"><?php echo $this->formRow($form->get('userTypeID')); ?></div>

    <div class="well">
        <div class="form-group"><!--user_name-->
            <label class="control-label col-lg-3 col-md-3 col-sm-3"><?php echo $this->translate('Username') ?></label>
            <div class="col-lg-6 col-md-9 col-sm-9">
                <span class="user_name"><?php echo $this->username; ?></span>
            </div>
        </div>

        <div class="form-group"><!--first_name-->
            <label class="control-label col-lg-3 col-md-3 col-sm-3"><?php echo $this->translate('First Name'); ?></label>
            <div class="col-lg-6 col-md-9 col-sm-9">
                <?php echo $this->formRow($form->get('userFirstName')); ?>
            </div>
        </div>

        <div class="form-group"><!--last_name-->
            <label class="control-label col-lg-3 col-md-3 col-sm-3"><?php echo $this->translate('Last Name'); ?></label>
            <div class="col-lg-6 col-md-9 col-sm-9">
                <?php echo $this->formRow($form->get('userLastName')); ?>
            </div>
        </div>

        <div class="form-group"><!--email-->
            <label class="control-label col-lg-3 col-md-3 col-sm-3"><?php echo $this->translate('Email'); ?></label>
            <div class="col-lg-6 col-md-9 col-sm-9">
                <?php echo $this->formRow($form->get('userEmail1')); ?>
            </div>
        </div>

        <div class="form-group"><!--language-->
            <label class="control-label col-lg-3 col-md-3 col-sm-3"><?php echo $this->translate('Default Language'); ?></label>
            <div class="col-lg-6 col-md-9 col-sm-9">
                <?php echo $this->formRow($form->get('defaultLanguage')); ?>
            </div>
        </div>

        <div class="form-group label_no_btt_mar margin_top"><!--change_password-->
            <div class="col-lg-3 col-md-3 col-sm-9 col-sm-offset-3 col-md-offset-0 col-lg-offset-0 user_edit_change_password">
                <label id="passwordChangeActivate" class="control-label password_show_button"><i id="psssword_icon" class="glyphicon glyphicon-plus-sign" style="display: inline-block; margin-right: 4px;"></i><?php echo $this->translate('Change Password') ?></label>
            </div>

            <div class="col-lg-9 col-md-9 col-sm-9 col-lg-offset-0 col-md-offset-0 col-sm-offset-3">
                <div id="passwordChange">
                    <div class="form-group">
                        <label class="control-label col-lg-3 col-md-5"><?php echo $this->translate('Current Password') ?></label>
                        <div class="col-lg-5 col-md-7">
                            <?php echo $this->formRow($form->get('currentPassword')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-lg-3 col-md-5"><?php echo $this->translate('New Password') ?></label>
                        <div class="col-lg-5 col-md-7">
                            <?php echo $this->formRow($form->get('userPassword')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-lg-3 col-md-5"><?php echo $this->translate('Re-enter New Password') ?></label>
                        <div class="col-lg-5 col-md-7">
                            <?php echo $this->formRow($form->get('passwordC')); ?>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--form_group-->

    </div><!--well-->

    <div class="form-group"><!--button-->
        <div class="col-lg-6 col-lg-offset-3 text-right">
            <button id="update-user-button" class="btn btn-primary"><?php echo $this->translate('Update') ?></button>
<!--            <button id='updateclose' class="btn btn-danger"><?php echo $this->translate('Close') ?></button>-->
        </div>
    </div>

    <?php
    echo $this->form()->closeTag();
    ?>

</div>