<div class="col-lg-12 widget w2" id="block_cashflw">
    <h2 style="padding-bottom: 45px">
        <?php echo $this->translate('Bank accounts') . ' ' ?>
    </h2>
    <?php if(count($this->bankList) > 0) {?>
    <div id="bankAc" style="overflow-y: auto; margin-bottom: 20px;">
        <ul class="list-group" style="padding-top: 33px">
            <?php foreach ($this->bankList as $value) { 
                if ($value->accountBalance >= 0) {
                    
                ?>
                <li class="list-group-item"><?php echo $value->accountName; ?> <span class="badge badge-success"><?php echo $this->companyCurrencySymbol." ".number_format($value->accountBalance,2); ?></span></li>
                
            <?php } else { ?>

                <li class="list-group-item"><?php echo $value->accountName; ?> <span class="badge badge-danger"><?php echo $this->companyCurrencySymbol." ".number_format($value->accountBalance,2); ?></span></li>

            <?php
            }

            } ?>
            <a href="#">
            </a>
            
          </ul>
    </div>
    <?php } else { ?>
    <div id="bankAcNoData" style="height: 350px;"><b><?php echo $this->translate('NO BANK ACCOUNTS'); ?></b></div>
    <?php } ?>
</div>

<style type="text/css">
    #bankAcNoData {
        text-align: center;
        vertical-align: middle;
        line-height: 300px;
    }
    .badge-success {
        background-color: green;
    }
    .badge-danger {
        background-color: red;
    }
</style>