<div class="col-lg-12 widget w7" id="block_cashoutflwgraph">
    <h2>
        <?php echo $this->translate('Expense'); ?>
    </h2>
    <h3>
        <a href="lastYear" class="expenseGraph"><?php echo $this->translate('Last Year') ?></a>
        <a href="year" class="selected expenseGraph"><?php echo $this->translate('Yearly') ?></a>
        <a href="month" class="expenseGraph"><?php echo $this->translate('Monthly') ?></a>
        <a href="day" class="expenseGraph"><?php echo $this->translate('Daily') ?></a>
    </h3>
    <div id="expense" class="hidden"></div>
    <div id="expenseDetail" class="hidden">
        <a><span id="expenseHome" class="pointer fa fa-home custom_font_size"></span></a>
        <div id="expenseDetailgraph"></div>
    </div>
    <div id="expenseNoData" class="hidden" style="height: 400px;"><b><?php echo $this->translate('NO DATA'); ?></b></div>
</div>
<style>
    #expense {
        max-width: 380px;
        margin: 35px auto;
    }
    #expenseDetail {
        max-width: 380px;
        margin: 35px auto;
    }
    .apexcharts-legend-text tspan:nth-child(1) {
        font-weight: lighter;
        fill: #999;
    }

    .apexcharts-legend-text tspan:nth-child(3) {
        font-weight: bold;
    }
    #expenseNoData {
        text-align: center;
        vertical-align: middle;
        line-height: 300px;
    }
</style>