<div class="col-lg-12 widget" id="block_revenue">
    <h2>
        <?php echo $this->translate('Income'); ?>
    </h2>
    <h3>
        <a href="lastYear" class="incomeGraph"><?php echo $this->translate('Last Year') ?></a>
        <a href="year" class="selected incomeGraph"><?php echo $this->translate('Yearly') ?></a>
        <a href="month" class="incomeGraph"><?php echo $this->translate('Monthly') ?></a>
        <a href="day" class="incomeGraph"><?php echo $this->translate('Daily') ?></a>
    </h3>
    <div id="income" class ="hidden"></div>
    <div id="incomeDetail" class="hidden">
        <a><span id="incomeHome" class="pointer fa fa-home custom_font_size"></span></a>
        <div id="incomeDetailgraph"></div>
    </div>
    <div id="incomeNoData" class ="hidden" style="height: 400px;"><b><?php echo $this->translate('NO DATA'); ?></b></div>
</div>
<style>
    #income {
        max-width: 380px;
        margin: 35px auto;
    }
    #incomeDetail {
        max-width: 380px;
        margin: 35px auto;
    }
    .apexcharts-legend-text tspan:nth-child(1) {
        font-weight: lighter;
        fill: #999;
    }

    .apexcharts-legend-text tspan:nth-child(3) {
        font-weight: bold;
    }

    #incomeNoData {
        text-align: center;
        vertical-align: middle;
        line-height: 300px; 
    }
</style>