<div class="col-lg-12 widget" id="block_revenue">
    <h2>
        <?php echo $this->translate('Cash Flow'); ?>
    </h2>
    <h3>
	    <a href="year" class="selected cashFlow"><?php echo $this->translate('Yearly') ?></a>
	    <a href="month" class="cashFlow"><?php echo $this->translate('Monthly') ?></a>
	    <a href="day" class="cashFlow"><?php echo $this->translate('Daily') ?></a>
    </h3>
    <div id="cashFlow">
    </div>
</div>