<div class="col-lg-12 widget w7" id="block_cashoutflwgraph">
    <h2>
        <?php echo $this->translate('Sales'); ?>
        <a href="year" class="selected cashOutFlowGraph"><?php echo $this->translate('Yearly') ?></a>
        <a href="month" class="cashOutFlowGraph"><?php echo $this->translate('Monthly') ?></a>
        <a href="day" class="cashOutFlowGraph"><?php echo $this->translate('Daily') ?></a>
    </h2>
    <div id="sales"></div>
</div>
<style>
    #sales {
        max-width: 650px;
        margin: 35px auto;
    }
</style>