<?php
$form = $this->form;
$form->setAttribute('id', 'create-job-type-form');
?>

<div class="job-type-form-container margin_top">
    <div class="well well_heading">
        <h5 class="font_weight addTitle"><?php echo $this->translate('Add Job Type') ?></h5>
        <h5 class="font_weight updateTitle hidden"><?php echo $this->translate('Update Job Type') ?></h5>
    </div>

    <div class="well well_body">
        <?php
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formHidden($form->get('jobTypeID'));
        ?>

        <div class="form-group">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Job Type Code') ?><font color="red"> *</font></label>
                <div class="">
                    <?php echo $this->formRow($form->get('jobTypeCode')); ?>
                </div>
            </div>

            <div class="col-lg-5 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Job Type Name') ?><font color="red"> *</font></label>
                <div class="">
                    <?php echo $this->formRow($form->get('jobTypeName')); ?>
                </div>
            </div>

            <!--Cancel&update-->
            <div class="col-lg-3 updateDiv hidden">
                <label class="control-label label_bottom_margin">&nbsp;</label>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary update job_type_update_btn"><?php echo $this->translate('Update') ?></button>
                    <button type="button" class="btn btn-default cancel"><?php echo $this->translate('Cancel') ?></button>
                </div>
            </div>

            <!--reset&add_new-->
            <div class="col-lg-3 addDiv">
                <label class="control-label label_bottom_margin">&nbsp;</label>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary add"><?php echo $this->translate('Add New') ?></button>
                    <button type="reset" class="btn btn-default reset"><?php echo $this->translate('Reset') ?></button>
                </div>
            </div>
        </div><!--form_group-->

        <?php
        echo $this->form()->closeTag($form);
        ?>

    </div><!--well-->
</div><!--job_type_form_container-->

<!--search-->
<div class="well clearfix well_custom_padding margin_top jobType">
    <form class="job-type-search" id="job-type-search" method="post" action="">
        <div class="col-lg-3">
            <label class="remove_weight"><?php echo $this->translate('Search a Job Type') ?></label>
        </div>
        <div class="col-lg-9 xs-search-field">
            <div class=" input-group">
                <input type="text" class="search form-control" id ='job-type-search-keyword' placeholder="<?php echo $this->translate('Enter Job Type') ?>"/>
                <span class="input-group-btn">
                    <button class="btn btn-default search_btn_css" type="submit"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default reset" type="reset"><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </form>
</div>

<!--paginate job type list add in here-->
<div id="job-type-list" class="margin_top">
    <?php echo $this->partial('job-card/job-type/list', array('jobTypeList' => $this->jobTypeList, 'paginated' => $this->paginated)); ?>
</div>