<?php
$form = $this->form;
$form->setAttribute('id', 'create-project-type-form');
?>

<div class="project-type-form-container margin_top">

    <div class="well well_heading">
        <h5 class="font_weight addTitle"><?php echo $this->translate('Add Project Type') ?></h5>
        <h5 class="font_weight updateTitle hidden"><?php echo $this->translate('Update Project Type') ?></h5>
    </div>

    <div class="well well_body remove_padding_bottom">

        <?php
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formHidden($form->get('projectTypeID'));
        ?>

        <div class="form-group">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Project Type Code') ?><font color="red"> *</font></label>
                <div class="">
                    <?php echo $this->formRow($form->get('projectTypeCode')); ?>
                </div>
            </div>

            <div class="col-lg-5 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Project Type Name') ?><font color="red"> *</font></label>
                <div class="">
                    <?php echo $this->formRow($form->get('projectTypeName')); ?>
                </div>
            </div>

            <!--cancel&update-->
            <div class="col-lg-3 updateDiv hidden">
                <label class="control-label label_bottom_margin">&nbsp;</label>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary update project_type_update_btn"><?php echo $this->translate('Update') ?></button>
                    <button type="button" class="btn btn-default cancel"><?php echo $this->translate('Cancel') ?></button>
                </div>
            </div>

            <!--reset&add_new-->
            <div class="col-lg-3 addDiv">
                <label class="control-label label_bottom_margin">&nbsp;</label>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary add"><?php echo $this->translate('Add New') ?></button>
                    <button type="reset" class="btn btn-default reset"><?php echo $this->translate('Reset') ?></button>
                </div>
            </div>
        </div><!--form_group-->

        <?php
        echo $this->form()->closeTag($form);
        ?>

    </div><!--well-->
</div><!--project_type_form_container-->

<!--search-->
<div class="well clearfix well_custom_padding margin_top projectType">
    <form class="project-type-search" id="project-type-search" method="post" action="">
        <div class="col-lg-3">
            <label class="remove_weight"><?php echo $this->translate('Search a Project Type') ?></label>
        </div>
        <div class="col-lg-9 xs-search-field">
            <div class="input-group">
                <input type="text" class="search form-control" id ='project-type-search-keyword' placeholder="<?php echo $this->translate('Enter Project Type') ?>"/>
                <span class="input-group-btn">
                    <button class="btn btn-default search_btn_css" type="submit"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default reset" type="reset"><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </form>
</div>

<!--paginate project type list add in here-->
<div id="project-type-list" class="margin_top">
    <?php echo $this->partial('job-card/project-type/list', array('projectTypeList' => $this->projectTypeList, 'paginated' => $this->paginated)); ?>
</div>