<div class="project-type-form-container margin_top">
    <div class="EmployeeBody">   
        <div class="well well_heading">
            <h5 class="font_weight addTitle"><?php echo $this->translate('Add Participants') ?></h5>
            <h5 class="font_weight updateTitle hidden"><?php echo $this->translate('Update Participants') ?></h5>
        </div>
        <div class="well well_body">
            <div class="form-horizontal">
                <div class="_row_with_margin clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-3 xs-margin-bottom">
                        <label for="employeeCode" class="_remove_bold"><?php echo $this->translate('Participants Code') ?><span class="_required">*</span></label>
                        <input type="text" placeholder="<?php echo $this->translate('Eg: PART001') ?>" autofocus="true" class="form-control" id="employeeCode">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 xs-margin-bottom">
                        <label for="employeeFirstName" class="_remove_bold"><?php echo $this->translate('First Name') ?></label>
                        <input type="text" placeholder="<?php echo $this->translate('Eg: Saman') ?>" autofocus="true" class="form-control" id="employeeFirstName">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 xs-margin-bottom">
                        <label for="employeeLastName" class="_remove_bold"><?php echo $this->translate('Last Name') ?></label>
                        <input type="text" placeholder="<?php echo $this->translate('Eg: Fernando') ?>" autofocus="true" class="form-control" id="employeeLastName">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 xs-margin-bottom">
                        <label for="employeeMobileNumber" class="_remove_bold"><?php echo $this->translate('Mobile Number') ?></label>
                        <input type="text" placeholder="<?php echo $this->translate('Eg: 07X XXX XXXX') ?>" autofocus="true" class="form-control" id="employeeMobileNumber">
                    </div>
                </div>
                <label>&nbsp;</label>
                <div class="_row_with_margin clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-3 xs-margin-bottom">
                        <label for="employeeAddress" class="_remove_bold"><?php echo $this->translate('Address') ?></label>
                        <input type="text" autofocus="true" class="form-control" id="employeeAddress">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 xs-margin-bottom">
                        <label for="employeeIdentityReference" class="_remove_bold"><?php echo $this->translate('NIC') ?><span class="_required">*</span></label>
                        <input type="text" autofocus="true" class="form-control" id="employeeIdentityReference">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 xs-margin-bottom">
                        <label for="employeeDepartment" class="_remove_bold"><?php echo $this->translate('Participants Type') ?><span class="_required">*</span></label>
                        <select class='form-control selectpicker' multiple data-actions-box="false" data-live-search="false" name="employeeDept" id="employeeDepartment" title="Select Participants Type" data-selected-text-format="count>3" data-size="5">
                            <option value="0" disabled="true"><?php echo $this->translate('Select Participants Type') ?></option>
                            <?php
                            foreach ($this->departments as $department):
                                $department = (object) $department;
                                echo '<option value="' . $department->departmentID . '">' . $department->departmentCode.' - '. $department->departmentName . '</option>';
                            endforeach;
                            ?>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 xs-margin-bottom">
                        <label for="employeeDesignation" class="_remove_bold"><?php echo $this->translate('Participants Sub Type') ?><span class="_required">*</span></label>
                        <select class='form-control selectpicker' multiple data-actions-box="false" data-live-search="false" name="employeeDesig" id="employeeDesignation" title="Select Participants Sub Type" data-selected-text-format="count>3" data-size="5">
                            <option value="0" disabled="true"><?php echo $this->translate('Select Participants Sub Type') ?></option>
                            <?php
                            foreach ($this->designations as $designation):
                                $designation = (object) $designation;
                                echo '<option value="' . $designation->designationID . '">'.$designation->designationCode .' - '. $designation->designationName. '</option>';
                            endforeach;
                            ?>
                        </select>
                    </div>
                </div>
                <div class="_row_with_margin clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-3 xs-margin-bottom">
                        <label for="employeeEmail" class="_remove_bold"><?php echo $this->translate('Email') ?></label>
                        <input type="email" placeholder="<?php echo $this->translate('Eg: abc@gmail.com') ?>" autofocus="true" class="form-control" id="employeeEmail">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 xs-margin-bottom">
                        <label for="employeeEmail" class="_remove_bold"><?php echo $this->translate('Date of birth') ?></label>
                        <input type="text" class="datepicker form-control pointer_cursor" style="background-color: white" readonly="true"  id="employeeDOB" data-standard-format="yyyy-mm-dd" placeholder="<?php echo $this->translate("Click to Set a Date"); ?>">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 xs-margin-bottom">
                        <label for="employeeEmail" class="_remove_bold"><?php echo $this->translate('Gender') ?></label><br>
                        <input type="radio" name="gender" value="male"> Male
                        <input type="radio" name="gender" value="female"> Female
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 xs-margin-bottom">
                        <label for="employeeEmail" class="_remove_bold"><?php echo $this->translate('Attachemnts') ?></label>
                        <input type="file" class="createPoDiv" name="files[]" id="documentFiles" multiple>
                        <input type="file" name="files[]" id="editDocumentFiles" multiple class="updatePoDiv hidden" style="border-color: white">
                    </div>
                </div>
                <label>&nbsp;</label>
                <div class="_row_with_margin clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-3 xs-margin-bottom">
                        <label for="employeeEmail" class="_remove_bold"><?php echo $this->translate('View Attachments') ?></label>
                        <button class="btn btn-default form-control" type="button" id='viewUploadedFiles'><i class="glyphicon glyphicon-eye-open"></i></button>
                    </div>
                </div>
                <label>&nbsp;</label>
                <div class="_row_with_margin clearfix">
                    <!--Reset&Add-->
                    <div class="col-lg-12 addDiv">
                        <div class="text-right">
                            <button type="button" class="btn btn-primary update" id="btnAdd"><?php echo $this->translate('Add New') ?></button>
                            <button type="button" class="btn btn-default" id="btnReset"><?php echo $this->translate('Reset') ?></button>
                        </div>
                    </div>

                    <!--cancel&Update-->
                    <div class="col-lg-12 updateDiv hidden">
                        <div class="text-right">
                            <button type="button" class="btn btn-primary update" id="btnUpdate"><?php echo $this->translate('Update') ?></button>
                            <button type="button" class="btn btn-default" id="btnCancel"><?php echo $this->translate('Cancel') ?></button>
                        </div>
                    </div>
                </div>
            </div><!--form_horizontal-->
        </div><!--well_body-->

        <!--search-->
        <div class="well well_heading margin_top">
            <h5 class="font_weight add"><?php echo $this->translate('Search an Participant') ?></h5>
        </div>
        <div class="well clearfix well_body">
            <div class="row">
                <div class="search_field col-lg-12">
                    <form class='employee-search-form' method="post">
                        <div class="input-group">
                            <input type="text" class="form-control" id="employeeSearch" placeholder="<?php echo $this->translate('Enter Participant name/code') ?>">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default minus_margin" id="searchEmp"><?php echo $this->translate('Search') ?></button>
                                <button type="button" class="btn btn-default minus_margin" id="searchCancel"><?php echo $this->translate('Cancel') ?></button>
                            </div>
                        </div>
                    </form>
                </div>
                <br><br>
                <div class="search_field col-lg-6">
                    <select class='form-control selectpicker' data-actions-box="false" data-live-search="false" name="employeeDeptSearch" id="employeeDepartmentSearch" title="Select a Participant Type" data-selected-text-format="count>3" data-size="5">
                        <option value="0"><?php echo $this->translate('Select Participant Type') ?></option>
                        <?php
                        foreach ($this->departments as $department):
                            $department = (object) $department;
                            echo '<option value="' . $department->departmentID . '">' . $department->departmentCode.' - '. $department->departmentName . '</option>';
                        endforeach;
                        ?>
                    </select>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 xs-margin-bottom">
                    <select class='form-control selectpicker' data-actions-box="false" data-live-search="false" name="employeeDesigSearch" id="employeeDesignationSearch" title="Select Participant Sub Type" data-selected-text-format="count>3" data-size="5">
                        <option value="0"><?php echo $this->translate('Select Participant Sub Type') ?></option>
                        <?php
                        foreach ($this->designations as $designation):
                            $designation = (object) $designation;
                            echo '<option value="' . $designation->designationID . '">'.$designation->designationCode .' - '. $designation->designationName. '</option>';
                        endforeach;
                        ?>
                    </select>
                </div>
            </div>
        </div><!--well-->
    </div>
</div><!--project_type_form_container-->

<div id="employee-list" class="margin_top">
    <?php echo $this->partial('jobs/participant/list', array('employees' => $this->employees, 'paginated' => $this->paginated)); ?>
</div>

<!-- Designation View Modal -->
<div class="modal fade bs-example-modal-sm" id="designationViewModal" tabindex="-1" role="dialog" aria-labelledby="designationViewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="designationViewModalLabel"><?php echo $this->translate('View Participant Sub Type') ?></h4>
            </div>
            <div class="modal-body designationViewModalBody"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="participantTypeModal" tabindex="-1" role="dialog" aria-labelledby="participantTypeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="participantTypeModalLabel"><?php echo $this->translate('View Participant Type') ?></h4>
            </div>
            <div class="modal-body participantTypeModalBody"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewAttachmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->attachmentsView; ?>
</div>