<div class="panel panel-default small_panel_heading">
    <div class="panel-heading">
        <h5 class="font_weight"><?php echo $this->translate("Participant Sub Types"); ?></h5>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped" style="margin-bottom: 50px;">
                <thead>
                    <tr>
                        <th><?php echo $this->translate("Participant Sub Type Code"); ?></th>
                        <th><?php echo $this->translate("Participant Sub Type Name"); ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php
                    foreach ($designations as $designation) {
                        ?>
                        <tr>
                            <td><?php echo $designation['designationCode']; ?></td>
                            <td><?php echo $designation['designationName']; ?></td>
                        </tr>
                    <?php } ?>
                </tbody>
            </table>
        </div>

    </div><!--panel_body-->
</div><!--panel_default-->