<?php
$companyCurrencySymbol = $this->companyCurrencySymbol;
$uoms = $this->uoms;
$contractorForTask = $this->contractorForTask;
?>
<div class="modal-dialog job-task-modal">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate("Add Tasks"); ?></h4>
        </div>

        <div class="modal-body" style="padding-bottom: 0;">
            <div class="row" id="taskCardDiv">
                <div class="well tasks-clearfix-modal well_custom_padding margin_top col-md-5">
                    <div class="row">
                        <div class="margin_top_normal">
                            <div class="col-lg-4" style="width: 21%; margin-left: 1%;">
                                <div class="form-group">
                                    <label for="taskCard" class="remove_weight"><b><?php echo $this->translate("Select Task Cards") ?></b></label>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <select class="form-control selectpicker show-tick"  multiple='multiple' id="taskCardNumbers" name="taskCardNumbers" data-live-search="true">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div id="taskTable" class="table">
                        <table class="taskCardTaskTable table  table-striped margin_top_normal table-condensed" id="taskCardTaskTable">
                            <thead>
                                <tr>
                                    <th style="width: 20%" class="t_code"><?php echo $this->translate("Task Code and Name"); ?></th>
                                    <th style="width: 20%" class="t_rate"><?php echo $this->translate("Rate per unit"); ?></th>
                                    <th style="width: 20%" class="t_rate"><?php echo $this->translate("Cost per unit"); ?></th>
                                    <th style="width: 4%" class="t_uom"><?php echo $this->translate("UOM"); ?></th>
                                    <th style="width: 7%" class="t_qty"><?php echo $this->translate("Estimated Qty"); ?></th>
                                    <th style="width: 21%" class="t_code"><?php echo $this->translate("Estimated Cost"); ?></th>
                                    <?php if($contractorForTask == 1) { ?>
                                    <th style="width: 4%" class="t_contractor"><?php echo $this->translate("Contractor"); ?></th>
                                    <?php } ?>
                                    <th style="width: 4%" class="t_employee"><?php echo $this->translate("Employee"); ?></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>

                            <!--item_row_show-->
                            <tbody id="form_row">
                                <tr id='preSetTaskSample' class="hidden">
                                    <td id='tCode'></td>
                                    <td id='tRate' class='text-right'></td>
                                    <td id='tCost' class='text-right'></td>
                                    <td id='tUom' class='text-right'></td>
                                    <td id='tEstQty' class='text-right'></td>
                                    <td id='tEstCost' class='text-right'></td>
                                    <?php if($contractorForTask == 1) { ?>
                                    <td id='tContractor' class='text-right'></td>
                                    <?php } ?>
                                    <td id='tEmployee' class='text-right'></td>
                                    
                                    <td class='text-center'>
                                        <button type='button' class='btn btn-default taskCardDeleteTask'>
                                            <i class='glyphicon glyphicon-trash deleteTask'></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>

                            <!--item_enter_row-->
                            <tbody id="add-new-task-row">
                                <tr class="add-row sample hidden">
                                    <td class="clearfix">
                                        <p class="visible-xs"><?php echo $this->translate("Task Code or Name"); ?></p>
                                        <select class="form-control  show-tick"  id="taskCode" name="taskCode" data-live-search="true">
                                            <option value="0" ><?php echo $this->translate('Select Task Code or Name') ?></option>
                                        </select>
                                    </td>
                                    <td class="clearfix">
                                        <div class="input-group ratePicker hidden">
                                            <p class="visible-xs"><?php echo $this->translate("Rate per unit"); ?></p>
                                            <select class="form-control  show-tick"  id="rate" name="rate">
                                            </select>
                                            <strong class="input-group-addon cCurrency"><?php echo $companyCurrencySymbol; ?></strong>
                                        </div>
                                        <div class="input-group rateDiv">
                                            <input type="text" name="dRate" id="dRate" class="form-control">
                                            <strong class="input-group-addon cCurrency"><?php echo $companyCurrencySymbol; ?></strong>
                                        </div>
                                    </td>
                                    <td class="clearfix">
                                        <div class="input-group">
                                            <input type="text" name="dCost" id="dCost" class="form-control">
                                            <strong class="input-group-addon cCurrency"><?php echo $companyCurrencySymbol; ?></strong>
                                        </div>
                                    </td>
                                    <td class="clearfix">
                                        <p class="visible-xs">Uom</p>
                                        <select class="form-control"  id="uom" name="uom" data-live-search="true">
                                            <option value="0" ><?php echo $this->translate('Select a uom') ?></option>
                                            <?php 
                                                foreach ($uoms as $key => $value) {
                                                    echo '<option value="' . $key . '">' . $value . '</option>';
                                                }

                                             ?>
                                        </select>
                                    </td>
                                    <td class="clearfix">
                                        <p class="visible-xs"><?php echo $this->translate("Estimated Qty"); ?></p>
                                        <input type="text" name="estQty" id="estimatedQty" class="form-control">
                                    </td>
                                    <td class="clearfix">
                                        <p class="visible-xs"><?php echo $this->translate("Estimated Cost"); ?></p>
                                        <div class="input-group">
                                            <input type="text" name="estCost" id="estimatedCost" class="form-control" disabled="true">
                                            <strong class="input-group-addon cCurrency"><?php echo $companyCurrencySymbol; ?></strong>
                                        </div>
                                    </td>
                                    <?php if($contractorForTask == 1) { ?>
                                    <td class="clearfix">
                                        <p class="visible-xs"><?php echo $this->translate("Contactor"); ?></p>
                                        <button type='button' class="addTaskContractor btn btn-default">
                                            <i class="glyphicon glyphicon-collapse-up"></i>
                                        </button>
                                    </td>
                                    <?php } ?>
                                     <td class="clearfix">
                                        <p class="visible-xs"><?php echo $this->translate("Employee"); ?></p>
                                        <button type='button' class="addEmployee btn btn-default">
                                            <i class="glyphicon glyphicon-user"></i>
                                        </button>
                                    </td>
                                    
                                    <td>
                                        <button type='button' class="add btn btn-default">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                        <button class="edit btn btn-default hidden" type='button'>
                                            <i class="fa fa-pencil-square-o"></i>
                                        </button>
                                        <button class="save btn btn-default hidden" type='button'>
                                            <i class="fa fa-floppy-o"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button class="delete disabled btn btn-default" type='button'>
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>
                    </div><!--table_responsive-->
                </div>
            </div>            
        </div><!--modal_body-->

        <div class="modal-footer modal-footer-style">
            <button type="button" id="addTcTasks" class="btn btn-primary"><?php echo $this->translate('Add Tasks') ?></button>
            <button type="button" id="closeTcTasks" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
        </div>

    </div>
</div>

