<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate("Add Employees"); ?></h4>
        </div>

        <div class="modal-body">
            <div class="col-lg-12 margin_top" id="employeeTable">
                <div class="table table-responsive">
                    <table class="task-employee-table table table-striped margin_top_normal table-condensed" id="taskEmployeeTable">
                        <thead>
                            <tr>
                                <th class="text-center"><?php echo $this->translate("Task Employee Name or Code"); ?></th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody id="employeeformRow">
                            <tr id='employeePreSample' class="hidden">
                                <td>
                                    <input disabled name="employeeCode" type="text" class="form-control" />
                                </td>
                                <td class="text-right"><button class="deleteEmployee btn btn-default"><i class='glyphicon glyphicon-trash deleteEmp' id=''></i></button></td>
                            </tr>
                        </tbody>

                        <tbody id="addNewEmployeeRow">
                            <tr><!--item_insert-->
                                <td>
                                    <select class="form-control selectpicker show-tick"  id="taskEmployeeCode" name="taskEmployeeCode" data-live-search="true">
                                        <option class="taskEmployeeCodeCodeDefaultSelect" value=""><?php echo $this->translate('Select Employee Code or Name') ?></option>
                                    </select>
                                </td>
                                <td class="text-right"><strong class="btn btn-default" id="add_employee"><i class="glyphicon glyphicon-plus"></i></strong></td>
                            </tr>

                            <tr>
                                <td colspan="7">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>

                </div><!--table_responsive-->
            </div><!--./col-->

        </div><!--modal_body-->

        <div class="modal-footer modal-footer-style">
            <button type="button" id="addTaskEmployees" class="btn btn-primary"><?php echo $this->translate('Add Employees') ?></button>
            <button type="button" id="closeTaskEmployees" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
        </div>

    </div>
</div>