<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate("Add Job Supervisors"); ?></h4>
        </div>

        <div class="modal-body">
            <div class="col-lg-12 margin_top" id="supervisorTable">
                <div class="table table-responsive">
                    <table class="job-supervisor-table job-table table table-striped margin_top_normal table-condensed" id="jobSupervisorTable">
                        <thead>
                            <tr>
                                <th class="text-center" style="float: left;"><?php echo $this->translate("Job Supervisors Name or Code"); ?></th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody id="supervisorformRow">
                            <tr id='supervisorPreSample' class="hidden">
                                <td>
                                    <input disabled name="supervisorCode" type="text" class="form-control" />
                                </td>
                                <td class="text-right"><button class="deleteSupervisor btn btn-default"><i class='glyphicon glyphicon-trash deleteSup' id=''></i></button></td>
                            </tr>
                        </tbody>

                        <tbody id="addNewSuperviosrRow">
                            <tr><!--item_insert-->
                                <td>
                                    <select class="form-control selectpicker show-tick"  id="jobSupervisorCode" name="jobSupervisorCode" data-live-search="true">
                                        <option class="jobSupervisorCodeDefaultSelect" value=""><?php echo $this->translate('Select Job Supervisors Code or Name') ?></option>
                                    </select>
                                </td>
                                <td class="text-right"><strong class="btn btn-default" id="add_superviosr"><i class="glyphicon glyphicon-plus"></i></strong></td>
                            </tr>

                            <tr>
                                <td colspan="7">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>

                </div><!--table_responsive-->
            </div><!--./col-->

        </div><!--modal_body-->

        <div class="modal-footer modal-footer-style">
            <button type="button" id="addjSuperviosrs" class="btn btn-primary"><?php echo $this->translate('Add Job Supervisors') ?></button>
            <button type="button" id="closejSuperviosrs" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
        </div>

    </div>
</div>