<?php
$companyCurrencySymbol = $this->companyCurrencySymbol;
$rawMaterials = $this->rawMaterials;
$fixedAssets = $this->fixedAssets;
?>
<div class="modal-dialog large grn_modal">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate("Add Job Products"); ?></h4>
        </div>

        <div class="modal-body">
            <div id="materialItemAndAssets" class="row">
                <!--Raw_materials-->
                <?php if($rawMaterials == 1) {?>
                <div class="row">
                    <div class="form-group">
                        <div class="col-lg-3">
                            <label class="control-label label_bottom_margin"><?php echo $this->translate('Raw Materials'); ?></label>
                        </div>
                        <div class="col-lg-9">
                            <div>
                                <select class="form-control selectpicker" title="" id="rawMaterialID" name="rawMaterialID" data-live-search="true">
                                    <option value=""><?php echo $this->translate('Select Raw Material') ?></option>
                                </select>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div id="rawMaterialTable">
                    <hr>
                        <table class="raw-product-table table margin_top_normal table-condensed hidden">
                            <thead>
                                <tr>
                                    <th width="28%"><?php echo $this->translate("Product Name - Code"); ?></th>
                                    <th width="15%"><?php echo $this->translate("Available Quantity"); ?></th>
                                    <th width="15%"><?php echo $this->translate("Estimated Quantity"); ?></th>
                                    <th width="15%"><?php echo $this->translate("Reorder Quantity"); ?></th>
                                    <th width="17%"><?php echo $this->translate("Unit Price"); ?></th>
                                    <th width="17%"><?php echo $this->translate("Estimated Cost"); ?></th>
                                    <th width="4%"></th>
                                    <th width="4%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="rawProductPreSetSample" class="add-row sample hidden">
                                    <td id="rawProdctNameAndCode"></td>
                                    <td>
                                        <div class="input-group availableQuantity-div">
                                            <input class="form-control" id="availableQuantity" name="availableQuantity" type="text"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input class="form-control addedQuantity" id="addedQuantity" name="addedQuantity" type="text"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input class="form-control" id="reOrderQuantity" name="reOrderQuantity" type="text"/>
                                        </div>
                                    </td>
                                    <td><div class="input-group">
                                            <input name="unitPrice" id="unitPrice" type="text" class="form-control"/>
                                        </div>
                                    </td>
                                    <td><div class="input-group">
                                            <input name="estimatedCost" id="estimatedCost" type="text" class="form-control" disabled="true" />
                                            <strong class="input-group-addon cCurrency"><?php echo $companyCurrencySymbol; ?></strong>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-default raw-product-plus">
                                            <i class="pointer_cursor fa fa-plus"></i>
                                        </a>
                                        <a class="raw-product-edit btn btn-default hidden" id="raw-product-edit">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </a>
                                        <a class="raw-product-save btn btn-default hidden" id="raw-product-save">
                                            <i class="fa fa-floppy-o"></i>
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-default raw-product-delete">
                                            <span class="pointer_cursor fa fa-trash-o"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <?php
                }

                if ($fixedAssets == 1) { ?>
                <!--fixed_assets-->
                <div class="row">
                    <div class="form-group">
                        <div class="col-lg-3">
                            <label class="control-label label_bottom_margin"><?php echo $this->translate('Fixed Assets'); ?></label>
                        </div>
                        <div class="col-lg-9">
                            <div>
                                <select class="form-control selectpicker" title="" id="fixedAssetsID" name="fixedAssetsID" data-live-search="true">
                                    <option value=""><?php echo $this->translate('Select Fixed Assets') ?></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="fixedAssetsTable">
                        <hr>
                        <table class="fixed-assests-product-table table margin_top_normal table-condensed hidden">
                            <thead>
                                <tr>
                                    <th width="28%"><?php echo $this->translate("Product Name - Code"); ?></th>
                                    <th width="15%"><?php echo $this->translate("Available Quantity"); ?></th>
                                    <th width="15%"><?php echo $this->translate("Estimated Quantity"); ?></th>
                                    <th width="15%"><?php echo $this->translate("Reorder Quantity"); ?></th>
                                    <th width="17%"><?php echo $this->translate("Unit Price"); ?></th>
                                    <th width="17%"><?php echo $this->translate("Estimated Cost"); ?></th>
                                    <th width="4%"></th>
                                    <th width="4%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="fixedProductPreSetSample" class="hidden">
                                    <td id="fixedProdctNameAndCode"></td>
                                    <td>
                                        <div class="input-group availableQuantity-div">
                                            <input class="form-control" id="availableQuantity" name="availableQuantity" type="text"/>
                                        </div>
                                    </td>
                                    <td class="text-right input-group">
                                        <input id="addedQuantity" name="addedQuantity" type="text" class="form-control">
                                    </td>
                                    <td>
                                            <div class="input-group">
                                                <input class="form-control" id="reOrderQuantity" name="reOrderQuantity" type="text"/>
                                            </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input name="unitPrice" id="unitPrice" type="text" class="form-control"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input name="estimatedCost" id="estimatedCost" type="text" class="form-control" disabled="true" />
                                            <strong class="input-group-addon cCurrency"><?php echo $companyCurrencySymbol; ?></strong>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-default fixed-assests-product-plus">
                                            <i class="pointer_cursor fa fa-plus"></i>
                                        </a>
                                        <a class="fixed-assests-product-edit btn btn-default hidden" id="fixed-assests-product-edit">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </a>
                                        <a class="fixed-assests-product-save btn btn-default hidden" id="fixed-assests-product-save">
                                            <i class="fa fa-floppy-o"></i>
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-default fixed-assests-product-delete">
                                            <i class="pointer_cursor fa fa-trash-o"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <?php } ?>

                <!--temporary Item-->
                <div class="row">
                    <div class="form-group">
                        <div class="col-lg-3">
                            <label class="control-label label_bottom_margin"><?php echo $this->translate('Items'); ?></label>
                        </div>
                        <div class="col-lg-9">
                            <div>
                                 <select class="form-control selectpicker" title="" id="temporaryProductID" name="temporaryProductID" data-live-search="true">
                                    <option value=""><?php echo $this->translate('Select Item') ?></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="tradingGoodsTable">
                        <hr>
                        <table class="trading-goods-table table margin_top_normal table-condensed hidden">
                            <thead>
                                <tr>
                                    <th width="28%"><?php echo $this->translate("Product Name - Code"); ?></th>
                                    <th width="15%"><?php echo $this->translate("Available Quantity"); ?></th>
                                    <th width="15%"><?php echo $this->translate("Estimated Quantity"); ?></th>
                                    <th width="15%"><?php echo $this->translate("Reorder Quantity"); ?></th>
                                    <th width="17%"><?php echo $this->translate("Unit Price"); ?></th>
                                    <th width="17%"><?php echo $this->translate("Estimated Cost"); ?></th>
                                    <th width="4%"></th>
                                    <th width="4%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="tradingGoodsPreSetSample" class="hidden">
                                    <td id="tradingGoodsNameAndCode"></td>
                                    <td>
                                        <div class="input-group availableQuantity-div">
                                            <input class="form-control" id="availableQuantity" name="availableQuantity" type="text"/>
                                        </div>
                                    </td>
                                    <td class="text-right input-group">
                                        <input id="addedQuantity" name="addedQuantity" type="text" class="form-control">
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input class="form-control" id="reOrderQuantity" name="reOrderQuantity" type="text"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input name="unitPrice" id="unitPrice" type="text" class="form-control"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input name="estimatedCost" id="estimatedCost" type="text" class="form-control" disabled="true" />
                                            <strong class="input-group-addon cCurrency"><?php echo $companyCurrencySymbol; ?></strong>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-default trading-goods-plus">
                                            <i class="pointer_cursor fa fa-plus"></i>
                                        </a>
                                        <a class="trading-goods-edit btn btn-default hidden" id="trading-goods-edit">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </a>
                                        <a class="trading-goods-save btn btn-default hidden" id="trading-goods-save">
                                            <i class="fa fa-floppy-o"></i>
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-default trading-goods-delete">
                                            <i class="pointer_cursor fa fa-trash-o"></i>
                                        </a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!--modal_body-->

        <div class="modal-footer-style modal-footer">
            <div style="margin-top: 4%; float: right;">
                <button type="button" id="addTCProducts" class="btn btn-primary"><?php echo $this->translate('Add Products') ?></button>
                <button type="button" id="closeTCProducts" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
            </div> 
        </div>

    </div>
</div>