<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate("Add Job Managers"); ?></h4>
        </div>

        <div class="modal-body">
            <div class="col-lg-12 margin_top" id="managersTable">
                <div class="table job-table table-responsive">
                    <table class="job-manager-table table table-striped margin_top_normal table-condensed" id="jobManagerTable">
                        <thead>
                            <tr>
                                <th class="text-center" style="float: left;"><?php echo $this->translate("Job Manager Name or Code"); ?></th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody id="managerformRow">
                            <tr id='managerPreSample' class="hidden">
                                <td>
                                    <input disabled name="managerCode" type="text" class="form-control" />
                                </td>
                                <td class="text-right"><button class="deleteManager btn btn-default"><i class='glyphicon glyphicon-trash deleteMan' id=''></i></button></td>
                            </tr>
                        </tbody>

                        <tbody id="addNewManagerRow">
                            <tr><!--item_insert-->
                                <td>
                                    <select class="form-control selectpicker show-tick"  id="jobManagerCode" name="jobManagerCode" data-live-search="true">
                                        <option class="jobManagerCodeDefaultSelect" value=""><?php echo $this->translate('Select Job Manager Code or Name') ?></option>
                                    </select>
                                </td>
                                <td class="text-right"><strong class="btn btn-default" id="add_manager"><i class="glyphicon glyphicon-plus"></i></strong></td>
                            </tr>

                            <tr>
                                <td colspan="7">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>

                </div><!--table_responsive-->
            </div><!--./col-->

        </div><!--modal_body-->

        <div class="modal-footer modal-footer-style">
            <button type="button" id="addjManagers" class="btn btn-primary"><?php echo $this->translate('Add Job Managers') ?></button>
            <button type="button" id="closejManagers" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
        </div>

    </div>
</div>