<?php
$jobform = $this->jobForm;
$companyCurrencySymbol = $this->companyCurrencySymbol;
$contractorForJob = $this->contractorForJob;
?>
<script>
    function goBack() {
        window.history.go(-1);
    }
</script>
<input type="hidden" name="editmode" id="editMode" data-jobid = <?php echo $this->jobID; ?> value="1" />
<div class="margin_top">
    <?php echo $this->form()->openTag($jobform); ?>
    <!--data_insert_section-->
    <div class="row">
        <div class="margin_top_normal">
            <div class="col-lg-5 col-md-5 col-sm-5">
                <div class="form-group">
                    <label for="customer" class="col-lg-5 control-label">
                        <?php echo $this->translate("Customer "); ?><font style="color: red">*</font>
                    </label>
                    <div class="col-lg-7">
                        <select class="form-control selectpicker" title="" id="customer" name="customer" data-live-search="true">
                                <option value=""><?php echo $this->translate('Select Customer') ?></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="jobCode" class="col-lg-5 control-label">
                        <?php echo $this->translate('Job Code'); ?>
                        <font style="color: red">*</font>
                    </label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($jobform->get('jobCode')); ?>
                    </div>
                </div>
                <?php if($contractorForJob == 1) { ?>
                <div class="form-group">
                    <label for='contractor' class="col-lg-5 control-label">
                        <?php echo $this->translate('Contractor'); ?>
                    </label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($jobform->get('contactorIds')); ?>
                    </div>
                </div>
                <?php } ?>
                <div class="form-group">
                    <label for="jobValue" class="col-lg-5 control-label">
                        <?php echo $this->translate("Job Value"); ?>
                    </label>
                    <div class="col-lg-7">
                        <div class="input-group">
                            <?php echo $this->formRow($jobform->get('jobValue')); ?>
                            <strong class="input-group-addon"><?php echo $companyCurrencySymbol; ?></strong>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="date" class="col-lg-5 control-label">
                        <?php echo $this->translate("Estimated End Date"); ?>
                    </label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($jobform->get('expDate')); ?>
                    </div>
                </div>
            </div><!--./col-->
        </div><!--margin_top-->


        <div class="col-lg-5 col-md-5 col-sm-5 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
            <div class="form-group">
                <label for='jobType' class="col-lg-5 control-label">
                    <?php echo $this->translate('Job Type'); ?>
                    <font style="color: red">*</font>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($jobform->get('jobTypeIds')); ?>
                </div>
            </div>
            <div class="form-group">
                <label for="jobName" class="col-lg-5 control-label">
                    <?php echo $this->translate("Job Name"); ?>
                    <font style="color: red">*</font>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($jobform->get('jobName')); ?>
                </div>
            </div>

            <div class="form-group">
                <label for="date" class="col-lg-5 control-label">
                    <?php echo $this->translate("Due Date"); ?>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($jobform->get('dueDate')); ?>
                </div>
            </div>

            <div class="form-group">
                <label for="estimatedCost" class="col-lg-5 control-label">
                    <?php echo $this->translate('Job Est. cost'); ?>
                </label>
                <div class="col-lg-7">
                    <div class="input-group">
                        <?php
                        $jobform->get('jobEstCost')->setAttribute('disabled', true);
                        ?>
                        <?php echo $this->formRow($jobform->get('jobEstCost')); ?>
                        <strong class="input-group-addon"><?php echo $companyCurrencySymbol; ?></strong>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-6">
                    <button type="button" id="addSupervisor" class="btn btn-success form-control"><?php echo $this->translate('Job Supervisor'); ?></button>
                </div>
                <div class="col-lg-6">
                    <button type="button" id="jobManger" class="btn btn-success form-control"><?php echo $this->translate('Job Manager'); ?></button>
                </div>
            </div>
        </div><!--./col-->

        <div class="col-lg-5 col-md-5 col-sm-5">
            <div class="form-group hidden">
                <label for='attachFiles' class="col-lg-5 control-label">
                    <?php echo $this->translate('Attach files'); ?>
                </label>
                <div class="col-lg-7">
                    <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-paperclip"></i></button>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
            <div class="form-group hidden">
                <label for='addLocation' class="col-lg-5 control-label">
                    <?php echo $this->translate('Site Map Location'); ?>
                </label>
                <div class="col-lg-7">
                    <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-map-marker"></i></button>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="row">
                <div class="col-lg-4 col-md-5"><!--comment-->
                    <label class="remove_font_weight">
                        <input type="checkbox" name="show_addi" id="show_addi" value="1">&nbsp;Add additional details
                    </label>
                </div>
            </div>
            <div class="row hidden" id="additional_div">
                <div class="col-lg-4 col-md-5"><!--comment-->
                    <label>Additional Detail 1</label>
                    <textarea class="form-control" id="additionalDetail1"></textarea>
                </div>
                <div class="col-lg-4 col-md-5"><!--comment-->
                    <label>Additional Detail 2</label>
                    <textarea class="form-control" id="additionalDetail2"></textarea>
                </div>
            </div>
        </div>
    </div><!--margin_top-->

    <hr>
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5">
            <div class="form-group">
                <div class="col-lg-5">
                    <button type="button" id="addTasks" class="form-control btn btn-success"><?php echo $this->translate('Tasks'); ?></button>
                </div>
                <div class="col-lg-5">
                    <span id="taskCount" style="color: #A9A9A9"><?php echo $this->translate('No tasks added'); ?></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-5">
                    <button type="button" id="addResources" class="form-control btn btn-success"><?php echo $this->translate('Products'); ?></button>
                </div>
                <div class="col-lg-5">
                    <span id="resourceCount" style="color: #A9A9A9"><?php echo $this->translate('No products added'); ?></span>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-8 col-md-4 col-sm-4"></div>
        <div class="col-lg-4 col-sm-4"><!--button-->
            <div class="text-right">
                <input type="button" onclick="goBack()" value="<?php echo $this->translate("Back"); ?>" class='btn btn-default'>
                <button class="btn btn-primary" id="saveJob"><?php echo $this->translate("Update"); ?></button>
            </div>
        </div>
    </div><!--row-->
    <?php echo $this->form()->closeTag(); ?>
</div><!--margin_top-->


<div class="modal fade" id="addJobSupervisorsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->addJobSupervisors; ?>
</div>

<div class="modal fade" id="addjobManagersModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->addJobManagers; ?>
</div>

<div class="modal fade" id="addTasksModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->addTasks; ?>
</div>

<div class="modal fade" id="addTaskProductsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->addTaskproducts; ?>
</div>

<div class="modal fade" id="addTaskEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->taskEmployees; ?>
</div>

<div class="modal fade" id="addTaskContractorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->taskContractors; ?>
</div>