<div class="table-responsive" id="job-list">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="15%"><?php echo $this->translate('Job Code') ?></th>
                <?php if($this->maintainProject == 1) { ?>
                <th width="15%"><?php echo $this->translate('Project Type') ?></th>
                <?php } ?>
                <th width="15%"><?php echo $this->translate('Job Name') ?></th>
                <th width="15%"><?php echo $this->translate('Customer Name') ?></th>
                <th width="15%"><?php echo $this->translate('Job Type') ?></th>
                <th width="15%"><?php echo $this->translate('Due Date') ?></th>
                <th width="13%"><?php echo $this->translate('Job Supervisor') ?></th>
                <th width="10%"><?php echo $this->translate('Status') ?></th>
                <th width="6%" class="text-center" ><?php echo $this->translate('View') ?></th>
                <th width="11%" class="text-center" ><?php echo $this->translate('Print') ?></th>
                <th width="6%" class="text-center" ><?php echo $this->translate('Edit') ?></th>
                <th width="6%" class="text-center" ><?php echo $this->translate('Delete') ?></th>
                <th width="5%" class="text-center" ></th>
            </tr>
        </thead>
        <tbody id="jobList">
            <?php
            foreach ($this->jobList as $loo) {
                $loo = (object) $loo;
                $status = $loo->jobStatus;
                $state = ucfirst($this->status[$status]);
                $style = NULL;
                switch ($status) {
                    case "3":
                        $style = "label label-success";
                        break;
                    case "8":
                        $style = "label label-primary";
                        break;
                    case "9":
                        $style = "label label-info";
                        break;
                    case "4":
                        $style = "label label-danger";
                        break;
                    default :
                        $style = "label label-default";
                }
                ?>
                <tr data-jobid="<?php echo $loo->jobId; ?>">
                    <td class="jobCode"><?php echo $loo->jobReferenceNumber ?></td>
                    <?php if($this->maintainProject == 1) { ?>
                    <td class="projectType"><?php echo $loo->projectTypeName ?></td>
                    <?php } ?>
                    <td class="jobName"><?php echo $loo->jobName ?></td>
                    <td class="customerName"><?php echo $loo->customerName ?></td>
                    <td class="jobTypeName"><?php echo $loo->jobTypeName ?></td>
                    <td class="jobDueDate"><?php echo $loo->jobDueDate ?></td>
                    <td class="jSupervisor">
                        <span class=" link_color" style="cursor:pointer" >
                            <span id="<?php echo $loo->jobId; ?>" class="glyphicon glyphicon-user jobSupervisor"></span>
                        </span>
                    </td>
                    <td class="jState"><span class="<?php echo $style; ?>"> <?php echo $state; ?></span></td>
                    <td width="10%" class="text-center">
                        <a href="<?php echo $this->url('jobs', array('action' => 'view', 'param1' => $loo->jobId)); ?>" class="fullView">
                            <span class="glyphicon fa fa-search-plus openlist custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <span class="preview link_color" style="cursor:pointer" data-href="<?php echo $this->url('jobs', array('action' => 'documentPreview', 'param1' => $loo->jobId)); ?>">
                            <span id="<?php echo $loo->jobId; ?>" class="glyphicon glyphicon-eye-open openlist"></span>
                        </span>
                    </td>
                    <td width="20%" class="text-center">
                    <?php if($loo->deleted == 0 && $status != 4) { ?>
                                <a class="edits" href="<?php echo $this->url('jobs', array('action' => 'edit', 'param1' => $loo->jobId));
                                ?>" id="<?php echo $loo->jobId ?>">
                                    <span class="fa fa-pencil-square-o custom_font_size"></span>
                                </a>
                        <?php } ?>
                    </td>
                    <td width="20%" class="text-center" >
                    <?php if($loo->customerStatus == 1  && $status != 4) { ?>
                        <a href="#" class="<?php echo ($status == '4') ? 'link_disabled disabled' : 'delete-job'; ?>">
                            <?php if ($loo->deleted == 0) { ?>
                                <i class="fa fa-trash-o custom_font_size"></i>
                            <?php } ?>
                        </a>
                    <?php } else if ($status != 4) { ?>
                        <a href="#" class="<?php echo ($status == '4') ? 'link_disabled disabled' : 'editsInactive'; ?>">
                            <?php if ($loo->deleted == 0) { ?>
                                <i class="fa fa-trash-o custom_font_size"></i>
                            <?php } ?>
                        </a>
                        <?php } ?>
                    </td>
                    
                    
                </tr>
                <?php
            }
            if (count($this->jobList) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>

        </tbody>
    </table>
</div>
<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->jobList, 'sliding', array('partial/paginator.phtml', 'jobList'), array(
        'route' => 'jobs', 'action' => 'list'
            )
    );
}
?>

<div class="modal fade" id="viewJobSupervisorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><?php echo $this->translate('Job Supervisors') ?></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="job-supervisor-table table table-striped margin_top_normal table-condensed" id="jobSupervisorTable">
                    <thead>
                        <tr>
                            <th class="" style="width: 45%"><?php echo $this->translate("Job Supervisor Name"); ?></th>
                        </tr>
                    </thead>

                    <tbody id="formRow">
                        <tr id='preSample' class="hidden">
                            <td id="supervisorName">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>
