<?php
$maintainProject = $this->maintainProject;
?>
<div id="job-list-view">

    <div class="well well_heading margin_top">
        <h5 class="font_weight"><?php echo $this->translate('Search a Job') ?></h5>
    </div>

    <div class="well well_body clearfix">
        <form class="job-search" id="job-search" method="post" action="">
            <div class="row">
                <div class="col-lg-12 xs-search-field">
                    <div class=" input-group">
                        <input type="text" class="search form-control" id ='job-search-keyword' placeholder="<?php echo $this->translate('Enter Job Name or Code or Customer Name') ?>"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default search_btn_css" type="submit"><?php echo $this->translate('Search') ?></button>
                            <button class="btn btn-default reset" type="reset"><?php echo $this->translate('Cancel') ?></button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
        <br>
        <div class="row">
            <?php if($maintainProject == 1) { ?>
            <div class="search_field col-lg-4">
                <select class='form-control selectpicker' data-actions-box="false" data-live-search="false" name="projectCode" id="projectCode" title="Select a Project" data-selected-text-format="count>3" data-size="5">
                    <option value="0"><?php echo $this->translate('Select Project') ?></option>
                    <?php
                    foreach ($this->projectList as $project):
                        $project = (object) $project;
                        echo '<option value="' . $project->projectId . '">' . $project->projectCode. '</option>';
                    endforeach;
                    ?>
                </select>
            </div>
            <?php } ?>
            <div class="col-lg-4">
                <select class='form-control selectpicker' data-actions-box="false" data-live-search="false" name="jobSupervisorSearch" id="jobSupervisorSearch" title="Select Job Supervisor" data-selected-text-format="count>3" data-size="5">
                    <option value="0"><?php echo $this->translate('Select Job Supervisor') ?></option>
                    <?php
                    foreach ($this->jobSupervisors as $jSup) :
                        echo '<option value="' . $jSup['employeeID'] . '">' . $jSup['employeeCode'].' - '. $jSup['employeeFirstName']. '</option>';
                    endforeach;
                    ?>
                </select>
            </div>
            <div class="col-lg-4">
                <select class='form-control selectpicker' data-actions-box="false" data-live-search="false" name="jobStatus" id="jobStatus" title="Select Status" data-selected-text-format="count>3" data-size="5">
                    <option value="0"><?php echo $this->translate('Select Status') ?></option>
                    <option value="3"><?php echo $this->translate('Open') ?></option>
                    <option value="8"><?php echo $this->translate('In Progress') ?></option>
                    <option value="9"><?php echo $this->translate('Completed') ?></option>
                    <option value="4"><?php echo $this->translate('Closed') ?></option>
                </select>
            </div>
        </div>
    </div>

    <div id="search-job-list">
        <?php
        echo $this->partial('jobs/job/list-table', array('jobList' => $this->jobList,
            'paginated' => $this->paginated, 'status' => $this->status, 'maintainProject' => $maintainProject));
        ?>
    </div>

</div>
