<?php
$jobform = $this->jobForm;
$jobID = $this->jobID;
$companyCurrencySymbol = $this->companyCurrencySymbol;
$jobData = $this->jobData;
?>
<script>
    function goBack() {
        window.history.go(-1);
    }
</script>
<div class="margin_top">
    <?php echo $this->form()->openTag($jobform); ?>
    <!--data_insert_section-->
    <div class="row">
        <div class="margin_top_normal">
            <div class="col-lg-5 col-md-5 col-sm-5">
                <div class="form-group">
                    <label for="customer" class="col-lg-5 control-label">
                        <?php echo $this->translate("Customer "); ?><font style="color: red">*</font>
                    </label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($jobform->get('customer')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="jobCode" class="col-lg-5 control-label">
                        <?php echo $this->translate('Job Code'); ?>
                        <font style="color: red">*</font>
                    </label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($jobform->get('jobCode')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="jobValue" class="col-lg-5 control-label">
                        <?php echo $this->translate("Job Value"); ?>
                    </label>
                    <div class="col-lg-7">
                        <div class="input-group">
                            <?php echo $this->formRow($jobform->get('jobValue')); ?>
                            <strong class="input-group-addon"><?php echo $companyCurrencySymbol; ?></strong>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="date" class="col-lg-5 control-label">
                        <?php echo $this->translate("Estimated End Date"); ?>
                    </label>
                    <div class="col-lg-7">
                         <?php echo $this->formRow($jobform->get('estimatedEndDate')); ?>
                    </div>
                </div>
            </div><!--./col-->
        </div><!--margin_top-->


        <div class="col-lg-5 col-md-5 col-sm-5 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
            <div class="form-group">
                <label for='jobType' class="col-lg-5 control-label">
                    <?php echo $this->translate('Job Type'); ?>
                    <font style="color: red">*</font>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($jobform->get('jobType')); ?>
                </div>
            </div>
            <div class="form-group">
                <label for="jobName" class="col-lg-5 control-label">
                    <?php echo $this->translate("Job Name"); ?>
                    <font style="color: red">*</font>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($jobform->get('jobName')); ?>
                </div>
            </div>

            <div class="form-group">
                <label for="date" class="col-lg-5 control-label">
                    <?php echo $this->translate("Due Date"); ?>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($jobform->get('dueDate')); ?>
                </div>
            </div>

            <div class="form-group">
                <label for="estimatedCost" class="col-lg-5 control-label">
                    <?php echo $this->translate('Job Est. cost'); ?>
                    <font style="color: red">*</font>
                </label>
                <div class="col-lg-7">
                    <div class="input-group">
                        <?php
                        $jobform->get('jobEstCost')->setAttribute('disabled', true);
                        ?>
                        <?php echo $this->formRow($jobform->get('jobEstCost')); ?>
                        <strong class="input-group-addon"><?php echo $companyCurrencySymbol; ?></strong>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <?php if($jobData['jobSupervisorLength'] != 0) {?>
                <div class="col-lg-4">
                    <button type="button" data-toggle="modal" href='#viewJobSupervisors' id="addSupervisor" class="btn btn-success form-control"><?php echo $this->translate('Job Supervisor'); ?></button>
                </div>
                <?php } 
                if($jobData['jobManagerLength'] != 0) {?>
                <div class="col-lg-4">
                    <button type="button" data-toggle="modal" href='#viewJobMangers' id="jobManger" class="btn btn-success form-control"><?php echo $this->translate('Job Manager'); ?></button>
                </div>
                <?php } 
                if($jobData['jobContractorLength'] != 0) {?>
                <div class="col-lg-4">
                    <button type="button" data-toggle="modal" href='#viewJobContractors' id="jobContractor" class="btn btn-success form-control"><?php echo $this->translate('Job Contractors'); ?></button>
                </div>
                <?php } ?>
            </div>
        </div><!--./col-->
    </div><!--margin_top-->

    <hr>
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5">
            <?php if($jobData['jobTaskLength'] != 0) {?>
            <div class="form-group">
                <div class="col-lg-5">
                    <button type="button" id="addTasks" data-toggle="modal" href='#viewJobTasks' class="form-control btn btn-success"><?php echo $this->translate('Tasks'); ?></button>
                </div>
                <div class="col-lg-5 hidden">
                    <span id="taskCount" style="color: #A9A9A9"><?php echo $this->translate('No tasks added'); ?></span>
                </div>
            </div>
            <?php } 
            if($jobData['jobProductLength'] != 0) {?>
            <div class="form-group">
                <div class="col-lg-5">
                    <button type="button" id="addResources" data-toggle="modal" href='#viewJobProducts' class="form-control btn btn-success"><?php echo $this->translate('Products'); ?></button>
                </div>
                <div class="col-lg-5 hidden">
                    <span id="resourceCount" style="color: #A9A9A9"><?php echo $this->translate('No products added'); ?></span>
                </div>
            </div>
            <?php } ?>
        </div>
    </div>
    <hr>
    <?php echo $this->form()->closeTag(); ?>
    <div class="row">
        <div class="col-lg-4 col-sm-4"><!--button-->
            <div class="btn_margin_top ">
                <button id="grnViewBack" onclick="goBack()" class="btn btn-primary"><?php echo $this->translate('Back') ?></button>
            </div>

        </div>
    </div><!--row-->
</div><!--margin_top-->


<div class="modal fade" id="viewJobSupervisors" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4><?php echo $this->translate('Job Supervisors'); ?></h4>
            </div>

            <div class="modal-body">
                <table class="task-card-product-table table table-striped margin_top_normal table-condensed" id="taskCardTaskProductTable">
                    <thead>
                        <tr>
                            <th class=""><?php echo $this->translate("Supervisor Name"); ?></th>
                        </tr>
                    </thead>

                    <tbody id="formRow">
                    <?php 
                        if (!empty($jobData['jobSupervisors'])) {
                            foreach ($jobData['jobSupervisors'] as $jobSupervisor) {
                                ?>
                                <tr class="">
                                    <td id='Code'><?php echo $jobSupervisor['jobSupervisorName']; ?></td>
                                </tr>

                    <?php
                            }
                        }
                    ?>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewJobMangers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4><?php echo $this->translate('Job Managers'); ?></h4>
            </div>

            <div class="modal-body">
                <table class="task-card-product-table table table-striped margin_top_normal table-condensed" id="taskCardTaskProductTable">
                    <thead>
                        <tr>
                            <th class=""><?php echo $this->translate("Manager Name"); ?></th>
                        </tr>
                    </thead>

                    <tbody id="formRow">
                    <?php 
                        if (!empty($jobData['jobManagers'])) {
                            foreach ($jobData['jobManagers'] as $jobManager) {
                                ?>
                                <tr class="">
                                    <td id='Code'><?php echo $jobManager['jobMangerName']; ?></td>
                                </tr>

                    <?php
                            }
                        }
                    ?>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewJobContractors" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4><?php echo $this->translate('Job Contractors'); ?></h4>
            </div>

            <div class="modal-body">
                <table class="task-card-product-table table table-striped margin_top_normal table-condensed" id="taskCardTaskProductTable">
                    <thead>
                        <tr>
                            <th class=""><?php echo $this->translate("Contractor Name"); ?></th>
                        </tr>
                    </thead>

                    <tbody id="formRow">
                    <?php 
                        if (!empty($jobData['jobContractors'])) {
                            foreach ($jobData['jobContractors'] as $jobContractor) {
                                ?>
                                <tr class="">
                                    <td id='Code'><?php echo $jobContractor['contractorName']; ?></td>
                                </tr>

                    <?php
                            }
                        }
                    ?>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewJobProducts" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog large grn_modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4><?php echo $this->translate('Job Resources'); ?></h4>
            </div>

            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#rawMaterials"><?php echo $this->translate('Raw Materials'); ?></a></li>
                    <li><a data-toggle="tab" href="#fixedAssets"><?php echo $this->translate('Fixed Assets'); ?></a></li>
                    <li><a data-toggle="tab" href="#items"><?php echo $this->translate('Items(Finished Goods)'); ?></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-content">
                        <div id="rawMaterials" class="tab-pane fade in active">
                            <?php if($jobData['rawmaterialFlag'] == true) { ?>
                            <div class="row">
                                <table class="task-card-product-table table table-striped margin_top_normal table-condensed" id="taskCardTaskProductTable">
                                    <thead>
                                        <tr>
                                            <th class=""><?php echo $this->translate("Product Code"); ?></th>
                                            <th class=""><?php echo $this->translate("Product Name"); ?></th>
                                            <th class=""><?php echo $this->translate("Product Estimated Quantity"); ?></th>
                                            <th class=""><?php echo $this->translate("Product Reorder Quantity"); ?></th>
                                            <th class=""><?php echo $this->translate("Product Unit price"); ?></th>
                                            <th class=""><?php echo $this->translate("Product Estimated Cost"); ?></th>
                                        </tr>
                                    </thead>

                                    <tbody id="formRow">
                                    <?php 
                                        if (!empty($jobData['jobProducts'])) {
                                            foreach ($jobData['jobProducts'] as $jobProduct) {
                                                if ($jobProduct['jobProductMaterialTypeID'] == 3) {
                                                    ?>
                                                    <tr class="">
                                                        <td id='Code'><?php echo $jobProduct['productCode']; ?></td>
                                                        <td id='Code'><?php echo $jobProduct['productName']; ?></td>
                                                        <td id='Code'><?php echo floatval($jobProduct['jobProductAllocatedQty']).' ('.$jobProduct['uomAbbr'].')'; ?></td>
                                                        <td id='Code'><?php  echo floatval($jobProduct['jobProductReOrderLevel']).' ('.$jobProduct['uomAbbr'].')'; ?></td>
                                                        <td id='Code'><?php  echo number_format($jobProduct['jobProductUnitPrice'],2); ?></td>
                                                        <td id='Code'><?php echo number_format($jobProduct['productEstimatedCost'],2); ?></td>
                                                    </tr>

                                    <?php
                                                }
                                            }
                                        }
                                    ?>
                                    </tbody>
                                </table>
                            </div>
                        <?php } ?>
                        </div>
                        <div id="fixedAssets" class="tab-pane fade">
                            <?php if($jobData['fixedAssetsFlag'] == true) { ?>
                            <div class="row">
                                <table class="task-card-product-table table table-striped margin_top_normal table-condensed" id="taskCardTaskProductTable">
                                    <thead>
                                        <tr>
                                            <th class=""><?php echo $this->translate("Product Code"); ?></th>
                                            <th class=""><?php echo $this->translate("Product Name"); ?></th>
                                            <th class=""><?php echo $this->translate("Product Estimated Quantity"); ?></th>
                                            <th class=""><?php echo $this->translate("Product Reorder Quantity"); ?></th>
                                            <th class=""><?php echo $this->translate("Product Unit price"); ?></th>
                                            <th class=""><?php echo $this->translate("Product Estimated Cost"); ?></th>
                                        </tr>
                                    </thead>

                                    <tbody id="formRow">
                                    <?php 
                                        if (!empty($jobData['jobProducts'])) {
                                            foreach ($jobData['jobProducts'] as $jobProduct) {
                                                if ($jobProduct['jobProductMaterialTypeID'] == 2) {
                                                    ?>
                                                    <tr class="">
                                                        <td id='Code'><?php echo $jobProduct['productCode']; ?></td>
                                                        <td id='Code'><?php echo $jobProduct['productName']; ?></td>
                                                        <td id='Code'><?php echo floatval($jobProduct['jobProductAllocatedQty']).' ('.$jobProduct['uomAbbr'].')'; ?></td>
                                                        <td id='Code'><?php  echo floatval($jobProduct['jobProductReOrderLevel']).' ('.$jobProduct['uomAbbr'].')'; ?></td>
                                                        <td id='Code'><?php  echo number_format($jobProduct['jobProductUnitPrice'],2); ?></td>
                                                        <td id='Code'><?php echo number_format($jobProduct['productEstimatedCost'],2); ?></td>
                                                    </tr>

                                    <?php
                                                }
                                            }
                                        }
                                    ?>
                                    </tbody>
                                </table>
                            </div>
                            <?php } ?>
                        </div>
                        <div id="items" class="tab-pane fade">
                            <?php if($jobData['tradingItemFlag'] == true) { ?>
                            <div class="row">
                                <table class="task-card-product-table table table-striped margin_top_normal table-condensed" id="taskCardTaskProductTable">
                                    <thead>
                                        <tr>
                                            <th class=""><?php echo $this->translate("Product Code"); ?></th>
                                            <th class=""><?php echo $this->translate("Product Name"); ?></th>
                                            <th class=""><?php echo $this->translate("Product Estimated Quantity"); ?></th>
                                            <th class=""><?php echo $this->translate("Product Reorder Quantity"); ?></th>
                                            <th class=""><?php echo $this->translate("Product Unit price"); ?></th>
                                            <th class=""><?php echo $this->translate("Product Estimated Cost"); ?></th>
                                        </tr>
                                    </thead>

                                    <tbody id="formRow">
                                    <?php 
                                        if (!empty($jobData['jobProducts'])) {
                                            foreach ($jobData['jobProducts'] as $jobProduct) {
                                                if ($jobProduct['jobProductMaterialTypeID'] == 1) {
                                                    ?>
                                                    <tr class="">
                                                        <td id='Code'><?php echo $jobProduct['productCode']; ?></td>
                                                        <td id='Code'><?php echo $jobProduct['productName']; ?></td>
                                                        <td id='Code'><?php echo floatval($jobProduct['jobProductAllocatedQty']).' ('.$jobProduct['uomAbbr'].')'; ?></td>
                                                        <td id='Code'><?php  echo floatval($jobProduct['jobProductReOrderLevel']).' ('.$jobProduct['uomAbbr'].')'; ?></td>
                                                        <td id='Code'><?php  echo number_format($jobProduct['jobProductUnitPrice'],2); ?></td>
                                                        <td id='Code'><?php echo number_format($jobProduct['productEstimatedCost'],2); ?></td>
                                                    </tr>

                                    <?php
                                                }
                                            }
                                        }
                                    ?>
                                    </tbody>
                                </table>
                            </div>
                            <?php } ?>
                        </div>
                      </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewJobTasks" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog large grn_modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4><?php echo $this->translate('Job Tasks'); ?></h4>
            </div>

            <div class="modal-body">
                <table class="task-card-product-table table table-striped margin_top_normal table-condensed" id="taskCardTaskProductTable">
                    <thead>
                        <tr>
                            <th class=""><?php echo $this->translate("Task Code"); ?></th>
                            <th class=""><?php echo $this->translate("Task Name"); ?></th>
                            <th class=""><?php echo $this->translate("Rate per unit"); ?></th>
                            <th class=""><?php echo $this->translate("Cost per unit"); ?></th>
                            <th class=""><?php echo $this->translate("UOM"); ?></th>
                            <th class=""><?php echo $this->translate("Estimated Qunatity"); ?></th>
                            <th class=""><?php echo $this->translate("Estimated Cost"); ?></th>
                            <th class=""><?php echo $this->translate("Contactor"); ?></th>
                            <th class=""><?php echo $this->translate("Employee"); ?></th>
                        </tr>
                    </thead>

                    <tbody id="formRow">
                    <?php 
                        if (!empty($jobData['jobTasks'])) {
                            foreach ($jobData['jobTasks'] as $jobTask) {
                                ?>
                                <tr class="">
                                    <td id='Code'><?php echo $jobTask['taskCode']; ?></td>
                                    <td id='Code'><?php echo $jobTask['taskName']; ?></td>
                                    <td id='Code'><?php echo number_format($jobTask['jobTaskUnitRate'],2); ?></td>
                                    <td id='Code'><?php echo number_format($jobTask['jobTaskUnitCost'],2); ?></td>
                                    <td id='Code'><?php echo $jobTask['taskUomAbbr']; ?></td>
                                    <td id='Code'><?php echo floatval($jobTask['jobTaskEstQty']); ?></td>
                                    <td id='Code'><?php echo number_format($jobTask['taskEstimatedCost'],2); ?></td>
                                    <td id='Code'>
                                        <?php if(sizeof($jobTask['taskContractors']) > 0) {?>
                                        <a data-toggle="modal" href='#<?php echo $jobTask['jobTaskID'] . 'viewTaskContactors' ?>'style = "font-size: 18px;" class ='glyphicon glyphicon-expand'></a>
                                        <?php }?>
                                    </td>
                                    <td id='Code'>
                                        <?php if(sizeof($jobTask['jobEmployees']) >0) {?>
                                        <a data-toggle="modal" href='#<?php echo $jobTask['jobTaskID'] . 'viewTaskEmployees' ?>'style = "font-size: 18px;" class ='glyphicon glyphicon-user'></a>
                                        <?php }?>
                                    </td>
                                </tr>

                    <?php
                            }
                        }
                    ?>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>

<?php
foreach ($jobData['jobTasks'] as $jobTask) {
    if (!empty($jobTask['jobEmployees'])) {
        ?>
        <div class="modal fade" id='<?php echo $jobTask['jobTaskID'] . 'viewTaskEmployees' ?>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4><?php echo $this->translate('Job Task Employees'); ?></h4>
                    </div>

                    <div class="modal-body">
                        <table class="task-card-product-table table table-striped margin_top_normal table-condensed" id="taskCardTaskProductTable">
                            <thead>
                                <tr>
                                    <th class="" style="width: 45%"><?php echo $this->translate("Employee Name and Designation"); ?></th>
                                </tr>
                            </thead>

                            <tbody id="formRow">
                                <?php
                                foreach ($jobTask['jobEmployees'] as $jobEmployee) {
                                    ?>
                                    <tr class="">
                                        <td id='Code'><?php echo $jobEmployee['employeeName']; ?></td>
                                    </tr>
                                    <?php
                                }
                                ?>
                            </tbody>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
                    </div>
                </div>
            </div>
        </div>

        <?php
    }

    if (!empty($jobTask['jobEmployees'])) {
        ?>
        <div class="modal fade" id='<?php echo $jobTask['jobTaskID'] . 'viewTaskContactors' ?>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4><?php echo $this->translate('Job Task Contractors'); ?></h4>
                    </div>

                    <div class="modal-body">
                        <table class="task-card-product-table table table-striped margin_top_normal table-condensed" id="taskCardTaskProductTable">
                            <thead>
                                <tr>
                                    <th class="" style="width: 45%"><?php echo $this->translate("Task Contractor Name"); ?></th>
                                </tr>
                            </thead>

                            <tbody id="formRow">
                                <?php
                                foreach ($jobTask['taskContractors'] as $jobCon) {
                                    ?>
                                    <tr class="">
                                        <td id='Code'><?php echo $jobCon['contractorName']; ?></td>
                                    </tr>
                                    <?php
                                }
                                ?>
                            </tbody>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
                    </div>
                </div>
            </div>
        </div>

        <?php
    }
}
?>