<div class="data_table">
    <table  width="100%" class="product-list">
        <tr>
            <td colspan="2">
                <hr />
                <br />
                <div class="qout_body">
                    <table width="100%" class="table bigtable table-bordered table-striped" id="item_tbl">
                        <?php
                        foreach ($table["col_size"] as $size) {
                            echo "<col width=\"" . $size . "px\">";
                        }
                        ?>
                        <thead>
                            <tr>
                                <?php
                                foreach ($table["headers"] as $title => $span) {
                                    echo "<th>" . $this->translate(ucfirst($title)) . "</th>";
                                }
                                ?>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <?php
                            foreach ($table['records'] as $data) {
                                $a = 0;
                                if(is_numeric($data)){
                                    $data=number_format(abs($data), 2);
                                  $rightClass = "class='text-right'";
                                }else{
                                    $rightClass = "";
                                }

                                echo "<td ".$rightClass.">" . $data . "</td>";
                            }
                            ?>
                        </tr>
                        </tbody>
                    </table>

                    <div class="summary">
                        <table width="100%"  id="" class="table">
                            <col width="90px"><col width="290px"><col width="75px">
                            <col width="100px"><col width="50px"><col width="100px">
                            <tr>
                                <td colspan="2" rowspan="<?php echo isset($cr_discount) ? 4 : 3; ?>">
                                    <?php
                                    echo (isset($comment)) ? "<div id='comment'><strong>" . $this->translate('Comment') . "&nbsp;:</strong><p><i>" . $comment . "</i></div>" : "";
                                    echo (isset($memo)) ? "<div id='comment'><strong>" . $this->translate('Memo') . "&nbsp;:</strong><p><i>" . $memo . "</i></div>" : "";
                                    ?>
                                </td>
                                <td colspan="3"><?php echo $this->translate("Sub Total"); ?></td>
                                <td class="text-right"><?php echo number_format($sub_total, 2); ?></td>
                            </tr>
                            <?php if (isset($cr_payment)) { ?>
                                <tr>
                                    <td colspan="3">
                                        <div><?php echo $this->translate("Credit Payments"); ?></div>
                                    </td>
                                    <td class="text-right">
                                        <?php echo number_format($cr_payment, 2); ?>
                                    </td>
                                </tr>
                            <?php } ?>
                            <?php if (isset($cr_discount)) { ?>
                                <tr>
                                    <td colspan="3">
                                        <div><?php echo $this->translate("Discount"); ?></div>
                                    </td>
                                    <td class="text-right">
                                        <?php echo "( " . number_format($cr_discount, 2) . " )"; ?>
                                    </td>
                                </tr>
                            <?php } ?>
                            <?php if (isset($delivery_charge) && $delivery_charge > 0) { ?>
                                <tr>
                                    <td colspan="3">
                                        <div><?php echo $this->translate('Delivery Charges') ?></div>
                                    </td>
                                    <td class="text-right">
                                        <?php echo number_format($delivery_charge, 2); ?>
                                    </td>
                                </tr>
                            <?php } ?>
                            <tr>
                                <td colspan="3"><h3><?php echo $this->translate('Total ') . $currencySymbol ?></h3></td>
                                <td class="text-right"><strong><h3><?php echo number_format($total, 2); ?></h3></strong></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
        </tr>
        <?php if (isset($discount)) { ?>
            <tr>
                <td colspan="2" class="small">
                    <?php if ($show_tax) { ?>
                        <br />
                        <div id="total_tax"><?php echo $this->translate($tax_record); ?></div>
                    <?php } ?>
                    <br />
                    <div id="total_disc">
                        <?php
                        if ($discount > 0) {
                            echo $this->translate($discountStatement) . $this->translate("&nbsp;Rs&nbsp;:&nbsp;") . number_format($discount, 2);
                        }
                        ?>
                    </div>
                </td>
            </tr>
            <?php
        }
        ?>
    </table>
</div>