<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>

            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th style="width:10%"><?php echo $this->translate('GRN Code') ?></th>
                        <th style="width:10%"><?php echo $this->translate('New Products / Old Products') ?></th>
                        <th style="width:15%"><?php echo $this->translate('Product Name') ?></th>
                        <th style="width:15%"><?php echo $this->translate('Quantity') ?></th>
                        <th style="width:10%"><?php echo $this->translate('Unit Price') ?></th>
                        <th style="width:10%"><?php echo $this->translate('Discount') ?></th>
                        <th style="width:10%"><?php echo $this->translate('Tax Name') ?></th>
                        <th style="width:15%"><?php echo $this->translate('Tax Percentage') ?></th>
                        <th style="width:15%"><?php echo $this->translate('Tax Amount') ?></th>
                    </tr>

                    <?php
                    if (empty($editedGrnData)) {
                        ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="9"><?php echo $this->translate('No related data found') ?></td>
                        </tr>
                        <?php
                    } else {
                        $netAmount = 0.00;

                        foreach ($editedGrnData as $key => $data) {
                            ?>
                            <tr class="even_row">
                                <td style="text-align: left"><?php echo $key; ?></td>
                                <td colspan="8"></td>
                            </tr>
                            <?php 
                            foreach ($data as $ke => $val) {
                                ?>
                                <tr class="even_row">
                                    <td style="text-align: left"></td>
                                    <td style="text-align: left"><?php echo $ke; ?></td>
                                    <td style="text-align: left" colspan="7"></td>
                                </tr>
                                <?php
                                foreach ($val['gProducts'] as $value) {
                                ?>
                                    <tr class="even_row">
                                        <td style="text-align: left" colspan="2"></td>
                                        <td style="text-align: left"><?php echo $value['gPC'].'_'.$value['gPN']; ?></td>
                                        <td style="text-align: left"><?php echo $value['gPQ']; ?></td>
                                        <td style="text-align: left"><?php echo number_format($value['gPP'],2); ?></td>
                                <?php
                                    if ($value['gPD'] > 0) {
                                ?>
                                        <td style="text-align: left"><?php echo $value['gPD'].'('.$value['gPDT'].')'; ?></td>
                                <?php
                                    } else {
                                ?>
                                        <td style="text-align: left"></td>
                                <?php
                                    }
                                ?>
                                        <td style="text-align: left" colspan="3"></td>
                                <?php  
                                        foreach ($value['pT'] as $tax) {
                                    ?>
                                    <tr class="even_row">
                                        <td style="text-align: left" colspan="6"></td>
                                        <td style="text-align: left"><?php echo $tax['pTN']; ?></td>
                                        <td style="text-align: left"><?php echo $tax['pTP']; ?></td>
                                        <td style="text-align: left"><?php echo number_format($tax['pTA'],2); ?></td>
                                    </tr>
                                    <?php
                                        }
                                ?>
                                    </tr>
                                <?php
                                }
                            }
                        }
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>



