<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>
<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th><?php echo $this->translate("Ref. NO"); ?></th>
                        <th><?php echo $this->translate("GRN Code"); ?></th>
                        <th><?php echo $this->translate("GRN Status"); ?></th>
                        <th><?php echo $this->translate("Supplier Code"); ?></th>
                        <th><?php echo $this->translate("Supplier Name"); ?></th>
                        <th><?php echo $this->translate("GRN Date"); ?></th>
                        <th><?php echo $this->translate("Total Value") . "({$companyCurrencySymbol})"; ?></th>
                    </tr>
                    <?php if (count($gL) == 0) { ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="8"><?php echo $this->translate('No related data found') ?></td>
                        </tr>

                        <?php
                    } else {
                        $i = 1;
                        foreach ($gL as $key => $value) {
                            $sCD = isset($value['sCD']) ? $value['sCD'] : '-';
                            $sName = isset($value['sName']) ? $value['sName'] : '-';
                            $gTot = isset($value['gTot']) ? $value['gTot'] : 0.00;
                            $gDate = isset($value['gDate']) ? $value['gDate'] : '-';
                            $gStatus = isset($value['statusName']) ? $value['statusName'] : '-';
                            echo '
                    <tr class="even_row">
                    <td style="text-align: left">' . $i . '</td>
                    <td style="text-align: left">' . $value['gCD'] . '</td>
                    <td style="text-align: left">' . $gStatus . '</td>
                    <td style="text-align: left">' . $sCD . '</td>
                    <td style="text-align: left">' . $sName . '</td>
                    <td style="text-align: left">' . $gDate . '</td>
                    <td style="text-align: right">' . number_format($gTot, 2) . '</td>
                    </tr>';
                            $i++;
                        }
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>



