<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>
    <div id="content">
        <div class="page" style="font-size: 7pt">
            <?php echo $this->headerTemplate; ?>
            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>
            <table class="change_order_items">
                <tbody>
                    <tr>
                        <th style="width: 7%"><?php echo $this->translate('GRN Number'); ?></th>
                        <th style="width: 8%"><?php echo $this->translate('Supplier'); ?></th>
                        <th style="width: 7%"><?php echo $this->translate('Supplier Referance'); ?></th>
                        <th style="width: 8%"><?php echo $this->translate('GRN Date');  ?></th>
                        <th style="width: 7%"><?php echo $this->translate('Item Code'); ?></th>
                        <th style="width: 10%"><?php echo $this->translate('Item Name') . ' (' . $currencySymbol . ')'; ?></th>
                        <th style="width: 5%"><?php echo $this->translate('UOM'); ?></th>
                        <th style="width: 7%"><?php echo $this->translate('Issued Price'). ' (' . $currencySymbol . ')'; ?></th>
                        <th style="width: 6%"><?php echo $this->translate('GRN Quantity'); ?></th>
                        <th style="width: 5%"><?php echo $this->translate('Returned Quantity'); ?></th>
                        <th style="width: 7%"><?php echo $this->translate('Tax Name');  ?></th>
                        <th style="width: 7%"><?php echo $this->translate('GRN Tax Amount') . ' (' . $currencySymbol . ')';  ?></th>
                        <th style="width: 8%"><?php echo $this->translate('GRN Amount Without Tax') . ' (' . $currencySymbol . ')';  ?></th>
                        <th style="width: 8%"><?php echo $this->translate('GRN Amount') . ' (' . $currencySymbol . ')';  ?></th>
                    </tr>
                    <?php 
                    if (empty($dataList)) {
                    ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="14"><?php echo $this->translate('No related data found') ?></td>
                        </tr>
                    <?php
                    } else {
                        $i = 1;
                        $totalGrnAmount = $totalGrnTaxAmount = 0;
                        $totalGrnQty = $totalReturnQty = 0;
                        foreach ($dataList as $index => $data) {
                            $class = ($i % 2 == 0) ? 'even_row' : 'odd_row';
                            $totalGrnAmount += $data['grnTotal'];
                            $totalGrnTaxAmount += $data['grnTax'];
                        ?>
                            <tr class="<?php echo $class; ?>">
                                <td style="text-align: left"><?php echo $data['grnNumber']; ?></td>
                                <td style="text-align: left"><?php echo $data['supplier']; ?></td>
                                <td style="text-align: left"><?php echo $data['supplierRef']; ?></td>
                                <td style="text-align: center"><?php echo $data['grnDate']; ?></td>
                                <td style="text-align: left" colspan="7"></td>
                                <td style="text-align: right"><?php echo number_format($data['grnTax'], 2); ?></td>
                                <td style="text-align: right"><?php echo number_format(($data['grnTotal']- $data['grnTax']), 2); ?></td>
                                <td style="text-align: right"><?php echo number_format(($data['grnTotal']), 2); ?></td>
                            </tr>
                        <?php
                            foreach ($data['productList'] as $itemData) {
                                $totalGrnQty += $itemData['itemQty'];
                                $totalReturnQty += $itemData['itemReturnQty'];
                        ?>
                                <tr class="<?php echo $class; ?>">
                                    <td colspan="4"></td>
                                    <td style="text-align: left"><?php echo $itemData['itemCode']; ?></td>
                                    <td style="text-align: left"><?php echo $itemData['itemName']; ?></td>
                                    <td style="text-align: center"><?php echo $itemData['itemUOM']; ?></td>
                                    <td style="text-align: right"><?php echo number_format($itemData['issuedPrice'], 2); ?></td>
                                    <td style="text-align: right"><?php echo number_format($itemData['itemQty'], 2); ?></td>
                                    <td style="text-align: right"><?php echo number_format($itemData['itemReturnQty'], 2); ?></td>
                                    <?php
                                    if (!empty($itemData['itemTaxDetails'])) {
                                        foreach ($itemData['itemTaxDetails'] as $index => $itemTax) {
                                            if ($index != 0) {
                                        ?>
                                            <tr class='<?php echo $class; ?>'>
                                                <td colspan='10'></td>
                                                <td style="text-align: right"><?php echo $itemTax['taxName']; ?></td>
                                                <td style="text-align: right"><?php echo number_format($itemTax['taxAmount'], 2); ?></td>
                                                <td colspan='2'></td>
                                            </tr>
                                        <?php

                                            } else {
                                        ?>
                                            <td style="text-align: right"><?php echo $itemTax['taxName']; ?></td>
                                            <td style="text-align: right"><?php echo number_format($itemTax['taxAmount'], 2); ?></td>
                                            <td colspan='2'></td>
                                        <?php
                                            }
                                        }
                                    } else {
                                        ?>
                                        <td colspan="4"></td>
                                        <?php
                                    }
                                    ?>
                                </tr>
                        <?php
                            }
                            ?>
                            <?php
                            $i++;
                        }
                        ?>
                        <tr>
                            <td style="text-align: right" colspan="8"><b><?php echo $this->translate('Total') ?></b></td>
                            <td style="text-align: right"><b><?php echo number_format($totalGrnQty, 2); ?></b></td>
                            <td style="text-align: right"><b><?php echo number_format($totalReturnQty, 2); ?></b></td>
                            <td style="text-align: right"><b><?php echo ""; ?></b></td>
                            <td style="text-align: right"><b><?php echo number_format($totalGrnTaxAmount, 2); ?></b></td>
                            <td style="text-align: right"><b><?php echo number_format(($totalGrnAmount - $totalGrnTaxAmount), 2); ?></b></td>
                            <td style="text-align: right"><b><?php echo number_format($totalGrnAmount, 2); ?></b></td>
                        </tr>    
                        <?php
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>