<!--panel-->
<div class='panel panel-default margin_top margin_bottom panel_border'>

    <div class='panel-heading panel_heading_style'><!--panel_heading-->
        <h4 class="font_weight h1_no_margin report_heading"><?php echo $this->translate('GRN Reports') ?></h4>
    </div>

    <div class="panel-body panel_body_style flex-container">
        <!--links-->
        <div class="col-lg-3 col-md-3 remove_left_padding remove_right_padding panel_links">
            <ul class="nav nav-pills  nav-stacked data-tabs" data-tabs="tabs">
                <li id="grnStatus" class="report_pills active"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('GRN Status') ?></a></li>
                <li id="grnItemDetails" class="report_pills"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('GRN Item Details') ?></a></li>
                <?php
                    if ($this->packageID != '1') {
                ?>
                    <li id="grnWisePurchaseReturn" class="report_pills"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('GRN Wise Purchase Return Report') ?></a></li>
                <?php
                    }
                ?>

                <li id="grnWisePurchaseInvoice" class="report_pills"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('GRN Wise Purchase Invoice Report') ?></a></li>
                <li id="editedGrn" class="report_pills"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Edited GRN') ?></a></li>
            </ul>
        </div>

        <!--process_area-->
        <div class="col-lg-9 col-md-9 form-horizontal process_area">
            <div id="report_head">

                <div class="form-group">
                    <div class="row" id="grn_div">
                        <div class="col-lg-5 col-md-6 product-content xs-margin-bottom">
                            <div>
                                <label class="" name="isAllGRNslbl" id="isAllGRNslbl">
                                    <input type="radio" class="check_box_mar_right isAllGRNs" value="0" name="isAllGRNs" id="customGRNSelection" checked> <?php echo $this->translate('Custom GRNs') ?>
                                </label>
                                <div class="">
                                    <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="grnLists" id="grnLists" multiple="multiple" title="<?php echo $this->translate('Select GRN(s)') ?>" data-selected-text-format="count>3"></select>
                                </div>
                            </div>
                        </div>

                        <!--all GRN-->
                        <div class="col-lg-5 col-md-6 product-content" id="isAllGRNCBox">
                            <label name="isAllGRNslbl" id="isAllGRNslbl">
                                <input type="radio" class="isAllGRNs" value="1" name="isAllGRNs" id="allGRNs"> 
                                <?php echo $this->translate('All GRNs') ?>
                            </label>
                        </div>
                    </div><!--row-->

                    <div class="row hidden" id="item_div">
                        <br>
                        <div class="col-lg-5 col-md-6">
                            <div>
                                <label class="" name="isAllItemslbl" id="isAllItemslbl">
                                    <input type="radio" class="check_box_mar_right isAllItems" value="0" name="isAllItems" id="customItemSelection" checked> <?php echo $this->translate('Custom Items') ?>
                                </label>
                                <div class="">
                                    <select class='form-control selectpicker ' data-actions-box="true" data-live-search="true" name="itemList" id="itemList" multiple="multiple" title='<?php echo $this->translate('Select Item(s)') ?>'></select>
                                </div>
                            </div>
                        </div>
                        <!--all Items-->
                        <div class="col-lg-5 col-md-6 product-content itemSelection" id="isAllProductsCBox">
                            <label name="isAllCustomerslbl" id="isAllItemslbl">
                                <input type="radio" class="isAllItems" value="1" name="isAllItems" id="isAllItems" > 
                                <?php echo $this->translate('All Items') ?>
                            </label>
                        </div>
                    </div>

                    <div class="row hidden" id="supplier_div">
                        <br>
                        <div class="col-lg-5 col-md-6">
                            <div>
                                <label class="" name="isAllSupplierslbl" id="isAllSupplierslbl">
                                    <input type="radio" class="check_box_mar_right isAllSuppliers" value="0" name="isAllSuppliers" id="customSupplierSelection" checked> 
                                    <?php echo $this->translate('Custom Supplier(s)') ?>
                                </label>
                                <div class="">
                                    <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="supplierLists" id="supplierLists" multiple="multiple" title="<?php echo $this->translate('Select Supplier(s)') ?>" data-selected-text-format="count>3"></select>
                                </div>
                            </div>
                        </div>
                        <!--all Items-->
                        <div class="col-lg-5 col-md-6 product-content itemSelection" id="isAllProductsCBox">
                            <label name="isAllSupplierslbl" id="isAllSupplierslbl">
                                <input type="radio" class="isAllSuppliers" value="1" name="isAllSuppliers" id="allSuppliers"> 
                                <?php echo $this->translate('All Suppliers'); ?>
                            </label>
                        </div>
                    </div>
                    <div class="row" id="location_div"><!--location selection-->
                        <div class="col-lg-5 col-md-6 product-content xs-margin-bottom">
                            <label class="control-label"><?php echo $this->translate('Locations') ?></label>
                            <select class='form-control selectpicker ' data-actions-box="true" data-live-search="true" name="locations" id="locations" multiple="multiple" title='<?php echo $this->translate('Select Location(s)') ?>'>
                                <?php
                                foreach ($this->locations as $id => $row):
                                    echo '<option value="' . $id . '">' . $row['locationName'] . '</option>';
                                endforeach;
                                ?>
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-5 col-md-6 product-content xs-margin-bottom"><!--from_month-->
                            <label class="control-label from_date_lbl"><?php echo $this->translate('From Date') ?></label>
                            <input type="text" class="span2 datepicker form-control" id="fromDate" name="fromDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to set a From Date') ?>">
                        </div>

                        <div class="col-lg-5 col-md-6 product-content xs-margin-bottom"><!--set_to_date-->
                            <label class="control-label to_date_lbl"><?php echo $this->translate('To Date') ?></label>
                            <input type="text" class="span2 datepicker form-control" id="toDate" name="toDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to set a To Date') ?>">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12 btn-group btn_panel_height_high report_buttons">
                            <button class="btn btn-default col-lg-2" id="viewReport"><?php echo $this->translate('View Report') ?></button>
                            <button class="btn btn-default col-lg-2" id="generatePdf"><?php echo $this->translate('Generate Pdf') ?></button>
                            <button class="btn btn-default col-lg-2" id="csvReport"><?php echo $this->translate('Generate CSV') ?></button>
                        </div>
                    </div>
                </div><!--form-group-->

            </div>
        </div><!--form_hori-->

    </div><!--panel_body-->
</div><!--panel-->

<iframe id="grnStatusReport" class="panel panel-default margin_top margin_bottom panel_border report-iframe"></iframe>
