<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('Category Name') ?></th>
                <th width="10%" class="text-center"><?php echo $this->translate('Edit') ?></th>
                <th width="10%" class="text-center"><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php if (empty($this->categoryList)) { ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            } else {
                foreach ($this->categoryList as $category) {
                    ?>
                    <tr data-categoryrow="<?php echo $category->customerCategoryID; ?>">
                        <td><?php echo $category->customerCategoryName; ?></td>

                        <td class="text-center">
                            <a href="#" class="edit">
                                <span class="fa fa-pencil-square-o custom_font_size"></span>
                            </a>
                        </td>
                        <td class="text-center">
                            <a href="#" class="delete">
                                <span class="fa fa-trash-o custom_font_size"></span>
                            </a>
                    </tr>
                <?php
                }
            }
            ?>
        </tbody>
    </table>
</div>

<?php
if ($this->isPaginated) {
    echo $this->paginationControl(
            $this->categoryList, 'sliding', array('partial/paginator.phtml', 'customerCategory'), array('route' => 'customerCategory', 'action' => 'index')
    );
}