<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
<?php $this->headScript()->captureEnd() ?>

<?php $this->headScript()->appendFile($this->basePath('js/invoice/customerCategory.js')); ?>

<!--add or update Customer Category-->
<div class="category-form-container margin_top">
    <div class="well well_heading">
        <h5 class="font_weight"><?php echo $this->translate('Add Category') ?></h5>
        <h5 class="font_weight update"><?php echo $this->translate('Update Category') ?></h5>
    </div>

    <?php
    $form->setAttribute('id', 'customer-category-form');
    $form->prepare();
    echo $this->form()->openTag($form);
    echo $this->formHidden($form->get('customerCategoryID'));
    ?>

    <div class="well well_body">
        <div class="form-group clearfix" style="margin-bottom: 0;">
            <label for="customerCategoryName" class="col-lg-3 col-md-4 col-sm-4 control-label">
                <?php echo $this->translate('Customer Category Name ') ?><font color="red">*</font> :
            </label>
            <div class="col-lg-6 col-md-8 col-sm-8">
                <?php echo $this->formRow($form->get('customerCategoryName')); ?>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <!--update button-->
                <div class="form-group button-set update" style="margin-bottom: 0">
                    <div class="col-lg-12 text-right">
                        <?php echo $this->formRow($form->get('customerCategoryUpdate')); ?>
                        <?php echo $this->formRow($form->get('customerCategoryReset')); ?>
                    </div>
                </div>
                <!--add new category button-->
                <div class="form-group button-set" style="margin-bottom: 0">
                    <div class="col-lg-12 text-right">
                        <?php echo $this->formRow($form->get('customerCategorySubmit')); ?>
                        <?php echo $this->formRow($form->get('customerCategoryReset')); ?>
                    </div>
                </div>
            </div>
        </div>

        <?php
        echo $this->form()->closeTag();
        ?>

    </div>
</div> <!--end of add or update customer category-->

<!--search customer category-->
<div class="well clearfix well_custom_padding margin_top category-search">
    <form id="category-search-form" method="post" action="">
        <div class="col-lg-3">
            <label class="remove_weight"><?php echo $this->translate('Search a Category') ?></label>
        </div>
        <div class="col-lg-9">
            <div class=" input-group">
                <input type="text" class="search form-control" id ='customer-category-search-keyword' placeholder="<?php echo $this->translate('Enter Customer Category') ?>"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default reset" type="reset"><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </form>
</div><!--End of search-->

<!--display category list-->
<div id="customerCategoryList">
    <?php echo $this->partial('invoice/customer-category/customer-category-list', array('categoryList' => $this->categoryList, 'isPaginated' => $this->isPaginated)) ?>
</div>
