<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <table style="width: 100%; font-size: 8pt;">
                <tr>
                    <td> <strong></strong></td>
                    <td><strong></strong></td>
                </tr>

                <tr>
                    <td><h2><?php echo $this->translate('Price Listing Report Report') ?></h2></td>
                </tr>

                <tr>
                    <?php $date = date('Y-m-d h:i:s a'); ?>
                    <td><?php echo $this->translate('Report Generated ') ?>: <strong><?php echo $date; ?></strong></td>
                    <td><strong></strong></td>
                </tr>

                <tr>
                    <td><?php echo $this->translate('Address') ?>: <strong><?php echo $company_data[0]->companyName ?>,<?php echo $company_data[0]->companyAddress ?></strong></td>
                    <td> <strong></strong></td>
                </tr>
            </table>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>

            </table>

            <table class="change_order_items">

                <tbody>

                    <tr>
                        <td colspan="4"><h2><?php echo $this->translate('Price Listing Report') ?>:</h2></td>
                    </tr>
                    <tr>
                        <th><?php echo $this->translate('Product') ?></th>
                        <th><?php echo $this->translate('Description') ?></th>
                        <th><?php echo $this->translate('UoM') ?></th>
                        <th><?php echo $this->translate('Price') ?></th>
                    </tr>
                    <?php
                    foreach ($product_data as $data) {
                        if (is_null($data['description']) || $data['description'] == "") {
                            $description = 'No Description';
                        } else {
                            $description = $data['description'];
                        }
                        ?>
                        <tr class="even_row">
                            <td style="text-align: left"><?php echo $data['productName']; ?></td>
                            <td style="text-align: left"><?php echo $description; ?></td>
                            <td style="text-align: left"><?php echo $data['name']; ?></td>
                            <td style="text-align: right"><?php echo number_format($data['price'], 2); ?></td>
                        </tr>
                    <?php } ?>

                </tbody>

            </table>
        </div>

    </div>
</div>



