<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
<?php
$this->headScript()->captureEnd();
?>
<link rel="stylesheet" href="<?php echo $this->basePath('assets/DataTables-1.9.4/media/css/jquery.dataTables.css'); ?>" type="text/css" />

<?php $this->headScript()->appendFile($this->basePath('assets/DataTables-1.9.4/media/js/jquery.dataTables.min.js')); ?>
<?php $this->headScript()->appendFile($this->basePath('assets/DataTables-1.9.4/media/js/jquery.jeditable.js')); ?>
<?php $this->headScript()->appendFile($this->basePath('js/report-pdf/listingReport.js')); ?>
<?php $this->headScript()->appendFile($this->basePath('js/report-pdf/accounting.js')); ?>

<!--panel-->
<div class="panel panel-default margin_top panel_border">

    <div class='panel-heading panel_heading_style'><!--panel_heading-->
        <h4 class="font_weight h1_no_margin report_heading"><?php echo $this->translate('Listing Report') ?></h4>
    </div>

    <div class="panel-body panel_body_style">
        <!--links-->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 remove_left_padding remove_right_padding panel_links listing_min_height">
            <ul class="nav nav-pills  nav-stacked" data-tabs="tabs">
                <li id="Price" class="report_pills active left_border">
                    <a href="#" data-toggle="tabs" class="active_link"><?php echo $this->translate('Price') ?></a>
                </li>
            </ul>
        </div>

        <!--process_area-->
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 form-horizontal process_area">
            <div id="report_head">
                <div class="form-group">
                    <div class="col-lg-6 col-md-12">
                        <label class="control-label"><?php echo $this->translate('Category') ?></label>
                        <select class='form-control' name="product" id="product">
                            <option value="empty"><?php echo $this->translate('Select Category') ?></option>
                            <option value="All"><?php echo $this->translate('All') ?></option>
                            <?php
                            foreach ($this->data as $product_id => $product_name):
                                echo '<option value="' . $product_id . '">' . $product_name . '</option>';
                            endforeach;
                            ?>
                        </select>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <!--<label class="control-label"></label>-->
                        <div class="btn-group pull-right btn_panel_height">
                            <button class="btn btn-default" id="view_report"><?php echo $this->translate('View Report') ?></button>
                            <button class="btn btn-default" id="generate_pdf"><?php echo $this->translate('Generate Pdf') ?></button>
                            <button class="btn btn-default" id="excel_report"><?php echo $this->translate('Generate Excel') ?></button>
                        </div>
                    </div>
                </div><!--form_group-->

            </div>

        </div>

    </div><!--panel_body-->
</div><!--panel-->


<!--display-->
<div id="pricelisting_report_view" class="margin_top_high">
    <div class="table table-responsive">
        <div id="view-div" class="">
            <h4 class="text-center font_weight"><?php echo $this->translate('Price Listing Report') ?></h4>
            <p class="text-center"><?php echo $companyDetails[0]->companyName ?></p>
            <p class="text-center last_para"><?php echo $this->translate('Adderess :') ?> <?php echo $companyDetails[0]->companyAddress ?> <?php echo $this->translate('Tele :') ?> <?php echo $companyDetails[0]->telephoneNumber ?></p>

            <div class="scroll margin_top">
                <table class="table table-bordered table-hover table-striped" id="item_tbl">
                    <thead>
                        <tr>
                            <th class="text-center"><?php echo $this->translate("Product"); ?></th>
                            <th class="text-center"><?php echo $this->translate("Description"); ?></th>
                            <th class="text-center"><?php echo $this->translate("UoM"); ?></th>
                            <th class="text-center"><?php echo $this->translate("Price"); ?></th>
                        </tr>
                    </thead>
                    <tbody id="pricelisting_report_body"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>