<div class="row">
    <div class="col-lg-3">
        <h4 class="title-dashboard"><b><?php echo $this->translate('Accounting Overview') ?></b></h4>
    </div>
    <div class="col-lg-2" style="display: flex; padding-top: 9px;">
          <p style="color: grey">Show : &nbsp;&nbsp;</p>
          <select class="jobInput period">
            <option value="thisWeek"><?php echo $this->translate('This Week');?></option>
            <option value="thisMonth"><?php echo $this->translate('This Month');?></option>
            <option value="thisDay"><?php echo $this->translate('This Day');?></option>
            <option value="thisYear"><?php echo $this->translate('This Year');?></option>
          </select>
    </div>
</div>
<div class="row" style="background-color: #f1efef; min-height: 100vh">
    <div class="row widgetRow">
        <div class="col-lg-3 title-widget">
            <div class="row" style="padding-top: 10px">
                <p style="color: #5f675f; font-size: 12px"><b><?php echo $this->translate('Total Bank Account Balance') ?></b></p>
            </div>
            <div class="row">
                <div style="float: left;">
                    <h4><b id="total-sales">LKR</b></h4>
                </div>
                <div style="float: right;">
                    
                </div>
            </div>
        </div>
        <div class="col-lg-3 title-widget">
            <div class="row" style="padding-top: 10px">
                <p style="color: #5f675f; font-size: 12px"><b><?php echo $this->translate('Received Cheqes to be Deposited') ?></b></p>
            </div>
            <div class="row">
                <div style="float: left;">
                    <h4><b id="gross-profit">LKR</b></h4>
                </div>
                <div style="float: right;" class="hidden">
                    <h5 class="profit-rate" id="total-gross-profit">+2.5%<span><i class="glyphicon glyphicon-arrow-up"></i></span></h5>
                    <h5 class="loss-rate hidden" id="total-gross-loss">+2.5%<span><i class="glyphicon glyphicon-arrow-down"></i></span></h5>
                </div>
            </div>
            <p style="color: #8c867e;font-size: 12px;" id="last-period-total-gross" class="hidden">Compared to (LKR 100,000 last year)</p>
        </div>
        <div class="col-lg-3 title-widget">
            <div class="row" style="padding-top: 10px">
                <p style="color: #5f675f; font-size: 12px"><b><?php echo $this->translate('Issued Cheques to be Settled') ?></b></p>
            </div>
            <div class="row">
                <div style="float: left;">
                    <h4><b id="total-payments">LKR</b></h4>
                </div>
                <div style="float: right;" class="hidden">
                    <h5 class="profit-rate" id="total-payment-profit">+2.5%<span><i class="glyphicon glyphicon-arrow-up"></i></span></h5>
                    <h5 class="loss-rate hidden" id="total-payment-loss">+2.5%<span><i class="glyphicon glyphicon-arrow-down"></i></span></h5>
                </div>
            </div>
            <p style="color: #8c867e;font-size: 12px;" id="last-period-total-payment" class="hidden">Compared to (LKR 100,000 last year)</p>
        </div>
        <div class="col-lg-3 title-widget">
            <div class="row" style="padding-top: 10px">
                <p style="color: #5f675f; font-size: 12px"><b><?php echo $this->translate('Petty Cash Float Balance') ?></b></p>
            </div>
            <div class="row">
                <div style="float: left;">
                    <h4><b id="totalInvoiceCount">0</b></h4>
                </div>
                <div style="float: right;">
                </div>
            </div>
        </div>
    </div>
    <div class="row graph-row">
        <div class="col-lg-9">
            <div class="row graph-widget">
                <div class="row">
                    <ul class="nav nav-tabs">
                      <li class="active">
                        <a data-toggle="tab" id="cash-credit" href="#byVehcleTab">
                          <span class="tab-title"><?php echo $this->translate('Cash Flow') ?></span>
                        </a>
                      </li>
                      <li>
                        <a data-toggle="tab" id="sales-gross-profit" href="#byItemTab"><span class="tab-title"><?php echo $this->translate('Cheque Detail Summary') ?></span></a>
                      </li>
                    </ul>
                </div>
                <div class="row" id="cash-chart">
                    
                </div>
                <div class="row hidden" id="gp-chart">
                    
                </div>
            </div>
            <div class="row final-graph-row">
                <div class="col-lg-6">
                    <div class="row" style="text-align: center;">
                        <p class="tab-title1" style="padding-top: 13px;"><?php echo $this->translate('Expense') ?></p><span id="expense-home" class="hidden"><a class="home"><i class="glyphicon glyphicon-home"></i></a></span>
                    </div>
                    <div class="row" id="sales-summary"></div>
                    <div class="row" id="expense-detail" style="display: none;"></div>
                </div>
                <div class="col-lg-6" style="border-left: 1px solid #beb4b4;">
                    <div class="row" style="text-align: center;">
                        <p class="tab-title1" style="padding-top: 13px;"><?php echo $this->translate('Income') ?></p><span id="income-home" class="hidden"><a class="home"><i class="glyphicon glyphicon-home"></i></a></span>
                    </div>
                    <div class="row" id="sales-gp-summary"></div>
                    <div class="row" id="income-detail" style="display: none;"></div>
                </div>
            <a class="zc-ref" href="https://www.zingchart.com/">Powered by ZingChart</a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="row best-items">
                <div class="row" style="text-align: center;">
                    <p class="tab-title1" style="padding-top: 13px;"><?php echo $this->translate('Bank Account Balance') ?></p>
                </div>
                <div class="row">
                    <div class="row" style="display: flex;">
                        <div style="width:100%" class="col-lg-5 title-row">
                            <b>Account</b>
                        </div>
                        <div style="width:100%" class="col-lg-7 title-row" style="text-align: right;">
                            <b>Balance</b>
                        </div>
                    </div>
                    <?php 
                    foreach ($this->bankList as $value) { 
                        if ($value['accountBalance'] >= 0) {
                    ?>
                        <div class="row item-row">
                            <div style="width:100%" class="col-lg-5 table-text bankAc0 sales-text">
                                <?php echo $value['accountName']; ?>
                            </div>
                            <div style="width:100%" class="col-lg-7 table-text table-count bankBalance0">
                                <span class="badge badge-success"><?php echo $this->companyCurrencySymbol." ".number_format($value['accountBalance'],2); ?></span>
                            </div>
                        </div>
                    <?php 
                        } else {
                    ?>  
                        <div class="row item-row">
                            <div style="width:100%" class="col-lg-5 table-text bankAc0 sales-text">
                                <?php echo $value['accountName']; ?>
                            </div>
                            <div style="width:100%" class="col-lg-7 table-text table-count bankBalance0">
                                <span class="badge badge-danger"><?php echo $this->companyCurrencySymbol." ".number_format($value['accountBalance'],2); ?></span>
                            </div>
                        </div>
                    <?php 
                        }
                    }
                    ?>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
#sales-payment-summary {
  /*min-height: 150px;*/
  width: 100%;
  height: 100%;
  min-height: 250px;
  position: relative;
    left: -4px;
}

#sales-gp-summary {
  /*min-height: 150px;*/
  width: 100%;
  height: 100%;
  min-height: 250px;
  position: relative;
    left: -4px;
}

#sales-summary {
  /*min-height: 150px;*/
  width: 100%;
  height: 100%;
  min-height: 250px;
  position: relative;
    left: -4px;
}

#expense-detail {
  /*min-height: 150px;*/
  width: 100%;
  height: 100%;
  min-height: 250px;
  position: relative;
    left: -4px;
}
#income-detail {
  /*min-height: 150px;*/
  width: 100%;
  height: 100%;
  min-height: 250px;
  position: relative;
    left: -4px;
}

.badge-success {
    background-color: green;
}
.badge-danger {
    background-color: red;
}
</style>
