<div id="credit-note-list">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class=""><?php echo $this->translate('Invoice Return No') ?></th>
                <th class=""><?php echo $this->translate('Customer Name') ?></th>
                <th class=""><?php echo $this->translate('Issued Date') ?></th>
                <th class="text-center"><?php echo $this->translate('Status') ?></th>
                <th class="text-right"><?php echo $this->translate('Total Amount') ?></th>
                <th class="text-right"><?php echo $this->translate('Print View') ?></th>
                <th class="text-center"><?php echo $this->translate('Cancel') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->invoiceReturn as $key => $creditNote) {
                if ($creditNote->creditNoteCustomCurrencyRate == 0) {
                    $currencyRate = 1;
                } else {
                    $currencyRate = $creditNote->creditNoteCustomCurrencyRate;
                }
                if (isset($creditNote->currencySymbol)) {
                    $currencySymbol = $creditNote->currencySymbol;
                } else {
                    $currencySymbol = $this->companyCurrencySymbol;
                }
                $state = ucfirst($this->statuses[$creditNote->statusID]);
                $status = $creditNote->statusID;
                switch ($status) {
                    case "1":
                        $style = "label label-primary";
                        break;
                    case "2":
                        $style = "label label-default";
                        break;
                    case "3":
                        $style = "label label-success";
                        break;
                    case "4":
                        $style = "label label-warning";
                        break;
                    case "5":
                        $style = "label label-primary";
                        break;
                    case "6":
                        $style = "label label-danger";
                        break;
                    default :
                        $style = "label label-default";
                }
                ?>
                <tr>
                    <td class=""> <?php echo $creditNote->invoiceReturnCode; ?></td>
                    <td class=""> <?php echo $creditNote->customerName . "-" . $creditNote->customerCode; ?></td>
                    <td class=""> <?php echo $creditNote->invoiceReturnDate; ?></td>
                    <td class="text-center"><span class="<?php echo $style; ?>"><?php echo $state; ?></span></td>
                    <td class="text-right"><?php echo $currencySymbol . ' ' . number_format($creditNote->invoiceReturnTotal / $currencyRate, 2); ?></td>
                    <td class="text-right">
                        <span class="preview link_color" style="cursor:pointer" data-href="<?php echo $this->url('invoice-return', array('action' => 'viewInvoiceReturnReceipt', 'param1' => $creditNote->invoiceReturnID)); ?>">
                            <span id="<?php echo $creditNote->invoiceReturnID; ?>" class="glyphicon glyphicon-eye-open openlist"></span>
                        </span>
                    </td>
                    <td class="text-center">
                        <?php if ($status != 4 && $status != 5) { ?>
                            <a class="deleteCreditNote" data-invoiceReturnID="<?php echo $creditNote->invoiceReturnID; ?>"><span class="pointer fa fa-trash-o custom_font_size"></span></a>
                        <?php } ?>
                    </td>
                <?php } if (count($this->invoiceReturn) == 0) {
                    ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
            <?php }
            ?>
        </tbody>
    </table>
</div>
