<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
var locationID = <?php echo $this->locationID ?>;
<?php $this->headScript()->captureEnd() ?>
<?php $this->headScript()->appendFile($this->basePath('js/invoice/view-invoice-return.js')); ?>

<div class='well clearfix well_custom_padding margin_top xs_view'><!--get_Credit_Note-->

    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <label class="remove_weight margin_bottom_normal_low"><?php echo $this->translate('Search Credit Notes') ?></label>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
        <select id="invoice-return-search-select" class=" form-control">
            <option value="Invoice Return No"><?php echo $this->translate('Invoice Return No') ?></option>
            <option value="Customer Name"><?php echo $this->translate('Customer Name') ?></option>
        </select>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-3">
        <select class="form-control selectpicker show-tick"  id="invoice-return-search" name="invoice-return-search" data-live-search="true">
            <option value=""><?php echo $this->translate("Select Invoice Return No"); ?></option>
        </select>
        <select class="form-control selectpicker show-tick" id="invoice-return-custa-search" name="invoice-return-custa-search" data-live-search="true">
            <option value=""><?php echo $this->translate("Select Customer Name") ?></option>
        </select>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2">
        <input type="text" style="" class="span2 datepicker form-control" id="from-date" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('From') ?>">
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2">
        <input type="text" style="" class="span2 datepicker form-control" id="to-date" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('To') ?>">
    </div>

    <div class="col-lg-1 col-md-3 col-sm-1">
        <button class="btn btn-primary" id="filter-button"><?php echo $this->translate('GO') ?></button>
    </div>
</div><!--well-->


<!--table-->
<div class="margin_top">
    <div class="table table-responsive">

        <div id="invoice-return-list">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class=""><?php echo $this->translate('Invoice Return No') ?></th>
                        <th class=""><?php echo $this->translate('Customer Name') ?></th>
                        <th class=""><?php echo $this->translate('Invoice Return Date') ?></th>
                        <th class="text-center"><?php echo $this->translate('Status') ?></th>
                        <th class="text-right"><?php echo $this->translate('Total Amount') ?></th>
                        <th class="text-right"><?php echo $this->translate('Print View') ?></th>
                        <th class="text-center"><?php echo $this->translate('Cancel') ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php
                    foreach ($this->creditNote as $key => $creditNote) {
                        if ($creditNote->creditNoteCustomCurrencyRate == 0) {
                            $currencyRate = 1;
                        } else {
                            $currencyRate = $creditNote->creditNoteCustomCurrencyRate;
                        }
                        if (isset($creditNote->currencySymbol)) {
                            $currencySymbol = $creditNote->currencySymbol;
                        } else {
                            $currencySymbol = $this->companyCurrencySymbol;
                        }
                        $state = ucfirst($this->statuses[$creditNote->statusID]);
                        $status = $creditNote->statusID;
                        switch ($status) {
                            case "1":
                                $style = "label label-primary";
                                break;
                            case "2":
                                $style = "label label-default";
                                break;
                            case "3":
                                $style = "label label-success";
                                break;
                            case "4":
                                $style = "label label-warning";
                                break;
                            case "5":
                                $style = "label label-primary";
                                break;
                            case "6":
                                $style = "label label-danger";
                                break;
                            default :
                                $style = "label label-default";
                        }
                        ?>
                        <tr>
                            <td class=""> <?php echo $creditNote->invoiceReturnCode; ?></td>
                            <td class=""> <?php echo $creditNote->customerName . "-" . $creditNote->customerCode; ?></td>
                            <td class=""> <?php echo $creditNote->invoiceReturnDate; ?></td>
                            <td class="text-center"><span class="<?php echo $style; ?>"><?php echo $state; ?></span></td>
                            <td class="text-right"> <?php echo $currencySymbol . ' ' . number_format($creditNote->invoiceReturnTotal / $currencyRate, 2); ?></td>
                            <td class="text-right">
                                <span class="preview link_color" style="cursor:pointer" data-href="<?php echo $this->url('invoice-return', array('action' => 'viewInvoiceReturnReceipt', 'param1' => $creditNote->invoiceReturnID)); ?>">
                                    <span id="<?php echo $creditNote->invoiceReturnID; ?>" class="glyphicon glyphicon-eye-open openlist"></span>
                                </span>
                            </td>
                            <td class="text-center">
                                <?php if ($status != 4 && $status != 5) { ?>
                                    <a class="deleteInvoiceReturn" data-invoiceReturnID="<?php echo $creditNote->invoiceReturnID; ?>"><span class="pointer fa fa-trash-o custom_font_size"></span></a>
                                <?php } ?>
                            </td>
                           <!--  <td class="text-center">
                                <span id="<?php echo $creditNote->invoiceReturnID; ?>" class="link_color cn_related_docs" data-cn-related-id="<?php echo $creditNote->creditNoteID; ?>" style="cursor:pointer"><span class="grnView glyphicon glyphicon-link"></span></span>
                            </td>
                            <td class="text-center">
                                <span id="<?php echo $creditNote->invoiceReturnID; ?>" class="link_color doc_attachments" data-cn-related-id="<?php echo $creditNote->creditNoteID; ?>" style="cursor:pointer"><span class="glyphicon glyphicon-paperclip"></span></span>
                            </td> -->
                            <?php
                        }
                        if (count($this->creditNote) == 0) {
                            ?>
                        <tr class="not_found">
                            <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                        </tr>
                    <?php }
                    ?>
                </tbody>
            </table>
            <?php
            echo $this->paginationControl(
                    $this->creditNote, 'sliding', array('partial/paginator.phtml', 'invoice-return'), array(
                'route' => 'invoice-return', 'action' => 'view'
                    )
            );
            ?>
        </div>

    </div><!--tabele_responsive-->
</div><!--margin_top-->

<div class="modal fade" id="addDocHistoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->docHistoryView; ?>
</div>
<div class="modal fade" id="DocumentViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->documentView; ?>
</div>
<div class="modal fade" id="viewAttachmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->attachmentsView; ?>
</div>