<div class="table-responsive">
    <div id="product-list" class="form-horizontal clearfix margin_bottom">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><?php echo $this->translate('Bom A/D Code') ?></th>
                    <th><?php echo $this->translate('Type') ?></th>
                    <th><?php echo $this->translate('Parent Item Name') ?></th>
                    <th><?php echo $this->translate('A/D Quantity') ?></th>
                    <th><?php echo $this->translate('A/D Discription') ?></th>
                </tr>
            </thead>
            <tbody>
                <?php
                foreach ($this->bomADList as $key => $bomAD) {
                    $bomAD = (object) $bomAD;
                    ?>

                    <tr>
                        <td><?php echo $bomAD->bomAssemblyDisassemblyReference; ?></td>
                        <td><?php echo $bomAD->bomAssemblyDisassemblyType; ?></td>
                        <td><?php echo $bomAD->productName; ?></td>
                        <td><?php echo $bomAD->bomAssemblyDisassemblyParentQuantity; ?></td>
                        <td><?php echo $bomAD->bomAssemblyDisassemblyComment; ?></td>
                    </tr>
                    <?php
                }
                if (count($this->bomADList) == 0) {
                    ?>
                    <tr class="not_found">
                        <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                    </tr>
                    <?php
                }
                ?>

            </tbody>
        </table>
    </div>
</div>

<!--pagination-->
<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->bomADList, 'sliding', array('partial/paginator.phtml', 'bom'), array(
        'route' => 'bom', 'action' => 'adList'
            )
    );
}
?>
