<div class="well well_heading margin_top">
    <h5 class="font_weight"><?php echo $this->translate('Bom Assembly Dissambley') ?> </h5>
</div>

<div class="well well_body margin_bottom">

    <input type="hidden" id="cdnUrl" value="<?php echo $this->cdn_url ?>">

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-lg-2 control-label"><?php echo $this->translate('A/D Reference') ?><font color="red"> *</font></label>
            <div class="col-lg-10" id="bom-ad-ref">
                <input type="text" id="bom-ad-reference" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label"><?php echo $this->translate('Select Type') ?></label>
            <div class="col-lg-10">
                <div class="radio">
                    <label>
                        <input type="radio" name="assembly" value="assembly" id="assembly-id">
                        <?php echo $this->translate("Assembly"); ?>
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="assembly" value="dissembly" id="dissambly-id">
                        <?php echo $this->translate("Dissembly"); ?>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label"><?php echo $this->translate('Parent Item') ?><font color="red"> *</font></label>
            <div class="col-lg-10">
                <select class="form-control" title="" id="bom_parent" name="bom_parent" data-live-search="true" data-locationID="<?php echo $this->currentLocation; ?>">
                    <option value=""><?php echo $this->translate('Select Bom Item') ?></option>
                </select>
            </div>
        </div>

        <div class="_row_with_margin clearfix sub-item-table hidden">
            <div class="col-lg-2">
                <lable><?php echo $this->translate('Sub items list') ?></lable>
            </div>
            <div class="col-lg-10">
                <div class="table table-responsive  ">
                    <table class="table" id="bom_sub_item_table">
                        <thead>
                            <tr>
                                <th style="width: 40%; padding-top: 0;" class=""><?php echo $this->translate('sub Item'); ?></th>
                                <th style="width: 30%; padding-top: 0;" class=""><?php echo $this->translate('Required Quantity'); ?></th>
                                <th style="width: 30%; padding-top: 0;" class=""><?php echo $this->translate('Available Quantity'); ?></th>
                            </tr>
                        </thead>
                        <tbody id="bom_sub_item_body">
                            <tr id="sample_data_set" class="hidden">
                                <td><input class="form-control sub-item"></td>
                                <td><input type="text" class="form-control bom_sub_item_quo"></td>
                                <td><input type="text" class="form-control product-available-quo"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="bom-assembley-user-data hidden">
            <div class="form-group">
                <label class="col-lg-2 control-label"><?php echo $this->translate('Max Quantity') ?></label>
                <div class="col-lg-10" id="bom-ad-max-quo">
                    <input type="text" id="bom-ad-max-quantity" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label"><?php echo $this->translate('Need Quantity') ?><font color="red"> *</font></label>
                <div class="col-lg-10" id="bom-ad-quo">
                    <input type="text" id="bom-ad-quantity" class="form-control">
                </div>
            </div>
        </div>

        <div class="bom-dissembley-user-data hidden">
            <div class="form-group">
                <label class="col-lg-2 control-label"><?php echo $this->translate('Available Quantity') ?></label>
                <div class="col-lg-10"  id="bom-ad-avail-quo">
                    <input type="text" id="bom-ad-avail-quantity" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label"><?php echo $this->translate('Need Quantity') ?><font color="red"> *</font></label>
                <div class="col-lg-10"  id="bom-ad-need-quo">
                    <input type="text" id="bom-ad-need-quantity" class="form-control">
                </div>
            </div>
        </div>

        <!--comments-->
        <div class="form-group">
            <label class="col-lg-2 control-label"><?php echo $this->translate('Comments') ?></label>
            <div class="col-lg-10"  id="bom-ad-com">
                <textarea class="form-control" id="bom-ad-comments"></textarea>
            </div>
        </div>

        <!--button-->
        <div class="_row_with_margin clearfix">
            <div class="col-lg-12 text-right margin_top_normal">
                <input type="button" class="btn btn-primary submit-bom-ad make-full-width" id="save-assembly" value="Assembly">
                <input type="button" class="btn btn-primary submit-bom-ad hidden make-full-width" id="save-disambly" value="Dissembly">
            </div>
        </div>

    </div><!--form-horizontal-->


    <!--form_close_tag-->
    <?php
    echo $this->form()->closeTag($form);
    ?>

</div><!--well_body-->
