<?php
$form = $this->bomForm;
$form->setAttribute('id', 'create-bom-form');
?>

<div class="well well_heading margin_top">
    <h5 class="font_weight"><?php echo $this->translate('Bom Item Create') ?> </h5>
</div>

<div class="well well_body product-form">
    <input type="hidden" id="cdnUrl" value="<?php echo $this->cdn_url ?>">

    <!--form_open_tag-->
    <?php
    $form->prepare();
    echo $this->form()->openTag($form);
    echo $this->formHidden($form->get('BOMID'));
    ?>

    <!--product_code-->
    <div class="form-group">
        <label class="col-lg-2 control-label"><?php echo $this->translate('Item Code') ?><font color="red"> *</font>
            <a class="help_icon_js" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="top" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('INVENTORY_ITEM_ADD_CODE') ?>">
                <i class="fa fa-question-circle help_icon"></i>
            </a>
        </label>
        <div class="col-lg-10">
            <?php echo $this->formRow($form->get('BomRef')); ?>
        </div>
    </div>

    <!--product_name-->
    <div class="form-group">
        <label class="col-lg-2 control-label"><?php echo $this->translate('Item Name') ?><font color="red"> *</font></label>
        <div class="col-lg-10">
            <?php echo $this->formRow($form->get('BOMName')); ?>
        </div>
    </div>
    
    <!--product_category-->
    <div class="form-group">
        <label class="col-lg-2 control-label"><?php echo $this->translate('Item Category') ?><font color="red"> *</font></label>
        <div class="col-lg-10">
            <div class="input-group-btn">
                <?php echo $this->formRow($this->categoryForm->get('categoryParentID')); ?>
            </div>
        </div>
    </div>

    <!--Description-->
    <div class="form-group">
        <label class="col-lg-2 control-label"><?php echo $this->translate('Description') ?></label>
        <div class="col-lg-10">
            <?php echo $this->formRow($form->get('productDescription')); ?>
        </div>
    </div>

    <hr class="" />

    <div class="form-group"><!--unit_of_measure-->
        <label class="col-lg-2 control-label"><?php echo $this->translate('Unit of Measure') ?><font color="red"> *</font></label>
        <div class="col-lg-10">
            <input type="hidden" id="defaultUomID" value="<?php echo $this->defaultUom ?>">
            <div class="alert alert-info uom-alert"><?php echo $this->translate('Note: When adding multiple Units of Measurement (UoMs), the base UoM is always the smallest, and the rest are multiples of the Base UoM.') ?></div>
            <?php echo $this->partial('inventory/product/add-uom', array('uoms' => $this->uomList, 'productUoms' => $this->productUoms, 'editMode' => $this->editMode)); ?>
        </div>
    </div>

    <!--ReorderLevel-->
    <div class="form-group">
        <label class="col-lg-2 control-label"><?php echo $this->translate('Location') ?></label>
        <div class="col-lg-10">
            <div class="row">
                <div class="radio">
                    <input type="radio" <?php if (!isset($this->productDetails['productGlobalProduct'])) { ?>checked="checked"<?php } ?> name="productGlobalProduct" id="globalItem" <?php
                    if ((isset($this->productDetails['productGlobalProduct'])) || $this->productDetails['productGlobalProduct'] == 1) {
                        echo 'checked';
                        ?>
                               disabled="true"
                           <?php } ?> value="1" />
                    <label for="globalItem"><?php echo $this->translate('Global Item') ?></label>
                </div>
            </div>
            <div class="row">
                <div class="radio">
                    <input type="radio" name="productGlobalProduct" id="locationItem" <?php if ((isset($this->productDetails['productGlobalProduct']))) { ?>
                               disabled="true"
                               <?php
                               if ($this->productDetails['productGlobalProduct'] == 0) {
                                   echo 'checked';
                               }
                           }
                           ?>  value="0" />
                    <label for="locationItem"><?php echo $this->translate('Location Item') ?></label>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group" id="itemLocations" data-current-location-id="<?php echo $this->currentLocationID ?>">
        <div class="col-lg-2"></div>
        <div class="col-lg-10">
            <table class="product-location-table table table-striped table-condensed">
                <thead>
                    <tr>
                        <th><?php echo $this->translate('Location') ?></th>
                        <th><?php echo $this->translate('Active') ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($this->location as $key => $location) { ?>
                        <tr>
                            <td><label for="locationSel<?php echo $key; ?>"><small><?php echo $location ?></small></label></td>
                            <td>
                                <?php
                                if ($form->get('location' . $key)->getValue() != null) {
                                    $form->get('location' . $key)->setAttributes(array('disabled' => true));
                                };
                                echo $this->formRow($form->get('location' . $key));
                                ?>
                            </td>
                        </tr>
                    <?php } ?>
                </tbody>
            </table>
        </div>
    </div>

    <div class="form-group" id="itemJournalEntryState">
        <div class="col-lg-12">
            <label><?php echo $this->translate('Post Journal Entries Sub Item Wise')?></label>
            <input style="margin-left: 22px;" type='checkBox' id='jeState'>
            <!-- <div>
            </div> -->
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-2">
            <label class="control-label"><?php echo $this->translate('Add Sub Items') ?></label>
        </div>
        <div class="col-lg-10">
            <div class="table table-responsive">
                <table class="table" id="bom_sub_item_table">
                    <thead>
                        <tr>
                            <th style="width: 25%" class=""><?php echo $this->translate('Sub Item'); ?></th>
                            <th style="width: 20%" class=""><?php echo $this->translate('Quantity'); ?></th>
                            <th style="width: 20%" class=""><?php echo $this->translate('Unit Price'); ?></th>
                            <th style="width: 20%" class="text-right"><?php echo $this->translate('Total Sub Item Price'); ?></th>
                            <th style="width: 5%" class=""></th>
                            <th style="width: 5%" class=""></th>
                            <th style="width: 5%" class=""></th>
                        </tr>
                    </thead>

                    <tbody id="bom_sub_item_body">
                        <tr id="sample_data_set" class="hidden">
                            <td>
                                <select class="form-control  bom_item" title=""  data-id="" data-live-search="true">
                                    <option value=""><?php echo $this->translate('Select Sub Item') ?></option>
                                </select>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" id="bom_sub_item_quo" class="form-control">
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" id="bom_sub_item_unitPrice" class="form-control">
                                </div>
                            </td>
                            <td class="text-right">
                                <label id="bom_sub_item_Total"><?php echo $this->translate('0.00') ?></label>
                            </td>
                            <td class="text-center add_button">
                                <button type="button" class="btn btn-default" id="addSubItem">
                                    <i class="fa fa-plus remove_font_weight"></i>
                                </button>
                            </td>
                            <td class="text-center hidden edit_button">
                                <button  id="edit_bom_sub_item" type="button" class="btn btn-default edit_bom_record">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </button>
                            </td>
                            <td class="text-center hidden save_button">
                                <button  id="save_bom_sub_item" type="button" class="btn btn-default save_bom_record">
                                    <i class="glyphicon glyphicon-floppy-disk"></i>
                                </button>
                            </td>
                            <td class="text-center hidden delete_button">
                                <button  id="remove_bom_sub_item" type="button" class="btn btn-default remove_bom_record">
                                    <i class="glyphicon glyphicon-minus"></i>
                                </button>
                            </td>
                        </tr>

                        <tr id="bom_sub_item_1">
                            <td class="">
                                <select class="form-control  bom_item" title=""  id="bom_item_1" name="bom_item_1" data-live-search="true">
                                    <option value=""><?php echo $this->translate('Select Sub Item') ?></option>
                                </select>
                            </td>
                            <td class="">
                                <div class="input-group">
                                    <input type="text" id="bom_sub_item_quo" class="form-control">
                                </div>
                            </td>
                            <td class="">
                                <div class="input-group">
                                    <input type="text" id="bom_sub_item_unitPrice" class="form-control">
                                </div>
                            </td>
                            <td class="text-right">
                                <label id="bom_sub_item_Total"><?php echo $this->translate('0.00') ?></label>
                            </td>
                            <td class="text-center add_button">
                                <button type="button" class="btn btn-default" id="addSubItem">
                                    <i class="fa fa-plus remove_font_weight"></i>
                                </button>
                            </td>
                            <td class="text-center hidden edit_button">
                                <button  id="edit_bom_sub_item" type="button" class="btn btn-default edit_bom_record">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </button>
                            </td>
                            <td class="text-center hidden save_button">
                                <button  id="save_bom_sub_item" type="button" class="btn btn-default save_bom_record">
                                    <i class="glyphicon glyphicon-floppy-disk"></i>
                                </button>
                            </td>
                            <td class="text-center hidden delete_button">
                                <button  id="remove_bom_sub_item" type="button" class="btn btn-default remove_bom_record">
                                    <i class="glyphicon glyphicon-minus"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr>
                            <td colspan="3"><h4><?php echo $this->translate('Total'); ?></h4></td>
                            <td id='total-val' class="text-right"><h4><?php echo $this->translate('0.00'); ?></h4></td>
                            <td colspan="2"></td>
                        </tr>
                    </tfoot>

                </table>
            </div>
        </div>
    </div>

    <div class="text-right">
        <input type="button" class="btn btn-primary make-full-width" id="save_bom" value="Save">
    </div>

    <!--form_close_tag-->
    <?php
    echo $this->form()->closeTag($form);
    ?>

</div>
