<?php
$form = $this->bomForm;

$form->setAttribute('id', 'update-bom-form');
?>

<div class="well well_heading margin_top">
    <h5 class="font_weight"><?php echo $this->translate('Bom Item Update') ?> </h5>
</div>

<div class="form-horizontal well well_body product-form">
    <input type="hidden" id="cdnUrl" value="<?php echo $this->cdn_url ?>">

    <!--form_open_tag-->
    <?php
    $form->prepare();
    echo $this->form()->openTag($form);
    echo $this->formHidden($form->get('BOMID'));
    ?>

    <!--product_code-->
    <div class="form-group">
        <label class="col-lg-2 control-label"><?php echo $this->translate('Item Code') ?><font color="red"> *</font>
            <a class="help_icon_js" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="top" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('INVENTORY_ITEM_ADD_CODE') ?>">
                <i class="fa fa-question-circle help_icon"></i>
            </a>
        </label>
        <div class="col-lg-10 bom-ref" data-bomid="<?php echo $this->bomID ?>" data-proid="<?php echo $this->productID ?>">
            <?php echo $this->formRow($form->get('BomRef')); ?>
        </div>
    </div>

    <!--product_name-->
    <div class="form-group">
        <label class="col-lg-2 control-label"><?php echo $this->translate('Item Name') ?><font color="red"> *</font></label>
        <div class="col-lg-10">
            <?php echo $this->formRow($form->get('BOMName')); ?>
        </div>
    </div>
    
    <!--product_category-->
    <div class="form-group">
        <label class="col-lg-2 control-label"><?php echo $this->translate('Item Category') ?><font color="red"> *</font></label>
        <div class="col-lg-10">
            <div class="input-group-btn">
                <?php echo $this->formRow($this->categoryForm->get('categoryParentID')); ?>
            </div>
        </div>
    </div>

    <!--Description-->
    <div class="form-group">
        <label class="col-lg-2 control-label"><?php echo $this->translate('Description') ?></label>
        <div class="col-lg-10">
            <?php echo $this->formRow($form->get('productDescription')); ?>
        </div>
    </div>

    <div class="form-group" id="itemLocations" data-current-location-id="<?php echo $this->currentLocationID ?>"></div>

    <hr />

    <div class="form-group">
        <div class="col-lg-2">
            <lable class="control-label"><?php echo $this->translate('Add Sub Items') ?></lable>
        </div>

        <div class="col-lg-10">
            <div class="table table-condensed table-responsive">
                <table class="table _custom-table-heading" id="bom_sub_item_table">
                    <thead>
                        <tr>
                            <th style="width: 24%"><?php echo $this->translate('Sub Item'); ?></th>
                            <th style="width: 20%"><?php echo $this->translate('Quantity'); ?></th>
                            <th style="width: 20%"><?php echo $this->translate('Unit Price'); ?></th>
                            <th style="width: 20%" class="text-right"><?php echo $this->translate('Total Sub Item Price'); ?></th>
                            <th style="width: 8%"></th>
                            <th style="width: 8%"></th>
                        </tr>
                    </thead>

                    <tbody id="bom_sub_item_body">
                        <tr id="sample_data_set" class="hidden">
                            <td>
                                <select class="form-control  bom_item" title=""  data-id="" data-live-search="true">
                                    <option value=""><?php echo $this->translate('Select Sub Item') ?></option>
                                </select>
                            </td>
                            <td>
                                <div class="input-group sub-item-quo-div-orig">
                                    <input type="text" id="bom_sub_item_quo" class="form-control">
                                </div>
                                <div class="hidden sub-item-quo-div-fake">
                                    <input type="text" value="" class="form-control sub-item-quo-fake" disabled="true">
                                </div>
                            </td>
                            <td>
                                <div class="input-group sub-item-unit-div-orig">
                                    <input type="text" id="bom_sub_item_unitPrice" class="form-control">
                                </div>
                                <div class="hidden sub-item-unit-div-fake">
                                    <input type="text" value="" class="form-control sub-item-unit-fake" disabled="true">
                                </div>
                            </td>
                            <td class="text-right">
                                <label id="bom_sub_item_Total"><?php echo $this->translate('0.00') ?></label>
                            </td>
                            <td class="text-center add_button">
                                <button type="button" class="btn btn-default edit_bom_new_sub" id="addSubItem">
                                    <i class="fa fa-plus remove_font_weight"></i>
                                </button>
                            </td>
                            <td class="text-center hidden delete_button">
                                <button  id="remove_edit_bom_sub_item" type="button" class="btn btn-default remove-exits-sub-item edit">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>

                        <?php
                        if (count($this->bomSubItem) > 0) {
                            $count = 1;
                            $totalCost = 0;
                            foreach ($this->bomSubItem as $bomSub) {
                                $totalCost = $bomSub['bomTotalCost'];
                                ?>
                                <tr id="bom_Exist_sub_item_<?php echo $count; ?>" class="edit-bom added">
                                    <td>
                                        <input type="text" class="form-control  sub-item-name" data-proid="<?php echo $bomSub['productID']; ?>" value="<?php echo $bomSub['productName']; ?>" disabled="true">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control sub-item-quo" data-uomConVal="<?php echo $bomSub['productUomConversion']; ?>" value="<?php echo $bomSub['bomSubItemQuantity']; ?>" disabled="true">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control sub-item-price" value="<?php echo number_format(($bomSub['bomSubItemUnitPrice']) ? $bomSub['bomSubItemUnitPrice'] : 0, 2); ?>" disabled="true">
                                    </td>
                                    <td class="text-right">
                                        <label id="bom_sub_item_Total" ><?php echo number_format(($bomSub['bomSubItemCost']) ? $bomSub['bomSubItemCost'] : 0, 2) ?></label>
                                    </td>
                                    <td class="text-center add_button hidden">
                                        <button type="button" class="btn btn-default add-exits-sub-item">
                                            <i class="fa fa-plus remove_font_weight"></i>
                                        </button>
                                    </td>
                                    <td class="text-center delete_button">
                                        <button  type="button" class="btn btn-default remove-exits-sub-item edit">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </td>
                                    <td class="text-center edit_button">
                                        <button  type="button" class="btn btn-default edit-exits-sub-item edit">
                                            <i class="fa fa-pencil-square-o custom_font_size"></i>
                                        </button>
                                    </td>
                                </tr>
                                <?php
                                $count++;
                            }
                        }
                        ?>

                        <tr id="bom_sub_item_1">
                            <td>
                                <select class="form-control bom_item edit-bom-new-item" title=""  id="bom_item_1" name="bom_item_1" data-live-search="true">
                                    <option value=""><?php echo $this->translate('Select Sub Item') ?></option>
                                </select>
                            </td>
                            <td>
                                <div class="input-group sub-item-quo-div-orig">
                                    <input type="text" id="bom_sub_item_quo" class="form-control">
                                </div>
                                <div class="hidden sub-item-quo-div-fake">
                                    <input type="text" value="" class="form-control sub-item-quo-fake" disabled="true">
                                </div>
                            </td>
                            <td>
                                <div class="input-group sub-item-unit-div-orig">
                                    <input type="text" id="bom_sub_item_unitPrice" class="form-control">
                                </div>
                                <div class="hidden sub-item-unit-div-fake">
                                    <input type="text" value="" class="form-control sub-item-unit-fake" disabled="true">
                                </div>
                            </td>
                            <td class="text-right">
                                <label id="bom_sub_item_Total"><?php echo $this->translate('0.00') ?></label>
                            </td>
                            <td class="text-center add_button">
                                <button type="button" class="btn btn-default edit_bom_new_sub" id="addSubItem">
                                    <i class="fa fa-plus remove_font_weight"></i>
                                </button>
                            </td>
                            <td class="text-center hidden delete_button">
                                <button  id="remove_edit_bom_sub_item" type="button" class="btn btn-default remove-exits-sub-item edit">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr>
                            <td colspan="3"><h4><?php echo $this->translate('Total'); ?></h4></td>
                            <td id='total-val' class="text-right" data-costVal="<?php echo $totalCost; ?>"><h4><?php echo number_format($totalCost, 2); ?></h4></td>
                            <td colspan="2"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div><!--form-group-->

    <div class="text-right">
        <input type="button" class="btn btn-primary make-full-width" id="update_bom" value="Update">
    </div>

    <!--form_close_tag-->
    <?php
    echo $this->form()->closeTag($form);
    ?>
</div>
<!--</div>row-->
