<div class="table-responsive">
    <div id="product-list" class="form-horizontal clearfix margin_bottom">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><?php echo $this->translate('Bom Code') ?></th>
                    <th><?php echo $this->translate('Bom Name') ?></th>
                    <th><?php echo $this->translate('Bom Discription') ?></th>
                    <th><?php echo $this->translate('Bom Total Cost') ?></th>
                    <th><?php echo $this->translate('UOM') ?></th>
                    <th class="edit text-center" width="10%"><?php echo $this->translate('View') ?></th>
                    <th class="edit text-center" width="10%"><?php echo $this->translate('Edit') ?></th>
                    <th class="text-center" width="10%"><?php echo $this->translate('Delete') ?></th>
                </tr>
            </thead>
            <tbody>
                <?php
                foreach ($this->bomList as $key => $bom) {
                    $bom = (object) $bom;
                    ?>

                    <tr>
                        <td><?php echo $bom->bomCode; ?></td>
                        <td><?php echo $bom->productName; ?></td>
                        <td><?php echo $bom->bomDiscription; ?></td>
                        <td><?php echo number_format($bom->bomTotalCost, 2); ?></td>
                        <td><?php echo $bom->uomName; ?></td>
                        <td id="view-bom" class="text-center">
                            <a href="<?php echo $this->url('bom', array('action' => 'view', 'param1' => $bom->bomID)); ?>">
                                <span class="glyphicon glyphicon-zoom-in custom_font_size"></span>
                            </a>
                        </td>
                        <td id="edit-bom" class="text-center">
                            <a href="<?php echo $this->url('bom', array('action' => 'edit', 'param1' => $bom->bomID)); ?>">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                        </td>
                        <td class="text-center">
                            <button class="inac btn btn-link inline-btn" onclick="deleteBom(<?php echo $bom->productID; ?>);
                                    return false;" >
                                <span class="glyphicon glyphicon-trash custom_font_size"></span>
                            </button>
                        </td>
                    </tr>
                    <?php
                }
                if (count($this->bomList) == 0) {
                    ?>
                    <tr class="not_found">
                        <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                    </tr>
                    <?php
                }
                ?>

            </tbody>
        </table>
    </div>
</div>

<!--pagination-->
<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->bomList, 'sliding', array('partial/paginator.phtml', 'bom'), array(
        'route' => 'bom', 'action' => 'list'
            )
    );
}
?>
