<div class="well well_heading margin_top">
    <h5 class="font_weight"><?php echo $this->translate('Bom Item View') ?> </h5>
</div>

<div class="form-horizontal well well_body margin_bottom product-form">
    <input type="hidden" id="cdnUrl" value="<?php echo $this->cdn_url ?>">

    <!--product_code-->
    <div class="form-group">
        <label class="col-lg-3 col-md-3 control-label _remove_padding_top"><?php echo $this->translate('Item Code') ?></label>
        <div class="col-lg-6 col-md-6" data-id="<?php echo $this->bomDetails['bomID'] ?>" id="bm-code">
            <?php
            echo $this->bomDetails['bomCode'];
            ?>
        </div>
    </div>

    <div class="form-group"><!--product_name-->
        <label class="col-lg-3 col-md-3 control-label _remove_padding_top"><?php echo $this->translate('Item Name') ?></label>
        <div class="col-lg-6 col-md-6">
            <?php
            echo $this->bomDetails['productName'];
            ?>
        </div>
    </div>
    
    <div class="form-group"><!--product_name-->
        <label class="col-lg-3 col-md-3 control-label _remove_padding_top"><?php echo $this->translate('Item Category') ?></label>
        <div class="col-lg-6 col-md-6">
            <?php
            echo $this->bomDetails['productCategory'];
            ?>
        </div>
    </div>

    <div class="form-group"><!--Description-->
        <label class="col-lg-3 col-md-3 control-label _remove_padding_top"><?php echo $this->translate('Description') ?></label>
        <div class="col-lg-6 col-md-6">
            <?php echo $this->bomDetails['bomDiscription']; ?>
        </div>
    </div>
    <div class="form-group"><!--UOM-->
        <label class="col-lg-3 col-md-3 control-label _remove_padding_top"><?php echo $this->translate('Base Unit') ?></label>
        <div class="col-lg-6 col-md-6">
            <?php echo $this->bomDetails['uomName']; ?>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-3 col-md-3"><?php echo $this->translate('Sub items list') ?></label>
        <div class="col-lg-8 col-md-9">
            <div class="table table-responsive">
                <table class="table _custom-table-heading" id="bom_sub_item_table">
                    <thead>
                        <tr>
                            <th><?php echo $this->translate('sub Item'); ?></th>
                            <th><?php echo $this->translate('quantity'); ?></th>
                            <th><?php echo $this->translate('unit Price'); ?></th>
                            <th class="text-right"><?php echo $this->translate('Total Sub Item Price'); ?></th>
                        </tr>
                    </thead>

                    <tbody id="bom_sub_item_body">
                        <?php
                        if (count($this->bomSubItem) > 0) {
                            foreach ($this->bomSubItem as $bomSub) {
                                ?>
                                <tr id="data_set_<?php echo $bomSub['bomSubItemID']; ?>" class="">
                                    <td id="sub-item">
                                        <?php echo $bomSub['productName']; ?>
                                    </td>
                                    <td id="bom_sub_item_quo">
                                        <?php echo $bomSub['bomSubItemQuantity']; ?>
                                    </td>
                                    <td id="bom_sub_item_unitPrice">
                                        <?php echo ($bomSub['bomSubItemUnitPrice']) ? number_format($bomSub['bomSubItemUnitPrice'], 2) : $this->translate('0.00') ?>
                                    </td>
                                    <td id="bom_sub_item_Total" class="text-right">
                                        <?php echo ($bomSub['bomSubItemCost']) ? number_format($bomSub['bomSubItemCost'], 2) : $this->translate('0.00') ?>
                                    </td>
                                </tr>
                                <?php
                            }
                        }
                        ?>
                    </tbody>

                    <tfoot class="margin_top">
                        <tr>
                            <td colspan="3"><h4><?php echo $this->translate('Total'); ?></h4></td>
                            <td id='total-val' class="text-right">
                                <h4><?php echo number_format($this->bomDetails['bomTotalCost'], 2) ?></h4>
                            </td>
                        </tr>
                    </tfoot>

                </table>
            </div>
        </div>
    </div>

    <div class="_row_with_margin clearfix">
        <div class="col-lg-11 text-right margin_top">
            <input type="button" class="btn btn-default make-full-width" id="back-bom-list" value="Back">
        </div>
    </div>

    <!--form_close_tag-->
    <?php
    echo $this->form()->closeTag($form);
    ?>

</div>
