<div class="modal-dialog">
	<div class="modal-content">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4><?php echo $this->translate('Create Account') ?></h4>
		</div>

		<div class="modal-body">

			<?php
			$form = $this->financeAccountsForm;
			$form->setAttribute('id', 'create-finance-accounts-form');

			$form->prepare();
			echo $this->form()->openTag($form);
			echo $this->formHidden($form->get('financeAccountsID'));
			echo $this->formHidden($form->get('entityID'));
			?>

			<!--finanace accounts class id-->
			<div class="form-group">
				<div class="col-lg-3">
					<label class="control-label label_bottom_margin" for="financeAccountClassID"><?php echo $this->translate('Account Class')?><font color="red"> *</font></label>
				</div>
				<div class="col-lg-9">
					<?php echo $this->formRow($form->get('financeAccountClassID')); ?>
				</div>
			</div>

			<!--finance accounts code-->
			<div class="form-group">
				<div class="col-lg-3">
					<label class="control-label label_bottom_margin" for="financeAccountsCode"><?php echo $this->translate('Account Code') ?><font color="red"> *</font></label>
				</div>
				<div class="col-lg-9">
					<?php echo $this->formRow($form->get('financeAccountsCode')); ?>
				</div>
			</div>

			<!--finance accounts name-->
			<div class="form-group">
				<div class="col-lg-3">
					<label class="control-label label_bottom_margin" for="financeAccountsName"><?php echo $this->translate('Account Name') ?><font color="red"> *</font></label>
				</div>
				<div class="col-lg-9">
					<?php echo $this->formRow($form->get('financeAccountsName')); ?>
				</div>
			</div>

			<!--finance accounts Parent-->
			<div class="form-group">
				<div class="col-lg-3">
					<label class="control-label label_bottom_margin" for="financeAccountsParentID"><?php echo $this->translate('Parent Account') ?></label>
				</div>
				<div class="col-lg-9">
					<?php echo $this->formRow($form->get('financeAccountsParentID')); ?>
				</div>
			</div>

			<!--finance accounts Status-->
			<div class="form-group">
				<div class="col-lg-3">
					<label class="control-label label_bottom_margin" for="financeAccountStatusID"><?php echo $this->translate('Account Status') ?></label>
				</div>
				<div class="col-lg-9">
					<?php echo $this->formRow($form->get('financeAccountStatusID')); ?>
				</div>
			</div>

		</div>
		<div class="modal-footer">
			<?php echo $this->formRow($form->get('createFinanceAccounts')); ?>
			<?php echo $this->formRow($form->get('cancelFinanceAccounts')); ?>
        </div>
		</div>
		<?php
			echo $this->form()->closeTag($form);
		?>
	</div>
</div>
