<?php $statuse = $this->statuses;?>
<div class="chart-of-accounts-form-container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th class=""><?php echo $this->translate('Account Class') ?></th>
				<th>
                    <label style="margin-bottom: 0;">
                        <input type="checkbox" class="collapseAllAccounts"> <?php echo $this->translate('Expand All') ?>
                    </label>
                </th>
				<th class=""><?php echo $this->translate('Account Code') ?></th>
				<th class=""><?php echo $this->translate('Account Name') ?></th>
				<th class=""><?php echo $this->translate('Account Type') ?></th>
				<th class=""><?php echo $this->translate('Account Status') ?></th>
				<th></th>
			</tr>
		</thead>

		<tbody class='chartOfAccountBody'>
			<?php foreach ($this->financeAccounts as $key => $fAccounts) { ?>
				<tr id="<?php echo  $fAccounts['financeAccountClassID']?>" >
					<td> <?php echo  $fAccounts['financeAccountClassName']?> </td>
					<td class="text-center"><span class="glyphicon glyphicon-chevron-down link_color financeAccountClass" style="cursor:pointer;" ></span></td>
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td><span class="glyphicon glyphicon-plus link_color addFinanceAccount" style="cursor:pointer;"></span></td>
				</tr>
				<?php if(isset($fAccounts['financeAccounts'][0]['child'])){
					$level = 1;
					getChildAccounts($fAccounts['financeAccounts'][0]['child'],$statuse,$fAccounts['financeAccountTypesName'],$level);
				}
			}
			?>
		</tbody>
	</table>
</div>

<?php function getChildAccounts($dataArray,$statuse,$accountsTypesName,$level){
	foreach ($dataArray as $value) {?>
		<tr class="hidden collapsAll <?php echo ($value['data']->financeAccountsParentID ==0 )? "class_".$value['data']->financeAccountClassID : $value['data']->financeAccountsParentID ?>" id="<?php echo  $value['data']->financeAccountsID ?>" data-classid="<?php echo $value['data']->financeAccountClassID ?>" data-autotrigger="false" >
			<td></td>
			<td></td>
			<td><?php echo str_repeat('&nbsp;', 2*$level).$value['data']->financeAccountsCode;
				if(isset($value['child'])){?>
					<span class="glyphicon glyphicon-chevron-down link_color financeAccountChild" style="cursor:pointer;" ></span>
				<?php }?>
			</td>
			<td><?php echo $value['data']->financeAccountsName ?></td>
			<td><?php echo $accountsTypesName ?></td>
			<td>
                <?php
                    // add label class according to the state
                    $state = $statuse[$value['data']->financeAccountStatusID];
                    $labelState = '';

                    switch ($state) {
                        case 'active':
                            $labelState = 'label-success';
                            break;

                        case 'inactive':
                            $labelState = 'label-default';
                            break;

                        case 'locked':
                            $labelState = 'label-danger';
                            break;
                    }

                    echo "<label class='label " . $labelState . "'>" . ucwords($state) . "</label>";
                ?>
            </td>
			<td></td>
		</tr>
		<?php if(isset($value['child'])){
				getChildAccounts($value['child'],$statuse,$accountsTypesName,$level+1);
		}
	}
} ?>

<div class="modal fade" id="addFinanceAccountsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->financeAccountsView; ?>
</div>