<div class="accounts-form-container margin_top">

    <div class="well well_heading">
        <h5><?php echo $this->translate('Create Accounts') ?></h5>
    </div>

    <div class="well well_body">

        <?php
        $form = $this->financeAccountsForm;
        $form->setAttribute('id', 'create-finance-accounts-form');

        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formHidden($form->get('financeAccountsID'));
        echo $this->formHidden($form->get('entityID'));
        echo $this->formHidden($form->get('fAccountsParentID'));
        ?>

        <!--finanace accounts class id-->
        <div class="form-group">
            <div class="col-lg-3">
                <label class="control-label label_bottom_margin" for="financeAccountClassID"><?php echo $this->translate('Account Class')?><font color="red"> *</font></label>
            </div>
            <div class="col-lg-6">
                <?php echo $this->formRow($form->get('financeAccountClassID')); ?>
            </div>
        </div>

        <!--finance accounts code-->
        <div class="form-group">
            <div class="col-lg-3">
                <label class="control-label label_bottom_margin" for="financeAccountsCode"><?php echo $this->translate('Account Code') ?><font color="red"> *</font></label>
            </div>
            <div class="col-lg-6">
                <?php echo $this->formRow($form->get('financeAccountsCode')); ?>
            </div>
        </div>

        <!--finance accounts name-->
        <div class="form-group">
            <div class="col-lg-3">
                <label class="control-label label_bottom_margin" for="financeAccountsName"><?php echo $this->translate('Account Name') ?><font color="red"> *</font></label>
            </div>
            <div class="col-lg-6">
                <?php echo $this->formRow($form->get('financeAccountsName')); ?>
            </div>
        </div>

        <!--finance accounts Parent-->
        <div class="form-group">
            <div class="col-lg-3">
                <label class="control-label label_bottom_margin" for="financeAccountsParentID"><?php echo $this->translate('Parent Account') ?></label>
            </div>
            <div class="col-lg-6">
                <?php echo $this->formRow($form->get('financeAccountsParentID')); ?>
            </div>
        </div>

        <!--finance accounts Status-->
        <div class="form-group">
            <div class="col-lg-3">
                <label class="control-label label_bottom_margin" for="financeAccountStatusID"><?php echo $this->translate('Account Status') ?></label>
            </div>
            <div class="col-lg-6">
                <?php echo $this->formRow($form->get('financeAccountStatusID')); ?>
            </div>
        </div>

        <!--reset&add-->
        <div class="form-group _remove_margin_bottom btn_wrapper">
            <div class="col-lg-6 col-lg-push-3 text-right">
                <?php echo $this->formRow($form->get('createFinanceAccounts')); ?>
                <?php echo $this->formRow($form->get('cancelFinanceAccounts')); ?>
            </div>
        </div>

        <?php
            echo $this->form()->closeTag($form);
        ?>

    </div><!--well-->
</div><!--finance_accounts_form_container-->