<div id="accounts-list">
	<table class="table table-striped">
		<thead>
			<tr>
				<th class=""><?php echo $this->translate('Account Code') ?></th>
				<th class=""><?php echo $this->translate('Account Name') ?></th>
				<th class=""><?php echo $this->translate('Parent Account') ?></th>
				<th class=""><?php echo $this->translate('Account Class') ?></th>
				<th class=""><?php echo $this->translate('Account Status') ?></th>
				<th class="text-center"><?php echo $this->translate('Edit') ?></th>
				<th class="text-center"><?php echo $this->translate('Delete') ?></th>
			</tr>
		</thead>
		<tbody>
			<?php
			foreach ($this->financeAccounts as $key => $accounts) {
				?>
				<tr>
					<td class=""> <?php echo $accounts->financeAccountsCode; ?></td>
					<td class=""> <?php echo $accounts->financeAccountsName; ?></td>
					<td class=""> <?php echo ($accounts->parentFinanceAccountsCode != '')? $accounts->parentFinanceAccountsCode."_".$accounts->parentFinanceAccountsName : '-'; ?></td>
					<td class=""> <?php echo $accounts->financeAccountClassName; ?></td>
					<td>
						<?php
							// add label class according to the state
                            $state = $this->statuses[$accounts->financeAccountStatusID];
                            $labelState = '';

                            switch ($state) {
                                case 'active':
                                    $labelState = 'label-success';
                                    break;

                                case 'inactive':
                                    $labelState = 'label-default';
                                    break;

                                case 'locked':
                                    $labelState = 'label-danger';
                                    break;
                            }

                            echo "<label class='label " . $labelState . "'>" . ucwords($state) . "</label>";
						?>
					</td>
					<td class="text-center">
						<a class="edits" href="<?php echo $this->url('accounts', array('action' => 'create', 'param1' => $accounts->financeAccountsID));
							?>" id="<?php echo $accounts->financeAccountsID ?>">
							<span class="fa fa-pencil-square-o custom_font_size"></span>
						</a>
					</td>
					<td class="text-center">
						<a><span onclick="deleteAccounts(<?php echo $accounts->financeAccountsID; ?>)" class="pointer fa fa-trash-o custom_font_size"></span></a>
					</td>
				</tr>
	<?php }
			if (count($this->financeAccounts) == 0) { ?>
				<tr class="not_found">
					<td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
				</tr>
			<?php } ?>
		</tbody>
	</table>
</div>