<div class="margin_top">
    <div class="col-lg-12">
        <div class='panel panel-default clearfix'>
            <div class='panel-heading create-header' ><b><?php echo $this->translate('Add Landing Cost Type')?></b></div>
            <div class='panel-heading update-header hidden' ><b><?php echo $this->translate('Update Landing Cost Type')?></b></div>
            <div class="form-group clearfix margin_top">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin">
                        <?php echo $this->translate('Landing Cost Type Code') ?>
                            <font color="red"> *</font>
                    </label>
                    <div class="">
                        <input type="text" name="land-cost-type-code" class="land-cost-type-code form-control">
                    </div>
                </div>
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin">
                        <?php echo $this->translate('Landing Cost Type name') ?>
                            <font color="red"> *</font>
                    </label>
                    <div class="">
                        <input type="text" name="land-cost-type-name" class="land-cost-type-name form-control">
                    </div>
                </div>
                <?php 
                    $glAcc = (Object)$glAcc;
                ?>
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin">
                        <?php echo $this->translate('Sales Account') ?>
                            <font color="red"> *</font>
                    </label>
                    <div class="">
                        <select class="form-control selectpicker show-tick " id="sales-acc-id" name="sales-acc-id" data-live-search="true" title="" data-id=<?php echo $glAcc->productSalesAccountID?>  data-value=<?php echo $glAcc->productSalesAccountName?> >
                            <option class="itemCodeDefaultSelect" value=""><?php echo $this->translate('Select Sales Account') ?></option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin">
                        <?php echo $this->translate('Inventory Account') ?>
                            <font color="red"> *</font>
                    </label>
                    <div class="">
                        <select class="form-control selectpicker show-tick " id="inventory-acc-id" name="inventory-acc-id" data-live-search="true" title="" data-id=<?php echo $glAcc->productInventoryAccountID?>  data-value=<?php echo $glAcc->productInventoryAccountName?>>
                            <option class="itemCodeDefaultSelect" value=""><?php echo $this->translate('Select Inventory Account') ?></option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 margin_top">
                    <label class="control-label label_bottom_margin">
                        <?php echo $this->translate('Cost of Goods Sold Account') ?>
                            <font color="red"> *</font>
                    </label>
                    <div class="">
                        <select class="form-control selectpicker show-tick " id="cgs-acc-id" name="cgs-acc-id" data-live-search="true" title="" data-id=<?php echo $glAcc->productCOGSAccountID?>  data-value=<?php echo $glAcc->productCOGSAccountName?>>
                            <option class="itemCodeDefaultSelect" value=""><?php echo $this->translate('Select CGS Account') ?></option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 margin_top">
                    <label class="control-label label_bottom_margin">
                        <?php echo $this->translate('Inventory Adjusment Account') ?>
                            <font color="red"> *</font>
                    </label>
                    <div class="">
                        <select class="form-control selectpicker show-tick" id="adjusment-acc-id" name="adjusment-acc-id" data-live-search="true" title="" data-id=<?php echo $glAcc->productAdjusmentAccountID?> data-value=<?php echo $glAcc->productAdjusmentAccountName?>>
                            <option class="itemCodeDefaultSelect" value=""><?php echo $this->translate('Select Adjusment Account') ?></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 text-right margin_top_normal margin_bottom_normal">
                <button class="btn btn-primary" id="save-cost-type"><?php echo $this->translate('SAVE')?></button>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="well clearfix well_custom_padding margin_top ">
            <div class="col-lg-3">
                <label class="remove_weight"><?php echo $this->translate('Search a Landing Cost Type') ?></label>
            </div>
            <div class="col-lg-9 xs-search-field">
                <div class=" input-group">
                    <input type="text" class="search form-control" id ='landing-cost-type-search-keyword' placeholder="<?php echo $this->translate('Enter Landing Cost Type') ?>"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default reset cost-type-search-reset" id='cost-type-reset' type="reset"><?php echo $this->translate('Cancel') ?></button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div id="cost-type-data" class="margin_top">
        <div id="cost-type-list" class="margin_top">
            <?php echo $this->partial('settings/landing-cost-type/list', array('costTypeList' => $this->costTypeList, 'paginated' => $this->paginated)); ?>
        </div>
    </div>
</div>