<div class="data_table">
    <?php $i = 1; ?>
    <table  width="100%" class="product-list">
        <tr>
            <td colspan="2">
                <hr />
                <br />
                <div class="qout_body">
                    <table width="100%" class="table bigtable table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width: 10%"><?php echo $this->translate('Item Code'); ?></th>
                                <th style="width: 20%"><?php echo $this->translate('Item Name'); ?></th>
                                <th class="text-right" style="width: 15%"><?php echo $this->translate('Quantity'); ?></th>
                                <th style="width: 1%"</th>
                                <th class="text-right" style="width: 15%"><?php echo $this->translate('Price'); ?><br/><?php echo "({$this->currencySymbol})"; ?></th>
                                <th class="text-right" style="width: 15%"><?php echo $this->translate('Discount'); ?><br/>(%)</th>
                                <th class="text-right" style="width: 10%"><?php echo $this->translate('Taxes'); ?><br/><?php echo "({$this->currencySymbol})"; ?></th>
                                <th class="text-right" style="width: 15%"><?php echo $this->translate('Total'); ?><br/><?php echo "({$this->currencySymbol})"; ?></th>
                            </tr>
                        </thead>

                        <tbody class="">
                            <?php
                            foreach ($this->poProducts as $poProduct) {
                                ?>
                                <tr class="">
                                    <td id='code'><?php echo $poProduct['poPC']; ?></td>
                                    <td id='name'><?php echo $poProduct['poPN']; ?></td>
                                    <td id='quantity' class='text-right'><?php echo $poProduct['poPQ']; ?></td>
                                    <td><span id="uomName" class='text-right'><?php echo $poProduct['poPUom']; ?></span></td>
                                    <td id='unit' class='text-right'><?php echo number_format($poProduct['poPP'], strlen(substr(strrchr($poProduct['poPP'], "."), 1))); ?></td>
                                    <td id='disc' class='text-right'><?php echo $poProduct['poPD']; ?></td>
                                    <td class="text-right">
                                        <?php
                                        $fullTaxAmount = 0;
                                        foreach ($poProduct['pT'] as $pTax) {
                                            $fullTaxAmount += floatval($pTax['pTA']);
                                        }
                                        echo number_format($fullTaxAmount, 2);
                                        ?>
                                    </td>
                                    <td id='ttl' class='text-right'><?php echo number_format($poProduct['poPT'], 2); ?></td>
                                </tr>
                                <?php
                            }
                            ?>
                        </tbody>
                    </table>
                    <div class="summary">
                        <table width="100%"  id="" class="table">
                            <col width="90px"><col width="290px"><col width="75px">
                            <col width="100px"><col width="50px"><col width="100px">
                            <tr>
                                <td colspan="2" rowspan="<?php echo isset($this->poSTax) ? 4 : isset($mass_disc_without_product_dis) ? 5 : 3; ?>">
                                   
                                </td>
                                <td colspan="3"><?php if (!$table['hide_table_header']) { ?>Sub Total<?php } ?></td>
                                <?php if (isset($this->poSubTotal)) { ?>
                                    <td class="text-right"><?php echo number_format($this->poSubTotal, 2); ?></td>
                                <?php } else if (isset($table['footers']['sub_total_wo_tax'])) { ?>
                                    <td class="text-right"><?php echo number_format($sub_total_wo_tax, 2); ?></td>
                                <?php } else if (isset($table['footers']['sub_total_wo_discounts'])) { ?>
                                    <td class="text-right"><?php echo number_format($sub_total_wo_discounts, 2); ?></td>
                                <?php } ?>
                            </tr>
                            <tr id="po-dc-tr" class="po-dc-tr">
                                <td colspan="3">
                                    <div><?php if (!$table['hide_table_header']) { ?>Delivery Charges<?php } ?></div>
                                </td>
                                <td class="text-right">
                                    <?php echo number_format($this->poDC, 2); ?>
                                </td>
                            </tr>
                            <?php if (isset($salesInvoiceSuspendedTax) && $salesInvoiceSuspendedTax == 1) { ?>
                                <tr class="nrml-tax-tr">
                                    <td colspan="3">
                                        <div class="nrml-tax">
                                            <span>
                                                <?php if (!$table['hide_table_header']) { ?>Total Tax <?php echo '(' . $calculatableTaxes . ')'; } ?>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <?php echo number_format($calculatableTaxesTotal, 2); ?>
                                    </td>
                                </tr>
                                <tr class="cmpnd-tax-tr">
                                    <td colspan="3">
                                        <div class="cmpnd-tax-sus">
                                            <span>
                                                <?php if (!$table['hide_table_header']) { ?>Suspended Tax<?php echo '(' . $suspendableTaxes . ')'; } ?>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <?php echo number_format($suspendedTaxesTotal, 2); ?>
                                    </td>
                                </tr>
                            <?php } else if ($this->poSTax == '1') { ?>
                                <tr id="nrml-tax-tr" class="nrml-tax-tr">
                                    <td colspan="3">
                                        <div id="nrml-tax" class="nrml-tax">
                                            <span>
                                                Normal Tax<?php echo '(' . $normalTaxesSet . ')'; ?>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <?php echo number_format($normalTaxTotal, 2); ?>
                                    </td>
                                </tr>
                                <tr id="cmpnd-tax-tr" class="cmpnd-tax-tr">
                                    <td colspan="3">
                                        <div id="cmpnd-tax" class="cmpnd-tax">
                                            <span>
                                                <?php if (!$table['hide_table_header']) { ?>Compound Tax<?php echo '(' . $compoundTaxesSet . ')'; } ?>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <?php echo $compoundTaxTotal; ?>
                                    </td>
                                </tr>
                            <?php } ?>
                            <tr>
                                <td colspan="3"><h3><?php if (!$table['hide_table_header']) { ?><?php echo "Total " . $currencySymbol ?><?php } ?></h3></td>
                                <td class="text-right"><strong><h3><?php echo  number_format($this->poT, 2); ?></h3></strong></td>
                            </tr>
                        </table>
                    </div>
                    <br>

                    
                </div>
            </td>
        </tr>
    </table>
    <br><br>
    <?php if (sizeof($this->signatures) == 1 || sizeof($this->signatures) == 3) { ?>
        <table width="100%">
            <tr>
                <td width="33%"><img align="left" src="<?php echo $this->signatures[0]['src'] ?>" style="max-height: 120px; max-width: 150px"></td>
                <td width="33%" align="center"><img  src="<?php echo $this->signatures[1]['src'] ?>" style="max-height: 120px; max-width: 150px"></td>
                <td width="33%"><img align="right" src="<?php echo $this->signatures[2]['src'] ?>" style="max-height: 120px; max-width: 150px"></td>
            </tr>
            <tr>
                <td class="text-left" width="33%"><?php echo $this->signatures[0]['holderName']; ?></td>
                <td class="text-center" width="33%"><?php echo $this->signatures[1]['holderName']; ?></td>
                <td class="text-center" width="33%"><?php echo $this->signatures[2]['holderName']; ?></td>
            </tr>
        </table>
    <?php } ?>
    <?php  if (sizeof($this->signatures) == 2) {?>
        <table width="100%">
            <tr>
                <td width="33%"><img align="left" src="<?php echo $this->signatures[0]['src'] ?>" style="max-height: 120px; max-width: 150px"></td>
                <td width="33%"></td>
                <td width="33%"><img align="right" src="<?php echo $this->signatures[1]['src'] ?>" style="max-height: 120px; max-width: 150px"></td>
            </tr>
            <tr>
                <td class="text-left" width="33%"><?php echo $this->signatures[0]['holderName']; ?></td>
                <td width="33%"></td>
                <td class="text-center" width="33%"><?php echo $this->signatures[1]['holderName']; ?></td>
            </tr>
        </table>
    <?php  }?>
</div>

<style>
    .two-sign {
        margin-right: 400px;
    }

    .three-sign {
        margin-right: 120px;
    }

</style>