<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>

            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Account') ?></th>
                        <th><?php echo $this->translate('Cheque Reference') ?></th>
                        <th><?php echo $this->translate('Customer/Supplier Account Number') ?></th>
                        <th><?php echo $this->translate('Bank Name') ?></th>
                        <th><?php echo $this->translate('Amount') ?></th>
                        <th><?php echo $this->translate('Date') ?></th>
                        <th><?php echo $this->translate('Transaction Type') ?></th>
                    </tr>

                    <?php
                    if(!empty($transcationData)){
                        foreach ($transcationData as $account => $transcations) {
                        ?>
                            <tr class="even_row">
                                <td><?php echo $account; ?></td>
                                <td colspan="6"></td>
                            </tr>
                            <?php
                            foreach ($transcations as $transaction){
                            ?>
                                <tr class="even_row">
                                    <td></td>
                                    <td><?php echo $transaction['refNum']; ?></td>
                                    <td><?php echo $transaction['account']; ?></td>
                                    <td><?php echo $transaction['bank']; ?></td>
                                    <td style="text-align: right"><?php echo number_format($transaction['amount'], 2); ?></td>
                                    <td style="text-align: center"><?php echo $transaction['date']; ?></td>
                                    <td><?php echo $transaction['type']; ?></td>
                                </tr>
                            <?php
                            }
                        }
                    } else {
                    ?>
                        <tr class="even_row">
                            <td colspan="5"><?php echo $this->translate('no matching records found') ?></td>
                        </tr>
                    <?php
                    }
                    ?>

                </tbody>
            </table>
        </div>
    </div>
</div>