<div class='panel panel-default clearfix'>
    <div class='panel-heading'><?php echo $this->translate('Material Requisition Planning')?></div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-lg-6'>
                <div class='panel panel-default'>
                    <div class='panel-heading'><?php echo $this->translate('Step 1')?></div>
                    <div class='panel-body'>
                        <div class='row'>
                            <label class='control-label col-lg-2 text-right'>
                                <?php echo $this->translate('Location') ?>
                            </label> 
                            <div class='col-lg-6'>
                                <select class='form-control selectpicker' data-actions-box="true" data-live-    search="    true" name="location" id="location" multiple="multiple" title="<?php echo $this->translate('Select Location(s)') ?>" data-selected-text-    format="count>3">
                                    <?php
                                        foreach ($this->locationNames as $key => $locName):
                                            echo '<option value="' . $key . '">' . $locName . '</option>';
                                        endforeach;
                                    ?>
                                </select>
                            </div>
                            <label class="col-lg-3 text-right">
                                <?php echo $this->translate('All Locations') ?>
                            </label>
                             <div class="col-lg-1">
                                <input type='checkBox' id='allLocChecked'>    
                            </div>
                        </div>
                        </br>

                        <div class='row'>
                            <label class="col-lg-2">
                                <?php echo $this->translate('Product Code/Name') ?>
                            </label>
                            <div class='col-lg-6 text-left'>
                                <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="product" id="product" multiple="multiple" title="<?php echo $this->translate('Select Product(s)') ?>" data-selected-text-format="count>3"></select>
                            </div>
                            <label class="col-lg-3 text-right">
                                <?php echo $this->translate('All Products') ?>
                            </label>
                            <div class='col-lg-1'>
                                <input type='checkBox' id='allProSelected' class=''>
                            </div>
                        </div>
                        </br>

                        <div>
                            <label class='col-lg-12'><?php echo $this->translate('Date Range');?></label>
                            <div class='row'>
                                <div class='col-lg-6'>
                                    <input type="text" class="span2 datepicker form-control" id="selected_from_date" name="selected_date" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('From Date') ?>">
                                </div>
                                <div class='col-lg-6'>
                                    <input type="text" class="span2 datepicker form-control" id="selected_to_date" name="selected_date" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('To Date') ?>">
                                </div>
                            </div>
                        </div>

                                    
                    </div> 
                </div>
                           
            </div>

            <div class='col-lg-6'>
                <div class="row">
                    <div class='panel panel-default'>
                        <div class='panel-heading'><?php echo $this->translate('Step 2')?></div>
                        <div class='panel-body'>
                            <div class='row'>
                                <label class='col-lg-8'><?php echo $this->translate('Based On Sales Order')?></label>
                                <div class='col-lg-4'>
                                    <input type='checkBox' id='salesOrdWiseTick'>
                                </div>
                            </div>
                            <div class='row'>
                                <label class='col-lg-8'><?php echo $this->translate('Based On Purchase Order');?></label>
                                <div class='col-lg-4'>
                                    <input type='checkBox' id='purchaseOrdWiseTick'>
                                </div>
                            </div>
                            <div class='row'>
                                <label class='col-lg-8'><?php echo $this->translate('Based On Min Inventory Level');?>
                                </label>
                                <div class='col-lg-4'>
                                    <input type='checkBox' id='reOrdLvlWiseTick'>
                                </div>
                            </div>
                            <div class='row'>
                                <label class='col-lg-8'><?php echo $this->translate('Based On Job Requested Qty');?>
                                </label>
                                <div class='col-lg-4'>
                                    <input type='checkBox' id='jobReqQtyTick'>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class='panel panel-default'>
                        <div class='panel-heading'><?php echo $this->translate('Step 3  ');  echo $this->translate('( Filter By )')?></div>
                        <div class='panel-body'>
                            <div class='row'>
                                <label class='col-lg-8'><?php echo $this->translate('Potential Supplier')?></label>
                                <div class='col-lg-4'>
                                    <input type='checkBox' id='potentialSuppTick'>
                                </div>
                            </div>
                            <div class='row'>
                                <label class='col-lg-8'><?php echo $this->translate('Product Category');?></label>
                                <div class='col-lg-4'>
                                    <input type='checkBox' id='productCatTick'>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 <div class='well clearfix'>
    <div class="col-lg-12">
        <div class="text-right">
            <button class='btn btn-default' id='mRFSubmit'><?php echo $this->translate('Process'); ?></button>   
        </div>
    </div>
</div>

<div class='well hidden' id='data-genarate-section'>
    <table class='table' style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;" id='dataRecordsTable'>
        <thead>
            <tr class=''>
                <th>
                    <?php echo $this->translate('ProductCode'); ?>
                </th>
                <th>
                    <?php echo $this->translate('Supplier'); ?>
                </th>
                <th>
                    <?php echo $this->translate('Category'); ?>
                </th>
                <th>
                    <?php echo $this->translate('Stock in Hand'); ?>
                </th>
                <th class='sales-order-column'>
                    <?php echo $this->translate('Sales Order Qty'); ?>
                </th>
                <th class='purchase-order-column'>
                    <?php echo $this->translate('Purchase Order Qty'); ?>
                </th>
                <th class='min-inventy-column'>
                    <?php echo $this->translate('Min Inventory Level'); ?>
                </th>
                <th class='job-qty-column'>
                    <?php echo $this->translate('Job Qty'); ?>
                </th>
                <th>
                    <?php echo $this->translate('Requied Qty'); ?>
                </th>
                <th class='purchase-order-column'>
                    <?php echo $this->translate('Additional PO Qty'); ?>
                </th>
                <th class='purchase-order-create'>
                    <?php echo $this->translate('Create PO'); ?>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class='sample hidden dataRow'>
                <td>
                    <label class='proCode'></label>
                </td>
                <td>
                    <label class='supplier'></label>
                </td>
                <td>
                    <label class='category'></label>
                </td>
                <td>
                    <label class='stkInHnd'></label>
                </td>
                <td class='sales-order-column'>
                    <label class='soQty'></label>
                </td>
                <td class='purchase-order-column'>
                   <label class='poQty'></label>
                </td>
                <td class='min-inventy-column'>
                    <label class='minInvLvl'></label>
                </td>
                <td class='job-qty-column'>
                    <label class='jobQty'></label>
                </td>
                <td>
                    <label class='reQty'></label>
                </td>
                <td class='purchase-order-column'>
                    <label class='addPOqty'></label>
                </td>
                <td>
                    <!-- <button class='btn add-po-btn hidden'>
                        <a class='glyphicon glyphicon-share'></a>
                    </button> -->
                    <a>
                        <span class="fa custom_font_size select-po-btn hidden" id="selectToAddIcon" style="font-size: 20px;"></span>
                    </a>
                </td> 
            </tr>
            
        </tbody>
    </table>
</div>

<div class='well clearfix hidden' id='allPoCreation'>
    <div class="col-lg-12">
        <label class='col-lg-8'><?php echo $this->translate('Create PO for All items')?></label>
        <div class="text-right col-lg-4">
            <button class='btn btn-default' id='createAllPo'><?php echo $this->translate('Create PO'); ?></button>   
        </div>
    </div>
</div>

