<div class="set_value">
    <table class="table" style="margin-bottom: 25px;">
        <b><?php echo $this->translate("For auto generated Serial Numbers, use this form:"); ?></b>
        <thead>
            <tr>
                <th><?php echo $this->translate("Prefix(if exist)"); ?></th>
                <th><?php echo $this->translate("Starting Number"); ?></th>
                <th  id="mfDate"><?php echo $this->translate("MF Date"); ?></th>
                <th><?php echo $this->translate("Expire Date"); ?></th>
                <th  id="btch_code"><?php echo $this->translate("Batch Code"); ?></th>
                <th><?php echo $this->translate("WarrantyType"); ?></th>
                <th><?php echo $this->translate("WarrantyPeriod"); ?></th>
                <th><?php echo $this->translate("Quantity"); ?></th>
                <th class='price_field'><?php echo $this->translate("Batch Price")?></th>
            </tr>
        </thead>
        <tbody id="tempTbody">
            <tr id="temp_1" class="original">
                <td>
                    <input type="text" class="form-control" name="prefix" placeholder="<?php echo $this->translate('Prefix') ?>" id="prefix">
                </td>
                <td>
                    <input id="startNumber" type="text" class="form-control" placeholder="<?php echo $this->translate('Start number') ?>" name="startNumber" >
                </td>
                <td>
                    <input id="mf_date_autoFill" class="form-control white_bg" readonly="true"disabled="disabled" data-date-format="<?php echo $this->dateFormat ?>" placeholder="<?php echo $this->dateFormat ?>" type="text" value="" autocomplete="off" name="mfDateAutoFill" >
                </td>
                <td>
                    <input id="expire_date_autoFill" class="serialEDate form-control datepicker white_bg" readonly="true" data-date-format="<?php echo $this->dateFormat ?>" type="text" autocomplete="off" placeholder="<?php echo $this->dateFormat ?>" name="expireDateAutoFill">
                </td>
                <td>
                    <input id="batch_code" type="text" placeholder="<?php echo $this->translate('Batch code') ?>" class="form-control batch-code" name="batch_code" disabled="disabled" >
                </td>
                <td>
                    <select class="form-control" name="wrtyType" id="wrtyType" >
                      <option value="1"><?php echo $this->translate('Days') ?></option>
                      <option value="2"><?php echo $this->translate("Weeks") ?></option>
                      <option value="3"><?php echo $this->translate('Months') ?></option>
                      <option value="4"><?php echo $this->translate('Years') ?></option>
                    </select>
                </td>
                <td>
                    <input id="wrtyDays" type="text" placeholder="<?php echo $this->translate('Warranty Days') ?>" class="form-control" name="wrtyDays" >
                </td>
                <td>
                    <input id="quontity" type="text" placeholder="<?php echo $this->translate('Quantity') ?>" class="form-control" name="quontity" >
                </td>
                <td>
                    <input id="bchPrice" type="text" placeholder="<?php echo $this->translate('Price') ?>" class="form-control price_field" name="bPrice" >
                </td>
                <td>
                    <input type="submit" class="btn btn-default submit_serial_number1" name="submit" value="<?php echo $this->translate('set') ?>" id="submit_serial_number">
                </td>
            </tr>

        </tbody>
    </table>
</div>