<br>
<input type="hidden" name="budgetEditMode" id="budgetEditMode" value="<?php echo $this->editMode;?>">
<input type="hidden" name="budgetID" id="budgetID" value="<?php echo $this->budgetID;?>">
<div class="row margin_top">
	<div class="col-lg-2">
		<div class="form-group">
		    <label for="inputAddress"><?php echo $this->translate('Name') ?></label>
		    <input type="text" class="form-control" id="budgetName" placeholder="<?php echo $this->translate('Budget Name') ?>">
		</div>
	</div>
	<div class="col-lg-2">
		<div class="form-group">
		    <label for="inputAddress"><?php echo $this->translate('Fiscal Period') ?></label>
		    <select class="form-control selectpicker" name="fiscalPeriods" id="fiscalPeriods" title="<?php echo $this->translate('Select a fiscal period') ?>">
		    		<option value="0"><?php echo $this->translate('Select a fiscal period') ?></option>
	            <?php
	            foreach ($this->fiscalPeriods as $spID => $value) :
	                echo '<option value="' . $spID . '">' . $value . '</option>';
	            endforeach;
	            ?>
	        </select>
		</div>
	</div>
	<div class="col-lg-2">
		<div class="form-group">
		    <label for="inputAddress"><?php echo $this->translate('Interval') ?></label>
		    <select class="form-control selectpicker" name="interval" id="interval" title="<?php echo $this->translate('Select a fiscal period') ?>">
	            <option value="monthly"><?php echo $this->translate('Monthly') ?></option>
	            <option value="annualy"><?php echo $this->translate('Annualy') ?></option>
	        </select>
		</div>
	</div>
	<div class="col-lg-2">
		<div class="form-group">
		    <label for="inputAddress"><?php echo $this->translate('Accounts Filter') ?></label>
		    <select class="form-control selectpicker" name="acFilter" id="acFilter" title="<?php echo $this->translate('Select a fiscal period') ?>">
	            <option value="0"><?php echo $this->translate('Select a accounts type') ?></option>
	            <option value="pandlac"><?php echo $this->translate('Profit and loss accounts') ?></option>
	            <option value="balanceshtac"><?php echo $this->translate('Balance sheet accounts') ?></option>
	        </select>
		</div>
	</div>
	<div class="col-lg-2">
		<div class="form-group">
		    <label for="inputAddress"><?php echo $this->translate('Dimension') ?></label>
		    <select class="form-control selectpicker" name="dimension" id="dimension" title="<?php echo $this->translate('Select a fiscal period') ?>">
		    		<option value="0"><?php echo $this->translate('Select a Dimension') ?></option>
	            <?php
	            foreach ($this->dimensions as $spID => $value) :
	                echo '<option value="' . $spID . '">' . $value . '</option>';
	            endforeach;
	            ?>
	        </select>
		</div>
	</div>
	<div class="col-lg-2 dimension_val_div hidden">
		<div class="form-group">
		    <label for="inputAddress"><?php echo $this->translate('Dimension Value') ?></label>
		    <select class="form-control show-tick dimensionVal"  id="dimensionVal" name="dimensionVal" data-live-search="true">
                <option class="dimensionValDefaultSelect" value=""><?php echo $this->translate('Select Dimension Value') ?></option>
            </select>
            <select class="form-control selectpicker show-tick hidden dimensionJobNo" id="dimensionJobNo" name="dimensionJobNo" data-live-search="true">
                <option value=""><?php echo $this->translate('Select Job Number') ?></option>
            </select>
            <select class="form-control selectpicker show-tick hidden dimensionProjectNo" id="dimensionProjectNo" name="dimensionProjectNo" data-live-search="true">
                <option value=""><?php echo $this->translate('Select Project Number') ?></option>
            </select>
		</div>
	</div>
</div>


<div class="smsSetting_div hidden">
    <div class="well well_heading margin_top">
        <h5 class="font_weight"><?php echo $this->translate('Manage budget details') ?></h5>
    </div>
    <!--add_custom_currency-->
    <div class="well well_body" id="add_custom_currency" style="overflow-y: auto;height: calc(100vh - 370px);">
    	<div class="chart-of-accounts-form-container">
			<table class="table table-striped" id="accountsTable">
				<thead>
					<tr>
						<th>
		                    <label style="margin-bottom: 0;">
		                        <input type="checkbox" class="collapseAllAccounts">
		                    </label>
		                </th>
						<th class=""><?php echo $this->translate('Accounts') ?></th>
					</tr>
				</thead>

				<tbody class='chartOfAccountBody'>
					<?php foreach ($this->financeAccounts as $key => $fAccounts) { ?>
						<tr id="<?php echo  $fAccounts['financeAccountClassID']?>" >
							<td class="text-left"><span class="glyphicon glyphicon-chevron-down link_color financeAccountClass" style="cursor:pointer;" ></span></td>
							<td style="min-width: 380px"> <?php echo  strtoupper($fAccounts['financeAccountClassName'])?> </td>
						</tr>
						<?php if(isset($fAccounts['financeAccounts'][0]['child'])){
							$level = 1;
							getChildAccounts($fAccounts['financeAccounts'][0]['child'],$statuse,$fAccounts['financeAccountTypesName'],$level);
						}
					}
					?>
				</tbody>
			</table>
		</div>
    </div>
</div>

<?php function getChildAccounts($dataArray,$statuse,$accountsTypesName,$level){
	foreach ($dataArray as $value) {?>
		<tr class="hidden collapsAll <?php echo ($value['data']->financeAccountsParentID ==0 )? "class_".$value['data']->financeAccountClassID : $value['data']->financeAccountsParentID ?>" id="<?php echo  $value['data']->financeAccountsID ?>" data-classid="<?php echo $value['data']->financeAccountClassID ?>" data-autotrigger="false" >
			<td></td>
			<td><?php echo str_repeat('&nbsp;', 2*$level).$value['data']->financeAccountsCode.' - '.$value['data']->financeAccountsName;?>
			</td>
		</tr>
		<?php if(isset($value['child'])){
				getChildAccounts($value['child'],$statuse,$accountsTypesName,$level+1);
		}
	}
} ?>

<div class="footer budgetSave_div hidden">
  	<div class="form-group margin_top_normal">
        <div class="col-lg-12 text-right">
            <button type="button" class="btn btn-primary make-full-width saveBudget" ><?php echo $this->translate('Save Budget') ?></button>
        </div>
    </div>
</div>