<div id="accounts-list">
	<table class="table table-striped">
		<thead>
			<tr>
				<th class=""><?php echo $this->translate('Budget Name') ?></th>
                <th class=""><?php echo $this->translate('Budget Interval') ?></th>
                <th class=""><?php echo $this->translate('Fiscal Period') ?></th>
                <th class=""><?php echo $this->translate('Dimension') ?></th>
                <th class="text-center"><?php echo $this->translate('Edit') ?></th>
                <th class="text-center"><?php echo $this->translate('Delete') ?></th>
			</tr>
		</thead>
		<tbody>
                    <?php
                    foreach ($this->budgets as $key => $value) {
                    		$value = (object) $value;
                        ?>
                        <tr>
                            <td class=""> <?php echo $value->budgetName; ?></td>
                            <td class=""> <?php echo ucfirst($value->interval); ?></td>
                            <td class=""> <?php echo $value->fiscalPeriodStartDate." - ".$value->fiscalPeriodEndDate; ?></td>
                            <td class=""> <?php echo (is_null($value->dimensionName)) ? "" : $value->dimensionName."(".$value->dimensionValueName.")"; ?></td>
                          
                            <?php if ($value->fiscalPeriodStatusID == "14") {
                                ?>
                                <td class="text-center">
                                	<a class="edits" href="<?php echo $this->url('budget', array('action' => 'create', 'param1' => $value->budgetId));
                                		?>" id="<?php echo $value->budgetId ?>">
                                		<span class="fa fa-pencil-square-o custom_font_size"></span>
                                	</a>
                                </td>
                                <td class="text-center">
                                     <a><span onclick="deleteBudget(<?php echo $value->budgetId; ?>)" class="pointer fa fa-trash-o custom_font_size"></span></a>
                                </td>

                            <?php     
                            }
                        }
                        if (count($this->budgets) == 0) {
                            ?>
                        <tr class="not_found">
                            <td colspan="4"><?php echo $this->translate('No results were found.'); ?></td>
                        </tr>
                    <?php }
                    ?>
                </tbody>
	</table>
</div>