<div class='well clearfix well_custom_padding margin_top xs_view'>
    <div class="col-lg-3 col-md-3">
    	<label class="remove_weight margin_bottom_normal_low"><?php echo $this->translate('Search Budgets') ?></label>
    </div>

    <div class="col-lg-3 col-md-3">
        <input type="text" class="form-control" name="budgetSearchKey" id="budgetSearchKey" placeholder="<?php echo $this->translate('Search budget by budget name') ?>">
    </div>
    <div class="col-lg-4 col-md-4">
        <select class="form-control selectpicker" name="fiscalPeriods" id="fiscalPeriods" title="<?php echo $this->translate('Search by fiscal period') ?>">
                <option value="0"><?php echo $this->translate('Search by fiscal period') ?></option>
            <?php
            foreach ($this->fiscalPeriods as $spID => $value) :
                echo '<option value="' . $spID . '">' . $value . '</option>';
            endforeach;
            ?>
        </select>
    </div>
    <div class="col-lg-2 col-md-2">
        <input type="button" class="form-control btn-primary" id="searchBudget" value="<?php echo $this->translate('Search') ?>">
    </div>
</div><!--well-->


<!--table-->
<div class="margin_top">
    <div class="table table-responsive">

        <div id="account-class-list">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class=""><?php echo $this->translate('Budget Name') ?></th>
                        <th class=""><?php echo $this->translate('Budget Interval') ?></th>
                        <th class=""><?php echo $this->translate('Fiscal Period') ?></th>
                        <th class=""><?php echo $this->translate('Dimension') ?></th>
                        <th class="text-center"><?php echo $this->translate('View') ?></th>
                        <th class="text-center"><?php echo $this->translate('Edit') ?></th>
                        <th class="text-center"><?php echo $this->translate('Delete') ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php
                    foreach ($this->budgets as $key => $value) {
                        if ($value->dimension == "job" && $value->jobReferenceNumber != null) {
                            $dimensionValueName = $value->jobReferenceNumber." - ".$value->jobName;
                        } else if ($value->dimension == "project" && $value->projectCode != null) {
                            $dimensionValueName = $value->projectCode." - ".$value->projectName;
                        } else {
                            $dimensionValueName = $value->dimensionValueName;
                        }
                        ?>
                        <tr>
                            <td class=""> <?php echo $value->budgetName; ?></td>
                            <td class=""> <?php echo ucfirst($value->interval); ?></td>
                            <td class=""> <?php echo $value->fiscalPeriodStartDate." - ".$value->fiscalPeriodEndDate; ?></td>
                            <td class=""> <?php echo (is_null($value->dimension)) ? "" : $value->dimensionName."(".$dimensionValueName.")"; ?></td>
                            <td class="text-center">
                                <a class="edits" href="<?php echo $this->url('budget', array('action' => 'view', 'param1' => $value->budgetId));
                                    ?>" id="<?php echo $value->budgetId ?>">
                                    <span class="fa fa-search-plus custom_font_size"></span>
                                </a>
                            </td>
                            <?php if ($value->fiscalPeriodStatusID == "14") {
                                ?>
                                <td class="text-center">
                                	<a class="edits" href="<?php echo $this->url('budget', array('action' => 'create', 'param1' => $value->budgetId));
                                		?>" id="<?php echo $value->budgetId ?>">
                                		<span class="fa fa-pencil-square-o custom_font_size"></span>
                                	</a>
                                </td>
                                <td class="text-center">
                                     <a><span onclick="deleteBudget(<?php echo $value->budgetId; ?>)" class="pointer fa fa-trash-o custom_font_size"></span></a>
                                </td>

                            <?php     
                            }
                        }
                        if (count($this->budgets) == 0) {
                            ?>
                        <tr class="not_found">
                            <td colspan="4"><?php echo $this->translate('No results were found.'); ?></td>
                        </tr>
                    <?php }
                    ?>
                </tbody>
            </table>
            <?php
            echo $this->paginationControl(
                    $this->budgets, 'sliding', array('partial/paginator.phtml', 'budgets'), array(
                'route' => 'budget', 'action' => 'list'
                    )
            );
            ?>
        </div>

    </div><!--tabele_responsive-->
    <div id="dynamicAccountClass"></div>
</div><!--margin_top-->