<div class="table-responsive" id="job-list">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="15%"><?php echo $this->translate('Customer Name') ?></th>
                <th width="12%"><?php echo $this->translate('Vehical Model') ?></th>
                <th width="11%"><?php echo $this->translate('Registration No') ?></th>
                <th width="10%"><?php echo $this->translate('Job Card') ?></th>
                <th width="14%"><?php echo $this->translate('Job Supervisor') ?></th>
                <th width="15%"><?php echo $this->translate('Completed Date & Time') ?></th>
                <th width="8%"><?php echo $this->translate('Status') ?></th>
                <th width="5%" class="text-center"></th>
                <th width="10%" class="text-center"><?php echo $this->translate('Cost') ?></th>
            </tr>
        </thead>
        <tbody id="jobList">
            <?php
            foreach ($this->jobList as $loo) {
                $loo = (object) $loo;
                $status = $loo->jobStatus;
                $state = ucfirst($this->status[$status]);
                $style = NULL;
                switch ($status) {
                    case "9":
                        $style = "label label-info";
                        break;
                    case "20":
                        $style = "label label-invoiced";
                        break;
                    case "21":
                        $style = "label label-success";
                        break;
                    default :
                        $style = "label label-default";
                }
                ?>
                <tr data-jobid="<?php echo $loo->jobId; ?>">
                    <td class="customerName"><?php echo $loo->customerName ?></td>
                    <td class="vehicleModelName"><?php echo $loo->vehicleModelName ?></td>
                    <td class="serviceVehicleRegNo"><?php echo $loo->serviceVehicleRegNo ?></td>
                    <td class="taskCardName"><?php echo $loo->taskCardName ?></td>
                    <td class="jobSupervisor"><?php echo $loo->userFirstName.' '.$loo->userLastName ?></td>
                    <td class="jobCompletedAt"><?php echo $this->jobCompletedTimeData[$loo->jobId] ?></td>
                    <td class="jState"><span class="<?php echo $style; ?>"> <?php echo $state; ?></span></td>
                    <td class="jEmployees text-center">
                        <span class=" link_color" style="cursor:pointer" >
                            <span id="<?php echo $loo->jobId; ?>" class="glyphicon glyphicon-list jobServices"></span>
                        </span>
                    </td>
                    <td width="10%" class="text-center">
                        <?php if($status == "9") {?>
                            <a href="<?php echo $this->url('serviceCost', array('action' => 'createCost', 'param1' => $loo->jobId)); ?>" class="fullView btn btn-primary">Cost
                            </a>
                        <?php } else {  ?>
                            <a href="<?php echo $this->url('serviceCost', array('action' => 'viewCost', 'param1' => $loo->jobId)); ?>" class="fullView">
                                <span class="glyphicon glyphicon-eye-open openlist custom_font_size"></span>
                            </a>
                        <?php } ?> 
                    </td>
                </tr>
                <?php
            }
            if (count($this->jobList) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>

        </tbody>
    </table>
</div>
<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->jobList, 'sliding', array('partial/paginator.phtml', 'jobList'), array(
        'route' => 'serviceCost', 'action' => 'index'
            )
    );
}
?>

<div class="modal fade" id="viewServiceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><?php echo $this->translate('Services') ?></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="service-table table table-striped margin_top_normal table-condensed" id="serviceTable">
                    <thead>
                        <tr>
                            <th class="" style="width: 20%"><?php echo $this->translate("Service Code"); ?></th>
                            <th class="" style="width: 20%"><?php echo $this->translate("Service Name"); ?></th>
                            <th class="" style="width: 30%"><?php echo $this->translate("Service Started Time"); ?></th>
                            <th class="" style="width: 30%"><?php echo $this->translate("Service Ended Time"); ?></th>
                        </tr>
                    </thead>

                    <tbody id="formRow">
                        <tr id='preSample' class="hidden">
                            <td id="serviceCode"></td>
                            <td id="serviceName"></td>
                            <td id="serviceStart"></td>
                            <td id="serviceEnd"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>
