<script>
    function goBack() {
        window.history.go(-1);
    }
</script>
<div class="well well_heading margin_top">
    <h5 class="font_weight add"><?php echo $this->translate('Service Details') ?></h5>
</div>
<div class="well clearfix well_body">
   <div class="row">
        <input type="text" class="form-control hidden" id="jobId" value="<?php echo  $this->jobData['jobId'] ?>">
         <table class="table table-striped">
            <thead>
                <tr>
                    <th width="11%"><?php echo $this->translate('Job Code') ?></th>
                    <th width="15%"><?php echo $this->translate('Customer Name') ?></th>
                    <th width="11%"><?php echo $this->translate('Vehical Number') ?></th>
                    <th width="10%"><?php echo $this->translate('Job Card') ?></th>
                    <th width="12%"><?php echo $this->translate('Vehical Model') ?></th>
                    <th width="15%"><?php echo $this->translate('In Date & Time') ?></th>
                    <th width="14%"><?php echo $this->translate('Job Supervisor') ?></th>
                    <th width="5%" class="text-center">Employees</th>
                    <th width="8%"><?php echo $this->translate('Status') ?></th>
                </tr>
            </thead>

             <tbody id="jobList">
                <tr data-jobid="<?php echo $this->jobData['jobId']; ?>">
                    <td class="customerName"><?php echo $this->jobData['jobCode'] ?></td>
                    <td class="vehicleModelName"><?php echo $this->jobData['jobCustomer'] ?></td>
                    <td class="customerName"><?php echo $this->jobData['serviceVehicleRegNo'] ?></td>
                    <td class="serviceVehicleRegNo"><?php echo $this->jobData['jobCardName'] ?></td>
                    <td class="taskCardName"><?php echo $this->jobData['vehicalModal'] ?></td>
                    <td class="jobSupervisor"><?php echo $this->jobData['inDate'] ?></td>
                    <td class="jobCompletedAt"><?php echo $this->jobData['jobSupervisor'] ?></td>
                    <td class="jEmployeesss text-center">
                        <span class=" link_color" style="cursor:pointer" >
                            <span id="<?php echo $this->jobData['jobId']; ?>" class="glyphicon glyphicon-user jEmployees"></span>
                        </span>
                    </td>
                    <td class="jState"><span class="label label-success"><?php echo $this->translate('Completed') ?></span></td>
                </tr>
            </tbody>
        </table>
       
    </div>
</div>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        <h4 class="panel-title">
          <?php echo $this->translate('Service Applied') ?>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body" style="min-height: 250px">
          <!--   <div class="row">
                <div class="form-group">
                    <div class="col-lg-4">
                        <label class="control-label label_bottom_margin"><?php echo $this->translate('Rate Card'); ?></label>
                        <select class="form-control selectpicker" title="" id="rateCardID" name="rateCardID" data-live-search="true">
                            <option value=""><?php echo $this->translate('Select a rate card') ?></option>
                        </select>
                    </div>
                </div>
            </div>
 -->
            <div class="row ">
                <div id="jobCardTable" class="hidden">
                    <table class="job-card-table table margin_top_normal table-condensed">
                        <thead>
                            <tr>
                                <th width="15%"><?php echo $this->translate("Job Card Code"); ?></th>
                                <th width="20%"><?php echo $this->translate("Job Card Name"); ?></th>
                                <th width="10%"><?php echo $this->translate("Qty"); ?></th>
                                <th width="20%"><?php echo $this->translate("Service Rate"); ?></th>
                                <th width="20%"><?php echo $this->translate("Total"); ?></th>
                                <th width="5%"></th>
                                <th width="5%"></th>
                                <th width="5%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id ="jobCardDataRow">
                                <td id="jobCardCode"></td>
                                <td id="jobCardName"></td>
                                <td id="jobCardQty">
                                    <div class="input-group">
                                        <input id="jobCardQuantity" name="jobCardQuantity" type="text" class="form-control" disabled="true">
                                    </div>
                                </td>
                                <td id="jobCardServiceRate">
                                    <div class="input-group">
                                        <input name="jobCardRate" id="jobCardRate" type="text" class="form-control" disabled="true" />
                                        <strong class="input-group-addon cCurrency"><?php echo $this->companyCurrencySymbol; ?></strong>
                                    </div>
                                </td>
                                <td id="jobCardServiceRateTotal">
                                    <div class="input-group">
                                        <input name="jobCardTotal" id="jobCardTotal" type="text" class="form-control" disabled="true" />
                                        <strong class="input-group-addon cCurrency"><?php echo $this->companyCurrencySymbol; ?></strong>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <a class="job-card-edit btn btn-default" id="job-card-edit">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </a>
                                    <a class="job-card-save btn btn-default hidden" id="job-card-save">
                                        <i class="fa fa-floppy-o"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-default view-service-materials hidden">
                                        <i class="pointer_cursor glyphicon glyphicon-shopping-cart"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-default hidden view-service-sub-tasks">
                                        <i class="pointer_cursor glyphicon glyphicon-list-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="serviceTable">
                <hr>
                    <table class="service-table table margin_top_normal table-condensed">
                        <thead>
                            <tr>
                                <th width="15%"><?php echo $this->translate("Service Code"); ?></th>
                                <th width="20%"><?php echo $this->translate("Service Name"); ?></th>
                                <th width="10%"><?php echo $this->translate("Qty"); ?></th>
                                <th width="20%"><?php echo $this->translate("Service Rate"); ?></th>
                                <th width="20%"><?php echo $this->translate("Total"); ?></th>
                                <th width="5%"></th>
                                <th width="5%"></th>
                                <th width="5%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="servicePreSetSample" class="add-row sample hidden">
                                <td id="serviceCode"></td>
                                <td id="serviceName"></td>
                                <td>
                                    <div class="input-group">
                                        <input id="quantity" name="quantity" type="text" class="form-control" disabled="true">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input name="serviceRate" id="serviceRate" type="text" class="form-control" disabled="true" />
                                        <strong class="input-group-addon cCurrency"><?php echo $this->companyCurrencySymbol; ?></strong>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input name="serviceTotal" id="serviceTotal" type="text" class="form-control" disabled="true" />
                                        <strong class="input-group-addon cCurrency"><?php echo $this->companyCurrencySymbol; ?></strong>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <a class="service-edit btn btn-default" id="service-edit">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </a>
                                    <a class="service-save btn btn-default hidden" id="service-save">
                                        <i class="fa fa-floppy-o"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-default view-service-materials">
                                        <i class="pointer_cursor glyphicon glyphicon-shopping-cart"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-default view-service-sub-tasks">
                                        <i class="pointer_cursor glyphicon glyphicon-list-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        <h4 class="panel-title">
          <?php echo $this->translate('Trade Materials') ?>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="row">
                <!-- <h4>Job materials</h4>
                <div id="materialsTable">
                    <table class="materials-table table margin_top_normal table-condensed">
                        <thead>
                            <tr>
                                <th width="15%"><?php echo $this->translate("Item Code"); ?></th>
                                <th width="25%"><?php echo $this->translate("Item Name"); ?></th>
                                <th width="15%"><?php echo $this->translate("Qty"); ?></th>
                                <th width="20%"><?php echo $this->translate("Unit Price"); ?></th>
                                <th width="20%"><?php echo $this->translate("Total"); ?></th>
                                <th width="5%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="materialsPreSetSample" class="hidden">
                                <td id="itemCode"></td>
                                <td id="itemName"></td>
                                <td>
                                    <div class="input-group">
                                        <input id="quantity" name="quantity" type="text" class="form-control" disabled="true">
                                    </div>
                                </td>
                                 <td>
                                    <div class="input-group">
                                        <input name="itemUnitPrice" id="itemUnitPrice" type="text" class="form-control" disabled="true" />
                                        <strong class="input-group-addon cCurrency"><?php echo $this->companyCurrencySymbol; ?></strong>
                                    </div>
                                </td>
                                 <td>
                                    <div class="input-group">
                                        <input name="itemTotal" id="itemTotal" type="text" class="form-control" disabled="true" />
                                        <strong class="input-group-addon cCurrency"><?php echo $this->companyCurrencySymbol; ?></strong>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <a class="item-edit btn btn-default hidden" id="item-edit">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </a>
                                    <a class="item-save btn btn-default hidden" id="item-save">
                                        <i class="fa fa-floppy-o"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br> -->
                <!-- <hr> -->
                <h4>Add additional materials</h4>
                <div class="row" style="min-height: 140px">
                    <div class="form-group">
                        <div class="col-lg-3">
                            <label class="control-label label_bottom_margin"><?php echo $this->translate('Add Trade Materials'); ?></label>
                        </div>
                        <div class="col-lg-9">
                            <div>
                                <select class="form-control selectpicker" title="" id="tradeMaterialID" name="tradeMaterialID" data-live-search="true" data-container="body">
                                    <option value=""><?php echo $this->translate('Select Trade Material') ?></option>
                                </select>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div id="tradeMaterialTable">
                    <hr>
                        <table class="trade-product-table table margin_top_normal table-condensed hidden">
                            <thead>
                                <tr>
                                    <th width="10%"><?php echo $this->translate("Item Code"); ?></th>
                                    <th width="20%"><?php echo $this->translate("Item Name"); ?></th>
                                    <th width="15%"><?php echo $this->translate("Available Qty"); ?></th>
                                    <th width="15%"><?php echo $this->translate("Qty"); ?></th>
                                    <th width="15%"><?php echo $this->translate("Unit Price"); ?></th>
                                    <th width="15%"><?php echo $this->translate("Total"); ?></th>
                                    <th width="5%"></th>
                                    <th width="5%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="tradeProductPreSetSample" class="add-row sample hidden">
                                    <td id="tradeProdctCode"></td>
                                    <td>
                                        <div class="input-group">
                                            <input id="tradeProdctName" name="tradeProdctName" type="text" class="form-control" disabled="true">
                                            <span class="input-group-btn">
                                                <button  type='button' class="btn btn-default addItemDescription" title="Add comment">
                                                    <i class="fa fa-comment-o"></i>
                                                </button>
                                            </span>
                                        </div>
                                        <textarea class="itemDescText form-control hidden" style="width: 350% !important" id ="itemDescText" placeholder="<?php echo $this->translate("Enter item description"); ?>"></textarea>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input id="avaliableQuantity" name="avaliableQuantity" type="text" class="form-control" disabled="true">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input class="form-control" id="issQuantity" name="issQuantity" type="text">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input id="issuedUnitPrice" name="issuedUnitPrice" type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input id="issTotal" name="issTotal" type="text" class="form-control" disabled="true">
                                            <strong class="input-group-addon cCurrency"><?php echo $this->companyCurrencySymbol; ?></strong>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-default trade-goods-plus">
                                            <i class="pointer_cursor fa fa-plus"></i>
                                        </a>
                                        <a class="trade-goods-edit btn btn-default hidden" id="trade-goods-edit">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </a>
                                        <a class="trade-goods-save btn btn-default hidden" id="trade-goods-save">
                                            <i class="fa fa-floppy-o"></i>
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-default trade-goods-delete">
                                            <i class="pointer_cursor fa fa-trash-o"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        <h4 class="panel-title">
          <?php echo $this->translate('Miscellaneous Expense') ?>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body" style="min-height: 250px">
            <div class="row">
                <div id="miscellaneousTable">
                    <hr>
                     <table class="table  table-striped margin_top_normal table-condensed" id="cost-of-miscellaneous-table">
                        <thead>
                            <tr>
                                <th style="width: 30%" class="th_code"><?php echo $this->translate('Expense Type') ?></th>
                                <th style="width: 20%" class="th_code"><?php echo $this->translate('Qty') ?></th>
                                <th style="width: 20%" class="th_code"><?php echo $this->translate('Unit Price') ?></th>
                                <th style="width: 20%" class="th_code"><?php echo $this->translate('Total Cost') ?></th>
                                <th style="width: 10%" class="th_code"></th>
                            </tr>
                        </thead>

                        <tbody id="add-other-cost-row">
                            <tr class="add-other-cost-original">
                                <td class="select-cost">
                                    <select class="form-control selectpicker show-tick" id="costType" name="costType" data-live-search="true">
                                        <option class="itemCodeDefaultSelect"  value=""><?php echo $this->translate('Select Expense Type') ?></option>
                                    </select>
                                </td>
                                <td class='selected-cost hidden'>
                                    <input type="text" class="form-control" id="selectedType" >
                                </td>
                                <td class="clearfix">
                                    <input type="text" class="form-control text-right" id="other-cost-unit">
                                </td>
                                <td class="clearfix">
                                    <input type="text" class="form-control" id="other-cost-unit-price" >
                                </td>
                                <td class="clearfix">
                                    <input type="text" class="form-control text-right" id="other-cost-total" disabled="true">
                                </td>
                                <td class="clearfix add-normal-cost" id="add-normal-cost" style="padding-left: 2.5%">
                                    <button type="button" id="" class="add-cost btn btn-default">
                                        <i class="fa fa-plus"></i>
                                    </button> 
                                </td>
                                 <td class="clearfix remove-normal-cost hidden" id="remove-normal-cost" style="padding-left: 2.5%">
                                    <button type="button" id="" class="remove-cost btn btn-default">
                                        <i class="fa fa-trash"></i>
                                    </button> 
                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-lg-4">
        <textarea class="form-control" placeholder="Comment for invoice" id="invoiceComment"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-sm-8"><!--button-->
        <div class="btn_margin_top ">
            <button id="grnViewBack" onclick="goBack()" class="btn btn-primary"><?php echo $this->translate('Back') ?></button>
        </div>

    </div>
    <div class="col-lg-4 col-sm-4"><!--button-->
        <div class="btn_margin_top text-right">
            <button class="btn btn-primary" id="save-cost"><?php echo $this->translate('Convert To Invoice') ?></button>
        </div>

    </div>
</div><!--row-->

<div class="modal fade" id="viewServiceMaterialModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><?php echo $this->translate('Service Materials') ?></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="service-material-table table table-striped margin_top_normal table-condensed" id="serviceMaterialTable">
                    <thead>
                        <tr>
                            <th class="" style="width: 45%"><?php echo $this->translate("Product Code & Name"); ?></th>
                            <th class="" style="width: 45%"><?php echo $this->translate("Quantity"); ?></th>
                        </tr>
                    </thead>

                    <tbody id="formRow">
                        <tr id='preSample1' class="hidden">
                            <td id="productName">
                            </td>
                            <td id="qty">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewServiceSubTaskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><?php echo $this->translate('Service Sub Tasks') ?></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="service-table table table-striped margin_top_normal table-condensed" id="serviceSubTaskTable">
                    <thead>
                        <tr>
                            <th class="" style="width: 45%"><?php echo $this->translate("Sub Task Code"); ?></th>
                            <th class="" style="width: 45%"><?php echo $this->translate("Sub Task Name"); ?></th>
                        </tr>
                    </thead>

                    <tbody id="formRow">
                        <tr id='preSample2' class="hidden">
                            <td id="subTaskCode">
                            </td>
                            <td id="subTaskName">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="viewServiceEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><?php echo $this->translate('Employees') ?></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="service-employee-table table table-striped margin_top_normal table-condensed" id="serviceEmployeesTable">
                    <thead>
                        <tr>
                            <th class="" style="width: 45%"><?php echo $this->translate("Job Employee Code"); ?></th>
                            <th class="" style="width: 45%"><?php echo $this->translate("Job Employee Name"); ?></th>
                        </tr>
                    </thead>

                    <tbody id="formRow">
                        <tr id='preSample' class="hidden">
                            <td id="employeeCode">
                            </td>
                            <td id="employeeName">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>