<script>
    function goBack() {
        window.history.go(-1);
    }
</script>
<div class="well well_heading margin_top">
    <h5 class="font_weight add"><?php echo $this->translate('Service Details') ?></h5>
</div>
<div class="well clearfix well_body">
   <div class="row">
        <input type="text" class="form-control hidden" id="jobId" value="<?php echo  $this->jobData['jobId'] ?>">
         <table class="table table-striped">
            <thead>
                <tr>
                    <th width="11%"><?php echo $this->translate('Job Code') ?></th>
                    <th width="15%"><?php echo $this->translate('Customer Name') ?></th>
                    <th width="10%"><?php echo $this->translate('Job Card') ?></th>
                    <th width="12%"><?php echo $this->translate('Vehical Model') ?></th>
                    <th width="15%"><?php echo $this->translate('In Date & Time') ?></th>
                    <th width="14%"><?php echo $this->translate('Job Supervisor') ?></th>
                    <th width="5%" class="text-center">Employees</th>
                    <th width="8%"><?php echo $this->translate('Status') ?></th>
                </tr>
            </thead>

             <tbody id="jobList">
                <tr data-jobid="<?php echo $this->jobData['jobId']; ?>">
                    <td class="customerName"><?php echo $this->jobData['jobCode'] ?></td>
                    <td class="vehicleModelName"><?php echo $this->jobData['jobCustomer'] ?></td>
                    <td class="serviceVehicleRegNo"><?php echo $this->jobData['jobCardName'] ?></td>
                    <td class="taskCardName"><?php echo $this->jobData['vehicalModal'] ?></td>
                    <td class="jobSupervisor"><?php echo $this->jobData['inDate'] ?></td>
                    <td class="jobCompletedAt"><?php echo $this->jobData['jobSupervisor'] ?></td>
                    <td class="jEmployeesss text-center">
                        <span class=" link_color" style="cursor:pointer" >
                            <span id="<?php echo $this->jobData['jobId']; ?>" class="glyphicon glyphicon-user jEmployees"></span>
                        </span>
                    </td>
                    <td class="jState"><span class="label label-success"><?php echo $this->translate('Completed') ?></span></td>
                </tr>
            </tbody>
        </table>
       
    </div>
</div>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><?php echo $this->translate('Service Applied') ?></a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body" style="min-height: 250px">
            <div class="row">
                <?php if (sizeof($this->jobData['jobCardRateDetails']) > 0) { ?>
                <div id="jobCardTable">
                    <table class="job-card-table table margin_top_normal table-condensed">
                        <thead>
                            <tr>
                                <th width="15%"><?php echo $this->translate("Job Card Code"); ?></th>
                                <th width="20%"><?php echo $this->translate("Job Card Name"); ?></th>
                                <th width="10%"><?php echo $this->translate("Qty"); ?></th>
                                <th width="20%"><?php echo $this->translate("Service Rate"); ?></th>
                                <th width="20%"><?php echo $this->translate("Total"); ?></th>
                                <!-- <th width="5%"></th>
                                <th width="5%"></th>
                                <th width="5%"></th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($this->jobData['jobCardRateDetails'] as $val) { ?>
                            <tr id ="jobCardDataRow">
                                <td id="jobCardCode"><?php echo $val['taskCardCode'] ?></td>
                                <td id="jobCardName"><?php echo $val['taskCardName'] ?></td>
                                <td id="jobCardQty">
                                    <div class="input-group">
                                        <input id="jobCardQuantity" name="jobCardQuantity" type="text" class="form-control" disabled="true" value="<?php echo floatval($val['Qty']); ?>">
                                    </div>
                                </td>
                                <td id="jobCardServiceRate">
                                    <div class="input-group">
                                        <input name="jobCardRate" id="jobCardRate" type="text" class="form-control" disabled="true" value="<?php echo floatval($val['unitRate']); ?>"  />
                                        <strong class="input-group-addon cCurrency"><?php echo $this->companyCurrencySymbol; ?></strong>
                                    </div>
                                </td>
                                <td id="jobCardServiceRateTotal">
                                    <div class="input-group">
                                        <input name="jobCardTotal" id="jobCardTotal" type="text" class="form-control" disabled="true" value="<?php echo number_format(floatval($val['unitRate'])* floatval($val['Qty']),2); ?>" />
                                        <strong class="input-group-addon cCurrency"><?php echo $this->companyCurrencySymbol; ?></strong>
                                    </div>
                                </td>
                                <!-- <td class="text-center">
                                    <a class="job-card-edit btn btn-default" id="job-card-edit">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </a>
                                    <a class="job-card-save btn btn-default hidden" id="job-card-save">
                                        <i class="fa fa-floppy-o"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-default view-service-materials hidden">
                                        <i class="pointer_cursor glyphicon glyphicon-shopping-cart"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-default hidden view-service-sub-tasks">
                                        <i class="pointer_cursor glyphicon glyphicon-list-alt"></i>
                                    </a>
                                </td> -->
                            </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                </div>
                <?php } ?>
                <?php if (sizeof($this->jobData['jobServices']) > 0) { ?>
                <div id="serviceTable">
                <hr>
                    <table class="service-table table margin_top_normal table-condensed">
                        <thead>
                            <tr>
                                <th width="15%"><?php echo $this->translate("Service Code"); ?></th>
                                <th width="20%"><?php echo $this->translate("Service Name"); ?></th>
                                <th width="10%"><?php echo $this->translate("Qty"); ?></th>
                                <th width="20%"><?php echo $this->translate("Service Rate"); ?></th>
                                <th width="20%"><?php echo $this->translate("Total"); ?></th>
                                <th width="5%"></th>
                                <th width="5%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($this->jobData['jobServices'] as $value) { ?>
                                
                            <tr id="servicePreSetSample" class="add-row sample">
                                <td id="serviceCode"><?php echo $value['serviceCode']; ?></td>
                                <td id="serviceName"><?php echo $value['serviceName']; ?></td>
                                <td>
                                    <div class="input-group">
                                        <input id="quantity" name="quantity" type="text" class="form-control" disabled="true" value="<?php echo floatval($value['serviceQty']); ?>">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input name="serviceRate" id="serviceRate" type="text" class="form-control" disabled="true" value="<?php echo number_format($value['serviceRate'],2); ?>">
                                        <strong class="input-group-addon cCurrency"><?php echo $this->companyCurrencySymbol; ?></strong>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input name="serviceTotal" id="serviceTotal" type="text" class="form-control" disabled="true" value="<?php echo number_format(floatval($value['serviceRate'])* floatval($value['serviceQty']),2); ?>">
                                        <strong class="input-group-addon cCurrency"><?php echo $this->companyCurrencySymbol; ?></strong>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <a data-toggle="modal" href='#<?php echo $value['jobServiceID'] . 'viewServiceProducts' ?>'style = "font-size: 18px;" class ='glyphicon glyphicon-shopping-cart'></a>
                                </td>
                                <td class="text-center">
                                    <a data-toggle="modal" href='#<?php echo $value['jobServiceID'] . 'viewSubTasks' ?>'style = "font-size: 18px;" class ='glyphicon glyphicon-list-alt'></a>
                                </td>
                            </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                </div>
                <?php } ?>
            </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><?php echo $this->translate('Trade Materials') ?></a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="row">
                <div id="materialsTable">
                    <hr>
                    <table class="materials-table table margin_top_normal table-condensed">
                        <thead>
                            <tr>
                                <th width="20%"><?php echo $this->translate("Item Code"); ?></th>
                                <th width="25%"><?php echo $this->translate("Item Name"); ?></th>
                                <th width="15%"><?php echo $this->translate("Qty"); ?></th>
                                <th width="20%"><?php echo $this->translate("Unit Price"); ?></th>
                                <th width="20%"><?php echo $this->translate("Total"); ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($this->jobData['jobTradeMaterials'] as $value) { 
                                if ($value['jobProductMaterialTypeID'] == 2) {
                                ?>
                                <tr id="materialsPreSetSample">
                                    <td id="itemCode"><?php echo $value['productCode']; ?></td>
                                    <td id="itemName"><?php echo $value['productName']; ?></td>
                                    <td>
                                        <div class="input-group">
                                            <input id="quantity" name="quantity" type="text" class="form-control" disabled="true" value="<?php echo floatval($value['jobProductIssuedQty']); ?>">
                                        </div>
                                    </td>
                                     <td>
                                        <div class="input-group">
                                            <input name="itemUnitPrice" id="itemUnitPrice" type="text" class="form-control" disabled="true" value="<?php echo number_format($value['jobProductUnitPrice'],2); ?>">
                                            <strong class="input-group-addon cCurrency"><?php echo $this->companyCurrencySymbol; ?></strong>
                                        </div>
                                    </td>
                                     <td>
                                        <div class="input-group">
                                            <input name="itemTotal" id="itemTotal" type="text" class="form-control" disabled="true" value="<?php echo number_format($value['total'],2); ?>">
                                            <strong class="input-group-addon cCurrency"><?php echo $this->companyCurrencySymbol; ?></strong>
                                        </div>
                                    </td>
                                </tr>
                            <?php }
                                } ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><?php echo $this->translate('Miscellaneous Expense') ?></a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body" style="min-height: 250px">
            <div class="row">
                <div id="miscellaneousTable">
                    <hr>
                     <table class="table  table-striped margin_top_normal table-condensed" id="cost-of-miscellaneous-table">
                        <thead>
                            <tr>
                                <th style="width: 30%" class="th_code"><?php echo $this->translate('Expense Type') ?></th>
                                <th style="width: 20%" class="th_code"><?php echo $this->translate('Qty') ?></th>
                                <th style="width: 20%" class="th_code"><?php echo $this->translate('Unit Price') ?></th>
                                <th style="width: 20%" class="th_code"><?php echo $this->translate('Total Cost') ?></th>
                            </tr>
                        </thead>

                        <tbody id="add-other-cost-row">
                            <?php foreach ($this->jobData['jobOtherCosts'] as $value) { ?>
                                <tr class="add-other-cost-original">
                                    <td class="select-cost"><?php echo $value['otherCostProductCode'].'-'.$value['otherCostProductName']; ?></td>
                                    <td class="clearfix">
                                        <input type="text" class="form-control text-right" id="other-cost-unit" disabled="true" value="<?php echo floatval($value['otherJobCostNoOfUnits']); ?>">
                                    </td>
                                    <td class="clearfix">
                                        <input type="text" class="form-control" id="other-cost-unit-price" value="<?php echo number_format($value['otherJobCostUnitCost'],2); ?>" disabled="true">
                                    </td>
                                    <td class="clearfix">
                                        <input type="text" class="form-control text-right" id="other-cost-total" disabled="true" value="<?php echo number_format($value['total'],2); ?>">
                                    </td>
                                </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 col-sm-8"><!--button-->
        <div class="btn_margin_top ">
            <button id="grnViewBack" onclick="goBack()" class="btn btn-primary"><?php echo $this->translate('Back') ?></button>
        </div>

    </div>
    <div class="col-lg-4 col-sm-4"><!--button-->
        <div class="btn_margin_top text-right">
        </div>
    </div>
</div><!--row-->

<?php
foreach ($this->jobData['jobServices'] as $value) { ?>
<div class="modal fade" id='<?php echo $value['jobServiceID'] . 'viewServiceProducts' ?>' tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><?php echo $this->translate('Service Materials') ?></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="service-material-table table table-striped margin_top_normal table-condensed" id="serviceMaterialTable">
                    <thead>
                        <tr>
                            <th class="" style="width: 45%"><?php echo $this->translate("Product Code & Name"); ?></th>
                            <th class="" style="width: 45%"><?php echo $this->translate("Quantity"); ?></th>
                        </tr>
                    </thead>

                    <tbody id="formRow">
                        <?php foreach ($value['serviceProducts'] as $val) { ?>
                            <tr id='preSample1'>
                                <td id="productName"><?php echo $val['productCode'].'-'.$val['productName']; ?></td>
                                <td id="qty"><?php echo floatval($val['jobProductIssuedQty']).' '.$val['uomAbbr']; ?></td>
                            </tr>
                        <?php } ?>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id='<?php echo $value['jobServiceID'] . 'viewSubTasks' ?>' tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><?php echo $this->translate('Service Sub Tasks') ?></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="service-table table table-striped margin_top_normal table-condensed" id="serviceSubTaskTable">
                    <thead>
                        <tr>
                            <th class="" style="width: 45%"><?php echo $this->translate("Sub Task Code"); ?></th>
                            <th class="" style="width: 45%"><?php echo $this->translate("Sub Task Name"); ?></th>
                        </tr>
                    </thead>

                    <tbody id="formRow">
                        <?php foreach ($value['serviceSubTasks'] as $val) { ?>
                        <tr id='preSample2'>
                            <td id="subTaskCode"><?php echo $val['subTaskCode']; ?>
                            </td>
                            <td id="subTaskName"><?php echo $val['subTaskName']; ?>
                            </td>
                        </tr>
                         <?php } ?>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>

<?php } ?>

<div class="modal fade" id="viewServiceEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><?php echo $this->translate('Employees') ?></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="service-employee-table table table-striped margin_top_normal table-condensed" id="serviceEmployeesTable">
                    <thead>
                        <tr>
                            <th class="" style="width: 45%"><?php echo $this->translate("Job Employee Code"); ?></th>
                            <th class="" style="width: 45%"><?php echo $this->translate("Job Employee Name"); ?></th>
                        </tr>
                    </thead>

                    <tbody id="formRow">
                        <tr id='preSample' class="hidden">
                            <td id="employeeCode">
                            </td>
                            <td id="employeeName">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>