<div class="margin_top">
    <?php echo $this->partial('jobs/progress/progress-update-job-details', array('jobData' => $this->jobData, 'jobId' => $this->jobId, 'contractorForJob' => $this->contractorForJob)); ?>
</div>

<!--table-->
<div class="table table-responsive" id="requestTable">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('Request Code') ?></th>
                <th><?php echo $this->translate('Request Date') ?></th>
                <th><?php echo $this->translate('Status') ?></th>
                <th></th>
        </thead>
        <tbody>
            <?php
            foreach ($this->requests as $request) {
                $request = (object) $request;
                $status = $request->materialRequestStatus;
                $state = ucfirst($this->status[$status]);

                if($state == 'In progress') {
                	$state = 'pending';
                }

                $style = NULL;
                switch ($status) {
                    case "3":
                        $style = "label label-success";
                        break;
                    case "8":
                        $style = "label label-primary";
                        break;
                    case "9":
                        $style = "label label-info";
                        break;
                    case "4":
                        $style = "label label-danger";
                        break;
                    case "17":
                        $style = "label label-danger";
                        break;
                    case "18":
                        $style = "label label-danger";
                        break;
                    default :
                        $style = "label label-default";

                }

                ?>
                <tr data-material-request-id="<?php echo $request->materialRequestId; ?>">
                    <td class="requestCode"><?php echo $request->materialRequestCode; ?></td>
                    <td class="requestDate"><?php echo $request->materialRequestDate; ?></td>
                    <td class="requestStatus">
                        <span class="<?php echo $style; ?>"> <?php echo $state; ?></span>
                    </td>
                    <td>
                    	<button type="button" class="viewProducts btn btn-primary"><?php echo $this->translate('View Products') ?></button>
                    </td>
                </tr>
                <?php
            }
            if (count($this->requests) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div>
<label>&nbsp;</label>
<div class="_row_with_margin clearfix">
    <div class="col-lg-12 addDiv">
        <div class="text-right hidden" id="searchBackBtn">
            <a class="btn btn-primary" style="width: 100px;" href="<?php echo $this->url('progress', array('action' => 'list', 'param1' => 'back'));?>"><span> <?php echo $this->translate('Back') ?></span></a>
        </div>
        <div class="text-right" id="normalBackBtn">
            <a class="btn btn-primary" style="width: 100px;"><span> <?php echo $this->translate('Back') ?></span></a>
        </div>
    </div>
</div>


<!-- Project Supervisor View Modal -->
<div class="modal fade" id="viewJobSupervisorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><?php echo $this->translate('Job Supervisors') ?></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="job-supervisor-table table table-striped margin_top_normal table-condensed" id="jobSupervisorTable">
                    <thead>
                        <tr>
                            <th class="" style="width: 45%"><?php echo $this->translate("Job Supervisor Name"); ?></th>
                        </tr>
                    </thead>

                    <tbody id="formRow">
                        <tr id='preSample' class="hidden">
                            <td id="supervisorName">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>

<!-- Project contractor  View Modal -->
<div class="modal fade" id="viewJobContractorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><?php echo $this->translate('Job Contractors') ?></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="job-supervisor-table table table-striped margin_top_normal table-condensed" id="jobContractorTable">
                    <thead>
                        <tr>
                            <th class="" style="width: 45%"><?php echo $this->translate("Job Contractor Name"); ?></th>
                        </tr>
                    </thead>

                    <tbody id="formRow">
                        <tr id='contractorRow' class="hidden">
                            <td id="contractorName">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>

<!-- request related products  View Modal -->
<div class="modal fade" id="viewRequestProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><?php echo $this->translate('Requested Products') ?></h5>
            </div>
            <div class="modal-body">
                <table class="job-supervisor-table table table-striped margin_top_normal table-condensed" id="requestProductTable">
                    <thead>
                        <tr>
                            <th class="" style="width: 25%"><?php echo $this->translate("Item Code"); ?></th>
                            <th class="" style="width: 25%"><?php echo $this->translate("Item Name"); ?></th>
                            <th class="" style="width: 25%"><?php echo $this->translate("Requested Qty"); ?></th>
                            <th class="" style="width: 25%"><?php echo $this->translate("Issued Qty"); ?></th>
                        </tr>
                    </thead>

                    <tbody id="formRow">
                        <tr id='productRow' class="hidden">
                            <td id="itemCode"></td>
                            <td id="itemName"></td>
                            <td id="requestQty"></td>
                            <td id="issuedQty"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>