<?php 
$maintainProject = $this->maintainProject;
?>

<div class="well well_heading margin_top">
    <h5 class="font_weight add"><?php echo $this->translate('Search Jobs') ?></h5>
</div>
<div class="well clearfix well_body">
   <div class="form-row">
        <input type="text" class="hidden" id="paramVal"  value="<?php echo $this->paramVal ?>">
        <?php if($maintainProject == 1) {?>
        <div class="search_field col-lg-4">
            <select class='form-control selectpicker' data-actions-box="false" data-live-search="true" name="projSearch" id="projectSearchDropDown" title="Select a Project" data-selected-text-format="count>3" data-size="5">
                <option value="0"><?php echo $this->translate('Select Project') ?></option>
            </select>
        </div>
        <?php } ?>
        <div class="search_field col-lg-4">
            <select class='form-control selectpicker' data-actions-box="false" data-live-search="true" name="jobSearch" id="jobSearchDropDown" title="Select Job" data-selected-text-format="count>3" data-size="5">
                <option value="0"><?php echo $this->translate('Select Job') ?></option>
            </select>
            <select class='form-control selectpicker' data-actions-box="false" data-live-search="false" name="projectjobSearch" id="projectRelatedjobSearchDropDown" title="Select Job" data-selected-text-format="count>3" data-size="5">
                <option value="0"><?php echo $this->translate('Select Job') ?></option>
            </select>
        </div>
        <div class="col-lg-4">
            <button type="button" class="btn btn-primary" id="searchProgressJob"><?php echo $this->translate('Search') ?></button>
            <button type="button" class="btn btn-default" id="searchCancelProgressJob"><?php echo $this->translate('Clear') ?></button>
        </div>
    </div>
</div>
<div id="default-job-list">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="12%"><?php echo $this->translate('Job Code') ?></th>
                <th width="12%"><?php echo $this->translate('Job Name') ?></th>
                <th width="12%"><?php echo $this->translate('Job Type') ?></th>
                <th width="12%"><?php echo $this->translate('Job Supervisor') ?></th>
                <?php if($this->contractorForJob == 1) {?> 
                <th width="10%" class="text-center"><?php echo $this->translate('Contractor') ?></th>
                <?php } ?>
                <th width="12%"><?php echo $this->translate('Due Date') ?></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
            
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->jobs as $job) {
                $job = (object) $job;
                ?>
                <tr data-job-id="<?php echo $job->jobId; ?>" data-entity-id="<?php echo $job->entityID; ?>" data-job-name="<?php echo $job->jobName; ?>" data-job-type="<?php echo $job->jobTypeID; ?>" data-employee-address="<?php echo $employee->employeeAddress; ?>"  data-job-contractor-id="<?php echo $job->contractorID; ?>">
                    <td class="jobCode"><?php echo $job->jobReferenceNumber; ?></td>
                    <td class="jobName"><?php echo $job->jobName; ?></td>
                    <td class="jobType"><?php echo $job->jobTypeName; ?></td>
                    <td class="text-center">
                        <a href="#" class="glyphicon glyphicon-expand custom_font_size job-supervisor-view" data-toggle="modal" data-action="view"></a>
                    </td>
                    <?php if($this->contractorForJob == 1) {?> 
                    <td class="jobContractor text-center viewContractors"><a href="#"><i class="fa fa-user" style="font-size: 15px;"></i></a></td>
                    <?php } ?>
                    <td class="jobDueDate"><?php echo $job->jobDueDate; ?></td>
                    <td class="text-center">
                        <a class="btn btn-primary form-control" href="<?php echo $this->url('progress', array('action' => 'view-requests', 'param1' => $job->jobId));
                        ?>" id="<?php echo $project->projectId ?>">
                            <span> View Requests</span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a class="btn btn-primary form-control" href="<?php echo $this->url('progress', array('action' => 'view-resources', 'param1' => $job->jobId));
                        ?>" id="<?php echo $project->projectId ?>">
                            <span> View Products</span>
                        </a>
                        
                    </td>
                    <td class="text-center">
                        <a class="btn btn-primary form-control" href="<?php echo $this->url('progress', array('action' => 'view-task', 'param1' => $job->jobId));
                        ?>" id="<?php echo $project->projectId ?>">
                            <span> View Task</span>
                        </a>
                    </td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
    <?php
    if ($this->paginated) {
        echo $this->paginationControl(
                $this->jobs, 'sliding', array('partial/paginator.phtml', 'jobs'), array(
            'route' => 'progress', 'action' => 'list'
                )
        );
    }
    ?>
</div>


<div id="progress-job-list" class="margin_top">
</div>

<!-- Project Supervisor View Modal -->
<div class="modal fade" id="viewJobSupervisorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><?php echo $this->translate('Job Supervisors') ?></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="job-supervisor-table table table-striped margin_top_normal table-condensed" id="jobSupervisorTable">
                    <thead>
                        <tr>
                            <th class="" style="width: 45%"><?php echo $this->translate("Job Supervisor Name"); ?></th>
                        </tr>
                    </thead>

                    <tbody id="formRow">
                        <tr id='preSample' class="hidden">
                            <td id="supervisorName">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>

<!-- Project contractor  View Modal -->
<div class="modal fade" id="viewJobContractorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><?php echo $this->translate('Job Contractors') ?></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="job-supervisor-table table table-striped margin_top_normal table-condensed" id="jobContractorTable">
                    <thead>
                        <tr>
                            <th class="" style="width: 45%"><?php echo $this->translate("Job Contractor Name"); ?></th>
                        </tr>
                    </thead>

                    <tbody id="formRow">
                        <tr id='contractorRow' class="hidden">
                            <td id="contractorName">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>