<div class="well well_heading margin_top">
    <h5 class="font_weight add"><?php echo $this->translate('Job Details') ?></h5>
</div>
<div class="well clearfix well_body">
   <div class="row">
        <input type="text" class="form-control hidden" id="jobId" value="<?php echo $this->jobId ?>">
        <div class="col-lg-2 col-md-2 col-sm-2 xs-margin-bottom">
            <label for="jobCode" class="control-label">
                <?php echo $this->translate("Job Code"); ?>
            </label>
            <input type="text" class="form-control" disabled="disabled" id="jobCode" value="<?php echo $this->jobData['jobReferenceNumber'] ?>">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 xs-margin-bottom">
            <label for="jobName" class="control-label">
                <?php echo $this->translate('Job Name'); ?>
            </label>
            <input type="text"  class="form-control" disabled="disabled" id="jobName" value="<?php echo $this->jobData['jobName'] ?>">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 xs-margin-bottom">
            <label for='jobType' class="control-label">
                <?php echo $this->translate('Job Type'); ?>
            </label>
            <input type="text" class="form-control" disabled="disabled" id="jobType" value="<?php echo $this->jobData['jobTypeName'] ?>">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 xs-margin-bottom">
            <label for="dueDate" class="control-label">
                <?php echo $this->translate("Due Date"); ?>
            </label>
            <input type="text" class="form-control" disabled="disabled" id="jobDueDate" value="<?php echo $this->jobData['jobDueDate'] ?>">
        </div>
        <?php if($this->contractorForJob == 1) {?>
        <div class="col-lg-2 col-md-2 col-sm-2 xs-margin-bottom">
            <center><label for="viewContractors" class="control-label">
                <?php echo $this->translate('Job Contractors'); ?>
            </label></center>
            <center><a class="btn btn-default" id="viewContractors"><i class="fa fa-user" style="font-size: 15px;"></i></a></center>
        </div>
        <?php } ?>
        <div class="col-lg-2 col-md-2 col-sm-2 xs-margin-bottom">
            <center><label for="viewResources" class="control-label">
                <?php echo $this->translate('Job Supervisors'); ?>
            </label></center>
            <center><a class="btn btn-default" id="viewSupervisors"><i class="fa fa-user" style="font-size: 15px;"></i></a></center>
        </div>
    </div>
</div>