<!--table-->
<div class="table table-responsive jobsTable">
    <?php 
    if (count($this->jobs) > 0) {

     ?>
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="12%"><?php echo $this->translate('Job Code') ?></th>
                <th width="12%"><?php echo $this->translate('Job Name') ?></th>
                <th width="12%"><?php echo $this->translate('Job Type') ?></th>
                <th width="12%"><?php echo $this->translate('Job Supervisor') ?></th>
                <?php if($this->contractorForJob == 1) {?> 
                <th width="10%" class="text-center"><?php echo $this->translate('Contractor') ?></th>
                <?php } ?>
                <th width="12%"><?php echo $this->translate('Due Date') ?></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
            
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->jobs as $job) {
                $job = (object) $job;
                ?>
                <tr data-job-id="<?php echo $job->jobId; ?>" data-entity-id="<?php echo $job->entityID; ?>" data-job-name="<?php echo $job->jobName; ?>" data-job-type="<?php echo $job->jobTypeID; ?>" data-employee-address="<?php echo $employee->employeeAddress; ?>"  data-job-contractor-id="<?php echo $job->contractorID; ?>">
                    <td class="jobCode"><?php echo $job->jobReferenceNumber; ?></td>
                    <td class="jobName"><?php echo $job->jobName; ?></td>
                    <td class="jobType"><?php echo $job->jobTypeName; ?></td>
                    <td class="text-center">
                        <a href="#" class="glyphicon glyphicon-expand custom_font_size job-supervisor-view" data-toggle="modal" data-action="view"></a>
                    </td>
                    <?php if($this->contractorForJob == 1) {?> 
                    <td class="jobContractor text-center viewContractors"><a href="#"><i class="fa fa-user" style="font-size: 15px;"></i></a></td>
                    <?php } ?>
                    <td class="jobDueDate"><?php echo $job->jobDueDate; ?></td>
                    <td class="text-center">
                        <a class="btn btn-primary form-control" href="<?php echo $this->url('progress', array('action' => 'view-requests', 'param1' => $job->jobId));
                        ?>" id="<?php echo $project->projectId ?>">
                            <span> <?php echo $this->translate('View Requests') ?></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a class="btn btn-primary form-control" href="<?php echo $this->url('progress', array('action' => 'view-resources', 'param1' => $job->jobId));
                        ?>" id="<?php echo $project->projectId ?>">
                            <span> <?php echo $this->translate('View Products') ?></span>
                        </a>
                        
                    </td>
                    <td class="text-center">
                        <a class="btn btn-primary form-control" href="<?php echo $this->url('progress', array('action' => 'view-task', 'param1' => $job->jobId));
                        ?>" id="<?php echo $project->projectId ?>">
                            <span> <?php echo $this->translate('View Task') ?></span>
                        </a>
                    </td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
    <?php 
    }
    ?>
</div>



