<div id="progress-job-list" class="margin_top">
    <?php echo $this->partial('jobs/progress/progress-update-job-details', array('jobData' => $this->jobData, 'jobId' => $this->jobId, 'contractorForJob' => $this->contractorForJob)); ?>
</div>

<!--table-->
<div class="table-responsive">
    <table class="taskTable table table-striped">
        <thead>
            <tr>
                <th width="20%"><span id="selectAllSpan"><a id="selectAllTask" data-selected="false"><span id="selectAllIcon" class="fa fa-square-o custom_font_size"></span></a>   <?php echo $this->translate('Select all') ?></span></th>
                <th width="20%" class="text-center"><?php echo $this->translate('Task Code') ?></th>
                <th width="20%" class="text-center"><?php echo $this->translate('Task Name') ?></th>
                <th width="20%" class="text-center"><?php echo $this->translate('Status') ?></th>
                <th width="20%" class="text-center"><a data-expanded="false" id="expandAllTask"><span id="expandAllIcon" class="fa fa-square-o custom_font_size"></span></a>   <?php echo $this->translate('Expand all') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->tasks as $task) {
                $task = (object) $task;
                $jobProductStatus = ($task->jobProductStatus == '8' || $task->jobProductStatus == '16') ? '19' : $task->jobProductStatus;


                $status = $jobProductStatus;
                $state = ucfirst($this->status[$status]);

                $style = NULL;
                switch ($status) {
                    case "3":
                        $style = "label label-success";
                        break;
                    case "8":
                        $style = "label label-primary";
                        break;
                    case "9":
                        $style = "label label-info";
                        break;
                    case "4":
                        $style = "label label-danger";
                        break;
                    case "17":
                        $style = "label label-danger";
                        break;
                    case "18":
                        $style = "label label-danger";
                        break;
                    default :
                        $style = "label label-default";

                }
                ?>
                <tr data-job-task-items = "<?php echo $task->taskRelatedProducts ?>">
                    <td>
                        <?php 
                        if ($status != '19' && $status != '16'){
                        ?>
                        <a><span class="fa fa-square-o selectTask" data-selected="false" id="<?php echo 'selectIcon_'.$task->jobTaskID ?>" style="font-size: 25px;"></span></a>
                        <?php } ?>
                    </td>
                    <td class="taskCode">
                        <input type="text" class="form-control text-center" disabled="disabled" value="<?php echo $task->taskCode ?>">
                    </td>
                    <td class="taskName">
                        <input type="text" class="form-control text-center" disabled="disabled" value="<?php echo $task->taskName ?>">
                    </td>
                    <td class="text-center">
                        <span class="<?php echo $style; ?>"> <?php echo $state; ?></span>
                    </td>
                    <td class="text-center">
                        <a><span  class="fa fa-bars expandTask" id="<?php echo 'expand_'.$task->jobTaskID ?>" data-expanded="false" style="font-size: 25px;"></span></a>
                    </td>
                </tr>
                <tr class="<?php echo 'subHeader_'.$task->jobTaskID.' hidden'.' subHeaders' ?>">
            		<th></th>
	                <th class="text-center"><?php echo $this->translate('Item Code') ?></th>
	                <th class="text-center"><?php echo $this->translate('Item Name') ?></th>
	                <th class="text-center"><?php echo $this->translate('Required Qty') ?></th>
            		<th></th>
            	</tr>

                <?php foreach ($task->taskRelatedProducts as $val) {  	
              	?>
              	<tr class="<?php echo 'subRow_'.$task->jobTaskID.' hidden'.' subRows' ?>">
	        		<td></td>
	        		<td class="text-center"><?php echo $val['productCode']; ?></td>
	        		<td class="text-center"><?php echo $val['productName']; ?></td>
	        		<td class="text-center"><?php echo $val['requestedQty']; ?></td>
	        		<td></td>
	        	</tr>
	        	
                <?php
                }
            }
            if (count($this->tasks) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div>
<hr>
<h4><?php echo $this->translate('Non Task Products') ?></h4>
<div class="table-responsive">
    <table class="otherMaterialsTable table table-striped" style="width: 100%;">
        <thead>
            <tr>
                <th></th>
                <th width="20%" class="text-center"><?php echo $this->translate('Item Code') ?></th>
                <th width="20%" class="text-center"><?php echo $this->translate('Item Name') ?></th>
                <th width="20%" class="text-center"><?php echo $this->translate('Required Qty') ?></th>
                <th width="20%" class="text-center"><?php echo $this->translate('Status') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->otherItems as $item) {
                $item = (object) $item;
                $jobProductStatus = ($item->jobProductStatus == '8' || $item->jobProductStatus == '16') ? '19' : $item->jobProductStatus;

                $status = $jobProductStatus;
                $state = ucfirst($this->status[$status]);

                $style = NULL;
                switch ($status) {
                    case "3":
                        $style = "label label-success";
                        break;
                    case "8":
                        $style = "label label-primary";
                        break;
                    case "9":
                        $style = "label label-info";
                        break;
                    case "4":
                        $style = "label label-danger";
                        break;
                    case "17":
                        $style = "label label-danger";
                        break;
                    case "18":
                        $style = "label label-danger";
                        break;
                    default :
                        $style = "label label-default";

                }
                ?>
                <tr>
                    <td>
                        <?php 
                        
                        if ($status != '19' && $status != '16'){

                        ?>
                        <a><span class="fa fa-square-o selectOtherMaterial" data-selected="false" id="<?php echo 'selectOtherMaterialIcon_'.$item->jobProductID ?>" style="font-size: 25px;"></span></a>
                        <?php 
                        }
                        ?>
                    </td>
                    <td class="itemCode text-center">
                        <?php echo $item->productCode; ?>
                    </td>
                    <td class="itemName text-center">
                        <?php echo $item->productName; ?>
                    </td>
                    <td class="requestedQty text-center">
                        <?php echo $item->jobProductAllocatedQty; ?>
                    </td>
                    <td class="text-center">
                        <span class="<?php echo $style; ?>"> <?php echo $state; ?></span>
                    </td>
                </tr>
                <?php
                
            }
            if (count($this->otherItems) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div>
<label>&nbsp;</label>
<div class="_row_with_margin clearfix">
    <!--Reset&Add-->
    <div class="col-lg-12 addDiv">
        <div class="text-right">
            <button type="button" class="btn btn-success" id="sendRequest"><?php echo $this->translate('Request Products') ?></button>
            <a class="btn btn-primary hidden" id="searchBackBtn" style="width: 100px;" href="<?php echo $this->url('progress', array('action' => 'list', 'param1' => 'back'));?>"><span> <?php echo $this->translate('Back') ?></span></a>
            <a class="btn btn-primary" id="normalBackBtn" style="width: 100px;"><span> <?php echo $this->translate('Back') ?></span></a>
        </div>
    </div>
</div>

<!-- Project Supervisor View Modal -->
<div class="modal fade" id="viewJobSupervisorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><?php echo $this->translate('Job Supervisors') ?></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="job-supervisor-table table table-striped margin_top_normal table-condensed" id="jobSupervisorTable">
                    <thead>
                        <tr>
                            <th class="" style="width: 45%"><?php echo $this->translate("Job Supervisor Name"); ?></th>
                        </tr>
                    </thead>

                    <tbody id="formRow">
                        <tr id='preSample' class="hidden">
                            <td id="supervisorName">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>

<!-- Project Contractor View Modal -->
<div class="modal fade" id="viewJobContractorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><?php echo $this->translate('Job Contractors') ?></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="job-supervisor-table table table-striped margin_top_normal table-condensed" id="jobContractorTable">
                    <thead>
                        <tr>
                            <th class="" style="width: 45%"><?php echo $this->translate("Job Contractor Name"); ?></th>
                        </tr>
                    </thead>

                    <tbody id="formRow">
                        <tr id='contractorRow' class="hidden">
                            <td id="contractorName">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>