<input type="text" class="form-control hidden" id="jobTaskEstQty" value="<?php echo $this->task['jobTaskEstQty'] ?>">
<div class="col-md-12">
    <div class="progress">
      <div class="progress-bar" id="taskProgressBar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"><span id="progressVal"><?php echo $this->task['jobTaskProgress'].'%'; ?></span></div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <label>&nbsp;</label>
        <button type="button" class="btn btn-default form-control" id="holdTask"><?php echo $this->translate('Hold') ?></button>
    </div>
    <div class="col-md-3">
        <label>&nbsp;</label>
        <div class="input-group">
            <input type="text"  autofocus="true" class="form-control" disabled="true" id="taskProgress" value="<?php echo $this->task['jobTaskProgress'] ?>">
            <span class="input-group-addon"><i class="fa fa-percent" aria-hidden="true"></i></span>
        </div>
    </div>
    <div class="col-md-3">
        <label for="jobTaskProgress" class="control-label">
            <?php echo $this->translate("Completed Qty"); ?>
        </label>
        <input type="text"  autofocus="true" class="form-control" id="usedQty" value="<?php echo $this->task['jobTaskUsedQty'] ?>">
    </div>
    <div class="col-md-3">
        <label>&nbsp;</label>
        <button type="button" id="updateJobTaskProgress" class="btn btn-primary form-control"><?php echo $this->translate('Update') ?></button>
    </div>
</div>