<div id="progress-job-list" class="margin_top">
    <?php echo $this->partial('jobs/progress/progress-update-job-details', array('jobData' => $this->jobData, 'jobId' => $this->jobId, 'contractorForJob' => $this->contractorForJob)); ?>
</div>

<div class="table table-responsive">
    <table class="table table-striped" id="job-task-list">
        <thead>
            <tr>
                <th width="15%"><?php echo $this->translate('Task Code') ?></th>
                <th width="15%"><?php echo $this->translate('Task Name') ?></th>
                <th width="10%"><?php echo $this->translate('Estimated Quantity') ?></th>
                <th width="10%"><?php echo $this->translate('Completed Qty') ?></th>
                <th width="10%"><?php echo $this->translate('Completed') ?></th>
                <th width="10%" class="text-center"><?php echo $this->translate('Status') ?></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->tasks as $task) {
                $task = (object) $task;
                $status = $task->jobTaskStatus;
                $state = ucfirst($this->status[$status]);

                $style = NULL;
                switch ($status) {
                    case "3":
                        $style = "label label-success";
                        break;
                    case "8":
                        $style = "label label-primary";
                        break;
                    case "9":
                        $style = "label label-info";
                        break;
                    case "4":
                        $style = "label label-danger";
                        break;
                    case "17":
                        $style = "label label-danger";
                        break;
                    case "18":
                        $style = "label label-danger";
                        break;
                    default :
                        $style = "label label-default";

                }
                ?>
                <tr data-job-task-id ="<?php echo $task->jobTaskID ?>" data-job-id="<?php echo $task->jobID ?>" data-project-id="<?php echo $task->projectID ?>" data-job-task-status="<?php echo $task->jobTaskStatus ?> ">
                    <td class="taskCode">
                        <input type="text" class="form-control" disabled="disabled" value="<?php echo $task->taskCode ?>">
                    </td>
                    <td class="taskName">
                        <input type="text" class="form-control" disabled="disabled" value="<?php echo $task->taskName ?>">
                    </td>
                    <td class="text-center">
                        <input type="text" class="form-control jobTaskEstQty" disabled="disabled" value="<?php echo $task->jobTaskEstQty ?>">
                    </td>
                    <td class="text-center">
                        <input type="text" class="form-control jobTaskUsedQty" disabled="disabled" value="<?php echo $task->jobTaskUsedQty ?>">
                    </td>
                    <td class="text-center">
                        <div class="input-group">
                            <input type="text" class="form-control" disabled="disabled" value="<?php echo number_format($task->jobTaskProgress, 2); ?>">
                            <span class="input-group-addon"><i class="fa fa-percent" aria-hidden="true"></i></span>
                        </div>
                    </td>
                    <td class="text-center">
                        <span class="<?php echo $style; ?>"> <?php echo $state; ?></span>
                    </td>
                    <td class="text-center">
                        <?php if ($task->jobTaskStatus != 17) {?>
                        <button type="button" class="<?php echo ($task->jobTaskStatus != '3') ? 'btn btn-success form-control startTask disabled' : 'btn btn-success form-control startTask'; ?>"><?php echo $this->translate('Start') ?></button>
                        <?php 
                        } else {
                        ?>
                        <button type="button" class="btn btn-success form-control resumeTask"><?php echo $this->translate('Resume') ?></button>
                        <?php 
                        }
                        ?>
                    </td>
                    <td class="text-center">
                        <button type="button" class="<?php echo ($task->jobTaskStatus != '8' && $task->jobTaskStatus != '9') ? 'btn btn-primary form-control updateTaskProgress disabled' : 'btn btn-primary form-control updateTaskProgress'; ?>"><?php echo $this->translate('Update') ?></button>
                    </td>
                    <td class="text-center">
                        <button type="button" class="<?php echo ($task->jobTaskStatus != '8' && $task->jobTaskStatus != '9') ? 'btn btn-danger form-control endTask disabled' : 'btn btn-danger form-control endTask'; ?>"><?php echo $this->translate('End') ?></button>
                    </td>
                </tr>
                <?php
            }
            if (count($this->tasks) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div>
<label>&nbsp;</label>
<div class="_row_with_margin clearfix">
    <!--Reset&Add-->
    <div class="col-lg-12 addDiv">
        <div class="text-right hidden" id="searchBackBtn">
            <a class="btn btn-primary" style="width: 100px;" href="<?php echo $this->url('progress', array('action' => 'list', 'param1' => 'back'));?>"><span> <?php echo $this->translate('Back') ?></span></a>
        </div>
        <div class="text-right" id="normalBackBtn">
            <a class="btn btn-primary" style="width: 100px;"><span> <?php echo $this->translate('Back') ?></span></a>
        </div>
    </div>
</div>

<!-- Task Progress Update Modal -->
<div class="modal fade bs-example-modal-sm" id="taskProgressUpdateModal" tabindex="-1" role="dialog" aria-labelledby="taskProgressUpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="taskProgressUpdateModalLabel"><?php echo $this->translate('Update Task Progress') ?></h4>
            </div>
            <div class="modal-body taskProgressUpdateModalBody"></div>
        </div>
    </div>
</div>

<!-- Project Supervisor View Modal -->
<div class="modal fade" id="viewJobSupervisorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><?php echo $this->translate('Job Supervisors') ?></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="job-supervisor-table table table-striped margin_top_normal table-condensed" id="jobSupervisorTable">
                    <thead>
                        <tr>
                            <th class="" style="width: 45%"><?php echo $this->translate("Job Supervisor Name"); ?></th>
                        </tr>
                    </thead>

                    <tbody id="formRow">
                        <tr id='preSample' class="hidden">
                            <td id="supervisorName">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>

<!-- Project contractor  View Modal -->
<div class="modal fade" id="viewJobContractorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><?php echo $this->translate('Job Contractors') ?></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="job-supervisor-table table table-striped margin_top_normal table-condensed" id="jobContractorTable">
                    <thead>
                        <tr>
                            <th class="" style="width: 45%"><?php echo $this->translate("Job Contractor Name"); ?></th>
                        </tr>
                    </thead>

                    <tbody id="formRow">
                        <tr id='contractorRow' class="hidden">
                            <td id="contractorName">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>



