<div class="data_table">
    <?php
    $i = 1;
    $j = 1;

    ?>
    <table  width="100%" class="product-list">
        <tr>
            <td colspan="2">
                <hr />
                <br />
                <div class="qout_body">
                    <table width="100%" class="table bigtable table-bordered table-striped" id="item_tbl">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Account Code</th>
                                <th>Account Name</th>
                                <th>Debit</th>
                                <th>Credit</th>
                                <th>Memo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                                foreach ($accounts as $singleValue) {
                                 
                                    echo "<tr>"
                                    . "<td>" . $j++ . "</td>"
                                    . "<td>" . $singleValue['accountCode'] . "</td>"
                                    . "<td>" . $singleValue['accountName'] . "</td>"
                                    . "<td>" . $singleValue['debit'] . "</td>"
                                    . "<td>" . $singleValue['credit'] . "</td>"
                                    . "<td>" . $singleValue['memo']. "</td>"
                                    . "</tr>";
                                }
                            
                            ?>
                        </tbody>
                    </table>

                  
                </div>
            </td>
        </tr>

    </table>
</div>