<div class="table table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="20%"><?php echo $this->translate('Branch Code'); ?></th>
                <th width="20%"><?php echo $this->translate('Branch Name'); ?></th>
                <th width="40%"><?php echo $this->translate('Branch Address'); ?></th>
                <th width="10%" class="text-center"><?php echo $this->translate('Edit'); ?></th>
                <th width="10%" class="text-center"><?php echo $this->translate('Delete'); ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            if (count($branches) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            } else {
                foreach ($branches as $branch) {
                    ?>
                    <tr data-branch-id="<?php echo $branch['bankBranchId']; ?>" data-branch-code="<?php echo $branch['bankBranchCode']; ?>" data-branch-name="<?php echo $branch['bankBranchName']; ?>" data-entity-id="<?php echo $branch['entityId']; ?>">
                        <td><?php echo $branch['bankBranchCode']; ?></td>
                        <td><?php echo $branch['bankBranchName']; ?></td>
                        <td><?php echo $branch['bankBranchAddress']; ?></td>
                        <td class="text-center">
                            <a href="#" class="fa fa-edit custom_font_size branch-action" data-action="edit"></a>
                        </td>
                        <td class="text-center">
                            <a href="#" class="fa fa-trash-o custom_font_size branch-action" data-toggle="modal" data-target="#branchDeleteModal" data-action="delete"></a>
                        </td>
                    </tr>
                    <?php
                }
            }
            ?>
        </tbody>
    </table>
</div>
<?php
echo $this->paginationControl(
        $branches, 'sliding', array('partial/paginator.phtml', 'bank'), array('route' => 'bank', 'action' => 'branch')
);
?>