<?php $this->headScript()->appendFile($this->basePath('js/expenses/bank.js')); ?>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="20%"><?php echo $this->translate('Bank Code'); ?></th>
                <th width="53%"><?php echo $this->translate('Bank Name'); ?></th>
                <th width="9%" class="text-center"><?php echo $this->translate('Branch'); ?></th>
                <th width="9%" class="text-center"><?php echo $this->translate('Edit'); ?></th>
                <th width="9%" class="text-center"><?php echo $this->translate('Delete'); ?></th>
            </tr>
        </thead>

        <tbody>
            <?php
            if (count($banks) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            } else {
                foreach ($banks as $bankData) {
                    $bank = new Expenses\Model\Bank();
                    $bank->exchangeArray($bankData);
                    ?>
                    <tr data-bank-id="<?php echo $bank->bankId; ?>" data-entity-id="<?php echo $bank->entityId; ?>" data-bank-name="<?php echo $bank->bankName; ?>"  data-bank-code="<?php echo $bank->bankCode; ?>">
                        <td><?php echo $bank->bankCode; ?></td>
                        <td><?php echo $bank->bankName; ?></td>
                        <td class="text-center">
                            <a href="<?php echo $this->url('bank', array('action' => 'branch', 'param1' => $bank->bankId)); ?>" class="fa fa-plus custom_font_size bnk-action" data-action="add-branch"></a>
                        </td>
                        <td class="text-center">
                            <a href="#" class="fa fa-edit custom_font_size bnk-action" data-action="edit"></a>
                        </td>
                        <td class="text-center">
                            <a href="#" class="fa fa-trash-o custom_font_size bnk-action" data-toggle="modal" data-target="#bankDeleteModal" data-action="delete"></a>
                        </td>
                    </tr>
                    <?php
                }
            }
            ?>
        </tbody>
    </table>
</div>

