
<div class="project-type-form-container margin_top">
    <div class="DesignationBody">   
        <div class="well well_heading">
            <h5 class="font_weight addTitle"><?php echo $this->translate('Add Participants Sub Type') ?></h5>
            <h5 class="font_weight updateTitle hidden"><?php echo $this->translate('Update Participants Sub Type') ?></h5>
        </div>
        <div class="well well_body">
            <div class="form-horizontal">
                <div class="_row_with_margin clearfix">

                    <!--designation name-->
                    <div class="col-lg-3 col-md-3 col-sm-3 xs-margin-bottom">
                        <label for="designationCode" class="_remove_bold"><?php echo $this->translate('Participants Sub Type Code') ?><span class="_required">*</span></label>
                        <input type="text" placeholder="<?php echo $this->translate('Eg: PST0001') ?>" autofocus="true" class="form-control" id="designationCode">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 xs-margin-bottom">
                        <label for="designationName" class="_remove_bold"><?php echo $this->translate('Participants Sub Type Name') ?><span class="_required">*</span></label>
                        <input type="text" placeholder="<?php echo $this->translate('Eg: Head Coach') ?>" autofocus="true" class="form-control" id="designationName">
                    </div>

                    <!--Reset&Add-->
                    <div class="col-lg-6 addDiv">
                        <label>&nbsp;</label>
                        <div class="text-right">
                            <button type="button" class="btn btn-primary update" id="btnAdd"><?php echo $this->translate('Add New') ?></button>
                            <button type="button" class="btn btn-default" id="btnReset"><?php echo $this->translate('Reset') ?></button>
                        </div>
                    </div>

                    <!--cancel&Update-->
                    <div class="col-lg-6 updateDiv hidden">
                        <label>&nbsp;</label>
                        <div class="text-right">
                            <button type="button" class="btn btn-primary update" id="btnUpdate"><?php echo $this->translate('Update') ?></button>
                            <button type="button" class="btn btn-default" id="btnCancel"><?php echo $this->translate('Cancel') ?></button>
                        </div>
                    </div>

                </div><!--row-->
            </div><!--form_horizontal-->
        </div><!--well_body-->

        <!--search-->
        <div class="well well_custom_padding margin_top">
            <div class="row">
                <div class="col-lg-3">
                    <label class="remove_weight" for="contractorSearch"><?php echo $this->translate('Search Participants Sub Type') ?></label>
                </div>
                <div class="search_field col-lg-9">
                    <form class='designation-search-form' method="post">
                        <div class="input-group">
                            <input type="text" class="form-control" id="designationSearch" placeholder="<?php echo $this->translate('Enter Participants Sub Type name/code') ?>">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default minus_margin" id="searchDesi"><?php echo $this->translate('Search') ?></button>
                                <button type="button" class="btn btn-default minus_margin" id="searchCancel"><?php echo $this->translate('Cancel') ?></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div><!--well-->

        <div id="designation-list" class="margin_top">
            <?php echo $this->partial('jobs/participant-sub-type/list', array('designations' => $this->designations, 'paginated' => $this->paginated)); ?>
        </div>
        
    </div>
</div><!--project_type_form_container-->







   