<div class="modal-header">
    <button type="button" class="close refresh" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 id="add_jw"><?php echo $this->translate('Add Job Weight') ?></h4>
    <h4 id="update-jw" class="hidden"><?php echo $this->translate('Add Job Weight') ?></h4>
</div>
<div class="modal-body">
    <div class="form-horizontal margin_bottom_normal">
        <div class="form-group">
            <label class="control-label col-lg-6" for="cur-job-weight"><?php echo $this->Translate('Add Weight For Current Job') ?></label>
            <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="Ex: 10" id="cur-job-weight">
            </div>
        </div>
    </div>

    <table id="addJobWeight" class="table table-condensed">
        <thead>
            <tr>
                <th><?php echo $this->translate('Job Name') ?></th>
                <th><?php echo $this->translate('Weight %') ?></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn refresh hidden btn-default" id="job-weight-update"><?php echo $this->translate('Edit') ?></button>
    <button type="button" data-dismiss="modal" class="btn btn-primary hidden" id="all-job-weight-update"><?php echo $this->translate('Update') ?></button>
    <button type="button" data-dismiss="modal" class="btn btn-primary hidden" id="save_weight"><?php echo $this->translate('Save') ?></button>
</div>