<?php
$form = $this->jobDetails;
$form->setAttribute('id', 'edit-job-form');
?>

<div class="category-form-container margin_top">
    <div class="well well_heading">
        <h5 class="font_weight add"><?php echo $this->translate('Update Job') ?></h5>
    </div>

    <div class="well clearfix well_body margin_bottom">

        <?php
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formHidden($form->get('jobID'));
        ?>

        <div class="form-group">
            <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Job Reference') ?></label>
            <div class="col-lg-6" id="jobRef">
                <?php echo $this->formRow($form->get('jobReference')); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Related Documents') ?></label>
            <div class="col-lg-6" id="relatedDoc">
                <input type='button' class="btn btn-default relatedDocs" id='relatedDocs' value="View Related Documents">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Job Name') ?><font color="red"> *</font></label>
            <div class="col-lg-6" id="jName" >
                <?php echo $this->formRow($form->get('jobName')); ?>
            </div>
        </div>

        <!--customer_name-->
        <div class="form-group">
            <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Customer Name') ?><font color="red"> *</font></label>
            <div class="col-lg-6" id="cusName" >
                <select class="form-control selectpicker" <?php if ($this->projectId != null) { ?>disabled="disabled"<?php } ?> data-cusid="<?php echo ($this->customerID) ? $this->customerID : ''; ?>"  title="" id="customerName" name="customerName" data-live-search="true">
                    <option value="">Select Customer</option>
                </select>
                <table class="customer-profiles table table-condensed margin_top_normal">
                    <thead>
                        <tr>
                            <th width="50%" ><?php echo $this->translate('CustomerProfile') ?></th>
                            <th width="50%" class="text-center"><?php echo $this->translate('Check') ?></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php
                        if ($this->customerProfile) {
                            foreach ($this->customerProfile as $key => $value) {
                                ?>
                                <tr class='customer-profile-list' data-cpid='<?php echo $key ?>'>
                                    <td> <?php echo $value ?></td>
                                    <td class="text-center">
                                        <input type='radio'<?php if ($key == $this->customerProfileID) { ?>checked="checked"<?php } ?> name='cProfile' class='cProfile'/>
                                    </td>
                                </tr>
                                <?php
                            }
                        }
                        ?>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Address') ?></label>
            <div class="col-lg-6" id="custAdrssUp">
                <?php echo $this->formRow($form->get('customerAddress')); ?>
            </div>
        </div>

        <!--job_type-->
        <div class="form-group">
            <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Job Type') ?><font color="red"> *</font></label>
            <div class="col-lg-6" id="jType">
                <select class="form-control selectpicker" title="" data-jbid="<?php echo ($this->jobTypeID) ? $this->jobTypeID : ''; ?>" id="jobType" name="jobType" data-live-search="true">
                    <option value="">Select Job Type</option>
                </select>
            </div>
        </div>

        <!--job_owner-->
        <div class="form-group">
            <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Job Owner') ?></label>
            <div class="col-lg-6" id="jOwner">
                <select class="form-control selectpicker" title="" id="jobOwner" name="jobOwner" data-live-search="true">
                    <option value="">Select Job Owners</option>
                </select>
                <table class="table table-condensed margin_top_normal" id="multipleJOwner">
                    <thead>
                        <tr>
                            <th style="width: 50%">Job Owner</th>
                            <th style="width: 50%" class="text-right"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php
                        if (isset($this->ownerList)) {
                            foreach ($this->ownerList as $ownL) {
                                ?>
                                <tr class='emplist' data-empid='<?php echo $ownL[id] ?>'>
                                    <td><?php echo $ownL[fName] . ' ' . $ownL[sName] ?></td>
                                    <td class="text-right">
                                        <a class="btn btn-default delete">
                                            <i class='pointer_cursor fa fa-trash-o'></i>
                                        </a>
                                    </td>
                                </tr>
                                <?php
                            }
                        }
                        ?>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-6 col-lg-offset-3 more_detail">
                <a id="moredetails" title="" class="btn"><?php echo $this->translate('More Details') ?>
                    <span class="glyphicon glyphicon-circle-arrow-down"></span>
                </a>
            </div>
        </div>

        <div id="job_more">

            <!--job_Supervisor-->
            <div class="form-group">
                <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Job Supervisor') ?></label>
                <div class="col-lg-6" id="jSupervisor">
                    <select class="form-control selectpicker" title="" id="jobSupervisor" name="jobSupervisor" data-live-search="true">
                        <option value="">Select Job Supervisors</option>
                    </select>
                    <table class="table table-condensed margin_top_normal" id="multipleSupervisor">
                        <thead>
                            <tr>
                                <th style="width: 50%">Job Supervisors</th>
                                <th style="width: 50%" class="text-right"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            if (isset($this->supervisorList)) {
                                foreach ($this->supervisorList as $supL) {
                                    ?>
                                    <tr class='emplist' data-empid='<?php echo $supL[id] ?>'>
                                        <td><?php echo $supL[fName] . ' ' . $supL[sName] ?></td>
                                        <td class="text-right">
                                            <a class="btn btn-default delete">
                                                <i class='pointer_cursor fa fa-trash-o'></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <?php
                                }
                            }
                            ?>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Project Reference') ?></label>
                <div class="col-lg-6" id="pReference">
                    <select class="form-control selectpicker" data-pid="<?php echo ($this->projectId) ? $this->projectId : ''; ?>" title="" id="projectReference" name="projectReference" data-live-search="true">
                        <option value="">Select Project Reference</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Job Description') ?></label>
                <div class="col-lg-6" id="jobDesc">
                    <?php echo $this->formRow($form->get('jobDescription')); ?>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Start Date') ?></label>
                <div class="col-lg-6" id="jobSDate">
                    <?php echo $this->formRow($form->get('jobStartingDate')); ?>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('End Date') ?></label>
                <div class="col-lg-6" id="jobEdate">
                    <?php echo $this->formRow($form->get('jobEndingDate')); ?>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Estimate Time Duration') ?></label>
                <div class="col-lg-6" id="timeDuration">
                    <?php echo $this->formRow($form->get('jobEstimetedTime')); ?>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Estimated Cost') ?></label>
                <div class="col-lg-6" id="estCost">
                    <?php echo $this->formRow($form->get('estimatedCost')); ?>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Job Station') ?></label>
                <div class="col-lg-6" id="jStation">
                    <select class="form-control selectpicker" title="" data-jbstationid="<?php echo ($this->jobStation) ? $this->jobStation : ''; ?>" id="jobStation" name="jobStation" data-live-search="true">
                        <option value="">Select Job Station</option>
                    </select>
                </div>
            </div>

            <!--job repeat-->
            <div class="form-group">
                <label class="col-lg-3 control-label label_bottom_margin">
                    <?php echo $this->formRow($form->get('jobRepeatEnabled')); ?>
                    <?php echo $this->translate('Repeat Job') ?>
                </label>
                <div class="col-lg-6" id="jobRepeatCommentBox">
                    <?php echo $this->formRow($form->get('jobRepeatComment')); ?>
                </div>
            </div>
        </div>

        <div class="form-group margin_top_high button-set update">
            <div class="col-lg-9 text-right">
                <button type="button" class="btn btn-default jobEditBack"><?php echo $this->translate('Back') ?></button>
                <button type="submit" class="btn btn-primary update" id="update"value='<?php echo $this->jobID; ?>' ><?php echo $this->translate('Update') ?></button>
            </div>
        </div>

        <?php
        echo $this->form()->closeTag($form);
        ?>

        <!--related Document-->
        <div class="modal fade" id="relatedDocumentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <?php echo $relatedDocu; ?>
        </div>
        <div class="modal fade" id="documentJobViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <?php echo $relatedJobDocu;
            ?>
        </div>
    </div><!--well-->

</div><!--./category-form-container-->

