<div id="job-list-view">

    <div class="well well_heading margin_top">
        <h5 class="font_weight"><?php echo $this->translate('Search a Job') ?></h5>
    </div>

    <div class="well well_body clearfix">
        <form class="job-search" id="job-search" method="post" action="">
            <div class="_row_with_margin">

                <div class="col-lg-4 col-md-12">
                    <div class="form-group">
                        <label class="control-label"><?php echo $this->translate('Select Job') ?></label>
                        <select class="selectpicker form-control" title="<?php echo $this->translate('Select Job') ?>" data-live-search="true" id="jobSelection"></select>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="control-label"><?php echo $this->translate('From') ?></label>
                        <input type="text" style="background-color: white" readonly="true"
                               class="span2 datepicker form-control pointer_cursor"
                               id="from-date" data-date-format="<?php echo $userDateFormat ?>"
                               placeholder="<?php echo $userDateFormat ?>">
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="control-label"><?php echo $this->translate('To') ?></label>
                        <input type="text" style="background-color: white" readonly="true"
                               class="span2 datepicker form-control pointer_cursor" id="to-date"
                               data-date-format="<?php echo $userDateFormat ?>" placeholder="<?php echo $userDateFormat ?>">
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-4">
                    <label class="control-label visible-lg">&nbsp;</label>
                    <div class="btn-group btn-block">
                        <button class="btn btn-default take-half-space" id="date-filter">
                            <?php echo $this->translate('Search') ?>
                        </button>
                        <button class="btn btn-default take-half-space" id="clear-filter">
                            <?php echo $this->translate('Clear') ?>
                        </button>
                    </div>
                </div>

            </div>
        </form>
    </div>

    <div id="search-job-list">
        <?php
        echo $this->partial('job-card/job/list-table', array('jobList' => $this->jobList,
            'paginated' => $this->paginated, 'status' => $this->status));
        ?>
    </div>

</div>
