<?php
$form = $this->jobDetails;
$form->setAttribute('id', 'create-job-form');
?>

<div class="job-form-container margin_top">
    <div class="row">

        <div class="col-lg-10 remove_left_padding">

            <div class="well toggle_purpose">
                <h5 class="font_weight add"><?php echo $this->translate('View Job') ?></h5>
            </div>

            <div class="well job_padding_top form-horizontal remove_top_radius">

                <?php
                $form->prepare();
                echo $this->form()->openTag($form);
                echo $this->formHidden($form->get('jobID'));
                ?>

                <input type="hidden" id="jobid" value="<?php echo $this->jobID ?>">

                <!--project_reference-->
                <div class="form-group">
                    <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Project Reference') ?></label>
                    <div class="col-lg-6" id="pReference">
                        <?php echo $this->formRow($form->get('projectReference')); ?>
                    </div>
                </div>

                <!--Job Reference-->
                <div class="form-group">
                    <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Job Reference') ?></label>
                    <div class="col-lg-6" id="jobRef">
                        <?php echo $this->formRow($form->get('jobReference')); ?>
                    </div>
                </div>

                <!--job_name-->
                <div class="form-group">
                    <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Job Name') ?></label>
                    <div class="col-lg-6" id="cusName">
                        <?php echo $this->formRow($form->get('jobName')); ?>
                    </div>
                </div>

                <!--customer_name-->
                <div class="form-group">
                    <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Customer Name') ?></label>
                    <div class="col-lg-6" id="cusName">
                        <?php echo $this->formRow($form->get('customerName')); ?>
                        <table class="table table-condensed margin_top_normal" id="defCus">
                            <thead>
                                <tr>
                                    <th><?php echo $this->translate('CustomerProfile') ?></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><?php echo $this->cusProfileName ?></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Address') ?></label>
                    <div class="col-lg-6" id="custAdrs">
                        <?php echo $this->formRow($form->get('customerAddress')); ?>
                    </div>
                </div>

                <!--job_type-->
                <div class="form-group">
                    <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Job Type') ?></label>
                    <div class="col-lg-6" id="jType">
                        <?php echo $this->formRow($form->get('jobType')); ?>
                    </div>
                </div>

                <!--job_owner-->
                <div class="form-group">
                    <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Job Owner') ?></label>
                    <div class="col-lg-6" id="jOwner">
                        <?php echo $this->formRow($form->get('jobOwner')); ?>
                        <table class="table table-condensed margin_top_normal" id="multipleOwner">
                            <thead>
                                <tr>
                                    <th><?php echo $this->translate('Job Owner') ?></th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php
                                if (isset($this->ownerList)) {
                                    foreach ($this->ownerList as $ownL) {
                                        ?>
                                        <tr>
                                            <td><?php echo $ownL[fName] . ' ' . $ownL[sName] ?></td>
                                        </tr>
                                        <?php
                                    }
                                }
                                ?>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--job_supervisor-->
                <div class="form-group">
                    <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Job Supervisor') ?></label>
                    <div class="col-lg-6" id="jSupervisor">
                        <?php echo $this->formRow($form->get('jobSupervisor')); ?>
                        <table class="table table-condensed margin_top_normal" id="multipleSupervisor">
                            <thead>
                                <tr>
                                    <th><?php echo $this->translate('Job Supervisor') ?></th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php
                                if (isset($this->supervisorList)) {
                                    foreach ($this->supervisorList as $supL) {
                                        ?>
                                        <tr>
                                            <td><?php echo $supL[fName] . ' ' . $supL[sName] ?></td>
                                        </tr>
                                        <?php
                                    }
                                }
                                ?>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--job_description-->
                <div class="form-group">
                    <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Job Description') ?></label>
                    <div class="col-lg-6" id="jobDesc">
                        <?php echo $this->formRow($form->get('jobDescription')); ?>
                    </div>
                </div>

                <!--start_date-->
                <div class="form-group">
                    <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Start Date') ?></label>
                    <div class="col-lg-6" id="jobSDate">
                        <?php echo $this->formRow($form->get('jobStartingDate')); ?>
                    </div>
                </div>

                <!--job_end_date-->
                <div class="form-group">
                    <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('End Date') ?></label>
                    <div class="col-lg-6" id="jobEdate">
                        <?php echo $this->formRow($form->get('jobEndingDate')); ?>
                    </div>
                </div>

                <!--estimate_time-->
                <div class="form-group">
                    <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Estimate Time Duration') ?></label>
                    <div class="col-lg-6" id="timeDuration">
                        <?php echo $this->formRow($form->get('jobEstimetedTime')); ?>
                    </div>
                </div>

                <!--estimate_cost-->
                <div class="form-group">
                    <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Estimated Cost') ?></label>
                    <div class="col-lg-6" id="estCost">
                        <?php echo $this->formRow($form->get('estimatedCost')); ?>
                    </div>
                </div>

                <!--job_station-->
                <div class="form-group">
                    <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Job Station') ?></label>
                    <div class="col-lg-6" id="jStation">
                        <?php echo $this->formRow($form->get('jobStation')); ?>
                    </div>
                </div>

                <!--job repeat-->
                <div class="form-group">
                    <label class="col-lg-3 control-label label_bottom_margin">
                        <?php echo $this->formRow($form->get('jobRepeatEnabled')); ?>
                        <?php echo $this->translate('Repeat Job') ?>
                    </label>
                    <div class="col-lg-6" id="jobRepeatCommentBox">
                        <?php echo $this->formRow($form->get('jobRepeatComment')); ?>
                    </div>
                </div>

                <?php
                echo $this->form()->closeTag($form);
                ?>

            </div><!--well-->
        </div><!--./col-->

        <div class="col-lg-2 remove_right_padding">
        <?php if($this->customerStatus == 1) { ?>
            <input type="button" id='createActivity' class="btn btn-primary btn-block" value="Create Activity">
            <input type="button" id='listActivity' class="btn btn-default btn-block" value="Activity List">
            <input type="button" id='editJob' class="btn btn-default btn-block" value="Edit Job">
            <button type="button" id='jobViewBack' class="btn btn-default btn-block viewBack"><?php echo $this->translate('Back') ?></button>

        <?php } else { ?>
            <a class="btn btn-primary btn-block editsInactive">Create Activity</a>
            <input type="button" id='listActivity' class="btn btn-default btn-block" value="Activity List">
            <a class="btn btn-default btn-block editsInactive">Edit Job</a>
            <button type="button" id='jobViewBack' class="btn btn-default btn-block viewBack"><?php echo $this->translate('Back') ?></button>
            <?php } ?>
        </div><!--./col-->

    </div><!--row-->
</div><!--job_form_container-->

