<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate('Credit Note Delete Confirmation') ?></h4>
        </div>

        <div class="modal-body rm_modal_body_bpa">

            <div class="form-group">
                <p class="modal_para"><?php echo $this->translate('Please Enter Admin UserName and Password') ?></p>
            </div>

            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-lg-4 control-label"><?php echo $this->translate('UserName') ?><font color="red"> *</font></label>
                    <div class="col-lg-6">
                        <input type="text" id="username" class="form-control" placeholder="<?php echo $this->translate('UserName') ?>">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-4 control-label"><?php echo $this->translate('Password') ?><font color="red"> *</font></label>
                    <div class="col-lg-6">
                        <input type="password" id="password" class="form-control" placeholder="<?php echo $this->translate('Password') ?>">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button id="delete-credit-note-button" class="btn btn-primary"><?php echo $this->translate('Delete Credit Note') ?></button>
            <button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Back') ?></button>
        </div>

    </div>
</div>