<?php
$returnform = $this->returnForm;
$locationName = $this->locationName;
$locationID = $this->locationID;
$locationCode = $this->locationCode;
$referenceNumber = $this->referenceNumber;
$companyCurrencySymbol = $this->companyCurrencySymbol;
$returnform->prepare();
?>
<div class="margin_top">

    <?php echo $this->form()->openTag($returnform); ?>
    <?php
    if ($refNotSet) {
        ?>
        <script>
            $(function() {
                $('#refNotSet').modal('show');
            });
        </script>
        <?php
    }
    ?>
    <div class="well clearfix well_custom_padding margin_top sales_order_search">
        <div class="row">
            <div class="col-lg-2">
                <label for="delivery_note_no" class="remove_weight"><?php echo $this->translate("Start Return By") ?></label>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
                <select id="get-so-select" class="form-control col-lg-4">
                    <option value="Delivery Note No"><?php echo $this->translate('Delivery Note No') ?></option>
                    <?php
                    if ($this->jobModuleEnabled != "0") {
                    ?>    
                        <option value="jobNo"><?php echo $this->translate('Job No') ?></option>
                    <?php
                    }
                    ?>    
                </select>
            </div>
            <div class="col-lg-7 col-md-8 col-sm-7 col-xs-12" id="delSelectDiv">
                <select class="form-control selectpicker show-tick"  id="deliveryNoteNo" name="deliveryNoteNo"  data-live-search="true">
                    <option value=""><?php echo $this->translate('Select Delivery Note Number') ?></option>
                </select>
            </div>
            <div class="col-lg-7 col-md-8 col-sm-7 col-xs-12 hidden" id="delNumberSelectDiv">
                <select class="form-control selectpicker show-tick"  multiple='multiple' id="deliveryNoteNumbers" name="deliveryNoteNumbers" data-live-search="true">
                </select>
            </div>
            <div id="jobSelectDiv" class="hidden col-lg-7 col-md-8 col-sm-7 col-xs-12">
                <select class="form-control selectpicker show-tick" value="<?php // echo $SoRefID;                                                                                                       ?>" id="jobNo" name="jobNo" data-live-search="true">
                    <option value=""><?php echo $this->translate('Select Job Number') ?></option>
                </select>
            </div>
        </div>
        <br>
        <div class="row" id="copyMultipleDln">
            <div class="col-lg-4 ">
                <label for="mulitpleDeliveryNotes" class="remove_weight control-label"><b><?php echo $this->translate("Copy From Multiple Delivery Notes") ?></b></label>
            </div>
            <div class="col-lg-2">
                <input type='checkBox' style="margin-top: 10px;" class="" id='multipleCopy'>
            </div>
        </div>
        <br>
        <div class="row" id="directReturnDiv">
            <div class="col-lg-4">
                <label for='direct_cd_note'><?php echo $this->translate('Direct Return Note')?></label>
            </div>
            <div class="col-lg-2">
                <input type="checkBox" id="directReturn">
            </div>
        </div>
    </div>

    <!--data_insert_section-->
    <div class="row">
        <div class="margin_top_normal">
            <div class="col-lg-5 col-md-5 col-sm-5">
                <div class="form-group">
                    <label for="customer" class="col-lg-5 control-label">
                        <?php echo $this->translate("Customer"); ?>
                        <font style="color: red">*</font>
                    </label>
                        <!--<div class="input-group">-->
                            <!--<a data-toggle="modal" id="addCustomerBtn" href="#addCustomerModal" class="input-group-addon btn-default"><i class="glyphicon glyphicon-plus remove_font_weight"></i></a>-->
                        <!--</div>-->
                    <div class="col-lg-7 normalCustomer" id="norCus">
                        <?php echo $this->formRow($returnform->get('customer')); ?>
                    </div>
                    <div class="col-lg-7 multipleDeleCustomer hidden" id="mulDelCus">
                       <select class="form-control selectpicker" title="" id="multipleDeleCustomer" name="multipleDeleCustomer" data-live-search="true">
                            <option value=""><?php echo $this->translate('Select Customer') ?></option>
                        </select>
                    </div>
                    <div class="col-lg-7 directCustomer hidden" id="drcCus">
                       <select class="form-control selectpicker" title="" id="directCustomer" name="directCustomer" data-live-search="true">
                            <option value=""><?php echo $this->translate('Select Customer') ?></option>
                        </select>
                        
                    </div>
                </div>

                <div class="form-group">
                    <label for="location" class="col-lg-5 control-label">
                        <?php echo $this->translate("Issue Location"); ?>
                        <font style="color: red">*</font>
                    </label>
                    <div class="col-lg-7">
                        <?php
                        if ($locationName != NULL && $locationID != NULL) {
                            $returnform->get('currentLocation')->setValue($locationCode . ' - ' . $locationName)->setAttribute('disabled', true);
                            ?>
                            <input type="hidden" id="idOfLocation" value="<?php echo $locationID ?>">
                        <?php }
                        ?>
                        <?php echo $this->formRow($returnform->get('currentLocation')); ?>
                    </div>
                </div>

                <div class="form-group" id="dlnAddress">
                    <label for="deliveryNoteAddress" class="col-lg-5 control-label">
                        <?php echo $this->translate('Delivery Address'); ?>
                        <font style="color: red">*</font>
                    </label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($returnform->get('deliveryNoteAddress')); ?>
                    </div>
                </div>
                <div class="form-group" id="dimensionDiv">
                    <label for="dimensionType" class="col-lg-5 control-label">
                        <?php echo $this->translate('Dimension'); ?>
                    </label>
                    <div class="col-lg-7">
                        <a data-toggle="modal" id="dimensionView" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></a>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dimensionType" class="col-lg-5 control-label">
                        <?php echo $this->translate('Select Documents'); ?>
                    </label>
                    <div class="col-lg-7 createPoDiv">
                        <input type="file" name="files[]" id="documentFiles" multiple>
                    </div>
                </div>
            </div><!--./col-->
        </div><!--margin_top-->

        <input id="todayDate" type="hidden" value="<?php echo $this->todayDate; ?>">
        <div class="col-lg-5 col-md-5 col-sm-5 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
            <div class="form-group" id="dlnDate">
                <label for="date" class="col-lg-5 control-label">
                    <?php echo $this->translate("Delivery Note Date"); ?>
                    <font style="color: red">*</font>
                </label>
                <div class="col-lg-7">
                    <input type="text" class="form-control "  disabled="disabled" id="deliveryNoteDate" data-date-format="<?php echo $this->dateFormat; ?>" >
                </div>
            </div>
            <div class="form-group">
                <label for="date" class="col-lg-5 control-label">
                    <?php echo $this->translate("Return Date"); ?>
                    <font style="color: red">*</font>
                </label>
                <div class="col-lg-7">
                    <input type="text" class="datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="returnDate" data-date-format="<?php echo $this->dateFormat; ?>" placeholder="<?php echo $this->dateFormat; ?>">
                </div>
            </div>

            <div class="form-group">
                <label for="deliveryNoteNumber" class="col-lg-5 control-label">
                    <?php echo $this->translate('SR No'); ?><font style="color: red"> *</font>
                    <a class="help_icon_js" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="top" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('SALESRETURN_CREATE_SR_NUM') ?>">
                        <i class="fa fa-question-circle help_icon"></i>
                    </a>
                </label>
                <div class="col-lg-7">
                    <?php
                    if ($referenceNumber != NULL) {
                        $returnform->get('returnNo')->setValue($referenceNumber)->setAttribute('disabled', true);
                    }
                    ?>
                    <?php echo $this->formRow($returnform->get('returnNo')); ?>
                    <input type="hidden" id="locRefID">
                </div>
            </div>

            <div class="form-group">
                <label for="customCurrencyId" class="col-lg-5 control-label">
                    <?php echo $this->translate('Custom Currency'); ?>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($returnform->get('customCurrencyId')); ?>
                </div>
            </div>

        </div><!--./col-->
    </div><!--margin_top-->


    <!--table-->
    <div class="col-lg-12 normal-return">
        <div id="productTable" class=" table">
            <div id="productAddOverlay" class=""></div>
            <table class="retrunProductTable table  table-striped margin_top_normal table-condensed" id="deliveryNoteProductTable">
                <thead>
                    <tr>
                        <th style="width: 23%"><?php echo $this->translate("Item Code or Name"); ?></th>
                        <th style="width: 13%"><?php echo $this->translate('Available Qty') ?></th>
                        <th style="width: 13%"><?php echo $this->translate("Return Qty"); ?></th>
                        <th style="width: 17%"><?php echo $this->translate("Price"); ?></th>
                        <th class="text-right" style="width: 13%"><?php echo $this->translate("Dis.Per Item"); ?></th>
                        <th class="text-right" style="width: 6%"><?php echo $this->translate("Taxes"); ?></th>
                        <th class="text-right" style="width: 12%"><?php echo $this->translate("Total"); ?></th>
                        <th style="width: 1%"></th>
                        <th style="width: 1%"></th>
                        <th style="width: 1%"></th>
                    </tr>
                </thead>

                <tbody id="form_row">
                    <tr id='preSetSample' class="hidden">
                        <td id='code'></td>
                        <td id='availableQuantity'></td>
                        <td id='quantity'></td>
                        <td><span id="uomName" class='text-right'></span></td>
                        <td id='unit' class='text-right'></td>
                        <td id='disc' class='text-right'></td>
                        <td id='tax'><div class='btn-group'><button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'><span id='' class=''></span>&nbsp<span class='glyphicon glyphicon-chevron-down'></span></button><ul class=''></ul></div></td>
                        <td id='ttl' class=''></td>
                        <td><span class='grnDeleteProduct glyphicon glyphicon-trash delete'></span></td>
                        <td><span style="font-size: 18px" class='grnViewProducts glyphicon glyphicon-expand'></span></td>
                    </tr>
                </tbody>

                <tbody id="add-new-item-row">
                    <tr class="add-row sample hidden"><!--item_insert-->
                        <td class="">
                            <p class="visible-xs"><?php echo $this->translate('Item Code or Name') ?></p>
                            <?php echo $this->formRow($returnform->get('itemCode')); ?>
                        </td>
                        <td>
                            <p class="visible-xs"><?php echo $this->translate('Available Qty') ?></p>
                            <div class="">
                                <?php echo $this->formRow($returnform->get('deliveredQuantity')); ?>
                            </div>
                        </td>
                        <td>
                            <p class="visible-xs"><?php echo $this->translate('Return Qty') ?></p>
                            <div class="">
                                <?php echo $this->formRow($returnform->get('returnQuanity')); ?>
                            </div>
                        </td>
                        <td class="clearfix">
                            <p class="visible-xs"><?php echo $this->translate('Price') ?></p>
                            <div class="pull-right input-group">
                                <?php echo $this->formRow($returnform->get('unitPrice')); ?>
                                <strong class="input-group-addon cCurrency" style="padding-left: 4px; padding-right: 4px;"><?php echo $this->companyCurrencySymbol; ?></strong>
                            </div>
                        </td>
                        <td>
                            <p class="visible-xs"><?php echo $this->translate('Dis.Per Item') ?></p>
                            <div class="input-group">
                                <?php echo $this->formRow($returnform->get('discount')); ?>
                                <span class="input-group-addon discountSymbol" style="padding-left: 4px; padding-right: 4px;"><?php echo $this->companyCurrencySymbol; ?></span>
                            </div>
                        </td>
                        <td id='tax' class="clearfix">
                            <p class="visible-xs text-right"><?php echo $this->translate('Taxes') ?></p>
                            <div id="addNewTaxDiv" class='btn-group pull-right'>
                                <button id ="addNewTax" class='btn btn-default dropdown-toggle' data-toggle='dropdown' type='button'>
                                    <span id='taxApplied' class='glyphicon glyphicon-unchecked'></span>
                                    <i class="fa fa-angle-down bold" style="font-size: 18px;"></i>
                                </button>
                                <ul id="addTaxUl" class="text-left dropdown-menu">
                                    <li id="sampleLi" class="hidden">&nbsp&nbsp
                                        <input class="taxChecks" id="" type='checkbox'>
                                        <label for="" class="taxName">&nbsp&nbsp</label>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <p class="visible-xs text-right"><?php echo $this->translate('Total') ?></p>
                            <div class="pull-right input-group">
                                <label class="text-right" id="addNewTotal" style="margin-top: 6px;">0.00</label>
                            </div>
                        </td>
                        <td>
                            <button  class="edit-modal btn btn-default" title="Select Batch / Serial Products" type='button'>
                                <i class="fa fa-list-ul"></i>
                            </button>
                        </td>
                        <td>
                            <button  class="add btn btn-default" type='button'>
                                <i class="fa fa-plus"></i>
                            </button>
                            <button  class="edit btn btn-default hidden" type='button'>
                                <i class="fa fa-pencil-square-o custom_font_size"></i>
                            </button>
                            <button  class="save btn btn-default hidden" type='button'>

                                <i class="fa fa-floppy-o"></i>
                            </button>
                        </td>
                        <td>
                            <button  class="delete disabled btn btn-default" type='button'>
                                <i class="fa fa-trash-o custom_font_size"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>

                <tbody class="return_table_footer">
                    <tr>
                        <!--dummy-->
                        <td colspan="10">&nbsp;</td>
                    </tr>
                    <tr><!--sub_total-->
                        <td colspan="6" class="text-right"><?php echo $this->translate("Sub Total"); ?></td>
                        <td class="text-right"><label id="subtotal">0.00</label></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

<!--                <tr>display_taxes
                    <td colspan="4">


                        <label class="remove_font_weight"><?php // echo $this->formRow($returnform->get('showTax')) . "&nbsp;";                                                                                                                                                                      ?><?php // echo $this->translate("Display Taxes");                                                                                                                                                                      ?></label>


                    </td>
                    <td></td>
                    <td colspan="2" class="text-right">
                        <div id="totalTaxShow" class="hidden"></div>
                    </td>
                    <td colspan="2"></td>
                    <td></td>
                    <td></td>
                </tr>-->

<!--                <tr>delivery_charges
                    <td colspan="6">
                        <label class="remove_font_weight">
                    <?php
//                            echo $this->formRow($returnform->get('deliveryChargeEnable')) . "&nbsp;";
//                            echo $this->translate("Delivery Charges");
                    ?>
                        </label>
                    </td>


                    <td class="text-right"><div class='deliCharges hidden'><?php // echo $this->translate("Delivery Charges");                                                                                                                                                                       ?></div></td>
                    <td><div class='deliCharges hidden text-right'><?php // echo $this->formRow($returnform->get('deliveryCharge'));                                                                                                                                                                       ?></div></td>


                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>-->

                    <tr><!--total-->
                        <td colspan="6" class="text-right"><h4 class="font_weight"><?php echo $this->translate("Total") ?>&nbsp;<span class="cCurrency"> <?php echo $companyCurrencySymbol; ?></span></h4></td>
                        <td class="text-right"><h4 id="finaltotal" class="font_weight">0.00</h4></td>
                        <td colspan="3"></td>
                    </tr>
                </tbody>
            </table>

        </div><!--table_responsive-->
    </div><!--./col-->

    <div class="row direct-return hidden" id="directDiv">
        <div class="col-lg-12" id="directRtnProductTable">
            <table class="drRetrunProductTable table  table-striped margin_top_normal table-condensed" id="drRetrunProductTable" style="width:100%">
                <thead>
                <tr>
                    <th style="width: 20%"><?php echo $this->translate("Item Code - Name"); ?></th>
                    <th class="text-right" style="width: 16%"><?php echo $this->translate("Return Quantity"); ?></th>
                    <th style="width: 2%"</th>
                    <th class="text-right" style="width: 13%"><?php echo $this->translate("Price"); ?></th>
                    <th class="text-right" style="width: 11%"><?php echo $this->translate("Discount"); ?></th>
                    <th class="text-right" style="width: 9%"><?php echo $this->translate("Taxes"); ?></th>
                    <th class="text-right" style="width: 14%"><?php echo $this->translate("Total"); ?></th>
                    <th style="width: 5%;"></th>
                    <th style="width: 5%;"></th>
                    <th style="width: 5%;"></th>
                </tr>
            </thead>

            <!--Item_show_row-->
            <tbody id="form_row">
                <tr id='preSetSampleForDirectReturn' class="hidden">
                    <td  id='code'></td>
                    <td id='quantity' class='text-right'></td>
                    <td><span id="uomName" class='text-right'></span></td>
                    <td id='unit' class='text-right'></td>
                    <td id='disc' class='text-right'></td>
                    <td class='text-right taxSet' id='tax'>
                        <div class='btn-group'>
                            <button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'>
                                <span id='' class=''></span>&nbsp
                                <span class='fa fa-caret-down'></span>
                            </button>
                            <ul class=''></ul>
                        </div>
                    </td>
                    <td id='ttl' class='text-right'></td>
                    <td class="text-center">
                        <button type="button" class="btn btn-default returnDeleteProduct">
                            <span class='fa fa-trash-o delete' id=''></span>
                        </button>
                    </td>
                    <td class="text-center">
                        <button id="viewSubProducts" type="button" class="btn btn-default returnViewProducts">
                            <span id="" class="fa fa-expand"></span>
                        </button>
                    </td>
                     <td class="text-center editPi">
                        <button type="button" class="btn btn-default editReturnLine hidden">
                            <span class='glyphicon glyphicon-edit ' id='singleReturnEdit'></span>
                        </button>
                    </td>
                </tr>
            </tbody>

            <!--item_insert_row-->
            <tbody id="add-new-item-row">
                <tr id="addNewItemTr">
                    <td class="">
                        <select class="form-control selectpicker show-tick" id="item_code" name="item_code" data-live-search="true" title="">
                            <option class="itemCodeDefaultSelect" value=""><?php echo $this->translate('Select Item Code or Name') ?></option>
                        </select>
                    </td>
                    <td class="">
                        <div class="">
                            <?php echo $this->formRow($returnform->get('directReturnQuanity')); ?>
                        </div>
                    </td>
                    <td></td>
                    <td class="">
                        <div class="pull-right input-group">
                            <?php echo $this->formRow($returnform->get('directUnitPrice')); ?>
                            <strong class="input-group-addon"><?php echo $companyCurrencySymbol; //$this->translate("Rs");                                ?></strong>
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <?php echo $this->formRow($returnform->get('directDiscount')); ?>
                            <span class="input-group-addon sign"></span>
                        </div>
                    </td>
                    <td class='text-right taxSet' id='tax'>
                        <div id="addNewTaxDivForDirectReturn" class='btn-group'>
                            <button id ="addNewTax" type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'>
                                <span id='taxApplied' class='glyphicon glyphicon-unchecked'></span>&nbsp
                                <span class='fa fa-caret-down remove_font_weight'></span>
                            </button>
                            <ul id="addTaxUl" class="text-left dropdown-menu">
                                <li id="sampleLi"class="hidden">&nbsp;&nbsp;
                                    <input class="taxChecks" id="" type='checkbox'>
                                    <label for="" class="taxName">&nbsp;&nbsp;</label>
                                </li>
                                <li id="toggleSelection">&nbsp;&nbsp;<div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs" id="selectAll"><?php echo $this->translate('Select all') ?>
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs" id="deselectAll"><?php echo $this->translate('Deselect all') ?>
                                    </button></div>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <div class="pull-right input-group">
                            <label class="text-right itemLineTotal" id="drAddNewTotal" >0.00</label>
                        </div>
                    </td>
                    <td class="text-center">
                        <button type="button" class="btn btn-default" id="addItem">
                            <i class="fa fa-plus remove_font_weight"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button  id="removeItem" type="button" class="btn btn-default hidden">
                            <i class="glyphicon glyphicon-minus"></i>
                        </button>
                    </td>
                    <td class="text-center">

                    </td>
                </tr>
            </tbody>

            <tbody>
                <!--dummy_row_for_separate_subtotal_section-->
                <tr>
                    <td colspan="10">&nbsp;</td>
                </tr>

                <!--sub_total-->
                <tr>
                    <td colspan="6" class="text-right"><?php echo $this->translate("Sub Total"); ?></td>
                    <td class="text-right"><label id="drSubtotal">0.00</label></td>
                    <td colspan="3"></td>
                </tr>

                <!--total-->
                <tr>
                    <td colspan="6" class="text-right"><h4 class="font_weight"><?php echo $this->translate("Total") . " " . $companyCurrencySymbol; ?></h4></td>
                    <td class="text-right"><h4 id="drFinaltotal" class="font_weight">0.00</h4></td>
                    <td colspan="3"></td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>

    <!--comment-->
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4"><!--comment-->
            <label for="cmnt" class="">
                <?php echo $this->translate("Comment"); ?>
            </label>
            <?php echo $this->formRow($returnform->get('comment')); ?>
        </div>

        <div class="col-lg-4 col-sm-4"><!--button-->
            <div class="btn_margin_top ">
                <?php echo $this->formRow($returnform->get('retrunCancelButton')); ?>
                <?php echo $this->formRow($returnform->get('returnSaveButton')); ?>
            </div>
        </div>
    </div><!--row-->
    <?php echo $this->form()->closeTag(); ?>
</div><!--row-->

<!--<div class="modal fade" id="addCustomerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<?php // echo $this->customerAddView;     ?>
</div>-->
<div class="modal fade" id="addReturnProductsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->returnAddProducts; ?>
</div>
<div class="modal fade" id="refNotSet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $refNotSet; ?>
</div>

<div class="modal fade" id="addDirectReturnProductsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->returnAddSubProducts; ?>
</div>
<div class="modal fade" id="viewPiSubProductsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4><?php echo $this->translate("Items"); ?></h4>
            </div>

            <div class="modal-body">
                <div id="batchProductsView" class="hidden panel panel-default">
                    <div class="col-lg-12 panel panel-heading">
                        <h4><?php echo $this->translate("Batch"); ?></h4>
                        <div class="col col-lg-12">
                            <span class="col-lg-3"><?php echo $this->translate("Item Code:"); ?></span><span id="batchCodeView" class="col-lg-3"></span><span class="col-lg-3"><?php echo $this->translate("Quantity:"); ?></span><span id="batchQuantityView" class="col-lg-3"></span>
                        </div>
                    </div>
                    <div class="panel panel-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th><?php echo $this->translate("Batch CoDe"); ?></th>
                                    <th><?php echo $this->translate("Qty"); ?></th>
                                    <th><?php echo $this->translate("Man: Date"); ?></th>
                                    <th><?php echo $this->translate("Exp: Date"); ?></th>
                                    <th><?php echo $this->translate("Wrnty"); ?></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="proBatchViewSample" class="hidden">
                                    <td id="batchNmbrView"></td>
                                    <td id="batchQtyView"></td>
                                    <td id="batchMDateView"></td>
                                    <td id="batchEDateView"></td>
                                    <td id="batchWView"></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div id="serialViewScreen" class="hidden panel panel-default">
                    <div class="col-lg-12 panel panel-heading">
                        <h4><?php echo $this->translate("Serial"); ?></h4>
                        <div class="col col-lg-12">
                            <span class="col-lg-3"><?php echo $this->translate("Item Code:"); ?></span><span id="directReturnSerialCodeView" class="col-lg-3"></span><span class="col-lg-3"><?php echo $this->translate("Quantity:"); ?></span><span id="directReturnSerialQuantityView" class="col-lg-3"></span>
                        </div>
                    </div>
                    <div class="panel panel-body" style="overflow-y: scroll; height: 300px;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th><?php echo $this->translate("Serial Number"); ?></th>
                                    <th><?php echo $this->translate("Warranty"); ?></th>
                                    <th><?php echo $this->translate("Batch CoDe"); ?></th>
                                    <th><?php echo $this->translate("Exp: Date"); ?></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="serialViewSample" class="">
                                    <td id="serialNumberView"></td>
                                    <td id="serialWarrentyView"></td>
                                    <td id="serialBIDView"></td>
                                    <td id="serialExDView"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addDimensionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->dimensionAddView; ?>
</div>