<div class="modal-dialog">
    <div class="modal-content" style="">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate('Credit Note Delete Confirmation') ?></h4>
        </div>
        <div class="modal-body">
            <div class="col-lg-12">
                <div class="form-group row">
                    <h5 class="col-lg-12 control-label"><?php echo $this->translate('Please Enter Admin UserName and Password') ?></h5>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 control-label"><?php echo $this->translate('UserName') ?></label>
                    <div class="col-lg-6">
                        <input type="text" id="username" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 control-label"><?php echo $this->translate('Password') ?></label>
                    <div class="col-lg-6">
                        <input type="text" id="password" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn"><?php echo $this->translate('Back') ?></button>
            <button id="delete-credit-note-button" class="btn btn-primary"><?php echo $this->translate('Delete Credit Note') ?></button>
        </div>
    </div>
</div>