<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
<?php $this->headScript()->captureEnd() ?>

<?php $this->headScript()->appendFile($this->basePath('js/invoice/viewcreditnote.js')); ?>

<!--search_panel-->
<div class='well clearfix well_custom_padding margin_top'>
    <div class='col-lg-2'>
        <label class="remove_weight"><?php echo $this->translate('Get Credit Note') ?></label>
    </div>

    <div class="col-lg-3">
        <select id="creditNoteSearchSelect" class="form-control">
            <option value="Credit Note No"><?php echo $this->translate('Credit Note No') ?></option>
            <option value="Customer Name"><?php echo $this->translate('Customer Name') ?></option>
        </select>
    </div>

    <div class="col-lg-2">
        <input type="text" data-provide="typeahead" class="search form-control typeahead" id="creditNoteSearch" placeholder="<?php echo $this->translate('Enter Credit Note No') ?>"/>
        <input type="text" data-provide="typeahead" class="search form-control typeahead" id="customerCreditNoteSearch" placeholder="<?php echo $this->translate('Enter Customer Name') ?>"/>
    </div>
    <div class="col-lg-2">
        <input type="text" style="" class="span2 datepicker form-control" id="from-date" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate("From") ?>">
    </div>

    <div class="col-lg-2">
        <input type="text" style="" class="span2 datepicker form-control" id="to-date" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate("To") ?>">
    </div>

    <div class="col-lg-1">
        <button class="btn btn-info" id="filter-button"><?php echo $this->translate('GO') ?></button>
    </div>
</div><!--well-->

<div id="creditNoteList">
    <?php echo $this->creditNoteList; ?>
</div>

<!--table-->
<div id='CustomercreditNoteListView'>
</div>

<div class="modal fade" id="delete_creditnote" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->delete_cnote; ?>
</div>
