<div class="modal-dialog grn_modal">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4>Add Items</h4>
        </div>

        <div class="modal-body">

            <div id="batchAddScreen" class="hidden">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="font_weight"><?php echo $this->translate("Batch Details"); ?></h5>
                    </div>

                    <div class="panel-body overflow_control">

                        <div class="product_code">
                            <span><?php echo $this->translate("Item Code:"); ?></span>
                            <span id="returnProductCodeBatch"></span>
                        </div>

                        <div class="quantity_amount">
                            <span><?php echo $this->translate("Quantity:"); ?></span>
                            <span id="returnProductQuantityBatch"></span>
                        </div>

                        <!--table-->
                        <div class="table-responsive">
                            <table class="table table-striped" style="margin-bottom: 45px;">
                                <thead>
                                    <tr>
                                        <th><?php echo $this->translate("Batch Code"); ?></th>
                                        <th><?php echo $this->translate("Qty"); ?></th>
                                        <th><?php echo $this->translate("Man: Date"); ?></th>
                                        <th><?php echo $this->translate("Exp: Date"); ?></th>
                                        <th><?php echo $this->translate("Warranty(Days)"); ?></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="proBatchSample" class="hidden">
                                        <td id="batchNmbr"></td>
                                        <td id="batchQty"></td>
                                        <td id="batchMDate"></td>
                                        <td id="batchEDate"></td>
                                        <td id="batchW"></td>
                                        <td class="text-center"><span class='batchDelete glyphicon glyphicon-trash delete' id=''></span></td>
                                    </tr>
                                </tbody>
                                <tbody id="addNewBatch">
                                    <tr id="proBatchAddNew">
                                        <td>
                                            <input id="newBatchNumber" class="form-control" type="text" value="" autocomplete="off" name="batchCode">
                                        </td>
                                        <td>
                                            <input id="newBatchQty" class="form-control" type="text" value="" autocomplete="off" name="batchQty">
                                        </td>
                                        <td>
                                            <input id="newBatchMDate" class="datepicker form-control" readonly="true" data-date-format="<?php echo $this->dateFormat ?>" placeholder="<?php echo $this->dateFormat ?>" type="text" value="" autocomplete="off" name="newBatchMDate">
                                        </td>
                                        <td>
                                            <input id="newBatchEDate" class="datepicker form-control" readonly="true" data-date-format="<?php echo $this->dateFormat ?>" placeholder="<?php echo $this->dateFormat ?>" type="text" value="" autocomplete="off" name="newBatchEDate">
                                        </td>
                                        <td>
                                            <input id="newBatchWarrenty" class="form-control" type="text" value="" autocomplete="off" name="batchQty">
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-default text-right" id="addBatchItem"><i class="glyphicon glyphicon-plus"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!--table_responsive-->

                    </div><!--panel_body-->
                </div><!--panel_default-->
            </div><!--batch_add_screen-->


            <!--serial_div-->
            <div id="serialAddScreen" class="hidden">

                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h5 class="font_weight"><?php echo $this->translate("Serial Details"); ?></h5>
                    </div>

                    <div class="panel-body overflow_control">

                        <div class="product_code">
                            <span><?php echo $this->translate("Item Code:"); ?></span>
                            <span id="returnProductCodeSerial" name="returnProductCodeSerial"></span>
                        </div>

                        <div class="quantity_amount">
                            <span><?php echo $this->translate("Quantity:"); ?></span>
                            <span id="returnProductQuantitySerial"></span>
                        </div>
                        <div class="set_value">
                            <table class="table" style="margin-bottom: 25px;">
                                <b><?php echo $this->translate("For auto generated Serial Numbers, use this form:"); ?></b>
                                <thead>
                                    <tr>
                                        <th><?php echo $this->translate("Prefix(if exist)"); ?></th>
                                        <th><?php echo $this->translate("Starting Number"); ?></th>
                                        <th  id="mfDate"><?php echo $this->translate("MF Date"); ?></th>
                                        <th><?php echo $this->translate("Expire Date"); ?></th>
                                        <th  id="btch_code"><?php echo $this->translate("Batch Code"); ?></th>
                                        <th><?php echo $this->translate("WarrantyType"); ?></th>
                                        <th><?php echo $this->translate("WarrantyPeriod"); ?></th>
                                        <th><?php echo $this->translate("Quantity"); ?></th>
                                        <th class='price_field'><?php echo $this->translate("Batch Price")?></th>
                                    </tr>
                                </thead>
                                <tbody id="tempTbody">
                                    <tr id="temp_1" class="original">
                                        <td>
                                            <input type="text" class="form-control" name="prefix" placeholder="<?php echo $this->translate("Prefix"); ?>" id="prefix">
                                        </td>
                                        <td>
                                            <input id="startNumber" type="text" class="form-control" placeholder="<?php echo $this->translate("Start number"); ?>" name="startNumber" >
                                        </td>
                                        <td>
                                            <input id="mf_date_autoFill" class="form-control white_bg" readonly="true"disabled="disabled" data-date-format="<?php echo $this->dateFormat ?>" placeholder="<?php echo $this->dateFormat ?>" type="text" value="" autocomplete="off" name="mfDateAutoFill" >
                                        </td>
                                        <td>
                                            <input id="expire_date_autoFill" class="serialEDate form-control datepicker white_bg" readonly="true" data-date-format="<?php echo $this->dateFormat ?>" type="text" autocomplete="off" placeholder="<?php echo $this->dateFormat ?>" name="expireDateAutoFill">
                                        </td>
                                        <td>
                                            <input id="batch_code" type="text" placeholder="<?php echo $this->translate("Batch code"); ?>" class="form-control batch-code" name="batch_code" disabled="disabled" >
                                        </td>
                                        <td>
                                          <select class="form-control " name="wrtyType" id="wrtyType" >
                                             <option value="1"><?php echo $this->translate('Days') ?></option>
                                             <option value="2"><?php echo $this->translate("Weeks") ?></option>
                                             <option value="3"><?php echo $this->translate('Months') ?></option>
                                             <option value="4"><?php echo $this->translate('Years') ?></option>
                                           </select>
                                       </td>
                                        <td>
                                            <input id="wrtyDays" type="text" placeholder="<?php echo $this->translate("Warranty Period"); ?>" class="form-control" name="wrtyDays" >
                                        </td>
                                        <td>
                                            <input id="quontity" type="text" placeholder="<?php echo $this->translate("Quantity"); ?>" class="form-control" name="quontity" >
                                        </td>
                                        <td>
                                            <input id="bchPrice" type="text" placeholder="<?php echo $this->translate("Price"); ?>" class="form-control price_field" name="bPrice" >
                                        </td>
                                        <td>
                                            <input type="submit" class="btn btn-default submit_serial_number1" name="submit" value="<?php echo $this->translate("set"); ?>" id="submit_serial_number">
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <b><?php echo $this->translate("Or else for manual insert, use this form:"); ?></b>
                        <!--table-->
                        <div class="table-responsive" id="serialAddTablePi">
                            <table class="table table-striped" id="batch_serial_selector_pi" style="margin-bottom: 45px;">
                                <thead>
                                    <tr>
                                        <th><?php echo $this->translate("Serial Number"); ?></th>
                                        <th><?php echo $this->translate("WarrantyType"); ?></th>
                                        <th><?php echo $this->translate("WarrantyPeriod"); ?></th>
                                        <th id="bCodeT"><?php echo $this->translate("Batch Code"); ?></th>
                                        <th><?php echo $this->translate("Exp: Date"); ?></th>
                                    </tr>
                                </thead>
                                <tbody id="addNewSerial">
                                    <tr id="serialSample" class="sProducts">
                                        <td>
                                        <input id="newSerialNumber" class="form-control" type="text" value="" autocomplete="off" name="serialCode">
                                        </td>
                                        <td>
                                          <select class="form-control " name="wrtyType" id="newSerialWarrantyType" >
                                             <option value="1"><?php echo $this->translate('Days') ?></option>
                                             <option value="2"><?php echo $this->translate("Weeks") ?></option>
                                             <option value="3"><?php echo $this->translate('Months') ?></option>
                                             <option value="4"><?php echo $this->translate('Years') ?></option>
                                           </select>
                                       </td>
                                        <td>
                                            <input id="newSerialWarranty" class="serialWarrenty form-control" type="text" value="" autocomplete="off" name="serialWarronty">
                                        </td>
                                        <td id="bCode">
                                            <input id="newSerialBatch" class="form-control" type="text" value="" autocomplete="off" name="batchCode">
                                        </td>
                                        <td>
                                            <input id="newSerialEDate" class="serialEDate form-control datepicker" data-date-format="<?php echo $this->dateFormat ?>" placeholder="<?php echo $this->dateFormat ?>" type="text" value="" autocomplete="off" name="serialEDate">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!--table_responsive-->
                    </div><!--panel_body-->
                </div><!--panel_default-->
            </div><!--serial_div-->

        </div><!--moday_body-->

        <div class="modal-footer">
            <button type="button" id="saveDirectReturnProducts" class="btn btn-primary"><?php echo $this->translate('Add Items') ?></button>
            <button type="button" id="addPiProductsClose" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
        </div>

    </div><!--modal_content-->
</div><!--modal_dialog-->