<?php $this->headScript()->appendFile($this->basePath('js/invoice/viewReturn.js')); ?>

<div class='well clearfix well_custom_padding margin_top xs_view'><!--get_Returns-->

    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <label class="remove_weight margin_bottom_normal_low"><?php echo $this->translate('Search Returns') ?></label>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
        <select id="return-search-select" class=" form-control">
            <option value="Return No"><?php echo $this->translate('SR No') ?></option>
            <option value="Customer Name"><?php echo $this->translate('Customer Name') ?></option>
        </select>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-3">
        <select class="form-control selectpicker show-tick"  id="return-search" name="return-search" data-live-search="true">
            <option value=""><?php echo $this->translate('Select SR No') ?></option>
        </select>
        <select class="form-control selectpicker show-tick" id="return-custa-search" name="return-custa-search" data-live-search="true">
            <option value=""><?php echo $this->translate('Select Customer Name') ?></option>
        </select>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2">
        <input type="text" style="background-color: white" readonly="true" class="span2 datepicker form-control pointer_cursor" id="from-date" data-date-format="<?php echo $this->dateFormat; ?>" placeholder="<?php echo $this->dateFormat ?>">
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2">
        <input type="text" style="background-color: white" readonly="true" class="span2 datepicker form-control pointer_cursor" id="to-date" data-date-format="<?php echo $this->dateFormat; ?>" placeholder="<?php echo $this->dateFormat; ?>">
    </div>

    <div class="col-lg-1 col-md-3 col-sm-1">
        <button class="btn btn-primary" id="filter-button"><?php echo $this->translate('GO') ?></button>
    </div>
</div><!--well-->


<!--table-->
<div class="margin_top">
    <div class="table table-responsive">

        <div id="return-list">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class=""><?php echo $this->translate('SR No') ?></th>
                        <th class=""><?php echo $this->translate('Customer Name') ?></th>
                        <th class=""><?php echo $this->translate('Issued Date') ?></th>
                        <th class="text-left"><?php echo $this->translate('Total Amount') ?></th>
                        <th class="text-center"><?php echo $this->translate('Status') ?></th>
                        <th class="text-center"><?php echo $this->translate('Print View') ?></th>
                        <th class="text-center"><?php echo $this->translate('Related Documents') ?></th>
                        <th class="text-center"><?php echo $this->translate('Attachments') ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php
                    foreach ($this->return as $key => $return) {
                        if ($return->salesReturnCustomCurrencyRate == 0) {
                            $currencyRate = 1;
                        } else {
                            $currencyRate = $return->salesReturnCustomCurrencyRate;
                        }
                        if (isset($return->currencySymbol)) {
                            $currencySymbol = $return->currencySymbol;
                        } else {
                            $currencySymbol = $this->companyCurrencySymbol;
                        }
                        $return = (object) $return;
                        $state = ucfirst($this->statuses[$return->statusID]);
                        $style = NULL;
                        switch ($return->statusID) {
                            case "1":
                                $style = "label label-primary";
                                break;
                            case "2":
                                $style = "label label-default";
                                break;
                            case "3":
                                $style = "label label-success";
                                break;
                            case "4":
                                $style = "label label-warning";
                                break;
                            case "5":
                                $style = "label label-primary";
                                break;
                            case "6":
                                $state = 'Open';
                                $style = "label label-danger";
                                break;
                            default :
                                $style = "label label-default";
                        }
                        ?>
                        <tr>
                            <td class=""> <?php echo $return->salesReturnCode; ?></td>
                            <td class=""> <?php echo $return->customerName . "-" . $return->customerCode; ?></td>
                            <td class=""> <?php echo $this->userDateFormatHelper($return->salesReturnDate, $this->dateFormat); ?></td>
                            <td class="text-left"> <?php echo $currencySymbol . ' ' . number_format($return->salesReturnTotal / $currencyRate, 2); ?></td>
                            <td class="text-center"><span class="<?php echo $style ?>"><?php echo $state; ?></span></td>
                            <td class="text-center">
                                <span class="preview link_color" style="cursor:pointer" data-href="<?php echo $this->url('return', array('action' => 'viewReturnReceipt', 'param1' => $return->salesReturnID)); ?>">
                                    <span id="<?php echo $return->salesReturnID; ?>" class="glyphicon glyphicon-eye-open openlist"></span>
                                </span>
                            </td>
                            <td class="text-center">
                                <span id="<?php echo $return->salesReturnID; ?>" class="link_color rtn_related_docs" data-rtn-related-id="<?php echo $return->salesReturnID; ?>" style="cursor:pointer"><span class="grnView glyphicon glyphicon-link"></span></span>
                            </td>
                            <td class="text-center">
                                <span id="<?php echo $return->salesReturnID; ?>" class="link_color doc_attachments" data-rtn-related-id="<?php echo $return->salesReturnID; ?>" style="cursor:pointer"><span class="glyphicon glyphicon-paperclip"></span></span>
                            </td>

                            <?php
                        }
                        if (count($this->return) == 0) {
                            ?>
                        <tr class="not_found">
                            <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                        </tr>
                    <?php }
                    ?>
                </tbody>
            </table>
            <?php
            echo $this->paginationControl(
                    $this->return, 'sliding', array('partial/paginator.phtml', 'return'), array(
                'route' => 'return', 'action' => 'view'
                    )
            );
            ?>
        </div>

    </div><!--tabele_responsive-->
    <div id='custadiv'></div>
</div><!--margin_top-->

<div class="modal fade" id="addDocHistoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->docHistoryView; ?>
</div>
<div class="modal fade" id="DocumentViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->documentView; ?>
</div>
<div class="modal fade" id="viewAttachmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->attachmentsView; ?>
</div>
