<div class='form-group text-center' id='non-printable'>
    <?php if ($state != "closed") { ?>
        <a href="/supplierPayments/create/<?php echo $piCode ?>" class='btn btn-primary btn-block'>
            <?php echo $this->translate("Pay"); ?>
        </a>
    <?php } ?>
</div>