<?php
$piform = $this->piForm;
$companyCurrencySymbol = $this->companyCurrencySymbol;
$piform->prepare();
$this->headScript()->prependFile($this->basePath('js/pi/viewPi.js'));
$this->headScript()->prependFile($this->basePath('js/expenses/expensePaymentVoucher.js'));
$this->headScript()->prependFile($this->basePath('js/calculations.js'));
?>
<div class="margin_top">

    <?php echo $this->form()->openTag($piform); ?>

    <!--data_insert_section-->
    <div class="row">
        <div class="margin_top_normal">
            <div class="col-lg-5 col-md-5 col-sm-5">
                <div class="form-group">
                    <label for="authorType" class="col-lg-5 control-label">
                        <?php echo $this->translate("Supplier / Account"); ?>
                        <font style="color: red">*</font>
                    </label>
                    <div class="col-lg-7">
                        <select class="selectpicker" id="authorType">
                            <option value="1"><?php echo $this->translate('Supplier') ?></option>
                            <option value="2"><?php echo $this->translate('GL Account') ?></option>
                        </select>
                    </div>
                </div>
                <div class="form-group" id="supplier_div">
                    <label for="supplier" class="col-lg-5 control-label">
                    </label>
                    <div class="col-lg-7">
                        <div class="input-group">
                            <select class="form-control selectpicker show-tick" id="supplier" name="supplier" data-live-search="true">
                                <option value=""><?php echo $this->translate('Select Supplier') ?></option>
                            </select>
                            <a data-toggle="modal" id="addSupplierBtn" href="#addSupplierModal" class="input-group-addon btn-default">
                                <i class="fa fa-plus remove_font_weight"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="form-group" id="gl_account_div">
                    <label for="glAccount" class="col-lg-5 control-label">
                    </label>
                    <div class="col-lg-7">
                        <select class="form-control selectpicker show-tick" id="glAccount" name="glAccount" data-live-search="true">
                            <option value=""><?php echo $this->translate('Select Account') ?></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="qot_no" class="col-lg-5 control-label">
                        <?php echo $this->translate("Location"); ?>
                        <font style="color: red">*</font>
                    </label>
                    <div class="col-lg-7">
                        <select class="form-control selectpicker show-tick" id="retrieveLocation" name="retrieveLocation" data-live-search="true">
                            <option value=""><?php echo $this->translate('Select Location') ?></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="paymentTerms" class="col-lg-5 control-label">
                        <?php echo $this->translate('Payment Term'); ?>
                    </label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($piform->get('paymentTerm')); ?>
                    </div>
                </div>

                <div class="form-group"><!--customer_balance-->
                    <label for="currentBalance" class="col-lg-5 control-label"><?php echo $this->translate('Supplier Balance') ?></label>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 remove_left_padding ">
                                <input type="text" class="form-control" id="supplierCurrentBalance" readonly="readonly"/>
                                <label class="label label-danger custom_label"><?php echo $this->translate('Outstanding') ?></label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 remove_right_padding">
                                <input type="text" class="form-control" id="supplierCurrentCredit" readonly="readonly"/>
                                <label class="label label-success custom_label"><?php echo $this->translate('Credit'); ?></label>
                            </div>
                        </div>
                    </div>
                </div><!--form_group-->
                <div class="form-group">
                    <label for="dimensionType" class="col-lg-5 control-label">
                        <?php echo $this->translate('Select Documents'); ?>
                    </label>
                    <div class="col-lg-7 createPoDiv">
                        <input type="file" name="files[]" id="documentFiles" multiple>
                    </div>
                    <div class="col-lg-4 updatePoDiv hidden">
                        <input type="file" name="files[]" id="editDocumentFiles" multiple style="border-color: white">
                    </div>
                </div>
            </div><!--./col-->
        </div><!--margin_top-->


        <div class="col-lg-5 col-md-5 col-sm-5 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">

            <div class="form-group">
                <label  class="col-lg-5 control-label">
                    <?php echo $this->translate('Issue Date'); ?>
                    <font style="color: red">*</font>
                </label>
                <div class="col-lg-7">
                    <input type="text" class="datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="issueDate" data-date-format="<?php echo $this->dateFormat ?>" placeholder="<?php echo $this->dateFormat ?>">
                </div>
            </div>

            <div class="form-group">
                <label for="date" class="col-lg-5 control-label">
                    <?php echo $this->translate("Due Date"); ?>
                    <font style="color: red">*</font>
                </label>
                <div class="col-lg-7">
                    <input type="text" class="datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="deliveryDate" data-date-format="<?php echo $this->dateFormat ?>" placeholder="<?php echo $this->dateFormat ?>">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-5 control-label">
                    <?php echo $this->translate('PV No'); ?>
                    <font style="color: red">*</font>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($piform->get('grnNo')); ?>
                    <input type="hidden" id="locRefID">
                </div>
            </div>

            <div class="form-group">
                <label for="date" class="col-lg-5 control-label">
                    <?php echo $this->translate("Supplier Reference"); ?>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($piform->get('supplierReference')); ?>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-12 checkbox">
                    <label>
                        <input type="checkbox" name="itemAddShow" value="itemAddShow" id="item-add-show" class="offset5">
                        <?php echo $this->translate('Add inventory Item'); ?>
                    </label>
                </div>
            </div>
            <div class="form-group hidden" id="dimension_div">
                <label for="dimensionType" class="col-lg-5 control-label">
                    <?php echo $this->translate('Dimension'); ?>
                </label>
                <div class="col-lg-7">
                    <a data-toggle="modal" id="dimensionView" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></a>
                </div>
            </div>
            <div class="form-group updatePoDiv_view hidden">
                <label for="dimensionType" class="col-lg-5 control-label">
                    <?php echo $this->translate('View Documents'); ?>
                </label>
                <div class="col-lg-3 text-right">
                    <button class="btn btn-default form-control" type="button" id='viewUploadedFiles'><i class="glyphicon glyphicon-eye-open"></i></button>
                </div>
            </div>
            <div class="form-group">
                <label for="supplier" class="col-lg-5 control-label">
                    <?php echo $this->translate("Voucher Type"); ?>
                </label>
                <div class="col-lg-7">
                     <select class="form-control selectpicker" id="voucherType" data-live-search="false" data-selected-text-format="count>3" data-size="5" title="Select Voucher Type">
                        <option class="" value=""><?php echo $this->translate('Select Voucher Type') ?></option>
                        <?php
                        foreach ($this->voucherTypes as $key => $vType):
                            echo '<option value="' . $key . '">' . $vType. '</option>';
                        endforeach;
                        ?>
                    </select>
                </div>
            </div>
        </div><!--./col-->

    </div><!--margin_top-->
</div><!--row-->

<!--table-->
<div class="col-lg-12">
    <div class="table table-responsive">

        <div id="productAddOverlay" class="overlay"></div>
        <table class="table table-striped margin_top_normal table-condensed hidden" id="piProductTable">

            <!--table_heading-->
            <thead>
                <tr>
                    <th style="width: 20%"><?php echo $this->translate("Item Code - Name"); ?></th>
                    <th class="text-right" style="width: 8%"><?php echo $this->translate("Quantity"); ?></th>
                    <th style="width: 2%"></th>
                    <th class="text-right" style="width: 15%"><?php echo $this->translate("Price"); ?></th>
                    <th class="text-right" style="width: 10%"><?php echo $this->translate("Discount"); ?></th>
                    <th class="text-right" style="width: 10%"><?php echo $this->translate("Taxes"); ?></th>
                    <th class="text-right" style="width: 15%"><?php echo $this->translate("Total"); ?></th>
                    <th style="width: 5%;"></th>
                    <th style="width: 5%;"></th>
                </tr>
            </thead>

            <!--Item_show_row-->
            <tbody id="form_row">
                <tr id='preSetSample' class="hidden">
                    <td  id='code'></td>
                    <td id='quantity' class='text-right'></td>
                    <td><span id="uomName" class='text-right'></span></td>
                    <td id='unit' class='text-right'></td>
                    <td id='disc' class='text-right'></td>
                    <td class='text-right' id='tax'>
                        <div class='btn-group'>
                            <button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'>
                                <span id='' class=''></span>&nbsp
                                <span class='fa fa-caret-down'></span>
                            </button>
                            <ul class=''></ul>
                        </div>
                    </td>
                    <!--<td id='ex-type' class='text-right'></td>-->
                    <td id='ttl' class='text-right'></td>
                    <td class="text-center">
                        <button type="button" class="btn btn-default piDeleteProduct">
                            <span class='fa fa-trash-o delete' id=''></span>
                        </button>
                    </td>
                    <td class="text-center">
                        <button id="viewSubProducts" type="button" class="btn btn-default piViewProducts">
                            <span id="" class="fa fa-expand"></span>
                        </button>
                    </td>
                </tr>
            </tbody>

            <!--item_insert_row-->
            <tbody id="add-new-item-row">
                <tr id="addNewItemTr">
                    <td class="">
                        <select class="form-control selectpicker show-tick" id="itemCode" name="itemCode" data-live-search="true" title="">
                            <option class="itemCodeDefaultSelect" value=""><?php echo $this->translate('Select Item Code or Name') ?></option>
                        </select>
                    </td>
                    <td class="">
                        <div class="">
                            <?php echo $this->formRow($piform->get('qty')); ?>
                        </div>
                    </td>
                    <td></td>
                    <td class="">
                        <div class="pull-right input-group">
                            <?php echo $this->formRow($piform->get('unitPrice')); ?>
                            <strong class="input-group-addon"><?php echo $companyCurrencySymbol; //$this->translate("Rs");                                                                                                                                                               ?></strong>
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <?php echo $this->formRow($piform->get('discount')); ?>
                            <span class="sign input-group-addon"></span>
                        </div>
                    </td>
                    <td class='text-right' id='tax'>
                        <div id="addNewTaxDiv" class='btn-group'>
                            <button id ="addNewTax" type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'>
                                <span id='taxApplied' class='glyphicon glyphicon-unchecked'></span>&nbsp;
                                <span class='fa fa-caret-down remove_font_weight'></span>
                            </button>
                            <ul id="addTaxUl" class="text-left dropdown-menu">
                                <li id="sampleLi" class="hidden">&nbsp;&nbsp;
                                    <input class="taxChecks" id="" type='checkbox'>
                                    <label for="" class="taxName">&nbsp;&nbsp;</label>
                                </li>
                                <li id="toggleSelection">&nbsp;&nbsp;<div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs" id="selectAll"><?php echo $this->translate('Select all') ?>
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs" id="deselectAll"><?php echo $this->translate('Deselect all') ?>
                                    </button></div>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <div class="pull-right input-group">
                            <label class="text-right" id="addNewTotal" >0.00</label>
                        </div>
                    </td>
                    <td class="text-center">
                        <button type="button" class="btn btn-default" id="addItem">
                            <i class="fa fa-plus remove_font_weight"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button  id="removeItem" type="button" class="btn btn-default hidden">
                            <i class="glyphicon glyphicon-minus"></i>
                        </button>
                    </td>
                </tr>
            </tbody>

        </table>

        <table id="non-item-table" class="table table-condensed">
            <thead>
                <tr>
                    <th class="text-left" style="width: 30%"><?php echo $this->translate('Non Item Description') ?></th>
                    <th style="width: 20%"><?php echo $this->translate('Unit Price') ?></th>
                    <th style="width: 10%"><?php echo $this->translate('Taxes') ?></th>
                    <th style="width: 15%"><?php echo $this->translate('Expense Account') ?></th>
                    <th style="width: 15%" class="text-right"><?php echo $this->translate('Total') ?></th>
                    <th style="width: 5%"></th>
                    <th style="width: 5%"></th>
                    <th colspan="3"></th>
                </tr>
            </thead>

            <tbody id="non-item-tbody">

                <!--Clone purpose-->
                <tr id="non-item-row-sample" class="hidden">
                    <td disable="true">
                        <input type='text' id='non-item-description' class="non-item-desc form-control" name='non-item-description'>
                    </td>
                    <td>
                        <div class="pull-right input-group">
                            <input type='text' id='non-item-unit-prc' name='non-item-unit-prc' class='non-item-unit-prc form-control'>
                            <strong class="input-group-addon"><?php echo $companyCurrencySymbol; //$this->translate("Rs");                                                                                                                                                               ?></strong>
                        </div>
                    </td>
                    <td id='nonItemTax'>
                        <div id="addNewNonItemTaxDiv" class='btn-group addNewNonItemTaxDiv'>
                            <button id ="addNewNonItemTax" type='button' class='non-item-tax btn btn-default dropdown-toggle' data-toggle='dropdown'>
                                <span id='nonItemTaxApplied' class='glyphicon glyphicon-unchecked nonItemTaxApplied'></span>&nbsp
                                <span class='fa fa-caret-down remove_font_weight'></span>
                            </button>
                            <ul id="addNonItemTaxUl" class="text-left dropdown-menu addNonItemTaxUl">
                                <li class="samplennItemLi hidden">&nbsp&nbsp
                                    <input class="taxChecks" type='checkbox'>
                                    <label for="" class="taxName">&nbsp&nbsp</label>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td class="non-item-ex-type-row">
                        <select class="form-control selectpicker show-tick ex-type non-item-ex-type-selectbox" data-live-search="true" title="Select Expense Account">
                            <option class="" value=""><?php echo $this->translate('Select Expense Account') ?></option>
                        </select>
                    </td>
                    <td>
                        <div class="pull-right input-group non-item-total">
                            <label class="text-right non-item-total-price" id="addNewNonItemTotal" >0.00</label>
                        </div>
                    </td>
                    <td class="text-center pv-non-item-add">
                        <button type="button" class="btn btn-default add-non-item" id="addNonItem">
                            <i class="fa fa-plus remove_font_weight"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button  id="removeNonItem" type="button" class="btn btn-default hidden remove-non-item">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </td>
                    <td class="text-center pv-non-item-edit hidden">
                        <button  id="editNonItemLine" type="button" class="btn btn-default edit-non-item">
                            <i class="glyphicon glyphicon-edit"></i>
                        </button>
                    </td>
                    <td colspan="3"></td>
                </tr>

                <!--Active one-->
                <tr id="non-item-row-1">
                    <td style="width: 30%" disable="true">
                        <input type='text' id='non-item-description' class="non-item-desc form-control" name='non-item-description'>
                    </td>
                    <td class="" style="width: 20%">
                        <div class="pull-right input-group">
                            <input type='text' id='non-item-unit-prc' name='non-item-unit-prc' class='non-item-unit-prc form-control'>
                            <strong class="input-group-addon"><?php echo $companyCurrencySymbol; //$this->translate("Rs");                                                                                                                                                               ?></strong>
                        </div>
                    </td>
                    <td id='nonItemTax' style="width: 10%">
                        <div id="addNewNonItemTaxDiv" class='btn-group'>
                            <button id ="addNewNonItemTax" type='button' class='non-item-tax btn btn-default dropdown-toggle' data-toggle='dropdown'>
                                <span id='nonItemTaxApplied' class='glyphicon glyphicon-unchecked nonItemTaxApplied'></span>&nbsp
                                <span class='fa fa-caret-down remove_font_weight'></span>
                            </button>
                            <ul id="addNonItemTaxUl" class="text-left dropdown-menu addNonItemTaxUl">
                                <li class="samplennItemLi hidden">&nbsp&nbsp
                                    <input class="taxChecks" type='checkbox'>
                                    <label for="" class="taxName">&nbsp&nbsp</label>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <select class="form-control selectpicker show-tick non-item-ex-type-selectbox" data-live-search="true" title="Select Expense Account" >
                            <option class="" value=""><?php echo $this->translate('Select Expense Account') ?></option>
                        </select>
                    </td>
                    <td style="width: 15%">
                        <div class="pull-right input-group non-item-total">
                            <label class="text-right non-item-total-price" id="addNewNonItemTotal" >0.00</label>
                        </div>
                    </td>
                    <td class="text-center pv-non-item-add" style="width: 5%">
                        <button type="button" class="btn btn-default add-non-item" id="addNonItem">
                            <i class="fa fa-plus remove_font_weight"></i>
                        </button>
                    </td>
                    <td class="text-center" style="width: 5%">
                        <button  id="removeNonItem" type="button" class="btn btn-default hidden remove-non-item">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </td>
                     <td class="text-center pv-non-item-edit hidden" style="width: 5%">
                        <button  id="editNonItemLine" type="button" class="btn btn-default edit-non-item">
                            <i class="glyphicon glyphicon-edit"></i>
                        </button>
                    </td>
                    <td colspan="3"></td>
                </tr>

            </tbody>

            <tbody>
                <!--dummy_row_for_separate_subtotal_section-->
                <tr>
                    <td colspan="9">&nbsp;</td>
                </tr>

                <!--sub_total-->
                <tr>
                    <td colspan="3" class="text-right"><?php echo $this->translate("Sub Total"); ?></td>
                    <td class="text-right"><label id="subtotal">0.00</label></td>
                    <td colspan="3"></td>
                </tr>

                <!--display_taxes-->
                <tr>
                    <td colspan="5">
                        <label class="remove_font_weight"><?php echo $this->formRow($piform->get('showTax')) . "&nbsp;"; ?><?php echo $this->translate("Display Taxes"); ?></label>
                    </td>
                    <td class="text-right">
                        <div id="totalTaxShow" class="hidden"></div>
                    </td>
                    <td colspan="3"></td>
                </tr>

                <!--delivery_charges-->
                <tr>
                    <td colspan="3">
                        <label class="remove_font_weight">
                            <?php
                            echo $this->formRow($piform->get('deliveryChargeEnable')) . "&nbsp;";
                            echo $this->translate("Delivery Charges");
                            ?>
                        </label>
                    </td>
                    <td>
                        <div class='deliCharges hidden text-right'><?php echo $this->formRow($piform->get('deliveryCharge')); ?></div>
                    </td>
                    <td colspan="3"></td>
                </tr>

                <!--total-->
                <tr>
                    <td colspan="3" class="text-right"><h4 class="font_weight"><?php echo $this->translate("Total") . " " . $companyCurrencySymbol; ?></h4></td>
                    <td class="text-right"><h4 id="finaltotal" class="font_weight">0.00</h4></td>
                    <td colspan="3"></td>
                </tr>
            </tbody>

        </table>
    </div><!--table_responsive-->
</div><!--./col-->

<!--comment-->
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4"><!--comment-->
        <label for="cmnt" class="">
            <?php echo $this->translate("Comment"); ?>
        </label>
        <?php echo $this->formRow($piform->get('comment')); ?>
    </div>

    <div class="col-lg-4 col-sm-4"><!--button-->
        <div class="btn_margin_top ">
            <?php echo $this->formRow($piform->get('grnCancelButton')); ?>
            <?php echo $this->formRow($piform->get('grnSaveButton')); ?>
        </div>
    </div>
</div><!--row-->
<?php echo $this->form()->closeTag(); ?>
<div class="modal fade" id="addSupplierModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->supplierAddView; ?>
</div>

<div class="modal fade" id="addPiProductsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->piAddProducts; ?>
</div>

<div class="modal fade" id="viewPiSubProductsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4><?php echo $this->translate('Items') ?></h4>
            </div>

            <div class="modal-body">
                <div id="batchProductsView" class="hidden panel panel-default">
                    <div class="col-lg-12 panel panel-heading">
                        <h4><?php echo $this->translate('Batch') ?></h4>
                        <div class="col col-lg-12">
                            <span class="col-lg-3"><?php echo $this->translate("Item Code:"); ?></span><span id="batchCodeView" class="col-lg-3"></span><span class="col-lg-3"><?php echo $this->translate("Quantity:"); ?></span><span id="batchQuantityView" class="col-lg-3"></span>
                        </div>
                    </div>
                    <div class="panel panel-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th><?php echo $this->translate("Batch CoDe"); ?></th>
                                    <th><?php echo $this->translate("Qty"); ?></th>
                                    <th><?php echo $this->translate("Man: Date"); ?></th>
                                    <th><?php echo $this->translate("Exp: Date"); ?></th>
                                    <th><?php echo $this->translate("Wrnty"); ?></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="proBatchViewSample" class="hidden">
                                    <td id="batchNmbrView"></td>
                                    <td id="batchQtyView"></td>
                                    <td id="batchMDateView"></td>
                                    <td id="batchEDateView"></td>
                                    <td id="batchWView"></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div id="serialViewScreen" class="hidden panel panel-default">
                    <div class="col-lg-12 panel panel-heading">
                        <h4><?php echo $this->translate('Serial') ?></h4>
                        <div class="col col-lg-12">
                            <span class="col-lg-3"><?php echo $this->translate("Item Code:"); ?></span><span id="piserialCodeView" class="col-lg-3"></span><span class="col-lg-3"><?php echo $this->translate("Quantity:"); ?></span><span id="piSerialQuantityView" class="col-lg-3"></span>
                        </div>
                    </div>
                    <div class="panel panel-body" style="overflow-y: scroll; height: 300px;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th><?php echo $this->translate("Serial Number"); ?></th>
                                    <th><?php echo $this->translate("Warranty"); ?></th>
                                    <th><?php echo $this->translate("Batch CoDe"); ?></th>
                                    <th><?php echo $this->translate("Exp: Date"); ?></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="serialViewSample" class="">
                                    <td id="serialNumberView"></td>
                                    <td id="serialWarrentyView"></td>
                                    <td id="serialBIDView"></td>
                                    <td id="serialExDView"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="refNotSet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $refNotSet; ?>
</div>
<div class="modal fade" id="addDimensionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->dimensionAddView; ?>
</div>
<div class="modal fade" id="viewAttachmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->attachmentsView; ?>
</div>
