<div class="pv-edit-container expanded">
    <?php echo $pVEditDetails; ?>
</div>

<div class="modal fade" id="addInvoiceProductsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <?php echo $this->invoiceProducts; ?>
</div>

<input type="hidden" name="editmode" id="editMode" data-pvid = <?php echo $this->pVID; ?> value="1" />