<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('PV No') ?></th>
                <th><?php echo $this->translate('Supplier Name') ?></th>
                <!--<th><?php echo $this->translate('Supplier Reference') ?></th>-->
                <th class="text-center"><?php echo $this->translate('Status') ?></th>
                <th class="text-center"><?php echo $this->translate('Location') ?></th>
                <th class="text-center"><?php echo $this->translate('Issue Date') ?></th>
                <th class="text-center"><?php echo $this->translate('Due Date') ?></th>
                <th class="text-right"><?php echo $this->translate('Total') ?></th>
                <th class="text-center"><?php echo $this->translate('View') ?></th>
                <th class="text-center"><?php echo $this->translate('Print View') ?></th>
                <th class="text-center"><?php echo $this->translate('Edit') ?></th>
                <th class="text-center"><?php echo $this->translate('Cancel') ?></th>
                <th class="text-center"><?php echo $this->translate('Related Documents') ?></th>
                <th class="text-center"><?php echo $this->translate('Attachments') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->paymentVoucherList as $key => $pvL) {
                $pvL = (object) $pvL;
                $state = ucfirst($this->statuses[$pvL->paymentVoucherStatus]);
                $style = NULL;
                switch ($pvL->paymentVoucherStatus) {
                    case "1":
                        $style = "label label-primary";
                        break;
                    case "2":
                        $style = "label label-default";
                        break;
                    case "3":
                        $style = "label label-success";
                        break;
                    case "4":
                        $style = "label label-warning";
                        break;
                    case "5":
                        $style = "label label-primary";
                        break;
                    case "6":
                        $state = 'Open';
                        $style = "label label-danger";
                        break;
                    case "7":
                        $style = "label label-default";
                        break;
                    case "13":
                        $state = 'Rejected';
                        $style = "label label-warning";
                        break;
                    default :
                        $style = "label label-default";
                }
                ?>
                <tr>
                    <td> <?php echo $pvL->paymentVoucherCode; ?></td>
                    <td> <?php echo $pvL->supplierTitle . ' ' . $pvL->supplierName; ?></td>
                    <!--<td class="text-left"> <?php // echo $pi->purchaseInvoiceSupplierReference;                                ?></td>-->
                    <td class="text-center"><span class="<?php echo $style; ?>"> <?php echo $state; ?></span></td>
                    <td class="text-center"> <?php echo $pvL->locationName; ?></td>
                    <td class="text-center"><?php echo $this->userDateFormatHelper($pvL->paymentVoucherIssuedDate, $this->dateFormat); ?></td>
                    <td class="text-center"><?php echo $this->userDateFormatHelper($pvL->paymentVoucherDueDate, $this->dateFormat); ?></td>
                    <td class="text-right"><?php echo number_format($pvL->paymentVoucherTotal, 2); ?></td>
                    <?php
                    if($pvL->paymentVoucherStatus == 5 ||  $pvL->paymentVoucherStatus == 13){
                    ?>
                        <td class="text-center">
                           <a href="<?php echo $this->url('expense-purchase-invoice', array('action' => 'view', 'param1' => $pvL->paymentVoucherID)); ?>"><span class="piView fa fa-search-plus "></span></a>
                        </td>
                        <td class="text-center">
                           
                        </td>
                        <td class="text-center">
                        </td>
                        <td class="text-center">
                            
                        </td>
                    <?php    
                    } else {
                    ?>
                        <td class="text-center">
                        <a href="<?php echo $this->url('expense-purchase-invoice', array('action' => 'view', 'param1' => $pvL->paymentVoucherID)); ?>"><span class="piView fa fa-search-plus "></span></a>
                        </td>
                        <td class="text-center">
                            <span class="printViewPi link_color" style="cursor:pointer" data-href="<?php echo $this->url('expense-purchase-invoice', array('action' => 'preview', 'param1' => $pvL->paymentVoucherID)); ?>"><span class="grnView glyphicon glyphicon-eye-open"></span></span>
                        </td>
                        <td class="text-center">
                            <a href="<?php echo $this->url('expense-purchase-invoice', array('action' => 'edit', 'param1' => $pvL->paymentVoucherID)); ?>"><span class="pVEdit glyphicon glyphicon-edit"></span>
                        </td>

                        <td class="text-center">
                            <span class="deletePi link_color deletePV glyphicon glyphicon-trash" style="cursor:pointer" data-id="<?php echo $pvL->paymentVoucherID; ?>">
                            </span>
                        </td>
                    <?php
                    }
                    ?>
                    <td class="text-center">
                        <?php if ($pvL->paymentVoucherStatus != 13) { ?>
                            <span id="<?php echo $pvL->paymentVoucherID; ?>" class="link_color payment-voucher_related_docs" data-payment-voucher-id="<?php echo $pvL->paymentVoucherID; ?>" style="cursor:pointer"><span class="glyphicon glyphicon-link"></span></span>
                        <?php } ?>
                    </td>
                    <td class="text-center">
                        <?php if ($pvL->paymentVoucherStatus != 13) { ?>
                            <span id="<?php echo $pvL->paymentVoucherID; ?>" class="link_color doc_attachments" data-pv-related-id="<?php echo $pvL->paymentVoucherID; ?>" style="cursor:pointer"><span class="glyphicon glyphicon-paperclip"></span></span>
                        <?php } ?>
                    </td>
                </tr>
                <?php
            }
            if (count($this->paymentVoucherList) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div>

<?php
if (!isset($this->paginated)) {
    echo $this->paginationControl(
            $this->paymentVoucherList, 'sliding', array('partial/paginator.phtml', 'expense-purchase-invoice'), array(
        'route' => 'expense-purchase-invoice', 'action' => 'list'
            )
    );
}
?>