<script>
    function goBack() {
        window.history.go(-1);
    }
</script>
<div class="margin_top">

    <?php $subTotalValue = 0; ?>
    <?php $totalTax = 0; ?>

    <!--data_insert_section-->
    <div class="row clearfix">
        <div class="margin_top_normal form-horizontal clearfix">

            <div class="col-lg-5 col-md-5 col-sm-5">

                <div class="form-group">
                    <label for="supplier" class="col-lg-5 control-label">
                        <?php echo $this->translate("Supplier"); ?>
                    </label>
                    <div class="col-lg-7">
                        <input class="form-control" disabled="true" value="<?php echo $this->data['pVSName']; ?>">
                    </div>
                </div>

                <div class="form-group">
                    <label for="qot_no" class="col-lg-5 control-label">
                        <?php echo $this->translate("Retrieve Location"); ?>
                    </label>
                    <div class="col-lg-7">
                        <input class="form-control" disabled="true" value="<?php echo $this->data['pVRL']; ?>">
                    </div>
                </div>

                <div class="form-group">
                    <label for="date" class="col-lg-5 control-label">
                        <?php echo $this->translate("Supplier Reference"); ?>
                    </label>
                    <div class="col-lg-7">
                        <input class="form-control" disabled="true" value="<?php echo $this->data['pVSR']; ?>">
                    </div>
                </div>
            </div><!--./col-->

            <div class="col-lg-5 col-md-5 col-sm-5 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
                <div class="form-group">
                    <label for="date" class="col-lg-5 control-label">
                        <?php echo $this->translate("Issued Date"); ?>
                    </label>
                    <div class="col-lg-7">
                        <input class="form-control" disabled="true" value="<?php echo $this->data['pVIssueD'] ?>">
                    </div>
                </div>

                <div class="form-group">
                    <label for="date" class="col-lg-5 control-label">
                        <?php echo $this->translate("Due Date"); ?>
                    </label>
                    <div class="col-lg-7">
                        <input class="form-control" disabled="true" value="<?php echo $this->data['pVDD'] ?>">
                    </div>
                </div>

                <div class="form-group">
                    <label for="payment_term" class="col-lg-5 control-label">
                        <?php echo $this->translate('PV No'); ?>
                    </label>
                    <div class="col-lg-7">
                        <input class="form-control" disabled="true" value="<?php echo $this->data['pVCd'] ?>">
                    </div>
                </div>
            </div><!--./col-->

        </div><!--margin_top-->
    </div><!--row-->

    <div class="col-lg-12">
        <div class="table table-responsive">
            <table class="table table-striped margin_top_normal table-condensed">
                <thead>
                    <tr>
                        <th style="width: 20%"><?php echo $this->translate("Non Item Description"); ?></th>
                        <th style="width: 20%"><?php echo $this->translate("Expense Type"); ?></th>
                        <th style="width: 10%"><?php echo $this->translate("Quantity"); ?></th>
                        <th style="width: 5%"></th>
                        <th class="text-right" style="width: 15%"><?php echo $this->translate("Unit Price"); ?></th>
                        <th class="text-right" style="width: 10%"><?php echo $this->translate("Tax"); ?></th>
                        <th class="text-right" style="width: 15%"><?php echo $this->translate("Total"); ?></th>
                        <th style="width: 5%"></th>
                    </tr>
                </thead>
                <tbody id="non_item_form_row">
                    <?php
                    if (isset($this->data['nonItemProduct'])) {
                        foreach ($this->data['nonItemProduct'] as $nonItemProduct) {
                            $subTotalValue+=$nonItemProduct['paymentVoucherNonItemProductTotalPrice'];
                            ?>
                            <tr class="">
                                <td id='code'><?php echo $nonItemProduct['paymentVoucherNonItemProductDiscription']; ?></td>
                                <td><?php echo $nonItemProduct['paymentVoucherNonItemProductExpenseType'] ?></td>
                                <td id='quantity' class='text-left'><?php echo number_format($nonItemProduct['paymentVoucherNonItemProductQuantity']); ?></td>
                                <td><span id="uomName" class='text-right'><?php echo $nonItemProduct['uomAbbr']; ?></span></td>
                                <td id='unit' class='text-right'><?php echo number_format($nonItemProduct['paymentVoucherNonItemProductUnitPrice'], 2); ?></td>
                                <td class="text-right">
                                    <?php
                                    $fullTaxAmount = $nonItemProduct['paymentVoucherNonItemProductTotalPrice'] - $nonItemProduct['paymentVoucherNonItemProductUnitPrice'];
                                    echo number_format($fullTaxAmount, 2);
                                    ?>
                                </td>                                
                                <td id='ttl' class='text-right'><?php echo number_format($nonItemProduct['paymentVoucherNonItemProductTotalPrice'], 2); ?></td>
                                <td>
                                    <?php
                                    if (empty($piProduct['sP']) && empty($piProduct['bP'])) {

                                    } else {
                                        ?>
                                        <a data-toggle="modal" href='#<?php echo $piProduct['piPC'] . 'viewSubProducts' ?>'style = "font-size: 18px;" class ='glyphicon glyphicon-expand'></a>
                                        <?php
                                    }
                                    ?>
                                </td>
                            </tr>
                            <?php
                            $totalTax+=$fullTaxAmount;
                        }
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>

    <!--table-->
    <div class="col-lg-12">
        <div class="table table-responsive">
            <table class="table table-striped margin_top_normal table-condensed" id="paymentVoucherTable">
                <thead>
                    <tr>
                        <th style="width: 10%"><?php echo $this->translate("Item Code"); ?></th>
                        <th style="width: 17%"><?php echo $this->translate("Item Name"); ?></th>
                        <th style="width: 12%"><?php echo $this->translate("Expense Type"); ?></th>
                        <th style="width: 8%"><?php echo $this->translate("Quantity"); ?></th>
                        <th style="width: 5%"></th>
                        <th class="text-right" style="width: 13%"><?php echo $this->translate("Price"); ?></th>
                        <th class="text-right" style="width: 10%"><?php echo $this->translate("Discount"); ?></th>
                        <th class="text-right" style="width: 10%"><?php echo $this->translate("Tax"); ?></th>                        
                        <th class="text-right" style="width: 15%"><?php echo $this->translate("Total"); ?></th>
                        <th style="width: 5px;"></th>
                    </tr>
                </thead>

                <tbody id="form_row">
                    <?php
                    if (isset($this->data['itemProduct'])) {

                        foreach ($this->data['itemProduct'] as $itemProduct) {
                            $locationProdcutIDArray[] = array();
                            if (in_array($itemProduct['locationProductID'], $locationProdcutIDArray)) {
                                continue;
                            } else {
                                $subTotalValue+=$itemProduct['paymentVoucherProductTotalPrice'];
                                ?>
                                <tr class="">
                                    <td id='code'><?php echo $itemProduct['productCode']; ?></td>
                                    <td id='name'><?php echo $itemProduct['productName']; ?></td>
                                    <td><?php echo $itemProduct['paymentVoucherProductExpenseType']; ?></td>
                                    <td id='quantity' class=''><?php echo number_format($itemProduct['paymentVoucherProductQuantity']); ?></td>
                                    <td><span id="uomName" class='text-right'><?php echo $itemProduct['uomAbbr']; ?></span></td>
                                    <td id='unit' class='text-right'><?php echo number_format($itemProduct['paymentVoucherProductUnitPrice'], 2); ?></td>
                                    <td id='disc' class='text-right'><?php echo $itemProduct['itemDiscount']; ?></td>
                                    <td class="text-right">
                                        <?php
                                        $fullTaxAmount = 0;
                                        if (isset($itemProduct['tax'])) {
                                            foreach ($itemProduct['tax'] as $paymentVTax) {
                                                $fullTaxAmount += floatval($paymentVTax['paymentVoucherTaxAmount']);
                                            }
                                        }
                                        echo number_format($fullTaxAmount, 2);
                                        ?>
                                    </td>                                    
                                    <td id='ttl' class='text-right'><?php echo number_format($itemProduct['paymentVoucherProductTotalPrice'], 2); ?></td>
                                    <td>
                                        <?php
                                        if (empty($itemProduct['productBatch']) && empty($itemProduct['productSerial'])) {

                                        } else {
                                            ?>
                                            <a data-toggle="modal" href='#<?php echo $itemProduct['productCode'] . 'viewSubProducts' ?>'style = "font-size: 18px;" class ='glyphicon glyphicon-expand'></a>
                                            <?php
                                        }
                                        ?>
                                    </td>
                                </tr>
                                <?php
                                $locationProdcutIDArray[] = $itemProduct['locationProductID'];
                            }
                            $totalTax+=$fullTaxAmount;
                        }
                    }
                    ?>
                </tbody>

                <tbody>
                    <tr>
                        <td colspan="9">&nbsp;</td>
                    </tr>

                    <tr><!--sub_total-->
                        <td colspan="7"><?php echo $this->translate("Sub Total"); ?></td>
                        <td id="subtotal" class="text-right"><label><?php echo number_format($subTotalValue, 2); ?></label></td>
                        <td></td>
                    </tr>

                    <tr><!--display_taxes-->
                        <td colspan="7">
                            <label class="<?php if (empty($this->data['pVSTax'])) echo "hidden "; ?>remove_font_weight"><?php echo $this->translate("Total Taxes"); ?></label>
                        </td>
                        <td class="text-right">
                            <?php
                            echo number_format($totalTax, 2);
                            $totalTaxArray = array();
                            if (isset($this->data['itemProduct'])) {
                                foreach ($this->data['itemProduct'] as $item) {
                                    if (isset($item['tax'])) {
                                        foreach ($item['tax'] as $value) {
                                            if ($totalTaxArray[$value['paymentVoucherTaxID']]['paymentVoucherTaxID'] == $value['paymentVoucherTaxID']) {
                                                $temp = $totalTaxArray[$value['paymentVoucherTaxID']]['paymentVoucherTaxAmount'] + $value['paymentVoucherTaxAmount'];
                                            } else {
                                                $temp = $value['paymentVoucherTaxAmount'];
                                            }
                                            $totalTaxArray[$value['paymentVoucherTaxID']]['paymentVoucherTaxPrecentage'] = $value['paymentVoucherTaxPrecentage'];
                                            $totalTaxArray[$value['paymentVoucherTaxID']]['taxName'] = $value['taxName'];
                                            $totalTaxArray[$value['paymentVoucherTaxID']]['paymentVoucherTaxAmount'] = $temp;
                                            $totalTaxArray[$value['paymentVoucherTaxID']]['paymentVoucherTaxID'] = $value['paymentVoucherTaxID'];
                                        }
                                    }
                                }
                            }
                            if (count($this->data['nonItemProduct']) > 0) {
                                foreach ($this->data['nonItemProduct'] as $item) {
                                    if (count($item['tax']) > 0) {
                                        foreach ($item['tax'] as $value) {
                                            if ($totalTaxArray[$value['paymentVoucherTaxID']]['paymentVoucherTaxID'] == $value['paymentVoucherTaxID']) {
                                                $temp = $totalTaxArray[$value['paymentVoucherTaxID']]['paymentVoucherTaxAmount'] + $value['paymentVoucherTaxAmount'];
                                            } else {
                                                $temp = $value['paymentVoucherTaxAmount'];
                                            }
                                            $totalTaxArray[$value['paymentVoucherTaxID']]['paymentVoucherTaxPrecentage'] = $value['paymentVoucherTaxPrecentage'];
                                            $totalTaxArray[$value['paymentVoucherTaxID']]['taxName'] = $value['taxName'];
                                            $totalTaxArray[$value['paymentVoucherTaxID']]['paymentVoucherTaxAmount'] = $temp;
                                            $totalTaxArray[$value['paymentVoucherTaxID']]['paymentVoucherTaxID'] = $value['paymentVoucherTaxID'];
                                        }
                                    }
                                }
                            }
                            ?>
                        </td>

                        <td class="text-right">
                            <div class='btn-group'>
                                <?php if (!empty($totalTaxArray)) { ?>
                                    <button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'><span id='' class=''></span><span class='glyphicon glyphicon-chevron-down'></span></button>
                                    <ul class="text-left dropdown-menu">
                                        <?php
                                        foreach ($totalTaxArray as $pVTotTax) {
                                            ?>
                                            <li>&nbsp;&nbsp;<?php echo $pVTotTax['taxName'] . '(' . $pVTotTax['paymentVoucherTaxPrecentage'] . '%) - ' . number_format($pVTotTax['paymentVoucherTaxAmount'], 2); ?></li>
                                            <?php
                                        }
                                        ?>
                                    </ul>
                                <?php } ?>
                            </div>
                        </td>
                    </tr>

                    <tr><!--delivery_charges-->
                        <td colspan="7"><div class='deliCharges'><?php echo $this->translate("Delivery Charges"); ?></div></td>
                        <td class="text-right"><div class='deliCharges'><?php echo number_format($this->data['pVDC'], 2); ?></div></td>
                        <td></td>
                    </tr>

                    <tr><!--total-->
                        <td colspan="7"><h4 class="font_weight"><?php echo $this->translate("Total "); ?></h4></td>
                        <td class="text-right"><h4 id="finaltotal" class="font_weight"><?php echo $companyCurrencySymbol . number_format($this->data['pVT'], 2); ?></h4></td>
                        <td></td>
                    </tr>

                </tbody>
            </table>

        </div><!--table_responsive-->
    </div><!--./col-->

    <!--comment-->
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4"><!--comment-->
            <label for="cmnt" class="">
                <?php echo $this->translate("Comment"); ?>
            </label>
            <?php echo $this->data['pVC']; ?>
        </div>

        <?php echo $this->form()->closeTag(); ?>

        <div class="col-lg-8 col-sm-8"><!--button-->
            <div class="btn_margin_top text-right">
                <button id="grnViewBack" onclick="goBack()" class="btn btn-default"><?php echo $this->translate('Back') ?></button>
            </div>
        </div>
    </div><!--row-->

    <?php
    if (count($this->data['itemProduct']) > 0) {
        foreach ($this->data['itemProduct'] as $pVProduct) {
            if (empty($pVProduct['productBatch']) && empty($pVProduct['productSerial'])) {
            } else {
                ?>
                <div class="modal fade" id='<?php echo $pVProduct['productCode'] . 'viewSubProducts' ?>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4><?php echo $this->translate("Item Details"); ?></h4>
                            </div>

                            <div class="modal-body">
                                <?php
                                if (!empty($pVProduct['productBatch'])) {
                                    $totalBatchQty = 0;
                                    foreach ($this->batchData[$pVProduct['locationProductID']] as $batchProduct) {
                                        $totalBatchQty += floatval($batchProduct['bQty']);
                                    }
                                    ?>
                                    <div class="panel panel-default small_panel_heading">
                                        <div class="panel-heading">
                                            <h5 class="font_weight"><?php echo $this->translate("Batch"); ?></h5>
                                        </div>

                                        <div class="panel-body">

                                            <div class="product_code">
                                                <span><?php echo $this->translate("Item Code:"); ?></span>
                                                <span id="batchCodeView"><?php echo $pVProduct['productCode']; ?></span>
                                            </div>

                                            <div class="quantity_amount">
                                                <span><?php echo $this->translate("Quantity:"); ?></span>
                                                <span id="batchQuantityView"><?php echo $totalBatchQty; ?></span>
                                            </div>

                                            <div class="table-responsive">
                                                <table class="table table-striped" style="margin-bottom: 50px;">
                                                    <thead>
                                                        <tr>
                                                            <th><?php echo $this->translate("Batch Code"); ?></th>
                                                            <th><?php echo $this->translate("Qty"); ?></th>
                                                            <th><?php echo $this->translate("Man: Date"); ?></th>
                                                            <th><?php echo $this->translate("Exp: Date"); ?></th>
                                                            <th><?php echo $this->translate("Warranty(Days)"); ?></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <?php
                                                        foreach ($this->batchData[$pVProduct['locationProductID']] as $key => $batchProduct) {
                                                            ?>
                                                            <tr>
                                                                <td><?php echo $key; ?></td>
                                                                <td><?php echo $batchProduct['bQty']; ?></td>
                                                                <td><?php echo $batchProduct['mDate']; ?></td>
                                                                <td><?php echo $batchProduct['eDate']; ?></td>
                                                                <td><?php echo $batchProduct['warnty']; ?></td>
                                                            </tr>
                                                        <?php } ?>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div><!--panel_body-->
                                    </div><!--panel_default-->
                                    <?php
                                }
                                ?>
                                <?php
                                if (!empty($pVProduct['productSerial'])) {
                                    ?>
                                    <div class="panel panel-default small_panel_heading">
                                        <div class="panel-heading">
                                            <h5 class="font_weight"><?php echo $this->translate("Serial Item List"); ?></h5>
                                        </div>

                                        <div class="panel-body overflow_control">

                                            <div class="product_code">
                                                <span><?php echo $this->translate("Item Code:"); ?></span>
                                                <span id="batchCodeView"><?php echo $pVProduct['productCode']; ?></span>
                                            </div>

                                            <div class="quantity_amount"></div>

                                            <div class="table-responsive">
                                                <table class="table table-striped" style="margin-bottom: 50px;">
                                                    <thead>
                                                        <tr>
                                                            <th><?php echo $this->translate("Serial Number"); ?></th>
                                                            <th><?php echo $this->translate("Batch Code"); ?></th>
                                                            <th><?php echo $this->translate("WarrantyType"); ?></th>
                                                            <th><?php echo $this->translate("WarrantyPeriod"); ?></th>
                                                            <th><?php echo $this->translate("Exp: Date"); ?></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <?php
                                                        foreach ($this->serialData[$pVProduct['locationProductID']] as $serialKey => $serialProduct) {
                                                            $wPeriod = "";
                                                            if($serialProduct['sWarrantyType']==='4'){
                                                                $wPeriod = "Years";
                                                            }else if($serialProduct['sWarrantyType']==='3'){
                                                                $wPeriod = "Months";
                                                            }else if($serialProduct['sWarrantyType']==='2'){
                                                                $wPeriod = "Weeks";
                                                            }else{
                                                                $wPeriod = "Days";
                                                            }
                                                           ?>
                                                            <tr>
                                                                <td><?php echo $serialKey; ?></td>
                                                                <td><?php echo isset($serialProduct['bCode']) ? $serialProduct['bCode'] : '-'; ?></td>
                                                                <td><?php echo  $wPeriod ; ?></td>
                                                                <td><?php echo $serialProduct['warnty']; ?></td>
                                                                <td><?php echo $serialProduct['eDate']; ?></td>
                                                            </tr>
                                                        <?php } ?>
                                                    </tbody>
                                                </table>
                                            </div><!--table_responsive-->
                                        </div><!--panel_body-->
                                    </div><!--panel-->
                                <?php } ?>
                            </div>

                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
                            </div>
                        </div>
                    </div>
                </div>

                <?php
            }
        }
    }
    ?>
