<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate('Customer Delete Confirmation') ?></h4>
        </div>
        <div class="modal-body">
            <?php echo $this->translate('Are you sure you want to delete this Customer?') ?>
        </div>
        <div class="modal-footer">
            <button id="delete-customer-button" class="btn btn-danger"><?php echo $this->translate('Delete Customer') ?></button>
            <button type="button" data-dismiss="modal" class="btn btn-default"><?php echo $this->translate('Cancel') ?></button>
        </div>
    </div>
</div>