<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
<?php $this->headScript()->captureEnd() ?>

<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo ($action == "add") ? $this->translate("Add Customer") : $this->translate("Edit Customer"); ?></h4>
        </div>

        <div class="modal-body">

            <?php
            $form = $this->form;
            $form->setAttribute('id', 'addcustomerform');
            $form->prepare();
            echo $this->form()->openTag($form);
            ?>

            <?php echo $this->form()->openTag($form); ?>

            <div class="modal_input_margin"><!-- Title -->
                <label for="customerTitle"><?php echo $this->translate('Title ') ?></label>
                <div>
                    <?php echo $this->formRow($form->get('customerTitle')); ?>
                </div>
            </div>

            <div class="modal_input_margin">
                <label for="customername"><?php echo $this->translate('Customer Name') ?><font color="red"> *</font></label>
                <div>
                    <?php echo $this->formRow($form->get('customerName')); ?>
                </div>
            </div>

            <div class="modal_input_margin">
                <label><?php echo $this->translate('Customer Short Name (ID)'); ?><font color="red"> *</font></label>
                <div>
                    <?php echo $this->formRow($form->get('customerShortName')); ?>
                </div>
            </div>

            <div class="modal_input_margin">
                <label><?php echo $this->translate('Currency'); ?></label>
                <div>
                    <?php echo $this->formRow($form->get('customerCurrency')); ?>
                </div>
            </div>

            <div class="modal_input_margin_spl">
                <div>
                    <a id="moredetails" class="more_details">
                        <span class="glyphicon glyphicon-circle-arrow-down"></span>
                        <?php echo $this->translate('More Details') ?>
                    </a>
                </div>
            </div>

            <!--more_button-->
            <div id="errorlog" class="alert alert-info errordisplay hide">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>

            <!--more_customer-->
            <div id="customer_more">

                <div class="modal_input_margin">
                    <label><?php echo $this->translate('Telephone Number') ?></label>
                    <div>
                        <?php echo $this->formRow($form->get('customerTelephoneNumber')); ?>
                    </div>
                </div>

                <div class="modal_input_margin">
                    <label><?php echo $this->translate('Additional Telephone Number') ?></label>
                    <div>
                        <?php echo $this->formRow($form->get('customerAdditionalTelephoneNumber')); ?>
                    </div>
                </div>

                <div class="modal_input_margin">
                    <label><?php echo $this->translate('Email') ?></label>
                    <div>
                        <?php echo $this->formRow($form->get('customerEmail')); ?>
                    </div>
                </div>

                <div class="modal_input_margin">
                    <label><?php echo $this->translate('Address') ?></label>
                    <div>
                        <?php echo $this->formRow($form->get('customerAddress')); ?>
                    </div>
                </div>

                <div class="modal_input_margin">
                    <label><?php echo $this->translate('Vat Number') ?></label>
                    <div>
                        <?php
                        echo $this->formRow($form->get('customerVatNumber'));
                        ?>
                    </div>
                </div>

                <div class="modal_input_margin">
                    <label><?php echo $this->translate('Payment Terms') ?></label>
                    <div>
                        <?php echo $this->formRow($form->get('customerPaymentTerm')); ?>
                    </div>
                </div>

                <div class="modal_input_margin">
                    <label><?php echo $this->translate('Credit Limit') ?></label>
                    <div>
                        <?php echo $this->formRow($form->get('customerCreditLimit')); ?>
                    </div>
                </div>

                <div class="modal_input_margin">
                    <label for="Currentbalance"><?php echo $this->translate('Customer Balance') ?></label>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 remove_left_padding">
                                <?php echo $this->formRow($form->get('customerCurrentBalance')); ?>
                                <label class="label label-danger custom_label"><?php echo $this->translate('Outstanding') ?></label>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 remove_right_padding">
                                <?php echo $this->formRow($form->get('customerCurrentCredit')); ?>
                                <label class="label label-success custom_label"><?php echo $this->translate('Credit') ?></label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal_input_margin">
                    <label><?php echo $this->translate('Discount') ?></label>
                    <div class="input-group">
                        <?php echo $this->formRow($form->get('customerDiscount')); ?>
                        <span class="input-group-addon">%</span>
                    </div>
                </div>

                <div class="modal_input_margin">
                    <label><?php echo $this->translate('Other'); ?></label>
                    <div>
                        <?php echo $this->formRow($form->get('customerOther')); ?>
                    </div>
                </div>

            </div>

            <?php
            echo $this->form()->closeTag();
            ?>

        </div><!--modal_body-->

        <div class="modal-footer">
            <button type="button" id="<?php echo ($action == 'add') ? "add_new_cust" : "customerupdatemodal"; ?>"  class="btn btn-primary">
                <?php echo ($action == 'add') ? $this->translate("Add Customer") : $this->translate("Update"); ?>
            </button>
            <button type="button" id="editclose" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
            <?php
            echo $this->form()->closeTag();
            ?>
        </div>

    </div>
</div>
