<?php
$form = $this->inquiryForm;
$form->setAttribute('id', 'create-inquiry-type-form');
?>

<div class="inquiry-type-form-container margin_top">

    <div class="well well_heading">
        <h5 class="font_weight addTitle"><?php echo $this->translate('Add Inquiry Type') ?></h5>
        <h5 class="font_weight updateTitle hidden"><?php echo $this->translate('Update Inquiry Type') ?></h5>
    </div>

    <div class="well well_body">
        <?php
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formHidden($form->get('inquiryTypeID'));
        ?>

        <div class="form-group">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Inquiry Type Code') ?><font color="red"> *</font></label>
                <div class="">
                    <?php echo $this->formRow($form->get('inquiryTypeCode')); ?>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Inquiry Type Name') ?><font color="red"> *</font></label>
                <div class="">
                    <?php echo $this->formRow($form->get('inquiryTypeName')); ?>
                </div>
            </div>

            <!--cancel&update-->
            <div class="col-lg-4 updateDiv hidden">
                <label class="control-label label_bottom_margin">&nbsp;</label>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary update inquiry-type-update-btn"><?php echo $this->translate('Update') ?></button>
                    <button type="button" class="btn btn-default cancel"><?php echo $this->translate('Cancel') ?></button>
                </div>
            </div>

            <!--reset&add_new-->
            <div class="col-lg-4 addDiv">
                <label class="control-label label_bottom_margin">&nbsp;</label>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary add"><?php echo $this->translate('Add New') ?></button>
                    <button type="reset" class="btn btn-default reset"><?php echo $this->translate('Reset') ?></button>
                </div>
            </div>
        </div><!--form_group-->

        <?php
        echo $this->form()->closeTag($form);
        ?>
    </div><!--well-->
</div><!--inquiry_type_form_container-->

<!--search-->
<div class="well clearfix well_custom_padding margin_top search-inquiry-type">
    <form class="inquiry-type-search" id="inquiry-type-search" method="post" action="">
        <div class="col-lg-3">
            <label class="remove_weight"><?php echo $this->translate('Search a Inquiry Type') ?></label>
        </div>
        <div class="col-lg-9 xs-search-field">
            <div class=" input-group">
                <input type="text" class="search form-control" id='inquiry-type-search-keyword' placeholder="<?php echo $this->translate('Enter Inquiry Type') ?>"/>
                <span class="input-group-btn">
                    <button class="btn btn-default search_btn_css" type="submit"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default reset" type="reset"><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </form>
</div>

<!--paginate job type list add in here-->
<div id="inquiry-type-list" class="margin_top">
    <?php echo $this->partial('job-card/inquiry-type/list', array('inquiryTypeList' => $this->inquiryTypeList, 'paginated' => $this->paginated)); ?>
</div>