<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="35%"><?php echo $this->translate('Inquiry Type Code') ?></th>
                <th width="35%"><?php echo $this->translate('Inquiry Type Name') ?></th>
                <th width="10%" class="text-center" ><?php echo $this->translate('Edit') ?></th>
                <th width="10%" class="text-center" ><?php echo $this->translate('Active') ?></th>
                <th width="10%" class="text-center" ><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>

        <tbody>
            <?php
            foreach ($this->inquiryTypeList as $loo) {
                $loo = (object) $loo;
                ?>
                <tr data-inquirytypeid="<?php echo $loo->inquiryTypeID; ?>">
                    <td class="inquiry-type-code"><?php echo $loo->inquiryTypeCode; ?></td>
                    <td class="inquiry-type-name"><?php echo $loo->inquiryTypeName ?></td>
                    <td class="text-center">
                        <a href="#" class="edit">
                            <span class="fa fa-pencil-square-o custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="#" class="status">
                            <span class="<?php echo ($loo->inquiryTypeStatus == '1') ? 'fa fa-check-square-o' : 'fa fa-square-o '; ?> custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center" >
                        <a href="#" class="delete">
                            <span class="fa fa-trash-o custom_font_size"></span>
                        </a>
                    </td>
                </tr>
                <?php
            }
            if (count($this->inquiryTypeList) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div><!--table_responsive-->

<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->inquiryTypeList, 'sliding', array('partial/paginator.phtml', 'inquiryType'), array(
        'route' => 'inquiryType', 'action' => 'create'
            )
    );
}
?>
