<div id="create-creditnote-form-div">
    <div id="creditnote-list">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class=""><?php echo $this->translate('CreditNote ID') ?></th>
                    <th><?php echo $this->translate('Invoice ID') ?></th>
                    <th><?php echo $this->translate('Customer Name') ?></th>
                    <th><?php echo $this->translate('Invoice ID') ?></th>
                    <th class="text-center"><?php echo $this->translate('Issue Date') ?></th>
                    <th class="text-center"><?php echo $this->translate('State') ?></th>
                    <th class="text-right"><?php echo $this->translate('Total Amount') ?></th>
                    <th class="text-right"><?php echo $this->translate('View') ?></th>
                    <th class="text-right"><?php echo $this->translate('delete') ?></th>
                </tr>
            </thead>
            <tbody>
                <?php
                foreach ($this->creditNotes as $key => $cr_note) {
                    $state = $cr_note->state;
                    $style = NULL;
                    switch ($state) {
                        case "New":
                            $style = "label label-success";
                            break;
                        case "close":
                            $style = "label label-danger";
                    }
                    ?>
                    <tr>
                        <td class=""> <?php echo $cr_note->creditNoteID; ?></td>
                        <td> <?php echo $cr_note->invoiceID; ?></td>
                        <td> <?php echo $cr_note->customerName; ?></td>
                        <td> <?php echo $cr_note->invoiceID; ?></td>
                        <td class="text-center"><?php echo $cr_note->issuedDate; ?></td>
                        <td class="text-center"><span class="<?php echo $style; ?>"> <?php echo $cr_note->state; ?></span></td>
                        <td class="text-right"><?php echo number_format($cr_note->totalAmount, 2); ?></td>
                        <td class="text-right">
                            <a class="preview" data-toggle = "modal" href = "/return/view/<?php echo $cr_note->creditNoteID; ?>" id = "<?php echo $cr_note->creditNoteID ?>">
                                <span class = "glyphicon glyphicon-eye-open"></span></a>
                        </td>
                        <td class="text-right">
                            <a data-toggle = "modal" href = "#delete_creditnote" class = "delete" id = "<?php echo $cr_note->creditNoteID ?>">
                                <span class = "glyphicon glyphicon-trash"></span></a>
                        </td>
                    <?php } ?>
            </tbody>
        </table>
    </div>
</div>