<script type="text/javascript" src="/js/angular.min.js"></script>
<script type="text/javascript">

    function PreviewController($scope) {
        $scope.sub_total = "0.00";
        $scope.billTotal = "0.00";
        $scope.discount = "0.00";
        $scope.totalTax = "0.00";
        $scope.totalDiscount = 0;
        $scope.invoiceTotalDiscount = 0;
        $scope.saveAndPay = false;
        $scope.discountSum = 0;

        $scope.setTotalDiscount = function(products) {
            $scope.totalDiscount = 0;
            for (var i = 0; i < products.length; i++) {
                if (products[i].dAmo > 0) {
                    if (products[i].dType == 'precentage') {
                        $scope.totalDiscount += parseFloat((products[i].pR * products[i].dAmo) / 100) * products[i].qty;
                    } else {
                        $scope.totalDiscount += parseFloat(products[i].dAmo * products[i].qty);
                    }
                }
            }
            
        };

        window.updatePreview = function(data) {
            $scope.$apply(function() {
                $scope.sub_total = data.genaralData.subTotal;
                $scope.totalTax = data.genaralData.totalTax;
                $scope.billTotal = data.genaralData.finTotal;
                $scope.paidAmount = data.totalPayment;
                $scope.paymentBalance = data.genaralData.finTotal;
                $scope.discount = data.genaralData.discount;
                $scope.prList = data.genaralData.cart;
                $scope.promotion = data.promotion;
                $scope.allProduct = data.productDetails;
                $scope.promDiscount = data.totalInvPromDiscount;
                $scope.invDiscunt = data.totalInvDiscount;
                
                if(data.genaralData.discountSelect == 'val'){
                    var invTotalDisc = $scope.discount;
                }else{
                    var invTotalDisc = ($scope.sub_total) * $scope.discount / 100;
                }
                if(data.type == 'saveAndPay'){
                    $scope.saveAndPay = true;
                }else{
                    $scope.saveAndPay = false;
                }
                /* Total discount received:*/ 
                $scope.setTotalDiscount(data.genaralData.cart);
                $scope.discountSum = $scope.promDiscount + parseFloat($scope.totalDiscount);
                
                var docValues = {};
                docValues = {
                    creditNoteCode: (data.CNCode) ? data.CNCode : "",
                    userName :(data.userName) ? data.userName : "",
                    
                };
                dataFill(docValues);
            });
        };

        $scope.getSerialsAndWarranty = function(pid){
            var strLst = [];
             
            for(var sp in $scope.allProduct[pid]['products']){

                if($scope.allProduct[pid]['products'][sp]['selected'] == 1){
                     /* Do not check for batch code, because batch code doesn't want to print. */
                    var code = $scope.allProduct[pid]['products'][sp]['PSC'];
                    var str = '';

                    /* Convert warraynty days in to readable format */
                    var warrDisplayVals = [['year', 360], ['month', '30'], ['day', 1]];
                    var wrDays = $scope.allProduct[pid]['products'][sp]['warranty'];
                    var warranty = '';

                    for(i in warrDisplayVals){
                        var amount =  Math.floor(wrDays/warrDisplayVals[i][1]);
                        if(amount){
                            warranty += amount + " " + warrDisplayVals[i][0] + ( amount > 1 ? "s " : " " );
                            wrDays -= amount * warrDisplayVals[i][1];
                        }
                    }

                    var record = [];
                    if(code){
                        record.push("Serial No: " + code);
                    }
                    if(warranty){
                        record.push("Warranty: " + warranty);
                    }

                    if(record.length){
                        strLst.push(record.join(', '));
                    } 
                }
              
            }
            return strLst;
        }
    }


    function dataFill(data){

        var docUpdated = false;
        for(var id in data){
            var ele = document.getElementById(id);
            if(ele){
                ele.innerHTML = data[id];
                docUpdated = true;
            }
        }

        if(!docUpdated){
            var abbr = document.getElementsByTagName("abbr");
            var placeHolder = Array(
                    ["[creditNoteCode]", "creditNoteCode"],
                    ["[salesInvoiceIssuedDate]", "salesInvoiceIssuedDate"],
                    ["[current_time]", "current_time"],
                    ["[User Name]","userName"]
            );

            for(var i = 0; i < abbr.length; i++){
                for(var row in placeHolder){
                    if (abbr[i].textContent == placeHolder[row][0]) {
                        abbr[i].setAttribute('id', placeHolder[row][1]);
                    }
                }
            }
        dataFill(data);
        }


    }

</script>

<div class="data_table" ng-app ng-controller="PreviewController">
    <?php
    $i = 1;
    ?>
    <table  width="100%" class="product-list">
        <tr>
            <td colspan="2">
                <div class="qout_body" style="padding-top: 9px;">
                    <table width="100%" class="table bigtable" id="item_tbl">
                        <thead class="top">
                            <tr>
                                <th>&nbsp;</th>
                                <th align="left" colspan="4"><?php echo $this->translate('Item Code / Name') ?></th>
                            </tr>
                        </thead>
                        <thead class="bottom">
                            <tr>
                                <th align="left"><?php echo $this->translate('Qty') ?></th>
                                <th class="text-right"><?php echo $this->translate('Price') ?></th>
                                <th class="text-right"><?php echo $this->translate('Total Discount') ?></th>
                                <th class="text-right"><?php echo $this->translate('Amount') ?></th>
                            </tr>
                        </thead>
                        <tbody>
                          
                                <tr class="top" ng-repeat-start = "i in prList" >
                                    <td colspan="4">{{i.pC}}&nbsp;-&nbsp;{{i.pN}}</td>

                                </tr>
                                <tr>
                                    <td class="text-left">{{i.qty}}&nbsp;{{i.pUom}}</td>
                                    <td class="text-right">{{i.pR| currency:''}}</td>
                                    <td class="text-right">{{i.dType == "precentage" ? ((i.pR * i.dAmo) / 100) * i.qty : i.dAmo * i.qty | currency : ''}}</td>
                                    <td class="text-right">{{i.pTotal| currency:''}}</td>
                                </tr>
                                <tr class="bottom" ng-repeat-end>
                                    <td colspan="2">
                                        <div ng-repeat = 'row in getSerialsAndWarranty(i.pID) track by $index' >
                                            {{row}}<br/>
                                        </div>
                                            
                                    </td>
                                </tr>
                               
                            
                        </tbody>
                    </table>
                    <div class="summary">
                        <table width="100%" class="table">
                            <tr>
                                <th colspan="5" align="left" class="text-left"><br /><?php echo $this->translate("Item Sub Total"); ?></th>
                                <th class="text-right"><br /><?php echo $currencySymbol . '{{sub_total | currency : \'\'}}'; ?></th>
                            </tr>
                            <tr ng-if="totalTax > 0.00">
                                    <th colspan="5" align="left" class="text-left" style="border: none;"><?php echo $this->translate("Tax"); ?></th>
                                    <th class="text-right" style="border: none;"><?php echo $currencySymbol . '{{totalTax | currency : \'\'}}'; ?></th>
                            </tr>
                        
                            <tr ng-if="invDiscunt > 0.00">
                                    <th colspan="5" align="left" class="text-left" style="border: none;"><?php echo $this->translate("Invoice Discount"); ?></th>
                                    <th class="text-right" style="border: none;"><?php echo $currencySymbol . '{{invDiscunt | currency : \'\'}}'; ?></th>
                            </tr>
                       
                            <tr ng-if="promDiscount > 0.00" >
                                <th colspan="5" align="left" class="text-left" style="border: none;">
                                    <?php echo $this->translate("Promotion Discount"); ?>
                                </th>
                                <th class="text-right" style="border: none;">
                                    <?php echo $currencySymbol . '{{promDiscount | currency : \'\'}}'; ?>
                                </th>
                            </tr>
                                                
                            <tr class="total">
                                <td colspan="5"><h3><?php echo $this->translate('Credit Note Total') ?></h3></td>
                                <td class="text-right"><strong><h3><?php echo $currencySymbol . '{{billTotal | currency : \'\'}}'; ?></h3></strong></td>
                              
                            </tr>
                            <tr ng-if="saveAndPay" class="payAndSave">
                                <td colspan="7"><h3><?php echo $this->translate('Already Payed Credit Note ') ?></h3></td>
                            </tr>
                                
                        </table>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
<br />
