<div id="recurrent_invoice-list">
	<div class="table table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class=""><?php echo $this->translate('Sales Order No') ?></th>
                <th class=""><?php echo $this->translate('Name') ?></th>
                <th class=""><?php echo $this->translate('Repeat') ?></th>
                <th class=""><?php echo $this->translate('State') ?></th>
                <th class=""><?php echo $this->translate('Start Date') ?></th>
                <th class=""><?php echo $this->translate('End Date') ?></th>
                <th class=""><?php echo $this->translate('Next Date') ?></th>
                <?php
                if (is_array($_SESSION['ezBizUser']['featureNames'])) {
                    if (in_array("EditRecurrentSalesOrder", $_SESSION['ezBizUser']['featureNames'])) {
                        ?>
                        <th class="text-center"><?php echo $this->translate('Edit') ?></th>
                        <?php
                    }
                }
                if (is_array($_SESSION['ezBizUser']['featureNames'])) {
                    if (in_array("CancelRecurrentSalesOrder", $_SESSION['ezBizUser']['featureNames'])) {
                        ?>
                        <th class="text-center"><?php echo $this->translate('Cancel') ?></th>
                        <?php
                    }
                }
                ?>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->recurrentSalesOrder as $key => $salesOrder) {
                $state = $salesOrder->statusID;
                $style = NULL;
                switch ($state) {
                    case "Active":
                        $style = "label label-success";
                        break;
                    case "Close":
                        $style = "label label-danger";
                }
                ?>
                <tr>
                    <td class=""> <?php echo $salesOrder->id; ?></td>
                    <td class=""> <?php echo $salesOrder->name; ?></td>
                    <td class=""> <?php echo $salesOrder->timeValue . " " . $salesOrder->timeFormat; ?></td>
                    <td class=""><span class="<?php echo $style; ?>"> <?php echo $salesOrder->statusID; ?></span></td>
                    <td class=""> <?php echo $salesOrder->startDate ?></td>
                    <td class=""> <?php echo $salesOrder->endDate ?></td>
                    <td class=""> <?php echo $salesOrder->nextDate ?></td>
                    <?php
                    if (is_array($_SESSION['ezBizUser']['featureNames'])) {
                        if (in_array("EditRecurrentSalesOrder", $_SESSION['ezBizUser']['featureNames'])) {
                            ?>
                            <td class="text-center">
                                <a><span  id="<?php echo $salesOrder->id; ?>" class="glyphicon glyphicon-edit openlist"></span></a>
                            </td>
                            <?php
                        }
                    }
                    if (is_array($_SESSION['ezBizUser']['featureNames'])) {
                        if (in_array("CancelRecurrentSalesOrder", $_SESSION['ezBizUser']['featureNames'])) {
                            if ($salesOrder->statusID == 'Active') {
                                ?>
                                <td class="text-center">
                                    <a><span data-toggle="modal" href = "#delete_invoice" id="<?php echo $salesOrder->id; ?>" class="glyphicon glyphicon-remove-sign cancel"></span></a>
                                </td>
                            <?php } else { ?>
                                <td class="text-center"></td>
                                <?php
                            }
                        }
                    }
                }
                ?>
        </tbody>
    </table>
	</div><!--table-->
    <?php
    echo $this->paginationControl(
            $this->recurrentSalesOrder, 'sliding', array('partial/paginator.phtml', 'salesOrders'), array(
        'route' => 'salesOrders', 'action' => 'recurentSalesOrderView'
            )
    );
    ?>
</div>
