<div id="invoice-list">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class=""><?php echo $this->translate('Sales Order No') ?></th>
                <th class=""><?php echo $this->translate('Customer Name') ?></th>
                <th class=""><?php echo $this->translate('Issued Date') ?></th>
                <th class=""><?php echo $this->translate('Due Date') ?></th>
                <th class="text-center"><?php echo $this->translate('State') ?></th>
                <th class="text-right"><?php echo $this->translate('Total Amount') ?></th>
                <th class="text-right"><?php echo $this->translate('Print View') ?></th>
                <th class="text-right"><?php echo $this->translate('Edit') ?></th>
                <th class="text-right"><?php echo $this->translate('Related Documents') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->salesOrders as $key => $salesOrder) {
                $salesOrder = (object) $salesOrder;
                if ($salesOrder->salesOrdersCustomCurrencyRate == 0) {
                    $currencyRate = 1;
                } else {
                    $currencyRate = $salesOrder->salesOrdersCustomCurrencyRate;
                }
                if (isset($salesOrder->currencySymbol)) {
                    $currencySymbol = $salesOrder->currencySymbol;
                } else {
                    $currencySymbol = $this->companyCurrencySymbol;
                }
                $status = $salesOrder->statusID;
                $state = ucfirst($this->statuses[$status]);
                $style = NULL;
                switch ($status) {
                    case "1":
                        $style = "label label-primary";
                        break;
                    case "2":
                        $style = "label label-default";
                        break;
                    case "3":
                        $style = "label label-success";
                        break;
                    case "4":
                        $style = "label label-warning";
                        break;
                    case "5":
                        $style = "label label-primary";
                        break;
                    case "6":
                        $state = 'Open';
                        $style = "label label-danger";
                        break;
                    default :
                        $style = "label label-default";
                }
                ?>
                <tr>
                    <td class=""> <?php echo $salesOrder->soCode; ?></td>
                    <td class=""> <?php echo $salesOrder->customerName . " - " . $salesOrder->customerCode; ?></td>
                    <td class=""> <?php echo $this->userDateFormatHelper($salesOrder->issuedDate, $this->userdateFormat); ?></td>
                    <td class=""> <?php
                        echo $this->userDateFormatHelper($salesOrder->expireDate, $this->userdateFormat);
                        ;
                        ?></td>
                    <td class="text-center"><span class="<?php echo $style; ?>"> <?php echo $state; ?></span></td>
                    <td class="text-right"> <?php echo $currencySymbol . ' ' . number_format($salesOrder->totalAmount / $currencyRate, 2); ?></td>
                    <td class="text-right">
                        <span class="preview link_color" style="cursor:pointer" data-href="<?php echo $this->url('salesOrders', array('action' => 'salesOrdersView', 'param1' => $salesOrder->soID)); ?>">
                            <span  id="<?php echo $salesOrder->soID; ?>" class="glyphicon glyphicon-eye-open openlist"></span>
                        </span>
                    </td>
                    <td class="text-right">
                        <?php if($salesOrder->customerStatus == 1) { ?>
                        <a href="<?php echo $this->url('salesOrders', array('action' => 'edit', 'param1' => $salesOrder->soID)); ?>">
                            <span id="<?php echo $salesOrder->soID; ?>" class="glyphicon glyphicon-edit openlist"></span>
                        </a>
                        <?php } else { ?>
                             <a href="#" class = 'editsInactive'>
                            <span id="<?php echo $salesOrder->soID; ?>" class="glyphicon glyphicon-edit openlist"></span>
                        </a>
                            <?php } ?>
                    </td>
                    <td class="text-center">
                        <span id="<?php echo $salesOrder->soID; ?>" class="link_color so_related_docs" data-so-related-id="<?php echo $salesOrder->soID; ?>" style="cursor:pointer"><span class="grnView glyphicon glyphicon-link"></span></span>
                    </td>
                    <?php
                }
                if (count($this->salesOrders) == 0) {
                    ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div>
