<div class="table table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('Customer Name'); ?></th>
                <th><?php echo $this->translate('Cheque Reference'); ?></th>
                <th><?php echo $this->translate('Cheque Amount'); ?></th>
                <th><?php echo $this->translate('Bank'); ?></th>
                <th><?php echo $this->translate('Date'); ?></th>
                <th class="text-center"><?php echo $this->translate('Remove'); ?></th>
                <th class="text-center"><?php echo $this->translate('Add'); ?></th>
            </tr>
        </thead>

        <tbody>
            <?php
            foreach ($cheques as $cheque) {
                $chequeAmount = $cheque['incomingPaymentMethodAmount'] / $cheque['incomingPaymentCustomCurrencyRate'];
                ?>
            <tr class="cheque-tr" data-amount="<?php echo $chequeAmount; ?>" data-incoming-payment-method-cheque-id="<?php echo $cheque['incomingPaymentMethodChequeId']; ?>" data-refno="<?php echo $cheque['incomingPaymentMethodChequeNumber']; ?>">
                    <td><?php echo $cheque['customerName']; ?></td>
                    <td><?php echo $cheque['incomingPaymentMethodChequeNumber']; ?></td>
                    <td><?php echo $cheque['currencySymbol'].' '.number_format($chequeAmount, 2); ?></td>
                    <td><?php echo $cheque['incomingPaymentMethodChequeBankName']; ?></td>
                    <td><?php echo $cheque['incomingPaymentDate']; ?></td>
                    <td class="text-center">
                        <button class="btn btn-default fa fa-trash-o cheque-deposit" data-action="cheque-remove"></button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-default fa fa-undo cheque-deposit" data-action="cheque-undo" disabled></button>
                    </td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div>