<div class="table table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('Account Number'); ?></th>
                <th><?php echo $this->translate('Account Name'); ?></th>
                <th><?php echo $this->translate('Bank'); ?></th>
                <th><?php echo $this->translate('Amount'); ?></th>
                <th><?php echo $this->translate('Date'); ?></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <?php
            foreach ($deposits as $deposit) {
                ?>
                <tr data-cheque-deposit-id="<?php echo $deposit->chequeDepositId; ?>" data-account-name="<?php echo $deposit->accountName ?>" data-currency-symbol="<?php echo $deposit->currencySymbol; ?>">
                    <td><?php echo $deposit->accountNumber; ?></td>
                    <td><?php echo $deposit->accountName; ?></td>
                    <td><?php echo $deposit->bankName; ?></td>
                    <td><?php echo $deposit->chequeDepositAmount; ?></td>
                    <td><?php echo $deposit->chequeDepositDate; ?></td>
                    <td><a href="#" class="fa fa-eye custom_font_size deposit-view"></a>&nbsp;&nbsp;&nbsp;<a href="#" class="fa fa-ban custom_font_size deposit-cancel"></a></td>
                </tr>
                <?php
            }
            if (count($deposits) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div>
<?php
echo $this->paginationControl(
        $deposits, 'sliding', array('partial/paginator.phtml', 'bank'), array('route' => 'cheque-deposit', 'action' => 'deposits')
);
?>