<div class="table table-responsive"  style="overflow-y: scroll; height: 275px">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('Customer Name'); ?></th>
                <th><?php echo $this->translate('Cheque Reference'); ?></th>
                <th><?php echo $this->translate('Cheque Amount'); ?></th>
                <th><?php echo $this->translate('Bank'); ?></th>
                <th><?php echo $this->translate('Date'); ?></th>
                <th><input type="checkbox" id="allChequesBox"></th>
            </tr>
        </thead>

        <tbody>
            <?php
            foreach ($cheques as $cheque) {
                //currency rate
                $currencyRate = ($cheque['incomingPaymentCustomCurrencyRate'] == 0) ? 1 : $cheque['incomingPaymentCustomCurrencyRate'];
                //currency symbol
                $currencySymbol = (isset($cheque['currencySymbol'])) ? $cheque['currencySymbol'] : $this->companyCurrencySymbol;
                //amount
                $paymentAmount = $cheque['incomingPaymentMethodAmount'] / $currencyRate;
                ?>
                <tr data-incoming-payment-method-cheque-id="<?php echo $cheque['incomingPaymentMethodChequeId']; ?>" data-amount="<?php echo $paymentAmount; ?>" data-currency-id="<?php echo $cheque['currencyID']; ?>">
                    <td><?php echo $cheque['customerName']; ?></td>
                    <td><?php echo $cheque['incomingPaymentMethodChequeNumber']; ?></td>
                    <td><?php echo $currencySymbol . " " .number_format($paymentAmount, 2); ?></td>
                    <td><?php echo $cheque['incomingPaymentMethodChequeBankName']; ?></td>
                    <td>
                        <?php
                        echo is_null($cheque['postdatedChequeDate']) ? $cheque['incomingPaymentDate'] : $cheque['postdatedChequeDate'];
                        ?>
                    </td>
                    <th><input type="checkbox" class="cheque-box"></th>
                </tr>
            <?php
            }
            if (count($cheques) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div>