<div class="margin_top">
    <input type="text"  class="hidden" id="mode" data-projectid="<?php echo $this->projectId ?>" value="<?php echo $this->mode ?>" >
     <div class="row">
        <div class="margin_top_normal">
            <div class="col-lg-5 col-md-5 col-sm-5">
                <div class="form-group">
                    <label for="projectCode" class="col-lg-5 control-label"><?php echo $this->translate('Project Code') ?><span class="_required">*</span>
                    </label>
                    <div class="col-lg-7">
                        <input type="text"  autofocus="true" class="form-control" disabled="disabled" id="projectCode" value="<?php echo $this->projectCode ?>">
                    </div>
                </div>
                <label>&nbsp;</label>
                <div class="form-group">
                    <label for="projectTypes" class="col-lg-5 _remove_bold"><?php echo $this->translate('Project Type') ?><span class="_required">*</span></label>
                    <div class="col-lg-7">
                        <select class="form-control selectpicker show-tick" id="projectTypes" name="proTypes" data-live-search="true" data-size="6" title="Select Project Type">
                            <option value="0"><?php echo $this->translate('Select Project Type') ?></option>
                            <?php
                            foreach ($this->projectTypes as $projectType) :
                                echo '<option value="' . $projectType['projectTypeID'] . '">' . $projectType['projectTypeName'].' - '. $projectType['projectTypeCode']. '</option>';
                            endforeach;
                            ?>
                        </select>
                    </div>
                </div>
                <label>&nbsp;</label>
                <div class="form-group">
                    <label for="projectAddress" class="col-lg-5 _remove_bold"><?php echo $this->translate('Project Address') ?></label>
                    <div class="col-lg-7">
                        <input type="text" autofocus="true" class="form-control" id="projectAddress">
                    </div>
                </div>
                <label>&nbsp;</label>
                <div class="form-group">
                    <label for="employeeEmail" class="col-lg-5 _remove_bold"><?php echo $this->translate('Due Date') ?></label>
                    <div class="col-lg-7">
                        <input type="text" class="datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="dueDate" data-date-format="<?php echo $this->dateFormat ?>" placeholder="<?php echo $this->dateFormat ?>">
                    </div>
                </div>
                <label>&nbsp;</label>
                <div class="form-group">
                    <label for="description" class="col-lg-5 _remove_bold"><?php echo $this->translate('Description') ?></label>
                    <div class="col-lg-7">
                        <textarea class="form-control" rows="4" id="description"></textarea>
                    </div>
                </div>
                <label>&nbsp;</label>
                <?php 
                    if ($this->mode != 'create') {
                 ?>
                <div class="form-group">
                    <div class="col-lg-6">
                        <a data-toggle="modal" id="projectMaterials"  class="btn btn-success form-control"><?php echo $this->translate('Project Materials') ?></a>
                    </div>                          
                </div>
                <?php } ?>
                <br><br>
            </div><!--./col-->
        </div><!--margin_top-->


        <div class="col-lg-5 col-md-5 col-sm-5 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
            <div class="form-group">
                <label for="projectName" class="col-lg-5 control-label"><?php echo $this->translate('Project Name') ?><span class="_required">*</span></label>
                <div class="col-lg-7">
                    <input type="text" placeholder="Eg: SLT Power Project" autofocus="true" class="form-control" id="projectName">
                </div>
            </div>
            <label>&nbsp;</label>
            <div class="form-group">
                <label for="customer" class="col-lg-5 _remove_bold"><?php echo $this->translate('Select Customer') ?><span class="_required">*</span></label>
                <div class="col-lg-7">
                    <div class="input-group">
                        <select class="form-control selectpicker show-tick" id="customer" name="customer" data-live-search="true" title="Select Customer">
                            <option value="0"><?php echo $this->translate('Select Customer') ?></option>
                        </select>
                        <a data-toggle="modal" id="addCustomerBtn" href="#addCustomerModal" class="input-group-addon btn-default" dis><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <label>&nbsp;</label>
            <div class="form-group">
                <label for="noOfJobs" class="col-lg-5 _remove_bold"><?php echo $this->translate('No.Of.Jobs') ?></label>
                <div class="col-lg-7">
                    <input type="text" autofocus="true" class="form-control" disabled="disabled" id="noOfJobs">
                </div>
            </div>
            <label>&nbsp;</label>
            <div class="form-group">
                <label for="projectValue" class="col-lg-5 _remove_bold"><?php echo $this->translate('Project Value') ?></label>
                <div class="col-lg-7">
                    <div class="input-group">
                        <input type="text" autofocus="true" class="form-control" id="projectValue">
                        <span class="input-group-addon"><?php echo $this->currency; ?></span>
                    </div>
                </div>
            </div>
            <label>&nbsp;</label>
            <div class="form-group">
                <label for="projectEstimatedCost" class="col-lg-5 _remove_bold"><?php echo $this->translate('Project Estimated Cost') ?></label>
                <div class="col-lg-7">
                    <div class="input-group">
                        <input type="text" autofocus="true" class="form-control" disabled="disabled" id="projectEstimatedCost">
                        <span class="input-group-addon"><?php echo $this->currency; ?></span>
                    </div>
                </div>
            </div>
            <label>&nbsp;</label>
            <div class="form-group" id="estimateEndDateDiv">
                <label for="estimatedEndDate" class="col-lg-5 _remove_bold"><?php echo $this->translate('Estimated End Date') ?></label>
                <div class="col-lg-7">
                    <input type="text" class="datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="estimatedEndDate" data-date-format="<?php echo $this->dateFormat ?>" placeholder="<?php echo $this->dateFormat ?>" >
                </div>
            </div>
            <label>&nbsp;</label>
            <div class="form-group" id="estimateEndDateDiv">
                <div class="col-lg-6">
                    <a data-toggle="modal" id="projectManager"  class="form-control btn btn-success"><?php echo $this->translate(' Project Manager') ?></a>
                </div>
                <div class="col-lg-6">
                    <a data-toggle="modal" id="projectSupervisor" class="form-control btn btn-success"><?php echo $this->translate('Project Supervisor') ?></a>
                </div>
            </div>
        </div><!--./col-->
    </div><!--margin_top-->
    <hr>
    <div class="row">
        <div class="col-lg-8 col-md-4 col-sm-4"></div>
        <div class="col-lg-4 addDiv">
            <div class="text-right">
                <button type="button" class="btn btn-default update" id="btnAdd"><?php echo $this->translate('Save Project') ?></button>
                <button type="button" class="btn btn-primary" id="saveAndCreateJob"><?php echo $this->translate('Save & Add Job') ?></button>
            </div>
        </div>
        <div class="col-lg-4 updateDiv hidden">
            <div class="text-right">
                <button type="button" class="btn btn-primary update" id="btnUpdate"><?php echo $this->translate('Update Project') ?></button>
                <button type="button" class="btn btn-default" id="editbtnBack"><?php echo $this->translate('Back') ?></button>
            </div>
        </div>
    </div>
    <br>
    <?php 
        if ($this->mode != 'create') {
     ?>
    <div class="row">
        <div  id="showProjectJobs" class="panel panel-default link col-lg-12">
            <div class="panel-body">
                <h4 class="panel-title">
                    <a href="#" onclick="return false;">
                        <span id="showJobLabel"><?php echo $this->translate('Show Related Jobs') ?></span>
                        <span class="hidden" id="hideJobLabel"><?php echo $this->translate('Hide Related Jobs') ?></span>
                        <span class="glyphicon glyphicon-chevron-down pull-right" id="downIcon"></span>
                        <span class="glyphicon glyphicon-chevron-up pull-right hidden" id ="upIcon"></span>
                    </a>
                </h4>
            </div>
        </div>
    </div>
    <div class="row hidden" id="jobsTable">
        <h4><?php echo $this->translate('Related Job List') ?></h4>
        <div class="margin_top_normal">
            <div class="table table-responsive">
                <table class="table table-striped" style="margin-bottom: 50px;">
                    <thead>
                        <tr>
                            <th><?php echo $this->translate("Job Code"); ?></th>
                            <th><?php echo $this->translate("Job Name"); ?></th>
                            <th><?php echo $this->translate("Job Type"); ?></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php
                        foreach ($projectJobs as $projectJob) {
                            ?>
                            <tr data-job-id="<?php echo $projectJob['jobId']; ?>">
                                <td><?php echo $projectJob['jobReferenceNumber']; ?></td>
                                <td><?php echo $projectJob['jobName']?></td>
                                <td><?php echo $projectJob['jobTypeName']?></td>
                                <td class="text-right">
                                <?php if ($projectJob['jobStatus'] == 3) {?>
                                    <button class="undoDeleteProjectJobs btn btn-default disabled"><i class="fa fa-undo"></i></button>
                                    <button class="deleteProjectJobs btn btn-default"><i class='glyphicon glyphicon-trash' id=''></i></button>
                                <?php } ?>
                                </td>
                            </tr>
                        <?php } 
                        if (count($projectJobs) == 0) {
                            ?>
                            <tr class="not_found">
                                <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                            </tr>
                            <?php
                        }
                        ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <?php if ($this->mode == 'view') { ?>
    <label>&nbsp;</label>
    <div class="_row_with_margin clearfix">
        <div class="col-lg-12">
            <div class="text-right">
                <a  style="width: 100px;" id="btnBack" class="btn btn-primary"><?php echo $this->translate('Back') ?></a>
            </div>
        </div>
    </div>
    <?php 
        }
    }
    ?>

</div><!--project_form_container-->


<div class="modal fade" id="addCustomerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->customerAddView; ?>
</div>

<div class="modal fade" id="addProjectManagerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->projectManagerAddView; ?>
</div>

<div class="modal fade" id="addProjectSupervisorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->projectSupervisorAddView; ?>
</div>

<div class="modal fade" id="addProjectMaterialsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->projectMaterialAddView; ?>
</div>