<?php 
$wizardType = $this->wizardType;
$userData = $this->users;
$userRoleSetting = $this->userRoleSetting;
?>
<input type="hidden" id="wizardStatus" value="<?php echo $wizardType ?>">
<form class="form-horizontal" id="genaralSettingForm">
    <div class="margin_top">
        <div class="row">
            <div  id="showMaintainContractorAndProjects" class="panel panel-default link col-lg-12">
                <div class="panel-body">
                    <h4 class="panel-title">
                        <a href="#" onclick="return false;">
                            <?php echo $this->translate('Maintain Contractors and Projects') ?>
                            <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                        </a>
                    </h4>
                </div>
            </div>
        </div>

        <div id="contractorAndProject">
            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-8 col-xs-10 control-label"><?php echo $this->translate('Maintain Projects') ?></label>
                <div class="col-lg-5 col-md-8">
                    <input type="checkbox" id="maintainProjectFlag">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-8 col-xs-10 control-label"><?php echo $this->translate('Assign contractor for jobs') ?></label>
                <div class="col-lg-5 col-md-8">
                    <input type="checkbox" id="assignForJobsFlag">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-8 col-xs-10 control-label"><?php echo $this->translate('Assign contractor for tasks') ?></label>
                <div class="col-lg-5 col-md-8">
                    <input type="checkbox" id="assignForTasksFlag">
                </div>
            </div>
        </div>
        
        <div class="row">
            <div  id="showResourceTypes" class="panel panel-default link col-lg-12">
                <div class="panel-body">
                    <h4 class="panel-title">
                        <a href="#" onclick="return false;">
                            <?php echo $this->translate('Set Resources Types') ?>
                            <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                        </a>
                    </h4>
                </div>
            </div>
        </div>

        <div id="resourceTypes">
            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-8 col-xs-10 control-label"><?php echo $this->translate('Items(Finished Goods)') ?></label>
                <div class="col-lg-9">
                    <input type="checkbox" id="finishedGoodsFlag" disabled="true">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-8 col-xs-10 control-label"><?php echo $this->translate('Raw Materials') ?></label>
                <div class="col-lg-9">
                    <input type="checkbox" id="rawMaterialsFlag">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-8 col-xs-10 control-label"><?php echo $this->translate('Fixed Assets') ?></label>
                <div class="col-lg-9">
                    <input type="checkbox" id="fixedAssetsFlag">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-8 col-xs-10 control-label"><?php echo $this->translate('Vehicles') ?></label>
                <div class="col-lg-9">
                    <input type="checkbox" id="vehiclesFlag">
                </div>
            </div>
        </div>
        <div class="form-group margin_bottom">
            <div class="col-lg-9 col-lg-offset-3 text-right">
                <input type="submit" class="btn btn-primary" value="<?php echo $this->translate('Save') ?>">
            </div>
        </div>
    </div>
</form>