<div class="well well_heading margin_top">
    <h5 class="font_weight add"><?php echo $this->translate('Search a Project') ?></h5>
</div>
<div class="well clearfix well_body">
    <div class="row">
        <div class="col-lg-12 xs-search-field">
            <div class=" input-group">
                <input type="text" class="form-control" id="projectSearch" placeholder="<?php echo $this->translate('Enter project Name,Code or customer Name') ?>">
                <span class="input-group-btn">
                    <button class="btn btn-default" id="searchProjectBtn"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default" id="resetSearch" ><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="search_field col-lg-4">
            <select class='form-control selectpicker' data-actions-box="false" data-live-search="false" name="projectMgrSearch" id="projectManagerSearch" title="Select a Project Manager" data-selected-text-format="count>3" data-size="5">
                <option value="0"><?php echo $this->translate('Select Project Manager') ?></option>
                <?php
                foreach ($this->projectManagers as $projectManager):
                    $projectManager = (object) $projectManager;
                    echo '<option value="' . $projectManager->employeeID . '">' . $projectManager->employeeCode.' - '. $projectManager->employeeFirstName .' '.$projectManager->employeeSecondName. '</option>';
                endforeach;
                ?>
            </select>
        </div>
        <div class="col-lg-4">
            <select class='form-control selectpicker' data-actions-box="false" data-live-search="false" name="proTypeSearch" id="projectTypeSearch" title="Select Project Type" data-selected-text-format="count>3" data-size="5">
                <option value="0"><?php echo $this->translate('Select Project Type') ?></option>
                <?php
                foreach ($this->projectTypes as $projectType) :
                    echo '<option value="' . $projectType['projectTypeID'] . '">' . $projectType['projectTypeName'].' - '. $projectType['projectTypeCode']. '</option>';
                endforeach;
                ?>
            </select>
        </div>
        <div class="col-lg-4">
            <select class='form-control selectpicker' data-actions-box="false" data-live-search="false" name="proStateSearch" id="projectStatusSearch" title="Select Status" data-selected-text-format="count>3" data-size="6">
                <option value="0"><?php echo $this->translate('Select Status') ?></option>
                <option value="3">Open</option>
                <option value="8">In Progress</option>
                <option value="9">Completed</option>
                <option value="5">Cancelled</option>
                <option value="4">Closed</option>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div id="projectList" class="margin_top_normal">
        <div class="table table-responsive">
            <?php echo $this->projectList; ?>
        </div>
    </div>
</div>

<!-- Project Manager View Modal -->
<div class="modal fade bs-example-modal-sm" id="projectManagerViewModal" tabindex="-1" role="dialog" aria-labelledby="projectManagerViewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="projectManagerViewModalLabel"><?php echo $this->translate('Project Managers') ?></h4>
            </div>
            <div class="modal-body projetManagerViewModalBody"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>
