<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
            <h4><?php echo $this->translate('Add Project Manager') ?></h4>
        </div>

        <div class="modal-body" id="addPmBody">
            <div class="col-lg-12 margin_top" id="projectMgrAddTable">
                <div class="table table-responsive modaltable">
                    <table class="task-card-product-table table table-striped margin_top_normal table-condensed" id="taskCardTaskProductTable">
                        <thead>
                            <tr>
                                <th class="" style="width: 90%"><?php echo $this->translate("Project Manager"); ?></th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody id="formRow">
                            <tr id='preSample' class="hidden">
                                <td>
                                    <input disabled name="projectManagerNameCode" type="text" class="form-control" />
                                </td>
                                <td class="text-right"><button class="deleteProjectManager btn btn-default"><i class='glyphicon glyphicon-trash deletePro' id=''></i></button></td>
                            </tr>
                        </tbody>

                        <tbody id="addNewProjectManagerRow">
                            <tr><!--item_insert-->
                                <td>
                                    <select class='form-control selectpicker' data-actions-box="false" data-live-search="false" name="projectManagersDropdown" id="projectMgr" title="Select Project Manager" data-selected-text-format="count>3" data-size="5">
                                        <option value="0"><?php echo $this->translate('Select Project Manager') ?></option>
                                        <?php
                                        foreach ($this->projectManagers as $projectManager):
                                            $projectManager = (object) $projectManager;
                                            echo '<option value="' . $projectManager->employeeID . '">' . $projectManager->employeeCode.' - '. $projectManager->employeeFirstName .' '.$projectManager->employeeSecondName. '</option>';
                                        endforeach;
                                        ?>
                                    </select>
                                </td>
                                
                                <td class="text-right"><strong class="btn btn-default" id="add_project_manager"><i class="glyphicon glyphicon-plus"></i></strong></td>
                            </tr>

                            <tr>
                                <td colspan="7">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>

                </div><!--table_responsive-->
            </div><!--./col-->
        </div>
        <div class="modal-body hidden" id="viewPmBody">
            <div class="col-lg-12 margin_top" id="projectMgrViewTable">
                <div class="table table-responsive modaltable">
                    <table class="table table-striped margin_top_normal table-condensed" id="taskCardTaskProductTable">
                        <thead>
                            <tr>
                                <th class="" style="width: 90%"><?php echo $this->translate("Project Managers"); ?></th>
                            </tr>
                        </thead>                        

                        <tbody id="viewNewProjectManagerRow">
                            <tr id='pmRow' class="hidden">
                                <td id="pmName">
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div><!--table_responsive-->
            </div><!--./col-->
        </div>

        <div class="modal-footer modal-footer-style">
            <div class="col-lg-12 addProjectManager">
                <div class="text-right">
                    <button type="button" class="btn btn-primary" id="btnAddProjectManager"><?php echo $this->translate('Add Project Manager') ?></button>
                    <button type="button" class="btn btn-danger" id="btnPmModalClose"><?php echo $this->translate('Close') ?></button>
                    <button type="button" class="btn btn-danger hidden" data-dismiss="modal" id="btnViewPmClose"><?php echo $this->translate('Close') ?></button>
                </div>
            </div>
        </div>
    </div>
</div>