<div class="panel panel-default small_panel_heading">
    <div class="panel-heading">
        <h5 class="font_weight"><?php echo $this->translate("Project Managers"); ?></h5>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped" style="margin-bottom: 50px;">
                <thead>
                    <tr>
                        <th><?php echo $this->translate("Employee Code"); ?></th>
                        <th><?php echo $this->translate("Employee Name"); ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php
                    foreach ($projectManagers as $projectManager) {
                        ?>
                        <tr>
                            <td><?php echo $projectManager['employeeCode']; ?></td>
                            <td><?php echo $projectManager['employeeFirstName'].' '.$projectManager['employeeSecondName']; ?></td>
                        </tr>
                    <?php } 
                    if (count($projectManagers) == 0) {
                        ?>
                        <tr class="not_found">
                            <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                        </tr>
                        <?php
                    }
                    ?>
                </tbody>
            </table>
        </div>

    </div><!--panel_body-->
</div><!--panel_default-->