<div id="project-list">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class=""><?php echo $this->translate('Project Code') ?></th>
                <th class=""><?php echo $this->translate('Project Name') ?></th>
                <th class=""><?php echo $this->translate('Project Type') ?></th>
                <th class=""><?php echo $this->translate('Customer Name') ?></th>
                <th class=""><?php echo $this->translate('Project Address') ?></th>
                <th class=""><?php echo $this->translate('Project Manager') ?></th>
                <th class=""><?php echo $this->translate('Due Date') ?></th>
                <th class=""><?php echo $this->translate('Edit') ?></th>
                <th class=""><?php echo $this->translate('View') ?></th>
                <th class=""><?php echo $this->translate('Status') ?></th>
                <th class=""><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->project_list as  $key =>$project) {
                $project['projectEndAt'] = explode(" ", $project->projectEndAt)[0];
                $project = (object) $project;
                $status = $project->projectStatus;
                $state = ucfirst($this->status[$status]);

                $style = NULL;
                switch ($status) {
                    case "3":
                        $style = "label label-success";
                        break;
                    case "8":
                        $style = "label label-primary";
                        break;
                    case "9":
                        $style = "label label-info";
                        break;
                    case "4":
                        $style = "label label-danger";
                        break;
                    default :
                        $style = "label label-default";

                }
                ?>
                <tr data-project-id="<?php echo $project->projectId; ?>" data-entityid="<?php echo $project->entityID; ?>">
                    <td class="projectCode"><?php echo $project->projectCode; ?></td>
                    <td class="projectName"><?php echo $project->projectName; ?></td>
                    <td class="projectType"><?php echo $project->projectTypeCode; ?></td>
                    <td class="customerName"><?php echo $project->customerName; ?></td>
                    <td class="projectAddress"><?php echo $project->projectAddress; ?></td>
                    <td class="text-center">
                        <a href="#" id="dd" class="glyphicon glyphicon-expand custom_font_size project-view project-manager-view-action" data-toggle="modal" data-action="view"></a>
                    </td>
                    <td class="projectDueDate"><?php echo $project->projectEndAt; ?></td>
                    <td class="text-center">
                        <?php if ($status != '5' && $status != '4') { ?>
                        <a class="edits" href="<?php echo $this->url('project', array('action' => 'index', 'param1' => $project->projectId, 'param2' => 'edit'));
                        ?>" id="<?php echo $project->projectId ?>">
                            <span class="fa fa-pencil-square-o custom_font_size"></span>
                        </a>
                        <?php } ?>
                    </td>
                    <td class="text-center">
                        <a class="edits" href="<?php echo $this->url('project', array('action' => 'index', 'param1' => $project->projectId, 'param2' => 'view'));
                        ?>" id="<?php echo $project->projectId ?>">
                            <span class="fa fa-search-plus custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center" >
                        <span class="<?php echo $style; ?>"> <?php echo $state; ?></span>
                    </td>
                    <td class="text-center" >
                    <?php if ($status != '5' && $status != '4') { ?>
                        <a href="#" class="delete">
                            <span class="fa fa-trash-o custom_font_size"></span>
                        </a>
                    <?php } ?>
                    </td>
                </tr>
                <?php
            }
            if (count($this->project_list) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>

</div>
<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->project_list, 'sliding', array('partial/paginator.phtml', 'project'), array(
        'route' => 'project', 'action' => 'list'
            )
    );
}
?>

