<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
            <h4><?php echo $this->translate('Add Project Supervisor') ?></h4>
        </div>

        <div class="modal-body" id="addSupvBody">
            <div class="col-lg-12 margin_top" id="productTable">
                <div class="table table-responsive modaltable">
                    <table class="task-card-product-table table table-striped margin_top_normal table-condensed" id="projectSupvAddTable">
                        <thead>
                            <tr>
                                <th class="" style="width: 90%"><?php echo $this->translate("Project Supervisor"); ?></th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody id="formRow">
                            <tr id='supvSample' class="hidden">
                                <td>
                                    <input disabled name="projectSupervisorNameCode" type="text" class="form-control" />
                                </td>
                                <td class="text-right"><button class="deleteProjectSupervisor btn btn-default"><i class='glyphicon glyphicon-trash deletePro' id=''></i></button></td>
                            </tr>
                        </tbody>

                        <tbody id="addNewProjectSupervisorRow">
                            <tr><!--item_insert-->
                                <td>
                                    <select class='form-control selectpicker' data-actions-box="false" data-live-search="false" name="projectSupervisorsDropdown" id="projectSupv" title="Select Project Supervisor" data-selected-text-format="count>3" data-size="5">
                                        <option value="0"><?php echo $this->translate("Select Project Supervisor"); ?></option>
                                        <?php
                                        foreach ($this->projectSupervisors as $projectSupervisor):
                                            $projectSupervisor = (object) $projectSupervisor;
                                            echo '<option value="' . $projectSupervisor->employeeID . '">' . $projectSupervisor->employeeCode.' - '. $projectSupervisor->employeeFirstName .' '.$projectSupervisor->employeeSecondName. '</option>';
                                        endforeach;
                                        ?>
                                    </select>
                                </td>
                                
                                <td class="text-right"><strong class="btn btn-default" id="add_project_supervisor"><i class="glyphicon glyphicon-plus"></i></strong></td>
                            </tr>

                            <tr>
                                <td colspan="7">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>

                </div><!--table_responsive-->
            </div><!--./col-->
        </div>
        <div class="modal-body hidden" id="viewSupvBody">
            <div class="col-lg-12 margin_top" id="projectSupvViewTable">
                <div class="table table-responsive modaltable">
                    <table class="table table-striped margin_top_normal table-condensed">
                        <thead>
                            <tr>
                                <th class="" style="width: 90%"><?php echo $this->translate("Project Supervisors"); ?></th>
                            </tr>
                        </thead>                        

                        <tbody id="viewNewProjectSupvRow">
                            <tr id='supvRow' class="hidden">
                                <td id="supvName">
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div><!--table_responsive-->
            </div><!--./col-->
        </div>

        <div class="modal-footer modal-footer-style">
            <div class="col-lg-12 addProjectSupervisor">
                <div class="text-right">
                    <button type="button" class="btn btn-primary" id="btnAddProjectSupervisor"><?php echo $this->translate('Add Project Supervisor') ?></button>
                    <button type="button" class="btn btn-danger" id="btnSupvModalClose"><?php echo $this->translate('Close') ?></button>
                    <button type="button" class="btn btn-danger hidden" data-dismiss="modal" id="btnViewSupvModalClose"><?php echo $this->translate('Close') ?></button>
                </div>
            </div>
        </div>
    </div>
</div>