<div class="category-form-container margin_top">
    <div class="well well_heading">
        <h5 class="add"><?php echo $this->translate('Add Petty Cash Expense Type') ?></h5>
        <h5 class="update"><?php echo $this->translate('Update Petty Cash Expense Type') ?></h5>
    </div>

    <div class="well well_body">
        <?php
        $form = $this->pettyCashExpenseTypeForm;
        $form->setAttribute('id', 'create-petty-cash-expense-type-form');

        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formHidden($form->get('pettyCashExpenseTypeID'));
        ?>

        <div class="form-group">
            <!--Name-->
            <div class="col-lg-4 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Name') ?><font color="red"> *</font></label>
                <div class="">
                    <?php echo $this->formRow($form->get('pettyCashExpenseTypeName')); ?>
                </div>
            </div>

            <!--Description-->
            <div class="col-lg-4 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Description') ?></label>
                <div class="">
                    <?php echo $this->formRow($form->get('pettyCashExpenseTypeDescription')); ?>
                </div>
            </div>

            <!--Min value-->
            <div class="col-lg-4 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Minimum Amount') ?></label>
                <div class="">
                    <?php echo $this->formRow($form->get('pettyCashExpenseTypeMinAmount')); ?>
                </div>
            </div>

            <!--Max value-->
            <div class="col-lg-4 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Maximum Amount') ?></label>
                <div class="">
                    <?php echo $this->formRow($form->get('pettyCashExpenseTypeMaxAmount')); ?>
                </div>
            </div>

             <!--Max value-->
            <div class="col-lg-4 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Gl Account') ?></label>
                <div class="">
                    <?php echo $this->formRow($form->get('pettyCashExpenseTypeAccountID')); ?>
                </div>
            </div>
            <div class="col-lg-4"> </div>

            <!--cancel&update-->
            <div class="col-lg-4 button-set update">
                <label class="control-label label_bottom_margin">&nbsp;</label>
                <div class="text-right">
                    <?php echo $this->formRow($form->get('pettyCashExpenseTypeUpdate')); ?>
                    <?php echo $this->formRow($form->get('pettyCashExpenseTypeReset')); ?>
                </div>
            </div>

            <!--reset&add-->
            <div class="col-lg-4">
                <label class="control-label label_bottom_margin">&nbsp;</label>
                <div class="text-right button-set">
                    <?php echo $this->formRow($form->get('pettyCashExpenseTypeSave')); ?>
                    <?php echo $this->formRow($form->get('pettyCashExpenseTypeCancel')); ?>
                </div>
            </div>
        </div><!--form_group-->

        <?php
        echo $this->form()->closeTag($form);
        ?>

    </div><!--well-->
</div><!--category_form_container-->

<!--search-->
<div class="well mobile-search clearfix well_custom_padding margin_top ">
    <form id="petty-cash-expense-type-search-form" method="post" action="">
        <div class="col-lg-3">
            <label class="remove_weight"><?php echo $this->translate('Search Expense Type') ?></label>
        </div>
        <div class="col-lg-9">
            <div class=" input-group">
                <input type="text" class="form-control" id ='petty-cash-expense-type-search-keyword' placeholder="<?php echo $this->translate('Enter Expense Type Name') ?>"/>
                <span class="input-group-btn">
                    <button class="btn btn-default search_btn_css" id="expense-type-search-submit" type="submit"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default reset" type="reset"><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </form>
</div>

<!--list_view-->
<div id="petty-cash-expense-type-list" class="margin_top">
    <?php echo $this->partial('expenses/petty-cash-expense-type/list', array('pettyCashExpenseTypes' => $this->pettyCashExpenseTypes, 'paginated' => $this->paginated)); ?>
</div>