<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="15%"><?php echo $this->translate('Name') ?></th>
                <th width="25%"><?php echo $this->translate('Description') ?></th>
                <th width="15%"><?php echo $this->translate('Min Amount') ?></th>
                <th width="15%"><?php echo $this->translate('Max Amount') ?></th>
                <th width="10%" class="text-center" ><?php echo $this->translate('Edit') ?></th>
                <th width="10%" class="text-center" ><?php echo $this->translate('Active') ?></th>
                <th width="10%" class="text-center" ><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>

        <tbody>
            <?php
            if (count($this->pettyCashExpenseTypes) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            } else {
                foreach ($this->pettyCashExpenseTypes as $et) {
                    $et = (object) $et;
                    ?>
                    <tr data-pettyCashExpenseTypeID="<?php echo $et->pettyCashExpenseTypeID; ?>">
                        <td><?php echo $et->pettyCashExpenseTypeName ?></td>
                        <td><?php echo $et->pettyCashExpenseTypeDescription ?></td>
                        <td><?php echo ($et->pettyCashExpenseTypeMinAmount) ? round($et->pettyCashExpenseTypeMinAmount, 2) : '-' ?></td>
                        <td><?php echo ($et->pettyCashExpenseTypeMaxAmount) ? round($et->pettyCashExpenseTypeMaxAmount, 2) : '-' ?></td>
                        <td class="text-center">
                            <a href="#" class="edit">
                                <i class="fa fa-pencil-square-o custom_font_size"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a href="#" class="status">
                                <i class="<?php echo ($et->pettyCashExpenseTypeStatus == '1') ? 'fa fa-check-square-o' : 'fa fa-square-o '; ?> custom_font_size"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a href="#" class="delete">
                                <i class="fa fa-trash-o custom_font_size"></i>
                            </a>
                        </td>
                    </tr>
                    <?php
                }
            }
            ?>
        </tbody>
    </table>
</div><!--table_responsive-->

<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->pettyCashExpenseTypes, 'sliding', array('partial/paginator.phtml', 'petty-cash-expense-type'), array(
        'route' => 'petty-cash-expense-type', 'action' => 'index'
            )
    );
}
?>
