<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate('Add Services') ?></h4>
        </div>

        <div class="modal-body" id="addServicesBody">
            <div class="col-lg-12 margin_top" id="servicesAddTable">
                <div class="table table-responsive modaltable">
                    <table class="table table-striped margin_top_normal table-condensed" id="servicesTable">
                        <thead>
                            <tr>
                                <th class="" style="width: 90%"><?php echo $this->translate("Services"); ?></th>
                                <th style="width: 10%"></th>
                            </tr>
                        </thead>

                        <tbody id="formRow">
                            <tr id='preSample' class="hidden">
                                <td style="width: 90%">
                                    <input disabled name="addedServiceCodeName" type="text" class="form-control" />
                                </td>
                                <td class="text-right" style="width: 10%"><button id='deleteClonedService' class="deleteAddedService btn btn-default"><i class='glyphicon glyphicon-trash'></i></button></td>
                            </tr>
                        </tbody>

                        <tbody id="addNewServiceRow">
                            <tr><!--item_insert-->
                                <td style="width: 90%">
                                    <select class='form-control selectpicker' data-actions-box="false" data-live-search="false" name="servicesDropdown" id="serviceID" title="Select Services" data-selected-text-format="count>3" data-size="5">
                                        <option value="0"><?php echo $this->translate('Select Services') ?></option>
                                    </select>
                                </td>
                                <td style="width: 90%" class="text-right"><strong class="btn btn-default" id="add_service"><i class="glyphicon glyphicon-plus"></i></strong></td>
                            </tr>

                            <tr>
                                <td colspan="7">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>

                </div><!--table_responsive-->
            </div><!--./col-->
        </div>
        <div class="modal-body hidden" id="viewServiceBody">
            <div class="col-lg-12 margin_top" id="serviceViewTable">
                <div class="table table-responsive modaltable">
                    <table class="table table-striped margin_top_normal table-condensed">
                        <thead>
                            <tr>
                                <th class="" style="width: 40%"><?php echo $this->translate("Service Code"); ?></th>
                                <th class="" style="width: 40%"><?php echo $this->translate("Service Name"); ?></th>
                                <th style="width: 10%"></th>
                                <th style="width: 10%"></th>
                            </tr>
                        </thead>                        

                        <tbody id="viewNewServiceRow">
                            <tr id='jobSrvcRow' class="hidden">
                                <td id="srvcCode"></td>
                                <td id="srvcName"></td>
                                <td id="status">
                                    <a href="#" class="serviceStatus" data-action="status">
                                        <span style="font-size: 20px;" class="serviceStatusIcon fa custom_font_size "></span>
                                    </a>
                                </td>
                                <td><button class="deleteService btn btn-default"><i class='glyphicon glyphicon-trash' id=''></i></button></td>
                            </tr>
                        </tbody>
                    </table>

                </div><!--table_responsive-->
            </div><!--./col-->
        </div>

        <div class="modal-footer modal-footer-style">
            <div class="col-lg-12">
                <div class="text-right">
                    <button type="button" class="btn btn-primary" id="btnAddServices"><?php echo $this->translate('Add Services') ?></button>
                    <button type="button" class="btn btn-danger" id="btnServicesClose"><?php echo $this->translate('Close') ?></button>
                    <button type="button" class="btn btn-danger hidden" data-dismiss="modal" id="btnViewServicesClose"><?php echo $this->translate('Close') ?></button>
                </div>
            </div>
        </div>
    </div>
</div>
