<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('Job Card Code') ?></th>
                <th><?php echo $this->translate('Job Card Name') ?></th>
                <th class="text-center" ><?php echo $this->translate('Services') ?></th>
                <th class="text-center" ><?php echo $this->translate('Status') ?></th>
                <th class="text-center" ><?php echo $this->translate('Edit') ?></th>
                <th class="text-center" ><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->taskCards as $tCard) {
                $tCard = (object) $tCard;
                ?>
                <tr data-job-card-id="<?php echo $tCard->taskCardID;?>" data-productid="<?php echo $tCard->productID;?>" data-product ="<?php echo $tCard->productName.'-'.$tCard->productCode ?>">
                    <td class="jcCode"><?php echo $tCard->taskCardCode; ?></td>
                    <td class="jcName"><?php echo $tCard->taskCardName ?></td>
                    <td class="jcServices text-center">
                        <a href="#" class="view-services">
                            <span class="fa fa-eye custom_font_size"></span>
                        </a>
                    </td>
                    <td class="jcStatus text-center">
                        <a href="#" class="jobCardStat" data-action="status">
                            <span class="<?php echo ($tCard->status == '1') ? 'fa fa-check-square-o' : 'fa fa-square-o '; ?> custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="#" class="edit">
                            <span class="fa fa-pencil-square-o custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center" >
                        <a href="#" class="delete">
                            <span class="fa fa-trash-o custom_font_size"></span>
                        </a>
                    </td>
                </tr>
                <?php
            }
            if (count($this->taskCards) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div><!--table_responsive-->

<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->taskCards, 'sliding', array('partial/paginator.phtml', 'jobCardSetup'), array(
        'route' => 'jobCardSetup', 'action' => 'create'
            )
    );
}
?>
