<?php
$companyCurrencySymbol = $this->companyCurrencySymbol;
$inveAdjustForm = $this->inventoryAdjustForm;
$inveAdjustForm->prepare();
?>
<div class="modal-dialog grn_modal">
    <div class="modal-content" id="addRawMaterialModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate('Add Raw Material Product') ?></h4>
        </div>
        <div class="modal-body">
            <?php echo $this->form()->openTag($inveAdjustForm); ?>
            <div class="margin_top form-horizontal">
                <!--table-->
                <div class="col-lg-12" id="rawMaterialProductTable">
                    <div class="table table-responsive">

                        <table class="adjustment-table table table-striped margin_top_normal table-condensed" id="adjustmentProductTable">
                            <thead>
                                <tr>
                                    <th class="" style="width: 25%"><?php echo $this->translate("Item Code or Name"); ?></th>
                                    <th class="available-qty hidden" style="width: 20%"><?php echo $this->translate("Available Qty"); ?></th>
                                    <th class="" style="width: 20%"><?php echo $this->translate("Quantity"); ?></th>
                                    <th class="" style="width: 20%"><?php echo $this->translate("Unit Price"); ?></th>
                                    <th class="text-right" style="width: 20%"><?php echo $this->translate("Total"); ?></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody id="formRow">
                                <tr id='preSetSample' class="hidden">
                                    <td><input disabled name="productCode" type="text" class="form-control"/></td>
                                    <td class="available-qty hidden"><input type="text" name="availableQuantity" class="form-control text-right reduce_le_ri_padding" id="availableQuantity" autocomplete="off" value=""></td>
                                    <td>
                                        <div class="input-group">
                                            <input disabled name="qty" type="text" class="form-control"/>
                                            <div class="input-group-btn">
                                                <button id="addNewUom" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                    <span id="uomName" class="uom-name"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input name="unitPrice" type="text" class="form-control"/>
                                            <strong class='input-group-addon'><?php echo $companyCurrencySymbol; ?></strong>
                                        </div>
                                    </td>
                                    <td id='ttl' class='text-right'></td>
                                    <td class="text-right"><button class="deleteAdjustment btn btn-default"><i class='glyphicon glyphicon-trash delete' id=''></i></button></td>
                                </tr>
                            </tbody>

                            <tbody id="addNewItemRow">
                                <tr><!--item_insert-->
                                    <td>
                                        <select class="form-control selectpicker show-tick"  id="itemCode" name="itemCode" data-live-search="true">
                                            <option class="itemCodeDefaultSelect" value="">Select Item Code or Name</option>
                                        </select>
                                    <td class="available-qty hidden">
                                        <div class="input-group">
                                            <?php echo $this->formRow($inveAdjustForm->get('availableQuantity')); ?>
                                        </div>
                                    </td>
                                    <td class="adding-qty">
                                        <div class="input-group">
                                            <?php echo $this->formRow($inveAdjustForm->get('qty')); ?>
                                        </div>
                                    </td>
                                    <td class="unit-price">
                                        <div class="input-group">
                                            <?php echo $this->formRow($inveAdjustForm->get('unitPrice')); ?>
                                            <strong class="input-group-addon"><?php echo $companyCurrencySymbol; ?></strong>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <label id="total" class="control-label">0.00</label>
                                    </td>
                                    <td class="text-right"><strong class="btn btn-default" id="addItem"><i class="glyphicon glyphicon-plus"></i></strong></td>
                                </tr>
                            </tbody>
                        </table>

                    </div><!--table_responsive-->
                </div><!--./col-->

                <!--comment-->
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4"><!--comment-->
                        <label for="cmnt" class="">
                            <?php echo $this->translate("Comment"); ?>
                        </label>
                        <?php echo $this->formRow($inveAdjustForm->get('cmnt')); ?>
                    </div>

                    <div class="col-lg-4 col-sm-4"><!--button-->
                        <div class="btn_margin_top">
                            <button type='reset' id="reset" value="Cancel" class="btn btn-default">Cancel</button>
                            <button class="btn btn-primary" type="submit" id="saveInventoryAdjustment">Save</button>
                        </div>
                    </div>
                </div><!--row-->
                <?php // echo $this->form()->closeTag();  ?>
            </div><!--margin_top-->
        </div>
    </div>
</div>

