<div class="modal-header">
    <button type="button" class="close refresh" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 id="add_aw"><?php echo $this->translate('Add Activity Weight') ?></h4>
    <h4 id="update-aw" class="hidden"><?php echo $this->translate('Add Activity Weight') ?></h4>
</div>
<div class="modal-body">
    <div class="form-horizontal margin_bottom_normal">
        <div class="form-group">
            <label class="control-label col-lg-6" for="cur-activity-weight"><?php echo $this->Translate('Add Weight For Current Activity') ?></label>
            <div class="col-lg-6">
                <input type="text" class="form-control" id="cur-activity-weight" placeholder="Ex: 10">
            </div>
        </div>
    </div>

    <table id="addActivityWeight" class="table table-condensed">
        <thead>
            <tr>
                <th><?php echo $this->translate('Activity Code') ?></th>
                <th><?php echo $this->translate('Weight %') ?></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn refresh hidden btn-primary" id="activity-weight-update"><?php echo $this->translate('Edit') ?></button>
    <button type="button" data-dismiss="modal" class="btn btn-primary hidden" id="all-activity-weight-update"><?php echo $this->translate('Update') ?></button>
    <button type="button" data-dismiss="modal" class="btn btn-primary hidden" id="save_weight"><?php echo $this->translate('Save') ?></button>
</div>