<?php
$form = $this->activityForm;
$form->setAttribute('id', 'activityForm');
?>
<?php
$refNotSet = '';
if ($refNotSet) {
    ?>
    <script>
        $(function() {
            $('#refNotSet').modal('show');
        });
    </script>
    <?php
}
?>

<div class="activity-form-container margin_top">
    <?php if ($this->projectID != '') { ?>
        <ol class="breadcrumb alert alert-success">
            <li><a href="/project/view/<?php echo $this->projectID ?>">Project (<?php echo $this->projectCode ?>)</a></li>
            <?php if ($this->jobArray) { ?>
                <li style="position: relative;">
                    <a>Jobs (<?php echo $this->jobArray[$this->jobID] ?>)</a>
                    <span class="caret"></span>
                    <ul style="position: absolute; top: 20px; left: 60px; background: #f0f0f0; list-style: none; padding: 10px;">
                        <?php foreach ($this->jobArray as $key => $value) { ?>
                            <li><a href="/job/view/<?php echo $key ?>"><?php echo $value ?></a></li>
                        <?php } ?>
                    </ul>
                </li>
            <?php } ?>
        </ol>

        <style type="text/css">
            ol.breadcrumb > li ul{
                display: none;
            }
            ol.breadcrumb > li:hover ul{
                display: block;
            }
        </style>
    <?php } else if ($this->jobID != '') { ?>
        <ol class="breadcrumb alert alert-success">
            <li><a href="/job/view/<?php echo $this->jobID ?>">Job (<?php echo $this->jobArray[$this->jobID] . ' - ' . $this->jobName ?>)</a></li>
        </ol>
    <?php } ?>

    <div class="well well_heading">
        <h5 class="font_weight add"><?php echo $this->translate('Add Activity') ?></h5>
        <h5 class="font_weight update hidden"><?php echo $this->translate('Update Activity Type') ?></h5>
    </div>

    <div class="well well_body">

        <?php
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>

        <div class="form-group">
            <div class="col-lg-3">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Activity Code'); ?></label>
            </div>
            <div class="col-lg-7">
                <?php echo $this->formRow($form->get('activityID')); ?>
                <?php echo $this->formRow($form->get('locationID')); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Related Documents') ?></label>
            <div class="col-lg-7" id="relatedDoc">
                <input type='button' class="btn btn-default relatedDocs" id='relatedDocs' value="<?php echo $this->translate('View Related Documents') ?>">
            </div>
        </div>

        <?php
        if ($this->customerName) {
            ?>
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Customer Name'); ?><font color="red"> *</font></label>
                </div>
                <div class="col-lg-7">
                    <input value="<?php echo $this->customerName ?>" class="form-control" disabled/>
                </div>
            </div>
        <?php } ?>

        <div class="form-group">
            <div class="col-lg-3">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Activity Name'); ?><font color="red"> *</font></label>
            </div>
            <div class="col-lg-7">
                <?php echo $this->formRow($form->get('activityName')); ?>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-3">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Project Reference'); ?></label>
            </div>
            <div class="col-lg-7">
                <div class="">
                    <select class="form-control selectpicker" title="" data-projectid="<?php echo ($this->projectID) ? $this->projectID : ''; ?>" id="projectReferenceID" name="projectReferenceID" data-live-search="true">
                        <option value=""><?php echo $this->translate('Select a Project') ?></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Job Reference'); ?><font color="red"> *</font></label>
            </div>
            <div class="col-lg-7">
                <div class="">
                    <select class="form-control selectpicker " title=""  id="childjob" name="childjob" data-live-search="true">
                        <option value=""><?php echo $this->translate('Select a Job') ?></option>
                    </select>
                    <select class="form-control selectpicker" title="" data-jobid="<?php echo ($this->jobID) ? $this->jobID : ''; ?>"  id="jobReferenceID" name="jobReferenceID" data-live-search="true">
                        <option value=""><?php echo $this->translate('Select a Job') ?></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-3">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Activity Type') ?><font color="red"> *</font></label>
            </div>
            <div class="col-lg-7" id="actName">
                <div class="input-group">
                    <select class="form-control selectpicker" title="" id="activityTypeID" name="activityTypeID" data-live-search="true">
                        <option value=""><?php echo $this->translate('Select Activity Type') ?></option>
                    </select>
                    <a data-toggle="modal" id="addActivityType" href="#addActivityTypeModal" class="input-group-addon btn-default">
                        <i class="fa fa-plus remove_font_weight"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-3">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Activity Description'); ?></label>
            </div>
            <div class="col-lg-7">
                <?php echo $this->formRow($form->get('activityDescription')); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label label_bottom_margin">
                <?php echo $this->formRow($form->get('activityRepeatEnabled')); ?>
                <?php echo $this->translate('Repeat Activity') ?>
            </label>
            <div class="col-lg-7" id="activityRepeatCommentBox">
                <?php echo $this->formRow($form->get('activityRepeatComment')); ?>
            </div>
        </div>

        <div class="row">
            <div  id="showActivePerson" class="panel panel-default link col-lg-10">
                <div class="panel-body">
                    <h4 class="panel-title">
                        <a href="#" onclick="return false;">
                            <?php echo $this->translate('People') ?>
                            <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                        </a>
                    </h4>
                </div>
            </div>
        </div>

        <div id="activeUsers" class="row">
            <!--contractors-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Contractors') ?></label>
                </div>
                <div class="col-lg-7">
                    <div class="input-group">
                        <select class="form-control selectpicker" title="" id="contractorID" name="contractorID" data-live-search="true">
                            <option value=""><?php echo $this->translate('Select Contractor') ?></option>
                        </select>
                        <a data-toggle="modal" id="addContractorsBtn" href="#addContractorsModal" class="input-group-addon btn-default">
                            <i class="fa fa-plus remove_font_weight"></i>
                        </a>
                    </div>
                    <table class="contractor-table table margin_top_normal table-condensed hidden">
                        <thead>
                            <tr>
                                <th width="50%"><?php echo $this->translate("Contractor"); ?></th>
                                <th width="50%" class="text-right"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="contractorPreSetSample" class="hidden">
                                <td id="contractorName"></td>
                                <td class="text-right">
                                    <a class="btn btn-default contractor-delete">
                                        <span class="pointer_cursor fa fa-trash-o"></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--Temp_Contractors-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Temporary Contractors') ?></label>
                </div>
                <div class="col-lg-7">
                    <div class="input-group">
                        <select class="form-control selectpicker" title="" id="temporaryContractorID" name="temporaryContractorID" data-live-search="true">
                            <option value=""><?php echo $this->translate('Select Temporary Contractor') ?></option>
                        </select>
                        <a data-toggle="modal" id="addTempContractorsBtn" href="#addTempContractorsModal" class="input-group-addon btn-default">
                            <i class="fa fa-plus remove_font_weight"></i>
                        </a>
                    </div>
                    <table class="temp-contractor-table table margin_top_normal table-condensed hidden">
                        <thead>
                            <tr>
                                <th width="50%"><?php echo $this->translate("Temporary Contractor"); ?></th>
                                <th width="50%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="tempContractorPreSetSample" class="hidden">
                                <td id="tempContractorName"></td>
                                <td class="text-right">
                                    <a class="btn btn-default temp-contractor-delete">
                                        <span class="pointer_cursor fa fa-trash-o"></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--owner-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Activity Owner'); ?></label>
                </div>
                <div class="col-lg-7">
                    <div>
                        <select class="form-control selectpicker" title="" id="activityOwnerID" name="activityOwnerID" data-live-search="true">
                            <option value=""><?php echo $this->translate('Select Activity Owner') ?></option>
                        </select>
                    </div>
                    <table class="activity-owner-table table margin_top_normal table-condensed hidden">
                        <thead>
                            <tr>
                                <th width="50%"><?php echo $this->translate("Activity Owner"); ?></th>
                                <th width="50%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="activityOwnerPreSetSample" class="hidden">
                                <td id="activityOwnerName"></td>
                                <td class="text-right">
                                    <a class="btn btn-default activity-owner-delete">
                                        <span class="pointer_cursor fa fa-trash-o"></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--supervisor-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Activity Supervisor'); ?></label>
                </div>
                <div class="col-lg-7">
                    <div>
                        <select class="form-control selectpicker" title="" id="activitySupervisorID" name="activitySupervisorID" data-live-search="true">
                            <option value=""><?php echo $this->translate('Select Activity Supervisor') ?></option>
                        </select>
                    </div>
                    <table class="activity-supervisor-table table margin_top_normal table-condensed hidden">
                        <thead>
                            <tr>
                                <th width="50%"><?php echo $this->translate("Activity Supervisor"); ?></th>
                                <th width="50%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="actSupPreSetSample" class="hidden">
                                <td id="activitySupervisorName"></td>
                                <td class="text-right">
                                    <a class="btn btn-default activity-supervisor-delete">
                                        <i class="pointer_cursor fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div  id="showMeterialAndItems" class="panel panel-default link col-lg-10">
                <div class="panel-body">
                    <h4 class="panel-title">
                        <a href="#" onclick="return false;">
                            <?php echo $this->translate('Item') ?>
                            <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                        </a>
                    </h4>
                </div>
            </div>
        </div>

        <div id="materialItemAndAssets">
            <!--Raw_materials-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Raw Materials'); ?></label>
                </div>
                <div class="col-lg-7">
                    <div class="input-group">
                        <select class="form-control selectpicker" title="" id="rawMaterialID" name="rawMaterialID" data-live-search="true">
                            <option value=""><?php echo $this->translate('Select Raw Material') ?></option>
                        </select>
                        <a data-toggle="modal" id="addRawMaterial" href="#addRawMaterialModal" class="input-group-addon btn-default">
                            <i class="fa fa-plus remove_font_weight"></i>
                        </a>
                    </div>
                    <div id="rawMaterialTable">
                        <table class="raw-product-table table margin_top_normal table-condensed hidden">
                            <thead>
                                <tr>
                                    <th width="35%"><?php echo $this->translate("Product Name - Code"); ?></th>
                                    <th width="20%"><?php echo $this->translate("Quantity"); ?></th>
                                    <th width="29%"><?php echo $this->translate("Unit Price"); ?></th>
                                    <th width="8%"></th>
                                    <th width="8%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="rawProductPreSetSample" class="add-row sample hidden">
                                    <td id="rawProdctNameAndCode"></td>
                                    <td>
                                        <div class="input-group">
                                            <input class="form-control" id="addedQuantity" name="addedQuantity" type="text"/>
                                        </div>
                                    </td>
                                    <td><div class="input-group">
                                            <input name="unitPrice" id="unitPrice" type="text" class="form-control"/>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-default raw-product-plus">
                                            <i class="pointer_cursor fa fa-plus"></i>
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-default raw-product-delete">
                                            <span class="pointer_cursor fa fa-trash-o"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--fixed_assets-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Fixed Assets'); ?></label>
                </div>
                <div class="col-lg-7">
                    <div>
                        <select class="form-control selectpicker" title="" id="fixedAssetsID" name="fixedAssetsID" data-live-search="true">
                            <option value=""><?php echo $this->translate('Select Fixed Assets') ?></option>
                        </select>
                    </div>
                    <table class="fixed-assests-product-table table margin_top_normal table-condensed hidden">
                        <thead>
                            <tr>
                                <th width="35%"><?php echo $this->translate("Product Name - Code"); ?></th>
                                <th width="22%"><?php echo $this->translate("Quantity"); ?></th>
                                <th width="27%"><?php echo $this->translate("Unit Price"); ?></th>
                                <th width="8%"></th>
                                <th width="8%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="fixedProductPreSetSample" class="hidden">
                                <td id="fixedProdctNameAndCode"></td>
                                <td class="text-right input-group">
                                    <input id="addedQuantity" name="addedQuantity" type="text" class="form-control">
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input name="unitPrice" id="unitPrice" type="text" class="form-control"/>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-default fixed-assests-product-plus">
                                        <i class="pointer_cursor fa fa-plus"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-default fixed-assests-product-delete">
                                        <i class="pointer_cursor fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--temporary Item-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Temporary Item'); ?></label>
                </div>
                <div class="col-lg-7">
                    <div class="input-group">
                        <select class="form-control selectpicker" title="" id="temporaryProductID" name="temporaryProductID" data-live-search="true">
                            <option value=""><?php echo $this->translate('Select Temporary Product') ?></option>
                        </select>
                        <a data-toggle="modal" id="addTempItemBtn" href="#addTempProductModal" class="input-group-addon btn-default">
                            <i class="fa fa-plus remove_font_weight"></i>
                        </a>
                    </div>
                    <table class="temp-product-table table table-striped margin_top_normal table-condensed hidden">
                        <thead>
                            <tr>
                                <th width="30%"><?php echo $this->translate("Product Code - Name"); ?></th>
                                <th width="20%"><?php echo $this->translate("Product Batch"); ?></th>
                                <th width="20%"><?php echo $this->translate("Product Serial"); ?></th>
                                <th width="20%"><?php echo $this->translate("Quantity"); ?></th>
                                <th width="10%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="tempProductPreSetSample" class="hidden">
                                <td id="tempProdctNameAndCode"></td>
                                <td id="tempProdctBatch"></td>
                                <td id="tempProdctSerial"></td>
                                <td id="tempProdctQty"></td>
                                <td class="text-right">
                                    <a class="btn btn-default temp-product-delete">
                                        <i class="pointer_cursor fa fa-trash-o"></i>
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-default temp-product-duplicate">
                                        <i class="pointer_cursor fa fa-foursquare"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div  id="showTimeAndCost" class="panel panel-default link col-lg-10">
                <div class="panel-body">
                    <h4 class="panel-title">
                        <a href="#" onclick="return false;">
                            <?php echo $this->translate('Time & Cost') ?>
                            <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                        </a>
                    </h4>
                </div>
            </div>
        </div>

        <div id="timeCost" class="row">
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Estimate Time'); ?></label>
                </div>
                <div class="col-lg-7">
                    <?php echo $this->formRow($form->get('activityEstimateTime')); ?>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Starting Time'); ?></label>
                </div>
                <div class="col-lg-7">
                    <?php echo $this->formRow($form->get('startTime')); ?>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Ending Time'); ?></label>
                </div>
                <div class="col-lg-7">
                    <?php echo $this->formRow($form->get('endTime')); ?>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Estimate Cost'); ?></label>
                </div>
                <div class="col-lg-7">
                    <?php echo $this->formRow($form->get('activityEstimateCost')); ?>
                </div>
            </div>

            <!--cost_type-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Cost Type'); ?></label>
                </div>
                <div class="col-lg-7">
                    <div>
                        <select class="form-control selectpicker" title="" id="costTypeID" name="costTypeID" data-live-search="true">
                            <option value=""><?php echo $this->translate('Select Cost Type') ?></option>
                        </select>
                    </div>
                    <table class="cost-type-table table table-striped margin_top_normal table-condensed hidden">
                        <thead>
                            <tr>
                                <th><?php echo $this->translate("Cost Type"); ?></th>
                                <th><?php echo $this->translate("Estimated Cost"); ?></th>
                                <th><?php echo $this->translate("Actual Cost"); ?></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="costSampleRow" class="hidden">
                                <td><input name="costTypeName" id="costTypeName" type="text" disabled="true" class="form-control"/></td>
                                <td><input name="estimateCost" id="estimateCost" type="text" class="form-control"/></td>
                                <td><input name="actualCost" id="actualCost" type="text" class="form-control"/></td>
                                <td class="text-center">
                                    <a class="btn btn-default cost-type-plus">
                                        <i class="pointer_cursor fa fa-plus"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-default cost-type-delete">
                                        <span class="pointer_cursor fa fa-trash-o"></span>
                                    </a>
                                </td>
                            </tr>
                            <tr id="costTypePreSetSample" class="hidden">
                                <td id="costTypeName"></td>
                                <td id="estimateCost"></td>
                                <td id="actualCost"></td>
                                <td></td>
                                <td class="text-right">
                                    <a class="btn btn-default cost-type-delete">
                                        <i class="pointer_cursor fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div  id="activityVehiclePanel" class="panel panel-default link col-lg-10">
                <div class="panel-body">
                    <h4 class="panel-title">
                        <a href="#" onclick="return false;">
                            <?php echo $this->translate('Vehicle') ?>
                            <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                        </a>
                    </h4>
                </div>
            </div>
        </div>

        <div id="activityVehicle" class="row">
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Vehicle'); ?></label>
                </div>
                <div class="col-lg-7">
                    <div>
                        <select class="form-control selectpicker" title="" id="vehicleBox" name="vehicleBox" data-live-search="true">
                            <option value=""><?php echo $this->translate('Select Vehicle') ?></option>
                        </select>
                    </div>
                    <table class="vehicle-table table table-striped margin_top_normal table-condensed hidden">
                        <thead>
                            <tr>
                                <th style="width: 30%"><?php echo $this->translate("Vehicle"); ?></th>
                                <th style="width: 15%"><?php echo $this->translate("Stating Mileage"); ?></th>
                                <th style="width: 15%"><?php echo $this->translate("Ending Mileage"); ?></th>
                                <th style="width: 15%"><?php echo $this->translate("Distance"); ?></th>
                                <th style="width: 15%"><?php echo $this->translate("Cost"); ?></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="vehicleSampleRow" class="hidden">
                                <td><input name="vehicleRegNum" id="vehicleRegNum" type="text" disabled="true" class="form-control"/></td>
                                <td><input name="startMileage" id="startMileage" type="text" class="form-control vehicle-mileage"/></td>
                                <td><input name="endMileage" id="endMileage" type="text" class="form-control vehicle-mileage"/></td>
                                <td><input name="vehicleDistance" id="vehicleDistance" type="text" class="form-control" disabled="true"/></td>
                                <td><input name="vehicleCost" id="vehicleCost" type="text" class="form-control" /></td>
                                <td class="text-center">
                                    <a class="btn btn-default vehicle-plus">
                                        <i class="pointer_cursor fa fa-plus"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-default vehicle-delete">
                                        <span class="pointer_cursor fa fa-trash-o"></span>
                                    </a>
                                </td>
                            </tr>
                            <tr id="vehiclePreSetSample" class="hidden">
                                <td id="vehicleRegNum"></td>
                                <td id="startMileage"></td>
                                <td id="endMileage"></td>
                                <td id="vehicleDistance"></td>
                                <td id="vehicleCost"></td>
                                <td></td>
                                <td class="text-right">
                                    <a class="btn btn-default vehicle-delete">
                                        <i class="pointer_cursor fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--buttons-->
        <div class="form-group margin_top_normal button-set update">
            <div class="col-lg-10 text-right">
                <button type="reset" class="btn btn-default reset update hidden"><?php echo $this->translate('Cancel') ?></button>
                <button type="submit" class="btn btn-primary update hidden" id="update"><?php echo $this->translate('Update') ?></button>
            </div>
        </div>

        <div class="form-group margin_top_normal button-set">
            <div class="col-lg-10 text-right">
                <button type="reset" class="btn btn-default add reset"><?php echo $this->translate('Reset') ?></button>
                <button type="submit" class="btn btn-primary add " id="addActivity"><?php echo $this->translate('Add New') ?></button>
            </div>
        </div>

    </div><!--well-->

    <?php
    echo $this->form()->closeTag($form);
    ?>

    <!--modal-->
    <div class="modal fade" id="add-product-batch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog large grn_modal">
            <div class="modal-content">
                <form id="product-batch-modal">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><?php echo $this->translate('&times;') ?></button>
                        <h4 class="modal-title"><?php echo $this->translate('Select Batch / Serial Products') ?></h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" class="re_row product-type">
                        <div class="table-responsive" style="height: 300px; overflow-y: scroll">
                            <table class="table batch-table table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <th style="width: 25%" class="bacth-head"><?php echo $this->translate('Batch Code') ?></th>
                                        <th style="width: 25%" class="serial-head"><?php echo $this->translate('Serial Code') ?></th>
                                        <th style="width: 25%" class=""><?php echo $this->translate('Available Qty') ?></th>
                                        <th style="width: 25%" class="text-center"><?php echo $this->translate('Add Qty') ?></th>
                                    </tr>
                                </thead>
                                <tbody id="batch_data">
                                    <tr id="defaultRow" class="batch_row hidden">
                                        <td class="batchCode"></td>
                                        <td class="serialID"></td>
                                        <td>
                                            <div class="input-group">
                                                <input type="text" readonly="true" name="availableQuantity" class="form-control">
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="input-group">
                                                <input type="text" name="addQuantity" class="form-control">
                                            </div>
                                            <input type="checkbox" name="addQuantityCheck" value="1">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer text-right">
                        <input type="submit" value="<?php echo $this->translate('Save') ?>" id="batchSave" class="btn btn-primary">
                        <!--<input data-dismiss="modal" aria-hidden="true" type="button" value="Back" id="batchBack" class="btn btn-danger">-->
                    </div>
                </form>
            </div> <!-- /.modal-content -->
        </div> <!--/.modal-dialog -->
    </div> <!--/.modal-->

    <div class="modal fade" id="addActivityTypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <?php echo $this->activityTypeAddView; ?>
    </div>

    <div class="modal fade" id="addContractorsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <?php echo $this->contractorAddView; ?>
    </div>

    <div class="modal fade" id="addTempContractorsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <?php echo $this->tempContractorAddView; ?>
    </div>

    <div class="modal fade" id="refNotSet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <?php echo $refNotSet; ?>
    </div>

    <div class="modal fade" id="addTempProductModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <?php echo $this->tempProductAddView; ?>
    </div>


    <div class="modal fade" id="setActivityWeightModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <?php echo $activityWeight; ?>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addRawMaterialModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <?php echo $this->rawMaterialProduct; ?>
    </div>

    <div class="modal fade" id="relatedDocumentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <?php echo $relatedDocu; ?>
    </div>
    <div class="modal fade" id="documentJobViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <?php echo $relatedJobDocu;
        ?>
    </div>

</div>