<?php
$form = $this->activityForm;
$form->setAttribute('id', 'activityForm');
?>
<div class="activity-form-container margin_top">
    <div class="well well_heading">
        <h5 class="font_weight add"><?php echo $this->translate('Add Activity') ?></h5>
        <h5 class="font_weight update hidden"><?php echo $this->translate('Update Activity Type') ?></h5>
    </div>

    <div class="well well_body">

        <?php
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>

        <!--activity_code-->
        <div class="form-group">
            <div class="col-lg-3">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Activity Code'); ?></label>
            </div>
            <div class="col-lg-6">
                <input name="actID" id="actID" value="<?php echo $this->activityID; ?>" type="text" hidden="true">
                <?php echo $this->formRow($form->get('activityID')); ?>
                <?php echo $this->formRow($form->get('locationID')); ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Related Documents') ?></label>
            <div class="col-lg-6" id="relatedDoc">
                <input type='button' class="btn btn-default relatedDocs" id='relatedDocs' value="Click Here for Related Documents">
            </div>
        </div>

        <!--activity_name-->
        <div class="form-group">
            <div class="col-lg-3">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Activity Name '); ?><font color="red"> *</font></label>
            </div>
            <div class="col-lg-6">
                <?php echo $this->formRow($form->get('activityName')); ?>
            </div>
        </div>

        <!--project_reference-->
        <div class="form-group">
            <div class="col-lg-3">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Project Reference '); ?></label>
            </div>
            <div class="col-lg-6">
                <select class="form-control selectpicker" data-projectid="<?php echo ($this->projectID) ? $this->projectID : ''; ?>" id="projectReferenceID" name="projectReferenceID" data-live-search="true">
                    <option value="">Select Project</option>
                </select>
            </div>
        </div>

        <!--job_reference-->
        <div class="form-group">
            <div class="col-lg-3">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Job Reference '); ?><font color="red"> *</font></label>
            </div>

            <div class="col-lg-6">
                <select class="form-control selectpicker " title=""  id="childjob" name="childjob" data-live-search="true">
                    <option value="">Select a Job</option>
                </select>
                <select class="form-control selectpicker" data-jobid="<?php echo ($this->jobID) ? $this->jobID : ''; ?>" id="jobReferenceID" name="jobReferenceID" data-live-search="true">
                    <option value="">Select Job</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-3">
                <lable class="control-label label_bottom_margin"><?php echo $this->translate('Customer Name') ?></lable>
            </div>
            <div class="col-lg-6">
                <lable class="form-control"><?php echo $this->activityData['cusName'] ?></lable>
            </div>
        </div>

        <!--activity_type-->
        <div class="form-group">
            <div class="col-lg-3">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Activity Type ') ?><font color="red"> *</font></label>
            </div>
            <div class="col-lg-6" id="actName">
                <select class="form-control selectpicker" data-activitytypeid="<?php echo ($this->activityTypeID) ? $this->activityTypeID : ''; ?>" id="activityTypeID" name="activityTypeID" data-live-search="true">
                    <option value="">Select Activity Type</option>
                </select>
            </div>
        </div>

        <!--description-->
        <div class="form-group">
            <div class="col-lg-3">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Activity Description'); ?></label>
            </div>
            <div class="col-lg-6">
                <?php echo $this->formRow($form->get('activityDescription')); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label label_bottom_margin">
                <?php echo $this->formRow($form->get('activityRepeatEnabled')); ?>
                <?php echo $this->translate('Repeat Activity') ?>
            </label>
            <div class="col-lg-6" id="activityRepeatCommentBox">
                <?php echo $this->formRow($form->get('activityRepeatComment')); ?>
            </div>
        </div>

        <div class="row">
            <div  id="showActivePerson" class="panel panel-default link col-lg-9">
                <div class="panel-body">
                    <h4 class="panel-title">
                        <a href="#" onclick="return false;">
                            <?php echo $this->translate('People') ?>
                            <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
        <div id="activeUsers" class="row">


            <!--contractors-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Contractors') ?></label>
                </div>
                <div class="col-lg-6">
                    <div class="input-group">
                        <select class="form-control selectpicker" title="" id="contractorID" name="contractorID" data-live-search="true">
                            <option value="">Select Contractor</option>
                        </select>
                        <a data-toggle="modal" id="addContractorsBtn" href="#addContractorsModal" class="input-group-addon btn-default">
                            <i class="fa fa-plus remove_font_weight"></i>
                        </a>
                    </div>

                    <!--table-->
                    <table class="margin_top_normal contractor-table table table-condensed
                    <?php
                    if (!empty($this->activityData['contractors'])) {
                        echo '';
                    } else {
                        echo 'hidden';
                    }
                    ?>">
                        <thead>
                            <tr>
                                <th><?php echo $this->translate('Contractors') ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            if (!empty($this->activityData['contractors'])) {
                                foreach ($this->activityData['contractors'] as $key => $value) :
                                    ?>
                                    <tr id="<?php echo 'tr_' . $key; ?>" class="addedContractor">
                                        <td id="contractorName"><?php echo $value['cFN'] . ' - ' . $value['cSN']; ?></td>
                                        <td class="text-right">
                                            <a class="contractor-delete btn btn-default">
                                                <i class="pointer_cursor fa fa-trash-o"></i>
                                            </a>
                                        </td>
                                        <?php
                                    endforeach;
                                }
                                ?>
                            </tr>
                            <tr class="contractorPreSetSample hidden">
                                <td id="contractorName"></td>
                                <td class="text-right">
                                    <a class="btn btn-default contractor-delete">
                                        <i class="pointer_cursor fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--Temporary contractors-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Temporary Contractors') ?></label>
                </div>
                <div class="col-lg-6">
                    <div class="input-group">
                        <select class="form-control selectpicker" title="" id="temporaryContractorID" name="temporaryContractorID" data-live-search="true">
                            <option value="">Select Temporary Contractor</option>
                        </select>
                        <a data-toggle="modal" id="addTempContractorsBtn" href="#addTempContractorsModal" class="input-group-addon btn-default">
                            <i class="fa fa-plus remove_font_weight"></i>
                        </a>
                    </div>

                    <!--table-->
                    <table class="temp-contractor-table table table-condensed margin_top_normal <?php
                    if (!empty($this->activityData['tempContractors'])) {
                        echo '';
                    } else {
                        echo 'hidden';
                    }
                    ?>">
                        <thead>
                            <tr>
                                <th><?php echo $this->translate('Temporary Contractors') ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            if (!empty($this->activityData['tempContractors'])) {
                                foreach ($this->activityData['tempContractors'] as $key => $value) :
                                    ?>
                                    <tr id="<?php echo 'tr_' . $key; ?>" class="addedTempContractor">
                                        <td id="tempContractorName"><?php echo $value['cTFN'] . '-' . $value['cTSN']; ?></td>
                                        <td class="text-right">
                                            <a class="btn btn-default temp-contractor-delete">
                                                <i class="pointer_cursor fa fa-trash-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <?php
                                endforeach;
                            }
                            ?>
                            <tr class="tempContractorPreSetSample hidden">
                                <td id="tempContractorName"></td>
                                <td class="text-right">
                                    <a class="btn btn-default temp-contractor-delete">
                                        <i class="pointer_cursor fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>



            <!--Activity Owner-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Activity Owner'); ?></label>
                </div>
                <div class="col-lg-6">
                    <select class="form-control selectpicker" title="" id="activityOwnerID" name="activityOwnerID" data-live-search="true">
                        <option value="">Select Activity Owner</option>
                    </select>

                    <!--table-->
                    <table class="activity-owner-table table table-condensed margin_top_normal <?php
                    if (!empty($this->activityData['owners'])) {
                        echo '';
                    } else {
                        echo 'hidden';
                    }
                    ?>">
                        <thead>
                            <tr>
                                <th><?php echo $this->translate('Activity Owner') ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            if (!empty($this->activityData['owners'])) {
                                foreach ($this->activityData['owners'] as $key => $o) :
                                    ?>
                                    <tr id="<?php echo 'tr_' . $key ?>" class="addedActivityOwner">
                                        <td id="activityOwnerName"><?php echo $o['oFN'] . '-' . $o['oTSN'] ?></td>
                                        <td class="text-right">
                                            <a class="btn btn-default activity-owner-delete">
                                                <i class="pointer_cursor fa fa-trash-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <?php
                                endforeach;
                            }
                            ?>
                            <tr class="activityOwnerPreSetSample hidden">
                                <td id="activityOwnerName"></td>
                                <td class="text-right">
                                    <a class="btn btn-default activity-owner-delete">
                                        <i class="pointer_cursor fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--Activity Supervisor-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Activity Supervisor'); ?></label>
                </div>
                <div class="col-lg-6">
                    <select class="form-control selectpicker" title="" id="activitySupervisorID" name="activitySupervisorID" data-live-search="true">
                        <option value="">Select Activity Supervisor</option>
                    </select>

                    <!--table-->
                    <table class="activity-supervisor-table table table-condensed margin_top_normal <?php
                    if (!empty($this->activityData['supervisors'])) {
                        echo '';
                    } else {
                        echo 'hidden';
                    }
                    ?>">
                        <thead>
                            <tr>
                                <th><?php echo $this->translate('Activity Supervisor') ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            if (!empty($this->activityData['supervisors'])) {
                                foreach ($this->activityData['supervisors'] as $key => $s) :
                                    ?>
                                    <tr id="<?php echo 'tr_' . $key ?>" class="addedActivitySupervisor">
                                        <td id="activitySupervisorName"><?php echo $s['sFN'] . '-' . $s['sTSN']; ?></td>
                                        <td class="text-right">
                                            <a class="btn btn-default activity-supervisor-delete">
                                                <i class="pointer_cursor fa fa-trash-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <?php
                                endforeach;
                            }
                            ?>
                            <tr class="actSupPreSetSample hidden">
                                <td id="activitySupervisorName"></td>
                                <td class="text-right">
                                    <a class="btn btn-default activity-supervisor-delete">
                                        <i class="pointer_cursor fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div  id="showMeterialAndItems" class="panel panel-default link col-lg-9">
                <div class="panel-body">
                    <h4 class="panel-title">
                        <a href="#" onclick="return false;">
                            <?php echo $this->translate('Item') ?>
                            <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
        <div id="materialItemAndAssets">

            <!--raw_materials-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Raw Materials :'); ?></label>
                </div>
                <div class="col-lg-6">
                    <select class="form-control selectpicker" title="" id="rawMaterialID" name="rawMaterialID" data-live-search="true">
                        <option value="">Select Raw Material</option>
                    </select>

                    <!--table-->
                    <table class="raw-product-table table table-condensed margin_top_normal <?php
                    if (!empty($this->activityData['rMProducts'])) {
                        echo '';
                    } else {
                        echo 'hidden';
                    }
                    ?>">
                        <thead>
                            <tr>
                                <th width="40%"><?php echo $this->translate('Product Code - Name') ?></th>
                                <th width="24%"><?php echo $this->translate('Quantity') ?></th>
                                <th width="20%"><?php echo $this->translate("U.Price ($this->companyCurrencySymbol)") ?></th>
                                <th width="8%"></th>
                                <th width="8%"></th>
                            </tr>
                        </thead>

                        <tbody id="form_row">
                            <?php
                            if (!empty($this->activityData['rMProducts'])) {
                                $total = 0.00;
                                foreach ($this->activityData['rMProducts'] as $rMProduct) {
                                    $aQty = 0;

                                    if ($rMProduct['bP']) {
                                        foreach ($rMProduct['bP'] as $data) {
                                            $aQty += $data['bQ'];
                                        }
                                    } else if (!empty($rMProduct['sP'])) {
                                        $aQty = sizeof($rMProduct['sP']);
                                    } else {
                                        $aQty = $rMProduct['aPQ'];
                                    }
                                    $subTotal = $aQty * $rMProduct['aP'] ? $aQty * $rMProduct['aP'] : 0;
                                    $total += $subTotal;
                                    ?>

                                    <tr id="<?php echo 'tr_' . $rMProduct['aPID']; ?>" class="add-row sample addedRawMaterialProduct">
                                        <td id="rawProdctNameAndCode"><?php echo $rMProduct['aPC'] . '-' . $rMProduct['aPN']; ?></td>
                                        <td id="addedQuantity"><?php echo $aQty; ?><span id="uomName"><?php echo $rMProduct['aPUom']; ?></span></td>
                                        <td><?php echo number_format($rMProduct['uPrice'], 2); ?></td>
                                        <td></td>
                                        <td>
                                            <a class="btn btn-default raw-product-delete"><span class="pointer_cursor fa fa-trash-o"></span></a>
                                            <?php
                                            if (empty($rMProduct['sP']) && empty($rMProduct['bP'])) {

                                            } else {
                                                ?>
                                                <?php
                                            }
                                            ?>
                                        </td>
                                    </tr>

                                    <?php
                                }
                            }
                            ?>
                            <tr id="rawProductPreSetSample" class="add-row sample hidden">
                                <td id="rawProdctNameAndCode"></td>
                                <td class="input-group">
                                    <input id="addedQuantity" name="addedQuantity" type="text" class="form-control">
                                </td>
                                <td>
                                    <input name="unitPrice" id="unitPrice" type="text" class="form-control"/>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-default raw-product-plus">
                                        <i class="pointer_cursor fa fa-plus"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-default raw-product-delete">
                                        <i class="pointer_cursor fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--fixed_assets-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Fixed Assets :'); ?></label>
                </div>
                <div class="col-lg-6">
                    <select class="form-control selectpicker" title="" id="fixedAssetsID" name="fixedAssetsID" data-live-search="true">
                        <option value="">Select Fixed Assets</option>
                    </select>

                    <!--table-->
                    <table class="fixed-assests-product-table table table-striped table-condensed margin_top_normal <?php
                    if (!empty($this->activityData['fAProducts'])) {
                        echo '';
                    } else {
                        echo 'hidden';
                    }
                    ?>">
                        <thead>
                            <tr>
                                <th width="40%"><?php echo $this->translate("Product Name - Code"); ?></th>
                                <th width="24%"><?php echo $this->translate("Quantity"); ?></th>
                                <th width="20%"><?php echo $this->translate("U.Price ($this->companyCurrencySymbol)"); ?></th>
                                <th width="8%"></th>
                                <th width="8%"></th>
                            </tr>
                        </thead>
                        <tbody id="form_row">
                            <?php
                            if (!empty($this->activityData['fAProducts'])) {
                                $total = 0.00;
                                foreach ($this->activityData['fAProducts'] as $fAProduct) {
                                    $aQty = 0;

                                    if ($fAProduct['bP']) {
                                        foreach ($fAProduct['bP'] as $data) {
                                            $aQty += $data['bQ'];
                                        }
                                    } else if (!empty($fAProduct['sP'])) {
                                        $aQty = sizeof($fAProduct['sP']);
                                    } else {
                                        $aQty = $fAProduct['aPQ'];
                                    }
                                    $subTotal = $aQty * $fAProduct['aP'] ? $aQty * $fAProduct['aP'] : 0;
                                    $total += $subTotal;
                                    ?>

                                    <tr id="<?php echo 'tr_' . $fAProduct['aPID']; ?>" class="add-row sample addedRawMaterialProduct">
                                        <td  id="fixedProdctNameAndCode"><?php echo $fAProduct['aPC'] . '-' . $fAProduct['aPN']; ?></td>
                                        <td id="addedQuantity"><?php echo $aQty; ?><span id="uomName"><?php echo $fAProduct['aPUom']; ?></span></td>
                                        <td><?php echo number_format($fAProduct['uPrice'], 2); ?></td>
                                        <td></td>
                                        <td>
                                            <a class="btn btn-default fixed-assests-product-delete">
                                                <span class="pointer_cursor fa fa-trash-o"></span></a>
                                            <?php
                                            if (empty($fAProduct['sP']) && empty($fAProduct['bP'])) {

                                            } else {
                                                ?>
                                                                                                                                                                                                                    <!--<a data-toggle="modal" href='#<?php echo $fAProduct['aPC'] . 'viewFASubProducts' ?>'style = "font-size: 18px;" class ='glyphicon glyphicon-expand'></a>-->

                                                <?php
                                            }
                                            ?>
                                        </td>
                                    </tr>
                                    <?php
                                }
                            }
                            ?>
                            <tr id="fixedProductPreSetSample" class="hidden">
                                <td id="fixedProdctNameAndCode"></td>
                                <td class="input-group">
                                    <input id="addedQuantity" name="addedQuantity" type="text" class="form-control">
                                </td>
                                <td>
                                    <input name="unitPrice" id="unitPrice" type="text" class="form-control"/>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-default fixed-assests-product-plus">
                                        <i class="pointer_cursor fa fa-plus"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-default fixed-assests-product-delete">
                                        <i class="pointer_cursor fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--temporary_item-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Temporary Item :'); ?></label>
                </div>
                <div class="col-lg-6">
                    <div class="input-group">
                        <select class="form-control selectpicker" title="" id="temporaryProductID" name="temporaryProductID" data-live-search="true">
                            <option value="">Select Temporary Product</option>
                        </select>
                        <a data-toggle="modal" id="addTempItemBtn" href="#addTempProductModal" class="input-group-addon btn btn-default">
                            <i class="fa fa-plus remove_font_weight"></i>
                        </a>
                    </div>



                    <!--table-->
                    <table class="temp-product-table table table-condensed margin_top_normal <?php
                    if (!empty($this->activityData['tempProducts'])) {
                        echo '';
                    } else {
                        echo 'hidden';
                    }
                    ?>">
                        <thead>
                            <tr>
                                <th width="30%"><?php echo $this->translate('Product Code - Name') ?></th>
                                <th width="20%"><?php echo $this->translate('Product batch') ?></th>
                                <th width="20%"><?php echo $this->translate('Product serial') ?></th>
                                <th width="20%"><?php echo $this->translate('Quantity') ?></th>
                                <th width="5%"></th>
                                <th width="5%"></th>
                            </tr>
                        </thead>
                        <tbody id="form_row">
                            <?php
                            if (!empty($this->activityData['tempProducts'])) {
                                foreach ($this->activityData['tempProducts'] as $tempProduct) {
                                    ?>
                                    <tr class="addedTempProduct" id="<?php echo 'tr_' . $tempProduct['aPID']; ?>" data-id="<?php echo $tempProduct['aPID'] ?>">
                                        <td id="tempProdctNameAndCode"><?php echo $tempProduct['tPC'] . '-' . $tempProduct['tPN']; ?></td>
                                        <td id="tempProdctBatch"><?php echo $tempProduct['bCode']; ?></td>
                                        <td id="tempProdctSerial"><?php echo $tempProduct['sCode']; ?></td>
                                        <td id="tempProdctQty"><?php echo $tempProduct['tPQ'] . ' ' . $tempProduct['aPUom']; ?></td>
                                        <td>
                                            <a class="btn btn-default temp-product-delete">
                                                <i class="pointer_cursor fa fa-trash-o"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a class="btn btn-default temp-product-duplicate">
                                                <i class="pointer_cursor fa fa-foursquare"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <?php
                                }
                            }
                            ?>
                            <tr id="tempProductPreSetSample" class="hidden">
                                <td id="tempProdctNameAndCode"></td>
                                <td id="tempProdctBatch"></td>
                                <td id="tempProdctSerial"></td>
                                <td id="tempProdctQty"></td>
                                <td class="text-center">
                                    <a class="btn btn-default temp-product-delete">
                                        <i class="pointer_cursor fa fa-trash-o"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-default temp-product-duplicate">
                                        <i class="pointer_cursor fa fa-foursquare"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div  id="showTimeAndCost" class="panel panel-default link col-lg-9">
                <div class="panel-body">
                    <h4 class="panel-title">
                        <a href="#" onclick="return false;">
                            <?php echo $this->translate('Time & Cost') ?>
                            <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
        <div id="timeCost" class="row">

            <!--estimate_time-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Estimate Time'); ?></label>
                </div>
                <div class="col-lg-6">
                    <?php echo $this->formRow($form->get('activityEstimateTime')); ?>
                </div>
            </div>

            <!--starting_time-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Starting Time'); ?></label>
                </div>
                <div class="col-lg-6">
                    <?php echo $this->formRow($form->get('startTime')); ?>
                </div>
            </div>

            <!--ending_time-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Ending Time'); ?></label>
                </div>
                <div class="col-lg-6">
                    <?php echo $this->formRow($form->get('endTime')); ?>
                </div>
            </div>

            <!--estimate_cost-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Estimate Cost'); ?></label>
                </div>
                <div class="col-lg-6">
                    <?php echo $this->formRow($form->get('activityEstimateCost')); ?>
                </div>
            </div>

            <!--cost_type-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Cost Type'); ?></label>
                </div>
                <div class="col-lg-6">
                    <select class="form-control selectpicker" title="" id="costTypeID" name="costTypeID" data-live-search="true">
                        <option value="">Select Cost Type</option>
                    </select>
                    <!--table-->
                    <table class="cost-type-table table table-condensed margin_top_normal <?php
                    if (!empty($this->activityData['costTypes'])) {
                        echo '';
                    } else {
                        echo 'hidden';
                    }
                    ?>">
                        <thead>
                            <tr>
                                <th><?php echo $this->translate('Cost Type') ?></th>
                                <th><?php echo $this->translate('Estimated Cost') ?></th>
                                <th><?php echo $this->translate('Actual Cost') ?></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr id="costSampleRow" class="hidden">
                                <td><input name="costTypeName" id="costTypeName" type="text" disabled="true" class="form-control"/></td>
                                <td><input name="estimateCost" id="estimateCost" type="text" class="form-control"/></td>
                                <td><input name="actualCost" id="actualCost" type="text" class="form-control"/></td>
                                <td class="text-center">
                                    <a class="btn btn-default cost-type-plus">
                                        <i class="pointer_cursor fa fa-plus"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-default cost-type-delete">
                                        <i class="pointer_cursor fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>

                            <?php
                            if (!empty($this->activityData['costTypes'])) {
                                foreach ($this->activityData['costTypes'] as $c) :
                                    ?>
                                    <tr id="<?php echo 'tr_' . $c['cTID'] ?>" class="addedCostType">
                                        <td id="costTypeName"><?php echo $c['cTN']; ?></td>
                                        <td id="estimateCost"><?php echo $c['cTEstimateCost']; ?></td>
                                        <td id="actualCost"><?php echo $c['cTActualCost']; ?></td>
                                        <td class="text-center">
                                            <a class="btn btn-default cost-type-delete">
                                                <i class="pointer_cursor fa fa-trash-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <?php
                                endforeach;
                            }
                            ?>

                            <tr id="costTypePreSetSample" class="hidden">
                                <td id="costTypeName"></td>
                                <td id="estimateCost"></td>
                                <td id="actualCost"></td>
                                <td class="text-center">
                                    <a class="btn btn-default cost-type-delete">
                                        <i class="pointer_cursor fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--vehicle-->
        <div class="row">
            <div  id="activityVehiclePanel" class="panel panel-default link col-lg-9">
                <div class="panel-body">
                    <h4 class="panel-title">
                        <a href="#" onclick="return false;">
                            <?php echo $this->translate('Vehicle') ?>
                            <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
        <div id="activityVehicle" class="row">
            <div class="form-group">
                <div class="col-lg-1">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Vehicle'); ?></label>
                </div>
                <div class="col-lg-8">
                    <div>
                        <select class="form-control selectpicker" title="" id="vehicleBox" name="vehicleBox" data-live-search="true">
                            <option value="">Select Vehicle</option>
                        </select>
                    </div>
                    <!--<table class="vehicle-table table table-striped margin_top_normal table-condensed hidden">-->
                    <table class="vehicle-table table table-condensed margin_top_normal <?php
                    if (!empty($this->activityData['vehicle'])) {
                        echo '';
                    } else {
                        echo 'hidden';
                    }
                    ?>">
                        <thead>
                            <tr>
                                <th style="width: 30%"><?php echo $this->translate("Vehicle"); ?></th>
                                <th style="width: 15%"><?php echo $this->translate("Stating Mileage"); ?></th>
                                <th style="width: 15%"><?php echo $this->translate("Ending Mileage"); ?></th>
                                <th style="width: 15%"><?php echo $this->translate("Distance"); ?></th>
                                <th style="width: 15%"><?php echo $this->translate("Cost"); ?></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="vehicleSampleRow" class="hidden">
                                <td><input name="vehicleRegNum" id="vehicleRegNum" type="text" disabled="true" class="form-control"/></td>
                                <td><input name="startMileage" id="startMileage" type="text" class="form-control vehicle-mileage"/></td>
                                <td><input name="endMileage" id="endMileage" type="text" class="form-control vehicle-mileage"/></td>
                                <td><input name="vehicleDistance" id="vehicleDistance" type="text" class="form-control" disabled="true"/></td>
                                <td><input name="vehicleCost" id="vehicleCost" type="text" class="form-control"/></td>
                                <td class="text-center">
                                    <a class="btn btn-default vehicle-plus">
                                        <i class="pointer_cursor fa fa-plus"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-default vehicle-delete">
                                        <span class="pointer_cursor fa fa-trash-o"></span>
                                    </a>
                                </td>
                            </tr>

                            <?php
                            if (isset($this->activityData['vehicle'])) {
                                foreach ($this->activityData['vehicle'] as $vehicle) :
                                    ?>
                                    <tr id="<?php echo 'tr_' . $vehicle['vehicleId'] ?>" class="addedVehicleCls">
                                        <td id="vehicleTypeName"><?php echo $vehicle['registrationNumber']; ?></td>
                                        <td><?php echo $vehicle['startMileage']; ?></td>
                                        <td><?php echo $vehicle['endMileage']; ?></td>
                                        <td><?php echo number_format($vehicle['distance'], 2); ?></td>
                                        <td><?php echo $vehicle['cost']; ?></td>
                                        <td class="text-center">
                                        </td>
                                        <td class="text-center">
                                            <a class="btn btn-default vehicle-delete">
                                                <span class="pointer_cursor fa fa-trash-o"></span>
                                            </a>
                                        </td>
                                    </tr>
                                    <?php
                                endforeach;
                            }
                            ?>

                            <tr id="vehiclePreSetSample" class="hidden">
                                <td id="vehicleRegNum"></td>
                                <td id="startMileage"></td>
                                <td id="endMileage"></td>
                                <td id="vehicleDistance"></td>
                                <td id="vehicleCost"></td>
                                <td></td>
                                <td class="text-right">
                                    <a class="btn btn-default vehicle-delete">
                                        <i class="pointer_cursor fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--buttons-->
        <div class="form-group margin_top button-set update">
            <div class="col-lg-9 text-right">
                <button type="button" class="btn btn-default activityEditBack"><?php echo $this->translate('Back') ?></button>
                <button type="submit" class="btn btn-primary update" id="updateActivity" ><?php echo $this->translate('Update') ?></button>
            </div>
        </div>

        <?php
        echo $this->form()->closeTag($form);
        ?>
    </div>
</div>

<!--modal-->
<div class="modal fade" id="add-product-batch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog large">
        <div class="modal-content">
            <form id="product-batch-modal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><?php echo $this->translate('&times;') ?></button>
                    <h4 class="modal-title"><?php echo $this->translate('Select Product Quantity') ?></h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" class="re_row product-type">
                    <div class="table table-responsive">
                        <table class="batch-table table-striped margin_top_normal table-condensed">
                            <thead>
                                <tr>
                                    <th style="width: 25%" class="bacth-head"><?php echo $this->translate('Batch Code') ?></th>
                                    <th style="width: 25%" class="serial-head"><?php echo $this->translate('Serial Code') ?></th>
                                    <th style="width: 25%"><?php echo $this->translate('Available Qty') ?></th>
                                    <th style="width: 25%"><?php echo $this->translate('Add Qty') ?></th>
                                </tr>
                            </thead>
                            <tbody id="batch_data">
                                <tr id="defaultRow" class="batch_row hidden">
                                    <td class="batchCode"></td>
                                    <td class="serialID"></td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" readonly="true" name="availableQuantity" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" name="addQuantity" class="form-control">
                                        </div>
                                        <input type="checkbox" name="addQuantityCheck" value="1">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-right">
                    <input type="submit" value="<?php echo $this->translate('Save') ?>" id="batchSave" class="btn btn-primary">
                    <!--<input data-dismiss="modal" aria-hidden="true" type="button" value="Back" id="batchBack" class="btn btn-danger">-->
                </div>
            </form>
        </div> <!-- /.modal-content -->
    </div> <!--/.modal-dialog -->
</div> <!--/.modal-->


<div class="modal fade" id="addContractorsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->contractorAddView; ?>
</div>
<div class="modal fade" id="addTempContractorsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->tempContractorAddView; ?>
</div>
<div class="modal fade" id="refNotSet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $refNotSet; ?>
</div>
<div class="modal fade" id="addTempProductModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->tempProductAddView; ?>
</div>

<div class="modal fade" id="relatedDocumentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $relatedDocu; ?>
</div>
<div class="modal fade" id="documentJobViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $relatedJobDocu;
    ?>
</div>


<!--row material modal-->
<?php
foreach ($this->activityData['rMProducts'] as $rawMProduct) {
    if (empty($rawMProduct['sP']) && empty($rawMProduct['bP'])) {

    } else {
        ?>
        <div class="modal fade" id='<?php echo $rawMProduct['aPC'] . 'viewRMSubProducts' ?>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4>Items</h4>
                    </div>

                    <div class="modal-body">
                        <?php
                        if (!empty($rawMProduct['bP'])) {
                            ?>
                            <div class="panel panel-default small_panel_heading">
                                <div class="panel-heading">
                                    <h5 class="font_weight">Batch items</h5>
                                </div>

                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped" style="margin-bottom: 50px;">
                                            <thead>
                                                <tr>
                                                    <th><?php echo $this->translate("BatchCode"); ?></th>
                                                    <th><?php echo $this->translate("Qty"); ?></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <?php
                                                foreach ($rawMProduct['bP'] as $batchProduct) {
                                                    ?>
                                                    <tr>
                                                        <td id="<?php echo $batchProduct['bID'] ?>"><?php echo $batchProduct['bC']; ?></td>
                                                        <td><?php echo $batchProduct['bQ']; ?></td>
                                                    </tr>
                                                <?php } ?>
                                            </tbody>
                                        </table>
                                    </div>
                                </div><!--panel_body-->
                            </div><!--panel_default-->
                            <?php
                        }
                        ?>
                        <?php
                        if (!empty($rawMProduct['sP'])) {
                            ?>
                            <div  class="panel panel-default small_panel_heading">
                                <div class="panel-heading">
                                    <h5 class="font_weight">Batch/Serial Item List</h5>
                                </div>

                                <div class="panel-body overflow_control">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th><?php echo $this->translate("Serial Code"); ?></th>
                                                    <th><?php echo $this->translate("Batch Code"); ?></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <?php
                                                foreach ($rawMProduct['sP'] as $serialProduct) {
                                                    ?>
                                                    <tr>
                                                        <td id="<?php echo $serialProduct['sID'] ?>"><?php echo $serialProduct['sC']; ?></td>
                                                        <td id="<?php echo $serialProduct['bID'] ?>"><?php echo isset($serialProduct['bC']) ? $serialProduct['bC'] : '-'; ?></td>
                                                    </tr>
                                                <?php } ?>
                                            </tbody>
                                        </table>
                                    </div>
                                </div><!--panel-body-->
                            </div><!--panel-default-->
                        <?php } ?>

                    </div><!--modal_body-->

                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
                    </div>
                </div>
            </div>
        </div>

        <?php
    }
}
?>


<!--fixed assets modal-->
<?php
if (!empty($this->activityData['fAProducts'])) {
    foreach ($this->activityData['fAProducts'] as $fixedAProduct) {
        if (empty($fixedAProduct['sP']) && empty($fixedAProduct['bP'])) {

        } else {
            ?>
            <div class="modal fade" id='<?php echo $fixedAProduct['aPC'] . 'viewFASubProducts' ?>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4>Items</h4>
                        </div>

                        <div class="modal-body">
                            <?php
                            if (!empty($fixedAProduct['bP'])) {
                                ?>
                                <div class="panel panel-default small_panel_heading">
                                    <div class="panel-heading">
                                        <h5 class="font_weight">Batch items</h5>
                                    </div>

                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped" style="margin-bottom: 50px;">
                                                <thead>
                                                    <tr>
                                                        <th><?php echo $this->translate("BatchCode"); ?></th>
                                                        <th><?php echo $this->translate("Qty"); ?></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <?php
                                                    foreach ($fixedAProduct['bP'] as $batchProduct) {
                                                        ?>
                                                        <tr>
                                                            <td id="<?php echo $batchProduct['bID'] ?>"><?php echo $batchProduct['bC']; ?></td>
                                                            <td id="<?php echo $batchProduct['sID'] ?>"><?php echo $batchProduct['bQ']; ?></td>
                                                        </tr>
                                                    <?php } ?>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div><!--panel_body-->
                                </div><!--panel_default-->
                                <?php
                            }
                            ?>
                            <?php
                            if (!empty($fixedAProduct['sP'])) {
                                ?>
                                <div  class="panel panel-default small_panel_heading">
                                    <div class="panel-heading">
                                        <h5 class="font_weight">Batch/Serial Item List</h5>
                                    </div>

                                    <div class="panel-body overflow_control">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th><?php echo $this->translate("Serial Code"); ?></th>
                                                        <th><?php echo $this->translate("Batch Code"); ?></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <?php
                                                    foreach ($fixedAProduct['sP'] as $serialProduct) {
                                                        ?>
                                                        <tr>
                                                            <td id="<?php echo $serialProduct['sID'] ?>"><?php echo $serialProduct['sC']; ?></td>
                                                            <td id="<?php echo $serialProduct['bID'] ?>"><?php echo isset($serialProduct['bC']) ? $serialProduct['bC'] : '-'; ?></td>
                                                        </tr>
                                                    <?php } ?>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div><!--panel-body-->
                                </div><!--panel-default-->
                            <?php } ?>

                        </div><!--modal_body-->

                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
                        </div>
                    </div>
                </div>
            </div>

            <?php
        }
    }
}
?>


<!--temporary product modal-->
<?php
if (!empty($this->activityData['tempProducts'])) {
    foreach ($this->activityData['tempProducts'] as $tempProduct) {
        if (empty($tempProduct['sP']) && empty($tempProduct['bP'])) {

        } else {
            ?>
            <div class="modal fade" id='<?php echo $tempProduct['aPC'] . 'viewTempSubProducts' ?>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4>Items</h4>
                        </div>

                        <div class="modal-body">
                            <?php
                            if (!empty($tempProduct['bP'])) {
                                ?>
                                <div class="panel panel-default small_panel_heading">
                                    <div class="panel-heading">
                                        <h5 class="font_weight">Batch items</h5>
                                    </div>

                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped" style="margin-bottom: 50px;">
                                                <thead>
                                                    <tr>
                                                        <th><?php echo $this->translate("BatchCode"); ?></th>
                                                        <th><?php echo $this->translate("Qty"); ?></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <?php
                                                    foreach ($tempProduct['bP'] as $batchProduct) {
                                                        ?>
                                                        <tr>
                                                            <td id="<?php echo $batchProduct['bID'] ?>"><?php echo $batchProduct['bC']; ?></td>
                                                            <td><?php echo $batchProduct['bQ']; ?></td>
                                                        </tr>
                                                    <?php } ?>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div><!--panel_body-->
                                </div><!--panel_default-->
                                <?php
                            }
                            ?>
                            <?php
                            if (!empty($tempProduct['sP'])) {
                                ?>
                                <div  class="panel panel-default small_panel_heading">
                                    <div class="panel-heading">
                                        <h5 class="font_weight">Batch/Serial Item List</h5>
                                    </div>

                                    <div class="panel-body overflow_control">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th><?php echo $this->translate("Serial Code"); ?></th>
                                                        <th><?php echo $this->translate("Batch Code"); ?></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <?php
                                                    foreach ($tempProduct['sP'] as $serialProduct) {
                                                        ?>
                                                        <tr>
                                                            <td id="<?php echo $serialProduct['sID'] ?>"><?php echo $serialProduct['sC']; ?></td>
                                                            <td id="<?php echo $serialProduct['bID'] ?>"><?php echo isset($serialProduct['bC']) ? $serialProduct['bC'] : '-'; ?></td>
                                                        </tr>
                                                    <?php } ?>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div><!--panel-body-->
                                </div><!--panel-default-->
                            <?php } ?>
                        </div><!--modal_body-->

                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
                        </div>
                    </div>
                </div>
            </div>

            <?php
        }
    }
}
?>
