<div id="activity-list-view">

    <div class="well well_heading margin_top">
        <h5 class="font_weight"><?php echo $this->translate('Search an Activity') ?></h5>
    </div>

    <div class="well well_body clearfix">

        <form class="activity-search" id="activity-search" method="post" action="">
            <div class="_row_with_margin">

                <div class="col-lg-4 col-md-12">
                    <div class="form-group">
                        <label class="control-label"><?php echo $this->translate('Select Activity') ?></label>
                        <select class="selectpicker form-control" title="<?php echo $this->translate('Select Activity') ?>"
                                data-live-search="true" id="activitySelection">
                        </select>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="control-label"><?php echo $this->translate('From') ?></label>
                        <input type="text" style="background-color: white" readonly="true"
                               class="span2 datepicker form-control pointer_cursor"
                               id="from-date" data-date-format="<?php echo $userDateFormat ?>"
                               placeholder="<?php echo $userDateFormat ?>">
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="control-label"><?php echo $this->translate('To') ?></label>
                        <input type="text" style="background-color: white" readonly="true"
                               class="span2 datepicker form-control pointer_cursor" id="to-date"
                               data-date-format="<?php echo $userDateFormat ?>"
                               placeholder="<?php echo $userDateFormat ?>">
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-4">
                    <label class="control-label">&nbsp;</label>
                    <div class="btn-group btn-block">
                        <button class="btn btn-default take-half-space" id="date-filter"><?php echo $this->translate('Search') ?></button>
                        <button class="btn btn-default take-half-space" id="clear-filter"><?php echo $this->translate('Clear') ?></button>
                    </div>
                </div>

            </div>
        </form>
    </div>

    <div id="search-activity-list">
        <?php
        echo $this->partial('job-card/activity/list-table', array('activityList' => $this->activityList,
            'paginated' => $this->paginated, 'status' => $this->status));
        ?>
    </div>
</div>

