<div class="table-responsive" id="activity-list">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="15%"><?php echo $this->translate('Activity Code') ?></th>
                <th width="15%"><?php echo $this->translate('Job Reference') ?></th>
                <th width="15%"><?php echo $this->translate('Activity Type') ?></th>
                <th width="16%"><?php echo $this->translate('Activity Name') ?></th>
                <th width="15%"><?php echo $this->translate('Estimated Cost') ?></th>
                <th width="8%"><?php echo $this->translate('Status') ?></th>
                <th width="8%"><?php echo $this->translate('Change Status') ?></th>
                <th width="5%" class="text-center" ><?php echo $this->translate('View') ?></th>
                <th width="5%" class="text-center" ><?php echo $this->translate('Edit') ?></th>
                <th width="6%" class="text-center" ><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>
        <tbody id="activityList">
            <?php
            foreach ($this->activityList as $loo) {
                $loo = (object) $loo;
                $status = $loo->activityStatus;
                $state = ucfirst($this->status[$status]);
                $style = NULL;
                switch ($status) {
                    case "3":
                        $style = "label label-success";
                        break;
                    case "8":
                        $style = "label label-primary";
                        break;
                    case "9":
                        $style = "label label-info";
                        break;
                    case "4":
                        $style = "label label-danger";
                        break;
                    default :
                        $style = "label label-default";
                }
                ?>
                <tr data-activityid="<?php echo $loo->activityId; ?>">
                    <td class="actCode"><?php echo $loo->activityCode ?></td>
                    <td class="jRefNumber"><?php echo $loo->jobReferenceNumber ?></td>
                    <td class="actType"><?php echo $loo->activityTypeName ?></td>
                    <td class="actNme"><?php echo is_null($loo->activityName) ? '-' : $loo->activityName; ?></td>
                    <td class="empHoCst"><?php echo number_format($loo->activityEstimatedCost, 2) ?></td>
                    <td class="actStatus"><span class="<?php echo $style; ?>"> <?php echo $state; ?></span></td>
                    <td class="text-center">
                    <?php if($loo->customerStatus == 1) { ?>
                        <a href="#" class="<?php echo ($status == '4') ? 'disabled':'activityChangeStatus'; ?>" data-toggle="modal" data-status="<?php echo $status; ?>"><i class="fa fa-toggle-on"></i>
                        </a>
                    <?php } else { ?>
                        <a href="#" class="<?php echo ($status == '4') ? 'disabled':'editsInactive'; ?>" data-toggle="modal" data-status="<?php echo $status; ?>"><i class="fa fa-toggle-on"></i>
                        </a>
                        <?php } ?>
                    </td>
                    <td width="10%" class="text-center">
                        <a href="<?php echo $this->url('activity', array('action' => 'view', 'param1' => $loo->activityId)); ?>" class="fullView">
                            <span class="glyphicon glyphicon-eye-open openlist custom_font_size"></span>
                        </a>
                    </td>
                    <td width="20%" class="text-center">
                        <?php if($loo->customerStatus == 1) { ?>
                            <span id="<?php echo $loo->activityId; ?>" class=" link_color <?php echo ($status == '4') ? 'link_disabled disabled':'edit'; ?>" style="cursor:pointer">
                                <i class="fa fa-pencil-square-o"></i>
                            </span>
                        <?php } else { ?>
                            <a href="#" id="<?php echo $loo->activityId; ?>" class=" link_color <?php echo ($status == '4') ? 'link_disabled disabled':'editsInactive'; ?>" style="cursor:pointer">
                                <i class="fa fa-pencil-square-o"></i>
                            </a>
                            <?php } ?>
                    </td>
                    <td width="20%" class="text-center" >
                        <?php if($loo->customerStatus == 1) { ?>
                            <a href="#" class="<?php echo ($status == '4') ? 'link_disabled disabled' : 'delete-activity'; ?>">
                                <i class="fa <?php
                                if ($loo->deleted == 0) {
                                    echo 'fa-trash-o';
                                } else {
                                    echo '';
                                }
                                ?> custom_font_size"> </i>
                            </a>
                        <?php } else { ?>
                             <a href="#" class="<?php echo ($status == '4') ? 'link_disabled disabled' : 'editsInactive'; ?>">
                                <i class="fa <?php
                                if ($loo->deleted == 0) {
                                    echo 'fa-trash-o';
                                } else {
                                    echo '';
                                }
                                ?> custom_font_size"> </i>
                            </a>
                            <?php } ?>
                    </td>
                </tr>
                <?php
            }
            if (count($this->activityList) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>

        </tbody>
    </table>
</div>
<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->activityList, 'sliding', array('partial/paginator.phtml', 'activityList'), array(
        'route' => 'activity', 'action' => 'list'
            )
    );
}
?>

<div class="modal fade" id="activityStatueChangeModal" tabindex="-1" role="dialog" aria-labelledby="activityStatueChangeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="activityStatueChangeModalLabel">Change Status</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="form-horizontal">
                        <label class="col-lg-3 control-label">Select Status</label>
                        <div class="col-lg-5">
                            <select id="statusValue" class="form-control">
                                <option value="3">Open</option>
                                <option value="8">In Progress</option>
                                <option value="9">Completed</option>
                                <option value="4">Closed</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="changeStatusBtn">Change</button>
            </div>
        </div>
    </div>
</div>

