<?php
$form = $this->activityForm;
$form->setAttribute('id', 'activityForm');
?>


<div class="activity-form-container margin_top">
    <div class="row">

        <div class="col-lg-10 remove_left_padding">

            <div class="well well_heading">
                <h5 class="font_weight add"><?php echo $this->translate('Add Activity') ?></h5>
                <h5 class="font_weight update hidden"><?php echo $this->translate('Update Activity Type') ?></h5>
            </div>

            <div class="well well_body">
                <?php
                $form->prepare();
                echo $this->form()->openTag($form);
                ?>

                <!--activity_code-->
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="control-label label_bottom_margin"><?php echo $this->translate('Activity Code '); ?></label>
                    </div>
                    <div class="col-lg-6">
                        <input name="actID" id="actID" value="<?php echo $this->activityID; ?>" type="text" hidden="true">
                        <?php echo $this->formRow($form->get('activityID')); ?>
                        <?php echo $this->formRow($form->get('locationID')); ?>
                    </div>
                </div>

                <!--Activity_name-->
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="control-label label_bottom_margin"><?php echo $this->translate('Activity Name '); ?><font color="red"> *</font></label>
                    </div>
                    <div class="col-lg-6">
                        <?php echo $this->formRow($form->get('activityName')); ?>
                    </div>
                </div>

                <!--project_reference-->
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="control-label label_bottom_margin"><?php echo $this->translate('Project Reference '); ?></label>
                    </div>
                    <div class="col-lg-6">
                        <?php echo $this->formRow($form->get('projectReferenceID')); ?>
                    </div>
                </div>

                <!--job_reference-->
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="control-label label_bottom_margin"><?php echo $this->translate('Job Reference '); ?><font color="red"> *</font></label>
                    </div>
                    <div class="col-lg-6">
                        <?php echo $this->formRow($form->get('jobReferenceID')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-3">
                        <lable class="control-label label_bottom_margin"><?php echo $this->translate('Customer Name') ?></lable>
                    </div>
                    <div class="col-lg-6">
                        <lable class="form-control"><?php echo $this->activityData['cusName'] ?></lable>
                    </div>
                </div>

                <!--activity_type-->
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="control-label label_bottom_margin"><?php echo $this->translate('Activity Type ') ?><font color="red"> *</font></label>
                    </div>
                    <div class="col-lg-6" id="actName">
                        <?php echo $this->formRow($form->get('activityTypeID')); ?>
                    </div>
                </div>

                <!--contractors-->
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="control-label label_bottom_margin"><?php echo $this->translate('Contractors') ?></label>
                    </div>
                    <div class="col-lg-6">
                        <!--table-->
                        <table class="contractor-table table table-condensed margin_top_normal">
                            <thead>
                                <?php if (!empty($this->activityData['contractors'])): ?>
                                    <tr>
                                        <th><?php echo $this->translate('Contractors') ?></th>
                                    </tr>
                                <?php endif; ?>
                            </thead>
                            <tbody>
                                <?php
                                if (isset($this->activityData['contractors'])) {
                                    foreach ($this->activityData['contractors'] as $value) :
                                        ?>
                                        <tr id="contractorPreSetSample">
                                            <td id="contractorName"><?php echo $value['cFN'] . ' - ' . $value['cSN']; ?></td>
                                        </tr>
                                        <?php
                                    endforeach;
                                }
                                ?>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--temporary_contractors-->
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="control-label label_bottom_margin"><?php echo $this->translate('Temporary Contractors') ?></label>
                    </div>
                    <div class="col-lg-6">
                        <table class="temp-contractor-table table table-condensed margin_top_normal">
                            <thead>
                                <?php if (!empty($this->activityData['tempContractors'])): ?>
                                    <tr>
                                        <th><?php echo $this->translate('Temporary Contractors') ?></th>
                                    </tr>
                                <?php endif; ?>
                            </thead>
                            <tbody>
                                <?php
                                if (isset($this->activityData['tempContractors'])) {
                                    foreach ($this->activityData['tempContractors'] as $value) :
                                        ?>
                                        <tr id="tempContractorPreSetSample">
                                            <td id="tempContractorName"><?php echo $value['cTFN'] . '-' . $value['cTSN']; ?></td>
                                        </tr>
                                        <?php
                                    endforeach;
                                }
                                ?>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--activity_description-->
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="control-label label_bottom_margin"><?php echo $this->translate('Activity Description'); ?></label>
                    </div>
                    <div class="col-lg-6">
                        <?php echo $this->formRow($form->get('activityDescription')); ?>
                    </div>
                </div>

                <!--activity_owner-->
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="control-label label_bottom_margin"><?php echo $this->translate('Activity Owner'); ?></label>
                    </div>
                    <div class="col-lg-6">
                        <!--table-->
                        <table class="activity-owner-table table table-condensed margin_top_normal">
                            <?php if (!empty($this->activityData['owners'])): ?>
                                <thead>
                                    <tr>
                                        <th><?php echo $this->translate('First Name - Sencond Name') ?></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php foreach ($this->activityData['owners'] as $o) : ?>
                                        <tr id="activityOwnerPreSetSample">
                                            <td id="activityOwnerName"><?php echo $o['oFN'] . '-' . $o['oTSN'] ?></td>
                                        </tr>
                                    <?php endforeach; ?>
                                </tbody>
                            <?php endif; ?>
                        </table>
                    </div>
                </div>

                <!--activity_supervisor-->
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="control-label label_bottom_margin"><?php echo $this->translate('Activity Supervisor'); ?></label>
                    </div>
                    <div class="col-lg-6">
                        <table class="activity-supervisor-table table table-condensed margin_top_normal">
                            <?php if (!empty($this->activityData['supervisors'])): ?>
                                <thead>
                                    <tr>
                                        <th><?php echo $this->translate('Activity Supervisor') ?></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php foreach ($this->activityData['supervisors'] as $s) : ?>
                                        <tr id="actSupPreSetSample">
                                            <td id="activitySupervisorName"><?php echo $s['sFN'] . '-' . $s['sTSN']; ?></td>
                                        </tr>
                                    <?php endforeach; ?>
                                </tbody>
                            <?php endif; ?>
                        </table>
                    </div>
                </div>

                <!--raw_materials-->
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="control-label label_bottom_margin"><?php echo $this->translate('Raw Materials'); ?></label>
                    </div>
                    <div class="col-lg-6">
                        <div id="rawMaterialTable">
                            <table class="raw-product-table table table-condensed margin_top_normal">
                                <thead>
                                    <?php if (!empty($this->activityData['rMProducts'])): ?>
                                        <tr>
                                            <th><?php echo $this->translate('Product Code - Name') ?></th>
                                            <th><?php echo $this->translate('Quantity') ?></th>
                                            <th><?php echo $this->translate("U.Price ($this->companyCurrencySymbol)") ?></th>
                                            <th></th>
                                        </tr>
                                    <?php endif; ?>
                                </thead>
                                <tbody id="form_row">
                                    <?php
                                    $total = 0.00;
                                    if (isset($this->activityData['rMProducts'])) {
                                        foreach ($this->activityData['rMProducts'] as $rMProduct) {
                                            $aQty = 0;

                                            if ($rMProduct['bP']) {
                                                foreach ($rMProduct['bP'] as $data) {
                                                    $aQty += $data['bQ'];
                                                }
                                            } else if (!empty($rMProduct['sP'])) {
                                                $aQty = sizeof($rMProduct['sP']);
                                            } else {
                                                $aQty = $rMProduct['aPQ'];
                                            }
                                            $subTotal = $aQty * $rMProduct['aP'] ? $aQty * $rMProduct['aP'] : 0;
                                            $total += $subTotal;
                                            ?>

                                            <tr>
                                                <td><?php echo $rMProduct['aPC'] . '-' . $rMProduct['aPN']; ?></td>
                                                <td><?php echo $aQty . ' ' . $rMProduct['aPUom']; ?></td>
                                                <td><?php echo $rMProduct['uPrice']; ?></td>
                                                <td class="text-right">
                                                    <?php
                                                    if (empty($rMProduct['sP']) && empty($rMProduct['bP'])) {

                                                    } else {
                                                        ?>
                                                        <a data-toggle="modal" href='#<?php echo $rMProduct['aPC'] . 'viewRMSubProducts' ?>' class='btn btn-default'><i class="glyphicon glyphicon-expand"></i></a>
                                                        <?php
                                                    }
                                                    ?>
                                                </td>
                                            </tr>
                                            <?php
                                        }
                                    }
                                    ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!--fixed_assets-->
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="control-label label_bottom_margin"><?php echo $this->translate('Fixed Assets'); ?></label>
                    </div>
                    <div class="col-lg-6">
                        <!--table-->
                        <table class="fixed-assets-table table table-condensed margin_top_normal">
                            <thead>
                                <?php if (!empty($this->activityData['fAProducts'])): ?>
                                    <tr>
                                        <th><?php echo $this->translate('Product Code - Name') ?></th>
                                        <th><?php echo $this->translate('Quantity') ?></th>
                                        <th><?php echo $this->translate("U.Price ($this->companyCurrencySymbol)") ?></th>
                                        <th></th>
                                    </tr>
                                <?php endif; ?>
                            </thead>
                            <tbody id="form_row">
                                <?php
                                $total = 0.00;
                                if (isset($this->activityData['fAProducts'])) {
                                    foreach ($this->activityData['fAProducts'] as $fAProduct) {
                                        $aQty = 0;

                                        if ($fAProduct['bP']) {
                                            foreach ($fAProduct['bP'] as $data) {
                                                $aQty += $data['bQ'];
                                            }
                                        } else if (!empty($fAProduct['sP'])) {
                                            $aQty = sizeof($fAProduct['sP']);
                                        } else {
                                            $aQty = $fAProduct['aPQ'];
                                        }
                                        $subTotal = $aQty * $fAProduct['aP'] ? $aQty * $fAProduct['aP'] : 0;
                                        $total += $subTotal;
                                        ?>
                                        <tr>
                                            <td><?php echo $fAProduct['aPC'] . '-' . $fAProduct['aPN']; ?></td>
                                            <td><?php echo $aQty . ' ' . $fAProduct['aPUom']; ?></td>
                                            <td><?php echo $fAProduct['uPrice']; ?></td>
                                            <td class="text-right">
                                                <?php
                                                if (empty($fAProduct['sP']) && empty($fAProduct['bP'])) {

                                                } else {
                                                    ?>
                                                    <a data-toggle="modal" href='#<?php echo $fAProduct['aPC'] . 'viewFASubProducts' ?>' class='btn btn-default'><i class="glyphicon glyphicon-expand"></i></a>
                                                    <?php
                                                }
                                                ?>
                                            </td>
                                        </tr>
                                        <?php
                                    }
                                }
                                ?>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--estimate_time-->
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="control-label label_bottom_margin"><?php echo $this->translate('Estimate Time'); ?></label>
                    </div>
                    <div class="col-lg-6">
                        <?php echo $this->formRow($form->get('activityEstimateTime')); ?>
                    </div>
                </div>

                <!--starting_time-->
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="control-label label_bottom_margin"><?php echo $this->translate('Starting Time'); ?></label>
                    </div>
                    <div class="col-lg-6">
                        <?php echo $this->formRow($form->get('startTime')); ?>
                    </div>
                </div>

                <!--ending_time-->
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="control-label label_bottom_margin"><?php echo $this->translate('Ending Time'); ?></label>
                    </div>
                    <div class="col-lg-6">
                        <?php echo $this->formRow($form->get('endTime')); ?>
                    </div>
                </div>

                <!--estimate_cost-->
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="control-label label_bottom_margin"><?php echo $this->translate('Estimate Cost'); ?></label>
                    </div>
                    <div class="col-lg-6">
                        <?php echo $this->formRow($form->get('activityEstimateCost')); ?>
                    </div>
                </div>

                <!--temporary_items-->
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="control-label label_bottom_margin"><?php echo $this->translate('Temporary Item'); ?></label>
                    </div>
                    <div class="col-lg-6">
                        <table class="temp-product-table table table-condensed margin_top_normal">
                            <thead>
                                <?php if (!empty($this->activityData['tempProducts'])): ?>
                                    <tr>
                                        <th><?php echo $this->translate('Product Code - Name') ?></th>
                                        <th><?php echo $this->translate('product Batch') ?></th>
                                        <th><?php echo $this->translate('product Serial') ?></th>
                                        <th><?php echo $this->translate('Quantity') ?></th>
                                        <th><?php echo $this->translate('View') ?></th>
                                    </tr>
                                <?php endif; ?>
                            </thead>
                            <tbody id="form_row">
                                <?php
                                $total = 0.00;
                                if (isset($this->activityData['tempProducts'])) {
                                    foreach ($this->activityData['tempProducts'] as $tempProduct) {
                                        ?>

                                        <tr>
                                            <td><?php echo $tempProduct['tPC'] . '-' . $tempProduct['tPN']; ?></td>
                                            <td><?php echo $tempProduct['bCode']; ?></td>
                                            <td><?php echo $tempProduct['sCode']; ?></td>
                                            <td><?php echo $tempProduct['tPQ'] . ' ' . $tempProduct['aPUom']; ?></td>
                                            <td>
                                                <a href="" class="viewTemporaryProduct" data-id="<?php echo $tempProduct['aPID'] ?>">
                                                    <span class="glyphicon glyphicon-eye-open"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <?php
                                    }
                                }
                                ?>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--cost_type-->
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="control-label label_bottom_margin"><?php echo $this->translate('Cost Type'); ?></label>
                    </div>
                    <div class="col-lg-6">
                        <table class="cost-type-table table table-condensed margin_top_normal">
                            <thead>
                                <?php if (!empty($this->activityData['costTypes'])): ?>
                                    <tr>
                                        <th><?php echo $this->translate('Cost Type') ?></th>
                                        <th><?php echo $this->translate('Estimated Cost') ?></th>
                                        <th><?php echo $this->translate('Actual Cost') ?></th>
                                    </tr>
                                <?php endif; ?>
                            </thead>
                            <tbody>
                                <?php
                                if (isset($this->activityData['costTypes'])) {
                                    foreach ($this->activityData['costTypes'] as $c) :
                                        ?>
                                        <tr id="costTypePreSetSample">
                                            <td id="costTypeName"><?php echo $c['cTN']; ?></td>
                                            <td><?php echo number_format($c['cTEstimateCost'], 2); ?></td>
                                            <td><?php echo number_format($c['cTActualCost'], 2); ?></td>
                                        </tr>
                                        <?php
                                    endforeach;
                                }
                                ?>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--vehicles-->
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="control-label label_bottom_margin"><?php echo $this->translate('Vehicles'); ?></label>
                    </div>
                    <div class="col-lg-6">
                        <table class="cost-type-table table table-condensed margin_top_normal">
                            <?php if (!empty($this->activityData['vehicle'])): ?>
                                <thead>
                                    <tr>
                                        <th><?php echo $this->translate('Vehicle') ?></th>
                                        <th><?php echo $this->translate('Starting Mileage') ?></th>
                                        <th><?php echo $this->translate('Ending Mileage') ?></th>
                                        <th><?php echo $this->translate('Distance') ?></th>
                                        <th><?php echo $this->translate('Cost') ?></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php
                                    foreach ($this->activityData['vehicle'] as $vehicle) :
                                        ?>
                                        <tr id="vehiclePreSetSample">
                                            <td id="vehicleTypeName"><?php echo $vehicle['registrationNumber']; ?></td>
                                            <td><?php echo $vehicle['startMileage']; ?></td>
                                            <td><?php echo $vehicle['endMileage']; ?></td>
                                            <td><?php echo number_format($vehicle['distance'], 2); ?></td>
                                            <td><?php echo number_format($vehicle['cost'], 2); ?></td>
                                        </tr>
                                        <?php
                                    endforeach;
                                    ?>
                                </tbody>
                            <?php endif; ?>
                        </table>
                    </div>
                </div>

                <!--repeat activity-->
                <div class="form-group">
                    <label class="col-lg-3 control-label label_bottom_margin">
                        <?php echo $this->formRow($form->get('activityRepeatEnabled')); ?>
                        <?php echo $this->translate('Repeat Activity') ?>
                    </label>
                    <div class="col-lg-6" id="activityRepeatCommentBox">
                        <?php echo $this->formRow($form->get('activityRepeatComment')); ?>
                    </div>
                </div>

                <?php
                echo $this->form()->closeTag($form);
                ?>
            </div>
        </div><!--./col-->
        <?php if (isset($this->jobRelatedSubViewFlag)) { ?>
            <div class="col-lg-2 remove_right_padding hidden">
                <input type="button" value="Edit Activity" class="btn btn-block btn-primary" id="editActivity">
                <button type="button" class="btn btn-default btn-block viewBack" id="activityViewBack"><?php echo $this->translate('Back') ?></button>
            </div><!--./col-->
        <?php } else { ?>
            <div class="col-lg-2 remove_right_padding">
                <input type="button" value="Edit Activity" class="btn btn-block btn-primary" id="editActivity">
                <button type="button" class="btn btn-default btn-block viewBack" id="activityViewBack"><?php echo $this->translate('Back') ?></button>
            </div><!--./col-->
        <?php } ?>

    </div><!--row-->
</div><!--activity_form_container-->


<!--row material modal-->
<?php
if (isset($this->activityData['rMProducts'])) {
    foreach ($this->activityData['rMProducts'] as $rawMProduct) {
        if (empty($rawMProduct['sP']) && empty($rawMProduct['bP'])) {

        } else {
            ?>
            <div class="modal fade" id='<?php echo $rawMProduct['aPC'] . 'viewRMSubProducts' ?>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4>Items</h4>
                        </div>

                        <div class="modal-body">
                            <?php
                            if (!empty($rawMProduct['bP'])) {
                                ?>
                                <div class="panel panel-default small_panel_heading">
                                    <div class="panel-heading">
                                        <h5 class="font_weight">Batch items</h5>
                                    </div>

                                    <div class="panel-body">

                                        <div class="table-responsive">
                                            <table class="table table-striped" style="margin-bottom: 50px;">
                                                <thead>
                                                    <tr>
                                                        <th><?php echo $this->translate("BatchCode"); ?></th>
                                                        <th><?php echo $this->translate("Qty"); ?></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <?php
                                                    foreach ($rawMProduct['bP'] as $batchProduct) {
                                                        ?>
                                                        <tr>
                                                            <td id="<?php echo $batchProduct['bID'] ?>"><?php echo $batchProduct['bC']; ?></td>
                                                            <td><?php echo $batchProduct['bQ']; ?></td>
                                                        </tr>
                                                    <?php } ?>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div><!--panel_body-->
                                </div><!--panel_default-->
                                <?php
                            }
                            ?>
                            <?php
                            if (!empty($rawMProduct['sP'])) {
                                ?>
                                <div  class="panel panel-default small_panel_heading">
                                    <div class="panel-heading">
                                        <h5 class="font_weight">Batch/Serial Item List</h5>
                                    </div>

                                    <div class="panel-body overflow_control">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th><?php echo $this->translate("Serial Code"); ?></th>
                                                        <th><?php echo $this->translate("Batch Code"); ?></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <?php
                                                    foreach ($rawMProduct['sP'] as $serialProduct) {
                                                        ?>
                                                        <tr>
                                                            <td id="<?php echo $serialProduct['sID'] ?>"><?php echo $serialProduct['sC']; ?></td>
                                                            <td id="<?php echo $serialProduct['bID'] ?>"><?php echo isset($serialProduct['bC']) ? $serialProduct['bC'] : '-'; ?></td>
                                                        </tr>
                                                    <?php } ?>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div><!--panel-body-->
                                </div><!--panel-default-->
                            <?php } ?>

                        </div><!--modal_body-->

                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
                        </div>
                    </div>
                </div>
            </div>

            <?php
        }
    }
}
?>

<!--fixed assets modal-->
<?php
if (isset($this->activityData['fAProducts'])) {
    foreach ($this->activityData['fAProducts'] as $fixedAProduct) {
        if (empty($fixedAProduct['sP']) && empty($fixedAProduct['bP'])) {

        } else {
            ?>
            <div class="modal fade" id='<?php echo $fixedAProduct['aPC'] . 'viewFASubProducts' ?>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4>Items</h4>
                        </div>

                        <div class="modal-body">
                            <?php
                            if (!empty($fixedAProduct['bP'])) {
                                ?>
                                <div class="panel panel-default small_panel_heading">
                                    <div class="panel-heading">
                                        <h5 class="font_weight">Batch items</h5>
                                    </div>

                                    <div class="panel-body">

                                        <div class="table-responsive">
                                            <table class="table table-striped" style="margin-bottom: 50px;">
                                                <thead>
                                                    <tr>
                                                        <th><?php echo $this->translate("BatchCode"); ?></th>
                                                        <th><?php echo $this->translate("Qty"); ?></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <?php
                                                    foreach ($fixedAProduct['bP'] as $batchProduct) {
                                                        ?>
                                                        <tr>
                                                            <td id="<?php echo $batchProduct['bID'] ?>"><?php echo $batchProduct['bC']; ?></td>
                                                            <td id="<?php echo $batchProduct['sID'] ?>"><?php echo $batchProduct['bQ']; ?></td>
                                                        </tr>
                                                    <?php } ?>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div><!--panel_body-->
                                </div><!--panel_default-->
                                <?php
                            }
                            ?>
                            <?php
                            if (!empty($fixedAProduct['sP'])) {
                                ?>
                                <div  class="panel panel-default small_panel_heading">
                                    <div class="panel-heading">
                                        <h5 class="font_weight">Batch/Serial Item List</h5>
                                    </div>

                                    <div class="panel-body overflow_control">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th><?php echo $this->translate("Serial Code"); ?></th>
                                                        <th><?php echo $this->translate("Batch Code"); ?></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <?php
                                                    foreach ($fixedAProduct['sP'] as $serialProduct) {
                                                        ?>
                                                        <tr>
                                                            <td id="<?php echo $serialProduct['sID'] ?>"><?php echo $serialProduct['sC']; ?></td>
                                                            <td id="<?php echo $serialProduct['bID'] ?>"><?php echo isset($serialProduct['bC']) ? $serialProduct['bC'] : '-'; ?></td>
                                                        </tr>
                                                    <?php } ?>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div><!--panel-body-->
                                </div><!--panel-default-->
                            <?php } ?>

                        </div><!--modal_body-->

                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
                        </div>
                    </div>
                </div>
            </div>

            <?php
        }
    }
}
?>

<div class="modal fade" id="TemporaryProductModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Temporary Product Details</h4>
            </div>

            <div class="modal-body clearfix" style=" position: relative;">
                <div class="table-responsive">
                    <table class="table table-striped" style="margin-bottom: 50px;">
                        <tbody>
                            <tr>
                                <td><?php echo $this->translate('Item Code'); ?></td>
                                <td><span id="temporaryProductItemCode"></span></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('Item Name'); ?></td>
                                <td><span id="temporaryProductItemName"></span></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('Description'); ?></td>
                                <td><span id="temporaryProductDescription"></span></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('Price'); ?></td>
                                <td><span id="temporaryProductPrice"></span></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('Quantity'); ?></td>
                                <td><span id="temporaryProductQuantity"></span></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('Product Batch'); ?></td>
                                <td><span id="temporaryProductBatch"></span></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('Product Serial'); ?></td>
                                <td><span id="temporaryProductSerial"></span></td>
                            </tr>
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <div class="col-lg-12">
                            <?php echo $this->translate('Images'); ?>
                        </div>
                        <div id="images" class="col-lg-12 remove_left_padding remove_right_padding">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-info"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>
<!--temporary product modal-->
<?php
if (isset($this->activityData['tempProducts'])) {
    foreach ($this->activityData['tempProducts'] as $tempProduct) {
        if (empty($tempProduct['sP']) && empty($tempProduct['bP'])) {

        } else {
            ?>
            <div class="modal fade" id='<?php echo $tempProduct['aPC'] . 'viewTempSubProducts' ?>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4>Items</h4>
                        </div>

                        <div class="modal-body">
                            <?php
                            if (!empty($tempProduct['bP'])) {
                                ?>
                                <div class="panel panel-default small_panel_heading">
                                    <div class="panel-heading">
                                        <h5 class="font_weight">Batch items</h5>
                                    </div>

                                    <div class="panel-body">

                                        <div class="table-responsive">
                                            <table class="table table-striped" style="margin-bottom: 50px;">
                                                <thead>
                                                    <tr>
                                                        <th><?php echo $this->translate("BatchCode"); ?></th>
                                                        <th><?php echo $this->translate("Qty"); ?></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <?php
                                                    foreach ($tempProduct['bP'] as $batchProduct) {
                                                        ?>
                                                        <tr>
                                                            <td id="<?php echo $batchProduct['bID'] ?>"><?php echo $batchProduct['bC']; ?></td>
                                                            <td><?php echo $batchProduct['bQ']; ?></td>
                                                        </tr>
                                                    <?php } ?>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div><!--panel_body-->
                                </div><!--panel_default-->
                                <?php
                            }
                            ?>
                            <?php
                            if (!empty($tempProduct['sP'])) {
                                ?>
                                <div  class="panel panel-default small_panel_heading">
                                    <div class="panel-heading">
                                        <h5 class="font_weight">Batch/Serial Item List</h5>
                                    </div>

                                    <div class="panel-body overflow_control">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th><?php echo $this->translate("Serial Code"); ?></th>
                                                        <th><?php echo $this->translate("Batch Code"); ?></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <?php
                                                    foreach ($tempProduct['sP'] as $serialProduct) {
                                                        ?>
                                                        <tr>
                                                            <td id="<?php echo $serialProduct['sID'] ?>"><?php echo $serialProduct['sC']; ?></td>
                                                            <td id="<?php echo $serialProduct['bID'] ?>"><?php echo isset($serialProduct['bC']) ? $serialProduct['bC'] : '-'; ?></td>
                                                        </tr>
                                                    <?php } ?>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div><!--panel-body-->
                                </div><!--panel-default-->
                            <?php } ?>

                        </div><!--modal_body-->

                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
                        </div>
                    </div>
                </div>
            </div>

            <?php
        }
    }
}
?>