<div class="col-lg-4 col-md-4" id="serviceList">
	<div class="panel panel-default dashboard-widgets">
	    <div class="panel-heading">
	    	<div class="row text-center" >
				<span class="job-dashboard-header"><?php echo $this->translate('Services') ?></span>
			</div>
	    </div>
	    <div class="panel-body vehicle_reg_list_panel_body_mod" id="pendigServiceList">
	    	<?php foreach ($this->pendingServices as $key => $service) {
    			$service = (object) $service;
    		?>    		
    		<div id="<?php echo $service->jobTaskID; ?>" class="<?php echo ($service->restarted) ? 'job_service_pending_list text-center pending-service-list-item restartListItem': 'job_service_pending_list text-center pending-service-list-item'?>" data-job-task-id="<?php echo $service->jobTaskID ?>" data-job-id="<?php echo $service->jobId ?>"><?php echo $service->jobReferenceNumber.' - '.$service->serviceVehicleRegNo.' - '.$service->vehicleModelName.' - '.$service->taskName.' - '.$service->taskCardName ?></div>
    		<?php 
    		} 
    		if (count($this->pendingServices) == 0) {
                ?>
                <div>
       				<center><p class="no-pending-services" style="color: grey;"><?php echo $this->translate('No Services were found') ?>.</p></center>
                </div>
                <?php
            }
    		?>
	    </div>
	</div>
</div>
<div class="col-lg-5 col-md-5">
	<div class="panel panel-default dashboard-widgets">
	    <div class="panel-heading">
	    	<div class="row text-center">
				<span class="job-dashboard-header"><?php echo $this->translate('Stations') ?></span>
			</div>
	    </div>
	    <div class="panel-body vehicle_reg_list_panel_body_mod" id ="depStations">
	    	<div class="row">
	    		<?php foreach ($departmentStations as $key => $station) {
	    			$station = (object) $station;
	    		?>
	    			<div class="<?php echo ($station->engaged) ? ' col-lg-5 col-xs-5 job_progress_sub_list text-center department-station-list engaged-list-item': ' col-lg-5 col-xs-5 job_progress_sub_list text-center department-station-list' ?>" data-department-station-id="<?php echo $station->departmentStationId ?>"><?php echo $station->departmentStationName; ?></div>
	    		<?php 
	    		}
	    		if (count($departmentStations) == 0) {
	                ?>
	                <div>
	       				<center><p class="no-department-stations" style="color: grey;"><?php echo $this->translate('No Stations were found') ?>.</p></center>
	                </div>
	                <?php
	            }

	    		?>
	    	</div>
	    </div>
	</div>
</div>
<div class="col-lg-3 col-md-3">
	<div class="panel panel-default dashboard-widgets">
	    <div class="panel-heading">
	    	<div class="row text-center">
				<span class="job-dashboard-header"><?php echo $this->translate('Employees') ?></span>
			</div>
	    </div>
	    <div class="panel-body vehicle_reg_list_panel_body_mod" id="departmentEmpList">
	    	<?php foreach ($departmentEmployees as $key => $employee) {
	    		$employee = (object) $employee;
	    	?>
	    		<div class=" <?php echo ($employee->engaged) ? 'job_progress_sub_list text-center department-emp-list-item engaged-list-item': 'job_progress_sub_list text-center department-emp-list-item' ?>  " data-employee-id="<?php echo $employee->employeeId ?>"><?php echo ($employee->employeeFirstName)? $employee->employeeCode.' - '.$employee->employeeFirstName: $employee->employeeCode; ?></div>
	    	<?php 
	    	}

	    	if (count($departmentEmployees) == 0) {
	                ?>
	                <div>
	       				<center><p class="no-department-employees" style="color: grey;"><?php echo $this->translate('No Employees were found') ?>.</p></center>
	                </div>
	                <?php
	            }
	    	?>
	    </div>
	</div>
</div>

<div class="col-lg-12 col-md-12 col-xs-12 text-right">
	<button type="button" class="btn btn-success" style="width: 100px; margin-bottom: 10px;" id="startTask"><?php echo $this->translate('Start') ?></button>
</div>
<div class="col-lg-12 col-md-12 col-xs-12 text-right">
	<button type="button" class="btn btn-success hidden" style="width: 100px; margin-bottom: 10px;" id="resumeSrvce"><?php echo $this->translate('Resume') ?></button>
</div>

<div class="row">
	<div class="col-lg-12 col-md-12 col-xs-12">
		<div class="panel panel-default dashboard-widgets">
		    <div class="panel-heading">
		    	<div class="row text-center">
					<span class="job-dashboard-header"><?php echo $this->translate('Progress') ?></span>
				</div>
		    </div>
		    <div class="panel-body vehicle_reg_list_panel_body" id="mainServiceList">
		    	<div class="row progress-list-header" style="margin-bottom: 20px;">
		    		<div class="col-lg-10 col-md-10 col-xs-10">
			    		<div class="col-lg-2 col-md-2 col-xs-2"><?php echo $this->translate('Job Code') ?></div>
			    		<div class="col-lg-2 col-md-2 col-xs-2"><?php echo $this->translate('Service') ?></div>
			    		<div class="col-lg-2 col-md-2 col-xs-2"><?php echo $this->translate('Vehicle') ?></div>
			    		<div class="col-lg-3 col-md-3 col-xs-3"><?php echo $this->translate('Started At') ?></div>
			    		<div class="col-lg-3 col-md-3 col-xs-3"><?php echo $this->translate('Ended At') ?></div>
		    		</div>
		    	</div>
		    	<?php foreach ($progressServices as $key => $jobService) {
		    		$jobService = (object) $jobService;
		    	?>

		    	<div class="row main-service-row" style="margin-bottom: 10px;" id="<?php echo 'main_row_'.$jobService->jobTaskID ?>">
		    		<div class="col-lg-10 col-md-10 col-xs-10 progress-list progress-list-color" id="<?php echo 'row_'.$jobService->jobTaskID ?>" data-job-task-id="<?php echo $jobService->jobTaskID ?>" data-job-id="<?php echo $jobService->jobId ?>" data-job-task-status="<?php echo $jobService->jobTaskStatus ?>">
			    		<span class="col-lg-2 col-md-2 col-xs-2"><?php echo $jobService->jobReferenceNumber?></span>
			    		<span class="col-lg-2 col-md-2 col-xs-2"><?php echo $jobService->taskName?></span>
			    		<span class="col-lg-2 col-md-2 col-xs-2"><?php echo $jobService->serviceVehicleRegNo?></span>
			    		<span class="col-lg-3 col-md-3 col-xs-3"><?php
			    				$from = new \DateTimeZone('GMT');
		                        $to = new \DateTimeZone($this->timeZone);
		                        $orgTime = new \DateTime($jobService->startedAt, $from);
		                        $toTime = new \DateTime($orgTime->format("c"));
		                        $toTime->setTimezone($to);
		                        echo $toTime->format('Y-m-d H:i:s');
			    		?></span>
			    		<span class="col-lg-3 col-md-3 col-xs-3"><?php
			    				if ($jobService->endedAt) {
				    				$from = new \DateTimeZone('GMT');
			                        $to = new \DateTimeZone($this->timeZone);
			                        $orgTime = new \DateTime($jobService->endedAt, $from);
			                        $toTime = new \DateTime($orgTime->format("c"));
			                        $toTime->setTimezone($to);
			                        echo $toTime->format('Y-m-d H:i:s');
			    				} else {
			    					echo "--";
			    				}
						?></span>
		    		</div>
		    		<div class="col-lg-1 col-md-1 col-xs-1">
						<button type="button" class="<?php echo ($jobService->jobTaskStatus == 18) ? 'btn btn-danger progress-list-button endTask disabled' : 'btn btn-danger progress-list-button endTask' ?>"><?php echo $this->translate('End') ?></button>
		    		</div>
		    		
		    		<div class="col-lg-1 col-md-1 col-xs-1">
						<button type="button" class="<?php 
							if ($jobService->jobTaskStatus == 18) {
								echo 'btn btn-default progress-list-button holdTask disabled';
							} else if ($jobService->jobTaskStatus == 17) {
								echo 'btn btn-default progress-list-button holdTask hidden';
							} else {
								echo 'btn btn-default progress-list-button holdTask';
							}
						?>   "><?php echo $this->translate('Hold') ?></button>
		    		</div>
		    		
		    		<div class="col-lg-1 col-md-1 col-xs-1">
						<button type="button" class="<?php echo ($jobService->jobTaskStatus == 17) ? 'btn btn-primary progress-list-button resumeTask' : 'btn btn-primary progress-list-button resumeTask hidden' ?> "><?php echo $this->translate('Resume') ?></button>
		    		</div>
		    	</div>
		    	<?php 
		    		}
		    	?>
		    	<hr>
		    	<?php foreach ($endedServices as $key => $endSrvc) {
		    		$endSrvc = (object) $endSrvc;
		    	?>

		    	<div class="row main-service-row" style="margin-bottom: 10px;" id="<?php echo 'main_row_'.$endSrvc->jobTaskID ?>">
		    		<div class="col-lg-10 col-md-10 col-xs-10 progress-list ended-list-color" id="<?php echo 'row_'.$endSrvc->jobTaskID ?>" data-job-task-id="<?php echo $endSrvc->jobTaskID ?>" data-job-id="<?php echo $endSrvc->jobId ?>" data-job-task-status="<?php echo $endSrvc->jobTaskStatus ?>">
			    		<span class="col-lg-2 col-md-2 col-xs-2"><?php echo $endSrvc->jobReferenceNumber?></span>
			    		<span class="col-lg-2 col-md-2 col-xs-2"><?php echo $endSrvc->taskName?></span>
			    		<span class="col-lg-2 col-md-2 col-xs-2"><?php echo $endSrvc->serviceVehicleRegNo?></span>
			    		<span class="col-lg-3 col-md-3 col-xs-3"><?php
			    				$from = new \DateTimeZone('GMT');
		                        $to = new \DateTimeZone($this->timeZone);
		                        $orgTime = new \DateTime($endSrvc->startedAt, $from);
		                        $toTime = new \DateTime($orgTime->format("c"));
		                        $toTime->setTimezone($to);
		                        echo $toTime->format('Y-m-d H:i:s');
			    		?></span>
			    		<span class="col-lg-3 col-md-3 col-xs-3"><?php
			    				if ($endSrvc->endedAt) {
				    				$from = new \DateTimeZone('GMT');
			                        $to = new \DateTimeZone($this->timeZone);
			                        $orgTime = new \DateTime($endSrvc->endedAt, $from);
			                        $toTime = new \DateTime($orgTime->format("c"));
			                        $toTime->setTimezone($to);
			                        echo $toTime->format('Y-m-d H:i:s');
			    				} else {
			    					echo "--";
			    				}
						?></span>
		    		</div>
		    		<div class="col-lg-1 col-md-1 col-xs-1">
						<button type="button" class="<?php echo ($endSrvc->jobTaskStatus == 18) ? 'btn btn-danger progress-list-button endTask disabled' : 'btn btn-danger progress-list-button endTask' ?>"><?php echo $this->translate('End') ?></button>
		    		</div>
		    		
		    		<div class="col-lg-1 col-md-1 col-xs-1">
						<button type="button" class="<?php 
							if ($endSrvc->jobTaskStatus == 18) {
								echo 'btn btn-default progress-list-button holdTask disabled';
							} else if ($endSrvc->jobTaskStatus == 17) {
								echo 'btn btn-default progress-list-button holdTask hidden';
							} else {
								echo 'btn btn-default progress-list-button holdTask';
							}
						?>   "><?php echo $this->translate('Hold') ?></button>
		    		</div>
		    		
		    		<div class="col-lg-1 col-md-1 col-xs-1">
						<button type="button" class="<?php echo ($endSrvc->jobTaskStatus == 17) ? 'btn btn-primary progress-list-button resumeTask' : 'btn btn-primary progress-list-button resumeTask hidden' ?> "><?php echo $this->translate('Resume') ?></button>
		    		</div>
		    	</div>
		    	<?php 
		    		}
		    	?>
		    </div>
		</div>
	</div>
</div>