<div class="row">
    <?php foreach ($dueServices as $key => $service) {
        $service = (object) $service;
    ?>
        <div class="col-lg-10 col-xs-10 due-service-list text-center due-service-list-item" data-department-id="<?php echo $service->departmentID ?>" data-job-task-id="<?php echo $service->jobTaskID ?>"><?php echo $service->taskCode.'-'.$service->taskName; ?></div>
    <?php 
    }   
    ?>
</div>