<!--table-->
<div class="table table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('Team Code') ?></th>
                <th><?php echo $this->translate('Team Name') ?></th>
                <th class="text-center"><?php echo $this->translate('Employees') ?></th>
                <th class="text-center" ><?php echo $this->translate('Edit') ?></th>
                <th class="text-center" ><?php echo $this->translate('Active') ?></th>
                <th class="text-center" ><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->teams as $team) {
                $team = (object) $team;
                ?>
                <tr data-team-id="<?php echo $team->teamID; ?>" data-team-name="<?php echo $team->teamName; ?>" data-team-code="<?php echo $team->teamCode; ?>" data-team-status="<?php echo $team->teamStatus; ?>">
                    <td class="teamCode"><?php echo $team->teamCode; ?></td>
                    <td class="teamName"><?php echo $team->teamName; ?></td>
                    <td class="text-center">
                        <a href="#" class="glyphicon glyphicon-expand custom_font_size employee-view team-action" data-toggle="modal" data-action="view"></a>
                    </td>
                    <td class="text-center">
                        <a href="#" class="edit team-action" data-action="edit">
                            <span class="fa fa-pencil-square-o custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="#" class="status team-action" data-action="status">
                            <span class="<?php echo ($team->teamStatus == '1') ? 'fa fa-check-square-o' : 'fa fa-square-o '; ?> custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="#" class="delete team-action" data-action="delete">
                            <span class="fa fa-trash-o custom_font_size"></span>
                        </a>
                    </td>
                </tr>
                <?php
            }
            if (count($this->teams) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div>

<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->teams, 'sliding', array('partial/paginator.phtml', 'teams'), array(
        'route' => 'teams', 'action' => 'create'
            )
    );
}
?>


