<div class="panel panel-default small_panel_heading">
    <div class="panel-heading">
        <h5 class="font_weight"><?php echo $this->translate('Employees') ?></h5>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped" style="margin-bottom: 50px;">
                <thead>
                    <tr>
                        <th><?php echo $this->translate("Employee Code"); ?></th>
                        <th><?php echo $this->translate("Employee Name"); ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php
                    foreach ($employees as $employee) {
                        ?>
                        <tr>
                            <td><?php echo $employee['employeeCode']; ?></td>
                            <td><?php echo $employee['employeeFirstName'].' '.$employee['employeeSecondName']; ?></td>
                        </tr>
                    <?php } ?>
                </tbody>
            </table>
        </div>

    </div><!--panel_body-->
</div><!--panel_default-->