<div class="project-type-form-container margin_top">

    <div class="category-form-container">
        <div class="well well_heading">
            <h5 class=""><?php echo $this->translate('Add Card Type') ?></h5>
            <h5 class="update"><?php echo $this->translate('Update Card Type') ?></h5>
        </div>

        <div class="well well_body">
            <div class="_row_with_margin clearfix">
                <form method="POST" id="card-type-form">
                    <input type="hidden" id="cardTypeID" />
                    <!--card type name-->
                    <div class="col-lg-8">
                        <label for="cardTypeName" class="_remove_bold"><?php echo $this->translate('Card Type') ?><span class="_required">*</span></label>
                        <input type="text" autofocus="true" class="form-control" id="cardTypeName" placeholder="<?php echo $this->translate('Eg: Visa'); ?>">
                    </div>

                    <div class="col-lg-4">
                        <!--reset&add_new-->
                        <div class="button-set">
                            <label>&nbsp;</label>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary add" id="btnSave"><?php echo $this->translate('Save') ?></button>
                                <button type="reset" class="btn btn-default reset" id="btnRest"><?php echo $this->translate('Reset') ?></button>
                            </div>
                        </div>

                        <!--cancel&update-->
                        <div class="button-set update">
                            <label>&nbsp;</label>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary update" id="btnUpdate"><?php echo $this->translate('Update') ?></button>
                                <button type="reset" class="btn btn-default reset update" id="btnCancel"><?php echo $this->translate('Cancel') ?></button>
                            </div>
                        </div>

                    </div>
                </form>

            </div><!--./row_with_margin-->
        </div><!--well-->
    </div>

    <!--search Card type-->
    <div class="well well_custom_padding margin_top">
        <div class="row">
            <div class="col-lg-3">
                <label class="remove_weight"><?php echo $this->translate('Search Card Type') ?></label>
            </div>
            <div class="search_field col-lg-9">
                <form id='card-type-search-form' method="post">
                    <div class="input-group">
                        <input type="text" class="form-control" id="cardTypeSearch" placeholder="<?php echo $this->translate('Enter account type'); ?>">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default minus_margin" id="btnSearch"><?php echo $this->translate('Search') ?></button>
                            <button type="reset" class="btn btn-default minus_margin" id="btnSearchCancel"><?php echo $this->translate('Cancel') ?></button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!--row-->
    </div><!--well-->

    <!--table-->
    <div id="account-type-list" class="margin_top">
        <?php echo $this->partial('expenses/card-type/list', ['cardTypes' => $this->cardTypes, 'paginated' => $paginated]); ?>
    </div>

</div><!--project_type_form_container-->