<!--search_panel-->
<div class='well clearfix well_custom_padding margin_top margin_bottom_high'>
    <div class='col-lg-2'>
        <label class="remove_weight"><?php echo $this->translate('Search POS Payment') ?></label>
    </div>

    <div class="col-lg-2">
        <select id="pay-search-select" class="form-control">
            <option value="Payments No"><?php echo $this->translate('Payments No') ?></option>
<!--            <option value="Customer Name"><?php echo $this->translate('Customer Name') ?></option>-->
        </select>
    </div>

    <div class="col-lg-3">
        <select class="form-control selectpicker show-tick"  id="pay-search" name="pay-search" data-live-search="true" data-payType="POS">
            <option value=""><?php echo $this->translate('Select Payment No') ?></option>
        </select>
        <select class="form-control selectpicker show-tick"  id="pay-custa-search" name="pay-custa-search" data-live-search="true" data-payType="POS">
            <option value=""><?php echo $this->translate('Select Customer Name') ?></option>
        </select>
    </div>

    <div class="col-lg-2">
        <input type="text" style="background-color: white" readonly="true" class="span2 datepicker form-control pointer_cursor" id="from-date" data-date-format="<?php echo $this->dateFormat; ?>" placeholder="<?php echo $this->dateFormat; ?>">
    </div>

    <div class="col-lg-2">
        <input type="text" style="background-color: white" readonly="true" class="span2 datepicker form-control pointer_cursor" id="to-date" data-date-format="<?php echo $this->dateFormat; ?>" placeholder="<?php echo $this->dateFormat; ?>">
    </div>

    <div class="col-lg-1">
        <button class="btn btn-primary" id="filter-button"><?php echo $this->translate('GO') ?></button>
    </div>
</div><!--well-->


<div id='custadiv'></div>

<!--default_view_table-->
<div id="paymentsview">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="table_row_color">
                <tr>
                    <th><?php echo $this->translate('Payment No') ?></th>
                    <th><?php echo $this->translate('Customer') ?></th>
                    <th><?php echo $this->translate('Date') ?></th>
                    <th class=""><?php echo $this->translate('Paid Amount') ?></th>
                    <th class="text-center"><?php echo $this->translate('Status') ?></th>
                    <th class="edit text-center"><?php echo $this->translate('Edit Payment Methods') ?></th>
                    <th class="edit text-center"><?php echo $this->translate('Print View') ?></th>
                    <th class="text-center"><?php echo $this->translate('Cancel') ?></th>
                </tr>
            </thead>

            <tbody>
                <?php
                foreach ($this->payments as $key => $payments) {
                    if ($payments->incomingPaymentCustomCurrencyRate == 0) {
                        $currencyRate = 1;
                    } else {
                        $currencyRate = $payments->incomingPaymentCustomCurrencyRate;
                    }
                    if (isset($payments->currencySymbol)) {
                        $customCurrencySymbol = $payments->currencySymbol;
                    } else {
                        $customCurrencySymbol = $this->companyCurrencySymbol;
                    }
                    $state = ucfirst($this->statuses[$payments->incomingPaymentStatus]);
                    $status = $payments->incomingPaymentStatus;
                    switch ($status) {
                        case "1":
                            $style = "label label-primary";
                            break;
                        case "2":
                            $style = "label label-default";
                            break;
                        case "3":
                            $style = "label label-success";
                            break;
                        case "4":
                            $style = "label label-warning";
                            break;
                        case "5":
                            $style = "label label-primary";
                            break;
                        case "6":
                            $state = 'Open';
                            $style = "label label-danger";
                            break;
                        default :
                            $style = "label label-default";
                    }
                    ?>
                    <tr>
                        <td> <?php echo $payments->incomingPaymentCode; ?></td>
                        <td><?php echo $payments->customerName . '-' . $payments->customerCode; ?></td>
                        <td> <?php echo $this->userDateFormatHelper($payments->incomingPaymentDate, $this->dateFormat); ?></td>
                        <td class=""><?php echo $customCurrencySymbol . ' ' . number_format(($payments->incomingPaymentAmount / $currencyRate), 2); ?> </td>
                        <td class="text-center"><span class="<?php echo $style; ?>"><?php echo $state; ?></span></td>
                        <td class="text-center">
                        <?php if($payments->customerStatus == 1) { ?>
                            <a class="edit link_color" style="cursor:pointer" href="/customerPayments/edit/<?php echo $payments->incomingPaymentID . "/pos" ?>" id="<?php echo $payments->paymentID ?>">
                                <span class="fa fa-pencil-square-o "></span></a>
                        <?php } else { ?>
                            <a class="editsInactive" style="cursor:pointer" href="#" id="<?php echo $payments->paymentID ?>">
                                <span class="fa fa-pencil-square-o "></span></a>
                            <?php } ?>
                        </td>
                        <td id="view" class="text-center">
                            <span class="preview link_color" style="cursor:pointer" data-href="/customerPayments/viewReceipt/<?php echo $payments->incomingPaymentID ?>" id="<?php echo $payments->paymentID ?>">
                                <span class="glyphicon glyphicon-eye-open"></span></span>
                        </td>
                        <?php if ($payments->incomingPaymentStatus != 5) { ?>
                            <td id="dele" class="text-center">
                            <?php if($payments->customerStatus == 1) { ?>
                                <a class ="del" data-toggle="modal" href = "#delete_payment" id="<?php echo $payments->incomingPaymentID ?>">
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                </a>
                                <?php } else { ?>
                                    <a class ="editsInactive" href = "#" id="<?php echo $payments->incomingPaymentID ?>">
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                </a>
                                    <?php } ?>
                            </td>
                        <?php } else { ?>
                            <td></td>
                            <?php
                        }
                    }
                    if (count($this->payments) == 0) {
                        ?>
                    <tr class="not_found">
                        <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                    </tr>
                <?php }
                ?>
            </tbody>
        </table>
    </div>

    <?php
    echo $this->paginationControl(
            $this->payments, 'sliding', array('partial/paginator.phtml', 'customerPayments'), array(
        'route' => 'customerPayments', 'action' => 'viewPos'
            )
    );
    ?>

    <div class="modal fade" id="delete_payment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4><?php echo $this->translate('Payment Cancel Confirmation') ?></h4>
                </div>

                <div class="modal-body rm_modal_body_bpa">

                    <div class="form-group">
                        <p class="modal_para"><?php echo $this->translate('Please enter the Administrator account Username and Password to continue') ?></p>
                    </div>

                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-4 control-label"><?php echo $this->translate('Username') ?><font color="red"> *</font></label>
                            <div class="col-lg-6">
                                <input type="text" id="username" class="form-control" placeholder="<?php echo $this->translate('Username ') ?>">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-4 control-label"><?php echo $this->translate('Password') ?><font color="red"> *</font></label>
                            <div class="col-lg-6">
                                <input type="password" id="password" class="form-control" placeholder="<?php echo $this->translate('Password ') ?>">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-4 control-label"><?php echo $this->translate('Comment') ?></label>
                            <div class="col-lg-6">
                                <textarea id="comment" class="form-control" placeholder="comment"></textarea>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Cancel') ?></button>
                    <button id="delete-payment-button" class="btn btn-primary"><?php echo $this->translate('Cancel Payment') ?></button>
                </div>

            </div>
        </div>
    </div><!--modal-->

</div><!--payment_view-->
