<!--search_panel-->
<div class='well clearfix well_custom_padding margin_top margin_bottom_high'>
    <div class='col-lg-2'>
        <label class="remove_weight"><?php echo $this->translate('Search Customer Cheques') ?></label>
    </div>

    <div class="col-lg-2">
        <select id="pay-search-select" class="form-control">
            <option value="Payments No"><?php echo $this->translate('Payments No') ?></option>
            <option value="Customer Name"><?php echo $this->translate('Customer Name') ?></option>
        </select>
    </div>

    <div class="col-lg-3">
        <select class="form-control selectpicker show-tick"  id="pay-search" name="pay-search" data-live-search="true">
            <option value=""><?php echo $this->translate('Select Payment No') ?></option>
        </select>
        <select class="form-control selectpicker show-tick"  id="pay-custa-search" name="pay-custa-search" data-live-search="true">
            <option value=""><?php echo $this->translate('Select Customer Name') ?></option>
        </select>
    </div>

    <div class="col-lg-2">
        <input type="text" style="background-color: white" readonly="true" class="span2 datepicker form-control pointer_cursor" id="from-date" data-date-format="<?php echo $this->dateFormat; ?>" placeholder="Start Date">
    </div>

    <div class="col-lg-2">
        <input type="text" style="background-color: white" readonly="true" class="span2 datepicker form-control pointer_cursor" id="to-date" data-date-format="<?php echo $this->dateFormat; ?>" placeholder="End Date">
    </div>

    <div class="col-lg-1">
        <button class="btn btn-primary" id="filter-button"><?php echo $this->translate('GO') ?></button>
    </div>
</div><!--well-->
<div id='custadiv'></div>

<!--default_view_table-->
<div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="table_row_color">
                <tr>
                    <th><?php echo $this->translate('Date') ?> <button id="dataBtn" type="button" class="sortbtn btn btn-link" data-id='Date' style="padding: 0;">  <span id="dataSort" class="glyphicon glyphicon-chevron-down"></span></button></th>
                    <th><?php echo $this->translate('Payment No') ?><button id="paymentBtn" class="sortbtn btn btn-link" type="button" data-id='Payment No' style="padding: 0;">  <span id="paymentNoSort" class="glyphicon glyphicon-chevron-down"></span></button></th>
                    <th><?php echo $this->translate('Customer') ?></th>
                    <th><?php echo $this->translate('Cheque Date') ?><button id="chequeBtn" class="sortbtn btn btn-link" type="button" data-id='Cheque Date' style="padding: 0;">  <span id="checkDateSort" class="glyphicon glyphicon-chevron-down"></span></button></th>
                    <th><?php echo $this->translate('Paid Amount') ?></th>
                    <th><?php echo $this->translate('Reference Number') ?></th>
                    <th><?php echo $this->translate('Bank') ?></th>
                </tr>
            </thead>
            <tbody id="paymentsview">
                <?php
                foreach ($cheques as $check) {
                    if ($check['incomingPaymentCustomCurrencyRate'] == 0) {
                        $currencyRate = 1;
                    } else {
                        $currencyRate = $check['incomingPaymentCustomCurrencyRate'];
                    }
                    if (isset($check['currencySymbol'])) {
                        $customCurrencySymbol = $check['currencySymbol'];
                    } else {
                        $customCurrencySymbol = $this->companyCurrencySymbol;
                    }
                    ?>
                    <?php echo '<tr>'; ?>
                    <?php echo '<td>' . $check['incomingPaymentDate'] . '</td>'; ?>
                    <?php echo '<td>' . $check['incomingPaymentCode'] . '</td>'; ?>
                    <?php echo '<td>' . $check['customerName'] . '</td>'; ?>
                    <?php echo '<td>'; ?>
                    <?php echo is_null($check['postdatedChequeDate']) ? "-" : $check['postdatedChequeDate']; ?>
                    <?php echo '</td>'; ?>
                    <?php echo '<td>' . $customCurrencySymbol . " " . number_format(($check['incomingPaymentMethodAmount'] / $currencyRate), 2) . '</td>'; ?>
                    <?php echo '<td>' . $check['incomingPaymentMethodChequeNumber'] . '</td>'; ?>
                    <?php echo '<td>' . $check['incomingPaymentMethodChequeBankName'] . '</td>'; ?>
                    <?php echo '</tr>'; ?>
                    <?php
                }
                if (count($cheques) == 0) {
                    ?>
                    <tr class="not_found">
                        <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                    </tr>
                    <?php
                }
                ?>
            </tbody>
        </table>
    </div>
    <?php
    echo $this->paginationControl(
            $cheques, 'sliding', array('partial/paginator.phtml', 'customerPayments'), array('route' => 'customerPayments', 'action' => 'viewCheques')
    );
    ?>
</div>

