<div class="category-form-container margin_top">

    <div class="well well_heading">
        <h5><?php echo $this->translate('Add Petty Cash Float') ?></h5>
    </div>

    <div class="well well_body">

        <?php
        $form = $this->pettyCashFloatForm;
        $form->setAttribute('id', 'create-petty-cash-float-form');

        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formHidden($form->get('pettyCashFloatID'));
        ?>

        <!--petty cash account-->
        <div class="form-group">
            <div class="col-lg-3">
                <label class="control-label label_bottom_margin" for="pettyCashFloatFinanceAccountID"><?php echo $this->translate('Petty Cash Account') ?><font color="red"> *</font></label>
            </div>
            <div class="col-lg-4">
                <?php echo $this->formRow($form->get('pettyCashFloatFinanceAccountID')); ?>
            </div>
            <div class="col-lg-2">
                <?php echo $this->formRow($form->get('pettyCashFloatBalance')); ?>
            </div>
        </div>

        <!--Amount-->
        <div class="form-group">
            <div class="col-lg-3">
                <label class="control-label label_bottom_margin" for="pettyCashFloatAmount"><?php echo $this->translate('Issue Amount') ?><font color="red"> *</font></label>
            </div>
            <div class="col-lg-6">
                <?php echo $this->formRow($form->get('pettyCashFloatAmount')); ?>
            </div>
        </div>

        <!--Date-->
        <div class="form-group">
            <div class="col-lg-3">
                <label class="control-label label_bottom_margin" for="pettyCashFloatDate"><?php echo $this->translate('Date') ?><font color="red"> *</font></label>
            </div>
            <div class="col-lg-6">
                <?php echo $this->formRow($form->get('pettyCashFloatDate')); ?>
            </div>
        </div>

        <!--issue account-->
        <div class="form-group">
            <div class="col-lg-3">
                <label class="control-label label_bottom_margin" for="pettyCashFloatIssueFinanceAccountID"><?php echo $this->translate('Issue Account') ?><font color="red"> *</font></label>
            </div>
            <div class="col-lg-4">
                <?php echo $this->formRow($form->get('pettyCashFloatIssueFinanceAccountID')); ?>
            </div>
            <div class="col-lg-2">
                <?php echo $this->formRow($form->get('pettyCashFloatIssueBalance')); ?>
            </div>
        </div>
        <div class="form-group">
            <!-- Journal Entry No -->
            <label for="dimensionType" class="col-lg-3 col-md-3 col-sm-4 control-label">
                <?php echo $this->translate('Dimension:'); ?>
            </label>
            <div class="col-lg-7 col-md-9 col-sm-8">
                 <a data-toggle="modal" id="dimensionView" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></a>
            </div>
        </div><!-- ./row -->

        <!--reset&add-->
        <div class="form-group _remove_margin_bottom btn_wrapper">
            <div class="col-lg-6 col-lg-push-3 text-right">
                <?php echo $this->formRow($form->get('pettyCashFloatSave')); ?>
                <?php echo $this->formRow($form->get('pettyCashFloatCancel')); ?>
            </div>
        </div>

        <?php
        echo $this->form()->closeTag($form);
        ?>

    </div><!--well-->
</div><!--category_form_container-->


<div class="modal fade" id="addDimensionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->dimensionAddView; ?>
</div>
