<div class="table table-responsive margin_top">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('Code') ?></th>
                <th><?php echo $this->translate('Amount') ?></th>
                <th><?php echo $this->translate('Date') ?></th>
                <th><?php echo $this->translate('Cash Type') ?></th>
                <th><?php echo $this->translate('Account') ?></th>
                <th class="text-center"><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php if (count($this->pettyCashFloats) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="5"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            } else {
                foreach ($this->pettyCashFloats as $pettyCashFloat) {
                    $pettyCashFloat = (object) $pettyCashFloat;
                    ?>
                    <tr data-pettyCashFloatId="<?php echo $pettyCashFloat->pettyCashFloatID ?>">
                        <td><?php echo $this->PettyCashFloatCodePrefix . $pettyCashFloat->pettyCashFloatID ?></td>
                        <td><?php echo ($pettyCashFloat->currencySymbol != '') ? $pettyCashFloat->currencySymbol . ' ' . (number_format($pettyCashFloat->pettyCashFloatAmount, 2)) : $this->companyCurrencySymbol . ' ' . (number_format($pettyCashFloat->pettyCashFloatAmount, 2)) ?></td>
                        <td><?php echo $pettyCashFloat->pettyCashFloatDate ?></td>
                        <td><?php echo $cashTypes[$pettyCashFloat->cashType] ?></td>
                        <td><?php echo ($pettyCashFloat->accountName != '') ? $pettyCashFloat->accountName : '-' ?></td>
                        <td class="text-center col-lg-1">
                            <a href="#" class="delete">
                                <span class="fa fa-trash-o custom_font_size"></span>
                            </a>
                        </td>
                    </tr>
                    <?php
                }
            }
            ?>
        </tbody>
    </table>
</div>

<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->pettyCashFloats, 'sliding', array('partial/paginator.phtml', 'petty-cash-float'), array(
        'route' => 'petty-cash-float', 'action' => 'view'
            )
    );
}
?>