<div class="category-form-container margin_top">

    <div class="well well_heading">
        <h5 class="font_weight add"><?php echo $this->translate('Add Customer Event') ?></h5>
        <h5 class="font_weight update"><?php echo $this->translate('Update Customer Event') ?></h5>
    </div>

    <div class="well well_body">

        <?php
        $form = $this->customerEventForm;
        $form->setAttribute('id', 'create-customer-event-form');

        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formHidden($form->get('customerEventID'));
        ?>

        <div class="form-horizontal">

            <div class="_row_with_margin clearfix">
                <!--Customer Event Name-->
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 control-label" for="customerEventName"><?php echo $this->translate('Event Name') ?><font color="red"> *</font></label>
                        <div class="col-lg-8 col-md-8">
                            <?php echo $this->formRow($form->get('customerEventName')); ?>
                        </div>
                    </div>
                </div>

                <!--Customer Event Duration-->
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 control-label" for="customerEventDuration"><?php echo $this->translate('Event Duration') ?><font color="red"> *</font></label>
                        <div class="col-lg-8 col-md-8">
                            <div class="input-group">
                                <?php echo $this->formRow($form->get('customerEventDuration')); ?>
                                <span class="input-group-addon"><?php echo $this->translate('Days') ?></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--End of row -->

            <div class="_row_with_margin clearfix">
                <!--Customer Event Start Date-->
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="control-label col-lg-4 col-md-4" for="customerEventStartDate"><?php echo $this->translate('Event Start Date') ?><font color="red"> *</font></label>
                        <div class="col-lg-8 col-md-8">
                            <?php echo $this->formRow($form->get('customerEventStartDate')); ?>
                        </div>
                    </div>
                </div>

                <!--customer Event End Date-->
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="control-label col-lg-4 col-md-4" for="customerEventEndDate"><?php echo $this->translate('Event End Date') ?><font color="red"> *</font></label>
                        <div class="col-lg-8 col-md-8">
                            <?php echo $this->formRow($form->get('customerEventEndDate')) ?>
                        </div>
                    </div>
                </div>
            </div><!--End of row -->

            <div class="btn_wrapper">
                <div class="_row_with_margin clearfix">
                    <!--cancel&update-->
                    <div class="col-lg-12 button-set update text-right">
                        <?php echo $this->formRow($form->get('updateCustomerEvent')); ?>
                        <?php echo $this->formRow($form->get('cancelCustomerEvent')); ?>
                    </div>

                    <!--Add New buttons-->
                    <div class="col-lg-12 button-set text-right">
                        <?php echo $this->formRow($form->get('saveAndCreateCustomer')); ?>
                        <?php echo $this->formRow($form->get('saveCustomerEvent')); ?>
                        <?php echo $this->formRow($form->get('cancelCustomerEvent')); ?>
                    </div>
                </div><!--End of row-->
            </div>

        </div><!--form_horizontal-->

        <?php
        echo $this->form()->closeTag($form);
        ?>

    </div><!--well-->
</div><!--category_form_container-->

<div class="modal fade" id="addCustomerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->customerAddView; ?>
</div>