<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width=""><?php echo $this->translate('Name') ?></th>
                <th width=""><?php echo $this->translate('Duration') ?></th>
                <th width=""><?php echo $this->translate('Start Date') ?></th>
                <th width=""><?php echo $this->translate('End Date') ?></th>
                <th width="" class="text-center" ><?php echo $this->translate('Edit') ?></th>
                <th width="" class="text-center" ><?php echo $this->translate('Status') ?></th>
                <th width="" class="text-center" ><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>

        <tbody>
            <?php
            if (count($this->customerEvents) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            } else {
                foreach ($this->customerEvents as $cE) {
                    $cE = (object) $cE;
                    if ($cE->deleted != 1) {
                    ?>
                        <tr data-customerEventID="<?php echo $cE->customerEventID; ?>">
                            <td class="col-lg-2"><?php echo $cE->customerEventName ?></td>
                            <td class="col-lg-2"><?php echo ($cE->customerEventDuration <= 9) ? "0" . $cE->customerEventDuration : $cE->customerEventDuration ?></td>
                            <td class="col-lg-3"><?php echo $cE->customerEventStartDate ?></td>
                            <td class="col-lg-3"><?php echo $cE->customerEventEndDate ?></td>

                            <td class="text-center col-lg-1">
                                <a href="#" class="edit">
                                    <span class="fa fa-pencil-square-o custom_font_size"></span>
                                </a>
                            </td>

                            <td class="text-center col-lg-1">
                                <a href="#" class="status">
                                    <span class="<?php echo ($cE->customerEventStatus == '1') ? 'fa fa-check-square-o' : 'fa fa-square-o '; ?> custom_font_size"></span>
                                </a>
                            </td>

                            <td class="text-center col-lg-1" >
                                <a href="#" class="delete">
                                    <span class="fa fa-trash-o custom_font_size"></span>
                                </a>
                            </td>
                        </tr>
                    <?php
                    }
                }
            }
            ?>
        </tbody>
    </table>
</div><!--table_responsive-->

<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->customerEvents, 'sliding', array('partial/paginator.phtml', 'customer-event'), array(
        'route' => 'customer-event', 'action' => 'index'
            )
    );
}
?>
