<!--search-->
<div class="well mobile-search clearfix well_custom_padding margin_top ">
    <form id="customer-event-search-form" method="post" action="">
        <div class="col-lg-3">
            <label class="remove_weight"><?php echo $this->translate('Search Customer Event') ?></label>
        </div>
        <div class="col-lg-9 search_field">
            <div class=" input-group">
                <input type="text" class="form-control" id ='customer-event-search-keyword' placeholder="<?php echo $this->translate('Enter Customer Event Name') ?>"/>
                <span class="input-group-btn">
                    <button class="btn btn-default search_btn_css" id="customer-event-search-submit" type="submit"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default reset" type="reset"><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </form>
</div>