<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate("Fiscal Period") ?></h4>
        </div>

        <div class="modal-body">
        	<?php
            	$form = $this->fiscalPeriodForm;
            	$form->setAttribute('id', 'create-fiscal-period-form');

            	$form->prepare();
            	echo $this->form()->openTag($form);
            	echo $this->formHidden($form->get('fiscalPeriodID'));
            	echo $this->formHidden($form->get('entityID'));
        	?>

        	<div class="row_with_margin clearfix">
    			<div class="form-group">
    				<div class="col-lg-5">
    					<label class="control-label label_bottom_margin" for="fiscalPeriodStartDate">
                            <?php echo $this->translate('Fiscal Period Start Date')?><font color="red"> *</font>
                        </label>
    				</div>

    				<div class="col-lg-7">
    					<?php echo $this->formRow($form->get('fiscalPeriodStartDate')); ?>
    				</div>
    			</div>

    			<div class="form-group">
    				<div class="col-lg-5">
    					<label class="control-label label_bottom_margin" for="fiscalPeriodEndDate"><?php echo $this->translate('Fiscal Period End Date')?></label>
    				</div>
    				<div class="col-lg-7">
    					<?php echo $this->formRow($form->get('fiscalPeriodEndDate')); ?>
    				</div>
    			</div>

    			<div class="form-group">
    				<div class="col-lg-5">
    					<label class="control-label label_bottom_margin" for="fiscalPeriodStatusID"><?php echo $this->translate('Fiscal Period Status')?></label>
    				</div>
    				<div class="col-lg-7">
    					<?php echo $this->formRow($form->get('fiscalPeriodStatusID')); ?>
    				</div>
    			</div>
        	</div>

        	<div class="row_with_margin clearfix">
        		<table id='fiscalPeriodTable' class="fiscalPeriodTable table table-striped margin_top_normal hidden">
        			<thead>
        				<tr>
        					<th><?php echo $this->translate('Start Date');?></th>
        					<th><?php echo $this->translate('End Date');?></th>
        					<th><?php echo $this->translate('Status');?></th>
        				</tr>
        			</thead>

        			<tbody id="fiscalPeriodBody">
        				<tr class='preSetSample hidden' >
        					<td><input type='text' readOnly="readOnly" class="form-control startDate" data-date-format="<?php echo $this->userdateFormat ?>" placeholder="2000/01/01"></td>
        					<td><input type='text' readOnly="readOnly" style = "background-color: white" class="form-control endDate datepicker pointer_cursor" data-date-format="<?php echo $this->userdateFormat ?>"placeholder="2000/01/01"></td>
        					<td>
        						<select class="form-control status">
        							<?php foreach ($this->statusList as $key => $value) {?>
        								<option value="<?php echo $key?>"><?php echo $value?></option>
        							<?php }?>
        						</select>
        					</td>
        				</tr>
        			</tbody>
        		</table>
        	</div>
        </div>

        <div class="modal-footer">
        	<?php echo $this->formRow($form->get('createFiscalPeriod')); ?>
			<?php echo $this->formRow($form->get('cancelFiscalPeriod')); ?>
			<?php echo $this->form()->closeTag($form); ?>
        </div>

	</div>
</div>


