<div class="margin_top">
    <div class="row">
        <div class="add_margin">
            <div class="col-lg-9 col-md-9 col-sm-9">
                <p style="font-size: 18px;"><?php echo $this->translate("Fiscal Period") ?></p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3">
                <button class="btn btn-primary pull-right" id='createNewPiscalPeriod' >
                    <?php echo $this->translate('Create Fiscal Period');?>
                </button>
            </div>
        </div>
    </div>
</div>

<!--table-->
<div class="margin_top">
    <div class="table table-responsive">

        <div id="piscal-period-list">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class=""><?php echo $this->translate('Fiscal Period Statrt Date') ?></th>
                        <th class=""><?php echo $this->translate('Fiscal Period End Date') ?></th>
                        <th class=""><?php echo $this->translate('Fiscal Period Status') ?></th>
                        <th class="text-center"><?php echo $this->translate('Edit') ?></th>
                        <th class="text-center"><?php echo $this->translate('Delete') ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php
                    foreach ($this->fiscalPeriod as $key => $fiscalPeriod) {
                        ?>
                        <tr>
                            <td class=""> <?php echo $this->userDateFormatHelper($fiscalPeriod->fiscalPeriodStartDate, $this->dateFormat); ?></td>
                            <td class=""> <?php echo $this->userDateFormatHelper($fiscalPeriod->fiscalPeriodEndDate, $this->dateFormat); ?></td>
                            <td class=""> <?php echo $this->statusList[$fiscalPeriod->fiscalPeriodStatusID]; ?></td>
                            <td class="text-center">
                            	<a><span onclick="editFiscalPeriod(<?php echo $fiscalPeriod->fiscalPeriodID; ?>)" class="pointer fa fa-pencil-square-o custom_font_size"></span></a>
                            </td>
                            <td class="text-center">
                            	<?php if($fiscalPeriod->fiscalPeriodHasJournalEntries == 0){?>
                                	<a><span onclick="deleteFiscalPeriod(<?php echo $fiscalPeriod->fiscalPeriodID; ?>)" class="pointer fa fa-trash-o custom_font_size"></span></a>
                            	<?php } ?>
                            </td>
                            <?php
                        }
                        if (count($this->fiscalPeriod) == 0) {
                            ?>
                        <tr class="not_found">
                            <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                        </tr>
                    <?php }
                    ?>
                </tbody>
            </table>
            <?php
            echo $this->paginationControl(
                    $this->fiscalPeriod, 'sliding', array('partial/paginator.phtml', 'fiscalPeriod'), array(
                'route' => 'fiscal-period', 'action' => 'list'
                    )
            );
            ?>
        </div>

    </div><!--tabele_responsive-->

    <div id="dynamicFiscalPeriod"></div>
</div><!--margin_top-->

<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<?php echo $fiscalPeriodCreate?>
</div>
