<?php
$title = 'Email Configuration';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<?php
$form = $this->form;
$form->setAttribute('action', $this->url('emailconf', array('action' => 'index')));
$form->prepare();
?>

<div >
    <?php echo $this->form()->openTag($form); ?>
    <div class="form-group">
        <div class="controls">
            <label><span><?php echo $this->translate('Email Address') ?><font color="red">*</font></span></label> <?php echo $this->formRow($form->get('email')); ?>
        </div>
    </div>
    <div class="form-group">
        <div class="controls">
            <label><span><?php echo $this->translate('Password') ?><font color="red">*</font></span></label> <?php echo $this->formRow($form->get('password')); ?>
        </div>
    </div>
    <div class="form-group">
        <div class="controls">
            <label><span><?php echo $this->translate('Mail Provider') ?></span></label> <?php echo $this->formRow($form->get('mailName')); ?>
        </div>
    </div>
    <div class="form-group">
        <div class="controls">
            <label><span><?php echo $this->translate('Mail Host') ?><font color="red">*</font></span></label> <?php echo $this->formRow($form->get('host')); ?>
        </div>
    </div>
    <div class="form-group">
        <div class="controls">
            <label><span><?php echo $this->translate('Port Number') ?><font color="red">*</font></span></label> <?php echo $this->formRow($form->get('port')); ?>
        </div>
    </div>
    <div class="form-group">
        <?php echo $this->formSubmit($form->get('submit')); ?>
        <button type="reset" class="btn btn-primary"><?php echo $this->translate('Reset') ?></button>
    </div>
    <?php echo $this->form()->closeTag(); ?>
</div>
