 <div class="modal-dialog">
 	<div class="modal-content">

 		<div class="modal-header">
 			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
 			<h4><?php echo $this->translate('Audit Log Details') ?></h4>
 		</div>

 		<?php if (!$this->attchemntLogPreviewFlag) {?>
 		<div class="modal-body rm_modal_body_bpa">
 			<div >
 				<div class="table">
 					<table class="table  table-condensed">
 						<thead>
 							<tr>
 								<th width="40%"><?php echo $this->translate('Field Name'); ?></th>
 								<th width="30%"><?php echo $this->translate('Previous Data'); ?></th>
 								<th width="30%"><?php echo $this->translate('New Data'); ?></th>
 							</tr>
 						</thead>

 						<tbody>
 							<?php
 							foreach ($this->auditLogDetails as $key => $logDetails) {
 								$previousData = (array) json_decode($logDetails['previousData']);
 								$newData = (array) json_decode($logDetails['newData']);
								$resultArray = array_merge_recursive($previousData, $newData); 								
 								foreach ($resultArray as $fieldName => $fielValue) {
 								?>
 									<tr>
 										<td width="40%"> <?php echo $fieldName; ?></td>
 										<td width="30%"> <?php echo $fielValue[0]; ?></td>
 										<td width="30%"> <?php echo $fielValue[1]; ?></td>
 									</tr>
 								<?php }?>
 								<tr style=" height: 25px; background-color: #D7D7D7;">
 									<td> </td>
 									<td> </td>
 									<td> </td>
 								</tr>
 							<?php }
 							if (count($this->auditLogDetails) == 0) {?>
 							<tr class="not_found">
 								<td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
 							</tr>
 							<?php } ?>

 						</tbody>
 					</table>
 				</div>
 			</div>

 		</div>
 		<?php } ?>


 		<?php if ($this->attchemntLogPreviewFlag) {?>
 		<div class="modal-body rm_modal_body_bpa">
 			<div >
 				<?php
 							foreach ($this->auditLogDetails as $key => $logDetails) {
 								$previousData = (array) json_decode($logDetails['previousData']);
 								$newData = (array) json_decode($logDetails['newData']);

 							}
 				?>
 				<div class="table">
 					<table class="table  table-condensed">
 						<thead>
 							<tr>
 								<th width="100%"><?php echo $this->translate('Previous Attachemnts'); ?></th>
 							</tr>
 						</thead>

 						<tbody>
							<?php 								
								foreach ($previousData as $value) {
									?>
								<tr>
								<td width="100%"><a href="<?php echo $value->docLink; ?>"><?php echo $value->documentRealName; ?></a></td>
							</tr>
							<?php
								} ?>

							<?php
 							if (count($this->auditLogDetails) == 0) {?>
 							<tr class="not_found">
 								<td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
 							</tr>
 							<?php } ?>

 						</tbody>
 					</table>
 					<table class="table  table-condensed">
 						<thead>
 							<tr>
 								<th width="100%"><?php echo $this->translate('New Attachemnts'); ?></th>
 							</tr>
 						</thead>

 						<tbody>
							<?php 								
							foreach ($newData as $value) {
								?>
							<tr>
								<td width="100%"><a href="<?php echo $value->docLink; ?>"><?php echo $value->documentRealName; ?></a></td>
							</tr>
							<?php
							} ?>

 							<?php 
 							if (count($this->auditLogDetails) == 0) {?>
 							<tr class="not_found">
 								<td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
 							</tr>
 							<?php } ?>

 						</tbody>
 					</table>
 				</div>
 			</div>

 		</div>
 		<?php } ?>


 		<div class="modal-footer">
 			<button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Cancel') ?></button>
 		</div>

 	</div>
 </div>