<div class="margin_bottom location-header">
    <h3 class="no_top_margin font_weight"><?php echo $this->translate('Audit Log') ?></h3>
    <hr class="custom_hr bottom_line">
</div>

<div id='audit-log-header'>
	<div class='well clearfix well_custom_padding margin_top xs_view'><!--get_invoice-->

		<input type="hidden" id="posFlag" value="0">

		<div class='col-lg-2 col-md-2 col-sm-2'>
			<label class="remove_weight margin_bottom_normal_low"><?php echo $this->translate('Search Logs') ?></label>
		</div>

		<div class="col-lg-1 col-md-1 col-sm-1 text-right">
			<label class="control-label " style="font-weight: normal;"><?php echo $this->translate('From') ?></label>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3">
			<input type="text" style="background-color: white" readonly="true" class="span2 datepicker form-control pointer_cursor" id="from-date" data-date-format="<?php echo $this->dateFormat ?>" placeholder="<?php echo $this->dateFormat ?>">
		</div>

		<div class="col-lg-1 col-md-1 col-sm-1 text-right">
			<label class="control-label" style="font-weight: normal;"><?php echo $this->translate('To') ?></label>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3">
			<input type="text" style="background-color: white" readonly="true" class="span2 datepicker form-control pointer_cursor" id="to-date" data-date-format="<?php echo $this->dateFormat ?>" placeholder="<?php echo $this->dateFormat ?>">
		</div>

		<div class="col-lg-2 col-md-2 col-sm-2">
			<button class="btn btn-primary" id="filter-button"><?php echo $this->translate('GO') ?></button>
		</div>
	</div><!--well-->
</div><!--row-->


<div id="audit-log-list" class="audit-log-list margin_top">
    <div class="table table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                	<th width="10%"><?php echo $this->translate('Log ID'); ?></th>
                	<th width="40%"><?php echo $this->translate('Log Message'); ?></th>
                	<th width="20%"><?php echo $this->translate('Log Time'); ?></th>
                	<th width="15%"><?php echo $this->translate('Log User'); ?></th>
                	<th width="15%"><?php echo $this->translate('View Log Details'); ?></th>
                </tr>
            </thead>

            <tbody>
                <?php
                foreach ($this->auditLog as $key => $logDetails) {
                    ?>
                    <tr>
                        <td> <?php echo $logDetails['logID']; ?></td>
                        <td> <?php echo $logDetails['logMessage']; ?></td>
                        <td> <?php echo $logDetails['logTimeStamp']; ?></td>
                        <td> <?php echo $logDetails['userUsername']; ?></td>
                        <td class="text-center">
                            <?php if(isset($logDetails['logDetailsID'])){?>
                            	<span style="cursor:pointer" data-id="<?php echo $logDetails['logID']; ?>" class="link_color glyphicon glyphicon-eye-open viewLogDetails"></span>
                            <?php } ?>
                        </td>
                    </tr>
                <?php
                }

                if (count($this->auditLog) == 0) {?>
                	<tr class="not_found">
                		<td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                	</tr>
                <?php } ?>

            </tbody>
        </table>
    </div>

    <?php
    //add at the end of the file after the table
    if (!isset($this->paginator)) {
        echo $this->paginationControl(
                $this->auditLog, 'sliding', array('partial/paginator.phtml', 'audit-log'), array(
            'route' => 'audit-log'
                )
        );
    }
    ?>
</div>

<div class="modal fade" id="viewLogDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	
</div>
