<div class="table table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th width="10%"><?php echo $this->translate('Log ID'); ?></th>
				<th width="40%"><?php echo $this->translate('Log Message'); ?></th>
				<th width="20%"><?php echo $this->translate('Log Time'); ?></th>
				<th width="15%"><?php echo $this->translate('Log User'); ?></th>
				<th width="15%"><?php echo $this->translate('View Log Details'); ?></th>
			</tr>
		</thead>

		<tbody>
			<?php
			foreach ($this->auditLog as $key => $logDetails) {
				?>
				<tr>
					<td> <?php echo $logDetails['logID']; ?></td>
					<td> <?php echo $logDetails['logMessage']; ?></td>
					<td> <?php echo $logDetails['logTimeStamp']; ?></td>
					<td> <?php echo $logDetails['userUsername']; ?></td>
					<td class="text-center">
						<?php if(isset($logDetails['logDetailsID'])){?>
						<span style="cursor:pointer" data-id="<?php echo $logDetails['logID']; ?>" class="link_color glyphicon glyphicon-eye-open viewLogDetails"></span>
						<?php } ?>
					</td>
				</tr>
				<?php
			}

			if (count($this->auditLog) == 0) {?>
			<tr class="not_found">
				<td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
			</tr>
			<?php } ?>

		</tbody>
	</table>
</div>