<?php
$form = $this->form;
$form->setAttribute('id', 'create-category-form');
?>

<div class="category-form-container margin_top">
    <div class="well well_heading">
        <h5 class="font_weight"><?php echo $this->translate('Add Category') ?></h5>
        <h5 class="font_weight update"><?php echo $this->translate('Update Category') ?></h5>
    </div>

    <div class="well well_body remove_padding_bottom">

        <?php
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formHidden($form->get('categoryID'));
        ?>

        <div class="form-group">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Category') ?><font color="red"> *</font></label>
                <div class="">
                    <?php echo $this->formRow($form->get('categoryName')); ?>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Parent Category') ?></label>
                <div class="">
                    <?php echo $this->formRow($form->get('categoryParentID')); ?>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Prefix') ?></label>
                <div class="">
                    <?php echo $this->formRow($form->get('categoryPrefix')); ?>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('State') ?></label>
                <div class="">
                    <?php echo $this->formRow($form->get('categoryState')); ?>
                </div>
            </div>
        </div>

        <div class="form-group margin_top_normal button-set update">
            <div class="col-lg-12 text-right">
                <button type="submit" class="btn btn-primary update category_update_btn"><?php echo $this->translate('Update') ?></button>
                <button type="reset" class="btn btn-default reset"><?php echo $this->translate('Cancel') ?></button>
            </div>
        </div>

        <div class="form-group margin_top_normal button-set">
            <div class="col-lg-12 text-right">
                <button type="submit" class="btn btn-primary add"><?php echo $this->translate('Add New') ?></button>
                <button type="reset" class="btn btn-default reset"><?php echo $this->translate('Reset') ?></button>
            </div>
        </div>

        <?php
        echo $this->form()->closeTag($form);
        ?>
    </div>
</div>

<div id="categoryview"></div>

<div class="well clearfix well_custom_padding margin_top category">
    <form class="category-search" method="post" action="">
        <div class="col-lg-3">
            <label class="remove_weight"><?php echo $this->translate('Search a Category') ?></label>
        </div>
        <div class="col-lg-9">
            <div class=" input-group">
                <input type="text" class="search form-control" id ='category-search-keyword' placeholder="<?php echo $this->translate('Enter Category') ?>"/>
                <span class="input-group-btn">
                    <button class="btn btn-default search_btn_css" type="submit"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default reset" type="reset"><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </form>
</div>

<div id="category-list" class="margin_top">
    <?php echo $this->partial('inventory/category/list', array('categoryList' => $this->categoryList, 'paginated' => $this->paginated)); ?>
</div>