<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('Category') ?></th>
                <th><?php echo $this->translate('Parent Category') ?></th>
                <th><?php echo $this->translate('Prefix') ?></th>
                <th hidden><?php echo $this->translate('State') ?></th>
                <th width="10%" class="text-center" hidden><?php echo $this->translate('Edit') ?></th>
                <th width="10%" class="text-center" hidden><?php echo $this->translate('State') ?></th>
                <th width="10%" class="text-center" hidden><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->categoryList as $loo) {
                $loo = (object) $loo;
                ?>
                <tr data-categoryrow="<?php echo $loo->categoryID; ?>">
                    <td><?php echo $loo->categoryName; ?></td>
                    <td class="cp"><?php echo $loo->categoryParentID; ?></td>
                    <td hidden><?php echo $loo->categoryPrefix ?></td>
                    <?php if ($loo->categoryState) { ?>
                        <td><span class="label label-success"><?php echo $this->translate('Active'); ?></span></td>
                    <?php } else { ?>
                        <td><span class="label label-danger"><?php echo $this->translate('Inactive'); ?></span></td>
                    <?php } ?>
                    <td class="text-center" hidden>
                        <?php if ($loo->categoryName != 'General') { ?>
                            <a href="#" class="edit">
                                <span class="fa fa-pencil-square-o custom_font_size"></span>
                            </a>
                        <?php } ?>
                    </td>
                    <td class="text-center" hidden>
                        <?php if ($loo->categoryName != 'General') { ?>
                            <a href="#" class="statechange">
                                <span class="glyphicon glyphicon-<?php echo ($loo->categoryState) ? "check" : "unchecked"; ?>"></span>
                            </a>
                        <?php } ?>
                    </td>
                    <td class="text-center" hidden>
                        <?php if ($loo->categoryName != 'General') { ?>
                            <a href="#" class="delete">
                                <span class="fa fa-trash-o custom_font_size"></span>
                            </a>
                        <?php } ?>
                    </td>
                </tr>
                <?php
            }
            if (count($this->categoryList) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>

        </tbody>
    </table>
</div>

<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->categoryList, 'sliding', array('partial/paginator.phtml', 'company'), array(
        'route' => 'category', 'action' => 'index'
            )
    );
}
?>
