<div class="data_table">
    <?php
    $i = 1;
    $j = 1;

    ?>
    <div class="qout_body">
        <table width="100%" class="table bigtable table-bordered table-striped" id="task_tbl">
            <?php if (sizeof($jobTasks) > 0){ ?>
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Task Code</th>
                    <th>Task Name</th>
                    <th>Rate per unit</th>
                    <th>Estimated Qunatity</th>
                    <th>Total Cost</th>
                </tr>
            </thead>
            <tbody>
                <?php
                    foreach ($jobTasks as $singleValue) {
                     
                        echo "<tr>"
                        . "<td>" . $j++ . "</td>"
                        . "<td>" . $singleValue['taskCode'] . "</td>"
                        . "<td>" . $singleValue['taskName'] . "</td>"
                        . "<td class='text-left'>" . $singleValue['jobTaskUnitRate'] . "</td>"
                        . "<td class='text-left'>" . $singleValue['jobTaskEstQty'] . "</td>"
                        . "<td class='text-right'>" . number_format($singleValue['total'], 2) . "</td>"
                        . "</tr>";
                    }
                
                ?>
            </tbody>
            <?php } else{?>
                <tr class="even_row">
                    <td colspan="6" style="text-align: center;"><?php echo $this->translate('No related data found') ?></td>
                </tr>
            <?php } ?>
        </table>
    </div>
    <br><br>
    <div>
        <table width="100%" class="table bigtable table-bordered" id="job_product_tbl">
            <?php  if (!empty($jobProductData)) { ?>
            <tbody>
                <?php
                    foreach ($jobProductData as $key1 => $dataSet) {
                        ?>
                        <tr class="even_row">
                            <td colspan="7" style="text-align: center; background-color: #DCDCDC "><strong><?php echo $key1; ?></strong></td>
                        </tr>
                        <tr>
                            <th><?php echo $this->translate('Item') ?></th>
                            <th><?php echo $this->translate('Available Qty') ?></th>
                            <th><?php echo $this->translate('Job Qty') ?></th>
                            <th><?php echo $this->translate('Req Qty') ?></th>
                            <th><?php echo $this->translate('Purchase Price') ?></th>
                            <th><?php echo $this->translate('Total') ?></th>
                        </tr>
                        <?php
                        $total = 0;
                        foreach ($dataSet as $key => $data) {
                            $total += floatval($data['purchasingUnitPrice']) * floatval($data['reuiredQuantity']);
                            ?>
                            <tr class="even_row">
                                <td style="text-align: left"><?php echo $data['productCode'].'-'.$data['productName']; ?></td>
                                <td style="text-align: left;"><?php echo $data['locationProductQuantity'] ?></td>
                                <td style="text-align: left;"><?php echo $data['jobProductAllocatedQty'] ?></td>
                                <td style="text-align: left;"><?php echo $data['reuiredQuantity'] ?></td>
                                <td style="text-align: right;"><?php echo number_format($data['purchasingUnitPrice'], 2) ?></td>
                                <td style="text-align: right;"><?php echo number_format(floatval($data['purchasingUnitPrice']) * floatval($data['reuiredQuantity']), 2) ?></td>
                            </tr>
                        <?php 
                    } ?>
                    <tr>
                        <td style="text-align: center;"><strong><?php echo $this->translate('Total') ?></strong></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="text-align: right;"><?php echo  number_format($total,2)?></td>
                    </tr>
                <?php } ?>
               
            </tbody>
                <?php } else { ?>
                    <tr class="even_row">
                        <td colspan="6" style="text-align: center;"><?php echo $this->translate('No related data found') ?></td>
                    </tr>
                <?php } ?>
        </table>
    </div>
</div>
