<div class="data_table">
    <?php  if (count($this->paymentDetails)>0) { ?>
    <span><h4>Payment Details</h4></span>
    <table width="100%" class="table bigtable table-bordered" id="job_product_tbl">
        <tbody>
                <tr class="even_row">
                   <th>Payment Code</th>
                   <th>Payment Date</th>
                   <th>Payment Discount</th>
                   <th>Total Payment</th>
                </tr>
            <?php
                foreach ($this->paymentDetails as $key1 => $dataSet) {
                    ?>
                    <tr class="even_row">
                        <td style="text-align: center; background-color: #DCDCDC "><?php echo $dataSet['paymentCode']; ?></td>
                        <td style="text-align: center; background-color: #DCDCDC "><?php echo $dataSet['paymentDate']; ?></td>
                        <td style="text-align: center; background-color: #DCDCDC "><?php echo (!empty($dataSet['discount']) ? $dataSet['discount'] : 0.00); ?></td>
                        <td  style="text-align: center; background-color: #DCDCDC "><?php echo $dataSet['totalPaymentAmount']; ?></td>
                    </tr>
                    <!-- <tr>
                        <th><?php echo $this->translate('Payment Method') ?></th>
                        <th><?php echo $this->translate('Amount') ?></th>
                    </tr> -->
                    <?php
                    $total = 0;
                    foreach ($dataSet['paymentMethods'] as $key => $data) {
                        $total += floatval($data['purchasingUnitPrice']) * floatval($data['reuiredQuantity']);
                        ?>
                        <tr class="even_row">
                            <td colspan="2" style="text-align: center;"><?php echo $data['paymentMethod']; ?></td>
                            <td colspan="2" style="text-align: center;"><?php echo $data['paymentAmount'] ?></td>
                        </tr>
                    <?php 
                } ?>
                <tr>
                    <td colspan="4"></td>
                </tr>
            <?php } ?>
           
        </tbody>
    </table>
    <?php } else { ?>
        <tr class="even_row">
            <td colspan="6" style="text-align: center;"><?php echo $this->translate('No related data found') ?></td>
        </tr>
    <?php } ?>
</div><!--./col-->


