<?php if (isset($multiplePages)) { ?>
<style>

body {
    zoom: 90%;
}
.product-list hr {
    display: none;
}
</style>
<?php } ?>
<?php if (isset($multiplePages) && $page == 1) { ?>
<style>
div.body > table.table-bordered {
    display: none;
}
div.body > table.table-bordered:nth-of-type(1) {
    display: table;
}
</style>
<?php } else if (isset($multiplePages) && $page != 1) { ?>
<style>
div.body > table.table-bordered<?php if($page == $lastPage){ ?>:nth-of-type(1) <?php } ?> {
    display: none;
}
</style>
<?php } ?>
<div class="data_table">
    <?php $i = 1; ?>
    <table  width="100%" class="product-list">
        <tr>
            <td colspan="2">
                <hr />
                <div class="qout_body">
                    <table width="100%" class="table bigtable <?php if (!$table['hide_table_borders']) { ?>table-bordered table-striped<?php } ?>" id="item_tbl">
                        <?php if (!$table['hide_table_header']) { ?>
                            <thead>
                                <tr>
                                    <?php
                                    foreach ($table["headers"] as $header) {
                                        echo "<th width=\"{$header['width']}%\">" . ucfirst($header['label']) . "</th>";
                                    }
                                    ?>
                                </tr>
                            </thead>
                        <?php } ?>
                        <?php foreach ($table['records'] as $cat) { ?>
                            <?php if (isset($cat['category'])) { ?>
                                <thead>
                                    <tr><td></td><td colspan="6" style="font-weight: bold;"><small><?php echo $cat['category'] ?></small></td></tr>
                                </thead>
                            <?php } ?>
                            <tbody>
                                <?php
                                foreach ($cat['products'] as $key => $product) {

                                    if (isset($multiplePages)) {
                                        $startFromProduct = (($page - 1) * $perPage) - 1;
                                        // $startFromProduct = $startFromProduct > 0 ? $startFromProduct : 0;
                                        $uptoProduct = $page * $perPage;
                                        $uptoProduct = ($uptoProduct > count($cat['products'])) ? count($cat['products']) : $uptoProduct;

                                        if ($key <= $startFromProduct) {
                                            continue;
                                        }

                                        if ($key >= $uptoProduct) {
                                            continue;
                                        }
                                    }

                                    echo "<tr style=\"page-break-inside: avoid;\">";
                                    foreach ($product as $key => $val) {

                                        $zeroClass = ($val === '0.00') ? 'prod-val-zero' : '';

                                        echo "<td  align=\"{$table['headers'][$key]['align']}\" width=\"{$table['headers'][$key]['width']}%\" class=\"prod-col-{$key} {$zeroClass}\"><span>" . $val . "</span></td>";
                                    }
                                    echo "</tr>";
                                }
                                ?>
                            </tbody>
                        <?php } ?>
                    </table>

                    <?php if (!isset($multiplePages) || $lastPage) { ?>
                    <div class="summary">
                        <table width="100%"  id="" class="table">
                            <col width="90px"><col width="290px"><col width="75px">
                            <col width="100px"><col width="50px"><col width="100px">
                            <tr>
                                <td colspan="2" rowspan="<?php echo isset($cr_discount) ? 4 : isset($mass_disc_without_product_dis) ? 7 : 3; ?>">
                                    <?php
                                    echo (isset($comment)) ? "<div id='comment'><strong>" . Comment . "&nbsp;:</strong><pre style='font-family:Helvetica,Arial,sans-serif; white-space: pre-wrap;'><i>" . $comment . "</i></pre></div>" : "";
                                    echo (isset($memo)) ? "<div id='memo-box'><strong>" . Memo . "</strong><pre style='font-family:Helvetica,Arial,sans-serif; white-space: pre-wrap;'><i>" . $memo . "</i></pre></div>" : "";
                                    echo (isset($salesInvoiceDeliveryAddress) && $salesInvoiceDeliveryChargeEnable) ? "<div id='del-address-box'><strong> Delivery Address </strong><pre style='font-family:Helvetica,Arial,sans-serif; white-space: pre-wrap;'><i>" . $salesInvoiceDeliveryAddress . "</i></pre></div>" : "";

                                    echo ($salesInvoiceServiceChargeAmount > 0) ? "<div id='del-address-box'><strong> Service Charge Details </strong><pre style='font-family:Helvetica,Arial,sans-serif; white-space: pre-wrap;'><i>" . $serviceChargeDetails . "</i></pre></div>" : "";
                                    ?>
                                </td>
                                <td colspan="3"><?php if (!$table['hide_table_header']) { ?>Sub Total<?php } ?></td>
                                <?php if (isset($table['footers']['sub_total'])) { ?>
                                    <td class="text-right"><?php echo number_format($sub_total, 2); ?></td>
                                <?php } else if (isset($table['footers']['sub_total_wo_tax'])) { ?>
                                    <td class="text-right"><?php echo number_format($sub_total_wo_tax, 2); ?></td>
                                <?php } else if (isset($table['footers']['sub_total_wo_discounts'])) { ?>
                                    <td class="text-right"><?php echo number_format($sub_total_wo_discounts, 2); ?></td>
                                <?php } ?>
                            </tr>
                            <tr id="inv-disc-tr" class="inv-disc-tr">
                                <td colspan="3">
                                    <div><?php if (!$table['hide_table_header']) { ?>Invoice Discount<?php } ?></div>
                                </td>
                                <td class="text-right">
                                    <?php echo number_format($mass_disc_without_product_dis, 2); ?>
                                </td>
                            </tr>
                            <?php if ($salesInvoicePromotionDiscount > 0) { ?>
                                <tr>
                                    <td colspan="3">
                                        <div>Promotion Discount</div>
                                    </td>
                                    <td class="text-right">
                                        <?php echo number_format($salesInvoicePromotionDiscount, 2); ?>
                                    </td>
                                </tr>
                            <?php } ?>
                            <?php if ($salesInvoiceServiceChargeAmount > 0) { ?>
                                <tr id="inv-service-charge-tr" class="inv-service-charge-tr">
                                    <td colspan="3">
                                        <div>Service Charge Amount</div>
                                    </td>
                                    <td class="text-right">
                                        <?php echo number_format($salesInvoiceServiceChargeAmount, 2); ?>
                                    </td>
                                </tr>
                            <?php } ?>
                            <?php if (isset($salesInvoiceDeliveryCharge) && $salesInvoiceDeliveryCharge > 0) { ?>
                                <tr>
                                    <td colspan="3">
                                        <div><?php if (!$table['hide_table_header']) { ?>Delivery Charges<?php } ?></div>
                                    </td>
                                    <td class="text-right">
                                        <?php echo number_format($salesInvoiceDeliveryCharge, 2); ?>
                                    </td>
                                </tr>
                            <?php } ?>

                            <?php if (isset($salesInvoiceSuspendedTax) && $salesInvoiceSuspendedTax == 1) { ?>
                                <tr class="nrml-tax-tr">
                                    <td colspan="3">
                                        <div class="nrml-tax">
                                            <span>
                                                <?php if (!$table['hide_table_header']) { ?>Total Tax <?php echo '(' . $calculatableTaxes . ')'; } ?>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <?php echo number_format($calculatableTaxesTotal, 2); ?>
                                    </td>
                                </tr>
                                <tr class="cmpnd-tax-tr">
                                    <td colspan="3">
                                        <div class="cmpnd-tax-sus">
                                            <span>
                                                <?php if (!$table['hide_table_header']) { ?>Suspended Tax<?php echo '(' . $suspendableTaxes . ')'; } ?>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <?php echo number_format($suspendedTaxesTotal, 2); ?>
                                    </td>
                                </tr>
                            <?php } else if ($salesInvoiceShowTax) { ?>
                                <tr id="nrml-tax-tr" class="nrml-tax-tr">
                                    <td colspan="3">
                                        <div id="nrml-tax" class="nrml-tax">
                                            <span>
                                                <?php if (!$table['hide_table_header']) { ?>Normal Tax<?php echo '(' . $normalTaxesSet . ')'; } ?>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <?php echo $normalTaxTotal; ?>
                                    </td>
                                </tr>
                                <tr id="cmpnd-tax-tr" class="cmpnd-tax-tr">
                                    <td colspan="3">
                                        <div id="cmpnd-tax" class="cmpnd-tax">
                                            <span>
                                                <?php if (!$table['hide_table_header']) { ?>Compound Tax<?php echo '(' . $compoundTaxesSet . ')'; } ?>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <?php echo $compoundTaxTotal; ?>
                                    </td>
                                </tr>
                            <?php } ?>
                            <tr>
                                <td colspan="3"><h3><?php if (!$table['hide_table_header']) { ?><?php echo "Total " . $currencySymbol ?><?php } ?></h3></td>
                                <td class="text-right"><strong><h3><?php echo number_format(($salesinvoiceTotalAmount / $currencyRate), 2); ?></h3></strong></td>
                            </tr>
                        </table>
                    </div>
                    <?php } ?>
                </div>
            </td>
        </tr>
        <?php if (!isset($multiplePages) || $lastPage) { ?>
        <tr>
            <td colspan="2" class="small">
                <?php if (!$table['hide_table_header']) { ?>
                    <?php if ($salesInvoiceShowTax && $tax_record_line != "") { ?>
                        <br />
                        <div id="total_tax"><?php echo $tax_record . $tax_record_line; ?></div>
                    <?php } ?>
                    <br />

                    <?php if (isset($promotion)) { ?>
	                    <div id="applied_promotion"><strong>Promotion:&nbsp;</strong><?php echo $promotion ?></div>
	                    <br />
                    <?php } ?>

                    <div id="total_disc">
                        <?php
                        if ($discount > 0 || $mass_disc_without_product_dis > 0) {
                            echo '<strong>' . $discountStatement . '</strong>&nbsp; ' . $currencySymbol . number_format($mass_discount, 2);
                        }
                        ?>
                    </div>
                <?php } ?>
            </td>
        </tr>
        <?php } ?>
    </table>
</div>
