
<script type="text/javascript" src="/js/angular.min.js"></script>
<script type="text/javascript">

    function PreviewController($scope) {
        $scope.sub_total = "0.00";
        $scope.billTotal = "0.00";
        $scope.totalInvDiscount = "0.00";
        $scope.totalTax = "0.00";
        $scope.totalDiscount = 0;

        $scope.setTotalDiscount = function(products, invDisc) {
            $scope.totalDiscount = 0;
            for (var i = 0; i < products.length; i++) {
                if (products[i].dAmo > 0) {
                    if (products[i].dType == 'precentage') {
                        $scope.totalDiscount += parseFloat((products[i].pR * products[i].dAmo) / 100) * products[i].qty;
                    } else {
                        $scope.totalDiscount += parseFloat(products[i].dAmo * products[i].qty);
                    }
                }
            }
            $scope.totalDiscount += parseFloat(invDisc);
        };

        window.updatePreview = function(data) {
            $scope.$apply(function() {
                $scope.sub_total = data.invoice.subTotal;
                $scope.totalTax = data.invoice.totalTax;
                $scope.billTotal = data.invoice.finTotal;
                $scope.paidAmount = data.totalPayment;
                $scope.paymentBalance = data.payment.balance;
                $scope.hasInvPercentageDis = data.invoice.discountSelect == 'pre' &&  data.invoice.discount > 0 ? true : false;
                $scope.discOnlyOnEligible = data.invoice.discountOnlyOnEligible;
                $scope.totalInvDiscount = data.invoice.discountAmount;
                $scope.prList = data.invoice.cart;
                $scope.promotion = data.promotion;
                $scope.subProduct = data.subProduct;
                $scope.posMode = data.posMode;
                $scope.payment = new Array();
                $scope.invDiscountVal = data.invoice.discount;
                $scope.inclusiveTax = data.invoice.inclusiveTax;

                for(var type in data.payment){
                    switch(type){

                        case 'cash' :
                            if(data.payment[type] != null){
                                $scope.payment.push({name: 'Cash', amount: data.payment[type]});
                            }
                            break;
                        case 'cardPayment' :
                            if(data.payment[type] != null){
                                $scope.payment.push({name: 'Card', amount: data.payment[type]});
                            }
                            break;
                        case 'redeem_value' :
                            if(data.payment[type] != null){
                                $scope.payment.push({name: 'Loyalty points', amount: data.payment[type]});
                            }
                            break;
                        case 'redeem_value' :
                            if(data.payment[type] != null){
                                $scope.payment.push({name: 'Loyalty points', amount: data.payment[type]});
                            }
                            break;
                        case 'creditNotePayment' :
                            if(data.payment[type] !=null){
                                $scope.payment.push({name: 'Credit Payment', amount: data.payment[type]});    
                            }
                            break;
                    }
                }

                for(var gfCard in data.giftCardDetails){
                    $scope.payment.push({
                        name: "Gift card: " + data.giftCardDetails[gfCard].giftCardCode,
                        amount: data.giftCardDetails[gfCard].paidAmount
                    })
                }

                /* Total discount received:*/ 
                $scope.setTotalDiscount(data.invoice.cart, $scope.totalInvDiscount);
                if($scope.promotion.totalDiscount){
                    $scope.totalDiscount += parseFloat($scope.promotion.totalDiscount);
                }
                /* Discount show under subtotal (product discount total)*/
                $scope.invoiceTotalDiscount = $scope.totalInvDiscount;

                var docValues = {};
                docValues = {
                    customerName: (data.customerName) ? data.customerName : "",
                    salesInvoiceCode: (data.invCode) ? data.invCode : "",
                    totalLoyaltyPoints: (data.totalLoyaltyPoints) ? (data.totalLoyaltyPoints).toFixed(2) : "",
                    earnedLoyaltyPoints: (data.earnedLoyaltyPoints) ? (data.earnedLoyaltyPoints).toFixed(2) : "",
                    comment: (data.invoice.comment) ? data.invoice.comment : ""
                };
                dataFill(docValues);
                setInvoiceIssueDateTime(data.dateFormat, data.timeFormat);
            });
        };

        $scope.getSerialsAndWarranty = function(pid){
            var strLst = [];
    
            for(var sp in $scope.subProduct[pid]){

                /* Do not check for batch code, because batch code doesn't want to print. */
                var code = $scope.subProduct[pid][sp]['serialCode'];
                var str = '';

                /* Convert warraynty days in to readable format */
                var warrDisplayVals = [['year', 365], ['month', '30'], ['day', 1]];
                var wrDays = $scope.subProduct[pid][sp]['warranty'];
                var expireDate = $scope.subProduct[pid][sp]['expireDate'];
                var warranty = '';

                for(i in warrDisplayVals){
                    var amount =  Math.floor(wrDays/warrDisplayVals[i][1]);
                    if(amount){
                        warranty += amount + " " + warrDisplayVals[i][0] + ( amount > 1 ? "s " : " " );
                        wrDays -= amount * warrDisplayVals[i][1];
                    }
                }

                var record = [];
                if(code){
                    if (expireDate) {
                        record.push("Serial No: " + code+ ", Expire Date: "+expireDate);
                    } else {
                        record.push("Serial No: " + code);
                    }
                }
                if(warranty){
                    record.push("Warranty: " + warranty);
                }

                if(record.length){
                    strLst.push(record.join(', '));
                }
            }
            return strLst;
        }
    }

    function setInvoiceIssueDateTime(dateFormat, timeFormat){
        var cur_date = new Date();

        var date = dateFormat.replace(/mm|dd|yyyy/gi,function(str){
            if(str == 'mm'){
                var m = cur_date.getMonth() + 1;
                if (m < 10) {
                    m = '0' + m;
                }
                return m;
            }

            if(str == 'dd'){
                var d = cur_date.getDate();
                if (d < 10) {
                    d = '0' + d;
                }
                return d;
            }

            if(str == 'yyyy'){
                return cur_date.getFullYear();
            }
        });

        var hr = cur_date.getHours();

        var mn = (cur_date.getMinutes() < 10) ? "0" + cur_date.getMinutes() : cur_date.getMinutes();

        var sc = cur_date.getSeconds();
        var period = "";
        if(timeFormat == '12'){
            period = (hr < 12) ? "&nbsp;AM" : "&nbsp;PM";
            hr = (hr < 12) ? hr : hr-12;
        }

        document.getElementById('salesInvoiceIssuedDate').innerHTML = date;
        document.getElementById('current_time').innerHTML = [hr,mn,sc].join(":") + period;

    }


    function dataFill(data){

        var docUpdated = false;
        for(var id in data){
            var ele = document.getElementById(id);
            if(ele){
                ele.innerHTML = data[id];
                docUpdated = true;
            }
        }

        if(!docUpdated){
            var abbr = document.getElementsByTagName("abbr");
                var placeHolder = Array(
                                        ["[customerName]", "customerName"],
                                        ["[salesInvoiceCode]", "salesInvoiceCode"],
                                        ["[salesInvoiceIssuedDate]", "salesInvoiceIssuedDate"],
                                        ["[current_time]", "current_time"],
                                        ["[totalLoyaltyPoints]", "totalLoyaltyPoints"],
                                        ["[earnedLoyaltyPoints]", "earnedLoyaltyPoints"],
                                        ["[comment]", "comment"]
                                        );

                for(var i = 0; i < abbr.length; i++){
                    for(var row in placeHolder){
                        if (abbr[i].textContent == placeHolder[row][0]) {
                            abbr[i].setAttribute('id', placeHolder[row][1]);
                        }
                    }
                }
            dataFill(data);
        }


    }

</script>

<div class="data_table" ng-app ng-controller="PreviewController">
    <?php
    $i = 1;
    ?>
    <table  width="100%" class="product-list">
        <tr>
            <td colspan="2">
                <div class="qout_body" style="padding-top: 9px;">
                    <table width="100%" class="table bigtable" id="item_tbl">
                        <thead class="top">
                            <tr>
                                <th>&nbsp;</th>
                                <th align="left" colspan="4"><?php echo $this->translate('Item Code / Name') ?></th>
                            </tr>
                        </thead>
                        <thead class="bottom">
                            <tr>
                                <th align="left"><?php echo $this->translate('Qty') ?></th>
                                <th class="text-right"><?php echo $this->translate('Price') ?></th>
                                <th class="text-right"><?php echo $this->translate('Total Discount') ?></th>
                                <th class="text-right"><?php echo $this->translate('Amount') ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php if ($template) { ?>
                                <tr class="top" ng-repeat-start = "i in prList" >
                                    <td colspan="4" style="border-color:#fff;">
                                    <span ng-if="hasInvPercentageDis">{{(!discOnlyOnEligible || (discOnlyOnEligible && i.dE == "1")) ? "*" : ""}}</span>
                                    {{i.pC}}&nbsp;-&nbsp;{{i.pN}}</td>

                                </tr>
                                <tr <?php echo filter_var($templateOptions['remove_product_details'], FILTER_VALIDATE_BOOLEAN) ? "ng-repeat-end" : ""?> ng-if="inclusiveTax == false">
                                    <td class="text-left" style="border-color:#fff;">{{i.qty}}&nbsp;{{i.pUom}}</td>
                                    <td class="text-right" style="border-color:#fff;">{{i.pR| currency:''}}</td>
                                    <td class="text-right" style="border-color:#fff;">{{i.dType == "precentage" ? ((i.pR * i.dAmo) / 100) * i.qty : i.dAmo * i.qty | currency : ''}}</td>
                                    <td class="text-right" style="border-color:#fff;">{{i.pTotal| currency:''}}
                                    </td>
                                </tr>
                                <tr <?php echo filter_var($templateOptions['remove_product_details'], FILTER_VALIDATE_BOOLEAN) ? "ng-repeat-end" : ""?> ng-if="inclusiveTax == true">
                                    <td class="text-left" style="border-color:#fff;">{{i.qty}}&nbsp;{{i.pUom}}</td>
                                    <td class="text-right" style="border-color:#fff;">{{i.inclusiveTaxpR| currency:''}}</td>
                                    <td class="text-right" style="border-color:#fff;">{{i.dType == "precentage" ? ((i.inclusiveTaxpR * i.dAmo) / 100) * i.qty : i.dAmo * i.qty | currency : ''}}</td>
                                    <td class="text-right" style="border-color:#fff;">{{i.pTotal| currency:''}}
                                    </td>
                                </tr>
                                <?php if(!filter_var($templateOptions['remove_product_details'], FILTER_VALIDATE_BOOLEAN)):?>
                                <tr class="bottom" ng-repeat-end>
                                    <td colspan="2" style="border-color:#fff;">
                                        <div ng-repeat = 'row in getSerialsAndWarranty(i.pID) track by $index' >
                                            {{row}}<br/>
                                        </div>
                                            
                                    </td>
                                </tr>
                                <?php endif;?>
                                <?php
                            } else {
                                foreach ($this->productsList as $key => $product) {
                                ?>
                                    <tr class="top">
                                        <td colspan="4" style="border-color:#fff;"><?php echo $product['productCode'] . ' - ' . $product['productName']; ?></td>
                                    </tr>
                                    <tr >
                                        <td class="text-left" style="border-color:#fff;"><?php echo $product['itemQuntity']; ?></td>
                                        <td class="text-right" style="border-color:#fff;"><?php echo number_format(($product['unitPrice']), 2); ?></td>
                                        <td class="text-right" style="border-color:#fff;"><?php echo number_format(($product['totalDiscount']), 2); ?></td>
                                        <td class="text-right" style="border-color:#fff;"><?php echo number_format(($product['salesInvoiceProductTotal'] / $this->salesInvoiceCustomCurrencyRate), 2); ?></td>
                                    </tr>
                                <?php if(!filter_var($templateOptions['remove_product_details'], FILTER_VALIDATE_BOOLEAN)):?>
                                    <tr class="bottom">
                                        <td colspan="2" style="border-color:#fff;">
                                            <div >
                                                <?php echo $product['subProductserialAndWarranty']?>
                                            </div>
                                        </td>
                                    </tr>
                                <?php endif;?>
                                <?php
                                }
                            }
                            ?>
                        </tbody>
                    </table>
                    <div class="summary">
                        <table width="100%" class="table">
                            <tr>
                                <th colspan="5" align="left" class="text-left"><br /><?php echo $this->translate("Sub Total"); ?></th>
                                <th class="text-right"><br /><?php echo ($template)? $sub_total:$currencySymbol.' '.number_format($sub_total,2); ?></th>
                            </tr>
                            <?php if ($totalTax && $template) { ?>
                                <tr ng-if="totalTax > 0.00">
                                    <th colspan="5" align="left" class="text-left" style="border: none;"><?php echo $this->translate("Tax"); ?></th>
                                    <th class="text-right" style="border: none;"><?php echo $totalTax; ?></th>
                                </tr>
                            <?php } else if($totalTax>0){?>
                                <tr>
                                    <th colspan="5" align="left" class="text-left" style="border: none;"><?php echo $this->translate("Tax"); ?></th>
                                    <th class="text-right" style="border: none;"><?php echo $currencySymbol.' '.$totalTax; ?></th>
                                </tr>
                            <?php    
                                 }                
                            if ($salesInvoiceTotalDiscount && $template) { 
                                ?>
                                <tr ng-if="discount > 0.00">
                                    <th colspan="5" align="left" class="text-left" style="border: none;"><?php echo $this->translate("Discount"); ?></th>
                                    <th class="text-right" style="border: none;">(<?php echo $salesInvoiceTotalDiscount; ?>)</th>
                                </tr>
                            <?php 
                            } else if($salesInvoiceTotalDiscount>0){
                                ?>
                                <tr >
                                    <th colspan="5" align="left" class="text-left" style="border: none;"><?php echo $this->translate("Discount"); ?></th>
                                    <th class="text-right" style="border: none;">(<?php echo $currencySymbol.' '.$salesInvoiceTotalDiscount; ?>)</th>
                                </tr>
                            <?php }
                            ?>
                            <tr ng-if="promotion.totalDiscount" >
                                <th colspan="5" align="left" class="text-left" style="border: none;">
                                    <?php echo $this->translate("Promotion Discount"); ?>
                                </th>
                                <th class="text-right" style="border: none;">
                                    ({{promotion.totalDiscount| currency : "<?php echo $currencySymbol; ?>"}})
                                </th>
                            </tr>
                            <?php if(!$template && $salesInvoicePromotionDiscount>0) { ?>
                            <tr >
                                <th colspan="5" align="left" class="text-left" style="border: none;">
                                    <?php echo $this->translate("Promotion Discount"); ?>
                                </th>
                                <th class="text-right" style="border: none;">(<?php echo $currencySymbol.' '. number_format($salesInvoicePromotionDiscount,2);?>)
                                </th>
                            </tr>
                            
                            <?php 
                            }  ?>
                            <tr class="total">
                                <td colspan="5" style="border-bottom: 1px solid #DDDDDD;" >
                                    <h3><?php echo $this->translate('Total') ?></h3>
                                </td>
                                <?php if ($template) { ?>
                                    <td class="text-right" style="border-bottom: 1px solid #DDDDDD;">
                                        <strong><h3><?php echo $currencySymbol . '{{billTotal | currency : \'\'}}'; ?></h3></strong>
                                    </td>
                                <?php } else { ?>
                                    <td class="text-right" style="border-bottom: 1px solid #DDDDDD;"><strong><h3><?php echo $currencySymbol .' '. number_format(($salesinvoiceTotalAmount / $this->salesInvoiceCustomCurrencyRate), 2); ?></h3></strong></td>
                                <?php } ?>
                            </tr>

                            <?php if ($template) { ?>
                                <tr ng-show="posMode != 'inv'" ng-repeat="type in payment">
                                    <td colspan="5" align="left" class="text-left" style="border-top: none;">
                                        {{type.name}}
                                    </td>
                                    <td class="text-right" style="border-top: none;">
                                        <?php echo $currencySymbol;?>&nbsp;{{type.amount | currency: ''}}
                                    </td>
                                </tr>
                            <?php }else {?>
                                <tr>
                                    <td colspan="5" align="left" class="text-left" style="border-top: none;">
                                        <?php echo $this->translate("Paid");?>
                                    </td>
                                    <td class="text-right" style="border-top: none;">
                                        <?php echo (!$template)? $currencySymbol.' '.$incomingPaymentPaidAmount : $incomingPaymentPaidAmount; ?>
                                    </td>
                                </tr>
                            <?php }?>   
                            <tr ng-show="posMode != 'inv'">
                                <td colspan="5" align="left" class="text-left">
                                    <?php echo $this->translate("Balance"); ?>
                                </td>
                                <td class="text-right">
                                    <?php echo  ($template)?$incomingPaymentBalance :$currencySymbol.' '.$incomingPaymentBalance; ?>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
        <tr colspan="2">
            <td colspan="2" class="small">
                <?php if($template){?>
                <div id="total_disc" ng-if="totalDiscount > 0.00">
                    <?php
                    if ($discount) {
                        echo '<hr style="margin-top: 5px; margin-bottom: 10px;" />' . $this->translate($discountStatement) . '&nbsp;' . $discount . '</hr>';
                    }
                    ?>
                </div>
                <?php } else { ?>
                     <div id="total_disc" >
                    <?php
                    if ($discountWithPromoDisc) {
                        echo '<hr style="margin-top: 5px; margin-bottom: 10px;" />' . $this->translate($discountStatement) . ' ' .$currencySymbol.' '. number_format($discountWithPromoDisc,2) . '</hr>';
                    }
                    ?>
                </div>
                <?php }
                ?>
                
            </td>
        </tr>
            <td ng-if="promotion.promoID && promotion.itemList.length">
                Promotional Discounts:
                <ul ng-repeat="(id, obj) in promotion.itemList">
                    <li>{{obj.p_name}} - {{obj.discount| currency : "<?php echo $currencySymbol; ?>"}}
                </ul>
            </td>
            <?php
            if($promotionID && count($itemWiseProDetails)>0){
            ?>
             <td>
                Promotional Discounts:
                <ul >
                <?php 
                foreach($itemWiseProDetails as $detail){
                ?>
                 <li><?php echo $detail['item'].'-'.$currencySymbol.' '.$detail['itemDiscount'];?>
                <?php
                }
               
                ?>
                    
                </ul>
            </td>
            <?php
            }
                ?>
            
        </tr>
        <?php if($template):?>
            <tr ng-if="hasInvPercentageDis">
                <td colspan="2" class="small">
                    {{invDiscountVal}}% Invoice Discount Applied for * Items.
                </td>
            </tr>
        <?php elseif($applied_pos_invoice_discount):?>
            <tr>
                <td colspan="2" class="small">
                    <?php echo $salesInvoiceDiscountRate; ?>% Invoice Discount Applied for * Items.
                </td>
            </tr>
        <?php endif; ?>
    </table>
</div>
<br />
