<div class='form-group text-center' id='non-printable'>
    <?php if($glAccountFlag == 1){?>
    	<button class="btn btn-primary btn-block" id="journalEntry"><?php echo $this->translate('Journal Entry View') ?></button>
    <?php }?>
</div>