<script type="text/javascript">

        function printViaPdf() {
            var templateId = $('#templateID').val();
            var url = $('#prnt-via-pdf').data('href') + '/' + templateId;
            console.log(BASE_URL);
            console.log(url);
            console.log(window);
            var win = window.open(url, '_blank');

            win.focus();
        }

        function changeTemplate() {
            var selected = $('#templateID').find('option:selected');
            var status = selected.data('status');
            if (status == '1') {
                $('#prnt-via-pdf').show();
            } else {
                $('#prnt-via-pdf').hide();
            }
        }
</script>

<iframe id="documentpreview" onLoad="changeTemplate()" class="<?php echo (isset($data['documentType']) && $data['documentType'] == 'POS printout') ? 'POS POS-EX' : 'A4'?>" src="<?php echo $this->path . $this->code; ?>" data-origsrc="<?php echo $this->path . $this->code; ?>"></iframe>

<div id='btn_group'><div class='form-group text-center' id='non-printable'>
        <!--//-->
        <?php
        if(!$isInitialView && $enableToggle) {
        ?>
            <div class="text-left">
                <?php foreach ($documentNames as $key => $value) { ?>
                    <div class="radio">
                        <label style="color: white">
                            <input type="radio" name="original-print-opt" value="<?php echo $key; ?>" <?php echo ($key == 0) ? 'checked="true"' : ''; ?> ><?php echo $value; ?> &nbsp;
                        </label>
                    </div>
                <?php } ?>                
            </div>
        <?php
        }
        ?>        
        <div  class="btn btn-block">
            <!--<select class="form-control templateID">-->
            <select class='form-control selectpicker' onchange="changeTemplate()" name="templateID" id="templateID" data-live-search="true">
                <?php
                $lastSize = '';
                foreach ($data['documentTemplates'] as $tpl):
                    ?>
                    <option <?php echo ($tpl['templateDefault'] == 1) ? 'selected' : ''; ?> value="<?php echo $tpl['templateID']; ?>" data-status="<?php echo $tpl['isAdvanceTemplateEnabled']; ?>"><?php echo $tpl['templateName']; ?> [<?php echo $tpl['documentSizeName']; ?>]</option>
                <?php endforeach; ?>
            </select>
        </div>
        <!--//-->

        <button class='btn btn-block' id='document_print'><?php echo $this->translate('Print') ?></button>
        <button class="btn btn-block <?php echo (!$data['email'])?'hidden':''?>" id="document_email"><?php echo $this->translate('Email') ?></button>
        <button class="btn btn-block <?php echo (!$data['sms'])?'hidden':''?>" id="document_sms"><?php echo $this->translate('Send SMS') ?></button>
        <?php if (isset($data['pos']) && !$data['pos'] || !isset($data['pos'])) { ?>
            <button class="btn btn-default btn-block" onclick="printViaPdf()" href="#" data-href="<?php echo '/' . $this->documentPath . '/document-pdf/' . $this->code; ?>" id="prnt-via-pdf"><?php echo $this->translate('Print Via PDF') ?></button>
        <?php } ?>
    </div>
    <div class='form-group text-center' id='non-printable'>
        <?php echo $this->additionalButton; ?> <!-- This is the additional button 'PAY', only used in invoice view-->

        <?php if($createPath){ ?>
        <a href="<?php echo $this->createPath ?>" class='btn btn-primary btn-block'><?php echo $this->translate($this->createNew) ?></a>
        <?php } ?>
    </div>
    <div class='form-group text-center btn-block' id='non-printable'>
        <button class='btn btn-danger btn-block' id='cancel'><?php echo $this->translate('Back') ?></button>
    </div>
</div>

<div class="modal fade " id="email-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"><?php echo $this->translate('Email') ?></h4>
            </div>
            <div class="modal-body"><!-- e-mail from body -->
                <form action="" method="POST" class="form-horizontal">
                    <div class="form-group"><!-- e-mail to-->
                        <label for="email_to" class="col-lg-2 control-label"><?php echo $this->translate("To") ?></label>
                        <div class="col-lg-10">
                            <input type="text" name="email_to" id="email_to" class="form-control" placeholder="john@example.com, doe@example.com" value="<?php echo isset($data['email']["to"]) ? $data['email']["to"] : null; ?>" autocomplete="off">
                        </div>
                    </div><!--./form-group-->

                    <div class="form-group"><!-- e-mail from-->
                        <label for="email_sub" class="col-lg-2 control-label"><?php echo $this->translate("Subject") ?></label>
                        <div class="col-lg-10">
                            <input type="text" name="email_sub" id="email_sub" class="form-control"  value="<?php echo isset($data['email']["subject"]) ? $data["email"]["subject"] : null; ?>">
                        </div>
                    </div><!--./form-group-->


                    <div class="form-group email-body-form-group"><!-- e-mail body -->
                        <div contenteditable="true"  name="email-body" class="email-body"  autocomplete="off" rows="12" ><?php echo isset($data['email']["body"]) ? $data['email']["body"] : null; ?></div>
                    </div><!--./form-group-->
                </form>
                <div class="form-group" style="padding-top: 15px; margin-bottom: -20px; font-size: 12px;">
                    <i class="fa fa-file-pdf-o"></i>
                    <text><b>  PDF document attached</b></text>
                </div>
                <?php if ($enableCsvAttachment) { ?>
                    <div class="form-group" style="padding-top: 25px; margin-bottom: -20px; font-size: 12px;">
                        <i class="fa fa-file-excel-o"></i>
                        <text><b>  CSV document attached</b></text>
                    </div>
                <?php } ?>
            </div><!-- e-mail form body close-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default email-modal-close"><?php echo $this->translate('Cancel') ?></button>
                <button type="button" class="btn btn-primary" id="send" data-docid="<?php echo $this->code; ?>"><?php echo $this->translate('Send') ?></button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade " id="sms-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"><?php echo $this->translate('SMS Notification') ?></h4>
            </div>
            <div class="modal-body"><!-- sms from body -->
                <form action="" method="POST" class="form-horizontal">
                    <div class="form-group"><!-- sms to-->
                        <label for="email_to" class="col-lg-2 control-label"><?php echo $this->translate("To") ?></label>
                        <div class="col-lg-10">
                            <input type="text" name="sms_to" id="sms_to" class="form-control" placeholder="07X XXX XXXX" value="<?php echo isset($data['sms']["customerTelephoneNumber"]) ? $data['sms']["customerTelephoneNumber"] : null; ?>" autocomplete="off">
                        </div>
                    </div><!--./form-group-->

                    <div class="form-group email-body-form-group"><!-- sms body -->
                        <div contenteditable="true"  name="sms-body" class="email-body" id="sms_body" autocomplete="off" rows="12" ><?php echo isset($data['sms']["message"]) ? $data['sms']["message"] : null; ?></div>
                    </div><!--./form-group-->
                </form>
            </div><!-- sms form body close-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default sms-modal-close"><?php echo $this->translate('Cancel') ?></button>
                <button type="button" class="btn btn-primary" id="sendSms" data-docid="<?php echo $this->code; ?>"><?php echo $this->translate('Send') ?></button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade " id="journal-entry-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->JEntry;?>
</div>
