<?php 
if (sizeof($paymentMethodData) > 0) {
?>
<div>
    <table  width="100%" class="product-list">
        <tr>
            <td colspan="2">
                <div class="qout_body">
                    <table width="100%" class="table bigtable table-bordered table-striped" id="item_tbl">
                        <thead>
                            <tr>
                                <th style="width: 20%; text-align: left;"><?php echo $this->translate("Payment Method"); ?></th>
                                <th style="width: 80%"><?php echo $this->translate("Details"); ?></th>
                            </tr>
                        </thead>
                        <tbody id="form_row">
                            <?php if(isset($paymentMethodData['cash'])) {?>
                                <tr>
                                    <td>Cash</td>
                                    <td><?php echo number_format($paymentMethodData['cash'],2);?></td>
                                </tr>
                            <?php } ?>
                            <?php if (sizeof($paymentMethodData['cheque']) > 0) { ?>
                                <tr>
                                    <td>
                                        Cheque
                                    </td>
                                    <td>
                                        <table width="100%" class="table bigtable table-bordered table-striped" id="item_tbl">
                                            <thead>
                                                <tr>
                                                    <th style="width: 33%"><?php echo $this->translate("Cheque Amount(Rs)"); ?></th>
                                                    <th style="width: 33%"><?php echo $this->translate("Cheque Number"); ?></th>
                                                    <th style="width: 33%"><?php echo $this->translate("Cheque Date"); ?></th>
                                                </tr>
                                            </thead>
                                            <tbody id="form_row">
                                                <?php
                                                    foreach ($paymentMethodData['cheque'] as $value) { 
                                                        ?>
                                                        <tr class="">
                                                            <td style="text-align: center;" id='chequeAmount'><?php echo number_format($value['chequeAmount'],2); ?></td>
                                                            <td style="text-align: center;" id='chequeNumber'><?php echo $value['chequeNumber']; ?></td>
                                                            <td style="text-align: center;" id='chequeDate'><?php echo $value['chequeDate']; ?></td>
                                                        </tr>

                                                <?php        
                                                    }
                                                     ?> 
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            <?php } ?>
                            <?php if(isset($paymentMethodData['card'])) {?>
                                <tr>
                                    <td>Card</td>
                                    <td><?php echo number_format($paymentMethodData['card'],2);?></td>
                                </tr>
                            <?php } ?>
                            <?php if(isset($paymentMethodData['loyalty'])) {?>
                                <tr>
                                    <td>Loaylty Card</td>
                                    <td><?php echo number_format($paymentMethodData['loyalty'],2);?></td>
                                </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
<?php } ?>