<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
<?php
$this->headScript()->captureEnd();
?>
<link rel="stylesheet" href="<?php echo $this->basePath('assets/DataTables-1.9.4/media/css/jquery.dataTables.css'); ?>" type="text/css" />

<?php $this->headScript()->appendFile($this->basePath('assets/DataTables-1.9.4/media/js/jquery.dataTables.min.js')); ?>
<?php $this->headScript()->appendFile($this->basePath('assets/DataTables-1.9.4/media/js/jquery.jeditable.js')); ?>
<?php $this->headScript()->appendFile($this->basePath('js/report-pdf/graphReport.js')); ?>
<?php $this->headScript()->appendFile($this->basePath('js/report-pdf/accounting.js')); ?>
<script type="text/javascript">

    function printdiv(printpage)
    {

        var divContents = $("#" + printpage).html();
        var printWindow = window.open('', '', 'height=400,width=800');
        printWindow.document.write(divContents);
        printWindow.print();
        printWindow.close();
        return ture;

    }
</script>

<!--top_panel-->
<div class="panel panel-default margin_top panel_border">

    <div class="panel-heading panel_heading_style"><!--heading-->
        <h4 class="font_weight h1_no_margin report_heading"><?php echo $this->translate('Graphs Report') ?></h4>
    </div>

    <div class="panel-body panel_body_style">
        <!--links-->
        <div class="col-lg-3 col-md-3 col-sm-12 remove_left_padding remove_right_padding panel_links listing_min_height">
            <ul class="nav nav-pills nav-stacked" data-tabs="tabs">

                <li id="InvPay" class="report_pills active left_border">
                    <a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Invoice Vs Payment') ?></a>
                </li>

                <li id="topCustomers" class="report_pills left_border">
                    <a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Top Customers') ?></a>
                </li>

            </ul>
        </div>

        <!--process_area-->
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 form-horizontal process_area">
            <div id="report_head">

                <div class="form-group">

                    <div class="hide_this">
                        <div class="col-lg-4 col-md-6 col-xs-6 graph_label_set_date"><!--set_date-->
                            <label class="control-label frm_date_lbl"><?php echo $this->translate('Set From Date') ?></label>
                            <input type="text" class="span2 datepicker form-control" id="from_date" name="from_date" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to Set a From Date') ?>">
                        </div>

                        <div class="col-lg-4 col-md-6 col-xs-6 graph_label_to_date"><!--to-date-->
                            <label class="control-label to_date_lbl"><?php echo $this->translate('Set To Date') ?></label>
                            <input type="text" class="span2 datepicker form-control" id="to_date" name="to_date" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to Set a To Date') ?>">
                        </div>
                    </div>

                    <div class="graph_type hidden">
                        <div class="col-lg-5 col-md-6 col-sm-12"><!--select_customers-->
                            <label class="control-label select_graph hidden"><?php echo $this->translate('Select Graph Type'); ?></label>
                            <select id="top_cus_report_select" class="form-control">
                                <option value="Select Graph Type"><?php echo $this->translate('Select Graph Type') ?></option>
                                <option value="All_Customers"><?php echo $this->translate('All Customers') ?></option>
                                <option value="Top_10_Customers"><?php echo $this->translate('Top 10 Customers') ?></option>
                                <option value="Top_20_Customers"><?php echo $this->translate('Top 20 Customers') ?></option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-xs-12 clearfix"><!--button-->
						<label class="control-label graph_btn_label">;</label>
                        <button class="btn btn-default" id="view_graph"><?php echo $this->translate('View Graph') ?></button>
                    </div>

                </div>

            </div><!--report_head-->
        </div><!--form_horizontal-->
    </div><!--panel_body-->
</div><!--panel-->


<!--inv_pay_graph_view-->
<div id="invVspay">
	<div class="text-right">
		<button class="btn btn-success" id="btn_invpay" onClick="printdiv('inv_pay_graph_view');"><?php echo $this->translate('Print Graph') ?></button>
	</div>
	
	<div id="inv_pay_graph_view" class="">
		<div class="table table-responsive">
			<h4 class="text-center font_weight bold"><?php echo $this->translate('Invoice vs Payment') ?></h4>
			<p class="text-center"><?php echo $companyDetails[0]->companyName ?></p>
			<p class="text-center last_para"><?php echo $this->translate('Adderess :') ?> <?php echo $companyDetails[0]->companyAddress ?> <?php echo $this->translate('Tele :') ?> <?php echo $companyDetails[0]->telephoneNumber ?></p>

			<div  id="inv_pay" class="scroll"></div>
		</div>
	</div>
</div>

<!--top_ten_customers_view-->
<div id="graph_div_cus" class="report_header_margin">
	
	<div id="topallcustomers"><!--top_all_customer-->
		<div class="text-right">
			<button class="btn btn-success" id="btn_allCus" onClick="printdiv('top_all_cus_graph_div');"><?php echo $this->translate('Print Graph') ?></button>
		</div>
		<div id="top_all_cus_graph_div" class="">
			<div class="table table-responsive">
				<h4 class="text-center bold"><?php echo $this->translate('Top All Customers Graph') ?></h4>
				<p class="text-center"><?php echo $companyDetails[0]->companyName ?></p>
				<p class="text-center last_para"><?php echo $this->translate('Adderess :') ?> <?php echo $companyDetails[0]->companyAddress ?> <?php echo $this->translate('Tele :') ?> <?php echo $companyDetails[0]->telephoneNumber ?></p>

				<div class="text-center scroll" id="cus_all"></div>
			</div>
		</div>
	</div>
	
	<div id="toptencustomers"><!--top_ten_customers-->
		<div class="text-right">
			<button class="btn btn-success" id="btn_toptenCus" onClick="printdiv('top_ten_cus_graph_div');"><?php echo $this->translate('Print Graph') ?></button>
		</div>
		<div id="top_ten_cus_graph_div" class="">
			<div class="table table-responsive">
				<h4 class="text-center bold"><?php echo $this->translate('Top Ten Customers Graph') ?></h4>
				<p class="text-center"><?php echo $companyDetails[0]->companyName ?></p>
				<p class="text-center last_para"><?php echo $this->translate('Adderess :') ?> <?php echo $companyDetails[0]->companyAddress ?> <?php echo $this->translate('Tele :') ?> <?php echo $companyDetails[0]->telephoneNumber ?></p>

				<div class="text-center scroll" id="cus_ten" style=""></div>
			</div>
		</div>
	</div>

	<div id="toptwowentycustomers"><!--top_twenty_customers-->
		<div class="text-right">
			<button class="btn btn-success" id="btn_toptwowentyCus" onClick="printdiv('top_twowenty_cus_graph_div');"><?php echo $this->translate('Print Graph') ?></button>
		</div>
		<div id="top_twowenty_cus_graph_div">
			<div class="table table-responsive">
				<h4 class="text-center bold"><?php echo $this->translate('Top Twenty Customers Graph') ?></h4>
				<p class="text-center"><?php echo $companyDetails[0]->companyName ?></p>
				<p class="text-center last_para"><?php echo $this->translate('Adderess :') ?> <?php echo $companyDetails[0]->companyAddress ?> <?php echo $this->translate('Tele :') ?> <?php echo $companyDetails[0]->telephoneNumber ?></p>

				<div class="text-center scroll" id="cus_twowenty" style=""></div>
			</div>
		</div>
	</div>
	
</div>
