<div class="margin_top">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('Purchase Requisition Category Name'); ?></th>
                <th><?php echo $this->translate('Parent Category') ?></th>
                <th class="text-center"><?php echo $this->translate('Status'); ?></th>
                <th class="text-center"><?php echo $this->translate('Edit'); ?></th>
                <th class="text-center"><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($this->categories as $category) { ?>
                <tr id="<?php echo $category->purchaseRequisitionCategoryId; ?>">
                    <td class="categoryName" ><?php echo $category['purchaseRequisitionCategoryName']; ?></td>
                    <td class="categoryParentName" id="<?php echo $category['purchaseRequisitionCategoryParentId']; ?>"><?php echo $category['purchaseRequisitionCategoryParentName']; ?></td>
                    <td class="text-center">
                        <a href="javascript:;" class="changeStatus" id="<?php echo $category->purchaseRequisitionCategoryId; ?>">
                            <span class="<?php echo ($category->purchaseRequisitionCategoryStatus == 1) ? 'glyphicon glyphicon-check' : 'glyphicon glyphicon-unchecked'; ?>"></span>
                        </a>
                    </td>
                    <td class="text-center" >
                        <a href="javascript:;" id="<?php echo $category->purchaseRequisitionCategoryId; ?>" class="edit">
                            <span class="fa fa-pencil-square-o custom_font_size"></span>
                        </a>
                    </td>
                    <td  class="text-center" >
                        <a href="javascript:;" id="<?php echo $category->purchaseRequisitionCategoryId; ?>" class="delete">
                            <span class="fa fa-trash-o custom_font_size"></span>
                        </a>
                    </td>
                </tr>
                <?php
            }
            if (count($this->categories) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
            <?php }
            ?>
        </tbody>
    </table>
    <?php
    if ($this->paginated) {
        echo $this->paginationControl(
                $this->categories, 'sliding', array('partial/paginator.phtml', 'expense-category'), array(
            'route' => 'expense-category', 'action' => 'create'
                )
        );
    }
    ?>
</div>