<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';

<?php
$this->headScript()->appendFile($this->basePath('js/settings/loyalty.js'));
$this->headScript()->captureEnd();
$loyalty_form->setAttribute('action', $this->url('loyalty', array('action' => 'store')));
$loyalty_form->prepare();
?>

<div class="margin_bottom">
    <h3 class="no_top_margin font_weight"><?php echo $this->translate('Loyalty Card') ?></h3>
    <hr class="custom_hr bottom_line">
</div>

<div class="well well_heading">
    <h5><?php echo $update ? $this->translate('Update Loyalty Card') : $this->translate('Create Loyalty Card') ?></h5>
</div>

<div class="well well_body">

    <?php echo $this->form()->openTag($loyalty_form); ?>
    <?php echo $this->formRow($loyalty_form->get('loyaltyID')) ?>

    <!--name-->
    <div class="form-group">
        <label class="control-label col-lg-3"><?php echo $this->translate('Card Name'); ?><span class="_required">*</span></label>
        <div class="col-lg-7">
            <?php echo $this->formRow($loyalty_form->get('loyaltyName')) ?>
        </div>
    </div>

    <!--number_format-->
    <div class="form-group">
        <label class="control-label col-lg-3 col-md-3 _remove_padding_top"><?php echo $this->translate('Card number format') ?></label>
        <div class="col-lg-7 col-md-9">
            <div class="_row_with_margin">
                <div class="col-lg-3">
                    <label ><?php echo $this->translate('No. of cards') ?></label>
                    <?php echo $this->formRow($loyalty_form->get('loyaltyNoOfCards')) ?>
                </div>
                <div class="col-lg-3">
                    <label><?php echo $this->translate('Prefix') ?></label>
                    <?php echo $this->formRow($loyalty_form->get('loyaltyPrefix')) ?>
                </div>
                <div class="col-lg-3">
                    <label><?php echo $this->translate('No of digits') ?><span class="_required">*</span></label>
                    <?php echo $this->formRow($loyalty_form->get('loyaltyCodeDegits')) ?>
                </div>

                <div class="col-lg-3">
                    <label><?php echo $this->translate('Starting no') ?><span class="_required">*</span></label>
                    <?php echo $this->formRow($loyalty_form->get('loyaltyCodeCurrentNo')) ?>
                </div>
                <!--                <label class="col-sm-2 control-label">Ex.</label>
                                <div class="col-sm-2">
                                    <span><strong id="loaylty_code_ex"></strong></span>
                                </div>-->
            </div>
        </div>
    </div>

    <!--points_active_range-->
    <div class="form-group">
        <label class="control-label col-lg-3 col-md-3 _remove_padding_top sm-margin-bottom">
            <?php echo $this->translate('Points active range') ?>
        </label>
        <div class="col-lg-7 col-md-9">
            <div class="_row_with_margin clearfix">
                <div class="col-lg-6">
                    <label><?php echo $this->translate('Min') ?></label>
                    <?php echo $this->formRow($loyalty_form->get('loyaltyActiveMinVal')) ?>
                </div>
                <div class="col-lg-6">
                    <label for="max_val"><?php echo $this->translate('Max') ?></label>
                    <?php echo $this->formRow($loyalty_form->get('loyaltyActiveMaxVal')) ?>
                </div>
            </div>
        </div>
    </div>

    <!--earning_ratio-->
    <div class="form-group">
        <label class="control-label col-lg-3">
            <?php echo $this->translate('Point earning ratio (per one point)') ?>
            <span class="_required">*</span>
        </label>
        <div class="col-lg-7">
            <div class="input-group">
                <div class="input-group-addon"><?php echo $currency ?></div>
                <?php echo $this->formRow($loyalty_form->get('loyaltyEarningPerPoint')) ?>
            </div>
        </div>
    </div>

    <!--redeem_ratio-->
    <div class="form-group">
        <label class="control-label col-lg-3">
            <?php echo $this->translate('Point redeem ratio (per one point)') ?>
            <span class="_required">*</span>
        </label>
        <div class="col-lg-7">
            <div class="input-group">
                <div class="input-group-addon"><?php echo $currency ?></div>
                <?php echo $this->formRow($loyalty_form->get('loyaltyRedeemPerPoint')) ?>
            </div>
        </div>
    </div>

    <!--status-->
    <div class="form-group">
        <label class="control-label col-lg-3"><?php echo $this->translate('Loyalty card status') ?></label>
        <div class="col-lg-7">
            <?php echo $this->formRow($loyalty_form->get('loyaltyStatus')) ?>
        </div>
    </div>

    <?php if($this->useAccounting == 1){?>
    <div class="form-group">
    	<label class="col-lg-3  control-label label_bottom_margin"><?php echo $this->translate('Gl Account') ?></label>
    	<div class="col-lg-6 ">
    		<?php echo $this->formRow($loyalty_form->get('loyaltyGlAccountID')); ?>
    	</div>
    </div>
    <?php }?>

    <!--button-->
    <div class="form-group btn_wrapper _remove_margin_bottom">
        <div class="col-lg-7 col-lg-push-3 text-right">
            <?php echo $this->formRow($loyalty_form->get('save')) ?>
            <input type="reset" class="btn btn-default make-full-width" value="<?php echo $this->translate('Reset') ?>">
            <input type="button" onclick="window.location.href = '/loyalty'" class="btn btn-default make-full-width" value="<?php echo $this->translate('Back') ?>">
        </div>
    </div>

    <?php echo $this->form()->closeTag(); ?>
</div><!--./well_body-->
