<?php $this->headScript()->captureStart() ?>

var BASE_URL = '<?php echo $this->basePath(); ?>';

<?php
$this->headScript()->captureEnd();
?>

<div class="margin_bottom">
    <h3 class="no_top_margin font_weight"><?php echo $this->translate('Loyalty Card Holders') ?></h3>
    <hr class="custom_hr bottom_line">
</div>

<div class="_row_with_margin clearfix create_loyalty">
    <div class="col-lg-9 col-md-9 col-sm-9">
        <p><?php echo $this->translate('Create loyalty card'); ?></p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
        <a id="create-user" href="/loyalty/create" class="btn btn-default btn-block">
            <?php echo $this->translate('Create Loyalty Card') ?>
        </a>
    </div>
</div>

<div class="table table-responsive margin_top">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('Customer Code') ?></th>
                <th><?php echo $this->translate('Customer Name') ?></th>
                <th><?php echo $this->translate('Card type') ?></th>
                <th><?php echo $this->translate('Loyalty Code') ?></th>
                <th><?php echo $this->translate('Collected points') ?></th>
                <th><?php echo $this->translate('Phone No') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($cust_list as $l): ?>
                <tr>
                    <td><?php echo $l['customerCode']; ?></td>
                    <td><?php echo $l['customerTitle'] . '&nbsp;' . $l['customerName']; ?></td>
                    <td><?php echo $l['loyaltyName'] ?></td>
                    <td><?php echo $l['customerLoyaltyCode'] ?></td>
                    <td><?php echo $l['customerLoyaltyPoints'] ?></td>
                    <td><?php echo $l['customerTelephoneNumber'] ?></td>
                </tr>
            <?php endforeach; ?>
            <?php if (!count($cust_list)): ?>
                <tr><td colspan="5" class="text-center"><?php echo $this->translate('No customers to show'); ?></td></tr>
            <?php endif; ?>
        </tbody>
    </table>
</div>

<?php
echo $this->paginationControl(
        $this->cust_list, 'sliding', array('partial/paginator.phtml', 'loyalty')
        , array('route' => 'loyalty', 'action' => 'customer-list', 'param1' => $params['param1'], 'param2' => $params['param2']));
?>

<script type="text/javascript">
    $(document).ready(function () {
        $('.status').on('click', function (e) {
            e.preventDefault();
            var id = $(this).attr('data-id');
            var status = $(this).attr('data-status');
            var ele = $(this);

            $req = eb.post('/loyalty/store', {'loyaltyID': id, 'loyaltyStatus': status});
            $req.done(function (res) {

                if (status == 1 && res.status) {
                    console.log(ele.attr('data-status'))
                    ele.attr('data-status', 0);
                    ele.removeClass('glyphicon-unchecked').addClass('glyphicon-check');
                    p_notification(true, 'Loyalty card updated successfully');
                }
                if (status == 0 && res.status) {
                    console.log(ele.attr('data-status'))
                    ele.attr('data-status', 1);
                    ele.removeClass('glyphicon-check').addClass('glyphicon-unchecked');
                    p_notification(true, 'Loyalty card updated successfully');
                }
            });
        });
    });
</script>