<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';

<?php
$this->headScript()->captureEnd();
?>

<style>
    a:focus{
        text-decoration: none;
    }
</style>

<div class="margin_bottom">
    <h3 class="no_top_margin font_weight"><?php echo $this->translate('Loyalty Card') ?></h3>
    <hr class="custom_hr bottom_line">
</div>

<div class="_row_with_margin clearfix create_loyalty">
    <div class="col-lg-9 col-md-9 col-sm-9">
        <p><?php echo $this->translate('Create loyalty card'); ?></p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
        <a id="create-user" href="/loyalty/create" class="btn btn-default btn-block">
            <?php echo $this->translate('Create Loyalty Card') ?>
        </a>
    </div>
</div>

<div class="table table-responsive margin_top">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('Name') ?></th>
                <th><?php echo $this->translate('Beneficial range') ?></th>
                <th><?php echo $this->translate('Loyalty point earning') ?></th>
                <th><?php echo $this->translate('Loyalty point redeem') ?></th>
                <th class="text-center"><?php echo $this->translate('Edit') ?></th>
                <th class="text-center"><?php echo $this->translate('Details') ?></th>
                <th class="text-center"><?php echo $this->translate('Status') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($loyalty as $l): ?>
                <tr>
                    <td><?php echo $l->name ?></td>
                    <td><?php echo $l->active_min_val . " < " . $l->active_max_val ?></td>
                    <td><?php echo $l->earning_per_point ?></td>
                    <td><?php echo $l->redeem_per_point ?></td>
                    <td class="text-center">
                        <a class="glyphicon glyphicon-edit" href="<?php echo $this->url('loyalty', array('action' => 'create', 'param1' => $l->id)) ?>"></a>
                    </td>
                    <td class="text-center">
                        <a class="glyphicon glyphicon-list" href="<?php echo $this->url('loyalty', array('action' => 'customer-list', 'param1' => $l->id)) ?>"></a>
                    </td>
                    <td class="text-center">
                        <a class="glyphicon glyphicon-<?php echo $l->status ? 'check' : 'unchecked' ?> status" data-id='<?php echo $l->id ?>' data-status='<?php echo $l->status ? "0" : "1" ?>' href='#'></a>
                    </td>
                </tr>
            <?php endforeach; ?>
            <?php if (!count($loyalty)): ?>
                <tr><td colspan="8" class="text-center"><?php echo $this->translate('No loyalty cards to show') ?></td></tr>
            <?php endif; ?>
        </tbody>
    </table>
</div>
<?php
echo $this->paginationControl(
        $this->loyalty, 'sliding', array('partial/paginator.phtml', 'loyalty')
        , array('route' => 'loyalty', 'action' => 'index'));
?>

<script type="text/javascript">
    $(document).ready(function () {
        $('.status').on('click', function (e) {
            e.preventDefault();
            var id = $(this).attr('data-id');
            var status = $(this).attr('data-status');
            var ele = $(this);

            $req = eb.post('/loyalty/store', {'loyaltyID': id, 'loyaltyStatus': status});
            $req.done(function (res) {
                if (status == 1 && res.status) {
                    ele.attr('data-status', 0);
                    ele.removeClass('glyphicon-unchecked').addClass('glyphicon-check');
                    p_notification(true, 'Loyalty card updated successfully');
                }
                if (status == 0 && res.status) {
                    ele.attr('data-status', 1);
                    ele.removeClass('glyphicon-check').addClass('glyphicon-unchecked');
                    p_notification(true, 'Loyalty card updated successfully');
                }
            });
        });
    });
</script>