<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
<?php $this->headScript()->captureEnd() ?>
<?php $this->headScript()->appendFile($this->basePath('js/user/user.js')); ?>

<?php
$form = $this->form;
$form->setAttribute('id', 'create-user-form');
$form->setAttribute('class', 'form-horizontal');
$form->prepare();
echo $this->form()->openTag($form);
?>

<div class="panel panel-default">

    <div class="panel-heading">
        <h5 class="panel-title font_weight"><?php echo $this->translate('Edit User'); ?></h5>
    </div>

    <div class="panel-body">

        <div class="form-horizontal margin_top_normal">
            <div><?php echo $this->formRow($form->get('userID')); ?></div>

            <div class="form-group"><!--user_name-->
                <label class="control-label col-lg-3 col-md-3 col-sm-3"><?php echo $this->translate('Username') ?></label>
                <div class="col-lg-6 col-md-9 col-sm-9">
                    <span class="user_name"><?php echo $this->username; ?></span>
                </div>
            </div>

            <div class="form-group"><!--first_name-->
                <label class="control-label col-lg-3 col-md-3 col-sm-3"><?php echo $this->translate('First Name'); ?><span class="mandatory_field"> *</span></label>
                <div class="col-lg-6 col-md-9 col-sm-9">
                    <?php echo $this->formRow($form->get('userFirstName')); ?>
                </div>
            </div>

            <div class="form-group"><!--last_name-->
                <label class="control-label col-lg-3 col-md-3 col-sm-3"><?php echo $this->translate('Last Name'); ?><span class="mandatory_field"> *</span></label>
                <div class="col-lg-6 col-md-9 col-sm-9">
                    <?php echo $this->formRow($form->get('userLastName')); ?>
                </div>
            </div>

            <div class="form-group"><!--email-->
                <label class="control-label col-lg-3 col-md-3 col-sm-3"><?php echo $this->translate('Email'); ?><span class="mandatory_field"> *</span></label>
                <div class="col-lg-6 col-md-9 col-sm-9">
                    <?php echo $this->formRow($form->get('userEmail1')); ?>
                </div>
            </div>

            <div class="form-group"><!--role_id-->
                <label class="control-label col-lg-3 col-md-3 col-sm-3"><?php echo $this->translate('Role Id') ?><span class="mandatory_field"> *</span></label>
                <div class="col-lg-6 col-md-9 col-sm-9">
                    <?php echo $this->formRow($form->get('roleID')); ?>
                </div>
            </div>

            <div class="form-group"><!--license-->
                <label class="control-label col-lg-3 col-md-3 col-sm-3"><?php echo $this->translate('User License') ?></label>
                <div class="col-lg-6 col-md-9 col-sm-9">
                    <?php
                    if (!$this->isEmptyLicense) {
                        echo $this->formRow($form->get('licenseID'));
                    } else {
                        ?>
                        <div class="alert alert-info uom-alert"><?php echo $this->translate('Note: You have no Licenses'); ?></div>
                    <?php }
                    ?>
                </div>
            </div>

            <div class="form-group"><!--change_password-->
                <div class="col-lg-3 col-md-3 col-sm-9 col-sm-offset-3 col-md-offset-0 col-lg-offset-0 user_edit_change_password">
                    <label id="passwordChangeActivate" class="control-label password_show_button"><i id="psssword_icon" class="glyphicon glyphicon-plus-sign" style="display: inline-block; margin-right: 4px;"></i><?php echo $this->translate('Change Password') ?></label>
                </div>

                <div class="col-lg-6 col-md-9 col-sm-9 col-lg-offset-0 col-md-offset-0 col-sm-offset-3">
                    <div id="passwordChange">
                        <div class="form-group">
                            <label class="control-label col-lg-4"><?php echo $this->translate('Current Password') ?><span class="mandatory_field"> *</span></label>
                            <div class="col-lg-8">
                                <?php echo $this->formRow($form->get('userCurrentPassword')); ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4"><?php echo $this->translate('Password') ?><span class="mandatory_field"> *</span></label>
                            <div class="col-lg-8">
                                <?php echo $this->formRow($form->get('userPassword')); ?>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-lg-4"><?php echo $this->translate('Re-enter Password') ?><span class="mandatory_field"> *</span></label>
                            <div class="col-lg-8">
                                <?php echo $this->formRow($form->get('passwordC')); ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--form_group-->
        </div><!--form-horizontal-->
    </div><!--panel-body-->

    <div class="panel-footer">
        <div class="row"><!--button-->
            <div class="col-lg-6 col-lg-offset-3 text-right margin_top_low margin_bottom_normal_low">
                <button id='updateclose' class="btn btn-default" type="button" onclick="location.reload(false)"><?php echo $this->translate('Cancel') ?></button>
                <button id="userupdatebutton" class="btn btn-primary"><?php echo $this->translate('Update') ?></button>
            </div>
        </div>
    </div>

</div><!--panel-->


<?php
echo $this->form()->closeTag();
?>
