<div class="modal-dialog">
    <div class="modal-content" style="">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate('User Delete Confirmation') ?></h4>
        </div>
        <div class="modal-body">
            <?php echo $this->translate('Are you sure you want to delete this user?') ?>
        </div>
        <div class="modal-footer">
            <div id="loading" class="btn btn-primary"><?php echo $this->translate('Deleting User...') ?></div>
            <button id="delete-user-button" class="btn btn-primary"><?php echo $this->translate('Delete User') ?></button>
			<button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Cancel') ?></button>
        </div>
    </div>
</div>
