<div class="well well_heading margin_top">
    <h5 class="font_weight"><?php echo $this->translate('Set locations') ?></h5>
</div>

<div class="well well_body">
    <!--table-->
    <form action="" method="post" name="user" enctype="multipart/form-data" id="save-user-location-form">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><span class="bold"><?php echo $this->translate("Location"); ?></span></th>
                        <th><span class="bold"><?php echo $this->translate("Status"); ?></span></th>
                        <th><span class="bold"><?php echo $this->translate("Default"); ?></span></th>
                    </tr>
                </thead>

                <tbody>
                    <?php foreach ($locations as $location) { ?>
                        <tr>
                            <td><?php echo $location['locationName'] ?></td><!--location_name-->
                            <td><!--status-->
                                <input type="checkbox" class="locationCheckbox"  id="<?php echo $location['locationID'] ?>"
                                       value="<?php echo $location['locationID'] ?>" data-size="mini" data-on-text="<span class='glyphicon glyphicon-ok'></span>"
                                       data-off-text="<span class='glyphicon glyphicon-remove'></span>">
                            </td>
                            <td><!--default-->
                                <input type="radio" disabled name="defaultLocation" class="defaultLocation" value="<?php echo "default_" . $location['locationID'] ?>" id="<?php echo "default_" . $location['locationID'] ?>"
                                       data-on-text="<span><strong>Yes</strong></span>" data-off-text="<span><strong>No</strong></span>">
                            </td>
                        </tr>
                    <?php } ?>
                </tbody>
            </table><!--table-->
        </div><!--table_responsive-->
        <input type="submit" value="<?php echo $this->translate('submit') ?>" style="display: none;"  />
    </form>

    <div class="row">
        <hr>
        <div class="text-right margin_top_normal">
            <input  type="submit" id="save-user-location" class="btn btn-primary make-full-width" value="<?php echo $this->translate('Save') ?>">
            <input name="list-user-button" type="button" id="list-user-button" class="btn btn-default make-full-width xs-no-margin" value="<?php echo $this->translate('Back') ?>">
        </div>
    </div>
</div><!--panel-body-->





