<div class="well well_heading margin_top">
    <h5 class="font_weight">Set locations</h5>
</div>

<div class="well well_body">
    <!--table-->
    <form action="" method="post" name="user" enctype="multipart/form-data" id="save-user-location-form">
        <div class="table table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><span class="bold"><?php echo $this->translate("Location"); ?></span></th>
                        <th class="text-center"><span class="bold"><?php echo $this->translate("Status"); ?></span></th>
                        <th class="text-center"><span class="bold"><?php echo $this->translate("Default"); ?></span></th>
                    </tr>
                </thead>

                <tbody>
                    <?php foreach ($locations as $location) { ?>
                        <tr>
                            <td><?php echo $location->locationName ?></td><!--location_name-->
                            <td class="text-center"><!--status-->
                                <input type="checkbox" class="locationCheckbox"  id="<?php echo $location->locationID ?>"
                                       value="<?php echo $location->locationID ?>" data-size="mini" data-on-text="<span class='glyphicon glyphicon-ok'></span>"
                                       data-off-text="<span class='glyphicon glyphicon-remove'></span>"
                                       <?php if ($location->active == 1) { ?>
                                           checked
                                       <?php } ?>
                                       >
                            </td>
                            <td class="text-center">
                                <input type="radio" disabled name="defaultLocation" class="defaultLocation" value="<?php echo "default_" . $location->locationID ?>" id="<?php echo "default_" . $location->locationID ?>"
                                       data-on-text="<span><strong>Yes</strong></span>" data-off-text="<span><strong>No</strong></span>">
                            </td>

                    <script>
    <?php if ($location->active == 1) { ?>
                            $("[id='<?php echo "default_" . $location->locationID ?>']").prop('disabled', false);
        <?php
    }

    if ($defaultLocation == $location->locationID) {
        ?>
                            $("[id='<?php echo "default_" . $location->locationID ?>']").prop('checked', true);
        <?php
    }
    ?>
                    </script>

                    </tr>




                <?php } ?>
                </tbody>
            </table>
        </div><!--table-responsive-->
    </form>

    <div class="row clearfix">
        <hr>
        <div class="text-right">
            <input  type="submit" id="update-user-location" class="btn btn-primary" value="Update">
            <input type="hidden" value="<?php echo $this->userID; ?>" id="updateLocationUser">
            <input name="list-user-button" type="button" id="list-user-button" class="btn btn-default" value="Back">
        </div>
    </div>
</div>


<!--<form action="" method="post" name="user" enctype="multipart/form-data" id="save-user-location-form">

<?php /* foreach ($locations as $location) { ?>


  <label>
  <span><?php echo $location->locationName ?></span>
  </label>


  <div class="col-lg-offset-1 col-lg-2 text-center">
  <input type="checkbox" class="locationCheckbox"  id="<?php echo $location->locationID ?>"
  value="<?php echo $location->locationID ?>" data-size="mini" data-on-text="<span class='glyphicon glyphicon-ok'></span>"
  data-off-text="<span class='glyphicon glyphicon-remove'></span>"
  <?php if ($location->active == 1) { ?>
  checked
  <?php } ?>
  >
  </div>

  <div class="col-lg-offset-1 col-lg-2 text-center">
  <input type="radio" disabled name="defaultLocation" class="defaultLocation" value="<?php echo "default_" . $location->locationID ?>" id="<?php echo "default_" . $location->locationID ?>"
  data-on-text="<span><strong>Yes</strong></span>" data-off-text="<span><strong>No</strong></span>">
  </div>



  <script>
  <?php if ($location->active == 1) { ?>
  $("[id='<?php echo "default_" . $location->locationID ?>']").bootstrapSwitch('disabled', false);
  <?php
  }

  if ($defaultLocation == $location->locationID) {
  ?>
  $("[id='<?php echo "default_" . $location->locationID ?>']").bootstrapSwitch('state', true);
  <?php
  }
  ?>
  </script>

  <?php } */ ?>
</form>-->




