<?php
$form = $this->form;
$form->setAttribute('id', 'create-user-form');
$form->prepare();
?>

<div>
    <?php echo $this->form()->openTag($form); ?>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title font_weight"><?php echo $this->translate("Create new user"); ?></h5>
        </div>

        <div class="panel-body">
            <div class="form-horizontal margin_top_normal">

                <div class="form-group"><!--name-->
                    <label class="control-label col-lg-3 col-md-3 col-sm-4"><?php echo $this->translate("Username"); ?><span class="mandatory_field"> *</span></label>
                    <div class="col-lg-6 col-md-6 col-sm-8">
                        <?php echo $this->formRow($form->get('userUsername')); ?>
                    </div>
                </div>

                <div class="form-group"><!--first_name-->
                    <label class="control-label col-lg-3 col-md-3 col-sm-4"><?php echo $this->translate("First name"); ?><span class="mandatory_field"> *</span></label>
                    <div class="col-lg-6 col-md-6 col-sm-8">
                        <?php echo $this->formRow($form->get('userFirstName')); ?>
                    </div>
                </div>

                <div class="form-group"><!--last_name-->
                    <label class="control-label col-lg-3 col-md-3 col-sm-4"><?php echo $this->translate("Last name"); ?><span class="mandatory_field"> *</span></label>
                    <div class="col-lg-6 col-md-6 col-sm-8">
                        <?php echo $this->formRow($form->get('userLastName')); ?>
                    </div>
                </div>

                <div class="form-group"><!--email-->
                    <label class="control-label col-lg-3 col-md-3 col-sm-4"><?php echo $this->translate("Email"); ?><span class="mandatory_field"> *</span></label>
                    <div class="col-lg-6 col-md-6 col-sm-8">
                        <?php echo $this->formRow($form->get('userEmail1')); ?>
                    </div>
                </div>

                <div class="form-group"><!--role-->
                    <label class="control-label col-lg-3 col-md-3 col-sm-4"><?php echo $this->translate("Role"); ?><span class="mandatory_field"> *</span></label>
                    <div class="col-lg-6 col-md-6 col-sm-8">
                        <?php echo $this->formRow($form->get('roleID')); ?>
                    </div>
                </div>

                <div class="form-group"><!--license-->
                    <label class="control-label col-lg-3 col-md-3 col-sm-4"><?php echo $this->translate("User License"); ?></label>
                    <div class="col-lg-6 col-md-6 col-sm-8">
                        <?php
                        if (!$this->isEmptyLicense) {
                            echo $this->formRow($form->get('licenseID'));
                        } else {
                            ?>
                            <div class="alert alert-info uom-alert"><?php echo $this->translate('Note: You have no Licenses'); ?></div>
                        <?php }
                        ?>
                    </div>
                </div>

                <div class="form-group"><!--password-->
                    <label class="control-label col-lg-3 col-md-3 col-sm-4"><?php echo $this->translate("Password"); ?><span class="mandatory_field"> *</span></label>
                    <div class="col-lg-6 col-md-6 col-sm-8">
                        <?php echo $this->formRow($form->get('userPassword')); ?>
                    </div>
                </div>

                <div class="form-group"><!--password-->
                    <label class="control-label col-lg-3 col-md-3 col-sm-4"><?php echo $this->translate("Retype password"); ?><span class="mandatory_field"> *</span></label>
                    <div class="col-lg-6 col-md-6 col-sm-8">
                        <?php echo $this->formRow($form->get('userPasswordC')); ?>
                    </div>
                </div>
            </div>
        </div><!--panel_body-->

        <div class="panel-footer">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-right margin_top_low margin_bottom_normal_low">
                    <?php echo $this->formRow($form->get('reset-user-button')); ?>
                    <button id="userCreateBack" class="btn btn-default"><?php echo $this->translate('Back'); ?></button>
                    <?php echo $this->formRow($form->get('add-location-button')); ?>
                </div>
            </div>
        </div>

    </div><!--panel-->

    <?php echo $this->form()->closeTag(); ?>
</div>
