<?php
$form = $this->formData;
$form->setAttribute('id', 'create-inquiry-log-form');
?>
<?php
if ($refNotSet) {
    ?>
    <script>
        $(function() {
            $('#refNotSet').modal('show');
        });
    </script>
    <?php
}
?>

<div class="category-form-container margin_top">

    <div class="well well_heading">
        <h5><?php echo $this->translate('Add Inquiry Log') ?></h5>
    </div>

    <div class="well well_body">

        <?php
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formHidden($form->get('inquryLogID'));
        ?>

        <!--search Customer-->
        <div class='well clearfix xs_view' id="cus-search">
            <div class="form-group _remove_margin_bottom">
                <label class="control-label col-lg-2 col-md-3"><?php echo $this->translate('Select Customer') ?></label>
                <div class="col-lg-10 col-md-9">
                    <select class="form-control selectpicker" title="" id="inquiryLogCustomerSearchID"
                            name="inquiryLogCustomerSearchID" data-live-search="true"
                            title="Search By Customer Name, Code, Telephone Number, Address" >
                        <option class="text-center" value="">
                            <?php echo $this->translate('Search By Customer Name, Code, Telephone Number, Address') ?>
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Inquiry Log Reference') ?></label>
            <div class="col-lg-6" id="iqLgReference">
                <?php echo $this->formRow($form->get('inquiryLogReference')); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Inquiry or Complain Type') ?></label>
            <div class="col-lg-6 <?php echo ($this->inqComType == 'Inquiry') ? 'inquiry' : 'Complain'; ?>" id="iqComType">
                <?php echo $this->formRow($form->get('inquiryComplainType')); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Inquiry Log Descrption') ?><font color="red"> *</font></label>
            <div class="col-lg-6" id="inqLgDescription">
                <?php echo $this->formRow($form->get('inquiryLogDescription')); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Customer') ?><font color="red"> *</font></label>
            <div class="col-lg-6" id="inqLgCutName">
                <div class="input-group">
                    <select class="form-control selectpicker" title="" id="inquiryLogCustomerID" name="inquiryLogCustomerID" data-live-search="true">
                        <option value=""><?php echo $this->translate('Select Customer Name') ?></option>
                    </select>
                    <a data-toggle="modal" id="addCustomerBtn" href="#addCustomerModal" class="input-group-addon btn-default">
                        <i class="fa fa-plus remove_font_weight"></i>
                    </a>
                </div>

                <!--table-->
                <table class="customer-profiles cus-prof-create hidden table table-condensed margin_top_normal" id="cus-prof-table">
                    <thead>
                        <tr>
                            <th width="50%" ><?php echo $this->translate('CustomerProfile') ?></th>
                            <th width="50%" class="text-center"><?php echo $this->translate('Check') ?></th>
                        </tr>
                    </thead>

                    <tbody>
                        <?php
                        if ($this->customerProfile) {
                            foreach ($this->customerProfile as $key => $value) {
                                ?>
                                <tr class='customer-profile-list' data-cpid='<?php echo $key ?>'>
                                    <td> <?php echo $value ?></td>
                                    <td class="text-center">
                                        <input type='radio'<?php if ($key == $this->customerProfileID) { ?>checked="checked"<?php } ?> name='cProfile' class='cProfile'/>
                                    </td>
                                </tr>
                                <?php
                            }
                        }
                        ?>
                    </tbody>
                </table>
                <button id="userHistory" class="btn btn-default"><?php echo $this->translate('User History') ?></button>
            </div>
        </div><!--form_group-->

        <div class="form-group">
            <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Inquiry Type') ?><font color="red"> *</font></label>
            <div class="col-lg-6" id="inqType">
                <select class="form-control selectpicker" title="" id="inquiryTypeID" name="inquiryTypeID" data-live-search="true">
                    <option value=""><?php echo $this->translate('Select Inquiry Type') ?></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Status') ?><font color="red"> *</font></label>
            <div class="col-lg-6" id="inqLgStatus">
                <select class="form-control selectpicker" title="" id="inquiryLogStatusID" name="inquiryLogStatusID" data-live-search="true">
                    <option value=""><?php echo $this->translate('Select Inquiry Status') ?></option>
                </select>
            </div>
        </div>

        <!--duty_manager-->
        <div class="form-group">
            <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Duty Manager') ?></label>
            <div class="col-lg-6" id="inqLgDtyMngr">
                <select class="form-control selectpicker" title="" id="inquiryLogDutyManager" name="inquiryLogDutyManager" data-live-search="true">
                    <option value=""><?php echo $this->translate('Select Duty Manager') ?></option>
                </select>

                <!--table-->
                <table class="duty-manager-table table table-condensed margin_top_normal hidden">
                    <thead>
                        <tr>
                            <th><?php echo $this->Translate('Employee') ?>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Contact No-1') ?></label>
            <div class="col-lg-6" id="conNu1">
                <?php echo $this->formRow($form->get('inquiryLogContactNo1')); ?>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-6 col-lg-offset-3 col-md-12 more_detail">
                <a id="moredetails" class="btn"><?php echo $this->translate('More Details') ?>
                    <span class="glyphicon glyphicon-circle-arrow-down"></span>
                </a>
            </div>
        </div>

        <div id="inquiry_log_more">
            <div class="form-group">
                <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Contact No-2') ?></label>
                <div class="col-lg-6" id="conNum2">
                    <?php echo $this->formRow($form->get('inquiryLogContactNo2')); ?>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Address') ?></label>
                <div class="col-lg-6" id="cusAdrss">
                    <?php echo $this->formRow($form->get('inquiryLogAddress')); ?>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Date & Time') ?></label>
                <div class="col-lg-6" id="inqLgDate">
                    <?php echo $this->formRow($form->get('inquiryLogDateAndTime')); ?>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Loged User') ?></label>
                <div class="col-lg-6" id="inqLgLogedUser">
                    <?php echo $this->formRow($form->get('inquirylogUser')); ?>
                </div>
            </div>
            <div class="form-group" id="inqCompDocuType">
                <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Choose document Type') ?></label>
                <div class="col-lg-6" id="inqLgLogedUser">
                    <?php echo $this->formRow($form->get('documentTypeName')); ?>
                </div>
            </div>
            <div class="form-group" id="inqCompQotDocuTypeID">
                <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Document ID') ?></label>
                <div class="col-lg-6" id="inqCompQotID">
                    <select class='form-control selectpicker'
                            data-live-search="true"
                            name="qotDcumentTypeID" id="qotDcumentTypeID"
                            multiple="multiple"
                            data-selected-text-format="count>3"
                            title=''>

                    </select>
                </div>
            </div>
            <div class="form-group" id="inqCompSODocuTypeID">
                <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Document ID') ?></label>
                <div class="col-lg-6" id="inqCompSOID">
                    <select class="form-control selectpicker" title="" multiple="multiple" data-selected-text-format="count>3" id="sODocumentTypeID" name="sODocumentTypeID" data-live-search="true">
                    </select>
                </div>
            </div>
            <div class="form-group" id="inqCompInvDocuTypeID">
                <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Document ID') ?></label>
                <div class="col-lg-6" id="inqCompInvID">
                    <select class="form-control selectpicker" title="" multiple="multiple" data-selected-text-format="count>3" id="invDocumentTypeID" name="invDocumentTypeID" data-live-search="true">
                    </select>
                </div>
            </div>
            <div class="form-group" id="inqCompProDocuTypeID">
                <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Document ID') ?></label>
                <div class="col-lg-6" id="inqCompProID">
                    <select class="form-control selectpicker" title="" multiple="multiple" data-selected-text-format="count>3" id="proDocumentTypeID" name="proDocumentTypeID" data-live-search="true">
                    </select>
                </div>
            </div>
            <div class="form-group" id="inqCompJobDocuTypeID">
                <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Document ID') ?></label>
                <div class="col-lg-6" id="inqCompJobID">
                    <select class="form-control selectpicker" title="" multiple="multiple" data-selected-text-format="count>3" id="jobDocumentTypeID" name="jobDocumentTypeID" data-live-search="true">
                    </select>
                </div>
            </div>
            <div class="form-group" id="inqCompActDocuTypeID">
                <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Document ID') ?></label>
                <div class="col-lg-6" id="inqCompActID">
                    <select class="form-control selectpicker" title="" multiple="multiple" data-selected-text-format="count>3" id="actDocumentTypeID" name="actDocumentTypeID" data-live-search="true">
                    </select>
                </div>
            </div>
            <div class="form-group" id="inqCompInqDocuTypeID">
                <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Document ID') ?></label>
                <div class="col-lg-6" id="inqCompInqID">
                    <select class="form-control selectpicker" title="" multiple="multiple" data-selected-text-format="count>3" id="inqDocumentTypeID" name="inqDocumentTypeID" data-live-search="true">
                    </select>
                </div>
            </div>
            <div class="form-group" id="inqProReference">
                <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Project Reference') ?></label>
                <div class="col-lg-6" id="inqLgProRef">
                    <div class="input-group">
                        <select class="form-control selectpicker" title="" id="proRef" name="proRef" data-live-search="true">
                            <option value=""><?php echo $this->translate('Select Project Reference') ?></option>
                        </select>

                        <a id="addProjectBtn" class="input-group-addon btn-default">
                            <i class="fa fa-plus remove_font_weight"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="form-group" id="inqJobReference">
                <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Job Reference') ?></label>
                <div class="col-lg-6" id="inqLgJobRef">
                    <div class="input-group">
                        <select class="form-control selectpicker" title="" id="jobRef" name="jobRef" data-live-search="true">
                            <option value=""><?php echo $this->translate('Select Job Reference') ?></option>
                        </select>

                        <select class="form-control selectpicker" title="" id="jobRef2" name="jobRef" data-live-search="true">
                            <option value=""><?php echo $this->translate('Select Job Reference') ?></option>
                        </select>

                        <a id="addjobBtn" class="input-group-addon btn-default">
                            <i class="fa fa-plus remove_font_weight"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="form-group" id="inqActReference">
                <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Activity Reference') ?></label>
                <div class="col-lg-6" id="inqLgActRef">
                    <div class="input-group">
                        <select class="form-control selectpicker" title="" id="actRef" name="actRef" data-live-search="true">
                            <option value=""><?php echo $this->translate('Select Activity Reference') ?></option>
                        </select>

                        <select class="form-control selectpicker" title="" id="actRef2" name="actRef" data-live-search="true">
                            <option value=""><?php echo $this->translate('Select Activity Reference') ?></option>
                        </select>

                        <a id="addActivityBtn" class="input-group-addon btn-default">
                            <i class="fa fa-plus remove_font_weight"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group margin_top_high button-set _remove_margin_bottom">
            <div class="col-lg-9 text-right">
                <button type="reset" class="btn btn-default add reset"><?php echo $this->translate('Reset') ?></button>
                <button type="submit" class="btn btn-primary add " id="add"><?php echo $this->translate('Add New') ?></button>
                <button type="" class="btn btn-primary addAndJob " id="addAndJob"><?php echo $this->translate('Add and Create Job') ?></button>
            </div>
        </div>

        <?php
        echo $this->form()->closeTag($form);
        ?>
        <div class="modal fade" id="addCustomerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <?php echo $this->customerAddView; ?>
        </div>
        <div class="modal fade" id="refNotSet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <?php echo $refNotSet; ?>
        </div>
        <div class="modal fade" id="addUserHistoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <?php echo $this->customerHistoryView; ?>
        </div>
        <div class="modal fade" id="DocumentViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <?php echo $this->documentView; ?>
        </div>
    </div>
</div>

