<div class="modal-dialog modal-lg" style="min-width:1000px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <!--<button type="button" class="col-lg-offset-11 btn btn-primary" data-dismiss="modal" aria-hidden="true">Back</button>-->
            <h4><?php // echo $this->translate('View Document')    ?></h4>
        </div>
        <div class="modal-body" id="cus-document-view">

        </div>
    </div>
</div>

