<?php
$form = $this->inquiryLogForm;
$form->setAttribute('id', 'edit-inquiry-log-form');
?>

<div class="category-form-container margin_top">

    <div class="well well_heading">
        <h5 class="font_weight add"><?php echo $this->translate('Update Inquiry Log') ?></h5>
    </div>

    <div class="well well_body">

        <?php
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formHidden($form->get('inquryLogID'));
        ?>

        <div class="form-group">
            <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Inquiry Log Reference') ?></label>
            <div class="col-lg-6" id="pReference">
                <?php echo $this->formRow($form->get('inquiryLogReference')); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Inquiry Log Descrption') ?><font color="red"> *</font></label>
            <div class="col-lg-6" id="inqlgDesc">
                <?php echo $this->formRow($form->get('inquiryLogDescription')); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Inquiry or Complain Type') ?><font color="red"> *</font></label>
            <div class="col-lg-6" id="inqlgDesc">
                <?php echo $this->formRow($form->get('inquiryComplainType')); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Customer Name') ?><font color="red"> *</font></label>
            <div class="col-lg-6" id="cusName" >
                <select class="form-control selectpicker" title="" data-cusid="<?php echo ($this->customerID) ? $this->customerID : ''; ?>" data-cusname="<?php echo ($this->customerName) ? $this->customerName : ''; ?>" id="inquiryLogCustomerID" name="inquiryLogCustomerID" data-live-search="true">
                    <option value="">Select Customer</option>
                </select>
                <table class="customer-profiles table table-condensed margin_top_normal">
                    <thead>
                        <tr>
                            <th width="50%"><?php echo $this->translate('CustomerProfile') ?></th>
                            <th width="50%" class='text-center'><?php echo $this->translate('Check') ?></th>
                        </tr>
                    </thead>

                    <tbody>
                        <?php
                        if ($this->customerProfile) {
                            foreach ($this->customerProfile as $key => $value) {
                                ?>
                                <tr class='customer-profile-list' data-cpid='<?php echo $value[customerProfileID] ?>'>
                                    <td><?php echo $value[customerProfileName] ?></td>
                                    <td class='text-center'><input type='radio'<?php if ($value[customerProfileID] == $this->customerProfileID) { ?>checked="checked"<?php } ?> name='cProfile' class='cProfile'/></td>
                                </tr>
                                <?php
                            }
                        }
                        ?>
                    </tbody>
                </table>
                <button id="userHistory" type="button" class="btn btn-default">User History</button>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Inquiry Type') ?><font color="red"> *</font></label>
            <div class="col-lg-6" id="inqType">
                <select class="form-control selectpicker" title="" data-inqTypeid="<?php echo ($this->inquiryTypeId) ? $this->inquiryTypeId : ''; ?>" id="inquiryTypeID" name="inquiryTypeID" data-live-search="true">
                    <option value="">Select Inquiry Type</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Status') ?><font color="red"> *</font></label>
            <div class="col-lg-6" id="inqLgStatus">
                <select class="form-control selectpicker" title="" data-inqStatid="<?php echo ($this->inquiryStatusId) ? $this->inquiryStatusId : ''; ?>" id="inquiryLogStatusID" name="inquiryLogStatusID" data-live-search="true">
                    <option value="">Select Inquiry Status</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Duty Manager') ?></label>
            <div class="col-lg-6" id="inqLgDtyMngr">
                <select class="form-control selectpicker" title="" id="inquiryLogDutyManager" name="inquiryLogDutyManager" data-live-search="true">
                    <option value="">Select Duty Manager</option>
                </select>

                <table class="duty-manager-table table table-condensed margin_top_normal">
                    <thead>
                        <tr>
                            <th width="50%"><?php echo $this->Translate('Duty Manager') ?></th>
                            <th width="50%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php
                        if (isset($this->dutyManagerNameList) && count($this->dutyManagerNameList)) {
                            foreach ($this->dutyManagerNameList as $ownL) {
                                ?>
                                <tr class='emplist' data-empid='<?php echo $ownL[id] ?>'>
                                    <td><?php echo $ownL[fName] . ' ' . $ownL[sName] ?></td>
                                    <td class='text-right'>
                                        <a class="btn btn-default delete">
                                            <i class='pointer_cursor fa fa-trash-o'></i>
                                        </a>
                                    </td>
                                </tr>
                                <?php
                            }
                        }
                        ?>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Contact No-1') ?></label>
            <div class="col-lg-6" id="jType">
                <?php echo $this->formRow($form->get('inquiryLogContactNo1')); ?>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-6 col-lg-offset-3 more_detail">
                <a id="moredetails" title="" class="btn"><?php echo $this->translate('More Details') ?>
                    <span class="glyphicon glyphicon-circle-arrow-down"></span>
                </a>
            </div>
        </div>

        <div id="inquiry_log_edit_more">
            <div class="form-group">
                <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Contact No-2') ?></label>
                <div class="col-lg-6" id="jType">
                    <?php echo $this->formRow($form->get('inquiryLogContactNo2')); ?>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Address') ?></label>
                <div class="col-lg-6" id="cusAdrss">
                    <?php echo $this->formRow($form->get('inquiryLogAddress')); ?>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Date & Time') ?></label>
                <div class="col-lg-6" id="inqLgDate">
                    <?php echo $this->formRow($form->get('inquiryLogDateAndTime')); ?>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Loged User') ?></label>
                <div class="col-lg-6" id="inqLgLogedUser">
                    <?php echo $this->formRow($form->get('inquirylogUser')); ?>
                </div>
            </div>

            <div class="form-group <?php echo ($this->inquiryComplainType == 'Complain') ? 'hidden' : '' ?>">
                <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Project Reference') ?></label>
                <div class="col-lg-6" id="inqLgProRef">
                    <div class="input-group">
                        <select class="form-control selectpicker" title="" id="proRef" data-proid="<?php echo ($this->proID) ? $this->proID : '' ?>" name="proRef" data-live-search="true">
                            <option value="">Select Project Reference</option>
                        </select>

                        <a id="addProjectBtnUpdate" class="input-group-addon btn-default">
                            <i class="fa fa-plus remove_font_weight"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="form-group <?php echo ($this->inquiryComplainType == 'Complain') ? 'hidden' : '' ?>">
                <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Job Reference') ?></label>
                <div class="col-lg-6" id="inqLgJobRef">
                    <div class="input-group">
                        <select class="form-control selectpicker" title="" id="jobRef"  name="jobRef" data-live-search="true">
                            <option value="">Select Job Reference</option>
                        </select>

                        <select class="form-control selectpicker" title="" id="jobRef2" data-jbid="<?php echo ($this->jobID) ? $this->jobID : ''; ?>" name="jobRef" data-live-search="true">
                            <option value="">Select Job Reference</option>
                        </select>

                        <a id="addjobBtnUpdate" class="input-group-addon btn-default">
                            <i class="fa fa-plus remove_font_weight"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="form-group <?php echo ($this->inquiryComplainType == 'Complain') ? 'hidden' : '' ?>">
                <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Activity Reference') ?></label>
                <div class="col-lg-6" id="inqLgActRef">
                    <div class="input-group">
                        <select class="selectpicker" title="" id="actRef"  name="actRef" data-live-search="true">
                            <option value="">Select Activity Reference</option>
                        </select>

                        <select class="selectpicker" title="" id="actRef2" data-actid="<?php echo ($this->actID) ? $this->actID : ''; ?>" name="actRef" data-live-search="true">
                            <option value="">Select Activity Reference</option>
                        </select>

                        <a id="addActivityBtnUpdate" class="input-group-addon btn-default hidden">
                            <i class="fa fa-plus remove_font_weight"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="form-group <?php echo ($this->inquiryComplainType == 'Complain') ? '' : 'hidden' ?>" id="inqCompDocuTypeUpdate">
                <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Related Documents') ?></label>
                <div class="col-lg-6">
                    <input type="button" class="btn btn-default" id="btn_link_docs" data-innqID="<?php echo $this->inquiryLogID ?>" value="<?php echo $this->translate('Click for linked Document') ?>"/>
                </div>
            </div>
        </div>

        <div class="margin_top_high button-set update">
            <div class="_row_with_margin clearfix">
                <div class="col-lg-9 text-right">
                    <button type="button" class="btn btn-default jobEditBack"><?php echo $this->translate('Back') ?></button>
                    <button type="submit" class="btn btn-primary update" id="update"value='<?php echo $this->jobID; ?>' ><?php echo $this->translate('Update') ?></button>
                </div>
            </div>
        </div>

        <?php
        echo $this->form()->closeTag($form);
        ?>

        <div class="modal fade" id="addUserHistoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <?php echo $this->customerHistoryView; ?>
        </div>
        <div class="modal fade" id="DocumentViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <?php echo $this->documentView; ?>
        </div>

    </div><!--form_horizontal-->
</div><!--category_form_container-->

