<div id="inquiry-log-list-table-view">
    <!--table-->
    <div id="search-inquiry-log-list">
        <div class="table-responsive" id="inquiry-log-list">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="20%"><?php echo $this->translate('Inquiry Log Reference') ?></th>
                        <th width="20%"><?php echo $this->translate('Customer Name') ?></th>
                        <th width="15%"><?php echo $this->translate('Inquiry/Complain') ?></th>
                        <th width="20%"><?php echo $this->translate('Created date') ?></th>
                        <th width="5%"><?php echo $this->translate('Status') ?></th>
                        <th width="5%"><?php echo $this->translate('Change Status') ?></th>
                        <th width="5%" class="text-center" ><?php echo $this->translate('View') ?></th>
                        <th width="5%" class="text-center" ><?php echo $this->translate('Related Document') ?></th>
                        <th width="5%" class="text-center" ><?php echo $this->translate('Edit') ?></th>
                        <th width="5%" class="text-center" ><?php echo $this->translate('Delete') ?></th>
                    </tr>
                </thead>
                <tbody id="inquiryLogList">
                    <?php
                    foreach ($this->inquiryLogList as $loo) {
                        $loo = (object) $loo;
                        $status = $loo->statusID;
                        $state = ucfirst($this->status[$status]);
                        $style = NULL;
                        switch ($status) {
                            case "3"://open
                                $style = "label label-success";
                                break;
                            case "4":
                                $style = "label label-danger";
                                break;
                            default :
                                $style = "label label-default";
                        }
                        ?>
                        <tr data-inquiry-log-id="<?php echo $loo->inquiryLogID; ?>">
                            <td class="fName"><?php echo $loo->inquiryLogReference ?></td>
                            <td class="sName"><?php echo $loo->customerName ?></td>
                            <td class="desName"><?php echo $loo->inquiryComplainType ?></td>
                            <td class="empHoCst"><?php echo $loo->inquiryLogDateAndTime ?></td>
                            <td class="jState"><span class="<?php echo $style; ?>"> <?php echo $state; ?></span></td>
                            <td class="text-center">
                                <?php if($loo->customerStatus == 1) { ?>
                                <a href="#" class="<?php echo ($status == '4') ? 'disabled' : 'editsInactive'; ?>" data-toggle="modal" data-status="<?php echo $status; ?>"><i class="fa fa-toggle-on"></i></a>
                                <?php } else { ?>
                                    <a href="#" class="<?php echo ($status == '4') ? 'disabled' : 'inquiryLogChangeStatus'; ?>" data-toggle="modal" data-status="<?php echo $status; ?>"><i class="fa fa-toggle-on"></i></a>
                                <?php } ?>
                            </td>
                            <td class="text-center">
                                <a href="<?php echo $this->url('inquiryLog', array('action' => $this->viewAction, 'param1' => $loo->inquiryLogID)); ?>" class="fullView">
                                    <span class="glyphicon glyphicon-eye-open openlist custom_font_size"></span>
                                </a>
                            </td>
                            <td class="text-center">
                                <span id="<?php echo $loo->customerID; ?>" class="link_color cus_related_docs" data-cus-related-id="<?php echo $loo->customerID; ?>" style="cursor:pointer" >
                                    <i class="glyphicon glyphicon-link openlist custom_font_size"></i>
                                </span>
                            </td>
                            <td class="text-center">
                            <?php if($loo->customerStatus == 1) { ?>
                                <span id="<?php echo $loo->inquiryLogID; ?>" class=" link_color <?php echo ($status == '4') ? 'link_disabled disabled' : 'editsInactive'; ?>" style="cursor:pointer">
                                    <i class="fa fa-pencil-square-o"></i>
                                </span>
                            <?php } else { ?>
                                <a href="#" id="<?php echo $loo->inquiryLogID; ?>" class=" link_color <?php echo ($status == '4') ? 'link_disabled disabled' : 'edit'; ?>" style="cursor:pointer">
                                    <i class="fa fa-pencil-square-o"></i>
                                </a>
                                <?php } ?>
                            </td>
                            <td class="text-center" >
                            <?php if($loo->customerStatus == 1) { ?>
                                <a href="#" class="<?php echo ($status == '4') ? 'link_disabled disabled' : 'editsInactive'; ?>">
                                    <i class="fa fa-trash-o custom_font_size"></i>
                                </a>
                                <?php } else { ?>
                                    <a href="#" class="<?php echo ($status == '4') ? 'link_disabled disabled' : 'delete-inquiry-log'; ?>">
                                    <i class="fa fa-trash-o custom_font_size"></i>
                                </a>
                                    <?php } ?>
                            </td>
                        </tr>
                        <?php
                    }
                    if (count($this->inquiryLogList) == 0) {
                        ?>
                        <tr class="not_found">
                            <td colspan="9"><?php echo $this->translate('No results were found.'); ?></td>
                        </tr>
                        <?php
                    }
                    ?>

                </tbody>
            </table>
        </div>
        <?php
        if ($this->paginated) {
            echo $this->paginationControl(
                    $this->inquiryLogList, 'sliding', array('partial/paginator.phtml', 'inquiryLogList'), array(
                'route' => 'inquiryLog', 'action' => 'list'
                    )
            );
        }
        ?>
    </div>
</div>

<div class="modal fade" id="inquiryLogStatueChangeModal" tabindex="-1" role="dialog" aria-labelledby="inquiryLogStatueChangeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="inquiryLogStatueChangeModalLabel"><?php echo $this->translate('Change Status') ?></h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="form-horizontal">
                        <label class="col-lg-3 control-label"><?php echo $this->translate('Select Status') ?></label>
                        <div class="col-lg-5">
                            <select id="statusValue" class="form-control">
                                <option value="3">Open</option>
                                <option value="4">Closed</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="changeStatusBtn">Change</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addUserHistoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->customerHistoryView; ?>
</div>
<div class="modal fade" id="DocumentViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->documentView; ?>
</div>
