<div id="inquiry-log-list-view">

    <div class="well well_heading margin_top">
        <h5 class="font_weight"><?php echo $this->translate('Search a Inquiry Log') ?></h5>
    </div>

    <!--search-->
    <div class="well well_body clearfix">
        <form class="inquiry-log-search clearfix" id="inquiry-log-search" method="post" action="">
            <div class="_row_with_margin">

                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="control-label">
                            <?php echo $this->translate('Select Inquiry Log') ?>
                        </label>
                        <select class="selectpicker form-control" title="<?php echo $this->translate('Select Inquiry Log') ?>"
                                data-live-search="true" id="inquiryLogSelection">
                        </select>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="control-label"><?php echo $this->translate('From') ?></label>
                        <input type="text" style="background-color: white" readonly="true"
                               class="span2 datepicker form-control pointer_cursor"
                               id="from-date" data-date-format="<?php echo $this->userDateFormat ?>"
                               placeholder="<?php echo $this->userDateFormat ?>">
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="control-label"><?php echo $this->translate('To') ?></label>
                        <input type="text" style="background-color: white" readonly="true"
                               class="span2 datepicker form-control pointer_cursor" id="to-date"
                               data-date-format="<?php echo $this->userDateFormat ?>"
                               placeholder="<?php echo $this->userDateFormat ?>">
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="form-group">
                        <label class="control-label visible-lg">&nbsp;</label>
                        <div class="btn-group btn-block">
                            <button class="btn btn-default minus_margin take-half-space" id="date-filter">
                                <?php echo $this->translate('Search') ?>
                            </button>
                            <button class="btn btn-default minus_margin take-half-space" id="clear-filter">
                                <?php echo $this->translate('Clear') ?>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>

    <!--table_view-->
    <div id="search-inquiry-log-data-list" class="margin_top">
        <?php echo $this->partial('job-card/inquiry-log/list-table', array('inquiryLogList' => $this->inquiryLogList, 'paginated' => $this->paginated, 'status' => $this->status, 'viewAction' => $this->viewAction, 'editAction' => $this->editAction, 'customerHistoryView' => $this->customerHistoryView, 'documentView' => $this->documentView)); ?>
    </div>

</div>
