<div class="inquiry-log-form-container margin_top">
    <div class="row">

        <input type="hidden" id='inquiryLogID' value="<?php echo $this->inquiryLogID ?>">
        <div class="well well_heading">
            <h5 class="font_weight addTitle"><?php echo $this->translate('View Inquiry Log') ?></h5>
        </div>

        <div class="well well_body form-horizontal">

            <!--inquiry_log_ref-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Inquiry Log Reference') ?>:</label>
                </div>
                <div class="col-lg-6">
                    <input type="text" class="form-control" disabled="disabled" value="<?php echo $this->inquiryLogReference ?>"/>
                </div>
            </div>

            <!--inquiry_log_description-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Inquiry Log Descrption') ?>:</label>
                </div>
                <div class="col-lg-6">
                    <input type="text" class="form-control" disabled="disabled" value="<?php echo $this->inquiryLogDescription ?>"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Inquiry/Complain type') ?>:</label>
                </div>
                <div class="col-lg-6">
                    <input type="text" class="form-control" disabled="disabled" value="<?php echo ($complainType == true) ? 'Complain' : 'Inquiry' ?>"/>
                </div>
            </div>

            <!--customer-->
            <div class="form-group">
                <label class=" col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Customer') ?>:</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" disabled="disabled" value="<?php echo $this->customerName ?>"/>
                    <table class="cust-prof table table-condensed margin_top_normal">
                        <thead>
                            <tr>
                                <th><?php echo $this->translate('Customer Profile') ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class='cus-prof'>
                                <td> <?php echo $this->customerProfileName ?></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--contact_no_1-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Contact No-1') ?>:</label>
                </div>
                <div class="col-lg-6">
                    <input type="text" class="form-control" disabled="disabled" value="<?php echo $this->customerProfileMobileTP1 ?>"/>
                </div>
            </div>

            <!--contact_no_2-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Contact No-2') ?>:</label>
                </div>
                <div class="col-lg-6">
                    <input type="text" class="form-control" disabled="disabled" value="<?php echo $this->customerProfileLandTP1 ?>"/>
                </div>
            </div>

            <!--customer_address-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Address') ?>:</label>
                </div>
                <div class="col-lg-6">
                    <textarea class="form-control" disabled="disabled"><?php echo $this->address ?></textarea>
                </div>
            </div>

            <!--inquiry_type-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Inquiry Type') ?>:</label>
                </div>
                <div class="col-lg-6">
                    <input type="text" class="form-control" disabled="disabled" value="<?php echo $this->inquiryTypeCode ?>"/>
                </div>
            </div>

            <!--date&time-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Date & Time') ?>:</label>
                </div>
                <div class="col-lg-6">
                    <input type="text" class="form-control" disabled="disabled" value="<?php echo $this->inquiryLogDateAndTime ?>"/>
                </div>
            </div>

            <!--logged_user-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Loged User') ?>:</label>
                </div>
                <div class="col-lg-6">
                    <input type="text" class="form-control" disabled="disabled" value="<?php echo $this->username ?>"/>
                </div>
            </div>

            <!--status-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Status') ?>:</label>
                </div>
                <div class="col-lg-6">
                    <input type="text" class="form-control" disabled="disabled" value="<?php echo $this->inquiryStatusName ?>"/>
                </div>
            </div>

            <!--duty_manager-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Duty Manager') ?>:</label>
                </div>
                <div class="col-lg-6">
                    <table class="divisions table table-condensed">
                        <thead>
                            <tr>
                                <th>Duty Manager</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            foreach ($this->dutyManagerList as $key => $value) {
                                ?>
                                <tr class='duty-manager-list' data-dutyManid='<?php echo $key ?>'>
                                    <td><?php echo $value[fName] . ' ' . $value[sName] ?></td>
                                </tr>
                                <?php
                            }
                            ?>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--project_ref-->
            <div class="form-group <?php echo ($complainType == true) ? 'hidden' : '' ?>">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Project Reference') ?>:</label>
                </div>
                <div class="col-lg-6">
                    <input type="text" class="form-control" disabled="disabled" value="<?php echo $this->projectCode ?>"/>
                </div>
            </div>

            <!--job_ref-->
            <div class="form-group <?php echo ($complainType == true) ? 'hidden' : '' ?>">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Job Reference') ?>:</label>
                </div>
                <div class="col-lg-6">
                    <input type="text" class="form-control" disabled="disabled" value="<?php echo $this->jobReferenceNumber ?>"/>
                </div>
            </div>

            <!--activity_ref-->
            <div class="form-group <?php echo ($complainType == true) ? 'hidden' : '' ?>">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Activity Reference') ?>:</label>
                </div>
                <div class="col-lg-6">
                    <input type="text" class="form-control" disabled="disabled" value="<?php echo $this->activityCode ?>"/>
                </div>
            </div>

            <div class="form-group <?php echo ($complainType == false) ? 'hidden' : '' ?>">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Document Type List') ?>:</label>
                </div>
                <div class="col-lg-6">
                    <input type="button" class="btn btn-default" id="btn_link_docs" data-innqID="<?php echo $this->inquiryID ?>" value="<?php echo $this->translate('Click for linked Document') ?>"/>
                </div>
            </div>

        </div><!--well-->


        <?php if (isset($this->jobRelatedSubViewFlag)) { ?>
            <div class="col-lg-2 remove_right_padding hidden">
                <button type="button" id='viewBack' class="btn btn-block btn-default viewBack"><?php echo $this->translate('Back') ?></button>
            </div><!--./col-->
        <?php } else { ?>
            <div class="col-lg-2 remove_right_padding">
                <button type="button" id='viewBack' class="btn btn-block btn-default viewBack"><?php echo $this->translate('Back') ?></button>
            </div><!--./col-->
        <?php } ?>

        <div class="modal fade" id="addUserHistoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <?php echo $this->customerHistoryView; ?>
        </div>
        <div class="modal fade" id="DocumentViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <?php echo $this->documentView; ?>
        </div>

    </div><!--row-->
</div><!--inquiry_log_form-->