<?php
$form = $this->contractorForm;
$form->setAttribute('id', 'contractor');
?>

<div class="category-form-container margin_top">

    <div class="well well_heading">
        <h5 class="font_weight add-contractor-h5"><?php echo $this->translate('Add Contractor') ?></h5>
        <h5 class="font_weight update-contractor-h5 hidden"><?php echo $this->translate('Update Contractor') ?></h5>
    </div>

    <div class="well well_body">

        <?php
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formHidden($form->get('contractorID'));
        ?>
        <div class="_row_with_margin clearfix">

            <!--first_name-->
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('First Name') ?><font color="red"> *</font></label>
                    <div class="">
                        <?php echo $this->formRow($form->get('contractorFirstName')); ?>
                    </div>
                </div>
            </div>

            <!--last_name-->
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Last Name') ?><font color="red"> *</font></label>
                    <div class="">
                        <?php echo $this->formRow($form->get('contractorSecondName')); ?>
                    </div>
                </div>
            </div>

            <!--designation-->
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Designation') ?></label>
                    <div class="">
                        <?php echo $this->formRow($form->get('designationID')); ?>
                    </div>
                </div>
            </div>

            <!--division-->
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Division') ?></label>
                    <div class="">
                        <?php echo $this->formRow($form->get('divisionID')); ?>
                    </div>
                </div>
            </div>

            <!--tel_number-->
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Telephone Number') ?></label>
                    <div class="">
                        <?php echo $this->formRow($form->get('telNumber')); ?>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group update-button-set hidden">
                    <label class="control-label label_bottom_margin">&nbsp;</label>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary update" id="contractorUpdate"><?php echo $this->translate('Update') ?></button>
                        <button type="reset" class="btn btn-default reset cancel"><?php echo $this->translate('Cancel') ?></button>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group add-button-set">
                    <label class="control-label label_bottom_margin">&nbsp;</label>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary add" id="contractorSave"><?php echo $this->translate('Add New') ?></button>
                        <button type="reset" class="btn btn-default add reset"><?php echo $this->translate('Reset') ?></button>
                    </div>
                </div>
            </div>
        </div><!--row-->

        <?php
        echo $this->form()->closeTag($form);
        ?>

    </div>
</div>

<div id="designationview"></div>

<div class="well clearfix well_custom_padding margin_top ">
    <form class="contractor-search" id="contractorSearchForm" method="post" action="">
        <div class="col-lg-3">
            <label class="remove_weight"><?php echo $this->translate('Search a Contractor') ?></label>
        </div>
        <div class="col-lg-9 xs-search-field">
            <div class=" input-group">
                <input type="text" class="search form-control" id ='contractorSearchKeyword' placeholder="<?php echo $this->translate('Enter Contractor First Name or Second Name') ?>"/>
                <span class="input-group-btn">
                    <button class="btn btn-default search_btn_css" id="contractorSearch" type="submit"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default reset" type="reset"><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </form>
</div>

<div id="contractorList" class="margin_top">
    <?php echo $this->partial('job-card/contractor/list', array('contractorList' => $this->contractorList, 'paginated' => $this->paginated)); ?>
</div>