<?php $this->headScript()->appendFile($this->basePath('js/jquery.tablesorter.js')); ?>
<script>
    $(document).ready(function()
    {
//        $("#debitNotesDetails").tablesorter();
    }
    );
</script>
<div id="debit-note-payment-list">
    <div class="form-group data_table">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="tablesorter table-striped table" id="debitNotesDetails">
                    <thead class="table_row_color">
                        <tr class="margin_bottom">
                            <th class="viewable text-left sorting_asc" aria-controls="paymentbill" style="width: 10%;"><?php echo $this->translate('Ref.No') ?></th>
                            <th class="sorting_asc" style="width: 10%;"><?php echo $this->translate('Date') ?></th>
                            <th class="sorting_asc text-right" style="width: 10%;"><?php echo $this->translate('Total Amount') ?></th>
                            <th class="sorting_asc text-right" style="width: 10%;"><?php echo $this->translate('Settled') ?></th>
                            <th class="sorting_asc text-right" style="width: 10%;"><?php echo $this->translate('Left To Pay') ?></th>
                            <th class="sorting_asc" style="width: 14%;"><?php echo $this->translate('Payment Method') ?></th>
                            <th class="sorting_asc text-right" style="width: 10%;"><?php echo $this->translate('Payment') ?></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php
                        foreach ($this->debitNotes as $ts) {
                            $t = (object) $ts;
                            $debitNoteSettled = is_null($t->debitNoteSettled) ? 0 : $t->debitNoteSettled;
                            if ($t->statusID == '3' && $t->debitNotePaymentEligible == '1') {
                                ?>
                                <tr id=<?php echo $t->debitNoteID ?>>
                                    <td class="code text-left"> <?php echo $t->debitNoteCode ?></td>
                                    <td class="text-left"><?php echo $t->debitNoteDate; ?></td>
                                    <td class="ctotal text-right"> <?php echo number_format($t->debitNoteTotal, 2) ?></td>
                                    <td class="payamount text-right"> <?php echo number_format($debitNoteSettled, 2) ?></td>
                                    <td class="leftToPay text-right"> <?php echo number_format($t->debitNotePaymentAmount - $debitNoteSettled, 2) ?></td>
                                    <td class="method">
                                        <select class="sel form-control input-sm" id="paymentMethod">
                                            <option value=0>Select payment method</option>
                                            <?php
                                            foreach ($this->paymentMethod as $key => $value) {
                                                ?>
                                                <option value=<?php echo $key ?>><?php echo $value ?> </option>
                                            <?php } ?>
                                        </select>
                                    </td>
                                    <td class="all">
                                        <input class="edi text-right form-control input-sm" type=text id="paymentAmount" name="paymentAmount">
                                    </td>
                                </tr>
                                <?php
                            }
                        }
                        ?>
                    </tbody>
                </table>
            </div><!--table_responsive-->
        </div>
    </div>
</div>