<div class="row">
	<div class="col-lg-2">
		<h4 class="title-dashboard"><b><?php echo $this->translate('Sales Overview'); ?></b></h4>
	</div>
	<div class="col-lg-2" style="display: flex; padding-top: 9px;">
		  <p style="color: grey">Show : &nbsp;&nbsp;</p>
		  <select class="jobInput period">
		    <option value="thisWeek"><?php echo $this->translate('This Week'); ?></option>
		    <option value="thisMonth"><?php echo $this->translate('This Month'); ?></option>
		    <option value="thisDay"><?php echo $this->translate('This Day'); ?></option>
		    <option value="thisYear"><?php echo $this->translate('This Year'); ?></option>
		  </select>
	</div>
</div>
<div class="row" style="background-color: #f1efef; min-height: 100vh">
	<div class="row widgetRow">
		<div class="col-lg-3 title-widget">
			<div class="row" style="padding-top: 10px">
				<p style="color: #5f675f;"><b><?php echo $this->translate('Total Sales'); ?></b></p>
			</div>
			<div class="row">
				<div style="float: left;">
					<h4><b id="total-sales">LKR</b></h4>
				</div>
				<div style="float: right;">
					<h5 class="profit-rate" id="total-sales-profit">+2.5%<span><i class="glyphicon glyphicon-arrow-up"></i></span></h5>
					<h5 class="loss-rate hidden" id="total-sales-loss">+2.5%<span><i class="glyphicon glyphicon-arrow-down"></i></span></h5>
				</div>
			</div>
			<p style="color: #8c867e;font-size: 12px;" id="last-period-total-sales">Compared to (LKR 100,000 last year)</p>
		</div>
		<div class="col-lg-3 title-widget">
			<div class="row" style="padding-top: 10px">
				<p style="color: #5f675f;"><b><?php echo $this->translate('Gross Profit'); ?></b></p>
			</div>
			<div class="row">
				<div style="float: left;">
					<h4><b id="gross-profit">LKR</b></h4>
				</div>
				<div style="float: right;">
					<h5 class="profit-rate" id="total-gross-profit">+2.5%<span><i class="glyphicon glyphicon-arrow-up"></i></span></h5>
					<h5 class="loss-rate hidden" id="total-gross-loss">+2.5%<span><i class="glyphicon glyphicon-arrow-down"></i></span></h5>
				</div>
			</div>
			<p style="color: #8c867e;font-size: 12px;" id="last-period-total-gross">Compared to (LKR 100,000 last year)</p>
		</div>
		<div class="col-lg-3 title-widget">
			<div class="row" style="padding-top: 10px">
				<p style="color: #5f675f;"><b><?php echo $this->translate('Total Payment'); ?></b></p>
			</div>
			<div class="row">
				<div style="float: left;">
					<h4><b id="total-payments">LKR</b></h4>
				</div>
				<div style="float: right;">
					<h5 class="profit-rate" id="total-payment-profit">+2.5%<span><i class="glyphicon glyphicon-arrow-up"></i></span></h5>
					<h5 class="loss-rate hidden" id="total-payment-loss">+2.5%<span><i class="glyphicon glyphicon-arrow-down"></i></span></h5>
				</div>
			</div>
			<p style="color: #8c867e;font-size: 12px;" id="last-period-total-payment">Compared to (LKR 100,000 last year)</p>
		</div>
		<div class="col-lg-3 title-widget">
			<div class="row" style="padding-top: 10px">
				<p style="color: #5f675f;"><b><?php echo $this->translate('Number of Invocies'); ?></b></p>
			</div>
			<div class="row">
				<div style="float: left;">
					<h4><b id="totalInvoiceCount">0</b></h4>
				</div>
				<div style="float: right;">
					<h5 class="profit-rate" id="total-invoice-count-profit">+2.5%<span><i class="glyphicon glyphicon-arrow-up"></i></span></h5>
					<h5 class="loss-rate hidden" id="total-invoice-count-loss">+2.5%<span><i class="glyphicon glyphicon-arrow-down"></i></span></h5>
				</div>
			</div>
			<p style="color: #8c867e;font-size: 12px;" id="last-period-total-invoices">Compared to (LKR 100,000 last year)</p>
		</div>
	</div>
	<div class="row graph-row">
		<div class="col-lg-9 graph-widget">
			<div class="row">
				<ul class="nav nav-tabs">
			      <li class="active">
			        <a data-toggle="tab" id="cash-credit" href="#byVehcleTab">
			          <span class="tab-title"><?php echo $this->translate('Sales & Returns By Customer'); ?></span>
			        </a>
			      </li>
			      <li>
			        <a data-toggle="tab" id="sales-gross-profit" href="#byItemTab"><span class="tab-title"><?php echo $this->translate('Sales & Gross Profit By Item'); ?></span></a>
			      </li>
			    </ul>
			</div>
			<div class="row" id="cash-chart">
				
			</div>
			<div class="row hidden" id="gp-chart">
				
			</div>
		</div>
		<div class="col-lg-3" style="margin-top: 15px;">
			<div class="row best-items">
				<div class="row" style="text-align: center;">
					<p class="tab-title1" style="padding-top: 13px;"><?php echo $this->translate('Best Moving Items'); ?></p>
				</div>
				<div class="row">
					<div class="row" style="display: flex;">
						<div class="col-lg-1 title-row">
						</div>
						<div class="col-lg-4 title-row">
							<b><?php echo $this->translate('Item'); ?></b>
						</div>
						<div class="col-lg-2 title-row">
							<b><?php echo $this->translate('Qty'); ?></b>
						</div>
						<div class="col-lg-5 title-row">
							<b><?php echo $this->translate('Total Sales'); ?></b>
						</div>
					</div>
					<div class="row item-row">
						<div class="col-lg-1 table-text">
							1
						</div>
						<div class="col-lg-4 table-text sales-text productCode0" style="width:100%">
							Item 01
						</div>
						<div class="col-lg-2 table-text productQty0" style="width:100%">
							Total
						</div>
						<div class="col-lg-5 table-text sales-text productSales0" style="text-align: right; width: 100%;">
							65,000
						</div>
					</div>
					<div class="row item-row">
						<div class="col-lg-1 table-text">
							2
						</div>
						<div class="col-lg-4 table-text sales-text productCode1" style="width:100%">
							Item 01
						</div>
						<div class="col-lg-2 table-text productQty1" style="width:100%">
							Total
						</div>
						<div class="col-lg-5 table-text sales-text productSales1" style="text-align: right; width: 100%;">
							65,000
						</div>
					</div>
					<div class="row item-row">
						<div class="col-lg-1 table-text">
							3
						</div>
						<div class="col-lg-4 table-text sales-text productCode2" style="width:100%">
							Item 01
						</div>
						<div class="col-lg-2 table-text productQty2" style="width:100%">
							Total
						</div>
						<div class="col-lg-5 table-text sales-text productSales2" style="text-align: right; width: 100%;">
							65,000
						</div>
					</div>
					<div class="row item-row">
						<div class="col-lg-1 table-text">
							4
						</div>
						<div class="col-lg-4 table-text sales-text productCode3" style="width:100%">
							Item 01
						</div>
						<div class="col-lg-2 table-text productQty3" style="width:100%">
							Total
						</div>
						<div class="col-lg-5 table-text sales-text productSales3" style="text-align: right; width: 100%;">
							65,000
						</div>
					</div>
					<div class="row item-row">
						<div class="col-lg-1 table-text">
							5
						</div>
						<div class="col-lg-4 table-text sales-text productCode4" style="width:100%">
							Item 01
						</div>
						<div class="col-lg-2 table-text productQty4" style="width:100%">
							Total
						</div>
						<div class="col-lg-5 table-text sales-text productSales4" style="text-align: right; width: 100%;">
							65,000
						</div>
					</div>
				</div>
			</div>
			<div class="row target-chart-row">
				<div class="col-lg-8" id="target-chart">
				</div>
				<div class="col-lg-4 target-value" style="text-align: center;">
					<div class="row">
						<h2 class="gpPercentage"><b id="gpPercentage">70%</b></h2>
					</div>
					<div class="row">
						<p style="font-size: 10px"><?php echo $this->translate('Gross Profit Achievement'); ?></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row final-graph-row">
		<div class="col-lg-4">
			<div class="row" style="text-align: center;">
				<p class="tab-title1" style="padding-top: 13px;"><?php echo $this->translate('Sales Summary'); ?></p>
			</div>
			<div class="row" id="sales-summary"></div>
		</div>
		<div class="col-lg-4" style="border-left: 1px solid #beb4b4;border-right: 1px solid #beb4b4;">
			<div class="row" style="text-align: center;">
				<p class="tab-title1" style="padding-top: 13px;"><?php echo $this->translate('Gross Profit Summary'); ?></p>
			</div>
			<div class="row" id="sales-gp-summary"></div>
		</div>
		<div class="col-lg-4">
			<div class="row" style="text-align: center;">
				<p class="tab-title1" style="padding-top: 13px;"><?php echo $this->translate('Payment Summary'); ?></p>
			</div>
			<div class="row" id="sales-payment-summary"></div>
		</div>
	</div>
	<a class="zc-ref" href="https://www.zingchart.com/">Powered by ZingChart</a>
</div>

<style type="text/css">
#sales-payment-summary {
  /*min-height: 150px;*/
  width: 100%;
  height: 100%;
  min-height: 250px;
  position: relative;
    left: -4px;
}

#sales-gp-summary {
  /*min-height: 150px;*/
  width: 100%;
  height: 100%;
  min-height: 250px;
  position: relative;
    left: -4px;
}

#sales-summary {
  /*min-height: 150px;*/
  width: 100%;
  height: 100%;
  min-height: 250px;
  position: relative;
    left: -4px;
}
</style>
