<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width=""><?php echo $this->translate('First Name') ?></th>
                <th width=""><?php echo $this->translate('Last Name') ?></th>
                <th width=""><?php echo $this->translate('Designation') ?></th>
                <th width=""><?php echo $this->translate('Division') ?></th>
                <th width=""><?php echo $this->translate('Email Address') ?></th>
                <!--<th><?php echo $this->translate('Telephone Number') ?></th>-->
                <th width=""><?php echo $this->translate('Hourly Cost') ?></th>
                <th width=""><?php echo $this->translate('User Name') ?></th>
                <th width="" class="text-center" ><?php echo $this->translate('Edit') ?></th>
                <th width="" class="text-center" ><?php echo $this->translate('Active') ?></th>
                <th width="" class="text-center" ><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>

        <tbody>
            <?php
            foreach ($this->employees as $loo) {
                $loo = (object) $loo;
                ?>
                <tr data-employeesid="<?php echo $loo->employeeID; ?>">
                    <td class="fName"><?php echo $loo->employeeFirstName ?></td>
                    <td class="sName"><?php echo $loo->employeeSecondName ?></td>
                    <td class="desName" data-desid="<?php echo $loo->designationID ?>"><?php echo $loo->designationName ?></td>
                    <td class="divName" data-diviId="<?php echo $loo->divisionID ?>"><?php echo $loo->divisionName ?></td>
                    <td class="empEmail"><?php echo $loo->employeeEmail ?></td>
                    <td class="emptp hidden"><?php echo $loo->employeeTP ?></td>
                    <td class="empHoCst"><?php echo number_format((float) $loo->employeeHourlyCost, 2, '.', ''); ?></td>
                    <td class="userID" data-userID="<?php echo $loo->userID ?>" ><?php echo $loo->userUsername ?></td>

                    <td class="text-center">
                        <a href="#" class="edit">
                            <span class="fa fa-pencil-square-o custom_font_size"></span>
                        </a>
                    </td>

                    <td class="text-center">
                        <a href="#" class="status">
                            <span class="<?php echo ($loo->employeeStatus == '1') ? 'fa fa-check-square-o' : 'fa fa-square-o '; ?> custom_font_size"></span>
                        </a>
                    </td>

                    <td class="text-center" >
                        <a href="#" class="delete">
                            <span class="fa fa-trash-o custom_font_size"></span>
                        </a>
                    </td>
                </tr>
                <?php
            }
            if (count($this->employees) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div><!--table_responsive-->

<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->employees, 'sliding', array('partial/paginator.phtml', 'employees'), array(
        'route' => 'employees', 'action' => 'create'
            )
    );
}
?>
