<div id="invoice-list" class="invoice-list-by-search">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class=""><?php echo $this->translate('Invoice No') ?></th>
                <th class=""><?php echo $this->translate('Customer Name') ?></th>
                <th class=""><?php echo $this->translate('Issued Date') ?></th>
                <th class=""><?php echo $this->translate('Due Date') ?></th>
                <?php if ($this->showVehicleNum) { ?>
                    <th class="text-center"><?php echo $this->translate('Vehicle Number') ?></th>
                <?php } ?>
                <th class="text-center"><?php echo $this->translate('State') ?></th>
                <th class="text-right"><?php echo $this->translate('Total Amount') ?></th>
                <th class="text-right"><?php echo $this->translate('Paid Amount') ?></th>
                <th class="text-center"><?php echo $this->translate('Print View') ?></th>
                <th class="text-center"><?php echo $this->translate('Edit') ?></th>
                <th class="text-center"><?php echo $this->translate('Cancel') ?></th>
                <th class="text-center"><?php echo $this->translate('Related Documents') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            if (count($this->invoices) > 0) {
                foreach ($this->invoices as $key => $invoice) {

                    $temJobFlag = false;
                    if ($invoice->jobID != '' && $invoice->jobID != 0) {
                        $temJobFlag = true;
                        
                    }
                    if ($invoice->salesInvoiceCustomCurrencyRate == 0) {
                        $currencyRate = 1;
                    } else {
                        $currencyRate = $invoice->salesInvoiceCustomCurrencyRate;
                    }
                    if (isset($invoice->currencySymbol)) {
                        $customCurrencySymbol = $invoice->currencySymbol;
                    } else {
                        $customCurrencySymbol = $this->companyCurrencySymbol;
                    }
                    $status = $invoice->statusID;
                    $state = ucfirst($this->statuses[$status]);

                    if ($invoice->inclusiveTax == "1" && $invoice->templateInvoiceTotal != null) {
                        $salesinvoiceTotal = $invoice->templateInvoiceTotal / $currencyRate;
                    } else {
                        $salesinvoiceTotal = $invoice->salesinvoiceTotalAmount / $currencyRate;
                    }
                    $style = NULL;
                    switch ($status) {
                        case "1":
                            $style = "label label-primary";
                            break;
                        case "2":
                            $style = "label label-default";
                            break;
                        case "3":
                            $style = "label label-success";
                            break;
                        case "4":
                            $style = "label label-warning";
                            break;
                        case "5":
                            $style = "label label-primary";
                            break;
                        case "6":
                            $state = 'Open';
                            $style = "label label-danger";
                            break;
                        default :
                            $style = "label label-default";
                    }

                    if ($invoice->deleted == 1) {
                        $state = "Cancelled";
                        $style = "label label-primary";
                    }
                    ?>
                    <tr>
                        <td class="">
                            <?php
                                echo $invoice->salesInvoiceTemporaryCode ? $invoice->salesInvoiceCode."&nbsp(".$invoice->salesInvoiceTemporaryCode.")" : $invoice->salesInvoiceCode;
                            ?>
                        </td>
                        <td class=""> <?php echo $invoice->customerName . '-' . $invoice->customerCode; ?></td>
                        <td class=""> <?php echo $this->userDateFormatHelper($invoice->salesInvoiceIssuedDate, $this->dateFormat); ?></td>
                        <td class=""> <?php echo $this->userDateFormatHelper($invoice->salesInvoiceOverDueDate, $this->dateFormat); ?></td>
                        <?php if ($this->showVehicleNum) { ?>
                            <td class="text-center"> <?php echo (!empty($invoice->serviceVehicleRegNo)) ? $invoice->serviceVehicleRegNo : '-'; ?></td>
                        <?php } ?>
                        <td class="text-center"><span class="<?php echo $style; ?>"> <?php echo $state; ?></span></td>
                        <td class="text-right"> <?php echo $customCurrencySymbol . ' ' . number_format($salesinvoiceTotal, 2); ?></td>
                        <td class="text-right"> <?php echo $customCurrencySymbol . ' ' . number_format(($invoice->salesInvoicePayedAmount / $currencyRate), 2); ?></td>
                        <td class="text-center">
                            <span class="invoice-preview link_color" style="cursor:pointer" data-href="<?php echo $this->url('invoice', array('action' => 'invoiceView', 'param1' => $invoice->salesInvoiceID)); ?>">
                                <span  id="<?php echo $invoice->salesInvoiceID; ?>" class="glyphicon glyphicon-eye-open openlist"></span>
                            </span>
                        </td>
                        <td class="text-center">
                            <?php
                                $invoiceEditFlag = true;
                                if ($invoice->salesInvoiceComment === "Created By Customer Opening Balance") {
                                    $invoiceEditFlag = false;
                                } else {
                                    $invoiceEditFlag = true;
                                }
                            ?>
                            <?php if ($status != 4 && $invoice->deleted == 0 && $invoice->pos == 0 && $invoiceEditFlag == true) { ?>
                                <?php if($invoice->customerStatus == 1 ) { ?>
                                <a class="edits" href="<?php echo $this->url('invoice', array('action' => 'edit', 'param1' => $invoice->salesInvoiceID));
                                ?>" id="<?php echo $invoice->salesInvoiceID ?>">
                                    <span class="fa fa-pencil-square-o custom_font_size"></span>
                                </a>
                                <?php } else { ?>
                                     <a class="editsInactive" href="#" id="<?php echo $invoice->salesInvoiceID ?>">
                                    <span class="fa fa-pencil-square-o custom_font_size"></span>
                                </a>
                                    <?php } ?>
                            <?php } ?>
                        </td>
                        <td class="text-center">
                            <?php  if ($status != 4 && $invoice->deleted == 0 && $invoiceEditFlag == true && $temJobFlag != true) { ?>
                                <?php if($invoice->customerStatus == 1) { ?>
                                <a><span onclick="deleteInvoice(<?php echo $invoice->salesInvoiceID; ?>, 'Invoice')" class="pointer fa fa-trash-o custom_font_size"></span></a>
                                <?php } else { ?>
                                     <a class="editsInactive" href="#" id="<?php echo $invoice->salesInvoiceID ?>">
                                    <span class="pointer fa fa-trash-o custom_font_size"></span>
                                </a>
                                    <?php } ?>
                            <?php } ?>
                        </td>
                        <td class="text-center">
                            <span id="<?php echo $invoice->salesInvoiceID; ?>" class="link_color inv_related_docs_in_search" data-inv-related-id="<?php echo $invoice->salesInvoiceID; ?>" style="cursor:pointer"><span class="grnView glyphicon glyphicon-link"></span></span>
                        </td>
                        <?php
                    }
                }
                if (count($this->invoices) == 0) {
                    ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div>
