<table class="table table-striped margin_top">
    <thead>
        <tr>
            <th class=""><?php echo $this->translate('ID') ?></th>
            <th class=""><?php echo $this->translate('SO-ID') ?></th>
            <th class=""><?php echo $this->translate('Name') ?></th>
            <th class=""><?php echo $this->translate('Repeat') ?></th>
            <th class="text-center"><?php echo $this->translate('State') ?></th>
            <th class=""><?php echo $this->translate('Start Date') ?></th>
            <th class=""><?php echo $this->translate('End Date') ?></th>
            <th class=""><?php echo $this->translate('Next Date') ?></th>
            <?php
            if (is_array($_SESSION['ezBizUser']['featureNames'])) {
                if (in_array("EditRecurrentInvoice", $_SESSION['ezBizUser']['featureNames'])) {
                    ?>
                    <th class="text-center"><?php echo $this->translate('Edit') ?></th>
                    <?php
                }
            }
            if (is_array($_SESSION['ezBizUser']['featureNames'])) {
                if (in_array("CancelRecurrentInvoice", $_SESSION['ezBizUser']['featureNames'])) {
                    ?>
                    <th class="text-center"><?php echo $this->translate('Cancel') ?></th>
                    <?php
                }
            }
            ?>
        </tr>
    </thead>
    <tbody>
        <?php
        foreach ($this->recurrentinvoices as $key => $invoice) {
            $state = $invoice->state;
            $style = NULL;
            switch ($state) {
                case "Active":
                    $style = "label label-success";
                    break;
                case "Close":
                    $style = "label label-danger";
            }
            ?>
            <tr>
                <td class=""> <?php echo $invoice->id; ?></td>
                <td class=""> <?php
                    if ($invoice->salesOrderID) {
                        echo $invoice->salesOrderID;
                    } else {
                        echo "-";
                    }
                    ?></td>
                <td class=""> <?php echo $invoice->name; ?></td>
                <td class=""> <?php echo $invoice->timeValue . " " . $invoice->timeFormat; ?></td>
                <td class="text-center"><span class="<?php echo $style; ?>"> <?php echo $invoice->state; ?></span></td>
                <td class=""> <?php echo $invoice->startDate ?></td>
                <td class=""> <?php echo $invoice->endDate ?></td>
                <td class=""> <?php echo $invoice->nextDate ?></td>
                <?php
                if (is_array($_SESSION['ezBizUser']['featureNames'])) {
                    if (in_array("EditRecurrentInvoice", $_SESSION['ezBizUser']['featureNames'])) {
                        ?>
                        <td class="text-center">
                            <a><span  id="<?php echo $invoice->id; ?>" class="glyphicon glyphicon-edit openlist"></span></a>
                        </td>
                        <?php
                    }
                }
                if (is_array($_SESSION['ezBizUser']['featureNames'])) {
                    if (in_array("CancelRecurrentInvoice", $_SESSION['ezBizUser']['featureNames'])) {
                        if ($invoice->state == 'Active') {
                            ?>
                            <td class="text-center">
                                <a><span data-toggle="modal" href = "#delete_invoice" id="<?php echo $invoice->id; ?>" class="glyphicon glyphicon-remove-sign cancel"></span></a>
                            </td>
                        <?php } else { ?>
                            <td class="text-center"></td>
                            <?php
                        }
                    }
                }
            }
            ?>
    </tbody>
</table>
