<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>
<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7px">

            <?php echo $this->headerTemplate; ?>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th style="text-align: left"><?php echo $this->translate('Related Type Created Date / Time') ?></th>
                        <th><?php echo $this->translate('Customer Name') ?></th>
                        <th style="text-align: right"><?php echo $this->translate('Project ID - Progress %') ?></th>
                        <th style="text-align: right"><?php echo $this->translate('Job ID - Progress %') ?></th>
                        <th style="text-align: right"><?php echo $this->translate('Activity ID - Progress %') ?></th>
                    </tr>
                    <?php
                    if (!empty($progressData)) {
                        foreach ($progressData as $v) {
                            ?>
                            <tr class="even_row">
                                <td style="text-align: left"><?php echo $v['createdTimeStamp']; ?></td>
                                <td style="text-align: left"><?php echo $v['customerName']; ?></td>
                                <td style="text-align: right"><?php echo $v['projectCode'] . '-' . $v['projectProgress']; ?></td>
                                <td style="text-align: right"><?php echo $v['jobReferenceNumber'] . '-' . $v['jobProgress']; ?></td>
                                <td class="change_order_total_col"><?php echo $v['activityCode'] . '-' . $v['activityProgress']; ?></td>
                            </tr>
                            <?php
                        }
                    } else {
                        ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="5"><?php echo $this->translate('No related data') ?></td>
                        </tr>
                    <?php } ?>

                </tbody>
            </table>
        </div>

    </div>
</div>



