<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>
<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7px">

            <?php echo $this->headerTemplate; ?>

            <table class="change_order_items">
                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Vehicle') ?></th>
                        <th><?php echo $this->translate('Job Name') ?></th>
                        <th><?php echo $this->translate('Activity Name') ?></th>
                        <th><?php echo $this->translate('Start Mileage') ?></th>
                        <th><?php echo $this->translate('End Mileage') ?></th>
                        <th><?php echo $this->translate('Distance') ?></th>
                        <th><?php echo $this->translate('Cost') ?></th>
                    </tr>
                    <?php
                    if (!empty($reportData)) {
                        $i = 0;
                        foreach ($reportData as $vehicle => $data) {
                            ?>
                            <tr class="even_row">
                                <td style="text-align: left"><?php echo $vehicle; ?></td>
                                <td style="text-align: left"></td>
                                <td style="text-align: left"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                            </tr>
                            <?php
                            foreach ($data as $activity){
                            ?>
                                <tr class="even_row">
                                    <td style="text-align: left"></td>
                                    <td style="text-align: left"><?php echo $activity['job'] ?></td>
                                    <td style="text-align: left"><?php echo $activity['activity']; ?></td>
                                    <td style="text-align: right"><?php echo number_format($activity['startMileage'], 2,'.',' '); ?></td>
                                    <td style="text-align: right"><?php echo number_format($activity['endMileage'], 2,'.',' '); ?></td>
                                    <td style="text-align: right"><?php echo number_format($activity['distance'], 2,'.',' '); ?></td>
                                    <td style="text-align: right"><?php echo number_format($activity['cost'], 2,'.',' '); ?></td>
                                </tr>
                            <?php
                            }
                        }
                    } else {
                        ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="7">No related data found</td>
                        </tr>
                    <?php } ?>

                </tbody>
            </table>
        </div>

    </div>
</div>



