<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>
<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7px">

            <?php echo $this->headerTemplate; ?>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th></th>
                        <th style="text-align: left"><?php echo $this->translate('Activity/ Job/ Project ID') ?></th>
                        <th><?php echo $this->translate('Name') ?></th>
                        <th style="text-align: right"><?php echo $this->translate('Total Cost') ?></th>
                        <th style="text-align: right"><?php echo $this->translate('Total Invoice Value') ?></th>
                        <th style="text-align: right"><?php echo $this->translate('Gross Profit') ?></th>
                    </tr>
                    <?php
                    if (!empty($costingData)) {
                        $i = 1;
                        foreach ($costingData as $value) {
                            $totalCostValue = 0;
                            $totalInvoiceValue = 0;
                            foreach ($value['jD'] as $c) {
                                $itemInPrice = $c['itemInPrice'] ? $c['itemInPrice'] : 0;
                                $itemOutPrice = $c['itemOutPrice'] ? $c['itemOutPrice'] : 0;
                                $itemOutQty = $c['itemOutQty'] ? $c['itemOutQty'] : 0;
                                $invTotalValue = $c['invTotalValue'] ? $c['invTotalValue'] : 0;
                                $costValue = $itemOutQty * $itemInPrice;
                                $totalCostValue += $costValue;
                                $invoiceValue = $itemOutQty * $itemOutPrice;
                                $totalInvoiceValue += $invoiceValue;
                            }
                            ?>
                            <tr class="even_row">
                                <td><?php echo $i; ?></td>
                                <td style="text-align: left"><?php echo $c['referenceCode']; ?></td>
                                <td style="text-align: left"><?php echo $c['referenceName']; ?></td>
                                <td style="text-align: right"><?php echo number_format((float) ($totalCostValue), 2, '.', ''); ?></td>
                                <td style="text-align: right"><?php echo number_format((float) ($totalInvoiceValue), 2, '.', ''); ?></td>
                                <td class="change_order_total_col"><?php echo number_format((float) ($totalInvoiceValue - $totalCostValue), 2, '.', ''); ?></td>
                            </tr>
                            <?php
                            $i++;
                        }
                    } else {
                        ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="6">No related data found</td>
                        </tr>
                    <?php } ?>

                </tbody>
            </table>
        </div>

    </div>
</div>



