<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>
<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7px">

            <?php echo $this->headerTemplate; ?>

            <table class="change_order_items">
                <tbody>
                    <tr>
                        <th></th>
                        <th><?php echo $this->translate('Activity/Job/Project Reference') ?></th>
                        <th><?php echo $this->translate('Customer Name') ?></th>
                        <th><?php echo $this->translate('Quotation No') ?></th>
                        <th><?php echo $this->translate('Quotation Expired Date') ?></th>
                        <th><?php echo $this->translate('Activity/Job/Project Created Date') ?></th>
                        <th><?php echo $this->translate('Job No') ?></th>
                        <th><?php echo $this->translate('Project No') ?></th>
                    </tr>
                    <?php
                    if (!empty($reportData)) {
                        $i = 0;
                        foreach ($reportData as $r) {
                            $jobCode = isset($r['jobCode']) ? $r['jobCode'] : '-';
                            $projectCD = isset($r['projectCD']) ? $r['projectCD'] : '-';
                            ?>
                            <tr class="even_row">
                                <td style="text-align: left"><?php echo ++$i ?></td>
                                <td style="text-align: left"><?php echo $r['refJobCardCode'] ?></td>
                                <td style="text-align: left"><?php echo $r['customerTitle'] . ' ' . $r['customerName']; ?></td>
                                <td style="text-align: left"><?php echo $r['quotationCode']; ?></td>
                                <td style="text-align: left"><?php echo $r['quotationExpireDate']; ?></td>
                                <td style="text-align: left"><?php echo $r['createdTimeStamp']; ?></td>
                                <td style="text-align: left"><?php echo $jobCode; ?></td>
                                <td style="text-align: left" class="change_order_total_col"><?php echo $projectCD; ?></td>
                            </tr>
                            <?php
                        }
                    } else {
                        ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="7">No related data found</td>
                        </tr>
                    <?php } ?>

                </tbody>
            </table>
        </div>

    </div>
</div>



