<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>
<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7px">

            <?php echo $this->headerTemplate; ?>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <?php if ($isActivityColumn) { ?>
                            <th><?php echo $this->translate('Activity') ?></th>
                        <?php }
                        ?>
                        <th><?php echo $this->translate('Job No') ?></th>
                        <th><?php echo $this->translate('Project No') ?></th>
                        <th><?php echo $this->translate('Comment') ?></th>
                        <th><?php echo $this->translate('Created Date') ?></th>
                    </tr>
                    <?php
                    if (count($repeatList) > 0) {
                        foreach ($repeatList as $t) {
                            ?>
                            <tr class="even_row">
                                <?php if ($isActivityColumn) { ?>
                                    <td style="text-align: left"><?php echo $t['activityName'] . ' - ' . $t['activityCode']; ?></td>
                                <?php }
                                ?>
                                <td style="text-align: left"><?php echo $t['jobReferenceNumber']; ?></td>
                                <td style="text-align: left"><?php echo ($t['projectCode']) ? $t['projectCode'] : '-'; ?></td>
                                <td style="text-align: left"><?php echo $t['repeatComment']; ?></td>
                                <td style="text-align: left"><?php echo $t['createdTimeStamp']; ?></td>
                            </tr>
                            <?php
                        }
                    } else {
                        ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="5">No related data found</td>
                        </tr>
                    <?php } ?>

                </tbody>
            </table>
        </div>

    </div>
</div>



