<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>
<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7px">

            <?php echo $this->headerTemplate; ?>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th style="text-align: center"><?php echo $this->translate('Activity/ Job/ Project ID') ?></th>
                        <th style="text-align: center"><?php echo $this->translate('Name') ?></th>
                        <th style="text-align: center"><?php echo $this->translate('Type') ?></th>
                        <th style="text-align: center"><?php echo $this->translate('Reference Name - Code') ?></th>
                        <th style="text-align: center"><?php echo $this->translate('Amount') ?></th>
                        <th><?php echo $this->translate('Total'); ?></th>
                    </tr>
                    <?php
                    if (!empty($openCostingData)) {
                        foreach ($openCostingData as $value) {
                            $totalCostValue = 0;
                            ?>
                            <tr class="even_row">
                                <td style="text-align: left"><?php echo $value['referenceCode']; ?></td>
                                <td style="text-align: left"><?php echo $value['referenceName']; ?></td>
                                <td style="text-align: left" colspan="4"></td>
                            </tr>
                            <?php
                            if (isset($value['rMD']) || isset($value['cTD']) || isset($value['vD']) || isset($value['eD'])) {
                                $netTotal = 0;
                                if (isset($value['rMD'])) {
                                    $totalCost = 0;
                                    foreach ($value['rMD'] as $items) {
                                        foreach ($items as $c) {
                                            $quantity = isset($c['quantity']) ? $c['quantity'] : 0;
                                            $uomAbbr = isset($c['uomAbbr']) ? $c['uomAbbr'] : '';
                                            $costValue = isset($c['costValue']) ? $c['costValue'] : 0;
                                            $totalCost = $quantity * $costValue;
                                            $netTotal+= $totalCost;
                                            ?>
                                            <tr class="even_row">
                                                <td style="text-align: left" colspan="2"></td>
                                                <td style="text-align: left">Raw Material</td>
                                                <td style="text-align: left"><?php echo $c['refCode'] . '-' . $c['refName']; ?></td>
                                                <td style="text-align: left"><?php echo $quantity . '' . $uomAbbr; ?></td>
                                                <td class="change_order_total_col"><?php echo number_format($totalCost, 2); ?></td>
                                            </tr>
                                            <?php
                                        }
                                    }
                                }
                                if (isset($value['cTD'])) {
                                    $totalCost = 0;
                                    foreach ($value['cTD'] as $items) {
                                        foreach ($items as $c) {
                                            $actualCost = isset($c['actualCost']) ? $c['actualCost'] : 0;
                                            $netTotal+=$actualCost;
                                            ?>
                                            <tr class="even_row">
                                                <td style="text-align: left" colspan="2"></td>
                                                <td style="text-align: left">Cost Type</td>
                                                <td style="text-align: left"><?php echo $c['costTypeName']; ?></td>
                                                <td style="text-align: left"><?php echo number_format($actualCost, 2); ?></td>
                                                <td class="change_order_total_col"><?php echo number_format($actualCost, 2); ?></td>
                                            </tr>
                                            <?php
                                        }
                                    }
                                }

                                if (isset($value['vD'])) {
                                    $totalCost = 0;
                                    foreach ($value['vD'] as $items) {
                                        foreach ($items as $c) {
                                            $vehicleCost = isset($c['activityVehicleCost']) ? $c['activityVehicleCost'] : 0;
                                            $netTotal+= $vehicleCost;
                                            ?>
                                            <tr class="even_row">
                                                <td style="text-align: left" colspan="2"></td>
                                                <td style="text-align: left">Vehicle</td>
                                                <td style="text-align: left"><?php echo $c['vehicleMake'] . '-' . $c['vehicleModel'] . '-' . $c['vehicleRegistrationNumber']; ?></td>
                                                <td style="text-align: left"><?php echo number_format($vehicleCost, 2); ?></td>
                                                <td class="change_order_total_col"><?php echo number_format($vehicleCost, 2); ?></td>
                                            </tr>
                                            <?php
                                        }
                                    }
                                }

                                if (isset($value['eD'])) {
                                    $totalCost = 0;
                                    foreach ($value['eD'] as $items) {
                                        foreach ($items as $c) {
                                            $employeeCost = isset($c['employeeCost']) ? $c['employeeCost'] : 0;
                                            $netTotal+= $employeeCost;
                                            $hours = explode(".", $c['hours']);
                                            ?>
                                            <tr class="even_row">
                                                <td style="text-align: left" colspan="2"></td>
                                                <td style="text-align: left">Activity Owner</td>
                                                <td style="text-align: left"><?php echo $c['employeeFirstName'] . '-' . $c['employeeSecondName']; ?></td>
                                                <td style="text-align: left"><?php echo $hours[0] . ' hours and ' . $hours[1] . ' min'; ?></td>
                                                <td class="change_order_total_col"><?php echo number_format($employeeCost, 2); ?></td>
                                            </tr>
                                            <?php
                                        }
                                    }
                                }
                                ?>
                                <tr class="even_row">
                                    <td style="text-align: right" colspan="5"><strong>Net Total</strong></td>
                                    <td class="change_order_total_col"><strong><?php echo number_format($netTotal, 2); ?></strong></td>
                                </tr>
                                <?php
                            } else {
                                ?>
                                <tr class="even_row">
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: left" colspan="4">No related data found</td>
                                </tr>
                                <?php
                            }
                        }
                    } else {
                        ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="6">No related data found</td>
                        </tr>
                    <?php } ?>

                </tbody>
            </table>
        </div>

    </div>
</div>



