<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>
<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7px">

            <?php echo $this->headerTemplate; ?>

            <table class="change_order_items">
                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Employee Name') ?></th>
                        <th><?php echo $this->translate('Job Name') ?></th>
                        <th><?php echo $this->translate('Activity Name') ?></th>
                        <th><?php echo $this->translate('Role') ?></th>
                    </tr>
                    <?php
                    if (!empty($reportData)) {
                        foreach ($reportData as $employee => $data) {
                            ?>
                            <tr class="even_row">
                                <td style="text-align: left"><?php echo $employee; ?></td>
                                <td style="text-align: left"></td>
                                <td style="text-align: left"></td>
                                <td style="text-align: left"></td>
                            </tr>
                            <?php
                            foreach ($data as $activity){
                            ?>
                                <tr class="even_row">
                                    <td style="text-align: left"></td>
                                    <td style="text-align: left"><?php echo $activity['jobName'] ?></td>
                                    <td style="text-align: left"><?php echo $activity['activityName']; ?></td>
                                    <td style="text-align: left"><?php echo $activity['type']; ?></td>
                                </tr>
                            <?php
                            }
                        }
                    } else {
                        ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="7"><?php echo $this->translate('No related data') ?></td>
                        </tr>
                    <?php } ?>

                </tbody>
            </table>
        </div>

    </div>
</div>



