<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>
<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7px">

            <?php echo $this->headerTemplate; ?>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Inquiry ID') ?></th>
                        <th><?php echo $this->translate('Date / Time') ?></th>
                        <th><?php echo $this->translate('Customer Name') ?></th>
                        <th><?php echo $this->translate('Created User') ?></th>
                        <th><?php echo $this->translate('Duty Manager') ?></th>
                    </tr>
                    <?php
                    if (!empty($iLogData)) {
                        foreach ($iLogData as $value['data']) {
                            foreach ($value['data'] as $v) {
                                ?>
                                <tr class="even_row">
                                    <td style="text-align: left"><?php echo $v['inquiry']['inquiryLogReference']; ?></td>
                                    <td style="text-align: left"><?php echo $v['inquiry']['time']; ?></td>
                                    <td style="text-align: left"><?php echo $v['inquiry']['customerName']; ?></td>
                                    <td style="text-align: left"><?php echo $v['inquiry']['userUsername']; ?></td>

                                    <?php
                                    if (!empty($v['dM'])) {
                                        $i = 1;
                                        foreach ($v['dM'] as $value) {
                                            if ($i == 1) {
                                                ?>
                                                <td class="change_order_total_col"><?php echo $value['employeeFirstName'] . '-' . $value['employeeSecondName']; ?></td>
                                            </tr>
                                        <?php } else { ?>
                                            <tr class="even_row">
                                                <td style="text-align: left"></td>
                                                <td style="text-align: left"></td>
                                                <td style="text-align: left"></td>
                                                <td style="text-align: left"></td>
                                                <td class="change_order_total_col"><?php echo $value['employeeFirstName'] . '-' . $value['employeeSecondName']; ?></td>
                                            </tr>
                                            <?php
                                        }
                                        $i++;
                                    }//dM end foreach
                                }//if dM
                            }//data foreach
                        }//main foreach
                    } else {
                        ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="5"><?php echo $this->translate('No related data') ?></td>
                        </tr>
                    <?php } ?>

                </tbody>
            </table>
        </div>

    </div>
</div>



