<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>
<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7px">

            <?php echo $this->headerTemplate; ?>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th></th>
                        <th><?php echo $this->translate('Activity Code') ?></th>
                        <th><?php echo $this->translate('Item Name - Code') ?></th>
                        <th><?php echo $this->translate('Quantity') ?></th>
                        <th><?php echo $this->translate('Customer Name') ?></th>
                        <th><?php echo $this->translate('Activity Created Date') ?></th>
                        <th><?php echo $this->translate('Job Code') ?></th>
                    </tr>
                    <?php
                    if (!empty($activityProductData)) {
                        $i = 0;
                        foreach ($activityProductData as $value) {
                            ?>
                            <tr class="even_row">
                                <td><?php echo ++$i; ?></td>
                                <td style="text-align: left"><?php echo $value['activityCode']; ?></td>
                                <td colspan="5"></td>
                            </tr>
                            <?php foreach ($value['tProData'] as $a) {
                                ?>
                                <tr class="even_row">
                                    <td></td>
                                    <td style="text-align: left"></td>
                                    <td style="text-align: left"><?php echo $a['temporaryProductName'] . '-' . $a['temporaryProductCode']; ?></td>
                                    <td style="text-align: left"><?php echo $a['temporaryProductQuantity'] . ' ' . $a['uomAbbr']; ?></td>
                                    <td style="text-align: left"><?php echo $a['customerTitle'] . '' . $a['customerName']; ?></td>
                                    <td style="text-align: left"><?php echo $a['createdTimeStamp']; ?></td>
                                    <td class="change_order_total_col"><?php echo $a['jobReferenceNumber']; ?></td>
                                </tr>
                                <?php
                            }
                        }
                    } else {
                        ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="7"><?php echo $this->translate('No related data') ?></td>
                        </tr>
                    <?php } ?>

                </tbody>
            </table>
        </div>

    </div>
</div>



