<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>
<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7px">

            <?php echo $this->headerTemplate; ?>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th></th>
                        <th style="text-align: center"><?php echo $this->translate('Activity/ Job/ Project ID') ?></th>
                        <th style="text-align: center"><?php echo $this->translate('Name') ?></th>
                        <th style="text-align: center"><?php echo $this->translate('Product Name - Code') ?></th>
                        <th style="text-align: center"><?php echo $this->translate('Quantity') ?></th>
                        <th style="text-align: center"><?php echo $this->translate('Item In Price') ?></th>
                        <th style="text-align: center"><?php echo $this->translate('Total Cost') ?></th>
                        <th style="text-align: center"><?php echo $this->translate('Item Out Price') ?></th>
                        <th style="text-align: center"><?php echo $this->translate('Total Invoice Value') ?></th>
                        <th style="text-align: center"><?php echo $this->translate('Gross Profit') ?></th>
                    </tr>
                    <?php
                    if (!empty($costingData)) {
                        $i = 1;
                        foreach ($costingData as $value) {
                            $totalCostValue = 0;
                            $totalInvoiceValue = 0;
                            ?>
                            <tr class="even_row">
                                <td><?php echo $i; ?></td>
                                <td style="text-align: left"><?php echo $value['referenceCode']; ?></td>
                                <td style="text-align: left"><?php echo $value['referenceName']; ?></td>
                                <td style="text-align: left" colspan="7"></td>
                            </tr>
                            <?php
                            foreach ($value['jD'] as $c) {
                                $itemInPrice = $c['itemInPrice'] ? $c['itemInPrice'] : 0;
                                $itemOutPrice = $c['itemOutPrice'] ? $c['itemOutPrice'] : 0;
                                $itemOutQty = $c['itemOutQty'] ? $c['itemOutQty'] : 0;
                                $invTotalValue = $c['invTotalValue'] ? $c['invTotalValue'] : 0;
                                $costValue = $itemOutQty * $itemInPrice;
                                $totalCostValue += $costValue;
                                $invoiceValue = $itemOutQty * $itemOutPrice;
                                $totalInvoiceValue += $invoiceValue;
                                $qty = ($c['productType'] == 1) ? $itemOutQty : 0;
                                ?>
                                <tr class="even_row">
                                    <td></td>
                                    <td style="text-align: left" colspan="2"></td>
                                    <td style="text-align: left"><?php echo $c['productName'] . '-' . $c['productCode']; ?></td>
                                    <td style="text-align: left"><?php echo number_format((float) ($qty), 2, '.', ''); ?></td>
                                    <td style="text-align: left"><?php echo number_format((float) ($itemInPrice), 2, '.', ''); ?></td>
                                    <td style="text-align: right"><?php echo number_format((float) ($costValue), 2, '.', ''); ?></td>
                                    <td style="text-align: left"><?php echo number_format((float) ($itemOutPrice), 2, '.', ''); ?></td>
                                    <td style="text-align: right"><?php echo number_format((float) ($invoiceValue), 2, '.', ''); ?></td>
                                    <td class="change_order_total_col"><?php echo number_format((float) ($invoiceValue - $costValue), 2, '.', ''); ?></td>
                                </tr>
                                <?php
                            }
                            ?>
                            <tr class="even_row">
                                <td></td>
                                <td style="text-align: right;font-weight: bold;" colspan="5">Total</td>
                                <td style="text-align: right;font-weight: bold;"><?php echo number_format((float) ($totalCostValue), 2, '.', ''); ?></td>
                                <td style="text-align: right;font-weight: bold;" colspan="2"><?php echo number_format((float) ($totalInvoiceValue), 2, '.', ''); ?></td>
                                <td style="font-weight: bold;" class="change_order_total_col"><?php echo number_format((float) ($totalInvoiceValue - $totalCostValue), 2, '.', ''); ?></td>
                            </tr>
                            <?php
                            $i++;
                        }
                    } else {
                        ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="9">No related data found</td>
                        </tr>
                    <?php } ?>

                </tbody>
            </table>
        </div>

    </div>
</div>



