<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>
<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7px">

            <?php echo $this->headerTemplate; ?>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Date / Time') ?></th>
                        <th><?php echo $this->translate('Customer Name') ?></th>
                        <th><?php echo $this->translate('Ref. No') ?></th>
                        <th><?php echo $this->translate('Progress %') ?></th>
                    </tr>
                    <?php
                    if (!empty($progressData)) {
                        foreach ($progressData as $v) {
                            ?>
                            <tr class="even_row">
                                <td style="text-align: left"><?php echo $v['createdTimeStamp']; ?></td>
                                <td style="text-align: left"><?php echo ($v['customerID']) ? $v['customerName'] : '-'; ?></td>
                                <td style="text-align: left"><?php echo $v['refCode']; ?></td>
                                <td class="change_order_total_col"><?php echo ($v['progress']) ? $v['progress'] : '0.00'; ?></td>
                            </tr>
                            <?php
                        }
                    } else {
                        ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="4">No related data found</td>
                        </tr>
                    <?php } ?>

                </tbody>
            </table>
        </div>

    </div>
</div>



