<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>
<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7px">

            <?php echo $this->headerTemplate; ?>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th></th>
                        <th><?php echo $this->translate('Item Name - Code') ?></th>
                        <th><?php echo $this->translate('Activity Code') ?></th>
                        <th><?php echo $this->translate('Quantity') ?></th>
                    </tr>
                    <?php
                    if (!empty($tempProductData)) {
                        $i = 0;
                        foreach ($tempProductData as $t) {
                            ?>
                            <tr class="even_row">
                                <td><?php echo ++$i; ?></td>
                                <td style="text-align: left"><?php echo $t['temporaryProductName'] . '-' . $t['temporaryProductCode']; ?></td>
                                <td style="text-align: left"><?php echo $t['activityCode']; ?></td>
                                <td class="change_order_total_col"><?php echo $t['temporaryProductQuantity'] . ' ' . $t['uomAbbr']; ?></td>
                            </tr>
                            <?php
                        }
                    } else {
                        ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="3">No related data found</td>
                        </tr>
                    <?php } ?>

                </tbody>
            </table>
        </div>

    </div>
</div>



