<!--panel-->
<div class='panel panel-default margin_top margin_bottom panel_border'>

    <div class='panel-heading panel_heading_style'><!--panel_heading-->
        <h4 class="font_weight h1_no_margin report_heading"><?php echo $this->translate('Job Card Report') ?></h4>
    </div>

    <div class="panel-body panel_body_style">

        <!--links-->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 remove_left_padding remove_right_padding panel_links">
            <ul class="nav nav-pills  nav-stacked data-tabs" data-tabs="tabs">
                <li id="invoiceValueReport" class="report_pills active"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Project/ Job/ Activity Invoice Report') ?></a></li>
                <li id="inquiryLogReport" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Inquiry Log Report') ?></a></li>
                <li id="weightageReport" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Activity/ Job Weightage Report') ?></a></li>
                <li id="progressReport" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Activity/ Job/ Project Progress Report') ?></a></li>
                <li id="costingReport" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Project/ Job/ Activity Costing Report') ?></a></li>
                <li id="detailCostingReport" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Project/ Job/ Activity Detail Costing Report') ?></a></li>
                <li id="openDetailCostingReport" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Open Project/ Job/ Activity Detail Costing Report') ?></a></li>
                <li id="tempProductReport" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Temporary Item Report') ?></a></li>
                <li id="activityWiseTempProductReport" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Activity Wise Temporary Item Report') ?></a></li>
                <li id="quotationReport" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Project/ Job/ Activity Quotation Report') ?></a></li>
                <li id="repeatReport" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Activity/ Job Repeat Report') ?></a></li>
                <li id="vehicleAllocationReport" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Vehicle Allocation Report') ?></a></li>
                <li id="employeeWiseActivityReport" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Employee Wise Activity Report') ?></a></li>
            </ul>
        </div>

        <!--process_area-->
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 form-horizontal process_area">
            <div id="report_head">
                <div class="row invoice-value-selectpickers">
                    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 types">
                        <label class="control-label check_box_mar_right"><?php echo $this->translate('Type') ?></label>
                        <select id="selectType" class="form-control col-lg-4 selectpicker">
                            <option id='activityNo' value="Activity No"><?php echo $this->translate('Activity No') ?></option>
                            <option id='jobNo' value="Job No"><?php echo $this->translate('Job No') ?></option>
                            <option id='projectNo' value="Project No"><?php echo $this->translate('Project No') ?></option>
                        </select>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 hidden" id="job-and-activity-types">
                        <label class="control-label check_box_mar_right"><?php echo $this->translate('Type') ?></label>
                        <select class="form-control col-lg-4 selectpicker" id="repeatTypeSelection">
                            <option value="activityNo"><?php echo $this->translate('Activity No') ?></option>
                            <option value="jobNo"><?php echo $this->translate('Job No') ?></option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 hidden" id="locationSelection">
                        <label class="control-label check_box_mar_right"><?php echo $this->translate('Locations') ?></label>
                        <select class="form-control selectpicker show-tick"
                                title="<?php echo $this->translate('Select location(s)') ?>" id="locations"
                                name="locations" data-actions-box="true"
                                data-live-search="true" multiple="multiple"
                                data-selected-text-format="count>3">
                                    <?php
                                    foreach ($this->locationList as $key => $location) {
                                        ?>
                                <option value="<?php echo $key ?>"><?php echo $location['locationName']; ?></option>
                            <?php }
                            ?>
                        </select>
                    </div>

                    <div class="col-lg-4 col-md-8 col-sm-7 col-xs-12 job-card-list">
                        <label class="" name="isSelectionlbl" id="isSelectionlbl">
                            <input type="radio" class="check_box_mar_right isAllSelect" value="0" name="isAllProducts" id="customSelect" checked> <?php echo $this->translate('Custom Selection') ?>
                        </label>
                        <div class="activity-list">
                            <select class="form-control selectpicker show-tick" title="<?php echo $this->translate('Select Activity No') ?>" id="activityList" name="activityList" data-actions-box="true" data-live-search="true" multiple="multiple" data-selected-text-format="count>3">
                            </select>
                        </div>
                        <div class="job-list">
                            <select class="form-control selectpicker show-tick" title="<?php echo $this->translate('Select Job No') ?>" id="jobList" name="jobList" data-actions-box="true" data-live-search="true" multiple="multiple" data-selected-text-format="count>3">
                            </select>
                        </div>
                        <div class="project-list">
                            <select class="form-control selectpicker show-tick" title="<?php echo $this->translate('Select Project No') ?>"  id="projectList" name="projectList" data-actions-box="true" data-live-search="true" multiple="multiple" data-selected-text-format="count>3">
                            </select>
                        </div>
                        <div class="temporary-product-list">
                            <select class="form-control selectpicker show-tick" title="<?php echo $this->translate('Select Temporary Product') ?>" id="tempProductList" name="tempProductList" data-actions-box="true" data-live-search="true" multiple="multiple" data-selected-text-format="count>3"></select>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 product-content" id="isAllSelectCBox">
                        <label name="isAllSelectlbl" id="isAllSelectlbl">
                            <input type="radio" class="isAllSelect" value="1" name="isAllProducts" id="allSelect"> 
                            <?php echo $this->translate('Select All ') ?>
                        </label>
                    </div>
                </div>
                <div class="row inquiry-log-selectpickers">
                    <div class="col-lg-4 user-list">
                        <label name="userLbl" id="userLbl"><?php echo $this->translate('User') ?></label>
                        <select class="form-control selectpicker show-tick" title="<?php echo $this->translate('Select User') ?>" id="userList" name="userList" data-actions-box="true" data-live-search="true" multiple="multiple" data-selected-text-format="count>3">
                            <?php foreach ($this->userList as $value):
                                ?>
                                <option value="<?php echo $value['userID'] ?>"><?php echo $value['userFirstName'] . '-' . $value['userLastName']; ?></option>
                            <?php endforeach;
                            ?>
                        </select>
                    </div>
                    <div class="col-lg-4 customer-list">
                        <label name="customerLbl" id="customerLbl"><?php echo $this->translate('Customer') ?></label>
                        <select class="form-control selectpicker show-tick" title="<?php echo $this->translate('Select Customer') ?>" id="customerList" name="customerList" data-actions-box="true" data-live-search="true" multiple="multiple" data-selected-text-format="count>3"></select>
                    </div>
                    <div class="col-lg-4 duty-manager-list">
                        <label name="dutyMLbl" id="dutyMLbl"><?php echo $this->translate('Duty Manager') ?></label>
                        <select class="form-control selectpicker show-tick" title="<?php echo $this->translate('Select Duty Manager') ?>" id="dutyManagerList" name="dutyManagerList" data-actions-box="true" data-live-search="true" multiple="multiple" data-selected-text-format="count>3"></select>
                    </div>
                </div>
                <div class="row vehical-allocation-selectpickers hidden">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 vehicleSelection">
                        <div>
                            <label class="" name="isAllVehicleslbl" id="isAllProductslbl">
                                <input type="radio" class="check_box_mar_right isAllVehicles" value="0" name="isAllVehicles" id="customVehicleSelection" checked> <?php echo $this->translate('Custom Vehicles') ?>
                            </label>
                            <div class="">
                                <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="vehicleList" id="vehicleList" multiple="multiple" title="<?php echo $this->translate('Select Vehicle(s)') ?>" data-selected-text-format="count>3"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 vehicleSelection" id="isAllVehicleBox">
                        <label name="isAllVehicleslbl" id="isAllProductslbl">
                            <input type="radio" class="isAllVehicles" value="1" name="isAllVehicles" id="AllVehicles"> 
                            <?php echo $this->translate('All Vehicles') ?>
                        </label>
                    </div>
                </div>
                <div class="row employee-selectpickers hidden">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <label class="control-label check_box_mar_right"><?php echo $this->translate('Employee Role') ?></label>
                        <select id="employeeTypes" class="form-control selectpicker" multiple data-actions-box="true" title="<?php echo $this->translate('Select Employee Role(s)')?>">
                            <option value="activity-owner"><?php echo $this->translate('Activity Owner') ?></option>
                            <option value="activity-supervisor"><?php echo $this->translate('Activity Supervisor') ?></option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 employeeSelection">
                        <div>
                            <label name="isAllEmployeelbl">
                                <input type="radio" class="check_box_mar_right isAllEmployee" value="0" name="isAllEmployee" id="customEmployeeSelection" checked> <?php echo $this->translate('Custom Employee') ?>
                            </label>
                            <div class="">
                                <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="employeeList" id="employeeList" multiple="multiple" title="<?php echo $this->translate('Select Employee(s)') ?>" data-selected-text-format="count>3"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 employeeSelection" id="isAllEmployeeBox">
                        <label name="isAllEmployeelbl">
                            <input type="radio" class="isAllEmployee" value="1" name="isAllEmployee" id="AllEmployee"> 
                            <?php echo $this->translate('All Employees') ?>
                        </label>
                    </div>
                </div>
                <div class="row date-range">
                    <br>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 report_from_month">
                        <label class="control-label from_date_lbl"><?php echo $this->translate('From Date') ?></label>
                        <input type="text" class="span2 datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="fromDate" name="fromDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to Set a From Date') ?>">
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 to set_to_date">
                        <label class="control-label to_date_lbl"><?php echo $this->translate('To Date') ?></label>
                        <input type="text" class="span2 datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="toDate" name="toDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to Set a To Date') ?>">
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 btn-group btn_panel_height_high report_buttons">
                        <button class="btn btn-default col-lg-2" id="viewReport"><?php echo $this->translate('View Report') ?></button>
                        <button class="btn btn-default col-lg-2" id="generatePdf"><?php echo $this->translate('Generate Pdf') ?></button>
                        <button class="btn btn-default col-lg-2" id="csvReport"><?php echo $this->translate('Generate CSV') ?></button>
                    </div>
                </div>

            </div><!--report_head-->
        </div><!--form_horizontal-->

    </div><!--panel_body-->
</div><!--panel-->

<iframe id="jobCardReport" class="panel panel-default margin_top margin_bottom panel_border report-iframe"></iframe>
