<?php
$form = $this->form;
$form->setAttribute('id', 'create-gift-card-form');
?>
<script>
    function goBack() {
        window.history.go(-1);
    }
</script>
<div class="margin_top">

    <div class="well well_heading">
        <h5 class="font_weight"><?php echo $this->translate('Asset Depreciation') ?></h5>
    </div>

    <div class="well well_body">

        <?php
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formHidden($form->get('giftCardId'));
        ?>

        <div class="form-group">
            <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Asset Name') ?></label>
            <div class="col-lg-6">
                <input type="hidden" name="productID" id="productID" value="<?php echo $this->productID;?>">
                <input type="text" name="product_name" class="form-control" value="<?php echo $this->productName; ?>" disabled="true">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Asset Value') ?></label>
            <div class="col-lg-6">
                <input type="number" name="assetValue" class="form-control" placeholder="1000000" disabled="true" value="<?php echo $this->productValue; ?>">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3  control-label label_bottom_margin"><?php echo $this->translate('Accumulated Depreciated Value') ?></label>
            <div class="col-lg-6 ">
                <input type="number" name="depreciatedValue" class="form-control" placeholder="200000" disabled="true" value="<?php echo floatval($this->depreciationValue); ?>">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3  control-label label_bottom_margin"><?php echo $this->translate('Current Asset Value') ?></label>
            <div class="col-lg-6 ">
                <input type="number" name="currentAssetValue" id="currentAssetValue" class="form-control" placeholder="700000" disabled="true" value="<?php echo $this->newAssetValue; ?>">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3  control-label label_bottom_margin"><?php echo $this->translate('Depreciation Date') ?><font color="red"> *</font></label>
            <div class="col-lg-6 ">
                <input type="text" class="datepicker form-control pointer_cursor" style="background-color: white" readonly="true"  id="depreciationDate" data-standard-format="yyyy-mm-dd" placeholder="<?php echo $this->translate("Click to Set a Date"); ?>" data-date-format="<?php echo $this->userdateFormat; ?>">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3  control-label label_bottom_margin"><?php echo $this->translate('Depreciation Value') ?><font color="red"> *</font></label>
            <div class="col-lg-6 ">
                <input type="number" name="depreciationValue" id="depreciationValue" class="form-control" placeholder="100000">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3  control-label label_bottom_margin"><?php echo $this->translate("Asset's New Value") ?></label>
            <div class="col-lg-6 ">
                <input type="number" name="assetNewValue" id="assetNewValue" class="form-control" placeholder="600000" disabled="true" value="<?php echo $this->newAssetValue; ?>">
            </div>
        </div>

        <?php if($this->useAccounting == 1){?>
        <div class="form-group">
            <label class="col-lg-3  control-label label_bottom_margin"><?php echo $this->translate('Depreciation Account') ?></label>
            <div class="col-lg-6 ">
                <select class="form-control selectpicker" name="depreciationAc" id="depreciationAc" title="<?php echo $this->translate('Select a Gl Account') ?>" data-id="<?php echo $this->productDepreciationAccountID; ?>" data-value="<?php echo $this->productDepereciationAccountName; ?>">
                    <option value="0"><?php echo $this->translate('Select a Gl Account') ?></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3  control-label label_bottom_margin"><?php echo $this->translate('Accumulated Depreciation Account') ?><font color="red"> *</font></label>
            <div class="col-lg-6 ">
                <select class="form-control selectpicker" name="accumulatedDepreciationAc" id="accumulatedDepreciationAc" title="<?php echo $this->translate('Select a Gl Account') ?>">
                    <option value="0"><?php echo $this->translate('Select a Gl Account') ?></option>
                </select>
            </div>
        </div>
        <?php } ?>

        <div class="form-group margin_top button-set">
            <div class="col-lg-9 text-right">
                <a href="<?php echo $this->url('fixedAssetManagement', array('action' => 'listFixedAsset')); ?>" class="btn btn-default"><?php echo $this->translate('Back') ?></a>
                <button type="reset" class="btn btn-default reset"><?php echo $this->translate('Reset') ?></button>
                <button type="submit" class="btn btn-primary depreciate"><?php echo $this->translate('Depreciate') ?></button>
            </div>
        </div>
    </div>
</div>