<?php
$form = $this->form;
$form->setAttribute('id', 'create-gift-card-form');
?>

<div class="margin_top">

    <div class="well well_heading">
        <h5 class="font_weight"><?php echo $this->translate('Asset Disposal') ?></h5>
    </div>

    <div class="well well_body">

        <?php
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formHidden($form->get('giftCardId'));
        ?>

        <div class="form-group">
            <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Asset Name') ?></label>
            <div class="col-lg-6">
                <input type="hidden" name="productID" id="productID" value="<?php echo $this->productID; ?>">
                <input type="text" name="product_name" class="form-control" value="<?php echo $this->productName; ?>" disabled="true">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label label_bottom_margin"><?php echo $this->translate('Cost of the Asset') ?></label>
            <div class="col-lg-6">
                <input type="number" name="assetValue" id="assetValue" class="form-control" placeholder="100000" value="<?php echo $this->productValue; ?>" disabled="true">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3  control-label label_bottom_margin"><?php echo $this->translate('Accumulated Depreciation') ?></label>
            <div class="col-lg-6 ">
                <input type="number" name="depreciateValue"  id="depreciateValue" class="form-control" placeholder="30000" value="<?php echo floatval($this->depreciationValue); ?>" disabled="true">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3  control-label label_bottom_margin"><?php echo $this->translate('Net Asset Value') ?></label>
            <div class="col-lg-6 ">
                <input type="number" name="currentAssetValue" id="currentAssetValue" class="form-control" placeholder="70000" value="<?php echo floatval($this->productValue) - floatval($this->depreciationValue); ?>" disabled="true">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3  control-label label_bottom_margin"><?php echo $this->translate('Disposal Date') ?><font color="red"> *</font></label>
            <div class="col-lg-6 ">
                <input type="text" class="datepicker form-control pointer_cursor" style="background-color: white" readonly="true"  id="disposalDate" data-standard-format="yyyy-mm-dd" placeholder="<?php echo $this->translate("Click to Set a Date"); ?>" data-date-format="<?php echo $this->userdateFormat; ?>">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3  control-label label_bottom_margin"><?php echo $this->translate("Disposal Amount") ?><font color="red"> *</font></label>
            <div class="col-lg-6 ">
                <input type="number" name="disposalValue" id="disposalValue"  class="form-control" placeholder="0.00">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3  control-label label_bottom_margin"><?php echo $this->translate("Gain / Loss") ?></label>
            <div class="col-lg-6 ">
                <input type="number" name="gainLoss" id="gainLoss" class="form-control" placeholder="0.00" disabled="true">
            </div>
        </div>

        <?php if($this->useAccounting == 1){?>
        <div class="form-group">
            <label class="col-lg-3  control-label label_bottom_margin"><?php echo $this->translate('Gl Account') ?></label>
            <div class="col-lg-6 ">
                <select class="form-control selectpicker" name="interval" id="interval" title="<?php echo $this->translate('Select a Gl Account') ?>">
                    <option value="0"><?php echo $this->translate('Select a Gl Account') ?></option>
                </select>
            </div>
        </div>
        <?php } ?>

        <div class="form-group margin_top button-set">
            <div class="col-lg-9 text-right">
                <a href="<?php echo $this->url('fixedAssetManagement', array('action' => 'listFixedAsset')); ?>" class="btn btn-default"><?php echo $this->translate('Back') ?></a>
                <button type="reset" class="btn btn-default reset"><?php echo $this->translate('Reset') ?></button>
                <button type="submit" class="btn btn-primary add"><?php echo $this->translate('Dispose') ?></button>
            </div>
        </div>
    </div>
</div>