<!--search-->
<div class="well clearfix well_custom_padding margin_top">
    <form class="product-search" method="post" action="">
        <div class="col-lg-3">
            <label class="remove_weight"><?php echo $this->translate('Search Item') ?></label>
        </div>
        <div class="col-lg-9">
            <div class=" input-group">
                <input type ="text" id ='productSearch' class="form-control" placeholder="<?php echo $this->translate('Enter Item Name or Item Code or Item Description') ?>"/>
                <span class="input-group-btn">
                    <button class="btn btn-default minus_margin" type="submit"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default reset" type="reset"><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div id="productList" class="margin_top_normal">
        <?php
        if (isset($this->productList)):
            echo $this->productList;
        endif;
        ?>
    </div>
    <div id="createProductForm" class="hidden" >
        <?php
        if (isset($this->createProductForm)):
            echo $this->createProductForm;
        endif;
        ?>
    </div>
</div>

<script type="text/javascript">
    var el = document.getElementById("productSearch");
    if (el.value == "") {
        el.focus();
    }
</script>