<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>
<div id="body">
	<div id="section_header">
	</div>

	<div id="content">

		<div class="page" style="font-size: 7px;">

			<?php echo $this->headerTemplate; ?>
			<table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>

            </table>
			<table class="change_order_items">
				<thead>
					<tr>
						<?php if(!empty($this->budgetData['budgetData'])) {?> 
							<th style="min-width: 230px" class=""><?php echo $this->translate('Account Name') ?></th>
						<?php } ?>
						<?php foreach ($this->budgetData['fiscalPeriodColoumnData'] as $value) { ?>
							<th colspan="2" class="text-center"><?php echo $value ?></th>
						<?php } ?> 
					</tr>
					<tr>
						<th></th>
						<?php foreach ($this->budgetData['fiscalPeriodColoumnData'] as $value) { ?>
							<th style="min-width: 100px" class="text-right"><?php echo $this->translate('Actual Value') ?></th>
							<th style="min-width: 100px" class="text-right"><?php echo $this->translate('Budget Value') ?></th>
						<?php } ?>
					</tr>
				</thead>
				<tbody>
						<?php foreach ($this->budgetData['budgetData'] as $key => $bValue) { 
						?>
							<tr style="background-color: #ededed">
								<td colspan="<?php echo count($this->budgetData['fiscalPeriodColoumnData'])*4 + 1; ?>">
									<b>
										<?php echo strtoupper($key); ?>
									</b>
								</td>
							</tr>
							<?php foreach ($bValue as $val) { 
							?>
							<tr class="even_row">
								<td><?php echo $val['financeAccountsName']; ?></td>

								<?php foreach ($this->budgetData['fiscalPeriodColoumnData'] as $fKey => $fVal) { 
										if ($val[$fKey]['budgetValue'] >= 0) {
								?>
										<td class="text-right" style="text-align: right;"><?php echo number_format($val[$fKey]['currentDebit'],2); ?></td>
										
								<?php			
										} else {
											$currentCredit = $val[$fKey]['currentCredit'] * -1;
								?>
										<td class="text-right" style="text-align: right;"><?php echo number_format($currentCredit,2); ?></td>

								<?php
										}
									?>
									<td class="text-right" style="text-align: right;"><?php echo number_format($val[$fKey]['budgetValue'],2); ?></td>
								<?php } ?>
							</tr>
							<?php } ?>
						<?php } ?>
						<?php if(empty($this->budgetData['budgetData'])) {?> 
						 	<tr class="even_row">
	                            <td colspan="5"><?php echo $this->translate('no matching records found') ?></td>
	                        </tr>
						<?php } ?>
				</tbody>
			</table>
		</div>
	</div>
</div>

