
<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">
                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Item Name') ?></th>
                        <th><?php echo $this->translate('Item Code') ?></th>
                        <th><?php echo $this->translate('Total Quantity') ?></th>
                        <!--<th><?php //echo $this->translate('Total Cost Price') . ' (' . $currencySymbol . ')'; ?></th>-->
                        <th><?php echo $this->translate('Total Sell Price') . ' (' . $currencySymbol . ')'; ?></th>
                        <?php
                            if ($batchSerial == 'true') {
                        ?>
                            <th><?php echo $this->translate('Batch/Serial Code') ?></th>
                            <th><?php echo $this->translate('Batch/Serial Qty') ?></th>
                        <?php
                            }
                        ?>
                    </tr>
                    <?php
                    if (!empty($dailySalesItemData)) {
                        $netTotalCost = 0;
                        $netTotalSales = 0;
                        $isDataExist = false;
                        foreach ($dailySalesItemData as $data) {
                            $totalCost = 0;
                            $totalSales = 0;
                            $totalQty = 0;
                            $uomAbbr = '';
                            $itemCreditNoteQty = ($data['creditNoteProductQty']) ? $data['creditNoteProductQty'] : 0;
                            $itemCreditNoteTotal = ($data['creditNoteProductTotal']) ? $data['creditNoteProductTotal'] : 0;
                            $itemCreditNoteCost = ($data['creditNoteCost']) ? $data['creditNoteCost'] : 0;
                            foreach ($data['data'] as $value) {
                                $qty = ($value['itemOutQty'] != NULL) ? $value['itemOutQty'] : 0;
                                $totalQty+= $qty;
                                //item in calculations
                                $itemInPrice = ($value['itemInPrice'] != NULL) ? $value['itemInPrice'] : 0;
                                $itemInDiscount = ($value['itemInDiscount'] != NULL) ? $value['itemInDiscount'] : 0;
                                $itemInTaxAmount = $value['itemInTaxAmount'];
                                $itemInActualPrice = ($itemInPrice + $itemInTaxAmount) - $itemInDiscount;
                                $totalCost+= $itemInActualPrice * $qty;
                                $netTotalCost += $itemInActualPrice * $qty;
                                //item out calculations
                                $itemOutPrice = ($value['itemOutPrice'] != NULL) ? $value['itemOutPrice'] : 0;
                                $itemOutDiscount = ($value['itemOutDiscount'] != NULL) ? $value['itemOutDiscount'] : 0;
                                $itemOutTaxAmount = $value['itemOutTaxAmount'];
                                $itemOutActualPrice = ($itemOutPrice + $itemOutTaxAmount) - $itemOutDiscount;
                                $totalSales+= $itemOutActualPrice * $qty;
                                $netTotalSales += $itemOutActualPrice * $qty;
                                $uomAbbr = $value['uomAbbr'];
                            }
                            //item credit note calculations
                            $totalQty = $totalQty - $itemCreditNoteQty;
                            $totalSales = $totalSales - $itemCreditNoteTotal;
                            $netTotalSales = $netTotalSales - $itemCreditNoteTotal;
                            $totalCost = $totalCost - $itemCreditNoteCost;
                            $netTotalCost = $netTotalCost - $itemCreditNoteCost;
                            if ($totalQty != 0) {
                                $isDataExist = true;
                                ?>
                                <tr class="even_row">
                                    <td style="text-align: left"><?php echo $data['productName']; ?></td>
                                    <td style="text-align: left"><?php echo $data['productCode']; ?></td>
                                    <td style="text-align: right"><?php echo number_format($totalQty, 2) . ' ' . $uomAbbr; ?></td>
                                    <!--<td style="text-align: right"><?php //echo number_format($totalCost, 2); ?></td>-->
                                    <td class="change_order_total_col" style="text-align: right"><?php echo number_format($totalSales, 2); ?></td>
                                <?php
                                        if ($batchSerial == 'true') {
                                    ?>
                                        <td style="text-align: left"></td>
                                        <td style="text-align: left"></td>
                                    <?php
                                        }
                                    ?>
                                </tr>

                                <?php
                                foreach ($data['subProductData'] as $val) {
                                ?>
                                    <tr class="even_row">
                                        <td style="text-align: left"></td>
                                        <td style="text-align: left"></td>
                                        <td style="text-align: left"></td>
                                        <td style="text-align: left"></td>
                                        <td style="text-align: left"><?php echo (is_null($val['itemOutBatchCode'])) ? $val['itemOutSerialCode'] : $val['itemOutBatchCode']; ?></td>
                                        <td style="text-align: right"><?php echo number_format($val['itemOutQty'], 2) . ' ' . $uomAbbr; ?></td>
                                    </tr>
                                <?php
                                }
                            }
                        }

                        if ($isDataExist) {
                            ?>                        
                            <tr class="even_row">
                                <td></td>
                                <td></td>
                                <td style="text-align: right"><strong><?php echo $this->translate('Grand Total') ?>:</strong></td>
                                <!--<td style="text-align: right"><strong><?php //echo number_format($netTotalCost, 2) ?></strong></td>-->
                                <td style="text-align: right" class="change_order_total_col"><strong><?php echo number_format($netTotalSales, 2); ?></strong></td>
                            </tr>
                            <?php
                        } else {
                            ?>
                            <tr class="even_row">
                                <td colspan="4"><?php echo $this->translate('No related data found') ?></td>
                            </tr>
                            <?php
                        }
                    } else {
                        ?>
                        <tr class="even_row">
                            <td colspan="4"><?php echo $this->translate('No related data found') ?></td>
                        </tr>
                    <?php } ?>
                </tbody>

            </table>

        </div>

    </div>
</div>



