<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">
                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Item Name') ?></th>
                        <th><?php echo $this->translate('Item Code') ?></th>
                        <th><?php echo $this->translate('Item Category') ?></th>
                        <th><?php echo $this->translate('Total Quantity') ?></th>
                        <th><?php echo $this->translate('Total Cost Price'); ?></th>
                        <th><?php echo $this->translate('Total Sell Price'); ?></th>
                        <th><?php echo $this->translate('Profit'); ?></th>
                        <th><?php echo $this->translate('Profit Percentage'); ?></th>
                    </tr>
                    <?php
                    if (!empty($dailySalesItemData)) {
                        $netTotalCost = 0;
                        $netTotalSales = 0;
                        $netProfit = 0;
                        $isDataExist = false;
                        foreach ($dailySalesItemData as $data) {
                            $totalCost = 0;
                            $totalSales = 0;
                            $profit = 0;
                            $totalQty = 0;
                            $uomAbbr = '';
                            $itemCreditNoteQty = ($data['creditNoteProductQty']) ? $data['creditNoteProductQty'] : 0;
                            $itemCreditNoteTotal = ($data['creditNoteProductTotal']) ? $data['creditNoteProductTotal'] : 0;
                            $itemCreditNoteCost = ($data['creditNoteCost']) ? $data['creditNoteCost'] : 0;
                            foreach ($data['data'] as $value) {
                                $qty = ($value['itemOutQty'] != NULL) ? $value['itemOutQty'] : 0;
                                $totalQty+= $qty;
                                
                                if ($data['costingMethod'] == "FIFO") {
                                    //item in calculations
                                    $itemInPrice = ($value['itemInPrice'] != NULL) ? $value['itemInPrice'] : 0;
                                    $itemInDiscount = ($value['itemInDiscount'] != NULL) ? $value['itemInDiscount'] : 0;
                                    $itemInTaxAmount = $value['itemInTaxAmount'];
                                    $itemInActualPrice = ($itemInPrice + $itemInTaxAmount) - $itemInDiscount;
    
                                    //item out calculations
                                    $itemOutPrice = ($value['itemOutPrice'] != NULL) ? $value['itemOutPrice'] : 0;
                                    $itemOutDiscount = ($value['itemOutDiscount'] != NULL) ? $value['itemOutDiscount'] : 0;
                                    $invoiceDiscountValue = ($value['documentDiscountPercentage']) ? $value['documentDiscountPercentage'] : 0;
                                    $itemOutTaxAmount = $value['itemOutTaxAmount'];
                                    $itemOutActualPrice = $itemOutPrice - $itemOutDiscount;

                                    if ($invoiceDiscountValue != 0) {
                                        $itemOutActualPrice -= ($itemOutActualPrice * (float)$invoiceDiscountValue / (float)100);
                                    }

                                    $itemOutActualPrice = $itemOutActualPrice + $itemOutTaxAmount;


                                } else {
                                    //item in calculations
                                    $itemInActualPrice = ($value['itemInAverageCosting'] != NULL) ? $value['itemInAverageCosting'] : 0;
    
                                    //item out calculations
                                    $itemOutActualPrice = ($value['itemOutAvergeCosting'] != NULL) ? $value['itemOutAvergeCosting'] : 0;
                                }
                                
                                $totalCost+= $itemInActualPrice * $qty;
                                $netTotalCost += $itemInActualPrice * $qty;

                                $totalSales+= $itemOutActualPrice * $qty;
                                $netTotalSales += $itemOutActualPrice * $qty;
                                $uomAbbr = $value['uomAbbr'];
                            }
                            //item credit note calculations
                            $totalQty = $totalQty - $itemCreditNoteQty;
                            $totalSales = $totalSales - $itemCreditNoteTotal;
                            $netTotalSales = $netTotalSales - $itemCreditNoteTotal;
                            $totalCost = $totalCost - $itemCreditNoteCost;
                            $netTotalCost = $netTotalCost - $itemCreditNoteCost;
                            $profit = $totalSales - $totalCost;
                            $netProfit += $profit;
                            if ($totalQty != 0) {
                                $isDataExist = true;
                                ?>
                                <tr class="even_row">
                                    <td style="text-align: left"><?php echo $data['productName']; ?></td>
                                    <td style="text-align: left"><?php echo $data['productCode']; ?></td>
                                    <td style="text-align: left"><?php echo $data['categoryName']; ?></td>
                                    <td style="text-align: right"><?php echo number_format($totalQty, 2) . ' ' . $uomAbbr; ?></td>
                                    <td style="text-align: right"><?php echo number_format($totalCost, 2); ?></td>
                                    <td class="change_order_total_col" style="text-align: right"><?php echo number_format($totalSales, 2); ?></td>
                                    <td class="change_order_total_col" style="text-align: right"><?php echo number_format($profit, 2); ?></td>
                                    <td class="change_order_total_col" style="text-align: right"><?php 

                                        echo number_format(($profit/$totalSales) * 100, 2).'%'; 

                                    ?></td>
                                </tr>
                                <?php
                            }
                        }
                        if ($isDataExist) {
                            ?>                        
                            <tr class="even_row">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="text-align: right"><strong><?php echo $this->translate('Grand Total') ?>:</strong></td>
                                <td style="text-align: right"><strong><?php echo number_format($netTotalCost, 2) ?></strong></td>
                                <td style="text-align: right" class="change_order_total_col"><strong><?php echo number_format($netTotalSales, 2); ?></strong></td>
                                <td style="text-align: right" class="change_order_total_col"><strong><?php echo number_format($netProfit, 2); ?></strong></td>
                                <td></td>
                            </tr>
                            <?php
                        } else {
                            ?>
                            <tr class="even_row">
                                <td colspan="4"><?php echo $this->translate('No related data found'); ?></td>
                            </tr>
                            <?php
                        }
                    } else {
                        ?>
                        <tr class="even_row">
                            <td colspan="4"><?php echo $this->translate('No related data found'); ?></td>
                        </tr>
                    <?php } ?>
                </tbody>

            </table>

        </div>

    </div>
</div>



