
<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">
                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Item Name - Code') ?></th>
                        <th><?php echo $this->translate('Created User') ?></th>
                        <th><?php echo $this->translate('Invoice Code') ?></th>
                        <th><?php echo $this->translate('Invoiced Date') ?></th>
                        <th><?php echo $this->translate('Quantity') ?></th>
                    </tr>
                    <?php
                    if (!empty($freeIssueItemData)) {
                        foreach ($freeIssueItemData as $data) {
                            ?>
                            <tr class="even_row">
                                <td style="text-align: left"><?php echo $data['productName'] . '-' . $data['productCode']; ?></td>
                                <td colspan="4"></td>
                            </tr>

                            <?php
                            $totalQty = 0;
                            $uomAbbr = '';
                            foreach ($data['data'] as $value) {
                                
                                $qty = ($value['qty'] != NULL) ? $value['qty'] : 0;
                                $totalQty+= $qty;
                                $uomAbbr = $value['uomAbbr'];
                                ?>
                                <tr class="even_row">
                                    <td style="text-align: left"></td>
                                    <td style="text-align: right"><?php echo $value['createdUser']; ?></td>
                                    <td style="text-align: right"><?php echo $value['invoiceCode']; ?></td>
                                    <td style="text-align: right"><?php echo $value['invoicedDate']; ?></td>
                                    <td class="change_order_total_col" style="text-align: right"><?php echo number_format($qty, 2) . ' ' . $uomAbbr; ?></td>
                                </tr>
                            <?php } ?>
                        <?php } ?>
                    <?php } else { ?>
                        <tr class="even_row">
                            <td colspan="5"><?php echo $this->translate('No related data found') ?></td>
                        </tr>
                    <?php } ?>
                </tbody>

            </table>

        </div>

    </div>
</div>



