<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>

            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Item Code') ?></th>
                        <th><?php echo $this->translate('Item Name') ?></th>
                        <th><?php echo $this->translate('Invoice No') ?></th>
                        <th><?php echo $this->translate('Invoice Comment') ?></th>
                   		<th><?php echo $this->translate('Invoice Date') ?></th>
                        <th><?php echo $this->translate('Customer Name') ?></th>
                        <th><?php echo $this->translate('Item Quantity') ?></th>
                        <th><?php echo $this->translate('Item Price') ?></th>
                        <th><?php echo $this->translate('Item Discount') ?></th>
                        <th><?php echo $this->translate('Discounted Item Price') ?></th>
                        <th><?php echo $this->translate('Total Amount') ?></th>
                        <th><?php echo $this->translate('Cumulative Balance') ?></th>
                    </tr>
                    <?php
                    if (count($reportData) > 0) {
                    	$totalQty = 0;
                    	$totalAmt = 0;
                    	$cumulativeBalance = 0;
                    	foreach ($reportData as $c) {
                    		$itemWiseQty = 0;
                    		$itemWiseAmt = 0;
                    		$itemWiseCumilative = 0;
                            ?>
                            <tr class="even_row">
                                <td style="text-align: top"><?php echo $c['productCode']; ?></td>
                                <td style="text-align: top"><?php echo $c['productName']; ?></td>
                                <td style="text-align: top"></td>
                                <td style="text-align: top"></td>
                                <td style="text-align: top"></td>
                                <td style="text-align: top"></td>
                                <td style="text-align: top"></td>
                                <td style="text-align: top"></td>
                                <td style="text-align: top"></td>
                                <td style="text-align: top"></td>
                                <td style="text-align: top"></td>
                                <td style="text-align: top"></td>
                            </tr>

                            <?php foreach ($c['invoice'] as $inv) {
                            	$cumulativeBalance += $inv['productTotal']; 
                                $totalQty += $inv['productQuantity'];
                                $totalAmt += $inv['productTotal'];
                                $itemWiseQty += $inv['productQuantity'];
                    			$itemWiseAmt += $inv['productTotal'];
                    			$itemWiseCumilative += $inv['productTotal'];

                            	?>
                            	<tr class="even_row">
                            		<td style="text-align: top"></td>
                            		<td style="text-align: top"></td>
                                	<td style="text-align: left"><?php echo $inv['invoiceNO']; ?></td>
                                	<td style="text-align: top"><?php echo $inv['invoiceComment']; ?></td>
                                	<td style="text-align: top"><?php echo $inv['invoiceDate']; ?></td>
                                	<td style="text-align: top"><?php echo $inv['customerName']; ?></td>
                                	<td style="text-align: top"><?php echo $inv['productQuantity']; ?></td>
                                	<td style="text-align: top"><?php echo $inv['productPrice']; ?></td>
                                	<td style="text-align: top"><?php echo $inv['productDiscount']; ?></td>
                                	<td style="text-align: top"><?php echo $inv['productDiscountedPrice']; ?></td>
                                	<td style="text-align: top"><?php echo $inv['productTotal']; ?></td>
                                	<td style="text-align: top"><?php echo $itemWiseCumilative; ?></td>
                                </tr>
                            <?php }?>
                            <tr class="odd_row">
                        		<td style="text-align: top"></td>
                        		<td style="text-align: top"></td>
                        		<td style="text-align: top"></td>
                        		<td style="text-align: top"></td>
                        		<td style="text-align: top"></td>
                        		<td style="text-align: top"></td>
                        		<td style="text-align: top"><?php echo $itemWiseQty; ?></td>
                        		<td style="text-align: top"></td>
                        		<td style="text-align: top"></td>
                        		<td style="text-align: top"></td>
                        		<td style="text-align: top"><?php echo $itemWiseAmt; ?></td>
                        		<td style="text-align: top"><?php echo $itemWiseCumilative; ?></td>
                        	</tr>		
                        <?php }?>
                        <tr class="odd_row"></tr>
                        <tr class="odd_row">
                        	<td style="text-align: top"></td>
                        	<td style="text-align: top"></td>
                        	<td style="text-align: top"></td>
                        	<td style="text-align: top"></td>
                        	<td style="text-align: top"></td>
                        	<td style="text-align: top"></td>
                        	<td style="text-align: top"><?php echo $totalQty; ?></td>
                        	<td style="text-align: top"></td>
                        	<td style="text-align: top"></td>
                        	<td style="text-align: top"></td>
                        	<td style="text-align: top"><?php echo $totalAmt; ?></td>
                        	<td style="text-align: top"><?php echo $cumulativeBalance; ?></td>
                        </tr>	
                        <?php
                    } else {
                        ?>
                        <tr class="even_row">
                            <td colspan="8"><?php echo $this->translate('No related data found') ?></td>
                        </tr>
                    </tbody>
                <?php } ?>
            </table>
        </div>

    </div>
</div>



