
<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">
                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Representative Name') ?></th>
                        <th><?php echo $this->translate('Category Name') ?></th>
                        <th><?php echo $this->translate('Total Quantity') ?></th>
                        <th><?php echo $this->translate('Total Price') . ' (' . $currencySymbol . ')'; ?></th>
                    </tr>
                    
                    <?php
                    if (!empty($dataList)){
                        $grandTotal = 0;
                        foreach ($dataList as $repName => $categoryList){
                        ?>
                            <tr class="even_row">
                                <td style="text-align: left"><?php echo $repName; ?></td>
                                <td style="text-align: left"></td>
                                <td style="text-align: left"></td>
                                <td style="text-align: left"></td>
                            </tr>
                        <?php
                            $totalAmount = 0;
                            foreach ($categoryList as $categoryName => $category){
                            ?>
                                <tr class="even_row">
                                    <td style="text-align: left"></td>
                                    <td style="text-align: left"><?php echo $categoryName; ?></td>
                                    <td style="text-align: right"><?php echo $category['quantity']; ?></td>
                                    <td style="text-align: right"><?php echo number_format($category['amount'], 2); ?></td>
                                </tr>
                            <?php
                            $totalAmount = $totalAmount + $category['amount'];
                            }
                            $grandTotal = $grandTotal + $totalAmount;
                            ?>
                                <tr>
                                    <td style="text-align: right" colspan="3"><strong>Total</strong></td>
                                    <td style="text-align: right" ><strong><?php echo number_format($totalAmount, 2); ?></strong></td>
                                </tr>
                            <?php
                        }
                        ?>
                             <tr>
                                <td style="text-align: right" colspan="3"><strong>Grand Total</strong></td>
                                <td style="text-align: right" ><strong><?php echo number_format($grandTotal, 2); ?></strong></td>
                            </tr>   
                        <?php
                    } else {
                        ?>
                            <tr  class="even_row">
                                <td style="text-align: left" colspan="4"><?php echo $this->translate('No related data found') ?></td>
                            </tr>
                    <?php
                    }
                    ?>
                    
                </tbody>

            </table>

        </div>

    </div>
</div>



