<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">
                <tbody>
                    <tr>
                        <th style="width: 7%";><?php echo $this->translate('Representative Name'); ?></th>
                        <th style="width: 7%";><?php echo $this->translate('Item Name'); ?></th>
                        <th style="width: 7%";><?php echo $this->translate('Total Quantity'); ?></th>
                        <th style="width: 7%";><?php echo $this->translate('Invoice Code'); ?></th>
                        <th style="width: 7%";><?php echo $this->translate('Invoice Date'); ?></th>
                        <th style="width: 7%";><?php echo $this->translate('Customer Name'); ?></th>
                        <th style="width: 8%";><?php echo $this->translate('Item Total Without Tax'); ?></th>
                        <th style="width: 7%";><?php echo $this->translate('Item Normal Tax(NBT)'); ?></th>
                        <th style="width: 7%";><?php echo $this->translate('Item Compound Tax(VAT)'); ?></th>
                        <th style="width: 8%";><?php echo $this->translate('Invoice Total Without Tax'); ?></th>
                        <th style="width: 8%";><?php echo $this->translate('Invoice Total Tax'); ?></th>
                        <th style="width: 9%";><?php echo $this->translate('Credit Note Amount Without Tax'); ?></th>
                        <th style="width: 7%";><?php echo $this->translate('Credit Note Total Tax'); ?></th>
                        <th style="width: 9%";><?php echo $this->translate('Paid Amount'); ?></th>
                        <th style="width: 9%";><?php echo $this->translate('Remaining Amount'); ?></th>
                    </tr>
                    
                    <?php
                    if (!empty($dataList)){
                        $grandWithoutTaxTotal = 0.00;
                        $grandNormalTaxTotal = 0.00;
                        $grandCompoundTaxTotal = 0.00;
                        $grandInvoiceTotalWithoutTax = 0.00;
                        $grandInvoiceTotalTax = 0.00;
                        $grandCreditNoteTotal = 0.00;
                        $grandCreditNoteTaxTotal = 0.00;
                        $grandRemainingTotal = 0.00;
                        $grandPaidTotal = 0.00;
                        $grandInvoiceSet = [];
                        
                        $taxDetails = $dataList['taxAmounts'];           
                        foreach ($dataList as $repName => $itemList){
                            if($repName == 'taxAmounts'){
                                continue;
                            }
                            $repWithoutTaxTotal = 0.00;
                            $repNormalTaxTotal = 0.00;
                            $repCompoundTaxTotal = 0.00;
                            $repInvoiceTotalWithoutTax = 0.00;
                            $repInvoiceTotalTax = 0.00;
                            $repCreditNoteTotal = 0.00;
                            $repCreditNoteTaxTotal = 0.00;
                            $repRemainingTotal = 0.00;
                            $repPaidTotal = 0.00;
                            $repInvoiceSet = [];
                            
                        ?>
                            <tr class="even_row">
                                <td style="text-align: left"><?php echo $itemList['name']; ?></td>
                                <td colspan="14"></td>
                            </tr>
                        <?php
                            $totalAmount = 0;
                            foreach ($itemList['data'] as $itemName => $item){
                                $itemWithoutTaxTotal = 0.00;
                                $normalItemTaxTotal = 0.00;
                                $compoundItemTaxTotal = 0.00;
                                $itemInvoiceTotalWithoutTax = 0.00;
                                $itemInvoiceTotalTax = 0.00;
                                $itemCreditNoteTotal = 0.00;
                                $itemCreditNoteTaxTotal = 0.00;
                                $itemRemainingTotal = 0.00;
                                $itemPaidTotal = 0.00;
                                
                            ?>
                                <tr class="even_row">
                                    <td style="text-align: left"></td>
                                    <td style="text-align: left"><?php echo $item['proName']; ?></td>
                                    <td style="text-align: right"><?php echo $item['quantity']; ?></td>
                                    <td colspan="12"></td>
                                </tr>                                
                            <?php
                            $itemTaxDetails = $item['invoiceDataForTax'];
                            foreach ($item['invoiceData'] as $invKey => $invoice) {
                                $remainnigAmount = floatval($invoice['salesinvoiceAmount']) - (floatval($invoice['creditNoteAmount']) + floatval($invoice['salesInvoicePaidAmount']));
                                $invoiceTotalWithoutTax = floatval($invoice['salesinvoiceAmount']) - floatval($taxDetails[$invoice['invoiceCode']]);
                                $creditNoteWithOutTax = floatval($invoice['creditNoteAmount']) - floatval($invoice['creditNoteTaxAmount']);
                            ?>
                                <tr class="even_row">
                                    <td colspan="3"></td>
                                    <td style="text-align: left"><?php echo $invoice['invoiceCode']; ?></td>
                                    <td style="text-align: left"><?php echo $invoice['invoiceDate']; ?></td>
                                    <td style="text-align: left"><?php echo $invoice['customerName']; ?></td>
                                    <td style="text-align: right"><?php echo number_format($itemTaxDetails[$invoice['invoiceCode']]['taxWithOutItemTotal'], 2); ?></td>
                                    <td style="text-align: right"><?php echo number_format($itemTaxDetails[$invoice['invoiceCode']]['normalTaxValueForItem'], 2); ?></td>
                                    <td style="text-align: right"><?php echo number_format($itemTaxDetails[$invoice['invoiceCode']]['compoundTaxValueForItem'], 2); ?></td>
                                    <td style="text-align: right"><?php echo number_format($invoiceTotalWithoutTax, 2); ?></td>
                                    <td style="text-align: right"><?php echo number_format($taxDetails[$itemList['salesPersonID']][$invoice['invoiceCode']], 2); ?></td>
                                    <td style="text-align: right"><?php echo number_format($creditNoteWithOutTax, 2); ?></td>
                                    <td style="text-align: right"><?php echo number_format($invoice['creditNoteTaxAmount'], 2); ?></td>
                                    <td style="text-align: right"><?php echo number_format($invoice['salesInvoicePaidAmount'], 2); ?></td>
                                    <td style="text-align: right"><?php echo number_format($remainnigAmount, 2); ?></td>
                                </tr>
                            <?php
                                $itemWithoutTaxTotal += $itemTaxDetails[$invoice['invoiceCode']]['taxWithOutItemTotal'];
                                $normalItemTaxTotal += $itemTaxDetails[$invoice['invoiceCode']]['normalTaxValueForItem'];
                                $compoundItemTaxTotal += $itemTaxDetails[$invoice['invoiceCode']]['compoundTaxValueForItem'];
                                $itemInvoiceTotalWithoutTax += $invoiceTotalWithoutTax;
                                $itemInvoiceTotalTax += $taxDetails[$invoice['invoiceCode']];
                                $itemCreditNoteTotal += $creditNoteWithOutTax;
                                $itemCreditNoteTaxTotal += floatval($invoice['creditNoteTaxAmount']);
                                $itemPaidTotal += $invoice['salesInvoicePaidAmount'];
                                $itemRemainingTotal += $remainnigAmount;

                                $repWithoutTaxTotal += $itemTaxDetails[$invoice['invoiceCode']]['taxWithOutItemTotal'];
                                $repNormalTaxTotal += $itemTaxDetails[$invoice['invoiceCode']]['normalTaxValueForItem'];
                                $repCompoundTaxTotal += $itemTaxDetails[$invoice['invoiceCode']]['compoundTaxValueForItem'];
                                $ss = $invKey.' '.$repName;
                                if(!array_key_exists($ss, $repInvoiceSet)){
                                    $repInvoiceTotalWithoutTax += $invoiceTotalWithoutTax;
                                    $repInvoiceTotalTax += $taxDetails[$invoice['invoiceCode']];
                                    $repCreditNoteTotal += $creditNoteWithOutTax;
                                    $repCreditNoteTaxTotal += floatval($invoice['creditNoteTaxAmount']);
                                    $repRemainingTotal += $invoice['salesInvoicePaidAmount'];
                                    $repPaidTotal += $remainnigAmount;
                                    $repInvoiceSet[$ss] = $ss; 

                                }

                                $grandWithoutTaxTotal += $itemTaxDetails[$invoice['invoiceCode']]['taxWithOutItemTotal'];
                                $grandNormalTaxTotal += $itemTaxDetails[$invoice['invoiceCode']]['normalTaxValueForItem'];
                                $grandCompoundTaxTotal += $itemTaxDetails[$invoice['invoiceCode']]['compoundTaxValueForItem'];
                                if(!array_key_exists($ss, $grandInvoiceSet)){
                                    $grandInvoiceTotalWithoutTax += $invoiceTotalWithoutTax;
                                    $grandInvoiceTotalTax += $taxDetails[$invoice['invoiceCode']];
                                    $grandCreditNoteTotal += $creditNoteWithOutTax;
                                    $grandCreditNoteTaxTotal += floatval($invoice['creditNoteTaxAmount']);
                                    $grandRemainingTotal += $invoice['salesInvoicePaidAmount'];
                                    $grandPaidTotal += $remainnigAmount;
                                    $grandInvoiceSet[$ss] = $ss; 
                                }

                            }
                            ?>
                             <tr class="even_row">
                                <td colspan="5"></td>
                                <td style="text-align: left"><strong><?php echo $this->translate('ItemWise Total'); ?></strong></td>
                                <td style="text-align: left"><strong><?php echo number_format($itemWithoutTaxTotal, 2); ?></strong></td>
                                <td style="text-align: right"><strong><?php echo number_format($normalItemTaxTotal, 2); ?></strong></td>
                                <td style="text-align: right"><strong><?php echo number_format($compoundItemTaxTotal, 2); ?></strong></td>
                                <td style="text-align: right"><strong><?php echo number_format($itemInvoiceTotalWithoutTax, 2); ?></strong></td>
                                <td style="text-align: right"><strong><?php echo number_format($itemInvoiceTotalTax, 2); ?></strong></td>
                                <td style="text-align: right"><strong><?php echo number_format($itemCreditNoteTotal, 2); ?></strong></td>
                                <td style="text-align: right"><strong><?php echo number_format($itemCreditNoteTaxTotal, 2); ?></strong></td>
                                <td style="text-align: right"><strong><?php echo number_format($itemPaidTotal, 2); ?></strong></td>
                                <td style="text-align: right"><strong><?php echo number_format($itemRemainingTotal, 2); ?></strong></td>
                            </tr>
                            <?php

                            }

                            ?>
                           <tr class="even_row">
                                <td colspan="5"></td>
                                <td style="text-align: left"><strong><?php echo $this->translate('RepWise Total'); ?></strong></td>
                                <td style="text-align: left"><strong><?php echo number_format($repWithoutTaxTotal, 2); ?></strong></td>
                                <td style="text-align: right"><strong><?php echo number_format($repNormalTaxTotal, 2); ?></strong></td>
                                <td style="text-align: right"><strong><?php echo number_format($repCompoundTaxTotal, 2); ?></strong></td>
                                <td style="text-align: right"><strong><?php echo number_format($repInvoiceTotalWithoutTax, 2); ?></strong></td>
                                <td style="text-align: right"><strong><?php echo number_format($repInvoiceTotalTax, 2); ?></strong></td>
                                <td style="text-align: right"><strong><?php echo number_format($repCreditNoteTotal, 2); ?></strong></td>
                                <td style="text-align: right"><strong><?php echo number_format($repCreditNoteTaxTotal, 2); ?></strong></td>
                                <td style="text-align: right"><strong><?php echo number_format($repRemainingTotal, 2); ?></strong></td>
                                <td style="text-align: right"><strong><?php echo number_format($repPaidTotal, 2); ?></strong></td>
                            </tr>
                            <?php
                        }
                        ?>
                             <tr class="even_row">
                                <td colspan="5"></td>
                                <td style="text-align: left"><strong><?php echo $this->translate('Total'); ?></strong></td>
                                <td style="text-align: left"><strong><?php echo number_format($grandWithoutTaxTotal, 2); ?></strong></td>
                                <td style="text-align: right"><strong><?php echo number_format($grandNormalTaxTotal, 2); ?></strong></td>
                                <td style="text-align: right"><strong><?php echo number_format($grandCompoundTaxTotal, 2); ?></strong></td>
                                <td style="text-align: right"><strong><?php echo number_format($grandInvoiceTotalWithoutTax, 2); ?></strong></td>
                                <td style="text-align: right"><strong><?php echo number_format($grandInvoiceTotalTax, 2); ?></strong></td>
                                <td style="text-align: right"><strong><?php echo number_format($grandCreditNoteTotal, 2); ?></strong></td>
                                <td style="text-align: right"><strong><?php echo number_format($grandCreditNoteTaxTotal, 2); ?></strong></td>
                                <td style="text-align: right"><strong><?php echo number_format($grandRemainingTotal, 2); ?></strong></td>
                                <td style="text-align: right"><strong><?php echo number_format($grandPaidTotal, 2); ?></strong></td>
                            </tr>
                        <?php
                    } else {
                        ?>
                            <tr class="even_row">
                                <td colspan="14"><?php echo $this->translate('No related data found') ?></td>
                            </tr>
                        <?php
                    }
                    ?>
                    
                </tbody>

            </table>

        </div>

    </div>
</div>




