<div class='panel panel-default margin_top margin_bottom panel_border'>

    <div class='panel-heading panel_heading_style'><!--panel_heading-->
        <h4 class="font_weight h1_no_margin report_heading"><?php echo $this->translate('Items Sales Report') ?></h4>
    </div>

    <div class="panel-body panel_body_style">

        <!--links-->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 remove_left_padding remove_right_padding panel_links">
            <ul class="nav nav-pills  nav-stacked data-tabs" data-tabs="tabs">
                <li id="invoicedSalesItems" class="report_pills active"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Invoiced Daily Sales Items') ?></a></li>
                <li id="invoicedNoneInventorySalesItems" class="report_pills"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Invoiced Daily Sales None Inventory Items') ?></a></li>
                <li id="posSalesItems" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('POS Daily sales Items') ?></a></li>
                <li id="pos-invoiceSalesItems" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('POS and Invoiced Daily Sales Items') ?></a></li>
                <li id="serialItemMovement" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Serial Item Movement Report') ?></a></li>
                <!--<li id="deliveryNoteItems" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Daily Delivery Note Items') ?></a></li>-->
                <!--<li id="invoice-DeliveryNote" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Invoiced and Delivery Note Item Compare') ?></a></li>-->
                <li id="sales-rep-wise-category" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Sales Representative Wise Category') ?></a></li>
                <li id="sales-rep-wise-item" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Sales Representative Wise Item') ?></a></li>
                <li id="sales-rep-wise-item-with-invoices" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Sales Representative Wise Item with invoice Details') ?></a></li>
                <li id="freeIssueItems" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Free Issue Items') ?></a></li>
                <li id="serialItemDetail" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Serial Item Detail Report') ?></a></li>
                <li id="demandForecast" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Item Demand Forecast Report') ?></a></li>
                <li id="itemWiseSales" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Item Wise Sales Report') ?></a></li>
                <li id="invoicedBatchSerial" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Invoiced Batch And Serial Item Details Report') ?></a></li>
                <li id="invoicedSalesItemsWithCost" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Invoiced Daily Sales Items With Cost') ?></a></li>
                <li id="invoicedSubItemBasedBom" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Invoiced Non Inventory Bom Item Details') ?></a></li>
            </ul>
        </div>

        <!--process_area-->
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 form-horizontal process_area">
            <div id="report_head">

                <div class="form-group">
                    <div class="row" id="div_period">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 report_from_month"><!--from_month-->
                            <label class="control-label from_date_lbl"><?php echo $this->translate('From Date') ?></label>
                            <input type="text" class="span2 datepicker form-control" id="fromDate" name="fromDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to set a From Date') ?>">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 to set_to_date"><!--set_to_date-->
                            <label class="control-label to_date_lbl"><?php echo $this->translate('To Date') ?></label>
                            <input type="text" class="span2 datepicker form-control" id="toDate" name="toDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to set a To Date') ?>">
                        </div>
                    </div><!--row-->

                    <div class="row" id="batchSerialDiv">
                        <br>
                        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4"><!--tax-->
                            <label class="control-label tax_chk_lbl"><?php echo $this->translate('Batch/Serial Details') ?></label>
                            <div class="text_margin_top">
                                <label id="lblTax" name="lbl_name"><input type="checkbox" id="batchSerilPreview" name="batchSerilPreview" value="0" class="check_box_mar_right"/></label>
                            </div>
                        </div>
                    </div>

                    <div class="row hidden" id="div_invoice">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 product-content invoiceSelection">
                            <div>
                                <label class="" name="isAllInvoiceslbl" id="isAllInvoiceslbl">
                                    <input type="radio" class="check_box_mar_right isAllInvoices" value="0" name="isAllInvoices" id="customInvoiceSelection" checked> <?php echo $this->translate('Custom Invoice') ?>
                                </label>
                                <div class="">
                                    <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="invoiceName" id="invoiceName" multiple="multiple" title="<?php echo $this->translate('Select Invoice(s)') ?>" data-selected-text-format="count>3"></select>
                                </div>
                            </div>
                        </div>
                        <!--all Invoices-->
                        <div class="col-lg-4 col-md-4 col-sm-4 product-content invoiceSelection" id="isAllInvoiceBox">
                            <label name="isAllInvoiceslbl" id="isAllInvoiceslbl">
                                <input type="radio" class="isAllInvoices" value="1" name="isAllInvoices" id="AllInvoices">
                                <?php echo $this->translate('All Invoices') ?>
                            </label>
                        </div>
                    </div>
                    <div class="row hidden" id="bom-item-pannel">
                        <br>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 product-content productWiseSales">
                            <div>
                                <label class="" name="isAllBomProductlbl" id="isAllBomProductlbl">
                                    <input type="radio" class="check_box_mar_right isAllBomProducts" value="0" name="isAllBomProducts" id="customBomProductSelection" > <?php echo $this->translate('Custom Bom Products') ?>
                                </label>
                                <div class="">
                                    <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="bomProducts" id="bomProducts" multiple="multiple" title="<?php echo $this->translate('Select Product(s)') ?>" data-selected-text-format="count>3"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 product-content productWiseSales" id="isAllProductWSalesBox">
                            <label name="isAllBomProductlbl" id="isAllBomProductlbl">
                                <input type="radio" class="isAllBomProducts" value="1" name="isAllBomProducts" id="AllBomProducts" checked>  <?php echo $this->translate('All Bom Products') ?>
                            </label>
                        </div>
                    </div>

                    <div class="row hidden" id="div_product">
                        <br>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 product-content productSelection">
                            <div>
                                <label class="" name="isAllProductslbl" id="isAllProductslbl">
                                    <input type="radio" class="check_box_mar_right isAllProducts" value="0" name="isAllProducts" id="customProductSelection" checked> <?php echo $this->translate('Custom Products') ?>
                                </label>
                                <div class="">
                                    <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="productName" id="productName" multiple="multiple" title="<?php echo $this->translate('Select Product(s)') ?>" data-selected-text-format="count>3"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 product-content productSelection" id="isAllProductBox">
                            <label name="isAllProductslbl" id="isAllProductslbl">
                                <input type="radio" class="isAllProducts" value="1" name="isAllProducts" id="AllProducts">  <?php echo $this->translate('All Products') ?>
                            </label>
                        </div>
                    </div>

                    <div class="row hidden" id="div_product_batchSerial">
                        <br>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 product-content productSelection">
                            <div>
                                <label class="" name="isAllBatchSerialProductslbl" id="isAllBatchSerialProductslbl">
                                    <input type="radio" class="check_box_mar_right isAllBatchSerialProducts" value="0" name="isAllBatchSerialProducts" id="customBatchSerialProductSelection" checked> <?php echo $this->translate('Custom Products') ?>
                                </label>
                                <div class="">
                                    <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="batchSerialproductName" id="batchSerialproductName" multiple="multiple" title="<?php echo $this->translate('Select Product(s)') ?>" data-selected-text-format="count>3"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 product-content batchSerialproductSelection" id="isAllBatchSerialProductBox">
                            <label name="isAllBatchSerialProductslbl" id="isAllBatchSerialProductslbl">
                                <input type="radio" class="isAllBatchSerialProducts" value="1" name="isAllBatchSerialProducts" id="AllBatchSerialProducts">  <?php echo $this->translate('All Products') ?>
                            </label>
                        </div>
                    </div>

                    <div class="row hidden" id="div_product_wsales">
                        <br>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 product-content productWiseSales">
                            <div>
                                <label class="" name="isAllProductsWSaleslbl" id="isAllProductsWSaleslbl">
                                    <input type="radio" class="check_box_mar_right isAllProductsWSales" value="0" name="isAllProductsWSales" id="customProductWSalesSelection" > <?php echo $this->translate('Custom Products') ?>
                                </label>
                                <div class="">
                                    <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="productWSales" id="productWSales" multiple="multiple" title="<?php echo $this->translate('Select Product(s)') ?>" data-selected-text-format="count>3"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 product-content productWiseSales" id="isAllProductWSalesBox">
                            <label name="isAllProductsWSaleslbl" id="isAllProductsWSaleslbl">
                                <input type="radio" class="isAllProductsWSales" value="1" name="isAllProductsWSales" id="AllProductsWSales" checked>  <?php echo $this->translate('All Products') ?>
                            </label>
                        </div>
                    </div>

                    <div class="row hidden" id="div_serial">
                        <br>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 product-content serialSelection">
                            <div>
                                <label class="" name="isAllSerialslbl" id="isAllSerialslbl">
                                    <input type="radio" class="check_box_mar_right isAllSerials" value="0" name="isAllSerials" id="customSerialSelection" checked> <?php echo $this->translate('Custom Serial Numbers') ?>
                                </label>
                                <div class="">
                                    <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="serialName" id="serialName" multiple="multiple" title="<?php echo $this->translate('Select Serial(s)') ?>" data-selected-text-format="count>3"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 product-content serialSelection" id="isAllSerialBox">
                            <label name="isAllSerialslbl" id="isAllSerialslbl">
                                <input type="radio" class="isAllSerials" value="1" name="isAllSerials" id="AllSerials"> 
                                <?php echo $this->translate('All Serials Numbers') ?>
                            </label>
                        </div>
                    </div>

                    <div class="row hidden" id="representative_div">
                        <br>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 representativeSelection">
                            <div class="sales-person-div">
                                <br>
                                <label class="control-label"><?php echo $this->translate('Sales Person') ?></label>
                                <select class="form-control selectpicker" data-actions-box="true" name="representativeList" id="representativeList" multiple="multiple" title="<?php echo $this->translate('Select Sales Persons'); ?>">
                                    <?php
                                    foreach ($this->salesPersons as $spID => $value) :
                                        echo '<option value="' . $spID . '">' . $value . '</option>';
                                    endforeach;
                                        echo '<option value="other">Other</option>';
                                    ?>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><!--slaes person-->
                        
                    </div>

                    <div class="row hidden" id="item_div">
                        <br>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 itemSelection">
                            <div>
                                <label class="" name="isAllItemslbl" id="isAllItemslbl">
                                    <input type="radio" class="check_box_mar_right isAllItems" value="0" name="isAllItems" id="customItemSelection" checked> <?php echo $this->translate('Custom Items') ?>
                                </label>
                                <div class="">
                                    <select class='form-control selectpicker ' data-actions-box="true" data-live-search="true" name="itemList" id="itemList" multiple="multiple" title='<?php echo $this->translate('Select Item(s)') ?>'></select>
                                </div>
                            </div>
                        </div>

                        <!--all Items-->
                        <div class="col-lg-4 col-md-4 col-sm-4 product-content itemSelection" id="isAllProductsCBox">
                            <label name="isAllCustomerslbl" id="isAllItemslbl">
                                <input type="radio" class="isAllItems" value="1" name="isAllItems" id="isAllItems" > 
                                <?php echo $this->translate('All Items') ?>
                            </label>
                        </div>
                    </div>

                    <div class="row hidden" id="category_div">
                        <br>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 product-content categorySelection">
                            <div>
                                <label class="" name="isAllCategorylbl" id="isAllCategorylbl">
                                    <input type="radio" class="check_box_mar_right isAllCategory" value="0" name="isAllCategories" id="customCategorySelection" checked> <?php echo $this->translate('Item Categories') ?>
                                </label>
                                <div class="">
                                    <select class='form-control selectpicker ' data-actions-box="true" data-live-search="true" name="categoryList" id="categoryList" multiple="multiple" title='<?php echo $this->translate('Select Category(s)') ?>'></select>
                                </div>
                            </div>
                        </div>

                        <!--all Categories-->
                        <div class="col-lg-4 col-md-4 col-sm-4 product-content categorySelection" id="isAllProductsCBox">
                            <label name="isAllCategorylbl" id="isAllCategorylbl">
                                <input type="radio" class="isAllCategory" value="1" name="isAllCategories" id="isAllCategories" > <?php echo $this->translate('All Categories') ?>
                            </label>
                        </div>
                    </div>

                    <div class="row">
                    	<br>
                        <div class="location hidden"><!--from_date-->
                        	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        		<label class="" name="isAllLocationlbl" id="isAllLocationlbl">
                        			<input type="radio" class="check_box_mar_right isAllLocation" value="0" name="isAllLocation" id="customLocationSelection" > <?php echo $this->translate('Custom Locations') ?>
                        		</label>
                        		<div>
                        			<select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="locations" id="locations" multiple="multiple" title="<?php echo $this->translate('Select Location(s)') ?>" data-selected-text-format="count>3"></select>
                        		</div>
                        	</div>
                        	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 location" id="isAllLocationCBox">
                            	<label name="isAllLocationlbl" id="isAllLocationlbl">
                                	<input type="radio" class="isAllLocation" value="1" name="isAllLocation" id="AllLocation" checked> 
                                	<?php echo $this->translate('All Locations') ?>
                            	</label>
                            </div>
                        </div>
                    </div>
                    
                    <!--forecast report div-->
                    <div class="row hidden" id="demandForecastDiv">
                        <div class="row">
                            <div class="col-lg-4">
                                <label class="control-label from_date_lbl"><?php echo $this->translate('Date') ?></label>
                                <input type="text" class="span2 datepicker form-control" id="forecastDate" name="forecastDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to set a Date') ?>">
                            </div>
                        </div>
                        
                        <div class="row">
                            <br>
                            <div class="col-lg-6 product-content vlg-margin-bottom">
                                <div>
                                    <label class="" name="isAllProductslbl">
                                        <input type="radio" class="check_box_mar_right is_all_forecast_products" value="0" name="isAllForecastProducts" checked> <?php echo $this->translate('Custom Items') ?>
                                    </label>
                                    <div class="">
                                        <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="forecastProduct" id="forecastProductSelect" multiple="multiple" title="<?php echo $this->translate('Select Product(s)') ?>" data-selected-text-format="count>3"></select>
                                    </div>
                                </div>
                            </div>
                            <!--all Products-->
                            <div class="col-lg-6 product-content">
                                <label name="isAllProductslbl">
                                    <input type="radio" class="is_all_forecast_products" value="1" name="isAllForecastProducts"> 
                                    <?php echo $this->translate('All Items') ?>
                                </label>
                            </div>
                        </div>
                        
                        <div class="row">
                            <br>
                            <div class="col-lg-6 location-content">
                                <label class="control-label" style="display: block;">
                                    <?php echo $this->translate('Location Name') ?>
                                </label>
                                <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="location" id="forecastLocationSelect" multiple="multiple" title="<?php echo $this->translate('Select Location(s)') ?>" data-selected-text-format="count>3">
                                    <?php
                                    foreach ($this->locationList as $locationId => $locationName):
                                        echo '<option value="' . $locationId . '">' . $locationName . '</option>';
                                    endforeach;
                                    ?>
                                </select>
                            </div>
                        </div>
                        
                                                
                    </div>
                    
                    <div class="row submit-buttons">
                        <div class="col-lg-12 btn-group btn_panel_height_high report_buttons">
                            <button class="btn btn-default col-lg-2" id="viewReport"><?php echo $this->translate('View Report') ?></button>
                            <button class="btn btn-default col-lg-2" id="generatePdf"><?php echo $this->translate('Generate PDF') ?></button>
                            <button class="btn btn-default col-lg-2" id="csvReport"><?php echo $this->translate('Generate CSV') ?></button>
                        </div>
                    </div>
                </div><!--form-group-->

            </div><!--report_head-->
        </div><!--form_horizontal-->

    </div><!--panel_body-->
    <div class="panel-footer" id="generatedReports">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-5">
                        <h5 id="reportName"></h5>
                    </div>
                    <div class="col-md-5">
                        <h5 id="reportCreated"></h5>
                    </div>
                    <div class="col-md-1">
                        <h5><a id="reportUrl" href="" target="_blank"><i class="fa fa-download"></i></a></h5>
                    </div>
                    <div  class="col-md-1">
                        <h5><a id="reportDelete"  data-id="" target="_blank"><i class="fa fa-remove"></i></a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--panel-->

<iframe id="dailySalesReport" class="panel panel-default margin_top margin_bottom panel_border report-iframe hidden"></iframe>
