
<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">
                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Location') ?></th>
                        <th><?php echo $this->translate('Bom Item') ?></th>
                        <th><?php echo $this->translate('Sub Product') ?></th>
                        <th><?php echo $this->translate('Sub Item Total Quantity') ?></th>
                        <th><?php echo $this->translate('Sub Item Total Amount') ?></th>
                    </tr>

                    <?php
                    if (!empty($subItemBasedBomData)) {

                        foreach ($subItemBasedBomData as $key1 => $dataSet) {
                            ?>
                            <tr class="even_row">
                                <td style="text-align: left"><strong><?php echo $key1; ?></strong></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <!-- <td colspan="4"></td> -->
                            </tr>
                            <?php
                            foreach ($dataSet as $key => $data) {
                                ?>
                                <tr class="even_row">
                                    <td></td>
                                    <td style="text-align: left"><?php echo $key; ?></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <!-- <td colspan="4"></td> -->
                                </tr>

                                <?php

                                foreach ($data['subProductData'] as $value) {
                                    ?>
                                    <tr class="even_row">
                                        <td style="text-align: left"></td>
                                        <td style="text-align: left"></td>
                                        <td style="text-align: right"><?php echo $value['subProduct']; ?></td>
                                        <td style="text-align: right"><?php echo $value['totalqty']; ?></td>
                                        <td style="text-align: right"><?php echo $value['totalAmount']; ?></td>
                                    </tr>
                                <?php } ?>
                                <tr>
                                    <td style="background-color: #C0C0C0;"></td>
                                    <td style="text-align: right; background-color: #C0C0C0;"><strong>Total</strong></td>
                                    <td style="background-color: #C0C0C0;"></td>
                                    <td style="text-align: right; background-color: #C0C0C0;"><strong><?php echo $data['totalQty']; ?></strong></td>
                                    <td style="text-align: right; background-color: #C0C0C0;"><strong><?php echo $data['totalAmount']; ?></strong></td>
                                </tr>
                                <tr class="even_row">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            <?php } } ?>
                    <?php } else { ?>
                        <tr class="even_row">
                            <td colspan="5"><?php echo $this->translate('No related data found') ?></td>
                        </tr>
                    <?php } ?>
                   
                </tbody>

            </table>

        </div>

    </div>
</div>



