
<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">
                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Product Name') ?></th>
                        <th><?php echo $this->translate('Product Serial') ?></th>
                        <th><?php echo $this->translate('Warranty Period') ?></th>
                        <th><?php echo $this->translate('Warranty Expiry Date') ?></th>
                        <th><?php echo $this->translate('PV / GRN / Adjustment Code') ?></th>
                    </tr>
                    <?php                    
                    if (!empty($dataList)) {
                        foreach ($dataList as $data) {
                            ?>
                            <tr class="even_row">
                                <td style="text-align: left"><?php echo $data['productName']; ?></td>
                                <td style="text-align: left"><?php echo $data['productSerialCode']; ?></td>
                                <td style="text-align: left"><?php echo $data['productSerialWarrantyPeriod']; ?></td>
                                <td style="text-align: left"><?php echo $data['expiryDate']; ?></td>
                                <td style="text-align: left"><?php echo $data['typeId']; ?></td>
                            </tr>

                        <?php }
                        ?>
                    <?php } else { ?>
                        <tr class="even_row">
                            <td colspan="7"><?php echo $this->translate('No related data found') ?></td>
                        </tr>
                    <?php } ?>
                </tbody>

            </table>

        </div>

    </div>
</div>



