<div class="modal-dialog">
    <div class="modal-content" style="">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate($entity . ' Delete Confirmation') ?></h4>
        </div>
        <div class="modal-body">
            <?php echo $this->translate('Are you sure you want to delete this ' . $entity . '?') ?>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn"><?php echo $this->translate('Cancel') ?></button>
            <button id="<?php echo $btn_id; ?>" class="btn btn-primary"><?php echo $this->translate('Delete ' . $entity) ?></button>
        </div>
    </div>
</div>