<div class="modal-dialog">
    <div class="modal-content" style="">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate($title) ?></h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="margin_top_normal documentRow">
                    <table class="documentTable table table-striped margin_top_normal table-condensed" id="documentTable">
                        <thead>
                            <tr>
                                <th style="width: 40%">  <?php echo $this->translate('Document Type') ?></th>
                                <th style="width: 40%">  <?php echo $this->translate('Document ID') ?></th>
                            </tr>
                        </thead>

                        <tbody class="documentTypeBody">
                            <tr class="sample hidden">
                                <td style="width: 35%">
                                    <select class="form-control documentTypeId"  name="documentTypeId" >
                                        <option value=""><?php echo $this->translate('Select Document Type') ?></option>
                                        <?php foreach ($this->documentType as $key => $val) { ?>
                                            <option value="<?php echo $key ?>"><?php echo $val ?></option>
                                        <?php } ?>
                                    </select>
                                </td>
                                <td style="width: 35%">
                                    <select class="form-control selectpicker documentId" multiple  name="documentId" data-live-search="true">
                                    </select>
                                </td>
                                <td style="width: 10%">
                                    <button class="saveDocument btn btn-default" type="button"><i class="fa fa-plus"></i></button>
                                    <button class="updateDocument btn btn-default hidden" type="button"><i class="fa fa-floppy-o"></i></button>
                                </td>
                                <td style="width: 10%">
                                    <button class="editDocument btn btn-default" type="button"><i class="fa fa-pencil-square-o"></i></button>
                                </td>
                                <td style="width: 10%">
                                    <button class="deleteDocument hidden btn btn-default" type="button"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>

                            <tr class="mainrow documentRow editable">
                                <td style="width: 35%">
                                    <select class="form-control selectpicker documentTypeId"  name="documentTypeId" data-live-search="true">
                                        <option value=""><?php echo $this->translate('Select Document Type') ?></option>
                                        <?php foreach ($this->documentType as $key => $val) { ?>
                                            <option value="<?php echo $key ?>"><?php echo $val ?></option>
                                        <?php } ?>
                                    </select>
                                </td>
                                <td style="width: 35%">
                                    <select class="form-control selectpicker documentId" multiple  name="documentId" data-live-search="true">
                                    </select>
                                </td>
                                <td style="width: 10%">
                                    <button class="saveDocument btn btn-default" type="button"><i class="fa fa-plus"></i></button>
                                    <button class="updateDocument btn btn-default hidden" type="button"><i class="fa fa-floppy-o"></i></button>
                                </td>
                                <td style="width: 10%">
                                    <button class="editDocument btn btn-default" type="button"><i class="fa fa-pencil-square-o"></i></button>
                                </td>
                                <td style="width: 10%">
                                    <button class="deleteDocument hidden btn btn-default" type="button"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <!--<input id="cancel" class="btn btn-default" type="button" data-dismiss="modal" value="Cancel" name="cancel">-->
            <input id="documentReferenceSubmit"  data-dismiss="modal" class="btn btn-primary" type="button" value="<?php echo $this->translate('Save') ?>" name="documentReferenceSubmit">
            <!--<button type="button" id='documentReferenceSubmit'  class="btn-primary"><?php // echo $this->translate('Save')                                      ?></button>-->
            <!--<button type="button" id="cancel" data-dismiss="modal" class="btn"><?php // echo $this->translate('Cancel')                                    ?></button>-->
        </div>
    </div>
</div>