<div class="modal-dialog">
    <div class="modal-content" style="">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate($title) ?></h4>
        </div>
        <div class="modal-body">
            <?php echo $this->translate($msg) ?>
        </div>
        <div class="modal-footer">
            <a class="btn btn-primary" href="<?php
               echo $this->url($controller, array('action' => $action));
               ?>"><?php echo $this->translate('OK'); ?></a>
        </div>
    </div>
</div>