<div class="modal-dialog">
    <div class="modal-content" style="">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate('Change Status') ?></h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <div class="form-horizontal">
                    <label class="col-lg-3 control-label">
                        <?php echo $this->translate('Select Status'); ?>
                    </label>
                    <div class="col-lg-5">
                        <select id='statusValue' class="form-control">
                            <?php foreach ($this->statusArray as $key => $status) { ?>
                                <option value="<?php echo $key ?>"><?php echo $status ?></option>
                            <?php } ?>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button id="statusChangeButton" class="btn btn-primary"><?php echo $this->translate('Change') ?></button>
        </div>
    </div>
</div>