<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
var edit_btn = '<?php echo $this->translate('Edit'); ?>';
var save = '<?php echo $this->translate('Save'); ?>';
var currentLocationID = <?php echo $this->currentLocationID; ?>;
$(document).ready(function(){
$("#mobile_heading").html("<h3>Quotations</h3>").addClass('heading');
});
var companyCurrencySymbol =  <?php echo "'$this->companyCurrencySymbol'"; ?>;
<?php $this->headScript()->captureEnd() ?>

<?php
//$this->headScript()->prependFile($this->basePath('js/invoice/send_email.js'));
$this->headScript()->appendFile($this->basePath('js/invoice/quotationEdit.js'));
$this->headScript()->appendFile($this->basePath('js/invoice/customer.js'));
$this->headScript()->prependFile($this->basePath('js/calculations.js'));
$this->headScript()->appendFile($this->basePath('js/invoice/viewquotation.js'));
?>

<?php
$companyCurrencySymbol = $this->companyCurrencySymbol;
$quot_form = $this->quot_form;
$quot_form->prepare();
?>

<div class="margin_top" id="non-printable">
    <input type="hidden" id="idOfLocation" value="<?php echo $locationID ?>">
    <input type="hidden" id="idOfcanCreateItem" value="<?php echo $this->isCanCreateItem ?>">
    <h5 class="font_weight well"><?php echo $this->translate("Edit Quotation"); ?></h5>
    <?php
    echo $this->form()->openTag($quot_form);
    ?>
    <input type="hidden" id='edit_quo_ID' value="<?php echo $this->edit_ID; ?>">
    <div id="quotaion_upper_view" class="row"><!--data_insert_section-->
        <div class="col-lg-5 col-md-5">
            <div class="form-group"><!--customer_name-->
                <label for="cust_name" class="col-lg-5 control-label">
                    <?php echo $this->translate("Customer Name"); ?>
                    <font color="red"> *</font>
                </label>
                <div class="col-lg-7">
                    <select id="cust_name" name="cust_name" class="selectpicker show-tick" data-live-search="true">
                        <option value=""><?php echo $this->translate("Select Customer Name") ?></option>
                    </select>
                </div>
                <div class="hiddenid" id="cust_id"></div>
            </div>

            <div class="form-group cus_prof_div" data-cusProId="<?php echo $this->cusProfID; ?>">
                <label for='cusProfile' class="col-lg-5 control-label">
                    <?php echo $this->translate('Customer Profile'); ?>
                    <a class="help_icon_js hidden tooltip_for_default_cus" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="top" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('QUOTATION_DEFAULT_CUS_CHANGE') ?>">
                        <i class="fa fa-question-circle help_icon"></i>
                    </a>
                </label>
                <div class="col-lg-7 hidden cus-prof-select">
                    <select class="form-control selectpicker show-tick" id="cusProfileQuot" name="cusProfileQuot" data-live-search="true">
                        <option value=""><?php echo $this->translate("Select Customer Profile") ?></option>
                    </select>
                </div>
                <div class="col-lg-7 default-cus-prof">
                    <input type="text" value="<?php echo ($this->cusProfName) ? $this->cusProfName : 'Default'; ?>" class="form-control " disabled="true">
                </div>
            </div>

            <div class="form-group"><!--payment_term-->
                <label for="payment_term" class="col-lg-5 control-label">
                    <?php echo $this->translate('Payment Term'); ?>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($quot_form->get('payment_term')); ?>
                </div>
            </div>

            <div class="form-group"><!--customer_balance-->
                <label for="currentBalance" class="col-lg-5 control-label"><?php echo $this->translate('Customer Balance') ?></label>
                <div class="col-lg-7">
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 remove_left_padding ">
                            <?php echo $this->formRow($quot_form->get('invoicecurrentBalance')); ?>
                            <label class="label label-danger custom_label"><?php echo $this->translate('Outstanding') ?></label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 remove_right_padding">
                            <input type="text" class="form-control" id="quotationCurrentCredit" readonly="readonly"/>
                            <label class="label label-success custom_label"><?php echo $this->translate('Credit'); ?></label>
                        </div>
                    </div>
                </div>
            </div><!--form_group-->
            <div class="form-group">
                <label for="dimensionType" class="col-lg-5 control-label">
                    <?php echo $this->translate('Select Documents'); ?>
                </label>
                <div class="col-lg-7">
                    <input type="file" name="files[]" id="editDocumentFiles" multiple style="border-color: white">
                </div>
            </div>
            <div class="form-group">
                <label for="dimensionType" class="col-lg-5 control-label">
                    <?php echo $this->translate('View Documents'); ?>
                </label>
                <div class="col-lg-3 text-right">
                    <button class="btn btn-default form-control" type="button" id='viewUploadedFiles'><i class="glyphicon glyphicon-eye-open"></i></button>
                </div>
            </div>
        </div><!--./col-->

        <div class="col-lg-5 col-md-5 col-lg-offset-2 col-md-offset-2">
            <div class="form-group">
                <label for="date" class="col-lg-5 control-label">
                    <?php echo $this->translate("Issue Date"); ?>
                </label>
                <div class="col-lg-7">
                    <input type="text" class="datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="issue_date" data-date-format="<?php echo $this->userdateformat; ?>" placeholder="Click to set a Date">
                </div>
            </div>

            <div class="form-group">
                <label for="date" class="col-lg-5 control-label">
                    <?php echo $this->translate("Valid Till"); ?>
                    <font color="red"> *</font>
                </label>
                <div class="col-lg-7">
                    <input type="text" class="datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="expire_date" data-date-format="<?php echo $this->userdateformat; ?>" placeholder="<?php echo $this->translate('Click to Set a Date'); ?>">
                </div>
            </div>

            <div class="form-group">
                <label for="qot_no" class="col-lg-5 control-label">
                    <?php echo $this->translate("Quotation No"); ?>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($quot_form->get('qot_no')); ?>
                </div>
            </div>
            <div class="form-group">
                <label for='salesPersonID' class="col-lg-5 control-label">
                    <?php echo $this->translate('Sales Person'); ?>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($quot_form->get('salesPersonID')); ?>
                </div>
            </div>
            <div class="form-group">
                <label for='customCurrencyId' class="col-lg-5 control-label">
                    <?php echo $this->translate('Custom Currency'); ?>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($quot_form->get('customCurrencyId')); ?>
                </div>
            </div>
            <div class="form-group">
                <label for='priceListId' class="col-lg-5 control-label">
                    <?php echo $this->translate('Price List'); ?>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($quot_form->get('priceListId')); ?>
                </div>
            </div>
        </div><!--./col-->
    </div><!--row-->


    <!--table-->
    <div class="col-lg-12">
        <div class="quotation_table table-responsive">
            <table class="table table-striped table-condensed margin_top_normal" id="item_tbl">

                <thead>
                    <tr>
                        <th style="width: 25%"><?php echo $this->translate("Item Code or Name"); ?></th>
                        <th style="width: 15%" class="text-right"><?php echo $this->translate("Quantity"); ?></th>
                        <th style="width: 2%"</th>
                        <th style="width: 15%" class="text-right"><?php echo $this->translate("Price"); ?></th>
                        <th style="width: 10%" class="text-right"><?php echo $this->translate("Dis.nt"); ?></th>
                        <th style="width: 10%" class="text-right"><?php echo $this->translate("Taxes"); ?></th>
                        <th style="width: 15%" class="text-right"><?php echo $this->translate("Total"); ?></th>
                        <th class=""></th>
                        <th class=""></th>
                    </tr>
                </thead>

                <tbody id="" class="itemlist">
                    <tr id='preSetSample' class="hide">
                    	<td id='code'></td>
                        <td id='quantity' class='text-right'></td>
                        <td><span id="uomName" class='text-right'></span></td>
                        <td id='unit' class='text-right'></td>
                        <td id='disc' class='text-right'></td>
                        <td class='text-right' id='tax'><div class='btn-group'><button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'><span id='' class=''></span>&nbsp<span class='glyphicon glyphicon-chevron-down'></span></button><ul class=''></ul></div></td>
                        <td id='ttl' class='text-right'></td>
                        <td><span class='grnDeleteProduct glyphicon glyphicon-trash delete' id=''></span></td>
                        <td><!--<span style="font-size: 18px;" class='grnViewProducts glyphicon glyphicon-expand'></span>--></td>
                    </tr>
                </tbody>

                <tbody>
                    <tr><!--item_insert-->
                    	<td class="add-row sample">
                    		<div class="pull-right input-group">
                    			<select class="form-control selectpicker show-tick" id="item_code" name="item_code" data-live-search="true">
                    				<option value=""><?php echo $this->translate("Enter Item Code Or Name") ?></option>
                                    <?php if ($this->isCanCreateItem) { ?>
                                        <option value="add" class="addNewItem"><?php echo $this->translate('Add New Item') ?></option>
                                    <?php } ?>
                    			</select>
                    			<span class="input-group-btn">
                    				<button  type='button' class="btn btn-default addItemDescription" title="Add comment">
                    					<i class="fa fa-comment-o"></i>
                    				</button>
                    			</span>
                    		</div>
                    		<textarea class="itemDescText form-control hidden" placeholder="Enter item description"></textarea>
                    	</td>
                        <td class="">
                            <div class="">
                                <?php echo $this->formRow($quot_form->get('qty')); ?>
                            </div>
                        </td>
                        <td></td>
                        <td class="clearfix">
                            <p class="visible-xs"><?php echo $this->translate("Price") ?></p>
                            <div class="pull-right input-group">
                                <?php echo $this->formRow($quot_form->get('price')); ?>
                                <strong class="input-group-addon cCurrency"><?php echo $companyCurrencySymbol; ?></strong>
                            </div>
                        </td>
                        <td class="clearfix">
                            <p class="visible-xs"><?php echo $this->translate("Discount") ?></p>
                            <div class="input-group">
                                <?php echo $this->formRow($quot_form->get('discount')); ?>
                                <span id="discType" class="input-group-addon"></span>
                            </div>
                        </td>
                        <td class="text-right">
                            <div id="addNewTaxDiv" class='btn-group'>
                                <button id ="addNewTax" type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'><span id='taxApplied' class='glyphicon glyphicon-unchecked'></span>&nbsp;<span class='glyphicon glyphicon-chevron-down'></span></button>
                                <ul id="addTaxUl" class="text-left dropdown-menu">
                                    <li id="sampleLi"class="hidden">&nbsp;&nbsp;<input class="taxChecks" id="" type='checkbox' ><label for="" class="taxName">&nbsp;&nbsp;</label></li>
                                    <li id="toggleSelection">&nbsp;&nbsp;<div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs" id="selectAll"><?php echo $this->translate("Select all"); ?>
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs" id="deselectAll"><?php echo $this->translate("Deselect all"); ?>
                                    </button></div>
                                </li>
                                </ul>
                            </div>
                        </td>
                        <td class="">
                            <div class="input-group pull-right">
                                <label class="" id="total">0.00</label>
                            </div>
                        </td>
                        <td class="text-center"><button class="btn btn-default" id="add_item" type="button"><i class="glyphicon glyphicon-plus"></i></button></td>
                        <td></td><!--dummy-->
                    </tr>

                    <tr><!--sub_total-->
                        <td></td>
                        <td colspan="6" class="text-right"><?php echo $this->translate("Sub Total"); ?></td>
                        <td id="subtotal" class="text-right"><label >0.00</label></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <?php echo $this->translate("Total Discount"); ?>
                        </td>
                        <td colspan="3">
                            <div class="radio pull-right" style="padding-top: 0; min-height: 0">
                                <label>
                                    <input  type="radio" name="discount_type" id="disc_value" value="Value"><?php echo $this->translate("value") ?>
                                </label>
                            </div>
                            <div class="radio pull-right" style="margin-right: 20px; padding-top: 0; min-height: 0">
                                <label>
                                    <input  type="radio" name="discount_type" id="disc_presentage" value="presentage"><?php echo $this->translate("percentage") ?>
                                </label>
                            </div>
                        </td>
                        <td>
                            <?php echo $this->formRow($quot_form->get('total_discount_rate')); ?>
                        </td>
                        <td colspan="3"></td>
                    </tr>

                    <tr><!--display_taxes-->
                        <td colspan="4"><?php echo $this->formRow($quot_form->get('show_tax')) . "&nbsp;" . $this->translate("Display Taxes"); ?></td>
                        <td></td>
                        <td colspan="2" class="text-right">
                            <div id="tax_td"></div>
                        </td>
                        <td colspan="2"></td>
                        <td></td>
                    </tr>

                    <tr class="hidden"><!--delivery_charges-->
                        <td colspan="5">
                            <?php
                            echo $this->formRow($quot_form->get('deli_charg')) . "&nbsp;";
                            echo $this->translate("Delivery Charges");
                            ?>
                        </td>
                        <td class="text-right"><div class='deli_row'><?php echo $this->translate("Delivery Charges"); ?></div></td>
                        <td><div class="deli_row text-right"><?php echo $this->formRow($quot_form->get('deli_amount')); ?></div></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr><!--total-->
                        <td></td>
                        <td colspan="6" class="text-right"><h4 class="font_weight"><?php echo $this->translate("Total  "); ?>&nbsp;<span class="cCurrency"><?php echo $companyCurrencySymbol ?></span></h4></td>
                        <td class="text-right"><h4 id="finaltotal" class="font_weight">0.00</h4></td>
                        <td colspan="3"></td>
                    </tr>

                </tbody>
            </table><!--table-->

        </div><!--quotation_table-->
    </div><!--./col-->

    <div class="row">
        <div class="row">
            <div class="col-lg-4 col-md-5"><!--comment-->
                <label class="remove_font_weight">
                    <input type="checkbox" name="show_addi" id="show_addi" value="1">&nbsp;Add additional details
                </label>
            </div>
        </div>
        <div class="row hidden" id="additional_div">
            <div class="col-lg-4 col-md-5"><!--comment-->
                <label>Additional Detail 1</label>
                <textarea class="form-control" id="additionalDetail1"></textarea>
            </div>
            <div class="col-lg-4 col-md-5"><!--comment-->
                <label>Additional Detail 2</label>
                <textarea class="form-control" id="additionalDetail2"></textarea>
            </div>
        </div>
    </div>

    <!--comment-->
    <div class="row">
        <!--<div class="col-lg-4" id="deli_form_group"><!--delivery_address-->
        <!--<label for="deli_address">
        <?php echo $this->translate("Delivery Address"); ?>
        </label>
        <?php echo $this->formRow($quot_form->get('deli_address')); ?>
    </div>-->

        <div class="col-lg-4 col-md-5"><!--comment-->
            <label for="cmnt" class="">
                <?php echo $this->translate("Comment"); ?>
            </label>
            <?php echo $this->formRow($quot_form->get('cmnt')); ?>
        </div>



        <div class="col-lg-4 col-md-4 col-lg-offset-0 col-md-offset-3"><!--button-->
            <div class="btn_margin_top quotation_button_set">
                <input type='reset' id="reset" value="<?php echo $this->translate("Cancel"); ?>" class='btn btn-default'>
                <button class="btn btn-primary" id="placequotation" type="submit"><?php echo $this->translate("Save"); ?></button>
            </div>
        </div>

    </div><!--row-->
    <?php echo $this->form()->closeTag(); ?><!--close_form_tag-->
</div><!--quotation_tab-->


<!-- Add New Product Form Modal -->
<div class="modal fade" id="add_new_item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                <h4 class="modal-title"><?php echo $this->translate("Add New Item"); ?></h4>
            </div>
            <!--            <div id="add_new_item_modal" class="modal-body">
            <?php // echo $produt_add;      ?>
                        </div>-->
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="add_customer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $cust_formv; ?>
</div>
<div class="modal fade" id="viewAttachmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->attachmentsView; ?>
</div>
<div class="modal fade" id="createProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $createProductView; ?>
</div>
<div class="modal fade" id="barCodeAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <?php echo $this->barCodeAddModal; ?>
</div>