<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
var currentLocationID = <?php echo $this->locationID ?>;
$(document).ready(function(){
$("#mobile_heading").html("<h3>Quotations</h3>").addClass('heading');
});

<?php $this->headScript()->captureEnd() ?>

<?php $this->headScript()->appendFile($this->basePath('js/invoice/viewquotation.js')); ?>


<?php
$quot_form = $this->quot_form;
$quot_form->get('submit')->setValue('Place Invoice');
$quot_form->prepare();
?>
<div id="delete_quotations" class="modal fade" style="position: absolute"></div>

<!--search_quotation-->
<div class="well clearfix well_custom_padding margin_top quotation_panel xs_view">

    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        <label class="remove_weight"><?php echo $this->translate('Search Quotation') ?></label>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-4">
        <select id="searchType" class="form-control">
            <option value="Quotation ID"><?php echo $this->translate('Quotation No') ?></option>
            <option value="Customer Name"><?php echo $this->translate('Customer Name') ?></option>
        </select>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-4">
        <select class="form-control selectpicker show-tick" id="qid" name="qid" data-live-search="true">
            <option value=""><?php echo $this->translate("Select Quotation No") ?></option>
        </select>
        <select class="form-control selectpicker show-tick" id="cname" name="cname" data-live-search="true">
            <option value=""><?php echo $this->translate("Select Customer Name") ?></option>
        </select>
    </div>



    <div class="col-lg-2 col-md-2 col-sm-2">
        <input type="text" style="background-color: white" readonly="true" class="span2 datepicker form-control pointer_cursor" id="from-date" data-date-format="<?php echo $this->userdateFormat ?>" placeholder="<?php echo $this->userdateFormat ?>">
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2">
        <input type="text" style="background-color: white" readonly="true" class="span2 datepicker form-control pointer_cursor" id="to-date" data-date-format="<?php echo $this->userdateFormat ?>" placeholder="<?php echo $this->userdateFormat ?>">
    </div>

    <div class="col-lg-1 col-md-2 col-sm-2">
        <button class="btn btn-primary col-lg-12 col-md-12 col-sm-12" id="filter-button"><?php echo $this->translate('GO') ?></button>
    </div>

</div><!--well-->

<div id="cqview"></div>

<div id="create-quotation-form-div">

    <div id="quotation-list" class="table table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class=""><?php echo $this->translate('Quotation No') ?></th>
                    <th class=""><?php echo $this->translate('Customer Name') ?></th>
                    <th><?php echo $this->translate('Issue Date') ?></th>
                    <th><?php echo $this->translate('Valid Till') ?></th>
                    <th class="text-right"><?php echo $this->translate('state') ?></th>
                    <th class="text-right"><?php echo $this->translate("Total Amount") ?></th>
                    <?php
//                    if (is_array($_SESSION['ezBizUser']['featureNames'])) {
//                        if (in_array("EditQuotation", $_SESSION['ezBizUser']['featureNames'])) {
                    ?>
                    <th class="text-right"><?php echo $this->translate('Print View') ?></th>
                    <th class="text-right"><?php echo $this->translate('Edit') ?></th>
                    <?php
//                        }
//                    }
//                    if (is_array($_SESSION['ezBizUser']['featureNames'])) {
//                        if (in_array("ViewQuotation", $_SESSION['ezBizUser']['featureNames'])) {
                    ?>

                    <?php
//                        }
//                    }
//                    if (is_array($_SESSION['ezBizUser']['featureNames'])) {
//                        if (in_array("DeleteQuotation", $_SESSION['ezBizUser']['featureNames'])) {
                    ?>
                    <th class="text-center"><?php echo $this->translate('Cancel') ?></th>
                    <th class="text-center"><?php echo $this->translate('Related Documents') ?></th>
                    <th class="text-center"><?php echo $this->translate('Attachments') ?></th>
                    <?php
//                        }
//                    }
                    ?>
                </tr>
            </thead>
            <tbody>
                <?php
                foreach ($this->quotation as $key => $quotation) {
                    if ($quotation->quotationCustomCurrencyRate == 0) {
                        $currencyRate = 1;
                    } else {
                        $currencyRate = $quotation->quotationCustomCurrencyRate;
                    }
                    if (isset($quotation->currencySymbol)) {
                        $currencySymbol = $quotation->currencySymbol;
                    } else {
                        $currencySymbol = $this->cur;
                    }

//                    $state = ucfirst($this->statuses[$quotation->quotationStatus]);
//                    $style = NULL;
//                    switch ($quotation->quotationStatus) {

                    $quo = (object) $quotation;
                    $state = ucfirst($this->statuses[$quotation->quotationStatus]);
                    $style = NULL;
                    switch ($quo->quotationStatus) {

                        case "1":
                            $style = "label label-primary";
                            break;
                        case "2":
                            $style = "label label-default";
                            break;
                        case "3":
                            $style = "label label-success";
                            break;
                        case "4":
                            $style = "label label-warning";
                            break;
                        case "5":
                            $style = "label label-primary";
                            break;
                        case "6":
                            $state = 'Open';
                            $style = "label label-danger";
                            break;
                        default :
                            $style = "label label-default";
                    }
                    $customerName = explode('-', $quotation->quotationCustomerName);
                    ?>
                    <tr>
                        <td class=""> <?php echo $quotation->quotationCode; ?></td>
                        <td class=""> <?php
//                            echo $customerName[0];
                            echo $quotation->customerName . ' - ' . $quotation->customerCode
                            ?></td>
                        <td> <?php echo $this->userDateFormatHelper($quotation->quotationIssuedDate, $this->userdateFormat); ?></td>
                        <td><?php echo $this->userDateFormatHelper($quotation->quotationExpireDate, $this->userdateFormat); ?></td>
                        <td class="text-right "><span class="<?php echo $style; ?>"> <?php echo $state; ?></span></td>
                        <td class="text-right"><?php echo $currencySymbol . ' ' . number_format(($quotation->quotationTotalAmount / $currencyRate), 2); ?></td>

                        <?php
//                        if (is_array($_SESSION['ezBizUser']['featureNames'])) {
//                            if (in_array("EditQuotation", $_SESSION['ezBizUser']['featureNames'])) {
                        ?>
                        <td class="text-right">
                            <span class="preview link_color" style="cursor:pointer"  data-href="<?php echo $this->url('quotation', array('action' => 'quotationView', 'param1' => $quotation->quotationID, 'param2' => $quotation->quotationCode)); ?>" >
                                <span id="<?php echo $quotation->quotationCode; ?>" class=" open glyphicon glyphicon-eye-open openlist"></span>
                            </span>
                        </td>

                        <td class="text-right">
                            <?php 
                            if ($quo->quotationStatus == "3") {
                                if ($quotation->deleted == 0) { ?>
                                    <?php if($quotation->customerStatus == 1) { ?>
                                    <a class="edits" href="<?php echo $this->url('quotation', array('action' => 'Edit', 'param1' => $quotation->quotationID));
                                    ?>" id="<?php echo $quotation->quotationCode ?>">
                                        <span class="fa fa-pencil-square-o custom_font_size"></span>
                                    </a>
                                    <?php } else { ?>
                                        <a class="editsInactive" href="#" id="<?php echo $quotation->quotationCode ?>">
                                        <span class="fa fa-pencil-square-o custom_font_size"></span>
                                    </a>
                                        <?php } ?>
                            <?php } 
                            }
                            ?>
                        </td>
                        <?php
//                            }
//                        }
//                        if (is_array($_SESSION['ezBizUser']['featureNames'])) {
//                            if (in_array("ViewQuotation", $_SESSION['ezBizUser']['featureNames'])) {
                        ?>

                        <?php
//                            }
//                        }
//                        if (is_array($_SESSION['ezBizUser']['featureNames'])) {
//                            if (in_array("DeleteQuotation", $_SESSION['ezBizUser']['featureNames'])) {
                        ?>
                        <td class="text-center">
                            <?php
                            $flag = 0;
                            foreach ($this->salesOrder as $sokey => $soquotationids) {
                                if ($soquotationids == $quotation->quotationID) {
                                    $flag = 1;
                                    break;
                                }
                            }
//                            check quotation product copied already
                            if ($flag == 0 && is_array($this->copiedQuotations) && array_key_exists($quotation->quotationID, $this->copiedQuotations)) {
                                $flag = 1;
                            }
                            ?>
                            <?php
                            if ($flag == 0) {
                                if ($quotation->deleted == 0) {
                                    ?>
                                    <?php if($quotation->customerStatus == 1) { ?>
                                <a data-toggle="modal" href = "#delete_quotation" class = "deletes" id = "<?php echo $quotation->quotationID ?>">
                                        <span class="fa fa-trash-o custom_font_size"></span></a>
                                <?php } else { ?>
                                    <a class="editsInactive" href="#" id="<?php echo $quotation->quotationCode ?>">
                                    <span class="fa fa-trash-o custom_font_size"></span>
                                </a>
                                    <?php } ?>

                                    <?php
                                }
                            }
                            ?>
                        </td>
                        <td class="text-center">
                            <span id="<?php echo $quotation->quotationID; ?>" class="link_color qtn_related_docs" data-qtn-related-id="<?php echo $quotation->quotationID; ?>" style="cursor:pointer"><span class="grnView glyphicon glyphicon-link"></span></span>
                        </td>
                        <td class="text-center">
                            <span id="<?php echo $quotation->quotationID; ?>" class="link_color doc_attachments" data-qtn-related-id="<?php echo $quotation->quotationID; ?>" style="cursor:pointer"><span class="glyphicon glyphicon-paperclip"></span></span>
                        </td>

                        <?php
                    }
//                        }
//                    }

                    if (count($this->quotation) == 0) {
                        ?>
                    <tr class="not_found">
                        <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                    </tr>
                    <?php
                }
                ?>
            </tbody>
        </table>
        <?php
        echo $this->paginationControl(
                $this->quotation, 'sliding', array('partial/paginator.phtml', 'quotation'), array(
            'route' => 'quotation', 'action' => 'list',
                )
        );
        ?>
    </div>

</div>

<div class="modal fade" id="delete_quotation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4><?php echo $this->translate('Quotation Cancel Confirmation') ?></h4>
            </div>
            <div class="modal-body">
                <?php echo $this->translate('Are you sure you want to cancel this quotation?') ?>
            </div>
            <div class="modal-footer">
                <button id="delete-quotation-button" class="btn btn-primary"><?php echo $this->translate('Ok') ?></button>
                <button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Cancel') ?></button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="addDocHistoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->docHistoryView; ?>
</div>
<div class="modal fade" id="DocumentViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->documentView; ?>
</div>
<div class="modal fade" id="viewAttachmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->attachmentsView; ?>
</div>
