<div class="data_table">
    <?php $i = 1; ?>
    <table  width="100%" class="product-list">
        <tr>
            <td colspan="2">
                <hr />
                <br />
                <div class="qout_body">
                    <table width="100%" class="table bigtable <?php if (!$table['hide_table_borders']) { ?>table-bordered table-striped<?php } ?>" id="item_tbl">
                        <?php if (!$table['hide_table_header']) { ?>
                            <thead>
                                <tr>
                                    <?php
                                    foreach ($table["headers"] as $header) {
                                        echo "<th width=\"{$header['width']}%\">" . ucfirst($header['label']) . "</th>";
                                    }
                                    ?>
                                </tr>
                            </thead>
                        <?php } ?>
                        <?php foreach ($table['records'] as $cat) { ?>
                            <?php if (isset($cat['category'])) { ?>
                                <thead>
                                    <tr><td></td><td colspan="6" style="font-weight: bold;"><small><?php echo $cat['category'] ?></small></td></tr>
                                </thead>
                            <?php } ?>
                            <tbody>
                                <?php
                                foreach ($cat['products'] as $key => $product) {

                                    if (isset($multiplePages)) {
                                        $startFromProduct = (($page - 1) * $perPage) - 1;
                                        // $startFromProduct = $startFromProduct > 0 ? $startFromProduct : 0;
                                        $uptoProduct = $page * $perPage;
                                        $uptoProduct = ($uptoProduct > count($cat['products'])) ? count($cat['products']) : $uptoProduct;

                                        if ($key <= $startFromProduct) {
                                            continue;
                                        }

                                        if ($key >= $uptoProduct) {
                                            continue;
                                        }
                                    }

                                    echo "<tr style=\"page-break-inside: avoid;\">";
                                    foreach ($product as $key => $val) {

                                        $zeroClass = ($val === '0.00') ? 'prod-val-zero' : '';

                                        echo "<td  align=\"{$table['headers'][$key]['align']}\" width=\"{$table['headers'][$key]['width']}%\" class=\"prod-col-{$key} {$zeroClass}\"><span>" . $val . "</span></td>";
                                    }
                                    echo "</tr>";
                                }
                                ?>
                            </tbody>
                        <?php } ?>
                    </table>

                    <div class="summary">
                        <table width="100%"  id="" class="table">
                            <col width="90px"><col width="290px"><col width="75px">
                            <col width="100px"><col width="50px"><col width="100px">
                            <tr>
                                <td colspan="2" rowspan="<?php echo isset($cr_discount) ? 4 : 3; ?>">
                                    <?php
                                    echo (isset($comment)) ? "<div id='comment'><strong>Comment&nbsp;:</strong><pre style='font-family:Helvetica,Arial,sans-serif; white-space: pre-wrap;'><i>" . $comment . "<i></div>" : "";
                                    echo (isset($memo)) ? "<div id='comment'><strong>Memo</strong><pre style='font-family:Helvetica,Arial,sans-serif; white-space: pre-wrap;'><i>" . $memo . "<i></div>" : "";
                                    ?>
                                </td>
                                <td colspan="3"><?php if (!$table['hide_table_header']) { ?>Sub Total<?php } ?></td>
                                <?php if (isset($table['footers']['sub_total'])) { ?>
                                    <td class="text-right"><?php echo number_format($sub_total, 2); ?></td>
                                <?php } else if (isset($table['footers']['sub_total_wo_tax'])) { ?>
                                    <td class="text-right"><?php echo number_format($sub_total_wo_tax, 2); ?></td>
                                <?php } else if (isset($table['footers']['sub_total_wo_discounts'])) { ?>
                                    <td class="text-right"><?php echo number_format($sub_total_wo_discounts, 2); ?></td>
                                <?php } ?>
                            </tr>
                            <!-- <?php if ($showTax) { ?>
                                <tr id="nrml-tax-tr" class="nrml-tax-tr">
                                    <td colspan="3">
                                        <div id="nrml-tax" class="nrml-tax">
                                            <span>
                                                <?php if (!$table['hide_table_header']) { ?>Normal Tax<?php echo '(' . $normalTaxesSet . ')'; } ?>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <?php echo $normalTaxTotal; ?>
                                    </td>
                                </tr>
                                <tr id="cmpnd-tax-tr" class="cmpnd-tax-tr">
                                    <td colspan="3">
                                        <div id="cmpnd-tax" class="cmpnd-tax">
                                            <span>
                                                <?php if (!$table['hide_table_header']) { ?>Compound Tax<?php echo '(' . $compoundTaxesSet . ')'; } ?>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <?php echo $compoundTaxTotal; ?>
                                    </td>
                                </tr>
                            <?php } ?> -->
                            <?php if (isset($cr_payment)) { ?>
                                <tr>
                                    <td colspan="3">
                                        <div>Credit Payments</div>
                                    </td>
                                    <td class="text-right">
                                        <?php echo number_format($cr_payment, 2); ?>
                                    </td>
                                </tr>
                            <?php } ?>
                            <?php if (isset($delivery_charge) && $delivery_charge > 0) { ?>
                                <tr>
                                    <td colspan="3">
                                        <div>Delivery Charges</div>
                                    </td>
                                    <td class="text-right">
                                        <?php echo number_format($delivery_charge, 2); ?>
                                    </td>
                                </tr>
                            <?php } ?>
                            <tr>
                                <td colspan="3"><h3><?php if (!$table['hide_table_header']) { ?><?php echo "Total " . $currencySymbol ?><?php } ?></h3></td>
                                <td class="text-right"><strong><h3><?php echo number_format(($total / $salesOrdersCustomCurrencyRate), 2); ?></h3></strong></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="small">
                <?php if (!$table['hide_table_header']) { ?>
                    <?php if ($showTax && $tax_record_line != "") { ?>
                        <br />
                        <div id="total_tax"><?php echo $tax_record . $tax_record_line; ?></div>
                    <?php } ?>
                    <br />
                    <div id="total_disc">
                        <?php
                        if ($discount > 0) {
                            echo '<strong>' . $discountStatement . '</strong>&nbsp; ' . $currencySymbol . number_format($discount, 2);
                        }
                        ?>
                    </div>
                <?php } ?>
            </td>
        </tr>
    </table>
</div>