<?php
    $form = $this->glAccountSetupForm;
    $form->setAttribute('id','create-gl-account-setup-form');

    $form->prepare();
    echo $this->formHidden($form->get('glAccountSetupID'));
    echo $this->form()->openTag($form);
?>
<div class="row">
	<div class="col-lg-6 gl-account-setup-form-container margin_top">

		<div class="well well_heading">
			<h5 class="addTitle"><?php echo $this->translate('Item Defaults') ?></h5>
		</div>

		<div class="well well_body">

			<!--Sales account id-->
			<div class="form-group">
				<div class="col-lg-6">
					<label class="control-label label_bottom_margin" for="glAccountSetupItemDefaultSalesAccountID"><?php echo $this->translate('Sales Account')?></label>
				</div>
				<div class="col-lg-6">
					<?php echo $this->formRow($form->get('glAccountSetupItemDefaultSalesAccountID')); ?>
				</div>
			</div>

			<!--inventory account id-->
			<div class="form-group">
				<div class="col-lg-6">
					<label class="control-label label_bottom_margin" for="glAccountSetupItemDefaultInventoryAccountID"><?php echo $this->translate('Inventory Account') ?></label>
				</div>
				<div class="col-lg-6">
					<?php echo $this->formRow($form->get('glAccountSetupItemDefaultInventoryAccountID')); ?>
				</div>
			</div>

			<!--Cost of goods id-->
			<div class="form-group">
				<div class="col-lg-6">
					<label class="control-label label_bottom_margin" for="glAccountSetupItemDefaultCOGSAccountID"><?php echo $this->translate('Cost of Goods Sold Account') ?></label>
				</div>
				<div class="col-lg-6">
					<?php echo $this->formRow($form->get('glAccountSetupItemDefaultCOGSAccountID')); ?>
				</div>
			</div>

			<!--adjusment account id-->
			<div class="form-group">
				<div class="col-lg-6">
					<label class="control-label label_bottom_margin" for="glAccountSetupItemDefaultAdjusmentAccountID"><?php echo $this->translate('Inventory Adjusment Account') ?></label>
				</div>
				<div class="col-lg-6">
					<?php echo $this->formRow($form->get('glAccountSetupItemDefaultAdjusmentAccountID')); ?>
				</div>
			</div>
		</div><!--well-->
	</div>

	<div class="col-lg-6 gl-account-setup-form-container margin_top">

		<div class="well well_heading">
			<h5 class="addTitle"><?php echo $this->translate('Sales and Customer') ?></h5>
		</div>

		<div class="well well_body">


			<!--recivable account id-->
			<div class="form-group">
				<div class="col-lg-6">
					<label class="control-label label_bottom_margin" for="glAccountSetupSalesAndCustomerReceivableAccountID"><?php echo $this->translate('Receivable Account')?></label>
				</div>
				<div class="col-lg-6">
					<?php echo $this->formRow($form->get('glAccountSetupSalesAndCustomerReceivableAccountID')); ?>
				</div>
			</div>

			<!--sales account id-->
			<div class="form-group">
				<div class="col-lg-6">
					<label class="control-label label_bottom_margin" for="glAccountSetupSalesAndCustomerSalesAccountID"><?php echo $this->translate('Sales Account') ?></label>
				</div>
				<div class="col-lg-6">
					<?php echo $this->formRow($form->get('glAccountSetupSalesAndCustomerSalesAccountID')); ?>
				</div>
			</div>

			<!--sales discount account id-->
			<div class="form-group">
				<div class="col-lg-6">
					<label class="control-label label_bottom_margin" for="glAccountSetupSalesAndCustomerSalesDiscountAccountID"><?php echo $this->translate('Sales Discount Account') ?></label>
				</div>
				<div class="col-lg-6">
					<?php echo $this->formRow($form->get('glAccountSetupSalesAndCustomerSalesDiscountAccountID')); ?>
				</div>
			</div>

			<!--advance payment account id-->
			<div class="form-group">
				<div class="col-lg-6">
					<label class="control-label label_bottom_margin" for="glAccountSetupSalesAndCustomerAdvancePaymentAccountID"><?php echo $this->translate('Advance/ Over Payment Account') ?></label>
				</div>
				<div class="col-lg-6">
					<?php echo $this->formRow($form->get('glAccountSetupSalesAndCustomerAdvancePaymentAccountID')); ?>
				</div>
			</div>
		</div><!--well-->
	</div>
</div>

<div class="row">
	<div class="col-lg-6 gl-account-setup-form-container margin_top">

		<div class="well well_heading">
			<h5 class="addTitle"><?php echo $this->translate('Purchasing and Supplier') ?></h5>
		</div>

		<div class="well well_body">


			<!--Payable account id-->
			<div class="form-group">
				<div class="col-lg-6">
					<label class="control-label label_bottom_margin" for="glAccountSetupPurchasingAndSupplierPayableAccountID"><?php echo $this->translate('Payable Account')?></label>
				</div>
				<div class="col-lg-6">
					<?php echo $this->formRow($form->get('glAccountSetupPurchasingAndSupplierPayableAccountID')); ?>
				</div>
			</div>

			<!--purchase discount account id-->
			<div class="form-group">
				<div class="col-lg-6">
					<label class="control-label label_bottom_margin" for="glAccountSetupPurchasingAndSupplierPurchaseDiscountAccountID"><?php echo $this->translate('Purchase Discount Account') ?></label>
				</div>
				<div class="col-lg-6">
					<?php echo $this->formRow($form->get('glAccountSetupPurchasingAndSupplierPurchaseDiscountAccountID')); ?>
				</div>
			</div>

			<!--grn clearing account id-->
			<div class="form-group">
				<div class="col-lg-6">
					<label class="control-label label_bottom_margin" for="glAccountSetupPurchasingAndSupplierGrnClearingAccountID"><?php echo $this->translate('GRN Clearing Account') ?></label>
				</div>
				<div class="col-lg-6">
					<?php echo $this->formRow($form->get('glAccountSetupPurchasingAndSupplierGrnClearingAccountID')); ?>
				</div>
			</div>

			<!--advance payment account id-->
			<div class="form-group">
				<div class="col-lg-6">
					<label class="control-label label_bottom_margin" for="glAccountSetupPurchasingAndSupplierAdvancePaymentAccountID"><?php echo $this->translate('Advance Payment Account') ?></label>
				</div>
				<div class="col-lg-6">
					<?php echo $this->formRow($form->get('glAccountSetupPurchasingAndSupplierAdvancePaymentAccountID')); ?>
				</div>
			</div>

		</div><!--well-->
	</div>

	<div class="col-lg-6 gl-account-setup-form-container margin_top">

		<div class="well well_heading">
			<h5 class="addTitle"><?php echo $this->translate('General') ?></h5>
		</div>

		<div class="well well_body">

			<!--Exchange variance account id-->
			<div class="form-group">
				<div class="col-lg-6">
					<label class="control-label label_bottom_margin" for="glAccountSetupGeneralExchangeVarianceAccountID"><?php echo $this->translate('Exchange Variance Account')?></label>
				</div>
				<div class="col-lg-6">
					<?php echo $this->formRow($form->get('glAccountSetupGeneralExchangeVarianceAccountID')); ?>
				</div>
			</div>

			<!--profit and lost year account id-->
			<!-- <div class="form-group">
				<div class="col-lg-6">
					<label class="control-label label_bottom_margin" for="glAccountSetupGeneralProfitAndLostYearAccountID"><?php echo $this->translate('Profit and Loss Year Account') ?></label>
				</div>
				<div class="col-lg-6">
					<?php echo $this->formRow($form->get('glAccountSetupGeneralProfitAndLostYearAccountID')); ?>
				</div>
			</div> -->

			<!--bank Chargers account id-->
			<div class="form-group">
				<div class="col-lg-6">
					<label class="control-label label_bottom_margin" for="glAccountSetupGeneralBankChargersAccountID"><?php echo $this->translate('Bank Chargers Account') ?></label>
				</div>
				<div class="col-lg-6">
					<?php echo $this->formRow($form->get('glAccountSetupGeneralBankChargersAccountID')); ?>
				</div>
			</div>

			<!--delivery Chargers account id-->
			<div class="form-group">
				<div class="col-lg-6">
					<label class="control-label label_bottom_margin" for="glAccountSetupGeneralDeliveryChargersAccountID"><?php echo $this->translate('Delivery Chargers Account') ?></label>
				</div>
				<div class="col-lg-6">
					<?php echo $this->formRow($form->get('glAccountSetupGeneralDeliveryChargersAccountID')); ?>
				</div>
			</div>

			<!--loyalty expense account id-->
			<div class="form-group">
				<div class="col-lg-6">
					<label class="control-label label_bottom_margin" for="glAccountSetupGeneralLoyaltyExpenseAccountID"><?php echo $this->translate('Loyalty Expense Account') ?></label>
				</div>
				<div class="col-lg-6">
					<?php echo $this->formRow($form->get('glAccountSetupGeneralLoyaltyExpenseAccountID')); ?>
				</div>
			</div>

		</div><!--well-->
	</div>
</div>

<!--save-->
<div class="col-lg-12 text-right">
	<?php echo $this->formRow($form->get('saveGlAccountSetup')); ?>
</div>

<?php
	echo $this->form()->closeTag($form);
?>