<?php
    $form = $this->paymentMethodSetupForm;
    $form->setAttribute('id','create-payment-method-setup-form');

    $form->prepare();
    echo $this->form()->openTag($form);
?>
<div class="row">
	<div class="col-lg-12 gl-account-setup-form-container margin_top">

		<div class="well well_heading">
			<h5 class="addTitle"><?php echo $this->translate('Payment Method SetUp') ?></h5>
		</div>

		<div class="well well_body">

			<table class="table table-striped paymentMethodTable">
				<thead>
					<tr>
						<th style="width: 20%" ><?php echo $this->translate('Payment Methods') ?></th>
						<th style="width: 10%"><?php echo $this->translate('Active In Sales') ?></th>
						<th style="width: 30%"><?php echo $this->translate('Account ID In Sales') ?></th>
						<th style="width: 10%"><?php echo $this->translate('Active In Purchase') ?></th>
						<th style="width: 30%"><?php echo $this->translate('Account ID In Purchase') ?></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td style="width: 20%"><?php echo $this->translate('GL Account for Cash')?></td>
						<td style="width: 10%" class="text-center"><input type="checkbox" class="salesCashMethod salesCheck" id='salesCashMethod' ></td>
						<td style="width: 30%"><?php echo $this->formRow($form->get('salesCashFinanceAccountID')); ?></td>
						<td style="width: 10%" class="text-center"><input type="checkbox" class="purchaseCashMethod purchaseCheck" id='purchaseCashMethod' ></td>
						<td style="width: 30%"><?php echo $this->formRow($form->get('purchaseCashFinanceAccountID')); ?></td>
					</tr>
					<tr>
						<td style="width: 20%"><?php echo $this->translate('GL Account for LC')?></td>
						<td style="width: 10%" class="text-center"><input type="checkbox" class="salesLcMethod salesCheck" id='salesLcMethod' ></td>
						<td style="width: 30%"><?php echo $this->formRow($form->get('salesLcFinanceAccountID')); ?></td>
						<td style="width: 10%" class="text-center"><input type="checkbox" class="purchaseLcMethod purchaseCheck" id='purchaseLcMethod' ></td>
						<td style="width: 30%"><?php echo $this->formRow($form->get('purchaseLcFinanceAccountID')); ?></td>
					</tr>
					<tr>
						<td style="width: 20%"><?php echo $this->translate('GL Account for TT')?></td>
						<td style="width: 10%" class="text-center"><input type="checkbox" class="salesTtMethod salesCheck" id='salesTtMethod' ></td>
						<td style="width: 30%"><?php echo $this->formRow($form->get('salesTtFinanceAccountID')); ?></td>
						<td style="width: 10%" class="text-center"><input type="checkbox" class="purchaseTtMethod purchaseCheck" id='purchaseTtMethod' ></td>
						<td style="width: 30%"><?php echo $this->formRow($form->get('purchaseTtFinanceAccountID')); ?></td>
					</tr>
					<tr>
						<td style="width: 20%"><?php echo $this->translate('GL Account for Card')?></td>
						<td style="width: 10%" class="text-center"><input type="checkbox" class="salesCardMethod salesCheck" id='salesCardMethod' ></td>
						<td style="width: 30%"><?php echo $this->formRow($form->get('salesCardFinanceAccountID')); ?></td>
						<td style="width: 10%" class="text-center"><input type="checkbox" class="purchaseCardMethod purchaseCheck" id='purchaseCardMethod' ></td>
						<td style="width: 30%"><?php echo $this->formRow($form->get('purchaseCardFinanceAccountID')); ?></td>
					</tr>
					<tr>
						<td style="width: 20%"><?php echo $this->translate('GL Account for Gift Card')?></td>
						<td style="width: 10%" class="text-center"><input type="checkbox" class="salesGiftCardMethod salesCheck" id='salesGiftCardMethod' ></td>
						<td style="width: 30%"><?php echo $this->formRow($form->get('salesGiftCardFinanceAccountID')); ?></td>
						<td style="width: 10%" class="text-center"><input type="checkbox" class="purchaseGiftCardMethod purchaseCheck" id='purchaseGiftCardMethod' ></td>
						<td style="width: 30%"><?php echo $this->formRow($form->get('purchaseGiftCardFinanceAccountID')); ?></td>
					</tr>
					<tr>
						<td style="width: 20%"><?php echo $this->translate('GL Account for Cheque')?></td>
						<td style="width: 10%" class="text-center"><input type="checkbox" class="salesChequeMethod salesCheck" id='salesChequeMethod' ></td>
						<td style="width: 30%"><?php echo $this->formRow($form->get('salesChequeFinanceAccountID')); ?></td>
						<td style="width: 10%" class="text-center"><input type="checkbox" class="purchaseChequeMethod purchaseCheck" id='purchaseChequeMethod' ></td>
						<td style="width: 30%"><?php echo $this->formRow($form->get('purchaseChequeFinanceAccountID')); ?></td>
					</tr>
					<tr>
						<td style="width: 20%"><?php echo $this->translate('GL Account for Loyalty Card')?></td>
						<td style="width: 10%" class="text-center"><input type="checkbox" class="salesLoyaltyCardMethod salesCheck" id='salesLoyaltyCardMethod' ></td>
						<td style="width: 30%"><?php echo $this->formRow($form->get('salesLoyaltyCardFinanceAccountID')); ?></td>
						<td style="width: 10%" class="text-center"><input type="checkbox" class="purchaseLoyaltyCardMethod purchaseCheck" id='purchaseLoyaltyCardMethod' ></td>
						<td style="width: 30%"><?php echo $this->formRow($form->get('purchaseLoyaltyCardFinanceAccountID')); ?></td>
					</tr>
					<tr>
						<td style="width: 20%"><?php echo $this->translate('GL Account for Bank Transfer')?></td>
						<td style="width: 10%" class="text-center"><input type="checkbox" class="salesBankTransferMethod salesCheck" id='salesBankTransferMethod' ></td>
						<td style="width: 30%"><?php echo $this->formRow($form->get('salesBankTransferFinanceAccountID')); ?></td>
						<td style="width: 10%" class="text-center"><input type="checkbox" class="purchaseBankTransferMethod purchaseCheck" id='purchaseBankTransferMethod' ></td>
						<td style="width: 30%"><?php echo $this->formRow($form->get('purchaseBankTransferFinanceAccountID')); ?></td>
					</tr>
					<tr>
						<td style="width: 20%"><?php echo $this->translate('GL Account for Uniform Voucher')?></td>
						<td style="width: 10%" class="text-center"><input type="checkbox" class="salesUniformVoucherMethod salesCheck" id='salesUniformVoucherMethod' ></td>
						<td style="width: 30%"><?php echo $this->formRow($form->get('salesUniformVoucherFinanceAccountID')); ?></td>
						<td style="width: 10%" class="text-center"><input type="checkbox" class="purchaseUniformVoucherMethod purchaseCheck" id='purchaseUniformVoucherMethod' ></td>
						<td style="width: 30%"><?php echo $this->formRow($form->get('purchaseUniformVoucherFinanceAccountID')); ?></td>
					</tr>
				</tbody>
			</table>
		</div><!--well-->
	</div>
</div>

<!--save-->
<div class="col-lg-12 text-right">
	<?php echo $this->formRow($form->get('savePaymentMethodSetup')); ?>
</div>

<?php
	echo $this->form()->closeTag($form);
?>