
<div class="project-type-form-container">
    <div class="DepartmentBody">   
        <div class="well well_heading">
            <h5 class="font_weight addTitle"><?php echo $this->translate('Add Additional Detail') ?></h5>
            <h5 class="font_weight updateTitle hidden"><?php echo $this->translate('Update Additional Detail') ?></h5>
            <h5 class="font_weight viewTitle hidden"><?php echo $this->translate('View Additional Detail') ?></h5>
        </div>
        <div class="well well_body">
            <div class="form-horizontal">
                <div class="_row_with_margin clearfix">

                    <div class="col-lg-4 col-md-4 col-sm-4 xs-margin-bottom">
                        <label for="dimensionName" class="_remove_bold"><?php echo $this->translate('Additional Detail Name') ?><span class="_required">*</span></label>
                        <input type="text" autofocus="true" placeholder="Certificates" class="form-control" id="addiName">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 xs-margin-bottom">
                        <label for="employeeEmail" class="_remove_bold"><?php echo $this->translate('Attachemnts') ?></label>
                        <input type="file" class="createPoDiv" name="files[]" id="documentFiles" multiple>
                        <input type="file" name="files[]" id="editDocumentFiles" multiple class="updatePoDiv hidden" style="border-color: white">
                    </div>

                    <div class="col-lg-1 col-md-1 col-sm-1 xs-margin-bottom">
                        <label for="employeeEmail" class="_remove_bold"></label>
                        <button class="btn btn-default form-control updatePoDiv_view hidden" type="button" id='viewUploadedFiles'><i class="glyphicon glyphicon-eye-open"></i></button>
                    </div>


                    <!--Reset&Add-->
                    <div class="col-lg-4 addDiv">
                        <label>&nbsp;</label>
                        <div class="text-right">
                            <button type="button" class="btn btn-primary update" id="btnAdd"><?php echo $this->translate('Add New') ?></button>
                            <button type="button" class="btn btn-default" id="btnReset"><?php echo $this->translate('Reset') ?></button>
                        </div>
                    </div>

                    <!--cancel&Update-->
                    <div class="col-lg-4 updateDiv hidden">
                        <label>&nbsp;</label>
                        <div class="text-right">
                            <button type="button" class="btn btn-primary update" id="btnUpdate"><?php echo $this->translate('Update') ?></button>
                            <button type="button" class="btn btn-default" id="btnCancel"><?php echo $this->translate('Cancel') ?></button>
                        </div>
                    </div>
                    <!--cancel&Update-->
                    <div class="col-lg-4 viewDiv hidden">
                        <label>&nbsp;</label>
                        <div class="text-right">
                            <button type="button" class="btn btn-default" id="btnViewCancel"><?php echo $this->translate('Cancel') ?></button>
                        </div>
                    </div>

                </div><!--row-->
            </div><!--form_horizontal-->
        </div><!--well_body-->

        <!--search-->
         <div class="well well_custom_padding margin_top">
            <div class="row">
                <div class="col-lg-3">
                    <label class="remove_weight" for="rateCardSearch"><?php echo $this->translate('Search Additional Detail') ?></label>
                </div>
                <div class="search_field col-lg-9">
                    <form class='departmant-search-form' method="post">
                        <div class="input-group">
                            <input type="text" class="form-control" id="dimensionSearch" placeholder="<?php echo $this->translate('Enter Additional Detail name') ?>">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default minus_margin" id="searchDimension"><?php echo $this->translate('Search') ?></button>
                                <button type="button" class="btn btn-default minus_margin" id="searchCancel"><?php echo $this->translate('Cancel') ?></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> <!--well-->
        <div id="dimension-list" class="margin_top">
            <?php echo $this->partial('settings/company/list-additional-detail', array('adDetails' => $this->adDetails, 'paginated' => $this->paginated)); ?>
        </div>
        
    </div>
</div>

<div class="modal fade" id="viewAttachmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->attachmentsView; ?>
</div>