<div class="project-type-form-container">
    <div class="EmployeeBody">   
        <div class="well well_heading">
            <h5 class="font_weight addTitle"><?php echo $this->translate('Add Administration Official') ?></h5>
            <h5 class="font_weight updateTitle hidden"><?php echo $this->translate('Update Administration Official') ?></h5>
        </div>
        <div class="well well_body">
            <div class="form-horizontal">
                <div class="_row_with_margin clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-3 xs-margin-bottom">
                        <label for="employeeFirstName" class="_remove_bold"><?php echo $this->translate('First Name') ?><span class="_required">*</span></label>
                        <input type="text" placeholder="<?php echo $this->translate('Eg: Saman') ?>" autofocus="true" class="form-control" id="employeeFirstName">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 xs-margin-bottom">
                        <label for="employeeLastName" class="_remove_bold"><?php echo $this->translate('Last Name') ?><span class="_required">*</span></label>
                        <input type="text" placeholder="<?php echo $this->translate('Eg: Fernando') ?>" autofocus="true" class="form-control" id="employeeLastName">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 xs-margin-bottom">
                        <label for="employeeMobileNumber" class="_remove_bold"><?php echo $this->translate('Mobile Number') ?><span class="_required">*</span></label>
                        <input type="text" placeholder="<?php echo $this->translate('Eg: 07X XXX XXXX') ?>" autofocus="true" class="form-control" id="employeeMobileNumber">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 xs-margin-bottom">
                        <label for="employeeIdentityReference" class="_remove_bold"><?php echo $this->translate('NIC') ?><span class="_required">*</span></label>
                        <input type="text" autofocus="true" class="form-control" id="employeeIdentityReference">
                    </div>
                </div>
                <label>&nbsp;</label>
                <div class="_row_with_margin clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-3 xs-margin-bottom">
                        <label for="employeeAddress" class="_remove_bold"><?php echo $this->translate('Address') ?><span class="_required">*</span></label>
                        <input type="text" autofocus="true" class="form-control" id="employeeAddress">
                    </div>
                     <div class="col-lg-3 col-md-3 col-sm-3 xs-margin-bottom">
                        <label for="employeeEmail" class="_remove_bold"><?php echo $this->translate('Email') ?><span class="_required">*</span></label>
                        <input type="email" placeholder="<?php echo $this->translate('Eg: abc@gmail.com') ?>" autofocus="true" class="form-control" id="employeeEmail">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 xs-margin-bottom">
                        <label for="employeeEmail" class="_remove_bold"><?php echo $this->translate('Date of birth') ?></label>
                        <input type="text" class="datepicker form-control pointer_cursor" style="background-color: white" readonly="true"  id="employeeDOB" data-standard-format="yyyy-mm-dd" placeholder="<?php echo $this->translate("Click to Set a Date"); ?>">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 xs-margin-bottom">
                        <label for="employeeEmail" class="_remove_bold"><?php echo $this->translate('Gender') ?><span class="_required">*</span></label><br>
                        <input type="radio" name="gender" value="male" checked="true"> Male
                        <input type="radio" name="gender" value="female"> Female
                    </div>
                </div>
                <label>&nbsp;</label>
                <div class="_row_with_margin clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-3 xs-margin-bottom">
                        <label for="employeeEmail" class="_remove_bold"><?php echo $this->translate('Attachemnts') ?></label>
                        <input type="file" class="createPoDiv" name="files[]" id="documentFiles" multiple>
                        <input type="file" name="files[]" id="editDocumentFiles" multiple class="updatePoDiv hidden" style="border-color: white">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 xs-margin-bottom updatePoDiv_view hidden">
                        <label for="employeeEmail" class="_remove_bold"><?php echo $this->translate('View Attachemnts') ?></label>
                        <button class="btn btn-default form-control" type="button" id='viewUploadedFiles'><i class="glyphicon glyphicon-eye-open"></i></button>
                    </div>
                    
                </div>
                <label>&nbsp;</label>
                <div class="_row_with_margin clearfix">
                    <!--Reset&Add-->
                    <div class="col-lg-12 addDiv">
                        <div class="text-right">
                            <button type="button" class="btn btn-primary update" id="btnAdd"><?php echo $this->translate('Add New') ?></button>
                            <button type="button" class="btn btn-default" id="btnReset"><?php echo $this->translate('Reset') ?></button>
                        </div>
                    </div>

                    <!--cancel&Update-->
                    <div class="col-lg-12 updateDiv hidden">
                        <div class="text-right">
                            <button type="button" class="btn btn-primary update" id="btnUpdate"><?php echo $this->translate('Update') ?></button>
                            <button type="button" class="btn btn-default" id="btnCancel"><?php echo $this->translate('Cancel') ?></button>
                        </div>
                    </div>
                </div>
            </div><!--form_horizontal-->
        </div><!--well_body-->

        <!--search-->
        <div class="well well_heading margin_top">
            <h5 class="font_weight add"><?php echo $this->translate('Search an administration official') ?></h5>
        </div>
        <div class="well clearfix well_body">
            <div class="row">
                <div class="search_field col-lg-12">
                    <form class='employee-search-form' method="post">
                        <div class="input-group">
                            <input type="text" class="form-control" id="employeeSearch" placeholder="<?php echo $this->translate('Enter Administration official name') ?>">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default minus_margin" id="searchEmp"><?php echo $this->translate('Search') ?></button>
                                <button type="button" class="btn btn-default minus_margin" id="searchCancel"><?php echo $this->translate('Cancel') ?></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div><!--well-->
    </div>
</div><!--project_type_form_container-->

<div id="employee-list" class="margin_top">
    <?php echo $this->partial('settings/company/list-admin-officials', array('employees' => $this->employees, 'paginated' => $this->paginated)); ?>
</div>

<div class="modal fade" id="viewAttachmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->attachmentsView; ?>
</div>