<?php /**
 * @author ASHAN <ashan@thinkcube.com>
 * This file contains add-category views
 */ ?>
<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
<?php
$this->headScript()->captureEnd();
$form1 = $this->form;
$form1->setAttribute('id', 'create-category-form');
?>

<title><?php echo $this->translate('Product') ?></title>
<link rel="stylesheet" href="<?php echo $this->basePath('css/style.css'); ?>" type="text/css" />
<?php $this->headScript()->appendFile($this->basePath('js/invoice/category.js')); ?>

<div class="well clearfix well_custom_padding margin_top">
    <div class="col-lg-2 col-md-3 col-sm-4">
        <label class="remove_weight"><?php echo $this->translate('Search Category') ?></label>
    </div>
    <div class="col-lg-10 col-md-9 col-sm-8">
        <input type="text" data-provide="typeahead" class="search form-control typeahead" id ='categorySearch' placeholder="<?php echo $this->translate('Enter Category Name') ?>"/>
    </div>
</div>

<!--toggle_purpose-->
<div class="well margin_top toggle_purpose unit_of_mesure_title">
    <h5 class="font_weight"><?php echo $this->translate('Add Product Category') ?><i class="glyphicon glyphicon-chevron-up pull-right"></i></h5>
</div>


<!--add_category-->
<div class="well remove_padding_bottom" id="add_category">

    <!--form_open_tag-->
    <?php
    $form1->prepare();
    echo $this->form()->openTag($form1);
    echo $this->formHidden($form1->get('id'));
    ?>

    <div class="form-group">
        <div class="col-lg-4 category_name"><!--category_name-->
            <label class="control-label label_bottom_margin"><?php echo $this->translate('Category Name') ?><font color="red"> *</font></label>
            <div>
                <?php echo $this->formRow($form1->get('categoryName')); ?>
            </div>
        </div>

        <div class="col-lg-4 category_type"><!--category_type-->
            <label class="control-label label_bottom_margin"><?php echo $this->translate('Category Type') ?><font color="red"> *</font></label>
            <div>
                <?php echo $this->formRow($form1->get('categoryType')); ?>
            </div>
        </div>

        <div class="col-lg-4"><!--auto_generate-->
            <label class="control-label label_bottom_margin"><span class="margin_right"><?php echo $this->formRow($form1->get('autoGenarate')); ?></span><?php echo $this->translate('Auto Generate Product Code') ?></label>
            <div id="Prefix"><!--prefix-->
                <div class="input-group">
                    <span class="input-group-addon"><?php echo $this->translate('Category Prefix') ?><font color="red"> *</font></span>
                    <?php echo $this->formRow($form1->get('prefix')); ?>
                </div>
            </div>
        </div>
    </div><!--./form_group-->


    <!--button-->
    <div class="form-group margin_top_normal">
        <div class="col-lg-12 text-right">
            <?php echo $this->formSubmit($form1->get('submit')); ?>
            <button type="button" class="btn btn-primary edit" data-dismiss="modal"><?php echo $this->translate('Update') ?></button>
            <button type="reset" class="btn btn-danger rest" data-dismiss="modal"><?php echo $this->translate('Clear') ?></button>
        </div>
    </div>

    <!--form_close_tag-->
    <?php
    echo $this->form()->closeTag($form1);
    ?>

</div><!--well-->

<div id="cview"></div>

<!--table-->
<div class="table table-responsive margin_top_normal">
    <div id="category-list" class="margin_top">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><?php echo $this->translate('Category Name') ?></th>
                    <th><?php echo $this->translate('Product Type') ?></th>
                    <th><?php echo $this->translate('Edit') ?></th>
                    <th class="text-center"><?php echo $this->translate('Delete') ?></th>
                    <!--<th class="text-center"><?php // echo $this->translate('Inactive')                              ?></th>-->
                </tr>
            </thead>

            <tbody>
                <?php
                foreach ($this->productCategorys as $key => $productCategory) {
                    ?>
                    <tr id="<?php echo $productCategory->productCategoriesID; ?>">
                        <td> <?php echo $productCategory->categoryName; ?></td>
                        <td> <?php echo $productCategory->categoryType; ?></td>
                        <td>
                            <a class="edits" id="<?php echo $productCategory->productCategoriesID; ?>">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                        </td>
                        <td class="text-center">
                            <a data-toggle="modal" data-target="#delete_cat" class="deletes" id="<?php echo $productCategory->productCategoriesID; ?>">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                        <?php // if ($productCategory->state == 'Active') { ?>
                            <!--<td class="text-center"><a data-toggle="modal" data-target="#inactive_cat" class="inactive" id="<?php echo $productCategory->productCategoriesID; ?>">-->
                                    <!--<span class="fa fa-ban"></span></a></td>-->
                        <?php // } else { ?>
                            <!--<td></td>-->
                        <?php // } ?>

                    <?php } ?>
            </tbody>
        </table>

        <?php
        echo $this->paginationControl(
                $this->productCategorys, 'sliding', array('partial/paginator.phtml', 'company'), array(
            'route' => 'company', 'action' => 'category'
                )
        );
        ?>
    </div>
</div>

<div class="modal fade" id="delete_cat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body">
        <?php echo $delete_cat; ?>
    </div>
</div> <!--/.modal-->

<div class="modal fade" id="inactive_cat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body">
        <?php echo $inactive_cat; ?>
    </div>
</div> <!--/.modal-->