<?php /**
 * @author ASHAN <ashan@thinkcube.com>
 * This file contains add-category views
 */ ?>
<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
<?php
$this->headScript()->captureEnd();
$form1 = $this->form;
$form1->setAttribute('id', 'create-currency-form');
?>
<link rel="stylesheet" href="<?php echo $this->basePath('css/style.css'); ?>" type="text/css" />
<?php // $this->headScript()->appendFile($this->basePath('js/invoice/category.js')); ?>

<h3 class="no_top_margin font_weight"><?php echo $this->translate('Custom Currency') ?></h3>
<hr class="custom_hr">

<!--toggle_purpose-->
<div class="well well_heading margin_top">
    <h5 class="font_weight"><?php echo $this->translate('Add Custom Currency') ?></h5>
</div>

<!--add_custom_currency-->
<div class="well well_body" id="add_custom_currency">

    <!--form_open_tag-->
    <?php
    $form1->prepare();
    echo $this->form()->openTag($form1);
    echo $this->formHidden($form1->get('customCurrencyId'));
    ?>

    <input type="hidden" id="companyCurrencyId" value="<?php echo $this->companyCurrencyId; ?>">
    <div class="form-group">
        <div class="col-lg-4 category_name"><!--currency_name-->
            <label class="control-label label_bottom_margin"><?php echo $this->translate('Custom Currency Name') ?><font color="red"> *</font></label>
            <div>
                <?php echo $this->formRow($form1->get('customCurrencyName')); ?>
            </div>
        </div>

        <div class="col-lg-4 category_type"><!--currency_symbol-->
            <label class="control-label label_bottom_margin"><?php echo $this->translate('Custom Currency Symbol') ?><font color="red"> *</font></label>
            <div>
                <?php echo $this->formRow($form1->get('customCurrencySymbol')); ?>
            </div>
        </div>

        <div class="col-lg-4 category_type"><!--currency_rate-->
            <label class="control-label label_bottom_margin"><?php echo $this->translate('Custom Currency Rate (System Currency)') ?><font color="red"> *</font></label>
            <div>
                <?php echo $this->formRow($form1->get('customCurrencyRate')); ?>
            </div>
        </div>
    </div><!--./form_group-->


    <!--button-->
    <div class="form-group margin_top_normal">
        <div class="col-lg-12 text-right">
            <?php echo $this->formSubmit($form1->get('submit')); ?>
            <button type="button" class="btn btn-default cancel make-full-width" data-dismiss="modal"><?php echo $this->translate('Cancel') ?></button>
        </div>
    </div>

    <!--form_close_tag-->
    <?php
    echo $this->form()->closeTag($form1);
    ?>

</div><!--well-->

<div class="well mobile-search clearfix well_custom_padding margin_top custom_currency">
    <form class="custom-currency-search" method="post" action="">
        <div class="col-lg-3">
            <label class="remove_weight"><?php echo $this->translate('Search Custom Currency') ?></label>
        </div>
        <div class="col-lg-9">
            <div class=" input-group">
                <input type="text" class="search form-control" id ='custom-currency-keyword' placeholder="<?php echo $this->translate('Enter Custom Currency') ?>"/>
                <span class="input-group-btn">
                    <button class="btn btn-default search_btn_css" type="submit"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default reset" type="reset"><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </form>
</div>

<div id="currencyList" class="margin_top">
    <?php echo $this->partial('settings/company/custom-currency-list', array('customCurrencyList' => $this->customCurrencyList, 'paginated' => $this->paginated)); ?>
</div>
