<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('Custom Currency Name') ?></th>
                <th><?php echo $this->translate('Custom Currency Symbol') ?></th>
                <th><?php echo $this->translate('Custom Currency Rate(System Currency)') ?></th>
                <th width="10%" class="text-center"><?php echo $this->translate('Edit') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->customCurrencyList as $loo) {
                $loo = (object) $loo;
                ?>
                <tr data-currencyId="<?php echo $loo->currencyID; ?>">
                    <td class="currName"><?php echo $loo->currencyName; ?></td>
                    <td class="currSymbol"><?php echo $loo->currencySymbol; ?></td>
                    <td class="currRate"><?php echo number_format($loo->currencyRate,4); ?></td>
                    <td width="10%" class="text-center">
                        <span class="link_color"  style="cursor:pointer">
                            <span id="<?php echo $loo->currencyID; ?>" class="edits glyphicon  glyphicon-edit"></span>
                        </span>
                    </td>
                </tr>
                <?php
            }
            if (count($this->customCurrencyList) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>

        </tbody>
    </table>
</div>

<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->customCurrencyList, 'sliding', array('partial/paginator.phtml', 'company'), array(
        'route' => 'company', 'action' => 'customCurrency'
            )
    );
}
?>
