<?php $this->headScript()->captureStart() ?>
var addTempleteMassage = '<?php echo $this->translate('Enter a name for the template'); ?>';
<?php $this->headScript()->captureEnd() ?>
<?php $this->translate('Sales Invoice') ?>
<?php $this->translate('Sales Quotation') ?>
<?php $this->translate('Delivery Note') ?>
<?php $this->translate('Customer Payment') ?>
<?php $this->translate('POS Printout') ?>
<?php $this->translate('Goods Received Note') ?>
<?php $this->translate('Goods Received Note') ?>
<?php $this->translate('Purchase Return') ?>
<?php $this->translate('Payment Voucher (Purchase Invoice)') ?>
<?php $this->translate('Supplier Payment') ?>
<?php $this->translate('OK') ?>
<?php $this->translate('Cancel') ?>
<div class="row">
    <div class="margin_bottom"><!--title-->
        <h3 class="no_top_margin font_weight"><?php echo $this->translate('Display Setup') ?></h3>
        <hr class="custom_hr">
    </div>

    <!--form_open_tag-->
    <?php
    $form = $this->form;
    $form->setAttribute('id', 'create-display-form');
    $form->prepare();
    echo $this->form()->openTag($form);
    echo $this->formHidden($form->get('displaySetupID'));
    ?>

    <!--display_setting-->
    <div class="margin_top">
        <div class="well">
            <div class="form-group"><!--currency-->
                <label class="col-lg-3 col-md-4 control-label"><?php echo $this->translate('Currency') ?></label>
                <div class="col-lg-5 col-md-8">
                    <?php echo $this->formRow($form->get('currencyID')); ?>
                </div>
            </div>

            <div class="form-group"><!--time zone-->
                <label class="col-lg-3 col-md-4 control-label"><?php echo $this->translate('Time Zone') ?></label>
                <div class="col-lg-5 col-md-8">
                    <?php echo $this->formRow($form->get('timeZone')); ?>
                </div>
            </div>

            <div class="form-group"><!--date_format-->
                <label class="col-lg-3 col-md-4 control-label"><?php echo $this->translate('Date Format') ?>
                    <a class="help_icon_js" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="top" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('SETTINGS_DIPLAYSETUP_DATEFORMAT') ?>">
                        <i class="fa fa-question-circle help_icon"></i>
                    </a>
                </label>
                <div class="col-lg-5 col-md-8">
                    <?php echo $this->formRow($form->get('dateFormat')); ?>
                </div>
            </div>

            <div class="form-group"><!--time_format-->
                <label class="col-lg-3 col-md-4 control-label"><?php echo $this->translate('Time Format') ?>
                    <a class="help_icon_js" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="top" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('SETTINGS_DIPLAYSETUP_TIMEFORMAT') ?>">
                        <i class="fa fa-question-circle help_icon"></i>
                    </a>
                </label>
                <div class="col-lg-5 col-md-8">
                    <?php echo $this->formRow($form->get('timeFormat')); ?>
                </div>
            </div>
            <div class="form-group"><!--costing_method-->
                <label class="col-lg-3 col-md-4 control-label"><?php echo $this->translate('Costing Method') ?>
                </label>
                <div class="col-lg-5 col-md-8">
                    <div class="form-group">
                        <div class="col-lg-1 col-md-4">
                            <input type="radio" name="costingMethod" <?php if($this->FIFOCostingFlag == 1){?> checked="checked" <?php }?> value="FIFOCosting" id="FIFOCostingFlag" <?php if($this->hasItemIn) echo ' disabled'; ?>>
                        </div>
                        <label class="col-lg-7 col-md-8">
                            <?php echo $this->translate('FIFO Costing Method') ?>
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-1 col-md-4">
                    		<input type="radio" name="costingMethod" <?php if($this->averageCostingFlag == 1){?> checked="checked" <?php }?> value="averageCosting" id="averageCostingFlag" <?php if($this->hasItemIn) echo ' disabled'; ?>>
                        </div>
                        <label class="col-lg-7 col-md-8">
                            <?php echo $this->translate('Average Costing Method') ?>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 col-md-4 control-label"><?php echo $this->translate('Customer Credit Limit Enable') ?></label>
                <div class="col-lg-5 col-md-8">
                    <?php echo $this->formRow($form->get('customerCreditLimitApplyFlag')); ?>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 col-md-4 control-label"><?php echo $this->translate('POS Printout Image Conversion Enable') ?></label>
                <div class="col-lg-5 col-md-8">
                    <?php echo $this->formRow($form->get('posPrintoutImageConversionStatus')); ?>
                </div>
            </div>
        </div><!--well-->
    </div>

    <div class="form-group margin_bottom"><!--button-->
        <div class="col-lg-9 col-lg-offset-3 text-right">
            <div class="">
                <?php echo $this->formSubmit($form->get('submit')); ?>
            </div>
        </div>
    </div>

    <div class="well">
        <div class="_row_with_margin clearfix">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <?php foreach ($this->tplListViews as $view): ?>
                        <div class="form-group"><!--invoice_template-->
                            <label class="col-lg-3 col-md-4 control-label">
                                <?php echo $this->translate($view['docName']) ?> <br />
                                <a href="#" class="create-template btn btn-xs btn-default" style="margin-top: 5px;" title="Create new template"><span class="fa fa-plus-square"></span> <?php echo $this->translate('Create Template'); ?></a>
                            </label>
                            <div class="col-lg-9 col-md-8 templates-container">
                                <?php echo $this->translate($view['html']); ?>
                            </div>
                        </div>
                    <?php endforeach; ?>
                        <hr/>
                        <div class="form-group"><!--invoice_template-->
                            <label class="col-lg-3 col-md-4 control-label">
                                <?php echo $this->translate('Offline POS') ?> <br />
                                <a href="#" class="edit-pos-template btn btn-xs btn-default" style="margin-top: 5px;" title="Create POS template"><span class="fa fa-refresh"></span> <?php echo $this->translate('Update Template'); ?></a>
                            </label>
                            <div class="col-lg-9 col-md-8 templates-container">
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div><!--well-->

    <?php
    echo $this->form()->closeTag();
    ?>

</div><!--row-->

<div class="modal fade" id="edit-template" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 1020px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><?php echo $this->translate('Edit Template') ?></h4>
                <div class="row">
                    <form id="saveTemplate" class="form-horizontal" method="post">
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <small><?php echo $this->translate("To add a placeholder (detail field), select anywhere in the editor window below, and from the 'Add Detail Field' drop-down, select the placeholder you want to insert."); ?> <br />
                                <?php echo $this->translate("To delete a placeholder, click on the placeholder from the editor window and press 'delete' or 'backspace' key.") ?></small>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-3 control-label input-sm"><?php echo _('Name'); ?></label>
                                <div class="col-md-9">
                                    <input id="templateID" type="hidden" />
                                    <input class="form-control input-sm" id="templateName" type="text" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label input-sm tempclick"><?php echo _('Add Detail Field'); ?></label>
                                <div class="col-md-8">
                                    <?php foreach ($this->tplVars as $documentTypeID => $documentTypeGroup): ?>
                                        <select data-doctypeid="<?php echo $documentTypeID; ?>" class="form-control col-lg-2 input-sm detailFieldsTmp" style="display: none; position: relative; z-index: 9999;">
                                            <option></option>
                                            <?php foreach ($documentTypeGroup as $dataGroupName => $dataGroup): ?>

                                                <option disabled="true" class="disabled"><?php echo $dataGroupName; ?></option>

                                                <?php
                                                foreach ($dataGroup as $placeholder => $dataItem):
                                                    if (!isset($dataItem[2])):
                                                        ?>
                                                        <option data-doctypeid="<?php echo $documentTypeID; ?>" value="[<?php echo ($placeholder); ?>]"><?php echo $dataItem[1]; ?></option>
                                                        <?php
                                                    endif;
                                                endforeach;
                                                ?>

                                            <?php endforeach; ?>
                                        </select>
                                    <?php endforeach; ?>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 text-right">
                            <button type="submit"  class="btn btn-primary save-template"><?php echo $this->translate('Save') ?></button>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-3 control-label input-sm"><?php echo _('Size'); ?></label>
                                <div class="col-md-9">
                                    <select class="form-control input-sm" name="documentSizeID">
                                        <?php foreach ($docSizes as $size): ?>
                                            <option value="<?php echo $size['documentSizeID'] ?>"><?php echo $size['documentSizeName'] . ' (' . $size['documentSizeDetails'] . ')' ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 invoice_template_options">
                            <div class="form-group">
                                <label class="col-md-4 control-label input-sm">
                                    <?php echo $this->translate('Group Products by Category') ?>
                                    <input class="templateOptions" name="categorize_products" type="checkbox" value="1" style="margin-left: 10px;" />
                                    <br>
                                </label>
                                <label class="col-md-4 control-label dln_group input-sm">
                                    <?php echo $this->translate('Group Products by Delivery Note') ?>
                                    <input class="templateOptions" name="categorize_products_by_dln" type="checkbox" value="2" style="margin-left: 10px;" />
                                </label>
                                <!-- <label class="col-md-4 control-label input-sm">
                                <?php echo _('Products List Table'); ?>
                                </label> -->
                                <div class="col-md-4">
                                    <button class="btn btn-default btn-sm templateOptions pull-right" id="edit-product-table-columns" type="button"><?php echo _('Edit Products List Table'); ?></button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 pos_template_options">
                            <div class="form-group">
                                <label class="col-md-12 control-label input-sm">
                                   <?php echo $this->translate('Remove product details (serial / batch and warranty)') ?>
                                    <input class="templateOptions" name="remove_product_details" type="checkbox" value="1" style="margin-left: 10px;" />
                                </label>
                            </div>
                        </div>

                        <div id="signature-vedify-div">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="checkbox">
                                        <input type="checkbox" id="sig-veri-settings-chk"> <label class="col-md-3 control-label input-sm"><?php echo $this->translate('Enable Signature Verifications') ?></label>
                                    </div>
                                </div>
                            </div>
                            <br><br>
                            <div class="col-md-6" id="sig-veri-template-div">
                                <div class="form-group">
                                    <label class="col-md-4 control-label input-sm tempclick"><?php echo _('Add Detail Field'); ?></label>
                                    <div class="col-md-8">
                                        <select class='form-control selectpicker' data-live-search="true" name="signaturePicker" id="signaturePicker" multiple="multiple" title="<?php echo $this->translate('Select Signatures(s)') ?>" data-selected-text-format="count>3">
                                            <?php
                                            foreach ($this->signatures as $key => $signature):
                                                echo '<option value="' . $key . '">' . $signature . '</option>';
                                            endforeach;
                                            ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="advance-template-container">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="checkbox">
                                        <input type="checkbox" id="adv-tpl-settings-chk"> <label class="col-md-3 control-label input-sm"><?php echo $this->translate('Advanced template settings') ?></label>
                                    </div>
                                </div>
                            </div>
                            <div id="advance-template-div">
                                <form class="form-horizontal">
                                <div class="col-md-1"></div>
                                <div class="col-md-6 offset6">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label input-sm"><?php echo $this->translate('Page size') ?></label>
                                        <div class="col-md-9">
                                            <label class="radio-inline input-sm">
                                                <input type="radio" name="page-size" value="Standard" checked> <?php echo $this->translate('Standard') ?>
                                            </label>
                                            <label class="radio-inline input-sm">
                                                <input type="radio" name="page-size" value="Custom"> <?php echo $this->translate('Custom') ?>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group" id="statndard-page-size-div">
                                        <label class="col-md-3 control-label input-sm"></label>
                                        <div class="col-md-6">
                                            <select class="form-control input-sm col-md-10" id="page-size">
                                                <option value="A0">A0 (841 x 1189 mm)</option>
                                                <option value="A1">A1 (594 x 841 mm)</option>
                                                <option value="A2">A2 (420 x 594 mm)</option>
                                                <option value="A3">A3 (297 x 420 mm)</option>
                                                <option value="A4" selected="true">A4 (210 x 297 mm)</option>
                                                <option value="A5">A5 (148 x 210 mm)</option>
                                                <option value="A6">A6 (105 x 148 mm)</option>
                                                <option value="A7">A7 (74 x 105 mm)</option>
                                                <option value="A8">A8 (52 x 74 mm)</option>
                                                <option value="A9">A9 (37 x 52 mm)</option>
                                                <option value="B0">B0 (1000 x 1414 mm)</option>
                                                <option value="B1">B1 (707 x 1000 mm)</option>
                                                <option value="B2">B2 (500 x 707 mm)</option>
                                                <option value="B3">B3 (353 x 500 mm)</option>
                                                <option value="B4">B4 (250 x 353 mm)</option>
                                                <option value="B5">B5 (176 x 250 mm)</option>
                                                <option value="B6">B6 (125 x 176 mm)</option>
                                                <option value="B7">B7 (88 x 125 mm)</option>
                                                <option value="B8">B8 (62 x 88 mm)</option>
                                                <option value="B9">B9 (33 x 62 mm)</option>
                                                <option value="B10">B10 (31 x 44 mm)</option>
                                                <option value="Executive">Executive (190.5 x 254 mm)</option>
                                                <option value="Folio">Folio (210 x 330 mm)</option>
                                                <option value="Ledger">Ledger (431.8 x 279.4 mm)</option>
                                                <option value="Legal">Legal (215.9 x 355.6 mm)</option>
                                                <option value="Letter">Letter (215.9 x 279.4 mm)</option>
                                                <option value="Tabloid">Tabloid (279.4 x 431.8 mm)</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group hidden" id="custom-page-size-div">
                                        <label class="col-md-3 control-label input-sm"></label>
                                        <label class="col-md-3 control-label input-sm"><?php echo $this->translate('Page height') ?></label>
                                        <div class="col-md-6">
                                            <input type="number" pattern="[0-9]" class="form-control input-sm" id="page-height" placeholder="page height">
                                        </div>
                                        <label class="col-md-3 control-label input-sm"></label>
                                        <label class="col-md-3 control-label input-sm"><?php echo $this->translate('Page width') ?></label>
                                        <div class="col-md-6">
                                            <input type="number" pattern="[0-9]" class="form-control input-sm" id="page-width" placeholder="page width">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label input-sm"><?php echo $this->translate('Margin top') ?></label>
                                        <div class="col-md-9">
                                            <input type="number" pattern="[0-9]" class="form-control input-sm" id="margin-top" placeholder="margin top">
                                        </div>
                                        <label class="col-md-3 control-label input-sm"><?php echo $this->translate('Margin bottom') ?></label>
                                        <div class="col-md-9">
                                            <input type="number" pattern="[0-9]" class="form-control input-sm" id="margin-bottom" placeholder="margin bottom">
                                        </div>
                                        <label class="col-md-3 control-label input-sm"><?php echo $this->translate('Margin left') ?></label>
                                        <div class="col-md-9">
                                            <input type="number" pattern="[0-9]" class="form-control input-sm" id="margin-left" placeholder="margin left">
                                        </div>
                                        <label class="col-md-3 control-label input-sm"><?php echo $this->translate('Margin right') ?></label>
                                        <div class="col-md-9">
                                            <input type="number" pattern="[0-9]" class="form-control input-sm" id="margin-right" placeholder="margin right">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label input-sm"><?php echo $this->translate('Zoom factor') ?></label>
                                        <div class="col-md-9">
                                            <input type="number" class="form-control input-sm" id="zoom-factor" placeholder="zoom factor" step="0.01" value="1">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label input-sm"><?php echo $this->translate('Orientation') ?></label>
                                        <div class="col-md-9">
                                            <label class="radio-inline input-sm">
                                                <input type="radio" name="orientation" value="Portrait" checked> <?php echo $this->translate('Portrait') ?>
                                            </label>
                                            <label class="radio-inline input-sm">
                                                <input type="radio" name="orientation" value="Landscape"> <?php echo $this->translate('Landscape') ?>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-5">
                                            <div class="checkbox">
                                                <label class="control-label input-sm">
                                                    <input type="checkbox" id="chk-repeat-header"> <?php echo $this->translate('Repeat header') ?>
                                                </label>
                                            </div>
                                        </div>
                                        <div id="header-spacing-div">
                                            <label class="col-md-3 control-label input-sm"><?php echo $this->translate('Header spacing') ?></label>
                                            <div class="col-md-4">
                                                <input type="number" pattern="[0-9]" class="form-control input-sm" id="header-spacing" placeholder="header spacing">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-5">
                                            <div class="checkbox">
                                                <label class="control-label input-sm">
                                                    <input type="checkbox" id="chk-repeat-footer"> <?php echo $this->translate('Repeat footer') ?>
                                                </label>
                                            </div>
                                        </div>
                                        <div id="footer-spacing-div">
                                            <label class="col-md-3 control-label input-sm"><?php echo $this->translate('Footer spacing') ?></label>
                                            <div class="col-md-4">
                                                <input type="number" pattern="[0-9]" class="form-control input-sm" id="footer-spacing" placeholder="footer spacing">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
                <div class="modal-body">
                    <div class="paper-cont">
                        <div class="paper-edit">
                            <div class="editable">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="edit-products-columns" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 1020px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><?php echo $this->translate('Edit Products List Table') ?></h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-4 control-label input-sm">
                                <input name="hide_product_table_headers" type="checkbox" value="1" style="margin-left: 5px; margin-right: 10px;" />
                                <?php echo _('Hide product table headers'); ?>
                            </label>
                            <label class="col-md-3 control-label input-sm">
                                <input name="hide_product_table_borders" type="checkbox" value="1" style="margin-left: 5px; margin-right: 10px;" />
                                <?php echo _('Hide product table borders'); ?>
                            </label>
                        </div>
                    </form>
                    <table class="table table-bordered table-condensed table-striped table-hover products-table-columns">
                        <thead>
                            <tr>
                                <th><?php echo $this->translate('Table Column Name') ?></th>
                                <th class="text-center" width="15%"><?php echo $this->translate('Column Width') ?></th>
                                <th class="text-center" width="7%"><?php echo $this->translate('Show') ?></th>
                                <th class="text-center" width="7%"><?php echo $this->translate('Sort') ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            $columns = [
                                'product_index' => '#',
                                'product_code' => 'Item Code',
                                'product_name' => 'Item Name',
                                'product_code_and_name' => 'Product Code &amp; Name',
                                'quantity' => 'Quantity',
                                'discount' => 'Total Discount',
                                'discount_per_or_val' => ['Discount', 'Discount Percentage / Value'],
                                'price' => 'Unit Price',
                                'mrp-price' => 'Mrp',
                                'total' => 'Total',
                                'total_wo_tx' => ['Total', 'Total without Tax'],
                                'total_wo_discounts' => ['Total', 'Total without Discounts'],
                                'attribute_01' => 'Attribute 01',
                                'attribute_02' => 'Attribute 02',
                                'attribute_03' => 'Attribute 03'
                            ];
                            foreach ($columns as $id => $column):
                                ?>
                                <tr data-item="<?php echo $id; ?>">
                                    <td class="small">
                                        <?php
                                        if (is_array($column)) {
                                            echo $column[0] . ' <i>(' . $column[1] . ')</i>';
                                        } else {
                                            if ($column == "Attribute 01" || $column == "Attribute 02" || $column == "Attribute 03") {
                                                ?>
                                                <select disabled="true" class="attribute">
                                                    <option value="0"><?php echo $this->translate('Select an item attribute') ?></option>
                                                    <?php foreach ($this->itemAttributes as $key => $value) { ?>
                                                        <option value="<?php echo $key;?>"><?php echo $value;?></option>
                                                    <?php } ?>
                                                </select>
                                                <?php
                                            } else {
                                                echo $column;
                                            }
                                        }
                                        ?>
                                    </td>
                                    <td class="text-center">
                                        <div class="input-group input-group-sm">
                                            <input type="number" min="1" max="99" class="form-control" aria-label="Width Percentage">
                                            <span class="input-group-addon">%</span>
                                        </div>
                                    </td>
                                    <td class="text-center check" ><input type="checkbox" /></td>
                                    <td class="text-center sorter-handle" style="cursor: move;"><span class="fa fa-bars"></span></td>
                                </tr>
                            <?php endforeach ?>
                        </tbody>
                    </table>

                    <table class="table table-bordered table-condensed table-striped table-hover products-table-footer-rows">
                        <thead>
                            <tr>
                                <th><?php echo $this->translate('Footer Row') ?></th>
                                <th class="text-center" width="7%"><?php echo $this->translate('Show') ?></th>
                                <th class="text-center" width="7%"<?php echo $this->translate('Sort') ?>></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            $rows = [
                                'sub_total' => 'Sub Total',
                                'sub_total_wo_tax' => ['Sub Total', 'Sub Total without Tax'],
                                'sub_total_wo_discounts' => ['Sub Total', 'Sub Total without Discounts'],
                                'vat' => 'Total Tax',
                                'discount' => 'Invoice Discount',
                                'total' => 'Total',
                            ];
                            foreach ($rows as $id => $row):
                                ?>
                                <tr data-item="<?php echo $id; ?>">
                                    <td class="small"><?php
                                        if (is_array($row)) {
                                            echo $row[0] . ' <i>(' . $row[1] . ')</i>';
                                        } else {
                                            echo $row;
                                        }
                                        ?></td>
                                    <td class="text-center check"><input type="checkbox" /></td>
                                    <td class="text-center sorter-handle" style="cursor: move;"><span class="fa fa-bars"></span></td>
                                </tr>
                            <?php endforeach ?>
                        </tbody>
                    </table>

                    <div class="text-right">
                        <button type="submit" class="btn btn-primary"><?php echo $this->translate('Submit') ?></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="edit-pos-template" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><?php echo $this->translate('Edit offline POS invoice template') ?></h4>
                </div>
                <div class="modal-body" >
                    <div class="alert alert-info alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <small><?php echo $this->translate("To add a filed to POS invoice please check the checkbox. Some fields are mandatory for the invoice ,that's why there are some fields afe default selected") ?></small>
                    </div>  
                    <div class="model-body-placeholder">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btn-save">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>                                
