<!--table-->
<div class="table table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('First Name') ?></th>
                <th><?php echo $this->translate('Last Name') ?></th>
                <th><?php echo $this->translate('ID No') ?></th>
                <th><?php echo $this->translate('Address') ?></th>
                <th><?php echo $this->translate('Mobile No') ?></th>
                <th><?php echo $this->translate('Email') ?></th>
                <th class="text-center"><?php echo $this->translate('Attachments') ?></th>
                <th class="text-center" ><?php echo $this->translate('Edit') ?></th>
                <th class="text-center" ><?php echo $this->translate('Active') ?></th>
                <th class="text-center" ><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->employees as $employee) {
                $employee = (object) $employee;
                ?>
                <tr data-employee-dob="<?php echo $employee->dateOfBirth; ?>" data-employee-gender="<?php echo $employee->gender; ?>" data-employee-id="<?php echo $employee->administrationOfficialID; ?>" data-entity-id="<?php echo $employee->entityID; ?>" data-employee-first-name="<?php echo $employee->firstName; ?>" data-employee-last-name="<?php echo $employee->lastName; ?>" data-employee-address="<?php echo $employee->address; ?>"  data-employee-employee-tp="<?php echo $employee->telephoneNo; ?>" data-employee-email="<?php echo $employee->email; ?>" data-employee-id-no="<?php echo $employee->nic; ?>" data-employee-status="<?php echo $employee->status; ?>">
                    <td class="employeeFirstName"><?php echo $employee->firstName; ?></td>
                    <td class="employeeSecondName"><?php echo $employee->lastName; ?></td>
                    <td class="employeeIDNo"><?php echo $employee->nic; ?></td>
                    <td class="employeeAddress"><?php echo $employee->address; ?></td>
                    <td class="employeeTP"><?php echo ($employee->telephoneNo) ? $employee->telephoneNo : '--'; ?></td>
                    <td class="employeeEmail"><?php echo ($employee->email) ? $employee->email : '--'; ?></td>
                    <td class="text-center">
                        <span id="<?php echo $employee->administrationOfficialID; ?>" class="link_color doc_attachments" data-par-related-id="<?php echo $employee->administrationOfficialID; ?>" style="cursor:pointer"><span class="glyphicon glyphicon-paperclip"></span></span>
                    </td>
                    <td class="text-center">
                        <a href="#" class="edit employee-action" data-action="edit">
                            <span class="fa fa-pencil-square-o custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="#" class="status employee-action" data-action="status">
                            <span class="<?php echo ($employee->status == '1') ? 'fa fa-check-square-o' : 'fa fa-square-o '; ?> custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="#" class="delete employee-action" data-action="delete">
                            <span class="fa fa-trash-o custom_font_size"></span>
                        </a>
                    </td>
                </tr>
                <?php
            }
            if (count($this->employees) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div>
<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->employees, 'sliding', array('partial/paginator.phtml', 'company'), array(
        'route' => 'company', 'action' => 'administraionOfficial'
            )
    );
}
?>