<table class="table table-condensed templates" data-documenttype="<?php echo $this->docTypeName ?>">
    <?php foreach ($this->tpls as $tplSizeGroup): ?>
        <thead>
            <tr class="subheading" data-documenttypeid="<?php echo $tplSizeGroup['templates'][0]['documentTypeID']; ?>" data-documentsizeid="<?php echo $tplSizeGroup['templates'][0]['documentSizeID']; ?>">
                <th>
                    <small><?php echo $tplSizeGroup['templates'][0]['documentSizeName'] . ' (' . $tplSizeGroup['templates'][0]['documentSizeDetails'] . ')'; ?></small>
                </th>
                <th width="10%" class="text-center"><small><?php echo $this->translate('Default') ?></small></th>
                <!--<th width="10%" class="text-center"><small>Copy</small></th>-->
                <th width="10%" class="text-center"><small><?php echo $this->translate('Edit') ?></small></th>
                <!--<th width="10%" class="text-center"><small>Preview</small></th>-->
                <th width="10%" class="text-center"><small><?php echo $this->translate('Delete') ?></small></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($tplSizeGroup['templates'] as $tpl): ?>
                <tr data-templateid="<?php echo $tpl['templateID']; ?>">
                    <td style="text-indent: 10px;"><?php echo $tpl['templateName']; ?></td>
                    <td class="text-center"><a href="#" class="fa <?php echo ((bool) $tpl['templateDefault']) ? 'fa-dot-circle-o' : 'fa-circle-o'; ?> default"></a></td>
                    <!--<td class="text-center"><a href="#" class="fa fa-copy custom_font_size copy"></a></td>-->
                <?php if ($tpl['tplUpdateFlag'] == "1") { ?>
                        <td class="text-center"></td>
                <?php
                    } else { ?>
                       <td class="text-center"><a href="#" class="fa fa-pencil-square-o custom_font_size edit"></a></td>
                <?php
                    }
                ?>
                    <!--<td class="text-center"><a href="#" class="glyphicon glyphicon-eye-open openlist preview"></a></td>-->
                    <td class="text-center"><a href="#" class="fa fa-trash-o custom_font_size delete"></a></td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    <?php endforeach; ?>
</table>