<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate("Add products to the task"); ?></h4>
        </div>

        <div class="modal-body">
            <div class="col-lg-12 margin_top" id="productTable">
                <div class="table table-responsive">
                    <table class="task-card-product-table table table-striped margin_top_normal table-condensed" id="taskCardTaskProductTable">
                        <thead>
                            <tr>
                                <th class="" style="width: 45%"><?php echo $this->translate("Item Code or Name"); ?></th>
                                <th class="" style="width: 35%"><?php echo $this->translate("Quantity"); ?></th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody id="formRow">
                            <tr id='preSample' class="hidden">
                                <td>
                                    <input disabled name="productCode" type="text" class="form-control" />
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input disabled name="qty" type="text" class="form-control"/>
                                        <div class="input-group-btn">
                                            <button id="addNewUom" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                <span id="uomName" class="uom-name"></span>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right"><button class="deleteTaskCardProducts btn btn-default"><i class='glyphicon glyphicon-trash deletePro' id=''></i></button></td>
                            </tr>
                        </tbody>

                        <tbody id="addNewItemRow">
                            <tr><!--item_insert-->
                                <td>
                                    <select class="form-control selectpicker show-tick"  id="itemCode" name="itemCode" data-live-search="true">
                                        <option class="itemCodeDefaultSelect" value=""><?php echo $this->translate('Select Item Code or Name') ?></option>
                                    </select>
                                </td>
                                <td class="adding-qty">
                                    <div class="input-group">
                                        <input type="text" name="quantity" id="qty" class="form-control text-right">
                                    </div>
                                </td>
                                
                                <td class="text-right"><strong class="btn btn-default" id="add_item"><i class="glyphicon glyphicon-plus"></i></strong></td>
                            </tr>

                            <tr>
                                <td colspan="7">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>

                </div><!--table_responsive-->
            </div><!--./col-->

        </div><!--modal_body-->

        <div class="modal-footer">
            <button type="button" id="addTCProducts" class="btn btn-primary"><?php echo $this->translate('Add Products') ?></button>
            <button type="button" id="closeTCProducts" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
        </div>

    </div>
</div>