<div class="modal-dialog">
    <div class="modal-content" id="task-price-modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><?php echo $this->translate('Add Multiple Unit Prices') ?></h4>
        </div>
        <div class="modal-body">
          <table cellspacing="10" id="task-pricing-table">
            <thead>
              <tr>
                <th class="col-lg-12" ><?php echo $this->translate('Unit Prices');?></th>
                <th class="col-lg-2"></th>
                <th class="col-lg-2"></th>
                <th class="col-lg-2"></th>
              </tr>
            </thead>
            <tbody class="item-attr-body">
              <tr class="sample-data-set hidden">
                <td>
                  <input type="text" class='form-control uni-price'>
                </td>
                <td class="add-value">
                  <button class="btn add-values"  >
                    <a><span class="glyphicon glyphicon-plus"></span></a>
                  </button>
                </td>
                <td class="edit-value hidden">
                  <button class="btn edit-values " >
                    <a><span class="glyphicon glyphicon-edit"></span></a>
                  </button>
                </td>
                <td class="save-value hidden">
                  <button class="btn save-values " >
                    <a><span class="glyphicon glyphicon-floppy-disk"></span></a>
                  </button>
                </td>
                <td class="delete-value hidden">
                  <button class="btn delete-values " >
                    <a><span class="glyphicon glyphicon-trash"></span></a>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default close-task-price-modal" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
          <button type="button" class="btn btn-primary save-task-price-modal"><?php echo $this->translate('Save changes') ?></button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->