<?php
$companyCurrencySymbol = $this->companyCurrencySymbol;
$taskCard = $this->taskCardForm;
$taskCard->prepare();
$taskCard->get('taskCardCode')->setValue($this->refCode);
?>

<?php $this->headScript()->captureStart(); ?>
var companyCurrencySymbol =  <?php echo "'$companyCurrencySymbol'"; ?>;
<?php $this->headScript()->captureEnd(); ?>

<div class="margin_top form-horizontal">
    <?php echo $this->form()->openTag($taskCard); ?>
    <!--data_insert_section-->
    <div class="row">
        <div class="margin_top_normal"><!--style_purpose-->
            <div class="col-lg-5 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Task Card Code') ?><font color="red"> *</font></label>
                <div class="">
                    <?php echo $this->formRow($taskCard->get('taskCardCode')); ?>
                </div>
            </div>

            <div class="col-lg-5 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Task Card Name') ?><font color="red"> *</font></label>
                <div class="">
                    <?php echo $this->formRow($taskCard->get('taskCardName')); ?>
                </div>
            </div>
            
            <div class="col-lg-2 uploadDiv hidden">
                <label class="control-label label_bottom_margin">&nbsp;</label>
                <div class="text-right">
                    <button class="btn btn-primary upload"><?php echo $this->translate('Import Tasks') ?></button>
                </div>
            </div>
            
        </div><!--margin_top-->
    </div><!--row-->

    <!--table-->
    <div class="task-form-container margin_top">
        <div class="well well_heading">
            <h5 class="font_weight addTitle"><?php echo $this->translate('Add tasks to task card') ?></h5>
        </div>

        <div class="col-lg-12 margin_top well well_body" id="taskTable">
            <div class="table table-responsive">
                <!-- <div id="div_overlay" class="overlay"></div> -->
                <table class="task-table table table-striped margin_top_normal table-condensed" id="taskCardTaskTable">
                    <thead>
                        <tr>
                            <th class="" style="width: 50%"><?php echo $this->translate("Task Code or Name"); ?><font color="red"> *</font></th>
                            <th class="hidden" style="width: 15%"><?php echo $this->translate("Incentive Value"); ?></th>
                            <th class="" style="width: 15%"><?php echo $this->translate("UOM"); ?><font color="red"> *</font></th>
                            <th class="" style="width: 15%"><?php echo $this->translate("Unit Price"); ?><font color="red"> *</font></th>
                            <th class="" style="width: 15%"><?php echo $this->translate("Products"); ?></th>
                            <th></th>
                        </tr>
                    </thead>

                    <!--item_row_show-->
                    <tbody id="form_row">
                        <tr id='preSetSample' class="hidden">
                            <td id='tCode'></td>
                            <td id='dRate' class='text-right'></td>
                            <td id='rat2' class='text-right'></td>
                            <td id='rat3' class='text-right'></td>
                            <td id='incValue' class='text-right hidden'></td>
                            <td id='tUOM' class='text-right'></td>
                            <td class='text-center'>
                                <button type='button' class='btn btn-default deleteTasks'>
                                    <i class='glyphicon glyphicon-trash delete'></i>
                                </button>
                            </td>
                            <td class='text-center'>
                                <button type='button' class='viewTaskProducts btn btn-default'>
                                    <i class='fa fa-expand'></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>

                    <!--item_enter_row-->
                    <tbody id="add-new-item-row">
                        <tr class="add-row sample hidden">
                            <td class="clearfix">
                                <p class="visible-xs"><?php echo $this->translate("Item Code or Name"); ?></p>
                                <select class="form-control  show-tick"  id="taskCode" name="taskCode" data-live-search="true">
                                    <option value="0" ><?php echo $this->translate('Select a task') ?></option>
                                </select>
                            </td>
                         <!--    <td class="clearfix">
                                <p class="visible-xs">Default Rate</p>
                                <div class="input-group">
                                    <?php echo $this->formRow($taskCard->get('defaultRate')); ?>
                                    <strong class="input-group-addon"><?php echo $companyCurrencySymbol; ?></strong>
                                </div>
                            </td>
                            <td class="clearfix">
                                <p class="visible-xs">Rate 2</p>
                                <div class="input-group">
                                    <?php echo $this->formRow($taskCard->get('rate2')); ?>
                                    <strong class="input-group-addon"><?php echo $companyCurrencySymbol; ?></strong>
                                </div>
                            </td>
                            <td class="clearfix">
                                <p class="visible-xs">Rate 3</p>
                                <div class="input-group">
                                    <?php echo $this->formRow($taskCard->get('rate3')); ?>
                                    <strong class="input-group-addon"><?php echo $companyCurrencySymbol; ?></strong>
                                </div>
                            </td> -->
                            <td class="clearfix">
                                <p class="visible-xs"><?php echo $this->translate("UOM"); ?></p>
                                <select class="form-control show-tick"  id="uom" name="uom" data-live-search="true">
                                    <option value="0" ><?php echo $this->translate('Select a uom') ?></option>
                                    <?php
                                    foreach ($uomList as $value) {
                                        echo '<option value="' . $value['value'] . '">' . $value['text'] . '</option>';
                                    }
                                    ?>
                                </select>
                            </td>
                            <td>
                                <button  type='button' class="add-uprice btn btn-default" title="Add Unit Prices to the Task">
                                    <i class="fa fa-sitemap"></i>
                                </button>
                            </td>
                            <td>
                                <button  type='button' class="edit-modal btn btn-default" title="Select Task Card Task Products">
                                    <i class="fa fa-sitemap"></i>
                                </button>
                            </td>
                            <td>
                                <button type='button' class="add btn btn-default">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <button class="edit btn btn-default hidden" type='button'>
                                    <i class="fa fa-pencil-square-o"></i>
                                </button>
                                <button class="save btn btn-default hidden" type='button'>
                                    <i class="fa fa-floppy-o"></i>
                                </button>
                            </td>
                            <td>
                                <button class="delete disabled btn btn-default" type='button'>
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div><!--table_responsive-->
        </div><!--./col-->
    </div> 
    <!--comment-->
    <div class="row">
        <div class="col-lg-8 col-md-4 col-sm-4"></div>
        <div class="col-lg-4 col-sm-4"><!--button-->
            <div class="text-right">
                <input type='reset' id="reset" value="<?php echo $this->translate("Cancel"); ?>" class='btn btn-default'>
                <button class="btn btn-primary" id="saveTaskCard"><?php echo $this->translate("Save"); ?></button>
            </div>
        </div>
    </div><!--row-->
    <?php echo $this->form()->closeTag(); ?>
</div><!--margin_top-->

<div class="modal fade" id="addProductsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->addTaskCardTaskProducts; ?>
</div>
<div class="modal fade" id="addMultiplePriceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->taskCardMultiplePriceView; ?>
</div>