<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
$(document).ready(function(){
$("#mobile_heading").html("<h3>TaskCards</h3>").addClass('heading');
});
<?php $this->headScript()->captureEnd() ?>

<?php $this->headScript()->appendFile($this->basePath('js/jobs/viewTaskCard.js')); ?>


<!--search-->
<div class="well clearfix well_custom_padding margin_top jobType">
    <form class="task-search" id="task-search" method="post" action="">
        <div class="col-lg-3">
            <label class="remove_weight"><?php echo $this->translate('Search a Task Card') ?></label>
        </div>
        <div class="col-lg-9 xs-search-field">
            <div class=" input-group">
                <input type="text" class="search form-control" id ='task-search-keyword' placeholder="<?php echo $this->translate('Enter Task Card Name or Code') ?>"/>
                <span class="input-group-btn">
                    <button class="btn btn-default search_btn_css" type="submit"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default reset" type="reset"><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </form>
</div>


<!--paginate job card list add in here-->
<div id="task-card-list" class="margin_top">
    <?php echo $this->partial('jobs/task-card/view', array('taskCards' => $this->taskCards, 'paginated' => $this->paginated)); ?>
</div>
