<?php
$companyCurrencySymbol = $this->companyCurrencySymbol;
$taskCard = $this->taskCardForm;
$taskCard->prepare();
$taskCardData = $this->taskCardData;
?>

<?php $this->headScript()->captureStart(); ?>
var companyCurrencySymbol =  <?php echo "'$companyCurrencySymbol'"; ?>;
<?php $this->headScript()->captureEnd(); ?>
<script>
    function goBack() {
        window.history.go(-1);
    }
</script>
<div class="margin_top form-horizontal">
    <?php echo $this->form()->openTag($taskCard); ?>
    <!--data_insert_section-->
    <div class="row">
        <div class="margin_top_normal"><!--style_purpose-->
            <div class="col-lg-5 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Task Card Code') ?><font color="red"> *</font></label>
                <div class="">
                    <?php echo $this->formRow($taskCard->get('taskCardCode')); ?>
                </div>
            </div>

            <div class="col-lg-5 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Task Card Name') ?><font color="red"> *</font></label>
                <div class="">
                    <?php echo $this->formRow($taskCard->get('taskCardName')); ?>
                </div>
            </div>
            
            <div class="col-lg-2 uploadDiv hidden">
                <label class="control-label label_bottom_margin">&nbsp;</label>
                <div class="text-right">
                    <button class="btn btn-primary upload"><?php echo $this->translate('Import Tasks') ?></button>
                </div>
            </div>
            
        </div><!--margin_top-->
    </div><!--row-->


    <!--table-->
    <div class="task-form-container margin_top">
        <div class="well well_heading">
            <h5 class="font_weight addTitle"><?php echo $this->translate('Task Card Tasks') ?></h5>
        </div>

        <div class="col-lg-12 margin_top well well_body" id="taskTable">
            <div class="table table-responsive">
                <!-- <div id="div_overlay" class="overlay"></div> -->
                <table class="task-table table table-striped margin_top_normal table-condensed" id="taskCardTaskTable">
                    <thead>
                        <tr>
                            <th class="" style="width: 20%"><?php echo $this->translate("Task Code"); ?></th>
                            <th class="" style="width: 25%"><?php echo $this->translate("Task Name"); ?></th>
                            <th class="" style="width: 20%"><?php echo $this->translate("UOM"); ?></th>
                            <th class="" style="width: 17%"><?php echo $this->translate("Rates"); ?></th>
                            <th class="" style="width: 18%"><?php echo $this->translate("Products"); ?></th>
                        </tr>
                    </thead>

                    <tbody id="form_row">
                        <?php
                        foreach ($taskCardData['tcTasks'] as $tcTask) {
                            ?>
                            <tr class="">
                                <td id='tCode'><?php echo $tcTask['tcTaskCode']; ?></td>
                                <td id='tName'><?php echo $tcTask['tcTaskName']; ?></td>
                                <td id='tUOM'><?php echo $tcTask['taskUomName']; ?>(<?php echo $tcTask['taskUomAbbr']; ?>)</td>
                                <td>
                                    <?php
                                    if (!empty($tcTask['tcRates'])) {
                                    ?>
                                        <a data-toggle="modal" href='#<?php echo $tcTask['tcTaskCode'] . 'viewRates' ?>'style = "font-size: 18px;" class ='glyphicon glyphicon-expand'></a>
                                        <?php
                                    }
                                    ?>
                                </td>
                                <td>
                                    <?php
                                    if (!empty($tcTask['tcPro'])) {
                                    ?>
                                        <a data-toggle="modal" href='#<?php echo $tcTask['tcTaskCode'] . 'viewSubProducts' ?>'style = "font-size: 18px;" class ='glyphicon glyphicon-expand'></a>
                                        <?php
                                    }
                                    ?>
                                </td>
                            </tr>
                            <?php
                        }
                        ?>
                    </tbody>
                </table>

            </div><!--table_responsive-->
        </div><!--./col-->
    </div> 
    <?php echo $this->form()->closeTag(); ?>

    <div class="col-lg-4 col-sm-4"><!--button-->
        <div class="btn_margin_top ">
            <button id="grnViewBack" onclick="goBack()" class="btn btn-primary"><?php echo $this->translate('Back') ?></button>
        </div>

    </div>
</div><!--margin_top-->

<?php
foreach ($taskCardData['tcTasks'] as $tcTask) {
    if (!empty($tcTask['tcPro'])) {
        ?>
        <div class="modal fade" id='<?php echo $tcTask['tcTaskCode'] . 'viewSubProducts' ?>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4><?php echo $this->translate("Task Card Product Details"); ?></h4>
                    </div>

                    <div class="modal-body">
                        <table class="task-card-product-table table table-striped margin_top_normal table-condensed" id="taskCardTaskProductTable">
                            <thead>
                                <tr>
                                    <th class="" style="width: 45%"><?php echo $this->translate("Item Code"); ?></th>
                                    <th class="" style="width: 45%"><?php echo $this->translate("Item Name"); ?></th>
                                    <th class="" style="width: 35%"><?php echo $this->translate("Quantity"); ?></th>
                                    <th class="" style="width: 35%"><?php echo $this->translate("UOM"); ?></th>
                                </tr>
                            </thead>

                            <tbody id="formRow">
                                <?php
                                foreach ($tcTask['tcPro'] as $tcPro) {
                                    ?>
                                    <tr class="">
                                        <td id='Code'><?php echo $tcPro['tcTaskProductCode']; ?></td>
                                        <td id='Name'><?php echo $tcPro['tcTaskProductName']; ?></td>
                                        <td id='qnty'><?php echo $tcPro['tcTaskProductQnty']; ?></td>
                                        <td id='uom'><?php echo $tcPro['tcTaskProductUom']; ?></td>
                                    </tr>
                                    <?php
                                }
                                ?>
                            </tbody>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
                    </div>
                </div>
            </div>
        </div>

        <?php
    }
}

foreach ($taskCardData['tcTasks'] as $tcTask) {
    if (!empty($tcTask['tcRates'])) {
        ?>
        <div class="modal fade" id='<?php echo $tcTask['tcTaskCode'] . 'viewRates' ?>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4><?php echo $this->translate("Task Card Rates"); ?></h4>
                    </div>

                    <div class="modal-body">
                        <table class="task-card-product-table table table-striped margin_top_normal table-condensed" id="taskCardTaskProductTable">
                            <thead>
                                <tr>
                                    <th class="" style="width: 50%"><?php echo $this->translate("Unit Price"); ?></th>
                                </tr>
                            </thead>

                            <tbody id="formRow">
                                <?php
                                foreach ($tcTask['tcRates'] as $tcRates) {
                                    ?>
                                    <tr class="">
                                        <td id='Code'><?php echo number_format($tcRates,2); ?></td>
                                    </tr>
                                    <?php
                                }
                                ?>
                            </tbody>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
                    </div>
                </div>
            </div>
        </div>

        <?php
    }
}
?>

