<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class=""><?php echo $this->translate('Task Card Code') ?></th>
                <th class=""><?php echo $this->translate('Task Card Name') ?></th>
                <th class="text-center"><?php echo $this->translate('Edit') ?></th>
                <th class="text-center"><?php echo $this->translate('View') ?></th>
                <th class="text-center"><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->taskCards as $tCard) {
                $tCard = (object) $tCard;
                ?>
                <tr data-taskCardID="<?php echo $tCard->taskCardID;?>">
                    <td class="tCode"><?php echo $tCard->taskCardCode; ?></td>
                    <td class="tName"><?php echo $tCard->taskCardName ?></td>
                    <td class="text-center">
                        <a class="edits" href="<?php echo $this->url('taskCard', array('action' => 'edit', 'param1' => $tCard->taskCardID));
                        ?>" id="<?php echo $tCard->taskCardID ?>">
                            <span class="fa fa-pencil-square-o custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center" >
                        <a href="<?php echo $this->url('taskCard', array('action' => 'viewTaskCard', 'param1' => $tCard->taskCardID)); ?>"><span class="piView fa fa-search-plus "></span></a>
                    </td>
                    <td class="text-center" >
                        <a href="#" class="delete">
                            <span class="fa fa-trash-o custom_font_size"></span>
                        </a>
                    </td>
                </tr>
                <?php
            }
            if (count($this->taskCards) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div><!--table_responsive-->

<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->taskCards, 'sliding', array('partial/paginator.phtml', 'taskCard'), array(
        'route' => 'taskCard', 'action' => 'list'
            )
    );
}
?>
