<?php
$form = $this->form;
$form->setAttribute('id', 'create-item-Attribute-form');
?>

<div class="modal-dialog" id="attr-value-add-modal">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title add-header"><?php echo $this->translate('Add values') ?></h4>
      <h4 class="modal-title hidden view-header"><?php echo $this->translate('View values') ?></h4>
    </div>
      
    <div class="modal-body">
      
      <div class="form-group clearfix">
      <?php
      $form->prepare();
      echo $this->form()->openTag($form);
      ?>

        <table>
          <thead>
            <tr>
              <th class="col-lg-6"><?php echo $this->translate('Description')?></th>
              <th class="col-lg-6"><?php echo $this->translate('Uom')?></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody id="attrAddBody">
            <tr class="sample-body hidden">
              <td><input type="text" class="value-name form-control"></td>
              <td> <?php echo $this->formRow($form->get('itemAttributeUom')); ?></td>
              <td> <button class="btn btn-default value-set-attr"><i class="glyphicon glyphicon-ok remove_font-Weight"></i></button></td>
              <td> <button class="btn value-del-attr hidden"><i class="glyphicon glyphicon-trash remove_font-Weight"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
        <button type="button" class="btn btn-primary item-value-save add-header"><?php echo $this->translate('Save changes') ?></button>
    </div>
    <?php
      echo $this->form()->closeTag($form);
    ?>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->