<?php
$form = $this->form;
$form->setAttribute('id', 'create-item-Attribute-form');
?>
<div class="form-container margin_top">

    <div class="well well_heading">
        <h5 class="font_weight normal-save"><?php echo $this->translate('Add Item Attribute ') ?></h5>
        <h5 class="font_weight normal-update hidden"><?php echo $this->translate('Update Item Attribute') ?></h5>
    </div>

    <div class="well well_body remove_padding_bottom">

    <?php
    $form->prepare();
    echo $this->form()->openTag($form);
    ?>

        <div class="form-group clearfix">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin">
                    <?php echo $this->translate('Item Attribute Code') ?>
                        <font color="red"> *</font>
                </label>
                <div class="">
                    <?php echo $this->formRow($form->get('itemAttributeCode')); ?>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin">
                    <?php echo $this->translate('Item Attribute Name') ?>
                        <font color="red"> *</font>
                </label>
                <div class="">
                    <?php echo $this->formRow($form->get('itemAttributeName')); ?>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin">
                    <?php echo $this->translate('State') ?>
                </label>
                <div class="">
                    <?php echo $this->formRow($form->get('itemAttributeState')); ?>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin">
                    <?php echo $this->translate('Values') ?>
                </label>
                <div class="">
                    <button data-toggle="modal" href="#addValueModal" id="item-attr-value" class="btn btn-default normal-save"><?php echo $this->translate('Values') ?></button>  
                    <button data-toggle="modal" href="#addValueModal" id="item-attr-value-update" class="btn btn-default normal-update hidden"><?php echo $this->translate('Update Value') ?></button>    
                </div>
            </div>
        </div>

        
 
        
    </div>
    <div class="well well-footer clearfix">
        <div class="form-group margin_top_normal button-set normal-update hidden">
            <div class="col-lg-12 text-right">
                <button type="button" class="btn btn-primary add-item-attr"><?php echo $this->translate('Update') ?></button>
                <button type="reset" class="btn btn-default reset"><?php echo $this->translate('Cancel') ?></button>
            </div>
        </div>

        <div class="form-group margin_top_normal button-set normal-save">
            <div class="col-lg-12 text-right">
                <button type="button" class="btn btn-primary add-item-attr"><?php echo $this->translate('Add New') ?></button>
                <button type="reset" class="btn btn-default reset"><?php echo $this->translate('Reset') ?></button>
            </div>
        </div>
    </div>
</div>

<?php
    echo $this->form()->closeTag($form);
?>

<!--search-->
<div class="well clearfix well_custom_padding margin_top ">
    <form class="item-attr-search" id="item-attr-search" method="post" action="">
        <div class="col-lg-3">
            <label class="remove_weight"><?php echo $this->translate('Search a Item Attribute') ?></label>
        </div>
        <div class="col-lg-9 xs-search-field">
            <div class=" input-group">
                <input type="text" class="search form-control" id ='item-attr-search-keyword' placeholder="<?php echo $this->translate('Enter Item Attrinute') ?>"/>
                <span class="input-group-btn">
                    <button class="btn btn-default search_btn_css item-attr-search"  type="submit"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default reset item-attr-search-reset" type="reset"><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </form>
</div>

<!--paginate list add in here-->
<div id="item-attr-search-result" class="margin_top">
    <div id="item-attr-list" class="margin_top">
        <?php echo $this->partial('settings/item-attribute/list', array('itemAttrList' => $this->attributeList, 'paginated' => $this->paginated)); ?>
    </div>
</div>



<div class="modal fade" id="addValueModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <?php echo $this->itemAttrValue; ?>
</div>
