<div class="table-responsive">
    <table class="table table-striped" id="item-attr-list-view">
    <?php
       
       ?>
        <thead>
            <tr>
                <th><?php echo $this->translate('Item Attribute Code') ?></th>
                <th><?php echo $this->translate('Item Attribute Name') ?></th>
                <th class="text-center" ><?php echo $this->translate('Edit') ?></th>
                <th class="text-center" ><?php echo $this->translate('Active') ?></th>
                <th class="text-center" ><?php echo $this->translate('Delete') ?></th>
                <th class="text-center" ><?php echo $this->translate('View') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->itemAttrList as $loo) {
                $loo = (object) $loo;
               
                ?>
                <tr data-itemAttrId="<?php echo $loo->itemAttributeID; ?>">
                    <td class="itemAttrCode"><?php echo $loo->itemAttributeCode; ?></td>
                    <td class="itemAttrName"><?php echo $loo->itemAttributeName ?></td>
                    <td class="text-center">
                        <a class="edit">
                            <span class="fa fa-pencil-square-o custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center">
                    	<?php if($loo->itemAttributeID != 1){?>
                        	<a class="status">
                            	<span class="<?php echo ($loo->itemAttributeState == '1') ? 'fa fa-check-square-o' : 'fa fa-square-o '; ?> custom_font_size"></span>
                        	</a>
                        <?php }?>
                    </td>
                    <td class="text-center" >
                    	<?php if($loo->itemAttributeID != 1){?>
                        	<a class="delete">
                            	<span class="fa fa-trash-o custom_font_size"></span>
                        	</a>
                        <?php }?>
                    </td>
                    <td class="text-center">
                        <a class="view">
                            <span class="glyphicon glyphicon-align-justify custom_font_size"></span>
                        </a>
                    </td>
                </tr>
                <?php
            }
            if (count($this->itemAttrList) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div><!--table_responsive-->

<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->itemAttrList, 'sliding', array('partial/paginator.phtml', 'itemAttribute'), array(
        'route' => 'item-attributes', 'action' => 'index'
            )
    );
}
?>
