<!--table-->
<div class="table table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('Code') ?></th>
                <th><?php echo $this->translate('First Name') ?></th>
                <th><?php echo $this->translate('Last Name') ?></th>
                <th><?php echo $this->translate('ID No') ?></th>
                <th><?php echo $this->translate('Address') ?></th>
                <th><?php echo $this->translate('Mobile No') ?></th>
                <th><?php echo $this->translate('Email') ?></th>
                <th><?php echo $this->translate('Department') ?></th>
                <th><?php echo $this->translate('Designation') ?></th>
                <th class="text-center" ><?php echo $this->translate('Edit') ?></th>
                <th class="text-center" ><?php echo $this->translate('Active') ?></th>
                <th class="text-center" ><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->employees as $employee) {
                $employee = (object) $employee;
                ?>
                <tr data-employee-id="<?php echo $employee->employeeID; ?>" data-entity-id="<?php echo $employee->entityID; ?>" data-employee-first-name="<?php echo $employee->employeeFirstName; ?>" data-employee-last-name="<?php echo $employee->employeeSecondName; ?>" data-employee-address="<?php echo $employee->employeeAddress; ?>"  data-employee-employee-tp="<?php echo $employee->employeeTP; ?>" data-employee-email="<?php echo $employee->employeeEmail; ?>" data-employee-id-no="<?php echo $employee->employeeIDNo; ?>" data-employee-code="<?php echo $employee->employeeCode; ?>" data-employee-status="<?php echo $employee->employeeStatus; ?>" data-employee-department-id="<?php echo $employee->departmentID; ?>">
                    <td class="employeeCode"><?php echo $employee->employeeCode; ?></td>
                    <td class="employeeFirstName"><?php echo $employee->employeeFirstName; ?></td>
                    <td class="employeeSecondName"><?php echo $employee->employeeSecondName; ?></td>
                    <td class="employeeIDNo"><?php echo $employee->employeeIDNo; ?></td>
                    <td class="employeeAddress"><?php echo $employee->employeeAddress; ?></td>
                    <td class="employeeTP"><?php echo ($employee->employeeTP) ? $employee->employeeTP : '--'; ?></td>
                    <td class="employeeEmail"><?php echo ($employee->employeeEmail) ? $employee->employeeEmail : '--'; ?></td>
                    <td class="departmentCode"><?php echo $employee->departmentCode.'-'.$employee->departmentName; ?></td>
                    <td class="text-center">
                        <a href="#" class="glyphicon glyphicon-expand custom_font_size designation-view employee-action" data-toggle="modal" data-action="view"></a>
                    </td>
                    <td class="text-center">
                        <a href="#" class="edit employee-action" data-action="edit">
                            <span class="fa fa-pencil-square-o custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="#" class="status employee-action" data-action="status">
                            <span class="<?php echo ($employee->employeeStatus == '1') ? 'fa fa-check-square-o' : 'fa fa-square-o '; ?> custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="#" class="delete employee-action" data-action="delete">
                            <span class="fa fa-trash-o custom_font_size"></span>
                        </a>
                    </td>
                </tr>
                <?php
            }
            if (count($this->employees) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div>
<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->employees, 'sliding', array('partial/paginator.phtml', 'employees'), array(
        'route' => 'employees', 'action' => 'create'
            )
    );
}
?>

