<div class="groups-form-container margin_top">

    <div class="well well_heading">
        <h5><?php echo $this->translate('Year End Closing') ?></h5>
    </div>

    <div class="well well_body">

        <?php
        $form = $this->yearEndClosingForm;
        $form->setAttribute('id', 'create-finance-groups-form');

        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formHidden($form->get('entityID'));
        ?>

        <!--fiscal period-->
        <div class="form-group">
            <div class="col-lg-3">
                <label class="control-label label_bottom_margin" for="financeGroupsName"><?php echo $this->translate('Select the period')?><font color="red"> *</font></label>
            </div>
            <div class="col-lg-6">
                <?php echo $this->formRow($form->get('fiscalPeriod')); ?>
            </div>
        </div>

        <?php
            echo $this->form()->closeTag($form);
        ?>
        <br>
        <div class="row hidden" id="processSection">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><?php echo $this->translate('Step : 1') ?></div>
                    <div class="panel-body" style=" height: 250px;">
                        <div class="form-group">
                            <h4><?php echo $this->translate('Year End Closing Process Step 1.') ?></h4>
                        </div>
                        <div class="form-group">
                            <span class="help-block" id="step-one-status"></span>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <button type="button" id="processStepOne" class="btn btn-primary" style=": right"><?php echo $this->translate('Proceed Step 1') ?></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><?php echo $this->translate('Step : 2') ?></div>
                    <div class="panel-body" style=" height: 250px;">
                        <div class="form-group">
                            <h4><?php echo $this->translate('Year End Closing Process Step 2.') ?></h4>
                        </div>
                        <div class="form-group">
                            <span class="help-block" id="step-two-status"></span>
                        </div>
                        <div>
                            <div >
                                <label for="financeGroupsShortName"><?php echo $this->translate('Year end closing temporary Account') ?><font color="red"> *</font></label>
                            </div>
                            <div>
                                <?php echo $this->formRow($form->get('yearEndClosingAc')); ?>
                            </div>
                        </div>
                        <br>
                        <div>
                            <div >
                                <label  for="financeGroupTypesID"><?php echo $this->translate('Retained earnings Account') ?><font color="red"> *</font></label>
                            </div>
                            <div>
                                <?php echo $this->formRow($form->get('retainedEarningAc')); ?>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <button type="button" id="processStepTwo" class="btn btn-primary" style=": right"><?php echo $this->translate('Proceed Step 2') ?></button>
                    </div>
                </div>
            </div>
        </div>


    </div><!--well-->
</div><!--finance_groups_form_container-->

<div class="modal fade" id="yearEndClosingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><?php echo $this->translate("Notice") ?></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id ="process-one-msg" class="hidden">
            <?php echo $this->translate("This Process One could not be reverse. Do you need to start process one") ?>?
        </div>
        <div id ="process-two-msg" class="hidden">
            <?php echo $this->translate("This Process Two could not be reverse. Do you need to start process one") ?>?
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><?php echo $this->translate("No") ?></button>
        <button type="button" class="btn btn-primary hidden" id="start-process-one"><?php echo $this->translate("Process") ?></button>
        <button type="button" class="btn btn-primary hidden" id="start-process-two"><?php echo $this->translate("Process") ?></button>
      </div>
    </div>
  </div>
</div>