<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
<?php $this->headScript()->captureEnd() ?>

<?php $this->headScript()->appendFile($this->basePath('js/settings/tax.js')); ?>

<?php
$tax_form = $this->tx_form;
$tax_form->prepare();
?>
<div class="row">

    <!-- Tax form begin -->
    <?Php // echo $this->form()->openTag($tax_form); ?>

    <div class="form-horizontal">
        <!-- Company tax details-->
        <div>
            <h3 class="no_top_margin tax_heading font_weight"><?php echo $this->translate('Tax settings') ?></h3>
            <hr class="custom_hr bottom_line">
        </div>

        <div class="tax_page_wrapper">
            <div class="margin_top charge_tax">
                <div class="form-group">
                    <label for="has_tax" class="control-label col-lg-3 col-md-4 col-sm-5">
                        <?php echo $this->translate("Do you charge tax?"); ?>
                        <a class="help_icon_js" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="right" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('SETTINGS_TAX_CHARGE') ?>">
                            <i class="fa fa-question-circle help_icon"></i>
                        </a>
                    </label>
                    <div class="col-lg-9 col-md-8 col-sm-7">
                        <div class="tax_setting_margin_top">
                            <?php echo $this->formRadio($tax_form->get('has_tax')); ?>
                        </div>
                    </div>
                </div>
            </div>

            <!-- tax_registration -->
            <div class="form-group to_hide margin_top">
                <form method="POST" id="taxRegister">
                    <label for="tax_reg" class="col-lg-3 col-md-4 col-sm-12 control-label">
                        <?php echo $this->translate("Tax Registration Number"); ?>
                    </label>
                    <div class="col-lg-8 col-md-6 col-sm-9 col-xs-9 make-full-width">
                        <input type="hidden" id="oldTaxRID" value="<?php echo $this->oldTrNumber ?>">
                        <?php echo $this->formRow($tax_form->get('tax_reg')); ?>
                    </div>
                    <div class="col-lg-1 col-md-2 col-sm-3 col-xs-3 make-full-width">
                        <input type="submit" id="saveTaxRegNumber" class="btn btn-primary make-full-width btn-block" value="<?php echo $this->translate("Save"); ?>">
                    </div>
                </form>
            </div>
        </div>

        <div id="taxpage" class="margin_top">
            <!-- Tax details -->
            <form id="addTax">
                <div id="detail_tax_edit" class="panel panel-default to_hide">

                    <div class="panel-heading">
                        <b><?php echo $this->translate("Add a new tax"); ?></b>
                    </div><!--./panel-heading-->

                    <div class="panel-body">
                        <div class="form-group">
                            <label for="tax_name" class="col-lg-3 col-md-4 control-label">
                                <?php echo $this->translate("Tax name"); ?>
                                <font color="red"> *</font>
                            </label>
                            <div class="col-lg-9 col-md-8">
                                <?php echo $this->formRow($tax_form->get('tax_id')); ?>
                                <?php echo $this->formRow($tax_form->get('taxName')); ?>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="amount" class="col-lg-3 col-md-4 control-label">
                                <?php echo $this->translate("Percentage (%)"); ?>
                                <font color="red"> *</font>
                            </label>
                            <div class="col-lg-9 col-md-8">
                                <?php echo $this->formRow($tax_form->get('taxPrecentage')); ?>
                            </div>
                        </div>

                        <?php if($this->useAccounting == 1){?>
                        <div class="form-group">
                            <label for="taxSalesAccountID" class="col-lg-3 col-md-4 control-label">
                                <?php echo $this->translate("Sales Account"); ?>
                            </label>
                            <div class="col-lg-9 col-md-8">
                                <?php echo $this->formRow($tax_form->get('taxSalesAccountID')); ?>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="taxPurchaseAccountID" class="col-lg-3 col-md-4 control-label">
                                <?php echo $this->translate("Purchase Account"); ?>
                            </label>
                            <div class="col-lg-9 col-md-8">
                                <?php echo $this->formRow($tax_form->get('taxPurchaseAccountID')); ?>
                            </div>
                        </div>
                        <?php }?>

                        <!-- compound tax data -->
                        <div class="_row_with_margin">
                            <div class="col-lg-9 col-lg-offset-3 col-md-8 col-md-offset-4">
                                <div id="compund_taxes" class="<?php echo (!isset($taxes)) ? 'hide' : null; ?> form-group">
                                    <!--check_box-->
                                    <div id="is_compound">
                                        <label class="control-label col-lg-4 col-md-5 col-sm-5">
                                            <span class="margin_right">
                                                <?php echo $this->formRow($tax_form->get('taxType')); ?>
                                            </span>
                                            <?php echo $this->translate('This is a compound tax'); ?>
                                        </label>
                                    </div>

                                    <div id="tax_list" class="hidden col-lg-8 col-md-7 col-sm-7">
                                        <div class="tax_setting_margin_top combound_tax_box">
                                            <label class="control-labels tax_margin_top">
                                                <?php echo $this->translate('On which tax are you going to charge '); ?>
                                                <span id="taxName"></span>
                                                <span> ?</span>
                                            </label>

                                            <div class=""><!--taxes_items-->
                                                <div id="vd_tax" class="col-lg-3 remove_left_padding">
                                                    <?php
                                                    if (isset($cmp_tx)) {
                                                        echo $this->formMultiCheckbox($tax_form->get('compoundTax'));
                                                    }
                                                    ?>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--/.col-->
                                </div>
                            </div>
                        </div>

                        <!-- tax suspendable -->
                        <div class="_row_with_margin">
                            <div class="col-lg-9 col-lg-offset-3 col-md-8 col-md-offset-4">
                                <div id="suspendable_taxes" class="form-group">
                                    <!--check_box-->
                                    <div id="is_suspendable">
                                        <label class="control-label col-lg-4 col-md-5 col-sm-5">
                                            <span class="margin_right">
                                                <?php echo $this->formRow($tax_form->get('taxSuspendable')); ?>
                                            </span>
                                            <?php echo $this->translate('Suspendable'); ?>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div><!--./panel-body-->

                    <div class="panel-footer clearfix">
                        <div class="to_hide tax_button pull-right make-full-width xs-no-margin">
                            <input type="submit" id="saveTax" class="btn btn-primary make-full-width" value="<?php echo $this->translate("Add Tax"); ?>">
                            <a href="#" id="cancelTax" class="btn btn-default make-full-width xs-no-margin"><?php echo $this->translate("Cancel"); ?></a>
                        </div>
                    </div>

                </div><!--panel-->
            </form>

            <div id="taxList" class="margin_top">
                <?php
                if (isset($this->taxList)):
                    echo $this->taxList;
                endif;
                ?>
            </div>
        </div>

    </div><!--form-horizontal-->
    <?php // echo $this->form()->closeTag(); ?><!-- Tax form end -->

</div><!--row-->


<div class="modal fade tax_delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><?php echo $this->translate('Delete') ?></h4>
            </div>
            <div class="modal-body">
                <p><?php echo $this->translate('Are You Sure to Delete this Tax?') ?></p>
            </div>
            <div class="modal-footer">
                <button id="delete" type="button" class="btn btn-primary"><?php echo $this->translate('Delete') ?></button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>