<div class="table table-responsive to_hide margin_top">
    <table id='tax_tbl' class="margin_bottom table table-striped  <?php echo (!isset($taxes)) ? 'hide' : null; ?> ">
        <thead>
            <tr>
                <th><?php echo $this->translate("Tax Name"); ?></th>
                <th><?php echo $this->translate("Type"); ?></th>
                <th><?php echo $this->translate("Percentage (%)"); ?></th>
                <th><?php echo $this->translate("Status"); ?></th>
                <th class="text-center" ><?php echo $this->translate("Edit"); ?></th>
                <th class="text-center" ><?php echo $this->translate("Inactive/Active"); ?></th>
                <th class="text-center" ><?php echo $this->translate("Delete"); ?></th>
            </tr>
        </thead>
        <tbody id='tax_row'>
            <?php
            if ($taxes) {
                foreach ($taxes as $row) {
                    $state = $row['state'];
                    $stateName = NULL;
                    $style = NULL;
                    if ($state == 1) {
                        $style = "label label-success";
                        $stateName = 'Active';
                    } else {
                        $style = "label label-danger";
                        $stateName = 'Inactive';
                    }
                    ?>
                    <tr id="row_<?php echo $row['taxID']; ?>">
                        <td id="name"><?php echo strtoupper($row['taxName']); ?></td>
                        <td id="type"><?php echo ($row['taxType'] == "v" ? 'Value added' : 'Compound'); ?></td>
                        <td class="" id="value" class=""><?php echo $row['taxPrecentage']; ?></td>
                        <td class="" id="state"><span id="<?php echo $row['taxID']; ?>" class="taxState <?php echo $style; ?>"><?php echo $stateName; ?></span></td>
                        <td class="text-center">
                            <a onclick="editTax(<?php echo $row['taxID']; ?>)" class="pointer">
                                <span class="fa fa-pencil-square-o custom_font_size edit">
                                </span>
                            </a>
                        </td>
                        <td class="text-center">
                            <a onclick="inactiveTax(<?php echo $row['taxID']; ?>)" class="pointer">
                                <span id="<?php echo $row['taxID']; ?>-inactive" class="fa fa-<?php echo ($state == 1) ? 'check-' : '' ?>square-o"></span>
                            </a>
                        </td>
                        <td class="text-center">
                            <a class="pointer" onclick="deleteTax(<?php echo $row['taxID']; ?>, '<?php echo $row['taxName']; ?>')">
                                <span class="fa fa-trash-o custom_font_size delete"></span>
                            </a>
                        </td>
                    </tr>
                    <?php
                }
            }
            ?>
        </tbody>
    </table>
</div>