<?php if ($refNotSet) { ?>
    <script>
        $(function () {
            $('#refNotSet').modal('show');
        });
    </script>
<?php } ?>

<div class="journal-entry-form-container margin_top">
    <?php
        $form = $this->journalEntryForm;
        $form->setAttribute('id', 'create-journal-entry-form');

        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formHidden($form->get('journalEntryID'));
        echo $this->formHidden($form->get('entityID'));
    ?>

    <div class="row">
        <!-- Journal Entry No -->
        <div class="col-lg-5">
            <div class="form-group">
                <div class="col-lg-5">
                    <label class="control-label label_bottom_margin" for="journalEntryCode">
                        <?php echo $this->translate('Journal Entry No')?>
                        <font color="red"> *</font>
                    </label>
                </div>

                <div class="col-lg-7">
                    <?php echo $this->formRow($form->get('journalEntryCode')); ?>
                </div>
            </div>
        </div>

        <!-- Journal Entry Type -->
        <div class="col-lg-5 col-lg-offset-2">
            <div class="form-group">
                <div class="col-lg-5">
                    <label class="control-label label_bottom_margin" for="journalEntryTypeID">
                        <?php echo $this->translate('Journal Entry Type')?>
                    </label>
                </div>

                <div class="col-lg-7">
                    <?php echo $this->formRow($form->get('journalEntryTypeID')); ?>
                </div>
            </div>
        </div>
    </div><!-- ./row -->

    <div class="row">
        <!--journalEntryDate-->
        <div class="col-lg-5">
            <div class="form-group">
                <div class="col-lg-5">
                    <label class="control-label label_bottom_margin" for="journalEntryDate">
                        <?php echo $this->translate('Date')?>
                        <font color="red"> *</font>
                    </label>
                </div>

                <div class="col-lg-7">
                    <?php echo $this->formRow($form->get('journalEntryDate')); ?>
                </div>
            </div>
        </div>

        <div class="col-lg-5 col-lg-offset-2">
            <div class="checkbox">
                <label class="control-label label_bottom_margin" for="journalEntryIsReverse">
                    <?php echo $this->formRow($form->get('journalEntryIsReverse')); ?>
                    <?php echo $this->translate('Reverse Entry')?>
                </label>
            </div>
        </div>
    </div><!-- ./row -->

    <div class="row">
        <!--journalEntryDate-->
        <div class="col-lg-5">
            
        </div>

        <div class="col-lg-5 col-lg-offset-2">
            <div class="checkbox">
                <label class="control-label label_bottom_margin" for="journalEntryTemplateStatus">
                    <?php echo $this->formRow($form->get('journalEntryTemplateStatus')); ?>
                    <?php echo $this->translate('Save as Template')?>
                </label>
            </div>
        </div>
    </div><!-- ./row -->

    <div class="row">
        <div class="col-lg-5">
            
        </div>

        <div class="col-lg-5 col-lg-offset-2">
            <div class="checkbox">
                <label class="control-label label_bottom_margin" for="journalEntryForOpeningBalance">
                    <?php echo $this->formRow($form->get('journalEntryForOpeningBalance')); ?>
                    <?php echo $this->translate('Save as Opening Balance Template')?>
                </label>
            </div>
        </div>
    </div><!-- ./row -->
    <br>
    <div class="row">
        <!-- Journal Entry No -->
        <div class="col-lg-5">
            
        </div>

        <!-- Journal Entry Type -->
        <div class="col-lg-5 col-lg-offset-2">
            <div class="form-group">
                <div class="col-lg-5">
                    <label for="dimensionType" class=" control-label">
                        <?php echo $this->translate('Dimension'); ?>
                    </label>
                </div>

                <div class="col-lg-7">
                     <a data-toggle="modal" id="dimensionView" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></a>
                </div>
            </div>
        </div>
    </div><!-- ./row -->

    

        <div class="row">
        	<div class="table">
        		<div id="journalEntryAddOverlay" class="">
        		<table class="journalEntryTable table  table-striped margin_top_normal table-condensed" id="journalEntryTable">
        			<thead>
        				<tr>
        					<th><?php echo $this->translate("Account"); ?></th>
        					<!-- <th><?php echo $this->translate("Ref1"); ?></th> -->
        					<th><?php echo $this->translate("Debit"); ?></th>
        					<th><?php echo $this->translate("Credit"); ?></th>
        					<th><?php echo $this->translate("Memo"); ?></th>
        					<th></th>
        					<th></th>
        				</tr>
        			</thead>


    			<tbody id="journal-entry-body">
    				<?php
        				$form1 = $this->journalEntryAccountsForm;
        				$form1->prepare();
        				echo $this->form()->openTag($form1);
    				?>

        				<tr id='preSetSample' class="hidden">

        					<td style="width: 22%" id="ACCode"> <?php echo $this->formRow($form1->get('financeAccountsID')); ?></td>
        					<!-- <td style="width: 12%"id="Group"> <?php echo $this->formRow($form1->get('financeGroupsID')); ?></td> -->
        					<td id="Group"> <?php echo $this->formRow($form1->get('journalEntryAccountsDebitAmount')); ?></td>
        					<td id="Group"> <?php echo $this->formRow($form1->get('journalEntryAccountsCreditAmount')); ?></td>
        					<td id="Group"> <?php echo $this->formRow($form1->get('journalEntryAccountsMemo')); ?></td>
        					<td>
        						<button type='button' class="save btn btn-default">
                                	<i class="fa fa-plus"></i>
                            	</button>
                            	<button class="edit btn btn-default hidden" type='button'>
                                	<i class="fa fa-pencil-square-o"></i>
                            	</button>
                            	<button class="update btn btn-default hidden" type='button'>
                                	<i class="fa fa-floppy-o"></i>
                            	</button>
        					</td>
        					<td>
        						<button class="delete disabled btn btn-default" type='button'>
                                    <i class="fa fa-trash-o"></i>
                                </button>
        					</td>
        				</tr>

        				<?php
        				$journalEntryAccounts = $this->journalEntryAccounts;
        				 if(count($journalEntryAccounts) > 0){
        				 	foreach ($journalEntryAccounts as $key => $value) {
        				 		$financeAccountsID = $value['financeAccountsID'];
        				 		$financeAccountsName = $value['financeAccountsCodeAndName'];
        				 		$financeGroupsID = $value['financeGroupsID'];
        				 		$financeGroupsName = $value['financeGroupsName'];
        				 		$journalEntryAccountsDebitAmount =  $value['journalEntryAccountsDebitAmount'];
        				 		$journalEntryAccountsCreditAmount = $value['journalEntryAccountsCreditAmount'];
        				 		$journalEntryAccountsMemo = $value['journalEntryAccountsMemo'];
        				 		?>
        				 		<tr class="add-row">
        				 			<td style="width: 22%" id="ACCode"> <?php echo $this->formRow($form1->get('financeAccountsID')->setAttribute('data-id',$financeAccountsID)->setAttribute('data-value',$financeAccountsName)); ?></td>
        				 			<!-- <td style="width: 12%"id="Group"> <?php echo $this->formRow($form1->get('financeGroupsID')->setAttribute('data-id',$financeGroupsID)->setAttribute('data-value',$financeGroupsName)); ?></td> -->
        				 			<td id="Group"> <?php echo $this->formRow($form1->get('journalEntryAccountsDebitAmount')->setValue($journalEntryAccountsDebitAmount)->setAttribute('disabled',true)); ?></td>
        				 			<td id="Group"> <?php echo $this->formRow($form1->get('journalEntryAccountsCreditAmount')->setValue($journalEntryAccountsCreditAmount)->setAttribute('disabled',true)); ?></td>
        				 			<td id="Group"> <?php echo $this->formRow($form1->get('journalEntryAccountsMemo')->setValue($journalEntryAccountsMemo)->setAttribute('disabled',true)); ?></td>
        				 			<td>
        				 				<button type='button' class="save btn btn-default hidden">
        				 					<i class="fa fa-plus"></i>
        				 				</button>
        				 				<button class="edit btn btn-default " type='button'>
        				 					<i class="fa fa-pencil-square-o"></i>
        				 				</button>
        				 				<button class="update btn btn-default hidden" type='button'>
        				 					<i class="fa fa-floppy-o"></i>
        				 				</button>
        				 			</td>
        				 			<td>
        				 				<button class="delete btn btn-default" type='button'>
        				 					<i class="fa fa-trash-o"></i>
        				 				</button>
        				 			</td>
        				 		</tr>

        				 	<?php }
        				 	 } ?>

    				<?php
    					echo $this->form()->closeTag($form1);
    				?>
    			</tbody>
    		</table>
		</div>
    </div>

    <div class="row">
        <div class="margin_top_normal">
            <div class="col-lg-4">
                <label class="control-label label_bottom_margin" for="journalEntryComment">
                    <?php echo $this->translate('Comment')?>
                </label>
                <?php echo $this->formRow($form->get('journalEntryComment')); ?>
            </div>

            <div class="col-lg-4">
                <label class="control-label label_bottom_margin">&nbsp;</label>
                <div style="margin-top: 19px;">
                    <?php echo $this->formRow($form->get('createJournalEntry')); ?>
                    <?php echo $this->formRow($form->get('createOpeningBalanceJournalEntry')); ?>
                    <?php echo $this->formRow($form->get('cancelJournalEntry')); ?>
                </div>
            </div>
        </div>
    </div>

    <?php
     echo $this->form()->closeTag($form);
    ?>
</div><!--finance_groups_form_container-->

<div class="modal fade" id="refNotSet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $refNotSet; ?>
</div>

<div class="modal fade" id="draftAc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4><?php echo $this->translate("Draft account balance details") ?></h4>
            </div>

            <div class="modal-body">
                <div class="table">
                    <div id="journalEntryAddOverlay" class="">
                        <table class="journalEntryTable table  table-striped margin_top_normal table-condensed" id="journalEntryTable">
                            <thead>
                                <tr>
                                    <th><?php echo $this->translate("Temporary Account"); ?></th>
                                    <th><?php echo $this->translate("Debit"); ?></th>
                                    <th><?php echo $this->translate("Credit"); ?></th>
                                    <th><?php echo $this->translate("Memo"); ?></th>
                                </tr>
                            </thead>

                            <tbody id="journal-entry-body">
                                <tr class="temp_acc">
                                    <td><input type="text" class="tempAc form-control" disabled="true"></td>
                                    <td><input type="text" class="debitAmount form-control" disabled="true"></td>
                                    <td><input type="text" class="creditAmount form-control" disabled="true"></td>
                                    <td>
                                        <textarea style="width: 150px;
height: 40px;" class="memo form-control" disabled="true">
                                        </textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- ./modal-body -->
            <div class="modal-footer">
                <input type="button" data-dismiss="modal" id='close' name='close' class="btn btn-default fromControl" value="<?php echo $this->translate('Close') ?>">
                <input type="button" id="save" class="btn btn-primary fromControl" value="<?php echo $this->translate('Save') ?>">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addDimensionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->dimensionAddView; ?>
</div>
