<div id="journal-entry-list">
	<table class="table table-striped">
		<thead>
			<tr>
				<th class=""><?php echo $this->translate('Journal Entry Code') ?></th>
                <th class=""><?php echo $this->translate('Journal Entry Date') ?></th>
                <th class=""><?php echo $this->translate('Journal Entry Status') ?></th>
                <th class=""><?php echo $this->translate('Journal Entry Comment') ?></th>
                <th class="text-center"><?php echo $this->translate('View') ?></th>
                <th class="text-center"><?php echo $this->translate('Post') ?></th>
                <th class="text-center"><?php echo $this->translate('Delete') ?></th>
			</tr>
		</thead>

		<tbody>
			<?php
			foreach ($this->journalEntry as $key => $journalEntry) {
				if($journalEntry->journalEntryTemplateStatus == 1){
					$style = NULL;
					switch ($journalEntry->journalEntryStatusID) {
						case "7":
						$style = "label label-primary";
						break;
						case "12":
						$style = "label label-success";
						break;
						case "13":
						$style = "label label-warning";
						break;
						default :
						$style = "label label-success";
					}
					?>
					<tr>
						<td><?php echo $journalEntry->journalEntryCode; ?></td>
						<td><?php echo $journalEntry->journalEntryDate; ?></td>
						<td><span class="<?php echo $style; ?>"> <?php echo $statuses[$journalEntry->journalEntryStatusID]; ?></span></td>
						<td> <?php echo $journalEntry->journalEntryComment; ?></td>
						<td class="text-center">
							<a><span onclick="viewJournalEntry(<?php echo $journalEntry->journalEntryID; ?>,<?php echo $journalEntry->journalEntryStatusID; ?>)" class="pointer fa fa-eye custom_font_size"></span></a>
						</td>
						<td class="text-center">
							<?php if ($journalEntry->openingBalanceFlag == "0") { ?>
            					    <a href="/journal-entries/create/<?php echo $journalEntry->journalEntryID; ?>"><span  class="pointer fa fa-envelope custom_font_size"></span></a>
                            <?php } ?>
                    		
                    	</td>
						<td class="text-center">
							<a><span onclick="deleteJournalEntry(<?php echo $journalEntry->journalEntryID; ?>)" class="pointer fa fa-trash-o custom_font_size"></span></a>
						</td>
					</tr>
					<?php
				}
			}
			if (count($this->journalEntry) == 0) {
				?>
				<tr class="not_found">
					<td colspan="6"><?php echo $this->translate('No results were found.'); ?></td>
				</tr>
		<?php } ?>
		</tbody>
	</table>
</div>