<div class='well clearfix well_custom_padding margin_top xs_view'>
   <div class="row">
        <div class="col-lg-3">
        	<label class="remove_weight margin_bottom_normal_low"><?php echo $this->translate('Search Journal Entries Template') ?></label>
        </div>

        <div class="col-lg-9">
            <select class="form-control selectpicker show-tick"  id="journal-entry-template-search" name="journal-entry-template-search" data-live-search="true">
                <option value=""><?php echo $this->translate("Select a Journal Entry Template"); ?></option>
            </select>
        </div>
   </div>
    </br>
    <?php if ($this->openingbalanceJournalEntry > 0) { ?>
       <div class="row postOpeningBalance">
           <div class="col-lg-9"></div>
           <div class="col-lg-3">
               <button type="button" id="postOpeningBalance" class="btn btn-primary"><?php echo $this->translate('Post opening balance journal entries') ?></button>
           </div>
       </div>
    <?php } ?>
</div><!--well-->

<!--table-->
<div class="margin_top">
    <div class="table table-responsive">

        <div id="journal-entry-list">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class=""><?php echo $this->translate('Journal Entry Code') ?></th>
                        <th class=""><?php echo $this->translate('Journal Entry Date') ?></th>
                        <th class=""><?php echo $this->translate('Journal Entry Status') ?></th>
                        <th class=""><?php echo $this->translate('Journal Entry Comment') ?></th>
                        <th class="text-center"><?php echo $this->translate('View') ?></th>
                        <th class="text-center"><?php echo $this->translate('Post') ?></th>
                        <th class="text-center"><?php echo $this->translate('Delete') ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php
                    foreach ($this->journalEntry as $key => $journalEntry) {
                    	if($journalEntry->journalEntryTemplateStatus == 1){
                    		$style = NULL;
                    		switch ($journalEntry->journalEntryStatusID) {
                    			case "7":
                    			$style = "label label-primary";
                    			break;
                    			case "12":
                    			$style = "label label-success";
                    			break;
                    			case "13":
                    			$style = "label label-warning";
                    			break;
                    			default :
                    			$style = "label label-success";
                    		}
                    		?>
                    		<tr>
                    			<td class=""> <?php echo $journalEntry->journalEntryCode; ?></td>
                    			<td> <?php echo $journalEntry->journalEntryDate; ?></td>
                    			<td> <span class="<?php echo $style; ?>"> <?php echo $statuses[$journalEntry->journalEntryStatusID]; ?></span></td>
                    			<td> <?php echo $journalEntry->journalEntryComment; ?></td>
                    			<td class="text-center">
                    				<a><span onclick="viewJournalEntry(<?php echo $journalEntry->journalEntryID; ?>,<?php echo $journalEntry->journalEntryStatusID; ?>)" class="pointer fa fa-eye custom_font_size"></span></a>
                    			</td>
                    			<td class="text-center">
                                    <?php if ($journalEntry->openingBalanceFlag == "0") { ?>
                    				    <a href="/journal-entries/create/<?php echo $journalEntry->journalEntryID; ?>"><span  class="pointer fa fa-envelope custom_font_size"></span></a>
                                    <?php } ?>
                    			</td>
                    			<td class="text-center">
                    				<a><span onclick="deleteJournalEntry(<?php echo $journalEntry->journalEntryID; ?>)" class="pointer fa fa-trash-o custom_font_size"></span></a>
                    			</td>
                    		</tr>
                    		<?php
                    	}
                    }
                    if (count($this->journalEntry) == 0) { ?>
                    	<tr class="not_found">
                    		<td colspan="6"><?php echo $this->translate('No results were found.'); ?></td>
                    	</tr>
                    <?php } ?>
                </tbody>
            </table>

            <?php
            echo $this->paginationControl(
                    $this->journalEntry, 'sliding', array('partial/paginator.phtml', 'journalEntry'), array(
                'route' => 'journal-entries', 'action' => 'journalEntryTemplateList'
                    )
            );
            ?>
        </div>

    </div><!--tabele_responsive-->
    <div id="dynamicJournalEntry"></div>
</div><!--margin_top-->

<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>