<div class='well clearfix well_custom_padding margin_top xs_view table-responsive' >
    
    <div class="form-group">   
        <div class="row">
            <div class="col-lg-2">
                <label class="remove_weight margin_bottom_normal_low"><b><?php echo $this->translate('Load Journal Entries By') ?></b></label>
            </div>

            <div class="col-lg-3">
                <select class="form-control selectpicker show-tick"  id="documentTypes" name="documentTypes" data-live-search="true">
                    <option value=""><?php echo $this->translate('Select a Document Type') ?></option>
                    <?php foreach ($this->documentTypes as $dkey => $documentData) { 
                        ?>
                        <option value="<?php echo $documentData->documentTypeID?>"><?php echo $documentData->documentTypeName ?></option>
                        <?php } ?>
                    </select>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2">
                <input type="text" style="background-color: white" readonly="true" class="span2 datepicker form-control pointer_cursor" id="from-date" data-date-format="<?php echo $this->dateFormat ?>" placeholder="<?php echo $this->dateFormat ?>">
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2">
                <input type="text" style="background-color: white" readonly="true" class="span2 datepicker form-control pointer_cursor" id="to-date" data-date-format="<?php echo $this->dateFormat ?>" placeholder="<?php echo $this->dateFormat ?>">
            </div>

            <div class="col-lg-1 col-md-1 col-sm-2">
                <button class="btn btn-primary" id="filter-button"><?php echo $this->translate('GO') ?></button>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-2">
                <button class="btn btn-danger" id="delete-all-button" class ="del" data-toggle="modal" href = "#delete_journalentries" ><?php echo $this->translate('Delete All') ?></button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-lg-2">
                <label class="remove_weight margin_bottom_normal_low"><b><?php echo $this->translate('Search Journal Entries') ?></b></label>
            </div>

            <div class="col-lg-3">
                <select class="form-control selectpicker show-tick"  id="journal-entry-search" name="journal-entry-search" data-live-search="true">
                    <option value=""><?php echo $this->translate("Select a Journal Entry"); ?></option>
                </select>
            </div>
        </div>
    </div>
</div><!--well-->

<!--table-->
<div class="margin_top" id='journal-entry-lists'>
    <div class="table table-responsive">

        <div id="journal-entry-list">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class=""><?php echo $this->translate('Journal Entry Code') ?></th>
                        <th class=""><?php echo $this->translate('Journal Entry Date') ?></th>
                        <th class=""><?php echo $this->translate('Journal Entry Status') ?></th>
                        <th class=""><?php echo $this->translate('Journal Entry Comment') ?></th>
                        <th class="text-center"><?php echo $this->translate('View') ?></th>
                        <th class="text-center"><?php echo $this->translate('Print View') ?></th>
                        <th class="text-center"><?php echo $this->translate('Delete') ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php
                    foreach ($this->journalEntry as $key => $journalEntry) {
                    	if($journalEntry->journalEntryTemplateStatus != 1){
                    		$style = NULL;
                    		switch ($journalEntry->journalEntryStatusID) {
                    			case "7":
                    			$style = "label label-primary";
                    			break;
                    			case "12":
                    			$style = "label label-success";
                    			break;
                    			case "13":
                    			$style = "label label-warning";
                    			break;
                    			default :
                    			$style = "label label-success";
                    		}
                    		?>
                    		<tr>
                    			<td class=""> <?php echo $journalEntry->journalEntryCode; ?></td>
                    			<td> <?php echo $journalEntry->journalEntryDate; ?></td>
                    			<td> <span class="<?php echo $style; ?>"> <?php echo $statuses[$journalEntry->journalEntryStatusID]; ?></span></td>
                    			<td> <?php echo $journalEntry->journalEntryComment; ?></td>
                    			<td class="text-center">
                    				<a><span onclick="viewJournalEntry(<?php echo $journalEntry->journalEntryID; ?>,<?php echo $journalEntry->journalEntryStatusID; ?>)" class="pointer fa fa-eye custom_font_size"></span></a>
                    			</td>
                                <td class="text-center">
                                    <span class="journal-entry-preview link_color" style="cursor:pointer" data-href="<?php echo $this->url('journal-entries', array('action' => 'documentPreview', 'param1' => $journalEntry->journalEntryID)); ?>">
                                        <span id="<?php echo $journalEntry->journalEntryID; ?>" class="pointer fa fa-eye custom_font_size"></span>
                                    </span>
                                </td>
                                <td class="text-center">
                    				<?php if($journalEntry->journalEntryStatusID != 7){?>
                    				<a><span onclick="deleteJournalEntry(<?php echo $journalEntry->journalEntryID; ?>)" class="pointer fa fa-trash-o custom_font_size"></span></a>
                    				<?php }?>
                    			</td>
                    		</tr>
                    		<?php
                    	}
                    }
                    if (count($this->journalEntry) == 0) { ?>
                    	<tr class="not_found">
                    		<td colspan="6"><?php echo $this->translate('No results were found.'); ?></td>
                    	</tr>
                    <?php } ?>
                </tbody>
            </table>

            <?php
            echo $this->paginationControl(
                    $this->journalEntry, 'sliding', array('partial/paginator.phtml', 'journalEntry'), array(
                'route' => 'journal-entries', 'action' => 'list'
                    )
            );
            ?>
        </div>

    </div><!--tabele_responsive-->
    <div id="dynamicJournalEntry"></div>
</div><!--margin_top-->

<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>

<div class="modal fade" id="delete_journalentries" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4><?php echo $this->translate('Journal Entries Delete Confirmation') ?></h4>
            </div>

            <div class="modal-body rm_modal_body_bpa">

                <div class="form-group">
                    <p class="modal_para"><?php echo $this->translate('Please enter the Administrator account Username and Password to continue') ?></p>
                </div>

                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-4 control-label"><?php echo $this->translate('Username') ?><font color="red"> *</font></label>
                        <div class="col-lg-6">
                            <input type="text" id="username" class="form-control" placeholder="<?php echo $this->translate('Username') ?>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label"><?php echo $this->translate('Password') ?><font color="red"> *</font></label>
                        <div class="col-lg-6">
                            <input type="password" id="password" class="form-control" placeholder="<?php echo $this->translate('Password') ?>">
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Cancel') ?></button>
                <button id="delete-journal-entries-button" class="btn btn-primary"><?php echo $this->translate('Delete Journal Entries') ?></button>
            </div>

        </div>
    </div>
</div><!--modal-->