<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate("Journal Entry View") ?></h4>
        </div>

        <div class="modal-body">
            <?php $journalEntry = $this->journalEntry; ?>

            <?php if(count($journalEntry['journalEntryAccounts']) >0){?>

            <div class="form-horizontal">

            	<!--journalEntryDate-->
            	<div class="form-group">
            		<label class="control-label label_bottom_margin col-lg-4" for="journalEntryDate">
            			<?php echo $this->translate('Date')?><font color="red"> *</font>
            		</label>

            		<div class="col-lg-8">
            			<input type='text' class="form-control" readonly="true" value="<?php echo $journalEntry['journalEntryDate'] ?>">
            		</div>
            	</div>

            	<!-- journalEntryCode -->
            	<div class="form-group">
            		<div class="col-lg-4">
            			<label class="control-label label_bottom_margin" for="journalEntryCode"><?php echo $this->translate('Journal Entry No')?><font color="red"> *</font></label>
            		</div>

            		<div class="col-lg-8">
            			<input type='text' class="form-control" readonly="true" value="<?php echo $journalEntry['journalEntryCode'] ?>">
            		</div>
            	</div>

            	<!-- comment -->
            	<?php if ($journalEntry['journalEntryComment'] !== '') { ?>
            	<div class="form-group">
            		<div class="col-lg-4">
            			<label class="control-label label_bottom_margin" for="journalEntryComment"><?php echo $this->translate('Comment')?></label>
            		</div>

            		<div class="col-lg-8">
            			<textarea readonly="true" class="form-control"><?php echo $journalEntry['journalEntryComment'] ?></textarea>
            		</div>
            	</div>
            	<?php } ?>


            </div><!-- ./form-horizontal -->

            <div class="table">
            	<div id="journalEntryAddOverlay" class="">
            		<table class="journalEntryTable table  table-striped margin_top_normal table-condensed" id="journalEntryTable">
            			<thead>
            				<tr>
            					<th><?php echo $this->translate("AC Code"); ?></th>
            					<th><?php echo $this->translate("AC Name"); ?></th>
            					<th><?php echo $this->translate("Debit"); ?></th>
            					<th><?php echo $this->translate("Credit"); ?></th>
            					<th><?php echo $this->translate("Memo"); ?></th>
            				</tr>
            			</thead>

            			<tbody id="journal-entry-body">
            				<?php foreach ($journalEntry['journalEntryAccounts'] as $key => $value){

                                $creVal = explode(".",floatval($value['journalEntryAccountsCreditAmount']));
                                $debVal = explode(".",floatval($value['journalEntryAccountsDebitAmount']));
                                $useCreditToolTip = false;
                                $useDebitToolTip = false;

                                if (sizeof($creVal) == 2) {
                                    $numOfDecimals = strlen($creVal[1]);
                                    if ($numOfDecimals > 2)  {
                                        $useCreditToolTip = true;
                                        $creDeci = substr($creVal[1], 0, 2).'....';
                                        $formattedCreditVal = $creVal[0].'.'.$creDeci;
                                    } else {
                                        $formattedCreditVal = floatval($value['journalEntryAccountsCreditAmount']);
                                    }
                                } else {
                                    $formattedCreditVal = floatval($value['journalEntryAccountsCreditAmount']).'.'.'00';
                                }


                                if (sizeof($debVal) == 2) {
                                    $numOfDecimals = strlen($debVal[1]);
                                    if ($numOfDecimals > 2)  {
                                        $useDebitToolTip = true;
                                        $debDeci = substr($debVal[1], 0, 2).'....';
                                        $formattedDebitVal = $debVal[0].'.'.$debDeci;
                                    } else {
                                        $formattedDebitVal = floatval($value['journalEntryAccountsDebitAmount']);
                                    }
                                } else {
                                    $formattedDebitVal = floatval($value['journalEntryAccountsDebitAmount']).'.'.'00';
                                }


                             ?>
            				<tr>
            					<td id="ACCode"> <?php echo $value['financeAccountsCode']; ?></td>
            					<td id="ACName"> <?php echo $value['financeAccountsName']; ?></td>
            					<!-- <td id="DebitAmount"> <?php echo floatval($value['journalEntryAccountsDebitAmount']); ?></td> -->

                                <?php if ($useDebitToolTip) { ?>
                                    <td id="DebitAmount" data-toggle="tooltip" title="<?php echo floatval($value['journalEntryAccountsDebitAmount'])?>"> <?php echo $formattedDebitVal; ?></td>
                                <?php } else { ?>
                                    <td id="DebitAmount"> <?php echo $formattedDebitVal; ?></td>
                                <?php } ?>

                                <?php if ($useCreditToolTip) { ?>
                					<td id="CreditAmount" data-toggle="tooltip" title="<?php echo floatval($value['journalEntryAccountsCreditAmount'])?>"> <?php echo $formattedCreditVal; ?></td>
                                <?php } else { ?>
                                    <td id="CreditAmount"> <?php echo $formattedCreditVal; ?></td>
                                <?php } ?>
            					<td id="Memo"> <?php echo $value['journalEntryAccountsMemo']; ?></td>
            				</tr>
            				<?php  } ?>
            			</tbody>
            		</table>
            	</div>
            </div>
            <?php }else{?>
            <tr class="not_found">
            <?php if($journalEntry['journalEntryDocumentID'] == 28) { ?>
                <td colspan="6"><?php echo $this->translate('Journal Entries do not exist since this petty cash voucher was deleted'); ?></td>
                <?php } else { ?>
            	<td colspan="6"><?php echo $this->translate('Journal Entries Not Posted.'); ?></td>
            <?php } ?>

            </tr>
            <?php } ?>

        </div><!-- ./modal-body -->

        <div class="modal-footer">
        	<?php if( $journalEntry['journalEntryIsReverse'] == 1){ ?>
            <input type="button" onclick="reverseJournalEntry(<?php echo $journalEntry['journalEntryID'];?>)" id="<?php echo $journalEntry['journalEntryID'];?>" class="btn btn-primary fromControl revereseJournalEntry" value="Reverse">
            <?php  } ?>
            <?php if(!isset($this->closeHidden)){?>
            <input type="button" data-dismiss="modal" id='close' name='close' class="btn btn-default" value="Close">
        	<?php }?>
        </div>

    </div>
</div>