<div class="margin_top">
    <div class="well well_heading">
        <h5 class="addTitle"><?php echo $this->translate('Create Approval Workflow') ?></h5>
    </div>

    <div class="well well_body">
        <form id="approvalWfForm">

            <div class="_row_with_margin clearfix">

                <!--expense_type-->
                <div class="col-lg-4 form-group">
                    <label class="_remove_bold"><?php echo $this->translate('Workflow Document Type') ?><font color="red"> *</font></label>
                    <select class='form-control selectpicker documents' data-actions-box="false"  name="documentTypes"  title="<?php echo $this->translate('Select Document Type(s)') ?>" data-selected-text-format="count>3">
                    	<option value="null"><?php echo $this->translate('Select Document Type(s)') ?></option>
                        <?php foreach ($this->documents as $document) { ?>
                            <option value="<?php echo $document['documentTypeID'] ?>"><?php echo $document['documentTypeName']; ?></option>
                        <?php } ?>
                    </select>                    
                </div>

                <div class="col-lg-4 form-group">
                    <label class="_remove_bold"><?php echo $this->translate('Workflow Code') ?><font color="red"> *</font></label>
                    <input type="text" name="workflowCode" class="form-control" autocomplete="off">
                </div>
                <div class="col-lg-4 form-group">
                    <label class="_remove_bold"><?php echo $this->translate('Workflow Name') ?><font color="red"> *</font></label>
                    <input type="text" name="workflowName" class="form-control" autocomplete="off">
                </div>
                <!-- <div class="col-lg-4 form-group">
                    <label>&nbsp;</label>
                    <div class="checkbox">
                        <label>
                            <?php echo $this->translate('Approver Enabled') ?>
                            <input type="checkbox" name="approverEnabled" class="">
                        </label>
                    </div>
                </div> -->
            </div><!--row-->

            <!--approve_section-->
            <div id="approverValues" class="margin_bottom_normal">

                <div class="margin_top_normal margin_bottom_normal_low">
                    <label><?php echo $this->translate('Approver Value Range') ?></label>
                </div>

                <!--<div class="table table-responsive">-->
                <table class="table" id="approverValueLimitList">
                    <tbody>
                        <tr id="addApproverLimit">
                            <td width="20%">
                                <div class="form-group _remove_margin_bottom">
                                    <label class="_remove_bold"><?php echo $this->translate('Min') ?></label>
                                    <input type="text" name="approverMin" class="form-control">
                                </div>
                            </td>
                            <td width="20%">
                                <div class="form-group _remove_margin_bottom">
                                    <label class="_remove_bold"><?php echo $this->translate('Max') ?></label>
                                    <input type="text" name="approverMax" class="form-control">
                                </div>
                            </td>
                            <td width="40%">
                                <div class="form-group _remove_margin_bottom">
                                    <label class="_remove_bold"><?php echo $this->translate('Approvers'); ?></label>
                                    <select class='form-control selectpicker approver' data-actions-box="true"  name="approvers"  multiple="multiple" title="<?php echo $this->translate('Select Approver(s)') ?>" data-selected-text-format="count>3">
                                        <?php foreach ($this->employees as $employee) { ?>
                                            <option value="<?php echo $employee['approverID'] ?>"><?php echo $employee['firstName'] . ' ' . $employee['lastName']; ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                            </td>
                            <td width="5%" name="add">
                                <div class="form-group _remove_margin_bottom">
                                    <label class="display_block">&nbsp;</label>
                                    <button  type='button' class="add btn btn-default">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </td>
                            <td width="5%" name='edit' class="hidden">
                                <label class="display_block">&nbsp;</label>
                                <button  type='button' class="edit btn btn-default">
                                    <i class="fa fa-pencil-square-o"></i>
                                </button>
                            </td>
                            <td width="5%" name='save' class="hidden">
                                <label class="display_block">&nbsp;</label>
                                <button  type='button' class="save btn btn-default">
                                    <i class="fa fa-floppy-o"></i>
                                </button>
                            </td>
                            <td width="5%" name='delete' class="hidden">
                                <label class="display_block">&nbsp;</label>
                                <button  type='button' class="delete btn btn-default">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--</div>-->

            </div><!--#approverValues-->

            <!--button-->
            <div class="_row_with_margin clearfix">
                <div class="col-lg-12 next">
                    <div class="text-right">
                        <button type="submit" id="promotionNext" class="btn btn-primary next"><?php echo $this->translate('Save') ?></button>
                        <button type="reset" class="btn btn-default reset"><?php echo $this->translate('Cancel') ?></button>
                    </div>
                </div>
            </div>

        </form>
    </div><!--well_body-->

</div>