<div class="margin_top">
    <div class="well toggle_purpose">
        <h5 class="font_weight addTitle"><?php echo $this->translate('Update Workflow') ?></h5>
    </div>
    <div class="well remove_padding_bottom">
        <form id="approvalWfForm" class="edit" data-id="<?php echo $this->workflowID; ?>">
            <div class="form-group">
                <div class="form-group row" style="margin-bottom: 15px;">
                    <label class="col-lg-3 col-md-6 col-sm-6 control-label label_bottom_margin"><?php echo $this->translate('Document Type') ?><font color="red"> *</font></label>
                    <div class="col-lg-4 col-md-6 col-sm-6" style="margin-top: 15px;">
                        <input type="text" name="documentType" id="<?php echo $data['rootDocumentTypeID']; ?>" value="<?php echo $data['documentTypeName']; ?>" class="form-control" autocomplete="off" disabled>
                    </div>
                </div>
                <div class="form-group row" style="margin-bottom: 15px;">
                    <label class="col-lg-3 col-md-6 col-sm-6 control-label label_bottom_margin"><?php echo $this->translate('Workflow Code') ?><font color="red"> *</font></label>
                    <div class="col-lg-4 col-md-6 col-sm-6" style="margin-top: 15px;">
                        <input type="text" name="workflowCode" value="<?php echo $data['workflowCode']; ?>" class="form-control" autocomplete="off" disabled>
                    </div>
                </div>
                <div class="form-group row" style="margin-bottom: 15px;">
                    <label class="col-lg-3 col-md-6 col-sm-6 control-label label_bottom_margin"><?php echo $this->translate('Workflow Name') ?><font color="red"> *</font></label>
                    <div class="col-lg-4 col-md-6 col-sm-6" style="margin-top: 15px;">
                        <input type="text" name="workflowName" value="<?php echo $data['workflowName']; ?>" class="form-control" autocomplete="off">
                    </div>
                </div>
                
                <!-- <div class="form-group row" style="margin-bottom: 20px;">
                    <label class="col-lg-3 col-md-6 col-sm-6 control-label label_bottom_margin"><?php echo $this->translate('Approver Enabled') ?></label>
                    <div class="col-lg-4" style="margin-top: 15px;">
                        <input type="checkbox" checked name="approverEnabled" class="">
                    </div>
                </div> -->
                <div id="approverValues">
                    <div class="form-group row">
                        <label class="col-lg-3 col-md-6 col-sm-6 control-label label_bottom_margin"><b><?php echo $this->translate('Approver Value Range') ?></b></label>
                    </div>

                    <div class="form-group">
                        <table class="table table-striped" id="approverValueLimitList">
                            <tbody>
                                <?php foreach ($data['workflowLimits'] as $workflowLimit) : ?>
                                    <tr  class="approverLimits">
                                        <td width="5%"><?php echo $this->translate('Min') ?></td>
                                        <td width="20%"><input type="text" disabled="disabled"  value="<?php echo number_format((float)$workflowLimit['approvalWorkflowLimitMin'], 2, '.', ''); ?>" name="approverMin" class="form-control"></td>
                                        <td width="5%">Max</td>
                                        <td width="20%"><input type="text" disabled="disabled"  value="<?php echo number_format((float)$workflowLimit['approvalWorkflowLimitMax'], 2, '.', '');; ?>" name="approverMax" class="form-control"></td>
                                        <td width="10%"><b>Approvers</b></td>
                                        <td width="30%">
                                            <select class='form-control selectpicker approver' data-actions-box="true" data-live-search="true" name="approvers"  multiple="multiple" title="Select Approver(s)" data-selected-text-format="count>3">
                                                <?php
                                                foreach ($this->employees as $employee):
                                                    if (in_array($employee['approverID'], $workflowLimit['wfLimitApprovers'])) {
                                                        echo '<option value="' . $employee['approverID'] . '" selected="selected">' . $employee['firstName'] . '</option>';
                                                    } else {
                                                        echo '<option value="' . $employee['approverID'] . '">' . $employee['firstName'] . '</option>';
                                                    }
                                                endforeach;
                                                ?>
                                            </select>
                                        </td>
                                        <td width="5%" name="add" class="hidden">
                                            <button  type='button' class="add btn btn-default">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </td>
                                        <td width="5%" name='edit'>
                                            <button  type='button' class="edit btn btn-default">
                                                <i class="fa fa-pencil-square-o"></i>
                                            </button>
                                        </td>
                                        <td width="5%" name='save' class="hidden">
                                            <button  type='button' class="save btn btn-default">
                                                <i class="fa fa-floppy-o"></i>
                                            </button>
                                        </td>
                                        <td width="5%" name='delete'>
                                            <button  type='button' class="delete btn btn-default">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                                <tr id="addApproverLimit">
                                    <td width="5%"><?php echo $this->translate('Min') ?></td>
                                    <td width="20%"><input type="text" name="approverMin" class="form-control"></td>
                                    <td width="5%"><?php echo $this->translate('Max') ?></td>
                                    <td width="20%"><input type="text" name="approverMax" class="form-control"></td>
                                    <td width="10%"><b><?php echo $this->translate('Approvers') ?></b></td>
                                    <td width="30%">
                                        <select class='form-control selectpicker approver' data-actions-box="true" data-live-search="true" name="approvers"  multiple="multiple" title="Select Approver(s)" data-selected-text-format="count>3">
                                            <?php foreach ($this->employees as $employee) { ?>
                                                <option value="<?php echo $employee['approverID'] ?>"><?php echo $employee['firstName'] . ' ' . $employee['lastName']; ?></option>
                                            <?php } ?>
                                        </select>
                                    </td>
                                    <td width="5%" name="add">
                                        <button  type='button' class="add btn btn-default">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </td>
                                    <td width="5%" name='edit' class="hidden">
                                        <button  type='button' class="edit btn btn-default">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </button>
                                    </td>
                                    <td width="5%" name='save' class="hidden">
                                        <button  type='button' class="save btn btn-default">
                                            <i class="fa fa-floppy-o"></i>
                                        </button>
                                    </td>
                                    <td width="5%" name='delete' class="hidden">
                                        <button  type='button' class="delete btn btn-default">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-6 next">
                    <label class="control-label label_bottom_margin">&nbsp;</label>
                    <div class="text-right">
                        <button type="reset" class="btn btn-default reset"><?php echo $this->translate('Cancel') ?></button>
                        <button type="submit" id="promotionNext" class="btn btn-primary next"><?php echo $this->translate('Save') ?></button>
                    </div>
                </div>
            </div><!--form_group-->
        </form>
    </div>
</div>