<div class="table table-responsive remove_padding_bottom margin_top">
    <table class="table table-striped" id="wfList">
        <thead>
            <tr>
                <th><?php echo $this->translate('Workflow Name'); ?></th>
                <th><?php echo $this->translate('Workflow Code'); ?></th>
                <th><?php echo $this->translate('Document Type'); ?></th>
                <th class="text-center"><?php echo $this->translate('Status'); ?></th>
                <th class="text-center"><?php echo $this->translate('Edit'); ?></th>
                <th class="text-center"><?php echo $this->translate('Delete');?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->approvalWorkflows as $workflow) {
                ?>
                <tr id="<?php echo $workflow['purchaseRequisitionTypeId']; ?>">
                    <td class="workflowName" ><?php echo $workflow['workflowName']; ?></td>
                    <td class="workflowCode"><?php echo $workflow['workflowCode']; ?></td>
                    <td class="documentType" if ="<?php  $workflow['documentID']?>"><?php echo $workflow['documentTypeName']; ?></td>
                    <td class="text-center" ><a href="javascript:;" class="changeStatus" id="<?php echo $workflow['approvalWorkflowID']; ?>"><span class="<?php echo ($workflow['workflowStatus'] == 1) ? "glyphicon glyphicon-check" : "glyphicon glyphicon-unchecked"; ?>"></span></a></td>
                    <td  class="text-center" >
                        <a href="<?php echo '/settings/approval-workflow/edit/' . $workflow['approvalWorkflowID']; ?>" id="<?php echo $expTypes['purchaseRequisitionTypeId']; ?>" class="edit">
                            <span class="fa fa-pencil-square-o custom_font_size"> </span>
                        </a>
                    </td>
                    <td  class="text-center" >
                        <a href="javascript:;" id="<?php echo $workflow['approvalWorkflowID']; ?>" class="delete">
                            <span class="fa fa-trash-o custom_font_size"> </span>
                        </a>
                    </td>
                    <!-- <td  class="text-center" >
                        <a href="javascript:;" id="<?php echo $workflow['approvalWorkflowID']; ?>" class="delete">
                            <span class="fa fa-trash-o custom_font_size"> </span>
                        </a>
                    </td> -->
                </tr>
                <?php
            }
            if (count($this->approvalWorkflows) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
            <?php }
            ?>
        </tbody>
    </table>
    <?php
    if ($this->paginated) {
        echo $this->paginationControl(
                $this->approvalWorkflows, 'sliding', array('partial/paginator.phtml', 'approval-workflow'), array(
            'route' => 'approval-workflow', 'action' => 'list'
                )
        );
    }
    ?>
</div>