<?php
    foreach ($cheques as $check) {
        
        if (isset($check['currencySymbol'])) {
            $customCurrencySymbol = $check['currencySymbol'];
        } else {
            $customCurrencySymbol = $this->companyCurrencySymbol;
        }
        ?>
        <?php echo '<tr>'; ?>
        <?php echo '<td>' . $check['outgoingPaymentDate'] . '</td>'; ?>
        <?php echo '<td>' . $check['outgoingPaymentCode'] . '</td>'; ?>
        <?php echo '<td>' . $check['supplierName'] . '</td>'; ?>
        <?php echo '<td>'; ?>
        <?php echo ($check['postdatedChequeDate'] == "0000-00-00") ? "-" : $check['postdatedChequeDate']; ?>
        <?php echo '</td>'; ?>
        <?php echo '<td>' . $customCurrencySymbol . " " . number_format($check['outGoingPaymentMethodPaidAmount'], 2) . '</td>'; ?>
        <?php echo '<td>' . $check['outGoingPaymentMethodReferenceNumber'] . '</td>'; ?>
        <?php echo '<td>' . $check['outGoingPaymentMethodChequeReference'] . '</td>'; ?>
        <td class="text-center"><span class="label label-primary"> Pending</span></td>
        <td id="view" class="text-center">
            <span class="preview link_color" style="cursor:pointer" data-href="/supplierPayments/viewReceipt/<?php echo $check['outGoingPaymentID'] ?>" >
                <span class="glyphicon glyphicon-eye-open"></span>
            </span>
        </td>
        <td class="text-center">
            <span class="link_color" style="cursor:pointer" data-href="/cheque-print/printCheque/<?php echo $check['outGoingPaymentID'] ?>" >
                <span class="glyphicon glyphicon-print"></span>
            </span>
        </td>
        <?php echo '</tr>'; ?>
        <?php
    }
    if (count($cheques) == 0) {
        ?>
        <tr class="not_found">
            <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
        </tr>
        <?php
    }
    ?>
