<!--search_panel-->
<div class='well clearfix well_custom_padding margin_top margin_bottom_high'>
    <div class='col-lg-12'>
        <label class=""><?php echo $this->translate('Search Supplier Cheques') ?></label>
    </div>
    <div class="col-lg-12">
        <div class="_row_with_margin search_wrapper">
            <div class="col-lg-3 col-md-3">
                <select id="pay-search-select" class="form-control selectpicker">
                    <option value="Payments No"><?php echo $this->translate('Payment No') ?></option>
                    <option value="Supplier Name"><?php echo $this->translate('Supplier Name') ?></option>
                </select>
            </div>

            <div class="col-lg-3 col-md-3">
                <select class="form-control selectpicker show-tick"   id="pay-search" name="pay-search" data-live-search="true" title="Select Payment No">
                    <option value=""><?php echo $this->translate('Select Payment No') ?></option>
                </select>
                <select class="form-control selectpicker show-tick"   id="pay-sup-search" name="pay-sup-search" data-live-search="true" title="Select Supplier">
                    <option value=""><?php echo $this->translate('Select Supplier') ?></option>
                </select>
            </div>

            <div class="col-lg-2 col-md-3">
                <input type="text" style="background-color: white" readonly="true" class="span2 datepicker form-control pointer_cursor" id="from-date" data-date-format="<?php echo $this->dateFormat ?>" placeholder="<?php echo $this->dateFormat ?>">
            </div>

            <div class="col-lg-2 col-md-3">
                <input type="text" style="background-color: white" readonly="true" class="span2 datepicker form-control pointer_cursor" id="to-date" data-date-format="<?php echo $this->dateFormat ?>" placeholder="<?php echo $this->dateFormat ?>">
            </div>

            <div class="col-lg-2 col-md-12">
                <div class="btn-group search_margin_bottom">
                    <button class="btn btn-default" id="filter-button"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default" id="clear-search"><?php echo $this->translate('Clear') ?></button>
                </div>
            </div>
        </div>
    </div>
</div><!--well-->
<div id='custadiv'></div>

<!--default_view_table-->
<div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="table_row_color">
                <tr>
                    <th><?php echo $this->translate('Date') ?></th>
                    <th><?php echo $this->translate('Payment No') ?></th>
                    <th><?php echo $this->translate('Supplier') ?></th>
                    <th><?php echo $this->translate('Cheque Date') ?></th>
                    <th><?php echo $this->translate('Paid Amount') ?></th>
                    <th><?php echo $this->translate('Reference Number') ?></th>
                    <th><?php echo $this->translate('Cheque Reference') ?></th>
                    <th><?php echo $this->translate('Print Status') ?></th>
                    <th><?php echo $this->translate('View Payment') ?></th>
                    <th><?php echo $this->translate('Print') ?></th>
                </tr>
            </thead>
            <tbody id="paymentsview">
                <?php
                foreach ($cheques as $check) {
                    
                    if (isset($check['currencySymbol'])) {
                        $customCurrencySymbol = $check['currencySymbol'];
                    } else {
                        $customCurrencySymbol = $this->companyCurrencySymbol;
                    }
                    ?>
                    <?php echo '<tr>'; ?>
                    <?php echo '<td>' . $check['outgoingPaymentDate'] . '</td>'; ?>
                    <?php echo '<td>' . $check['outgoingPaymentCode'] . '</td>'; ?>
                    <?php echo '<td>' . $check['supplierName'] . '</td>'; ?>
                    <?php echo '<td>'; ?>
                    <?php echo ($check['postdatedChequeDate'] == "0000-00-00") ? "-" : $check['postdatedChequeDate']; ?>
                    <?php echo '</td>'; ?>
                    <?php echo '<td>' . $customCurrencySymbol . " " . number_format($check['outGoingPaymentMethodPaidAmount'], 2) . '</td>'; ?>
                    <?php echo '<td>' . $check['outGoingPaymentMethodReferenceNumber'] . '</td>'; ?>
                    <?php echo '<td>' . $check['outGoingPaymentMethodChequeReference'] . '</td>'; ?>
                    <?php  if ($this->printedCheques[$check['outGoingPaymentID']] == NULL) { ?>
                        <td class="text-center"><span class="label label-primary">Pending</span></td>
                        <td id="view" class="text-center">
                            <span class="preview link_color" style="cursor:pointer" data-href="/supplierPayments/viewReceipt/<?php echo $check['outGoingPaymentID'] ?>" >
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </span>
                        </td>
                        <td class="text-center">
                            <span class="print-cheque link_color" style="cursor:pointer" data-id="<?php echo $check['outGoingPaymentID'] ?>" >
                                <span class="glyphicon glyphicon-print"></span>
                            </span>
                        </td>
                    <?php } else { ?>
                        <td class="text-center"><span class="label label-success">Printed</span></td>
                        <td id="view" class="text-center">
                            <span class="preview link_color" style="cursor:pointer" data-href="/supplierPayments/viewReceipt/<?php echo $check['outGoingPaymentID'] ?>" >
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </span>
                        </td>
                        <td class="text-center">
                            <a class="help_icon_js tooltip_for_default_cus" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="top" data-trigger="hover" data-html="true" data-content="<?php echo $this->printedCheques[$check['outGoingPaymentID']]['comment'] ?>">
                                <i class="fa fa-envelope help_icon"></i>
                            </a>
                        </td>
                    <?php } ?>
                    <?php echo '</tr>'; ?>
                    <?php
                }
                if (count($cheques) == 0) {
                    ?>
                    <tr class="not_found">
                        <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                    </tr>
                    <?php
                }
                ?>
            </tbody>
        </table>
    </div>
    <?php
    echo $this->paginationControl(
            $cheques, 'sliding', array('partial/paginator.phtml', 'cheque-print'), array('route' => 'cheque-print', 'action' => 'index')
    );
    ?>
</div>

<div id="cheque-div" class="hidden">
    <div style="position: absolute; top: 0px; width: 5.2cm left: 0px; padding-left: 12.4cm; padding-top: 0.2cm;">
        <p style="display:inline; width: 0.65cm;" id="chequeDayFisrtDigit">&nbsp;&nbsp;&nbsp;</p>
        <p style="display:inline; width: 0.65cm;" id="chequeDaySecondDigit">&nbsp;&nbsp;&nbsp;</p>
        <p style="display:inline; width: 0.65cm;" id="chequeMonthFisrtDigit">&nbsp;&nbsp;&nbsp;</p>
        <p style="display:inline; width: 0.65cm;" id="chequeMonthSecondDigit">&nbsp;&nbsp;&nbsp;</p>
        <p style="display:inline; width: 0.65cm;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p style="display:inline; width: 0.65cm;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p style="display:inline; width: 0.65cm;" id="chequeYearFisrtDigit">&nbsp;&nbsp;&nbsp;</p>
        <p style="display:inline; width: 0.65cm;" id="chequeYearSecondDigit">&nbsp;&nbsp;&nbsp;</p>
    </div>
    <div style="position: absolute; top: 0px; left: 0px; padding-left: 1.4cm; padding-top: 1.4cm; width: 16cm">
        <p id="supplierName"></p>
    </div>
    <div style="position: absolute; top: 0px; left: 0px; padding-left: 1.8cm; padding-top: 2.3cm; width: 10cm; line-height: 0.7cm">
        <p id="ammountInWords"></p>
    </div>
    <div style="position: absolute; top: 0px; left: 0px; padding-left: 12.5cm; padding-top: 3.4cm; width: 5.2cm">
        <p id="ammount"></p>
    </div>
</div>


<div class="modal fade" id="printConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->confirmView; ?>
</div>

<div id="printContent" class="hidden">
    <style type='text/css'>*{margin:0;padding:0;box-sizing:border-box;}
        #printContent {
            width:210mm;
            height:297mm;
            position: relative;
        }
        #printContainer {
            position:relative;
            width:680px;
            height:351px;
        }
        #printContainer div{
            position:absolute;
        }
        .ltr_left_portrait{
            -webkit-transform: translateY(-100%) rotate(90deg); /* Safari */
            -moz-transform: translateY(-100%) rotate(90deg); /* Firefox 3.6 Firefox 4 */
            -ms-transform: translateY(-100%) rotate(90deg); /* IE9 */
            -o-transform: translateY(-100%) rotate(90deg); /* Opera */
            transform: translateY(-100%) rotate(90deg); /* W3C */  
            -webkit-transform-origin: left bottom;
            -moz-transform-origin: left bottom;
            -ms-transform-origin: left bottom;
            -o-transform-origin: left bottom;
            transform-origin: left bottom;
        }
        .ltr_center_portrait{
            position: relative;
            top: 164.5px;
            left: 50%;
            transform: translateX(-50%) rotate(90deg);
        }
        .rtl_left_portrait{
            position: absolute;
            width: 100%;
            color:#fff;
            -webkit-transform: rotate(270deg) translateX(-100%);
            transform: rotate(270deg) translateX(-100%);
            -webkit-transform-origin: 0px 0px;
            transform-origin: 0px 0px;
        }
        .rtl_center_portrait{
            position: relative;
            top: 164.5px;
            left: 50%;
            transform: translateX(-50%) rotate(270deg);
        }
    </style>
    <style type='text/css' media='print'>@page{size: auto;margin: 0mm;}body{background-color:#FFFFFF; margin: 0px;}*{-webkit-print-color-adjust:exact;}</style>
    <div id="printContainer" class="ltr_center_portrait">
        <div id="p_ac_pay"
                    style="
                        top:34px;
                        left:151px;
                        text-align:left;
                        font-family:Arial;
                        font-size:16px;
                        height:16px;
                        line-height:16px;
                        font-style:normal;
                        font-weight:normal;
                        width:auto;
                        color:black;
                    "
        >
        A/C PAYEE ONLY                                    
        </div>
        <div id="cheque_date"
            style="
                top:26px;
                left:492px;
                text-align:left;
                font-family:Courier;
                font-size:16px;
                height:16px;
                line-height:16px;
                font-style:normal;
                font-weight:normal;
                width:auto;
                color:black;
            "
        >
        </div>
        <div id="cheque_payee"
            style="
                top:86px;
                left:53px;
                text-align:left;
                font-size:16px;
                height:16px;
                line-height:16px;
                font-style:normal;
                font-weight:normal;
                width:414px;
                color:black;
            "
        >
        </div>
        <div id="amount_words"
            style="
                top:119px;
                left:112px;
                text-align:left;
                font-size:16px;
                height:16px;
                line-height:20px;
                font-style:normal;
                font-weight:normal;
                width:351px;
                color:black;
            "
        >
        </div>
        <div id="cheque_amount"
            style="
                top:131px;
                left:514px;
                text-align:left;
                font-family:Arial;
                font-size:16px;
                height:16px;
                line-height:16px;
                font-style:normal;
                font-weight:normal;
                width:auto;
                color:black;
            "
        >
        </div>
    </div>
    <div style="float:left;display:none !important;font-family:Arial;height:16px;line-height:16px;font-size:16px;font-style:normal;font-weight:normal;" id="lsPayee"></div>
    <div style="float:left;display:none !important;font-family:Arial;height:16px;line-height:16px;font-size:16px;font-style:normal;font-weight:normal;" id="lsAmt"></div>
</div>