<div class="project-type-form-container margin_top">
    <div class="well well_custom_padding margin_top">
        <div class="row">
            <div class="col-lg-3">
                <label class="remove_weight" for="departmentSearch"><?php echo $this->translate('Search Vehicle Type') ?></label>
            </div>
            <div class="search_field col-lg-9">
                <select class="form-control selectpicker show-tick" id="vehicleType" name="vehicleType" data-live-search="true">
                    <option value=""><?php echo $this->translate('Select A Vehicle Type') ?></option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <center><strong><h2>Service Costing</h2></strong></center>
    </div>
    <div id="serviceList" class="margin_top">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="10%"><?php echo $this->translate('Service Code') ?></th>
                    <th width="20%"><?php echo $this->translate('Service Name') ?></th>
                    <!-- <th width="20%"><?php echo $this->translate('Service Rates') ?></th> -->
                    <!-- <th width="10%" class="text-center"><?php echo $this->translate('Sub Task Rates') ?></th> -->
                    <th width="15%"><?php echo $this->translate('Incentive Rate') ?></th>
                    <th width="15%"><?php echo $this->translate('Incentive For') ?></th>
                    <th width="5%"></th>
                    <th width="5%"></th>
                </tr>
            </thead>
            <tbody id="serviceListTbody">
                <tr class="not_found serviceRow">
                    <td colspan="10">Please Select A Vehicle Types</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="row">
        <center><strong><h2>Job Card Costing</h2></strong></center>
    </div>
    <div id="jobCardList" class="margin_top">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="10%"><?php echo $this->translate('Job Card Code') ?></th>
                    <th width="20%"><?php echo $this->translate('Job Card Name') ?></th>
                    <!-- <th width="20%"><?php echo $this->translate('Service Rates') ?></th> -->
                    <!-- <th width="10%" class="text-center"><?php echo $this->translate('Sub Task Rates') ?></th> -->
                    <!-- <th width="15%"><?php echo $this->translate('Incentive Rate') ?></th> -->
                    <!-- <th width="15%"><?php echo $this->translate('Incentive For') ?></th> -->
                    <th width="5%"></th>
                    <th width="5%"></th>
                </tr>
            </thead>
            <tbody id="serviceListTbody">
                <tr class="not_found serviceRow">
                    <td colspan="10">Please Select A Vehicle Types</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
