<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="10%"><?php echo $this->translate('Service Code') ?></th>
                <th width="25%"><?php echo $this->translate('Service Name') ?></th>
                <th width="15%"><?php echo $this->translate('Service Rates') ?></th>
                <th width="10%" class="text-center"><?php echo $this->translate('Sub Task Rates') ?></th>
                <th width="15%"><?php echo $this->translate('Incentive Rate') ?></th>
                <th width="15%"><?php echo $this->translate('Incentive For') ?></th>
            </tr>
        </thead>
        <tbody id="serviceListTbody">
            <?php  
                if (empty($this->serviceIncentiveRateData)) {
            ?>
                    <tr class="not_found serviceRow">
                        <td colspan="10">No results found</td>
                    </tr>
            <?php  
                } else {
                    foreach ($this->serviceIncentiveRateData as $value) {
            ?> 
                    <tr class="serviceRow" id="<?php echo $value['serviceID'];?>">
                        <td class="text-left">
                            <input type="hidden" id="serviceId" disabled="true" value="<?php echo $value['serviceID'];?>">
                            <?php echo $value['serviceCode'];?>
                        </td>
                        <td class="text-left">
                            <?php echo $value['taskName'];?>
                        </td>
                        <td class="text-left">
                            <input type="number" class="form-control" id="serviceRates<?php echo $value['serviceID'];?>" value="<?php echo (is_null($value['serviceRate']) ? "" : floatval($value['serviceRate']));?>">
                        </td>
                        <td class="text-center">
                            <?php
                                if (!empty($value['subTasks'])) {
                            ?>
                                <input type="hidden" name="subTaskEnabled" class="subTaskEnabled<?php echo $value['serviceID'];?>" value="<?php echo ((empty($value['subTaskRates']) == true) ? 1 : 0) ; ?>">
                                <a href="#" name="showSubTask" class="showSubTask" id="subTaskBtn<?php echo $value['serviceID'];?>" data-id="<?php echo $value['serviceID'];?>">
                                    <span class="fa fa-square-o  custom_font_size serviceSubTaskEnableIcon" style="font-size: 20px;"></span>
                                </a>
                            <?php
                                }
                            ?>
                        </td>
                        <td class="text-right">
                            <input type="number" class="form-control incentiveRate<?php echo $value['serviceID'];?>" id="incentiveRate" value="<?php echo (is_null($value['incentive']) ? "" : floatval($value['incentive']));?>">
                        </td>
                        <td class="text-center">
                            <select class="form-control selectpicker incentiveFor<?php echo $value['serviceID'];?>"  id="incentiveFor" data-live-search="false">
                                <!-- <?php
              //                   echo '<option value="0" >' . $this->translate('Select a incentive type') . '</option>';
                                // foreach ($this->incentiveType as $key => $value) {
                                //  echo '<option value="' . $key . '">' . $value . '</option>';
                                // }
                                ?> -->
                                <option value="1">Per completion</option>
                            </select>
                        </td>
                    </tr>
                    <tr class="sub-task-row<?php echo $value['serviceID'];?>">
                        <td class="text-center sub-task" colspan="10">
                            <table class="table table-striped sub-task-table">
                                <thead>
                                    <tr id="subTskHeader">
                                        <th width="12%"></th>
                                        <th width="29%"><?php echo $this->translate('Sub Task Name') ?></th>
                                        <th width="15%"><?php echo $this->translate('Rate') ?></th>
                                    </tr>
                                </thead>

                                <tbody id="viewServiceSubTasks">
                                    <?php
                                        foreach ($value['subTasks'] as $val) {
                                    ?>
                                        <tr id="<?php echo $val['subTaskId'] ?>">
                                            <td></td>
                                            <td class="text-left"><?php echo $val['subTaskCode']." ".$val['subTaskName']; ?></td>
                                            <td class="text-left">
                                                <input type="number" id="subTskRate" class="form-control subTskRate" data-id="<?php echo $value['serviceID'];?>" value="<?php echo floatval($value['subTaskRates'][$val['subTaskId']]['rate']);?>">
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    <?php
                                        }
                                    ?>
                                </tbody>
                            </table>
                        </td>
                    </tr>
            <?php 
                    }
                }
            ?>
        </tbody>
    </table>
</div>
<?php  
    if (!empty($this->serviceIncentiveRateData)) {
?>
    <div class="text-right">
        <button type="submit" class="btn btn-default resetService" id="reset">Reset</button>
        <button type="submit" class="btn btn-primary saveAllService" id="saveAllService">Save</button>
    </div>
<?php  
    } 
?> 
<script type="text/javascript" src="/js/jobs/incentive_rates.js"></script>
<script type="text/javascript">
    $.each($('#serviceListTbody')[0].children, function(index, val) {
        var classList = val.classList.value.split(" ");
        if (classList.includes('serviceRow')) {
            if ($('.subTaskEnabled'+val.id).val() == 0) {
                $('#serviceRates'+val.id).attr('disabled', true);
                $('#subTaskBtn'+val.id+' .serviceSubTaskEnableIcon').removeClass('fa-square-o');
                $('#subTaskBtn'+val.id+' .serviceSubTaskEnableIcon').addClass('fa-check-square-o');
                $('#subTaskBtn'+val.id).closest("tr").next().find("table").slideToggle();
            }
        }
    });
</script>
