<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
<?php
$this->headScript()->captureEnd();
?>
<link rel="stylesheet" href="<?php echo $this->basePath('assets/DataTables-1.9.4/media/css/jquery.dataTables.css'); ?>" type="text/css" />

<?php $this->headScript()->appendFile($this->basePath('assets/DataTables-1.9.4/media/js/jquery.dataTables.min.js')); ?>
<?php $this->headScript()->appendFile($this->basePath('assets/DataTables-1.9.4/media/js/jquery.jeditable.js')); ?>
<?php $this->headScript()->appendFile($this->basePath('js/report-pdf/auditTrailReport.js')); ?>
<?php $this->headScript()->appendFile($this->basePath('js/report-pdf/accounting.js')); ?>

<div id="report_head" class="margin_top well form-horizontal">
    <div class="form-group">
        <label class="control-label col-lg-2 col-md-3"><?php echo $this->translate("User Name"); ?></label>
        <div class="col-lg-5 col-md-6"><!--username-->
            <input type="text" data-provide="typeahead" class="search form-control typeahead" id="user_search" placeholder="<?php echo $this->translate('User Name') ?>"/>
        </div>
    </div>

    <div class="form-group"><!--from_date-->
        <label class="control-label col-lg-2 col-md-3"><?php echo $this->translate("Set a From Date"); ?></label>
        <div class="col-lg-5 col-md-6">
            <input type="text" class="span2 datepicker form-control" id="from_date" name="from_date" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Set a From Date') ?>">
        </div>
    </div>

    <div class="form-group"><!--to_date-->
        <label class="control-label col-lg-2 col-md-3"><?php echo $this->translate("Set a To Date"); ?></label>
        <div class="col-lg-5 col-md-6">
            <input type="text" class="span2 datepicker form-control" id="to_date" name="to_date" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Set a To Date') ?>">
        </div>
    </div>

    <div class="form-group margin_top"><!--button-->
        <div class="col-lg-5 col-md-6 col-lg-offset-2 col-md-offset-3 btn-group audit_trail_btn_group">
            <button class="btn btn-primary" id="view_report"><?php echo $this->translate('View Report') ?></button>
            <button class="btn btn-primary" id="generate_pdf"><?php echo $this->translate('Generate PDF') ?></button>
            <button class="btn btn-primary" id="excel_report"><?php echo $this->translate('Excel Report') ?></button>
        </div>
    </div>
</div>

<!--display-->
<div id="audittrail_report_view" class="margin_top">
    <div id="view-div">
        <div class="table table-responsive">
            <h4 class="text-center font_weight"><?php echo $this->translate('Audit Trail Report') ?></h4>
            <p class="text-center"><?php echo $companyDetails[0]->companyName ?></p>
            <p class="text-center last_para"><?php echo $this->translate("Adderess :"); ?> <?php echo $companyDetails[0]->companyAddress ?> <?php echo $this->translate("Tele :"); ?> <?php echo $companyDetails[0]->telephoneNumber ?></p>


            <div class="scroll margin_top">
                <table class="table table-bordered" id="item_tbl">
                    <thead>
                        <tr>
                            <th><?php echo $this->translate("Date and Time"); ?></th>
                            <th><?php echo $this->translate("User"); ?></th>
                            <th><?php echo $this->translate("Transaction Type"); ?></th>
                            <th><?php echo $this->translate("Ref. No"); ?></th>
                        </tr>
                    </thead>
                    <tbody id="audittrail_report_body"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>