<?php ini_set('memory_limit', '-1'); ?>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>

            </table>

            <table class="change_order_items">

                <tbody>
                    <?php
                    $netTax = 0.0;
                    $netAmount = 0.0;
                    $netNormalTax = 0.00;
                    $netComTax = 0.00;
                    $netSusTax = 0.00;
                    $netNormalAmount = 0.00;
                    $abc = 1;
                    if ($checkTaxStatus == 'true') {
                        ?>

                        <tr>
                            <th><?php echo $this->translate('Date') ?></th>
                            <th><?php echo $this->translate('Invoice Ref. NO') ?></th>
                            <th><?php echo $this->translate('Customer Name') ?></th>
                            <?php
                            if($cusCategories){
                            ?>
                                <th><?php echo $this->translate('Customer Category') ?></th>
                                <?php
                            } 
                            ?>
                            <th><?php echo $this->translate('Invoice Total') ?></th>
                            <th id="tax_row" colspan="1"><?php echo $this->translate(''.$taxString['normalTaxString'].'') ?></th>
                            <th id="tax_row" colspan="1"><?php echo $this->translate(''.$taxString['compoundTaxString'].'') ?></th>
                            <th id="tax_row" colspan="1"><?php echo $this->translate('Suspended Tax(SVAT)') ?></th>
                            <th><?php echo $this->translate('Total Sales without Tax') ?></th>
                        </tr>
                        <?php
                        foreach ($dailySalesData as $date => $data) {
                            $subAmount = 0.00;
                            $subNormalTax = 0.00;
                            $subComTax = 0.00;
                            $subSusTax = 0.00;
                            $subNormalAmount = 0.00;
                            ?>
                            <tr class="even_row">
                                <td style="text-align: center"><?php echo $date; ?></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <?php
                                if($cusCategories){
                                ?>
                                    <td style="text-align: right"></td>
                                <?php
                                } 
                                ?>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td class="change_order_total_col"></td>
                            </tr>
                            <?php
                            foreach ($data as $invID => $d) {
                                $id = ($d['InvID']) ? $d['InvID'] : $d['creditNoteCode'];
                                if($d['Amount']) {
                                    $amountStr = number_format(floatval($d['Amount']), 2);
                                }else {
                                    $amountStr = '(' . number_format(floatval($d['creditNoteProductTotal']), 2) . ')';
                                }

                                if($d['Amount']) {
                                    $tax = floatval($d['normalTax']) + floatval($d['compoundTax']);
                                    $taxWithoutAmountStr = number_format(floatval($d['Amount']) - floatval($tax), 2);
                                }else {
                                    $taxWithoutAmountStr = '(' . number_format(floatval($d['creditNoteProductTotal']) - floatval($d['CnormalTax']) - floatval($d['CcompoundTax']) + floatval($d['CsuspendedTax']) , 2) . ')';
                                }

                                if($d['Amount']) {
                                    $taxNoramlStr = number_format(floatval($d['normalTax']), 2);
                                    $taxCompoundStr = number_format(floatval($d['compoundTax']), 2);
                                    $taxSusStr = number_format(floatval($d['suspendedTax']), 2);
                                }else {
                                    $taxNoramlStr = '(' . number_format(floatval($d['CnormalTax']), 2) . ')';
                                    $taxCompoundStr = '(' . number_format(floatval($d['CcompoundTax']), 2) . ')';
                                    $taxSusStr = '(' . number_format(floatval($d['suspendedTax']), 2) . ')';
                                }
                                ?>
                                <tr class="even_row">
                                    <td style="text-align: center"></td>
                                    <td style="text-align: left"><?php echo $id; ?></td>
                                    <td style="text-align: left"><?php echo $d['CusTitle'] . ' ' . $d['CusName']; ?></td>
                                    <?php
                                    if($cusCategories){
                                    ?>
                                        <td style="text-align: left"><?php echo $d['customerCategoryName']; ?></td>
                                    <?php
                                    } 
                                    ?>
                                    <td style="text-align: right">
                                        <?php echo $amountStr; ?>
                                    </td>
                                    <td style="text-align: right"><?php echo $taxNoramlStr; ?></td>
                                    <td style="text-align: right"><?php echo $taxCompoundStr; ?></td>
                                    <td style="text-align: right"><?php echo $taxSusStr; ?></td>
                                    <td class="change_order_total_col"><?php echo $taxWithoutAmountStr; ?></td>
                                </tr>
                                <?php
                                $subNormalTax+=$d['normalTax'] - $d['CnormalTax'] ;
                                $subComTax +=$d['compoundTax'] - $d['CcompoundTax'];
                                $subSusTax +=$d['suspendedTax'] - $d['CsuspendedTax'];
                                $netNormalTax +=$d['normalTax'] - $d['CnormalTax'] ;
                                $netComTax += $d['compoundTax'] - $d['CcompoundTax'];
                                $netSusTax += $d['suspendedTax'] - $d['CsuspendedTax'];
                                $subNormalAmount += $d['Amount'] - $d['creditNoteProductTotal'];

                                $subAmount+= ($d['Amount'] - ($d['normalTax'] + $d['compoundTax'])) - ($d['creditNoteProductTotal'] - ($d['CnormalTax'] + $d['CcompoundTax'] - $d['CsuspendedTax'])) ;
                                $netAmount+=($d['Amount'] - ($d['normalTax'] + $d['compoundTax'])) - ($d['creditNoteProductTotal'] - ($d['CnormalTax'] + $d['CcompoundTax'] - $d['CsuspendedTax']));
                                $netNormalAmount += $d['Amount'] - $d['creditNoteProductTotal'];
                            }
                            $displaySubNormalAmount = number_format($subNormalAmount,2);
                            if ($subNormalAmount < 0) {
                                $displaySubNormalAmount = '('.number_format(($subNormalAmount*-1),2).')';
                            }
                            $displaySubNormalTax = number_format($subNormalTax, 2);
                            if ($subNormalTax < 0) {
                                $displaySubNormalTax = '('.number_format(($subNormalTax*-1), 2).')';
                            }
                            $displaySubComTax = number_format($subComTax, 2);
                            if ($subComTax < 0) {
                                $displaySubComTax = '('.number_format(($subComTax*-1), 2).')';
                            }
                            $displaySubSusTax = number_format($subSusTax, 2);
                            if ($subSusTax < 0) {
                                $displaySubSusTax = '('.number_format(($subSusTax*-1), 2).')';
                            }
                            $displaySubAmo = number_format($subAmount, 2);
                            if ($subAmount < 0) {
                                $displaySubAmo = '('.number_format(($subAmount*-1), 2).')';
                            }
                            ?>
                            <tr>
                            <?php
                            if($cusCategories){
                            ?>
                                
                                <td style="text-align: right" colspan="4"><strong><?php echo $this->translate("Total of") ?> <?php echo $date; ?>:</strong></td>
                            <?php
                            } else{
                            ?>
                                <td style="text-align: right" colspan="3"><strong><?php echo $this->translate("Total of") ?> <?php echo $date; ?>:</strong></td>
                            <?php
                            }
                            ?>
                                <td class="change_order_total_col"><strong><?php echo $displaySubNormalAmount; ?></strong></td>
                                <td class="change_order_total_col"><strong><?php echo $displaySubNormalTax; ?></strong></td>
                                <td class="change_order_total_col"><strong><?php echo $displaySubComTax; ?></strong></td>
                                <td class="change_order_total_col"><strong><?php echo $displaySubSusTax; ?></strong></td>
                                <td class="change_order_total_col"><strong><?php echo $displaySubAmo; ?></strong></td>

                            </tr>
                            <?php
                        }
                        ?>
                        <tr>
                        <?php
                        if($cusCategories){
                        ?>
                           <td style="text-align: right" colspan="8"><strong><?php echo $this->translate("TOTAL Sales") ?>:</strong></td>

                        <?php
                        } else{
                        ?>
                            <td style="text-align: right" colspan="7"><strong><?php echo $this->translate("TOTAL Sales") ?>:</strong></td>

                        <?php
                        }
                        $displayNetNormalAmount = number_format($netNormalAmount, 2);
                        if ($netNormalAmount < 0 ) {
                            $displayNetNormalAmount = '('.number_format(($netNormalAmount*-1), 2).')';
                            
                        }
                        ?>
                            <td class="change_order_total_col"><strong><?php echo $displayNetNormalAmount; ?></strong></td>
                        </tr>

                        <tr>
                        <?php
                        if($cusCategories){
                        ?>
                           <td style="text-align: right" colspan="8"><strong><?php echo $this->translate("TOTAL Sales Without Tax") ?>:</strong></td>

                        <?php
                        } else{
                        ?>
                            <td style="text-align: right" colspan="7"><strong><?php echo $this->translate("TOTAL Sales Without Tax") ?>:</strong></td>

                        <?php
                        }
                        $displayNetAmo = number_format($netAmount, 2);
                        if ($netAmount < 0) {
                            $displayNetAmo = '('.number_format(($netAmount*-1), 2).')';

                        }
                        ?>
                            <td class="change_order_total_col"><strong><?php echo $displayNetAmo; ?></strong></td>
                        </tr>
                       
                        <tr>
                        <?php
                        if($cusCategories){
                        ?>
                            <td style="text-align: right" colspan="8"><strong><?php echo $this->translate('TOTAL NBT Tax') ?>:</strong></td>
                        <?php
                        } else{
                        ?>
                            <td style="text-align: right" colspan="7"><strong><?php echo $this->translate('TOTAL NBT Tax') ?>:</strong></td>
                        <?php
                        }
                        $displayNetNormalTax = number_format($netNormalTax, 2);
                        if ($netNormalTax < 0) {
                            $displayNetNormalTax = '('.number_format(($netNormalTax*-1), 2).')';

                        }
                        ?>                            
                            <td class="change_order_total_col"><strong><?php echo $displayNetNormalTax; ?></strong></td>
                        </tr>
                       
                        <tr>
                        <?php
                        if($cusCategories){
                        ?>
                            <td style="text-align: right" colspan="8"><strong><?php echo $this->translate('Total VAT Tax') ?>:</strong></td>
                        <?php
                        } else{
                        ?>
                            <td style="text-align: right" colspan="7"><strong><?php echo $this->translate('Total VAT Tax') ?>:</strong></td>
                        <?php
                        }
                        $displayNetComTax = number_format($netComTax, 2);
                        if ($netComTax < 0) {
                            $displayNetComTax = '('.number_format(($netComTax*-1), 2).')';
                        }
                        ?>
                            <td class="change_order_total_col"><strong><?php echo $displayNetComTax; ?></strong></td>
                        </tr>

                        <tr>
                        <?php
                        if($cusCategories){
                        ?>
                            <td style="text-align: right" colspan="8"><strong><?php echo $this->translate('Total Suspended Tax') ?>:</strong></td>
                        <?php
                        } else{
                        ?>
                            <td style="text-align: right" colspan="7"><strong><?php echo $this->translate('Total Suspended Tax') ?>:</strong></td>
                        <?php
                        }
                        $displayNetSusTax = number_format($netSusTax, 2);
                        if ($netSusTax < 0) {
                            $displayNetSusTax = '('.number_format(($netSusTax*-1), 2).')';
                        }
                        ?>
                            <td class="change_order_total_col"><strong><?php echo $displayNetSusTax; ?></strong></td>
                        </tr>

                    <?php } else { ?>
                        <tr>
                            <th><?php echo $this->translate('Date') ?></th>
                            <th><?php echo $this->translate('Invoice Ref. NO') ?></th>
                            <th><?php echo $this->translate('Customer Name') ?></th>
                            <?php
                            if($cusCategories){
                            ?>
                                <th><?php echo $this->translate('Customer Category') ?></th>
                                <?php
                            } 
                            ?>
                            <th><?php echo $this->translate('Total Sales') ?></th>
                        </tr>
                        <?php
                        $netAmount = 0.00;
                        foreach ($dailySalesData as $date => $data) {
                            $subAmount = 0.00;
                            ?>
                            <tr class="even_row">
                                <td style="text-align: center"><?php echo $date; ?></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <?php
                                if($cusCategories){
                                ?>
                                    <td style="text-align: right"></td>
                                <?php
                                } 
                                ?>
                                <td class="change_order_total_col"></td>
                            </tr>
                            <?php
                            foreach ($data as $invID => $d) {
                                if($d['Amount']) {
                                    $amountStr = number_format(floatval($d['Amount']), 2);
                                }else {
                                    $amountStr = '(' . number_format(floatval($d['creditNoteProductTotal']), 2) . ')';
                                }
                               
                                $id = ($d['InvID']) ? $d['InvID'] : $d['creditNoteCode'];
                                ?>
                                <tr class="even_row">
                                    <td></td>
                                    <td style="text-align: left"><?php echo $id; ?></td>
                                    <td style="text-align: left"><?php echo $d['CusTitle'] . ' ' . $d['CusName']; ?></td>
                                    <?php
                                    if($cusCategories){
                                    ?>
                                        <td style="text-align: left"><?php echo $d['customerCategoryName']; ?></td>
                                    <?php
                                    } 
                                    ?>
                                    <td class="change_order_total_col"><?php echo $amountStr; ?></td>
                                </tr>
                                <?php
                                $subAmount+=$d['Amount'] - $d['creditNoteProductTotal'];
                                $netAmount+=$d['Amount'] - $d['creditNoteProductTotal'];
                            }
                            $displaySubAmo = number_format($subAmount, 2);
                            if ($subAmount < 0) {
                                $displaySubAmo = '('.number_format(($subAmount*-1), 2).')';
                            }

                            ?>
                            <tr>
                            <?php
                            if($cusCategories){
                            ?>
                                <td style="text-align: right" colspan="4"><strong><?php echo $this->translate('Total of') ?> <?php echo $date; ?>:</strong></td>
                                <td class="change_order_total_col"><strong><?php echo $displaySubAmo; ?></strong></td>
                            <?php
                            } else{
                                ?>
                                <td style="text-align: right" colspan="3"><strong><?php echo $this->translate('Total of') ?> <?php echo $date; ?>:</strong></td>
                                <td class="change_order_total_col"><strong><?php echo $displaySubAmo; ?></strong></td>
                                <?php
                            }
                            ?>
                                 
                            </tr>
                            <?php
                        }
                        ?>
                        <tr>
                        <?php
                        $displayNetAmo = number_format($netAmount, 2);
                        if ($netAmount < 0 ){
                            $displayNetAmo = '('.number_format(($netAmount*-1), 2).')';
                        }
                        if($cusCategories){
                        ?>
                            <td style="text-align: right" colspan="4"><strong><?php echo $this->translate('Total Sales') ?>:</strong></td>
                            <td class="change_order_total_col"><strong><?php echo $displayNetAmo; ?></strong></td>
                        <?php
                        } else {
                        ?>
                            <td style="text-align: right" colspan="3"><strong><?php echo $this->translate('Total Sales') ?>:</strong></td>
                            <td class="change_order_total_col"><strong><?php echo $displayNetAmo; ?></strong></td>
                        <?php    
                        }
                        ?>
                            
                        </tr>
                    <?php } ?>
                </tbody>

            </table>
        </div>

    </div>
</div>



