<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>

            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Customer') ?></th>
                        <?php
                        if($cusCategories){
                        ?>
                            <th><?php echo $this->translate('Customer Category') ?></th>
                        <?php
                        }
                        ?>
                        <th><?php echo $this->translate('Total Excluding Tax') ?></th>
                        <th><?php echo $this->translate('Tax') ?></th>
                    </tr>
                    <?php
                    $netAmount = 0;
                    $netTax = 0;
                    foreach ($salesSummeryData as $cData) {
                        $customerTitle;
                        $customerName;
                        $totalAmount = 0;
                        $totalTax = 0;
                        foreach ($cData as $data) {
                            $customerTitle = $data['customerTitle'];
                            $customerName = $data['customerName'];
                            $amount = $data['TotalAmount'] - $data['creditNoteProductTotal'];
                            $amount = $amount ? $amount : 0;
                            $tax = $data['TotalTax'];
                            $tax = $tax ? $tax : 0;
                            $totalAmount += $amount;
                            $netAmount += ($amount - $tax);
                            $totalTax += $tax;
                            $netTax += $tax;
                        }
                        ?>
                        <tr class="even_row">
                            <td><?php echo $customerTitle . ' ' . $customerName; ?></td>
                            <?php
                            if($cusCategories){
                            ?>
                                <td><?php echo $data['customerCategoryName']; ?></td>
                            <?php
                            }
                            ?>
                            <td style="text-align: right"><?php echo number_format($totalAmount - $totalTax, 2); ?></td>
                            <td style="text-align: right"><?php echo number_format($totalTax, 2); ?></td>
                        </tr>
                    <?php } ?>
                    <tr class="even_row">
                        <?php
                        if($cusCategories){
                        ?>
                            <td colspan="4"></td>
                        <?php
                        } else {
                        ?>
                            <td colspan="3"></td>
                        <?php    
                        }
                        ?>
                    </tr>
                    <tr class="even_row">
                        <td><strong><?php echo $this->translate('Net Total') ?></strong></td>
                            <?php
                            if($cusCategories){
                            ?>
                                 <td style="text-align: right"></td>
                            <?php
                            }
                            ?>
                        <td style="text-align: right"><strong><?php echo number_format($netAmount, 2); ?></strong></td>
                        <td class="change_order_total_col" style="text-align: right"><strong><?php echo number_format($netTax, 2); ?></strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



