<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<?php 
$cusCategryFlag = false;
if(!empty($reportData)){
   
    foreach ($reportData as $key => $value) {
        if($value['cusCategory']){
            $cusCategryFlag = true;
        }
    }
}
     
?>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>

            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th style="width: 18%"><?php echo $this->translate('Sales Representative') ?></th>
                        <th style="width: 10%"><?php echo $this->translate('Credit Note Code') ?></th>
                        <th style="width: 12%"><?php echo $this->translate('Credit Note Amount') ?></th>
                        <th style="width: 8%"><?php echo $this->translate('Credit Note Date') ?></th>
                        <th style="width: 10%"><?php echo $this->translate('Invoice Code') ?></th>
                        <th style="width: 12%"><?php echo $this->translate('Invoice Amount') ?></th>                        
                        <?php
                        if($cusCategryFlag){
                        ?>
                            <th style="width: 10%"><?php echo $this->translate('Customer') ?></th>
                            <th style="width: 8%"><?php echo $this->translate('Customer Category') ?></th>
                            <th style="width: 10%"><?php echo $this->translate('Location') ?></th>
                        <?php    
                        } else {
                        ?>
                            <th style="width: 16%"><?php echo $this->translate('Customer') ?></th>
                            <th style="width: 12%"><?php echo $this->translate('Location') ?></th>
                            
                        <?php
                        }
                        ?>
                    </tr>
                    <?php
                    if (!empty($reportData)) {
                        $totalCreditNoteAmount = 0;
                        $totalInvoiceAmount = 0;
                        foreach ($reportData as $spData) {
                            ?>
                            <tr class="odd_row">
                                <td style="text-align: left"><?php echo $spData['salesPersonName']; ?></td>
                                   <?php
                            if($cusCategryFlag){
                            ?>
                                <td colspan="8"></td>
                            <?php    
                            } else {
                            ?>
                                <td colspan="7"></td>
                            <?php
                            }
                            ?>
                                
                            </tr>
                            <?php                            
                            foreach ($spData['data'] as $r) {
                                $totalCreditNoteAmount+=$r['creditNoteAmount'];
                                $totalInvoiceAmount+=$r['invoiceAmount'];
                                ?>
                                <tr class="even_row">
                                    <td style="text-align: left"></td>
                                    <td style="text-align: left">
                                        <?php
                                            if($r['directCreditNoteFlag'] != 0){
                                                echo "*";
                                            }
                                        ?>
                                        <?php echo $r['creditNoteCode']; ?></td>
                                    <td style="text-align: right"><?php echo number_format($r['creditNoteAmount'], 2); ?></td>
                                    <td style="text-align: center"><?php echo $r['creditNoteDate']; ?></td>
                                    <td style="text-align: left"><?php echo $r['invoiceCode']; ?></td>
                                    <td style="text-align: right"><?php echo number_format($r['invoiceAmount'], 2); ?></td>
                                    <td style="text-align: left"><?php echo $r['customer']; ?></td> 
                                    <?php
                                    if($cusCategryFlag){
                                    ?>
                                        <td style="text-align: left"><?php echo $r['cusCategory']; ?></td>
                                    <?php    
                                    } 
                                    ?>                               
                                    <td style="text-align: left"><?php echo $r['location']; ?></td>
                                </tr>
                                <?php
                            }
                        }
                        ?>
                        <tr>
                            <td style="text-align: right" colspan="2"><strong><?php echo $this->translate('Credit Note Total') ?>:</strong></td>
                            <td style="text-align: right"><strong><?php echo number_format($totalCreditNoteAmount, 2) ?></strong></td>
                        </tr>
                        <?php
                    } else {
                        ?>
                        <tr>
                            <td style="text-align: left" colspan="8"><?php echo $this->translate('No related data found') ?></td>
                        </tr>
                    <?php }
                    ?>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="8">* <?php echo $this->translate('include direct credit note') ?></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>


