<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Ref. NO') ?></th>
                        <th><?php echo $this->translate('Location Name - Code') ?></th>
                        <th><?php echo $this->translate('Date/Time') ?></th>
                        <th><?php echo $this->translate('Customer Name') ?></th>
                        <th><?php echo $this->translate('Document Type') ?></th>
                        <th><?php echo $this->translate('Document Code') ?></th>
                        <th><?php echo $this->translate('Value') ?></th>
                        <th><?php echo $this->translate('Cost') ?></th>
                        <th><?php echo $this->translate('Gross Profit') ?></th>
                        <th><?php echo $this->translate('GP Percentage') ?></th>
                    </tr>
                    <?php if (empty($grossProfitData)) { ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="9"><?php echo $this->translate('No related data found') ?></td>
                        </tr>
                        <?php
                    } else {
                    	$totalValue = 0;
                    	$totalCost = 0;
                    	$totalGrossProfit = 0;
                        foreach ($grossProfitData as $key => $d) {
                            if ($d['locGPD']) {
                                $i = 1;
                                $grossProfit = 0;
                                echo '
                                <tr class="even_row">
                                    <td style="text-align: left"></td>
                                    <td style="text-align: left">' . $d['locationName'] . '-' . $d['locationCode'] . '</td>
                                    <td colspan="8"></td>
                                </tr>';
                                foreach ($d['locGPD'] as $v) {
                                    
                                    $nonInventoryItemTotal = ($v['nonInventoryItemTotal']) ? $v['nonInventoryItemTotal'] : 0;
                                    $value = $v['documentValue'] ? $v['documentValue'] : 0;
                                    $cost = $v['documentCost'] ? $v['documentCost'] : 0;
                                    $totalTax = $v['totalTax'] ? $v['totalTax'] : 0;
                                    if ($v['documentType'] == 'Sales Invoice') {
                                        $value = $value + $nonInventoryItemTotal;
                                        $grossProfit = $value - ($cost);
                                        $totalValue+=$value;
                                        $totalCost+=($cost);
                                    } else if ($v['documentType'] == 'Credit Note') {
                                        $value = $value - $totalTax;
                                        $grossProfit = ($cost) - $value;
                                        $totalValue-=$value;
                                        $totalCost-=($cost);
                                    }                                    
                                    $totalGrossProfit+=$grossProfit;                                    
                                    $tValue = ($v['documentType'] == 'Sales Invoice') ? number_format($value, 2) : '('. number_format(abs($value), 2) .')';
                                    $tCost = ($v['documentType'] == 'Sales Invoice') ? number_format($cost, 2) : '('. number_format(abs($cost), 2) .')';
                                    $tGrossProfit = ($v['documentType'] == 'Sales Invoice') ? number_format($grossProfit, 2) : '('. number_format(abs($grossProfit), 2) .')';
                                    ?>                        
                            <tr class="even_row">
                                <td style="text-align: left"><?php echo $i; ?></td>
                                <td style="text-align: left"></td>
                                <td style="text-align: left"><?php echo $v['date']; ?></td>
                                <td style="text-align: left"><?php echo $v['cusName']; ?></td>
                                <td style="text-align: left"><?php echo $v['documentType']; ?></td>
                                <td style="text-align: left"><?php echo $v['documentNo']; ?></td>
                                <td style="text-align: right"><?php echo $tValue; ?></td>
                                <td style="text-align: right"><?php echo $tCost; ?></td>
                                <td style="text-align: right"><?php echo $tGrossProfit; ?></td>
                                <td style="text-align: right"><?php 
                                        if ($value == 0) {
                                            echo '-';
                                        } else {
                                          echo  number_format(($grossProfit / $value) * 100, 2).'%'; 
                                        }


                                ?></td>
                            </tr>
                        <?php
                                    $i++;
                                }
                            }
                        }?>
                        <tr>
                        	<td style="text-align: right" colspan="6"><strong><?php echo $this->translate('Sub Total') ?>:</strong></td>
                                <td style="text-align: right"><strong><?php echo number_format($totalValue, 2) ?></strong></td>
                        	<td style="text-align: right"><strong><?php echo number_format($totalCost, 2)?></strong></td>
                        	<td style="text-align: right"><strong><?php echo number_format($totalGrossProfit, 2)?></strong></td>
                            <td style="text-align: right"><strong></strong></td>
                        </tr>
                    <?php
                	}
                    ?>

                </tbody>
            </table>
        </div>
    </div>
</div>



