<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>
<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7px">

            <table style="width: 100%; font-size: 8pt;">
                <tr>
                    <?php $date = date('Y-m-d h:i:s a'); ?>
                    <td><?php echo $this->translate('Report Generated ') ?>: <?php echo $date; ?></td>
                    <td><strong></strong></td>
                </tr>

                <tr>
                    <td><?php // echo $this->translate('Address ')  ?> <?php echo $company_data[0]->companyName ?>,<?php echo $company_data[0]->companyAddress ?></td>
                    <td> <strong></strong></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate('Period ') ?>: <?php echo $from_date ?><b>&nbsp;-&nbsp;</b><?php echo $to_date ?></td>
                    <td> <strong></strong></td>
                </tr>
            </table>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>

            </table>

            <table class="change_order_items">

                <tbody>


                    <tr>
                        <td colspan="4"><h2><?php echo $this->translate('Audit Trail Report') ?>:</h2></td>
                    </tr>
                    <tr>
                        <th><?php echo $this->translate('Date and Time') ?></th>
                        <th><?php echo $this->translate('User') ?></th>
                        <th><?php echo $this->translate('Transaction Type') ?></th>
                        <th><?php echo $this->translate('Ref. No') ?></th>
                    </tr>
                    <?php
                    foreach ($this->audit_data as $key => $data) {
                        echo '
                        <tr class="er">
                            <td>' . $data->timeStamp . '</td>
                            <td>' . $data->username . '</td>
                            <td>' . $data->logTitle . '</td>
                            <td>' . $data->refID . '</td>
                        </tr>
                        ';
                    }
                    ?>
                    <tr>
                        <td colspan="2" style="text-align: right"><strong><?php // echo $this->translate('GRAND TOTAL')             ?>:</strong></td>
                        <td style="text-align: right"><strong><?php // echo number_format($net_tax, 2);                         ?></strong></td>
                        <td class="change_order_total_col"><strong><?php // echo number_format($net_amount, 2);                         ?></strong></td>
                    </tr>

                </tbody>

            </table>
        </div>

    </div>
</div>



