<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7px">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>

            </table>

            <table class="change_order_items">

                <tbody>
                    <?php
                    $netTax = 0.0;
                    $netAmount = 0.0;
                    if ($checkTaxStatus == 'true') {
                        ?>
                        <tr>
                            <th><?php echo $this->translate('Year') ?></th>
                            <th><?php echo $this->translate('Quarter') ?></th>
                            <th id="tax_row" colspan="1"><?php echo $this->translate('Total Tax') ?></th>
                            <th id="tax_row" colspan="1"><?php echo $this->translate('Total Suspended Tax') ?></th>
                            <th><?php echo $this->translate('Total Sales') ?></th>
                        </tr>
                        <?php
                        foreach ($annualSalesData as $data) {
                            $q1Tax = $data['Q1Tax']['normalTax'] + $data['Q1Tax']['compoundTax'] - $data['Q1CreditNoteTax'];
                            $q2Tax = $data['Q2Tax']['normalTax'] + $data['Q2Tax']['compoundTax'] - $data['Q2CreditNoteTax'];
                            $q3Tax = $data['Q3Tax']['normalTax'] + $data['Q3Tax']['compoundTax'] - $data['Q3CreditNoteTax'];
                            $q4Tax = $data['Q4Tax']['normalTax'] + $data['Q4Tax']['compoundTax'] - $data['Q4CreditNoteTax'];

                            $q1SusTax = $data['Q1Tax']['suspendedTax'];
                            $q2SusTax = $data['Q2Tax']['suspendedTax'];
                            $q3SusTax = $data['Q3Tax']['suspendedTax'];
                            $q4SusTax = $data['Q4Tax']['suspendedTax'];

                            $q1Sales = $data['Q1Amount'] - $data['Q1CreditNote'];
                            $q2Sales = $data['Q2Amount'] - $data['Q2CreditNote'];
                            $q3Sales = $data['Q3Amount'] - $data['Q3CreditNote'];
                            $q4Sales = $data['Q4Amount'] - $data['Q4CreditNote'];
                            
                            ?>
                            <tr class="even_row">
                                <td style="text-align: center"><?php echo $data['Year']; ?></td>
                                <td style="text-align: center"><?php echo $this->translate('Quarter1') ?></td>
                                <td style="text-align: right"><?php echo number_format($q1Tax, 2); ?></td>
                                <td style="text-align: right"><?php echo number_format($q1SusTax, 2); ?></td>
                                <td class="change_order_total_col"><?php echo number_format($q1Sales, 2); ?></td>
                            </tr>
                            <tr class="even_row">
                                <td style="text-align: center"></td>
                                <td style="text-align: center"><?php echo $this->translate('Quarter2') ?></td>
                                <td style="text-align: right"><?php echo number_format($q2Tax, 2); ?></td>
                                <td style="text-align: right"><?php echo number_format($q2SusTax, 2); ?></td>
                                <td class="change_order_total_col"><?php echo number_format($q2Sales, 2); ?></td>
                            </tr>
                            <tr class="even_row">
                                <td style="text-align: center"></td>
                                <td style="text-align: center"><?php echo $this->translate('Quarter3') ?></td>
                                <td style="text-align: right"><?php echo number_format($q3Tax, 2); ?></td>
                                <td style="text-align: right"><?php echo number_format($q3SusTax, 2); ?></td>
                                <td class="change_order_total_col"><?php echo number_format($q3Sales, 2); ?></td>
                            </tr>
                            <tr class="even_row">
                                <td style="text-align: center"></td>
                                <td style="text-align: center"><?php echo $this->translate('Quarter4') ?></td>
                                <td style="text-align: right"><?php echo number_format($q4Tax, 2); ?></td>
                                <td style="text-align: right"><?php echo number_format($q4SusTax, 2); ?></td>
                                <td class="change_order_total_col"><?php echo number_format($q4Sales, 2); ?></td>
                            </tr>
                            <?php
                            $netTax = $q1Tax + $q2Tax + $q3Tax + $q4Tax;
                            $netSusTax = $q1SusTax + $q2SusTax + $q3SusTax + $q4SusTax;
                            $netAmount = $q1Sales + $q2Sales + $q3Sales + $q4Sales;
                        }
                        ?>
                        <tr>
                            <td style="text-align: right" colspan="4"><strong><?php echo $this->translate('TOTAL Sales') ?>:</strong></td>
                            <td class="change_order_total_col"><strong><?php echo number_format($netAmount, 2); ?></strong></td>
                        </tr>
                        <tr>
                            <td style="text-align: right" colspan="4"><strong><?php echo $this->translate('TOTAL Tax') ?>:</strong></td>
                            <td class="change_order_total_col"><strong><?php echo number_format($netTax, 2); ?></strong></td>
                        </tr>
                        <tr>
                            <td style="text-align: right" colspan="4"><strong><?php echo $this->translate('TOTAL Suspended Tax') ?>:</strong></td>
                            <td class="change_order_total_col"><strong><?php echo number_format($netSusTax, 2); ?></strong></td>
                        </tr>
                        <tr>
                            <td style="text-align: right" colspan="4"><strong><?php echo $this->translate('Sales Excluding Tax') ?>:</strong></td>
                            <td class="change_order_total_col"><strong><?php echo number_format(($netAmount - $netTax), 2); ?></strong></td>
                        </tr>
                    <?php } else { ?>

                        <tr>
                            <th><?php echo $this->translate('Year') ?></th>
                            <th><?php echo $this->translate('Quarter') ?></th>
                            <th><?php echo $this->translate('Total Sales') ?></th>
                        </tr>
                        <?php
                        foreach ($annualSalesData as $data) {
                            $q1Sales = $data['Q1Amount'] - $data['Q1CreditNote'];
                            $q2Sales = $data['Q2Amount'] - $data['Q2CreditNote'];
                            $q3Sales = $data['Q3Amount'] - $data['Q3CreditNote'];
                            $q4Sales = $data['Q4Amount'] - $data['Q4CreditNote'];
                            
                            ?>
                            <tr class="even_row">
                                <td style="text-align: center"><?php echo $data['Year']; ?></td>
                                <td style="text-align: center"><?php echo $this->translate('Quarter1') ?></td>
                                <td class="change_order_total_col"><?php echo number_format($q1Sales, 2); ?></td>
                            </tr>
                            <tr class="even_row">
                                <td style="text-align: center"></td>
                                <td style="text-align: center"><?php echo $this->translate('Quarter2') ?></td>
                                <td class="change_order_total_col"><?php echo number_format($q2Sales, 2); ?></td>
                            </tr>
                            <tr class="even_row">
                                <td style="text-align: center"></td>
                                <td style="text-align: center"><?php echo $this->translate('Quarter3') ?></td>
                                <td class="change_order_total_col"><?php echo number_format($q3Sales, 2); ?></td>
                            </tr>
                            <tr class="even_row">
                                <td style="text-align: center"></td>
                                <td style="text-align: center"><?php echo $this->translate('Quarter4') ?></td>
                                <td class="change_order_total_col"><?php echo number_format($q4Sales, 2); ?></td>
                            </tr>
                            <?php
                            $netAmount = $q1Sales + $q2Sales + $q3Sales + $q4Sales;
                        }
                        ?>
                        <tr>
                            <td colspan="2" style="text-align: right"><strong><?php echo $this->translate('GRAND TOTAL') ?>:</strong></td>
                            <td class="change_order_total_col"><strong><?php echo number_format($netAmount, 2); ?></strong></td>
                        </tr>
                    <?php } ?>
                </tbody>

            </table>
        </div>

    </div>
</div>



