<?php ini_set('memory_limit', '-1'); ?>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>

            </table>

            <table class="change_order_items">

                <tbody>
                    <?php
                    $netTax = 0.0;
                    $netAmount = 0.0;
                    $netNormalTax = 0.00;
                    $netComTax = 0.00;
                    $netSusTax = 0.00;
                    $netNormalAmount = 0.00;
                    if ($checkTaxStatus == 'true') {
                        ?>
                        <tr>
                            <th><?php echo $this->translate('Sales Person') ?></th>
                            <th><?php echo $this->translate('Date') ?></th>
                            <th><?php echo $this->translate('Invoice Ref. NO') ?></th>
                            <th><?php echo $this->translate('Customer Name') ?></th>
                            <th><?php echo $this->translate('Invoice Total') ?></th>
                            <th id="tax_row" colspan="1"><?php echo $this->translate(''.$taxString['normalTaxString'].'') ?></th>
                            <th id="tax_row" colspan="1"><?php echo $this->translate(''.$taxString['compoundTaxString'].'') ?></th>
                            <th id="tax_row" colspan="1"><?php echo $this->translate('Suspended Tax(SVAT)') ?></th>
                            <th><?php echo $this->translate('Total Sales without Tax') ?></th>
                        </tr>
                        <?php
                        foreach ($dailySalesData as $sID => $data) {
                            ?>
                            <tr class="even_row">
                                <td style="text-align: left"><?php echo $data['salesPersonSortName']; ?></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td class="change_order_total_col"></td>
                            </tr>
                            <?php
                            
                            if ($data['salesPersonSortName']) {

                                foreach ($data['data'] as $date => $invoiceData) {
                                    $subAmount = 0.00;
                                    $subNormalTax = 0.00;
                                    $subComTax = 0.00;
                                    $subSusTax = 0.00;
                                    $subNormalAmount = 0.00;
                                    ?>
                                    <tr class="even_row">
                                        <td style="text-align: left"></td>
                                        <td style="text-align: left" colspan="8"><?php echo $date; ?> </td>
                                    </tr>

                                    <?php
                                    if (!empty($invoiceData)) {
                                        foreach ($invoiceData as $d) {
                                            $amount = floatval($d['Amount']) - floatval($d['creditNoteProductTotal']);
                                            $normalTax = floatval($d['normalTax']) - floatval($d['CnormalTax']);
                                            $comTax = floatval($d['compoundTax']) - floatval($d['CcompoundTax']);
                                            $susTax = floatval($d['suspendedTax']) - floatval($d['CsuspendedTax']);
                                            $tax = floatval($normalTax) + floatval($comTax);
                                            $taxWithoutAmount = floatval($amount) - floatval($tax);
                                            
                                            $displayAmo = number_format($amount, 2);
                                            if ($amount < 0) {
                                                $displayAmo = '('.number_format(($amount)*-1, 2).')';
                                            }
                                            $displayNormalTax = number_format($normalTax, 2);
                                            if ($normalTax < 0) {
                                                $displayNormalTax = '('.number_format(($normalTax)*-1, 2).')';
                                            }
                                            $displayComTax = number_format($comTax, 2);
                                            if ($comTax < 0) {
                                                $displayComTax = '('.number_format(($comTax)*-1, 2).')';
                                            }
                                            $displaySusTax = number_format($susTax, 2);
                                            if ($susTax < 0) {
                                                $displaySusTax = '('.number_format(($susTax)*-1, 2).')';
                                            }
                                            
                                            $displayTaxWithOutAmount = number_format($taxWithoutAmount, 2);
                                            if ($taxWithoutAmount < 0) {
                                                $displayTaxWithOutAmount = '('.number_format(($taxWithoutAmount)*-1, 2).')';
                                            }

                                            ?>
                                            <tr class="even_row">
                                                <td style="text-align: left"></td>
                                                <td style="text-align: left"></td>
                                                <td style="text-align: left">
                                                    <?php echo $d['InvID']; ?>
                                                    <?php echo $d['creditNoteCode']; ?>
                                                </td>
                                                <td style="text-align: left"><?php echo $d['CusTitle'] . ' ' . $d['CusName']; ?></td>
                                                <td style="text-align: right"><?php echo $displayAmo; ?></td>
                                                <td style="text-align: right"><?php echo $displayNormalTax; ?></td>
                                                <td style="text-align: right"><?php echo $displayComTax; ?></td>
                                                <td style="text-align: right"><?php echo $displaySusTax; ?></td>
                                                <td class="change_order_total_col"><?php echo $displayTaxWithOutAmount; ?></td>
                                            </tr>
                                            <?php
                                            $subNormalTax+=$normalTax;
                                            $subComTax +=$comTax;
                                            $subSusTax +=$susTax;
                                            $netNormalTax +=$normalTax;
                                            $netComTax += $comTax;
                                            $netSusTax += $susTax;
                                            $subNormalAmount += $amount;

                                            $subAmount+=$taxWithoutAmount;
                                            $netAmount+=$taxWithoutAmount;
                                            $netNormalAmount += $amount;

                                        }
                                    }
                                   
                                    $displaySubNrmalAmo = number_format($subNormalAmount, 2);
                                    if ($subNormalAmount < 0) {
                                        $displaySubNrmalAmo = '('.number_format(($subNormalAmount)*-1, 2).')';
                                    }

                                    $displaySubNormalTax = number_format($subNormalTax, 2);
                                    if ($subNormalTax < 0) {
                                        $displaySubNormalTax = '('.number_format(($subNormalTax)*-1, 2).')';
                                    }

                                    $displaySubComTax = number_format($subComTax, 2);
                                    if ($subComTax < 0) {
                                        $displaySubComTax = '('.number_format(($subComTax)*-1, 2).')';
                                        
                                    }
                                    $displaySubSusTax = number_format($subSusTax, 2);
                                    if ($subSusTax < 0) {
                                        $displaySubSusTax = '('.number_format(($subSusTax)*-1, 2).')';
                                        
                                    }
                                    $displaySubAmount = number_format($subAmount, 2);
                                    if ($subAmount < 0) {
                                        $displaySubAmount = '('.number_format(($subAmount)*-1, 2).')';

                                    }


                                    ?>
                                    <tr>
                                        <td style="text-align: right" colspan="4"><strong><?php echo $this->translate("Total of") ?> <?php echo $date; ?>:</strong></td>
                                        <td class="change_order_total_col"><strong><?php echo $displaySubNrmalAmo; ?></strong></td>
                                        <td class="change_order_total_col"><strong><?php echo $displaySubNormalTax; ?></strong></td>
                                    <td class="change_order_total_col"><strong><?php echo $displaySubComTax; ?></strong></td>
                                    <td class="change_order_total_col"><strong><?php echo $displaySubSusTax; ?></strong></td>
                                    <td class="change_order_total_col"><strong><?php echo $displaySubAmount; ?></strong></td>
                                    </tr>
                                <?php 
                                }
                            }
                            
                        }
                        $displayNetNormalAmo = number_format($netNormalAmount,2);
                        if ($netNormalAmount < 0) {
                            $displayNetNormalAmo = '('.number_format(($netNormalAmount)*-1,2).')';
                        }

                        $displayNetAmo = number_format($netAmount, 2);
                        if ($netAmount < 0) {
                            $displayNetAmo = '('.number_format(($netAmount)*-1, 2).')';
                        }

                        $displayNetNormalTax = number_format($netNormalTax, 2);
                        if ($netNormalTax < 0) {
                            $displayNetNormalTax = '('.number_format(($netNormalTax)*-1, 2).')';
                        }

                        $displayNetComTax = number_format($netComTax, 2);
                        if ($netComTax < 0) {
                            $displayNetComTax = '('.number_format(($netComTax)*-1, 2).')';

                        }
                        $displayNetSusTax = number_format($netSusTax, 2);
                        if ($netSusTax < 0) {
                            $displayNetSusTax = '('.number_format(($netSusTax)*-1, 2).')';
                            
                        }


                        ?>
                        <tr>
                            <td style="text-align: right" colspan="8"><strong><?php echo $this->translate("TOTAL Sales") ?>:</strong></td>

                            <td class="change_order_total_col"><strong><?php echo $displayNetNormalAmo; ?></strong></td>
                        </tr>
                        <tr>
                            <td style="text-align: right" colspan="8"><strong><?php echo $this->translate("TOTAL Sales Without Tax") ?>:</strong></td>

                            <td class="change_order_total_col"><strong><?php echo $displayNetAmo; ?></strong></td>
                        </tr>
                        <tr>
                            <td style="text-align: right" colspan="8"><strong><?php echo $this->translate('TOTAL NBT Tax') ?>:</strong></td>
                            <td class="change_order_total_col"><strong><?php echo $displayNetNormalTax; ?></strong></td>
                        </tr>
                        <tr>
                            <td style="text-align: right" colspan="8"><strong><?php echo $this->translate('TOTAL VAT Tax') ?>:</strong></td>
                            <td class="change_order_total_col"><strong><?php echo $displayNetComTax; ?></strong></td>
                        </tr>
                        <tr>
                            <td style="text-align: right" colspan="8"><strong><?php echo $this->translate('TOTAL suspended Tax') ?>:</strong></td>
                            <td class="change_order_total_col"><strong><?php $displayNetSusTax; ?></strong></td>
                        </tr>

                    <?php } else { ?>
                        <tr>
                            <th><?php echo $this->translate('Sales Person') ?></th>
                            <th><?php echo $this->translate('Date') ?></th>
                            <th><?php echo $this->translate('Invoice Ref. NO') ?></th>
                            <th><?php echo $this->translate('Customer Name') ?></th>
                            <th><?php echo $this->translate('Total Sales') ?></th>
                        </tr>
                        <?php
                            
                        foreach ($dailySalesData as $sID => $data) {
                            ?>
                            <tr class="even_row">
                                <td style="text-align: left"><?php echo $data['salesPersonSortName']; ?></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td class="change_order_total_col"></td>
                            </tr>
                            <?php
                            if ($data['salesPersonSortName']) {

                                foreach ($data['data'] as $date => $invoiceData) {
                                    $subAmount = 0.00;
                                    $subTax = 0.00;
                                    ?>
                                    <tr class="even_row">
                                        <td style="text-align: left"></td>
                                        <td style="text-align: left" colspan="4"><?php echo $date; ?> </td>
                                    </tr>

                                    <?php
                                    if (!empty($invoiceData)) {
                                        foreach ($invoiceData as $d) {
                                            $amount = $d['Amount'] - $d['creditNoteProductTotal'];
                                            $displayAmo = number_format($amount, 2);
                                            if ($amount < 0) {
                                                $displayAmo = '('.number_format(($amount)*-1, 2).')';
                                            }
                                            
                                            $docCode = $d['InvID'];
                                            if (!$docCode) {
                                                $docCode = $d['creditNoteCode'];
                                            }
                                            ?>
                                            <tr class="even_row">
                                                <td style="text-align: left"></td>
                                                <td style="text-align: left"></td>
                                                <td style="text-align: left"><?php echo $docCode; ?></td>
                                                <td style="text-align: left"><?php echo $d['CusTitle'] . ' ' . $d['CusName']; ?></td>
                                                <td class="change_order_total_col"><?php echo $displayAmo; ?></td>
                                            </tr>
                                            <?php
                                            $subAmount+=$amount;
                                            $netAmount+=$amount;
                                        }
                                    }
                                    $displaySubNrmalAmo = number_format($subAmount, 2);
                                    if ($subAmount < 0) {
                                        $displaySubNrmalAmo = '('.number_format(($subAmount)*-1, 2).')';
                                    }
                                    ?>
                                    <tr>
                                        <td style="text-align: right" colspan="4"><strong><?php echo $this->translate("Total of") ?> <?php echo $date; ?>:</strong></td>
                                        <td class="change_order_total_col"><strong><?php echo $displaySubNrmalAmo; ?></strong></td>
                                    </tr>
                                    <?php
                                }
                            }
                        }
                        $displayNetNrmalAmo = number_format($netAmount, 2);
                        if ($netAmount < 0) {
                            $displayNetNrmalAmo = '('.number_format(($netAmount)*-1, 2).')';
                        }
                        ?>
                        <tr>
                            <td style="text-align: right" colspan="4"><strong><?php echo $this->translate('Total Sales') ?>:</strong></td>
                            <td class="change_order_total_col"><strong><?php echo $displayNetNrmalAmo; ?></strong></td>
                        </tr>
                    <?php } ?>
                </tbody>

            </table>

        </div>

    </div>
</div>



