<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>
<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7px">

            <?php echo $this->headerTemplate; ?>


            <table class="change_order_items">
                <?php
                $net_tax = 0.0;
                $net_sus_tax = 0.0;
                $net_amount = 0.0;
                $net_credit_note = 0.0;
                $net_sale_with_out_credit_note = 0.0;

                if ($checkTaxStatus === 'true') {
                    ?>
                    <tbody>
                        <tr>
                            <th><?php echo $this->translate('Year') ?></th>
                            <th><?php echo $this->translate('Month') ?></th>
                            <th colspan="1"><?php echo $this->translate('Total Credit Note') ?></th>
                            <th colspan="1"><?php echo $this->translate('Normal Tax(NBT)') ?></th>
                            <th colspan="1"><?php echo $this->translate('Compound Tax(VAT)') ?></th>
                            <th colspan="1"><?php echo $this->translate('Suspended Tax(SVAT)') ?></th>
                            <th><?php echo $this->translate('Total Sales') ?></th>
                        </tr>
                        <?php
                        foreach ($monthlySalesData as $key => $value) {
                            $sub_amount = 0.00;
                            $sub_normal_tax = 0.00;
                            $sub_compound_tax = 0.00;
                            $sub_sus_tax = 0.00;
                            $sub_credit_note = 0.00;
                            ?>
                            <tr class="even_row">
                                <td style="text-align: center"><?php echo $key; ?></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td class="change_order_total_col"></td>
                            </tr>
                            <?php
                            foreach ($value as $key1 => $value1) {
                                $grossNormalTax = $value1['normalTax'] - $value1['cnNormalTax'];
                                $grossCompoundTax = $value1['compoundTax'] - $value1['cnCompoundTax'];
                                $grossSusTax = $value1['suspendedTax'] - $value1['cnCuspendedTax'];
                                $grossTotal = ($value1['TotalAmount'] - $value1['creditNoteProductTotal']);
                                $net_sale_with_out_credit_note += $value1['TotalAmount'];
                                // for future developments
                                // $grossTotal = $grossTotal + $value1['directCreditNoteProductTotal'];
                                
                                $displayNormalTax = number_format($grossNormalTax, 2); 
                                if ($grossNormalTax < 0) {
                                    $displayNormalTax = '('.number_format(($grossNormalTax* -1), 2).')'; 
                                }
                                $displayGrossCompoundTax =  number_format($grossCompoundTax, 2);
                                if ($grossCompoundTax < 0) {
                                    $displayGrossCompoundTax =  '('.number_format(($grossCompoundTax*-1), 2).')';
                                }
                                $displayGrossSusTax = number_format($grossSusTax, 2);
                                if ($grossSusTax < 0) {
                                    $displayGrossSusTax = '('.number_format(($grossSusTax* -1), 2).')';
                                }
                                $displayGrossTotal = number_format($grossTotal, 2);
                                if ($grossTotal < 0) {
                                    $displayGrossTotal = '('. number_format(($grossTotal*-1), 2).')';
                                }
                                $creditNoteTotal = $value1['creditNoteProductTotal'];
                                ?>
                                <tr class="even_row">
                                    <td style="text-align: center"></td>
                                    <td style="text-align: right"><?php echo $value1['Month']; ?></td>
                                    <td class="change_order_total_col"><?php echo number_format($creditNoteTotal, 2); ?></td>
                                    <td class="change_order_total_col"><?php echo $displayNormalTax; ?></td>
                                    <td class="change_order_total_col"><?php echo $displayGrossCompoundTax; ?></td>
                                    <td class="change_order_total_col"><?php echo $displayGrossSusTax; ?></td>
                                    <td class="change_order_total_col"><?php echo $displayGrossTotal; ?></td>
                                </tr>
                                <?php
                                
                                $sub_credit_note += $creditNoteTotal;
                                $net_credit_note += $creditNoteTotal;
                                
                                $sub_normal_tax+=$grossNormalTax;
                                $sub_compound_tax+=$grossCompoundTax;
                                $sub_sus_tax+=$grossSusTax;
                                $net_tax+=$grossNormalTax;
                                $net_tax+=$grossCompoundTax;
                                $net_sus_tax+=$grossSusTax;
                                
                                $sub_amount+= $grossTotal;
                                $net_amount+= $grossTotal;

                                $displaySubNormalTax = number_format($sub_normal_tax, 2);
                                if ($sub_normal_tax < 0) {
                                    $displaySubNormalTax = '('.number_format(($sub_normal_tax*-1), 2).')';
                                }
                                $displaySubCompoundTax = number_format($sub_compound_tax, 2);
                                if ($sub_compound_tax < 0) {
                                    $displaySubCompoundTax = '('.number_format(($sub_compound_tax*-1), 2).')';
                                }
                                $displaySubSusTax = number_format($sub_sus_tax, 2);
                                if ($sub_sus_tax < 0) {
                                    $displaySubSusTax = '('.number_format(($sub_sus_tax*-1), 2).')';
                                }
                                $displaySubAmount = number_format($sub_amount, 2);
                                if ($sub_amount < 0) {
                                    $displaySubAmount = '('.number_format(($sub_amount*-1), 2).')';
                                }

                            }
                            ?>
                            <tr>
                                <td style="text-align: right" colspan="2"><strong><?php echo $this->translate('TOTAL of') ?> <?php echo $key; ?>:</strong></td>
                                <td class="change_order_total_col"><strong><?php echo number_format($sub_credit_note, 2); ?></strong></td>
                                <td class="change_order_total_col"><strong><?php echo $displaySubNormalTax; ?></strong></td>
                                <td class="change_order_total_col"><strong><?php echo $displaySubCompoundTax; ?></strong></td>
                                <td class="change_order_total_col"><strong><?php echo $displaySubSusTax; ?></strong></td>
                                <td class="change_order_total_col"><strong><?php echo $displaySubAmount; ?></strong></td>
                            </tr>
                            <?php
                        }

                        $displayNetAmo = number_format($net_amount,2);
                        if ($net_amount < 0) {
                            $displayNetAmo = '('.number_format(($net_amount*-1),2).')';
                        }
                        $displayNetTax = number_format($net_tax, 2);
                        if ($net_tax < 0) {
                            $displayNetTax = '('.number_format(($net_tax*-1), 2).')';
                        }
                        $displayNetSusTax = number_format($net_sus_tax, 2);
                        if ($net_sus_tax < 0) {
                            $displayNetSusTax = '('.number_format(($net_sus_tax*-1), 2).')';
                        }
                        $displaySalesExcusiveTax = number_format($net_amount - $net_tax, 2);
                        if ($net_amount - $net_tax < 0) {
                            $displaySalesExcusiveTax = '('.number_format(($net_amount - $net_tax)*-1, 2).')';
                            
                        }

                        ?>
                        <tr>
                            <td style="text-align: right" colspan="6"><strong><?php echo $this->translate('TOTAL Sales withOut CreditNote') ?>:</strong></td>
                            <td class="change_order_total_col"><strong><?php echo number_format($net_sale_with_out_credit_note,2); ?></strong></td>
                        </tr>
                        <tr>
                            <td style="text-align: right" colspan="6"><strong><?php echo $this->translate('TOTAL Credit Note') ?>:</strong></td>
                            <td class="change_order_total_col"><strong><?php echo number_format($net_credit_note, 2); ?></strong></td>
                        </tr>
                        <tr>
                            <td style="text-align: right" colspan="6"><strong><?php echo $this->translate('TOTAL Sales') ?>:</strong></td>
                            <td class="change_order_total_col"><strong><?php echo $displayNetAmo; ?></strong></td>
                        </tr>
                        <tr>
                            <td style="text-align: right" colspan="6"><strong><?php echo $this->translate('TOTAL Tax') ?>:</strong></td>
                            <td class="change_order_total_col"><strong><?php echo $displayNetTax; ?></strong></td>
                        </tr>
                        <tr>
                            <td style="text-align: right" colspan="6"><strong><?php echo $this->translate('TOTAL Suspended Tax') ?>:</strong></td>
                            <td class="change_order_total_col"><strong><?php echo $displayNetSusTax; ?></strong></td>
                        </tr>
                        <tr>
                            <td style="text-align: right" colspan="6"><strong><?php echo $this->translate('Sales Excluding Tax') ?>:</strong></td>
                            <td class="change_order_total_col"><strong><?php echo $displaySalesExcusiveTax; ?></strong></td>
                        </tr>
                    </tbody>
                    <?php
                } else {
                    ?>
                    <tbody>
                        <tr>
                            <th><?php echo $this->translate('Year') ?></th>
                            <th><?php echo $this->translate('Month') ?></th>
                            <th><?php echo $this->translate('Total Credit Note') ?></th>
                            <th><?php echo $this->translate('Total Sales') ?></th>
                        </tr>
                        <?php
                        foreach ($monthlySalesData as $key => $value) {
                            $sub_amount = 0.00;
                            $sub_credit_note = 0.00;
                            ?>
                            <tr class="even_row">
                                <td style="text-align: center"><?php echo $key; ?></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td class="change_order_total_col"></td>
                            </tr>
                            <?php
                            foreach ($value as $key1 => $value1) {
                                $grossTotal = ($value1['TotalAmount'] - $value1['creditNoteProductTotal']);
                                // for future development
                                // $grossTotal = $grossTotal + $value1['directCreditNoteProductTotal'];
                                $creditNoteTotal = $value1['creditNoteProductTotal'];
                                $displayGrossTotal = number_format($grossTotal, 2);
                                if ($grossTotal < 0) {
                                    $displayGrossTotal = '('. number_format(($grossTotal*-1), 2).')';
                                }
                                ?>
                                <tr class="even_row">
                                    <td style="text-align: center"></td>
                                    <td style="text-align: right"><?php echo $value1['Month']; ?></td>
                                    <td class="change_order_total_col"><?php echo number_format($creditNoteTotal, 2); ?></td>
                                    <td class="change_order_total_col"><?php echo $displayGrossTotal; ?></td>
                                </tr>
                                <?php
                                $sub_credit_note += $creditNoteTotal;
                                $net_credit_note += $creditNoteTotal;
                                
                                $sub_amount+= $grossTotal;
                                $net_amount+= $grossTotal;
                                $displaySubAmount = number_format($sub_amount, 2);
                                if ($sub_amount < 0) {
                                    $displaySubAmount = '('.number_format(($sub_amount*-1), 2).')';
                                }
                            }
                            ?>
                            <tr>
                                <td style="text-align: right" colspan="2"><strong><?php echo $this->translate('TOTAL of') ?> <?php echo $key; ?>:</strong></td>
                                <td class="change_order_total_col"><strong><?php echo number_format($sub_credit_note, 2); ?></strong></td>
                                <td class="change_order_total_col"><strong><?php echo $displaySubAmount; ?></strong></td>
                            </tr>
                            <?php
                        }
                        $displayNetAmo = number_format($net_amount,2);
                        if ($net_amount < 0) {
                            $displayNetAmo = '('.number_format(($net_amount*-1),2).')';
                        }

                        ?>
                        <tr>
                            <td style="text-align: right" colspan="3"><strong><?php echo $this->translate('Total Sales') ?>: </strong></td>
                            <td class="change_order_total_col"><strong><?php echo $displayNetAmo; ?></strong></td>
                        </tr>
                        <tr>
                            <td style="text-align: right" colspan="3"><strong><?php echo $this->translate('TOTAL Credit Note') ?>:</strong></td>
                            <td class="change_order_total_col"><strong><?php echo number_format($net_credit_note, 2); ?></strong></td>
                        </tr>
                    </tbody>

                <?php } ?>
            </table>
        </div>

    </div>
</div>



