<!--panel-->
<div class='panel panel-default margin_top margin_bottom panel_border'>

    <div class='panel-heading panel_heading_style'><!--panel_heading-->
        <h4 class="font_weight h1_no_margin report_heading"><?php echo $this->translate('Sales Report') ?></h4>
    </div>

    <div class="panel-body panel_body_style">

        <!--links-->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 remove_left_padding remove_right_padding panel_links">
            <ul class="nav nav-pills  nav-stacked data-tabs" data-tabs="tabs">
                <li id="monthly" class="report_pills active"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Monthly') ?></a></li>
                <li id="daily" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Daily') ?></a></li>
                <li id="annual" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Annual') ?></a></li>
                <li id="summery" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Summary') ?></a></li>
                <li id="grossProfit" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Gross Profit') ?></a></li>
                <li id="creditNote" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Credit Note') ?></a></li>
            </ul>
        </div>

        <!--process_area-->
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 form-horizontal process_area">
            <div id="report_head">

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 report_from_month"><!--from_month-->
                            <label class="control-label from_month_lbl"><?php echo $this->translate('From Month') ?></label>
                            <label class="control-label hidden from_date_lbl"><?php echo $this->translate('From Date') ?></label>
                            <label class="control-label hidden from_year_lbl"><?php echo $this->translate('Year') ?></label>

                            <input type="text" class="span2 datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="fromDate" name="fromDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to Set a From Date') ?>">
                            <input type="text" class="span2 datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="fromMonth" name="fromMonth" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('From Month') ?>"/>
                            <input type="text" class="span2 datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="year" name="year" data-date-format="yyyy" placeholder="<?php echo $this->translate('Click to Set a Year') ?>">
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 to set_to_date"><!--set_to_date-->
                            <label class="control-label to_month_lbl"><?php echo $this->translate('To Month') ?></label>
                            <label class="control-label to_date_lbl hidden"><?php echo $this->translate('To Date') ?></label>

                            <input type="text" class="span2 datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="toDate" name="toDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to Set a To Date') ?>">
                            <input type="text" class="span2 datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="toMonth" name="toMonth" data-date-format="MM-yyyy" placeholder="<?php echo $this->translate('To Month') ?>"/>
                        </div>
                        <div class="sales-person col-lg-3 col-md-4 col-sm-4 col-xs-4 hidden">
                            <label class="control-label"><?php echo $this->translate('Sales Person') ?></label>
                            <select class="form-control selectpicker" data-actions-box="true" name="salesPersons" id="salesPersons" multiple="multiple" title="<?php echo $this->translate('Select Sales Persons') ?>">
                                <?php
                                foreach ($this->salesPersons as $spID => $value) :
                                    echo '<option value="' . $spID . '">' . $value . '</option>';
                                endforeach;
                                ?>
                                <option value="other">Other</option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <label class="control-label sort"><?php echo $this->translate('Sort By') ?></label>
                            <label class="control-label location-lbl"><?php echo $this->translate('Location') ?></label>
                            <div class="location-list">
                                <select class='form-control selectpicker ' data-actions-box="true" data-live-search="true" name="locationList" id="locationList" multiple="multiple" title='<?php echo $this->translate('Select Location(s)') ?>'>
                                    <?php
                                    foreach ($this->locationList as $id => $row):
                                        echo '<option value="' . $id . '">' . $row['locationName'] . '</option>';
                                    endforeach;
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4"><!--tax-->
                            <label class="control-label tax_chk_lbl"><?php echo $this->translate('Tax') ?></label>
                            <div class="text_margin_top">
                                <label id="lblTax" name="lbl_name"><input type="checkbox" id="tax" name="tax" value="0" class="check_box_mar_right"/></label>
                            </div>
                        </div>
                    </div><!--row-->
                    <div class="row">                        
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><!--slaes person-->
                            <div class="customer-category-div">
                                <br>
                                <label class="control-label"><?php echo $this->translate('Customer Category') ?></label>
                                <select class="form-control selectpicker" data-actions-box="true" name="customerCategoryList" id="customerCategoryList" multiple="multiple" title="<?php echo $this->translate('Select Customer Category'); ?>">
                                    <?php
                                    foreach ($this->cusCategory as $cuCateID => $value) :
                                        echo '<option value="' . $cuCateID . '">' . $value . '</option>';
                                    endforeach;
                                        
                                    ?>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><!--slaes person-->
                            <div class="sales-person-div hidden">
                                <br>
                                <label class="control-label"><?php echo $this->translate('Sales Person') ?></label>
                                <select class="form-control selectpicker" data-actions-box="true" name="salesPersonsList" id="salesPersonList" multiple="multiple" title="<?php echo $this->translate('Select Sales Persons'); ?>">
                                    <?php
                                    foreach ($this->salesPersons as $spID => $value) :
                                        echo '<option value="' . $spID . '">' . $value . '</option>';
                                    endforeach;
                                        echo '<option value="other">Other</option>';
                                    ?>
                                </select>
                            </div>
                        </div>
                   
                        
                    </div><!--row-->

                    <div class="row">
                        <div class="col-lg-12 btn-group btn_panel_height_high report_buttons">
                            <button class="btn btn-default col-lg-2" id="viewReport"><?php echo $this->translate('View Report') ?></button>
                            <button class="btn btn-default col-lg-2" id="generatePdf"><?php echo $this->translate('Generate PDF') ?></button>
                            <button class="btn btn-default col-lg-2" id="csvReport"><?php echo $this->translate('Generate CSV') ?></button>
                            <button class="btn btn-default col-lg-2" id="viewGraph"><?php echo $this->translate('View Graph') ?></button>
                        </div>
                    </div>
                </div><!--form-group-->

            </div><!--report_head-->
        </div><!--form_horizontal-->

    </div><!--panel_body-->
        <div class="panel-footer" id="generatedReports">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-5">
                            <h5 id="reportName"></h5>
                        </div>
                        <div class="col-md-5">
                            <h5 id="reportCreated"></h5>
                        </div>
                        <div class="col-md-1">
                            <h5><a id="reportUrl" href="" target="_blank"><i class="fa fa-download"></i></a></h5>
                        </div>
                        <div  class="col-md-1">
                            <h5><a id="reportDelete"  data-id="" target="_blank"><i class="fa fa-remove"></i></a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div><!--panel-->

<iframe id="salesReport" class="panel panel-default margin_top margin_bottom panel_border report-iframe"></iframe>
<div id="salesGraphReport"></div>
