<div class="row">
  <div class="col-lg-6">
    <a class="btn btn-primary newJob" href="<?php echo $this->url('serviceJobs', array('action' => 'create'));?>" style="font-size: 18px; height: 38px; width: 170px;">
          <i class="glyphicon glyphicon-plus"></i> &nbsp <span>New Job</span>
      </a>
  </div>
</div>
<br>
<div id="dashboardVehicleList">
  <?php echo $this->partial('jobs/service-job-dashboard/job-vehicle-list', array('pendingJobList' => $this->pendingJobList, 'inProgressJobList' => $inProgressJobList, 'completedJobList' => $completedJobList, 'pendingJobCount'=> $pendingJobCount, 'inprogressJobCount' => $inprogressJobCount, 'completedJobCount' => $completedJobCount, 'closedJobCount' => $closedJobCount, 'deletedJobCount' => $deletedJobCount)); ?>
</div>

<div class="modal fade" id="serviceListModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog _custom_large_modal">
      <div class="modal-content">
          <div class="modal-header">
              <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-2 xs-margin-bottom">
                      <center><label for="jobCustomer"><?php echo $this->translate('Customer') ?></label></center>
                      <center><span id="jobCustomer"></span></center>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 xs-margin-bottom">
                      <center><label for="jobVehicle"><?php echo $this->translate('Vehicle') ?></label></center>
                      <center><span id="jobVehicle"></span></center>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 xs-margin-bottom">
                      <center><label for="jobCard"><?php echo $this->translate('Job Card') ?></label></center>
                      <center><span id="jobCard"></span></center>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 xs-margin-bottom">
                      <center><label for="jobInDate"><?php echo $this->translate('In Date & Time') ?></label></center>
                      <center><span id="jobInDate"></span></center>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 xs-margin-bottom text-left">
                      <center><label for="jobInDate"><?php echo $this->translate('Job Status') ?></label></center>
                      <center><span id="jobStatus"></span></center>
                  </div>
              </div>
              
          </div>

          <div class="modal-body" id="addServiceRateBody">
            <div id="service-list" class="margin_top">
                <?php echo $this->partial('jobs/service-job-dashboard/service-list', array('serviceList' => $this->serviceList)); ?>
            </div>
          </div>
          <br>
          <div class="modal-footer modal-footer-style">
              <div class="row" id="viewServiceRates">
                <div class="col-lg-6 col-md-6 col-xs-6 text-left">
                      <button type="button" class="btn btn-success hidden" id="btnStartAll"><?php echo $this->translate('Start All') ?></button>
                      <button type="button" class="btn btn-default hidden" id="btnEndAll"><?php echo $this->translate('End All') ?></button>
                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-6">
                      <a href="#" class="btn btn-success hidden" id="btnCosting" >Cost Job</a>
                      <button type="button" class="btn btn-default" id="btnViewServiceClose"><?php echo $this->translate('Close') ?></button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->AddEmployeeView; ?>
</div>

<style type="text/css">
  .newJob {
        background-image: linear-gradient(#3d51c2 , #82b4fc);
        color: white;
        border-radius: 10px; 
        -moz-border-radius: 10px; 
        -webkit-border-radius: 10px;
        min-width: 180px;
        min-height: 35px; 
        font-weight: bold;
        font-size: 17px;
  }
</style>