<div class="row" style="min-height: 100vh;">
  <div class="row">
    <div class="col-lg-5 col-md-6 col-sm-12" style="padding-left:30px; padding-bottom: 5px;">
      <button href="/service-job" class="myButton newJob">New Job</button>
      <button class="myButton listView">List View</button>
    </div>
  </div>
  <div class="row">
    <div id="dup-side-list"></div>
    <div id="side-list">
      <div class="col-lg-5 col-md-6 col-sm-12">
        <ul class="nav nav-tabs">
          <li class="active pendingTab">
            <a data-toggle="tab" href="#pendingJobsTab" id="pendingJobCount" data-count="<?php echo $this->pendingJobCount; ?>" class="pendingJobsTab"><span class="tab-title">Pending - <?php echo $this->pendingJobCount; ?></span></a>
          </li>
          <li class="inprogressTab">
            <a data-toggle="tab" href="#inprogressJobsTab" id="inprogressJobCount" data-count="<?php echo $this->inprogressJobCount ?>" class="inprogressJobsTab"><span class="tab-title">Inprogress - <?php echo $this->inprogressJobCount?></span></a>
          </li>
          <li class="completedTab">
            <a data-toggle="tab" href="#finishedJobsTab" id="completedJobCount" data-count="<?php echo $this->completedJobCount ?>" class="completedJobsTab"><span class="tab-title">Finished - <?php echo $this->completedJobCount;?></span></a>
          </li>
        </ul>
        <div id="jobTab" class="job-tabs tab-content">
          <div class="tab-content">
            <br>
            <div id="pendingJobsTab" class="tab-pane fade in active">
              <div class="hidden pending-sample-div"  data-id="<?php echo $value['jobId'];?>">
                <svg width="100%" height="100%" viewBox="0 0 550 110">
                  <defs>
                    <linearGradient id="pending-sample" x1="0%" y1="0%" x2="0%" y2="100%">
                      <stop offset="0%" class="pending-stop-1" stop-color="#fabe50"/>
                      <stop offset="100%" class="pending-stop-2" stop-color="#f8701e"/>
                    </linearGradient>
                  </defs>
                  <path
                    stroke="#ccc"
                    fill="url(#pending)"
                    d="M 0 0 L 100 0 Q 120 0 130 30 Q 140 60 150 90 Q 160 120 180 120 L 0 120 L 0 0 z"
                  />
                  <text id="timesStamp" x="70px" y="100px"
                    font-family="sans-serif"
                    font-size="10px"
                    text-anchor="middle"
                    font-weight="600"
                    fill="white">
                  </text>
                  <text id="regNo" x="300px" y="50px"
                    font-family="sans-serif"
                    font-size="40px"
                    text-anchor="middle"
                    font-weight="500"
                    fill="#646464">
                  </text>
                  <text id="kms" x="300px" y="80px"
                    font-family="sans-serif"
                    font-size="15px"
                    text-anchor="middle"
                    fill="#646464">
                  </text>
                  <text id="tp" x="300px" y="100px"
                    font-family="sans-serif"
                    font-style="italic"
                    font-size="12px"
                    text-anchor="middle"
                    fill="#646464">
                  </text>
                  <text id="vm" x="500px" y="50px"
                    font-family="sans-serif"
                    font-size="15px"
                    font-weight="600"
                    text-anchor="middle"
                    fill="#646464">
                  </text>
                  <text id="sm" x="500px" y="70px"
                    font-family="sans-serif"
                    font-size="15px"
                    text-anchor="middle"
                    fill="#646464">
                  </text>
                </svg>
              </div>
              <?php 
                  if ($this->pendingJobCount > 0) {
                    foreach ($this->pendingJobList as $value) {
                ?>
                <div class="sub-stat pendingjobs jobTile after-scroll"  data-id="<?php echo $value['jobId'];?>">
                  <svg width="100%" height="100%" viewBox="0 0 550 110">
                    <defs>
                      <linearGradient id="pending" x1="0%" y1="0%" x2="0%" y2="100%">
                        <stop offset="0%"   stop-color="#fabe50"/>
                        <stop offset="100%" stop-color="#f8701e"/>
                      </linearGradient>
                    </defs>
                    <path
                      stroke="#ccc"
                      fill="url(#pending)"
                      d="M 0 0 L 100 0 Q 120 0 130 30 Q 140 60 150 90 Q 160 120 180 120 L 0 120 L 0 0 z"
                    />
                    <text x="70px" y="100px"
                      font-family="sans-serif"
                      font-size="10px"
                      text-anchor="middle"
                      font-weight="600"
                      fill="white"><?php echo  explode(" ",$value['createdTimeStamp'])[1]; ?>
                    </text>
                    <text x="300px" y="50px"
                      font-family="sans-serif"
                      font-size="40px"
                      text-anchor="middle"
                      font-weight="500"
                      fill="#646464"><?php echo $value['serviceVehicleRegNo']; ?>
                    </text>
                    <text x="300px" y="80px"
                      font-family="sans-serif"
                      font-size="15px"
                      text-anchor="middle"
                      fill="#646464"><?php echo floatval($value['jobVehicleKMs']). " KM"; ?>
                    </text>
                    <text x="300px" y="100px"
                      font-family="sans-serif"
                      font-style="italic"
                      font-size="12px"
                      text-anchor="middle"
                      fill="#646464"><?php echo $value['customerTelephoneNumber']; ?>
                    </text>
                    <text x="500px" y="50px"
                      font-family="sans-serif"
                      font-size="15px"
                      font-weight="600"
                      text-anchor="middle"
                      fill="#646464"><?php echo $value['vehicleModelName']; ?>
                    </text>
                    <text x="500px" y="70px"
                      font-family="sans-serif"
                      font-size="15px"
                      text-anchor="middle"
                      fill="#646464"><?php echo $value['vehicleSubModelName']; ?>
                    </text>
                  </svg>
                </div>
               <?php
                    } 
                  }
                ?>
            </div>
            <div id="inprogressJobsTab" class="tab-pane fade">
              <div class="hidden inprogress-sample-div" data-id="<?php echo $value['jobId'];?>">
                <svg width="100%" height="100%" viewBox="0 0 550 110">
                  <defs>
                    <linearGradient id="inprogress-sample" x1="0%" y1="0%" x2="0%" y2="100%">
                      <stop offset="0%" class="inprogress-stop-1"  stop-color="#4e30b6"/>
                      <stop offset="100%" class="inprogress-stop-2" stop-color="#bd67d4"/>
                    </linearGradient>
                  </defs>
                  <path
                    stroke="#ccc"
                    fill="url(#inprogress)"
                    d="M 0 0 L 100 0 Q 120 0 130 30 Q 140 60 150 90 Q 160 120 180 120 L 0 120 L 0 0 z"
                  />
                  <text id="timesStamp-inp" x="70px" y="100px"
                    font-family="sans-serif"
                    font-size="10px"
                    text-anchor="middle"
                    font-weight="600"
                    fill="white">
                  </text>
                  <text id="regNo-inp" x="300px" y="50px"
                    font-family="sans-serif"
                    font-size="40px"
                    text-anchor="middle"
                    font-weight="500"
                    fill="#646464">
                  </text>
                  <text id="kms-inp" x="300px" y="80px"
                    font-family="sans-serif"
                    font-size="15px"
                    text-anchor="middle"
                    fill="#646464">
                  </text>
                  <text id="tp-inp" x="300px" y="100px"
                    font-family="sans-serif"
                    font-style="italic"
                    font-size="12px"
                    text-anchor="middle"
                    fill="#646464">
                  </text>
                  <text id="vm-inp" x="500px" y="50px"
                    font-family="sans-serif"
                    font-size="15px"
                    font-weight="600"
                    text-anchor="middle"
                    fill="#646464">
                  </text>
                  <text id="sm-inp" x="500px" y="70px"
                    font-family="sans-serif"
                    font-size="15px"
                    text-anchor="middle"
                    fill="#646464">
                  </text>
                </svg>
              </div>
              <?php 
                if ($this->inprogressJobCount > 0) {
                  foreach ($this->inProgressJobList as $value) {
              ?>
                <div class="sub-stat inProgressJob jobTile" data-id="<?php echo $value['jobId'];?>">
                  <svg width="100%" height="100%" viewBox="0 0 550 110">
                    <defs>
                      <linearGradient id="inprogress" x1="0%" y1="0%" x2="0%" y2="100%">
                        <stop offset="0%" stop-color="#4e30b6"/>
                        <stop offset="100%" stop-color="#bd67d4"/>
                      </linearGradient>
                    </defs>
                    <path
                      stroke="#ccc"
                      fill="url(#inprogress)"
                      d="M 0 0 L 100 0 Q 120 0 130 30 Q 140 60 150 90 Q 160 120 180 120 L 0 120 L 0 0 z"
                    />
                    <text x="70px" y="100px"
                      font-family="sans-serif"
                      font-size="10px"
                      text-anchor="middle"
                      font-weight="600"
                      fill="white"><?php echo  explode(" ",$value['createdTimeStamp'])[1]; ?>
                    </text>
                    <text x="300px" y="50px"
                      font-family="sans-serif"
                      font-size="40px"
                      text-anchor="middle"
                      font-weight="500"
                      fill="#646464"><?php echo $value['serviceVehicleRegNo']; ?>
                    </text>
                    <text x="300px" y="80px"
                      font-family="sans-serif"
                      font-size="15px"
                      text-anchor="middle"
                      fill="#646464"><?php echo floatval($value['jobVehicleKMs']). " KM"; ?>
                    </text>
                    <text x="300px" y="100px"
                      font-family="sans-serif"
                      font-style="italic"
                      font-size="12px"
                      text-anchor="middle"
                      fill="#646464"><?php echo $value['customerTelephoneNumber']; ?>
                    </text>
                    <text x="500px" y="50px"
                      font-family="sans-serif"
                      font-size="15px"
                      font-weight="600"
                      text-anchor="middle"
                      fill="#646464"><?php echo $value['vehicleModelName']; ?>
                    </text>
                    <text x="500px" y="70px"
                      font-family="sans-serif"
                      font-size="15px"
                      text-anchor="middle"
                      fill="#646464"><?php echo $value['vehicleSubModelName']; ?>
                    </text>
                  </svg>
                </div>
              <?php
                  }
                }
              ?>
            </div>
            <div id="finishedJobsTab" class="tab-pane fade">
              <div class="completed-sample-div hidden" data-id="<?php echo $value['jobId'];?>">
                <svg width="100%" height="100%" viewBox="0 0 550 110">
                  <defs>
                    <linearGradient id="success-finished-sample" x1="0%" y1="0%" x2="0%" y2="100%">
                      <stop offset="0%"   stop-color="#b4ec51"/>
                      <stop offset="100%" stop-color="#429321"/>
                    </linearGradient>
                  </defs>
                  <path
                    stroke="#ccc"
                    fill="url(#success-finished)"
                    d="M 0 0 L 100 0 Q 120 0 130 30 Q 140 60 150 90 Q 160 120 180 120 L 0 120 L 0 0 z"
                  />
                  <text id="timesStamp-com" x="70px" y="100px"
                    font-family="sans-serif"
                    font-size="10px"
                    text-anchor="middle"
                    font-weight="600"
                    fill="white">
                  </text>
                  <text id="regNo-com" x="300px" y="50px"
                    font-family="sans-serif"
                    font-size="40px"
                    text-anchor="middle"
                    font-weight="500"
                    fill="#646464">
                  </text>
                  <text id="kms-com" x="300px" y="80px"
                    font-family="sans-serif"
                    font-size="15px"
                    text-anchor="middle"
                    fill="#646464">
                  </text>
                  <text id="tp-com" x="300px" y="100px"
                    font-family="sans-serif"
                    font-style="italic"
                    font-size="12px"
                    text-anchor="middle"
                    fill="#646464">
                  </text>
                  <text id="vm-com" x="500px" y="50px"
                    font-family="sans-serif"
                    font-size="15px"
                    text-anchor="middle"
                    font-weight="600"
                    fill="#646464">
                  </text>
                  <text id="sm-com" x="500px" y="70px"
                    font-family="sans-serif"
                    font-size="15px"
                    text-anchor="middle"
                    fill="#646464">
                  </text>
                </svg>
              </div>
              <?php 
                if ($this->completedJobCount > 0) {
                  foreach ($this->completedJobList as $value) {
              ?>
                <div class="sub-stat completedJobs jobTile" data-id="<?php echo $value['jobId'];?>">
                  <svg width="100%" height="100%" viewBox="0 0 550 110">
                    <defs>
                      <linearGradient id="success-finished" x1="0%" y1="0%" x2="0%" y2="100%">
                        <stop offset="0%"   stop-color="#b4ec51"/>
                        <stop offset="100%" stop-color="#429321"/>
                      </linearGradient>
                    </defs>
                    <path
                      stroke="#ccc"
                      fill="url(#success-finished)"
                      d="M 0 0 L 100 0 Q 120 0 130 30 Q 140 60 150 90 Q 160 120 180 120 L 0 120 L 0 0 z"
                    />
                    <text x="70px" y="100px"
                      font-family="sans-serif"
                      font-size="10px"
                      text-anchor="middle"
                      font-weight="600"
                      fill="white"><?php echo  explode(" ",$value['createdTimeStamp'])[1]; ?>
                    </text>
                    <text x="300px" y="50px"
                      font-family="sans-serif"
                      font-size="40px"
                      text-anchor="middle"
                      font-weight="500"
                      fill="#646464"><?php echo $value['serviceVehicleRegNo']; ?>
                    </text>
                    <text x="300px" y="80px"
                      font-family="sans-serif"
                      font-size="15px"
                      text-anchor="middle"
                      fill="#646464"><?php echo floatval($value['jobVehicleKMs']). " KM"; ?>
                    </text>
                    <text x="300px" y="100px"
                      font-family="sans-serif"
                      font-style="italic"
                      font-size="12px"
                      text-anchor="middle"
                      fill="#646464"><?php echo $value['customerTelephoneNumber']; ?>
                    </text>
                    <text x="500px" y="50px"
                      font-family="sans-serif"
                      font-size="15px"
                      text-anchor="middle"
                      font-weight="600"
                      fill="#646464"><?php echo $value['vehicleModelName']; ?>
                    </text>
                    <text x="500px" y="70px"
                      font-family="sans-serif"
                      font-size="15px"
                      text-anchor="middle"
                      fill="#646464"><?php echo $value['vehicleSubModelName']; ?>
                    </text>
                  </svg>
                </div>
              <?php
                  }
                }
              ?>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12 right-div jobPreviewDiv hidden" id="jobPreviewDiv">
      <div class="main-div col-lg-12 col-md-12 col-sm-12 col-xs-12 jobPreviewSvg">
        <svg width="100%" height="100%" viewBox="0 0 700 140">
          <defs>
            <linearGradient id="success-pending" x1="0%" y1="0%" x2="0%" y2="100%">
              <stop class="stop1" offset="0%"   stop-color="#b4ec51"/>
              <stop class="stop2" offset="100%" stop-color="#429321"/>
            </linearGradient>
          </defs>
          <path stroke="#ccc"
            fill="url(#success-pending)"
            d="
              M 0 0 Q 150 0 180 0 Q 270 0 340 40 Q 370 60 410 90 Q 480 140 700 140 L 0 140 L 0 0 Z
          "/>
          <text x="150px" y="70px"
            font-family="sans-serif"
            font-size="50px"
            text-anchor="middle"
            fill="white"
            class="vehicleRegNo">
          </text>
          <text x="30px" y="100px"
            font-family="sans-serif"
            font-style="italic"
            font-weight="500"
            font-size="15px"
            text-anchor="inherit"
            fill="white">Job Card
          </text>
          <text x="30px" y="120px"
            font-family="sans-serif"
            font-weight="500"
            font-size="15px"
            text-anchor="inherit"
            fill="white"
            class="jobCardName">
          </text>
          <text x="690px" y="40px"
            font-family="sans-serif"
            font-size="15px"
            text-anchor="end"
            fill="gray"
            class="jobCustomerName">
          </text>
          <text x="690px" y="70px"
            font-family="sans-serif"
            font-size="15px"
            text-anchor="end"
            fill="gray"
            class="jobStartedTime">
          </text>
          <text x="690px" y="100px"
            font-family="sans-serif"
            font-size="15px"
            text-anchor="end"
            font-weight="600"
            fill="gray"
            class="vehicleModal">
          </text>
        </svg>
      </div>
      <div class="tab-conta">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vehicle-service-tab-full-div">
          <ul class="nav nav-tabs vehicle-service-tab-header">
            <li class="active">
              <a data-toggle="tab" href="#servicesTab"><span class="tab-title">Services</span></a>
            </li>
            <li>
              <a data-toggle="tab" href="#statusTab"><span class="tab-title">Status</span></a>
            </li>
            <li>
              <a data-toggle="tab" href="#historyTab"><span class="tab-title">Remarks</span></a>
            </li>
            <li id="addMaterial">
              <a data-toggle="tab" href="#materialTab"><span class="tab-title">Materials</span></a>
            </li>
            <li id="estCost">
              <a data-toggle="tab" href="#estCostTab" id="costTab"><span class="tab-title">Est.Cost</span></a>
            </li>
            <li style="float:right; margin-right: 13px">
              <a href="#" class="editJob">
                <img src="/assets/img/writing.png" style="max-width: 30px">
              </a>
            </li>
            <li style="float:right;">
              <a href="#" class="deleteJob">
                <img src="/assets/img/delete.png" style="max-width: 30px">
              </a>
            </li>
            <li style="float:right;">
              <a href="#" class="printJob">
                <img src="/assets/img/printer.png" style="max-width: 30px">
              </a>
            </li>
          </ul>
          <div class="tab-content col-lg-12 col-md-12 col-sm-12 col-xs-12 vehicle-service-content">
            <div class="tab-content col-lg-12 col-md-12 col-sm-12 col-xs-12 vehicle-service-content-inner-div">
              <div id="servicesTab" class="tab-pane fade in active col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <br>
                <br>
                <div id="service-list">
                </div>
                <div class="hidden jobStationSelect">
                  <select class="form-control selectpicker" name="stationSelect" data-container="body">
                  </select>
                </div>
                <div class="hidden jobEmployeeSelect">
                  <select class="form-control selectpicker" name="employeeSelect" data-actions-box="true" multiple="multiple" title="Select Employees" data-container="body" data-selected-text-format="count">
                  </select>
                </div>
                <!-- <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th width="15%" scope="col">Service</th>
                      <th width="20%" scope="col">Station</th>
                      <th width="20%" scope="col">Employee</th>
                      <th width="5%" scope="col" class="text-center">Issue Material</th>
                      <th width="25%" scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>Under Wash</th>
                      <td>
                        <div class="custom-select" style="width:200px;">
                          <select>
                            <option value="0">Station 01</option>
                            <option value="1">Station 02</option>
                            <option value="2">Station 03</option>
                          </select>
                        </div>
                      </td>
                      <td>
                        <div class="custom-select" style="width:200px;">
                          <select>
                            <option value="0">Employee 01</option>
                            <option value="1">Employee 02</option>
                            <option value="2">Employee 03</option>
                          </select>
                        </div>
                      </td>
                      <td class="text-center">
                        <a href="#" class="status department-action" data-action="status">
                          <span class="fa fa-check-square-o custom_font_size"></span>
                        </a>
                      </td>
                      <td class="text-center">
                        <strong class="btn btn-default hold_task" ><i class="fa fa-pause" style="font-size: 30px; color: #2d7f9e;"></i></strong>
                        <strong class="btn btn-default start_task" ><i class="fa fa-play" style="font-size: 30px; color: green;"></i></strong>
                        <strong class="btn btn-default end_task" ><i class="fa fa-stop" style="font-size: 30px; color: red;"></i></strong>
                      </td>
                    </tr>
                  </tbody>
                </table> -->
              </div>
              <div id="estCostTab" class="tab-pane fade col-lg-12 col-md-12 col-sm-12 col-xs-12 vehicle-servive-tab-content">
                <div>
                  <br>
                  <div class="row job-card-table">
                    <div class="row">
                      <center><h4 style="margin-left: 15px;"><b>Applied Job Card Rate</b></h4></center>
                    </div>
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right: 25px; padding-left: 25px;">
                        <table class="table table-striped margin_top_normal table-condensed">
                            <thead>
                                <tr>
                                    <th><?php echo $this->translate("Job Card Code"); ?></th>
                                    <th ><?php echo $this->translate("Job Card Name"); ?></th>
                                    <th style="text-align: center"><?php echo $this->translate("Rate"); ?></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="jobCardRate" class="add-row sample hidden">
                                    <td id="jobCardCode"></td>
                                    <td id="jobCardName"></td>
                                    <td style="text-align: center" id="jobCardServiceRate"></td>
                                </tr>
                            </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="row service-table">
                  <hr>
                    <div class="row">
                      <center><h4 style="margin-left: 15px;"><b>Applied Services Rate</b></h4></center>
                    </div>
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right: 25px; padding-left: 25px;">
                        <table class="table table-striped margin_top_normal table-condensed">
                            <thead>
                                <tr>
                                    <th><?php echo $this->translate("Service Code"); ?></th>
                                    <th ><?php echo $this->translate("Service Name"); ?></th>
                                    <th style="text-align: center;"><?php echo $this->translate("Service Rate"); ?></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="nonJobCardService" class="add-row sample hidden">
                                    <td id="serviceCode"></td>
                                    <td id="serviceName"></td>
                                    <td style="text-align: center;" id="serviceRate"></td>
                                </tr>
                            </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="row trade-material-table">
                  <hr>
                    <div class="row">
                      <center><h4 style="margin-left: 15px;"><b>Applied Trade Material Rates</b></h4></center>
                    </div>
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <table class="table table-striped margin_top_normal table-condensed">
                            <thead>
                                <tr>
                                    <th ><?php echo $this->translate("Item Name And Code"); ?></th>
                                    <th ><?php echo $this->translate("Quantity"); ?></th>
                                    <th ><?php echo $this->translate("Price"); ?></th>
                                    <th ><?php echo $this->translate("Total"); ?></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="tradeMaterealRow" class="add-row sample hidden">
                                    <td id="itemNameAndCode"></td>
                                    <td id="itemQty" ></td>
                                    <td id="itemPrice"></td>
                                    <td id="totalPrice"></td>
                                </tr>
                            </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: right;">
                      <span><h3><b id="estTotal"></b></h3></span>
                    </div>
                  </div>
                </div>
              </div>
              <div id="statusTab" class="tab-pane fade col-lg-12 col-md-12 col-sm-12 col-xs-12 vehicle-servive-tab-content">
                <div class="statusDiv" id="statusDiv">
                    <div class="col-lg-12 col-md-12 col-sm-12 status-type-container" id="vehicle-status-view">
                    </div>
                    <div class="bottom-buttons-div col-lg-12 col-md-12 col-sm-12 col-xs-12 status-button-div">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 save-button-div">
                        <svg id="save-button" width="50%" height="50%" viewBox="0 0 250 75" fill="none">
                          <path
                            stroke="#ccc"
                            fill="url(#success-save)"
                            d="M 0 72 Q 0 72 0 0 C 60 0 60 0 60 0 C 168 12 120 72 252 72 C 60 72 72 72 0 72 z"
                          />
                          <defs>
                            <linearGradient id="success-save" x1="0%" y1="0%" x2="0%" y2="100%">
                              <stop offset="0%"   stop-color="#b4ec51"/>
                              <stop offset="100%" stop-color="#429321"/>
                            </linearGradient>
                          </defs>
                          <text x="50px" y="45px"
                            font-family="sans-serif"
                            font-size="20px"
                            text-anchor="middle"
                            font-weight="600"
                            fill="white">Save
                          </text>
                        </svg>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 remarks-button-div">
                        <svg id="remarks-button" width="50%" height="50%" viewBox="0 0 250 75" fill="none" class="pull-right">
                          <path
                            stroke="#ccc"
                            fill="url(#success-remarks)"
                            d="M 0 72 Q 24 72 252 72 Q 252 36 252 0 Q 192 0 192 0 C 84 12 132 72 0 72 z"
                          />
                          <defs>
                            <linearGradient id="success-remarks" x1="0%" y1="0%" x2="0%" y2="100%">
                              <stop offset="0%"   stop-color="#b4ec51"/>
                              <stop offset="100%" stop-color="#429321"/>
                            </linearGradient>
                          </defs>
                          <text x="185px" y="45px"
                            font-family="sans-serif"
                            font-size="20px"
                            text-anchor="middle"
                            font-weight="600"
                            fill="white">Remarks
                          </text>
                        </svg>
                      </div>
                    </div>
                </div>
                <div class="remarksDiv hidden">
                    <div class="col-lg-12 col-md-12 col-sm-12 status-type-container" id="remarks-view" style="min-height: 450px;">
                        <div class="row rmRow" style="width: 100%">
                          <div class="col-lg-8 col-md-8 col-sm-8" style="border: 2px solid; border-radius: 20px;margin-right: 5px">
                              <textarea style="width: 100%;min-height: 417px; border: none; font-size: 15px;" class="remarkText"></textarea>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4" style="border: 2px solid; border-radius: 20px; height: 417px;overflow-y: auto;">
                                <div class="row cmntSg">
                                  <div class="cmntDiv">
                                    <p style="position: relative;top: 7px;">OIL LEAK FROM ENGINE</p>
                                  </div>
                                </div>
                                <div class="row cmntSg">
                                  <div class="cmntDiv">
                                    <p style="position: relative;top: 7px;">OIL LEAK FROM GEAR BOX</p>
                                  </div>
                                </div>
                                <div class="row cmntSg">
                                  <div class="cmntDiv">
                                    <p style="position: relative;top: 7px;">BRAKE DRUMS CANT REMOVE</p>
                                  </div>
                                </div>
                                <div class="row cmntSg">
                                  <div class="cmntDiv">
                                    <p style="position: relative;top: 7px;">SPRING BLADE BROKEN</p>
                                  </div>
                                </div>
                                <div class="row cmntSg">
                                  <div class="cmntDiv">
                                    <p style="position: relative;top: 7px;">SILENCER TAIL PIPE CRACKED</p>
                                  </div>
                                </div>
                                <div class="row cmntSg">
                                  <div class="cmntDiv">
                                    <p style="position: relative;top: 7px;">CHECK BATTER CHARGING SYSTEM</p>
                                  </div>
                                </div>
                                <div class="row cmntSg">
                                  <div class="cmntDiv">
                                    <p style="position: relative;top: 7px;">OTHER</p>
                                  </div>
                              </div>

                          </div>
                        </div>
                    </div>
                    <div class="bottom-buttons-div col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 save-button-remarks-div">
                            <svg id="save-remarks-button" width="50%" height="50%" viewBox="0 0 250 75" fill="none">
                              <path
                                stroke="#ccc"
                                fill="url(#success-savee)"
                                d="M 0 72 Q 0 72 0 0 C 60 0 60 0 60 0 C 168 12 120 72 252 72 C 60 72 72 72 0 72 z"
                              />
                              <defs>
                                <linearGradient id="success-savee" x1="0%" y1="0%" x2="0%" y2="100%">
                                  <stop offset="0%"   stop-color="#b4ec51"/>
                                  <stop offset="100%" stop-color="#429321"/>
                                </linearGradient>
                              </defs>
                              <text x="50px" y="45px"
                                font-family="sans-serif"
                                font-size="20px"
                                text-anchor="middle"
                                font-weight="600"
                                fill="white">Save
                              </text>
                            </svg>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 back-button-div">
                            <svg id="back-button" width="50%" height="50%" viewBox="0 0 250 75" fill="none" class="pull-right">
                              <path
                                stroke="#ccc"
                                fill="url(#success-remarkss)"
                                d="M 0 72 Q 24 72 252 72 Q 252 36 252 0 Q 192 0 192 0 C 84 12 132 72 0 72 z"
                              />
                              <defs>
                                <linearGradient id="success-remarkss" x1="0%" y1="0%" x2="0%" y2="100%">
                                  <stop offset="0%"   stop-color="#b4ec51"/>
                                  <stop offset="100%" stop-color="#429321"/>
                                </linearGradient>
                              </defs>
                              <text x="185px" y="45px"
                                font-family="sans-serif"
                                font-size="20px"
                                text-anchor="middle"
                                font-weight="600"
                                fill="white">Back
                              </text>
                            </svg>
                          </div>
                    </div>
                </div>
              </div>
              <div id="historyTab" class="tab-pane fade col-lg-12 col-md-12 col-sm-12 col-xs-12 vehicle-servive-tab-content">
                <div class="history-box-container col-lg-12 col-md-12 col-sm-12 col-xs-12" id="vehicle-remarks">
                  
                </div>
              </div>
              <div id="materialTab" class="tab-pane fade col-lg-12 col-md-12 col-sm-12 col-xs-12 vehicle-servive-tab-content">
                <div class="history-box-container col-lg-12 col-md-12 col-sm-12 col-xs-12" style="min-height: 400px">
                    <div class="row addMaterialRow" style="width: 100%;">
                        <div class="form-group">
                            <div class="col-lg-3">
                                <label class="control-label label_bottom_margin"><?php echo $this->translate('Add Trade Materials'); ?></label>
                            </div>
                            <div class="col-lg-9">
                                <div>
                                    <select class="form-control selectpicker" title="" id="tradeMaterialID" name="tradeMaterialID" data-live-search="true">
                                        <option value=""><?php echo $this->translate('Select Trade Material') ?></option>
                                    </select>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="row tableRow" style="width: 100%;">
                        <div id="tradeMaterialTable">
                        <hr>
                            <table class="trade-product-table table margin_top_normal table-condensed hidden">
                                <thead>
                                    <tr>
                                        <th width="50%"><?php echo $this->translate("Product Name - Code"); ?></th>
                                        <th width="20%"><?php echo $this->translate("Available Qty"); ?></th>
                                        <th width="20%"><?php echo $this->translate("Issue Qty"); ?></th>
                                        <th width="5%"></th>
                                        <th width="5%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="tradeProductPreSetSample" class="add-row sample hidden">
                                        <!-- <td id="tradeProdctNameAndCode"></td> -->
                                        <td>
                                          <div class="input-group">
                                                <input id="tradeProdctNameAndCode" name="tradeProdctNameAndCode" type="text" class="form-control" disabled="true">
                                                <span class="input-group-btn">
                                                    <button  type='button' class="btn btn-default addItemDescription" title="Add comment">
                                                        <i class="fa fa-comment-o"></i>
                                                    </button>
                                                </span>
                                            </div>
                                          <textarea class="itemDescText form-control hidden" style="width: 200% !important" id ="itemDescText" placeholder="<?php echo $this->translate("Enter item description"); ?>"></textarea>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <input id="avaliableQuantity" name="avaliableQuantity" type="text" class="form-control" disabled="true">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <input id="issueQuantity" name="issueQuantity" type="text" class="form-control">
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <a class="btn btn-default trade-goods-plus">
                                                <i class="pointer_cursor fa fa-plus"></i>
                                            </a>
                                            <a class="trade-goods-edit btn btn-default hidden" id="trade-goods-edit">
                                                <i class="fa fa-pencil-square-o"></i>
                                            </a>
                                            <a class="trade-goods-save btn btn-default hidden" id="trade-goods-save">
                                                <i class="fa fa-floppy-o"></i>
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a class="btn btn-default trade-goods-delete">
                                                <i class="pointer_cursor fa fa-trash-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="bottom-buttons-div col-lg-12 col-md-12 col-sm-12 col-xs-12 save-button-material-divv">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 save-button-material-div">
                      <svg id="save-material-button" width="50%" height="50%" viewBox="0 0 250 75" fill="none">
                        <path
                          stroke="#ccc"
                          fill="url(#success-saveee)"
                          d="M 0 72 Q 0 72 0 0 C 60 0 60 0 60 0 C 168 12 120 72 252 72 C 60 72 72 72 0 72 z"
                        />
                        <defs>
                          <linearGradient id="success-saveee" x1="0%" y1="0%" x2="0%" y2="100%">
                            <stop offset="0%"   stop-color="#b4ec51"/>
                            <stop offset="100%" stop-color="#429321"/>
                          </linearGradient>
                        </defs>
                        <text x="50px" y="45px"
                          font-family="sans-serif"
                          font-size="20px"
                          text-anchor="middle"
                          font-weight="600"
                          fill="white">Save
                        </text>
                      </svg>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="loadin-div col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden">
          <center><img src="/assets/img/Fading_ventilation.gif" alt="this slowpoke moves"  width="50" alt="404 image"/></center>
          <br>
        </div>
      </div>
    </div>
  </div>
  <div id="secret" class="container">
      <div class="row" style="display: flex;">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 statusOption"><p class="staus-option-text">Checked OK</p></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 statusOption"><p class="staus-option-text">Topped Up</p></div>
      </div>

      <div class="row" style="display: flex;">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 statusOption"><p class="staus-option-text">Replaced</p></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 statusOption"><p class="staus-option-text">Cleaned</p></div>
      </div>

      <div class="row" style="display: flex;">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 statusOption"><p class="staus-option-text">Need Attention</p></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 statusOption"><p class="staus-option-text">Suggest Replacement</p></div>
      </div>

      <div class="row" style="display: flex;">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 statusOption"><p class="staus-option-text">Check Wheel Alignment</p></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 statusOption"><p class="staus-option-text">Not Working Left Side</p></div>
      </div>

      <div class="row" style="display: flex;">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 statusOption"><p class="staus-option-text">Not Working Right Side</p></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 statusOption"><p class="staus-option-text">Not Working</p></div>
      </div>
  </div>
  <!-- <div class="row">
    <div class="col-lg-5 col-md-6 col-sm-12">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#byVehicleTab"><span class="tab-title">By Vehicle</span></a></li>
        <li><a data-toggle="tab" href="#byItemTab"><span class="tab-title">By Item</span></a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-content">
          <br>
          <div id="byVehicleTab" class="tab-pane fade in active">
            <input class="form-control search-input" type="text" placeholder="Search Vehicle(Ex:CAU-3441)">
            <div class ="list-group-title">
              <div class="content-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="label-group service-date col-lg-6 col-md-6 col-sm-6 col-xs-6">
                      <p class="title">Date</p>
                  </div>
                  <div class="label-group odm-reading col-lg-6 col-md-6 col-sm-6 col-xs-6">
                      <p class="title">ODO Meater Reading</p>
                  </div>
              </div>
            </div>
          
            <ul class="list-group">
              <li class="border-card">
                <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="label-group service-date col-lg-6 col-md-6 col-sm-6 col-xs-6">2019/07/08</div>
                  <div class="label-group odm-reading col-lg-6 col-md-6 col-sm-6 col-xs-6">25466</div>
                </div>
              </li>
              <li class="border-card">
                <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="label-group service-date col-lg-6 col-md-6 col-sm-6 col-xs-6">2019/08/08</div>
                  <div class="label-group odm-reading col-lg-6 col-md-6 col-sm-6 col-xs-6">25486</div>
                </div>
              </li>
              <li class="border-card">
                <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="label-group service-date col-lg-6 col-md-6 col-sm-6 col-xs-6">2019/08/08</div>
                  <div class="label-group odm-reading col-lg-6 col-md-6 col-sm-6 col-xs-6">25486</div>
                </div>
              </li>
              <li class="border-card">
                <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="label-group service-date col-lg-6 col-md-6 col-sm-6 col-xs-6">2019/08/08</div>
                  <div class="label-group odm-reading col-lg-6 col-md-6 col-sm-6 col-xs-6">25486</div>
                </div>
              </li>
            </ul>
          </div>
          <div id="byItemTab" class="tab-pane fade">
            By Item
          </div>
        </div>
        </div>
      </div>
    </div>
    -->
  <!-- THIS SECTION CONTAINS ALL THE STYLES THAT ARE RELATED WITH THIS DASHBOARD -->

</div>
<div class="modal fade" id="viewServiceSubTaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <?php echo $this->viewServiceSubTaskModal; ?>
</div>
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- dialog body -->
            <div class="modal-header">
              <h4 class="modal-title">Job Cancel Confirmation</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <span>Are you sure you want to cancel this job, And please select what kind of job cancellation do you want?</span><br> <br>
                <!-- <input type="checkbox" name="allowDeliveryReturn" id="allowDeliveryReturn" value="true"> <?php echo $this->translate('Cancel with returning service materials') ?><br> -->
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer">
              <button type="button" id = "normal-job-cancel" class="btn btn-danger">Only cancel Job</button>
              <button type="button" id = "job-cancel-with-item-return" class="btn btn-warning">Cancel Job With Returning Service Material</button>
              <button type="button" id = "back-to-dashboard" class="btn btn-default">Back</button>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
  #secret {
    display: none;
  }
  .statusOption {
    margin: 10px;
    border: 1px solid #ad9e9e;
    height: 34px;
    cursor: pointer;
    text-align: center;
    border-radius: 12px;
    color: #4a4040;
  }
  .statusOption:hover {
      background-color: #d0d0d0;
  }
  .status-type-container .popover {
    background-color: white;
    color: black;
    border: 1px solid #655c5c;
    min-width: 417px;
    border-radius: 10px;
  }

  .job-tabs {
    height: 620px;
    overflow-y: scroll;
  }

  .staus-option-text {
      position: relative;
      top: 7px;
  }

  .status-type-container .popover-content {
    color: black;
  }
  .myButton {
      background-image: linear-gradient(#3d51c2 , #82b4fc);
        color: white;
        border-radius: 10px; 
        -moz-border-radius: 10px; 
        -webkit-border-radius: 10px;
        min-width: 180px;
        min-height: 35px; 
        font-weight: bold;
        font-size: 17px;
    }
    @media screen and (max-width: 425px) {
      #remarks-button {
            width: 100%;
      }
      #save-button {
            width: 100%;
      }
      #save-remarks-button {
            width: 100%;
      }
      #back-button {
            width: 100%;
      }
      .tableRow {
        overflow-x: auto;
      }
      #tradeMaterialTable {
        min-width: 524px;
      }
      
    }
    @media screen and (min-width: 768px) {
      .rmRow {
          display: flex;
      }
    }
    .cmntSg {
      margin: 11px !important;
    }
    .cmntDiv {
      border: 1px solid #6f6969;
      text-align: center;
      min-height: 38px;
      cursor: pointer;
    }
    .cmntDiv:hover {
        background-color: #d0d0d0;
    }
</style>
<script type="text/javascript">

  $('.cmntDiv').on('click', function(event) {
    event.preventDefault();
    var remarkText = $('.remarkText').val();
    if (remarkText == "") {
      var txt = $(this).children('p').text();
    } else {
      var txt = remarkText + '\n' + $(this).children('p').text();
    }
    $('.remarkText').val(txt);
  });

   $('.printJob').on('click', function(event) {
       event.preventDefault();
      var activeflog = false;
       if ($('#statusTab').hasClass('active')) {
          activeflog = true;
       } else {
          $('#statusTab').addClass('in active');
       }
       PrintElem(activeflog);
    });

    function PrintElem(activeflog)
    {
        $('.statusBox1').removeClass('col-sm-3 col-xs-4');
        $('.statusBox1').addClass('col-sm-2 col-xs-2');
        $('.statusBox2').removeClass('col-sm-6 col-xs-8');
        $('.statusBox2').addClass('col-sm-3 col-xs-3');
        $('.printDiv').parent().addClass('hidden');
        var DocumentContainer = document.getElementById("jobPreviewDiv");
        var WindowObject = window.open('', 'PrintWindow', 'width=750,height=650,top=50,left=50,toolbars=no,scrollbars=yes,status=no,resizable=yes');

        WindowObject.document.writeln('<!DOCTYPE html>');
        WindowObject.document.writeln('<html><head><title></title>');
        WindowObject.document.writeln('<link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.min.css">');
        WindowObject.document.writeln('<link href="/css/jobs/vehicle-dashboard-print-template.css" rel="stylesheet" type="text/css" />');
        WindowObject.document.writeln('</head><body>');
        WindowObject.document.writeln(DocumentContainer.innerHTML);
        WindowObject.document.writeln('</body></html>');

        WindowObject.document.close();
        WindowObject.focus();
        setTimeout(function () {
          WindowObject.print();
          WindowObject.close();
        }, 500);

        WindowObject.onafterprint = function(){
          $('.statusBox1').removeClass('col-sm-3 col-xs-3');
          $('.statusBox1').addClass('col-sm-3 col-xs-4');
          $('.statusBox2').removeClass('col-sm-6 col-xs-6');
          $('.statusBox2').addClass('col-sm-6 col-xs-8');
          $('.printDiv').parent().removeClass('hidden');
          if (!activeflog) {
            $('#statusTab').removeClass('in active');
          }
        }
    }
</script>