<div class="row">
	<div class="col-lg-4">
		<a href="<?php echo $this->url('serviceJobs', array('action' => 'pendingList'));?>">
			<div class="panel panel-default accountsSummaryWidget dashboard-widgets listCard" style="height: 180px;" id="wd4">
			    <div class="panel-heading">
			    	<div class="row text-center" >
						<span class="job-dashboard-header">Pending Jobs</span>
					</div>
			    </div>
			    <div class="panel-body text-center">
			    	<b><span style="font-size: 60px"><?php echo $this->pendingJobCount ?></span></b>
			    </div>
			</div>
		</a>
	</div>
	<div class="col-lg-4">
		<a href="<?php echo $this->url('serviceJobs', array('action' => 'inprogressList'));?>">
			<div class="panel panel-default accountsSummaryWidget dashboard-widgets listCard" style="height: 180px; id="wd4">
			    <div class="panel-heading">
			    	<div class="row text-center">
						<span class="job-dashboard-header">Inprogress Jobs</span>
					</div>
			    </div>
			    <div class="panel-body text-center">
			    	<b><span style="font-size: 60px"><?php echo $this->inprogressJobCount ?></span></b>
			    </div>
			</div>
		</a>
	</div>
	<div class="col-lg-4">
		<a href="<?php echo $this->url('serviceJobs', array('action' => 'completedList'));?>">
			<div class="panel panel-default accountsSummaryWidget dashboard-widgets listCard" style="height: 180px; id="wd4">
			    <div class="panel-heading">
			    	<div class="row text-center">
			    		<span class="job-dashboard-header">Completed Jobs</span>
					</div>
			    </div>
			    <div class="panel-body text-center">
			    	<b><span style="font-size: 60px"><?php echo $this->completedJobCount ?></span></b>
			    </div>
			</div>
		</a>
	</div>
</div>
<div class="row">
	<div class="col-lg-3"></div>
	<div class="col-lg-3">
		<a href="<?php echo $this->url('serviceJobs', array('action' => 'closedList'));?>">
			<div class="panel panel-default accountsSummaryWidget dashboard-widgets listCard" style="height: 180px; id="wd4">
			    <div class="panel-heading text-center">
			    	<div class="row">
			    		<span class="job-dashboard-header">Closed Jobs</span>
					</div>
			    </div>
			    <div class="panel-body text-center">
			    	<b><span style="font-size: 60px"><?php echo $this->closedJobCount ?></span></b>
			    </div>
			</div>
		</a>
	</div>
	<div class="col-lg-3">
		<a href="<?php echo $this->url('serviceJobs', array('action' => 'deletedList'));?>">
			<div class="panel panel-default accountsSummaryWidget dashboard-widgets listCard" style="height: 180px; id="wd4">
			    <div class="panel-heading text-center">
			    	<div class="row">
			    		<span class="job-dashboard-header">Deleted Jobs</span>
					</div>
			    </div>
			    <div class="panel-body text-center">
			    	<b><span style="font-size: 60px"><?php echo $this->deletedJobCount ?></span></b>
			    </div>
			</div>
		</a>
	</div>
	<div class="col-lg-3"></div>
</div>

<style type="text/css">
	.listCard {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius: 10px;
	}
	.panel-heading {
		background-color: #f2f2f2;
	}
</style>