<div class="col-lg-5 col-md-6 col-sm-12">
      <ul class="nav nav-tabs">
        <li class="pendingTab active">
          <a data-toggle="tab" href="#pendingJobsTab" id="pendingJobCount" class="pendingJobsTab pendingJobsTab" data-count="<?php echo $this->pendingJobCount; ?>"><span class="tab-title">Pending - <?php echo $this->pendingJobCount; ?></span></a>
        </li>
        <li class="inprogressTab">
          <a data-toggle="tab" href="#inprogressJobsTab" id="inprogressJobCount" data-count="<?php echo $this->inprogressJobCount ?>" class="inprogressJobsTab inprogressJobsTabX"><span class="tab-title">Inprogress - <?php echo $this->inprogressJobCount?></span></a>
        </li>
        <li class="completedTab">
          <a data-toggle="tab" href="#finishedJobsTab" id="completedJobCount" data-count="<?php echo $this->completedJobCount ?>" class="completedJobsTab"><span class="tab-title">Finished - <?php echo $this->completedJobCount;?></span></a>
        </li>
      </ul>
      <div id="jobTab" class="job-tabs tab-content">
          <div class="tab-content">
            <br>
            <div id="pendingJobsTab" class="tab-pane fade in active">
              <div class="hidden pending-sample-div"  data-id="<?php echo $value['jobId'];?>">
                <svg width="100%" height="100%" viewBox="0 0 550 110">
                  <defs>
                    <linearGradient id="pending-sample" x1="0%" y1="0%" x2="0%" y2="100%">
                      <stop offset="0%" class="pending-stop-1" stop-color="#fabe50"/>
                      <stop offset="100%" class="pending-stop-2" stop-color="#f8701e"/>
                    </linearGradient>
                  </defs>
                  <path
                    stroke="#ccc"
                    fill="url(#pending)"
                    d="M 0 0 L 100 0 Q 120 0 130 30 Q 140 60 150 90 Q 160 120 180 120 L 0 120 L 0 0 z"
                  />
                  <text id="timesStamp" x="70px" y="100px"
                    font-family="sans-serif"
                    font-size="10px"
                    text-anchor="middle"
                    font-weight="600"
                    fill="white">
                  </text>
                  <text id="regNo" x="300px" y="50px"
                    font-family="sans-serif"
                    font-size="40px"
                    text-anchor="middle"
                    font-weight="500"
                    fill="#646464">
                  </text>
                  <text id="kms" x="300px" y="80px"
                    font-family="sans-serif"
                    font-size="15px"
                    text-anchor="middle"
                    fill="#646464">
                  </text>
                  <text id="tp" x="300px" y="100px"
                    font-family="sans-serif"
                    font-style="italic"
                    font-size="12px"
                    text-anchor="middle"
                    fill="#646464">
                  </text>
                  <text id="vm" x="500px" y="50px"
                    font-family="sans-serif"
                    font-size="15px"
                    font-weight="600"
                    text-anchor="middle"
                    fill="#646464">
                  </text>
                  <text id="sm" x="500px" y="70px"
                    font-family="sans-serif"
                    font-size="15px"
                    text-anchor="middle"
                    fill="#646464">
                  </text>
                </svg>
              </div>
              <?php 
                  if ($this->pendingJobCount > 0) {
                    foreach ($this->pendingJobList as $value) {
                ?>
                <div class="sub-stat pendingjobs jobTile after-scroll"  data-id="<?php echo $value['jobId'];?>">
                  <svg width="100%" height="100%" viewBox="0 0 550 110">
                    <defs>
                      <linearGradient id="pending" x1="0%" y1="0%" x2="0%" y2="100%">
                        <stop offset="0%"   stop-color="#fabe50"/>
                        <stop offset="100%" stop-color="#f8701e"/>
                      </linearGradient>
                    </defs>
                    <path
                      stroke="#ccc"
                      fill="url(#pending)"
                      d="M 0 0 L 100 0 Q 120 0 130 30 Q 140 60 150 90 Q 160 120 180 120 L 0 120 L 0 0 z"
                    />
                    <text x="70px" y="100px"
                      font-family="sans-serif"
                      font-size="10px"
                      text-anchor="middle"
                      font-weight="600"
                      fill="white"><?php echo  explode(" ",$value['createdTimeStamp'])[1]; ?>
                    </text>
                    <text x="300px" y="50px"
                      font-family="sans-serif"
                      font-size="40px"
                      text-anchor="middle"
                      font-weight="500"
                      fill="#646464"><?php echo $value['serviceVehicleRegNo']; ?>
                    </text>
                    <text x="300px" y="80px"
                      font-family="sans-serif"
                      font-size="15px"
                      text-anchor="middle"
                      fill="#646464"><?php echo floatval($value['jobVehicleKMs']). " KM"; ?>
                    </text>
                    <text x="300px" y="100px"
                      font-family="sans-serif"
                      font-style="italic"
                      font-size="12px"
                      text-anchor="middle"
                      fill="#646464"><?php echo $value['customerTelephoneNumber']; ?>
                    </text>
                    <text x="500px" y="50px"
                      font-family="sans-serif"
                      font-size="15px"
                      font-weight="600"
                      text-anchor="middle"
                      fill="#646464"><?php echo $value['vehicleModelName']; ?>
                    </text>
                    <text x="500px" y="70px"
                      font-family="sans-serif"
                      font-size="15px"
                      text-anchor="middle"
                      fill="#646464"><?php echo $value['vehicleSubModelName']; ?>
                    </text>
                  </svg>
                </div>
               <?php
                    } 
                  }
                ?>
            </div>
            <div id="inprogressJobsTab" class="tab-pane fade">
              <div class="hidden inprogress-sample-div" data-id="<?php echo $value['jobId'];?>">
                <svg width="100%" height="100%" viewBox="0 0 550 110">
                  <defs>
                    <linearGradient id="inprogress-sample" x1="0%" y1="0%" x2="0%" y2="100%">
                      <stop offset="0%" class="inprogress-stop-1"  stop-color="#4e30b6"/>
                      <stop offset="100%" class="inprogress-stop-2" stop-color="#bd67d4"/>
                    </linearGradient>
                  </defs>
                  <path
                    stroke="#ccc"
                    fill="url(#inprogress)"
                    d="M 0 0 L 100 0 Q 120 0 130 30 Q 140 60 150 90 Q 160 120 180 120 L 0 120 L 0 0 z"
                  />
                  <text id="timesStamp-inp" x="70px" y="100px"
                    font-family="sans-serif"
                    font-size="10px"
                    text-anchor="middle"
                    font-weight="600"
                    fill="white">
                  </text>
                  <text id="regNo-inp" x="300px" y="50px"
                    font-family="sans-serif"
                    font-size="40px"
                    text-anchor="middle"
                    font-weight="500"
                    fill="#646464">
                  </text>
                  <text id="kms-inp" x="300px" y="80px"
                    font-family="sans-serif"
                    font-size="15px"
                    text-anchor="middle"
                    fill="#646464">
                  </text>
                  <text id="tp-inp" x="300px" y="100px"
                    font-family="sans-serif"
                    font-style="italic"
                    font-size="12px"
                    text-anchor="middle"
                    fill="#646464">
                  </text>
                  <text id="vm-inp" x="500px" y="50px"
                    font-family="sans-serif"
                    font-size="15px"
                    font-weight="600"
                    text-anchor="middle"
                    fill="#646464">
                  </text>
                  <text id="sm-inp" x="500px" y="70px"
                    font-family="sans-serif"
                    font-size="15px"
                    text-anchor="middle"
                    fill="#646464">
                  </text>
                </svg>
              </div>
              <?php 
                if ($this->inprogressJobCount > 0) {
                  foreach ($this->inProgressJobList as $value) {
              ?>
                <div class="sub-stat inProgressJob jobTile" data-id="<?php echo $value['jobId'];?>">
                  <svg width="100%" height="100%" viewBox="0 0 550 110">
                    <defs>
                      <linearGradient id="inprogress" x1="0%" y1="0%" x2="0%" y2="100%">
                        <stop offset="0%" stop-color="#4e30b6"/>
                        <stop offset="100%" stop-color="#bd67d4"/>
                      </linearGradient>
                    </defs>
                    <path
                      stroke="#ccc"
                      fill="url(#inprogress)"
                      d="M 0 0 L 100 0 Q 120 0 130 30 Q 140 60 150 90 Q 160 120 180 120 L 0 120 L 0 0 z"
                    />
                    <text x="70px" y="100px"
                      font-family="sans-serif"
                      font-size="10px"
                      text-anchor="middle"
                      font-weight="600"
                      fill="white"><?php echo  explode(" ",$value['createdTimeStamp'])[1]; ?>
                    </text>
                    <text x="300px" y="50px"
                      font-family="sans-serif"
                      font-size="40px"
                      text-anchor="middle"
                      font-weight="500"
                      fill="#646464"><?php echo $value['serviceVehicleRegNo']; ?>
                    </text>
                    <text x="300px" y="80px"
                      font-family="sans-serif"
                      font-size="15px"
                      text-anchor="middle"
                      fill="#646464"><?php echo floatval($value['jobVehicleKMs']). " KM"; ?>
                    </text>
                    <text x="300px" y="100px"
                      font-family="sans-serif"
                      font-style="italic"
                      font-size="12px"
                      text-anchor="middle"
                      fill="#646464"><?php echo $value['customerTelephoneNumber']; ?>
                    </text>
                    <text x="500px" y="50px"
                      font-family="sans-serif"
                      font-size="15px"
                      font-weight="600"
                      text-anchor="middle"
                      fill="#646464"><?php echo $value['vehicleModelName']; ?>
                    </text>
                    <text x="500px" y="70px"
                      font-family="sans-serif"
                      font-size="15px"
                      text-anchor="middle"
                      fill="#646464"><?php echo $value['vehicleSubModelName']; ?>
                    </text>
                  </svg>
                </div>
              <?php
                  }
                }
              ?>
            </div>
            <div id="finishedJobsTab" class="tab-pane fade">
              <div class="completed-sample-div hidden" data-id="<?php echo $value['jobId'];?>">
                <svg width="100%" height="100%" viewBox="0 0 550 110">
                  <defs>
                    <linearGradient id="success-finished-sample" x1="0%" y1="0%" x2="0%" y2="100%">
                      <stop offset="0%"   stop-color="#b4ec51"/>
                      <stop offset="100%" stop-color="#429321"/>
                    </linearGradient>
                  </defs>
                  <path
                    stroke="#ccc"
                    fill="url(#success-finished)"
                    d="M 0 0 L 100 0 Q 120 0 130 30 Q 140 60 150 90 Q 160 120 180 120 L 0 120 L 0 0 z"
                  />
                  <text id="timesStamp-com" x="70px" y="100px"
                    font-family="sans-serif"
                    font-size="10px"
                    text-anchor="middle"
                    font-weight="600"
                    fill="white">
                  </text>
                  <text id="regNo-com" x="300px" y="50px"
                    font-family="sans-serif"
                    font-size="40px"
                    text-anchor="middle"
                    font-weight="500"
                    fill="#646464">
                  </text>
                  <text id="kms-com" x="300px" y="80px"
                    font-family="sans-serif"
                    font-size="15px"
                    text-anchor="middle"
                    fill="#646464">
                  </text>
                  <text id="tp-com" x="300px" y="100px"
                    font-family="sans-serif"
                    font-style="italic"
                    font-size="12px"
                    text-anchor="middle"
                    fill="#646464">
                  </text>
                  <text id="vm-com" x="500px" y="50px"
                    font-family="sans-serif"
                    font-size="15px"
                    text-anchor="middle"
                    font-weight="600"
                    fill="#646464">
                  </text>
                  <text id="sm-com" x="500px" y="70px"
                    font-family="sans-serif"
                    font-size="15px"
                    text-anchor="middle"
                    fill="#646464">
                  </text>
                </svg>
              </div>
              <?php 
                if ($this->completedJobCount > 0) {
                  foreach ($this->completedJobList as $value) {
              ?>
                <div class="sub-stat completedJobs jobTile" data-id="<?php echo $value['jobId'];?>">
                  <svg width="100%" height="100%" viewBox="0 0 550 110">
                    <defs>
                      <linearGradient id="success-finished" x1="0%" y1="0%" x2="0%" y2="100%">
                        <stop offset="0%"   stop-color="#b4ec51"/>
                        <stop offset="100%" stop-color="#429321"/>
                      </linearGradient>
                    </defs>
                    <path
                      stroke="#ccc"
                      fill="url(#success-finished)"
                      d="M 0 0 L 100 0 Q 120 0 130 30 Q 140 60 150 90 Q 160 120 180 120 L 0 120 L 0 0 z"
                    />
                    <text x="70px" y="100px"
                      font-family="sans-serif"
                      font-size="10px"
                      text-anchor="middle"
                      font-weight="600"
                      fill="white"><?php echo  explode(" ",$value['createdTimeStamp'])[1]; ?>
                    </text>
                    <text x="300px" y="50px"
                      font-family="sans-serif"
                      font-size="40px"
                      text-anchor="middle"
                      font-weight="500"
                      fill="#646464"><?php echo $value['serviceVehicleRegNo']; ?>
                    </text>
                    <text x="300px" y="80px"
                      font-family="sans-serif"
                      font-size="15px"
                      text-anchor="middle"
                      fill="#646464"><?php echo floatval($value['jobVehicleKMs']). " KM"; ?>
                    </text>
                    <text x="300px" y="100px"
                      font-family="sans-serif"
                      font-style="italic"
                      font-size="12px"
                      text-anchor="middle"
                      fill="#646464"><?php echo $value['customerTelephoneNumber']; ?>
                    </text>
                    <text x="500px" y="50px"
                      font-family="sans-serif"
                      font-size="15px"
                      text-anchor="middle"
                      font-weight="600"
                      fill="#646464"><?php echo $value['vehicleModelName']; ?>
                    </text>
                    <text x="500px" y="70px"
                      font-family="sans-serif"
                      font-size="15px"
                      text-anchor="middle"
                      fill="#646464"><?php echo $value['vehicleSubModelName']; ?>
                    </text>
                  </svg>
                </div>
              <?php
                  }
                }
              ?>
            </div>
          </div>
        </div>
    </div>

<!-- <script type="text/javascript" src="/js/jobs/vehicle-dashboard-side.js"></script> -->

<style>
    .job-tabs {
    height: 620px;
    overflow-y: scroll;
  }
</style>