<input type="hidden" class="jobVehicleID" value="<?php echo $this->jobVehicleID; ?>">
<input type="hidden" class="jobID" value="<?php echo $this->jobID; ?>">
<input type="hidden" class="airFilter" value="<?php echo $this->vehicleStatusChecks[$this->jobVehicleStatus['airFilter']]; ?>">
<input type="hidden" class="engineOil" value="<?php echo $this->vehicleStatusChecks[$this->jobVehicleStatus['engineOil']]; ?>">
<input type="hidden" class="wiperFluid" value="<?php echo $this->vehicleStatusChecks[$this->jobVehicleStatus['wiperFluid']]; ?>">
<input type="hidden" class="wiperBlades" value="<?php echo $this->vehicleStatusChecks[$this->jobVehicleStatus['wiperBlades']]; ?>">
<input type="hidden" class="tyres" value="<?php echo $this->vehicleStatusChecks[$this->jobVehicleStatus['tyres']]; ?>">
<input type="hidden" class="checkBelts" value="<?php echo $this->vehicleStatusChecks[$this->jobVehicleStatus['checkBelts']]; ?>">
<input type="hidden" class="coolant" value="<?php echo $this->vehicleStatusChecks[$this->jobVehicleStatus['coolant']]; ?>">
<input type="hidden" class="brakeFluid" value="<?php echo $this->vehicleStatusChecks[$this->jobVehicleStatus['brakeFluid']]; ?>">
<input type="hidden" class="steeringFluid" value="<?php echo $this->vehicleStatusChecks[$this->jobVehicleStatus['steeringFluid']]; ?>">
<input type="hidden" class="transmissionFluid" value="<?php echo $this->vehicleStatusChecks[$this->jobVehicleStatus['transmissionFluid']]; ?>">
<input type="hidden" class="battery" value="<?php echo $this->vehicleStatusChecks[$this->jobVehicleStatus['battery']]; ?>">
<input type="hidden" class="oilFliter" value="<?php echo $this->vehicleStatusChecks[$this->jobVehicleStatus['oilFilter']]; ?>">
<input type="hidden" class="gearBoxOil" value="<?php echo $this->vehicleStatusChecks[$this->jobVehicleStatus['gearBoxOil']]; ?>">
<input type="hidden" class="differentialOil" value="<?php echo $this->vehicleStatusChecks[$this->jobVehicleStatus['differentialOil']]; ?>">
<input type="hidden" class="acCabinFilter" value="<?php echo $this->vehicleStatusChecks[$this->jobVehicleStatus['acCabinFilter']]; ?>">
<input type="hidden" class="fuelFilter" value="<?php echo $this->vehicleStatusChecks[$this->jobVehicleStatus['fuelFilter']]; ?>">
<input type="hidden" class="radiatorCoolantLevel" value="<?php echo $this->vehicleStatusChecks[$this->jobVehicleStatus['radiatorCoolantLevel']]; ?>">
<input type="hidden" class="powerSteeringOil" value="<?php echo $this->vehicleStatusChecks[$this->jobVehicleStatus['powerSteeringOil']]; ?>">
<input type="hidden" class="radiatorHoses" value="<?php echo $this->vehicleStatusChecks[$this->jobVehicleStatus['radiatorHosesdriveBelts']]; ?>">
<input type="hidden" class="driveBelts" value="<?php echo $this->vehicleStatusChecks[$this->jobVehicleStatus['driveBelts']]; ?>">
<input type="hidden" class="engineMount" value="<?php echo $this->vehicleStatusChecks[$this->jobVehicleStatus['engineMount']]; ?>">
<input type="hidden" class="shockMounts" value="<?php echo $this->vehicleStatusChecks[$this->jobVehicleStatus['shockMounts']]; ?>">
<input type="hidden" class="silencerMounts" value="<?php echo $this->vehicleStatusChecks[$this->jobVehicleStatus['silencerMounts']]; ?>">
<input type="hidden" class="axleBoots" value="<?php echo $this->vehicleStatusChecks[$this->jobVehicleStatus['axleBoots']]; ?>">
<input type="hidden" class="headLamps" value="<?php echo $this->vehicleStatusChecks[$this->jobVehicleStatus['headLamps']]; ?>">
<input type="hidden" class="signalLamps" value="<?php echo $this->vehicleStatusChecks[$this->jobVehicleStatus['signalLamps']]; ?>">
<input type="hidden" class="parkingLamps" value="<?php echo $this->vehicleStatusChecks[$this->jobVehicleStatus['parkingLamps']]; ?>">
<input type="hidden" class="fogLamps" value="<?php echo $this->vehicleStatusChecks[$this->jobVehicleStatus['fogLamps']]; ?>">
<input type="hidden" class="tailLamp" value="<?php echo $this->vehicleStatusChecks[$this->jobVehicleStatus['tailLamp']]; ?>">
<input type="hidden" class="roomLamp" value="<?php echo $this->vehicleStatusChecks[$this->jobVehicleStatus['roomLamp']]; ?>">
<input type="hidden" class="wScreenWasherFluid" value="<?php echo $this->vehicleStatusChecks[$this->jobVehicleStatus['wScreenWasherFluid']]; ?>">
<input type="hidden" class="rackBoots" value="<?php echo $this->vehicleStatusChecks[$this->jobVehicleStatus['rackBoots']]; ?>">
<input type="hidden" class="brakePadsLiners" value="<?php echo $this->vehicleStatusChecks[$this->jobVehicleStatus['brakePadsLiners']]; ?>">
<input type="hidden" class="tyreWareUneven" value="<?php echo $this->vehicleStatusChecks[$this->jobVehicleStatus['tyreWareUneven']]; ?>">
<input type="hidden" class="wheelNutsStuds" value="<?php echo $this->vehicleStatusChecks[$this->jobVehicleStatus['wheelNutsStuds']]; ?>">
<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box engineOildiv engine-oil statusChangeBox printDiv" data-box-type="engine-oil">
    <h5 class="status-type-title">Engine Oil</h5>
    <img class="status-type-img hideDiv" src="/assets/img/service-icons/car-oil.png" />
    <hr class="default-status-line">
    <h5 class="status-type-title">Status</h5>
    <span class="status-type before-selecteding-type hidden" data-type="ok">ok</span>
  </div>
</div>
<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box oilFliterDiv oil-filter statusChangeBox printDiv" data-box-type="oil-filter">
    <h5 class="status-type-title">Oil Filter</h5>
    <img class="status-type-img hideDiv" src="/assets/img/service-icons/oil-filter.png" />
    <hr class="default-status-line">
    <h5 class="status-type-title">Status</h5>
    <span class="status-type before-selecteding-type hidden" data-type="ok">ok</span>
  </div>
</div>
<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box gearBoxOilDiv oil-filter statusChangeBox printDiv" data-box-type="gear-box-oil">
    <h5 class="status-type-title">Gear Box Oil</h5>
    <img class="status-type-img hideDiv" src="/assets/img/service-icons/gear-box-oil.png" />
    <hr class="default-status-line">
    <h5 class="status-type-title">Status</h5>
    <span class="status-type before-selecteding-type hidden" data-type="ok">ok</span>
  </div>
</div>
<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box differentialOilDiv oil-filter statusChangeBox printDiv" data-box-type="differential-oil">
    <h5 class="status-type-title">Differential Oil</h5>
    <img class="status-type-img hideDiv" src="/assets/img/service-icons/differential-oil.png" />
    <hr class="default-status-line">
    <h5 class="status-type-title">Status</h5>
    <span class="status-type before-selecteding-type hidden" data-type="ok">ok</span>
  </div>
</div>
<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box airFliterDiv air-filter statusChangeBox printDiv" data-box-type="air-filter">
    <h5 class="status-type-title">Air Filter</h5>
    <img class="status-type-img hideDiv" src="/assets/img/service-icons/air-filter.png" />
    <hr class="default-status-line">
    <h5 class="status-type-title">Status</h5>
    <span class="status-type before-selecteding-type hidden" data-type="ok">ok</span>
  </div>
</div>
<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box acCabinFilterDiv air-filter statusChangeBox printDiv" data-box-type="ac-cabin-filter">
    <h5 class="status-type-title">AC Cabin Filter</h5>
    <img class="status-type-img hideDiv" src="/assets/img/service-icons/ac-cabin-filter.png" />
    <hr class="default-status-line">
    <h5 class="status-type-title">Status</h5>
    <span class="status-type before-selecteding-type hidden" data-type="ok">ok</span>
  </div>
</div>

<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box fuelFilterDiv air-filter statusChangeBox printDiv" data-box-type="fuel-filter">
    <h5 class="status-type-title">Fuel Filter</h5>
    <img class="status-type-img hideDiv" src="/assets/img/service-icons/fuel-filter.png" />
    <hr class="default-status-line">
    <h5 class="status-type-title">Status</h5>
    <span class="status-type before-selecteding-type hidden" data-type="ok">ok</span>
  </div>
</div>

<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box radiatorCoolantLevelDiv air-filter statusChangeBox printDiv" data-box-type="radiator-coolant-level">
    <h5 class="status-type-title">Radiator Coolant Level</h5>
    <img class="status-type-img hideDiv" src="/assets/img/service-icons/radiator-coolant-level.png" />
    <hr class="default-status-line">
    <h5 class="status-type-title">Status</h5>
    <span class="status-type before-selecteding-type hidden" data-type="ok">ok</span>
  </div>
</div>

<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box powerSteeringOilDiv air-filter statusChangeBox printDiv" data-box-type="power-steering-oil">
    <h5 class="status-type-title">Power Steering Oil</h5>
    <img class="status-type-img hideDiv" src="/assets/img/service-icons/power-steering-oil.png" />
    <hr class="default-status-line">
    <h5 class="status-type-title">Status</h5>
    <span class="status-type before-selecteding-type hidden" data-type="ok">ok</span>
  </div>
</div>

<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box radiatorHosesDiv air-filter statusChangeBox printDiv" data-box-type="radiatorHoses">
    <h5 class="status-type-title">Radiator Hoses</h5>
    <img class="status-type-img hideDiv" src="/assets/img/service-icons/radiatorHoses.png" />
    <hr class="default-status-line">
    <h5 class="status-type-title">Status</h5>
    <span class="status-type before-selecteding-type hidden" data-type="ok">ok</span>
  </div>
</div>

<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box driveBeltsDiv air-filter statusChangeBox printDiv" data-box-type="driveBelts">
    <h5 class="status-type-title">Drive Belts</h5>
    <img class="status-type-img hideDiv" src="/assets/img/service-icons/driveBelts.png" />
    <hr class="default-status-line">
    <h5 class="status-type-title">Status</h5>
    <span class="status-type before-selecteding-type hidden" data-type="ok">ok</span>
  </div>
</div>

<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box engineMountDiv air-filter statusChangeBox printDiv" data-box-type="engineMount">
    <h5 class="status-type-title">Engine Mount</h5>
    <img class="status-type-img hideDiv" src="/assets/img/service-icons/engineMount.png" />
    <hr class="default-status-line">
    <h5 class="status-type-title">Status</h5>
    <span class="status-type before-selecteding-type hidden" data-type="ok">ok</span>
  </div>
</div>

<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box shockMountsDiv air-filter statusChangeBox printDiv" data-box-type="shockMounts">
    <h5 class="status-type-title">Shock Mounts</h5>
    <img class="status-type-img hideDiv" src="/assets/img/service-icons/shockMounts.png" />
    <hr class="default-status-line">
    <h5 class="status-type-title">Status</h5>
    <span class="status-type before-selecteding-type hidden" data-type="ok">ok</span>
  </div>
</div>

<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box silencerMountsDiv air-filter statusChangeBox printDiv" data-box-type="silencerMounts">
    <h5 class="status-type-title">Silencer Mounts</h5>
    <img class="status-type-img hideDiv" src="/assets/img/service-icons/silencerMounts.png" />
    <hr class="default-status-line">
    <h5 class="status-type-title">Status</h5>
    <span class="status-type before-selecteding-type hidden" data-type="ok">ok</span>
  </div>
</div>

<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box axleBootsDiv air-filter statusChangeBox printDiv" data-box-type="axleBoots">
    <h5 class="status-type-title">Axle Boots</h5>
    <img class="status-type-img hideDiv" src="/assets/img/service-icons/axleBoots.png" />
    <hr class="default-status-line">
    <h5 class="status-type-title">Status</h5>
    <span class="status-type before-selecteding-type hidden" data-type="ok">ok</span>
  </div>
</div>

<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box headLampsDiv air-filter statusChangeBox printDiv" data-box-type="headLamps">
    <h5 class="status-type-title">Head Lamps</h5>
    <img class="status-type-img hideDiv" src="/assets/img/service-icons/headLamps.png" />
    <hr class="default-status-line">
    <h5 class="status-type-title">Status</h5>
    <span class="status-type before-selecteding-type hidden" data-type="ok">ok</span>
  </div>
</div>

<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box signalLampsDiv air-filter statusChangeBox printDiv" data-box-type="signalLamps">
    <h5 class="status-type-title">Signal Lamps</h5>
    <img class="status-type-img hideDiv" src="/assets/img/service-icons/signalLamps.png" />
    <hr class="default-status-line">
    <h5 class="status-type-title">Status</h5>
    <span class="status-type before-selecteding-type hidden" data-type="ok">ok</span>
  </div>
</div>

<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box parkingLampsDiv air-filter statusChangeBox printDiv" data-box-type="parkingLamps">
    <h5 class="status-type-title">Parking Lamps</h5>
    <img class="status-type-img hideDiv" src="/assets/img/service-icons/parkingLamps.png" />
    <hr class="default-status-line">
    <h5 class="status-type-title">Status</h5>
    <span class="status-type before-selecteding-type hidden" data-type="ok">ok</span>
  </div>
</div>

<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box fogLampsDiv air-filter statusChangeBox printDiv" data-box-type="fogLamps">
    <h5 class="status-type-title">Fog Lamps</h5>
    <img class="status-type-img hideDiv" src="/assets/img/service-icons/fogLamps.png" />
    <hr class="default-status-line">
    <h5 class="status-type-title">Status</h5>
    <span class="status-type before-selecteding-type hidden" data-type="ok">ok</span>
  </div>
</div>

<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box tailLampDiv air-filter statusChangeBox printDiv" data-box-type="tailLamp">
    <h5 class="status-type-title">Tail Lamp</h5>
    <img class="status-type-img hideDiv" src="/assets/img/service-icons/tailLamp.png" />
    <hr class="default-status-line">
    <h5 class="status-type-title">Status</h5>
    <span class="status-type before-selecteding-type hidden" data-type="ok">ok</span>
  </div>
</div>

<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box roomLampDiv air-filter statusChangeBox printDiv" data-box-type="roomLamp">
    <h5 class="status-type-title">Room Lamp</h5>
    <img class="status-type-img hideDiv" src="/assets/img/service-icons/roomLamp.png" />
    <hr class="default-status-line">
    <h5 class="status-type-title">Status</h5>
    <span class="status-type before-selecteding-type hidden" data-type="ok">ok</span>
  </div>
</div>

<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box wScreenWasherFluidDiv air-filter statusChangeBox printDiv" data-box-type="wScreenWasherFluid">
    <h5 class="status-type-title">W/Screen Washer Fluid</h5>
    <img class="status-type-img hideDiv" src="/assets/img/service-icons/wScreenWasherFluid.png" />
    <hr class="default-status-line">
    <h5 class="status-type-title">Status</h5>
    <span class="status-type before-selecteding-type hidden" data-type="ok">ok</span>
  </div>
</div>

<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box rackBootsDiv air-filter statusChangeBox printDiv" data-box-type="rackBoots">
    <h5 class="status-type-title">Rack Boots</h5>
    <img class="status-type-img hideDiv" src="/assets/img/service-icons/rackBoots.png" />
    <hr class="default-status-line">
    <h5 class="status-type-title">Status</h5>
    <span class="status-type before-selecteding-type hidden" data-type="ok">ok</span>
  </div>
</div>

<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box brakePadsLinersDiv air-filter statusChangeBox printDiv" data-box-type="brakePadsLiners">
    <h5 class="status-type-title">Brake Pads/Liners</h5>
    <img class="status-type-img hideDiv" src="/assets/img/service-icons/brakePadsLiners.png" />
    <hr class="default-status-line">
    <h5 class="status-type-title">Status</h5>
    <span class="status-type before-selecteding-type hidden" data-type="ok">ok</span>
  </div>
</div>

<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box tyreWareUnevenDiv air-filter statusChangeBox printDiv" data-box-type="tyreWareUneven">
    <h5 class="status-type-title">Tyre Ware Uneven</h5>
    <img class="status-type-img hideDiv" src="/assets/img/service-icons/tyreWareUneven.png" />
    <hr class="default-status-line">
    <h5 class="status-type-title">Status</h5>
    <span class="status-type before-selecteding-type hidden" data-type="ok">ok</span>
  </div>
</div>

<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box wheelNutsStudsDiv air-filter statusChangeBox printDiv" data-box-type="wheelNutsStuds">
    <h5 class="status-type-title">Wheel Nuts / Studs</h5>
    <img class="status-type-img hideDiv" src="/assets/img/service-icons/wheelNutsStuds.png" />
    <hr class="default-status-line">
    <h5 class="status-type-title">Status</h5>
    <span class="status-type before-selecteding-type hidden" data-type="ok">ok</span>
  </div>
</div>

<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box wiperFluidDiv wiper-fluid statusChangeBox printDiv" data-box-type="wiper-fluid">
    <h5 class="status-type-title">Wiper Fluid</h5>
    <img class="status-type-img hideDiv" src="/assets/img/service-icons/winshield-wiper.png" />
    <hr class="default-status-line">
    <h5 class="status-type-title">Status</h5>
    <span class="status-type before-selecteding-type hidden" data-type="ok">ok</span>
  </div>
</div>

<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box wiperBladesDiv wiper-blades statusChangeBox printDiv" data-box-type="wiper-blades">
    <h5 class="status-type-title">Wiper Blades</h5>
    <img class="status-type-img hideDiv" src="/assets/img/service-icons/wiper.png" />
    <hr class="default-status-line">
    <h5 class="status-type-title">Status</h5>
    <span class="status-type before-selecteding-type hidden" data-type="ok">ok</span>
  </div>
</div>

<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box tyresDiv statusChangeBox printDiv" data-box-type="tyres">
    <h5 class="status-type-title">Tyres</h5>
    <img class="status-type-img hideDiv" src="/assets/img/service-icons/tyre2.png" />
    <hr class="default-status-line">
    <h5 class="status-type-title">Status</h5>
    <span class="status-type before-selecteding-type hidden" data-type="ok">ok</span>
  </div>
</div>

<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box checkBeltsDiv statusChangeBox printDiv" data-box-type="check-belts">
    <h5 class="status-type-title">Check Belts</h5>
    <img class="status-type-img hideDiv" src="/assets/img/service-icons/timing-belt.png" />
    <hr class="default-status-line">
    <h5 class="status-type-title">Status</h5>
    <span class="status-type before-selecteding-type hidden" data-type="ok">ok</span>
  </div>
</div>

<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box coolantDiv statusChangeBox printDiv" data-box-type="coolant">
    <h5 class="status-type-title">Coolant</h5>
    <img class="status-type-img hideDiv" src="/assets/img/service-icons/engine-coolant.png" />
    <hr class="default-status-line">
    <h5 class="status-type-title">Status</h5>
    <span class="status-type before-selecteding-type hidden" data-type="ok">ok</span>
  </div>
</div>

<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box brakeFluidDiv statusChangeBox printDiv" data-box-type="brake-fluid">
    <h5 class="status-type-title">Brake Fluid</h5>
    <img class="status-type-img hideDiv" src="/assets/img/service-icons/brake-warning.png" />
    <hr class="default-status-line">
    <h5 class="status-type-title">Status</h5>
    <span class="status-type before-selecteding-type hidden" data-type="ok">ok</span>
  </div>
</div>

<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box steeringFluidDiv statusChangeBox printDiv" data-box-type="steering-fluid">
    <h5 class="status-type-title">Steering Fluid</h5>
    <img class="status-type-img hideDiv" src="/assets/img/service-icons/steering-wheel.png" />
    <hr class="default-status-line">
    <h5 class="status-type-title">Status</h5>
    <span class="status-type before-selecteding-type hidden" data-type="ok">ok</span>
  </div>
</div>

<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box transmissionFluidDiv statusChangeBox printDiv" data-box-type="transmission-fluid">
    <h5 class="status-type-title">Transmission Fluid</h5>
    <img class="status-type-img hideDiv" src="/assets/img/service-icons/gear-box.png" />
    <hr class="default-status-line">
    <h5 class="status-type-title">Status</h5>
    <span class="status-type before-selecteding-type hidden" data-type="ok">ok</span>
  </div>
</div>

<div class="status-type-box-outer-div statusBox2 col-lg-4 col-md-8 col-sm-6 col-xs-8 tyre-pressure-div">
  <div href="" class="status-type-box col-lg-12 col-md-12 col-sm-12 col-xs-12" data-box-type="tyre-pressure">
    <h5 class="status-type-title">Tyre Pressure</h5>
    <div class="flexDiv">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tyre-pressure-left">
        <hr class="double-status-box-hr">
        <label class="tyre-pressure-left-labels">Front Left</label>
        <input class="tyre-pressure-left-input form-control frontLeftTyrePressure" placeholder="PSI" type="text" name="" value="<?php echo ($this->jobVehicleStatus['frontLeftTyrePressure'] != null) ? floatval($this->jobVehicleStatus['frontLeftTyrePressure']) : null; ?>">
        <hr class="double-status-box-hr">
        <label class="tyre-pressure-left-labels">Rear Left</label>
        <input class="tyre-pressure-left-input form-control rearLeftTyrePressure" placeholder="PSI" type="text" name="" value="<?php echo ($this->jobVehicleStatus['rearLeftTyrePressure'] != null) ? floatval($this->jobVehicleStatus['rearLeftTyrePressure']) : null; ?>">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tyre-pressure-img-div">
        <img class="tyre-pressure-img" src="/assets/img/service-icons/car.png" />
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tyre-pressure-right">
        <hr class="double-status-box-hr">
        <label class="tyre-pressure-right-labels">Front Right</label>
        <input class="tyre-pressure-right-input form-control frontRightTyrePressure" placeholder="PSI" type="text" name="" value="<?php echo ($this->jobVehicleStatus['frontRightTyrePressure'] != null) ? floatval($this->jobVehicleStatus['frontRightTyrePressure']) : null; ?>">
        <hr class="double-status-box-hr">
        <label class="tyre-pressure-right-labels">Rear Right</label>
        <input type="text" placeholder="PSI" name="r-r-pressure" class="tyre-pressure-right-input form-control rearRightTyrePressure" value="<?php echo ($this->jobVehicleStatus['rearRightTyrePressure'] != null) ? floatval($this->jobVehicleStatus['rearRightTyrePressure']) : null; ?>">
      </div>
    </div>
  </div>
</div>

<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box batteryDiv statusChangeBox printDiv" data-box-type="battery">
    <h5 class="status-type-title">Battery</h5>
    <img class="status-type-img hideDiv" src="/assets/img/service-icons/battery.png" />
    <hr class="default-status-line">
    <h5 class="status-type-title">Status</h5>
    <span class="status-type before-selecteding-type hidden" data-type="ok">ok</span>
  </div>
</div>

<div class="status-type-box-outer-div statusBox1 status-box-width" style="width: 14%;">
  <div href="" class="status-type-box" data-box-type="oil-filtesr">
    <h5 class="status-type-title">ODO Meter</h5>
    <input class="odo-input form-control odoMeter" placeholder="km" type="text" name="" value="<?php echo ($this->jobVehicleKMs != null) ? floatval($this->jobVehicleKMs) : 0; ?>">
    <hr class="default-status-line">
    <h5 class="status-type-title">Next Due</h5>
    <h5 class="status-type-title" id="next-service-odo" data-type="ok">5000 km</h5>
  </div>
</div>

<div class="status-type-box-outer-div statusBox2 col-lg-4 col-md-8 col-sm-6 col-xs-8 tyre-pressure-div">
  <div href="" class="status-type-box col-lg-12 col-md-12 col-sm-12 col-xs-12" data-box-type="tyre-pressure">
    <h5 class="status-type-title">Brake Pads</h5>
    <div class="flexDiv">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tyre-pressure-left">
        <hr class="double-status-box-hr">
        <label class="tyre-pressure-left-labels">Front Factor</label>
        <input class="tyre-pressure-left-input form-control brakePadsFrontfactor" placeholder="%" type="text" name="" value="<?php echo ($this->jobVehicleStatus['brakePadsFrontfactor'] != null) ? floatval($this->jobVehicleStatus['brakePadsFrontfactor']) : null; ?>">
        <hr class="double-status-box-hr">
        <label class="tyre-pressure-left-labels">Rear Factor</label>
        <input class="tyre-pressure-left-input form-control brakePadsRearfactor" placeholder="%" type="text" name="" value="<?php echo ($this->jobVehicleStatus['brakePadsRearfactor'] != null) ? floatval($this->jobVehicleStatus['brakePadsRearfactor']) : null; ?>">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tyre-pressure-img-div">
        <img class="tyre-pressure-img" src="/assets/img/service-icons/disc-brake.png" />
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tyre-pressure-right">
        <hr class="brake-pads-right-hr">
        <label class="tyre-pressure-right-labels">Change Fluid</label>
        <input class="tyre-pressure-right-input form-control brakePadsChangeFluid" placeholder="km" type="text" name="" value="<?php echo ($this->jobVehicleStatus['brakePadsChangeFluid'] != null) ? floatval($this->jobVehicleStatus['brakePadsChangeFluid']) : null; ?>">
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/js/jobs/vehicle-dashboard-side.js"></script>
<script type="text/javascript">
    if ($('.airFilter').val() != '') {
        setok('airFliterDiv',$('.airFilter').val());
    } 

    if ($('.engineOil').val() != '') {
        setok('engineOildiv',$('.engineOil').val());
    } 

    if ($('.wiperFluid').val() != '') {
        setok('wiperFluidDiv',$('.wiperFluid').val());
    } 

    if ($('.wiperBlades').val() != '') {
        setok('wiperBladesDiv',$('.wiperBlades').val());
    } 

    if ($('.tyres').val() != '') {
        setok('tyresDiv',$('.tyres').val());
    } 

    if ($('.checkBelts').val() != '') {
        setok('checkBeltsDiv',$('.checkBelts').val());
    } 

    if ($('.coolant').val() != '') {
        setok('coolantDiv',$('.coolant').val());
    } 

    if ($('.brakeFluid').val() != '') {
        setok('brakeFluidDiv',$('.brakeFluid').val());
    } 

    if ($('.steeringFluid').val() != '') {
        setok('steeringFluidDiv',$('.steeringFluid').val());
    } 

    if ($('.transmissionFluid').val() != '') {
        setok('transmissionFluidDiv',$('.transmissionFluid').val());
    } 

    if ($('.battery').val() != '') {
        setok('batteryDiv',$('.battery').val());
    } 

    if ($('.oilFliter').val() != "") {
        setok('oilFliterDiv', $('.oilFliter').val());  
    }
    if ($('.gearBoxOil').val() != "") {
        setok('gearBoxOilDiv', $('.gearBoxOil').val());  
    }
    if ($('.differentialOil').val() != "") {
        setok('differentialOilDiv', $('.differentialOil').val());  
    }
    if ($('.acCabinFilter').val() != "") {
        setok('acCabinFilterDiv', $('.acCabinFilter').val());  
    }
    if ($('.fuelFilter').val() != "") {
        setok('fuelFilterDiv', $('.fuelFilter').val());  
    }
    if ($('.radiatorCoolantLevel').val() != "") {
        setok('radiatorCoolantLevelDiv', $('.radiatorCoolantLevel').val());  
    }
    if ($('.powerSteeringOil').val() != "") {
        setok('powerSteeringOilDiv', $('.powerSteeringOil').val());  
    }
    if ($('.radiatorHoses').val() != "") {
        setok('radiatorHosesDiv', $('.radiatorHoses').val());  
    }
    if ($('.driveBelts').val() != "") {
        setok('driveBeltsDiv', $('.driveBelts').val());  
    }
    if ($('.engineMount').val() != "") {
        setok('engineMountDiv', $('.engineMount').val());  
    }
    if ($('.shockMounts').val() != "") {
        setok('shockMountsDiv', $('.shockMounts').val());  
    }
    if ($('.silencerMounts').val() != "") {
        setok('silencerMountsDiv', $('.silencerMounts').val());  
    }
    if ($('.axleBoots').val() != "") {
        setok('axleBootsDiv', $('.axleBoots').val());  
    }
    if ($('.headLamps').val() != "") {
        setok('headLampsDiv', $('.headLamps').val());  
    }
    if ($('.signalLamps').val() != "") {
        setok('signalLampsDiv', $('.signalLamps').val());  
    }
    if ($('.parkingLamps').val() != "") {
        setok('parkingLampsDiv', $('.parkingLamps').val());  
    }
    if ($('.fogLamps').val() != "") {
        setok('fogLampsDiv', $('.fogLamps').val());  
    }
    if ($('.tailLamp').val() != "") {
        setok('tailLampDiv', $('.tailLamp').val());  
    }
    if ($('.roomLamp').val() != "") {
        setok('roomLampDiv', $('.roomLamp').val());  
    }
    if ($('.wScreenWasherFluid').val() != "") {
        setok('wScreenWasherFluidDiv', $('.wScreenWasherFluid').val());  
    }
    if ($('.rackBoots').val() != "") {
        setok('rackBootsDiv', $('.rackBoots').val());  
    }
    if ($('.brakePadsLiners').val() != "") {
        setok('brakePadsLinersDiv', $('.brakePadsLiners').val());  
    }
    if ($('.tyreWareUneven').val() != "") {
        setok('tyreWareUnevenDiv', $('.tyreWareUneven').val());  
    }
    if ($('.wheelNutsStuds').val() != "") {
        setok('wheelNutsStudsDiv', $('.wheelNutsStuds').val());  
    }


    function setok(toggleClassName, statusOption)
    {
      $("."+toggleClassName + ' .status-type').removeClass('hidden');
      $("."+toggleClassName).removeClass('printDiv');
      $("."+toggleClassName + ' .status-type').text(statusOption);
      $("."+toggleClassName + ' .status-type').siblings('img').removeClass('hideDiv');
      $("."+toggleClassName + ' .status-type').removeClass('before-selecteding-type');
      $("."+toggleClassName + ' .status-type').siblings('hr').removeClass('default-status-line');
      $("."+toggleClassName + ' .status-type').siblings('hr').addClass('status-line');
      $("."+toggleClassName + ' .status-type').siblings('hr').removeClass('default-transmission-fluid-status-line');
      $("."+toggleClassName + ' .status-type').siblings('hr').addClass('transmission-fluid-status-line');
    }

    $('.odo-input').trigger('keyup');
</script>