<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>

            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th style="width:14%"><?php echo $this->translate('Payment Ref. NO') ?></th>
                        <th style="width:10%"><?php echo $this->translate('Location') ?></th>
                        <th style="width:11%"><?php echo $this->translate('Date') ?></th>
                        <th style="width:12%"><?php echo $this->translate('Customer') ?></th>
                        <th style="width:12%"><?php echo $this->translate('Paid Amount') ?></th>
                        <th style="width:9%"><?php echo $this->translate('Cheque Ref. NO') ?></th>
                        <th style="width:9%"><?php echo $this->translate('Post Dt Cheq Dt') ?></th>
                        <th style="width:13%"><?php echo $this->translate('Total Amount') ?></th>
                        <th style="width:10%"><?php echo $this->translate('Remarks') ?></th>
                    </tr>
                    <?php
                    if (empty($paymentSummeryData)) {
                        ?>
                        <tr class="odd_row">
                            <td colspan="9" style="text-align: center"><?php echo $this->translate("No related data found"); ?></td>
                        </tr>
                        <?php
                    } else {
                        $paymentNo = 0;
                        $totalPayment = 0;
                        foreach ($paymentSummeryData as $paymentMethodName => $value) {
                            $subTotalPayment = 0;
                            ?>
                            <tr class="even_row">
                                <td style="text-align: left;" colspan="9">
                                    <b><?php echo $paymentMethodName.' payments.'; ?></b>
                                </td>
                            </tr>
                            
                            <?php
                            foreach ($value as $key => $paymentSummeryData1) {
                                $paymentNo++;

                                $rowNo = 0;
                                foreach ($paymentSummeryData1 as $key => $data) {
                                    $rowNo++;
                                    if ($rowNo == (count($paymentSummeryData1) - 1)) {
                                        $totalPayment += $paymentSummeryData1['incomingPaymentMethodWiseAmount'];
                                        $subTotalPayment += $paymentSummeryData1['incomingPaymentMethodWiseAmount'];
                                        $incomingPaymentMethodWiseAmount = $paymentSummeryData1['incomingPaymentMethodWiseAmount'];
                                    }
                                    if ($data['locationName'] != NULL) {
                                    ?>
                                        <tr class="even_row">
                                            <td style="text-align: center"><?php echo ($rowNo == 1) ? $data['incomingPaymentCode'] : ''; ?></td>
                                            <td style="text-align: center"><?php echo $data['locationName']; ?></td>
                                            <td style="text-align: center"><?php echo $data['incomingPaymentDate']; ?></td>
                                            <td style="text-align: center"><?php echo $data['customerTitle'] . ' ' . $data['customerName']; ?></td>
                                        <?php
                                            if ($data['paymentMethodName'] == "Credit") {
                                            ?>
                                                <td style="text-align: right"><?php echo number_format($data['incomingPaymentCreditAmount'], 2); ?></td>
                                        <?php
                                            } else {
                                            ?>
                                                <td style="text-align: right"><?php echo number_format($data['incomingPaymentMethodAmount'], 2); ?></td>
                                        <?php
                                            }
                                        ?>
                                            <td style="text-align: center"><?php echo $data['paymentMethodReferenceNumber']; ?></td>
                                            <td style="text-align: center"><?php echo $data['postdatedChequeDate']; ?></td>
                                        <?php
                                            if ($rowNo == (count($paymentSummeryData1))) {
                                                $incAm = $data['currencySymbol'] . ' ' . number_format($incomingPaymentMethodWiseAmount);
                                            } else if ($rowNo == (count($paymentSummeryData1) -1)) {
                                                $incAm = $data['currencySymbol'] . ' ' . number_format($incomingPaymentMethodWiseAmount);
                                            } else {
                                                $incAm = " ";
                                            }

                                        ?>
                                            <td style="text-align: right"><?php echo $incAm; ?></td>
                                            <td style="text-align: center"><?php echo $data['incomingPaymentMemo']; ?></td>
                                        </tr>
                                    <?php
                                    }
                                }
                            }
                            ?>
                                <tr class="odd_row">
                                    <td style="text-align: right" colspan="7"><b>Total <?php echo $paymentMethodName; ?> <?php echo $this->translate('Payment Amount :') ?></b></td>
                                    <td style="text-align: right"><b><?php echo number_format($subTotalPayment, 2); ?></b></td>
                                    <td></td>
                                </tr>
                            <?php
                        }
                        ?>
                                <tr class="odd_row">
                                    <td style="text-align: right" colspan="7"><b><?php echo $this->translate('Total Payment Amount :') ?></b></td>
                                    <td style="text-align: right"><b><?php echo number_format($totalPayment, 2); ?></b></td>
                                    <td></td>
                                </tr>
                        <?php
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>


