<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>

            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th style="width:20%"><?php echo $this->translate('Payment Number') ?></th>
                        <th style="width:20%"><?php echo $this->translate('Payment Date') ?></th>
                        <th style="width:20%"><?php echo $this->translate('Card Type Name') ?></th>
                        <th style="width:30%"><?php echo $this->translate('Payed Amount') ?></th>
                    </tr>
                    <?php
                    if (!empty($cardTypePaymentData)) {
                        foreach ($cardTypePaymentData as $card) {
                            ?>
                            <tr class="even_row">
                                <td><?php echo $card['paymentCode']; ?></td>
                                <td><?php echo $card['paidDate']; ?></td>
                                <td><?php echo $card['cardTypeName']; ?></td>
                                <td style="text-align: right"><?php echo $card['currencySymbol'] . ' ' . number_format($card['paidAmount'], 2); ?></td>
                            </tr>
                            <?php
                        }
                    } else {
                        ?>
                        <tr class="even_row">
                            <td colspan="4"><?php echo $this->translate("No related data found"); ?></td>
                        </tr>
                        <?php
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>