<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>

            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th style="width:6%"><?php echo $this->translate('Sales Person') ?></th>
                        <th style="width:6%"><?php echo $this->translate('Invoice Number') ?></th>
                        <th style="width:8%"><?php echo $this->translate('Customer Name') ?></th>
                        <th style="width:7%"><?php echo $this->translate('Invoice Date') ?></th>
                        <th style="width:8%"><?php echo $this->translate('Invoice DueDate') ?></th>                        
                        <th style="width:8%"><?php echo $this->translate('Invoice Amount') ?></th>
                        <th style="width:7%"><?php echo $this->translate('Credit Amount') ?></th>
                        <th style="width:8%"><?php echo $this->translate('All Paid Amount') ?></th>
                        <th style="width:8%"><?php echo $this->translate('Remaining Amount') ?></th>
                        <th style="width:8%"><?php echo $this->translate('Paid Amount') ?></th>
                        <th style="width:6%"><?php echo $this->translate('Payment Number') ?></th>
                        <th style="width:8%"><?php echo $this->translate('Payment Date') ?></th>
                        <th style="width:10%"><?php echo $this->translate('Payment Amount') ?></th>
                        <th style="width:8%"><?php echo $this->translate('Payment Method') ?></th>
                        <th style="width:8%"><?php echo $this->translate('Reference') ?></th>
                    </tr>
                    <?php
                    if(!empty($paymentData)){
                        $totalInvoiceAmount = 0.00;
                        $totalPayedAmount = 0.00;
                        $totalRemainingAmount = 0.00;
                        $totalPaymentAmount = 0.00;
                        $totalPaidAmountByPeriod = 0.00;
                        foreach ($paymentData as $pData) {
                            ?>
                            <tr class="even_row">
                                <td style="text-align: left" colspan="15"><?php echo $pData['salesPersonName']; ?></td>
                            </tr>
                            <?php
                            $salesPersonTotalInvoiceAmount = 0.00;
                            $salesPersonTotalPayedAmount = 0.00;
                            $salesPersonTotalRemainingAmount = 0.00;
                            $salesPersonTotalPaymentAmount = 0.00;
                            $salesPersonTotalPaidAmountByPeriod = 0.00;
                            if ($pData['salesPersonName']) {
                                foreach ($pData['data'] as $data) {
                                    $totalInvoiceAmount += floatval($data['realInvAmo']);
                                    $totalCreditAmount += floatval($data['realCrditAmo']);
                                    $totalPayedAmount += floatval($data['realpayAmo']);
                                    $totalRemainingAmount += floatval($data['realremAmo']);
                                    $totalPaidAmountByPeriod += floatval($data['paidAmountByPeriod']);

                                    $salesPersonTotalInvoiceAmount += floatval($data['realInvAmo']);
                                    $salesPersonTotalCreditAmount += floatval($data['realCrditAmo']);
                                    $salesPersonTotalPayedAmount += floatval($data['realpayAmo']);
                                    $salesPersonTotalRemainingAmount += floatval($data['realremAmo']);
                                    $salesPersonTotalPaidAmountByPeriod += floatval($data['paidAmountByPeriod']);
                                    ?>
                                    <tr class="even_row">
                                        <td style="text-align: left"></td>
                                        <td><?php echo $data['invoiceNumber']; ?></td>
                                        <td><?php echo $data['customerName']; ?></td>
                                        <td><?php echo $data['invoiceDate']; ?></td>
                                        <td><?php echo $data['invoiceDueDate']; ?></td>
                                        <td style="text-align: right"><?php echo $data['invoiceAmount']; ?></td>
                                        <td style="text-align: right"><?php echo $data['creditAmount']; ?></td>
                                        <td style="text-align: right"><?php echo $data['payedAmount']; ?></td>
                                        <td style="text-align: right"><?php echo $data['remainingAmount']; ?></td>
                                        <td style="text-align: right"><?php echo $data['currencySymbol'] . ' ' . number_format(($data['paidAmountByPeriod']), 2, '.', ''); ?></td>
                                        <td colspan="5"></td>
                                    </tr>

                                    <?php
                                    foreach ($data['payments'] as $payment) {
                                        $totalPaymentAmount += floatval(explode(" ",$payment['paymentAmount'])[1]);
                                        if ($payment['multipleInvoiceForPayment']) {
                                            $paymentCode = $payment['paymentNumber'].' *';
                                        } else {
                                            $paymentCode = $payment['paymentNumber'];
                                        }

                                        ?>
                                        <tr class="odd_row">
                                            <td colspan="10"></td>
                                            <td><?php echo $paymentCode; ?></td>
                                            <td><?php echo $payment['paymentDate']; ?></td>
                                            <td style="text-align: right"><?php echo $payment['paymentAmount']; ?></td>
                                            <td style="text-align: center"><?php echo $payment['paymentMethod']; ?></td>
                                            <td><?php echo $payment['reference']; ?></td>
                                        </tr>
                                        <?php
                                    }
                                }
                                ?>
                                <tr class="even_row">
                                    <td colspan="5"><strong><?php echo "Total of ".$pData['salesPersonName']; ?></strong></td>
                                    <td style="text-align: right"><strong><?php echo number_format($salesPersonTotalInvoiceAmount,2); ?></strong></td>
                                    <td style="text-align: right"><strong><?php echo number_format($salesPersonTotalCreditAmount,2); ?></strong></td>
                                    <td style="text-align: right"><strong><?php echo number_format($salesPersonTotalPayedAmount, 2); ?></strong></td>
                                    <td style="text-align: right"><strong><?php echo number_format($salesPersonTotalRemainingAmount,2); ?></strong></td>
                                    <td style="text-align: right"><strong><?php echo number_format($salesPersonTotalPaidAmountByPeriod,2); ?></strong></td>
                                    <td colspan="5"></td>
                            </tr>
                                <?php
                            }
                        }
                        
                        ?>
                        <tr class="even_row">
                                <td colspan="5"><strong><?php echo $this->translate('TOTAL'); ?></strong></td>
                                <td style="text-align: right"><strong><?php echo number_format($totalInvoiceAmount,2); ?></strong></td>
                                <td style="text-align: right"><strong><?php echo number_format($totalCreditAmount,2); ?></strong></td>
                                <td style="text-align: right"><strong><?php echo number_format($totalPayedAmount, 2); ?></strong></td>
                                <td style="text-align: right"><strong><?php echo number_format($totalRemainingAmount,2); ?></strong></td>
                                <td style="text-align: right"><strong><?php echo number_format($totalPaidAmountByPeriod,2); ?></strong></td>
                                <td colspan="5"></td>
                        </tr>
                    <?php

                    } else {
                    ?>
                        <tr class="even_row">
                            <td colspan="14"><?php echo $this->translate('no matching records found') ?></td>
                        </tr>
                    <?php
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>