<!--panel-->
<div class='panel panel-default margin_top margin_bottom panel_border'>

    <div class='panel-heading panel_heading_style'><!--panel_heading-->
        <h4 class="font_weight h1_no_margin report_heading"><?php echo $this->translate('Sales Payments') ?></h4>
    </div>

    <div class="panel-body panel_body_style">

        <!--links-->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 remove_left_padding remove_right_padding panel_links">
            <ul class="nav nav-pills  nav-stacked data-tabs" data-tabs="tabs">
                <li id="payments" class="report_pills active"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Payments') ?></a></li>
                <li id="cancelledPayments" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Cancelled Payments') ?></a></li>
                <li id="paymentDetails" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Payment Details') ?></a></li>
                <li id="cardTypePayments" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Card Type Payments') ?></a></li>
            </ul>
        </div>

        <!--process_area-->
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 form-horizontal process_area">
            <div id="report_head">

                <div class="form-group">                    
                    <div class="row">
                        <div class="row hidden" id="div_location">                            
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <label class="control-label location-lbl"><?php echo $this->translate('Location') ?></label>
                                <div class="locations">
                                    <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="branch-locations" id="branch-locations" multiple="multiple" title='Select Location' >
                                        <?php
                                        foreach ($this->locations as $id => $row):
                                            $location = ($id == $currentLocation) ? 'selected="selected"' : '';
                                            echo '<option value="' . $id . '" ' . $location . '>' . $row['locationName'] . '</option>';
                                        endforeach;
                                        ?>
                                    </select>
                                </div>
                            </div>
                            <br>
                        </div>

                        <div class="row hidden" id="div_card_types">                            
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <label class="control-label"><?php echo $this->translate('Card Type') ?></label>
                                <select class="form-control selectpicker" data-actions-box="true" data-live-search="true" name="cardTypes" id="cardTypes" multiple="multiple" title='Select Card Type'>
                                    <?php
                                    foreach ($this->cardTypes as $key => $cardName) :
                                        echo '<option value="' . $key . '">' . $cardName . '</option>';
                                    endforeach;
                                    ?>
                                </select>
                            </div>
                            <br>
                        </div>

                        <div class="row hidden" id="div_invoice">                            
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 product-content invoiceSelection">
                                <div>
                                    <label class="" name="isAllInvoiceslbl" id="isAllInvoiceslbl">
                                        <input type="radio" class="check_box_mar_right isAllInvoices" value="0" name="isAllInvoices" id="customInvoiceSelection" checked> <?php echo $this->translate('Custom Invoice') ?>
                                    </label>
                                    <div class="">
                                        <select class='form-control selectpicker' data-actions-box="false" data-live-search="true" name="invoiceName" id="invoiceName" multiple="multiple" title="<?php $this->translate('Select Invoice(s)') ?>" data-selected-text-format="count>3"></select>
                                    </div>
                                </div>
                            </div>
                            <!--all Invoices-->
                            <div class="col-lg-4 col-md-4 col-sm-4 product-content invoiceSelection" id="isAllInvoiceBox">
                                <label name="isAllInvoiceslbl" id="isAllInvoiceslbl">
                                    <input type="radio" class="isAllInvoices" value="1" name="isAllInvoices" id="AllInvoices"> <?php echo $this->translate('All Invoices') ?>
                                </label>
                            </div>
                            <br>
                        </div>
                        
                        <div class="row hidden" id="div_payment">                            
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 product-content">
                                <div>
                                    <label class="" name="isAllPaymentslbl" id="isAllPaymentslbl">
                                        <input type="radio" class="check_box_mar_right isAllPayments" value="0" name="isAllPayments" id="customPaymentsSelection" checked> <?php echo $this->translate('Custom Payments') ?>
                                    </label>
                                    <div class="">
                                        <select class='form-control selectpicker' data-actions-box="false" data-live-search="true" name="paymentName" id="paymentName" multiple="multiple" title="<?php echo $this->translate('Select Payment(s)'); ?>" data-selected-text-format="count>3"></select>
                                    </div>
                                </div>
                            </div>
                            <!--all payments-->
                            <div class="col-lg-4 col-md-4 col-sm-4 product-content" id="isAllPaymentBox">
                                <label name="isAllPaymentslbl" id="isAllPaymentslbl">
                                    <input type="radio" class="isAllPayments" value="1" name="isAllPayments" id="customPaymentsSelection"> <?php echo $this->translate('All Payments') ?>
                                </label>
                            </div>
                            <br>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 report_from_month"><!--from month-->
                            <label class="control-label from_date_lbl"><?php echo $this->translate('From Date') ?></label>
                            <input type="text" class="span2 datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="fromDate" name="fromDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to Set a From Date') ?>">
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 to set_to_date"><!--to date-->
                            <label class="control-label to_date_lbl"><?php echo $this->translate('To Date') ?></label>
                            <input type="text" class="span2 datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="toDate" name="toDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to Set a To Date') ?>">
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" id="div_selection">
                            <label class="control-label location-lbl"><?php echo $this->translate('Selection') ?></label>
                            <div class="locations">
                                <select class='form-control selectpicker'
                                        data-actions-box="true" data-live-search="true"
                                        name="locations" id="locations"
                                        multiple="multiple" title='<?php echo $this->translate('Select Location(s)') ?>'
                                        data-selected-text-format="count>3">
                                            <?php
                                            foreach ($this->locations as $id => $row):
                                                echo '<option value="' . $id . '">' . $row['locationName'] . '</option>';
                                            endforeach;
                                            ?>
                                </select>
                            </div>
                            <div class="payment-types">
                                <label class="control-label"><?php echo $this->translate("Payment Type"); ?></label>
                                <select class='form-control selectpicker'
                                        data-actions-box="true" data-live-search="true"
                                        name="paymentTypes" id="paymentTypes"
                                        multiple="multiple" title='<?php echo $this->translate('Select Payment Type(s)') ?>'
                                        data-selected-text-format="count>3">
                                            <?php
                                            foreach ($this->paymentTypes as $row):
                                                echo '<option value="' . $row['paymentMethodID'] . '">' . $row['paymentMethodName'] . '</option>';
                                            endforeach;
                                                echo '<option value="' . 0 . '">Credit</option>';
                                            ?>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" id="bankDiv">
                            <label class="control-label"><?php echo $this->translate("Bank"); ?></label>
                            <select class='form-control' id="bankList" title="Select Bank">
                                <option value="">----- <?php echo $this->translate('Select Bank') ?> -----</option>
                                <?php foreach ($banks as $bankId => $bankName) { ?>
                                    <option value="<?php echo $bankId; ?>"><?php echo $bankName; ?></option>
                                <?php } ?>
                            </select>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" id="accountDiv">
                            <label class="control-label"><?php echo $this->translate("Account"); ?></label>
                            <select class='form-control' id="accountList" title="Select Account">
                                <option value="">----- <?php echo $this->translate('Select Account') ?> -----</option>
                            </select>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" id="categorizedPayMod">
                            <div style="padding-top: 30px ">
                                <input type="checkbox" id="categorizedPayModOpt"> <?php echo $this->translate('Categorized Payment Methods') ?>
                            </div>
                        </div>
                        <div class="row hidden" id="div_sales_person">                            
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <label class="control-label sp-lbl"><?php echo $this->translate('Sales Person') ?></label>
                                <div class="">
                                    <select class="form-control selectpicker" data-actions-box="true" name="salesPersons" id="salesPersons" multiple="multiple" title="<?php echo $this->translate('Select Sales Persons'); ?>">
                                        <?php
                                        foreach ($this->salesPersons as $spID => $value) :
                                            echo '<option value="' . $spID . '">' . $value . '</option>';
                                        endforeach;
                                        ?>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div><!--row-->

                    <div class="row">
                        <div class="col-lg-12 btn-group btn_panel_height_high report_buttons">
                            <button class="btn btn-default col-lg-2" id="viewReport"><?php echo $this->translate('View Report') ?></button>
                            <button class="btn btn-default col-lg-2" id="generatePdf"><?php echo $this->translate('Generate PDF') ?></button>
                            <button class="btn btn-default col-lg-2" id="csvReport"><?php echo $this->translate('Generate CSV') ?></button>
                        </div>
                    </div>
                </div><!--form-group-->

            </div><!--report_head-->
        </div><!--form_horizontal-->

    </div><!--panel_body-->
</div><!--panel-->

<iframe id="paymentReport" class="panel panel-default margin_top margin_bottom panel_border report-iframe"></iframe>
