<div class="well well_heading margin_top">
    <h5 class="font_weight add"><?php echo $this->translate('Event Details') ?></h5>
</div>
<div class="well clearfix well_body">
   <div class="row">
        <input type="text" class="form-control hidden" id="jobId" value="<?php echo $this->jobId ?>">
        <div class="col-lg-4 col-md-4 col-sm-4 xs-margin-bottom">
            <label for="jobCode" class="control-label">
                <?php echo $this->translate("Event Code"); ?>
            </label>
            <input type="text" class="form-control" disabled="disabled" id="jobCode" value="<?php echo $this->jobData['jobReferenceNumber'] ?>">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 xs-margin-bottom">
            <label for="jobName" class="control-label">
                <?php echo $this->translate('Event Name'); ?>
            </label>
            <input type="text"  class="form-control" disabled="disabled" id="jobName" value="<?php echo $this->jobData['jobName'] ?>">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 xs-margin-bottom">
            <label for='jobType' class="control-label">
                <?php echo $this->translate('Event Type'); ?>
            </label>
            <input type="text" class="form-control" disabled="disabled" id="jobType" value="<?php echo $this->jobData['jobTypeName'] ?>">
        </div>
    </div>
</div>
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        <h4 class="panel-title font_weight add">
            <?php echo $this->translate('Event wise score update') ?>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body" style="min-height: 120px">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Score') ?><font color="red"> *</font></label>
                    <div class="">
                        <input type="text" name="eventScore" class="eventScore form-control">
                    </div>
                </div>

                <div class="col-lg-5 col-md-6 col-sm-6">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Remarks') ?></label>
                    <div class="">
                        <textarea class="form-control" id="eventRemarks"></textarea>
                    </div>
                </div>

                <!--Cancel&update-->
                <div class="col-lg-3 updateDiv">
                    <label class="control-label label_bottom_margin">&nbsp;</label>
                    <div class="text-right">
                        <button type="button" class="btn btn-default eventScoreCancel"><?php echo $this->translate('Reset') ?></button>
                        <button type="submit" class="btn btn-primary update event_score_update_btn"><?php echo $this->translate('Update') ?></button>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        <h4 class="panel-title font_weight add">
          <?php echo $this->translate('Participant wise score update') ?>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body" style="min-height: 250px">
            <div class="row">
                <div class="margin_top_normal">
                    <div class="col-lg-2" >
                        <label for="project" class="remove_weight"><b><?php echo $this->translate("Sort participants by") ?></b></label>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-group">
                            <select class='form-control selectpicker' data-actions-box="false" data-live-search="false" name="partiTy" id="partiType" title="Select Participant Type" data-selected-text-format="count>3" data-size="5">
                                <option value="0"><?php echo $this->translate('Select Participants Type') ?></option>
                                <?php
                                foreach ($this->departments as $department):
                                    $department = (object) $department;
                                    echo '<option value="' . $department->departmentID . '">' . $department->departmentCode.' - '. $department->departmentName . '</option>';
                                endforeach;
                                ?>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="participantTable">
                <hr>
                    <table class="participant-table table margin_top_normal table-condensed">
                        <thead>
                            <tr>
                                <th width="15%"><?php echo $this->translate("Partcipant Type"); ?></th>
                                <th width="15%"><?php echo $this->translate("Partcipant Sub Type"); ?></th>
                                <th width="25%"><?php echo $this->translate("Participant Name"); ?></th>
                                <th width="20%"><?php echo $this->translate("Score"); ?></th>
                                <th width="25%"><?php echo $this->translate("Remarks"); ?></th>
                            </tr>
                        </thead>
                        <tbody class="participantBody">
                            <?php 
                                foreach ($this->participantData as $value) {
                            ?>
                                <tr id="<?php echo $value['participantTypeID'].'_'.$value['jobSupervisorTableID']; ?>" data-eventpartiid="<?php echo $value['jobSupervisorTableID']; ?>">
                                    <td><?php echo $value['departmentName']; ?></td>                                    
                                    <td><?php echo $value['designationName']; ?></td>                                    
                                    <td><?php echo $value['employeeFirstName'].' '.$value['employeeSecondName']; ?></td>
                                    <td class="addedTd"><input type="text" name="scoreByParticipant" class="form-control scoreValue"></td>
                                    <td class="addedTd"><textarea class="form-control scoreRemarks"></textarea></td>                                
                                </tr>
                            <?php
                                }
                            ?>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-sm-4"><!--button-->
                    <div class="text-right">
                        <input type='reset' id="resetScoreUpdate" value="<?php echo $this->translate("Reset"); ?>" class='btn btn-default'>
                        <button class="btn btn-primary" id="saveParticipantWiseScore"><?php echo $this->translate("Update"); ?></button>
                    </div>
                </div>
            </div><!--row-->
        </div>
      </div>
    </div>
</div>
<br>
<br>
<div class="_row_with_margin clearfix">
    <!--Reset&Add-->
    <div class="col-lg-12 addDiv">
        <div class="text-right">
            <button type="button" class="btn btn-primary" id="btnBack"><?php echo $this->translate('Back') ?></button>
        </div>
    </div>
</div>