<?php 
$maintainProject = $this->maintainProject;
?>

<div class="well well_heading margin_top">
    <h5 class="font_weight add"><?php echo $this->translate('Search Events') ?></h5>
</div>
<div class="well clearfix well_body">
   <div class="form-row">
        <input type="text" class="hidden" id="paramVal"  value="<?php echo $this->paramVal ?>">
        <?php if($maintainProject == 1) {?>
        <div class="search_field col-lg-4">
            <select class='form-control selectpicker' data-actions-box="false" data-live-search="true" name="projSearch" id="projectSearchDropDown" title="Select a Tournament" data-selected-text-format="count>3" data-size="5">
                <option value="0"><?php echo $this->translate('Select Tournament') ?></option>
            </select>
        </div>
        <?php } ?>
        <div class="search_field col-lg-4">
            <select class='form-control selectpicker' data-actions-box="false" data-live-search="true" name="jobSearch" id="jobSearchDropDown" title="Select Event" data-selected-text-format="count>3" data-size="5">
                <option value="0"><?php echo $this->translate('Select Event') ?></option>
            </select>
            <select class='form-control selectpicker' data-actions-box="false" data-live-search="false" name="projectjobSearch" id="projectRelatedjobSearchDropDown" title="Select Event" data-selected-text-format="count>3" data-size="5">
                <option value="0"><?php echo $this->translate('Select Event') ?></option>
            </select>
        </div>
        <div class="col-lg-4">
            <button type="button" class="btn btn-primary" id="searchProgressJob"><?php echo $this->translate('Search') ?></button>
            <button type="button" class="btn btn-default" id="searchCancelProgressJob"><?php echo $this->translate('Clear') ?></button>
        </div>
    </div>
</div>
<div id="default-job-list">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="8%"><?php echo $this->translate('Event Code') ?></th>
                <th width="16%"><?php echo $this->translate('Event Name') ?></th>
                <th width="12%"><?php echo $this->translate('Event Type') ?></th>
                <th class="text-center" width="12%"><?php echo $this->translate('Event Participants') ?></th>
                <th width="12%"><?php echo $this->translate('Event Duration') ?></th>
                <th width="10%"></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->jobs as $job) {
                $job = (object) $job;
                ?>
                <tr data-job-id="<?php echo $job->jobId; ?>" data-entity-id="<?php echo $job->entityID; ?>" data-job-name="<?php echo $job->jobName; ?>" data-job-type="<?php echo $job->jobTypeID; ?>" data-employee-address="<?php echo $employee->employeeAddress; ?>"  data-job-contractor-id="<?php echo $job->contractorID; ?>">
                    <td class="jobCode"><?php echo $job->jobReferenceNumber; ?></td>
                    <td class="jobName"><?php echo $job->jobName; ?></td>
                    <td class="jobType"><?php echo $job->jobTypeName; ?></td>
                    <td class="text-center">
                        <a href="#" class="glyphicon glyphicon-expand custom_font_size job-supervisor-view" data-toggle="modal" data-action="view"></a>
                    </td>
                    <td class="jobDueDate"><?php echo $job->jobStartDate.' - '.$job->jobEstimatedEndDate; ?></td>
                    <td class="text-center">
                        <a class="btn btn-primary form-control" href="<?php echo $this->url('scoreUpdate', array('action' => 'score-update', 'param1' => $job->jobId));
                        ?>" id="<?php echo $project->projectId ?>">
                            <span> <?php echo $this->translate('Update and view score') ?></span>
                        </a>
                    </td>
                </tr>
                <?php
            }
            if (count($this->jobs) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="6"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
    <?php
    if ($this->paginated) {
        echo $this->paginationControl(
                $this->jobs, 'sliding', array('partial/paginator.phtml', 'scoreUpdate'), array(
            'route' => 'scoreUpdate', 'action' => 'list'
                )
        );
    }
    ?>
</div>


<div id="progress-job-list" class="margin_top">
</div>

<!-- Project Supervisor View Modal -->
<div class="modal fade" id="viewJobSupervisorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><?php echo $this->translate('Job Supervisors') ?></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="job-supervisor-table table table-striped margin_top_normal table-condensed" id="jobSupervisorTable">
                    <thead>
                        <tr>
                            <th class="" style="width: 45%"><?php echo $this->translate("Job Supervisor Name"); ?></th>
                        </tr>
                    </thead>

                    <tbody id="formRow">
                        <tr id='preSample' class="hidden">
                            <td id="supervisorName">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>

<!-- Project contractor  View Modal -->
<div class="modal fade" id="viewJobContractorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><?php echo $this->translate('Job Contractors') ?></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="job-supervisor-table table table-striped margin_top_normal table-condensed" id="jobContractorTable">
                    <thead>
                        <tr>
                            <th class="" style="width: 45%"><?php echo $this->translate("Job Contractor Name"); ?></th>
                        </tr>
                    </thead>

                    <tbody id="formRow">
                        <tr id='contractorRow' class="hidden">
                            <td id="contractorName">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="employeeViewModal" tabindex="-1" role="dialog" aria-labelledby="employeeViewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="employeeViewModalLabel"><?php echo $this->translate('View Event Participants') ?></h4>
            </div>
            <div class="modal-body employeeViewModalBody"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>