<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate("Add Dimensions"); ?></h4>
        </div>

        <div class="modal-body">
            <div class="col-lg-12 margin_top dimensionTable" id="dimensionTable">
                <div class="table job-table table-responsive">
                    <table class="dimension-table table table-striped margin_top_normal table-condensed" id="dimensionTypeTable">
                        <thead>
                            <tr>
                                <th><?php echo $this->translate("Dimension Type"); ?></th>
                                <th><?php echo $this->translate("Dimension Value"); ?></th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody id="formRow">
                            <tr id='dimensionPreSample' class="hidden">
                                <td>
                                    <input disabled name="dimensionType" type="text" class="form-control" />
                                </td>
                                <td>
                                    <input disabled name="dimensionValue" type="text" class="form-control" />
                                </td>
                                <td class="text-right"><button class="deleteDimensionType btn btn-default"><i class='glyphicon glyphicon-trash deleteDim' id=''></i></button></td>
                            </tr>
                        </tbody>

                        <tbody id="addNewDimensionRow">
                            <tr><!--item_insert-->
                                <td>
                                    <select class="form-control selectpicker show-tick dimenisonchange"  id="dimensionTypeId" name="dimensionTypeId" data-live-search="true">
                                        <option class="dimensionTypeDefaultSelect" value=""><?php echo $this->translate('Select Dimension Type') ?></option>
                                        <?php
                                            foreach ($this->dimensions as $key => $value) :
                                                echo '<option value="' . $key . '">' . $value . '</option>';
                                            endforeach;
                                        ?>   
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control show-tick dimensionVal"  id="dimensionVal" name="dimensionVal" data-live-search="true">
                                        <option class="dimensionValDefaultSelect" value=""><?php echo $this->translate('Select Dimension Value') ?></option>
                                    </select>
                                    <select class="form-control selectpicker show-tick hidden dimensionJobNo" id="dimensionJobNo" name="dimensionJobNo" data-live-search="true">
                                        <option value=""><?php echo $this->translate('Select Job Number') ?></option>
                                    </select>
                                    <select class="form-control selectpicker show-tick hidden dimensionProjectNo" id="dimensionProjectNo" name="dimensionProjectNo" data-live-search="true">
                                        <option value=""><?php echo $this->translate('Select Project Number') ?></option>
                                    </select>
                                </td>
                                <td class="text-right"><strong class="btn btn-default" id="add_dimension"><i class="glyphicon glyphicon-plus"></i></strong></td>
                            </tr>

                            <tr>
                                <td colspan="7">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>

                </div><!--table_responsive-->
            </div><!--./col-->

        </div><!--modal_body-->

        <div class="modal-footer modal-footer-style">
            <button type="button" id="closejManagers" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
            <button type="button" id="addDimensions" class="btn btn-primary addDimensions"><?php echo $this->translate('Add Dimensions') ?></button>
        </div>

    </div>
</div>