<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel"><b><?php echo $this->translate('Next Invoice Date:'); ?></b></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label"><?php echo $this->translate('Next Invoice Date:'); ?></label>
            <input type="text" class="datepicker form-control pointer_cursor" style="background-color: white" readonly="true" id="membership-date" data-date-format="<?php echo $this->userdateFormat; ?>" data-standard-format="yyyy-mm-dd" placeholder="<?php echo $this->userdateFormat; ?>">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label"><?php echo $this->translate('Comment'); ?>:</label>
            <textarea class="form-control" id="message-membership"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><?php echo $this->translate('Close'); ?></button>
        <button type="button" class="btn btn-primary" id="saveMembership"><?php echo $this->translate('Save'); ?></button>
      </div>
    </div>
</div>