<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate("Add Service Charges"); ?></h4>
        </div>

        <div class="modal-body">
            <div class="col-lg-12 margin_top serviceChargeTable" id="serviceChargeTable">
                <div class="table job-table table-responsive">
                    <table class="dimension-table table table-striped margin_top_normal table-condensed" id="dimensionTypeTable">
                        <thead>
                            <tr>
                                <th><?php echo $this->translate("Service Charge Type"); ?></th>
                                <th><?php echo $this->translate("Service Charge Value"); ?></th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody id="formRow">
                            <tr id='srcPreSample' class="hidden">
                                <td>
                                    <input disabled name="serviceChargeType" type="text" class="form-control" />
                                </td>
                                <td>
                                    <input disabled name="ServiceChargeValue" type="text" class="form-control" />
                                </td>
                                <td class="text-right"><button class="deleteServiceCharge btn btn-default"><i class='glyphicon glyphicon-trash deleteDim' id=''></i></button></td>
                            </tr>
                        </tbody>

                        <tbody id="addNewServiceChargeRow">
                            <tr><!--item_insert-->
                                <td>
                                    <select class="form-control selectpicker show-tick servicechargetypechange"  id="serviceChargeTypeId" name="serviceChargeTypeId" data-live-search="true">
                                        <option class="serviceChargeTypeDefaultSelect" value=""><?php echo $this->translate('Select Service Charge Type') ?></option>
                                        <!-- <?php
                                            foreach ($this->dimensions as $key => $value) :
                                                echo '<option value="' . $key . '">' . $value . '</option>';
                                            endforeach;
                                        ?>    -->
                                    </select>
                                </td>
                                <td>
                                    <input name="serviceChargeValue" placeholder="Add Service Charge Value" id ="serviceChargeValue" type="text" class="form-control" />
                                </td>
                                <td class="text-right"><strong class="btn btn-default" id="add_service_charge"><i class="glyphicon glyphicon-plus"></i></strong></td>
                            </tr>

                            <tr>
                                <td colspan="7">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>

                </div><!--table_responsive-->
            </div><!--./col-->

        </div><!--modal_body-->

        <div class="modal-footer modal-footer-style">
            <!-- <button type="button" id="closejManagers" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button> -->
            <button type="button" id="addServiceCharge" class="btn btn-primary addServiceCharge"><?php echo $this->translate('OK') ?></button>
        </div>

    </div>
</div>