<div class="modal-dialog">
    <div class="modal-content" style="">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate('Credit Limit Exceed Approval'); ?></h4>
        </div>
        <div class="modal-body row">
            <div class="row">
                <div class="form-group text-center">
                    <h5 class="col-lg-12 control-label"><?php echo $this->translate('Credit Limit for this Customer has been Exceeded. If You Want to Proceed, Please Enter Admin Username and Password.'); ?></h5>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label"><?php echo $this->translate('UserName') ?><font color="red"> *</font></label>
                    <div class="col-lg-8">
                        <input type="text" id="username" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label"><?php echo $this->translate('Password') ?><font color="red"> *</font></label>
                    <div class="col-lg-8">
                        <input type="password" id="password" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn"><?php echo $this->translate('Cancel') ?></button>
            <button id="exceed-creditLimit-approve-button" class="btn btn-primary"><?php echo $this->translate('Approve') ?></button>
        </div>
    </div>
</div>