<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
$(document).ready(function(){
$("#mobile_heading").html("<h3>Invoices</h3>").addClass('heading');
});
<?php $this->headScript()->captureEnd() ?>

<?php $this->headScript()->appendFile($this->basePath('js/invoice/viewDraftInvoice.js')); ?>


<!--table-->
<div class="margin_top">
    <div class="table table-responsive">

        <div id="invoice-list">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class=""><?php echo $this->translate('Invoice No') ?></th>
                        <th class=""><?php echo $this->translate('Customer Name') ?></th>
                        <th class=""><?php echo $this->translate('Issued Date') ?></th>
                        <th class=""><?php echo $this->translate('Due Date') ?></th>
                        <?php if ($this->showVehicleNum) { ?>
                            <th class="text-center"><?php echo $this->translate('Vehicle Number') ?></th>
                        <?php } ?>
                        <th class="text-center"><?php echo $this->translate('State') ?></th>
                        <th class="text-center"><?php echo $this->translate('Total Amount') ?></th>
                        <th class="text-center"><?php echo $this->translate('View') ?></th>
                        <th class="text-center"><?php echo $this->translate('Edit') ?></th>
                        <th class="text-center"><?php echo $this->translate('Delete') ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php
                    foreach ($this->invoices as $key => $invoice) {
                        $temJobFlag = false;
                        if ($invoice['jobID'] != '' && $invoice['jobID'] != 0) {
                            $temJobFlag = true;
                            
                        }
                        if ($invoice->salesInvoiceCustomCurrencyRate == 0) {
                            $currencyRate = 1;
                        } else {
                            $currencyRate = $invoice->salesInvoiceCustomCurrencyRate;
                        }
                        if (isset($invoice->currencySymbol)) {
                            $customCurrencySymbol = $invoice->currencySymbol;
                        } else {
                            $customCurrencySymbol = $this->companyCurrencySymbol;
                        }

                        $status = $invoice->statusID;
                        $state = ucfirst($this->statuses[$status]);

                        if ($invoice->inclusiveTax == "1" && $invoice->templateInvoiceTotal != null) {
                            $salesinvoiceTotal = $invoice->templateInvoiceTotal / $currencyRate;
                        } else {
                            $salesinvoiceTotal = $invoice->salesinvoiceTotalAmount / $currencyRate;
                        }
                        $style = NULL;
                        switch ($status) {
                            case "3":
                                $state = 'Pending';
                                $style = "label label-default";
                                break;
                            case "16":
                                $style = "label label-success";
                                break;
                            case "13":
                                $style = "label label-danger";
                                break;
                            default :
                                $style = "label label-default";
                        }
                        ?>
                        <tr>
                            <td class=""> <?php echo $invoice->salesInvoiceCode; ?></td>
                            <td class=""> <?php echo $invoice->customerName . '-' . $invoice->customerCode; ?></td>
                            <td class=""> <?php echo $this->userDateFormatHelper($invoice->salesInvoiceIssuedDate, $this->dateFormat); ?></td>
                            <td class=""> <?php echo $this->userDateFormatHelper($invoice->salesInvoiceOverDueDate, $this->dateFormat); ?></td>
                            <?php if ($this->showVehicleNum) { ?>
                                <td class="text-center"> <?php echo (!empty($invoice->serviceVehicleRegNo)) ? $invoice->serviceVehicleRegNo : '-'; ?></td>
                            <?php } ?>
                            <td class="text-center"><span class="<?php echo $style; ?>"> <?php echo $state; ?></span></td>
                            <td class="text-center"><?php echo $customCurrencySymbol . ' ' . number_format($salesinvoiceTotal, 2); ?></td>

                            <td class="text-center">
                                <a class="edits" href="<?php echo $this->url('invoice', array('action' => 'viewDraftInvoice', 'param1' => $invoice->draftInvWfID));
                                ?>" id="<?php echo $invoice->salesInvoiceID ?>">
                                    <span class="fa fa-search-plus custom_font_size"></span>
                                </a>    
                            </td>
                            <td class="text-center">
                                <?php
                                $invoiceEditFlag = true;
                                if ($invoice->salesInvoiceComment === "Created By Customer Opening Balance") {
                                    $invoiceEditFlag = false;
                                } else {
                                    $invoiceEditFlag = true;
                                }
                                ?>
                                <?php if ($status != 16 && $status != 13 && $invoice->deleted == 0 && $invoiceEditFlag == true) { ?>
                                    <?php if($invoice->customerStatus == 1) { ?>
                                    <a class="edits" href="<?php echo $this->url('invoice', array('action' => 'draftEdit', 'param1' => $invoice->draftInvWfID));
                                    ?>" id="<?php echo $invoice->salesInvoiceID ?>">
                                        <span class="fa fa-pencil-square-o custom_font_size"></span>
                                    </a>
                                    <?php } else { ?>
                                         <a class="editsInactive" href="#" id="<?php echo $invoice->salesInvoiceID ?>">
                                        <span class="fa fa-pencil-square-o custom_font_size"></span>
                                    </a>
                                        <?php } ?>
                                <?php } ?>
                            </td>
                            <td class="text-center">
                                <?php if ($status != 4 && $invoice->deleted == 0 && $invoiceEditFlag == true) { ?>
                                    <?php if($invoice->customerStatus == 1) { ?>
                                    <a><span onclick="deleteInvoice(<?php echo $invoice->draftInvWfID; ?>, 'Draft Invoice', <?php echo $temJobFlag; ?>)" class="pointer fa fa-trash-o custom_font_size"></span></a>
                                    <?php } else { ?>
                                        <a class="editsInactive" href="#" id="<?php echo $invoice->salesInvoiceID ?>">
                                        <span class="pointer fa fa-trash-o custom_font_size"></span>
                                    </a>
                                    <?php } ?>
                                <?php } ?>
                            </td>
                            <?php
                        }
                        if (count($this->invoices) == 0) {
                            ?>
                        <tr class="not_found">
                            <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                        </tr>
                        <?php
                    }
                    ?>
                </tbody>
            </table>
            <?php
            echo $this->paginationControl(
                    $this->invoices, 'sliding', array('partial/paginator.phtml', 'invoice'), array(
                'route' => 'invoice', 'action' => 'draftView'
                    )
            );
            ?>
        </div>

    </div><!--tabele_responsive-->
    <div id='custadiv'></div>
</div><!--margin_top-->
<div class="modal fade" id="addDocHistoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->docHistoryView; ?>
</div>
<div class="modal fade" id="DocumentViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->documentView; ?>
</div>
<div class="modal fade" id="viewAttachmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->attachmentsView; ?>
</div>

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- dialog body -->
            <div class="modal-header">
              <h4 class="modal-title">Job Cancel Confirmation</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <span>This Invoice Related With particular job so when you cancelling the invoice its automatically cancel the job also, so what type of job cancelation do you want</span><br> <br>
                <!-- <input type="checkbox" name="allowDeliveryReturn" id="allowDeliveryReturn" value="true"> <?php echo $this->translate('Cancel with returning service materials') ?><br> -->
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer">
              <button type="button" id = "normal-job-cancel" class="btn btn-danger">only cancel Job</button>
              <button type="button" id = "job-cancel-with-item-return" class="btn btn-warning">With canceling Job With Returning Service Material</button>
              <button type="button" id = "back-to-dashboard" class="btn btn-default">Back</button>
            </div>
        </div>
    </div>
</div>