<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate("Related Free Issue Items"); ?></h4>
        </div>

        <div class="modal-body">
            <div class="col-lg-12 margin_top serviceChargeTable" id="freeIssueTable">
                <div class="table job-table table-responsive">
                    <table class="dimension-table table table-striped margin_top_normal table-condensed" id="dimensionTypeTable">
                        <thead>
                            <tr>
                                <th><?php echo $this->translate("Item Name And Code"); ?></th>
                                <th class="text-right"><?php echo $this->translate("Select"); ?></th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody id="freeIssueRow">
                            <tr id='freeIssueSample' class="hidden">
                                <td>
                                    <input disabled name="itemName" type="text" class="form-control" />
                                </td>
                                <td class="text-right">
                                    <!-- <input type="radio" class="check_box_mar_right addFreeItem" value="0" name="isAllSerials" id="freeIssueItemSelection"> -->
                                    <input type="checkbox" name="freeIssueItemSelection" value="0" class="check_box_mar_right addFreeItem"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div><!--table_responsive-->
            </div><!--./col-->

        </div><!--modal_body-->

        <div class="modal-footer modal-footer-style">
            <button type="button" id="closejManagers" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
            <button type="button" id="addFreeIssueItem" class="btn btn-primary addFreeIssueItem"><?php echo $this->translate('Add Free Issue Item') ?></button>
        </div>

    </div>
</div>