<div class='form-group text-center' id='non-printable'>
    <?php if (!$pos && $state != "full") { ?>
        <a href="/customerPayments/index/<?php echo $this->invoiceID ?>" class='btn btn-primary btn-block'><?php echo $this->translate("Pay"); ?></a>
    <?php } ?>
</div>
<div class='form-group text-center' id='non-printable'>
    <?php if($glAccountFlag){?>
    	<button class="btn btn-primary btn-block" id="journalEntry"><?php echo $this->translate('Journal Entry View') ?></button>
    <?php }?>
</div>