<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
var invoice_list = <?php echo $this->invoice_list; ?>;
$(document).ready(function(){
$("#mobile_heading").html("<h3>Invoices</h3>").addClass('heading');
});

<?php $this->headScript()->captureEnd() ?>

<?php $this->headScript()->prependFile($this->basePath('js/invoice/recurentInvoice.js')); ?>

<?php
$invoice_form = $this->invoiceForm;
$invoiceID = $this->invoiceID;
$invoice_form->setAttribute('id', 'create-recurrent-invoice-form');
$invoice_form->get('submit')->setValue('Place Invoice');
$invoice_form->prepare();
?>

<div class="well margin_top" id="recurrentinvoice">
    <div class="row">
        <!--form_open_tag-->
        <?php echo $this->form()->openTag($invoice_form); ?>

        <div class="form-group margin_bottom"><!--heading-->
            <div class="col-lg-5 col-md-6 col-sm-7 col-xs-12">
                <h3 class="h1_no_margin"><?php echo $this->translate('Add Recurrent Invoice') ?></h3>
            </div>
            <?php
            if (is_array($_SESSION['ezBizUser']['featureNames'])) {
                if (in_array("AddInvoice", $_SESSION['ezBizUser']['featureNames'])) {
                    ?>
                    <div class="col-lg-3">
                        <a class="btn btn-info pull-right hidden-xs" href="<?php echo $this->url('invoice', array('action' => 'index')) ?>" ><?php echo $this->translate("Add New Invoice"); ?></a>
                    </div>
                    <?php
                }
            }
            ?>
        </div>

        <div class="form-group" id="st">
            <div class="col-lg-6 col-md-5 col-sm-6">
                <?php echo $this->formRow($invoice_form->get('state')); ?>
            </div>
        </div>

        <div class="form-group" id="ty">
            <div class="col-lg-6 col-md-5 col-sm-6">
                <?php echo $this->formRow($invoice_form->get('Type')); ?>
            </div>
        </div>

        <?php
        if ($invoiceID != null) {
            $this->formRow($invoice_form->get('invoiceID')->setValue($invoiceID));
        }
        ?>

        <div class="form-group"><!--invoice_no-->
            <label for="invoice_no" class="col-lg-2 col-md-3 col-sm-4 control-label">
                <div id="solabel" ><?php echo $this->translate("Invoice No"); ?>
                    <font color="red"> *</font>
                </div>
            </label>
            <div class="col-lg-6 col-md-9 col-sm-8">
                <?php echo $this->formRow($invoice_form->get('invoiceID')); ?>
            </div>
        </div>

        <div class="form-group"><!--name-->
            <label for="name" class="col-lg-2 col-md-3 col-sm-4 control-label">
                <?php echo $this->translate('Recurrent Title'); ?>
                <font color="red"> *</font>
            </label>
            <div class="col-lg-6 col-md-9 col-sm-8">
                <?php echo $this->formRow($invoice_form->get('name')); ?>
            </div>
        </div>

        <div class="form-group"><!--repeat_every-->
            <label for="time_value" class="col-lg-2 col-md-3 col-sm-4 col-xs-12 control-label">
                <?php echo $this->translate("Repeat Every"); ?>
                <font color="red"> *</font>
            </label>
            <div class="col-lg-3 col-md-5 col-sm-4 col-xs-6 time_value">
                <?php echo $this->formRow($invoice_form->get('timeValue')); ?>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 time_format">
                <?php echo $this->formRow($invoice_form->get('timeFormat')); ?>
            </div>
        </div>

        <div class="form-group"><!--start_date-->
            <label for="start_date" class="col-lg-2 col-md-3 col-sm-4 control-label">
                <?php echo $this->translate("Start Date"); ?>
                <font color="red"> *</font>
            </label>
            <div class="col-lg-6 col-md-9 col-sm-8">
                <?php echo $this->formRow($invoice_form->get('startDate')); ?>
            </div>
        </div>

        <div class="form-group"><!--Confirm End_date-->
            <div class="col-lg-2 col-md-3 col-sm-4"></div>
            <div class="col-lg-10 col-md-9 col-sm-8">
                <label class="control-label hover">
                    <input type="checkbox" id="selectEndDate" value="check">
                    <?php echo $this->translate("Enter an End Date"); ?>
                </label>
            </div>
        </div>

        <div class="form-group" id="checkEndDate"><!--End_date-->
            <label for="end_date" class="col-lg-2 col-md-3 col-sm-4 control-label">
                <?php echo $this->translate("End Date"); ?>
                <font color="red"> *</font>
            </label>
            <div class="col-lg-6 col-md-9 col-sm-8">
                <?php echo $this->formRow($invoice_form->get('endDate')); ?>
            </div>
        </div>

        <div class="margin_top"><!--button-->
            <div class="form-group">
                <label class="control-label col-lg-2"></label><!--dummy-->
                <div class="col-lg-6 text-right recurent_button">
                    <button class="btn btn-primary" id="recurrent_invoice"><?php echo $this->translate("Save Recurrent Invoice"); ?></button>
                    <input type="reset" class="btn btn-danger reset_button" value=<?php echo $this->translate('Clear') ?>>
                </div>
            </div>
        </div>

        <?php echo $this->form()->closeTag(); ?><!--form_close_tag-->

    </div><!--row-->
</div><!--well-->