<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
var edit_btn = '<?php echo $this->translate('Edit'); ?>';
var save = '<?php echo $this->translate('Save'); ?>';
var currentLocationID = <?php echo $this->currentLocationID; ?>;
var multipleDeleNotes = <?php echo $this->multipleDeleNotes; ?>;

$(document).ready(function(){
});
var companyCurrencySymbol =  <?php echo "'$this->companyCurrencySymbol'"; ?>;
<?php $this->headScript()->captureEnd() ?>

<?php
$this->headScript()->appendFile($this->basePath('js/invoice/draft-inv-edit.js'));
// $this->headScript()->appendFile($this->basePath('js/invoice/customer.js'));
$this->headScript()->prependFile($this->basePath('js/calculations.js'));
$this->headScript()->appendFile($this->basePath('js/invoice/viewinvoice.js'));
?>

<?php
$locationName = $this->locationName;
$locationID = $this->locationID;
$locationCode = $this->locationCode;
$companyCurrencySymbol = $this->companyCurrencySymbol;
$invoiceForm = $this->invoiceForm;
$invoiceForm->prepare();
?>

<div class="margin_top" id="non-printable">
    <h5 class="font_weight well"><?php echo $this->translate("Edit Invoice"); ?></h5>
    <?php
    echo $this->form()->openTag($invoiceForm);
    ?>
    <input type="hidden" id='editInvoiceID' value="<?php echo $this->editInvoiceID; ?>">
    <div id="quotaion_upper_view" class="row"><!--data_insert_section-->
        <div class="col-lg-5 col-md-5">
            <div class="form-group cusDiv"><!--customer_name-->
                <label for="customerName" class="col-lg-5 control-label">
                    <?php echo $this->translate("Customer Name"); ?>
                    <font color="red"> *</font>
                </label>
                <?php
                if ((isset($_SESSION['ezBizUser']['featureNames'])) && in_array("AddCustomers", $_SESSION['ezBizUser']['featureNames'])) {
                    ?>
                    <div class="col-lg-7">
                        <div class="input-group">
                            <?php echo $this->formRow($invoiceForm->get('customerName')); ?>
                            <div class="input-group-btn">
                                <a data-toggle="modal" href="#add_customer" class="btn btn-default pull-right"><i class="glyphicon glyphicon-plus"></i></a>
                            </div>
                        </div>

                    </div>
                    <?php
                } else {
                    ?>
                    <div class="col-lg-7">
                        <!--<div class="input-group">-->
                        <select class="form-control selectpicker" title="" id="customer" name="customer" data-live-search="true">
                            <option value=""><?php echo $this->translate('Select Customer') ?></option>
                        </select>
                    </div>
                    <?php
                }
                ?>
                <div class="hiddenid" id="customerID"></div>
            </div>

            <div class="form-group jobCustomerDiv hidden"><!--customer_name-->
                <label for="customerName" class="col-lg-5 control-label">
                    <?php echo $this->translate("Customer Name"); ?>
                    <font color="red"> *</font>
                </label>
                <div class="col-lg-7">
                    <!--<div class="input-group">-->
                    <select class="jobCustomer form-control" name="jobCustomer">
                    </select>
                </div>
            </div>
            <div class="form-group hidden cus_prof_div">
                <label for='cusProfile' class="col-lg-5 control-label">
                    <?php echo $this->translate('Customer Profile'); ?>
                    <a class="help_icon_js hidden tooltip_for_default_cus" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="top" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('QUOTATION_DEFAULT_CUS_CHANGE') ?>">
                        <i class="fa fa-question-circle help_icon"></i>
                    </a>
                </label>
                <div class="col-lg-7 hidden cus-prof-select">
                    <select class="form-control selectpicker show-tick" id="cusProfileINV" name="cusProfileINV" data-live-search="true">
                        <option value=""><?php echo $this->translate('Select Customer Profile') ?></option>
                    </select>
                </div>
                <div class="col-lg-7 default-cus-prof">
                    <input type="text" value="" id='cus-prof-name' class="form-control " disabled="true">
                </div>
            </div>

            <div class="form-group">
                <label for="location" class="col-lg-5 control-label">
                    <?php echo $this->translate("Invoice Location"); ?>
                    <font style="color: red">*</font>
                </label>
                <div class="col-lg-7">
                    <?php
                    if ($locationName != NULL && $locationID != NULL) {
                        $invoiceForm->get('currentLocation')->setValue($locationCode . ' - ' . $locationName)->setAttribute('disabled', true);
                        ?>
                        <input type="hidden" id="idOfLocation" value="<?php echo $locationID ?>">
                        <?php
                    }
                    ?>
                    <?php echo $this->formRow($invoiceForm->get('currentLocation')); ?>
                </div>
            </div>

            <div class="form-group"><!--payment_term-->
                <label for="payment_term" class="col-lg-5 control-label">
                    <?php echo $this->translate('Payment Term'); ?>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($invoiceForm->get('paymentTerm')); ?>
                </div>
            </div>

            <div class="form-group"><!--customer_balance-->
                <label for="currentBalance" class="col-lg-5 control-label"><?php echo $this->translate('Customer Balance') ?></label>
                <div class="col-lg-7">
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 remove_left_padding ">
                            <input type="text" class="form-control" id="customerCurrentBalance" readonly="readonly"/>
                            <label class="label label-danger custom_label"><?php echo $this->translate('Outstanding') ?></label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 remove_right_padding">
                            <input type="text" class="form-control" id="customerCurrentCredit" readonly="readonly"/>
                            <label class="label label-success custom_label"><?php echo $this->translate('Credit'); ?></label>
                        </div>
                    </div>
                </div>
            </div><!--form_group-->

            <div class="form-group">
                <label for='priceListId' class="col-lg-5 control-label">
                    <?php echo $this->translate('Price List'); ?>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($invoiceForm->get('priceListId')); ?>
                </div>
            </div>

            <div class="form-group">
                <label for='inclusiveTaxLbl' class="col-lg-5 control-label">
                    <?php echo $this->translate('Inculsive Tax'); ?>
                </label>
                <div class="col-lg-7">
                    <input type='checkBox' style="margin-top: 10px;" class="" id='inclusiveTax'>
                </div>
            </div>
            <div class="form-group">
                <label for="dimensionType" class="col-lg-5 control-label">
                    <?php echo $this->translate('Select Documents'); ?>
                </label>
                <div class="col-lg-4">
                    <input type="file" name="files[]" id="invoiceFiles" multiple style="border-color: white">
                </div>
            </div>
            <div class="form-group">
                <label for='inclusiveTaxLbl' class="col-lg-5 control-label">
                    <?php echo $this->translate('Next Invoice Date'); ?>
                </label>
                <div class="col-lg-7">
                    <a data-toggle="modal" id="memberShipManagement" class="btn btn-default"><i class="glyphicon glyphicon-forward"></i></a>
                </div>
            </div>
            <div class="form-group" id="approvalWorkflowSelector" data-isActive="<?php echo $this->isActiveApproval ?>">
            <?php if ($this->isActiveApproval) { ?>
                <label for="qot_no" class="col-lg-5 control-label">
                    <?php echo $this->translate("Approval Workflows"); ?>
                    <font style="color: red">*</font>
                </label>
                <div class="col-lg-7" id='abcde'>
                    <select class='form-control selectpicker approval-workflows' data-actions-box="false"  name="approvalWorkflows" id ="approvalWorkflows"  title="<?php echo $this->translate('Select Approval Workflow') ?>" data-selected-text-format="count>3">
                        <option value="null"><?php echo $this->translate('Select Approval Workflow') ?></option>
                        <?php foreach ($this->approvalWorkflows as $workflow) { ?>
                            <option value="<?php echo $workflow['approvalWorkflowID'] ?>"><?php echo $workflow['workflowName'].' - '.$workflow['workflowCode']; ?></option>
                        <?php } ?>
                    </select>
                </div>
            <?php } ?>
            </div>
        </div><!--./col-->

        <div class="col-lg-5 col-md-5 col-lg-offset-2 col-md-offset-2">
            <div class="form-group">
                <label for="date" class="col-lg-5 control-label">
                    <?php echo $this->translate("Invoice Date"); ?>
                </label>
                <div class="col-lg-7">
                    <input type="text" class="datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="deliveryDate" data-date-format="<?php echo $this->userDateFormat ?>" placeholder="<?php echo $this->translate('Click to set a Date'); ?>">
                </div>
            </div>

            <div class="form-group">
                <label for="date" class="col-lg-5 control-label">
                    <?php echo $this->translate("Due Date"); ?>
                    <font color="red"> *</font>
                </label>
                <div class="col-lg-7">
                    <input type="text" class="datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="dueDate" data-date-format="<?php echo $this->userDateFormat ?>" placeholder="<?php echo $this->translate('Click to Set a Date'); ?>">
                </div>
            </div>

            <div class="form-group">
                <label for="invoiceNo" class="col-lg-5 control-label">
                    <?php echo $this->translate("Invoice No"); ?>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($invoiceForm->get('invoiceNo')); ?>
                </div>
            </div>
            <div class="form-group">
                <label for='salesPersonID' class="col-lg-5 control-label">
                    <?php echo $this->translate('Sales Person'); ?>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($invoiceForm->get('salesPersonID')); ?>
                </div>
            </div>

            <div class="form-group">
                <label for="customCurrencyId" class="col-lg-5 control-label">
                    <?php echo $this->translate('Custom Currency'); ?>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($invoiceForm->get('customCurrencyId')); ?>
                </div>
            </div>

            <div class="form-group">
                <label for="customCurrencyRate" class="col-lg-5 control-label">
                    <?php echo $this->translate('Custom Currency Rate'); ?>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($invoiceForm->get('customCurrencyRate')); ?>
                </div>
            </div>
            <div class="form-group">
                <label for="dimensionType" class="col-lg-5 control-label">
                    <?php echo $this->translate('Dimension'); ?>
                </label>
                <div class="col-lg-7">
                    <a data-toggle="modal" id="dimensionView" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></a>
                </div>
            </div>
            <div class="form-group">
                <label for="dimensionType" class="col-lg-5 control-label">
                    <?php echo $this->translate('View Documents'); ?>
                </label>
                <div class="col-lg-3 text-right">
                    <button class="btn btn-default form-control" type="button" id='viewUploadedFiles'><i class="glyphicon glyphicon-eye-open"></i></button>
                </div>
            </div>
            <div class="form-group cusOrderDiv">
                <label for="dimensionType" class="col-lg-5 control-label">
                    <?php echo $this->translate('Customer Order Number'); ?>
                </label>
                <div class="col-lg-7">
                    <input type="text" class="form-control" id="cusOrderNum"/>
                </div>
            </div>
        </div><!--./col-->
    </div><!--row-->


    <!--table-->
    <div class="col-lg-12">
        <div id="productTable" class="table">
            <div class="modal fade" id="searchFilterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4><?php echo $this->translate("Filter With Item Attributes") ?></h4>
                        </div>

                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <select name="attributeType" id="attributeType" class="form-control selectpicker show-tick">
                                        <option value="0"><?php echo $this->translate('Select Item Attribute') ?></option>
                                        <?php
                                        foreach ($this->attrDetails as $key => $value) {
                                         ?>
                                         <option value=<?php echo $value['itemAttributeID'];?> class=""><?php echo $value['description'];?></option>
                                         <?php
                                        } 
                                        ?>
                                   </select>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div id="attributeValDiv">
                                        <select class="form-control selectpicker show-tick" id="attributeVal" name="attributeVal" title="Select Value">
                                            <option value="0"><?php echo $this->translate('Select Item Attribute Value') ?></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                        </div><!-- ./modal-body -->
                        <div class="modal-footer">
                            <input type="button"  id='close' name='close' class="btn btn-default fromControl" value="<?php echo $this->translate("Close"); ?>">
                            <input type="button"  id='resetFilter' name='resetFilter' class="btn btn-default fromControl" value="<?php echo $this->translate("Reset"); ?>">
                            <!-- <input type="button" id="addFilter" class="btn btn-primary fromControl" value="<?php echo $this->translate("Add"); ?>"> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="itemWiseSalesPersonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4><?php echo $this->translate("Add Item Wise Sales Person") ?></h4>
                        </div>

                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <select name="itemSalesPerson" id="itemSalesPerson" class="form-control selectpicker show-tick">
                                        <option value="0"><?php echo $this->translate('Select Sales Person') ?></option>
                                        <?php
                                        foreach ($this->salesPersons as $key => $value) {
                                         ?>
                                         <option value=<?php echo $key;?> class=""><?php echo $value;?></option>
                                         <?php
                                        } 
                                        ?>
                                   </select>
                                </div>
                            </div>
                            
                        </div><!-- ./modal-body -->
                        <div class="modal-footer">
                            <input type="button"  id='add-person' name='add-person' class="btn btn-default fromControl" value="<?php echo $this->translate("OK"); ?>">
                            <input type="button"  id='close' name='close' class="btn btn-default fromControl" value="<?php echo $this->translate("Close"); ?>">
                            
                            <!-- <input type="button" id="addFilter" class="btn btn-primary fromControl" value="<?php echo $this->translate("Add"); ?>"> -->
                        </div>
                    </div>
                </div>
            </div>
            <table class="deliveryNoteProductTable table  table-striped margin_top_normal table-condensed" id="deliveryNoteProductTable">
                <thead>
                    <tr>
                        <th style="width: 22%" class="th_code"><?php echo $this->translate("Item Code or Name"); ?></th>
                        <th style="width: 13%"><?php echo $this->translate('Available Qty'); ?></th>
                        <?php if ($this->isEnableForProductWiseSalesPerson) { ?>
                            <th style="width: 12%"><?php echo $this->translate("Quantity"); ?>
                        <?php } else { ?>
                            <th style="width: 13%"><?php echo $this->translate("Quantity"); ?>
                        <?php } ?>
                            <a class="help_icon_js" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="top" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('INVOICE_INVO_CREATE_QUANTITY') ?>">
                                <i class="fa fa-question-circle help_icon"></i>
                            </a>
                        </th>
                        <th class="text-right" style="width: 15%">
                            <span id="priceLabel">
                            <?php echo $this->translate("Price"); ?>
                            </span>
                            <span id="inclusiveTaxpriceLabel" class="hidden">
                            <?php echo $this->translate("Price With Tax"); ?>
                            </span>
                            <a class="help_icon_js" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="top" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('INVOICE_INVO_CREATE_PRICE') ?>">
                                <i class="fa fa-question-circle help_icon"></i>
                            </a>
                        </th>
                        <th class="text-right" style="width: 17%"><?php echo $this->translate("Dis.Per Item"); ?>
                            <a class="help_icon_js" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="top" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('INVOICE_INVO_CREATE_DISC_ITEM') ?>">
                                <i class="fa fa-question-circle help_icon"></i>
                            </a>
                        </th>
                        <th class="text-right" style="width: 5%"><?php echo $this->translate("Taxes"); ?>
                            <a class="help_icon_js" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="top" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('INVOICE_INVO_CREATE_TAX') ?>">
                                <i class="fa fa-question-circle help_icon"></i>
                            </a>
                        </th>
                        <th class="text-right" style="width: 12%"><?php echo $this->translate("Total"); ?></th>


                        <?php if ($this->isEnableForProductWiseSalesPerson) { ?>
                            <th style="width: 1%"></th>
                            <th style="width: 1%"></th>
                            <th style="width: 1%"></th>
                            <th style="width: 1%"></th>
                        <?php } else { ?>
                            <th style="width: 1%"></th>
                            <th style="width: 1%"></th>
                            <th style="width: 1%"></th>
                        <?php } ?>
                    </tr>
                </thead>

                <!--item_row_show-->
                <tbody id="form_row">
                    <tr id='preSetSample' class="hidden">
                        <td id='code'></td>
                        <td id='availableQuantity' class='text-right'></td>
                        <td id='quantity' class='text-right'></td>
                        <td><span id="uomName" class='text-right'></span></td>
                        <td id='unit' class='text-right'></td>
                        <td id='disc' class='text-right'></td>
                        <td class='text-right' id='tax'><div class='btn-group'><button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'><span id='' class=''></span>&nbsp<span class='glyphicon glyphicon-chevron-down'></span></button><ul class=''></ul></div></td>
                        <td id='ttl' class='text-right'></td>
                        <td class='text-center'>
                            <button type='button' class='btn btn-default grnDeleteProduct'>
                                <i class='glyphicon glyphicon-trash delete'></i>
                            </button>
                        </td>
                        <td class='text-center'>
                            <button type='button' class='grnViewProducts btn btn-default'>
                                <i class='fa fa-expand'></i>
                            </button>
                        </td>
                        <td class='text-center'>
                            <button type='button' class='btn btn-default'>
                                <i class='fa fa-gift free-issue'></i>
                            </button>
                        </td>
                    </tr>
                </tbody>

                <!--item_enter_row-->
                <tbody id="add-new-item-row">
                    <tr class="add-row sample hidden">
                        <td class="clearfix">
                            <p class="visible-xs">Item Code or Name</p>
                            <div class="pull-right input-group">
                                <span class="input-group-btn">
                                    <button  type='button' class="btn btn-default addItemFilter" title="Add Item Serch Filter">
                                        <i class="fa fa-filter"></i>
                                    </button>
                                </span>
                                <select class="form-control  show-tick"  id="itemCode" name="itemCode" data-live-search="true">
                                    <option value="0" ><?php echo $this->translate('Select Item') ?></option>
                                    <?php if($this->isCanCreateItem) { ?>
                                        <option value="add" class="addNewItem"><?php echo $this->translate('Add New Item') ?></option>
                                    <?php } ?>
                                </select>
                                <span class="input-group-btn">
                                    <button  type='button' class="btn btn-default addItemDescription" title="Add comment">
                                        <i class="fa fa-comment-o"></i>
                                    </button>
                                </span>
                            </div>
                            <!--<a style="float: left;position: relative;top: -35px;left: -24px; font-size: 25px;margin-bottom: -50px;"class="btn-default addItemDescription">-->
                                    <!--<i class="fa fa-angle-down  remove_font_weight"></i>-->
                            <!--</a>-->
                            <textarea class="itemDescText form-control hidden" placeholder="Enter item description"></textarea>
<!--                            <select class="form-control  show-tick"  id="itemCode" name="itemCode" data-live-search="true">
                                <option value="">Select Item</option>
                                <option value="add" class="addNewItem">Add New Item</option>
                            </select>
                            <a style="float: left;position: relative;top: -35px;left: -24px; font-size: 25px;margin-bottom: -50px;"class="btn-default addItemDescription"><i class="fa fa-angle-down  remove_font_weight"></i></a>
                            <textarea style="position: relative;top: 6px; float: left;"class="itemDescText form-control hidden" placeholder="Enter item description"></textarea>-->
                        </td>
                        <td class="clearfix">
                            <p class="visible-xs"><?php echo $this->translate('Available Qty') ?></p>
                            <div><?php echo $this->formRow($invoiceForm->get('availableQuantity')); ?></div>
                        </td>
                        <td class="clearfix">
                            <p class="visible-xs"><?php echo $this->translate('Qty') ?></p>
                            <div><?php echo $this->formRow($invoiceForm->get('deliverQuanity')); ?></div>
                        </td>
                        <td class="clearfix">
                            <p class="visible-xs"><?php echo $this->translate('Price') ?></p>
                            <div class="input-group">
                                <?php echo $this->formRow($invoiceForm->get('unitPrice')); ?>
                                <strong class="input-group-addon cCurrency"><?php echo $companyCurrencySymbol; ?></strong>
                            </div>
                        </td>
                        <td class="clearfix">
                            <p class="visible-xs"><?php echo $this->translate('Discount') ?></p>
                            <div class="input-group">
                                <?php echo $this->formRow($invoiceForm->get('discount')); ?>
                                <span class="input-group-addon sign"></span>
                            </div>
                        </td>
                        <td class='text-right clearfix' id='tax'>
                            <p class="visible-xs"><?php echo $this->translate('Taxes') ?></p>
                            <div id="addNewTaxDiv" class='btn-group'>
                                <button id ="addNewTax" type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'>
                                    <span id='taxApplied' class='glyphicon glyphicon-unchecked'></span>
                                    <i class='fa fa-caret-down'></i>
                                </button>
                                <ul id="addTaxUl" class="text-left dropdown-menu">
                                    <li id="sampleLi" class="hidden">&nbsp;&nbsp;<input class="taxChecks" id="" type='checkbox' ><label for="" class="taxName">&nbsp;&nbsp;</label></li>
                                    <li id="toggleSelection">&nbsp;&nbsp;<div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs" id="selectAll"><?php echo $this->translate("Select all"); ?>
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs" id="deselectAll"><?php echo $this->translate("Deselect all"); ?>
                                    </button></div>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="clearfix">
                            <p class="visible-xs clearfix text-right"><?php echo $this->translate('Total') ?></p>
                            <div class="text-right">
                                <label id="addNewTotal">0.00</label>
                            </div>
                        </td>
                        <td>
                            <button  type='button' class="edit-modal btn btn-default" title="Select Batch / Serial Items">
                                <i class="fa fa-sitemap"></i>
                            </button>
                        </td>
                        <?php if ($this->isEnableForProductWiseSalesPerson) { ?>
                            <td>
                                <button  type='button' class="add-user btn btn-default" title="Select Item Wise Sales Person">
                                    <i class="fa fa-user"></i>
                                </button>
                                <input type="text" name="itemSalesPersonVal" class="hidden" id= "itemSalesPersonVal">
                            </td>
                        <?php } ?>
                        <td>
                            <button type='button' class="add btn btn-default">
                                <i class="fa fa-plus"></i>
                            </button>
                            <button class="edit btn btn-default hidden" type='button'>
                                <i class="fa fa-pencil-square-o"></i>
                            </button>
                            <button class="save btn btn-default hidden" type='button'>
                                <i class="fa fa-floppy-o"></i>
                            </button>
                        </td>
                        <td>
                            <button class="delete disabled btn btn-default" type='button'>
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                        <td>
                            <button class="free-issue disabled btn btn-default" type='button'>
                                <i class="fa fa-gift"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>

                <tbody class="deliveryNoteProductTable_footer">
                    <!--dummy_row_for_separate_subtotal_section-->
                    <tr class="hidden-xs">
                        <td colspan='11'>&nbsp;</td>
                    </tr>

                    <!--sub_total-->
                    <tr>
                        <td colspan="6" class="text-right"><?php echo $this->translate("Sub Total"); ?></td>
                        <td class="text-right"><label id="subtotal">0.00</label></td>
                        <td colspan='4'></td>
                    </tr>

                    <!--total_discount-->
                    <tr>
                        <td colspan="3">
                            <?php echo $this->translate("Total Discount"); ?>
                        </td>
                        <td colspan="3">
                            <div class="radio pull-right" style="padding-top: 0; min-height: 0">
                                <label>
                                    <input  type="radio" name="discount_type" id="disc_value" value="Value"><?php echo $this->translate("value") ?>
                                </label>
                            </div>
                            <div class="radio pull-right" style="margin-right: 20px; padding-top: 0; min-height: 0">
                                <label>
                                    <input checked="checked"  type="radio" name="discount_type" id="disc_presentage" value="presentage"><?php echo $this->translate("percentage") ?>
                                </label>
                            </div>
                        </td>
                        <td>
                            <?php echo $this->formRow($invoiceForm->get('total_discount_rate')); ?>
                        </td>
                        <td colspan='4'></td>
                    </tr>

                    <!--tax_exempted-->
                    <tr>
                        <td colspan="11">
                            <label class="remove_font_weight"><input type="checkbox"  id="tax_exempted"><?php echo $this->translate(" Suspended Tax"); ?></label>
                        </td>
                    </tr>

                    <!--display_taxes-->
                    <tr>
                        <td>
                            </br>
                        </td>
                        <td colspan="5" class="hidden">
                            <label class="remove_font_weight"><?php echo $this->formRow($invoiceForm->get('showTax')) . "&nbsp;"; ?><?php echo $this->translate("Display Taxes"); ?>
                                <a class="help_icon_js" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="top" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('INVOICE_INVO_CREATE_DISPLAY_TAX') ?>">
                                    <i class="fa fa-question-circle help_icon"></i>
                                </a>
                            </label>
                        </td>
                        <td class="text-right" colspan="5">
                            <div id="totalTaxShow" class="hidden"></div>
                        </td>
                        <td colspan="5"></td>
                    </tr>

                    <!--delivery_charges-->
                    <tr>
                        <td colspan="2">
                            <label class="remove_font_weight">
                                <?php
                                echo $this->formRow($invoiceForm->get('deliveryChargeEnable')) . "&nbsp;";
                                echo $this->translate("Delivery Charges");
                                ?>
                                <a class="help_icon_js" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="top" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('INVOICE_INVO_CREATE_DELI_CHARGE') ?>">
                                    <i class="fa fa-question-circle help_icon"></i>
                                </a>
                            </label>
                        </td>
                        <td colspan="3">
                            <div class='deliCharges hidden'>
                                <div class="col-lg-4">
                                    <label>
                                        <?php echo $this->translate("Amount"); ?>
                                        <a class="help_icon_js" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="top" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('INVOICE_INVO_CREATE_ENTER_DELI_CHARGE') ?>">
                                            <i class="fa fa-question-circle help_icon"></i>
                                        </a>
                                    </label>
                                </div>
                                <div class="col-lg-8">
                                    <?php echo $this->formRow($invoiceForm->get('deliveryCharge')); ?>
                                </div>
                            </div>
                        </td>
                        <td colspan="6">
                            <div class='deliAddress hidden'>
                                <div class="col-lg-3">
                                    <?php echo $this->translate("Address"); ?>
                                </div>
                                <div class="col-lg-9">
                                    <textarea id="deliveryAddress" class="form-control"></textarea>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <!--promotions-->
                    <tr>
                        <td colspan="2">
                            <label class="remove_font_weight"> <?php echo $this->translate("Promotions"); ?></label>
                            <?php echo $this->formRow($invoiceForm->get('promotion')); ?>
                        </td>
                    </tr>
                    <?php  if ($this->isUseMrpValues == 1) { ?>
                        <tr>
                            <td colspan="1">
                                <label class="remove_font_weight"> <?php echo $this->translate("View Mrp Values For Added Items   "); ?></label>
                            </td>
                            <td>
                                <a data-toggle="modal" id="viewMrpValues" class="btn btn-default"><i class="fa fa-eye"></i></a>
                            </td>
                        </tr>
                    <?php } ?>
                    <tr>
                        <td colspan="1">
                            <label class="remove_font_weight"> <?php echo $this->translate("Add Service Charges"); ?></label>
                        </td>
                        <td>
                            <a data-toggle="modal" id="addServiceChargeView" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="added-service-charge-amount-label hidden">
                            <label class="remove_font_weight"> <?php echo $this->translate("Added Service Charge Amount:"); ?></label>
                        </td>
                        <td class="added-service-charge-amount-value hidden">
                        </td>
                    </tr>
                    <!--total-->
                    <tr>
                        <td colspan="6" class="text-right"><h4 class="font_weight"><?php echo $this->translate("Total ") ?>&nbsp;<span class="cCurrency"> <?php echo $companyCurrencySymbol; ?></span></h4></td>
                        <td class="text-right"><h4 id="finaltotal" class="font_weight" style="font-size: 16px">0.00</h4></td>
                        <td colspan="3"></td>
                    </tr>
                </tbody>
            </table>

        </div><!--table_responsive-->
    </div><!--./col-->

    <!--comment-->
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4"><!--comment-->
            <label for="cmnt" class="">
                <?php echo $this->translate("Comment"); ?>
                <a class="help_icon_js" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="top" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('INVOICE_INVO_CREATE_ADD_COMMENT') ?>">
                    <i class="fa fa-question-circle help_icon"></i>
                </a>
            </label>
            <?php echo $this->formRow($invoiceForm->get('comment')); ?>
        </div>

        <div class="col-lg-4 col-sm-4"><!--button-->
            <div class="btn_margin_top ">
                <?php echo $this->formRow($invoiceForm->get('deliveryNoteCancelButton')); ?>
            </div>

        </div>
    </div><!--row-->
    <?php echo $this->form()->closeTag(); ?><!--close_form_tag-->
</div><!--quotation_tab-->


<!-- Add New Product Form Modal -->
<div class="modal fade" id="add_new_item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                <h4 class="modal-title"><?php echo $this->translate("Add New Item"); ?></h4>
            </div>
            <!--            <div id="add_new_item_modal" class="modal-body">
            <?php // echo $produt_add;      ?>
                        </div>-->
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="add_customer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $cust_formv; ?>
</div>

<div class="modal fade" id="addInvoiceProductsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->invoiceProducts; ?>
</div>

<div class="modal fade" id="addCustomerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->customerAddView; ?>
</div>
<div class="modal fade" id="freeIssueItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->freeIssueItemModal; ?>
</div>

<div class="modal fade" id="creditLimitValidationView" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <?php echo $creditLimitValidationView; ?>
</div>

<div class="modal fade" id="editJournalEntry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4><?php echo $this->translate("Journal Entry View") ?></h4>
            </div>

            <div class="modal-body">
                <div class="form-horizontal">
                    <!--journalEntryDate-->
                    <div class="form-group">
                        <label class="control-label label_bottom_margin col-lg-4" for="journalEntryDate">
                            <?php echo $this->translate('Date')?><font color="red"> *</font>
                        </label>

                        <div class="col-lg-8">
                            <input type='text' class="form-control" readonly="true" id="journalEntryDate">
                        </div>
                    </div>

                    <!-- journalEntryCode -->
                    <div class="form-group">
                        <div class="col-lg-4">
                            <label class="control-label label_bottom_margin" for="journalEntryCode"><?php echo $this->translate('Journal Entry Number')?><font color="red"> *</font>
                            </label>
                        </div>

                        <div class="col-lg-8">
                            <input type='text' class="form-control" readonly="true" id="journalEntryCode">
                        </div>
                    </div>

                    <!-- comment -->
                    <div class="form-group">
                        <div class="col-lg-4">
                            <label class="control-label label_bottom_margin" for="journalEntryComment"><?php echo $this->translate('Comment')?></label>
                        </div>

                        <div class="col-lg-8">
                            <textarea class="form-control" id="journalEntryComment">
                            </textarea>
                        </div>
                    </div>
                </div><!-- ./form-horizontal -->

                <div class="table">
                    <div id="journalEntryAddOverlay" class="">
                        <table class="journalEntryTable table  table-striped margin_top_normal table-condensed" id="journalEntryTable">
                            <thead>
                                <tr>
                                    <th><?php echo $this->translate("GL Account"); ?></th>
                                    <th><?php echo $this->translate("Debit"); ?></th>
                                    <th><?php echo $this->translate("Credit"); ?></th>
                                    <th><?php echo $this->translate("Memo"); ?></th>
                                </tr>
                            </thead>

                            <tbody id="journal-entry-body">
                                <tr class="temp_acc hidden">
                                    <td>
                                        <select class="accountID" id="accountID" form-control col-lg-4 "></select>
                                    </td>
                                    <td><input type="text" class="debitAmount form-control"></td>
                                    <td><input type="text" class="creditAmount form-control"></td>
                                    <td>
                                        <textarea style="width: 150px;
                                        height: 40px;" class="memo form-control">
                                        </textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- ./modal-body -->
            <div class="modal-footer">
                <input type="button" data-dismiss="modal" id='close' name='close' class="btn btn-default fromControl" value="<?php echo $this->translate('Close') ?>">
                <input type="button" id="saveInvoiceWithJournalEntry" class="btn btn-primary fromControl" value="<?php echo $this->translate('Save Invoice With This Journal Entry') ?>">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addDimensionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->dimensionAddView; ?>
</div>
<div class="modal fade" id="viewAttachmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->attachmentsView; ?>
</div>
<div class="modal fade" id="addMembershipModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->nextInvoiceDateView; ?>
</div>
<div class="modal fade" id="addServiceChargeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->serviceChargeView; ?>
</div>
<div class="modal fade" id="createProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $createProductView; ?>
</div>
<div class="modal fade" id="viewMrpValuesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->viewMrpValluesView; ?>
</div>
<style type="text/css">
    .select2-container {
        width: 100% !important;
    }
</style>
<div class="modal fade" id="barCodeAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <?php echo $this->barCodeAddModal; ?>
</div>

<style type="text/css">

    .after_modal_appended
    {  
      position:relative;
    }
    #searchFilterModal.modal {
        position: absolute !important;
    }

    #searchFilterModal.modal-backdrop {
        display: none !important;
    }

    #searchFilterModal .modal-dialog {
      position: absolute;
      top: 50px;
      right: 850px;
      bottom: 0;
      left: 0;
      z-index: 10040;
      overflow: auto;
      overflow-y: auto;
    }

    @media screen and (max-width: 768px) {
        #searchFilterModal .modal-dialog {
          top: 200px;
          right: 0px;
        }
    }

    #itemWiseSalesPersonModal.modal {
        position: absolute !important;
    }

    #itemWiseSalesPersonModal.modal-backdrop {
        display: none !important;
    }

    #itemWiseSalesPersonModal
    {
      overflow: hidden;
    }
    #searchFilterModal
    {
      overflow: hidden;
    }

    #itemWiseSalesPersonModal .modal-dialog {
      position: absolute;
      top: 50px;
      right: -850px;
      bottom: 0;
      left: 0;
      z-index: 10040;
      overflow: auto;
      overflow-y: auto;
    }

    @media screen and (max-width: 768px) {
        #itemWiseSalesPersonModal .modal-dialog {
          top: 200px;
          right: 0px;
        }
    }
    .modal-open { overflow-y: auto; }

    #attributeValDiv .bootstrap-select.btn-group .dropdown-menu {
        height: 144px !important;
    }

    #attributeTypeDiv .bootstrap-select.btn-group .dropdown-menu {
        height: 144px !important;
    }

    #itemSalesPersonDiv .bootstrap-select.btn-group .dropdown-menu {
        height: 144px !important;
    }


</style>