<?php
//ini_set("memory_limit", -1);
//ini_set("max_execution_time", 300);
switch ($template) {
    case "A5" :
        echo $this->render('invoice/templates/a5-template.phtml');
        break;
    case "A4":
        echo $this->render('invoice/templates/a4-template.phtml');
        break;
    case "POS":
        echo $this->render('invoice/templates/pos-template.phtml');
        break;
}
echo $this->render('invoice/templates/email-form.phtml');
?>


<div id='btn_group' class="disabl_when_print"><div class='form-group text-center' id='non-printable'>
        <button class='btn btn-block' id='q_save'><?php echo $this->translate("Save"); ?></button>
        <button class='btn btn-block' id='print'><?php echo $this->translate("Print"); ?></button>
        <button class='btn btn-block' id='emai'><?php echo $this->translate("E-Mail"); ?></button>
        <button class='btn btn-block' id='new_inv'><?php echo $this->translate("New Invoice"); ?></button>
    </div>
    <!--    <div class='form-group text-center' id='non-printable'>
            <button class='btn btn-primary btn-block' id='to_pay' data-inv_id="<?php // echo $doc_data["Invoice No."]  ?>"><?php // echo $this->translate("Pay");  ?></button>
            <button class='btn btn-primary btn-block' id='rec_inv' data-inv_id="<?php // echo $doc_data["Invoice No."]  ?>"><?php // echo $this->translate("Make Recurrent");  ?></button>
        </div>-->
    <div class='form-group text-center btn-block' id='non-printable'>
        <button class='btn btn-danger btn-block' id='cancel'><?php echo $this->translate("Back"); ?></button>
    </div>
</div>