<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate("MRP Values For Added Items"); ?></h4>
        </div>

        <div class="modal-body">
            <div class="col-lg-12 margin_top serviceChargeTable" id="mrpTable">
                <div class="table job-table table-responsive">
                    <table class="dimension-table table table-striped margin_top_normal table-condensed" id="dimensionTypeTable">
                        <thead>
                            <tr>
                                <th><?php echo $this->translate("Item"); ?></th>
                                <th><?php echo $this->translate("Mrp Value"); ?></th>
                                <th><?php echo $this->translate("Selling Price"); ?></th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody id="mrpRow">
                            <tr id='mrpPreSample' class="hidden">
                                <td>
                                    <input disabled name="itemName" type="text" class="form-control" />
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input disabled name="mrpValue" type="text" class="form-control" />
                                        <strong class="input-group-addon mrpsign"></strong>
                                        <strong class="input-group-addon cCurrency"><?php echo $companyCurrencySymbol; ?></strong>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input disabled name="ourPrice" type="text" class="form-control" />
                                        <strong class="input-group-addon unitsign"></strong>
                                        <strong class="input-group-addon cCurrency"><?php echo $companyCurrencySymbol; ?></strong>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div><!--table_responsive-->
            </div><!--./col-->

        </div><!--modal_body-->

        <div class="modal-footer modal-footer-style">
        </div>

    </div>
</div>