<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
$(document).ready(function(){
$("#mobile_heading").html("<h3>Invoices</h3>").addClass('heading');
});
<?php $this->headScript()->captureEnd() ?>

<?php $this->headScript()->appendFile($this->basePath('js/invoice/viewinvoice.js')); ?>

<div class='well clearfix well_custom_padding margin_top xs_view'><!--get_invoice-->

    <div>
        <input type="hidden" id="posFlag" value="0">

        <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <label class="remove_weight margin_bottom_normal_low"><?php echo $this->translate('Search Invoice') ?></label>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4">
            <select id="inv-search-select" class=" form-control col-lg-2">
                <option value="Invoice No"><?php echo $this->translate('Invoice No') ?></option>
                <option value="Customer Name"><?php echo $this->translate('Customer Name') ?></option>
                <option value="Customer Profile"><?php echo $this->translate('Customer Profile') ?></option>
                <?php if ($this->showVehicleNum) { ?>
                    <option value="Vehicle Number"><?php echo $this->translate('Vehicle Number') ?></option>
                <?php } ?>
            </select>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3">
            <select class="form-control selectpicker show-tick" id="inv-search" name="inv-search" data-live-search="true" title="Select Invoice No">
                <option value=""><?php echo $this->translate('Select Invoice No') ?></option>
            </select>
            <select class="form-control selectpicker show-tick" id="inv-custa-search" name="inv-custa-search" data-live-search="true" title="Select Customer Name">
                <option value=""><?php echo $this->translate('Select Customer Name') ?></option>
            </select>
            <select class="form-control selectpicker show-tick" id="inv-cus-profile-search" name="inv-cus-profile-search" data-live-search="true" title="Select Customer Profile">
                <option value=""><?php echo $this->translate('Select Customer Profile') ?></option>
            </select>
            <select class="form-control selectpicker show-tick" id="inv-vehicle-search" name="inv-vehicle-search" data-live-search="true" title="Select Vehicle Number">
                <option value=""><?php echo $this->translate('Select Vehicle Number') ?></option>
            </select>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-2">
            <input type="text" style="background-color: white" readonly="true" class="span2 datepicker form-control pointer_cursor" id="from-date" data-date-format="<?php echo $this->dateFormat ?>" placeholder="<?php echo $this->dateFormat ?>">
        </div>

        <div class="col-lg-2 col-md-2 col-sm-2">
            <input type="text" style="background-color: white" readonly="true" class="span2 datepicker form-control pointer_cursor" id="to-date" data-date-format="<?php echo $this->dateFormat ?>" placeholder="<?php echo $this->dateFormat ?>">
        </div>

        <div class="col-lg-1 col-md-1 col-sm-1">
            <button class="btn btn-primary" id="filter-button"><?php echo $this->translate('GO') ?></button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <br>
            <label class="remove_weight margin_bottom_normal_low"><?php echo $this->translate('Search Invoice By Comment') ?></label>
        </div>
        <div class="col-lg-9">
            <br>
            <div class=" input-group">
                <input type ="text" id ='invoiceCommentSearch' class="form-control" placeholder="<?php echo $this->translate('Search Invoice by Invoice Comment') ?>"/>
                <span class="input-group-btn">
                    <button class="btn btn-default minus_margin" id="searchByComment"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default" id ="resetSerchByComment"><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <br>
            <label class="remove_weight margin_bottom_normal_low"><?php echo $this->translate('Search Invoice Serial Code') ?></label>
        </div>
        <div class="col-lg-9">
            <br>
            <div class=" input-group">
                <input type ="text" id ='invoiceSerialCodeSearch' class="form-control" placeholder="<?php echo $this->translate('Search Invoice by Serial Code') ?>"/>
                <span class="input-group-btn">
                    <button class="btn btn-default minus_margin" id="searchBySerialCode"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default" id ="resetSerchBySerialCode"><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </div>
</div><!--well-->


<!--table-->
<div class="margin_top">
    <div class="table table-responsive">

        <div id="invoice-list">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class=""><?php echo $this->translate('Invoice No') ?></th>
                        <th class=""><?php echo $this->translate('Customer Name') ?></th>
                        <th class=""><?php echo $this->translate('Issued Date') ?></th>
                        <th class=""><?php echo $this->translate('Due Date') ?></th>
                        <?php if ($this->showVehicleNum) { ?>
                            <th class="text-center"><?php echo $this->translate('Vehicle Number') ?></th>
                        <?php } ?>
                        <th class="text-center"><?php echo $this->translate('State') ?></th>
                        <th class="text-right"><?php echo $this->translate('Total Amount') ?></th>
                        <th class="text-right"><?php echo $this->translate('Paid Amount') ?></th>
                        <th class="text-center"><?php echo $this->translate('Print View') ?></th>
                        <th class="text-center"><?php echo $this->translate('Edit') ?></th>
                        <th class="text-center"><?php echo $this->translate('Cancel') ?></th>
                        <th class="text-center"><?php echo $this->translate('Related Documents') ?></th>
                        <th class="text-center"><?php echo $this->translate('Attachments') ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php
                    foreach ($this->invoices as $key => $invoice) {
                        $temJobFlag = false;
                        if ($invoice['jobID'] != '' && $invoice['jobID'] != 0) {
                            $temJobFlag = true;
                            
                        }
                        if ($invoice->salesInvoiceCustomCurrencyRate == 0) {
                            $currencyRate = 1;
                        } else {
                            $currencyRate = $invoice->salesInvoiceCustomCurrencyRate;
                        }
                        if (isset($invoice->currencySymbol)) {
                            $customCurrencySymbol = $invoice->currencySymbol;
                        } else {
                            $customCurrencySymbol = $this->companyCurrencySymbol;
                        }

                        $status = $invoice->statusID;
                        $state = ucfirst($this->statuses[$status]);

                        if ($invoice->inclusiveTax == "1" && $invoice->templateInvoiceTotal != null) {
                            $salesinvoiceTotal = $invoice->templateInvoiceTotal / $currencyRate;
                        } else {
                            $salesinvoiceTotal = $invoice->salesinvoiceTotalAmount / $currencyRate;
                        }
                        $style = NULL;
                        switch ($status) {
                            case "1":
                                $style = "label label-primary";
                                break;
                            case "2":
                                $style = "label label-default";
                                break;
                            case "3":
                                $style = "label label-success";
                                break;
                            case "4":
                                $style = "label label-warning";
                                break;
                            case "5":
                                $style = "label label-primary";
                                break;
                            case "6":
                                $state = 'Open';
                                $style = "label label-danger";
                                break;
                            default :
                                $style = "label label-default";
                        }
                        ?>
                        <tr>
                            <td class=""> <?php echo $invoice->salesInvoiceCode; ?></td>
                            <td class=""> <?php echo $invoice->customerName . '-' . $invoice->customerCode; ?></td>
                            <td class=""> <?php echo $this->userDateFormatHelper($invoice->salesInvoiceIssuedDate, $this->dateFormat); ?></td>
                            <td class=""> <?php echo $this->userDateFormatHelper($invoice->salesInvoiceOverDueDate, $this->dateFormat); ?></td>
                            <?php if ($this->showVehicleNum) { ?>
                                <td class="text-center"><?php echo $this->controller->getVehicleRegNumber($invoice->jobID); ?> </td>
                            <?php } ?>
                            <td class="text-center"><span class="<?php echo $style; ?>"> <?php echo $state; ?></span></td>
                            <td class="text-center"><?php echo $customCurrencySymbol . ' ' . number_format($salesinvoiceTotal, 2); ?></td>
                            <td class="text-right"> <?php echo $customCurrencySymbol . ' ' . number_format(($invoice->salesInvoicePayedAmount / $currencyRate), 2); ?></td>
                            <td class="text-center">
                                <span class="invoice-preview link_color" style="cursor:pointer" data-href="<?php echo $this->url('invoice', array('action' => 'invoiceView', 'param1' => $invoice->salesInvoiceID)); ?>">
                                    <span id="<?php echo $invoice->salesInvoiceID; ?>" class="glyphicon glyphicon-eye-open openlist"></span>
                                </span>
                            </td>
                            <td class="text-center">
                                <?php
                                $invoiceEditFlag = true;
                                if ($invoice->salesInvoiceComment === "Created By Customer Opening Balance") {
                                    $invoiceEditFlag = false;
                                } else {
                                    $invoiceEditFlag = true;
                                }
                                ?>
                                <?php if ($status != 4 && $invoice->deleted == 0 && $invoiceEditFlag == true && $invoice->isApprovedThroughWF == false) { ?>
                                    <?php if($invoice->customerStatus == 1) { ?>
                                    <a class="edits" href="<?php echo $this->url('invoice', array('action' => 'edit', 'param1' => $invoice->salesInvoiceID));
                                    ?>" id="<?php echo $invoice->salesInvoiceID ?>">
                                        <span class="fa fa-pencil-square-o custom_font_size"></span>
                                    </a>
                                    <?php } else { ?>
                                         <a class="editsInactive" href="#" id="<?php echo $invoice->salesInvoiceID ?>">
                                        <span class="fa fa-pencil-square-o custom_font_size"></span>
                                    </a>
                                        <?php } ?>
                                <?php } ?>
                            </td>
                            <td class="text-center">
                                <?php if ($status != 4 && $invoice->deleted == 0 && $invoiceEditFlag == true) { ?>
                                    <?php if($invoice->customerStatus == 1) { ?>
                                    <a><span onclick="deleteInvoice(<?php echo $invoice->salesInvoiceID; ?>, 'Invoice', <?php echo $temJobFlag; ?>)" class="pointer fa fa-trash-o custom_font_size"></span></a>
                                    <?php } else { ?>
                                        <a class="editsInactive" href="#" id="<?php echo $invoice->salesInvoiceID ?>">
                                        <span class="pointer fa fa-trash-o custom_font_size"></span>
                                    </a>
                                    <?php } ?>
                                <?php } ?>
                            </td>
                            <td class="text-center">
                                <span id="<?php echo $invoice->salesInvoiceID; ?>" class="link_color inv_related_docs" data-inv-related-id="<?php echo $invoice->salesInvoiceID; ?>" style="cursor:pointer"><span class="grnView glyphicon glyphicon-link"></span></span>
                            </td>
                            <td class="text-center">
                                <span id="<?php echo $invoice->salesInvoiceID; ?>" class="link_color doc_attachments" data-inv-related-id="<?php echo $invoice->salesInvoiceID; ?>" style="cursor:pointer"><span class="glyphicon glyphicon-paperclip"></span></span>
                            </td>
                            <?php
                        }
                        if (count($this->invoices) == 0) {
                            ?>
                        <tr class="not_found">
                            <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                        </tr>
                        <?php
                    }
                    ?>
                </tbody>
            </table>
            <?php
            echo $this->paginationControl(
                    $this->invoices, 'sliding', array('partial/paginator.phtml', 'invoice'), array(
                'route' => 'invoice', 'action' => 'view'
                    )
            );
            ?>
        </div>

    </div><!--tabele_responsive-->
    <div id='custadiv'></div>
</div><!--margin_top-->
<div class="modal fade" id="addDocHistoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->docHistoryView; ?>
</div>
<div class="modal fade" id="DocumentViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->documentView; ?>
</div>
<div class="modal fade" id="viewAttachmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->attachmentsView; ?>
</div>

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- dialog body -->
            <div class="modal-header">
              <h4 class="modal-title">Job Cancel Confirmation</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <span>This Invoice Related With particular job so when you cancelling the invoice its automatically cancel the job also, so what type of job cancelation do you want</span><br> <br>
                <!-- <input type="checkbox" name="allowDeliveryReturn" id="allowDeliveryReturn" value="true"> <?php echo $this->translate('Cancel with returning service materials') ?><br> -->
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer">
              <button type="button" id = "normal-job-cancel" class="btn btn-danger">only cancel Job</button>
              <button type="button" id = "job-cancel-with-item-return" class="btn btn-warning">With canceling Job With Returning Service Material</button>
              <button type="button" id = "back-to-dashboard" class="btn btn-default">Back</button>
            </div>
        </div>
    </div>
</div>