<?php /**
 * @author ASHAN <ashan@thinkcube.com>
 * This file contains debit Note create view
 */ ?>
<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
<?php
$this->headScript()->captureEnd();
$debitNoteID = $this->debitNoteID;
$locationName = $this->locationName;
$locationID = $this->locationID;
$referenceNumber = $this->referenceNumber;
$companyCurrencySymbol = $this->companyCurrencySymbol;
?>
<div id="debitNotePayment" class=" margin_top disabl_when_print">
    <!--form_opend_tag-->
    <?php
    if ($refNotSet) {
        ?>
        <script>
            $(function() {
                $('#refNotSet').modal('show');
            });
        </script>
        <?php
    }
    ?>
     <input type="hidden" id="useAccounting" value="<?php echo ($this->useAccounting)? 1: 0;?>">
    <!--Search Debit Note-->
    <div class="well clearfix well_custom_padding margin_top_ font_weight">
        <div class="col-lg-3"><!-- Get debit note By-->
            <label class="control-label"><?php echo $this->translate('Start Debit Note Payment By') ?></label>
        </div>
        <div class="col-lg-3"><!-- selection_Drop_down-->
            <select id="debitNotePaymentsSearch" class="form-control selectpicker">
                <option value="Debit Note"><?php echo $this->translate('Debit Note') ?></option>
                <option value="Supplier Name"><?php echo $this->translate('Supplier Name') ?></option>
            </select>
        </div>
        <div class="col-lg-4"><!-- for input debit note id -->
            <div class="" id="debitNote"><!--from_debit_note-->
                <?php
                if ($debitNoteID != NULL) {
                    $iddebitNote = $debitNoteID;
                } else {
                    $iddebitNote = '';
                }
                ?>
                <input type="hidden" class="form-control" id="idDebibtNote" value="<?php echo $iddebitNote ?>">
                <select class="form-control selectpicker show-tick" id="debitNoteID" name="debitNoteID" data-live-search="true">
                    <option value=""><?php echo $this->translate('Select Debit Note Code') ?></option>
                </select>
            </div>
            <div class="" id="supplier"><!--from_debit_note-->
                <select class="form-control selectpicker show-tick" id="supplierID" name="supplierID" data-live-search="true">
                    <option value=""><?php echo $this->translate('Select Supplier Name') ?></option>
                </select>
            </div>
        </div>
        <div class="col-lg-2"><!-- clear whole details and table -->
            <button type="button" id="reset-debit-note-button" class="btn btn-default btn-block"><?php echo $this->translate('Reset') ?></button>
        </div>
    </div><!-- end of search Debit Note -->

    <!--data_insert_section-->
    <div class="row form-horizontal">
        <div class="col-lg-6 remove_left_padding location">
            <div class="form-group"><!--date-->
                <label class="col-lg-5 col-md-3 col-sm-4 col-xs-5 control-label "><?php echo $this->translate('Date : ') ?></label>
                <div class="col-lg-7 col-md-9 col-sm-8 col-xs-7 text_margin_top" id="currentdate">
                    <?php
                    echo date("Y-m-d");
                    ?>
                </div>
            </div>

            <div class="form-group"><!--ref_num-->
                <label class="col-lg-5 col-md-3 col-sm-4 col-xs-5 control-label remove_padding"><?php echo $this->translate('Ref-Number :') ?>
                    <font style="color: red">*</font>
                </label>
                <div class="col-lg-7 col-md-9 col-sm-8 col-xs-7 text_margin_top remove_font_weight">
                    <input type="text" id="debitNotePaymentID" class="form-control" disabled="true" value="<?php
                    if ($referenceNumber) {
                        echo $referenceNumber;
                    }
                    ?>">
                </div>
            </div><!--./col-->

            <div class="form-group">
                <label for="paymentTerm" class="col-lg-5 control-label">
                    <?php echo $this->translate("Payment Term"); ?>
                </label>
                <div class="col-lg-7">
                    <select class="form-control" id="paymentTerm">
                        <?php
                        foreach ($this->paymentTerm as $terms => $termName) {
                            ?>
                            <option value="<?php echo $terms; ?>"><?php echo $termName; ?></option>
                        <?php } ?>
                    </select>
                </div>
            </div>

        </div><!--col-->

        <div class="col-lg-6 col-md-12 remove_right_padding terms">

            <div class="form-group"><!--location-->
                <label class="col-lg-5 col-md-3 col-sm-4 control-label "><?php echo $this->translate('Location :') ?></label>
                <div class="col-lg-7 col-md-9 col-sm-8">
                    <?php
                    if ($locationName != NULL && $locationID != NULL) {
                        $locationValue = ($locationCode . ' - ' . $locationName);
                        ?>
                        <input type="hidden" id="locationID" value="<?php echo $locationID ?>">
                        <?php
                    }
                    ?>
                    <input type="text" disabled="disabled" class="form-control" id="locationName" value="<?php echo $locationValue ?>">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Supplier Balance :') ?></label>
                <div class="col-lg-7 col-md-9 col-sm-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 remove_left_padding">
                            <input type="text"  class="form-control" disabled="disabled" id="currentBalance" name="currentBalance" >
                            <label class="label label-danger custom_label"><?php echo $this->translate('Outstanding') ?></label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 remove_right_padding">
                            <input type="text" class="form-control" disabled="disabled" id="currentCredit" name="currentCredit" >
                            <label class="label label-success custom_label"><?php echo $this->translate('Credit') ?></label>
                        </div>
                    </div><!--row-->
                </div>
            </div><!--form_group-->
            <div class="form-group hidden" id="dimension_div">
                <label for="dimensionType" class="col-lg-5 control-label">
                    <?php echo $this->translate('Dimension'); ?>
                </label>
                <div class="col-lg-7">
                    <a data-toggle="modal" id="dimensionView" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></a>
                </div>
            </div>
            <div class="form-group">
                <label for="dimensionType" class="col-lg-5 control-label">
                    <?php echo $this->translate('Select Documents'); ?>
                </label>
                <div class="col-lg-7 createPoDiv">
                    <input type="file" name="files[]" id="documentFiles" multiple>
                </div>
                <div class="col-lg-4 updatePoDiv hidden">
                    <input type="file" name="files[]" id="editDocumentFiles" multiple class="btn btn-default fromControl" style="border-color: white">
                </div>
                <div class="col-lg-3 text-right updatePoDiv_view hidden">
                    <button class="btn btn-default fromControl" type="button" id='viewUploadedFiles'><i class="glyphicon glyphicon-eye-open"></i></button>
                </div>
            </div>
        </div><!--col-->
    </div><!--row-->

    <div id="appendtable" class="margin_top_high margin_bottom" class="clearfix"></div>


    <div class="row form-horizontal">
        <div class="col-lg-6 remove_left_padding location">
            <div class="form-group"><!--discount_amount-->
                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Discount Amount :') ?></label>
                <div class="col-lg-7 col-md-9 col-sm-8">
                    <input type="text" class="form-control" id="discountAmount" name="discountAmount" >
                </div>
            </div>

            <div class="form-group"><!--amount-->
                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Amount :') ?></label>
                <div class="col-lg-7 col-md-9 col-sm-8">
                    <input type="text" disabled="disabled" class="form-control" id="amount" name="amount" >
                </div>
            </div>
        </div><!--col-->

        <div class="col-lg-6 remove_right_padding terms">
            <div class="form-group">
                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Memo :') ?></label>
                <div class="col-lg-7 col-md-9 col-sm-8">
                    <textarea class="form-control" id="memo" name="memo"></textarea>
                </div>
            </div>
        </div><!--col-->
    </div><!--row-->


    <div class="margin_top_high margin_bottom_high form-horizontal">

    	<!--cash-->
        <div id='cashGroup' class="row">
            <?php if($this->useAccounting == 1){?>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Gl Account For Cash:') ?></label>
                    <div class="col-lg-7 col-md-9 col-sm-8">
                   		<select class="selectpicker form-control" data-live-search ="true" id="cashGlAccountID" title="">
                            <?php
                            foreach ($this->payMethods as $methodID => $mval) {
                                if($methodID == 1  && $mval['paymentMethodPurchaseFinanceAccountID'] != 0){
                                ?>
                                <option value="<?php echo $mval['paymentMethodPurchaseFinanceAccountID'] ?>"><?php echo $mval['purchaseFinanceAccountsCode']."_".$mval['purchaseFinanceAccountsName'] ?></option>
                                <?php
                                }
                            }
                            ?>
                        </select>
                    </div>
                </div>
            </div>
            <?php } ?>
        </div>

        <!--cheque number-->
        <div id='checkGroup' class="row">
            <?php if($this->useAccounting == 1){?>
        	<div class="col-lg-6">
                <div class="form-group">
                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Gl Account For Check:') ?></label>
                    <div class="col-lg-7 col-md-9 col-sm-8">
                        <select class="selectpicker form-control" data-live-search ="true" id="chequeGlAccountID" title="">
                            <?php
                            foreach ($this->payMethods as $methodID => $mval) {
                                if($methodID == 2  && $mval['paymentMethodPurchaseFinanceAccountID'] != 0){
                                ?>
                                <option value="<?php echo $mval['paymentMethodPurchaseFinanceAccountID'] ?>"><?php echo $mval['purchaseFinanceAccountsCode']."_".$mval['purchaseFinanceAccountsName'] ?></option>
                                <?php
                                }
                            }
                            ?>
                        </select>
                    </div>
                </div>
            </div>
            <?php } ?>

            <div class="col-lg-6 remove_left_padding location">
                <div class="form-group">
                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Cheque Number :') ?><font color="red"> *</font></label>
                    <div class="col-lg-7 col-md-9 col-sm-8">
                        <input type="text" id='checquenumber' placeholder="<?php echo $this->translate('Enter Cheque Number') ?>" class="form-control">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 remove_right_padding terms">
                <div class="form-group">
                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Bank :') ?><font color="red"> *</font></label>
                    <div class="col-lg-7 col-md-9 col-sm-8">
                        <input type="text" id='bank' placeholder="<?php echo $this->translate('Enter Bank Name') ?>" class="form-control">
                    </div>
                </div>
            </div>
        </div><!--cheque_group-->


        <!--credit_card_number-->
        <div id='creditGroup' class="row">
            <?php if($this->useAccounting == 1){?>
        	<div class="col-lg-6">
        		<div class="form-group">
        			<label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Gl Account For Card:') ?></label>
        			<div class="col-lg-7 col-md-9 col-sm-8">
        				<select class="selectpicker form-control" data-live-search ="true" id="cardGlAccountID" title="">
        					<?php
        					foreach ($this->payMethods as $methodID => $mval) {
        						if($methodID == 3 && $mval['paymentMethodPurchaseFinanceAccountID'] != 0){
        							?>
        							<option value="<?php echo $mval['paymentMethodPurchaseFinanceAccountID'] ?>"><?php echo $mval['purchaseFinanceAccountsCode']."_".$mval['purchaseFinanceAccountsName'] ?></option>
        							<?php
        						}
        					}
        					?>
        				</select>    
        			</div>
        		</div>
        	</div>
            <?php }?>

            <div class="col-lg-6 remove_left_padding location">
                <div class="form-group">
                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Credit Receipt Number:') ?><font color="red"> *</font></label>
                    <div class="col-lg-7 col-md-9 col-sm-8">
                        <input type="text" id='reciptnumber' placeholder="<?php echo $this->translate('Enter Credit Receipt Number') ?>" class="form-control">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 remove_right_padding terms">
                <div class="form-group">
                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Credit Card Number:') ?></label>
                    <div class="col-lg-7 col-md-9 col-sm-8">
                        <input type="text" id='cardnumber' placeholder="<?php echo $this->translate('Enter Credit Card Number') ?>" class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <div id='loyaltyCardGroup' class="row">
            <?php if($this->useAccounting == 1){?>
        	<div class="col-lg-6">
                <div class="form-group">
                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Gl Account For loyalty Card:') ?></label>
                    <div class="col-lg-7 col-md-9 col-sm-8">
                    	<select class="selectpicker form-control" data-live-search ="true" id="loyaltyCardGlAccountID" title="">
                            <?php
                            foreach ($this->payMethods as $methodID => $mval) {
                                if($methodID == 4 && $mval['paymentMethodPurchaseFinanceAccountID'] != 0){
                                ?>
                                <option value="<?php echo $mval['paymentMethodPurchaseFinanceAccountID'] ?>"><?php echo $mval['purchaseFinanceAccountsCode']."_".$mval['purchaseFinanceAccountsName'] ?></option>
                                <?php
                                }
                            }
                            ?>
                        </select>    
                    </div>
                </div>
            </div>
            <?php }?>
            <!-- <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Reference Number:') ?></label>
                    <div class="col-lg-7 col-md-9 col-sm-8">
                        <input type="text" id='loyaltyCardReferenceNumber' placeholder="<?php echo $this->translate('Enter Reference Number') ?>" class="form-control">
                    </div>
                </div>
            </div> -->
        </div>

        <!--Bank_transfer-->
        <div id='bankTransferGroup' class="row">
            <?php if($this->useAccounting == 1){?>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Gl Account For Bank Transfer:') ?></label>
                    <div class="col-lg-7 col-md-9 col-sm-8">
                    	<select class="selectpicker form-control" data-live-search ="true" id="bankTransferGlAccountID" title="">
                            <?php
                            foreach ($this->payMethods as $methodID => $mval) {
                                if($methodID == 5 && $mval['paymentMethodPurchaseFinanceAccountID'] != 0){
                                ?>
                                <option value="<?php echo $mval['paymentMethodPurchaseFinanceAccountID'] ?>"><?php echo $mval['purchaseFinanceAccountsCode']."_".$mval['purchaseFinanceAccountsName'] ?></option>
                                <?php
                                }
                            }
                            ?>
                        </select>    
                    </div>
                </div>
            </div>
            <?php }?>
            <!-- <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Reference Number:') ?></label>
                    <div class="col-lg-7 col-md-9 col-sm-8">
                        <input type="text" id='bankTransferReferenceNumber' placeholder="<?php echo $this->translate('Enter Reference Number') ?>" class="form-control">
                    </div>
                </div>
            </div> -->

            <!--Supplier Bank-->
           <!--  <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Supplier Bank:') ?></label>
                    <div class="col-lg-7 col-md-9 col-sm-8">
                        <input type="text" id='supplierBank' placeholder="<?php echo $this->translate('Enter Supplier Bank Name') ?>" class="form-control supplierBank">
                    </div>
                </div>
            </div> -->

            <!--Supplier account number-->
           <!--  <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Supplier Account Number:') ?></label>
                    <div class="col-lg-7 col-md-9 col-sm-8">
                        <input type="text" id='suplierAccountNumber' placeholder="<?php echo $this->translate('Enter Supplier Account Number') ?>" class="form-control supplierAccountNumber">
                    </div>
                </div>
            </div> -->
        </div><!--bankTransferGroup-->

        <!--GiftCard-->
        <div id='giftCardGroup' class="row">
        	<?php if($this->useAccounting == 1){?>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Gl Account For Gift Card:') ?></label>
                    <div class="col-lg-7 col-md-9 col-sm-8">
                    	<select class="selectpicker form-control" data-live-search ="true" id="giftCardGlAccountID" title="">
                            <?php
                            foreach ($this->payMethods as $methodID => $mval) {
                                if($methodID == 6 && $mval['paymentMethodPurchaseFinanceAccountID'] != 0){
                                ?>
                                <option value="<?php echo $mval['paymentMethodPurchaseFinanceAccountID'] ?>"><?php echo $mval['purchaseFinanceAccountsCode']."_".$mval['purchaseFinanceAccountsName'] ?></option>
                                <?php
                                }
                            }
                            ?>
                        </select>    
                    </div>
                </div>
            </div>
            <?php } ?>
           <!--  <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Reference Number:') ?></label>
                    <div class="col-lg-7 col-md-9 col-sm-8">
                        <input type="text" id='giftCardReferenceNumber' placeholder="<?php echo $this->translate('Enter Reference Number') ?>" class="form-control">
                    </div>
                </div>
            </div> -->
        </div>

         <!--LC-->
        <div id='lcGroup' class="row">
        	<?php if($this->useAccounting == 1){?>
            <div class="col-lg-6">
        		<div class="form-group">
        			<label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Gl Account For LC:') ?></label>
        			<div class="col-lg-7 col-md-9 col-sm-8">
        				<select class="selectpicker form-control" data-live-search ="true" id="lCGlAccountID" title="">
        					<?php
        					foreach ($this->payMethods as $methodID => $mval) {
        						if($methodID == 7 && $mval['paymentMethodPurchaseFinanceAccountID'] != 0){
        							?>
        							<option value="<?php echo $mval['paymentMethodPurchaseFinanceAccountID'] ?>"><?php echo $mval['purchaseFinanceAccountsCode']."_".$mval['purchaseFinanceAccountsName'] ?></option>
        							<?php
        						}
        					}
        					?>
        				</select>    
        			</div>
        		</div>
        	</div>
            <?php }?>
<!-- 
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('LC Payment Reference') ?></label>
                    <div class="col-lg-7 col-md-9 col-sm-8">
                        <textarea  placeholder="<?php echo $this->translate('Enter Payment Referene') ?>" class="form-control lcPaymentReference"></textarea>
                    </div>
                </div>
            </div> -->
        </div>

        <!--TT-->
        <div id='ttGroup' class="row">
        	<?php if($this->useAccounting == 1){?>
            <div class="col-lg-6">
        		<div class="form-group">
        			<label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Gl Account For TT:') ?></label>
        			<div class="col-lg-7 col-md-9 col-sm-8">
        				<select class="selectpicker form-control" data-live-search ="true" id="tTGlAccountID" title="">
        					<?php
        					foreach ($this->payMethods as $methodID => $mval) {
        						if($methodID == 8 && $mval['paymentMethodPurchaseFinanceAccountID'] != 0){
        							?>
        							<option value="<?php echo $mval['paymentMethodPurchaseFinanceAccountID'] ?>"><?php echo $mval['purchaseFinanceAccountsCode']."_".$mval['purchaseFinanceAccountsName'] ?></option>
        							<?php
        						}
        					}
        					?>
        				</select>    
        			</div>
        		</div>
        	</div>
            <?php }?>
            <!-- <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('TT Payment Reference') ?></label>
                    <div class="col-lg-7 col-md-9 col-sm-8">
                        <textarea  placeholder="<?php echo $this->translate('Enter Payment Referene') ?>" class="form-control ttPaymentReference"></textarea>
                    </div>
                </div>
            </div> -->
        </div>

    </div><!--margin_top-->

    <div class="row"><!--total_payment-->
        <div class="margin_top_high clearfix total_payment">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6 remove_left_padding total_payment_div">
                <h4 class="font_weight display_inline"><label class="control-label"><?php echo $this->translate('Total Payment') ?></label></h4>
            </div>

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-6 remove_right_padding text-right total_amount">
                <h4 class="display_inline"><label id="totalpayment" class="control-label"><?php echo $this->translate('0.00') ?></label></h4>
                <span class="h4 font_weight"><?php echo '&nbsp' . $companyCurrencySymbol; //$this->translate('&nbspLKR')                                                                                                                                                                        ?></span>
            </div>
        </div>
    </div><!--row-->

    <div class="col-lg-10"></div>
    <div class="row col-lg-2">
        <div class="total margin_top_high clearfix">
            <div class="text-right">
                <span class="">
                    <input type="button" class="btn btn-primary form-control" id='debitNotePayments' value="<?php echo $this->translate("Add Payment") ?>">
                </span>
            </div>
        </div>
    </div>

</div><!--well-->

<div class="modal fade" id="refNotSet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $refNotSet; ?>
</div>
<div class="modal fade" id="addDimensionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->dimensionAddView; ?>
</div>


