<div id="debit-note-payment-list">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('Debit Note Payment No') ?></th>
                <th><?php echo $this->translate('Supplier Name') ?></th>
                <th><?php echo $this->translate('Date') ?></th>
                <th class="text-right"><?php echo $this->translate('Paid Amount') ?></th>
                <th class="text-right"><?php echo $this->translate('Status') ?></th>
                <th class="edit text-right"><?php echo $this->translate('Print View') ?></th>
                <th class="text-right"><?php echo $this->translate('Cancel') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php            
            if (count($this->debitNotePayments) > 0){                
                foreach ($this->debitNotePayments as $key => $debitNotePayments) {
                $state = ucfirst($this->statuses[$debitNotePayments->statusID]);
                $status = $debitNotePayments->statusID;
                switch ($status) {
                    case "1":
                        $style = "label label-primary";
                        break;
                    case "2":
                        $style = "label label-default";
                        break;
                    case "3":
                        $style = "label label-success";
                        break;
                    case "4":
                        $style = "label label-warning";
                        break;
                    case "5":
                        $style = "label label-primary";
                        break;
                    case "6":
                        $style = "label label-danger";
                        break;
                    default :
                        $style = "label label-default";
                }
                ?>
                <tr>
                    <td> <?php echo $debitNotePayments->debitNotePaymentCode; ?></td>
                    <td><?php echo $debitNotePayments->supplierCode . '-' . $debitNotePayments->supplierName; ?></td>
                    <td> <?php echo $debitNotePayments->debitNotePaymentDate; ?></td>
                    <td class="text-right"> <?php echo number_format($debitNotePayments->debitNotePaymentAmount, 2); ?></td>
                    <td class="text-right"><span class="<?php echo $style; ?>"><?php echo $state; ?></span></td>
                    <td id="view" class="text-right">
                        <span class="preview link_color" style="cursor:pointer"  data-href="/debit-note-payments/viewDebitNotePaymentReceipt/<?php echo $debitNotePayments->debitNotePaymentID ?>" id="<?php echo $debitNotePayments->debitNotePaymentID ?>">
                            <span class="glyphicon glyphicon-eye-open"></span></span>
                    </td>
                    <?php if ($debitNotePayments->statusID != 5) { ?>
                        <td id="dele" class="text-right">
                            <a class ="del" data-toggle="modal" href = "#delete_dn_payment" id="<?php echo $debitNotePayments->debitNotePaymentID ?>">
                                <span class="glyphicon glyphicon-ban-circle"></span>
                            </a>
                        </td>
                    <?php } else { ?>
                        <td></td>
                        <?php
                    }
                }
                
            } else {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
    <?php
    if ($this->paginated) {
        echo $this->paginationControl(
                $this->debitNotePayments, 'sliding', array('partial/paginator.phtml', 'debitNotePayments'), array(
            'route' => 'debitNotePayments', 'action' => 'view'
                )
        );
    }
    ?>
</div>
