<!--search_panel-->
<div class='well clearfix well_custom_padding margin_top margin_bottom_high'>
    <div class='col-lg-12'>
        <label class=""><?php echo $this->translate('Search Debit Note Payment') ?></label>
    </div>

    <div class="col-lg-3">
        <select id="dn-pay-search-select" class="form-control selectpicker">
            <option value="Payments No"><?php echo $this->translate('Payments No') ?></option>
            <option value="Supplier Name"><?php echo $this->translate('Supplier Name') ?></option>
        </select>
    </div>

    <div class="col-lg-3">
        <select class="form-control selectpicker show-tick"  id="dn-pay-search" name="dn-pay-search" data-live-search="true">
            <option value=""><?php echo $this->translate('Select Payment No') ?></option>
        </select>
        <select class="form-control selectpicker show-tick"  id="dn-pay-sup-search" name="dn-pay-sup-search" data-live-search="true">
            <option value=""><?php echo $this->translate('Select Supplier Name') ?></option>
        </select>
    </div>

    <div class="col-lg-2">
        <input type="text" style="" class="span2 datepicker form-control" id="from-date" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('From') ?>">
    </div>

    <div class="col-lg-2">
        <input type="text" style="" class="span2 datepicker form-control" id="to-date" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('To') ?>">
    </div>

    <div class="col-lg-2">
        <div class="btn-group">
            <button class="btn btn-default" id="filter-button"><?php echo $this->translate('Search') ?></button>
            <button class="btn btn-default" id="clear-search"><?php echo $this->translate('Clear') ?></button>
        </div>
    </div>
</div><!--well-->

<!--default_view_table-->
<div id="debit-note-payment-list">
    <div id="debit-note-payment-list-view">
        <div class="table-responsive" id="">
            <table class="table table-striped">
                <thead class="table_row_color">
                    <tr>
                        <th><?php echo $this->translate('Debit Note Payment No') ?></th>
                        <th><?php echo $this->translate('Supplier Name') ?></th>
                        <th><?php echo $this->translate('Date') ?></th>
                        <th class="text-right"><?php echo $this->translate('Paid Amount') ?></th>
                        <th class="text-right"><?php echo $this->translate('Status') ?></th>
                        <th class="edit text-right"><?php echo $this->translate('Print View') ?></th>
                        <th class="text-right"><?php echo $this->translate('Cancel') ?></th>
                        <th class="text-right"><?php echo $this->translate('Related Documents') ?></th>
                        <th class="text-center"><?php echo $this->translate('Attachments') ?></th>
                    </tr>
                </thead>

                <tbody>
                    <?php
                    foreach ($this->debitNotePayments as $key => $debitNotePayments) {
                        $state = ucfirst($this->statuses[$debitNotePayments->statusID]);
                        $status = $debitNotePayments->statusID;
                        switch ($status) {
                            case "1":
                                $style = "label label-primary";
                                break;
                            case "2":
                                $style = "label label-default";
                                break;
                            case "3":
                                $style = "label label-success";
                                break;
                            case "4":
                                $style = "label label-warning";
                                break;
                            case "5":
                                $style = "label label-primary";
                                break;
                            case "6":
                                $style = "label label-danger";
                                break;
                            default :
                                $style = "label label-default";
                        }
                        ?>
                        <tr>
                            <td> <?php echo $debitNotePayments->debitNotePaymentCode; ?></td>
                            <td><?php echo $debitNotePayments->supplierCode . '-' . $debitNotePayments->supplierName; ?></td>
                            <td> <?php echo $debitNotePayments->debitNotePaymentDate; ?></td>
                            <td class="text-right"> <?php echo number_format($debitNotePayments->debitNotePaymentAmount - $debitNotePayments->debitNotePaymentDiscount, 2); ?></td>
                            <td class="text-right"><span class="<?php echo $style; ?>"><?php echo $state; ?></span></td>
                            <td id="view" class="text-right">
                                <span class="preview link_color" style="cursor:pointer" data-href="/debit-note-payments/viewDebitNotePaymentReceipt/<?php echo $debitNotePayments->debitNotePaymentID ?>" id="<?php echo $debitNotePayments->debitNotePaymentID ?>">
                                    <span class="glyphicon glyphicon-eye-open"></span></span>
                            </td>
                            <?php if ($debitNotePayments->statusID != 5) { ?>
                                <td id="dele" class="text-right">
                                    <a class ="del" data-toggle="modal" href = "#delete_dn_payment" id="<?php echo $debitNotePayments->debitNotePaymentID ?>">
                                        <span class="glyphicon glyphicon-ban-circle"></span>
                                    </a>
                                </td>
                            <?php } else { ?>
                                <td></td>
                                <?php
                            }
                            ?>
                            <td class="text-center">
                                <span id="<?php echo $debitNotePayments->debitNotePaymentID; ?>" class="link_color dn_payment_related_docs" data-dn-payment-related-id="<?php echo $debitNotePayments->debitNotePaymentID; ?>" style="cursor:pointer"><span class="grnView glyphicon glyphicon-link"></span></span>
                            </td>
                            <td class="text-center">
                                <span id="<?php echo $debitNotePayments->debitNotePaymentID; ?>" class="link_color doc_attachments" data-dnpay-related-id="<?php echo $debitNotePayments->debitNotePaymentID; ?>" style="cursor:pointer"><span class="glyphicon glyphicon-paperclip"></span></span>
                            </td>
                            <?php
                        }
                        if (count($this->debitNotePayments) == 0) {
                            ?>
                        <tr class="not_found">
                            <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                        </tr>
                    <?php }
                    ?>
                </tbody>
            </table>
        </div>

        <?php
        echo $this->paginationControl(
                $this->debitNotePayments, 'sliding', array('partial/paginator.phtml', 'debitNotePayments'), array(
            'route' => 'debitNotePayments', 'action' => 'view'
                )
        );
        ?>
    </div>

    <div class="modal fade" id="delete_dn_payment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4><?php echo $this->translate('Debit Note Payment Cancel Confirmation') ?></h4>
                </div>

                <div class="modal-body rm_modal_body_bpa">

                    <div class="form-group">
                        <p class="modal_para"><?php echo $this->translate('Please enter the Administrator account Username and Password to continue') ?></p>
                    </div>

                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-4 control-label"><?php echo $this->translate('Username') ?><font color="red"> *</font></label>
                            <div class="col-lg-6">
                                <input type="text" id="username" class="form-control" placeholder="<?php echo $this->translate('Username') ?>">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-4 control-label"><?php echo $this->translate('Password') ?><font color="red"> *</font></label>
                            <div class="col-lg-6">
                                <input type="password" id="password" class="form-control" placeholder="<?php echo $this->translate('Password') ?>">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-4 control-label"><?php echo $this->translate('Comment') ?></label>
                            <div class="col-lg-6">
                                <textarea id="comment" class="form-control" placeholder="<?php echo $this->translate('Comment') ?>"></textarea>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Cancel') ?></button>
                    <button id="delete-dn-payment-button" class="btn btn-primary"><?php echo $this->translate('Cancel Payment') ?></button>
                </div>

            </div>
        </div>
    </div><!--modal-->

</div><!--payment_view-->
<div class="modal fade" id="viewAttachmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->attachmentsView; ?>
</div>
<div class="modal fade" id="addDocHistoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->docHistoryView; ?>
</div>
<div class="modal fade" id="DocumentViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->documentView; ?>
</div>