<?php
$form = $this->inquiryStatusForm;
$form->setAttribute('id', 'create-inquiry-status-form');
?>

<div class="inquiry-status-form-container margin_top">
    <div class="well well_heading">
        <h5 class="font_weight addTitle"><?php echo $this->translate('Add Inquiry Status') ?></h5>
        <h5 class="font_weight updateTitle hidden"><?php echo $this->translate('Update Inquiry Status') ?></h5>
    </div>

    <div class="well well_body">

        <?php
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formHidden($form->get('inquiryStatusID'));
        ?>

        <div class="_row_with_margin clearfix">
            <div class="col-lg-4 col-md-6">
                <div class="form-group">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Inquiry Status Name') ?><font color="red"> *</font></label>
                    <div class="">
                        <?php echo $this->formRow($form->get('inquiryStatusName')); ?>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="form-group">
                    <label class="control-label label_bottom_margin"><?php echo $this->translate('Inquiry Status Type') ?><font color="red"> *</font></label>
                    <div class="">
                        <?php echo $this->formRow($form->get('inquiryStatusTypeID')); ?>
                    </div>
                </div>
            </div>

            <!--cancel&update-->
            <div class="col-lg-4 updateDiv hidden">
                <div class="form-group">
                    <label class="control-label label_bottom_margin">&nbsp;</label>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary update inquiry-status-update-btn"><?php echo $this->translate('Update') ?></button>
                        <button type="button" class="btn btn-default cancel make-full-width"><?php echo $this->translate('Cancel') ?></button>
                    </div>
                </div>
            </div>

            <!--reset&add_new-->
            <div class="col-lg-4 addDiv">
                <div class="form-group">
                    <label class="control-label label_bottom_margin">&nbsp;</label>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary add"><?php echo $this->translate('Add New') ?></button>
                        <button type="reset" class="btn btn-default reset"><?php echo $this->translate('Reset') ?></button>
                    </div>
                </div>
            </div>
        </div>

        <?php
        echo $this->form()->closeTag($form);
        ?>

    </div><!--well-->
</div><!--inquiry_status_form_container-->

<!--search-->
<div class="well clearfix well_custom_padding margin_top search-inquiry-status">
    <form class="inquiry-status-search" id="inquiryStatusSearch" method="post" action="">
        <div class="col-lg-3">
            <label class="remove_weight"><?php echo $this->translate('Search a Inquiry Status') ?></label>
        </div>
        <div class="col-lg-9 xs-search-field">
            <div class="input-group">
                <input type="text" class="search form-control" id='inquiry-status-search-keyword' placeholder="<?php echo $this->translate('Enter Inquiry Status') ?>"/>
                <span class="input-group-btn">
                    <button class="btn btn-default search_btn_css" type="submit"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default reset" type="reset"><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </form>
</div>

<!--paginate job status list add in here-->
<div id="inquiry-status-list" class="margin_top">
    <?php echo $this->partial('job-card/inquiry-status/list', array('inquiryStatusList' => $this->inquiryStatusList, 'paginated' => $this->paginated)); ?>
</div>