<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="35%"><?php echo $this->translate('Inquiry Status Name') ?></th>
                <th width="35%"><?php echo $this->translate('Inquiry Status Type Name') ?></th>
                <th width="10%" class="text-center" ><?php echo $this->translate('Edit') ?></th>
                <th width="10%" class="text-center" ><?php echo $this->translate('Active') ?></th>
                <th width="10%" class="text-center" ><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>

        <tbody>
            <?php
            foreach ($this->inquiryStatusList as $loo) {
                $loo = (object) $loo;
                ?>
                <tr data-inquirystatusid="<?php echo $loo->inquiryStatusID; ?>">
                    <td class="inquiry-status-name"><?php echo $loo->inquiryStatusName ?></td>
                    <td class="inquiry-status-type-name"><?php echo $loo->inquiryStatusTypeName ?></td>
                    <td class="inquiry-status-type-id hidden"><?php echo $loo->inquiryStatusTypeID ?></td>
                    <td class="text-center">
                        <a href="#" class="edit">
                            <span class="fa fa-pencil-square-o custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="#" class="status">
                            <span class="<?php echo ($loo->inquiryStatusStatus == '1') ? 'fa fa-check-square-o' : 'fa fa-square-o '; ?> custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center" >
                        <a href="#" class="delete">
                            <span class="fa fa-trash-o custom_font_size"></span>
                        </a>
                    </td>
                </tr>
                <?php
            }
            if (count($this->inquiryStatusList) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div>

<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->inquiryStatusList, 'sliding', array('partial/paginator.phtml', 'inquiryStatus'), array(
        'route' => 'inquiryStatus', 'action' => 'create'
            )
    );
}
?>
