<div style="margin: 20%">
    <h2 class="text-center"><span style="color: #40a0df"><?php echo $this->translate('PAGE NOT FOUND') ?>!</span></h2>
    <h4 class="text-center"><?php echo $this->translate('Please check the url that you've entered') ?>..</h4>
</div>