<div style="margin: 20%">
    <h2 class="text-center"><span style="color: #eb2257;"><?php echo $this->translate('ACCESS DENIED') ?>!</span></h2>
    <h4 class="text-center"><?php echo $this->translate('You do not have permission to access this page') ?>..</h4>
</div>