<?php echo $this->headLink()->prependStylesheet($this->basePath() . '/assets/rateit/rateit.css'); ?>

<div class="modal fade disabl_when_print" id="userFeedback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="no_top_margin"><?php echo $this->translate('User Feedback') ?></h4>
            </div>

            <div class="modal-body clearfix">
                <form id="userFeedback">

                    <div class="row form-group" style="margin-bottom: 18px;">
                        <label class="col-lg-8">
                            <span style="font-weight: bold; display: inline-block; margin-right: 10px;">01.</span><?php echo $this->translate('Are you satisfied with ezBiz application ?') ?>
                        </label>
                        <div class="col-lg-4 text-right">
                            <label style="margin-right: 18px; color: #111111;"><input type="radio" name="satisfied" value="yes" checked><span style="padding-left: 5px;"><?php echo $this->translate('Yes') ?></span></label>
                            <label style="color: #111111;"><input type="radio" name="satisfied" value="no"><span style="padding-left: 5px;"><?php echo $this->translate('No') ?></span></label>
                        </div>
                    </div>

                    <div class="row form-group" style="margin-bottom: 18px;">
                        <label class="col-lg-8">
                            <span style="font-weight: bold; display: inline-block; margin-right: 10px;">02.</span><?php echo $this->translate('Do you recommend this app to other businesses ?') ?>
                        </label>
                        <div class="col-lg-4 text-right">
                            <label style="margin-right: 18px; color: #111111;"><input type="radio" name="recommend" value="yes" checked><span style="padding-left: 5px;"><?php echo $this->translate('Yes') ?></span></label>
                            <label style="color: #111111;"><input type="radio" name="recommend" value="no"><span style="padding-left: 5px;"><?php echo $this->translate('No') ?></span></label>
                        </div>
                    </div>

                    <div class="clearfix row form-group" style="margin-bottom: 18px;">

                        <label class="col-lg-5">
                            <span style="font-weight: bold; display: inline-block; margin-right: 10px;">03.</span><?php echo $this->translate('Rate your response') ?>
                        </label>

                        <div class="col-lg-7 text-right" style="margin-bottom: 6px; color: #111111;">
                            <div class="row">
                                <label class="col-lg-6 text-left control-label">
                                    <span class="fa fa-star-o" style="display: inline-block; margin-right: 5px;"></span>
                                    <?php echo $this->translate('Functionality') ?>
                                </label>
                                <div class="col-lg-6">
                                    <span id="functionality" class="rateit"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-7 col-lg-offset-5 text-right" style="margin-bottom: 6px; color: #111111;">
                            <div class="row">
                                <label class="col-lg-6 text-left control-label">
                                    <span class="fa fa-star-o" style="display: inline-block; margin-right: 5px;"></span>
                                    <?php echo $this->translate('Usability') ?>
                                </label>
                                <div class="col-lg-6">
                                    <span id="usability" class="rateit"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-7 col-lg-offset-5 text-right" style="margin-bottom: 6px; color: #111111;">
                            <div class="row">
                                <label class="col-lg-6 text-left control-label">
                                    <span class="fa fa-star-o" style="display: inline-block; margin-right: 5px;"></span>
                                    <?php echo $this->translate('Navigation') ?>
                                </label>
                                <div class="col-lg-6">
                                    <span id="navigation" class="rateit"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-7 col-lg-offset-5">
                            <div class="row">
                                <label class="col-lg-6 control-label" style="color: #111111;">
                                    <span class="fa fa-star-o" style="display: inline-block; margin-right: 5px;"></span>
                                    <?php echo $this->translate('Loading Time') ?>
                                </label>
                                <div class="col-lg-6 text-right">
                                    <span id="loadingTime" class="rateit"></span>
                                </div>
                            </div>
                        </div>

                    </div><!--form-group-->

                    <div class="row form-group" style="margin-bottom: 18px;">
                        <label class="col-lg-5 control-label">
                            <span style="font-weight: bold; display: inline-block; margin-right: 10px;">04.</span>
                            <?php echo $this->translate('Your suggestions') ?>
                        </label>
                        <div class="col-lg-7">
                            <textarea class="form-control" id="suggestions" rows="3"></textarea>
                        </div>
                    </div>

                    <div class="form-group" style="margin-bottom: 0">
                        <div class="text-right">
                            <a class="btn btn-primary" id="submitFeedback"><?php echo $this->translate('Send Feedback') ?></a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>