<div class="table table-responsive">
    <table class="table table-hover" id="transaction-list-table">
        <thead>
            <tr>
                <th>#</th>
                <th><?php echo $this->translate('Amount'); ?></th>
                <th><?php echo $this->translate('Type'); ?></th>
                <th><?php echo $this->translate('Date'); ?></th>
                <th><?php echo $this->translate('Cheque Reference'); ?></th>
                <th><?php echo $this->translate('Bank'); ?></th>
                <th><?php echo $this->translate('Account Number'); ?></th>
                <th></th>
            </tr>
        </thead>
        
        <tbody>
            <?php
            $i = 1;
            foreach ($transactions as $transaction) {
                $amount = $absAmount = $label = $date = $ref = $bank = $account = null;
                switch ($transaction['reconciliationTransactionType']) {
                    case "cheque-deposit":
                        $amount = $absAmount = $transaction['reconciliationTransactionCreditAmount'];
                        $label = '<span class="label label-success">Deposited Cheque</span>';
                        $date = $transaction['incomingPaymentDate'];
                        $ref = $transaction['incomingPaymentMethodChequeNumber'];
                        $bank = empty($transaction['incomingPaymentMethodChequeBankName']) ? '-' : $transaction['incomingPaymentMethodChequeBankName'];
                        $account = '-';
                        break;
                    
                    case "cheque-issue":
                        $absAmount = $transaction['reconciliationTransactionDebitAmount'];
                        $amount = $absAmount * -1.00;
                        $label = '<span class="label label-info">Issued Cheque</span>';
                        $date = $transaction['outgoingPaymentDate'];
                        $ref = $transaction['outGoingPaymentMethodReferenceNumber'];
                        $bank = '-';
                        $account = '-';
                        break;
                    
                    case "incoming-bank-transfer":
                        $amount =  $absAmount = $transaction['reconciliationTransactionCreditAmount'];
                        $label = '<span class="label label-primary">Incoming Transfer</span>';
                        $date = $transaction['incomingPaymentDate'];
                        $ref = '-';
                        $bank = empty($transaction['incomingPaymentMethodBankTransferCustomerBankName']) ? '-' : $transaction['incomingPaymentMethodBankTransferCustomerBankName'];
                        $account = empty($transaction['incomingPaymentMethodBankTransferCustomerAccountNumber']) ? '-' : $transaction['incomingPaymentMethodBankTransferCustomerAccountNumber'];
                        break;
                    
                    case "outgoing-bank-transfer":
                        $absAmount = $transaction['reconciliationTransactionDebitAmount'];
                        $amount = $absAmount * -1.00;
                        $label = '<span class="label label-warning">Outgoing Transfer</span>';
                        $date = $transaction['outgoingPaymentDate'];
                        $ref = '-';
                        $bank = empty($transaction['outGoingPaymentMethodBankTransferSupplierBankName']) ? '-' : $transaction['outGoingPaymentMethodBankTransferSupplierBankName'];
                        $account = empty($transaction['outGoingPaymentMethodBankTransferSupplierAccountNumber']) ? '-' : $transaction['outGoingPaymentMethodBankTransferSupplierAccountNumber'];
                        break;
                    case "direct-journal-entry-deposit":
                        $absAmount = $transaction['reconciliationTransactionCreditAmount'];
                        $amount = $absAmount;
                        $label = '<span class="label label-success">Direct JE Deposit</span>';
                        $date = $transaction['journalEntryDate'];
                        $ref = 'Journal Entry Code('.$transaction['journalEntryCode'].')';
                        $bank = "-";
                        $account = empty($transaction['outGoingPaymentMethodBankTransferSupplierAccountNumber']) ? '-' : $transaction['outGoingPaymentMethodBankTransferSupplierAccountNumber'];
                        break;
                    case "direct-journal-entry-withrawal":
                        $absAmount = $transaction['reconciliationTransactionDebitAmount'];
                        $amount = $absAmount * -1.00;
                        $label = '<span class="label label-warning">Direct JE Withraw</span>';
                        $date = $transaction['journalEntryDate'];
                        $ref = 'Journal Entry Code('.$transaction['journalEntryCode'].')';
                        $bank = "-";
                        $account = empty($transaction['outGoingPaymentMethodBankTransferSupplierAccountNumber']) ? '-' : $transaction['outGoingPaymentMethodBankTransferSupplierAccountNumber'];
                        break;
                    case "bank-deposit":
                        $absAmount = $transaction['reconciliationTransactionCreditAmount'];
                        $amount = $absAmount;
                        $label = '<span class="label label-success">Direct Deposit</span>';
                        $date = $transaction['journalEntryDate'];
                        $ref = 'Journal Entry Code('.$transaction['journalEntryCode'].')';
                        $bank = "-";
                        $account = empty($transaction['outGoingPaymentMethodBankTransferSupplierAccountNumber']) ? '-' : $transaction['outGoingPaymentMethodBankTransferSupplierAccountNumber'];
                        break;
                    case "withdrwal":
                        $absAmount = $transaction['reconciliationTransactionDebitAmount'];
                        $amount = $absAmount * -1.00;
                        $label = '<span class="label label-warning">Direct Withraw</span>';
                        $date = $transaction['journalEntryDate'];
                        $ref = 'Journal Entry Code('.$transaction['journalEntryCode'].')';
                        $bank = "-";
                        $account = empty($transaction['outGoingPaymentMethodBankTransferSupplierAccountNumber']) ? '-' : $transaction['outGoingPaymentMethodBankTransferSupplierAccountNumber'];
                        break;
                    case "bank-withrawal":
                        $absAmount = $transaction['reconciliationTransactionDebitAmount'];
                        $amount = $absAmount * -1.00;
                        $label = '<span class="label label-warning">Bank Withrawal</span>';
                        $date = $transaction['journalEntryDate'];
                        $ref = 'Journal Entry Code('.$transaction['journalEntryCode'].')';
                        $bank = "-";
                        $account = empty($transaction['outGoingPaymentMethodBankTransferSupplierAccountNumber']) ? '-' : $transaction['outGoingPaymentMethodBankTransferSupplierAccountNumber'];
                        break;
                    case "other-journal-entry-deposit":
                        $absAmount = $transaction['reconciliationTransactionCreditAmount'];
                        $amount = $absAmount;
                        $label = '<span class="label label-success">Other JE Deposit</span>';
                        $date = $transaction['journalEntryDate'];
                        $ref = 'Journal Entry Code('.$transaction['journalEntryCode'].')';
                        $bank = "-";
                        $account = empty($transaction['outGoingPaymentMethodBankTransferSupplierAccountNumber']) ? '-' : $transaction['outGoingPaymentMethodBankTransferSupplierAccountNumber'];
                        break;
                    case "other-journal-entry-withrawal":
                        $absAmount = $transaction['reconciliationTransactionDebitAmount'];
                        $amount = $absAmount * -1.00;
                        $label = '<span class="label label-warning">Other JE Withraw</span>';
                        $date = $transaction['journalEntryDate'];
                        $ref = 'Journal Entry Code('.$transaction['journalEntryCode'].')';
                        $bank = "-";
                        $account = empty($transaction['outGoingPaymentMethodBankTransferSupplierAccountNumber']) ? '-' : $transaction['outGoingPaymentMethodBankTransferSupplierAccountNumber'];
                        break;
                    case "incoming-payments":
                        $absAmount = $transaction['reconciliationTransactionCreditAmount'];
                        $amount = $absAmount;
                        $label = '<span class="label label-success">Received Payments</span>';
                        $date = $transaction['journalEntryDate'];
                        $ref = 'Journal Entry Code('.$transaction['journalEntryCode'].')';
                        $bank = "-";
                        $account = empty($transaction['outGoingPaymentMethodBankTransferSupplierAccountNumber']) ? '-' : $transaction['outGoingPaymentMethodBankTransferSupplierAccountNumber'];
                        break;
                    
                    default :
                        error_log('invalid option');
                }
                
                
            ?>
                <tr class="transaction-tr" data-transaction-id="<?php echo $transaction['reconciliationTransactionId']; ?>" data-transaction-type="<?php echo $transaction['reconciliationTransactionType']; ?>" data-transaction-amount="<?php echo $amount;?>">
                    <td><?php echo $i;  ?></td>
                    <td><?php echo $absAmount; ?></td>
                    <td><?php echo $label; ?></td>
                    <td><?php echo $date; ?></td>
                    <td><?php echo $ref; ?></td>
                    <td><?php echo $bank; ?></td>
                    <td><?php echo $account; ?></td>
                    <td>
                        <button class="btn btn-sm btn-danger fa fa-trash-o transaction-cls pull-right" data-action="transaction-remove"></button>
                        <button class="btn btn-sm btn-primary fa fa-undo transaction-cls pull-right" data-action="transaction-undo" disabled></button>
                    </td>
                </tr>
                <?php
                $i++;
            }
            if (count($transactions) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('no any transactions.'); ?></td>
                </tr>
                <?php
            } else {
                ?>
                <tr>
                    <td colspan="7" style="text-align: right; font-weight: bold; font-size: 16px; padding-top: 2em;"><?php echo $this->translate('Net Amount :') ?></td>
                    <td style="text-align: right; font-weight: bold; font-size: 16px; padding-top: 2em" id="reconciliation-net-amount"></td>
                </tr>
                <?php
            }
            ?>
                
        </tbody>
    </table>
</div>
