<div class="table table-responsive custom-table-height">
    <?php
     if ($validate) {
                ?>
        <input type="hidden" id="validateStatus" value="<?php echo $validate ?>">
        <table class="table table-hover" id="cheque-list-table" data-account-balance="<?php echo $account['actualAccBalance'] ?>">
            <thead>
                <tr>
                    <th><?php echo $this->translate('Reference'); ?></th>
                    <th><?php echo $this->translate('Amount'); ?></th>
                    <th><?php echo $this->translate('Customer/Supplier Bank'); ?></th>
                    <th><?php echo $this->translate('Cus/Sup A/C Number'); ?></th>
                    <th><?php echo $this->translate('Related Docs'); ?></th>
                    <th><?php echo $this->translate('Date'); ?></th>
                    <th><?php echo $this->translate('Type'); ?></th>
                    <th><input type="checkbox" id="allChequesBox" checked="true"></th>
                </tr>
            </thead>

            <tbody>
                <?php
                foreach ($transactions as $transaction) {
                    $label = $amount = $date = null;

                    switch ($transaction['type']) {
                        case "cheque-deposit":
                            $label = '<span class="label label-success">Deposited Cheque</span>';
                            $amount = $transaction['amount'];
                            $date = $transaction['chequeDepositDate'];
                            $bank = empty($transaction['incomingPaymentMethodChequeBankName']) ? '-' : $transaction['incomingPaymentMethodChequeBankName'];
                            $account = '-';
                            $chequeNumber = $transaction['incomingPaymentMethodChequeNumber'];
                            $documentID = $transaction['incomingPaymentCode'];
                            break;

                        case "cheque-issue":
                            $label = '<span class="label label-info">Issued Cheque</span>';
                            $amount = $transaction['amount'] * -1.00;
                            $date = $transaction['outgoingPaymentDate'];
                            $documentID = $transaction['outgoingPaymentCode'];
                            $bank = '-';
                            $account = '-';
                            $chequeNumber = $transaction['outGoingPaymentMethodReferenceNumber'];
                            break;

                        case "incoming-bank-transfer":
                            $label = '<span class="label label-primary">Incoming Transfer</span>';
                            $amount = $transaction['amount'];
                            $date = $transaction['incomingPaymentDate'];
                            $documentID = $transaction['incomingPaymentCode'];
                            $bank = empty($transaction['incomingPaymentMethodBankTransferCustomerBankName']) ? '-' : $transaction['incomingPaymentMethodBankTransferCustomerBankName'];
                            $account = empty($transaction['incomingPaymentMethodBankTransferCustomerAccountNumber']) ? '-' : $transaction['incomingPaymentMethodBankTransferCustomerAccountNumber'];
                            $chequeNumber = (!empty($transaction['incomingPaymentMethodBankTransferRef'])) ? $transaction['incomingPaymentMethodBankTransferRef'] : '-';
                            break;
                        
                        case "bank-withrawal":
                            $label = '<span class="label label-warning">Direct Withdrawal</span>';
                            $amount = $transaction['amount'] * -1.00;
                            $date = $transaction['accountWithdrawalDate'];
                            $bank = empty($transaction['accountName']) ? '-' : $transaction['accountName'];
                            $account = empty($transaction['issuedFinanceAccountsName']) ? '-' : $transaction['issuedFinanceAccountsName'];
                            $chequeNumber = '-';
                            break;
                        
                        case "bank-deposit":
                            $documentID = '-';
                            $label = '<span class="label label-success">Direct Deposit</span>';
                            $amount = $transaction['amount'];
                            $date = $transaction['accountDepositDate'];
                            $bank = empty($transaction['accountName']) ? '-' : $transaction['accountName'];
                            $account = empty($transaction['issuedFinanceAccountsName']) ? '-' : $transaction['issuedFinanceAccountsName'];
                            $chequeNumber = '-';
                            break;
                        
                        case "withdrwal":
                            $label = '<span class="label label-warning">Withdrawal</span>';
                            $amount = $transaction['amount'] * -1.00;
                            $date = $transaction['accountDepositDate'];
                            $bank = empty($transaction['accountName']) ? '-' : $transaction['accountName'];
                            $account = empty($transaction['issuedFinanceAccountsName']) ? '-' : $transaction['issuedFinanceAccountsName'];
                            $chequeNumber = '-';
                            break;
                        
                        case "deposit":
                            $label = '<span class="label label-success">Deposit</span>';
                            $amount = $transaction['amount'];
                            $date = $transaction['accountWithdrawalDate'];
                            $bank = empty($transaction['accountName']) ? '-' : $transaction['accountName'];
                            $account = empty($transaction['issuedFinanceAccountsName']) ? '-' : $transaction['issuedFinanceAccountsName'];
                            $chequeNumber = '-';
                            break;
                        
                        case "account-incoming-transfer":
                            $label = '<span class="label label-success">Incoming Transfer</span>';
                            $amount = $transaction['amount'];
                            $date = $transaction['accountTransferDate'];
                            $bank = empty($transaction['accountName']) ? '-' : $transaction['accountName'];
                            $account = empty($transaction['issuedFinanceAccountsName']) ? '-' : $transaction['issuedFinanceAccountsName'];
                            $chequeNumber = '-';
                            break;
                        
                        case "account-outgoing-transfer":
                            $label = '<span class="label label-warning">Outgoing Transfer</span>';
                            $amount = $transaction['amount'] * -1.00;
                            $date = $transaction['accountTransferDate'];
                            $bank = empty($transaction['accountName']) ? '-' : $transaction['accountName'];
                            $account = empty($transaction['issuedFinanceAccountsName']) ? '-' : $transaction['issuedFinanceAccountsName'];
                            $chequeNumber = '-';
                            $documentID = (!empty($transaction['outgoingPaymentCode'])) ? $transaction['outgoingPaymentCode'] : '-';
                            break;

                        case "outgoing-advanced-payments":
                            $label = '<span class="label label-warning">Outgoing Payments</span>';
                            $amount = $transaction['amount'] * -1.00;
                            $date = $transaction['outgoingPaymentDate'];
                            $documentID = $transaction['outgoingPaymentCode'];
                            $bank = empty($transaction['outGoingPaymentMethodBankTransferSupplierBankName']) ? '-' : $transaction['outGoingPaymentMethodBankTransferSupplierBankName'];
                            $account = empty($transaction['outGoingPaymentMethodBankTransferSupplierAccountNumber']) ? '-' : $transaction['outGoingPaymentMethodBankTransferSupplierAccountNumber'];


                            if ($transaction['outGoingPaymentMethodID'] == '5' || $transaction['outGoingPaymentMethodID'] == '3') {

                                $chequeNumber = (!empty($transaction['outGoingPaymentMethodReferenceNumber'])) ? $transaction['outGoingPaymentMethodReferenceNumber'] : '-';

                            } else {
                                $chequeNumber = '-';
                            }

                            break;
                        
                        case "incoming-advanced-payments":
                            $label = '<span class="label label-success">Recived Payments</span>';
                            $amount = $transaction['amount'];
                            $date = $transaction['incomingPaymentDate'];
                            $documentID = $transaction['incomingPaymentCode'];
                            $bank = empty($transaction['outGoingPaymentMethodBankTransferSupplierBankName']) ? '-' : $transaction['outGoingPaymentMethodBankTransferSupplierBankName'];
                            $account = empty($transaction['outGoingPaymentMethodBankTransferSupplierAccountNumber']) ? '-' : $transaction['outGoingPaymentMethodBankTransferSupplierAccountNumber'];

                            if (!empty($transaction['incomingPaymentMethodCreditCardId'])) {
                                $chequeNumber = (!empty($transaction['incomingPaymentMethodCreditCardNumber'])) ? $transaction['incomingPaymentMethodCreditCardNumber'] : '-';
                            } else {
                                $chequeNumber = '-';
                            }

                            break;
                        case "outgoing-advanced-income-payments":
                            $label = '<span class="label label-warning">Outgoing Income Payments</span>';
                            $amount = $transaction['amount'] * -1.00;
                            $date = $transaction['incomeDate'];
                            $documentID = $transaction['incomeCode'];
                            $bank = empty($transaction['outGoingPaymentMethodBankTransferSupplierBankName']) ? '-' : $transaction['outGoingPaymentMethodBankTransferSupplierBankName'];
                            $account = empty($transaction['outGoingPaymentMethodBankTransferSupplierAccountNumber']) ? '-' : $transaction['outGoingPaymentMethodBankTransferSupplierAccountNumber'];
                            $chequeNumber = '-';
                            break;
                        
                        case "incoming-advanced-income-payments":
                            $label = '<span class="label label-success">Recived Income Payments</span>';
                            $amount = $transaction['amount'];
                            $date = $transaction['incomeDate'];
                            $documentID =  (!empty($transaction['incomingPaymentCode'])) ? $transaction['incomeCode'].' ('.$transaction['incomingPaymentCode'].')' : $transaction['incomeCode'];
                            $bank = empty($transaction['outGoingPaymentMethodBankTransferSupplierBankName']) ? '-' : $transaction['outGoingPaymentMethodBankTransferSupplierBankName'];
                            $account = empty($transaction['outGoingPaymentMethodBankTransferSupplierAccountNumber']) ? '-' : $transaction['outGoingPaymentMethodBankTransferSupplierAccountNumber'];

                            if (!empty($transaction['incomingPaymentMethodCreditCardId'])) {
                                $chequeNumber = (!empty($transaction['incomingPaymentMethodCreditCardNumber'])) ? $transaction['incomingPaymentMethodCreditCardNumber'] : '-';
                            } else {
                                $chequeNumber = '-';
                            }                        
                            break;

                        case "direct-journal-entry-deposit":
                            $label = '<span class="label label-success">Direct JE Deposits</span>';
                            $amount = $transaction['amount'];
                            $date = $transaction['journalEntryDate'];
                            $documentID = $transaction['journalEntryCode'];
                            $bank = empty($transaction['accountName']) ? '-' : $transaction['accountName'];
                            $account = empty($transaction['issuedFinanceAccountsName']) ? '-' : $transaction['issuedFinanceAccountsName'];
                            $chequeNumber = '-';
                            break;
                        case "direct-journal-entry-withrawal":
                            $label = '<span class="label label-warning">Direct JE Withdrawal</span>';
                            $amount = $transaction['amount'] * -1.00;
                            $date = $transaction['journalEntryDate'];
                            $documentID = $transaction['journalEntryCode'];
                            $bank = empty($transaction['accountName']) ? '-' : $transaction['accountName'];
                            $account = empty($transaction['issuedFinanceAccountsName']) ? '-' : $transaction['issuedFinanceAccountsName'];
                            $chequeNumber = '-';
                            break;

                        case "outgoing-bank-transfer":
                            $label = '<span class="label label-warning">Outgoing Transfer</span>';
                            $amount = $transaction['amount'] * -1.00;
                            $date = $transaction['outgoingPaymentDate'];
                            $bank = empty($transaction['outGoingPaymentMethodBankTransferSupplierBankName']) ? '-' : $transaction['outGoingPaymentMethodBankTransferSupplierBankName'];
                            $account = empty($transaction['outGoingPaymentMethodBankTransferSupplierAccountNumber']) ? '-' : $transaction['outGoingPaymentMethodBankTransferSupplierAccountNumber'];
                            $chequeNumber = '-';
                            $documentID = (!empty($transaction['outgoingPaymentCode'])) ? $transaction['outgoingPaymentCode'] : '-';
                            break;
                        case "other-journal-entry-deposit":
                            $label = '<span class="label label-success">Other JE Deposits</span>';
                            $amount = $transaction['amount'];
                            $date = $transaction['journalEntryDate'];
                            $documentID = $transaction['journalEntryCode'].' ('.$transaction['relatedCode'].')';
                            $bank = empty($transaction['bank']) ? '-' : $transaction['bank'];
                            $account = empty($transaction['issuedFinanceAccountsName']) ? '-' : $transaction['issuedFinanceAccountsName'];
                            $chequeNumber = (!empty($transaction['ref'])) ? $transaction['ref'] : '-';
                            break;
                        case "other-journal-entry-withrawal":
                            $label = '<span class="label label-warning">Other JE Withdrawal</span>';
                            $amount = $transaction['amount'] * -1.00;
                            $date = $transaction['journalEntryDate'];
                            $documentID = $transaction['journalEntryCode'].' ('.$transaction['relatedCode'].')';
                            $bank = empty($transaction['bank']) ? '-' : $transaction['bank'];
                            $account = empty($transaction['issuedFinanceAccountsName']) ? '-' : $transaction['issuedFinanceAccountsName'];
                            $chequeNumber = (!empty($transaction['ref'])) ? $transaction['ref'] : '-';
                            break;

                        default :
                            error_log('invalid option');
                    }
                    ?>
                    <tr data-transaction-id="<?php echo $transaction['transactionId']; ?>" data-transaction-type="<?php echo $transaction['type']; ?>" data-transaction-amount="<?php echo $amount ?>">
                        <td><?php echo $chequeNumber; ?></td>
                        <td><?php echo number_format($transaction['amount'], 2); ?></td>
                        <td><?php echo $bank; ?></td>
                        <td><?php echo $account; ?></td>
                        <td>
                            <?php 
                            if ($transaction['type'] == "cheque-deposit" || $transaction['type'] == "incoming-bank-transfer" || $transaction['type'] == "incoming-advanced-payments" || $transaction['type'] == "incoming-advanced-income-payments") {
                        ?>
                               <span id="<?php echo $transaction['incomingPaymentID']; ?>" class="link_color related_docs" data-cn-related-id="<?php echo $transaction['incomingPaymentID']; ?>" data-cn-related-type="incomingPay" style="cursor:pointer"><span class="glyphicon glyphicon-link"></span></span>
                            <?php 
                            } else if ($transaction['type'] == "outgoing-advanced-payments" || $transaction['type'] == "outgoing-bank-transfer" || $transaction['type'] == "cheque-issue") {
                                ?>
                                  <span id="<?php echo $transaction['journalEntryDocumentID']; ?>" class="link_color related_docs" data-cn-related-id="<?php echo $transaction['journalEntryDocumentID']; ?>" data-cn-related-type="outgoingPay" style="cursor:pointer"><span class="glyphicon glyphicon-link"></span></span>
                                <?php
                            } else if ($transaction['type'] == "direct-journal-entry-deposit" || $transaction['type'] == "direct-journal-entry-withrawal") {
                                ?>
                                     <span id="<?php echo $transaction['journalEntryID']; ?>" class="link_color related_docs" data-cn-related-id="<?php echo $transaction['journalEntryID']; ?>" data-cn-related-type="directJE" style="cursor:pointer"><span class="glyphicon glyphicon-link"></span></span>
                                <?php
                            } else if($transaction['type'] == "other-journal-entry-deposit" || $transaction['type'] == "other-journal-entry-withrawal") {
                                ?>
                                 <span id="<?php echo $transaction['journalEntryDocumentID']; ?>" class="link_color related_docs" data-cn-related-id="<?php echo $transaction['journalEntryDocumentID']; ?>" data-je-related-id="<?php echo $transaction['journalEntryID']; ?>" data-cn-related-document="<?php echo $transaction['documentTypeID']; ?>" data-cn-related-type="otherJE" style="cursor:pointer"><span class="glyphicon glyphicon-link"></span></span>
                                <?php
                            } else {

                                echo $documentID; 
                            }

                        ?>
                            
                        </td>
                        <td><?php echo $date; ?></td>
                        <td><?php echo $label; ?></td>
                        <td><input type="checkbox" class="cheque-box" checked="true"></td>
                    </tr>
                    <?php
                }
                if (count($transactions) == 0) {
                    ?>
                    <tr class="not_found">
                        <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                    </tr>
                    <?php
                }
                ?>
            </tbody>
        </table>
    <?php
    } else {
        ?>
        <input type="hidden" id="validateStatus" value="<?php echo $validate ?>">
        <h4 style="color: red;">
            Reconciliation period cannot be overlapped, since there is a reconciliation found in this period
        </h4>
    <?php
    }
    ?>
</div>
