<?php /**
 * @author ASHAN <ashan@thinkcube.com>
 * This file contains index view
 */ ?>
<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
var cust_list = <?php echo $this->sup_list; ?>;
<?php $this->translate('Cheque'); ?>
<?php $this->translate('Credit Card'); ?>
<?php $this->translate('Select Payment Method'); ?>
<?php
$this->headScript()->captureEnd();
$form = $this->form1;
$addata = $this->adreference;
$locationName = $this->locationName;
$locationID = $this->locationID;
$locationCode = $this->locationCode;
$adReferenceNumber = $this->adReferenceNumber;
$companyCurrencySymbol = $this->companyCurrencySymbol;
$form->setAttribute('id', 'advance-payments-form');
?>
<!--Advanced_payment-->
<div id="advancePayment" class="well margin_top form-horizontal">
    <div class="row">

        <!--form_open_tag-->
        <?php
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>

        <?php
        if ($refNotSet) {
            ?>
            <script>
                $(function () {
                    $('#refNotSet').modal('show');
                });
            </script>
            <?php
        }
        ?>
        <input type="hidden" id="idOfLocation" value="<?php echo $locationID ?>">
        <input type="hidden" id="useAccounting" value="<?php echo ($this->useAccounting)? 1: 0;?>">

        <div class="form-group margin_bottom"><!--heading-->
            <div class="col-lg-12">
                <h4 class="h1_no_margin heading_4 font_weight"><?php echo $this->translate('Advance Payments') ?></h4>
            </div>
        </div>

        <div class="form-group"><!--date-->
            <label class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Date :') ?></label>
            <div class="col-lg-7">
                <input type="text" class=" datepicker form-control pointer_cursor" style="background-color: white" readonly="true"  id="advancecurrentdate" data-current-date="<?php echo date("Y-m-d"); ?>" data-date-format="<?php echo $this->dateFormat?>" placeholder="<?php echo $this->translate("Click to Set a Date"); ?>">
            </div>
            
        </div>

        <div class="form-group"><!--pay_ref_no-->
            <label class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Payment No :') ?></label>
            <div class="col-lg-7 col-md-9 col-sm-8">
                <input type="text" class="form-control" id="adpaymentID" value="<?php echo $adReferenceNumber ?>">
            </div>
        </div>

        <div class="form-group"><!--from_customer-->
            <label class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate('From Supplier :') ?><font style="color: red">*</font></label>
            <div class="col-lg-7 col-md-9 col-sm-8">
                <select class="form-control selectpicker show-tick"   id="advanceSupplier" name="advanceSupplier" data-live-search="true">
                    <option value=""><?php echo $this->translate('Select Supplier') ?></option>
                </select>
            </div>
        </div>

        <!-- <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Payment Method :') ?><font style="color: red">*</font></label>
            <div class="col-lg-7 col-md-9 col-sm-8">
                <?php echo $this->formRow($form->get('advancepaymentMethod')); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Amount :') ?><font style="color: red">*</font></label>
            <div class="col-lg-7 col-md-9 col-sm-8">
                <?php echo $this->formRow($form->get('advanceamount')); ?>
            </div>
        </div> -->

        <div class="form-group"><!--memo-->
            <label class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Memo :') ?></label>
            <div class="col-lg-7 col-md-9 col-sm-8">
                <?php echo $this->formRow($form->get('advancememo')); ?>
            </div>
        </div>

        <div class="form-group">
            <!-- Journal Entry No -->
            <label for="dimensionType" class="col-lg-3 col-md-3 col-sm-4 control-label">
                <?php echo $this->translate('Dimension:'); ?>
            </label>
            <div class="col-lg-7 col-md-9 col-sm-8">
                 <a data-toggle="modal" id="dimensionView" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></a>
            </div>
        </div><!-- ./row -->

        <div class="addPaymentMethod">
            <div id='payMethod_1' class="payMethod">

                <!--Payment-method-->
                <div class="form-group">
                    <label class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Payment Method :') ?></label>
                    <div class="col-lg-7 col-md-9 col-sm-8">
                        <?php echo $this->formRow($form->get('advancepaymentMethod')); ?>
                    </div>
                </div>

                <!--Payment-method-->
                <div class="form-group">
                    <label class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Paid Amount :') ?><font color="red"> *</font></label>
                    <div class="col-lg-7 col-md-9 col-sm-8">
                        <?php echo $this->formRow($form->get('advanceamount')); ?>
                    </div>
                </div>

                <?php if($this->useAccounting == 1){?>
                <!--cash-->
                <div id='cashGroup'>
                    <div class="_row_with_margin">
                        <div class="col-lg-3">
                            <label class="control-label"><?php echo $this->translate('Cash :') ?></label>
                        </div>
                        <div class="col-lg-7">
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Gl Account For Cash :') ?></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <select class="selectpicker form-control" data-live-search ="true" id="cashGlAccountID" title="">
                                        <?php
                                        foreach ($this->payMethods as $methodID => $mval) {
                                            if($methodID == 1  && $mval['paymentMethodSalesFinanceAccountID'] != 0){
                                                ?>
                                                <option value="<?php echo $mval['paymentMethodPurchaseFinanceAccountID'] ?>"><?php echo $mval['purchaseFinanceAccountsCode']."_".$mval['purchaseFinanceAccountsName'] ?></option>
                                                <?php
                                            }
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <?php }?>

                <!--Cheque-->
                <div id='checkGroup'>
                    <div class="_row_with_margin clearfix">

                        <div class="col-lg-3">
                            <label class="control-label"><?php echo $this->translate('Cheque :') ?></label>
                        </div>

                        <div class="col-lg-7">
                            <!--cheque number-->
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Cheque Number :') ?></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <input type="text" id='checquenumber' placeholder="<?php echo $this->translate('Enter Cheque Number') ?>" class="form-control checquenumber">
                                </div>
                            </div>

                            <!--bank-->
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Bank :') ?></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <input type="text" id='bank' placeholder="<?php echo $this->translate('Enter Bank Name') ?>" class="form-control bank">
                                </div>
                            </div>

                            <?php if($this->useAccounting == 1){?>
                            <!--account-->
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Gl Account For Check :') ?></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <select class="selectpicker form-control" data-live-search ="true" id="chequeGlAccountID" title="">
                                        <?php
                                        foreach ($this->payMethods as $methodID => $mval) {
                                            if($methodID == 2  && $mval['paymentMethodSalesFinanceAccountID'] != 0){
                                                ?>
                                                <option value="<?php echo $mval['paymentMethodPurchaseFinanceAccountID'] ?>"><?php echo $mval['purchaseFinanceAccountsCode']."_".$mval['purchaseFinanceAccountsName'] ?></option>
                                                <?php
                                            }
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                            <?php }?>
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Bank') ?></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <select class="chbankID form-control " id="chequeBankSelection" >
                                        <option value="">Please Select the Bank</option>
                                        <?php foreach ($this->banks as $key => $data) { ?>
                                            <option  value="<?php echo $key; ?>" <?php if ($value1->bankId == $key) { ?>selected="selected"<?php } ?>><?php echo $data; ?></option>
                                        <?php } ?> 
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Account:') ?></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <select class="form-control  checkAccountID" id ="chequeBankAccountSelection">
                                        <option value="" class="default"> Plese select the account number</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div><!--row-->
                </div><!--cheque_group-->

                <!--postdated cheque-->
                <div id='postdatedChequeGroup'>
                    <div class="_row_with_margin">

                        <div class="col-lg-7 col-lg-offset-3">
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label">
                                    <input type="checkbox" class='postdated-cheque'>
                                    <?php echo $this->translate('Postdated Cheque :') ?>
                                </label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <input type="text" style="background-color: white" readonly="true" class="span2 datepicker form-control pointer_cursor postdated-cheque-date" value=<?php echo date('Y-m-d'); ?>>
                                </div>
                            </div>
                        </div>

                    </div><!--./row-->
                </div><!--postdated cheque group-->

                <!--credit_card_number-->
                <div id='creditGroup'>
                    <div class="_row_with_margin">

                        <div class="col-lg-3">
                            <label class="control-label"><?php echo $this->translate('Card :') ?></label>
                        </div>
                        <div class="col-lg-7">
                            
                            <!--Receipt number-->
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Receipt Number:') ?><font color="red"> *</font></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <input type="text" id='reciptnumber' placeholder="<?php echo $this->translate('Enter Receipt Number') ?>" class="form-control reciptnumber">
                                </div>
                            </div>
                        
                            <?php if($this->useAccounting == 1){?>
                            <!--account-->
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Gl Account For Card :') ?></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <select class="selectpicker form-control" data-live-search ="true" id="creditGlAccountID" title="">
                                        <?php
                                        foreach ($this->payMethods as $methodID => $mval) {
                                            if($methodID == 3  && $mval['paymentMethodSalesFinanceAccountID'] != 0){
                                                ?>
                                                <option value="<?php echo $mval['paymentMethodPurchaseFinanceAccountID'] ?>"><?php echo $mval['purchaseFinanceAccountsCode']."_".$mval['purchaseFinanceAccountsName'] ?></option>
                                                <?php
                                            }
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                            <?php }?>
                        </div>
                    </div><!--row_with_margin-->
                </div><!--#creditGroup-->

                <!--Bank Transfer-->
                <div id='bankTransferGroup'>
                    <div class="_row_with_margin">
                        <div class="col-lg-3">
                            <label class="control-label"><?php echo $this->translate('Bank Transfer :') ?></label>
                        </div>

                        <div class="col-lg-7">
                            <!--Bank-->
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Bank') ?><font color="red"> *</font></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <?php echo $this->formRow($form->get('bankID')); ?>
                                </div>
                            </div>
                            <!--Account_num-->
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Account:') ?><font color="red"> *</font></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <select class="form-control  accountID" disabled="true">
                                        <option value="" class="default"> Plese select the account number</option>
                                    </select>
                                </div>
                            </div>
                            <!--customer_bank-->
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Customer Bank:') ?></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <input type="text" id='customerBank' placeholder="<?php echo $this->translate('Enter Customer Bank Name') ?>" class="form-control customerBank">
                                </div>
                            </div>
                            <!--customer_account_num-->
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Customer Account Number:') ?></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <input type="text" id='customerAccountNumber' placeholder="<?php echo $this->translate('Enter Customer Account Number') ?>" class="form-control customerAccountNumber">
                                </div>
                            </div>

                            <?php if($this->useAccounting == 1){?>
                            <!--account-->
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Gl Account For Bank Transfer :') ?></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <select class="selectpicker form-control"  data-live-search ="true" id="bankTransferGlAccountID" title="">
                                        <?php
                                        foreach ($this->payMethods as $methodID => $mval) {
                                            if($methodID == 5  && $mval['paymentMethodSalesFinanceAccountID'] != 0){
                                                ?>
                                                <option value="<?php echo $mval['paymentMethodPurchaseFinanceAccountID'] ?>"><?php echo $mval['purchaseFinanceAccountsCode']."_".$mval['purchaseFinanceAccountsName'] ?></option>
                                                <?php
                                            }
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                            <?php }?>
                        </div><!--./col-->

                    </div><!--row-->
                </div><!--#bankTransferGroup-->

                <!--gift_card-->
                <div id='giftCardGroup'>
                    <div class="_row_with_margin">
                        <div class="col-lg-3">
                            <label class="control-label"><?php echo $this->translate('Gift Card :') ?></label>
                        </div>

                        <div class="col-lg-7 col-md-9 col-sm-8 col-xs-12">
                            <!--gl_account-->
                            <?php if($this->useAccounting == 1){?>
                            <div class="form-group">
                                <label class="col-lg-4 col-md-4 col-sm-12 control-label"><?php echo $this->translate('Gl Account For Gift Card:') ?></label>
                                <div class="col-lg-8 col-md-8 col-sm-12">
                                    <select class="selectpicker form-control" data-live-search ="true" id="giftCardGlAccountID" title="">
                                        <?php
                                        foreach ($this->payMethods as $methodID => $mval) {
                                            if($methodID == 6 && $mval['paymentMethodPurchaseFinanceAccountID'] != 0){
                                                ?>
                                                <option value="<?php echo $mval['paymentMethodPurchaseFinanceAccountID'] ?>"><?php echo $mval['purchaseFinanceAccountsCode']."_".$mval['purchaseFinanceAccountsName'] ?></option>
                                                <?php
                                            }
                                        }
                                        ?>
                                    </select>  
                                </div>
                            </div>
                            <?php } ?>

                            <!--GiftCard_ref_num-->
                            <div class="form-group">
                                <label class="col-lg-4 col-md-4 col-sm-12 control-label"><?php echo $this->translate('Reference Number:') ?></label>
                                <div class="col-lg-8 col-md-8 col-sm-12">
                                   <input type="text" id='giftCardReferenceNumber' placeholder="<?php echo $this->translate('Enter Reference Number') ?>" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--LC-->
                <div id='lcGroup'>
                    <div class="_row_with_margin">
                        <div class="col-lg-3">
                            <label class="control-label"><?php echo $this->translate('LC :') ?></label>
                        </div>
                        <div class="col-lg-7">
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('LC Payment Reference') ?></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <textarea  placeholder="<?php echo $this->translate('Enter Payment Referene') ?>" class="form-control lcPaymentReference"></textarea>
                                </div>
                            </div>
                            <?php if($this->useAccounting == 1){?>
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Gl Account For LC :') ?></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <select class="selectpicker form-control" data-live-search ="true" id="lcGlAccountID" title="">
                                        <?php
                                        foreach ($this->payMethods as $methodID => $mval) {
                                            if($methodID == 7  && $mval['paymentMethodSalesFinanceAccountID'] != 0){
                                                ?>
                                                <option value="<?php echo $mval['paymentMethodPurchaseFinanceAccountID'] ?>"><?php echo $mval['purchaseFinanceAccountsCode']."_".$mval['purchaseFinanceAccountsName'] ?></option>
                                                <?php
                                            }
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                            <?php }?>
                        </div>
                    </div>
                </div>

                <!--TT-->
                <div id='ttGroup'>
                    <div class="_row_with_margin">
                        <div class="col-lg-3">
                            <label class="control-label"><?php echo $this->translate('TT :') ?></label>
                        </div>
                        <div class="col-lg-7">
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('TT Payment Reference') ?></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <textarea  placeholder="<?php echo $this->translate('Enter Payment Referene') ?>" class="form-control ttPaymentReference"></textarea>
                                </div>
                            </div>
                            <?php if($this->useAccounting == 1){?>
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Gl Account For TT :') ?></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <select class="selectpicker form-control" data-live-search ="true" id="ttGlAccountID" title="">
                                        <?php
                                        foreach ($this->payMethods as $methodID => $mval) {
                                            if($methodID == 8  && $mval['paymentMethodSalesFinanceAccountID'] != 0){
                                                ?>
                                                <option value="<?php echo $mval['paymentMethodPurchaseFinanceAccountID'] ?>"><?php echo $mval['purchaseFinanceAccountsCode']."_".$mval['purchaseFinanceAccountsName'] ?></option>
                                                <?php
                                            }
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                            <?php }?>
                        </div>
                    </div>
                </div>

                <label class="pamentMethodDelete btn btn-default hidden" ><i class="fa fa-trash-o"></i></label>

            </div><!--payMethod-->
        </div><!--addPaymentMethod-->

        <!--add_new_pay_method-->
        <div class="_row_with_margin clearfix">
            <div class="col-lg-10 text-right">
                <button id="paymentMethodAdd" class="btn btn-default" type="button">
                    <?php echo $this->translate('Add New Payment Method') ?>
                </button>
            </div>
        </div>

        <!--total_payment-->
        <div class="_row_with_margin clearfix">
            <div class="margin_top_high clearfix total_payment">
                <div class="col-lg-5">
                    <h4 class="font_weight display_inline">
                        <label class="control-label"><?php echo $this->translate('Total Payment') ?></label>
                    </h4>
                </div>

                <div class="col-lg-5 text-right">
                    <span class="h4 font_weight cCurrency"><?php echo '&nbsp' . $companyCurrencySymbol; ?></span>
                    <h4 class="display_inline"><label id="totalpayment" class="control-label"><?php echo $this->translate('0.00') ?></label></h4>
                </div>
            </div>
        </div><!--row-->

        <!--button-->
        <div class="_row_with_margin clearfix">
            <div class="margin_top text-right">
                <div class="col-lg-7 col-lg-offset-3 col-md-9 col-md-offset-3">
                    <button id="close" type="button" data-dismiss="modal" class="btn btn-default"><?php echo $this->translate('Back') ?></button>
                    <?php echo $this->formSubmit($form->get('submit')); ?>
                    <!--<button id="advancepaymentrecipt" type="submit" data-dismiss="modal" class="btn btn-primary"><?php echo $this->translate('Add & Print Receipt') ?></button>-->
                </div>
            </div>
        </div>

        <?php echo $this->form()->closeTag($form); ?>
    </div><!--row-->

    <div class="modal fade " id="add_supplier" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-body">
            <?php echo $addSupplier ?>
        </div>
    </div>

</div><!--well-->

<div class="modal fade" id="refNotSet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $refNotSet; ?>
</div>

<div class="modal fade" id="addDimensionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->dimensionAddView; ?>
</div>
