<div class="modal-dialog modal-lg" style="min-width:900px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php // echo $this->translate('View Document')    ?></h4>
        </div>
        <div class="modal-body" style="padding:.5in">
        	<iframe src="" style="width:8.28in; border:none" height="1060px" id="related-document-view"></iframe>
        </div>
    </div>
</div>