<div class="well toggle_purpose margin_top">
    <h5 class="font_weight"><?php echo $this->translate('Edit Payment Method') ?> </h5>
</div>
<div class="form-horizontal well clearfix margin_bottom addPaymentMethod ">
    <form id="editPayment" class="form-horizontal" name="editPayment" method="post">
        <input type="hidden" id="paymentID" value="<?php echo $this->paymentId ?>">
        <div class="row">
            <div class="col-lg-6  remove_left_padding location ">
                <div class="form-group"><!--Payment-method-->
                    <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Payment Code :') ?></label>
                    <div class="col-lg-7 col-md-9 col-sm-8">
                        <input type="text" disabled="true" class="form-control paymentCode" value="<?php echo $this->paymentCode; ?>" id="paymentCode">
                    </div>
                </div>
            </div>

            <div class="col-lg-6  remove_left_padding location ">
                <div class="form-group"><!--Payment-method-->
                    <label class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Comment :') ?></label>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <textarea type="text" class="form-control  paymentComment"  id="paymentComment"><?php echo $this->comment; ?></textarea>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <?php
        $increment = 0;
        $dataOfPaymentMethods = $this->dataOfPaymentMethod;
        foreach ($this->dataOfPaymentMethod as $value1) {
            // $value1 = (object) $value1;
            // $value = $value1[$value1->paymentMethodID];
            $method = $value1->outGoingPaymentMethodID;
            $methodID = $value1->outGoingPaymentMethodsNumbersID;
            $increment++;
            $name = '';
            if ($method == 1) {
                $name = 'Cash';
            } else if ($method == 2) {
                $name = 'Cheque';
            } else if ($method == 3) {
                $name = 'Credit Card';
            } else if ($method == 4) {
                $name = 'Loyalty Card';
            } else if ($method == 5) {
                $name = 'Bank Transfer';
            } else if ($method == 6) {
                $name = 'Gift Card';
            } else if ($method == 7) {
                $name = 'LC';
            } else if ($method == 8) {
                $name = 'TT';
            } else if ($method == 0) {
                $name = 'Credit Payment';
            }
            ?>
            <div id='<?php echo "payMethod_" . $increment ?>' class="payMethod row" data-methodid="<?php echo $methodID ?>" data-method="<?php echo $method; ?>">
                <div class="col-lg-6 remove_left_padding location">
                    <div class="form-group"><!--Payment-method-->
                        <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Payment Method :') ?></label>
                        <div class="col-lg-7 col-md-9 col-sm-8">
                            <input type="text" disabled="true" class="form-control paymentMethod" value="<?php echo $name; ?>">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 remove_left_padding location">
                    <div class="form-group"><!--Payment-method-->
                        <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Paid Amount :') ?><font color="red"> *</font></label>
                        <div class="col-lg-7 col-md-9 col-sm-8">
                            <input type="text" disabled="true" class="form-control paidAmount" value="<?php echo number_format($value1->outGoingPaymentMethodPaidAmount, 2); ?>">
                        </div>
                    </div>
                </div>
                <br>
                <?php if ($method == 2) { ?>
                    <!--cheque number-->

                    <br>
                    <div id='checkGroup' class="">


                        <div class="col-lg-6 remove_left_padding location">
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Bank') ?></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <select class="chbankID form-control " >
                                        <option value="">Please Select the Bank</option>
                                        <?php foreach ($this->banks as $key => $data) { ?>
                                            <option  value="<?php echo $key; ?>" <?php if ($value1->bankId == $key) { ?>selected="selected"<?php } ?>><?php echo $data; ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                            </div>
                        </div>



                        <div class="col-lg-5 remove_left_padding location">
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Account:') ?></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <input type="hidden" class="selectCheckAccountID" value="<?php echo $value1->outGoingPaymentMethodChequeBankAccountID; ?>">
                                    <select class="form-control  checkAccountID" >
                                        <option value="" class="default"> Plese select the account number</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!--                        <div class="col-lg-5 remove_left_padding location">
                                                    <div class="form-group">
                                                        <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Account:') ?></label>
                                                        <div class="col-lg-7 col-md-9 col-sm-8">
                                                            <input type="text" class="checkAccountID form-control" data-accountid="<?php echo $value->outGoingPaymentMethodChequeBankAccountID ?>" value="<?php echo $value->accountName + '-' + $value->accountNumber; ?>" disabled="disabled">
                                                        </div>
                                                    </div>
                                                </div>-->

                        <div class="col-lg-6 remove_left_padding location">
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Cheque Number :') ?></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <input type="text" value="<?php echo $value1->outGoingPaymentMethodReferenceNumber ?>" id='checquenumber' placeholder="<?php echo $this->translate('Enter Cheque Number') ?>" class="form-control checquenumber" <?php if ($value1->outGoingPaymentMethodReconciliationStatus == 1) { ?> disabled="disabled"<?php } ?> >
                                </div>
                            </div>
                        </div>
                    </div><!--cheque_group-->
                <?php } else if ($method == 3) { ?>
                    <!--credit_card_number-->
                    <br>
                    <div id='creditGroup' class="">
                        <div class="col-lg-6 remove_left_padding location">
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Receipt Number:') ?></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <input type="text" value="<?php echo $value1->outGoingPaymentMethodReferenceNumber ?>" id='reciptnumber' placeholder="<?php echo $this->translate('Enter Receipt Number') ?>" class="form-control reciptnumber">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 remove_left_padding location">
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Card Number:') ?></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <input type="text" value="<?php echo $value1->outGoingPaymentMethodCardID ?>" id='cardnumber' placeholder="<?php echo $this->translate('Enter Card Number') ?>" class="form-control cardnumber">
                                </div>
                            </div>
                        </div>
                    </div>
                <?php } else if ($method == 5) { ?>
                    <!--Bank Transfer-->
                    <br>
                    <div id='bankTransferGroup'>
                        <div class="col-lg-6 remove_left_padding location">
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Bank') ?></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <select class="bankID form-control ">
                                        <option value="">Please Select the Bank</option>
                                        <?php foreach ($this->banks as $key => $data) { ?>
                                            <option  value="<?php echo $key; ?>" <?php  if ($value1->outGoingPaymentMethodBankTransferBankId == $key) { ?>selected="selected"<?php } ?>><?php echo $data; ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 remove_left_padding location">
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Account:') ?></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <input type="hidden" class="selectAccountID" value="<?php echo $value1->outGoingPaymentMethodBankTransferAccountId; ?>">
                                    <select class="form-control  accountID" >
                                        <option value="" class="default"> <?php echo $this->translate('Plese select the account number') ?></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="col-lg-6 remove_left_padding location">
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Supplier Bank:') ?></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <input type="text" id='supplierBank' value="<?php echo $value1->outGoingPaymentMethodBankTransferSupplierBankName; ?>" placeholder="<?php echo $this->translate('Enter Supplier Bank Name') ?>" class="form-control supplierBank">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 remove_left_padding location">
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Supplier Account Number:') ?></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <input type="text" value="<?php echo $value1->outGoingPaymentMethodBankTransferSupplierAccountNumber; ?>" id='supplierAccountNumber' placeholder="<?php echo $this->translate('Enter Supplier Account Number') ?>" class="form-control supplierAccountNumber">
                                </div>
                            </div>
                        </div>
                    </div>
                <?php } else if ($method == 6) { ?>
                    <!--gift_card-->
                    <br>
                    <div id='giftCardGroup' class="">
                        <div class="col-lg-6 remove_left_padding location">
                            <div class="form-group">
                                <label class="col-lg-5 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Gift Card') ?></label>
                                <div class="col-lg-7 col-md-9 col-sm-8">
                                    <select class="form-control  giftCardID" disabled="true">
                                        <option value="" class="default"> <?php echo $this->translate('Plese select the Gift Card') ?></option>
                                        <?php foreach ($this->giftCards as $key => $data) { ?>
                                            <option value="<?php echo $key; ?>" <?php if ($this->giftCardId == $key) { ?>selected="selected"<?php } ?> class="default"><?php echo $data ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                <?php } ?>
                <label class="pamentMethodDelete btn btn-default hidden" ><i class="fa fa-trash "></i></label>
            </div>
            <br>
            <br>
        <?php } ?>
        <div class="col-lg-3 col-lg-offset-9">
            <input class="btn btn-primary" type="submit" id="update" value=<?php echo $this->translate('Update') ?> />
        </div>

    </form>
</div>