<div class="modal-dialog">
    <div class="modal-content" id="tempProductModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate('Add a Temporary Product') ?></h4>
        </div>

        <input type="hidden" id="cdnUrl" value="<?php echo $this->cdn_url ?>">

        <div class="modal-body">
            <!--form_open_tag-->
            <?php
            $form = $this->tempProductForm;
            $form->setAttribute('id', 'temporaryProduct');
            $form->prepare();
            echo $this->form()->openTag($form);
            echo $this->formHidden($form->get('temporaryProductID'));
            ?>
            <div class="form-group"><!--product_code-->
                <label class="col-lg-4 control-label"><?php echo $this->translate('Item Code') ?><font color="red"> *</font></label>
                <div class="col-lg-8">
                    <?php echo $this->formRow($form->get('temporaryProductCode')); ?>
                </div>
            </div>

            <div class="form-group"><!--product_name-->
                <label class="col-lg-4 control-label"><?php echo $this->translate('Item Name') ?><font color="red"> *</font></label>
                <div class="col-lg-8">
                    <?php echo $this->formRow($form->get('temporaryProductName')); ?>
                </div>
            </div>
            <div class="form-group"><!--Description-->
                <label class="col-lg-4 control-label"><?php echo $this->translate('Description') ?></label>
                <div class="col-lg-8">
                    <?php echo $this->formRow($form->get('temporaryProductDescription')); ?>
                </div>
            </div>
            <div class="form-group"><!--Description-->
                <label class="col-lg-4 control-label"><?php echo $this->translate('Price') ?></label>
                <div class="col-lg-8">
                    <?php echo $this->formRow($form->get('temporaryProductPrice')); ?>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-4">
                    <label class="control-label"><?php echo $this->translate('Quantity') ?></label><font color="red"> *</font>
                </div>
                <div class="col-lg-8">
                    <div class="col-lg-7 remove_left_padding">
                        <select class='form-control selectpicker' name="uomID" id="uomID">
                            <?php
                            echo "<option value='0'>Select UOM </option>";

                            foreach ($this->uomList as $p):
                                echo '<option value="' . $p->uomID . '">' . $p->uomAbbr . '-' . $p->uomName . '</option>';
                            endforeach;
                            ?>
                        </select>
                    </div>
                    <div class="col-lg-5 remove_right_padding remove_left_padding">
                        <?php echo $this->formRow($form->get('temporaryProductQuantity')); ?>
                    </div>
                </div>
            </div><!--form_group-->

            <div class="form-group"><!--Description-->
                <label class="col-lg-4 control-label"><?php echo $this->translate('Product Batch') ?></label>
                <div class="col-lg-8">
                    <?php echo $this->formRow($form->get('batchProduct')); ?>
                </div>
            </div>

            <div class="form-group"><!--Description-->
                <label class="col-lg-4 control-label"><?php echo $this->translate('Product Serial') ?></label>
                <div class="col-lg-8">
                    <?php echo $this->formRow($form->get('serialProduct')); ?>
                </div>
            </div>

            <!--            <div class="form-group">
                            <label class="col-lg-4 control-label">
            <?php // echo $this->translate('Item Controll By') ?>
                            </label>
                            <div class="col-lg-8 b-s-checkbox">
                                <div class="row">
                                    <div class="checkbox">
                                        <label for="batchProduct">
            <?php // echo $this->translate('Batch Number') ?>
                                        </label>
            <?php // echo $this->formRow($form->get('batchProduct')); ?>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="checkbox">
                                        <label for="serialProduct">
            <?php // echo $this->translate('Serial Number') ?>
                                        </label>
            <?php // echo $this->formRow($form->get('serialProduct')); ?>
                                    </div>
                                </div>
                            </div>
                        </div>-->

            <!--batch-->
            <div class="form-group">
                <div class="col-lg-12 batch-data">
                    <table class="batch-table table table-striped margin_top_normal table-condensed hidden">
                        <thead class="batch-head">
                            <tr>
                                <th><?php echo $this->translate("Batch Code"); ?></th>
                                <th><?php echo $this->translate("Quantity"); ?></th>
                                <th class="text-right"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="addNewBatchSample" class="hidden">
                                <td id="batchCD" style="vertical-align: middle"></td>
                                <td id="batchQty" style="vertical-align: middle"></td>
                                <td class="text-right" style="vertical-align: middle">
                                    <button class="btn btn-default batchDelete delete">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </td>
                            </tr>

                            <tr id="batchSample" class="">
                                <td><input class="form-control" type="text" name="batchCode" id="batchCode"></td>
                                <td><input disabled="true" class="form-control" type="text" name="batchQty" id="batchQty"></td>
                                <td class="text-right">
                                    <button id="addBatchItem" class="btn btn-default" type="button">
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--form_group-->

            <div class="form-group">
                <div class="col-lg-12 serial-data">
                    <table class="batch-serial-table table table-striped margin_top_normal table-condensed hidden">
                        <thead class="batch-head">
                            <tr>
                                <th><?php echo $this->translate("Serial Code"); ?></th>
                                <th><?php echo $this->translate("Batch Code"); ?></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="addNewSerial">
                            <tr id="batchSerialSample" class="">
                                <td><input class="form-control serialList" type="text" name="serialCode" id="serialCode"></td>
                                <td><input class="form-control serialBatchList" type="text" name="batchCode" id="batchCode"></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--form_group-->



            <!--            <div class="form-group">
                            <div  id="showImageAndController" class="panel panel-default link col-lg-12">
                                <div class="panel-body">
                                    <h4 class="panel-title">
                                        <a href="#" onclick="return false;">
            <?php // echo $this->translate('Image & Controller Factors') ?>
                                            <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                                            <span class="glyphicon glyphicon-chevron-up pull-right"></span>
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>-->
            <!--            <div id="imageAndController" class="row">
                            <div class="col-lg-12">
                                <div class="form-group">upload_image
                                    <label class="col-lg-4 control-label"><?php // echo $this->translate('Upload Image')                                                                                                                                                                        ?></label>
                                    <div class="col-lg-8">
                                        <div id="profile_pics">
            <?php if ($this->editMode) { ?>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                <img src = "<?php echo '/userfiles/' . $this->companyFolder . '/product/thumbs/' . $this->imageUrl ?>" id = "thumbs" class = "img-thumbnail" style = "max-height:180px; margin-bottom: 10px;"/>
            <?php } else { ?>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                <img src = "<?php echo '/userfiles/' . $this->companyFolder . '/product/default.jpeg' ?>" id = "thumbs" class = "img-thumbnail" style = "max-height:180px; margin-bottom: 10px;"/>
            <?php } ?>
                                            <input type="file" id="image_file" data-flag="false" accept="image/*" name="image_file" />
                                        </div>
                                        <div id="profile_pic" >
                                            <img src="<?php echo '/userfiles/' . $this->companyFolder . '/product/default.jpeg' ?>" id="thumb" class="img-thumbnail" style="width: 180px; height: 180px;"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
            <?php
            echo $this->form()->closeTag($form);
            ?>
            <!--image uploader-->
            <div class='form-horizontal'>
                <div class="form-group">
                    <label class='col-lg-4 control-label'>Add Images</label>
                    <div class="col-lg-3">
                        <span class="btn btn-default btn-block fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Add files...</span>
                            <!-- The file input field used as target for the file upload widget -->
                            <input id="fileupload" type="file" name="files[]" multiple>
                        </span>
                    </div>
                    <div class="col-lg-5">
                        <!--The global progress bar-->
                        <div id="progress" class="progress" style="display: none;">
                            <div class="progress-bar progress-bar-default"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <!-- The container for the uploaded files -->
                    <div id="files" class="row files clearfix col-lg-8 pull-right">
                    </div>
                </div>

            </div><!--modal_body-->

            <!--button-->
            <div class="modal-footer">
                <?php echo $this->formSubmit($form->get('addTempProductBtn')); ?>
            </div>

            <div class="modal fade" id="imageUploaderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden=imageUploaderModal"true"><?php echo $this->translate('&times;') ?></button>
                            <h4 class="modal-title"><?php echo $this->translate('Image Upload') ?></h4>
                        </div>
                        <div class="modal-body">
                            <form id="upload_form" enctype="multipart/form-data" method="post" style="" >
                                <input type="hidden" id="w" name="w" />
                                <input type="hidden" id="h" name="h" />
                                <input type="hidden" id="x1" name="x1" />
                                <input type="hidden" id="y1" name="y1" />
                                <input type="hidden" id="x2" name="x2" />
                                <input type="hidden" id="y2" name="y2" />
                                <!--<input type="hidden" id="productName" name="productName" />-->
                                <div class="error" style="display: none">
                                    <?php echo $this->translate('Test') ?>
                                </div>
                                <br>
                                <div id="image_div" style="display: none">
                                    <img  src="" id="load_img"/>
                                </div>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <input class="btn btn-primary" type="submit" id="image-submit" value=<?php echo $this->translate('Upload') ?> />
                        </div>
                    </div> <!-- /.modal-content -->
                </div> <!--/.modal-dialog -->
            </div> <!--/.modal-->
        </div>
    </div>
</div>
<script type="text/javascript">
    var el = document.getElementById("temporaryProductCode");
    if (el.value == "") {
        el.focus();
    }

    $(function() {
        $('#imageUploaderModal').on('hidden.bs.modal', function() {
            var name = "<?php echo $this->imageUrl ?>";
            if (!$('#image_file').data('flag')) {
                if (name == null || name.length == 0) {
                    document.getElementById("thumbs").src = "<?php echo '/userfiles/' . $this->companyFolder . '/product/default.jpeg' ?>";
                    document.getElementById("thumbs").src = "<?php echo '/userfiles/' . $this->companyFolder . '/product/default.jpeg' ?>";
                    document.getElementById("load_img").src = "<?php echo '/userfiles/' . $this->companyFolder . '/product/default.jpeg' ?>";
                } else {
                    document.getElementById("thumbs").src = "<?php echo '/userfiles/' . $this->companyFolder . '/product/thumbs/' . $this->imageUrl ?>";
                    document.getElementById("thumb").src = "<?php echo '/userfiles/' . $this->companyFolder . '/product/thumbs/' . $this->imageUrl ?>";
                    document.getElementById("load_img").src = "<?php echo '/userfiles/' . $this->companyFolder . '/product/thumbs/' . $this->imageUrl ?>";
                }
                $('#image_file').val('');
                $('#image_file').data('flag', false);
            }
        });
    });
</script>
