<?php
$this->headScript()->prependFile($this->basePath('js/jobs/contractor_setup.js'));
?>

<div class="cost-type-form-container margin_top">

    <div class="well well_heading">
        <h5 class="font_weight" id="addTitle"><?php echo $this->translate('Add Contractor') ?></h5>
        <h5 class="font_weight hidden" id="updateTitle"><?php echo $this->translate('Update Contractor') ?></h5>
    </div>

    <form id="contractorForm">
        <div class="well well_body">
            <div class="_row_with_margin clearfix">
                <input type="hidden" id="editMode" value="false">

                <!--First_name-->
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label class="control-label label_bottom_margin">
                            <?php echo $this->translate('First Name') ?>
                            <font style="color: red">&nbsp*</font>
                        </label>
                        <div class="">
                            <input type="text" id="firstName" autocomplete="off" class="form-control" placeholder="<?php echo $this->translate('Eg: Saman') ?>" value="">
                        </div>
                    </div>
                </div>

                <!--Last_name-->
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label class="control-label label_bottom_margin">
                            <?php echo $this->translate('Last Name') ?>
                            <font style="color: red">&nbsp*</font>
                        </label>
                        <div class="">
                            <input type="text" id="lastName" autocomplete="off" class="form-control" placeholder="<?php echo $this->translate('Eg: Rathnayake') ?>" value="">
                        </div>
                    </div>
                </div>

                <!--Mobile_no-->
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label class="control-label label_bottom_margin">
                            <?php echo $this->translate('Telephone') ?>
                            <font style="color: red">&nbsp*</font>
                        </label>
                        <div class="">
                            <input type="text" id="MobileNo" autocomplete="off" class="form-control" placeholder="<?php echo $this->translate('Eg: 0711349428') ?>" value="">
                        </div>
                    </div>
                </div>

                <!--Contractor_Type-->
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label class="control-label label_bottom_margin"><?php echo $this->translate('Contractor Type') ?></label>
                        <div class="">
                            <input type="checkbox" id="CharactorType" data-id="1" checked=""><label class="control-label label_bottom_margin">&nbsp;<?php echo $this->translate('Permenant') ?></label>
                        </div>
                    </div>
                </div>


                <!--Assign_for_Jobs-->
                <div class="col-lg-12 col-md-6">
                    <div class="form-group">
                        
                        <div class="text-right">
                        <button type="submit" class="btn btn-primary add" id="btnAddNewContractor"><?php echo $this->translate('Add New') ?></button>
                        <button type="reset" class="btn btn-default reset"><?php echo $this->translate('Reset') ?></button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
<!--search-->
<div class="well well_custom_padding margin_top">
    <div class="row">
        <div class="col-lg-3">
            <label class="remove_weight" for="contractorSearch"><?php echo $this->translate('Search Contractor') ?></label>
        </div>
        <div class="search_field col-lg-9">
            <form class="contractor-search-form">
                <div class="input-group">
                    <input type="text" class="form-control" id="contractorSearch" placeholder="<?php echo $this->translate('Enter contractor name') ?>">
                    <div class="input-group-btn">
                        <input type="submit" value="Search" class="btn btn-default minus_margin">
                        <button type="button" class="btn btn-default minus_margin" id="searchCancel"><?php echo $this->translate('Cancel') ?></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div><!--well-->

<div id="contractor-list" class="margin_top">
    <?php echo $this->partial('jobs/contractor/list', array('contractorList' => $this->contractorList, 'paginated' => $this->paginated)); ?>
</div>