<div class="table-responsive"">
    <table class="table table-striped">
    <thead id="contractorListHead">
        <tr>
            <th><?php echo $this->translate('Contractor First Name') ?></th>
            <th><?php echo $this->translate('Contractor Last Name') ?></th>
            <th><?php echo $this->translate('Mobile No') ?></th>
            <th><?php echo $this->translate('Contractor Type') ?></th>
            <th class="text-center" ><?php echo $this->translate('Edit') ?></th>
            <th class="text-center" ><?php echo $this->translate('Active') ?></th>
            <th class="text-center" ><?php echo $this->translate('Delete') ?></th>
        </tr>
    </thead>
    <tbody id="contractorListBody">
    <?php
    foreach ($this->contractorList as $key => $value) {
        $loo = (object) $value;
        ?>
        <tr contractorID="<?php echo $loo->contractorID; ?>" 
            entityid = "<?php echo $value['entityID']; ?>" 
            contractorstatus = "<?php echo $value['contractorStatus']; ?>">
            <td class="CTD" id="firstName"><?php echo $loo->contractorFirstName; ?></td>
            <td class="CTD" id="lastName"><?php echo $loo->contractorSecondName; ?></td>
            <td class="CTD" id="contractorTP"><?php echo $loo->contractorTP ?></td>
            <td class="CTD" id="isPermanentFlag"><?php echo $loo->IsPermanentFlag == 1 ? "Permenant" : "Temporary"; ?></td>
            <td class="CTD text-center"><a href="#" class="edit designation-action" data-action="edit"><span class="fa fa-pencil-square-o custom_font_size"></span>
                        </a></td>
            <td class="CTD text-center"><a href="#" class="status designation-action" data-action="status"><span class="<?php echo ($loo->contractorStatus == '1') ? 'fa fa-check-square-o' : 'fa fa-square-o '; ?> custom_font_size"></span>
                        </a></td>
            <td class="CTD text-center"><a href="#" class="delete"><span class="fa fa-trash-o custom_font_size"></span>
                        </a></td>
        </tr>
        <?php
    }
    ?>
    </tbody>
    </table>
</div>
<?php
if ($this->paginated) {

    echo $this->paginationControl(
            $this->contractorList, 'sliding', array('partial/paginator.phtml', 'contractor'), array(
        'route' => 'contractor', 'action' => 'create'
            )
    );
}
?>