<?php $this->headScript()->captureStart() ?>
var msgPartOne = '<?php echo $this->translate('Are you sure you want to '); ?>';
var msgPartTwo = '<?php echo $this->translate('  this Unit of Measure?') ?>';
var activate = '<?php echo $this->translate('activate') ?>';
var deactivate = '<?php echo $this->translate('deactivate') ?>';
<?php $this->translate('OK') ?>;
<?php $this->translate('Cancel') ?>;
<?php $this->headScript()->captureEnd() ?>
<?php
$form = $this->form;
$form->setAttribute('id', 'create-uom-form');
?>


<div class="uom-form-container margin_top">

    <div class="well well_heading">
        <h5 class="font_weight"><?php echo $this->translate('Add Unit of Measure') ?></h5>
        <h5 class="font_weight update"><?php echo $this->translate('Update Unit of Measure') ?></h5>
    </div>

    <div class="well well_body remove_padding_bottom" id="unit_measure">

        <?php
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formHidden($form->get('uomID'));
        ?>

        <div class="form-group">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Unit Of Measure') ?><font color="red"> *</font></label>
                <div class="">
                    <?php echo $this->formRow($form->get('uomName')); ?>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Abbreviation') ?><font color="red"> *</font></label>
                <div class="">
                    <?php echo $this->formRow($form->get('uomAbbr')); ?>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Decimal places') ?></label>
                <div class="">
                    <?php echo $this->formRow($form->get('uomDecimalPlace')); ?>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('State') ?></label>
                <div class="">
                    <?php echo $this->formRow($form->get('uomState')); ?>
                </div>
            </div>
        </div>

        <div class="form-group margin_top_normal button-set update">
            <div class="col-lg-12 text-right">
                <button type="submit" class="btn btn-primary update"><?php echo $this->translate('Update') ?></button>
                <button type="reset" class="btn btn-default reset"><?php echo $this->translate('Cancel') ?></button>
            </div>
        </div>

        <div class="form-group margin_top_normal button-set">
            <div class="col-lg-12 text-right">
                <button type="submit" class="btn btn-primary add"><?php echo $this->translate('Add New') ?></button>
                <button type="reset" class="btn btn-default reset"><?php echo $this->translate('Reset') ?></button>
            </div>
        </div>

        <?php
        echo $this->form()->closeTag($form);
        ?>
    </div>
</div>

<div id="uomview"></div>

<div class="well clearfix well_custom_padding margin_top uom-search-head">
    <form class="uom-search" method="post" action="">
        <div class="col-lg-3">
            <label class="remove_weight"><?php echo $this->translate('Search a Unit of Measure') ?></label>
        </div>
        <div class="col-lg-9">
            <div class=" input-group">
                <input type="text" class="search form-control" id ='uom-search-keyword' placeholder="<?php echo $this->translate('Enter Unit of Measure') ?>"/>
                <span class="input-group-btn">
                    <button class="btn btn-default search_btn_css" type="submit"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default reset" type="reset"><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </form>
</div>

<div id="uom-list" class="margin_top">
    <?php echo $this->partial('settings/uom/list', array('uomList' => $this->uomList, 'paginated' => $this->paginated)); ?>
</div>