<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('Unit') ?></th>
                <th><?php echo $this->translate('Abbreviation') ?></th>
                <th><?php echo $this->translate('Decimals') ?></th>
                <th><?php echo $this->translate('State') ?></th>
                <th width="10%" class="text-center" hidden><?php echo $this->translate('Edit') ?></th>
                <!--<th width="10%" class="text-center"><?php echo $this->translate('Delete') ?></th>-->
                <th width="10%" class="text-center" hidden><?php echo $this->translate('State') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->uomList as $loo) {
                ?>
                <tr data-uomrow="<?php echo $loo->uomID; ?>">
                    <td><?php echo $loo->uomName; ?></td>
                    <td><?php echo $loo->uomAbbr; ?></td>
                    <td><?php echo $loo->uomDecimalPlace; ?></td>
                    <?php if ($loo->uomState) { ?>
                        <td><span class="label label-success">Active</span></td>
                    <?php } else { ?>
                        <td><span class="label label-danger">Inactive</span></td>
                    <?php } ?>
                    <td class="text-center" hidden>
                        <?php if ($loo->uomName != 'Unit') { ?>
                            <a href="#" class="edit">
                                <span class="fa fa-pencil-square-o custom_font_size"></span>
                            </a>
                        <?php } ?>
                    </td>
    <!--                    <td class="text-center">
                        <a href="#" class="delete">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>-->
                    <td class="text-center" hidden>
                        <?php if ($loo->uomName != 'Unit') { ?>
                            <a href="#" class="statechange">
                                <span class="glyphicon glyphicon-<?php echo ($loo->uomState) ? "check" : "unchecked"; ?>"></span>
                            </a>
                        <?php } ?>
                    </td>
                </tr>
                <?php
            }
            if (count($this->uomList) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="7"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>


        </tbody>
    </table>
</div><!--table-responsive-->

<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->uomList, 'sliding', array('partial/paginator.phtml', 'company'), array(
        'route' => 'uom', 'action' => 'index'
            )
    );
}
?>
