<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">
        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <?php 
                foreach ($dataList as $key => $value) {
                    # code...
             ?>

            <table class="change_order_items table table-striped" style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; border-collapse: collapse;">

                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Services') ?></th>
                        <?php 
                            foreach ($headers[$key] as $headkey => $val) {
                         ?>
                        <th><?php echo $this->translate($val['employeeFirstName']) ?></th>
                        <?php } ?>
                    </tr>                    
                    <?php
                        $empColTotal = [];
                     foreach ($value as $rowKey => $val) {
                    ?>
                        <tr class="table-incentive-row">
                            <td><?php echo $val['taskName'] ?></td>
                            <?php                          
                                foreach ($headers[$key] as $key5 => $val2) {
                                    $empColTotal[$val2['employeeID']] = $empColTotal[$val2['employeeID']] + $val[$val2['employeeID']];
                            ?>
                            <td><?php echo $val[$val2['employeeID']] ?></td>
                            <?php } ?>
                            
                        </tr>
                    <?php } ?>
                    <tr class="table-incentive-row">
                        <td><strong>Total</strong></td>
                        <?php 
                            foreach ($headers[$key] as $key5 => $val2) {
                                
                        ?>
                        <td><strong><?php 
                         if ($reportType == "qty") {
                            echo $empColTotal[$val2['employeeID']];
                        } else {
                            echo number_format($empColTotal[$val2['employeeID']], 2, '.', '');
                        }  ?></strong></td>
                        <?php } ?>
                        
                    </tr>
                </tbody>
            </table>
        <?php } ?>
        </div>
    </div>
</div>
<style type="text/css">
    .table-incentive-row {
        border: 1px solid black;
    }
</style>



