<!--panel-->
<div class='panel panel-default margin_top margin_bottom panel_border'>

    <div class='panel-heading panel_heading_style'><!--panel_heading-->
        <h4 class="font_weight h1_no_margin report_heading"><?php echo $this->translate('Job Report') ?></h4>
    </div>

    <div class="panel-body panel_body_style">

        <!--links-->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 remove_left_padding remove_right_padding panel_links">
            <ul class="nav nav-pills  nav-stacked data-tabs" data-tabs="tabs">
                <li id="employeeIncentiveReport" class="report_pills active"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Employee Incentive Report') ?></a></li>
            </ul>
        </div>

        <!--process_area-->
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 form-horizontal process_area">
            <div id="report_head">
                <div class="row employee-selectpickers hidden">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 employeeSelection">
                        <div>
                            <label name="isAllEmployeelbl">
                                <input type="radio" class="check_box_mar_right isAllEmployee" value="0" name="isAllEmployee" id="customEmployeeSelection" checked> <?php echo $this->translate('Custom Employee') ?>
                            </label>
                            <div class="">
                                <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="employeeList" id="employeeList" multiple="multiple" title="<?php echo $this->translate('Select Employee(s)') ?>" data-selected-text-format="count>3"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 employeeSelection" id="isAllEmployeeBox">
                        <label name="isAllEmployeelbl">
                            <input type="radio" class="isAllEmployee" value="1" name="isAllEmployee" id="AllEmployee"> 
                            <?php echo $this->translate('All Employees') ?>
                        </label>
                    </div>
                </div>
                <br>
                <div class="row service-selectpickers hidden">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 serviceSelection">
                        <div>
                            <label name="isAllServicelbl">
                                <input type="radio" class="check_box_mar_right isAllService" value="0" name="isAllService" id="customServiceSelection" checked> <?php echo $this->translate('Custom Service') ?>
                            </label>
                            <div class="">
                                <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="serviceList" id="serviceList" multiple="multiple" title="<?php echo $this->translate('Select Service(s)') ?>" data-selected-text-format="count>3"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 serviceSelection" id="isAllServiceBox">
                        <label name="isAllServicelbl">
                            <input type="radio" class="isAllService" value="1" name="isAllService" id="AllService"> 
                            <?php echo $this->translate('All Services') ?>
                        </label>
                    </div>
                </div>
                <br>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <label class="control-label sort"><?php echo $this->translate('Sort By') ?></label>
                    <label class="control-label location-lbl"><?php echo $this->translate('Location') ?></label>
                    <div class="location-list">
                        <select class='form-control selectpicker ' data-actions-box="true" data-live-search="true" name="locationList" id="locationList" multiple="multiple" title='<?php echo $this->translate('Select Location(s)') ?>'>
                            <?php
                           foreach ($this->locNames as $key => $locName):
                                    echo '<option value="' . $key . '">' . $locName . '</option>';
                                endforeach;
                            ?>
                        </select>
                    </div>
                </div>
                <br>
                <div class="col-lg-12 to set_to_date vlg-margin-top">
                    <div class="form-group">

                        <div id="from_date_div" class="col-lg-6 report_from_month lg-margin-bottom lg-margin-top"><!--from_month-->
                            <label class="control-label hidden from_date_lbl"><?php echo $this->translate('From Date') ?></label>
                            <input type="text" class="span2 datepicker form-control" id="from_date" name="from_date" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to set a From Date') ?>">
                        </div>

                        <div id="to_date_div"class="col-lg-6 to set_to_date"><!--set_to_date-->
                            <label class="control-label to_date_lbl hidden"><?php echo $this->translate('To Date') ?></label>
                            <input type="text" class="span2 datepicker form-control" id="to_date" name="to_date" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to set a To Date') ?>">
                        </div>
                    </div><!--form_group-->
                </div>
                <br>
                <div class="row incentiveReportType-radio hidden">
                    <div class="col-lg-12 product-content" id="isQtyBaseBox">
                        <label name="isQtyBaselbl" id="isQtyBaselbl">
                            <input type="radio" class="isQtyBase" value="1" name="isQtyBase" id="isQtyBase" checked>
                            <?php echo $this->translate('Quantity Based') ?>
                        </label>
                    </div>
                    <div class="col-lg-12 product-content" id="isAmountBaseBox">
                        <label name="isAmountBaselbl" id="isAmountBaselbl">
                            <input type="radio" class="isAmountBase" value="1" name="isAmountBase" id="isAmountBase">
                            <?php echo $this->translate('Amount Based') ?>
                        </label>
                    </div>
                </div>
                <br>
                <div class="row hide_services hidden">
                    <br>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 hide_zero_value-service_details">
                        <input type="checkbox" name="zeroService" id="zeroService" value="true"> <?php echo $this->translate('Hide Zero Value Services') ?><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 btn-group btn_panel_height_high report_buttons">
                        <button class="btn btn-default col-lg-2" id="viewReport"><?php echo $this->translate('View Report') ?></button>
                        <button class="btn btn-default col-lg-2" id="generatePdf"><?php echo $this->translate('Generate Pdf') ?></button>
                        <button class="btn btn-default col-lg-2" id="csvReport"><?php echo $this->translate('Generate CSV') ?></button>
                    </div>
                </div>
                <br>

            </div><!--report_head-->
        </div><!--form_horizontal-->

    </div><!--panel_body-->
</div><!--panel-->

<iframe id="jobCardReport" class="panel panel-default margin_top margin_bottom panel_border report-iframe"></iframe>

<style type="text/css">
    .report-iframe {
        width: 100%;
    }
</style>
