<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>

            </table>

            <table class="change_order_items">

                <tbody>
                    <?php
                    $netTax = 0.0;
                    $netAmount = 0.0;
                    ?>
                    <tr>
                        <th style="width:10%"><?php echo $this->translate('Date') ?></th>
                        <th style="width:10%"><?php echo $this->translate('Payment ID') ?></th>
                        <th style="width:10%"><?php echo $this->translate('Payment Voucher ID') ?></th>
                        <th style="width:10%"><?php echo $this->translate('Supplier Name') ?></th>
                        <th style="width:10%"><?php echo $this->translate('Issued Date') ?></th>
                        <th style="width:10%"><?php echo $this->translate('Location') ?></th>
                        <th style="width:12%"><?php echo $this->translate('Payment Type') ?></th>
                        <th style="width:12%"><?php echo $this->translate('Referance Number') ?></th>
                        <th style="width:16%"><?php echo $this->translate('Amount') ?></th>
                    </tr>
                    <?php
                    if (empty($dailyPaymentData)) {
                        ?>
                        <tr class="even_row">
                            <td style="text-align: right" colspan="9"><?php echo $this->translate('No related data') ?></td>
                        </tr>
                        <?php
                    } else {



                        $netAmount = 0.00;
                        foreach ($dailyPaymentData as $date => $data1) {

                            $sub_amount = 0.00;
                            ?>
                            <tr class="even_row">
                                <td style="text-align: center"><?php echo $date; ?></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td class="change_order_total_col"></td>
                            </tr>
                            <?php
                            foreach ($data1 as $key2 => $data2) {
                                if ($data2['outgoingPaymentType'] == 'advance') {
                                    $paymentCode = $data2['outgoingPaymentCode']." (Advance)";
                                } else {
                                    $paymentCode = $data2['outgoingPaymentCode'];
                                }
                                ?>



                                <tr class="even_row">
                                    <td style="text-align: center"></td>
                                    <td style="text-align: right"><?php echo $paymentCode; ?></td>
                                    <td style="text-align: right"><?php echo $data2['relatedPVs']; ?></td>
                                    <td style="text-align: right"><?php echo $data2['supplier']; ?></td>
                                    <td style="text-align: right"><?php echo $data2['IssuedDate']; ?></td>
                                    <td style="text-align: right"><?php echo $data2['locationName']; ?></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                    <td class="change_order_total_col"></td>
                                </tr>

                                <?php 

                                    foreach ($data2['payData'] as $key77 => $value77) {
                                ?>
                                    <tr class="even_row">
                                        <td style="text-align: left"></td>
                                        <td style="text-align: right"></td>
                                        <td style="text-align: right"></td>
                                        <td style="text-align: right"></td>
                                        <td style="text-align: right"></td>
                                        <td style="text-align: right"></td>
                                        <td style="text-align: right"><?php echo $value77['paymentMethodName']; ?></td>
                                        <td style="text-align: right"><?php echo ($value77['paymentReferance']) ? $value77['paymentReferance'] : '-'; ?></td>
                                        <td class="change_order_total_col" style="text-align: right"><?php echo number_format($value77['paidAmount'], 2); ?></td>
                                    </tr>

                                <?php } ?>



                                <?php
                                $netAmount+=$data2['TotalAmount'];
                                $sub_amount+=$data2['TotalAmount'];
                            }
                            ?>
                            <tr>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"><strong><?php echo $this->translate('Total Sales of ') ?><?php echo $date ?>:</strong></td>
                                <td class="change_order_total_col"><strong><?php echo number_format($sub_amount, 2); ?></strong></td>
                            </tr>
                            <?php
                            $sub_amount+=$netAmount;
                        }
                        ?>

                        <?php ?>
                        <tr>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                        </tr>
                        <tr>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right" ><strong><?php echo $this->translate('Total Sales') ?>:</strong></td>
                            <td class="change_order_total_col"><strong><?php echo number_format($netAmount, 2); ?></strong></td>
                        </tr>
                    <?php }
                    ?>

                </tbody>

            </table>

        </div>

    </div>
</div>



