<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7px">

            <?php echo $this->headerView; ?>


            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>

            </table>

            <table class="change_order_items">

                <tbody>
                    <?php
                    $netTax = 0.0;
                    $netAmount = 0.0;
                    ?>
                    <tr>
                        <th style="width:10%"><?php echo $this->translate('Quarter') ?></th>
                        <th style="width:12%"><?php echo $this->translate('Payment ID') ?></th>
                        <th style="width:12%"><?php echo $this->translate('Payment Voucher ID') ?></th>
                        <th style="width:10%"><?php echo $this->translate('Supplier Name'); ?></th>
                        <th style="width:10%"><?php echo $this->translate('Issued Date') ?></th>
                        <th style="width:10%"><?php echo $this->translate('Location') ?></th>
                        <th style="width:10%"><?php echo $this->translate('Payment Type') ?></th>
                        <th style="width:10%"><?php echo $this->translate('Referance Number') ?></th>
                        <th style="width:16%"><?php echo $this->translate('Amount') ?></th>
                    </tr>
                    <?php
                    $net_amount = 0.00;

                    foreach ($annualPaymentData as $key => $value) {
                        $sub_amount = 0.00;
                        ?>
                        <tr class="even_row">
                            <td style="text-align: center"><?php echo $key; ?></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td class="change_order_total_col"></td>
                        </tr>
                        <?php
                        foreach ($value as $key1 => $value1) {
                            if ($value1['outgoingPaymentType'] == 'advance') {
                                $paymentCode = $value1['outgoingPaymentCode']." (Advance)";
                            } else {
                                $paymentCode = $value1['outgoingPaymentCode'];
                            }
                            ?>
                            <tr class="even_row">
                                <td style="text-align: center"></td>
                                <td style="text-align: right"><?php echo $paymentCode; ?></td>
                                <td style="text-align: right"><?php echo $value1['relatedPVs']; ?></td>
                                <td style="text-align: right"><?php echo $value1['supplier']; ?></td>
                                <td style="text-align: right"><?php echo $value1['IssuedDate']; ?></td>
                                <td style="text-align: right"><?php echo $value1['locationName']; ?></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>

                            </tr>
                            <?php 

                                foreach ($value1['payData'] as $key77 => $value77) {
                            ?>
                                <tr class="even_row">
                                    <td style="text-align: left"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"><?php echo $value77['paymentMethodName']; ?></td>
                                    <td style="text-align: right"><?php echo ($value77['paymentReferance']) ? $value77['paymentReferance'] : '-'; ?></td>
                                    <td class="change_order_total_col" style="text-align: right"><?php echo number_format($value77['paidAmount'], 2); ?></td>
                                </tr>

                            <?php } ?>



                            <?php
                            $sub_amount+=$value1['TotalAmount'];
                            $net_amount+=$value1['TotalAmount'];
                        }
                        ?>
                        <tr>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right" ><strong><?php echo $this->translate('Total Amount') . " " ?><?php echo $key; ?> : </strong></td>
                            <td class="change_order_total_col"><strong><?php echo number_format($sub_amount, 2); ?></strong></td>

                        </tr>
                        <?php
                    }
                    ?>
                    <tr>
                        <td style="text-align: right"></td>
                        <td style="text-align: right"></td>
                        <td style="text-align: right"></td>
                        <td style="text-align: right"></td>
                        <td style="text-align: right"></td>
                        <td style="text-align: right"></td>
                        <td style="text-align: right"></td>
                        <td style="text-align: right"><strong><?php echo $this->translate('GRAND TOTAL') ?>:</strong></td>
                        <td class="change_order_total_col"><strong><?php echo number_format($net_amount, 2); ?></strong></td>

                    </tr>

                </tbody>

            </table>
        </div>

    </div>
</div>



