<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>
<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7px">

            <?php echo $this->headerTemplate; ?>


            <table class="change_order_items">
                <?php
                $net_tax = 0.0;
                $net_amount = 0.0;
                if (empty($monthlyPaymentData)) {
                    ?>
                    <tr class="even_row">
                        <td colspan="10"><?php echo $this->translate('No related data') ?></td>
                    </tr>
                    <?php
                } else {
                    ?>
                    <tbody>
                        <tr>
                            <th style="width:5%"><?php echo $this->translate('Year') ?></th>
                            <th style="width:10%"><?php echo $this->translate('Month') ?></th>
                            <th style="width:10%"><?php echo $this->translate('Payment ID') ?></th>
                            <th style="width:10%"><?php echo $this->translate('Payment Voucher ID') ?></th>
                            <th style="width:10%"><?php echo $this->translate('Supplier Name') ?></th>
                            <th style="width:10%"><?php echo $this->translate('Issued Date') ?></th>
                            <th style="width:10%"><?php echo $this->translate('Location') ?></th>
                            <th style="width:10%"><?php echo $this->translate('Payment Type') ?></th>
                            <th style="width:10%"><?php echo $this->translate('Referance Number') ?></th>
                            <th style="width:15%"><?php echo $this->translate('Total Payment Amount') ?></th>

                        </tr>
                        <?php
                        foreach ($monthlyPaymentData as $key => $value) {
                            ?>
                            <tr class="even_row">
                                <td style="text-align: center"><?php echo $key; ?></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td class="change_order_total_col"></td>
                            </tr>
                            <?php
                            foreach ($value as $key1 => $value1) {
                                $sub_amount = 0.00;
                                ?>
                                <tr class="even_row">
                                    <td style="text-align: center"></td>
                                    <td style="text-align: right"><?php echo $key1; ?></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                    <td class="change_order_total_col"></td>
                                </tr>
                                <?php
                                foreach ($value1 as $key2 => $value2) {

                                    if ($value2['outgoingPaymentID']) {
                                        if ($value2['outgoingPaymentType'] == 'advance') {
                                            $paymentCode = $value2['outgoingPaymentCode']." (Advance)";
                                        } else {
                                            $paymentCode = $value2['outgoingPaymentCode'];
                                        }
                                        ?>
                                        <tr class="even_row">
                                            <td style="text-align: center"></td>
                                            <td style="text-align: left"></td>
                                            <td style="text-align: right"><?php echo $paymentCode; ?></td>
                                            <td style="text-align: right"><?php echo $value2['relatedPVs']; ?></td>
                                            <td style="text-align: right"><?php echo $value2['supplier']; ?></td>
                                            <td style="text-align: right"><?php echo $value2['IssuedDate']; ?></td>
                                            <td style="text-align: right"><?php echo $value2['locationName']; ?></td>
                                            <td style="text-align: right"></td>
                                            <td style="text-align: right"></td>
                                            <td style="text-align: right"><?php //echo number_format($value2['outgoingPaymentPaidAmount'], 2); ?></td>
                                        </tr>

                                        <?php 

                                            foreach ($value2['payData'] as $key77 => $value77) {
                                        ?>
                                            <tr class="even_row">
                                                <td style="text-align: center"></td>
                                                <td style="text-align: left"></td>
                                                <td style="text-align: right"></td>
                                                <td style="text-align: right"></td>
                                                <td style="text-align: right"></td>
                                                <td style="text-align: right"></td>
                                                <td style="text-align: right"></td>
                                                <td style="text-align: right"><?php echo $value77['paymentMethodName']; ?></td>
                                                <td style="text-align: right"><?php echo ($value77['paymentReferance']) ? $value77['paymentReferance'] : '-'; ?></td>
                                                <td style="text-align: right"><?php echo number_format($value77['paidAmount'], 2); ?></td>
                                            </tr>

                                        <?php } ?>

                                        <?php
                                        $sub_amount+=$value2['TotalAmount'];
                                        $net_amount+=$value2['TotalAmount'];
                                    }
                                }
                                ?>
                                <tr>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right" ><strong><?php echo $this->translate('Total Amount of') . " " ?><?php echo $value2['Month']; ?> : </strong></td>
                                    <td class="change_order_total_col"><strong><?php echo number_format($sub_amount, 2); ?></strong></td>
                                </tr>
                                <?php
                            }
                            ?>
                            <?php
                        }
                        ?>
                        <tr>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"><strong><?php echo $this->translate('Total Amount') . " : " ?></strong></td>
                            <td class="change_order_total_col"><strong><?php echo number_format($net_amount, 2); ?></strong></td>
                        </tr>
                    </tbody>

                    <?php
                }
                ?>
            </table>
        </div>

    </div>
</div>



