<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>

            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th style="width:15%"><?php echo $this->translate('Supplier Name') ?></th>
                        <th style="width:10%"><?php echo $this->translate('Payment ID') ?></th>
                        <th style="width:10%"><?php echo $this->translate('Payment Voucher ID') ?></th>
                        <th style="width:10%"><?php echo $this->translate('Issued Date') ?></th>
                        <th style="width:12%"><?php echo $this->translate('Location') ?></th>
                        <th style="width:12%"><?php echo $this->translate('Payment Type') ?></th>
                        <th style="width:12%"><?php echo $this->translate('Referance Number') ?></th>
                        <th style="width:19%"><?php echo $this->translate('Amount') ?></th>

                    </tr>

                    <?php
                    if (empty($paymentSummeryData)) {
                        ?>
                        <tr class="even_row">
                            <td colspan="8"><?php echo $this->translate('No related data') ?></td>
                            
                        </tr>
                        <?php
                    } else {
                        $netAmount = 0;
                        $netTax = 0;

                        foreach ($paymentSummeryData as $key1 => $data1) {


                            if ($key1 != null) {
                                ?>

                                <?php
                                $sub_amount = 0.00;
                                foreach ($data1 as $key2 => $data2) {

//                                    if ($data1 != null) {
                                    if ($data2['outgoingPaymentType'] == 'advance') {
                                        $paymentCode = $data2['outgoingoPaymentCode']." (Advance)";
                                    } else {
                                        $paymentCode = $data2['outgoingoPaymentCode'];
                                    }
                                    ?>
                                    <tr class="even_row">
                                        <td style="text-align: right"><?php echo $data2['title'] . ' ' . $data2['name']; ?></td>
                                        <td style="text-align: right"><?php echo $paymentCode; ?></td>
                                        <td style="text-align: right"><?php echo $data2['relatedPVs']; ?></td>
                                        <td style="text-align: right"><?php echo $data2['IssuedDate']; ?></td>
                                        <td style="text-align: right"><?php echo $data2['locationName']; ?></td>
                                        <td style="text-align: right"></td>
                                        <td style="text-align: right"></td>
                                        <td style="text-align: right"></td>

                                    </tr>


                                    <?php 

                                        foreach ($data2['payData'] as $key77 => $value77) {
                                    ?>
                                        <tr class="even_row">
                                            <td style="text-align: right"></td>
                                            <td style="text-align: right"></td>
                                            <td style="text-align: right"></td>
                                            <td style="text-align: right"></td>
                                            <td style="text-align: right"></td>
                                            <td style="text-align: right"><?php echo $value77['paymentMethodName']; ?></td>
                                            <td style="text-align: right"><?php echo ($value77['paymentReferance']) ? $value77['paymentReferance'] : '-'; ?></td>
                                            <td style="text-align: right"><?php echo number_format($value77['paidAmount'], 2); ?></td>
                                        </tr>

                                    <?php } ?>


                                    <?php
                                    $sub_amount+=$data2['TotalAmount'];
                                    $netAmount+=$data2['TotalAmount'];
//                                    }
                                }
                                ?>
                                <tr class="even_row">
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"><strong><?php echo $this->translate('Total') ?></strong></td>
                                    <td style="text-align: right"><strong><?php echo number_format($sub_amount, 2); ?></strong></td>

                                </tr>
                                <?php
                            }
                        }
                        ?>
                        <tr class="even_row">
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"><strong><?php echo $this->translate('Grand Total') ?></strong></td>
                            <td style="text-align: right"><strong><?php echo number_format($netAmount, 2); ?></strong></td>

                        </tr>
                        <?php
                    }
                    ?>

                </tbody>
            </table>
        </div>
    </div>
</div>



