<table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
    <tr>
        <td colspan="4"><h2><?php echo $this->translate($reportName) ?>:</h2></td>
    </tr>

    <tr>
        <td><?php echo $this->translate('Report Generated '); ?>: <?php echo $this->translate($period); ?></td>
        <td><strong></strong></td>
    </tr>

    <tr>
        <td><?php echo $cD[0]->companyName ?>,<?php echo $cD[0]->companyAddress ?> <?php echo $this->translate('Tele :') ?> <?php echo $cD[0]->telephoneNumber ?></td>
        <td> <strong></strong></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Period ') ?>: <?php echo $this->translate($period) ?></td>
        <td> <strong></strong></td>
    </tr>
</table>