<script type="text/javascript">

    function printdiv(printpage)
    {

        var divContents = $("#" + printpage).html();
        var printWindow = window.open('', '', 'height=400,width=800');
        printWindow.document.write(divContents);
        printWindow.print();
        printWindow.close();
        return ture;

    }
</script>

<!--panel-->
<div class='panel panel-default margin_top margin_bottom panel_border'>

    <!--panel_heading-->
    <div class='panel-heading panel_heading_style'>
        <h4 class="font_weight h1_no_margin report_heading"><?php echo $this->translate('Outgoing Payment Report') ?></h4>
    </div>

    <div class="panel-body panel_body_style flex-container">

        <!--links-->
        <div class="col-lg-3 col-md-3 remove_left_padding remove_right_padding panel_links">
            <ul class="nav nav-pills  nav-stacked data-tabs" data-tabs="tabs">
                <li id="Monthly" class="report_pills active commanClass"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Monthly') ?></a></li>
                <li id="Daily" class="report_pills commanClass"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Daily') ?></a></li>
                <li id="Annual" class="report_pills commanClass"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Annually') ?></a></li>
                <li id="Summery" class="report_pills commanClass"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Summary') ?></a></li>
                <!--<li id="Payments" class="report_pills last_link"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Payments') ?></a></li>-->
            </ul>
        </div>

        <!--process_area-->
        <div class="col-lg-9 col-md-9 form-horizontal process_area">
            <div id="report_head">

                <div class="form-group">

                    <div class="row">
                        <!--from_month-->
                        <div class="col-lg-6 col-md-6 col-sm-6 report_from_month xs-margin-bottom">
                            <label class="control-label from_month_lbl"><?php echo $this->translate('From Month') ?></label>
                            <label class="control-label hidden from_date_lbl"><?php echo $this->translate('From Date') ?></label>
                            <label class="control-label hidden from_year_lbl"><?php echo $this->translate('Year') ?></label>

                            <input type="text" class="span2 datepicker form-control" id="fromDate" name="fromDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to set a From Date') ?>">
                            <input type="text" class="span2 datepicker form-control" id="fromMonth" name="fromMonth" data-date-format="MM-yyyy" placeholder="<?php echo $this->translate('From Month') ?>"/>
                            <input type="text" class="span2 datepicker form-control" id="year" name="year" data-date-format="yyyy" placeholder="<?php echo $this->translate('Click to set a Year') ?>">
                        </div>

                        <!--set_to_date-->
                        <div class="col-lg-6 col-md-6 col-sm-6 to set_to_date">
                            <label class="control-label to_month_lbl"><?php echo $this->translate('To Month') ?></label>
                            <label class="control-label to_date_lbl hidden"><?php echo $this->translate('To Date') ?></label>

                            <input type="text" class="span2 datepicker form-control" id="toDate" name="toDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to set a To Date') ?>">
                            <input type="text" class="span2 datepicker form-control" id="toMonth" name="toMonth" data-date-format="MM-yyyy" placeholder="<?php echo $this->translate('To Month') ?>"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 margin_top_normal">
                            <label class="control-label tax_chk_lbl"><?php echo $this->translate('Sort By') ?></label>
                            <div class="text_margin_top _row_with_margin">

                                <div class="locationpp col-lg-6 col-md-6 col-sm-6 xs-margin-bottom">
                                    <select class= "form-control selectpicker locationList" data-actions-box="true" data-live-search="true" name="locationList" id="locationList"   multiple title='<?php echo $this->translate('Select Location(s)') ?>'>
                                        <?php
                                        foreach ($this->locationList as $row):

                                            echo '<option value="' . $row['locationID'] . '">' . $row['locationName'] . '</option>';

                                        endforeach;
                                        ?>
                                    </select>
                                </div>

                                <div class="paymentpp col-lg-6 col-md-6 col-sm-6 xs-margin-bottom">
                                    <select class="form-control selectpicker paymentList" data-actions-box="true" data-live-search="true" name="paymentList" id="paymentList" multiple title='<?php echo $this->translate('Select Payment Type(s)') ?>'>
                                        <?php
                                        foreach ($this->paymentList as $row):
                                            echo '<option value="' . $row['paymentMethodID'] . '">' . $row['paymentMethodName'] . '</option>';

                                        endforeach;
                                        echo '<option value="' . 0 . '">Credit</option>';
                                        ?>
                                    </select>
                                </div>

                                <?php
                                ?>
                            </div>
                        </div>
                    </div><!--row-->

                    <div class="row">
                        <div class="col-lg-12 btn-group btn_panel_height_high report_buttons">
                            <button class="btn btn-default col-lg-2" id="viewReport"><?php echo $this->translate('View Report') ?></button>
                            <button class="btn btn-default col-lg-2" id="generatePdf"><?php echo $this->translate('Generate PDF') ?></button>
                            <button class="btn btn-default col-lg-2" id="csvReport"><?php echo $this->translate('Generate CSV') ?></button>
                            <!--<button class="btn btn-default col-lg-2" id="viewGraph"><?php echo $this->translate('View Graph') ?></button>-->
                        </div>
                    </div>

                </div><!--form-group-->

            </div><!--report_head-->
        </div><!--form_horizontal-->

    </div><!--panel_body-->
</div><!--panel-->

<iframe id="salesReport" class="panel panel-default margin_top margin_bottom panel_border report-iframe"></iframe>

