<html>
    <body style="background: #fff;">
        <div style="width: auto; height: auto; position: relative;">
            <h1 style="margin: 0; padding: 0; font-size: 19px; font-family: Arial, Sans-serif, Sans-serif; font-weight: normal; color: #ffffff; padding: 15px; padding-left: 15px; background: #5EB5E0;">Account Created</h1>
            <div style="width: auto; padding: 15px; padding-bottom: 30px; padding-top: 30px; border: 1px solid #5EB5E0;">
                <p style="margin: 0; padding: 0; font-family: Arial, Sans-serif; font-size: 15px; margin-bottom: 20px; color: #555555;"> Hello,</p>
                <p style="margin: 0; padding: 0; font-family: Arial, Sans-serif; font-size: 15px; margin-bottom: 20px; color: #555555;"> Your ezBiz account is ready to be used.</p>
                <p style="margin: 0; padding: 0; font-family: Arial, Sans-serif; font-size: 15px; margin-bottom: 20px; color: #555555;"><strong>Your account can be accessed from </strong><a href="<?php echo $this->domain; ?>"><?php echo str_replace(['http://', 'https://'], '', $this->domain); ?></a></p>
                <p style="margin: 0; padding: 0; font-family: Arial, Sans-serif; font-size: 15px; margin-bottom: 20px; color: #555555;"> Please use the following credentials to log in. </p>
                <p style="margin: 0; padding: 0; font-family: Arial, Sans-serif; font-size: 15px; margin-bottom: 3px; color: #555555;"><strong>Username - </strong><?php echo $this->username ?></p>
                <p style="margin: 0; padding: 0; font-family: Arial, Sans-serif; font-size: 15px; margin-bottom: 3px; color: #555555; padding-bottom: 20px;"><strong>Password - </strong><?php echo $this->password ?></p>
                <a href="<?php echo $this->domain; ?>" style="padding: 10px 15px; margin-bottom: 20px; border-radius: 3px; -moz-border-radius: 3px; font-family: Arial; text-decoration: none; background: #16A765; display:inline-block; color: #fff; border-bottom: 3px solid #128E54;">Get Started</a>
                <p style="margin: 0; padding: 0; font-family: Arial, Sans-serif; font-size: 15px; margin-bottom: 3px; color: #555555; padding-bottom: 50px; border-bottom: 1px solid #eeeeee;">And don't hesitate to contact us with your feedback.</p>
                <p style="font-family: Arial, Sans-serif; font-size: 13px; color: #777777; margin-top: 15px;">Team ezBiz</p>
            </div>
        </div>
    </body>
</html>

