<html>
    <body>

        <div style="width: auto; height: auto; position: relative;">
            <h1 style="margin: 0; padding: 0; font-size: 19px; font-family: Arial; font-weight: normal; color: #ffffff; padding: 15px; padding-left: 15px; background: #5EB5E0;">New Inquiry.</h1>
            <div style="width: auto; padding: 15px; padding-bottom: 30px; padding-top: 30px; border: 1px solid #5EB5E0;">
                <p style="margin: 0; padding: 0; font-family: 'arial'; font-size: 15px; margin-bottom: 3px; color: #555555;"> Dear <?php echo $this->employeeName ?>,</p>
                <p style="margin: 0; padding: 0; font-family: 'arial'; font-size: 15px; margin-bottom: 20px; color: #555555;">
                    New Inquiry has been <?php echo $this->inquirySetupName ?>d.
                    You have been assigned to that Inquiry with the Reference Number <?php echo $this->inquiryLogReference ?> regarding "<?php echo $this->inquiryLogDescription ?>"
                    at <?php echo $this->inquiryLogDateAndTime ?>.
                </p>
                <p style="margin: 0; padding: 0; font-family: 'arial'; font-size: 15px; margin-bottom: 20px; color: #555555;">
                    Thank you.
                </p>
                <p style="margin: 0; padding: 0; font-family: 'arial','sans-serif'; color: #5EB5E0; padding-bottom: 50px; border-bottom: 1px solid #eeeeee;"><?php ?></p>
                <p style="font-family: 'arial'; font-size: 13px; color: #777777; margin-top: 15px;">Team ezBiz</p>
            </div>
        </form>
</body>
</html>
