<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">
        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <?php 
                foreach ($dataSet as $key => $value) {
                    # code...
             ?>

            <table class="change_order_items table table-striped" style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; border-collapse: collapse;">

                <tbody>
                    <tr style="border: 1px solid black">
                        <th style="width: 10%"><?php echo $this->translate('Dimension Type') ?></th>
                        <th style="width: 12%"><?php echo $this->translate('GL Account Type') ?></th>
                        <th style="width: 20%"><?php echo $this->translate('GL Account Name') ?></th>
                        <th colspan="<?php echo sizeof($headers[$key]) + 1?>"><?php echo $this->translate('Dimension Values') ?></th>
                    </tr>
                    <tr style="border: 1px solid black">
                        <td style="width: 10%"></td>
                        <td style="width: 12%"></td>
                        <td style="width: 20%"></td>
                        <?php 
                            foreach ($headers[$key] as $headkey => $val) {
                        ?>
                        <td style="text-align: center;"><b><?php echo $this->translate($val['dimensionValueName']) ?></b></td>
                        <?php } ?>
                        <td style="text-align: center;"><b><?php echo $this->translate('Total') ?></b></td>
                    </tr>
                    <tr>
                        <td><b><?php echo $this->translate($dimensionType) ?></b></td>
                        <td></td>
                        <td></td>
                        <?php foreach ($headers[$key] as $key1 => $value1) {
                            
                        ?>
                        <td></td>
                        <?php } ?>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b><?php echo $this->translate('Income GL Accounts') ?></b></td>
                        <td></td>
                        <?php foreach ($headers[$key] as $key2 => $value2) { 
                        ?>
                        <td></td>
                        <?php } ?>
                        <td></td>
                    </tr>

                    <?php if (!$isSummery) { ?>
                        <?php
                            $incomColTotal = [];
                         foreach ($value['Income'] as $rowKey => $val) {
                            $incRowTotal = 0;
                        ?>
                            <tr class="table-incentive-row">
                                <td></td>
                                <td></td>
                                <td><?php echo $val['accName'] ?></td>
                                <?php                          
                                    foreach ($headers[$key] as $key5 => $val2) {
                                        $incRowTotal += $val[$val2['dimensionValueID']];
                                        $incomColTotal[$val2['dimensionValueID']] = $incomColTotal[$val2['dimensionValueID']] + $val[$val2['dimensionValueID']];
                                ?>
                                <td><?php echo $val[$val2['dimensionValueID']] ?></td>
                                <?php } 
                                $incomColTotal['tot'] = $incomColTotal['tot'] + $incRowTotal;

                                ?>
                                <td><?php echo  number_format($incRowTotal, 2) ?></td>
                            </tr>
                        <?php } ?>
                    <?php } else { ?>
                        <?php  
                            $incomColTotal = [];
                            foreach ($value['Income'] as $rowKey => $val) {
                                $incRowTotal = 0;
                                foreach ($headers[$key] as $key5 => $val2) {
                                    $incRowTotal += $val[$val2['dimensionValueID']];
                                    $incomColTotal[$val2['dimensionValueID']] = $incomColTotal[$val2['dimensionValueID']] + $val[$val2['dimensionValueID']];

                                }
                                $incomColTotal['tot'] = $incomColTotal['tot'] + $incRowTotal;
                            }
                        ?>
                    <?php  }?>
                    <tr style="border: 1px solid black">
                        <td></td>
                        <td></td>
                        <td><b>Total</b></td>
                        <?php foreach ($headers[$key] as $key75 => $val75) {?>
                            <td><b><?php echo number_format($incomColTotal[$val75['dimensionValueID']],2) ?></b></td>
                        <?php } ?>
                        <td><b><?php echo number_format($incomColTotal['tot'],2); ?></b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b><?php echo $this->translate('Expense GL Accounts') ?></b></td>
                        <td></td>
                        <?php foreach ($headers[$key] as $key2 => $value2) { 
                        ?>
                        <td></td>
                        <?php } ?>
                        <td></td>
                    </tr>
                    <?php if (!$isSummery) { ?>
                        <?php
                        $expenseColTotal = [];
                        foreach ($value['Expense'] as $rowKey1 => $val55) {
                            $expRowTotal = 0;
                        ?>
                            <tr class="table-incentive-row">
                                <td></td>
                                <td></td>
                                <td><?php echo $val55['accName'] ?></td>
                                <?php                          
                                    foreach ($headers[$key] as $key56 => $val56) {
                                        $expRowTotal += $val55[$val56['dimensionValueID']];
                                        $expenseColTotal[$val56['dimensionValueID']] = $expenseColTotal[$val56['dimensionValueID']] + $val55[$val56['dimensionValueID']];
                                ?>
                                <td><?php echo $val55[$val56['dimensionValueID']] ?></td>
                                <?php } 
                                $expenseColTotal['tot'] = $expenseColTotal['tot'] + $expRowTotal;
                                ?>
                                <td><?php echo  number_format($expRowTotal, 2) ?></td>
                                
                            </tr>
                        <?php } ?>
                    <?php } else {?>
                        <?php 
                            $expenseColTotal = [];
                            foreach ($value['Expense'] as $rowKey1 => $val55) {
                                $expRowTotal = 0;

                                foreach ($headers[$key] as $key56 => $val56) {
                                    $expRowTotal += $val55[$val56['dimensionValueID']];
                                    $expenseColTotal[$val56['dimensionValueID']] = $expenseColTotal[$val56['dimensionValueID']] + $val55[$val56['dimensionValueID']];
                                }
                                $expenseColTotal['tot'] = $expenseColTotal['tot'] + $expRowTotal;
                            }
                        ?>

                    <?php } ?>
                    <tr style="border: 1px solid black">
                        <td></td>
                        <td></td>
                        <td><b>Total</b></td>
                        <?php foreach ($headers[$key] as $key85 => $val85) {?>
                            <td><b><?php echo number_format($expenseColTotal[$val85['dimensionValueID']],2) ?></b></td>
                        <?php } ?>
                        <td><b><?php echo number_format($expenseColTotal['tot'],2); ?></b></td>
                    </tr>
                    <tr class="table-incentive-row">
                        <td><strong>Net Total</strong></td>
                        <td></td>
                        <td></td>
                        <?php foreach ($headers[$key] as $key35 => $val35) {?>
                            <td><b><?php echo number_format(($incomColTotal[$val35['dimensionValueID']]-$expenseColTotal[$val35['dimensionValueID']]),2) ?></b></td>
                        <?php } ?>
                        <td><b><?php echo number_format(($incomColTotal['tot']-$expenseColTotal['tot']),2); ?></b></td>
                        
                    </tr>
                </tbody>
            </table>
        <?php } ?>
        </div>
    </div>
</div>
<style type="text/css">
    .table-incentive-row {
        border: 1px solid black;
    }
</style>



