<!--panel-->
<div class='panel panel-default margin_top margin_bottom panel_border'>

    <div class='panel-heading panel_heading_style'><!--panel_heading-->
        <h4 class="font_weight h1_no_margin report_heading"><?php echo $this->translate('Income & Expense Report') ?></h4>
    </div>

    <div class="panel-body panel_body_style flex-container">

        <!--links-->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 remove_left_padding remove_right_padding panel_links">
            <ul class="nav nav-pills  nav-stacked data-tabs" data-tabs="tabs">
                <li id="incomeExpense" class="report_pills active"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Dimension wise income and expense summary report') ?></a></li>
            </ul>
        </div>

        <!--process_area-->
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 form-horizontal process_area">
            <div id="report_head">

                <div class="form-group">
                    <div class="row dimentionDate">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 report_from_start_date"><!--from_start_date-->
                            <label class="control-label from_date_lbl"><?php echo $this->translate('Start Date') ?></label>
                            <input type="text" class="span2 datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="trStartDate" name="trStartDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to Set a Start Date') ?>">
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 to report_from_end_date"><!--report_from_end_date-->
                            <label class="control-label to_date_lbl"><?php echo $this->translate('End Date') ?></label>
                            <input type="text" class="span2 datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="trEndDate" name="trEndDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to Set an End Date') ?>">
                        </div>
                    </div><!--row-->

                    <div class="row dimension_div">
                        <br>
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 report_dimesnion_type"><!--from_start_date-->
                            <label class="control-label from_date_lbl"><?php echo $this->translate('Dimension Type') ?></label>
                            <select class="form-control selectpicker show-tick dimenisonchange"  id="dimensionTypeId" name="dimensionTypeId" data-live-search="true">
                                <option class="dimensionTypeDefaultSelect" value=""><?php echo $this->translate('Select Dimension Type') ?></option>
                                <?php
                                    foreach ($this->dimensions as $key => $value) :
                                        echo '<option value="' . $key . '">' . $value . '</option>';
                                    endforeach;
                                ?>   
                            </select>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 to report_dimension_value"><!--report_from_end_date-->
                            <label class="control-label to_date_lbl"><?php echo $this->translate('Dimension Value') ?></label>
                            <!-- <select class="form-control show-tick dimensionVal" data-actions-box="true" id="dimensionVal" name="dimensionVal" data-live-search="true">
                                <option class="dimensionValDefaultSelect" value=""><?php echo $this->translate('Select Dimension Value') ?></option>
                            </select> -->
                            <select class='form-control selectpicker dimensionVal'  data-actions-box="true" data-live-search="true" name="category" id="dimensionVal" multiple="multiple" title="<?php echo $this->translate('Select Dimension Value'); ?>" data-selected-text-format="count>">
                            </select>
                            <select class="form-control selectpicker show-tick hidden dimensionJobNo" multiple="multiple" data-actions-box="true" id="dimensionJobNo" name="dimensionJobNo" data-live-search="true" title="<?php echo $this->translate('Select Job Number') ?>">
                                <!-- <option value=""><?php echo $this->translate('Select Job Number') ?></option> -->
                            </select>
                            <select class="form-control selectpicker show-tick hidden dimensionProjectNo" multiple="multiple" data-actions-box="true" id="dimensionProjectNo" name="dimensionProjectNo" data-live-search="true" title="<?php echo $this->translate('Select Project Number') ?>">
                                <!-- <option value=""><?php echo $this->translate('Select Project Number') ?></option> -->
                            </select>
                        </div>
                    </div><!--row-->
                    <br>
                    <div class="row summary-view-option hidden">
                        <br>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 supplier_all_summary_details">
                            <input type="checkbox" name="SummaryDetails" id="summaryRow" value="true"> <?php echo $this->translate('Summary Only') ?><br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 btn-group btn_panel_height_high report_buttons">
                            <button class="btn btn-default col-lg-2" id="viewReport"><?php echo $this->translate('View Report') ?></button>
                            <button class="btn btn-default col-lg-2" id="generatePdf"><?php echo $this->translate('Generate PDF') ?></button>
                            <button class="btn btn-default col-lg-2" id="csvReport"><?php echo $this->translate('Generate CSV') ?></button>
                        </div>
                    </div>
                </div><!--form-group-->

            </div><!--report_head-->
        </div><!--form_horizontal-->
    </div><!--panel_body-->
</div><!--panel-->

<iframe id="incomeExpenseReport" class="panel panel-default margin_top margin_bottom panel_border report-iframe"></iframe>