<?php
$form = $this->form;
$form->setAttribute('id', 'create-sales-person-form');
$form->prepare();
?>
<?php $this->headScript()->appendFile($this->basePath('js/user/salesPerson.js')); ?>
<div class="margin_top">
    <?php echo $this->form()->openTag($form); ?>

    <div class="well well_heading">
        <h5 class="font_weight"><?php echo $this->translate($panelTitle); ?></h5>
    </div>

    <div class="well well_body">
        <div class="form-horizontal">

            <div><?php echo $this->formRow($form->get('salesPersonID')); ?></div>

            <div class="form-group"><!--name-->
                <label class="control-label col-lg-3"><?php echo $this->translate("Short Name"); ?><span class="mandatory_field"> *</span></label>
                <div class="col-lg-6">
                    <?php echo $this->formRow($form->get('salesPersonSortName')); ?>
                </div>
            </div>

            <div class="form-group"><!--sales person title-->
                <label class="control-label col-lg-3"><?php echo $this->translate("Title"); ?></label>
                <div class="col-lg-6">
                    <?php echo $this->formRow($form->get('salesPersonTitle')); ?>
                </div>
            </div>

            <div class="form-group"><!--first_name-->
                <label class="control-label col-lg-3"><?php echo $this->translate("First name"); ?><span class="mandatory_field"> *</span></label>
                <div class="col-lg-6">
                    <?php echo $this->formRow($form->get('salesPersonFirstName')); ?>
                </div>
            </div>

            <div class="form-group"><!--last_name-->
                <label class="control-label col-lg-3"><?php echo $this->translate("Last name"); ?><span class="mandatory_field"> *</span></label>
                <div class="col-lg-6">
                    <?php echo $this->formRow($form->get('salesPersonLastName')); ?>
                </div>
            </div>

            <div class="form-group"><!--email-->
                <label class="control-label col-lg-3"><?php echo $this->translate("Email"); ?></label>
                <div class="col-lg-6">
                    <?php echo $this->formRow($form->get('salesPersonEmail')); ?>
                </div>
            </div>

            <div class="form-group"><!--telephone number-->
                <label class="control-label col-lg-3"><?php echo $this->translate("Telephone Number"); ?></label>
                <div class="col-lg-6">
                    <?php echo $this->formRow($form->get('salesPersonTelephoneNumber')); ?>
                </div>
            </div>

            <div class="form-group"><!--address-->
                <label class="control-label col-lg-3"><?php echo $this->translate("Address"); ?></label>
                <div class="col-lg-6">
                    <?php echo $this->formRow($form->get('salesPersonAddress')); ?>
                </div>
            </div>

            <div class="form-group"><!--address-->
                <label class="control-label col-lg-3"><?php echo $this->translate("User"); ?></label>
                <div class="col-lg-6">
                    <?php echo $this->formRow($form->get('salesPersonActiveUser')); ?>
                </div>
            </div>

            <div class="_row_with_margin clearfix">
                <div class="col-lg-9 text-right margin_top_normal">
                    <?php echo $this->formRow($form->get('update-sales-person-button')); ?>
                    <?php echo $this->formRow($form->get('reset-sales-person-button')); ?>
                    <?php echo $this->formRow($form->get('list-sales-person-button')); ?>
                    <?php echo $this->formRow($form->get('create-sales-person-button')); ?>
                </div>
            </div>

        </div>
    </div>

    <?php echo $this->form()->closeTag(); ?>
</div>