<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
<?php $this->headScript()->captureEnd() ?>


<?php $this->headScript()->appendFile($this->basePath('js/user/salesPerson.js')); ?>
<div id="create-sales-person-form-div" class="modal fade"></div>

<div class="margin_top">
    <?php
    if (isset($this->salesPersonHeader)):
        echo $this->salesPersonHeader;
    endif;
    ?>
</div>

<div id="salesPerson-list" class="margin_top_normal">
    <div class="table table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><?php echo $this->translate('Short Name'); ?></th>
                    <th><?php echo $this->translate('Full Name'); ?></th>
                    <th><?php echo $this->translate('Telephone No'); ?></th>
                    <th><?php echo $this->translate('Active User'); ?></th>
                    <th><?php echo $this->translate('Email'); ?></th>
                    <th ><?php echo $this->translate('Address'); ?></th>
                    <th class="text-center"><?php echo $this->translate('Status'); ?></th>
                    <th class="text-center"><?php echo $this->translate('Edit'); ?></th>
                    <th class="text-center"><?php echo $this->translate('Delete'); ?></th>
                </tr>
            </thead>

            <tbody>
                <?php
                foreach ($this->salesPersons as $key => $salesPerson) {
                    ?>
                    <tr>
                        <td> <?php echo $salesPerson->salesPersonSortName; ?></td>
                        <td> <?php
                            echo $salesPerson->salesPersonTitle . " " . $salesPerson->salesPersonFirstName . " " . $salesPerson->salesPersonLastName;
                            ?></td>
                        <td> <?php echo $salesPerson->salesPersonTelephoneNumber; ?></td>
                        <td> <?php echo $salesPerson->userUsername; ?></td>
                        <td> <?php echo $salesPerson->salesPersonEmail; ?></td>
                        <td> <?php echo $salesPerson->salesPersonAddress; ?></td>
                        <td class="text-center" ><a href="javascript:;" class="changeStatus" id="<?php echo $salesPerson->salesPersonID; ?>"><span class="<?php echo ($salesPerson->salesPersonStatus == 1) ? "glyphicon glyphicon-check" : "glyphicon glyphicon-unchecked"; ?>"></span></a></td>
                        <td class="text-center">
                            <a href="<?php
                            echo $this->url($this->route, array('action' => 'edit',
                                'param1' => $salesPerson->salesPersonID));
                            ?>" id="user-edit-<?php echo $salesPerson->salesPersonID ?>">
                                <span class="fa fa-pencil-square-o custom_font_size"></span></a>
                        </td>
                        <td class="text-center">

                            <a href="<?php
                            echo $this->url($this->route, array('action' => 'delete',
                                'param1' => $salesPerson->salesPersonID));
                            ?>" id="user-delete-<?php echo $salesPerson->salesPersonID ?>">
                                <span class="fa fa-trash-o custom_font_size"></span></a>

                        </td>

                        <?php
                    }

                    if (count($this->salesPersons) == 0) {
                        ?>
                    <tr class="not_found">
                        <td colspan="7"><?php echo $this->translate('No results were found.'); ?></td>
                    </tr>
                    <?php
                }
                ?>

            </tbody>
        </table>
    </div>

    <?php
    // add at the end of the file after the table
    echo $this->paginationControl(
            $this->salesPersons, 'sliding', array('partial/paginator.phtml', 'salesPerson'), array(
        'route' => 'SalesPerson', 'action' => 'index'
            )
    );
    ?>
</div>
</div>