<div class="row" id='sales-person-header'>
    <div class="row">
        <div class="add_margin create_user">
            <div class="col-lg-9 col-md-9 col-sm-9">
                <p><?php echo $this->translate('View Sales Person') ?></p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <a id="create-sales-person" href="/salesPerson/create" type="button" class="btn btn-default btn-block"><?php echo $this->translate('Create Sales Person') ?></a>
            </div>
        </div>
    </div>

    <div class="well clearfix well_custom_padding margin_top">
        <div class="col-lg-2 col-md-3 col-sm-12">
            <label class="remove_weight"><?php echo $this->translate('Search Sales Person') ?></label>
        </div>
        <form class='sales-person-search-form' method="post">
            <div class="xs-search-field col-lg-10 col-md-9 col-sm-12">
                <div class="input-group">
                    <input type="text" id ='searchSalesPerson' class="form-control" placeholder="<?php echo $this->translate('Enter Sales Person\'s Name or Part of the Name') ?>"/>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default search_btn_css minus_margin"><?php echo $this->translate('Search') ?></button>
                        <button type="reset" class="btn btn-default reset"><?php echo $this->translate('Cancel') ?></button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div><!--row-->
