<?php $this->headScript()->appendFile($this->basePath('js/jobs/material-request-admin.js')); ?>

<br>

<div class='well clearfix well_custom_padding xs_view'>
    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <label class="remove_weight margin_bottom_normal_low"><?php echo $this->translate('Material Approve') ?></label>
    </div>
    <form class="form-inline" id="search-form">
            <div class="form-group col-lg-6">
                <input type="text" name="searchKey" class="form-control" id="searchKey" placeholder="<?php echo $this->translate('Search by request code, project name or job name') ?>" autofocus="true">
            </div>
            <div class="form-group col-lg-2">
                <input type="text" name="fromDate" class="form-control datepicker pointer_cursor" id="fromDate" placeholder="<?php echo $this->translate('From Date') ?>" style="background-color: white" readonly="true" data-date-format="yyyy-mm-dd">
            </div>
            <div class="form-group col-lg-2">
                <input type="text" name="toDate" class="form-control datepicker pointer_cursor" id="toDate" placeholder="<?php echo $this->translate('To Date') ?>" style="background-color: white" readonly="true" data-date-format="yyyy-mm-dd">
            </div>
            <div class="form-group col-lg-1">
                <input type="submit" class="form-control btn-primary" value="<?php echo $this->translate('Search') ?>">
            </div>
            <div class="form-group col-lg-1">
                <input type="button" id="cancelSearch" class="form-control btn-default" value="<?php echo $this->translate('Cancel') ?>">
            </div>
    </form>
</div>


<div id="requests-list">
    <?php echo $requestsList?>
</div>


<div class="material-modal modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><?php echo $this->translate('List Of Products') ?></h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td><?php echo $this->translate('Item Code') ?></td>
                            <td><?php echo $this->translate('Item Name') ?></td>
                            <td><?php echo $this->translate('Rquested Qty') ?></td>
                            <td><?php echo $this->translate('Available Qty') ?></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
                <button type="button" class="btn approve-request" data-reqid="1"><?php echo $this->translate('Approve') ?></button>
            </div>
        </div>
    </div>
</div>
