<table class="table table-striped">
    <thead>
        <tr>
            <th class="col-lg-1"><?php echo $this->translate('Request Code') ?></th>
            <th class="col-lg-3"><?php echo $this->translate('Project Name') ?></th>
            <th class="col-lg-3"><?php echo $this->translate('Job Name') ?></th>
            <th class="col-lg-3"><?php echo $this->translate('Requested Date') ?></th>
            <th class="col-lg-2" colspan="2">
                <!-- <select name="statusFilter" class="form-control" id="statusFilter">
                    <option value="all" selected="true">Show all</option>
                    <option value="approved">Approved only</option>
                    <option value="close">Closed only</option>
                </select> -->
            </th>
        </tr>
    </thead>
    <tbody>
    <?php
    if(count($this->requests)) {
        foreach($this->requests as $req) {?>
        <?php
            $state = $this->status[$req->materialRequestStatus];
            $style = null;
            switch ($req->materialRequestStatus) {
                case "3":
                    $style = "label label-success";
                    break;
                case "8":
                    $style = "label label-primary";
                    break;
                case "9":
                    $style = "label label-info";
                    break;
                case "4":
                    $style = "label label-danger";
                    break;
                default :
                    $style = "label label-default";
            }
        ?>
        <tr id="<?php echo $req->materialRequestId?>">
            <td class="col-lg-2"><?php echo $req->materialRequestCode ? $req->materialRequestCode : '-'; ?></td>
            <td class="col-lg-3"><?php echo $req->projectName ? $req->projectName : '-'; ?></td>
            <td class="col-lg-3"><?php echo $req->jobName; ?></td>
            <td class="col-lg-2"><?php echo $req->materialRequestDate?></td>
            <td class="col-lg-1"><span class="<?php echo $style; ?>"> <?php echo $state; ?></td>
            <td class="col-lg-1">
                <button class="btn btn-primary view-request" data-jobid="<?php echo $req->jobId; ?>" data-reqid="<?php echo $req->materialRequestId?>" data-status="<?php echo $req->materialRequestStatus?>">View</button>
            </td>
        </tr>
    <?php
        }
    }
    else {?>
        <tr>
            <td colspan="6"><?php echo $this->translate('No data to display') ?></td>
        </tr>
    <?php }?>
    </tbody>
</table>

<?php
    echo $this->paginationControl(
        $this->requests, 'sliding', 'partial/paginator.phtml', array(
            'route' => 'materialRequisition', 'action' => 'index'
        )
    );
?>
