<?php
/**
 * @author ASHAN <ashan@thinkcube.com>
 * This file contains index view
 */
$form = $this->form;
$locationID = $this->locationID;
$locationRefID = $this->locationRefID;
$companyCurrencySymbol = $this->companyCurrencySymbol;
$form->setAttribute('id', 'create-transfer-form');
?>

<!--<div class="well toggle_purpose margin_top">
    <h5 class="font_weight"><?php echo $this->translate('Item Transfer') ?></h5>
</div>-->

<div class="clearfix margin_top">
    <div class="form-horizontal clearfix margin_bottom product-form">

        <?php
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <?php
        if ($refNotSet) {
            ?>
            <script>
                $(function () {
                    $('#refNotSet').modal('show');
                })
            </script>
            <?php
        }
        ?>
        <div class="row">

            <div class="col-lg-5 col-md-5">
                <!--transfer_code-->
                <div class="form-group">
                    <label class="col-lg-5 text-right control-label"><?php echo $this->translate('Transfer No') ?><font color="red"> *</font></label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($form->get('transferCode')); ?>
                        <input type="hidden" id="locationRefID" value="<?php echo $locationRefID ?>">
                    </div>
                </div>

                <!--from-->
                <div class="form-group">
                    <label class="col-lg-5 text-right control-label"><?php echo $this->translate('From') ?><font color="red"> *</font></label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($form->get('locationOut')); ?>
                        <input type="hidden" id="locationOutID" value="<?php echo $locationID ?>">
                    </div>
                </div>

                <!--to-->
                <div class="form-group">
                    <label class="col-lg-5 text-right control-label"><?php echo $this->translate('To') ?><font color="red"> *</font></label>
                    <div class="col-lg-7">
                        <select class="form-control selectpicker show-tick"  id="locationIn" name="locationIn" data-live-search="true">
                            <option value=""><?php echo $this->translate('Select Location') ?></option>
                        </select>
                    </div>
                </div>
            </div><!--col-lg-5-->

            <div class="col-lg-5 col-md-5 col-lg-offset-2 col-md-offset-2">
                <!--transfer_date-->
                <div class="form-group">
                    <label class="col-lg-5 text-right control-label"><?php echo $this->translate('Transfer Date') ?><font color="red"> *</font></label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($form->get('date')); ?>
                    </div>
                </div>

                <!--description-->
                <div class="form-group">
                    <label class="col-lg-5 text-right control-label"><?php echo $this->translate('Description') ?></label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($form->get('description')); ?>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dimensionType" class="col-lg-5 control-label">
                        <?php echo $this->translate('Select Documents'); ?>
                    </label>
                    <div class="col-lg-7 createPoDiv">
                        <input type="file" name="files[]" id="documentFiles" multiple>
                    </div>
                    <div class="col-lg-4 updatePoDiv hidden">
                        <input type="file" name="files[]" id="editDocumentFiles" multiple class="btn btn-default fromControl" style="border-color: white">
                    </div>
                    <div class="col-lg-3 text-right updatePoDiv_view hidden">
                        <button class="btn btn-default fromControl" type="button" id='viewUploadedFiles'><i class="glyphicon glyphicon-eye-open"></i></button>
                    </div>
                </div>
            </div><!--col-lg-5-->
        </div><!--row-->

        <input type="submit" class="hidden">

        <div id="productTable" class="table table-responsive col-lg-12 margin_top">
            <table id='transfer-table' class="table transfer-table table-striped margin_top_normal table-condensed">
                <thead>
                    <tr>
                        <th style="width: 30%"><?php echo $this->translate('Item Code or Name') ?></th>
                        <th style="width: 30%"><?php echo $this->translate('Available Qty') ?></th>
                        <th style="width: 30%"><?php echo $this->translate('Qty') ?></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="add-row sample">
                        <td>
                            <select class="form-control selectpicker show-tick"  id="productCode" name="productCode" data-live-search="true">
                                <option value=""><?php echo $this->translate('Select Item Code or Name') ?></option>
                            </select>
                        </td>
                        <td>
                            <div class="">
                                <input type="text" id='availableQty' class="form-control" readonly="true" name="availableQuantity">
                            </div>
                        </td>
                        <td>
                            <div class="">
                                <input type="text" id='transferQty' class="form-control"  name="transferQuantity">
                            </div>
                        </td>
                        <td class="hidden">
                            <button  type='button' class="edit-modal btn btn-default" title="Select Batch / Serial Products">
                                <i class="glyphicon glyphicon-th-list"></i>
                            </button>
                        </td>
                        <td>
                            <button  class="add btn btn-default" type="button">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>
                            <button  class="edit btn btn-default" type="button">
                                <i class="glyphicon glyphicon-edit"></i>
                            </button>
                            <button  class="save btn btn-default" type="button">
                                <i class="glyphicon glyphicon-floppy-disk"></i>
                            </button>
                        </td>
                        <td>
                            <button  class="delete disabled btn btn-default" type="button">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div><!--product_table-->

        <div class="margin_top_high col-lg-12">
            <div class="text-right">
                <input type="button" value="<?php echo $this->translate('Clear') ?>" id="back" class="btn btn-default">
                <input type="submit" value="<?php echo $this->translate('Save') ?>" id="save" class="btn btn-primary">
            </div>
        </div>
        <?php echo $this->form()->closeTag($form); ?>
    </div><!--form_horizontal-->
</div><!--margin_top-->

<div class="modal fade" id="add-product-batch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog large">
        <div class="modal-content">
            <form id="product-batch-modal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><?php echo $this->translate('&times;') ?></button>
                    <h4 class="modal-title"><?php echo $this->translate('Select Batch / Serial Products') ?></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group form-inline serial-auto-select hidden col-lg-12">
                        <div class="col-lg-7">
                            <label for="select_qty">
                                Auto select serial number count : 
                            </label>
                        </div>
                        <div class="col-lg-3">
                            <input type="number" name="selected_quantity" id='numberOfRow' min="1" class="form-control">
                        </div>
                        <div class="col-lg-2">
                            <input type="button" value="Set" id="select_serials" class='btn btn-primary'>
                        </div>
                    </div>
                    
                    <div class="form-group form-inline">
                        <label for="serarch_key" >
                            Search serial product
                        </label>
                        <input type="text" name="search_key" id="search_key" class="form-control">
                    </div>
                    <input type="hidden" class="re_row">
                    <div class="table table-responsive">
                        <table class="batch-table table-striped margin_top_normal table-condensed">
                            <thead>
                                <tr>
                                    <th style="width: 25%" class="text-left"><?php echo $this->translate('Batch Code') ?></th>
                                    <th style="width: 25%" class="text-left"><?php echo $this->translate('Serial Code') ?></th>
                                    <th style="width: 25%" class="text-left"><?php echo $this->translate('Available Qty') ?></th>
                                    <th style="width: 25%" class="text-center"><?php echo $this->translate('Transfer Qty') ?></th>
                                </tr>
                            </thead>
                            <tbody id="batch_data">
                                <tr id="defaultRow" class="batch_row hidden">
                                    <td class="batchCode"></td>
                                    <td class="serialID"></td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" readonly="true" name="availableQuantity" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" name="transferQuantity" class="form-control">
                                        </div>
                                        <input type="checkbox" name="transferQuantityCheck" value="1">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-right">
                    <input type="submit" value="<?php echo $this->translate('Save') ?>" id="batch-save" class="btn btn-primary">
                    <!--<input data-dismiss="modal" aria-hidden="true" type="button" value="Back" id="batchBack" class="btn btn-danger">-->
                </div>
            </form>
        </div> <!-- /.modal-content -->
    </div> <!--/.modal-dialog -->
</div> <!--/.modal-->
<div class="modal fade" id="refNotSet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $refNotSet; ?>
</div>
<script type="text/javascript">
    var el = document.getElementById("transferCode");
    if (el.value == "") {
        el.focus();
    }
</script>