<div id="trasnfer-list" class="form-horizontal clearfix margin_bottom">
    <div class="table-responsive">
        <table class="table table-striped" style="margin-bottom: 50px;">
            <thead>
                <tr>
                    <th width="15%"><?php echo $this->translate('Transfer No') ?></th>
                    <th width="15%"><?php echo $this->translate('Location Out') ?></th>
                    <th width="15%"><?php echo $this->translate('Location In') ?></th>
                    <th width="15%"><?php echo $this->translate('Transfer Date') ?></th>
                    <th width="15%"><?php echo $this->translate('Reason') ?></th>
                    <th class="text-center" width="10%"><?php echo $this->translate('Status') ?></th>
                    <th class="edit text-center" width="10%"><?php echo $this->translate('View') ?></th>
                    <th class="text-center" width="10%"><?php echo $this->translate('Print View') ?></th>
                    <th class="text-center"><?php echo $this->translate('Attachments') ?></th>
                </tr>
            </thead>
            <tbody>
                <?php
                foreach ($this->transfer as $key => $transfer) {
                    $transfer = (object) $transfer;
                    $state = ucfirst($this->statuses[$transfer->transferStatus]);


                    switch ($transfer->transferStatus) {
                        case "1":
                            $style = "label label-primary";
                            break;
                        case "2":
                            $style = "label label-default";
                            break;
                        case "3":
                            $style = "label label-success";
                            break;
                        case "4":
                            $style = "label label-warning";
                            break;
                        case "5":
                            $style = "label label-primary";
                            break;
                        case "6":
                            $state = 'Open';
                            $style = "label label-danger";
                            break;
                        default :
                            $style = "label label-default";
                    }
                    ?>
                    <tr>
                        <td><?php echo $transfer->transferCode; ?></td>
                        <td><?php echo $transfer->locationOutName; ?></td>
                        <td><?php echo $transfer->locationInName; ?></td>
                        <td><?php echo $this->userDateFormatHelper($transfer->transferDate, $this->dateFormat); ?></td>
                        <td><?php echo $transfer->transferDescription; ?></td>
                        <td class="text-center"><span class="<?php echo $style; ?>"><?php echo $state; ?></span></td>
                        <td class="text-center">
                            <a href="<?php echo $this->url('transfer', array('action' => 'view', 'param1' => $transfer->transferID)); ?>" class ="editTransfer">
                                <span class="fa fa-search-plus"></span>
                            </a>
                        </td>
                        <td class="text-center">
                            <span class="transfer-preview link_color" style="cursor:pointer" data-href="<?php echo $this->url('transfer', array('action' => 'transferView', 'param1' => $transfer->transferID)); ?>">
                                <span id="<?php echo $transfer->transferID; ?>" class="glyphicon glyphicon-eye-open openlist"></span>
                            </span>
                        </td>
                        <td class="text-center">
                            <span id="<?php echo $transfer->transferID; ?>" class="link_color doc_attachments" data-transfer-related-id="<?php echo $transfer->transferID; ?>" style="cursor:pointer"><span class="glyphicon glyphicon-paperclip"></span></span>
                        </td>
                    </tr>
                    <?php
                }
                if (count($this->transfer) == 0) {
                    ?>
                    <tr class="not_found">
                        <td colspan="7"><?php echo $this->translate('No results were found.'); ?></td>
                    </tr>
                    <?php
                }
                ?>

            </tbody>
        </table>
    </div>

    <?php
    if ($this->paginated) {
        echo $this->paginationControl(
                $this->transfer, 'sliding', array('partial/paginator.phtml', 'transfer'), array(
            'route' => 'transfer', 'action' => 'list'
                )
        );
    }
    ?>
</div>