<div class="well clearfix well_custom_padding margin_top">
    <form class="transfer-search" method="post" action="" autocomplete="off">
        <div class="col-lg-2">
            <label class="remove_weight"><?php echo $this->translate('Search Transfer') ?></label>
        </div>
        <div class="col-lg-8 col-md-10 col-sm-9 xs-margin-bottom">
            <select id="searchTransfer" class=" form-control col-lg-3 selectpicker" title="" data-live-search="true">
                <option value=""><?php echo $this->translate('Select Transfer') ?></option>
            </select>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3">
            <button type="button" class="btn btn-default btn-block" id="transferSearchClear"><?php echo $this->translate("All Transfers"); ?></button>
        </div>
    </form>
</div>

<div class="row">
    <div id="transfer-list" class="margin_top_normal">
        <?php echo $this->partial('inventory/transfer/list-table', array('transfer' => $this->transfer, 'paginated' => $this->paginated, 'statuses' => $this->statuses, 'dateFormat' => $this->dateFormat)); ?>
    </div>
</div>
<div class="modal fade" id="viewAttachmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->attachmentsView; ?>
</div>
