<?php
/**
 * @author ASHAN <ashan@thinkcube.com>
 * This file contains index view
 */
?>
<!--<div class="well toggle_purpose margin_top">
    <h5 class="font_weight"><?php echo $this->translate('Item Transfer') ?></h5>
</div>-->
<?php $this->headScript()->captureStart() ?>
var productsUom =  <?php echo $this->productsUom ?>;
<?php $this->headScript()->captureEnd() ?>

<div class="clearfix margin_top">
    <div class="form-horizontal product-form">

        <div class="row">
            <div class="col-lg-5 col-md-5">
                <!--transfer_code-->
                <div class="form-group">
                    <label class="col-lg-5 col-md-5 col-sm-4 text-right control-label"><?php echo $this->translate('Transfer No :') ?></label>
                    <div class="col-lg-7 col-md-7 col-sm-8 label_top_margin">
                        <input type="text" class="form-control" value="<?php echo $this->transfer['transferCode']; ?>" disabled="true">
                    </div>
                </div>

                <!--from-->
                <div class="form-group">
                    <label class="col-lg-5 col-md-5 col-sm-4 text-right control-label"><?php echo $this->translate('Transfer From :') ?></label>
                    <div class="col-lg-7 col-md-7 col-sm-8 label_top_margin">
                        <input type="text" class="form-control" value="<?php echo $this->transfer['locationOutName']; ?>" disabled="true">
                    </div>
                </div>

                <!--to-->
                <div class="form-group">
                    <label class="col-lg-5 col-md-5 col-sm-4 text-right control-label"><?php echo $this->translate('Transfer To :') ?></label>
                    <div class="col-lg-7 col-md-7 col-sm-8 label_top_margin">
                        <input type="text" class="form-control" value="<?php echo $this->transfer['locationInName']; ?>" disabled="true">
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-5 col-lg-offset-2 col-md-offset-2">
                <!--transfer_date-->
                <div class="form-group">
                    <label class="col-lg-5 col-md-5 col-sm-4 text-right control-label"><?php echo $this->translate('Transfer Date :') ?></label>
                    <div class="col-lg-7 col-md-7 col-sm-8 label_top_margin">
                        <input type="text" class="form-control" value="<?php echo $this->userDateFormatHelper($this->transfer['transferDate'], $this->dateFormat); ?>" disabled="true">
                    </div>
                </div>

                <!--description-->
                <div class="form-group">
                    <label class="col-lg-5 col-md-5 col-sm-4 text-right control-label"><?php echo $this->translate('Description :') ?></label>
                    <div class="col-lg-7 col-md-7 col-sm-8 label_top_margin">
                        <textarea class="form-control" disabled="true"><?php echo $this->transfer['transferDescription']; ?></textarea>
                    </div>
                </div>
            </div><!--./col-->
        </div><!--row-->

        <div class="col-lg-12  table-responsive">
            <table class="table transfer-view-table margin_top_high table-condensed transfer_table">
                <thead>
                    <tr>
                        <th style="width: 30%" class="tf_fi_head"><?php echo $this->translate('Item Code') ?></th>
                        <th style="width: 30%" class="tf_se_head"><?php echo $this->translate('Item Name') ?></th>
                        <th style="width: 30%" class="tf_th_head"><?php echo $this->translate('Quantity') ?></th>
                        <!--<th style="width: 25%" class="tf_th_head" colspan="2"><?php // echo $this->translate('Unit Price')                              ?></th>-->
                    </tr>
                </thead>

                <tbody>
                    <?php
                    foreach ($this->transferredProducts as $pID => $product) {
                        $hasSubProducts = (isset($product['batch']) || isset($product['serial']));
                        ?>
                        <tr class="add-row">
                            <td><input type="text" class="form-control" disabled readonly="true" value="<?php echo $product['productCode']; ?>" /></td>
                            <td><input type="text" class="form-control" disabled readonly="true" value="<?php echo $product['productName']; ?>" /></td>
                            <td colspan="<?php // echo ($hasSubProducts) ? 1 : 2;                                 ?>">
                                <div class="input-group uom-select" id="<?php echo $product['productID'] ?>">
                                    <?php
                                    $singleUom = !(count($product['uoms']) > 1);
                                    ?>
                                    <input type="text" class="form-control productUom" name="transferQuantity" value="<?php echo $product['transferProductQuantity']; ?>" readonly="true">
                                </div>
                            </td>
    <!--                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control" value="<?php // echo $product['transferUnitPrice'];                             ?>" readonly="true">
                                    <strong class="input-group-addon"><?php // echo $this->companyCurrencySymbol;                             ?></strong>
                                </div>
                            </td>-->
                            <td class="<?php echo ($hasSubProducts) ? '' : 'hidden'; ?>">
                                <button  class="subproducts-modal btn btn-default" title="Batch / Serial Products" data-toggle="modal" data-target="#subproduct-modal-<?php echo $pID; ?>">
                                    <i class="glyphicon glyphicon-th-list"></i>
                                </button>
                            </td>
                        </tr>
                        <?php
                    }
                    ?>
                </tbody>
            </table>
        </div><!--table_responsive-->

        <!--back_button-->
        <div class="margin_top_high col-lg-12">
            <div class="text-right">
                <input type="button" class="btn btn-primary tra_back_btn" value="<?php echo $this->translate('Back') ?>"/>
            </div>
        </div>

    </div><!--form_horizontal-->
</div><!--margin_top-->


<?php
foreach ($this->transferredProducts as $pID => $product) {
    if (isset($product['batch']) || isset($product['serial'])) {
        ?>
        <div class="modal fade batch-serial-modal" id="subproduct-modal-<?php echo $pID; ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog large">
                <div class="modal-content">

                    <form id="product-batch-modal">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><?php echo $this->translate('&times;') ?></button>
                            <h4 class="modal-title"><?php echo $this->translate('Select Batch / Serial Products') ?></h4>
                        </div>

                        <div class="modal-body">
                            <input type="hidden" class="re_row">
                            <div class="table table-responsive">
                                <table class="batch-table table-striped margin_top_normal table-condensed transfer_table">
                                    <thead>
                                        <tr>
                                            <th style="width: 35%" class="tf_modal_first"><?php echo $this->translate('Batch Code') ?></th>
                                            <th style="width: 35%" class="tf_modal_second"><?php echo $this->translate('Serial Code') ?></th>
                                            <th style="width: 30%" class="tf_modal_third"><?php echo $this->translate('Transfer Qty') ?></th>
                                        </tr>
                                    </thead>
                                    <tbody id="batch_data" class="batch_data">
                                        <?php
                                        foreach ($product['batch'] as $b) {
                                            ?>
                                            <tr class="batch_row">
                                                <td class="batchCode"><?php echo $b['productBatchCode']; ?></td>
                                                <td class="serialID"><?php echo $b['productSerialCode']; ?></td>
                                                <td>
                                                    <div class="input-group uom-select" data-id="<?php echo $product['productID']; ?>">
                                                        <input type="text" name="transferQuantity" class="form-control productUom" value="<?php echo $b['transferProductQuantity']; ?>" readonly="true" >
                                                    </div>
                                                </td>
                                            </tr>
                                            <?php
                                        }

                                        foreach ($product['serial'] as $s) {
                                            ?>
                                            <tr class="batch_row">
                                                <td class="batchCode"><?php echo $s['productBatchCode']; ?></td>
                                                <td class="serialID"><?php echo $s['productSerialCode']; ?></td>
                                                <td>
                                                    <div class="input-group uom-select"  data-id="<?php echo $product['productID']; ?>">
                                                        <input type="text" name="transferQuantity" class="form-control productUom" value="<?php echo $s['transferProductQuantity']; ?>" readonly="true">
                                                    </div>
                                                </td>
                                            </tr>
                                            <?php
                                        }
                                        ?>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="modal-footer text-right">
                            <input type="button" value="<?php echo $this->translate('Close') ?>" class="modal-close btn btn-danger">
                            <!--<input data-dismiss="modal" aria-hidden="true" type="button" value="Back" id="batchBack" class="btn btn-danger">-->
                        </div>

                    </form>
                </div> <!-- /.modal-content -->
            </div> <!--/.modal-dialog -->
        </div> <!--/.modal-->
        <?php
    }
}
?>