<?php $this->headScript()->appendFile($this->basePath('js/jquery.tablesorter.js')); ?>
<script>
    $(document).ready(function()
    {
//        $("#paymentbill").tablesorter();
    }
    );
</script>
<div id="payment-list">
    <div class="form-group data_table">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="tablesorter table-striped table" id="paymentbill">
                    <thead class="table_row_color">
                        <tr class="margin_bottom">
                            <th class="viewable text-left sorting_asc" aria-controls="paymentbill" style="width: 10%;"><?php echo $this->translate('Inv.No') ?></th>
                            <th class="sorting_asc" style="width: 10%;"><?php echo $this->translate('Date') ?></th>
                            <th class="sorting_asc" style="width: 10%;"><?php echo $this->translate('Due Date') ?></th>
                            <th class="sorting_asc text-right" style="width: 10%;"><?php echo $this->translate('Amount') ?></th>
                            <th class="sorting_asc text-right" style="width: 10%;"><?php echo $this->translate('Settled') ?></th>
                            <th class="sorting_asc text-right" style="width: 10%"><?php echo $this->translate('Left') ?></th>
                            <!--<th class="sorting_asc" style="width: 16%;"><?php // echo $this->translate('Pay From Credit Bal.')             ?></th>-->
                            <!--<th class="sorting_asc" style="width: 14%;"><?php // echo $this->translate('Pay Method')                 ?></th>-->
                            <th class="sorting_asc text-right" style="width: 16%;"><?php echo $this->translate('Payment') ?></th>
                        </tr>
                    </thead>
                    <tbody>
                    	<?php
                    	$creditInvoice = $this->creditInvoice;
                    	$checkInv = 0;
                    	if(count($this->payments)>0){
                    		while ($ts = $this->payments->current()) {
                    			$t = (object) $ts;
                    			$t->salesInvoiceCustomCurrencyRate = ( $t->salesInvoiceCustomCurrencyRate == 0) ? 1 : $t->salesInvoiceCustomCurrencyRate;
                    			if ($t->statusID == '1' || $t->statusID == '3' || $t->statusID == '6') {
                    				$checkInv++;
                    				?>
                    				<tr id=<?php echo $t->salesInvoiceID ?>>
                    					<td class="code text-left"> <?php echo $t->salesInvoiceCode ?></td>
                    					<td class="text-left"><?php echo $this->userDateFormatHelper($t->salesInvoiceIssuedDate, $this->dateFormat); ?></td>
                    					<td class="text-left"> <?php echo $this->userDateFormatHelper($t->salesInvoiceOverDueDate, $this->dateFormat); ?></td>
                    					<td class="yyy text-right"> <?php echo number_format(($t->salesinvoiceTotalAmount - $creditInvoice[$t->salesInvoiceID]) / $t->salesInvoiceCustomCurrencyRate, 2) ?></td>
                    					<td class="xxx text-right"> <?php echo number_format($t->salesInvoicePayedAmount / $t->salesInvoiceCustomCurrencyRate, 2) ?></td>
                    					<td class="ttt text-right"> <?php echo number_format(($t->salesinvoiceTotalAmount - $t->salesInvoicePayedAmount - $creditInvoice[$t->salesInvoiceID]) / $t->salesInvoiceCustomCurrencyRate, 2) ?></td>
        <!--                                    <td class="zzz text-left">
                                        <div class="input-group">
                                            <span class="input-group-addon input-sm">
                                                <input class="chk" type="checkbox" invid=<?php // echo $t->salesInvoiceID             ?> id="currentCreditcheck" name="currentCreditcheck" value="add">
                                            </span>
                                            <input type="text" class="form-control input-sm lll text-right input-sm" id="view" readonly>
                                        </div> /input-group
                                    </td>-->
        <!--                                    <td class="met">
                                        <select class="sel form-control input-sm" id="paymentMethod">
                                            <option value=0>Select payment method</option>
                                    <?php
//                                            foreach ($this->paymentMethod as $key => $value) {
                                    ?>
                                                <option value=<?php // echo $key                ?>><?php // echo $value                ?> </option>
                                    <?php // }  ?>
                                    </select>
                                </td>-->
                                <td class="all">
                                	<input class="edi text-left form-control input-sm" type=text id="thisallocation" name="thisallocation">
                                </td>
                            </tr>
                            <?php
                        }
                    }
                }
                if($checkInv==0){?>
                <tr class="not_found">
                	<td colspan="10"><?php echo $this->translate('No Results Were Found.') ?></td>
                </tr>
                <?php
            }
            ?>
                    </tbody>
                </table>
            </div><!--table_responsive-->
        </div>
    </div>
</div>