<?php
    foreach ($cheques as $check) {
        if ($check['incomingPaymentCustomCurrencyRate'] == 0) {
            $currencyRate = 1;
        } else {
            $currencyRate = $check['incomingPaymentCustomCurrencyRate'];
        }
        if (isset($check['currencySymbol'])) {
            $customCurrencySymbol = $check['currencySymbol'];
        } else {
            $customCurrencySymbol = $this->companyCurrencySymbol;
        }
        ?>
        <?php echo '<tr>'; ?>
        <?php echo '<td>' . $check['incomingPaymentDate'] . '</td>'; ?>
        <?php echo '<td>' . $check['incomingPaymentCode'] . '</td>'; ?>
        <?php echo '<td>' . $check['customerName'] . '</td>'; ?>
        <?php echo '<td>'; ?>
        <?php echo is_null($check['postdatedChequeDate']) ? "-" : $check['postdatedChequeDate']; ?>
        <?php echo '</td>'; ?>
        <?php echo '<td>' . $customCurrencySymbol . " " . number_format(($check['incomingPaymentMethodAmount'] / $currencyRate), 2) . '</td>'; ?>
        <?php echo '<td>' . $check['incomingPaymentMethodChequeNumber'] . '</td>'; ?>
        <?php echo '<td>' . $check['incomingPaymentMethodChequeBankName'] . '</td>'; ?>
        <?php echo '</tr>'; ?>
        <?php
    }
    if (count($cheques) == 0) {
        ?>
        <tr class="not_found">
            <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
        </tr>
        <?php
    }

