<div id="payment-list">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('Payment No') ?></th>
                <th><?php echo $this->translate('Customer') ?></th>
                <th><?php echo $this->translate('Date') ?></th>
                <th class=""><?php echo $this->translate('Paid Amount') ?></th>
                <th class="text-center"><?php echo $this->translate('Status') ?></th>
                <th class="edit text-center"><?php echo $this->translate('Edit Payment') ?></th>
                <th class="edit text-center"><?php echo $this->translate('Print View') ?></th>
                <th class="text-center"><?php echo $this->translate('cancel') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->payments as $key => $payments) {
                if ($payments['incomingPaymentCustomCurrencyRate'] == 0) {
                    $currencyRate = 1;
                } else {
                    $currencyRate = $payments['incomingPaymentCustomCurrencyRate'];
                }
                if ($payments['currencySymbol'] != null) {
                    $customCurrencySymbol = $payments['currencySymbol'];
                } else {
                    $customCurrencySymbol = $this->companyCurrencySymbol;
                }
                $state = ucfirst($this->statuses[$payments['incomingPaymentStatus']]);
                switch ($payments['incomingPaymentStatus']) {
                    case "1":
                        $style = "label label-primary";
                        break;
                    case "2":
                        $style = "label label-default";
                        break;
                    case "3":
                        $style = "label label-success";
                        break;
                    case "4":
                        $style = "label label-warning";
                        break;
                    case "5":
                        $style = "label label-primary";
                        break;
                    case "6":
                        $state = 'Open';
                        $style = "label label-danger";
                        break;
                    default :
                        $style = "label label-default";
                }
                ?>
                <tr>
                    <td> <?php echo $payments['incomingPaymentCode']; ?></td>
                    <td><?php echo $payments['customerName'] . '-' . $payments['customerCode']; ?></td>
                    <td> <?php echo $this->userDateFormatHelper($payments['incomingPaymentDate'], $this->dateFormat); ?></td>
                    <td class=""><?php echo $customCurrencySymbol . ' ' . number_format(($payments['incomingPaymentPaidAmount'] +$payments['incomingPaymentCreditAmount'] / $currencyRate), 2); ?></td>
                    <td class="text-center"><span class="<?php echo $style; ?>"><?php echo $state; ?></span></td>
                    <td class="text-center">
                    <?php if($payments['customerStatus'] == 1) { ?>
                        <a class="edit link_color" style="cursor:pointer" href="/customerPayments/edit/<?php echo $payments['incomingPaymentID']; ?>" id="<?php echo $payments['incomingPaymentID']; ?>">
                            <span class="fa fa-pencil-square-o "></span></a>
                        <?php } else { ?>
                            <a class="editsInactive" style="cursor:pointer" href="#" id="<?php echo $payments['incomingPaymentID']; ?>">
                            <span class="fa fa-pencil-square-o "></span></a>

                            <?php } ?>
                    </td>
                    <td id="edit" class="text-center">
                        <span class="preview link_color" style="cursor:pointer" data-href="<?php echo '/customerPayments/viewReceipt/' . $payments['incomingPaymentID'] ?>" id="<?php echo $payments['paymentID']; ?>">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </span>
                    </td>
                    <?php if ($payments['incomingPaymentStatus'] != 5) { ?>
                        <td id="dele" class="text-center">
                        <?php if($payments['customerStatus'] == 1) { ?>
                            <a class ="del" data-toggle="modal" href="#delete_custom_payment" id="<?php echo $payments['incomingPaymentID'] ?>">
                                <span class="glyphicon glyphicon-ban-circle"></span></a>
                            <?php } else { ?>
                                <a class ="editsInactive" href="#" id="<?php echo $payments['incomingPaymentID'] ?>">
                                <span class="glyphicon glyphicon-ban-circle"></span></a>
                        <?php } ?>
                        </td>
                    <?php } else { ?>
                        <td></td>
                        <?php
                    }
                }
                if (count($this->payments) == 0) {
                    ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div>
<div class="modal fade" id="delete_custom_payment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4><?php echo $this->translate('Payment Cancel Confirmation') ?></h4>
            </div>

            <div class="modal-body rm_modal_body_bpa">

                <div class="form-group">
                    <p class="modal_para"><?php echo $this->translate('Please Enter Admin UserName and Password') ?></p>
                </div>

                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-4 control-label"><?php echo $this->translate('UserName') ?><font color="red"> *</font></label>
                        <div class="col-lg-6">
                            <input type="text" id="username" class="form-control" placeholder="<?php echo $this->translate('UserName') ?>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label"><?php echo $this->translate('Password') ?><font color="red"> *</font></label>
                        <div class="col-lg-6">
                            <input type="password" id="password" class="form-control" placeholder="<?php echo $this->translate('Password') ?>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label"><?php echo $this->translate('Comment') ?></label>
                        <div class="col-lg-6">
                            <textarea id="comment" class="form-control" placeholder="comment"></textarea>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Cancel') ?></button>
                <button id="delete-payment-button" class="btn btn-primary"><?php echo $this->translate('Cancel Payment') ?></button>
            </div>

        </div>
    </div>
</div><!--modal-->
