<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th><?php echo $this->translate("Ref. NO"); ?></th>
                        <th><?php echo $this->translate("User First Name"); ?></th>
                        <th><?php echo $this->translate("User Last Name"); ?></th>
                        <th><?php echo $this->translate("Till Open Time"); ?></th>
                        <th><?php echo $this->translate("Till Open balance") . "({$cSymbol})"; ?></th>
                        <th><?php echo $this->translate("Till Close Time"); ?></th>
                        <th><?php echo $this->translate("Till Close balance") . "({$cSymbol})"; ?></th>
                        <th><?php echo $this->translate("Total Collection") . "({$cSymbol})"; ?></th>
                    </tr>
                    <?php if (!array_filter($pBSD)) { ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="8"><?php echo $this->translate('No related data') ?></td>
                        </tr>

                        <?php
                    } else {
                        $i = 1;
                        $netTotalOpenBalance = 0;
                        $netTotalCloseBalance = 0;
                        $netTotalCollection = 0;
                        foreach ($pBSD as $userID => $data) {
                            if (!empty($data)) {
                                echo '
                    <tr class="even_row">
                    <td style="text-align: left">' . $i . '</td>
                    <td style="text-align: left">' . $data['uD']['fName'] . '</td>
                    <td style="text-align: left">' . $data['uD']['lName'] . '</td>
                    <td style="text-align: left"></td>
                    <td style="text-align: left"></td>
                    <td style="text-align: left"></td>
                    <td style="text-align: left"></td>
                    <td style="text-align: right"></td>
                    </tr>';
                                $netOpenBalance = 0;
                                $netColseBalance = 0;
                                $netCollection = 0;
                                foreach ($data['bD'] as $d) {
                                    $openBalance = $d['openingBalance'] ? $d['openingBalance'] : 0.00;
                                    $closeBalance = $d['closingBalance'] ? $d['closingBalance'] : 0.00;
                                    if ($closeBalance != 0) {
                                        $collection = $closeBalance - $openBalance;
                                    } else {
                                        $collection = 0;
                                    }
                                    $netOpenBalance += $openBalance;
                                    $netColseBalance += $closeBalance;
                                    $netCollection += $collection;
                                    $netTotalOpenBalance += $openBalance;
                                    $netTotalCloseBalance += $closeBalance;
                                    $netTotalCollection += $collection;
                                    echo '
                    <tr class="even_row">
                    <td style="text-align: left"></td>
                    <td style="text-align: left"></td>
                    <td style="text-align: left"></td>
                    <td style="text-align: left">' . $d['logInDateTime'] . '</td>
                    <td style="text-align: right">' . number_format($openBalance, 2) . '</td>
                    <td style="text-align: left">' . $d['logOutDateTime'] . '</td>
                    <td style="text-align: right">' . number_format($closeBalance, 2) . '</td>
                    <td style="text-align: right">' . number_format($collection, 2) . '</td>
                    </tr>';
                                }
                                echo '
                    <tr class="even_row">
                    <td style="text-align: right" colspan="4"><strong>Total</strong></td>
                    <td style="text-align: right"><strong>' . number_format($netOpenBalance, 2) . '<strong></td>
                    <td style="text-align: left"></td>
                    <td style="text-align: right"><strong>' . number_format($netColseBalance, 2) . '<strong></td>
                    <td style="text-align: right"><strong>' . number_format($netCollection, 2) . '<strong></td>
                    </tr>';
                                $i++;
                            }
                        }
                        echo '
                    <tr class="even_row">
                    <td style="text-align: right" colspan="4"><strong>Net Total</strong></td>
                    <td style="text-align: right"><strong>' . number_format($netTotalOpenBalance, 2) . '<strong></td>
                    <td style="text-align: left"></td>
                    <td style="text-align: right"><strong>' . number_format($netTotalCloseBalance, 2) . '<strong></td>
                    <td style="text-align: right"><strong>' . number_format($netTotalCollection, 2) . '<strong></td>
                    </tr>';
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>



