<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th style="width: 10%"><?php echo $this->translate("Ref. NO"); ?></th>
                        <th style="width: 13%"><?php echo $this->translate("Invoice/CreditNote ID"); ?></th>
                        <th style="width: 13%"><?php echo $this->translate("Created By"); ?></th>
                        <th style="width: 12%"><?php echo $this->translate("Date"); ?></th> 
                        <th style="width: 15%"><?php echo $this->translate("Invoice/CreditNote Amount") . " ({$cSymbol})"; ?></th>
                        <th style="width: 15%"><?php echo $this->translate("Invoice/CreditNote Paid Amount") . " ({$cSymbol})"; ?></th>
                        <th style="width: 9%"><?php echo $this->translate("Cash"). " ({$cSymbol})"; ?></th>
                        <th style="width: 9%"><?php echo $this->translate("Card"). " ({$cSymbol})"; ?></th>
                        <th style="width: 17%"><?php echo $this->translate("Other Payment type"). " ({$cSymbol})"; ?></th>
                        <!-- <th style="width: 15%"><?php echo $this->translate("Payment Amount")  ?></th>  -->                       
                    </tr>
                    <?php if (count($pPD) == 0) { ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="7"><?php echo $this->translate('No related data') ?></td>
                        </tr>

                        <?php
                    } else {
                        $i = 1;
                        $netInvTotal = 0;
                        $netInvPaidTotal = 0;
                        $netInvPayemntTotal = 0;
                        foreach ($pPD as $invID => $value) {
                            $netInvTotal += $value['invoiceTotalAmount'];
                            $netInvPaidTotal += $value['invoicePaidAmount'];
                            echo '
                                <tr class="even_row">
                                <td style="text-align: left">' . $i . '</td>
                                <td style="text-align: left">' . $value['invoiceCode'] . '</td>
                                <td style="text-align: left">' . $value['createdUser'] . '</td>
                                <td style="text-align: left">' . $value['invoiceIssuedDate'] . '</td>
                                <td style="text-align: right">' . number_format($value['invoiceTotalAmount'], 2) . '</td>
                                <td style="text-align: right">' . number_format($value['invoicePaidAmount'], 2) . '</td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                </tr>';
                            foreach ($value['paymentData'] as $paymentData) {
                                $netInvPayemntTotal += $paymentData['invoicePaidAmount'];
                                $cashAmount = ($paymentData['paymentTypeID'] == 'Cash') ? number_format($paymentData['invoicePaidAmount'], 2) : "";
                                $netCashAmount += ($paymentData['paymentTypeID'] == 'Cash') ? $paymentData['invoicePaidAmount'] : 0;

                                $cardAmount = ($paymentData['paymentTypeID'] == 'Card') ? number_format($paymentData['invoicePaidAmount'], 2) : "";
                                $netCardAmount += ($paymentData['paymentTypeID'] == 'Card') ? $paymentData['invoicePaidAmount'] : 0;

                                $OtherAmount = ($paymentData['paymentTypeID'] != 'Cash' && $paymentData['paymentTypeID'] != 'Card') ? number_format($paymentData['invoicePaidAmount'], 2) : "";
                                $netOtherAmount += ($paymentData['paymentTypeID'] != 'Cash' && $paymentData['paymentTypeID'] != 'Card') ? $paymentData['invoicePaidAmount'] : 0;

                                echo '
                                <tr class="odd_row">
                                <td style="text-align: left"></td>
                                <td style="text-align: left"></td>
                                <td style="text-align: left"></td>
                                <td style="text-align: left"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right">'. $cashAmount .'</td>
                                <td style="text-align: right">'. $cardAmount.'</td>
                                <td style="text-align: right">'. $OtherAmount.'</td>
                                </tr>';
                            }                            
                            $i++;
                        }
                        ?>
                         <tr class="even_row">
                            <td style="text-align: right;" colspan="4"><b><?php echo $this->translate('Net Total') ?></b></td>
                            <td style="text-align: right;"><b><?php echo number_format($netInvTotal, 2); ?></b></td>
                            <td style="text-align: right;"><b><?php echo number_format($netInvPaidTotal, 2); ?></b></td>
                            <td style="text-align: right;"><b><?php echo number_format($netCashAmount, 2); ?></b></td>
                            <td style="text-align: right;"><b><?php echo number_format($netCardAmount, 2); ?></b></td>
                            <td style="text-align: right;"><b><?php echo number_format($netOtherAmount, 2); ?></b></td>
                        </tr>
                    <?php                            
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>



