<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th><?php echo $this->translate("Ref. NO"); ?></th>
                        <th><?php echo $this->translate("Date"); ?></th>
                        <th><?php echo $this->translate("User"); ?></th>
                        <th><?php echo $this->translate("Invoice/CreditNote ID"); ?></th>
                        <?php
                        $colspan = 7;
                        if ($type == 'discount') :
                            $colspan = 8;
                            ?>
                            <th><?php echo $this->translate("Discount Amount({$cSymbol})"); ?></th>
                        <?php endif; ?>
                        <th><?php echo $this->translate("Invoice/CreditNote Amount({$cSymbol})"); ?></th>
                    </tr>
                    <?php if (count($iD) == 0) { ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="<?php echo $colspan; ?>"><?php echo $this->translate('No related data') ?></td>
                        </tr>

                        <?php
                    } else {
                        $i = 1;
                        $netInvTotal = 0;
                        $netInvDiscountTotal = 0;
                        foreach ($iD as $invID => $value) {
                            if ($value['salesinvoiceTotalAmount']) {
                                $invTotal = $value['salesinvoiceTotalAmount'];
                                $netInvTotal += $invTotal;  
                            } else if ($value['creditNoteTotal']) {
                                $invTotal = $value['creditNoteTotal'];
                                $netInvTotal -= $invTotal;  
                            } else {
                                $invTotal = 0.00;
                                $netInvTotal += $invTotal;
                            }
                            if ($type == 'discount') {
                                $discount = $value['salesInvoiceWiseTotalDiscount'];
                                $netInvDiscountTotal += $discount;
                            }
                            $iCD = $value['salesInvoiceCode'] ? $value['salesInvoiceCode'] :  $value['creditNoteCode'].' ('.$value['sCode'].')';
                            $date =  $value['salesInvoiceIssuedDate'] ? $value['salesInvoiceIssuedDate'] : $value['creditNoteDate'];
                            echo '
                    <tr class="even_row">
                        <td style="text-align: left">' . $i . '</td>
                        <td style="text-align: left">' . $date. '</td>
                        <td style="text-align: left">' . $value['userFirstName'] . '-' . $value['userUsername'] . '</td>
                        <td style="text-align: left">' . $iCD . '</td>';
                            if ($type == 'discount'):
                                echo '<td style="text-align: right">' . number_format($discount, 2) . '</td>';
                            endif;
                            echo '<td style = "text-align: right">' . number_format($invTotal, 2) . '</td>
                            </tr>';
                            $i++;
                        }
                        echo '
                            <tr class = "even_row">
                                <td style = "text-align: right" colspan = "4"><strong>Grand Total</strong></td>';
                        if ($type == 'discount'):
                            echo '<td style = "text-align: right"><strong>' . number_format($netInvDiscountTotal, 2) . '</strong></td>';
                        endif;
                        echo '<td style = "text-align: right"><strong>' . number_format($netInvTotal, 2) . '</strong></td>
                            </tr>';
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>



