<?php echo $this->translate('<div') ?> class='panel panel-default margin_top margin_bottom panel_border'>

    <div class='panel-heading panel_heading_style'><!--panel_heading-->
        <h4 class="font_weight h1_no_margin report_heading"><?php echo $this->translate('POS Report') ?></h4>
    </div>

    <div class="panel-body panel_body_style">

        <!--links-->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 remove_left_padding remove_right_padding panel_links">
            <ul class="nav nav-pills  nav-stacked data-tabs min_height" data-tabs="tabs">
                <li id="posInvoice" class="report_pills active"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('POS Invoice') ?></a></li>
                <li id="userWiseBalanceSummary" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('User wise Balance Summary') ?></a></li>
                <li id="posPayment" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('POS Payments') ?></a></li>
                <li id="posItemDiscount" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('POS Item Discount') ?></a></li>
                <li id="salesSummery" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Sales Summary') ?></a></li>
            </ul>
        </div>

        <!--process_area-->
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 form-horizontal process_area">
            <div id="report_head">

                <div class="form-group">
                    <div class="row">
                       <!--  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 date">
                            <label class="control-label" style="display: block;"><?php echo $this->translate('Date') ?></label>
                            <input type="text" class="span2 datepicker form-control" id="date" name="date" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to set a Date') ?>">
                        </div> -->
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 report_from_date"><!--from data-->
                            <label class="control-label from_date_lbl"><?php echo $this->translate('From Date') ?></label>
                            <input type="text" class="span2 datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="from-Date" name="from-Date" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to Set a From Date') ?>">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 to report_to_date"><!--to date-->
                            <label class="control-label to_date_lbl"><?php echo $this->translate('To Date') ?></label>
                            <input type="text" class="span2 datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="to-Date" name="to-Date" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to Set a To Date') ?>">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 payment-method">
                            <label class="control-label" style="display: block;"><?php echo $this->translate('Payment Method') ?></label>
                            <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="paymentMethod" id="paymentMethod" multiple="multiple">
                                <?php
                                foreach ($this->pML as $pMId => $p):
                                    echo '<option value="' . $p->paymentMethodID . '">' . $p->paymentMethodName . '</option>';
                                endforeach;
                                ?>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 user">
                            <label class="control-label" style="display: block;"><?php echo $this->translate('User') ?></label>
                            <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="user" id="user" multiple="multiple">
                                <?php
                                foreach ($this->uL as $uID => $u):
                                    echo '<option value="' . $u['userID'] . '">' . $u['userFirstName'] . ' - ' . $u['userUsername'] . '</option>';
                                endforeach;
                                ?>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 location">
                            <label class="control-label" style="display: block;"><?php echo $this->translate('Location') ?></label>
                            <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="location" id="location" multiple="multiple">
                                <?php
                                foreach ($this->aL as $lID => $l):
                                    echo '<option value="' . $lID . '">' . $l['locationCode'] . ' - ' . $l['locationName'] . '</option>';
                                endforeach;
                                ?>
                            </select>
                        </div>
                    </div><!--row-->
                    
                    <div class="row hidden" id="sales-summery-div">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 report_from_month"><!--from data-->
                            <label class="control-label from_date_lbl"><?php echo $this->translate('From Date') ?></label>
                            <input type="text" class="span2 datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="salesSummeryFromDate" name="fromDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to Set a From Date') ?>">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 to set_to_date"><!--to date-->
                            <label class="control-label to_date_lbl"><?php echo $this->translate('To Date') ?></label>
                            <input type="text" class="span2 datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="salesSummeryToDate" name="toDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to Set a To Date') ?>">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <label class="control-label" style="display: block;"><?php echo $this->translate('User') ?></label>
                            <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="user" id="salesSummeryUsers" multiple="multiple">
                                <?php
                                foreach ($this->uL as $uID => $u):
                                    echo '<option value="' . $u['userID'] . '">' . $u['userFirstName'] . ' - ' . $u['userUsername'] . '</option>';
                                endforeach;
                                ?>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <label class="control-label" style="display: block;"><?php echo $this->translate('Location') ?></label>
                            <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="location" id="salesSummeryLocations" multiple="multiple">
                                <?php
                                foreach ($this->aL as $lID => $l):
                                    echo '<option value="' . $lID . '">' . $l['locationCode'] . ' - ' . $l['locationName'] . '</option>';
                                endforeach;
                                ?>
                            </select>
                        </div>
                    </div>  
                    
                    <div class="row">
                        <div class="col-lg-12 btn-group btn_panel_height_high report_buttons">
                            <button class="btn btn-default col-lg-2" id="viewReport"><?php echo $this->translate('View Report') ?></button>
                            <button class="btn btn-default col-lg-2" id="generatePdf"><?php echo $this->translate('Generate PDF') ?></button>
                            <button class="btn btn-default col-lg-2" id="csvReport"><?php echo $this->translate('Generate CSV') ?></button>
                            <button class="btn btn-default col-lg-2 hidden" id="posPrint"><?php echo $this->translate('Print View') ?></button>
                        </div>
                    </div>
                </div><!--form-group-->
                
            </div><!--report_head-->
        </div><!--form_horizontal-->

    </div><!--panel_body-->
</div><!--panel-->

<iframe id="posReport" class="panel panel-default margin_top margin_bottom panel_border report-iframe"></iframe>

<div class="modal fade disable_when_print in" id="preview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
    <div class="modal-dialog" style="width: 100%;">
        <iframe id="documentpreview" class="POS POS-EX report-iframe" style="min-height: 10.9in;"></iframe>
        <div id="btn_group">
            <div class="form-group text-center" id="non-printable">
                <button class="btn btn-block" id="document_print"><?php echo $this->translate('Print') ?></button>
            </div>
            <div class="form-group text-center btn-block" id="non-printable">
                <button class="btn btn-danger btn-block" id="cancel"><?php echo $this->translate('Back') ?></button>
            </div>
        </div>
    </div>
</div>
