<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">
                <?php $width = ($printView == 1) ? '62%': '35%'; ?>
                <tbody>
                    <tr>
                        <td style="width: <?php echo $width; ?>; text-align: right"><b><?php echo $this->translate("Total Sales :"); ?></b></td>
                        <td><?php echo $salesData['totalSalesAmount']; ?></td>
                    </tr>
                    <tr>
                        <td style="width: <?php echo $width; ?>; text-align: right"><b><?php echo $this->translate("Total Sales Returns :"); ?></b></td>
                        <td><?php echo $salesData['totalCreditNoteAmount']; ?></td>
                    </tr>
                    <tr>
                        <td style="width: <?php echo $width; ?>; text-align: right"><b><?php echo $this->translate("Total Sales Cancellations :"); ?></b></td>
                        <td><?php echo $salesData['totalSalesCancellationAmount']; ?></td>
                    </tr>
                    <tr>
                        <td style="width: <?php echo $width; ?>; text-align: right"><b><?php echo $this->translate("Net Sales Total :"); ?></b></td>
                        <td><?php echo $salesData['netSalesTotal']; ?></td>
                    </tr>
                    <tr>
                        <td style="width: <?php echo $width; ?>; text-align: right"><b><?php echo $this->translate("Invoice Records :"); ?></b></td>
                        <td><?php echo $salesData['numberOfInvoices']; ?></td>
                    </tr>
                    <tr>
                        <td style="width: <?php echo $width; ?>; text-align: right"><b><?php echo $this->translate("Canceled Invoice Records :"); ?></b></td>
                        <td><?php echo $salesData['numberOfCanceledInvoices']; ?></td>
                    </tr>
                    <tr>
                        <td style="width: <?php echo $width; ?>; text-align: right"><b><?php echo $this->translate("Payment Records :"); ?></b></td>
                        <td><?php echo $salesData['numberOfPayments']; ?></td>
                    </tr>
                    <tr>
                        <td style="width: <?php echo $width; ?>; text-align: right"><b><?php echo $this->translate("Canceled Payment Records :"); ?></b></td>
                        <td><?php echo $salesData['numberOfCanceledPayments']; ?></td>
                    </tr>
                    <tr>
                        <td style="width: <?php echo $width; ?>; text-align: right"><b><?php echo $this->translate("Total Payment Amount :"); ?></b></td>
                        <td><?php echo $salesData['totalPaymentAmount']; ?></td>
                    </tr>
                    <tr>
                        <td style="width: <?php echo $width; ?>; text-align: right"><b><?php echo $this->translate("Cash Payments :"); ?></b></td>
                        <td><?php echo $salesData['totalCashPayments']; ?></td>
                    </tr>
                    <tr>
                        <td style="width: <?php echo $width; ?>; text-align: right"><b><?php echo $this->translate("Card Payments :"); ?></b></td>
                        <td><?php echo $salesData['totalCardPayments']; ?></td>
                    </tr>
                    <tr>
                        <td style="width: <?php echo $width; ?>; text-align: right"><b><?php echo $this->translate("Other Payments :"); ?></b></td>
                        <td><?php echo $salesData['totalOtherPayments']; ?></td>
                    </tr>
                    <tr>
                        <td style="width: <?php echo $width; ?>; text-align: right"><b><?php echo $this->translate("Cancelled Payments :"); ?></b></td>
                        <td><?php echo $salesData['totalPaymentCancellationAmount']; ?></td>
                    </tr>
                    <tr>
                        <td style="width: <?php echo $width; ?>; text-align: right"><b><?php echo $this->translate("Credit Note Payment Total :"); ?></b></td>
                        <td><?php echo $salesData['totalPaidCreditNoteAmount']; ?></td>
                    </tr>
                    <!-- <tr>
                        <td style="width: <?php echo $width; ?>; text-align: right"><b><?php echo $this->translate("Net Payment Amount :"); ?></b></td>
                        <td><?php echo $salesData['netPaymentAmount']; ?></td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</div>



