<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
<?php $this->headScript()->captureEnd() ?>

<!--add or update rating types-->
<div class="rating-types-form-container margin_top">
    <div class="well toggle_purpose">
        <h5 class="font_weight"><?php echo $this->translate('Add Rating Types') ?></h5>
        <h5 class="font_weight update  hidden"><?php echo $this->translate('Update Rating Types') ?></h5>
    </div>

    <?php
    $form->setAttribute('id', 'rating-types-form');
    $form->prepare();
    echo $this->form()->openTag($form);
    echo $this->formHidden($form->get('ratingTypesId'));
    ?>

    <div class="well remove_padding_bottom">
        <div class="form-group">
            <label for="ratingTypesCode" class="col-lg-3 col-md-3 col-sm-12 control-label">
                <?php echo $this->translate('Rating Types Code') ?><font color="red">*</font> :
            </label>
            <div class="col-lg-6 col-md-9 col-sm-12">
                <?php echo $this->formRow($form->get('ratingTypesCode')); ?>
            </div>
        </div>
        <div class="form-group">
            <label for="ratingTypesName" class="col-lg-3 col-md-4 col-sm-4 control-label">
                <?php echo $this->translate('Rating Types Name') ?><font color="red">*</font> :
            </label>
            <div class="col-lg-6 col-md-8 col-sm-8">
                <?php echo $this->formRow($form->get('ratingTypesName')); ?>
            </div>
        </div>
        <div class="form-group">
            <label for="ratingTypesDescription" class="col-lg-3 col-md-4 col-sm-4 control-label">
                <?php echo $this->translate('Rating Types Description') ?> :
            </label>
            <div class="col-lg-6 col-md-8 col-sm-8">
                <?php echo $this->formRow($form->get('ratingTypesDescription')); ?>
            </div>
        </div>
        <div class="form-group">
            <label for="ratingTypesMethod" class="col-lg-3 col-md-4 col-sm-4 control-label">
                <?php echo $this->translate('Rating Types Method') ?><font color="red">*</font> :
            </label>
            <div class="col-lg-6 col-md-8 col-sm-8">
                <?php echo $this->formRow($form->get('ratingTypesMethod')); ?>
                <div class="starRating hidden form-group margin_top">
                    <label for="ratingSize" class=" ratingSize col-lg-4 col-md-4 col-sm-4 control-label">
                        <?php echo $this->translate('Number of stars') ?><font color="red">*</font> :
                    </label>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <?php echo $this->formRow($form->get('ratingTypesMethodSize')); ?>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="ratingTypesMethodDefinition" class="col-lg-3 col-md-4 col-sm-4 control-label">
                <?php echo $this->translate('Rating Types Method Definition') ?><font color="red">*</font> :
            </label>
            <div class="col-lg-6 col-md-8 col-sm-8">
                <?php echo $this->formRow($form->get('ratingTypesMethodDefinition')); ?>
            </div>
        </div>
        <div class="form-group">
            <label for="ratingTypesState" class="col-lg-3 col-md-4 col-sm-4 control-label">
                <?php echo $this->translate('Rating Types State') ?> :
            </label>
            <div class="col-lg-6 col-md-8 col-sm-8">
                <?php echo $this->formRow($form->get('ratingTypesState')); ?>
            </div>
        </div>

        <!--button-->
        <div class="form-group margin_top_normal">
            <div class="col-lg-12 text-right">
                <?php echo $this->formRow($form->get('ratingTypesReset')); ?>
                <?php echo $this->formRow($form->get('ratingTypesSubmit')); ?>
                <?php echo $this->formRow($form->get('ratingTypesUpdate')); ?>
            </div>
        </div>

        <?php
        echo $this->form()->closeTag();
        ?>

    </div>
</div> <!--end of add or update rating types-->

<!--search rating types-->
<div class="well clearfix well_custom_padding margin_top rating-types-search">
    <form id="rating-types-search-form" method="post" action="">
        <div class="col-lg-3">
            <label class="remove_weight"><?php echo $this->translate('Search Rating Types') ?></label>
        </div>
        <div class="col-lg-9">
            <div class=" input-group">
                <input type="text" class="search form-control" id ='rating-types-search-keyword' placeholder="<?php echo $this->translate('Enter Rating Types') ?>"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default reset" type="reset"><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </form>
</div><!--End of search-->

<!--display category list-->
<div id="ratingTypesList">
    <?php echo $this->partial('invoice/rating-types/rating-types-list', array('ratingTypesList' => $this->ratingTypesList, 'isPaginated' => $this->isPaginated)) ?>
</div>
