<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>
<?php $currencySymbol = $this->companyCurrencySymbol; ?>
<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php
            echo $this->headerTemplate;
            ?>

            <table style = "width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class = "change_order_items">

                <tbody>
                    <tr>
                        <th><?php echo $this->translate("Ref. NO");
            ?></th>
                        <th><?php echo $this->translate("PO Code"); ?></th>
                        <th><?php echo $this->translate("PO Status"); ?></th>
                        <th><?php echo $this->translate("Supplier Code"); ?></th>
                        <th><?php echo $this->translate("Supplier Name"); ?></th>
                        <th><?php echo $this->translate("Expected Delivery Date"); ?></th>
                        <th><?php echo $this->translate("PO Total") . "({$currencySymbol})"; ?></th>
                    </tr>
                    <?php if (count($poL) == 0) { ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="8"><?php echo $this->translate("No related data found"); ?></td>
                        </tr>

                        <?php
                    } else {
                        $i = 1;
                        foreach ($poL as $key => $value) {
                            $sCD = $value['sCD'] ? $value['sCD'] : '-';
                            $sTitle = $value['sTitle'] ? $value['sTitle'] : '-';
                            $sName = $value['sName'] ? $value['sName'] : '-';
                            $poTot = $value['poTot'] ? $value['poTot'] : 0.00;
                            $poDate = $value['poDate'] ? $value['poDate'] : '-';
                            echo '
                    <tr class="even_row">
                    <td style="text-align: left">' . $i . '</td>
                    <td style="text-align: left">' . $value['poCD'] . '</td>
                    <td style="text-align: left">' . $value['statusName'] . '</td>
                    <td style="text-align: left">' . $sCD . '</td>
                    <td style="text-align: left">' . $sTitle . ' ' . $sName . '</td>
                    <td style="text-align: left">' . $poDate . '</td>
                    <td style="text-align: right">' . number_format($poTot, 2) . '</td>
                    </tr>';
                            $i++;
                        }
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>



