<!--panel-->
<div class='panel panel-default margin_top margin_bottom panel_border'>

    <!--panel_heading-->
    <div class='panel-heading panel_heading_style'>
        <h4 class="font_weight h1_no_margin report_heading"><?php echo $this->translate('PO Reports') ?></h4>
    </div>

    <div class="panel-body panel_body_style flex-container">

        <!--links-->
        <div class="col-lg-3 col-md-3 remove_left_padding remove_right_padding panel_links">
            <ul class="nav nav-pills nav-stacked data-tabs" data-tabs="tabs">
                <li id="poStatus" class="report_pills active"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('PO Status') ?></a></li>
                <li id="poWithGrn" class="report_pills"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('PO With GRN') ?></a></li>
            </ul>

        </div>


        <!--process_area-->
        <div class="col-lg-9 col-md-9 form-horizontal process_area">
            <div id="report_head">

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 product-content vlg-margin-bottom">
                            <div>
                                <label class="" name="isAllPOlbl" id="isAllPOlbl">
                                    <input type="radio" class="check_box_mar_right isAllPO" value="0" name="isAllPO" id="customPOSelection" checked> <?php echo $this->translate('Custom PO') . '(s)'; ?>
                                </label>
                                <div class="">
                                    <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="poLists" id="poLists" multiple="multiple" title="<?php echo $this->translate('Select PO(s)') ?>" data-selected-text-format="count>3"></select>
                                </div>
                            </div>
                        </div>

                        <!--all PO-->
                        <div class="col-lg-6 col-md-6 col-sm-6 product-content vlg-margin-bottom" id="isAllProductsCBox">
                            <label name="isAllPOlbl" id="isAllPOlbl">
                                <input type="radio" class="isAllPO" value="1" name="isAllPO" id="allProducts"><?php echo $this->translate('All POs'); ?>
                            </label>
                        </div>
                    </div><!--row-->

                    <div class="row hidden product-div form-group">
                        <div class="col-lg-6 col-md-6 col-sm-6 product-content vlg-margin-bottom">
                            <div>
                                <label class="" name="isAllProductslbl" id="isAllProductslbl">
                                    <input type="radio" class="check_box_mar_right isAllPdu" value="0" name="isAllProducts" id="customProductSelection" checked> <?php echo $this->translate('Custom Product') . '(s)'; ?>
                                </label>
                                <div class="">
                                    <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="productLists" id="productLists" multiple="multiple" title="<?php echo $this->translate('Select Product(s)') ?>" data-selected-text-format="count>3"></select>
                                </div>
                            </div>
                        </div>

                        <!--all Products-->
                        <div class="col-lg-6 col-md-6 col-sm-6 product-content vlg-margin-bottom" id="isAllProductsCheckBox">
                            <label name="isAllProductslbl" id="isAllProductslbl">
                                <input type="radio" class="isAllPdu" value="1" name="isAllProducts" id="selectAllPrducts"><?php echo $this->translate('All Products'); ?>
                            </label>
                        </div>
                    </div><!--row-->

                    <div class='row hidden date-div'>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 report_from_month vlg-margin-bottom">
                            <label class="control-label from_date_lbl"><?php echo $this->translate('From Date') ?></label>
                            <input type="text" class="span2 datepicker form-control" id="fromDate" name="fromDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to set a From Date') ?>">
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 to set_to_date vlg-margin-bottom">
                            <label class="control-label to_date_lbl"><?php echo $this->translate('To Date') ?></label>
                            <input type="text" class="span2 datepicker form-control" id="toDate" name="toDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to set a To Date') ?>">
                        </div>  
                    </div>
                                         

                    <div class="row">
                        <div class="col-lg-12 btn-group btn_panel_height_high report_buttons">
                            <button class="btn btn-default col-lg-2" id="viewReport"><?php echo $this->translate('View Report') ?></button>
                            <button class="btn btn-default col-lg-2" id="generatePdf"><?php echo $this->translate('Generate Pdf') ?></button>
                            <button class="btn btn-default col-lg-2" id="sheetReport"><?php echo $this->translate('Generate CSV') ?></button>
                        </div>
                    </div>
                </div><!--form-group-->

            </div>
        </div><!--form_hori-->

    </div><!--panel_body-->
</div><!--panel-->

<iframe id="purchaseOrderReport" class="panel panel-default margin_top margin_bottom panel_border report-iframe"></iframe>


