<?php
$debitNoteform = $this->debitNoteForm;
$locationName = $this->locationName;
$locationID = $this->locationID;
$locationCode = $this->locationCode;
$referenceNumber = $this->referenceNumber;
$debitNoteform->prepare();
?>
<div class="margin_top">

    <?php echo $this->form()->openTag($debitNoteform); ?>
    <?php
    if ($refNotSet) {
        ?>
        <script>
            $(function () {
                $('#refNotSet').modal('show');
            });
        </script>
        <?php
    }
    ?>

    <div class="well clearfix well_custom_padding margin_top sales_order_search">
        <div class="row">
            <div class="col-lg-2">
                <label for="pv_no" class="remove_weight"><?php echo $this->translate("Start Debit Note By") ?></label>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
                <select id="get-pv-select" class="form-control col-lg-4 selectpicker">
                    <option value="PV No">
                        <?php echo $this->translate('PI No') ?>
                    </option>
                </select>
            </div>
            <div class="col-lg-7 col-md-8 col-sm-7 col-xs-12">
                <select class="form-control selectpicker show-tick"  id="PVNo" name="PVNo" data-live-search="true">
                    <option value=""><?php echo $this->translate('Select PI Number') ?></option>
                </select>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-2">
                <label for='direct_cd_note'><?php echo $this->translate('Direct Debit Note')?></label>
            </div>
            <div class="col-lg-4">
                <input type="checkBox" id="directDebit">
            </div>
        </div>
    </div>

    <!--data_insert_section-->
    <div class="row">
        <div class="margin_top_normal">
            <div class="col-lg-5 col-md-5 col-sm-5">
                <div class="form-group">
                    <label for="supplier" class="col-lg-5 control-label">
                        <?php echo $this->translate("Supplier"); ?>
                        <font style="color: red">*</font>
                    </label>
                    <div class="col-lg-7 normalSupplier">
                        <?php echo $this->formRow($debitNoteform->get('supplier')); ?>
                    </div>
                    <div class="col-lg-7 directSupplier hidden" id="drcSup">
                        <select class="form-control selectpicker show-tick" id="directSupplier" name="directSupplier" data-live-search="true">
                            <option value=""><?php echo $this->translate('Select Supplier') ?></option>
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <label for="location" class="col-lg-5 control-label">
                        <?php echo $this->translate("Issue Location"); ?>
                        <font style="color: red">*</font>
                    </label>
                    <div class="col-lg-7">
                        <?php
                        if ($locationName != NULL && $locationID != NULL) {
                            $debitNoteform->get('currentLocation')->setValue($locationCode . ' - ' . $locationName)->setAttribute('disabled', true);
                            ?>
                            <input type="hidden" id="idOfLocation" value="<?php echo $locationID ?>">
                        <?php }
                        ?>
                        <?php echo $this->formRow($debitNoteform->get('currentLocation')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="paymentTerm" class="col-lg-5 control-label">
                        <?php echo $this->translate("Payment Term"); ?>
                    </label>
                    <div class="col-lg-7">
                        <select class="form-control" id="paymentTerm">
                            <?php
                            foreach ($this->paymentTerm as $terms => $termName) {
                                ?>
                                <option value="<?php echo $terms; ?>"><?php echo $termName; ?></option>
                            <?php } ?>
                        </select>
                    </div>
                </div>


            </div><!--./col-->
        </div><!--margin_top-->

        <div class="col-lg-5 col-md-5 col-sm-5 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
            <div class="form-group">
                <label for="date" class="col-lg-5 control-label">
                    <?php echo $this->translate("Debit Note Date"); ?>
                    <font style="color: red">*</font>
                </label>
                <div class="col-lg-7">
                    <input type="text" class="datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="debitNoteDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate("Click to Set a Date"); ?>">
                </div>
            </div>

            <div class="form-group">
                <label for="debitNoteNumber" class="col-lg-5 control-label">
                    <?php echo $this->translate('Debit Note No'); ?><font style="color: red"> *</font>
                </label>
                <div class="col-lg-7">
                    <?php
                    if ($referenceNumber != NULL) {
                        $debitNoteform->get('debitNoteNo')->setValue($referenceNumber)->setAttribute('disabled', true);
                    }
                    ?>
                    <?php echo $this->formRow($debitNoteform->get('debitNoteNo')); ?>
                    <input type="hidden" id="locRefID">
                </div>
            </div>
            <div class="form-group hidden" id="dimension_div">
                <label for="dimensionType" class="col-lg-5 control-label">
                    <?php echo $this->translate('Dimension'); ?>
                </label>
                <div class="col-lg-7">
                    <a data-toggle="modal" id="dimensionView" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></a>
                </div>
            </div>
            <div class="form-group">
                <label for="dimensionType" class="col-lg-5 control-label">
                    <?php echo $this->translate('Select Documents'); ?>
                </label>
                <div class="col-lg-7 createPoDiv">
                    <input type="file" name="files[]" id="documentFiles" multiple>
                </div>
                <div class="col-lg-4 updatePoDiv hidden">
                    <input type="file" name="files[]" id="editDocumentFiles" multiple class="btn btn-default fromControl" style="border-color: white">
                </div>
                <div class="col-lg-3 text-right updatePoDiv_view hidden">
                    <button class="btn btn-default fromControl" type="button" id='viewUploadedFiles'><i class="glyphicon glyphicon-eye-open"></i></button>
                </div>
            </div>
        </div><!--./col-->
    </div><!--margin_top-->
</div><!--row-->

<!--table-->
<div class="col-lg-12 normal-debit">
    <div id="productTable" class=" table table-responsive">
        <div id="productAddOverlay" class=""></div>
        <table class="debitNoteProductTable table  table-striped margin_top_normal table-condensed" id="debitNoteProductTable">
            <thead>
                <tr>
                    <th style="width: 23%"><?php echo $this->translate("Item Code or Name"); ?></th>
                    <th style="width: 13%"><?php echo $this->translate('Available Qty') ?></th>
                    <th style="width: 13%"><?php echo $this->translate("Debit Note Qty"); ?></th>
                    <th style="width: 17%"><?php echo $this->translate("Price"); ?></th>
                    <th class="text-right" style="width: 13%"><?php echo $this->translate("Dis.Per Item"); ?></th>
                    <th class="text-right" style="width: 6%"><?php echo $this->translate("Taxes"); ?></th>
                    <th class="text-right" style="width: 12%"><?php echo $this->translate("Total"); ?></th>
                    <th style="width: 1%"></th>
                    <th style="width: 1%"></th>
                    <th style="width: 1%"></th>
                </tr>
            </thead>

            <tbody id="form_row">
                <tr id='preSetSample' class="hidden">
                    <td id='code'></td>
                    <td id='availableQuantity'></td>
                    <td id='quantity'></td>
                    <td><span id="uomName" class='text-right'></span></td>
                    <td id='unit' class='text-right'></td>
                    <td id='disc' class='text-right'></td>
                    <td id='tax'><div class='btn-group'><button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'><span id='' class=''></span>&nbsp<span class='glyphicon glyphicon-chevron-down'></span></button><ul class=''></ul></div></td>
                    <td id='ttl' class=''></td>
                    <td><span class='grnDeleteProduct glyphicon glyphicon-trash delete'></span></td>
                    <td><span style="font-size: 18px" class='grnViewProducts glyphicon glyphicon-expand'></span></td>
                </tr>
            </tbody>

            <tbody id="add-new-item-row">
                <tr class="add-row sample hidden"><!--item_insert-->
                    <td class=""><?php echo $this->formRow($debitNoteform->get('itemCode')); ?></td>
                    <td>
                        <div class="">
                            <?php echo $this->formRow($debitNoteform->get('invoicedQuantity')); ?>
                        </div>
                    </td>
                    <td>
                        <div class="">
                            <?php echo $this->formRow($debitNoteform->get('debitNoteQuanity')); ?>
                        </div>
                    </td>
                    <td>
                        <div class="pull-right input-group">
                            <?php echo $this->formRow($debitNoteform->get('unitPrice')); ?>
                            <strong class="input-group-addon" style="padding-left: 4px; padding-right: 4px;"><?php echo $this->companyCurrencySymbol; ?></strong>
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <?php echo $this->formRow($debitNoteform->get('discount')); ?>
                            <span class="sign input-group-addon" style="padding-left: 4px; padding-right: 4px;"><?php echo $this->companyCurrencySymbol; ?></span>
                        </div>
                    </td>
                    <td id='tax'>
                        <div id="addNewTaxDiv" class='btn-group pull-right'>
                            <button id ="addNewTax" class='btn btn-default dropdown-toggle' data-toggle='dropdown'>
                                <span id='taxApplied' class='glyphicon glyphicon-unchecked'></span>
                                <i class="fa fa-angle-down bold" style="font-size: 18px;"></i>
                            </button>
                            <ul id="addTaxUl" class="text-left dropdown-menu">
                                <li id="sampleLi" class="hidden">&nbsp&nbsp
                                    <input class="taxChecks" id="" type='checkbox'>
                                    <label for="" class="taxName">&nbsp&nbsp</label>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <div class="pull-right input-group">
                            <label class="text-right" id="addNewTotal" style="margin-top: 6px;">0.00</label>
                        </div>
                    </td>
                    <td>
                        <button  class="edit-modal btn btn-default" title="Select Batch / Serial Products">
                            <i class="fa fa-list-ul"></i>
                        </button>
                    </td>
                    <td>
                        <button  class="add btn btn-default">
                            <i class="fa fa-plus"></i>
                        </button>
                        <button  class="edit btn btn-default hidden">
                            <i class="fa fa-pencil-square-o custom_font_size"></i>
                        </button>
                        <button  class="save btn btn-default hidden">
                            <i class="fa fa-floppy-o"></i>
                        </button>
                    </td>
                    <td>
                        <button  class="delete disabled btn btn-default">
                            <i class="fa fa-trash-o custom_font_size"></i>
                        </button>
                    </td>
                </tr>
            </tbody>

            <tbody>
                <tr>
                    <!--dummy-->
                    <td colspan="10">&nbsp;</td>
                </tr>
                <tr><!--sub_total-->
                    <td colspan="6" class="text-right"><?php echo $this->translate("Sub Total"); ?></td>
                    <td class="text-right"><label id="subtotal">0.00</label></td>
                    <td colspan="3"></td>
                </tr>

<!--                <tr>display_taxes
                    <td colspan="4">
                        <label class="remove_font_weight"><?php // echo $this->formRow($creditNoteform->get('showTax')) . "&nbsp;";                                                                                                                                                                                                                   ?><?php // echo $this->translate("Display Taxes");                                                                                                                                                                                                                   ?></label>
                    </td>
                    <td></td>
                    <td colspan="2" class="text-right">
                        <div id="totalTaxShow" class="hidden"></div>
                    </td>
                    <td colspan="2"></td>
                    <td></td>
                    <td></td>
                </tr>-->

<!--                <tr>delivery_charges
                    <td colspan="6">
                        <label class="remove_font_weight">
                <?php
//                            echo $this->formRow($creditNoteform->get('deliveryChargeEnable')) . "&nbsp;";
//                            echo $this->translate("Delivery Charges");
                ?>
                        </label>
                    </td>
                    <td class="text-right"><div class='deliCharges hidden'><?php // echo $this->translate("Delivery Charges");                                                                                                                                                                                                                    ?></div></td>
                    <td><div class='deliCharges hidden text-right'><?php // echo $this->formRow($creditNoteform->get('deliveryCharge'));                                                                                                                                                                                                                    ?></div></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>-->

                <tr><!--total-->
                    <td colspan="6" class="text-right"><h4 class="font_weight"><?php echo $this->translate("Total"); ?>
                        <strong class="cCurrency" ><?php echo $this->companyCurrencySymbol; ?></strong></h4>
                    </td>
                    <td class="text-right"><h4 id="finaltotal" class="font_weight">0.00</h4></td>
                    <td colspan="3"></td>
                </tr>
            </tbody>
        </table>

    </div><!--table_responsive-->
</div><!--./col-->

<div class="col-lg-12 direct-debit hidden">
    <div id="productTable" class="table">
        <div id="productsAddOverlay" class="overlay"></div>

        <table class="deliveryNoteProductTable table  table-striped margin_top_normal table-condensed" id="deliveryNoteProductTable">
            <thead>
                <tr>
                    <th style="width: 22%" class="th_code"><?php echo $this->translate("Item Code or Name"); ?></th>
                    <th style="width: 13%"><?php echo $this->translate('Available Qty'); ?></th>
                    <th style="width: 13%"><?php echo $this->translate("Quantity"); ?></th>
                    <th class="text-right" style="width: 15%"><?php echo $this->translate("Price"); ?></th>
                    <th class="text-right" style="width: 17%"><?php echo $this->translate("Dis.Per Item"); ?></th>
                    <th class="text-right" style="width: 5%"><?php echo $this->translate("Taxes"); ?>
                    </th>
                    <th class="text-right" style="width: 12%"><?php echo $this->translate("Total"); ?></th>
                    <th style="width: 1%"></th>
                    <th style="width: 1%"></th>
                    <th style="width: 1%"></th>
                </tr>
            </thead>

            <!--item_row_show-->
            <tbody id="form_row">
                <tr id='preSetSample' class="hidden">
                    <td id='code'></td>
                    <td id='availableQuantity' class='text-right'></td>
                    <td id='quantity' class='text-right'></td>
                    <td><span id="uomName" class='text-right'></span></td>
                    <td id='unit' class='text-right'></td>
                    <td id='disc' class='text-right'></td>
                    <td class='text-right' id='tax'><div class='btn-group'><button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'><span id='' class=''></span>&nbsp<span class='glyphicon glyphicon-chevron-down'></span></button><ul class=''></ul></div></td>
                    <td id='ttl' class='text-right'></td>
                    <td class='text-center'>
                        <button type='button' class='btn btn-default grnDeleteProduct'>
                            <i class='glyphicon glyphicon-trash delete'></i>
                        </button>
                    </td>
                    <td class='text-center'>
                        <button type='button' class='grnViewProducts btn btn-default'>
                            <i class='fa fa-expand'></i>
                        </button>
                    </td>
                </tr>
            </tbody>

            <!--item_enter_row-->
            <tbody id="add-new-item-row-for-dPr">
                <tr class="add-direct-debit-row sample hidden">
                    <td class="clearfix">
                        <p class="visible-xs"><?php echo $this->translate("Item Code or Name"); ?></p>
                        <select class="form-control  show-tick"  id="item_code" name="item_code" data-live-search="true">
                            <option class="itemCodeDefaultSelect" value=""><?php echo $this->translate('Select Item Code or Name') ?></option>
                        </select>
                    </td>
                    <td class="clearfix">
                        <p class="visible-xs"><?php echo $this->translate("Available Qty"); ?></p>
                        <div><?php echo $this->formRow($debitNoteform->get('availableQuantity')); ?></div>
                    </td>
                    <td class="clearfix">
                        <p class="visible-xs"><?php echo $this->translate("Qty"); ?></p>
                        <div><?php echo $this->formRow($debitNoteform->get('deliverQuanity')); ?></div>
                    </td>
                    <td class="clearfix">
                        <p class="visible-xs"><?php echo $this->translate("Price"); ?></p>
                        <div class="input-group">
                            <?php echo $this->formRow($debitNoteform->get('unitPrice')); ?>
                            <strong class="input-group-addon cCurrency"><?php echo $companyCurrencySymbol; ?></strong>
                        </div>
                    </td>
                    <td class="clearfix">
                        <p class="visible-xs"><?php echo $this->translate("Discount"); ?></p>
                        <div class="input-group" style="min-width: 130px">
                            <?php echo $this->formRow($debitNoteform->get('debitDiscount')); ?>
                            <span class="input-group-addon sign"></span>
                        </div>
                    </td>
                    <td class='text-right clearfix' id='tax'>
                        <p class="visible-xs"><?php echo $this->translate("Taxes"); ?></p>
                        <div id="addNewTaxDiv" class='btn-group'>
                            <button id ="addNewTax" type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'>
                                <span id='taxApplied' class='glyphicon glyphicon-unchecked'></span>
                                <i class='fa fa-caret-down'></i>
                            </button>
                            <ul id="addTaxUl" class="text-left dropdown-menu">
                                <li id="sampleLi" class="hidden">&nbsp&nbsp<input class="taxChecks" id="" type='checkbox' ><label for="" class="taxName">&nbsp&nbsp</label></li>
                                <li id="toggleSelection" class="">&nbsp&nbsp<div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs" id="selectAll"><?php echo $this->translate("Select all"); ?></button>
                                <button type="button" class="btn btn-default btn-xs" id="deselectAll"><?php echo $this->translate("Deselect all"); ?></button></div></li>
                            </ul>
                        </div>
                    </td>
                    <td class="clearfix">
                        <p class="visible-xs clearfix text-right"><?php echo $this->translate("Total"); ?></p>
                        <div class="text-right">
                            <label id="addNewTotal">0.00</label>
                        </div>
                    </td>
                    <td>
                        <button  type='button' class="edit-modal btn btn-default" title="Select Batch / Serial Items">
                            <i class="fa fa-sitemap"></i>
                        </button>
                    </td>
                    <td>
                        <button type='button' class="addDirectDebit btn btn-default">
                            <i class="fa fa-plus"></i>
                        </button>
                        <button class="saveDirectDebit btn btn-default hidden" type='button'>
                            <i class="fa fa-floppy-o"></i>
                        </button>
                    </td>
                    <td>
                        <button class="delete disabled btn btn-default" type='button'>
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </td>
                </tr>
            </tbody>

            <tbody class="deliveryNoteProductTable_footer">
                <!--dummy_row_for_separate_subtotal_section-->
                <tr class="hidden-xs">
                    <td colspan='10'>&nbsp;</td>
                </tr>

                <!--sub_total-->
                <tr>
                    <td colspan="6" class="text-right"><?php echo $this->translate("Sub Total"); ?></td>
                    <td class="text-right"><label id="directSubtotal">0.00</label></td>
                    <td colspan='3'></td>
                </tr>

                <!--total-->
                <tr>
                    <td colspan="6" class="text-right"><h4 class="font_weight"><?php echo $this->translate("Total  ") ?>&nbsp;<span class="cCurrency"> <?php echo $companyCurrencySymbol; ?></span></h4></td>
                    <td class="text-right"><h4 id="directFinaltotal" class="font_weight" style="font-size: 16px">0.00</h4></td>
                    <td colspan="3"></td>
                </tr>
            </tbody>
        </table>

    </div><!--table_responsive-->
</div><!--./col-->

<!--comment-->
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4"><!--comment-->
        <label for="cmnt" class="">
            <?php echo $this->translate("Comment"); ?>
        </label>
        <?php echo $this->formRow($debitNoteform->get('comment')); ?>
    </div>

    <?php echo $this->form()->closeTag(); ?>

    <div class="col-lg-4 col-sm-4"><!--button-->
        <div class="btn_margin_top ">
            <?php echo $this->formRow($debitNoteform->get('debitNoteCancelButton')); ?>
            <?php echo $this->formRow($debitNoteform->get('debitNoteSaveButton')); ?>
        </div>

    </div>
</div><!--row-->

<div class="modal fade" id="addDebitNoteProductsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->debitNoteAddProducts; ?>
</div>
<div class="modal fade" id="refNotSet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $refNotSet; ?>
</div>

<div class="modal fade" id="addDirectDebitProductsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->directDebitProducts; ?>
</div>
<div class="modal fade" id="addDimensionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->dimensionAddView; ?>
</div>