<div id="debit-note-list">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class=""><?php echo $this->translate('Debit Note No') ?></th>
                <th class=""><?php echo $this->translate('Supplier Name') ?></th>
                <th class=""><?php echo $this->translate('Issued Date') ?></th>
                <th class="text-center"><?php echo $this->translate('State') ?></th>
                <th class="text-right"><?php echo $this->translate('Total Amount') ?></th>
                <th class="text-right"><?php echo $this->translate('Print View') ?></th>
                <th class="text-center"><?php echo $this->translate('Related Documents') ?></th>
                <th class="text-center"><?php echo $this->translate('Attachments') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            if (count($this->debitNote) > 0) {
                foreach ($this->debitNote as $key => $debitNote) {
                    $status = $debitNote->statusID;
                    $state = ucfirst($this->statuses[$status]);
                    $style = NULL;
                    switch ($status) {
                        case "1":
                            $style = "label label-primary";
                            break;
                        case "2":
                            $style = "label label-default";
                            break;
                        case "3":
                            $style = "label label-success";
                            break;
                        case "4":
                            $style = "label label-warning";
                            break;
                        case "5":
                            $style = "label label-primary";
                            break;
                        case "6":
                            $state = 'Open';
                            $style = "label label-danger";
                            break;
                        default :
                            $style = "label label-default";
                    }
                    ?>
                    <tr>
                        <td class=""> <?php echo $debitNote->debitNoteCode; ?></td>
                        <td class=""> <?php echo $debitNote->supplierCode . "-" . $debitNote->supplierName; ?></td>
                        <td class=""> <?php echo $debitNote->debitNoteDate; ?></td>
                        <td class="text-center"><span class="<?php echo $style; ?>"> <?php echo $state; ?></span></td>
                        <td class="text-right"> <?php echo number_format($debitNote->debitNoteTotal, 2); ?></td>
                        <td class="text-right">
                            <span class="preview link_color" style="cursor:pointer" data-href="<?php echo $this->url('debitNote', array('action' => 'viewDebitNoteReceipt', 'param1' => $debitNote->debitNoteID)); ?>">
                                <span  id="<?php echo $debitNote->debitNoteID; ?>" class="glyphicon glyphicon-eye-open openlist"></span>
                            </span>
                        </td>
                        <td class="text-center">
                            <span id="<?php echo $debitNote->debitNoteID; ?>" class="link_color dn_related_docs" data-dn-related-id="<?php echo $debitNote->debitNoteID; ?>" style="cursor:pointer"><span class="grnView glyphicon glyphicon-link"></span></span>
                        </td>
                        <td class="text-center">
                            <span id="<?php echo $debitNote->debitNoteID; ?>" class="link_color doc_attachments" data-dn-related-id="<?php echo $debitNote->debitNoteID; ?>" style="cursor:pointer"><span class="glyphicon glyphicon-paperclip"></span></span>
                        </td>
                        <?php
                    }
                } else {
                    ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>

        </tbody>
    </table>
    <?php
    if ($this->paginated) {
        echo $this->paginationControl(
                $this->debitNote, 'sliding', array('partial/paginator.phtml', 'debitNote'), array(
            'route' => 'debitNote', 'action' => 'view'
                )
        );
    }
    ?>
</div>
