<div class="modal-dialog large grn_modal">
    <div class="modal-content">
        <form id="product-batch-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><?php echo $this->translate('&times;') ?></button>
                <h4 class="modal-title"><?php echo $this->translate('Select Batch / Serial Items') ?></h4>
            </div>
            <div class="modal-body">
                <input type="hidden" class="re_row">
                <div class="table-responsive">
                    <table class="table batch-table table-striped margin_top_normal table-condensed">
                        <thead>
                            <tr>
                                <th style="width: 20%" class="text-left"><?php echo $this->translate('Batch Code') ?></th>
                                <th style="width: 20%" class="text-left"><?php echo $this->translate('Serial Code') ?></th>
                                <th style="width: 30%" class="text-left"><?php echo $this->translate('Available Qty') ?></th>
                                <th style="width: 30%" class="text-center"><?php echo $this->translate('Deliver Qty') ?></th>
                            </tr>
                        </thead>
                        <tbody id="batch_data">
                            <tr id="defaultRow" class="batch_row hidden">
                                <td class="batchCode"></td>
                                <td class="serialID"></td>
                                <td>
                                    <div class="input-group">
                                        <input type="text" readonly="true" name="availableProductSubQuantity" class="form-control">
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="input-group">
                                        <input type="text" name="debitNoteProductSubQuantity" class="form-control">
                                    </div>
                                    <input type="checkbox" name="debitNoteProductSubQuantityCheck" value="1">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer text-right">
                <input type="submit" value="<?php echo $this->translate('Save'); ?>" id="batch-save" class="btn btn-primary">
                <!--<input data-dismiss="modal" aria-hidden="true" type="button" value="Back" id="batchBack" class="btn btn-danger">-->
            </div>
        </form>
    </div> <!-- /.modal-content -->
</div> <!--/.modal-dialog -->