<?php $this->headScript()->appendFile($this->basePath('js/Dn/viewDebitNote.js')); ?>

<div class='well clearfix well_custom_padding margin_top xs_view search-debit-notes'><!--get_Debit_Note-->

    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <label class="margin_bottom_normal_low"><?php echo $this->translate('Search Debit Notes') ?></label>
    </div>

    <div class="col-lg-3 col-sm-6">
        <select id="debit-note-search-select" class=" form-control selectpicker">
            <option value="Debit Note No"><?php echo $this->translate('Debit Note No') ?></option>
            <option value="Supplier Name"><?php echo $this->translate('Supplier Name') ?></option>
        </select>
    </div>

    <div class="col-lg-3 col-sm-6">
        <select class="form-control selectpicker show-tick"  id="debit-note-search" name="debit-note-search" data-live-search="true">
            <option value=""><?php echo $this->translate('Select Debit Note No') ?></option>
        </select>
        <select class="form-control selectpicker show-tick" id="debit-note-sup-search" name="debit-note-sup-search" data-live-search="true">
            <option value=""><?php echo $this->translate('Select Supplier Name') ?></option>
        </select>
    </div>

    <div class="col-lg-2 col-sm-6">
        <input type="text" style="" class="span2 datepicker form-control" id="from-date" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('From') ?>">
    </div>

    <div class="col-lg-2 col-sm-6">
        <input type="text" style="" class="span2 datepicker form-control" id="to-date" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('To') ?>">
    </div>

    <div class="col-lg-2 col-sm-6">
        <div class="btn-group">
            <button class="btn btn-default" id="filter-button"><?php echo $this->translate('Search') ?></button>
            <button class="btn btn-default" id="clear-search"><?php echo $this->translate('Clear') ?></button>
        </div>
    </div>
</div><!--well-->


<!--table-->
<div class="margin_top">
    <div class="table table-responsive">

        <div id="debit-note-list">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class=""><?php echo $this->translate('Debit Note No') ?></th>
                        <th class=""><?php echo $this->translate('Supplier Name') ?></th>
                        <th class=""><?php echo $this->translate('Issued Date') ?></th>
                        <th class="text-center"><?php echo $this->translate('State') ?></th>
                        <th class="text-right"><?php echo $this->translate('Total Amount') ?></th>
                        <th class="text-right"><?php echo $this->translate('Print View') ?></th>
                        <th class="text-right"><?php echo $this->translate('Related Documents') ?></th>
                        <th class="text-center"><?php echo $this->translate('Attachments') ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php
                    foreach ($this->debitNote as $key => $debitNote) {
                        $status = $debitNote->statusID;
                        $state = ucfirst($this->statuses[$status]);
                        $style = NULL;
                        switch ($status) {
                            case "1":
                                $style = "label label-primary";
                                break;
                            case "2":
                                $style = "label label-default";
                                break;
                            case "3":
                                $style = "label label-success";
                                break;
                            case "4":
                                $style = "label label-warning";
                                break;
                            case "5":
                                $style = "label label-primary";
                                break;
                            case "6":
                                $state = 'Open';
                                $style = "label label-danger";
                                break;
                            default :
                                $style = "label label-default";
                        }
                        ?>
                        <tr>
                            <td class=""> <?php echo $debitNote->debitNoteCode; ?></td>
                            <td class=""> <?php echo $debitNote->supplierCode . "-" . $debitNote->supplierName; ?></td>
                            <td class=""> <?php echo $debitNote->debitNoteDate; ?></td>
                            <td class="text-center"><span class="<?php echo $style; ?>"> <?php echo $state; ?></span></td>
                            <td class="text-right"> <?php echo number_format($debitNote->debitNoteTotal, 2); ?></td>
                            <td class="text-right">
                                <span class="preview link_color" style="cursor:pointer" data-href="<?php echo $this->url('debitNote', array('action' => 'viewDebitNoteReceipt', 'param1' => $debitNote->debitNoteID)); ?>">
                                    <span id="<?php echo $debitNote->debitNoteID; ?>" class="glyphicon glyphicon-eye-open openlist"></span>
                                </span>
                            </td>
                            <td class="text-center">
                                <span id="<?php echo $debitNote->debitNoteID; ?>" class="link_color dn_related_docs" data-dn-related-id="<?php echo $debitNote->debitNoteID; ?>" style="cursor:pointer"><span class="grnView glyphicon glyphicon-link"></span></span>
                            </td>
                            <td class="text-center">
                                <span id="<?php echo $debitNote->debitNoteID; ?>" class="link_color doc_attachments" data-dn-related-id="<?php echo $debitNote->debitNoteID; ?>" style="cursor:pointer"><span class="glyphicon glyphicon-paperclip"></span></span>
                            </td>
                        <?php } if (count($this->debitNote) == 0) {
                            ?>
                        <tr class="not_found">
                            <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                        </tr>
                    <?php }
                    ?>
                </tbody>
            </table>
            <?php
            echo $this->paginationControl(
                    $this->debitNote, 'sliding', array('partial/paginator.phtml', 'debitNote'), array(
                'route' => 'debitNote', 'action' => 'view'
                    )
            );
            ?>
        </div>

    </div><!--tabele_responsive-->
</div><!--margin_top-->

<div class="modal fade" id="addDocHistoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->docHistoryView; ?>
</div>
<div class="modal fade" id="DocumentViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->documentView; ?>
</div>
<div class="modal fade" id="viewAttachmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->attachmentsView; ?>
</div>
