<div class="groups-form-container margin_top">

    <div class="well well_heading">
        <h5><?php echo $this->translate('Create Groups') ?></h5>
    </div>

    <div class="well well_body">

        <?php
        $form = $this->financeGroupsForm;
        $form->setAttribute('id', 'create-finance-groups-form');

        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formHidden($form->get('financeGroupsID'));
        echo $this->formHidden($form->get('entityID'));
        ?>

        <!--finanace groups name  id-->
        <div class="form-group">
            <div class="col-lg-3">
                <label class="control-label label_bottom_margin" for="financeGroupsName"><?php echo $this->translate('Group Name')?><font color="red"> *</font></label>
            </div>
            <div class="col-lg-6">
                <?php echo $this->formRow($form->get('financeGroupsName')); ?>
            </div>
        </div>

        <!--finance Groups short name-->
        <div class="form-group">
            <div class="col-lg-3">
                <label class="control-label label_bottom_margin" for="financeGroupsShortName"><?php echo $this->translate('Group Short Name') ?><font color="red"> *</font></label>
            </div>
            <div class="col-lg-6">
                <?php echo $this->formRow($form->get('financeGroupsShortName')); ?>
            </div>
        </div>

        <!--finance Group Type id-->
        <div class="form-group">
            <div class="col-lg-3">
                <label class="control-label label_bottom_margin" for="financeGroupTypesID"><?php echo $this->translate('Group Type') ?><font color="red"> *</font></label>
            </div>
            <div class="col-lg-6">
                <?php echo $this->formRow($form->get('financeGroupTypesID')); ?>
            </div>
        </div>

        <!--finance group address-->
        <div class="form-group">
            <div class="col-lg-3">
                <label class="control-label label_bottom_margin" for="financeGroupsAddress"><?php echo $this->translate('Group Address') ?></label>
            </div>
            <div class="col-lg-6">
                <?php echo $this->formRow($form->get('financeGroupsAddress')); ?>
            </div>
        </div>

        <!--finance groups Parent id-->
        <div class="form-group">
            <div class="col-lg-3">
                <label class="control-label label_bottom_margin" for="financeGroupsParentID"><?php echo $this->translate('Parent Group') ?></label>
            </div>
            <div class="col-lg-6">
                <?php echo $this->formRow($form->get('financeGroupsParentID')); ?>
            </div>
        </div>

        <!--reset&add-->
        <div class="form-group _remove_margin_bottom btn_wrapper">
            <div class="col-lg-6 col-lg-push-3 text-right">
                <?php echo $this->formRow($form->get('createFinanceGroups')); ?>
                <?php echo $this->formRow($form->get('cancelFinanceGroups')); ?>
            </div>
        </div>

        <?php
            echo $this->form()->closeTag($form);
        ?>

    </div><!--well-->
</div><!--finance_groups_form_container-->