<div class='well clearfix well_custom_padding margin_top xs_view'>
    <div class="col-lg-3 col-md-3">
    	<label class="remove_weight margin_bottom_normal_low"><?php echo $this->translate('Search Groups') ?></label>
    </div>

    <div class="col-lg-9 col-md-9">
        <select class="form-control selectpicker show-tick"  id="groups-search" name="groups-search" data-live-search="true">
            <option value=""><?php echo $this->translate("Select a Group"); ?></option>
        </select>
    </div>
</div><!--well-->

<!--table-->
<div class="margin_top">
    <div class="table table-responsive">

        <div id="groups-list">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class=""><?php echo $this->translate('Group Name') ?></th>
                        <th class=""><?php echo $this->translate('Group Short Name') ?></th>
                        <th class=""><?php echo $this->translate('Group Address') ?></th>
                        <th class=""><?php echo $this->translate('Group Type Name') ?></th>
                        <th class=""><?php echo $this->translate('Group Parent Name') ?></th>
                        <th class="text-center"><?php echo $this->translate('Edit') ?></th>
                        <th class="text-center"><?php echo $this->translate('Delete') ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php
                    foreach ($this->financeGroups as $key => $groups) {
                        ?>
                        <tr>
                            <td class=""> <?php echo $groups->financeGroupsName; ?></td>
                            <td class=""> <?php echo $groups->financeGroupsShortName; ?></td>
                            <td class=""> <?php echo $groups->financeGroupsAddress; ?></td>
                            <td class=""> <?php echo $groups->financeGroupTypesName; ?></td>
                            <td class=""> <?php echo ($groups->parentFinanceGroupsName)? $groups->parentFinanceGroupsName : '-' ; ?></td>
                            <td class="text-center">
                            	<a class="edits" href="<?php echo $this->url('groups', array('action' => 'create', 'param1' => $groups->financeGroupsID));
                            		?>" id="<?php echo $groups->financeGroupsID ?>">
                            		<span class="fa fa-pencil-square-o custom_font_size"></span>
                            	</a>
                            </td>
                            <td class="text-center">
                                <a><span onclick="deleteGroups(<?php echo $groups->financeGroupsID; ?>)" class="pointer fa fa-trash-o custom_font_size"></span></a>
                            </td>
                            <?php
                        }
                        if (count($this->financeGroups) == 0) {
                            ?>
                        <tr class="not_found">
                            <td colspan="7"><?php echo $this->translate('No results were found.'); ?></td>
                        </tr>
                    <?php }
                    ?>
                </tbody>
            </table>
            <?php
            echo $this->paginationControl(
                    $this->financeGroups, 'sliding', array('partial/paginator.phtml', 'financeGroups'), array(
                'route' => 'groups', 'action' => 'list'
                    )
            );
            ?>
        </div>

    </div><!--tabele_responsive-->
    <div id="dynamicGroups"></div>
</div><!--margin_top-->