<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
var selectedCustomerID = '<?php echo $this->selectedCustomerID; ?>';
var selectedCustomerProfileData = <?php echo ($this->selectedCustomerProfileData) ? $this->selectedCustomerProfileData : array(); ?>;
var customerProfileRatingTypes = <?php echo ($this->customerProfileRatingTypes) ? $this->customerProfileRatingTypes : array(); ?>;
var customerRatingTypes = <?php echo ($this->customerRatingTypes) ? $this->customerRatingTypes : array(); ?>;
<?php $this->headScript()->captureEnd() ?>

<?php $this->headScript()->appendFile($this->basePath('js/invoice/customer.js')); ?>


<?php
$form = $this->form;
$form->setAttribute('action', $this->url('customer', array('action' => 'add')));
$form->setAttribute('id', 'addcustomerform');
$form->prepare();
?>

<?php
if ($refNotSet) {
    ?>
    <script>
        $(function() {
            $('#refNotSet').modal('show');
        });
    </script>
    <?php
}
?>

<div class="margin_top margin_bottom">
    <div class="well well_heading">
        <h5 class="font_weight"><?php echo $this->translate($panelTitle); ?></h5>
    </div>

    <div class="well well_body">
        <div class="form-horizontal">
            <?php echo $this->form()->openTag($form); ?>
            <input type="text" class="cusGender hidden" value="<?php echo $this->customerGender ?>">

            <div class="form-group"><!-- Title -->
                <label for="customerTitle" class="col-lg-3 col-md-3 col-sm-12 control-label"><?php echo $this->translate('Title ') ?></label>
                <div class="col-lg-6 col-md-9 col-sm-12">
                    <?php echo $this->formRow($form->get('customerTitle')); ?>
                </div>
            </div>
            <div class="form-group">
                <label for="customerCode" class="col-lg-3 col-md-3 col-sm-12 control-label"><?php echo $this->translate('Customer Code ') ?><font color="red">*</font>
                    <a class="help_icon_js" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="top" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('INVOICE_CUST_ADD_SNAME') ?>">
                        <i class="fa fa-question-circle help_icon"></i>
                    </a>
                </label>
                <div class="col-lg-6 col-md-9 col-sm-12">
                    <?php echo $this->formRow($form->get('customerCode')); ?>
                </div>
            </div>

            <div class="form-group">
                <label for="customername" class="col-lg-3 col-md-3 col-sm-12 control-label"><?php echo $this->translate('Customer Name ') ?><font color="red">*</font></label>
                <div class="col-lg-6 col-md-9 col-sm-12">
                    <?php echo $this->formRow($form->get('customerName')); ?>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 control-label"><?php echo $this->translate('Primary Telephone Number') ?><font color="red">*</font></label>
                <div class="col-lg-6 col-md-9">
                    <?php echo $this->formRow($form->get('customerTelephoneNumber')); ?>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 control-label"><?php echo $this->translate('Customer Rating Types') ?></label>
                <div class="col-lg-6 col-md-9">
                    <select id="customerRatingTypes" class="form-control selectpicker"  data-live-search="true">
                        <option value=""></option>
                        <?php foreach ($this->ratingTypesList as $key => $val) { ?>
                            <option value="<?php echo $key ?>" data-rtvalue="<?php echo $val->ratingTypesSize; ?>" data-rtmethod="<?php echo $val->ratingTypesMethod; ?>"><?php echo $val->ratingTypesCode . ' - ' . $val->ratingTypesName; ?></option>
                        <?php } ?>
                    </select>
                </div>
            </div>

            <div class="form-group customerRatingDiv hidden ">
                <div class="col-lg-3 col-md-3"></div>
                <div class="col-lg-6 col-md-9">
                    <table id="cRTtable" class="table table-striped">
                        <thead>
                            <tr>
                                <th width="40%"><?php echo $this->translate('Rating Type') ?></th>
                                <th width="40%"><?php echo $this->translate('Rating') ?></th>
                                <th width="20%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="sampleCustRatingTypeRow hidden ">
                                <td class="crtName"></td>
                                <td class="customerRating">
                                    <select id="custRatingValue" class="custRatingValue">

                                    </select>
                                </td>
                                <td>
                                    <span class="deleteCRT link_color" style="cursor:pointer"  >
                                        <span class="fa fa-trash-o "></span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div id="customer_more">
                <div class="form-group">
                    <label for="customershrtname" class="col-lg-3 col-md-3 control-label"><?php echo $this->translate('Customer Short Name ') ?></label>
                    <div class="col-lg-6 col-md-9">
                        <?php echo $this->formRow($form->get('customerShortName')); ?>
                    </div>
                </div>

                <div class="form-group"><!-- customer profile -->
                    <label for="customerProfile" class="col-lg-3 col-md-3 control-label customerProfileDisplayLabel"><?php echo $this->translate('Customer Contact Details') ?></label>
                    <div class="col-lg-6 col-md-9 remove_left_padding remove_right_padding">
                        <!--<div class="row">-->
                        <div class="col-lg-6 col-sm-6 customerProfileDisplay hidden" id="customerProfileDisplay">
                            <div class="input-group margin_bottom_normal_low">
                                <input type="text" class="form-control form-control-static" disabled name="customerProfileName" value="Work">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default customerProfileEditBtn"><span class="glyphicon glyphicon-edit"></span></button>
                                    <button type="button" class="btn btn-default customerProfileDeleteBtn"><span class="glyphicon glyphicon-remove"></span></button>
                                </span>
                            </div><!-- /input-group -->
                        </div>
                        <div class="col-lg-6 col-sm-6 newProfile margin_bottom_normal_low">
                            <div class="input-group newProfileName">
                                <input type="text" class="form-control form-control-static" id="newProfileName" placeholder="Enter new Profile name">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" id="newCustomerProfile"><span class="glyphicon glyphicon-plus"></span></button>
                                </span>
                            </div><!-- /input-group -->
                        </div>
                        <!--</div>-->
                    </div>
                </div><!-- Customer Profile -->

                <div class="form-group"><!--select primary customer profile-->
                    <label for="primaryCustomerProfile" class="col-lg-3 col-md-3 control-label"><?php echo $this->translate('Primary Customer Contact Details') ?></label>
                    <div class="col-lg-6 col-md-9">
                        <select id="primaryCustomerProfile" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="form-group"><!--customer currency-->
                    <label for="currency" class="col-lg-3 col-md-3 control-label"><?php echo $this->translate('Currency ') ?></label>
                    <div class="col-lg-6 col-md-9">
                        <?php echo $this->formRow($form->get('customerCurrency')); ?>
                    </div>
                </div>
                <!--
                                                <div class="form-group">
                                                    <label class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Additional Telephone Number(s) ') ?></label>
                                                    <div class="col-lg-6 col-md-9 col-sm-8">
                <?php // echo $this->formRow($form->get('customerAdditionalTelephoneNumber'));     ?>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="email" class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Email ') ?></label>
                                                    <div class="col-lg-6 col-md-9 col-sm-8">
                <?php // echo $this->formRow($form->get('customerEmail'));     ?>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="address" class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Address ') ?></label>
                                                    <div class="col-lg-6 col-md-9 col-sm-8">
                <?php // echo $this->formRow($form->get('customerAddress'));     ?>
                                                    </div>
                                                </div>-->

                <div class="form-group">
                    <label for="customerDateOfBirth" class="col-lg-3 col-md-3 control-label"><?php echo $this->translate('Date of Birth') ?></label>
                    <div class="col-lg-6 col-md-9">
                        <?php echo $this->formRow($form->get('customerDateOfBirth')); ?>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 col-md-3 control-label"><?php echo $this->translate('Gender') ?></label>
                    <div class="col-lg-9">
                        <div class="radio" id="male">
                            <label style="display: inline-block !important; padding-top: 0% !important;">
                                <?php echo $this->translate("Male"); ?>
                            <input type="radio" name="male" value="male" id="male-id">
                            </label>
                        </div>
                        <div class="radio" id="female">
                            <label style="display: inline-block !important; padding-top: 0% !important;">
                                <?php echo $this->translate("Female"); ?>
                             <input type="radio" name="female" value="female" id="female-id">
                            </label>
                        </div>
                        <div class="radio" id="other">
                            <label style="display: inline-block !important; padding-top: 0% !important;">
                                <?php echo $this->translate("Other"); ?>
                                <input type="radio" name="other" value="other" id="other-id">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="customerIdentityNumber" class="col-lg-3 col-md-3 control-label"><?php echo $this->translate('Identity Number ') ?></label>
                    <div class="col-lg-6 col-md-9">
                        <?php echo $this->formRow($form->get('customerIdentityNumber')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="customerCategory" class="col-lg-3 col-md-3 control-label"><?php echo $this->translate('Customer Category') ?></label>
                    <div class="col-lg-6 col-md-9">
                        <?php echo $this->formRow($form->get('customerCategory')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="customerCategory" class="col-lg-3 col-md-3 control-label"><?php echo $this->translate('Customer Price List') ?></label>
                    <div class="col-lg-6 col-md-9">
                        <?php echo $this->formRow($form->get('customerPriceList')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="vatnumber" class="col-lg-3 col-md-3 control-label"><?php echo $this->translate('VAT Number ') ?></label>
                    <div class="col-lg-6 col-md-9">
                        <?php echo $this->formRow($form->get('customerVatNumber')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="customerSVatNumber" class="col-lg-3 col-md-3 control-label"><?php echo $this->translate('SVAT Number ') ?></label>
                    <div class="col-lg-6 col-md-9">
                        <?php echo $this->formRow($form->get('customerSVatNumber')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="creditlimit" class="col-lg-3 col-md-3 control-label"><?php echo $this->translate('Credit Limit ') ?></label>
                    <div class="col-lg-6 col-md-9">
                        <?php echo $this->formRow($form->get('customerCreditLimit')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="paymentterm" class="col-lg-3 col-md-3 control-label"><?php echo $this->translate('Payment Terms ') ?>
                        <a class="help_icon_js" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="top" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('INVOICE_PAYMENTS_PAYTERM') ?>">
                            <i class="fa fa-question-circle help_icon"></i>
                        </a>
                    </label>
                    <div class="col-lg-6 col-md-9">
                        <?php echo $this->formRow($form->get('customerPaymentTerm')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="customerEvent" class="col-lg-3 col-md-3 control-label"><?php echo $this->translate('Customer Event ') ?>
                    </label>
                    <div class="col-lg-6 col-md-9">
                        <?php echo $this->formRow($form->get('customerEvent')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Currentbalance" class="col-lg-3 col-md-3 col-xs-12 control-label"><?php echo $this->translate('Current Balance ') ?></label>
                    <div class="col-lg-6 col-md-9 col-xs-12">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-xs-6 remove_left_padding">
                            <?php echo $this->formRow($form->get('customerCurrentBalance')); ?>
                            <label class="label label-danger custom_label"><?php echo $this->translate('Outstanding') ?></label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 remove_right_padding">
                            <?php echo $this->formRow($form->get('customerCurrentCredit')); ?>
                            <label class="label label-success custom_label"><?php echo $this->translate('Credit') ?></label>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label for="discount" class="col-lg-3 col-md-3 control-label"><?php echo $this->translate('Discount ') ?></label>
                    <div class="col-lg-6 col-md-9">
                        <div class="input-group">
                            <?php echo $this->formRow($form->get('customerDiscount')); ?>
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                </div>

                
                    <div class="form-group">
                        <label class="col-lg-3 col-md-3 control-label"><?php echo $this->translate('Loyalty Card') ?></label>
                        <div class="col-lg-6 col-md-9">
                            <?php echo $this->formRow($form->get('customerLoyaltyNo')); ?>
                        </div>
                    </div>
                <?php if (!$loyaltyCardCode = $form->get('customerLoyaltyCode')->getValue()) { ?>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-3 control-label"><?php echo $this->translate('Loyalty Code') ?></label>
                        <div class="col-lg-6 col-md-9">
                            <?php echo $this->formRow($form->get('customerLoyaltyCode')); ?>
                        </div>
                    </div>
                <?php } else { ?>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-3 control-label"><?php echo $this->translate('Loyalty Card') ?></label>
                        <div class="col-lg-6 col-md-9 ">
                            <input type="text" class="form-control" disabled="disabled" value="<?php echo $loyaltyCardCode; ?>">
                          
                        </div>
                    </div>
                <?php } ?>
        
                <div class="form-group">
                    <label for="other" class="col-lg-3 col-md-3 control-label"><?php echo $this->translate('Other ') ?></label>
                    <div class="col-lg-6 col-md-9">
                        <?php echo $this->formRow($form->get('customerOther')); ?>
                    </div>
                </div>

                <?php if($this->useAccounting == 1){?>
                <div class="form-group">
                    <label for="customerReceviableAccountID" class="col-lg-3 col-md-3 control-label"><?php echo $this->translate('Receivable Account') ?></label>
                    <div class="col-lg-6 col-md-9">
                        <?php echo $this->formRow($form->get('customerReceviableAccountID')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="customerSalesAccountID" class="col-lg-3 col-md-3 control-label"><?php echo $this->translate('Sales Account') ?></label>
                    <div class="col-lg-6 col-md-9">
                        <?php echo $this->formRow($form->get('customerSalesAccountID')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="customerSalesDiscountAccountID" class="col-lg-3 col-md-3 control-label"><?php echo $this->translate('Sales Discount Account ') ?></label>
                    <div class="col-lg-6 col-md-9">
                        <?php echo $this->formRow($form->get('customerSalesDiscountAccountID')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="customerAdvancePaymentAccountID" class="col-lg-3 col-md-3 control-label"><?php echo $this->translate('Advance/ Over Payment Account') ?></label>
                    <div class="col-lg-6 col-md-9">
                        <?php echo $this->formRow($form->get('customerAdvancePaymentAccountID')); ?>
                    </div>
                </div>
                <?php }?>
            </div><!--/#customer_more-->

            <div class="form-group margin_top_high">
                <div class="col-lg-3 hidden-md margin_top_normal"></div>
                <div class="col-lg-2 col-md-3 col-sm-3 margin_top_normal">
                    <div class="more_detail">
                        <a id="moredetails" class="btn"><?php echo $this->translate('More Details') ?>
                            <span class="glyphicon glyphicon-circle-arrow-down"></span>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-9 col-sm-9 text-right margin_top_normal">
                    <?php echo $this->formSubmit($form->get('customerFormsubmit')); ?>
                    <a id='customerupdate' class="btn btn-primary make-full-width" href=""><?php echo $this->translate('Update') ?></a>
                    <button type="reset" id="clearbutton" class="btn btn-default"><?php echo $this->translate('Reset') ?></button>
                    <button type="reset" id="cancelbutton" class="btn btn-default"><?php echo $this->translate('Cancel') ?></button>
                </div>
            </div>


            <?php
            echo $this->form()->closeTag();
            ?>
        </div><!--form_horizontal-->

    </div><!--panel_body-->

</div><!--panel-->

<!--customer Profile modal-->
<div class="modal fade" id="customerProfileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4><?php echo $this->translate('Add a customer Profile') ?></h4>
            </div>
            <?php
            $customerProfileForm = $this->customerProfileForm;
            $customerProfileForm->setAttribute('id', 'customerProfileForm');
            $customerProfileForm->prepare();
            echo $this->form()->openTag($customerProfileForm);
            echo $this->formHidden($customerProfileForm->get('customerProfileID'));
            echo $this->formHidden($customerProfileForm->get('customerID'));
            ?>
            <!--<form id="customerProfileForm">-->
            <div class="modal-body">
                <div id="customer_profile">
                    <div class="form-group">
                        <label class="col-lg-5 col-md-5 control-label"><?php echo $this->translate('Customer Profile Name') ?><font color="red">*</font></label>
                        <div class="col-lg-7 col-md-7 ">
                            <?php echo $this->formRow($customerProfileForm->get('customerProfileName')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-5 col-md-5 control-label"><?php echo $this->translate('Mobile Number 1') ?></label>
                        <div class="col-lg-7 col-md-7 ">
                            <?php echo $this->formRow($customerProfileForm->get('customerProfileMobileTP1')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-5 col-md-5 control-label"><?php echo $this->translate('Mobile Number 2') ?></label>
                        <div class="col-lg-7 col-md-7 ">
                            <?php echo $this->formRow($customerProfileForm->get('customerProfileMobileTP2')); ?>
                        </div>
                    </div><div class="form-group">
                        <label class="col-lg-5 col-md-5 control-label"><?php echo $this->translate('Fixed Line Number 1') ?></label>
                        <div class="col-lg-7 col-md-7">
                            <?php echo $this->formRow($customerProfileForm->get('customerProfileLandTP1')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-5 col-md-5 control-label"><?php echo $this->translate('Fixed Line Number 2') ?></label>
                        <div class="col-lg-7 col-md-7">
                            <?php echo $this->formRow($customerProfileForm->get('customerProfileLandTP2')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-5 col-md-5 control-label"><?php echo $this->translate('Fax Number') ?></label>
                        <div class="col-lg-7 col-md-7">
                            <?php echo $this->formRow($customerProfileForm->get('customerProfileFaxNo')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-5 col-md-5 control-label"><?php echo $this->translate('Email Address') ?></label>
                        <div class="col-lg-7 col-md-7">
                            <?php echo $this->formRow($customerProfileForm->get('customerProfileEmail')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-5 col-md-5 control-label"><?php echo $this->translate('Contact Person Name') ?></label>
                        <div class="col-lg-7 col-md-7">
                            <?php echo $this->formRow($customerProfileForm->get('customerProfileContactPersonName')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-5 col-md-5 control-label"><?php echo $this->translate('Contact Person Telephone Number') ?></label>
                        <div class="col-lg-7 col-md-7">
                            <?php echo $this->formRow($customerProfileForm->get('customerProfileContactPersonNumber')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-5 col-md-5 control-label"><?php echo $this->translate('Location No') ?></label>
                        <div class="col-lg-7 col-md-7">
                            <?php echo $this->formRow($customerProfileForm->get('customerProfileLocationNo')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-5 col-md-5 control-label"><?php echo $this->translate('Address Line 1') ?></label>
                        <div class="col-lg-7 col-md-7">
                            <?php echo $this->formRow($customerProfileForm->get('customerProfileLocationRoadName1')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-5 col-md-5 control-label"><?php echo $this->translate('Address Line 2') ?></label>
                        <div class="col-lg-7 col-md-7">
                            <?php echo $this->formRow($customerProfileForm->get('customerProfileLocationRoadName2')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-5 col-md-5 control-label"><?php echo $this->translate('Address Line 3') ?></label>
                        <div class="col-lg-7 col-md-7">
                            <?php echo $this->formRow($customerProfileForm->get('customerProfileLocationRoadName3')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-5 col-md-5 control-label"><?php echo $this->translate('State') ?></label>
                        <div class="col-lg-7 col-md-7">
                            <?php echo $this->formRow($customerProfileForm->get('customerProfileLocationSubTown')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-5 col-md-5 control-label"><?php echo $this->translate('City') ?></label>
                        <div class="col-lg-7 col-md-7">
                            <?php echo $this->formRow($customerProfileForm->get('customerProfileLocationTown')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-5 col-md-5 control-label"><?php echo $this->translate('Postal Code') ?></label>
                        <div class="col-lg-7 col-md-7">
                            <?php echo $this->formRow($customerProfileForm->get('customerProfileLocationPostalCode')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-5 col-md-5 control-label"><?php echo $this->translate('Country') ?></label>
                        <div class="col-lg-7 col-md-7">
                            <?php echo $this->formRow($customerProfileForm->get('customerProfileLocationCountry')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-5 col-md-5 control-label"><?php echo $this->translate('Customer Profile Rating Types') ?></label>
                        <div class="col-lg-7 col-md-7">
                            <select id="customerProfileRatingTypes" class="form-control selectpicker"  data-live-search="true">
                                <option value=""></option>
                                <?php foreach ($this->ratingTypesList as $key => $val) { ?>
                                    <option value="<?php echo $key ?>" data-rtvalue="<?php echo $val->ratingTypesSize ?>" data-rtmethod="<?php echo $val->ratingTypesMethod; ?>" ><?php echo $val->ratingTypesCode . ' - ' . $val->ratingTypesName; ?>
                                    </option><?php } ?>
                            </select>
                        </div>
                    </div>
                    <div class="form-group customerProfileRatingDiv hidden ">
                        <div class="col-lg-5 col-md-5"></div>
                        <div class="col-lg-7 col-md-7">
                            <table id="cProfileRTtable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="40%"><?php echo $this->translate('Rating Type'); ?></th>
                                        <th width="40%"><?php echo $this->translate('Rating') ?></th>
                                        <th width="20%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="sampleCustProfileRatingTypeRow hidden ">
                                        <td class="cProfilertName"></td>
                                        <td class="customerProfileRating">
                                            <select id="custProfileRatingValue" class="custProfileRatingValue">
                                            </select>
                                        </td>
                                        <td>
                                            <span class="deleteCProfileRT link_color" style="cursor:pointer"  >
                                                <span class="fa fa-trash-o "></span>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <?php echo $this->formRow($customerProfileForm->get('customerProfileUpdate')); ?>
                <?php echo $this->formRow($customerProfileForm->get('customerProfileReset')); ?>
            </div>
            <?php
            echo $this->form()->closeTag();
            ?>
            <!--</form>-->
        </div>
    </div>
</div><!-- End of customer profile modal-->

<!--new customer Category-->
<div class="modal fade" id="addNewCustomerCategoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4><?php echo $this->translate('Add New Customer Category') ?></h4>
            </div>
            <form id="customerCategoryForm">
                <div class="modal-body">
                    <div class="form-horizontal clearfix margin_top">
                        <div id="customer_profile" class="panel panel-default ">
                            <div class="panel-heading">
                                <div class="form-group">
                                    <label class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Customer Category Name') ?><font color="red">*</font></label>
                                    <div class="col-lg-6 col-md-9 col-sm-8">
                                        <input type="text" name="newCustomerCategoryName" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <input type="submit" value="<?php echo $this->translate('Save') ?>" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div><!-- End of new customer Category modal-->

<!--Modal for if customer reference not set-->
<div class="modal fade" id="refNotSet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $refNotSet; ?>
</div>