
<!--search_panel-->
<div class="well clearfix well_custom_padding margin_top margin_bottom">
    <div class="col-lg-3 col-md-3 col-sm-12">
        <label class="remove_weight"><?php echo $this->translate('Search a Customer') ?>
            <a class="help_icon_js" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="top" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('INVOICE_ADDCUSTOMER_SEARCH_CUST') ?>">
                <i class="fa fa-question-circle help_icon"></i>
            </a>
        </label>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8 col-vxs-12 vxs-margin-bottom">
        <select id="searchcustomer" class="selectpicker form-control" data-live-search="true" title="Select">
            <option value="undefined" ><?php echo $this->translate('Select') ?></option>
        </select>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 col-vxs-12">
        <button type="button" class="btn btn-default btn-block" id="clear-select-customer"><?php echo $this->translate('Clear Search') ?></button>
    </div>
</div>
