<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate('Add a customer') ?></h4>
        </div>

        <?php
        $form = $this->customerForm;
        $form->setAttribute('id', 'addcustomerform');
        $form->prepare();
        ?>
        <?php echo $this->form()->openTag($form); ?>
        <div class="modal-body">
            <div class="form-horizontal clearfix margin_top">

                <div class="form-group"><!-- Title -->
                    <label for="customerTitle" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Title ') ?></label>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <?php echo $this->formRow($form->get('customerTitle')); ?>
                    </div>
                </div>

                <div class="form-group"><!--name-->
                    <label for="customername" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Customer Name ') ?><font color="red">*</font></label>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <?php echo $this->formRow($form->get('customerName')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="customerCode" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Customer Code') ?><font color="red">*</font></label>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <?php echo $this->formRow($form->get('customerCode')); ?>
                    </div>
                </div>
                <div class="form-group">
                    <label  for="customerTelephoneNumber" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Telephone Number ') ?><font color="red">*</font></label>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <?php echo $this->formRow($form->get('customerTelephoneNumber')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="customerEmail" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Email ') ?></label>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <input type="text" class="form-control form-control-static" name="customerEmail" id="customerEmail">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-5 col-lg-offset-4 col-md-5 col-md-offset-4 col-sm-5 col-sm-offset-4 more_detail">
                        <a id="moredetails" title="" class="btn"><?php echo $this->translate('More Details') ?>
                            <span class="glyphicon glyphicon-circle-arrow-down"></span>
                        </a>
                    </div>
                </div>

                <div id="customer_more" >
                    <div class="form-group">
                        <label for="customerDateOfBirth" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Date of Birth') ?></label>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <?php echo $this->formRow($form->get('customerDateOfBirth')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Gender') ?></label>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="radio" id="male">
                                <label style="display: inline-block !important; padding-top: 0% !important;">
                                    <?php echo $this->translate("Male"); ?>
                                <input type="radio" name="male" value="male" id="male-id">
                                </label>
                            </div>
                            <div class="radio" id="female">
                                <label style="display: inline-block !important; padding-top: 0% !important;">
                                    <?php echo $this->translate("Female"); ?>
                                 <input type="radio" name="female" value="female" id="female-id">
                                </label>
                            </div>
                            <div class="radio" id="other">
                                <label style="display: inline-block !important; padding-top: 0% !important;">
                                    <?php echo $this->translate("Other"); ?>
                                    <input type="radio" name="other" value="other" id="other-id">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="customerCurrency" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Currency ') ?></label>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <?php echo $this->formRow($form->get('customerCurrency')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="customerCategory" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Customer Category') ?></label>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <?php echo $this->formRow($form->get('customerCategory')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="customerPriceList" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Customer Price List') ?></label>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <?php echo $this->formRow($form->get('customerPriceList')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="customerLocationNumber" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Location Number') ?></label>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <input type="text" class="form-control form-control-static" name="customreLocationNumber" id="customreLocationNumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="customerLocationRoadName1" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Address Line') ?></label>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <input type="text" class="form-control form-control-static" name="customerLocationRoadName1" id="customerLocationRoadName1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="customerLocationTown" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('City') ?></label>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <input type="text" class="form-control form-control-static" name="customerLocationTown" id="customerLocationTown">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="customerLocationCountry" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Country') ?></label>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <!--<input type="text" class="form-control form-control-static" name="customerLocationCountry" id="customerLocationCountry">-->
                            <select name="customerLocationCountry" id="customerLocationCountry" class="form-control selectpicker" title="" data-live-search="true">
                                <?php
                                foreach ($this->countries as $countryID => $country) {
                                    echo '<option>' . $country . '</option>';
                                }
                                ?>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="customerPostalCode" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Postal Code') ?></label>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <input type="text" class="form-control form-control-static" name="customerPostalCode" id="customerPostalCode">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="customerCreditlimit" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Credit Limit ') ?></label>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <?php echo $this->formRow($form->get('customerCreditLimit')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="customerPaymentTerm" class="col-lg-4 col-md-4 col-sm-4  control-label"><?php echo $this->translate('Payment Terms ') ?></label>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <?php echo $this->formRow($form->get('customerPaymentTerm')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="customerEvent" class="col-lg-4 col-md-4 col-sm-4  control-label"><?php echo $this->translate('Customer Event ') ?></label>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <?php echo $this->formRow($form->get('customerEvent')); ?>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="customerBalance" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Current Balance ') ?></label>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="col-lg-6 col-md-6 col-sm-6 remove_left_padding balance_left">
                                <?php echo $this->formRow($form->get('customerCurrentBalance')); ?>
                                <label class="label label-danger custom_label"><?php echo $this->translate('Outstanding') ?></label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 remove_right_padding balance_right">
                                <?php echo $this->formRow($form->get('customerCurrentCredit')); ?>
                                <label class="label label-success custom_label"><?php echo $this->translate('Credit') ?></label>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="discount" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Discount ') ?></label>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="input-group">
                                <?php echo $this->formRow($form->get('customerDiscount')); ?>
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                    </div>

                    <?php if($this->useAccounting == 1){ ?>
                    <div class="form-group">
                    <label for="customerReceviableAccountID" class="col-lg-4 col-md-4 control-label"><?php echo $this->translate('Receivable Account') ?></label>
                    	<div class="col-lg-8 col-md-8">
                    		<?php echo $this->formRow($form->get('customerReceviableAccountID')); ?>
                    	</div>
                    </div>

                    <div class="form-group">
                    	<label for="customerSalesAccountID" class="col-lg-4 col-md-4 control-label"><?php echo $this->translate('Sales Account') ?></label>
                    	<div class="col-lg-8 col-md-8">
                    		<?php echo $this->formRow($form->get('customerSalesAccountID')); ?>
                    	</div>
                    </div>

                    <div class="form-group">
                    	<label for="customerSalesDiscountAccountID" class="col-lg-4 col-md-4 control-label"><?php echo $this->translate('Sales Discount Account ') ?></label>
                    	<div class="col-lg-8 col-md-8">
                    		<?php echo $this->formRow($form->get('customerSalesDiscountAccountID')); ?>
                    	</div>
                    </div>

                    <div class="form-group">
                    	<label for="customerAdvancePaymentAccountID" class="col-lg-4 col-md-4 control-label"><?php echo $this->translate('Advance/ Over Payment Account') ?></label>
                    	<div class="col-lg-8 col-md-8">
                    		<?php echo $this->formRow($form->get('customerAdvancePaymentAccountID')); ?>
                    	</div>
                    </div>
                    <?php }?>
                </div><!--/#customer_more-->

            </div>
        </div>

        <div class="modal-footer">
            <?php echo $this->formRow($form->get('saveAndAddCustomer')); ?>
            <?php echo $this->formRow($form->get('customerFormsubmit')); ?>
            <button type="button" id="addCustomerModalClose" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
        </div>
        <?php
        echo $this->form()->closeTag();
        ?>

    </div>
</div>