<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
<?php $this->headScript()->captureEnd() ?>

<?php $this->headScript()->appendFile($this->basePath('js/invoice/customer.js')); ?>
<?php
$form = $this->form;
$fileerror = $this->fileerror;
$form->setAttribute('action', $this->url('customer', array('action' => 'import')));
$form->prepare();
?>

<div class="form-horizontal well margin_top">
    <?php echo $this->form()->openTag($form); ?>

    <div class="form-group"><!--choose_file-->
        <label class="control-label col-lg-3 col-md-3 col-sm-3 select_file"><?php echo $this->translate('Select a File') ?></label>
        <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="alert alert-info">
                <h5 class="font_weight"><?php echo $this->translate('File Import Instructions.') ?></h5>
                <p class="margin_bottom_normal">
                    <?php echo $this->translate('The <strong> csv file </strong> can have headers like Name, Short Name, Currency, Telephone No, Email, Address, vat number,
                    Outstanding Balance, Credit Balance, Credit Limit, Discount, Customer Category etc.') ?>
                </p>
            </div>
            <?php echo $this->formRow($form->get('fileupload')); ?>
        </div>
    </div>

    <div class="row">
        <div id="importerrorlog" class="alert alert-danger col-lg-9 col-md-9 col-sm-9 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 text-center">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        </div>
    </div>

    <div id="customerimport_more">
        <div class="form-group">
            <div class="col-lg-5 col-lg-offset-3 col-md-5 col-md-offset-3 col-sm-5 col-sm-offset-3">
                <?php echo $this->formRow($form->get('header')); ?>
                <label class="control-label"><?php echo $this->translate('My Data sheet has a Header Row') ?></label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label"> <?php echo $this->translate('Character Encoding :') ?></label>
            <div class="col-lg-5 col-md-9 col-sm-9">
                <?php echo $this->formRow($form->get('characterencoding')); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label"><?php echo $this->translate('Delimiter :') ?></label>
            <div class="col-lg-5 col-md-9 col-sm-9">
                <?php echo $this->formRow($form->get('delimiter')); ?>
            </div>
        </div>
    </div>

    <div class="form-group margin_top">
        <div class="col-lg-offset-3 col-lg-3 col-md-offset-3 col-md-4 col-sm-4 col-sm-offset-3">
            <div class="more_detail">
                <a id="moredetailsimport" class="line_height pointer"><?php echo $this->translate('Show More Details') ?>
                    <span class="glyphicon glyphicon-circle-arrow-down"></span>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-5 col-sm-5 text-right">
            <?php echo $this->formSubmit($form->get('submit')); ?>
            <button type="reset" id="clearbutton" class="btn btn-default"><?php echo $this->translate('Reset') ?></button>
            <button type="reset" id="cancelbutton" class="btn btn-default"><?php echo $this->translate('Cancel') ?></button>
        </div>
    </div>

    <?php echo $this->form()->closeTag(); ?>
</div><!--well-->

<?php if ($fileerror == 'nofile') { ?>
    <script type='text/javascript'>
        $('#importerrorlog').html("No file chosen");
        $('#importerrorlog').fadeOut(5000);
    </script>
    <?php
} elseif ($fileerror == 'utferror') {
    ?>
    <script type='text/javascript'>
        $('#importerrorlog').html("File not supported. Please save the file in \".csv\" format and upload");
        $('#importerrorlog').fadeOut(8000);
    </script>
    <?php
} elseif ($fileerror == 'isoerror') {
    ?>
    <script type='text/javascript'>
        $('#importerrorlog').html("ISO-8859-1 Encoding type not supported");
        $('#importerrorlog').fadeOut(5000);
    </script>
    <?php
} else {
    ?>
    <script>
        $('#importerrorlog').hide();
    </script><?php }
?>