
<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
<?php $this->headScript()->captureEnd() ?>

<div id="create-customer-form-div" class="modal fade" ></div>

<!--Search_header-->
<?php
if (isset($this->searchHeader)):
    echo $this->searchHeader;
endif;
?>
<div id="customer-list" class="margin_top">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="table_row_color" style="">
                <tr>
                    <th><?php echo $this->translate('Customer Name') ?></th>
                    <th><?php echo $this->translate('Customer Code') ?></th>
                    <th class=""><?php echo $this->translate('Telephone Number') ?></th>
                    <th class="text-right"><?php echo $this->translate('Credit Bal') ?></th>
                    <th class="text-right"><?php echo $this->translate('Outstanding Bal') ?></th>
                    <th class="text-right"><?php echo $this->translate('Edit') ?></th>
                    <th class="text-center"><?php echo $this->translate('Active') ?></th>
                    <th class="text-center"><?php echo $this->translate('Delete') ?></th>
                </tr>
            </thead>

            <tbody>
                <?php
                foreach ($this->customers as $key => $customer) {
                    ?>
                    <tr>
                        <td> <?php echo $customer->customerTitle . ' ' . $customer->customerName; ?></td>
                        <td> <?php
                            echo $customer->customerCode;
                            ?>
                        </td>
                        <td class=""><?php echo $customer->customerTelephoneNumber; ?></td>
                        <td class="text-right"> <?php echo number_format($customer->customerCurrentCredit, 2); ?></td>
                        <td class="text-right"> <?php echo number_format($customer->customerCurrentBalance, 2); ?></td>
                        <td class="text-right">
                            <a class="editCustomer" id="<?php echo $customer->customerID ?>" href="<?php
                            echo $this->url($this->route, array('action' => $this->editAction,
                                'param1' => $customer->customerID));
                            ?>">
                                <span class="fa fa-pencil-square-o custom_font_size custom_font_size pointer_cursor"></span></a>
                        </td>
                        <td class="text-center">
                        <a href="#" class="status" id="<?php echo $customer->customerID ?>">
                            <span class="<?php echo ($customer->customerStatus == '1') ? 'fa fa-check-square-o' : 'fa fa-square-o '; ?> custom_font_size"></span>
                        </a>
                    </td>
                        <td class="text-center">
                            <a><span data-toggle="modal" href = "#delete_customer" id="<?php echo $customer->customerID; ?>" class="fa fa-trash-o deleteCustomer custom_font_size pointer_cursor"></span></a>
                        </td>
                        <?php
                    }
                    if (count($this->customers) == 0) {
                        ?>
                    <tr class="not_found">
                        <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                    </tr>
                    <?php
                }
                ?>
            </tbody>
        </table>
    </div>
    <?php
    echo $this->paginationControl(
            $this->customers, 'sliding', array('partial/paginator.phtml', 'customer'), array(
        'route' => 'customer', 'action' => $this->indexAction
            )
    );
    ?>
</div>
<div class="modal fade" id="delete_customer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $delete_customer; ?>
</div>

<div class="modal fade" id="update_customer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $update_customer; ?>
</div>

