<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
var customersAddress = <?php echo $this->customersAddress ?>;
<?php $this->headScript()->captureEnd() ?>
<?php $this->headScript()->appendFile($this->basePath('js/invoice/customer.js')); ?>

<?php
$customers = $this->cust;
$customerTitle = $this->customerTitle;
$paymentterms = $this->pt;
$currencies = $this->cu;
$customerCategories = $this->customerCategories;
?>

<div class="table_outer_wrapper margin_top" style="border-top: 1px solid #eee;">
    <div  class="table_inner_wrapper">

        <table id="customerdatatable" class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th class="text-center hidden"><?php echo $this->translate('ID') ?></th>
                    <th style=""><?php echo $this->translate('Title') ?></th>
                    <th style=""><?php echo $this->translate('Name') ?></th>
                    <th style=""><?php echo $this->translate('Code') ?></th>
                    <th class=""><?php echo $this->translate('S-Name') ?></th>
                    <th class="">
                        <select id="custcurrency" class="form-control custom_width" name="select">
                            <option class="text-warning"><?php echo $this->translate('Currency') ?></option>
                            <?php foreach ($currencies as $ckey => $currency) {
                                ?>
                                <option><?php echo $currency ?></option>
                                <?php
                            }
                            ?>
                        </select>
                    </th>
                    <th class=""><?php echo $this->translate('Phone') ?></th>
                    <th class=""><?php echo $this->translate('Email') ?></th>
                    <th><?php echo $this->translate('Address') ?></th>
                    <th class="text-right"><?php echo $this->translate('VAT-No') ?></th>
                    <th class="text-right"><?php echo $this->translate('SVAT-No') ?></th>
                    <th class="">
                        <select id="custpayment" class="form-control custom_width" name="select">
                            <option class="text-warning"><?php echo $this->translate('Payment') ?></option>
                            <?php foreach ($paymentterms as $pkey => $paymentterm) {
                                ?>
                                <option><?php echo $paymentterm ?></option>
                                <?php
                            }
                            ?>
                        </select>
                    </th>
                    <th class=""><?php echo $this->translate('Category') ?></th>
                    <th class=""><?php echo $this->translate('DOB') ?></th>
                    <th class=""><?php echo $this->translate('ID No') ?></th>
                    <th class=""><?php echo $this->translate('CreditLimit') ?></th>
                    <th class=""><?php echo $this->translate('Oustanding') ?></th>
                    <th class=""><?php echo $this->translate('Credit') ?></th>
                    <th class=""><?php echo $this->translate('Discount') ?></th>
                    <th>
            <div class="form-group">
                <label class="col col-lg-10"><?php echo $this->translate('Select') ?></label>
                <input class="col col-lg-2" id="selectAllcustomer" type="checkbox" name="custselect" value="customers">
            </div>
            </th>
            </tr>
            </thead>

            <tbody id="customerdatatablebody">
                <?php
                $i = 0;
                foreach ($customers as $key => $customer) {
                    ?>
                    <tr class="form-group producttr" id="<?php echo $i ?>">
                        <td class="text-center hidden"><?php echo $customer['customerID']; ?></td>
                        <td class="text-center">
                            <select class="form-control custom_width" name="select">
                                <?php
                                foreach ($customerTitle as $title) {
                                    if ($title == $customer['customerCurrentTitle']) {
                                        ?>
                                        <option selected value="<?php echo $title ?>"><?php echo $title ?></option>
                                        <?php
                                    } else {
                                        ?>
                                        <option value="<?php echo $title ?>"><?php echo $title ?></option>
                                        <?php
                                    }
                                }
                                ?>
                            </select>
                        </td>
                        <td class=""><div style="width: 200px; height: 70px; overflow-y: scroll;" class='form-control' contenteditable><?php echo $customer['customerName']; ?></div></td>
                        <td class=""><div class=" form-control" contenteditable><?php echo $customer['customerCode']; ?></div></td>
                        <td class=""><div class=" form-control" contenteditable><?php echo $customer['customerShortName']; ?></div></td>
                        <td class="" style="padding-top: 12px;" id="currencytd"><?php echo $customer['currency']; ?></td>
                        <td class=""><div class="form-control massTelephoneNumber" contenteditable><?php echo $customer['telephoneNumber']; ?></div></td>
                        <td class=""><div class="form-control massEmail" contenteditable><?php echo $customer['email']; ?></div></td>
                        <td class=""><div class="">
                                <button type="button" class=" btn btn-default cMEA_btn" data-id='<?php echo $customer['customerID']; ?>'>
                                    <i class="glyphicon glyphicon-edit"></i>
                                </button>
                            </div>
                        </td>
                        <!--<td class="clearfix"><div style="width: 200px; height: 70px; overflow-y: scroll;" class="form-control" contenteditable><?php // echo $customer['address'];                                             ?></div></td>-->
                        <td class="text-right"><div class=" form-control" contenteditable><?php echo $customer['vatNumber']; ?></div></td>
                        <td class="text-right"><div class=" form-control" contenteditable><?php echo $customer['svatNumber']; ?></div></td>
                        <td id="paymenttd" class=""><?php echo $customer['paymentTerm']; ?></td>
                        <td class="text-center">
                            <select class="form-control custom_width" name="select">
                                <?php
                                foreach ($customerCategories as $key => $category) {
                                    if ($key == $customer['customerCategory']) {
                                        ?>
                                        <option selected value="<?php echo $key ?>"><?php echo $category ?></option>
                                        <?php
                                    } else {
                                        ?>
                                        <option value="<?php echo $key ?>"><?php echo $category ?></option>
                                        <?php
                                    }
                                }
                                ?>
                            </select>
                        </td>
                        <td class="text-right"><div class=" form-control" contenteditable><?php echo $customer['customerDateOfBirth']; ?></div></td>
                        <td class="text-right"><div class=" form-control" contenteditable><?php echo $customer['customerIdentityNumber']; ?></div></td>
                        <td class="text-right"><div class="massCreditLimit form-control" contenteditable><?php echo number_format($customer['creditLimit'], 2, '.', ''); ?></div></td>
                        <td class="text-right" ><div class=" form-control" disabled="true"><?php echo number_format($customer['currentBalance'], 2, '.', ''); ?></div></td>
                        <td class="text-right" ><div class=" form-control" disabled="true"><?php echo number_format($customer['currentCredit'], 2, '.', ''); ?></div></td>
                        <td class="text-right"><div class="massDiscount form-control" contenteditable><?php echo $customer['discount']; ?></div></td>
                        <td class="text-center"><input class="selectcustomer" type="checkbox" name="custselect" value="customers"></td>
                    </tr>
                    <?php
                    $i++;
                }
                ?>
            </tbody>
        </table>

    </div><!--table_inner_wrapper-->
</div><!--table_outer_wrapper-->

<div class="button margin_top_normal text-right">
    <button id="customer-savemassedit-button" class="btn btn-primary"><?php echo $this->translate('Save Changes') ?></button>
    <button id="customer-cancelmassedit-button" class="btn btn-default"><?php echo $this->translate('Cancel') ?></button>
</div><!--button-->

<!--new customer Address-->
<div class="modal fade" id="cMEA_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4><?php echo $this->translate('Edit Customer Address') ?></h4>
            </div>
            <form id="cMEA_Form">
                <div class="modal-body">
                    <div class="form-horizontal clearfix margin_top">
                        <div id="cMEA" class="panel panel-default ">
                            <div class="panel-heading">
                                <div class="form-group">
                                    <label class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Location No') ?></label>
                                    <div class="col-lg-6 col-md-9 col-sm-8">
                                        <input type="text" name="cMEA_locationNo" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Location Road Name 1') ?></label>
                                    <div class="col-lg-6 col-md-9 col-sm-8">
                                        <input type="text" name="cMEA_roadName1" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Location Road Name 2') ?></label>
                                    <div class="col-lg-6 col-md-9 col-sm-8">
                                        <input type="text" name="cMEA_roadName2" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Location Road Name 3') ?></label>
                                    <div class="col-lg-6 col-md-9 col-sm-8">
                                        <input type="text" name="cMEA_roadName3" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Location Sub Town') ?></label>
                                    <div class="col-lg-6 col-md-9 col-sm-8">
                                        <input type="text" name="cMEA_subTown" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Location Town') ?></label>
                                    <div class="col-lg-6 col-md-9 col-sm-8">
                                        <input type="text" name="cMEA_town" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Location Postal Code') ?></label>
                                    <div class="col-lg-6 col-md-9 col-sm-8">
                                        <input type="text" name="cMEA_postalCode" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 col-md-3 col-sm-4 control-label"><?php echo $this->translate('Location Country') ?></label>
                                    <div class="col-lg-6 col-md-9 col-sm-8">
                                        <select name="cMEA_country" class="form-control selectpicker" title="" data-live-search="true">
                                            <?php
                                            foreach ($this->countries as $countryID => $country) {
                                                echo '<option>' . $country . '</option>';
                                            }
                                            ?>
                                        </select>
                                        <!--<input type="text" name="cMEA_country" class="form-control">-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <input type="submit" value="<?php echo $this->translate('Save') ?>" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div><!-- End of customer Address modal-->
