<!DOCTYPE html>
<html lang="en" ng-app="PosApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>POS | ezBiz</title>

        <!--favicon-->
        <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicons/apple/ezbiz-apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicons/apple/ezbiz-apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicons/apple/ezbiz-apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicons/apple/ezbiz-apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicons/apple/ezbiz-apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicons/apple/ezbiz-apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicons/apple/ezbiz-apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicons/apple/ezbiz-apple-touch-icon-152x152.png">
        <link rel="icon" type="image/png" href="/assets/img/favicons/ezbiz-favicon-196x196.png" sizes="196x196">
        <link rel="icon" type="image/png" href="/assets/img/favicons/ezbiz-favicon-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="/assets/img/favicons/ezbiz-favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/assets/img/favicons/ezbiz-favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/assets/img/favicons/ezbiz-favicon-32x32.png" sizes="32x32">


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
        <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
        <script type="text/javascript">
<?php echo $this->jsvarsHelper(); ?>
        </script>
        <?php
        echo $this->headLink(array(
                    'rel' => 'shortcut icon',
                    'type' => 'image/vnd.microsoft.icon',
                    'href' => $this->basePath() . '/img/favicon.ico')
                )
                ->prependStylesheet($this->basePath() . 'css/pos.css')
                ->prependStylesheet($this->basePath() . '/assets/bootstrap/css/bootstrap.min.css')
                ->prependStylesheet($this->basePath() . '/assets/pnotify-1.2.0/jquery.pnotify.default.css')
                ->prependStylesheet($this->basePath() . '/css/font-awesome.min.css');
        ?>
        <?php
        echo $this->headScript()->prependFile($this->basePath() . '/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                ->prependFile($this->basePath() . '/js/underscore-min.js')
                ->prependFile($this->basePath() . '/js/bootstrap-typeahead.js')
                ->prependFile($this->basePath() . '/assets/bootstrap/js/bootstrap.min.js')
                ->prependFile($this->basePath() . '/js/angular-sanitize.min.js')
                ->prependFile($this->basePath() . '/js/angular-local-storage.js')
                ->prependFile($this->basePath() . '/js/angular.min.js')
                ->prependFile($this->basePath() . '/js/common.js')
                ->prependFile($this->basePath() . '/assets/pnotify-1.2.0/jquery.pnotify.min.js')
                ->prependFile($this->basePath() . '/assets/pnotify-1.2.0/ezBiz_pnotify.js')
                ->prependFile($this->basePath() . '/js/jquery.1.9.min.js')
        ?>

        <script>

            $(document).ready(function () {
                $('.location-options').on('click', function () {
                    localStorage.removeItem('ls.products_details');
                });
            });

        </script>
    </head>


    <body ng-controller="PosController">
        <!--static_nav_bar-->
        <div class="navbar navbar-default navbar-static-top top_nav_black" role="navigation">
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-5">
                        <a class="navbar-brand" href="<?php echo $this->url('dashboard') ?>" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Dashboard">ezBiz</a>
                        <li>
                            <span class="view-state" ng-class="togglePosModal ? 'current-state-selected' : ''"><?php echo $this->translate('POS View') ?></span>
                            <span class="switch">
                                <input id="toggle-view" type="checkbox" class="cmn-toggle" ng-click="toggleUiView($event)">
                                <label for="toggle-view"></label>
                            </span>
                            <span class="view-state" ng-class="!togglePosModal ? 'current-state-selected' : ''"><?php echo $this->translate('Credit Note View') ?></span>
                        </li>
                    </div><!-- ./col -->

                    <div class="col-lg-1 clearfix text-center">
                        <span class="offline" ng:class="{true:'', false:'show-offline'}[online]" ><?php echo $this->translate('Offline') ?></span>
                    </div>

                    <div class="col-lg-6">
                        <?php
                            $pageURL = 'http';
                            if (isset($_SERVER["HTTPS"])) {
                                if ($_SERVER["HTTPS"] == "on") {
                                    $pageURL .= "s";
                                }
                            }
                            $pageURL .= "://";
                            if ($_SERVER["SERVER_PORT"] != "80") {
                                $pageURL .= $_SERVER["SERVER_NAME"] . ":" . $_SERVER["SERVER_PORT"] . $_SERVER["REQUEST_URI"];
                            } else {
                                $pageURL .= $_SERVER["SERVER_NAME"] . $_SERVER["REQUEST_URI"];
                            }
                        ?>

                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <!--<li><a href="/reports/pos-report"><i class="fa fa-file-text-o"></i>Report</a></li>-->
                                <!-- <li><a href="#"><i class="fa fa-cog"></i></a></li> -->
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#inv_configs">
                                        <i class="fa fa-external-link"></i>
                                        <?php echo $this->translate('Settings') ?>
                                    </a>
                                </li>

                                <li class="dropdown">
                                    <a href="#" ng-if="togglePosModal" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-cog"></i>
                                        {{config.active_pos_mode.name}}
                                        <i class="fa fa-caret-down caret_sign"></i>
                                    </a>
                                    <ul class="dropdown-menu" id="settings">
                                        <li ng-repeat="modes in config.pos_modes" ng-click="changeMode(modes)" class="setting-item" >
                                            <a href="#">
                                                {{modes.name}}
                                                <i ng-if="modes.id == config.active_pos_mode.id" class="default_active fa fa-circle" ></i>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-map-marker"></i>
                                        <?php echo $this->translate($_SESSION['ezBizUser']['userActiveLocation']['locationName']); ?>
                                        <i class="fa fa-caret-down caret_sign"></i>
                                    </a>

                                    <ul class="dropdown-menu black_drop_down">
                                        <?php if (!empty($this->ezBizUser['userLocations'])) { ?>
                                            <?php foreach ($this->ezBizUser['userLocations'] as $key => $location) { ?>
                                                <li>
                                                    <a class="location-options" href="<?php echo $this->url('user', array('action' => 'changeActiveLocation', 'param1' => $key)) . "?returnTo=" . $pageURL; ?>">
                                                        <?php echo $this->translate($location['locationName']); ?>
                                                        <?php if ($location['locationName'] == $this->ezBizUser['userActiveLocation']['locationName']) { ?>
                                                            <i class="default_active fa fa-circle"></i>
                                                        <?php } ?>
                                                    </a>
                                                </li>
                                            <?php } ?>
                                            <?php
                                        } else {
                                            ?>
                                            <span> <?php echo $this->translate('No other locations') ?></span>
                                        <?php } ?>
                                    </ul>
                                </li>

                                <li class="dropdown admin_dropdown">
                                    <?php if (isset($_SESSION['ezBizUser']['userID'])) { ?>
                                        <input type="hidden" id="userLevel" value="<?php echo $_SESSION['ezBizUser']['roleID']; ?>">
                                        <a href="#" class="dropdown-toggle login" data-toggle="dropdown"><i class="fa fa-user"></i><?php echo "Hi " . $_SESSION['ezBizUser']['fullName']; ?><i class="fa fa-caret-down caret_sign"></i></a>
                                        <ul class="dropdown-menu black_drop_down">
                                            <li><a href="/dashboard" target="_blank"><?php echo $this->translate('Help') ?></a></li>
                                            <li><a href="<?php echo $this->url('user', array('action' => 'edit-profile')); ?>"><?php echo $this->translate('Edit profile') ?></a></li>
                                            <!--<li><a id="feedbackFrom" data-toggle="modal" href="<?php echo $this->url('userAPI', array('action' => 'userfeedback')); ?>"><?php echo $this->translate('User Feedback') ?></a></li>-->
                                            <li><a href="<?php echo $this->url('user', array('action' => 'index')); ?>"><?php echo $this->translate('Settings') ?></a></li>
                                            <li role="presentation" class="divider"></li>
                                            <li><a id="posLogout" href="#"><?php echo $this->translate('Logout') ?></a></li>
                                        </ul>
                                    <?php } ?>
                                </li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div><!-- ./col-lg -->

                </div><!-- ./row -->
            </div><!--./container-->
        </div><!--.navbar-->

        <?php echo $this->content; ?>

        <?php
        $flashMessages = $this->flashMessenger()->getMessages();
        if (isset($flashMessages)) {
            foreach ($flashMessages as $message) {
                echo <<<HTML
            <script type="text/javascript">
                $(function(){
                    p_notification(true, "{$message}");
                });
            </script>
HTML;
            }
        }
        ?>
    </body>
</html>
