<div class="data_table">
    <table width="100%" class="product-list">
        <tr>
            <td>
                <hr />
                <br />
                <div class="qout_body">
                    <table width="100%" class="table bigtable table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width: 10%"><?php echo $this->translate("Item Code"); ?></th>
                                <th style="width: 20%"><?php echo $this->translate("Item Name"); ?></th>
                                <th class="text-right" style="width: 13%"><?php echo $this->translate("Quantity"); ?></th>
                                <th style="width: 2%"</th>
                                <th class="text-right" style="width: 15%"><?php echo $this->translate("Unit Price"); ?><br/><?php echo "({$this->currencySymbol})"; ?></th>
                                <th class="text-right" style="width: 15%"><?php echo $this->translate("Total"); ?><br/><?php echo "({$this->currencySymbol})"; ?></th>
                            </tr>
                        </thead>
                        <tbody id="form_row">
                            <?php
                            $totalPrice = 0;
                            foreach ($this->inventdata as $adjData) {
                                    $qty = $adjData['sumProductQty'];
                                    $itemTotalPrice = $adjData['unitOfPrice'] * $adjData['sumProductQty'];
                                ?>
                                <tr class="">
                                    <td id='code'><?php echo $adjData['productCode']; ?></td>
                                    <td id='name'><?php echo $adjData['productName']; ?></td>
                                    <td id='quantity' class='text-right'><?php echo $qty; ?></td>
                                    <td><span id="uomName" class='text-right'><?php echo $adjData['uomAbbr']; ?></span></td>
                                    <td id='unit' class='text-right'><?php echo $adjData['unitOfPrice']; ?></td>
                                    <td id='disc' class='text-right'><?php echo number_format($itemTotalPrice, 2); ?></td>

                                </tr>
                                <?php
                                $totalPrice += $itemTotalPrice;
                            }
                            ?>
                        </tbody>

                    </table>
                </div>
                <div class="summary">
                    <table width="100%"  id="" class="table">
                        <col width="90px"><col width="290px"><col width="75px">
                        <col width="100px"><col width="50px"><col width="100px">
                        <tr>
                            <td colspan="3"><h3><?php echo $this->translate('Total ') . $currencySymbol; ?></h3></td>
                            <td class="text-right"><strong><h3><?php echo number_format($totalPrice, 2); ?></h3></strong></td>

                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">
                                <?php
                                echo "<div id='comment'><strong>" . $this->translate('Comment') . "&nbsp;:</strong><pre style='font-family:Helvetica,Arial,sans-serif; white-space: pre-wrap;'><i>" . $this->adjustmentComment . "</i></div>";
                                ?>
                            </td>
                            <td colspan="4" rowspan="2">
                                <?php
                                echo "<div id='reson'><strong>" . $this->translate('Reson') . "&nbsp;:</strong><pre style='font-family:Helvetica,Arial,sans-serif; white-space: pre-wrap;'><i>" . $this->adjustmentReson . "</i></div>";
                                ?>
                            </td>
                        </tr>



                    </table>
                </div>

            </td>
        </tr>
    </table>
</div><!--./col


