<?php 
$maintainProject = $this->maintainProject;
?>


<div class="margin_top">
	<div class="form-horizontal">
		<div class="well clearfix well_custom_padding margin_top sales_order_search" id="resourceManageForm">
		        <div class="row" style="padding: 0px 10px 0px 10px">
		            <?php if($maintainProject == 1) { ?>
		            <div class="col-lg-3 col-md-2 col-sm-3 col-xs-5" style="margin: 0px 10px 0px 10px">
                        <div class="form-group">
                            <label class="control-label"><?php echo $this->translate('Project') ?></label>
                            <select class="form-control selectpicker show-tick" id="projectCode" name="projectCode" data-live-search="true">
                                <option value="0"><?php echo $this->translate('Search Project') ?></option>
                            </select>
                        </div>
		            </div>
                    <?php } ?>
		            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5" style="margin: 0px 10px 0px 10px">
                        <div class="form-group">
                            <label class="control-label"><?php echo $this->translate('Job') ?></label>
                            <select class="form-control selectpicker show-tick" id="JobCode_byProject" name="JobCode_byProject" data-live-search="true">
                                <option value="0"><?php echo $this->translate('Select Job') ?></option>
                            </select>
                            <select class="form-control selectpicker show-tick" id="JobCode_search" name="JobCode_search" data-live-search="true">
                                <option value="0"><?php echo $this->translate('Search Job') ?></option>
                            </select>
                        </div>
		            </div>

		            
		            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5" style="margin: 0px 10px 0px 10px">
	                    <div class="form-group" style="padding-top: 26px">
	                        <button type="button" class="btn btn-primary" id="btnManage"><?php echo $this->translate('Manage') ?></button>
	                    </div>
		            </div>

		        </div>
		    </div>
            <div id="default-job-list">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><?php echo $this->translate('Job Code') ?></th>
                            <th class="text-center"><?php echo $this->translate('Job Name') ?></th>
                            <th class="text-center"><?php echo $this->translate('Job Type') ?></th>
                            <th class="text-center"><?php echo $this->translate('Job Supervisor') ?></th>
                            <?php if($this->contractorForJob == 1) {?> 
                            <th class="text-center"><?php echo $this->translate('Contractor') ?></th>
                            <?php } ?>
                            <th class="text-center"><?php echo $this->translate('Due Date') ?></th>
                            <th></th>
                            
                        
                        </tr>
                    </thead>
                    <tbody>
                        <?php
                        foreach ($this->jobs as $job) {
                            $job = (object) $job;
                            ?>
                            <tr data-job-id="<?php echo $job->jobId; ?>" data-entity-id="<?php echo $job->entityID; ?>" data-job-name="<?php echo $job->jobName; ?>" data-job-type="<?php echo $job->jobTypeID; ?>" data-employee-address="<?php echo $employee->employeeAddress; ?>"  data-job-contractor-id="<?php echo $job->contractorID; ?>">
                                <td class="jobCode"><?php echo $job->jobReferenceNumber; ?></td>
                                <td class="jobName text-center"><?php echo $job->jobName; ?></td>
                                <td class="jobType text-center"><?php echo $job->jobTypeName; ?></td>
                                <td class="text-center">
                                    <a href="#" class="glyphicon glyphicon-expand custom_font_size job-supervisor-view" data-toggle="modal" data-action="view"></a>
                                </td>
                                <?php if($this->contractorForJob == 1) {?> 
                                <td class="jobContractor text-center viewContractors"><a href="#"><i class="fa fa-user" style="font-size: 15px;"></i></a></td>
                                <?php } ?>
                                <td class="jobDueDate text-center"><?php echo $job->jobDueDate; ?></td>
                                <td class="text-center">
                                    <a class="btn btn-primary form-control manageRawBtn">
                                        <span><?php echo $this->translate('Manage') ?></span>
                                    </a>
                                </td>
                            </tr>
                            <?php
                        }
                        ?>
                    </tbody>
                </table>
                <?php
                if ($this->paginated) {
                    echo $this->paginationControl(
                            $this->jobs, 'sliding', array('partial/paginator.phtml', 'jobs'), array(
                        'route' => 'resourceManagement', 'action' => 'index'
                            )
                    );
                }
                ?>
            </div>
		    <div class="margin_bottom" id="productPanel">
		    	<ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item hidden" id="tablink_1">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#tab_1" role="tab"><?php echo $this->translate('Available Products') ?></a>
                    </li>
                    <li class="nav-item hidden" id="tablink_2">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#tab_2" role="tab"><?php echo $this->translate('Unavailable Products') ?></a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent" style="padding-top: 20px">
                    <div class="tab-pane fade hidden" id="tab_1" role="tabpanel">
                    <div class="panel-group">
                        <div class="panel panel-default hidden" id="productPanel_3">
                            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseRawMaterials">
                                <h4 class="panel-title"><?php echo $this->translate('Raw Materials') ?></h4>
                            </div>
                            <div id="collapseRawMaterials" class="panel-collapse in" style="height: auto;">
                                <div class="panel-body">
                                    <table class="deliveryNoteProductTable table  table-striped margin_top_normal table-condensed" id="RawMaterialsTable">
                                        <thead>
                                            <tr>
                                                <th style="width: 25%" class="th_code"><?php echo $this->translate('Item Code / Item Name') ?></th>
                                                <th style="width: 10%" class="th_code"><?php echo $this->translate('UOM') ?></th>
                                                <th style="width: 12%" class="th_code"><?php echo $this->translate('Required Qty') ?></th>
                                                <th style="width: 12%" class="th_code"><?php echo $this->translate('Available Qty') ?></th>
                                                <th style="width: 12%" class="th_code"><?php echo $this->translate('Re-Order Qty') ?></th>
                                                <th style="width: 12%" class="th_code"><?php echo $this->translate('Used Qty') ?></th>
                                                <th style="width: 4%" class="th_code"><?php echo $this->translate('Request') ?></th>
                                                <th style="width: 15%" class="th_code"><?php echo $this->translate('Item Request') ?></th>
                                            </tr>
                                        </thead>

                                        <tbody id="add-new-item-row">
                                            <tr class="add-row sample hidden">
                                                <td class="clearfix">
                                                    <input type="text" class="form-control" id="itemCode" disabled="true">
                                                </td>
                                                <td class="clearfix">
                                                    <input type="text" class="form-control" id="uom" disabled="true">
                                                </td>
                                                <td class="clearfix">
                                                    <input type="text" class="form-control text-right" id="requiredQty" disabled="true">
                                                </td>
                                                <td class="clearfix">
                                                    <input type="text" class="form-control text-right" id="availableQty" disabled="true">
                                                    <input type="hidden" class="form-control text-right" id="totalAvailableQty" disabled="true">
                                                </td>
                                                <td class="clearfix">
                                                    <input type="text" class="form-control text-right" id="reOrderQty" disabled="true">
                                                </td>
                                                <td class="clearfix">
                                                    <input type="text" class="form-control text-right usedQty" id="usedQty">
                                                </td>
                                                <td class="clearfix" style="padding-left: 2.5%">
                                                    <input type="checkbox" id="requestCheck" class="requestCheck hidden">
                                                </td>
                                                <td class="clearfix">
                                                    <button type="button" class="btn btn-success form-control viewMateReqModal" style="width: 70px"><?php echo $this->translate('View') ?></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default hidden" id="productPanel_2">
                            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseItems">
                                <h4 class="panel-title"><?php echo $this->translate('Fixed Assets') ?></h4>
                            </div>

                            <div id="collapseItems" class="panel-collapse collapse" style="height: 0px;">
                                <div class="panel-body">
                                    <table class="deliveryNoteProductTable table  table-striped margin_top_normal table-condensed" id="RawMaterialsTable">
                                        <thead>
                                            <tr>
                                                <th style="width: 25%" class="th_code"><?php echo $this->translate('Item Code / Item Name') ?></th>
                                                <th style="width: 10%" class="th_code"><?php echo $this->translate('UOM') ?></th>
                                                <th style="width: 12%" class="th_code"><?php echo $this->translate('Required Qty') ?></th>
                                                <th style="width: 12%" class="th_code"><?php echo $this->translate('Available Qty') ?></th>
                                                <th style="width: 12%" class="th_code"><?php echo $this->translate('Re-Order Qty') ?></th>
                                                <th style="width: 12%" class="th_code"><?php echo $this->translate('Used Qty') ?></th>
                                                <th style="width: 4%" class="th_code"><?php echo $this->translate('Request') ?></th>
                                                <th style="width: 15%" class="th_code"><?php echo $this->translate('Item Request') ?></th>
                                            </tr>
                                        </thead>

                                        <tbody id="add-new-item-row">
                                            <tr class="add-row sample hidden">
                                                <td class="clearfix">
                                                    <input type="text" class="form-control" id="itemCode" disabled="true">
                                                </td>
                                                <td class="clearfix">
                                                    <input type="text" class="form-control" id="uom" disabled="true">
                                                </td>
                                                <td class="clearfix">
                                                    <input type="text" class="form-control text-right" id="requiredQty" disabled="true">
                                                </td>
                                                <td class="clearfix">
                                                    <input type="text" class="form-control text-right" id="availableQty" disabled="true">
                                                    <input type="hidden" class="form-control text-right" id="totalAvailableQty" disabled="true">
                                                </td>
                                                <td class="clearfix">
                                                    <input type="text" class="form-control text-right" id="reOrderQty" disabled="true">
                                                </td>
                                                <td class="clearfix">
                                                    <input type="text" class="form-control text-right usedQty" id="usedQty">
                                                </td>
                                                <td class="clearfix" style="padding-left: 2.5%">
                                                    <input type="checkbox" id="requestCheck" class="requestCheck hidden">
                                                </td>
                                                <td class="clearfix">
                                                    <button type="button" class="btn btn-success form-control viewMateReqModal" style="width: 70px"><?php echo $this->translate('View') ?></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default hidden" id="productPanel_1">
                            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseFixedAssets">
                                <h4 class="panel-title"><?php echo $this->translate('Items') ?></h4>
                            </div>

                            <div id="collapseFixedAssets" class="panel-collapse collapse" style="height: 0px;">
                                <div class="panel-body">
                                    <table class="deliveryNoteProductTable table  table-striped margin_top_normal table-condensed" id="RawMaterialsTable">
                                        <thead>
                                            <tr>
                                                <th style="width: 25%" class="th_code"><?php echo $this->translate('Item Code / Item Name') ?></th>
                                                <th style="width: 10%" class="th_code"><?php echo $this->translate('UOM') ?></th>
                                                <th style="width: 12%" class="th_code"><?php echo $this->translate('Required Qty') ?></th>
                                                <th style="width: 12%" class="th_code"><?php echo $this->translate('Available Qty') ?></th>
                                                <th style="width: 12%" class="th_code"><?php echo $this->translate('Re-Order Qty') ?></th>
                                                <th style="width: 12%" class="th_code"><?php echo $this->translate('Used Qty') ?></th>
                                                <th style="width: 4%" class="th_code"><?php echo $this->translate('Request') ?></th>
                                                <th style="width: 15%" class="th_code"><?php echo $this->translate('Item Request') ?></th>
                                            </tr>
                                        </thead>

                                        <tbody id="add-new-item-row">
                                            <tr class="add-row sample hidden">
                                                <td class="clearfix">
                                                    <input type="text" class="form-control" id="itemCode" disabled="true">
                                                </td>
                                                <td class="clearfix">
                                                    <input type="text" class="form-control" id="uom" disabled="true">
                                                </td>
                                                <td class="clearfix">
                                                    <input type="text" class="form-control text-right" id="requiredQty" disabled="true">
                                                </td>
                                                <td class="clearfix">
                                                    <input type="text" class="form-control text-right" id="availableQty" disabled="true">
                                                    <input type="hidden" class="form-control text-right" id="totalAvailableQty" disabled="true">
                                                </td>
                                                <td class="clearfix">
                                                    <input type="text" class="form-control text-right" id="reOrderQty" disabled="true">
                                                </td>
                                                <td class="clearfix">
                                                    <input type="text" class="form-control text-right usedQty" id="usedQty">
                                                </td>
                                                <td class="clearfix" style="padding-left: 2.5%">
                                                    <input type="checkbox" id="requestCheck" class="requestCheck hidden">
                                                </td>
                                                <td class="clearfix">
                                                    <button type="button" class="btn btn-success form-control viewMateReqModal" style="width: 70px"><?php echo $this->translate('View') ?></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="tab-pane fade" id="tab_2" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="panel-group">
                        <div class="panel panel-default hidden" id="unProductPanel_3">
                            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#uncollapseRawMaterials">
                                <h4 class="panel-title"><?php echo $this->translate('Raw Materials') ?></h4>
                            </div>
                            <div id="uncollapseRawMaterials" class="panel-collapse in" style="height: auto;">
                                <div class="panel-body">
                                    <table class="deliveryNoteProductTable table  table-striped margin_top_normal table-condensed" id="RawMaterialsTable">
                                        <thead>
                                            <tr>
                                                <th style="width: 25%" class="th_code"><?php echo $this->translate('Item Code / Item Name') ?></th>
                                                <th style="width: 10%" class="th_code"><?php echo $this->translate('UOM') ?></th>
                                                <th style="width: 12%" class="th_code"><?php echo $this->translate('Required Qty') ?></th>
                                                <th style="width: 12%" class="th_code"><?php echo $this->translate('Available Qty') ?></th>
                                                <th style="width: 12%" class="th_code"><?php echo $this->translate('Re-Order Qty') ?></th>
                                                <th style="width: 12%" class="th_code"><?php echo $this->translate('Used Qty') ?></th>
                                                <th style="width: 4%" class="th_code"><?php echo $this->translate('Request') ?></th>
                                                <th style="width: 15%" class="th_code"><?php echo $this->translate('Item Request') ?></th>
                                            </tr>
                                        </thead>

                                        <tbody id="add-new-item-row">
                                            <tr class="add-row sample hidden">
                                                <td class="clearfix">
                                                    <input type="text" class="form-control" id="itemCode" disabled="true">
                                                </td>
                                                <td class="clearfix">
                                                    <input type="text" class="form-control" id="uom" disabled="true">
                                                </td>
                                                <td class="clearfix">
                                                    <input type="text" class="form-control text-right" id="requiredQty" disabled="true">
                                                </td>
                                                <td class="clearfix">
                                                    <input type="text" class="form-control text-right" id="availableQty" disabled="true">
                                                    <input type="hidden" class="form-control text-right" id="totalAvailableQty" disabled="true">
                                                </td>
                                                <td class="clearfix">
                                                    <input type="text" class="form-control text-right" id="reOrderQty" disabled="true">
                                                </td>
                                                <td class="clearfix">
                                                    <input type="text" class="form-control text-right usedQty" id="usedQty">
                                                </td>
                                                <td class="clearfix" style="padding-left: 2.5%">
                                                    <input type="checkbox" id="requestCheck" class="requestCheck hidden">
                                                </td>
                                                <td class="clearfix">
                                                    <button type="button" class="btn btn-success form-control viewMateReqModal" style="width: 70px"><?php echo $this->translate('View') ?></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default hidden" id="unProductPanel_2">
                            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#uncollapseItems">
                                <h4 class="panel-title"><?php echo $this->translate('Fixed Assets') ?></h4>
                            </div>

                            <div id="uncollapseItems" class="panel-collapse collapse" style="height: 0px;">
                                <div class="panel-body">
                                    <table class="deliveryNoteProductTable table  table-striped margin_top_normal table-condensed" id="RawMaterialsTable">
                                        <thead>
                                            <tr>
                                                <th style="width: 25%" class="th_code"><?php echo $this->translate('Item Code / Item Name') ?></th>
                                                <th style="width: 10%" class="th_code"><?php echo $this->translate('UOM') ?></th>
                                                <th style="width: 12%" class="th_code"><?php echo $this->translate('Required Qty') ?></th>
                                                <th style="width: 12%" class="th_code"><?php echo $this->translate('Available Qty') ?></th>
                                                <th style="width: 12%" class="th_code"><?php echo $this->translate('Re-Order Qty') ?></th>
                                                <th style="width: 12%" class="th_code"><?php echo $this->translate('Used Qty') ?></th>
                                                <th style="width: 4%" class="th_code"><?php echo $this->translate('Request') ?></th>
                                                <th style="width: 15%" class="th_code"><?php echo $this->translate('Item Request') ?></th>
                                            </tr>
                                        </thead>

                                        <tbody id="add-new-item-row">
                                            <tr class="add-row sample hidden">
                                                <td class="clearfix">
                                                    <input type="text" class="form-control" id="itemCode" disabled="true">
                                                </td>
                                                <td class="clearfix">
                                                    <input type="text" class="form-control" id="uom" disabled="true">
                                                </td>
                                                <td class="clearfix">
                                                    <input type="text" class="form-control text-right" id="requiredQty" disabled="true">
                                                </td>
                                                <td class="clearfix">
                                                    <input type="text" class="form-control text-right" id="availableQty" disabled="true">
                                                    <input type="hidden" class="form-control text-right" id="totalAvailableQty" disabled="true">
                                                </td>
                                                <td class="clearfix">
                                                    <input type="text" class="form-control text-right" id="reOrderQty" disabled="true">
                                                </td>
                                                <td class="clearfix">
                                                    <input type="text" class="form-control text-right usedQty" id="usedQty">
                                                </td>
                                                <td class="clearfix" style="padding-left: 2.5%">
                                                    <input type="checkbox" id="requestCheck" class="requestCheck hidden">
                                                </td>
                                                <td class="clearfix">
                                                    <button type="button" class="btn btn-success form-control viewMateReqModal" style="width: 70px"><?php echo $this->translate('View') ?></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default hidden" id="unProductPanel_1">
                            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#uncollapseFixedAssets">
                                <h4 class="panel-title"><?php echo $this->translate('Items') ?></h4>
                            </div>

                            <div id="uncollapseFixedAssets" class="panel-collapse collapse" style="height: 0px;">
                                <div class="panel-body">
                                    <table class="deliveryNoteProductTable table  table-striped margin_top_normal table-condensed" id="RawMaterialsTable">
                                        <thead>
                                            <tr>
                                                <th style="width: 25%" class="th_code"><?php echo $this->translate('Item Code / Item Name') ?></th>
                                                <th style="width: 10%" class="th_code"><?php echo $this->translate('UOM') ?></th>
                                                <th style="width: 12%" class="th_code"><?php echo $this->translate('Required Qty') ?></th>
                                                <th style="width: 12%" class="th_code"><?php echo $this->translate('Available Qty') ?></th>
                                                <th style="width: 12%" class="th_code"><?php echo $this->translate('Re-Order Qty') ?></th>
                                                <th style="width: 12%" class="th_code"><?php echo $this->translate('Used Qty') ?></th>
                                                <th style="width: 4%" class="th_code"><?php echo $this->translate('Request') ?></th>
                                                <th style="width: 15%" class="th_code"><?php echo $this->translate('Item Request') ?></th>
                                            </tr>
                                        </thead>

                                        <tbody id="add-new-item-row">
                                            <tr class="add-row sample hidden">
                                                <td class="clearfix">
                                                    <input type="text" class="form-control" id="itemCode" disabled="true">
                                                </td>
                                                <td class="clearfix">
                                                    <input type="text" class="form-control" id="uom" disabled="true">
                                                </td>
                                                <td class="clearfix">
                                                    <input type="text" class="form-control text-right" id="requiredQty" disabled="true">
                                                </td>
                                                <td class="clearfix">
                                                    <input type="text" class="form-control text-right" id="availableQty" disabled="true">
                                                    <input type="hidden" class="form-control text-right" id="totalAvailableQty" disabled="true">
                                                </td>
                                                <td class="clearfix">
                                                    <input type="text" class="form-control text-right" id="reOrderQty" disabled="true">
                                                </td>
                                                <td class="clearfix">
                                                    <input type="text" class="form-control text-right usedQty" id="usedQty">
                                                </td>
                                                <td class="clearfix" style="padding-left: 2.5%">
                                                    <input type="checkbox" id="requestCheck" class="requestCheck hidden">
                                                </td>
                                                <td class="clearfix">
                                                    <button type="button" class="btn btn-success form-control viewMateReqModal" style="width: 70px"><?php echo $this->translate('View') ?></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>

                
            </div>
            <div class="row hidden well clearfix well_custom_padding margin_top" id="productPanel_footer" style="padding-top: 10px">
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <label class="control-label"><?php echo $this->translate('As at Date') ?></label>
                </div>
                <div class="col-lg-5 col-md-2 col-sm-2">
                    <div class="form-group">
                        <input type="text" class="datepicker form-control pointer_cursor" style="background-color: white" readonly="true" id="asAtDate" data-date-format="<?php echo $this->userdateFormat; ?>" data-standard-format="yyyy-mm-dd" placeholder="<?php echo $this->userdateFormat; ?>">
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2"></div>
                <div class="col-lg-4 col-sm-4">
                    <div class="text-right">
                        <button class="btn btn-default" id="requestRawMaterials"><?php echo $this->translate('Request Products') ?></button>
                        <button class="btn btn-primary" id="updateRawMaterials"><?php echo $this->translate('Save') ?></button>
                    </div>
                </div>
            </div>
	    </div>
	</div>
</div>

<div class="modal fade" id="requestMaterialsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4><?php echo $this->translate('Request Materials') ?></h4>
            </div>
            <div class="modal-body">
                <table class="deliveryNoteProductTable table  table-striped margin_top_normal table-condensed">
                    <thead>
                        <tr>
                            <th style="width: 50%" class="th_code"><?php echo $this->translate('Item Code / Item Name') ?></th>
                            <th style="width: 25%" class="th_code"><?php echo $this->translate('UOM') ?></th>
                            <th style="width: 25%" class="th_code"><?php echo $this->translate('Required Qty') ?></th>
                        </tr>
                    </thead>
                    <tbody id="materialsRequestTable">
                        <tr class="add-row sample hidden">
                            <td class="clearfix">
                                <input type="text" class="form-control" id="reqMateralsCode" disabled="true">
                            </td>
                            <td class="clearfix">
                                <input type="text" class="form-control" id="reqMateralsUom" disabled="true">
                            </td>
                            <td class="clearfix">
                                <input type="text" class="form-control text-right" id="reqMateralsQty">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!--modal_body-->
            <div class="modal-footer">
                <button type="button" id="makeMaterialsRequest" class="btn btn-primary"><?php echo $this->translate('Make Request') ?></button>
                <button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mateReqViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4><?php echo $this->translate('Item Request') ?> - <b id="jobProductName"><?php echo $this->translate('Product') ?></b></h4>
            </div>
            <div class="modal-body">
                <table class="deliveryNoteProductTable table  table-striped margin_top_normal table-condensed">
                    <thead>
                        <tr>
                            <th style="width: 25%" class="th_code"><?php echo $this->translate('Date') ?></th>
                            <th style="width: 25%" class="th_code"><?php echo $this->translate('Code') ?></th>
                            <th style="width: 25%" class="th_code"><?php echo $this->translate('Quantity') ?></th>
                            <th style="width: 25%" class="th_code"><?php echo $this->translate('State') ?></th>
                        </tr>
                    </thead>
                    <tbody id="mateReqViewTable">
                        <tr class="sample hidden">
                            <td class="clearfix" id="date"></td>
                            <td class="clearfix" id="code"></td>
                            <td class="clearfix" id="qty"></td>
                            <td class="clearfix" id="state">
                                <span id="8" class="badge badge-warning hidden"><?php echo $this->translate('Pending') ?></span>
                                <span id="16" class="badge badge-primary hidden"><?php echo $this->translate('Approved') ?></span>
                                <span id="4" class="badge badge-success hidden"><?php echo $this->translate('Closed') ?></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!--modal_body-->
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>

<!-- Project Supervisor View Modal -->
<div class="modal fade" id="viewJobSupervisorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><?php echo $this->translate('Job Supervisors') ?></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="job-supervisor-table table table-striped margin_top_normal table-condensed" id="jobSupervisorTable">
                    <thead>
                        <tr>
                            <th class="" style="width: 45%"><?php echo $this->translate("Job Supervisor Name"); ?></th>
                        </tr>
                    </thead>

                    <tbody id="formRow">
                        <tr id='preSample' class="hidden">
                            <td id="supervisorName">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>

<!-- Project contractor  View Modal -->
<div class="modal fade" id="viewJobContractorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><?php echo $this->translate('Job Contractors') ?></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="job-supervisor-table table table-striped margin_top_normal table-condensed" id="jobContractorTable">
                    <thead>
                        <tr>
                            <th class="" style="width: 45%"><?php echo $this->translate("Job Contractor Name"); ?></th>
                        </tr>
                    </thead>

                    <tbody id="formRow">
                        <tr id='contractorRow' class="hidden">
                            <td id="contractorName">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>
