<?php $this->headScript()->appendFile($this->basePath('js/expenses/accountType.js')); ?>

<div class="project-type-form-container margin_top">

    <div class="well well_heading">
        <h5 class="addTitle"><?php echo $this->translate('Add Account Type') ?></h5>
        <h5 class="updateTitle hidden"><?php echo $this->translate('Update Account Type') ?></h5>
    </div>

    <div class="well well_body">
        <div class="_row_with_margin clearfix">

            <!--account_type-->
            <div class="col-lg-8">
                <label for="accountType" class="_remove_bold"><?php echo $this->translate('Account Type') ?><span class="_required">*</span></label>
                <input type="text" autofocus="true" class="form-control" id="accountType" placeholder="<?php echo $this->translate('Eg: Savings'); ?>">
            </div>

            <!--reset&add_new-->
            <div class="col-lg-4 addDiv">
                <label>&nbsp;</label>
                <div class="text-right">
                    <button type="button" class="btn btn-primary add" id="btnSave"><?php echo $this->translate('Save') ?></button>
                    <button type="reset" class="btn btn-default reset" id="btnRest"><?php echo $this->translate('Reset') ?></button>
                </div>
            </div>

            <!--cancel&update-->
            <div class="col-lg-4 updateDiv hidden">
                <label>&nbsp;</label>
                <div class="text-right">
                    <button type="button" class="btn btn-primary update" id="btnUpdate"><?php echo $this->translate('Update') ?></button>
                    <button type="button" class="btn btn-default cancel" id="btnCancel"><?php echo $this->translate('Cancel') ?></button>
                </div>
            </div>

        </div><!--./row_with_margin-->
    </div><!--well-->

    <!--search-->
    <div class="well well_custom_padding margin_top">
        <div class="row">
            <div class="col-lg-3">
                <label class="remove_weight"><?php echo $this->translate('Search Account Type') ?></label>
            </div>
            <div class="search_field col-lg-9">
                <form class='account-search-form' method="post">
                    <div class="input-group">
                        <input type="text" class="form-control" id="accountTypeSearch" placeholder="<?php echo $this->translate('Enter account type'); ?>">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default minus_margin" id="btnSearchCancel"><?php echo $this->translate('Cancel') ?></button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!--row-->
    </div><!--well-->

    <!--table-->
    <div id="account-type-list" class="margin_top">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="80%"><?php echo $this->translate('Account Type'); ?></th>
                        <th width="10%" class="text-center"><?php echo $this->translate('Edit'); ?></th>
                        <th width="10%" class="text-center"><?php echo $this->translate('Delete'); ?></th>
                    </tr>
                </thead>

                <tbody>
                    <?php
                    if (count($accountTypes) == 0) {
                        ?>
                        <tr class="not_found">
                            <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                        </tr>
                        <?php
                    } else {
                        foreach ($accountTypes as $accountType) {
                            ?>
                            <tr data-type-id="<?php echo $accountType->accountTypeId; ?>" data-type-name="<?php echo $accountType->accountTypeName; ?>" data-entity-id="<?php echo $accountType->entityId; ?>">
                                <td><?php echo $accountType->accountTypeName; ?></td>
                                <td class="text-center">
                                    <a href="#" class="fa fa-edit custom_font_size acc-type-action" data-action="edit"></a>
                                </td>
                                <td class="text-center">
                                    <a href="#" class="fa fa-trash-o custom_font_size acc-type-action" data-toggle="modal" data-target="#accountTypeDeleteModal" data-action="delete"></a>
                                </td>
                            </tr>
                            <?php
                        }
                    }
                    ?>
                </tbody>
            </table>
        </div>
        <?php
        echo $this->paginationControl(
                $accountTypes, 'sliding', array('partial/paginator.phtml', 'accout-type'), array('route' => 'account-type', 'action' => 'index')
        );
        ?>
    </div>

</div><!--project_type_form_container-->

<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="accountTypeDeleteModal" tabindex="-1" role="dialog" aria-labelledby="accountTypeDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="accountTypeDeleteModalLabel"><?php echo $this->translate('Delete Account Type'); ?></h4>
            </div>
            <div class="modal-body accountTypeModalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate('Close'); ?></button>
                <button type="button" class="btn btn-danger" id="btnDelete"><?php echo $this->translate('Delete'); ?></button>
            </div>
        </div>
    </div>
</div>
