<div class="modal-dialog large grn_modal">
    <div class="modal-content">
        <form id="product-batch-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><?php echo $this->translate('&times;') ?></button>
                <h4 class="modal-title"><?php echo $this->translate('Select Batch / Serial Items') ?></h4>
            </div>
            <div class="modal-body">
                <input type="hidden" class="re_row">
                <div class="table-responsive" style="height: 300px; overflow-y: scroll">
                     <div class="form-group form-inline serial-auto-select hidden col-lg-12">
                        <div class="col-lg-7 text-right">
                            <label for="select_qty">
                                <?php echo $this->translate("Auto select serial number count : "); ?>
                            </label>
                        </div>
                        <div class="col-lg-3">
                            <input type="number" name="selected_quantity" id='numberOfRow' min="1" class="form-control">
                        </div>
                        <div class="col-lg-2">
                            <input type="button" value="Set" id="select_serials" class='btn btn-primary'>
                        </div>
                    </div>
                    <table class="table batch-table table-striped margin_top_normal table-condensed">
                        <thead>
                            <tr>
                                <th style="width: 10%" class="text-left"><?php echo $this->translate('Batch Code') ?></th>
                                <th style="width: 10%" class="text-left"><?php echo $this->translate('Serial Code') ?></th>
                                <th style="width: 15%" class="text-left"><?php echo $this->translate('Available Qty') ?></th>
                                <th style="width: 15%" class="text-center"><?php echo $this->translate('Deliver Qty') ?></th>
                                <th style="width: 10%" class="text-center"><?php echo $this->translate('WarrantyType') ?></th>
                                <th style="width: 10%" class="text-center"><?php echo $this->translate('WarrantyPeriod') ?></th>
                                <th style="width: 10%" class="text-center"><?php echo $this->translate('Expire Date') ?></th>
                                <th style="width: 10%" class="text-center"><?php echo $this->translate('Batch Price') ?></th>
                            </tr>
                        </thead>
                        <tbody id="batch_data">
                            <tr id="defaultRow" class="batch_row hidden">
                                <td class="batchCode"></td>
                                <td class="serialID"></td>
                                <td>
                                    <div class="input-group">
                                        <input type="text" readonly="true" name="availableQuantity" class="form-control">
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="input-group">
                                        <input type="text" name="deliverQuantity" class="form-control">
                                    </div>
                                    <input type="checkbox" name="deliverQuantityCheck" value="1">
                                </td>
                                <td>
                                    <input type="text" id="warrantyType"  name="warrantyType" class="form-control">
                                </td>
                                <td>
                                    <input type="text" id="warranty"  name="warranty" class="form-control">
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="text" id="expDate"  name="expireDate" class="form-control" readonly="true">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="text" id="btPrice"  name="btPrice" class="form-control" readonly="true">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer text-right">
                <input type="submit" value="<?php echo $this->translate("Save"); ?>" id="batch-save" class="btn btn-primary">
                <!--<input data-dismiss="modal" aria-hidden="true" type="button" value="Back" id="batchBack" class="btn btn-danger">-->
            </div>
        </form>
    </div> <!-- /.modal-content -->
</div> <!--/.modal-dialog -->