<?php $this->translate('New Delivery Note') ?>
<div id="invoice-list">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class=""><?php echo $this->translate('Delivery Note No') ?></th>
                <th class=""><?php echo $this->translate('Customer Name') ?></th>
                <th class="text-left"><?php echo $this->translate('Issued Date') ?></th>
                <th class=""><?php echo $this->translate('Total Amount') ?></th>
                <th class="text-left"><?php echo $this->translate('Status') ?></th>
                <th class="text-center"><?php echo $this->translate('Print View') ?></th>
                <th class="text-center"><?php echo $this->translate('Edit') ?></th>
                <th class="text-center"><?php echo $this->translate('Related Documents') ?></th>
                <th class="text-center"><?php echo $this->translate('Attachments') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            if (count($this->deliveryNote) > 0) {
                foreach ($this->deliveryNote as $key => $deliveryNote) {
                    $deliveryNote = (object) $deliveryNote;
                    if ($deliveryNote->deliveryNoteCustomCurrencyRate == 0) {
                        $currencyRate = 1;
                    } else {
                        $currencyRate = $deliveryNote->deliveryNoteCustomCurrencyRate;
                    }
                    if (isset($deliveryNote->currencySymbol)) {
                        $currencySymbol = $deliveryNote->currencySymbol;
                    } else {
                        $currencySymbol = $this->companyCurrencySymbol;
                    }
                    if (!is_null($deliveryNote->customerName)) {
                        $customerName = $deliveryNote->customerName . "-" . $deliveryNote->customerCode;
                    } else {
                        $customerName = "Default Customer";
                    }
                    $state = ucfirst($this->statuses[$deliveryNote->deliveryNoteStatus]);
                    switch ($deliveryNote->deliveryNoteStatus) {
                        case "1":
                            $style = "label label-primary";
                            break;
                        case "2":
                            $style = "label label-default";
                            break;
                        case "3":
                            $style = "label label-success";
                            break;
                        case "4":
                            $style = "label label-warning";
                            break;
                        case "5":
                            $style = "label label-primary";
                            break;
                        case "6":
                            $state = 'Open';
                            $style = "label label-danger";
                            break;
                        default :
                            $style = "label label-default";
                    }
                    ?>
                    <tr>
                        <td class=""> <?php echo $deliveryNote->deliveryNoteCode; ?></td>
                        <td class=""> <?php echo $customerName; ?></td>
                        <td class="text-left"> <?php echo $this->userDateFormatHelper($deliveryNote->deliveryNoteDeliveryDate, $this->userdateFormat); ?></td>
                        <td class=""> <?php echo $currencySymbol . ' ' . number_format($deliveryNote->deliveryNotePriceTotal / $currencyRate, 2); ?></td>
                        <td class="text-left"><span class="<?php echo $style ?>"><?php echo $state; ?></span></td>
                        <td class="text-center">
                            <span class="preview link_color" style="cursor:pointer" data-href="<?php echo $this->url('delivery-note', array('action' => 'preview', 'param1' => $deliveryNote->deliveryNoteID)); ?>">
                                <span  id="<?php echo $deliveryNote->deliveryNoteID; ?>" class="glyphicon glyphicon-eye-open openlist"></span>
                            </span>
                        </td>
                        <td class="text-center">
                            <?php if (is_null($deliveryNote->jobId)) { ?>
                        	<?php if ($deliveryNote->deliveryNoteStatus == 3 || $deliveryNote->deliveryNoteStatus == 15) { ?>
                                <?php if($deliveryNote->customerStatus == 1) { ?>
                        	<a class="edits" href="<?php echo $this->url('delivery-note', array('action' => 'edit', 'param1' => $deliveryNote->deliveryNoteID));
                        		?>" id="<?php echo $deliveryNote->deliveryNoteID ?>">
                        		<span class="fa fa-pencil-square-o custom_font_size"></span>
                        	</a>
                            <?php } else { ?>
                                <a class="editsInactive" href="#" id="<?php echo $deliveryNote->deliveryNoteID ?>">
                                <span class="fa fa-pencil-square-o custom_font_size"></span>
                            </a>
                                <?php } ?>
                        	<?php } ?>
                            <?php } ?>
                        </td>
                        <td class="text-center">
                            <span id="<?php echo $deliveryNote->deliveryNoteID; ?>" class="link_color dln_related_docs" data-dln-related-id="<?php echo $deliveryNote->deliveryNoteID; ?>" style="cursor:pointer"><span class="grnView glyphicon glyphicon-link"></span></span>
                        </td>
                        <td class="text-center">
                            <span id="<?php echo $deliveryNote->deliveryNoteID; ?>" class="link_color doc_attachments" data-dln-related-id="<?php echo $deliveryNote->deliveryNoteID; ?>" style="cursor:pointer"><span class="glyphicon glyphicon-paperclip"></span></span>
                        </td>

                        <?php
                    }
                }
                if (count($this->deliveryNote) == 0) {
                    ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div>
