<?php
$dnform = $this->deliveryNoteForm;
$locationName = $this->locationName;
$locationID = $this->locationID;
$locationCode = $this->locationCode;
$referenceNumber = $this->referenceNumber;
$companyCurrencySymbol = $this->companyCurrencySymbol;

$dnform->prepare();
?>
<?php $this->headScript()->captureStart(); ?>
var companyCurrencySymbol =  <?php echo "'$companyCurrencySymbol'"; ?>;
<?php $this->headScript()->captureEnd(); ?>

<div class="margin_top">

    <?php echo $this->form()->openTag($dnform); ?>
    <input type="hidden" id='deliveryNoteId' value="<?php echo $this->deliveryNoteID ?>">
    <!--data_insert_section-->
    <div class="row">
        <div class="margin_top_normal">
            <div class="col-lg-5 col-md-5 col-sm-5">
                <div class="form-group">
                    <label for="customer" class="col-lg-5 control-label">
                        <?php echo $this->translate("Customer"); ?>
                        <font style="color: red">*</font>
                    </label>
                    <div class="col-lg-7">
                        <!-- <select class="form-control selectpicker show-tick" id="customer" name="customer" data-live-search="true">
                            <option value=""><?php echo $this->translate('Select Customer') ?> </option>
                        </select> -->
                        <select class="form-control" id="customer" name="customer">
                        </select>
                    </div>
                </div>

                <div class="form-group hidden cus_prof_div">
                    <label for='cusProfile' class="col-lg-5 control-label">
                        <?php echo $this->translate('Customer Profile'); ?>
                        <a class="help_icon_js hidden tooltip_for_default_cus" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="top" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('QUOTATION_DEFAULT_CUS_CHANGE') ?>">
                            <i class="fa fa-question-circle help_icon"></i>
                        </a>
                    </label>
                    <div class="col-lg-7 hidden cus-prof-select">
                        <select class="form-control selectpicker show-tick" id="cusProfileDN" name="cusProfileDN" data-live-search="true">
                            <option value=""><?php echo $this->translate('Select Customer Profile') ?></option>
                        </select>
                    </div>
                    <div class="col-lg-7 default-cus-prof">
                        <input type="text" value="" id='cus-prof-name' class="form-control " disabled="true">
                    </div>
                </div>

                <div class="form-group">
                    <label for="location" class="col-lg-5 control-label">
                        <?php echo $this->translate("Issue Location"); ?>
                        <font style="color: red">*</font>
                    </label>
                    <div class="col-lg-7">
                        <?php
                        if ($locationName != NULL && $locationID != NULL) {
                            $dnform->get('currentLocation')->setValue($locationCode . ' - ' . $locationName)->setAttribute('disabled', true);
                            ?>
                            <input type="hidden" id="idOfLocation" value="<?php echo $locationID ?>">
                        <?php }
                        ?>
                        <?php echo $this->formRow($dnform->get('currentLocation')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="deliveryNoteAddress" class="col-lg-5 control-label">
                        <?php echo $this->translate('Delivery Address'); ?>
                        <font style="color: red">*</font>
                    </label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($dnform->get('deliveryNoteAddress')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for='priceListId' class="col-lg-5 control-label">
                        <?php echo $this->translate('Price List'); ?>
                    </label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($dnform->get('priceListId')); ?>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dimensionType" class="col-lg-5 control-label">
                        <?php echo $this->translate('View Documents'); ?>
                    </label>
                    <div class="col-lg-3 text-right">
                        <button class="btn btn-default form-control" type="button" id='viewUploadedFiles'><i class="glyphicon glyphicon-eye-open"></i></button>
                    </div>
                </div>

            </div><!--./col-->
        </div><!--margin_top-->

        <div class="col-lg-5 col-md-5 col-sm-5 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
            <div class="form-group">
                <label for="date" class="col-lg-5 control-label">
                    <?php echo $this->translate("Delivery Date"); ?>
                    <font style="color: red">*</font>
                </label>
                <div class="col-lg-7">
                    <input type="text" class="datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="deliveryDate" data-date-format="<?php echo $this->userdateFormat; ?>" placeholder="<?php echo $this->userdateFormat; ?>">
                </div>
            </div>

            <div class="form-group">
                <label for="deliveryNoteNumber" class="col-lg-5 control-label">
                    <?php echo $this->translate('Delivery Note No'); ?><font style="color: red"> *</font>
                </label>
                <div class="col-lg-7">
                    <?php
                    $dnform->get('deliveryNoteNo')->setValue($referenceNumber)->setAttribute('disabled', true);
                    ?>
                    <?php echo $this->formRow($dnform->get('deliveryNoteNo')); ?>
                    <input type="hidden" id="locRefID">
                </div>
            </div>

            <div class="form-group">
                <label for="salesPerson" class="col-lg-5 control-label">
                    <?php echo $this->translate('Sales Person'); ?>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($dnform->get('salesPersonID')); ?>
                </div>
            </div>

            <div class="form-group">
                <label for="customCurrencyId" class="col-lg-5 control-label">
                    <?php echo $this->translate('Custom Currency'); ?>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($dnform->get('customCurrencyId')); ?>
                </div>
            </div>
            <div class="form-group">
                <label for="dimensionType" class="col-lg-5 control-label">
                    <?php echo $this->translate('Dimension'); ?>
                </label>
                <div class="col-lg-7">
                    <a data-toggle="modal" id="dimensionView" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></a>
                </div>
            </div>
            <div class="form-group">
                <label for="dimensionType" class="col-lg-5 control-label">
                    <?php echo $this->translate('Select Documents'); ?>
                </label>
                <div class="col-lg-4">
                    <input type="file" name="files[]" id="editDocumentFiles" multiple style="border-color: white">
                </div>
            </div>
        </div><!--./col-->
    </div><!--margin_top-->

    <!--table-->
    <div class="col-lg-12">
        <div id="productTable" class=" table">
            <div id="productAddOverlay" class=""></div>
            <table class="deliveryNoteProductTable table  table-striped margin_top_normal table-condensed" id="deliveryNoteProductTable">
                <thead>
                    <tr>
                        <th style="width: 20%"><?php echo $this->translate("Item Code or Name"); ?></th>
                        <th style="width: 12%"><?php echo $this->translate('Available Qty'); ?></th>
                        <th class="text-right" style="width: 12%"><?php echo $this->translate("Delivery Qty"); ?></th>
                        <th style="width: 2%"></th>
                        <th class="text-right" style="width: 17%"><?php echo $this->translate("Price"); ?></th>
                        <th class="text-right" style="width: 10%"><?php echo $this->translate("Dis.Per Item"); ?></th>
                        <th class="text-right" style="width: 8%"><?php echo $this->translate("Taxes"); ?></th>
                        <th class="text-right" style="width: 15%"><?php echo $this->translate("Total"); ?></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <!--item_show_row-->
                <tbody id="form_row">
                    <tr id='preSetSample' class="hidden">
                        <td id='code'></td>
                        <td id='availableQuantity' class='text-right'></td>
                        <td id='quantity' class='text-right'></td>
                        <td><span id="uomName" class='text-right'></span></td>
                        <td id='unit' class='text-right'></td>
                        <td id='disc' class='text-right'></td>
                        <td class='text-right' id='tax'>
                            <div class='btn-group'>
                                <button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'>
                                    <span id='' class=''></span>&nbsp;
                                    <i class='fa fa-caret-down'></i>
                                </button>
                                <ul class=''></ul>
                            </div>
                        </td>
                        <td id='ttl' class='text-right'></td>
                        <td>
                            <button type='button' class='btn btn-default grnDeleteProduct'>
                                <i class='fa fa-trash-o delete'></i>
                            </button>
                        </td>
                        <td>
                            <button type='button' class='grnViewProducts btn btn-default'>
                                <i class="fa fa-expand"></i>
                            </button>
                        </td>
                        <td></td>
                    </tr>
                </tbody>

                <!--item_insert_row-->
                <tbody id="add-new-item-row">
                    <tr class="add-row sample hidden">
                        <td class="">
                            <p class="visible-xs"><?php echo $this->translate('Item Code or Name') ?></p>
                            <!-- <select class="form-control show-tick" id="itemCode" name="itemCode" data-live-search="true">
                                <option value=""><?php echo $this->translate('Enter Item Code Or Name') ?></option>
                            </select> -->
                            <select class="form-control" id="itemCode" name="itemCode">
                            </select>
                        </td>
                        <td class="">
                            <p class="visible-xs"><?php echo $this->translate('Available Qty') ?></p>
                            <div class="">
                                <?php echo $this->formRow($dnform->get('availableQuantity')); ?>
                            </div>
                        </td>
                        <td>
                            <p class="visible-xs"><?php echo $this->translate('Delivery Qty') ?></p>
                            <div class="">
                                <?php echo $this->formRow($dnform->get('deliverQuanity')); ?>
                            </div>
                        </td>
                        <td></td>
                        <td class="">
                            <p class="visible-xs"><?php echo $this->translate('Price') ?></p>
                            <div class="pull-right input-group">
                                <?php echo $this->formRow($dnform->get('unitPrice')); ?>
                                <strong class="input-group-addon cCurrency"><?php echo $companyCurrencySymbol; ?></strong>
                            </div>
                        </td>
                        <td>
                            <p class="visible-xs"><?php echo $this->translate('Dis.Per Item') ?></p>
                            <div class="input-group">
                                <?php echo $this->formRow($dnform->get('discount')); ?>
                                <span class="input-group-addon sign"></span>
                            </div>
                        </td>
                        <td class='text-right' id='tax'>
                            <p class="visible-xs"><?php echo $this->translate('Taxes') ?></p>
                            <div id="addNewTaxDiv" class='btn-group'>
                                <button id ="addNewTax" type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'>
                                    <span id='taxApplied' class='glyphicon glyphicon-unchecked'></span>
                                    <span class='fa fa-caret-down'></span>
                                </button>
                                <ul id="addTaxUl" class="text-left dropdown-menu">
                                    <li id="sampleLi" class="hidden">
                                        &nbsp;&nbsp;<input class="taxChecks" id="" type='checkbox' >
                                        <label for="" class="taxName">&nbsp;&nbsp;</label>
                                    </li>
                                    <li id="toggleSelection">&nbsp;&nbsp;<div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs" id="selectAll"><?php echo $this->translate('Select all') ?>
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs" id="deselectAll"><?php echo $this->translate('Deselect all') ?>
                                    </button></div>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <p class="visible-xs text-right"><?php echo $this->translate('Total') ?></p>
                            <div class="pull-right input-group">
                                <label class="text-right" id="addNewTotal" >0.00</label>
                            </div>
                        </td>
                        <td>
                            <button type='button' class="edit-modal btn btn-default" title="Select Batch / Serial Products">
                                <i class="fa fa-sitemap"></i>
                            </button>
                        </td>
                        <td>
                            <button  type='button' class="add btn btn-default" id="add_item" >
                                <i class="fa fa-plus"></i>
                            </button>
                            <button  type='button' class="edit btn btn-default hidden">
                                <i class="fa fa-pencil-square-o"></i>
                            </button>
                            <button  type='button' class="save btn btn-default hidden">
                                <i class="fa fa-floppy-o"></i>
                            </button>
                        </td>
                        <td>
                            <button  type='button' class="delete disabled btn btn-default">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>

                <tbody class="dn_table_footer">
                    <!--dummy_row_for_separate_subtotal_section-->
                    <tr>
                        <td colspan='11'>&nbsp;</td>
                    </tr>

                    <!--sub_total-->
                    <tr>
                        <td colspan="7" class="text-right"><?php echo $this->translate("Sub Total"); ?></td>
                        <td class="text-right"><label id="subtotal">0.00</label></td>
                        <td colspan='3'></td>
                    </tr>

                    <!--display_taxes-->
                    <tr>
                        <td colspan="6">
                            <label class="remove_font_weight"><?php echo $this->formRow($dnform->get('showTax')) . "&nbsp;"; ?><?php echo $this->translate("Display Taxes"); ?></label>
                        </td>
                        <td class="text-right">
                            <div id="totalTaxShow" class="hidden"></div>
                        </td>
                        <td colspan="4"></td>
                    </tr>

                    <!--delivery_charges-->
                    <tr>
                        <td colspan="7">
                            <label class="remove_font_weight">
                                <?php
                                echo $this->formRow($dnform->get('deliveryChargeEnable')) . "&nbsp;";
                                echo $this->translate("Delivery Charges");
                                ?>
                            </label>
                        </td>
                        <td>
                            <div class='deliCharges hidden'><?php echo $this->formRow($dnform->get('deliveryCharge')); ?></div>
                        </td>
                        <td colspan='3'></td>
                    </tr>

                    <!--total-->
                    <tr>
                        <td colspan="7" class="text-right"><h4 class="font_weight"><?php echo $this->translate("Total ") ?>&nbsp;<span class="cCurrency"> <?php echo $companyCurrencySymbol; ?></span></h4></td>
                        <td class="text-right"><h4 id="finaltotal" class="font_weight">0.00</h4></td>
                        <td colspan="3"></td>
                    </tr>
                </tbody>
            </table>

        </div><!--table_responsive-->

        <!--comment-->
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4"><!--comment-->
                <label for="cmnt" class="">
                    <?php echo $this->translate("Comment"); ?>
                </label>
                <?php echo $this->formRow($dnform->get('comment')); ?>
            </div>

            <div class="col-lg-4 col-sm-4"><!--button-->
                <div class="btn_margin_top ">
                    <?php echo $this->formRow($dnform->get('deliveryNoteCancelButton')); ?>
                    <?php echo $this->formRow($dnform->get('deliveryNoteSaveButton')); ?>
                </div>
            </div>

            <?php echo $this->form()->closeTag(); ?>

            <!--<div class="modal fade" id="addCustomerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <?php // echo $this->customerAddView;      ?>
            </div>-->
            <div class="modal fade" id="addDeliveryNoteProductsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <?php echo $this->deliveryNoteAddProducts; ?>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addDimensionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->dimensionAddView; ?>
</div>
<div class="modal fade" id="viewAttachmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->attachmentsView; ?>
</div>

<style type="text/css">
    .select2-selection {
        height: 32px !important;
    }
</style>
