<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate('Quotation Delete Confirmation') ?></h4>
        </div>
        <div class="modal-body">
            <?php echo $this->translate('Are You Sure You Want to Delete this Quotation?') ?>
        </div>
        <div class="modal-footer">
            <button id="delete-quotation-button" class="btn btn-primary"><?php echo $this->translate('Delete Quotation') ?></button>
            <button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Close') ?></button>
        </div>

    </div>
</div>