<div id="quotation-list">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center"><?php echo $this->translate('Quotation No') ?></th>
                <th class="text-center"><?php echo $this->translate('Issued Date') ?></th>
                <th class="text-center"><?php echo $this->translate('Overdue Date') ?></th>
                <th class="text-right"><?php echo $this->translate('Total Amount') ?></th>
                <th class="text-center"><?php echo $this->translate('Print View') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->quotation as $key => $quotation) {
                ?>
                <tr>
                    <td class="text-center"> <?php echo $quotation->id; ?></td>
                    <td class="text-center"> <?php echo $quotation->issuedDate; ?></td>
                    <td class="text-center"> <?php echo $quotation->expireDate; ?></td>
                    <td class="text-right"> <?php echo number_format($quotation->totalAmount, 2); ?></td>
                    <td class="text-center">
                        <a><span  id="<?php echo $quotation->id; ?>" class=" open glyphicon glyphicon-eye-open openlist"></span></a>
                    </td>
                <?php } ?>
        </tbody>
    </table>
    <?php
    echo $this->paginationControl(
            $this->quotation, 'sliding', array('partial/paginator.phtml', 'quotation'), array(
        'route' => 'quotation', 'action' => 'view'
            )
    );
    ?>
</div>
