<div class="row">
    <div id="quotation-list">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class=""><?php echo $this->translate('Quotation No') ?></th>
                    <th class=""><?php echo $this->translate('Customer Name') ?></th>
                    <th class=""><?php echo $this->translate('Issue Date') ?></th>
                    <th class=""><?php echo $this->translate('Valid Till') ?></th>
                    <th class="text-right"><?php echo $this->translate('State') ?></th>
                    <th class="text-right"><?php echo $this->translate('Total Amount') ?></th>
                    <th class="text-right"><?php echo $this->translate('Print View') ?></th>
                    <th class="text-right"><?php echo $this->translate('Edit') ?></th>
                    <th class="text-center"><?php echo $this->translate('Cancel') ?></th>
                    <th class="text-center"><?php echo $this->translate('Related Documents') ?></th>
                </tr>
            </thead>
            <tbody>
                <?php
                foreach ($this->quotation as $key => $quotation) {
                    $quotation = (object) $quotation;
                    if ($quotation->quotationCustomCurrencyRate == 0) {
                        $currencyRate = 1;
                    } else {
                        $currencyRate = $quotation->quotationCustomCurrencyRate;
                    }
                    if (isset($quotation->currencySymbol)) {
                        $currencySymbol = $quotation->currencySymbol;
                    } else {
                        $currencySymbol = $this->cur;
                    }
                    $state = ucfirst($this->statuses[$quotation->quotationStatus]);
                    $customerName = explode('-', $quotation->quotationCustomerName);
                    switch ($quotation->quotationStatus) {
                        case "1":
                            $style = "label label-primary";
                            break;
                        case "2":
                            $style = "label label-default";
                            break;
                        case "3":
                            $style = "label label-success";
                            break;
                        case "4":
                            $style = "label label-warning";
                            break;
                        case "5":
                            $style = "label label-primary";
                            break;
                        case "6":
                            $state = 'Open';
                            $style = "label label-danger";
                            break;
                        default :
                            $style = "label label-default";
                    }
                    ?>
                    <tr>
                        <td> <?php echo $quotation->quotationCode; ?></td>
                        <td class=""> <?php
//                            echo $customerName[0];
                            echo $quotation->customerName . ' - ' . $quotation->customerCode;
                            ?></td>

                        <td class=""> <?php echo $this->userDateFormatHelper($quotation->quotationIssuedDate, $this->userdateFormat); ?></td>
                        <td class=""><?php echo $this->userDateFormatHelper($quotation->quotationExpireDate, $this->userdateFormat); ?></td>
                        <td class="text-right"><span class="<?php echo $style; ?>"><?php echo $state; ?></span></td>
                        <td class = "text-right"><?php echo $currencySymbol . ' ' . number_format(($quotation->quotationTotalAmount / $currencyRate), 2); ?></td>
                        <td class="text-right">
                            <span class="preview link_color" style="cursor:pointer" data-href="<?php echo $this->url('quotation', array('action' => 'quotationView', 'param1' => $quotation->quotationID));
                            ?>" ><span id="<?php echo $quotation->quotationCode; ?>" class=" open glyphicon glyphicon-eye-open openlist"></span></span>
                        </td>
                        <td class="text-right">
                            <?php if ($quotation->deleted == 0) { ?>
                                <?php if($quotation->customerStatus == 1) { ?>
                                <a class="edits" href="<?php echo $this->url('quotation', array('action' => 'Edit', 'param1' => $quotation->quotationID));
                                ?>" id="<?php echo $quotation->quotationCode ?>">
                                    <span class="fa fa-pencil-square-o custom_font_size"></span>
                                </a>
                                <?php } else { ?>
                                    <a class="editsInactive" href="#" id="<?php echo $quotation->quotationCode ?>">
                                    <span class="fa fa-pencil-square-o custom_font_size"></span>
                                </a>
                                    <?php } ?>
                            <?php } ?>
                        </td>
                        <td class="text-center">
                            <?php
                            $flag = 0;
                            if ($this->salesOrder) {
                                foreach ($this->salesOrder as $sokey => $soquotationids) {
                                    if ($soquotationids == $quotation->quotationID) {
                                        $flag = 1;
                                        break;
                                    }
                                }
                            }
//                            check quotation product copied already
                            if ($flag == 0 && array_key_exists($quotation->quotationID, $this->copiedQuotations)) {
                                $flag = 1;
                            }
                            ?>
                            <?php
                            if ($flag == 0) {
                                if ($quotation->deleted == 0) {
                                    ?>
                                    <?php if($quotation->customerStatus == 1) { ?>
                                <a data-toggle = "modal" href = "#delete_quotation" class = "deletes" id = "<?php echo $quotation->quotationID ?>">
                                        <span class = "glyphicon glyphicon-trash"></span></a>
                                <?php } else { ?>
                                    <a class="editsInactive" href="#" id="<?php echo $quotation->quotationCode ?>">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                                    <?php } ?>

                                    <?php
                                }
                            }
                            ?>
                        </td>
                        <td class="text-center">
                            <span id="<?php echo $quotation->quotationID; ?>" class="link_color qtn_related_docs" data-qtn-related-id="<?php echo $quotation->quotationID; ?>" style="cursor:pointer"><span class="grnView glyphicon glyphicon-link"></span></span>
                        </td>
                        <?php
                    }
                    if (count($this->quotation) == 0) {
                        ?>
                    <tr class="not_found">
                        <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                    </tr>
                    <?php
                }
                ?>
            </tbody>
        </table>
    </div>
</div>