<style>
    .tax_page_wrapper{
        margin-bottom: 40px;
    }
    .well{
        padding-bottom: 0;
    }
</style>

<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
<?php $this->headScript()->captureEnd(); ?>

<div class="row accounts" id='accounts'>

    <div class="form-horizontal">
        <!-- Company accounts details-->
        <div>
            <h3 class="no_top_margin tax_heading font_weight"><?php echo $this->translate('Accounts') ?></h3>
            <hr class="custom_hr bottom_line">
        </div>

        <div class="margin_top">
            <div class=" well">
                <div class="form-group">
                    <label for="use_accounting" class="col-lg-3 col-md-4 control-label">
                        <?php echo $this->translate("Please set costing method"); ?>
                    </label>
                    <div class="col-lg-5 col-md-8">
                        <div class="form-group">
                            <div class="col-lg-1 col-md-4">
                                <input type="radio" name="costingMethod" <?php echo ($this->averageCostingFlag != 1) ?  "checked": ''?> value="FIFOCosting" id="FIFOCostingFlag">
                            </div>
                            <label class="col-lg-7 col-md-8">
                                <?php echo $this->translate('FIFO Costing Method') ?>
                            </label>                        
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 col-md-4">
                                <input type="radio" name="costingMethod" <?php echo ($this->averageCostingFlag == 1)? "checked": '' ?> value="averageCosting" id="averageCostingFlag">
                            </div>
                            <label class="col-lg-7 col-md-8">
                                <?php echo $this->translate('Average Costing Method') ?>
                            </label>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="margin_top">
            <div class="well">
                <div class="form-group">
                    <label for="use_accounting" class="control-label col-lg-3 col-md-4 col-sm-5">
                        <?php echo $this->translate("Do you use finance accounting?"); ?>
                        <a class="help_icon_js" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="right" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('SETTINGS_ACCOUNTING_ENABLE') ?>">
                            <i class="fa fa-question-circle help_icon"></i>
                        </a>
                    </label>
                    <div class="col-lg-9 col-md-8 col-sm-7">
                        <div class="tax_setting_margin_top">
                            <label class="radio_button">
                                <input type="radio" value="1" name="use_accounting" <?php echo ($this->useAccounting == 1)? "checked" : '' ?> >
                                Yes
                            </label>
                            <label class="radio_button">
                                <input type="radio" value="0" name="use_accounting" <?php echo ($this->useAccounting == 0)? "checked": ''?>>
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="showGlAccounts <?php echo ($this->useAccounting == 0)? "hidden" : ""?>">
<?php
echo $this->glAccountSetupView;
?>
</div>
