<script>
    $(function() {
        $('.reset').addClass('hide');
        $('.add').removeClass('btn-primary').addClass('btn-default');
        $('.next_btn').text('Finish');
        $('.skip_btn').hide();
    });
</script>
<style>
    .add_padding{
        padding: 0;
    }
</style>
<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
<?php $this->headScript()->captureEnd(); ?>
<?php
echo $this->categoryContent;
?>