<script>
    $(function() {
        $('#create-company-button').removeClass('btn-primary').addClass('btn-default text-right');
        $('input[type="reset"]').hide();
    });
</script>
<style>
    .skip_btn{
        display: none;
    }
</style>
<?php
echo $this->companyContent;
?>