<script>
    $(function() {
        $('#saveTaxRegNumber').removeClass('btn-primary').addClass('btn-default');
        $('#saveTax').removeClass('btn-primary').addClass('btn-default').css('margin-bottom', '30px');
        $('#cancelTax').addClass('hide');

        $(window).on('ready resize', function() {
            if ($(window).width() < 768) {
                $('#saveTaxRegNumber').removeClass('btn-block');
            } else {
                $('#saveTaxRegNumber').addClass('btn-block');
            }
        });
        $('.next_btn').text('Finish');
        $('.skip_btn').hide();
    });
</script>
<style>
    #finishSetup p{
        margin-top: 30px;
        margin-bottom: 40px;
    }
    img{
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }
</style>
<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
<?php $this->headScript()->captureEnd(); ?>

<div class="row finish-set-up" id="finishSetup">
    <p><?php echo $this->translate("Well done! You have completed setting up the basics for your ezBiz account.
        These can be changed any time in the settings section."); ?></p>
    <div>
        <img src="../assets/img/wizard-setting-path.png">
    </div>
</div><!--row-->
