<script>
    $(function() {
        $('#addLocation .control-label').removeClass('col-lg-3').addClass('col-lg-12').css('margin-bottom', '5px');
        $('#locationCode, #locationName, #locationEmail, #locationStatus, #locationTelephone, #locationFax').parent().removeClass('col-lg-6').addClass('col-lg-12');
        $('.wizard').removeClass('col-lg-6').addClass('col-lg-12');
        $('#moreDetails').addClass('hide');
        $('#locationMore').removeClass('hidden');
        $('.location_more').hide();
        $('#reset-location-button').hide();
        $('#add-location-button').parent().removeClass('col-lg-6 col-lg-offset-3 col-md-offset-3 margin_top_low margin_bottom_normal_low').addClass('col-lg-12');
        $('#add-location-button').removeClass('btn-primary').addClass('btn-default text-right');
        var panel_height = $('.panel').height();
        $('.view_location_wrapper').css({
            'maxHeight': panel_height + 'px',
            'overflow-y': 'scroll'
        });
    });
</script>
<style>
    .add_padding{
        padding: 0;
    }
    #addLocation{
        padding-left: 0;
    }
    #viewLocation{
        padding-right: 0;
    }
    .panel-body{
        padding-bottom: 0;
    }
    .panel-heading h5{
        font-size: 14px;
    }
    #viewLocation .view_location_wrapper{
        border: 1px solid #dddddd;
        border-radius: 4px;
    }
</style>
<div id="wizardLocationList" class="location-list margin_top">
    <div class="col-lg-6" id="addLocation">
        <?php echo $this->locationContent; ?>
    </div>
    <div class="col-lg-6" id="viewLocation">
        <div class="view_location_wrapper">
            <?php echo $this->locationHeader; ?>
            <?php echo $this->searchLocationContent; ?>
        </div>
    </div>
</div>