<script>
    $(function() {
        $('#editQuotationPrefix').on('click', function() {
            $('#quotationPrefix').focus();
        });
        $('#editGrnPrefix').on('click', function() {
            $('#grnPrefix').focus();
        });
        $('#editAdjustmentPrefix').on('click', function() {
            $('#adjustmentPrefix').focus();
        });
        $('#editTransferPrefix').on('click', function() {
            $('#transferPrefix').focus();
        });
        //Overwrite the references example_num hide to show
        $('.example_num').show();
    });
</script>
<style>
    .add_padding{
        padding: 0;
    }
</style>
<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
<?php $this->headScript()->captureEnd(); ?>
<?php
echo $this->referenceContent;
?>