<script>
    $(function() {
        $('#saveTaxRegNumber').removeClass('btn-primary').addClass('btn-default');
        $('#saveTax').removeClass('btn-primary').addClass('btn-default').css('margin-bottom', '30px');
        $('#cancelTax').addClass('hide');

        $(window).on('ready resize', function() {
            if ($(window).width() < 768) {
                $('#saveTaxRegNumber').removeClass('btn-block');
            } else {
                $('#saveTaxRegNumber').addClass('btn-block');
            }
        });
//        $('.next_btn').text('Finish');
//        $('.skip_btn').hide();
    });
</script>
<style>
    .tax_page_wrapper{
        margin-bottom: 40px;
    }
    .well{
        padding-bottom: 0;
    }
</style>
<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
<?php $this->headScript()->captureEnd(); ?>
<?php
echo $this->taxContent;
?>