<script>
    $(function() {
        $('.add').removeClass('btn-primary').addClass('btn-default');
        $('.reset').addClass('hide');
    });
</script>
<style>
    .add_padding{
        padding: 0;
    }
</style>
<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
<?php $this->headScript()->captureEnd(); ?>
<?php
echo $this->uomContent;
?>