<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7px">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>

            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th style="width:10%"><?php echo $this->translate('Customer Name') ?></th>
                        <th style="width:10%"><?php echo $this->translate('Customer Code') ?></th>
                        <th style="width:10%"><?php echo $this->translate('Customer Tel') ?></th>
                        <th style="width:8%"><?php echo $this->translate('Invoice Number') ?></th>
                        <th style="width:14%"><?php echo $this->translate('Invoice Date') ?></th>
                        <th style="width:14%"><?php echo $this->translate('Comment') ?></th>
                        <th style="width:14%"><?php echo $this->translate('Due Date') ?></th>
                        <th style="width:10%"><?php echo $this->translate('Days') ?></th>
                        <th style="width:10%"><?php echo $this->translate('Invoice Amount') ?></th>
                        <th style="width:10%"><?php echo $this->translate('Paid Amount') ?></th>
                        <th style="width:10%"><?php echo $this->translate('Remaining Amount') ?></th>
                    </tr>
                    
                    <?php
                    
                    $grandInvoiceAmount = 0;
                    $grandPaidAmount = 0;
                    $grandRemainingAmount = 0;
                    
                    if(!empty($invoiceData)){
                        foreach ($invoiceData as $customer => $customerInvoices)
                        {
                    ?>
                    <tr class="even_row">
                        <td style="text-align: left"><?php echo $customerInvoices['columns'][0]['customerName']; ?></td>
                        <td style="text-align: left"><?php echo $customerInvoices['columns'][0]['customerCode']; ?></td>
                        <td style="text-align: left"><?php echo $customerInvoices['columns'][0]['customerTelephoneNumber']; ?></td>
                        <td style="text-align: right"></td>
                        <td style="text-align: right"></td>
                        <td style="text-align: left"></td>
                        <td style="text-align: right"></td>
                        <td style="text-align: right"></td>
                        <td style="text-align: right"></td>
                        <td style="text-align: right"></td>
                        <td style="text-align: right"></td>
                    </tr>
                            <?php
                            foreach ($customerInvoices['columns'] as $invoice)
                            {
                            ?> 
                            <tr class="even_row">
                                <td style="text-align: left"></td>
                                <td style="text-align: left"></td>
                                <td style="text-align: left"></td>
                                <td style="text-align: right"><?php echo $invoice['salesInvoiceCode']; ?></td>
                                <td style="text-align: right"><?php echo $invoice['salesInvoiceIssuedDate']; ?></td>
                                <td style="text-align: left"><?php echo $invoice['salesInvoiceComment']; ?></td>
                                <td style="text-align: right"><?php echo $invoice['salesInvoiceOverDueDate']; ?></td>
                                <td style="text-align: right"><?php echo $invoice['days']; ?></td>
                                <td style="text-align: right"><?php echo number_format($invoice['salesinvoiceTotalAmount'], 2); ?></td>
                                <td style="text-align: right"><?php echo number_format($invoice['salesInvoicePayedAmount'], 2); ?></td>
                                <td style="text-align: right"><?php echo number_format($invoice['remainingAmount'], 2); ?></td>
                            </tr>
                            <?php
                            }
                            ?>
                            <tr class="odd_row">
                                <td colspan="8" style="text-align: right"><strong>Total</strong></td>
                                <td style="text-align: right"><strong><?php echo number_format($customerInvoices['amount']['invoiceAmount'],2); ?></strong></td>
                                <td style="text-align: right"><strong><?php echo number_format($customerInvoices['amount']['paidAmount'],2); ?></strong></td>
                                <td style="text-align: right"><strong><?php echo number_format($customerInvoices['amount']['remainingAmount'],2); ?></strong></td>
                            </tr>
                    <?php
                            $grandInvoiceAmount = $grandInvoiceAmount + $customerInvoices['amount']['invoiceAmount'];
                            $grandPaidAmount = $grandPaidAmount + $customerInvoices['amount']['paidAmount'];
                            $grandRemainingAmount = $grandRemainingAmount + $customerInvoices['amount']['remainingAmount'];
                    
                        }
                    ?>
                        <tr class="odd_row">
                            <td colspan="8" style="text-align: right"><strong>Grand Total</strong></td>
                            <td style="text-align: right"><strong><?php echo number_format($grandInvoiceAmount,2); ?></strong></td>
                            <td style="text-align: right"><strong><?php echo number_format($grandPaidAmount,2); ?></strong></td>
                            <td style="text-align: right"><strong><?php echo number_format($grandRemainingAmount,2); ?></strong></td>
                        </tr>
                    <?php
                    } else {
                    ?>
                        <tr class="even_row">
                            <td colspan="10"><?php echo 'no matching records found'; ?></td>
                        </tr>
                    <?php
                    }
                    ?>
                    
                </tbody>

            </table>
        </div>

    </div>
</div>



