<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>



<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>

            </table>

            <table class="change_order_items">

                <tbody>
                    <?php
                    $netAmount = 0.0;
                    if($this->cusCategory){
                    ?>
                        <?php
                            if($this->showTax){
                        ?>
                        <tr>
                            <th style="width:5%"><?php echo $this->translate('Sales Person') ?></th>
                            <th style="width:5%"><?php echo $this->translate('Customer Name') ?></th>
                            <th style="width:5%"><?php echo $this->translate('Customer Category') ?></th>
                            <th style="width:6%"><?php echo $this->translate('Invoice Code') ?></th>
                            <th style="width:8%"><?php echo $this->translate('Invoice Comment') ?></th>
                            <th style="width:7%"><?php echo $this->translate('Issued Date') ?></th>
                            <th style="width:7%"><?php echo $this->translate('Due Date') ?></th>
                            <th style="width:8%"><?php echo $this->translate('Selected Item Total') ?></th>
                            <th style="width:8%"><?php echo $this->translate('Total Amount') ?></th>
                            <th style="width:7%"><?php echo $this->translate('Tax') ?></th>
                            <th style="width:7%"><?php echo $this->translate('Total Amount without Tax') ?></th>
                            <th style="width:9%"><?php echo $this->translate('Paid Amount') ?></th>
                            <th style="width:8%"><?php echo $this->translate('Credit Note Amount') ?></th>
                            <th style="width:10%"><?php echo $this->translate('Outstanding Amount') ?></th>
                        </tr>
                        <?php } else { ?>
                            <tr>
                            <th style="width:6%"><?php echo $this->translate('Sales Person') ?></th>
                            <th style="width:6%"><?php echo $this->translate('Customer Name') ?></th>
                            <th style="width:6%"><?php echo $this->translate('Customer Category') ?></th>
                            <th style="width:8%"><?php echo $this->translate('Invoice Code') ?></th>
                            <th style="width:9%"><?php echo $this->translate('Invoice Comment') ?></th>
                            <th style="width:8%"><?php echo $this->translate('Issued Date') ?></th>
                            <th style="width:8%"><?php echo $this->translate('Due Date') ?></th>
                            <th style="width:9%"><?php echo $this->translate('Selected Item Total') ?></th>
                            <th style="width:13%"><?php echo $this->translate('Total Amount') ?></th>
                            <th style="width:9%"><?php echo $this->translate('Paid Amount') ?></th>
                            <th style="width:9%"><?php echo $this->translate('Credit Note Amount') ?></th>
                            <th style="width:9%"><?php echo $this->translate('Outstanding Amount') ?></th>
                        </tr>
                            <?php } ?>

                    <?php
                    } else {
                    ?>
                        <?php
                            if($this->showTax){
                        ?>
                        <tr>
                            <th style="width:5%"><?php echo $this->translate('Sales Person') ?></th>
                            <th style="width:6%"><?php echo $this->translate('Customer Name') ?></th>
                            <th style="width:7%"><?php echo $this->translate('Invoice Code') ?></th>
                            <th style="width:10%"><?php echo $this->translate('Invoice Comment') ?></th>
                            <th style="width:8%"><?php echo $this->translate('Issued Date') ?></th>
                            <th style="width:8%"><?php echo $this->translate('Due Date') ?></th>
                            <th style="width:8%"><?php echo $this->translate('Selected Item Total') ?></th>
                            <th style="width:9%"><?php echo $this->translate('Total Amount') ?></th>
                            <th style="width:9%"><?php echo $this->translate('Tax') ?></th>
                            <th style="width:8%"><?php echo $this->translate('Total Amount without Tax') ?></th>
                            <th style="width:8%"><?php echo $this->translate('Paid Amount') ?></th>
                            <th style="width:7%"><?php echo $this->translate('Credit Note Amount') ?></th>
                            <th style="width:7%"><?php echo $this->translate('Outstanding Amount') ?></th>
                        </tr>
                         <?php } else { ?>
                             <tr>
                            <th style="width:9%"><?php echo $this->translate('Sales Person') ?></th>
                            <th style="width:10%"><?php echo $this->translate('Customer Name') ?></th>
                            <th style="width:9%"><?php echo $this->translate('Invoice Code') ?></th>
                            <th style="width:10%"><?php echo $this->translate('Invoice Comment') ?></th>
                            <th style="width:8%"><?php echo $this->translate('Issued Date') ?></th>
                            <th style="width:8%"><?php echo $this->translate('Due Date') ?></th>
                            <th style="width:8%"><?php echo $this->translate('Selected Item Total') ?></th>
                            <th style="width:12%"><?php echo $this->translate('Total Amount') ?></th>
                            <th style="width:8%"><?php echo $this->translate('Paid Amount') ?></th>
                            <th style="width:8%"><?php echo $this->translate('Credit Note Amount') ?></th>
                            <th style="width:10%"><?php echo $this->translate('Outstanding Amount') ?></th>
                        </tr>
                            <?php } ?>
                    <?php
                    }
                    $isDataExist = false;
                    $gTotalAmount = $gPaidAmount = $gTaxAmount = $gOutstandingAmount = $gCreditNoteAmount = $gTotalSelectedItemTotal = 0;
                    $itemRealTotal = $invoiceData['onebyoneinvoicevalue'];
                        
                    foreach ($invoiceData as $key => $data) {
                        $salesPerson = (($key == 'other')) ? 'Other' : $data['title'] . ' ' . $data['name'];
                        if(!empty($data['data'])) {
                        ?>
                        <tr class="even_row">
                            <?php
                            if($this->cusCategory){
                            ?>
                                <?php if($this->showTax){ ?>
                                    <td style="text-align: left" colspan="14"><?php echo $salesPerson; ?></td>
                                <?php } else { ?>
                                    <td style="text-align: left" colspan="13"><?php echo $salesPerson; ?></td>
                                    <?php } ?>
                            <?php
                            } else {
                            ?>
                                <?php if($this->showTax){ ?>
                                    <td style="text-align: left" colspan="13"><?php echo $salesPerson; ?></td>
                                <?php } else { ?>
                                    <td style="text-align: left" colspan="12"><?php echo $salesPerson; ?></td>
                                    <?php } ?>
                            <?php
                            }
                            ?>

                        </tr>
                        <?php
                        }
                        $count = 0;
                        if (!empty($data['data'])) {
                            $isDataExist = true;
                            $totalAmount = $paidAmount = $taxAmount = $outstandingAmount = $creditNoteAmount = $totalSelectedItemTotal = 0;
                            foreach ($data['data'] as $customerID => $customerData) {
                                $cTotalAmount = $cPaidAmount = $cTaxAmount = $cOutstandingAmount = $cCreditNoteAmount = $cWithoutTaxAmount = $cusSelectedItemTotal = 0;
                                $isOutstandingExist = false;
                                
                                foreach ($customerData as $d){
                                    
                                    $outstandingBalance = $d['salesinvoiceTotalAmount'] - $d['creditNoteTotal'] - $d['salesInvoicePayedAmount'];
                                    if ($outstandingBalance > 0) {
                                        $isOutstandingExist = true;
                                        $totalAmount += $d['salesinvoiceTotalAmount'];
                                        $paidAmount += $d['salesInvoicePayedAmount'];
                                        //$taxAmount += $cTaxAmount;
                                        $creditNoteAmount += $d['creditNoteTotal'];
                                        $outstandingAmount += $outstandingBalance;

                                        $cTotalAmount += $d['salesinvoiceTotalAmount'];
                                        $cPaidAmount += $d['salesInvoicePayedAmount'];
                                        //$cTaxAmount += $d['salesInvoiceTaxAmount'];
                                        $cCreditNoteAmount += $d['creditNoteTotal'];
                                        $cOutstandingAmount += $outstandingBalance;
                                        $cusSelectedItemTotal += $itemRealTotal[$d['salesInvoiceID']];
                                        $totalSelectedItemTotal += $itemRealTotal[$d['salesInvoiceID']];

                                        $count++;
                                        ?>
                                        <tr class="even_row">
                                            <td style="text-align: center"></td>
                                            <td style="text-align: right"><?php echo ($d['customerID'] == 0) ? $d['customerName'] : $d['customerTitle'] . ' ' . $d['customerName']; ?></td>
                                            <?php
                                            if($this->cusCategory){
                                            ?>
                                                <td style="text-align: right"><?php echo $d['customerCategoryName']; ?></td>
                                            <?php
                                            }
                                            ?>
                                            <td style="text-align: right" class="invoice-preview" data-href="<?php echo $this->url('invoice', array('action' => 'invoiceView', 'param1' => $d['salesInvoiceID'])); ?>"><?php echo $d['salesInvoiceCode']; ?></td>
                                            <td style="text-align: left"><?php echo $d['salesInvoiceComment']; ?></td>
                                            <td style="text-align: right"><?php echo $d['salesInvoiceIssuedDate']; ?></td>
                                            <td style="text-align: right"><?php echo $d['salesInvoiceOverDueDate']; ?></td>
                                            <td style="text-align: right"><?php echo number_format($itemRealTotal[$d['salesInvoiceID']],2); ?></td>
                                            <td style="text-align: right"><?php echo number_format($d['salesinvoiceTotalAmount'], 2); ?>
                                            <?php if($this->showTax) { ?>
                                            <td style="text-align:right;font-size:9px;">
                                                <?php
                                                $totTax = 0;
                                                    foreach ($data['taxData'][$d['customerID']][$d['salesInvoiceID']] as $key => $value) {
                                                        if($value['taxName'] != null && $value['taxAmount'] != 0){
                                                            $totTax += $value['taxAmount'];

                                                            $cTaxAmount += $value['taxAmount'];
                                                            $taxAmount += $value['taxAmount'];
                                                        echo $value['taxName'].' - '.number_format($value['taxAmount'], 2);
                                                        echo '</br>';
                                                    }
                                                    }
                                                    $cWithoutTaxAmount += $d['salesinvoiceTotalAmount'] - $totTax;


                                                ?>
                                            </td>
                                            <td class="change_order_total_col"><?php echo number_format($d['salesinvoiceTotalAmount'] - $totTax, 2); ?></td>
                                            <?php } ?>
                                            </td>
                                            <td class="change_order_total_col"><?php echo number_format($d['salesInvoicePayedAmount'], 2); ?></td>
                                            <td class="change_order_total_col"><?php echo number_format($d['creditNoteTotal'], 2); ?></td>
                                            <td class="change_order_total_col"><?php echo number_format($outstandingBalance, 2); ?></td>
                                        </tr>
                                        <?php
                                    }
                                }
                                if ($isOutstandingExist) {
                                ?>
                                <tr>
                                    <?php
                                    if($this->cusCategory){
                                    ?>
                                        <td style="text-align: right" colspan="7"><b><?php echo $this->translate('Total') ?></b></td>
                                    <?php
                                    } else {
                                    ?>
                                        <td style="text-align: right" colspan="6"><b><?php echo $this->translate('Total') ?></b></td>
                                    <?php
                                    }
                                    ?>
                                    <td style="text-align: right" ><b><?php echo number_format($cusSelectedItemTotal, 2); ?></b></td>
                                    <td style="text-align: right" ><b><?php echo number_format($cTotalAmount, 2); ?></b></td>
                                    <?php if($this->showTax) { ?>
                                        <td style="text-align: right" ><b><?php echo number_format($cTaxAmount, 2); ?></b></td>
                                        <td style="text-align: right" ><b><?php echo number_format($cWithoutTaxAmount, 2); ?></b></td>
                                        <?php
                                            $withoutTaxAmount += $cWithoutTaxAmount;
                                        ?>
                                        <?php } ?>
                                    <td style="text-align: right" ><b><?php echo number_format($cPaidAmount, 2); ?></b></td>
                                    <td style="text-align: right" ><b><?php echo number_format($cCreditNoteAmount, 2); ?></b></td>
                                    <td style="text-align: right" ><b><?php echo number_format($cOutstandingAmount, 2); ?></b></td>
                                </tr>
                            <?php
                                }
                            }
                            $gTotalAmount += $totalAmount;
                            $gPaidAmount += $paidAmount;
                            $gTaxAmount += $taxAmount;
                            $gCreditNoteAmount += $creditNoteAmount;
                            $gOutstandingAmount += $outstandingAmount;
                            $gTotalSelectedItemTotal += $totalSelectedItemTotal;
                        }
                        if(!empty($data['data'])) {
                        ?>
                            <tr>
                                <?php
                                if($this->cusCategory){
                                ?>
                                    <td style="text-align: right" colspan="7"><b><?php echo $this->translate('Sales person Total') ?></b></td>
                                <?php
                                } else {
                                ?>
                                    <td style="text-align: right" colspan="6"><b><?php echo $this->translate('Sales person Total') ?></b></td>
                                <?php
                                }
                                ?>
                                <td style="text-align: right" ><b><?php echo number_format($totalSelectedItemTotal, 2); ?></b></td>
                                <td style="text-align: right" ><b><?php echo number_format($totalAmount, 2); ?></b></td>
                                <?php if($this->showTax) { ?>
                                        <td style="text-align: right" ><b><?php echo number_format($taxAmount, 2); ?></b></td>
                                        <td style="text-align: right" ><b><?php echo number_format($withoutTaxAmount, 2); ?></b></td>
                                        <?php
                                            $gWithoutTax += $withoutTaxAmount;
                                            $withoutTaxAmount = 0;
                                        ?>
                                        <?php } ?>
                                <td style="text-align: right" ><b><?php echo number_format($paidAmount, 2); ?></b></td>
                                <td style="text-align: right" ><b><?php echo number_format($creditNoteAmount, 2); ?></b></td>
                                <td style="text-align: right" ><b><?php echo number_format($outstandingAmount, 2); ?></b></td>
                            </tr>

                        <?php
                        }
                    }
                    if(!$isDataExist) {
                    ?>
                        <tr class="even_row">
                            <?php
                            if($this->cusCategory){
                            ?>
                                <?php if($this->showTax) { ?>
                                    <td style="text-align: left" colspan="14"><?php echo $this->translate('No related data') ?></td>
                                <?php } else { ?>
                                    <td style="text-align: left" colspan="13"><?php echo $this->translate('No related data') ?></td>
                                    <?php } ?>
                            <?php
                            } else {
                            ?>
                                <?php if($this->showTax) { ?>
                                    <td style="text-align: left" colspan="13"><?php echo $this->translate('No related data') ?></td>
                                <?php } else { ?>
                                    <td style="text-align: left" colspan="12"><?php echo $this->translate('No related data') ?></td>
                                <?php } ?>
                            <?php
                            }
                            ?>

                        </tr>
                    <?php
                    } else {
                    ?>
                        <tr class="even_row">
                            <?php
                            if($this->cusCategory){
                            ?>
                                <?php if($this->showTax) { ?>
                                    <td colspan="14">&nbsp;</td>
                                <?php } else { ?>
                                    <td colspan="13">&nbsp;</td>
                                <?php } ?>
                            <?php
                            } else {
                            ?>
                                <?php if($this->showTax) { ?>
                                    <td colspan="13">&nbsp;</td>
                                <?php } else { ?>
                                    <td colspan="12">&nbsp;</td>
                                <?php } ?>
                            <?php
                            }
                            ?>

                        </tr>
                        <tr class="even_row">
                            <?php
                            if($this->cusCategory){
                            ?>
                                <td style="text-align: right" colspan="7"><b><?php echo $this->translate('Grand Total') ?></b></td>
                            <?php
                            } else {
                            ?>
                                <td style="text-align: right" colspan="6"><b><?php echo $this->translate('Grand Total') ?></b></td>
                            <?php
                            }
                            ?>
                            <td style="text-align: right" ><b><?php echo number_format($gTotalSelectedItemTotal, 2); ?></b></td>
                            <td style="text-align: right" ><b><?php echo number_format($gTotalAmount, 2); ?></b></td>
                            <?php if($this->showTax) { ?>
                                <td style="text-align: right" ><b><?php echo number_format($gTaxAmount, 2); ?></b></td>
                                <td style="text-align: right" ><b><?php echo number_format($gWithoutTax, 2); ?></b></td>
                            <?php } ?>
                            <td style="text-align: right" ><b><?php echo number_format($gPaidAmount, 2); ?></b></td>
                            <td style="text-align: right" ><b><?php echo number_format($gCreditNoteAmount, 2); ?></b></td>
                            <td style="text-align: right" ><b><?php echo number_format($gOutstandingAmount, 2); ?></b></td>
                        </tr>
                    <?php
                    }
                    ?>
                </tbody>

            </table>

        </div>

    </div>
</div>
