<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>

            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th style="width:6%"><?php echo $this->translate('Invoice Number') ?></th>
                        <th style="width:8%"><?php echo $this->translate('Invoice Date') ?></th>
                        <th style="width:8%"><?php echo $this->translate('Customer Name') ?></th>
                        <th style="width:8%"><?php echo $this->translate('Customer Code') ?></th>
                        <th style="width:8%"><?php echo $this->translate('Customer Contact Number') ?></th>
                        <th style="width:8%"><?php echo $this->translate('Customer Address') ?></th>
                        <th style="width:8%"><?php echo $this->translate('Customer City') ?></th>
                        <th style="width:9%"><?php echo $this->translate('Invoice Amount') ?></th>
                        <th style="width:8%"><?php echo $this->translate('Invoice Comment') ?></th>                        
                    </tr>
                    <?php
                    if(!empty($invoiceData)){
                    foreach ($invoiceData as $data) {
                        ?>
                        <tr class="even_row">
                            <td><?php echo $data['saleInvoiceCode']; ?></td>
                            <td><?php echo $data['saleInvoiceDate']; ?></td>
                            <td><?php echo $data['customerName']; ?></td>
                            <td><?php echo $data['customerCode']; ?></td>
                            <td><?php echo $data['customerTelephoneNo']; ?></td>
                            <td><?php echo $data['customerAddress']; ?></td>
                            <td><?php echo $data['customerCity']; ?></td>
                            <td style="text-align: right"><?php echo number_format($data['saleInvoiceTotal'],2); ?></td>
                            <td><?php echo $data['saleInvoiceComment']; ?></td>
                        </tr>
                    <?php
                    }
                    } else {
                    ?>
                        <tr class="even_row">
                            <td colspan="7"><?php echo $this->translate('No related data found'); ?></td>
                        </tr>
                    <?php
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
