<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7px">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>

            </table>

            <table class="change_order_items">

                <tbody>
                    <?php
                    $netTax = 0.0;
                    $netAmount = 0.0;
                    if ($checkTaxStatus == 'true') {
                        ?>
                        <tr>
                            <th style="width:8%"><?php echo $this->translate('Quarter') ?></th>
                            <th style="width:10%"><?php echo $this->translate('Customer Name') ?></th>
                            <th style="width:12%"><?php echo $this->translate('Invoice Number') ?></th>
                            <th style="width:14%"><?php echo $this->translate('Issued Date') ?></th>
                            <th style="width:16%"><?php echo $this->translate('Due Date') ?></th>
                            <th style="width:20%"><?php echo $this->translate('Total Amount') ?></th>
                            <th style="width:10%"><?php echo $this->translate('Paid Amount') ?></th>
                            <th style="width:10%"><?php echo $this->translate('Tax') ?></th>
                        </tr>
                        <?php
                        $net_tax = 0.00;
                        $net_amount = 0.00;
                        foreach ($annualInvoiceData as $key => $value) {

                            $sub_amount = 0.00;
                            $sub_tax = 0.00;
                            ?>
                            <tr class="even_row">
                                <td style="text-align: center"><?php echo $key; ?></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td class="change_order_total_col"></td>
                            </tr>
                            <?php
                            foreach ($value as $key1 => $value1) {
                                if ($value1['InvoiceNumber']) {
                                    ?>
                                    <tr class="even_row">
                                        <td style="text-align: center"></td>
                                        <td style="text-align: right"><?php echo ($value1['customerID'] == 0) ? $value1['CusName'] : $value1['CusTitle'] . ' ' . $value1['CusName']; ?></td>
                                        <td style="text-align: right"><?php echo $value1['InvoiceNumber']; ?></td>
                                        <td style="text-align: right"><?php echo $value1['IssuedDate']; ?></td>
                                        <td style="text-align: right"><?php echo $value1['DueDate']; ?></td>
                                        <td style="text-align: right"><?php echo number_format($value1['TotalAmount'], 2); ?></td>
                                        <td class="change_order_total_col"><?php echo number_format($value1['PayedAmount'], 2); ?></td>
                                        <td class="change_order_total_col"><?php echo number_format($value1['TotalTax'], 2); ?></td>

                                    </tr>
                                    <?php
                                    $sub_amount+=$value1['TotalAmount'];
                                    $net_amount+=$value1['TotalAmount'];
                                    $sub_tax+=$value1['TotalTax'];
                                    $net_tax+=$value1['TotalTax'];
                                }
                            }
                            ?>
                            <tr>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right" ><strong><?php echo $this->translate('Total Amount') ?> <?php echo $key; ?> : </strong></td>
                                <td class="change_order_total_col"><strong><?php echo number_format($sub_amount, 2); ?></strong></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                            </tr>
                            <tr>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right" ><strong><?php echo $this->translate('Total Tax') ?> <?php echo $key; ?> : </strong></td>
                                <td class="change_order_total_col"><strong><?php echo number_format($sub_tax, 2); ?></strong></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                            </tr>
                            <?php
                        }
                        ?>
                        <tr>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right" ><strong><?php echo $this->translate('GRAND TOTAL') ?>:</strong></td>
                            <td class="change_order_total_col"><strong><?php echo number_format($net_amount, 2); ?></strong></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                        </tr>
                        <tr>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right" ><strong><?php echo $this->translate(' TOTAL TAX') ?>:</strong></td>
                            <td class="change_order_total_col"><strong><?php echo number_format($net_tax, 2); ?></strong></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                        </tr>
                        <tr>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right" ><strong><?php echo $this->translate(' TOTAL WITHOUT TAX') ?>:</strong></td>
                            <td class="change_order_total_col"><strong><?php echo number_format($net_amount - $net_tax, 2); ?></strong></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                        </tr>
                    <?php } else { ?>

                        <tr>
                            <th style="width:15%"><?php echo $this->translate('Quarter') ?></th>
                            <th style="width:15%"><?php echo $this->translate('Customer Name') ?></th>
                            <th style="width:15%"><?php echo $this->translate('Invoice Number') ?></th>
                            <th style="width:15%"><?php echo $this->translate('Issued Date') ?></th>
                            <th style="width:15%"><?php echo $this->translate('Due Date') ?></th>
                            <th style="width:15%"><?php echo $this->translate('Total Amount') ?></th>
                            <th style="width:10%"><?php echo $this->translate('Paid Amount') ?></th>
                        </tr>
                        <?php
                        $net_amount = 0.00;

                        foreach ($annualInvoiceData as $key => $value) {

                            $sub_amount = 0.00;
                            ?>
                            <tr class="even_row">
                                <td style="text-align: center"><?php echo $key; ?></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td class="change_order_total_col"></td>
                            </tr>
                            <?php
                            foreach ($value as $key1 => $value1) {
                                if ($value1['InvoiceNumber']) {
                                    ?>
                                    <tr class="even_row">
                                        <td style="text-align: center"></td>
                                        <td style="text-align: right"><?php echo ($value1['customerID'] == 0) ? $value1['CusName'] : $value1['CusTitle'] . ' ' . $value1['CusName']; ?></td>
                                        <td style="text-align: right"><?php echo $value1['InvoiceNumber']; ?></td>
                                        <td style="text-align: right"><?php echo $value1['IssuedDate']; ?></td>
                                        <td style="text-align: right"><?php echo $value1['DueDate']; ?></td>
                                        <td style="text-align: right"><?php echo number_format($value1['TotalAmount'], 2); ?></td>
                                        <td class="change_order_total_col"><?php echo number_format($value1['PayedAmount'], 2); ?></td>
                                    </tr>
                                    <?php
                                    $sub_amount+=$value1['TotalAmount'];
                                    $net_amount+=$value1['TotalAmount'];
                                }
                            }
                            ?>
                            <tr>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right" ><strong><?php echo $this->translate('Total Amount') ?> <?php echo $key; ?> : </strong></td>
                                <td class="change_order_total_col"><strong><?php echo number_format($sub_amount, 2); ?></strong></td>
                                <td style="text-align: right"></td>
                            </tr>
                            <?php
                        }
                        ?>
                        <tr>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"><strong><?php echo $this->translate('GRAND TOTAL') ?>:</strong></td>
                            <td class="change_order_total_col"><strong><?php echo number_format($net_amount, 2); ?></strong></td>
                            <td style="text-align: right"></td>
                        </tr>
                    <?php } ?>
                </tbody>

            </table>
        </div>

    </div>
</div>



