<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>

            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th style="width:10%"><?php echo $this->translate('Customer Name') ?></th>
                        <th style="width:10%"><?php echo $this->translate('Customer Short Name') ?></th>
                        <th style="width:16%"><?php echo $this->translate('Invoice Number') ?></th>
                        <th style="width:17%"><?php echo $this->translate('Issued Date') ?></th>
                        <th style="width:17%"><?php echo $this->translate('Due Date') ?></th>
                        <th style="width:20%"><?php echo $this->translate('Total Amount') ?></th>
                        <th style="width:10%"><?php echo $this->translate('Paid Amount') ?></th>
                    </tr>

                    <?php
                    if (empty($invoiceSummeryData)) {
                        ?>
                        <tr class="even_row">
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"><?php echo $this->translate('No related data found'); ?></td>
                            <td style="text-align: right"></td>
                        </tr>
                        <?php
                    } else {
                        $netAmount = 0;
                        $netTax = 0;

                        foreach ($invoiceSummeryData as $key1 => $data1) {

                            if ($key1 != null) {
                                ?>

                                <?php
                                $sub_amount = 0.00;
                                foreach ($data1 as $key2 => $data2) {

                                    if ($data1 != null) {
                                        ?>
                                        <tr class="even_row">
                                            <td style="text-align: right"><?php echo $data2['customerTitle'] . ' ' . $data2['customerName']; ?></td>
                                            <td style="text-align: right"><?php echo $data2['customerShortName']; ?></td>
                                            <td style="text-align: right"><?php echo $data2['InvoiceNumber']; ?></td>
                                            <td style="text-align: right"><?php echo $data2['IssuedDate']; ?></td>
                                            <td style="text-align: right"><?php echo $data2['DueDate']; ?></td>
                                            <td style="text-align: right"><?php echo $data2['TotalAmount']; ?></td>
                                            <td class="change_order_total_col"><?php echo $data2['PayedAmount']; ?></td>
                                        </tr>
                                        <?php
                                        $sub_amount+=$data2['TotalAmount'];
                                        $netAmount+=$data2['TotalAmount'];
                                    }
                                }
                                ?>
                                <tr class="even_row">
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"><strong><?php echo $this->translate('Total') ?></strong></td>
                                    <td style="text-align: right"><strong><?php echo number_format($sub_amount, 2); ?></strong></td>
                                    <td style="text-align: right"></td>
                                </tr>
                                <?php
                            }
                        }
                        ?>
                        <tr class="even_row">
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"><strong><?php echo $this->translate('Grand Total') ?></strong></td>
                            <td style="text-align: right"><strong><?php echo number_format($netAmount, 2); ?></strong></td>
                            <td style="text-align: right"></td>
                        </tr>
                        <?php
                    }
                    ?>

                </tbody>
            </table>
        </div>
    </div>
</div>



