    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">
                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Location Name') ?></th>
                        <th><?php echo $this->translate('Document Type') ?></th>
                        <th><?php echo $this->translate('Document Code') ?></th>
                        <th><?php echo $this->translate('Document Date') ?></th>
                        <th><?php echo $this->translate('Document Status') ?></th>
                        <th><?php echo $this->translate('Product Name - Code') ?></th>
                        <th><?php echo $this->translate('Product Category') ?></th>
                        <th><?php echo $this->translate('Quantity') ?></th>
                        <th><?php echo $this->translate('Cost Value') ?></th>
                        <th><?php echo $this->translate('Sub Document Code') ?></th>
                        <th><?php echo $this->translate('Sub Document Date') ?></th>
                        <th><?php echo $this->translate('Sub Document Status') ?></th>
                        <th><?php echo $this->translate('Sub Document Product Name - Code') ?></th>
                        <th><?php echo $this->translate('Sub Document Product Quantity') ?></th>

                    </tr>
                    <?php if (count($issuedItemData) == 0) { ?>
                        <tr class="even_row">
                            <td style="text-align: left" colspan="10"><?php echo $this->translate('No related data found'); ?></td>
                        </tr>

                        <?php
                    } else {
                        foreach ($issuedItemData as $key => $data) {
                            $locName = $key;
                            echo
                            '<tr class = "even_row">
                                <td style = "text-align: left">' . $locName .'</td>
                                <td style = "text-align: left" colspan="13"></td>
                            </tr>';
                            foreach ($data as $dnID => $dnData) {
                                    echo
                                        '<tr class = "even_row">
                                        <td style = "text-align: left"></td>
                                        <td style = "text-align: left">' . $dnData['documentType'] . '</td>
                                        <td style = "text-align: left">' . $dnData['documentCode'] . '</td>
                                        <td style = "text-align: left">' . $dnData['documentDate'] . '</td>
                                        <td style = "text-align: left">' . $dnData['documentStatus'] . '</td>
                                        <td style = "text-align: left" colspan="9"></td>
                                    </tr>';
                                foreach ($dnData['productDetails'] as $key => $value) {
                                    echo
                                        '<tr class = "even_row">
                                        <td style = "text-align: left" colspan="5"></td>
                                        <td style = "text-align: left">' . $value['productName'] . '</td>
                                        <td style = "text-align: left">' . $value['categoryName'] . '</td>
                                        <td style = "text-align: left">' . $value['quantity'] . '</td>
                                        <td style = "text-align: left">' . $value['cost'] . '</td>
                                        <td style = "text-align: left" colspan="5"></td>
                                    </tr>';
                                }
                                foreach ($dnData['subDocumentDetails'] as $ke => $val) {
                                    foreach ($val as $k => $subVal) {
                                        echo
                                            '<tr class = "even_row">
                                            <td style = "text-align: left" colspan="9"></td>
                                            <td style = "text-align: left">' . $subVal['subDocCode'] . '</td>
                                            <td style = "text-align: left">' . $subVal['subDocDate'] . '</td>
                                            <td style = "text-align: left">' . $subVal['subDocStatus'] . '</td>
                                            <td style = "text-align: left" colspan="3"></td>
                                        </tr>';
                                        foreach ($subVal['subDocProductDetails'] as $subPro) {
                                            foreach ($subPro as $subProDta) {
                                                echo
                                                    '<tr class = "even_row">
                                                    <td style = "text-align: left" colspan="12"></td>
                                                    <td style = "text-align: left">' . $subProDta['subProductName'] . '</td>
                                                    <td style = "text-align: left">' . $subProDta['subQuantity'] . '</td>
                                                </tr>';
                                            }
                                        }
                                    }
                                }
                            }
                            
                        }

                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>



