<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>

            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th style="width:6%"><?php echo $this->translate('Invoice Number') ?></th>
                        <th style="width:8%"><?php echo $this->translate('Customer Name') ?></th>
                        <th style="width:8%"><?php echo $this->translate('Invoice Date') ?></th>
                        <th style="width:8%"><?php echo $this->translate('Invoice Due Date') ?></th>                        
                        <th style="width:10%"><?php echo $this->translate('Invoice Amount') ?></th>
                        <th style="width:10%"><?php echo $this->translate('Paid Amount') ?></th>
                        <th style="width:10%"><?php echo $this->translate('Remaining Amount') ?></th>
                        <th style="width:6%"><?php echo $this->translate('Payment Number') ?></th>
                        <th style="width:8%"><?php echo $this->translate('Payment Date') ?></th>
                        <th style="width:10%"><?php echo $this->translate('Payment Amount') ?></th>
                        <th style="width:8%"><?php echo $this->translate('Payment Method') ?></th>
                        <th style="width:8%"><?php echo $this->translate('Reference') ?></th>
                    </tr>
                    <?php
                    if(!empty($paymentData)){
                    foreach ($paymentData as $data) {
                        ?>
                        <tr class="even_row">
                            <td><?php echo $data['invoiceNumber']; ?></td>
                            <td><?php echo $data['customerName']; ?></td>
                            <td><?php echo $data['invoiceDate']; ?></td>
                            <td><?php echo $data['invoiceDueDate']; ?></td>
                            <td style="text-align: right"><?php echo $data['invoiceAmount']; ?></td>
                            <td style="text-align: right"><?php echo $data['payedAmount']; ?></td>
                            <td style="text-align: right"><?php echo $data['remainingAmount']; ?></td>
                            <td colspan="5"></td>
                        </tr>

                        <?php
                        foreach ($data['payments'] as $payment) {
                                ?>
                                <tr class="odd_row">
                                    <td colspan="7"></td>
                                    <td><?php echo $payment['paymentNumber']; ?></td>
                                    <td><?php echo $payment['paymentDate']; ?></td>
                                    <td style="text-align: right"><?php echo $payment['paymentAmount']; ?></td>
                                    <td style="text-align: center"><?php echo $payment['paymentMethod']; ?></td>
                                    <td><?php echo $payment['reference']; ?></td>
                                </tr>
                                <?php
                        }
                    }
                    ?>
                    <tr class="even_row">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b><?php echo $this->translate('Total') ?></b></td>
                        <td style="text-align: right"><b><?php echo $summaryDetails['totalInvoiceAmount']; ?></b></td>
                        <td style="text-align: right"><b><?php echo $summaryDetails['totalPaidAmount']; ?></b></td>
                        <td style="text-align: right"><b><?php echo $summaryDetails['totalRemainingAmount']; ?></b></td>
                        <td colspan="5"></td>
                    </tr>
                    <?php
                    } else {
                    ?>
                        <tr class="even_row">
                            <td colspan="12"><?php echo $this->translate('No related data found'); ?></td>
                        </tr>
                    <?php
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>