<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>

            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th style="width:10%"><?php echo $this->translate('Invoice Code') ?></th>
                        <th style="width:10%"><?php echo $this->translate('Customer Name') ?></th>
                        <th style="width:15%"><?php echo $this->translate('Invoiced Date') ?></th>
                        <th style="width:15%"><?php echo $this->translate('Cancelled Date') ?></th>
                        <th style="width:20%"><?php echo $this->translate('Created User') ?></th>
                        <th style="width:20%"><?php echo $this->translate('Cancelled User') ?></th>
                        <th style="width:20%"><?php echo $this->translate('Invoice Amount') ?></th>
                    </tr>

                    <?php
                    if (empty($cancelledInvoices)) {
                        ?>
                        <tr class="even_row">
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"></td>
                            <td style="text-align: right"><?php echo $this->translate('No related data found'); ?></td>
                            <td style="text-align: right"></td>
                        </tr>
                        <?php
                    } else {
                        $netAmount = 0.00;

                        foreach ($cancelledInvoices as $data) {
                            $netAmount += $data['salesinvoiceTotalAmount'];
                            ?>
                            <tr class="even_row">
                                <td style="text-align: right"><?php echo $data['salesInvoiceCode']; ?></td>
                                <td style="text-align: right"><?php echo $data['salesInvoiceCustomerName']; ?></td>
                                <td style="text-align: right"><?php echo $data['createdTimeStamp']; ?></td>
                                <td style="text-align: right"><?php echo $data['deletedTimeStamp']; ?></td>
                                <td style="text-align: right"><?php echo $data['createdUser']; ?></td>
                                <td style="text-align: right"><?php echo $data['deletedUser']; ?></td>
                                <td style="text-align: right"><?php echo number_format($data['salesinvoiceTotalAmount'], 2); ?></td>
                            </tr>
                            <?php
                        }
                    }
                    ?>
                    <tr class="even_row">
                        <td style="text-align: right"></td>
                        <td style="text-align: right"></td>
                        <td style="text-align: right"></td>
                        <td style="text-align: right"></td>
                        <td style="text-align: right"></td>
                        <td style="text-align: right"><strong><?php echo $this->translate('Grand Total') ?></strong></td>
                        <td style="text-align: right"><strong><?php echo number_format($netAmount, 2); ?></strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



