<!--panel-->
<div class='panel panel-default margin_top margin_bottom panel_border'>

    <div class='panel-heading panel_heading_style'><!--panel_heading-->
        <h4 class="font_weight h1_no_margin report_heading"><?php echo $this->translate('Invoice Report') ?></h4>
    </div>

    <div class="panel-body panel_body_style">

        <!--links-->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 remove_left_padding remove_right_padding panel_links">
            <ul class="nav nav-pills  nav-stacked data-tabs" data-tabs="tabs">
                <li id="Monthly" class="report_pills active"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Monthly') ?></a></li>
                <li id="Daily" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Daily') ?></a></li>
                <li id="Annual" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Annual') ?></a></li>
                <li id="CustomerWiseOpenInvoice" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Customer wise open invoice') ?></a></li>
                <li id="CustomerWiseOpenInvoiceWithCreditNote" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Customer wise open invoice with credit note') ?></a></li>
                <!--<li id="Summery" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Summary') ?></a></li>-->
                <li id="salesPersonWiseOustanding" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Sales Person wise Outstanding balance') ?></a></li>
                <li id="invoicePayments" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Invoice & Payment Details') ?></a></li>
                <li id="invoiceDetails" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('All Invoice Details & Payments') ?></a></li>
                <!--<li id="Payments" class="report_pills last_link"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Payments') ?></a></li>-->
                <li id="cancelledInvoice" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Cancelled Invoice') ?></a></li>
                <li id="editedInvoice" class="report_pills"><a href="#" data-toggle="tab" class="active_link"><?php echo $this->translate('Edited Invoice') ?></a></li>
                <li id="issuedInvItem" class="report_pills"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Issued Invoice Item') ?></a></li>
                <li id="invoiceDueDateReport" class="report_pills"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Invoice Due Date Report') ?></a></li>
                <li id="invoiceDetailsWithCustomer" class="report_pills"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Invoice Details With Customer Details') ?></a></li>
        </div>

        <!--process_area-->
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 form-horizontal process_area">
            <div id="report_head">
                <div class="form-group">
                    <div class="row">
                        <div class="row hidden" id="div_invoice_payment">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <label class="control-label location-lbl"><?php echo $this->translate('Location') ?></label>
                                    <div class="locations">
                                        <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="branch-locations" id="branch-locations" multiple="multiple" title='<?php echo $this->translate('Select Location') ?>' >
                                            <?php
                                            foreach ($this->locationList as $id => $row):
                                                $location = ($id == $currentLocation) ? 'selected="selected"' : '';
                                                echo '<option value="' . $id . '" ' . $location . '>' . $row['locationName'] . '</option>';
                                            endforeach;
                                            ?>
                                        </select>
                                    </div>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 product-content invoiceSelection">
                                    <div>
                                        <label class="" name="isAllInvoiceslbl" id="isAllInvoiceslbl">
                                            <input type="radio" class="check_box_mar_right isAllInvoices" value="0" name="isAllInvoices" id="customInvoiceSelection" checked> <?php echo $this->translate('Custom Invoice') ?>
                                        </label>
                                        <div class="">
                                            <select class='form-control selectpicker' data-actions-box="false" data-live-search="true" name="invoiceName" id="invoiceName" multiple="multiple" title="<?php echo $this->translate('Select Invoice(s)') ?>" data-selected-text-format="count>3"></select>
                                        </div>
                                    </div>
                                </div>
                                <!--all Invoices-->
                                <div class="col-lg-4 col-md-4 col-sm-4 product-content invoiceSelection" id="isAllInvoiceBox">
                                    <label name="isAllInvoiceslbl" id="isAllInvoiceslbl">
                                        <input type="radio" class="isAllInvoices" value="1" name="isAllInvoices" id="AllInvoices"> <?php echo $this->translate('All Invoices') ?>
                                    </label>
                                </div>
                            </div><br>                            
                        </div>                        
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 report_from_month"><!--from_month-->
                            <label class="control-label from_month_lbl"><?php echo $this->translate('From Month') ?></label>
                            <label class="control-label hidden from_date_lbl"><?php echo $this->translate('From Date') ?></label>
                            <label class="control-label hidden from_year_lbl"><?php echo $this->translate('Year') ?></label>

                            <input type="text" class="span2 datepicker form-control" id="fromDate" name="fromDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to set a From Date') ?>">
                            <input type="text" class="span2 datepicker form-control" id="fromMonth" name="fromMonth" data-date-format="MM-yyyy" placeholder="<?php echo $this->translate('From Month') ?>"/>
                            <input type="text" class="span2 datepicker form-control" id="year" name="year" data-date-format="yyyy" placeholder="<?php echo $this->translate('Click to set a Year') ?>">
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 to set_to_date"><!--set_to_date-->
                            <label class="control-label to_month_lbl"><?php echo $this->translate('To Month') ?></label>
                            <label class="control-label to_date_lbl hidden"><?php echo $this->translate('To Date') ?></label>

                            <input type="text" class="span2 datepicker form-control" id="toDate" name="toDate" data-date-format="yyyy-mm-dd" placeholder="<?php echo $this->translate('Click to set a To Date') ?>">
                            <input type="text" class="span2 datepicker form-control" id="toMonth" name="toMonth" data-date-format="MM-yyyy" placeholder="<?php echo $this->translate('To Month') ?>"/>

                        </div>                        

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tax_div"><!--tax-->
                            <label class="control-label tax_chk_lbl"><?php echo $this->translate('Tax') ?></label>
                            <div class="text_margin_top">
                                <label id="lblTax" name="lbl_name"><input type="checkbox" id="tax" name="tax" value="0" class="check_box_mar_right"/><?php echo $this->translate('Tax') ?></label>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 hidden" id="user-selection"><!--Users -->
                            <label class="control-label"><?php echo $this->translate('Users') ?></label>
                            <select class="form-control selectpicker" data-actions-box="true"
                                    name="users" id="users" multiple="multiple" title="<?php echo $this->translate('Select The Users') ?>"
                                    data-live-search="true" data-selected-text-format="count>3">
                                        <?php
                                        foreach ($this->users as $userID => $userName) :
                                            echo '<option value="' . $userID . '">' . $userName . '</option>';
                                        endforeach;
                                        ?>
                            </select>
                        </div><!--row-->

                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><!--slaes person-->
                                <div class="sales-person hidden">
                                    <label class="control-label"><?php echo $this->translate('Sales Person') ?></label>
                                    <select class="form-control selectpicker" data-actions-box="true" name="salesPersons" id="salesPersons" multiple="multiple" title="<?php echo $this->translate('Select Sales Persons'); ?>">
                                        <?php
                                        foreach ($this->salesPersons as $spID => $value) :
                                            echo '<option value="' . $spID . '">' . $value . '</option>';
                                        endforeach;
                                            echo '<option value="other">Other</option>';
                                        ?>
                                    </select>
                                </div>
                            </div><!--row-->
                        </div>
                        <br>
                        <div class="row">
                            <div class=" product-content customerSelection hidden">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <label class="" name="isAllCustomerslbl" id="isAllCustomerslbl">
                                        <input type="radio" class="check_box_mar_right isAllCustomers" value="0" name="isAllCustomers" id="customCustomerSelection" checked> <?php echo $this->translate('Custom Cutomers') ?>
                                    </label>
                                    <div class="">
                                        <select class='form-control selectpicker' data-actions-box="true" data-live-search="true" name="customerName" id="customerName" multiple="multiple" title="<?php echo $this->translate('Select Customer(s)') ?>" data-selected-text-format="count>3"></select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 product-content customerSelection">
                                    <label name="isAllCustomerslbl" id="isAllCustomerslbl">
                                        <input type="radio" class="isAllCustomers" value="1" name="isAllCustomers" id="AllCustomers"> 
                                        <?php echo $this->translate('All Customers') ?>
                                    </label>
                                </div>
                                 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 hidden" id="cus-category-selection">
                                    <label class="control-label"><?php echo $this->translate('Customer Category') ?></label>
                                    <select class="form-control selectpicker" data-actions-box="true"
                                            name="cusCategory" id="cusCategory" multiple="multiple" title="<?php echo $this->translate('Select Customer Category') ?>"
                                            data-live-search="true" data-selected-text-format="count>3">
                                                <?php
                                                foreach ($this->cusCategory as $catID => $catValue) :
                                                    echo '<option value="' . $catID . '">' . $catValue . '</option>';
                                                endforeach;
                                                ?>
                                    </select>
                                </div>
                            </div>
                        </div>                        
                        <div class="row hidden" id="item_div">
                            <br>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 itemSelection">
                                <div>
                                    <label class="" name="isAllItemslbl" id="isAllItemslbl">
                                        <input type="radio" class="check_box_mar_right isAllItems" value="0" name="isAllItems" id="customItemSelection" checked> <?php echo $this->translate('Custom Items') ?>
                                    </label>
                                    <div class="">
                                        <select class='form-control selectpicker ' data-actions-box="true" data-live-search="true" name="itemList" id="itemList" multiple="multiple" title='<?php echo $this->translate('Select Item(s)') ?>'></select>
                                    </div>
                                </div>
                            </div>
                            <!--all Items-->
                            <div class="col-lg-4 col-md-4 col-sm-4 product-content itemSelection" id="isAllProductsCBox">
                                <label name="isAllCustomerslbl" id="isAllItemslbl">
                                    <input type="radio" class="isAllItems" value="1" name="isAllItems" id="isAllItems" > 
                                    <?php echo $this->translate('All Items') ?>
                                </label>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div  class="col-lg-4 col-md-4 col-sm-4 col-xs-4" id="location-selection">
                                <label class="control-label location-lbl"><?php echo $this->translate('Location') ?></label>
                                <div class="location-list">
                                    <select class='form-control selectpicker ' data-actions-box="true" data-live-search="true" name="locationList" id="locationList" multiple="multiple" title='<?php echo $this->translate('Select Location(s)') ?>'>
                                        <?php
                                        foreach ($this->locationList as $id => $row):
                                            echo '<option value="' . $id . '">' . $row['locationName'] . '</option>';
                                        endforeach;
                                        ?>
                                    </select>
                                </div>
                                <br>
                            </div>
                            <div  class="col-lg-4 col-md-4 col-sm-4 col-xs-4" id="payment-term-div">
                                <div class="payment-term-list" >
                                    <label class="control-label"><?php echo $this->translate('Payment Term') ?></label>
                                    <select class='form-control selectpicker ' data-actions-box="true" data-live-search="true" name="paymentTermList" id="paymentTermList" multiple="multiple" title='<?php echo $this->translate('Select Payment Term') ?>'>
                                        <?php
                                        foreach ($this->paymentTerms as $term):
                                            echo '<option value="' . $term->paymentTermID . '">' . $term->paymentTermName . '</option>';
                                        endforeach;
                                        ?>
                                    </select>
                                </div>
                            </div>
                            <div  class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="status_div hidden">
                                    <label class="control-label"><?php echo $this->translate('Select Status') ?></label>
                                    <select class="form-control selectpicker" data-actions-box="true" name="status" id="status" multiple="multiple" title="<?php echo $this->translate('Select status') ?>">
                                        <option value="3">Open</option>;
                                        <option value="4">Close</option>;
                                        <option value="6">Over due</option>;
                                        <option value="5">Cancel</option>;
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="row hidden" id="category_div">
                            <br>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 product-content categorySelection">
                                <div>
                                    <label class="" name="isAllCategorylbl" id="isAllCategorylbl">
                                        <input type="radio" class="check_box_mar_right isAllCategory" value="0" name="isAllCategories" id="customCategorySelection" checked> <?php echo $this->translate('Item Categories') ?>
                                    </label>
                                    <div class="">
                                        <select class='form-control selectpicker ' data-actions-box="true" data-live-search="true" name="categoryList" id="categoryList" multiple="multiple" title='<?php echo $this->translate('Select Category(s)') ?>'></select>
                                    </div>
                                </div>
                            </div>

                            <!--all Categories-->
                            <div class="col-lg-4 col-md-4 col-sm-4 product-content categorySelection" id="isAllProductsCBox">
                                <label name="isAllCategorylbl" id="isAllCategorylbl">
                                    <input type="radio" class="isAllCategory" value="1" name="isAllCategories" id="isAllCategories" > <?php echo $this->translate('All Categories') ?>
                                </label>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><!--tax-->
                            <div class="tax-type hidden">
                                <label class="control-label"><?php echo $this->translate('Select Tax Type') ?></label>
                                <select class="form-control selectpicker" data-actions-box="true" name="taxType" id="taxType" multiple="multiple" title="<?php echo $this->translate('Select Tax Type') ?>">
                                    <option value="1">Suspended Tax</option>;
                                    <option value="2">General Tax</option>;
                                </select>
                            </div>
                        </div><!--row-->

                        <div class="row">
                            <div class="col-lg-12 btn-group btn_panel_height_high report_buttons">
                                <button class="btn btn-default col-lg-2" id="viewReport"><?php echo $this->translate('View Report') ?></button>
                                <button class="btn btn-default col-lg-2" id="generatePdf"><?php echo $this->translate('Generate PDF') ?></button>
                                <button class="btn btn-default col-lg-2" id="csvReport"><?php echo $this->translate('Generate CSV') ?></button>
                            </div>
                        </div>
                    </div><!--form-group-->

                </div><!--report_head-->
            </div><!--form_horizontal-->

        </div><!--panel_body-->
    </div><!--panel-->

    <iframe id="salesReport" class="panel panel-default margin_top margin_bottom panel_border report-iframe"></iframe>
