<h3>Material Management</h3>
<div id="job-list-view">

    <div class="well well_heading margin_top">
        <h5 class="font_weight"><?php echo $this->translate('Search a Job') ?></h5>
    </div>

    <div class="well well_body clearfix">
        <form class="job-search" id="job-search" method="post" action="">
            <div class="row">
                <div class="col-lg-12 xs-search-field">
                    <div class=" input-group">
                        <input type="text" class="search form-control" id ='job-search-keyword' placeholder="<?php echo $this->translate('Search by job code') ?>"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default search_btn_css" type="submit"><?php echo $this->translate('Search') ?></button>
                            <button class="btn btn-default reset" type="reset"><?php echo $this->translate('Cancel') ?></button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
        <br>
        <div class="row">
            <div class="search_field col-lg-3 col-md-6">
                <select class="form-control selectpicker show-tick" id="jobCard" name="jobCard" data-live-search="true">
                    <option value=""><?php echo $this->translate('Filter by job card') ?></option>
                </select>
            </div>
            <div class="col-lg-3 col-md-6">
                <select class="form-control selectpicker show-tick" id="serviceType" name="serviceType" data-live-search="true">
                    <option value=""><?php echo $this->translate('Filter by service type') ?></option>
                </select>
            </div>
            <div class="col-lg-2 col-md-3 col-xs-6">
                <input type="text" name="serviceStartingDate" id="serviceStartingDate" class="form-control" placeholder="From" readonly="true" data-date-format = <?php echo $this->userDateFormat ?>>
            </div>
            <div class="col-lg-2 col-md-3 col-xs-6">
                <input type="text" name="serviceEndingDate" id="serviceEndingDate" class="form-control" placeholder="To" readonly="true" data-date-format = <?php echo $this->userDateFormat ?>>
            </div>
        </div>
    </div>

    <div id="search-job-list">
        <?php
        echo $this->partial('jobs/material-management/list-table', array('jobList' => $this->jobList,
            'paginated' => $this->paginated, 'status' => $this->status, 'serviceStartedTimeData' => $this->serviceStartedTimeData));
        ?>
    </div>

</div>
