<div class="table-responsive" id="job-list">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="12%"><?php echo $this->translate('Job Code') ?></th>
                <th width="15%"><?php echo $this->translate('Service') ?></th>
                <th width="12%" class="text-center"><?php echo $this->translate('Station') ?></th>
                <th width="18%"><?php echo $this->translate('Job Supervisor') ?></th>
                <th width="8%" class="text-center"><?php echo $this->translate('Employees') ?></th>
                <th width="15%"><?php echo $this->translate('Started Date & Time') ?></th>
                <th width="8%"><?php echo $this->translate('Status') ?></th>
                <th width="10%" class="text-center" ><?php echo $this->translate('Issue') ?></th>
            </tr>
        </thead>
        <tbody id="jobList">
            <?php
            foreach ($this->jobList as $loo) {
                $loo = (object) $loo;
                $status = $loo->jobTaskStatus;
                $state = ucfirst($this->status[$status]);
                $style = NULL;
                switch ($status) {
                    case "8":
                        $style = "label label-primary";
                        break;
                    case "17":
                        $style = "label label-warning";
                        break;
                    case "18":
                        $style = "label label-danger";
                        break;
                    default :
                        $style = "label label-default";
                }
                ?>
                <tr data-jobid="<?php echo $loo->jobTaskID; ?>">
                    <td class="jobCode"><?php echo $loo->jobReferenceNumber ?></td>
                    <td class="serviceName"><?php echo $loo->taskName ?></td>
                    <td class="jStations text-center">
                        <?php 
                            if (is_null($loo->departmentStationName)) {
                              echo "Default station";  
                            } else {
                              echo $loo->departmentStationName;  
                            }

                        ?>
                    </td>
                    <td class="jobSupervisor"><?php echo $loo->userFirstName.' '.$loo->userLastName ?></td>
                    <td class="jEmployees text-center">
                        <span class=" link_color" style="cursor:pointer" >
                            <span id="<?php echo $loo->jobTaskID; ?>" class="glyphicon glyphicon-user jobEmployees"></span>
                        </span>
                    </td>
                    <td class="jobStartedAt"><?php echo $this->serviceStartedTimeData[$loo->jobTaskID] ?></td>
                    <td class="jState"><span class="<?php echo $style; ?>"> <?php echo $state; ?></span></td>
                    <td width="10%" class="text-center">
                        <?php if($status == "18") {?>
                            <a href="<?php echo $this->url('materialManagement', array('action' => 'view', 'param1' => $loo->jobTaskID)); ?>" class="fullView">
                                <span class="glyphicon glyphicon-eye-open openlist custom_font_size"></span>
                            </a>
                        <?php } else {  ?>
                            <a href="<?php echo $this->url('materialManagement', array('action' => 'updateMaterial', 'param1' => $loo->jobTaskID)); ?>" class="fullView btn btn-primary">Update
                            </a>
                        <?php } ?> 
                    </td>
                </tr>
                <?php
            }
            if (count($this->jobList) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>

        </tbody>
    </table>
</div>
<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->jobList, 'sliding', array('partial/paginator.phtml', 'jobList'), array(
        'route' => 'materialManagement', 'action' => 'index'
            )
    );
}
?>

<div class="modal fade" id="viewServiceEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><?php echo $this->translate('Employees') ?></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="service-employee-table table table-striped margin_top_normal table-condensed" id="serviceEmployeesTable">
                    <thead>
                        <tr>
                            <th class="" style="width: 45%"><?php echo $this->translate("Job Employee Code"); ?></th>
                            <th class="" style="width: 45%"><?php echo $this->translate("Job Employee Name"); ?></th>
                        </tr>
                    </thead>

                    <tbody id="formRow">
                        <tr id='preSample' class="hidden">
                            <td id="employeeCode">
                            </td>
                            <td id="employeeName">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>
