<script>
    function goBack() {
        window.history.go(-1);
    }
</script>
<h3><?php echo $this->translate('Material Management') ?></h3>
<div class="well well_heading margin_top">
    <h5 class="font_weight add"><?php echo $this->translate('Service Details') ?></h5>
</div>
<div class="well clearfix well_body">
   <div class="row">
        <input type="text" class="form-control hidden" id="jobId" value="<?php echo  $this->jobData['jobId'] ?>">
        <input type="text" class="form-control hidden" id="jobTaskId" value="<?php echo $this->jobData['jobTaskID'] ?>">
        <div class="col-lg-2 col-md-2 col-sm-2 xs-margin-bottom">
            <label for="jobCode" class="control-label">
                <?php echo $this->translate("Job Code"); ?>
            </label>
            <input type="text" class="form-control" disabled="disabled" id="jobCode" value="<?php echo $this->jobData['jobCode'] ?>">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 xs-margin-bottom">
            <label for="jobName" class="control-label">
                <?php echo $this->translate('Service'); ?>
            </label>
            <input type="text"  class="form-control" disabled="disabled" id="jobName" value="<?php echo $this->jobData['serviceName'] ?>">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 xs-margin-bottom">
            <center>
            <label for='jobType' class="control-label">
                <?php echo $this->translate('Station'); ?>
            </label>
            </center>
            <center>
            <input type="text"  class="form-control" disabled="disabled" id="jobName" value="<?php echo $this->jobData['departmentStationName'] ?>"></center>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 xs-margin-bottom">
            <label for="dueDate" class="control-label">
                <?php echo $this->translate("Job Supervisor"); ?>
            </label>
            <input type="text" class="form-control" disabled="disabled" id="jobDueDate" value="<?php echo $this->jobData['jobSupervisorName'] ?>">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 xs-margin-bottom">
            <center><label for="viewContractors" class="control-label">
                <?php echo $this->translate('Employees'); ?>
            </label></center>
            <center>
                <a class="btn btn-default jobEmployees" id="<?php echo $this->jobData['jobTaskID']; ?>" ><i class="fa fa-user" style="font-size: 15px;"></i></a>
            </center>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 xs-margin-bottom">
            <label for="viewResources" class="control-label">
                <?php echo $this->translate('Started Date & Time'); ?>
            </label>
            <center>
            <input type="text" class="form-control" disabled="disabled" id="jobType" value="<?php echo $this->jobData['startedTime'] ?>">
        </div>
    </div>
</div>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <?php echo $this->translate('Service Materials'); ?>
        </h4>
      </div>
      <div id="collapse2" class="panel">
        <div class="panel-body">
            <div class="row">
                <div id="serviceGoodsTable">
                    <hr>
                    <table class="service-goods-table table margin_top_normal table-condensed hidden">
                        <thead>
                            <tr>
                                <th width="30%"><?php echo $this->translate("Product Name - Code"); ?></th>
                                <th width="23%"><?php echo $this->translate("Available Qty"); ?></th>
                                <th width="23%"><?php echo $this->translate("Standard Qty"); ?></th>
                                <th width="23%"><?php echo $this->translate("Issued Qty"); ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="serviceGoodsPreSetSample" class="hidden">
                                <td id="serviceGoodsNameAndCode"></td>
                                <td>
                                    <div class="input-group">
                                        <input id="avaliableQuantity" name="avaliableQuantity" type="text" class="form-control" disabled="true">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input class="form-control" id="standardQuantity" name="standardQuantity" type="text" disabled="true">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input id="issuedQuantity" name="issuedQuantity" type="text" class="form-control" disabled="true">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <?php echo $this->translate('Trade Materials'); ?>
        </h4>
      </div>
      <div id="collapse1" class="panel">
        <div class="panel-body">
            <div class="row">
                <div id="tradeMaterialTable">
                <hr>
                    <table class="trade-product-table table margin_top_normal table-condensed hidden">
                        <thead>
                            <tr>
                                <th width="30%"><?php echo $this->translate("Product Name - Code"); ?></th>
                                <th width="23%"><?php echo $this->translate("Available Qty"); ?></th>
                                <th width="23%"><?php echo $this->translate("Standard Qty"); ?></th>
                                <th width="23%"><?php echo $this->translate("Issued Qty"); ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="tradeProductPreSetSample" class="add-row sample hidden">
                                <td id="tradeProdctNameAndCode"></td>
                                <td>
                                    <div class="input-group">
                                        <input id="avaliableQuantity" name="avaliableQuantity" type="text" class="form-control" disabled="true">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input class="form-control" id="standardQuantity" name="standardQuantity" type="text" disabled="true">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input id="issuedQuantity" name="issuedQuantity" type="text" class="form-control" disabled="true">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-sm-4"><!--button-->
        <div class="btn_margin_top ">
            <button id="grnViewBack" onclick="goBack()" class="btn btn-primary"><?php echo $this->translate('Back') ?></button>
        </div>

    </div>
</div><!--row-->

<div class="modal fade" id="viewServiceEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><?php echo $this->translate('Employees'); ?></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="service-employee-table table table-striped margin_top_normal table-condensed" id="serviceEmployeesTable">
                    <thead>
                        <tr>
                            <th class="" style="width: 45%"><?php echo $this->translate("Job Employee Code"); ?></th>
                            <th class="" style="width: 45%"><?php echo $this->translate("Job Employee Name"); ?></th>
                        </tr>
                    </thead>

                    <tbody id="formRow">
                        <tr id='preSample' class="hidden">
                            <td id="employeeCode">
                            </td>
                            <td id="employeeName">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><?php echo $this->translate('Close'); ?></button>
            </div>
        </div>
    </div>
</div>