<div class="data_table">
    <table width="100%" class="product-list">
        <tr>
            <td>
                <hr />
                <br />
                <div class="qout_body">
                    <table width="100%" class="table bigtable table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width: 30%"><?php echo $this->translate("Item Code"); ?></th>
                                <th style="width: 40%"><?php echo $this->translate("Item Name"); ?></th>
                                <th style="width: 15%"><?php echo $this->translate("Quantity"); ?></th>
                                <th style="width: 15%"</th>
                            </tr>
                        </thead>
                        <tbody id="form_row">
                            <?php                            
                            foreach ($this->products as $product) {
                                ?>
                                <tr class="">
                                    <td id='code'><?php echo $product['productCode']; ?></td>
                                    <td id='name'><?php echo $product['productName']; ?></td>
                                    <td id='quantity'><?php echo number_format($product['dispatchNoteProductQuantity'],$product['uomDecimalPlace']); ?></td>
                                    <td><span id="uomName"><?php echo $product['uomAbbr']; ?></span></td>

                                </tr>
                                <?php
                            }
                            
                            ?>
                        </tbody>

                    </table>
                </div>
                <div class="summary">
                    <table width="100%"  id="" class="table">
                        <col width="90px"><col width="290px"><col width="75px">
                        <col width="100px"><col width="50px"><col width="100px">
                        <tr>
                            <td colspan="2" rowspan="2">
                                <?php
//                                echo "<div id='comment'><strong>" . $this->translate('Comment') . "&nbsp;:</strong><p><i>" . $this->transferDescription . "</i></div>";
                                ?>
                            </td>
                        </tr>
                    </table>
                </div>

            </td>
        </tr>
    </table>
</div><!--./col


