<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="15%"><?php echo $this->translate('Name'); ?></th>
                <th width="15%"><?php echo $this->translate('Number'); ?></th>
                <th width="20%"><?php echo $this->translate('Balance'); ?></th>
                <th width="10%"><?php echo $this->translate('Status'); ?></th>
                <th width="15%"><?php echo $this->translate('Type'); ?></th>
                <th width="15%"><?php echo $this->translate('Bank'); ?></th>
                <th width="5%" class="text-center"><?php echo $this->translate('Edit'); ?></th>
                <th width="5%" class="text-center"><?php echo $this->translate('Delete'); ?></th>
            </tr>
        </thead>

        <tbody>
            <?php
            if (count($accounts) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            } else {
                foreach ($accounts as $account) {
                    ?>
                    <tr data-account-id="<?php echo $account['accountId']; ?>" data-account-name="<?php echo $account['accountName']; ?>" data-entity-id="<?php echo $account['entityId']; ?>">
                        <td><?php echo $account['accountName']; ?></td>
                        <td><?php echo $account['accountNumber']; ?></td>
                        <td><?php echo $account['currencyName'].' '.number_format($account['accountBalance'], 2); ?></td>
                        <td><?php echo ($account['accountStatus'] ? 'Unlock' : 'Lock'); ?></td>
                        <td><?php echo $account['accountTypeName']; ?></td>
                        <td><?php echo $account['bankName']; ?></td>
                        <td class="text-center">
                            <a href="#" class="fa fa-edit custom_font_size account-action" data-action="edit"></a>
                        </td>
                        <td class="text-center">
                            <a href="#" class="fa fa-trash-o custom_font_size account-action" data-toggle="modal" data-target="#accountDeleteModal" data-action="delete"></a>
                        </td>
                    </tr>
                    <?php
                }
            }
            ?>
        </tbody>
    </table>
</div>

<?php
if($this->paginated){
    echo $this->paginationControl(
        $accounts, 'sliding', array('partial/paginator.phtml', 'account'), array('route' => 'account', 'action' => 'index')
    );
}
?>