<?php
$form1 = $this->form;
?>
<input type="hidden" id="smsTypeStatus" value="<?php echo $this->smsTypeIsEnable;?>">
<input type="hidden" id="smsTypeId" value="<?php echo $this->smsTypeID;?>">
<div class="row">
    <br>
    <div class="alert alert-info uom-alert"><?php echo $this->translate('Note : '.$note) ?></div>
    <div class="charge_tax">
        <div class="form-group">
            <label for="has_tax" class="control-label col-lg-3 col-md-4 col-sm-5">
                <?php echo $this->translate("Do you want to enable it?"); ?>
                <a class="help_icon_js" href="#" onclick="return false" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="right" data-trigger="hover" data-html="true" data-content="<?php echo $this->tool_TipHelper('SMS_NOTIFICATION_AFTER_INVOICE_ENABLE') ?>">
                    <i class="fa fa-question-circle help_icon"></i>
                </a>
            </label>
            <div class="col-lg-9 col-md-8 col-sm-7">
                <br>
                <label class="switch">
                  <input id="smsEnable" type="checkbox">
                  <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
</div>

<div class="smsSetting_div hidden">
    <div class="well well_heading margin_top">
        <h5 class="font_weight"><?php echo $this->translate('Add SMS details') ?></h5>
    </div>
    <!--add_custom_currency-->
    <div class="well well_body" id="add_custom_currency">

        <!--form_open_tag-->
        <?php
        $form1->prepare();
        echo $this->form()->openTag($form1);
        ?>

        <div class="form-group">
            <div class="col-lg-12 category_name"><!--message body-->
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Enter the message') ?><font color="red"> *</font></label>
                <div>
                    <?php echo $this->formRow($form1->get('messageDescription')); ?>
                </div>
            </div>      
        </div>
         
        <div class="form-group  category_name">
            <div class="col-lg-6 text-left"><!--has includes invoice details-->
                <label class="control-label label_bottom_margin"><input type="checkbox" value="" <?php echo (int)$smsIncludedIsSelected? 'checked':''; ?> id="hasIncludeInvoiceDetailsCheckbox"> <?php echo $includeLabel;?></label>
            </div>
            <div class="col-lg-6 text-right"><!--button-->
                <button type="button" class="btn btn-primary make-full-width" data-dismiss="modal" id="save-message"><?php echo $this->translate('Save Draft') ?></button>
            </div>
        </div>

        <div class="form-group category_name hidden" id="sms_included_div"><!--sms included invoice items-->
            <div class="col-lg-12 col-md-12">
                <?php echo $this->formRow($form->get('smsIncluded')); ?>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-12 category_name after-invoice-div"><!--sms send type-->
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Send message') ?>&nbsp;&nbsp;</label>
                <?php echo $this->formRow($form1->get('smsSendType')); ?>
                <label></label>
            </div>      
        </div>
        <div class="alert alert-info automatic-info"><?php echo $this->translate('Info : '.$info['automatic-info']) ?></div>
        <div class="alert alert-info manual-info"><?php echo $this->translate('Info : '.$info['manual-info']) ?></div>
        <!--button-->
        <div class="form-group margin_top_normal div-normal">
            <div class="col-lg-12 text-right">
                <?php echo $this->formSubmit($form1->get('submit')); ?>
                <button type="button" class="btn btn-default cancel make-full-width" data-dismiss="modal"><?php echo $this->translate('Cancel') ?></button>
            </div>
        </div>

        <!--form_close_tag-->
        <?php
        echo $this->form()->closeTag($form1);
        ?>

    </div><!--well-->
</div>

<style type="text/css">
    /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.form-group label{
  /* padding-top: 0px !important; */
}

.check_box_mar_right{
  margin-left: 10px !important;
}

.check_box_sms{
  display: inline !important;
}

.has_tax{
  padding-top: 2% !important;
}
</style>