<?php
if ($refNotSet) {
    ?>
    <script>
        $(function() {
            $('#refNotSet').modal('show');
        });
    </script>
    <?php
}
?>
<input type="text"  class="hidden" id="mode" data-job-id="<?php echo $this->jobId ?>" value="<?php echo $this->mode ?>" >
<input type="hidden" name="receviableAccountID" id="receviableAccountID" class="form-control" value=<?php echo $this->accountSetupData['customerReceviableAccountID']; ?>>        
<input type="hidden" name="salesAccountID" id="salesAccountID" class="form-control" value=<?php echo $this->accountSetupData['customerSalesAccountID']; ?>>        
<input type="hidden" name="advancePaymentAccountID" id="advancePaymentAccountID" class="form-control" value=<?php echo $this->accountSetupData['customerAdvancePaymentAccountID']; ?>>        
<input type="hidden" name="salesDiscountAccountID" id="salesDiscountAccountID" class="form-control" value=<?php echo $this->accountSetupData['customerSalesDiscountAccountID']; ?>>
<div class="modal fade" id="refNotSet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $refNotSet; ?>
</div>
<input type="hidden" name="customerCode" id="customerCode" class="form-control" value=<?php echo $this->accountSetupData['customerCode']; ?>>
<div class="row">
    <div class="col-lg-1"></div>
    <a href="#" id="customerClickDiv">
        <div class="col-lg-3 titleDiv activeDiv" id="step01">
            <div style="float: left;position: relative;top: 25px;">
                <b>Know your Customer</b>
            </div>
            <div style="float: right;position: relative;top: 10px;">
                <img src="/assets/img/support.png" style="max-width: 50px">
            </div>
        </div>
    </a>
    <a href="#" id="vehicleClickDiv">
    <div class="col-lg-3 titleDiv inActiveDiv" id="step02">
        <div style="float: left;position: relative;top: 25px;">
            <b>
                Vehicle Details
            </b>
        </div>
        <div style="float: right;position: relative;top: 10px;">
            <img src="/assets/img/convertible-car.png" style="max-width: 50px">
        </div>
        
    </div>
    </a>
    <a href="#" id="serviceClickDiv">
    <div class="col-lg-3 titleDiv inActiveDiv" id="step03">
        <div style="float: left;position: relative;top: 25px;">
            <b>
                Service Details
            </b>
        </div>
        <div style="float: right;position: relative;top: 10px;">
            <img src="/assets/img/car-service.png" style="max-width: 50px">
        </div>
    </div>
    </a>
</div>
<div class="customerView">
    <div class="row" style="margin-top: 55px;">
        <div class="col-lg-2"></div>
        <div class="col-lg-4" style="margin: 10px">
            <div class="row dataRow">
                <div class="col-lg-12">
                    <label for="departmentCode" class="_remove_bold"><?php echo $this->translate('Vehicle Registration No') ?><span class="_required">*</span></label>
                    <select class="vehicleRegID form-control jobInput" name="state">
                    </select>
                </div>
            </div>
            <br>
            <div class="row dataRow">
                <div class="col-lg-12">
                    <label class="_remove_bold"><?php echo $this->translate('Select Customer') ?></label>
                    <!-- <input type="text" placeholder="Select Customer" name="customer" id="customer" class="form-control customerData jobInput"> -->
                    <select class="customerID form-control jobInput" name="state">
                    </select>
                </div>
            </div>
            <br>
            <div class="row dataRow">
                <div class="col-lg-12">
                    <label for="departmentCode" class="_remove_bold"><?php echo $this->translate('Mobile Number') ?><span class="_required">*</span></label>
                    <input type="text" placeholder="Eg: 0710000000" name="mobileNo" id="mobileNo" class="form-control customerData jobInput">
                </div>
            </div>           
        </div>
        <div class="col-lg-4" style="margin: 10px">
            <div class="row dataRow">
                <div class="col-lg-12">
                    <label for="departmentCode" class="_remove_bold"><?php echo $this->translate('Email Address') ?></label>
                    <input type="text" placeholder="Eg: abc@cde.com" name="emailAddress" id="emailAddress" class="form-control jobInput">
                </div>
            </div>
            <br>
            <div class="row dataRow hidden" id = "cusTitleDiv">
                <div class="col-lg-12">
                    <label class="_remove_bold"><?php echo $this->translate('Select Title') ?></label>
                    <!-- <input type="text" placeholder="Select Customer" name="customer" id="customer" class="form-control customerData jobInput"> -->
                    <select class="titleID form-control jobInput" id="customerTitle" name="customerTitle">
                        <option value="0">Select Customer Title</option>
                        <option value="Mr">Mr.</option>
                        <option value="Ms">Ms.</option>
                        <option value="Dr">Dr.</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row dataRow">
                <div class="col-lg-12">
                    <label for="departmentCode" class="_remove_bold"><?php echo $this->translate('Address') ?></label>
                    <textarea placeholder="Eg: No.43, abc rd, cde" name="address" id="address" class="form-control jobInput" style="min-height: 119px"></textarea>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row">
        <br>
        <br>
        <br>
        <br>
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <button class="nextButton" id="cusNextBtn" style="float: right;">Next</button>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>
<div class="vehicleDetailView hidden">
    <div class="row" style="margin-top: 55px;">
        <div class="col-lg-2"></div>
        <div class="col-lg-4" style="margin: 10px">
            <!-- <div class="row dataRow">
                <div class="col-lg-12">
                    <label class="_remove_bold"><?php echo $this->translate('Vehicle Type') ?><span class="_required">*</span></label>
                    <select class="vehicleType form-control jobInput" name="state">
                    </select>
                </div>
            </div> -->
            <div class="row dataRow">
                <div class="col-lg-12">
                    <label class="_remove_bold"><?php echo $this->translate('Vehicle Type') ?><span class="_required">*</span></label>
                    <!-- <select class="form-control selectpicker show-tick jobInput" name="state" id="vehicleTypeFoJob">
                    </select> -->
                    <select class="form-control selectpicker show-tick jobInput" id="vehicleTypeFoJob" name="vehicleTypeFoJob" title="Select Vehicle Type">
                        <option value="0"><?php echo $this->translate('Select Vehicle Type') ?></option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row dataRow">
                <div class="col-lg-12">
                    <label for="department" class="_remove_bold"><?php echo $this->translate('Vehicle Make') ?><span class="_required">*</span></label>
                    <select class="form-control selectpicker show-tick jobInput" id="typeRelatevehicleModel" name="typeRelatevehicleModel" title="Select Vehicle Make">
                        <option value="0"><?php echo $this->translate('Select Vehicle Make') ?></option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row dataRow">
                <div class="col-lg-12">
                    <label for="department" class="_remove_bold"><?php echo $this->translate('Vehicle Model') ?></label>
                    <input type="text" placeholder="Ex: Corolla" name="vehicleModal" id="vehicleModal" class="form-control jobInput" disabled="true">
                    <input type="hidden" id="vehicleModalValue">
                </div>
            </div>
        </div>
        <div class="col-lg-4" style="margin: 10px">
            <div class="row dataRow">
                <div class="col-lg-12">
                    <label class="_remove_bold"><?php echo $this->translate('Fuel Type') ?></label>
                    <select class="form-control selectpicker show-tick jobInput"  id="fuelTypeID" name="fuelTypeID" data-live-search="true" title="Select Fuel Type">
                        <option value="0"><?php echo $this->translate('Select Fuel Type') ?></option>
                        <?php foreach ($this->fuelTypes as $key => $value) { ?>
                            <option value="<?php echo $key;?>"><?php echo $value ?></option>
                        <?php } ?>
                    </select>
                </div>
            </div>
            <br>
            <div class="row dataRow" style="margin-top: 9px;">
                <div class="col-lg-12">
                    <label for="enginNumber" class="_remove_bold"><?php echo $this->translate('Engine Number') ?></label>
                    <input type="text" placeholder="Eg: 123-4565-22" disabled="disabled" name="enginNumber" id="enginNo" class="form-control jobInput">
                </div>
            </div>
            <br>
            <div class="row dataRow" style="margin-top: -8px;">
                <div class="col-lg-12">
                    <label for="serviceName" class="_remove_bold"><?php echo $this->translate('Meter Reading') ?></label>
                    <div class="input-group">
                        <input type="text" placeholder="Eg: 1256" name="serviceCode" disabled="disabled" id="kmCovered" class="form-control jobInput">
                        <span class="input-group-addon jobInput ">km</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row">
        <br>
        <br>
        <br>
        <br>
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <button class="nextButton" id="vehiclePrevBtn" style="float: left;">Back</button>
            <button class="nextButton" id="vehicleNextBtn" style="float: right;">Next</button>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>

<div class="serviceDetailView hidden">
    <div class="row" style="margin-top: 55px;">
        <div class="col-lg-2"></div>
        <div class="col-lg-4" style="margin: 10px">
            <div class="row dataRow">
                <div class="col-lg-12">
                    <label class="_remove_bold"><?php echo $this->translate('Job Code') ?></label>
                    <input type="text" name="jobCode" id="jobCode" class="form-control jobInput" value="<?php echo $this->jobCode ?>" disabled="disabled">
                </div>
            </div>
            <br>
            <div class="row dataRow">
                <div class="col-lg-12">
                    <label class="_remove_bold"><?php echo $this->translate('Add Services By Job Card') ?></label>
                    <select class="form-control jobInput"  id="jobCardId" name="jobCrd">
                    </select>
                </div>
            </div>
            <br>
            <div class="row dataRow">
                <div class="col-lg-12">
                    <label class="_remove_bold"><?php echo $this->translate('Add Services') ?></label>
                    <select class="form-controljobInput"  id="serviceId" name="serviceId">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-lg-4" style="margin: 10px">
            <div class="row dataRow">
                <div class="col-lg-12">
                    <label class="_remove_bold"><?php echo $this->translate('Job Supervisor') ?></label>
                    <input type="text" name="jobSupervisor" data-user-id="<?php echo $this->userId ?>" id="jobSupervisor" class="form-control jobInput" value="<?php echo $this->supervisorName ?>" disabled="disabled">
                </div>
            </div>
            <br>
            <div class="row dataRow">
                <div class="col-lg-12">
                    <label class="_remove_bold"><?php echo $this->translate('Customer Notes') ?></label>
                    <textarea class="form-control jobInput" rows="2" id="customerNote" style="min-height: 123px;"></textarea>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row serviceListRow hidden">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-lg-6 col-xs-6 margin_top">
                    <span id="selectAllSpan" class="hidden"><a id="selectAllJobCard" data-selected="false"><span id="selectAllIcon" class="fa fa-square-o custom_font_size"></span></a>   <?php echo $this->translate('Select all') ?></span>
                </div>
            </div>
            <div class="row" id="serviceList">
                <div class="col-lg-6 hidden" id="leftSideList">
                    <div class="table table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr id="subTskRatesHeader">
                                    <th style="width:5%"></th>
                                    <th style="width:50%"></th>
                                    <th style="width:20%"></th>
                                    <th style="width:25%" class="employeeSelectHeaderLeft hidden text-center">Employees</th>
                                </tr>
                            </thead>
                            <tbody id="viewJobCardServicesLeftSide">
                                <tr id="jobCardServiceLeftViewRow" class="hidden">
                                    <td id="selectService">
                                        <a href="#" >
                                            <span class="fa custom_font_size" id="serviceAddIcon" style="font-size: 20px;"></span>
                                        </a>
                                    </td>
                                    <td class="text-left" id="jobCardLeftServiceNameCode"></td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-primary" id="viewSubTsk">Sub Tasks</button>
                                    </td>
                                    <td class="text-center viewEmployee">
                                        <select class="form-control selectpicker employeeSelectionLeft hidden" name="employeeSelectLeft" data-actions-box="true" multiple="multiple" title="Select Employees" data-selected-text-format="count" data-container="body">
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!--table_responsive-->
                </div><!--./col-->
                <div class="col-lg-6 hidden" id="rightSideList">
                    <div class="table table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr id="subTskRatesHeader">
                                    <th style="width:5%"></th>
                                    <th style="width:50%"></th>
                                    <th style="width:20%"></th>
                                    <th style="width:25%" class="employeeSelectHeaderRight hidden text-center">Employees</th>
                                </tr>
                            </thead>
                            <tbody id="viewJobCardServicesRightSide">
                                <tr id="jobCardServiceRightViewRow" class="hidden">
                                    <td>
                                        <a href="#" id="selectService">
                                            <span class="fa   custom_font_size" id="serviceAddIcon" style="font-size: 20px;"></span>
                                        </a>
                                    </td>
                                    <td class="text-left" id="jobCardRightServiceNameCode"></td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-primary" id="viewSubTsk">Sub Tasks</button>
                                    </td>
                                    <td class="text-center viewEmployee">
                                        <select class="form-control selectpicker employeeSelectionRight hidden" name="employeeSelectRight" data-actions-box="true" multiple="multiple" title="Select Employees" data-selected-text-format="count" data-container="body">
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!--table_responsive-->
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <br>
        <br>
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <div class="addDiv">
                <button class="nextButton" id="servicePrevBtn" style="float: left;">Back</button>
                <button class="nextButton" id="add" style="float: right;">Save Job</button>
            </div>
            <div class="updateDiv hidden">
                <button class="nextButton" id="servicePrevBtn2" style="float: left;">Back</button>
                <button class="nextButton" id="update" style="float: right;">Update Job</button>
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>
<!-- sub task rates view modal -->
<div class="modal fade bs-example-modal-sm" id="viewSubTaskModal" tabindex="-1" role="dialog" aria-labelledby="subTaskViewModalLabel">
    <?php echo $this->SubTaskAddView ?>
</div>
<style type="text/css">
    .titleDiv {
        background-color: #f2f2f2;
        align-items: center;
        border-radius: 25px;
        min-height: 70px;
        vertical-align: middle;
        text-align: inherit;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin:10px;
    }
    .activeDiv {
        background-color: red; /* For browsers that do not support gradients */
        background-image: linear-gradient(to right, #3d51c2 , #82b4fc);
        color: white;
    }
    .inActiveDiv {
        color: grey;
    }
    .dataRow{
        margin: 20px;
    }
    .jobInput {
        border-radius: 10px; 
        -moz-border-radius: 10px; 
        -webkit-border-radius: 10px; 
        border: 1% solid white;
        margin-bottom: 10px;
        /*margin-top: 5px;*/
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 5px 1px 0 rgba(0, 0, 0, 0);
    }
    .nextButton {
        background-image: linear-gradient(#fad672, #f27b33);
        color: white;
        border-radius: 10px; 
        -moz-border-radius: 10px; 
        -webkit-border-radius: 10px;
        min-width: 180px;
        min-height: 35px; 
        font-weight: bold;
        font-size: 17px;
    }

    .autocomplete-items {
      position: absolute;
      /*position the autocomplete items to be the same width as the container:*/
      top: 100%;
      left: 4%;
      right: 4%;
      border: 1px solid #d4d4d4;
      z-index: 99;
      max-height: 150px;
      overflow: auto;
    }

    .autocomplete-items div {
      padding: 10px;
      cursor: pointer;
      background-color: #fff; 
      border-bottom: 1px solid #d4d4d4;
    }

    /*when hovering an item:*/
    .autocomplete-items div:hover {
      background-color: #e9e9e9; 
    }

    .autocomplete-items2 {
      position: absolute;
      /*position the autocomplete items to be the same width as the container:*/
      top: 100%;
      left: 4%;
      right: 4%;
      border: 1px solid #d4d4d4;
      z-index: 99;
      max-height: 150px;
      overflow: auto;
    }

    .autocomplete-items2 div {
      padding: 10px;
      cursor: pointer;
      background-color: #fff; 
      border-bottom: 1px solid #d4d4d4; 
    }

    /*when hovering an item:*/
    .autocomplete-items2 div:hover {
      background-color: #e9e9e9; 
    }

    /*when navigating through the items using the arrow keys:*/
    .autocomplete-active {
      background-color: DodgerBlue !important; 
      color: #ffffff; 
    }

    .select2-container {
        width: 100% !important;
        width: 100% !important;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border: 1% solid white;
        margin-bottom: 10px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 5px 1px 0 rgba(0, 0, 0, 0);
    }

    .select2-selection {
        border: 1px solid #e9d6d6 !important;
        height: 34px !important;
    }

    @media screen and (max-width: 425px) {
      .nextButton {
            background-image: linear-gradient(#fad672, #f27b33);
            color: white;
            border-radius: 10px; 
            -moz-border-radius: 10px; 
            -webkit-border-radius: 10px;
            min-width: 90px;
            min-height: 35px; 
            font-weight: bold;
            font-size: 14px;
      }
    }

    @media screen and (max-width: 768px) {
        /*.jobInput {
            border-radius: 10px; 
            -moz-border-radius: 10px; 
            -webkit-border-radius: 10px; 
            border: 1% solid white;
            margin-bottom: 10px;
            min-height: 50px;
            font-size: large;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 5px 1px 0 rgba(0, 0, 0, 0);
        }

        .select2-container {
            width: 100% !important;
            width: 100% !important;
            border-radius: 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border: 1% solid white;
            margin-bottom: 10px;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 5px 1px 0 rgba(0, 0, 0, 0);
        }

        .select2-selection {
            border: 1px solid #e9d6d6 !important;
            min-height: 50px !important;
            font-size: large;
        }*/
    }
</style>