<div class="project-type-form-container margin_top">
    <input type="text"  class="hidden" id="mode" data-job-id="<?php echo $this->jobId ?>" value="<?php echo $this->mode ?>" >
    <div class="row" style="padding-bottom: 15px; padding-top: 15px;">
        <div class="col-lg-3 col-md-6 col-xs-12 xs-margin-bottom">
            <label class="_remove_bold"><?php echo $this->translate('Select Customer') ?></label>
            <!-- <div class="input-group">
                <select class="form-control selectpicker show-tick"  id="customer" name="customer" data-live-search="true" title="Select Customer">
                    <option value="0"><?php echo $this->translate('Select Customer') ?></option>
                </select>
                <a data-toggle="modal" id="addCustomerBtn" href="#addCustomerModal" class="input-group-addon btn-default" dis><i class="fa fa-plus"></i></a>
            </div> -->
            <input type="text" placeholder="Select Customer" name="customer" id="customer" class="form-control customerData">
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 xs-margin-bottom">
            <label for="departmentCode" class="_remove_bold"><?php echo $this->translate('Mobile Number') ?><span class="_required">*</span></label>
            <input type="text" placeholder="Eg: 0710000000" name="mobileNo" id="mobileNo" class="form-control customerData">
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 xs-margin-bottom">
            <label for="departmentCode" class="_remove_bold"><?php echo $this->translate('Vehicle Registration No') ?><span class="_required">*</span></label>
            <input type="text" placeholder="Eg: AAA-1111" name="vehicleRegNo" id="vehicleRegNo" class="form-control">
        </div>

        <input type="hidden" name="receviableAccountID" id="receviableAccountID" class="form-control" value=<?php echo $this->accountSetupData['customerReceviableAccountID']; ?>>        
        <input type="hidden" name="salesAccountID" id="salesAccountID" class="form-control" value=<?php echo $this->accountSetupData['customerSalesAccountID']; ?>>        
        <input type="hidden" name="advancePaymentAccountID" id="advancePaymentAccountID" class="form-control" value=<?php echo $this->accountSetupData['customerAdvancePaymentAccountID']; ?>>        
        <input type="hidden" name="salesDiscountAccountID" id="salesDiscountAccountID" class="form-control" value=<?php echo $this->accountSetupData['customerSalesDiscountAccountID']; ?>>
        <input type="hidden" name="customerCode" id="customerCode" class="form-control" value=<?php echo $this->accountSetupData['customerCode']; ?>>

        <div class="col-lg-3 col-md-6 col-xs-12 xs-margin-bottom">
            <br>
            <button type="button" class="btn btn-primary hidden" id="continue"><?php echo $this->translate('Continue') ?></button>
        </div>
    </div>
    <div class="row" style="padding-bottom: 15px; padding-top: 15px;">
        <div class="col-lg-3 col-md-6 col-xs-12 xs-margin-bottom">
            <label for="departmentCode" class="_remove_bold"><?php echo $this->translate('Email Address') ?></label>
            <input type="text" placeholder="Eg: abc@cde.com" name="emailAddress" id="emailAddress" class="form-control">
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 xs-margin-bottom">
            <label for="departmentCode" class="_remove_bold"><?php echo $this->translate('Address') ?></label>
            <input type="text" placeholder="Eg: No.43, abc rd, cde" name="address" id="address" class="form-control">
        </div>
        <div class="col-lg-3 col-md-6 col-xs-4 xs-margin-bottom">
            <br>
            <button type="button" class="btn btn-primary hidden" id="continue"><?php echo $this->translate('Continue') ?></button>
        </div>
    </div>
    <hr>
    <div class="row" style="padding-bottom: 15px; padding-top: 15px;">
        <div class="col-lg-3 col-md-6 col-xs-12 xs-margin-bottom">
            <label class="_remove_bold"><?php echo $this->translate('Vehicle Type') ?></label>
            <select class="form-control selectpicker show-tick"  id="vehicleType" name="vehicleType" data-live-search="true" title="Select Vehicle Type">
                <option value="0"><?php echo $this->translate('Select Vehicle Type') ?></option>
            </select>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 xs-margin-bottom">
            <label for="department" class="_remove_bold"><?php echo $this->translate('Vehicle Make') ?></label>
            <select class="form-control selectpicker show-tick" id="vehicleModel" name="vehicleModel" data-live-search="true" title="Select Vehicle Make">
                <option value="0"><?php echo $this->translate('Select Vehicle Make') ?></option>
            </select>
            <select class="form-control selectpicker show-tick" id="typeRelatevehicleModel" name="typeRelatevehicleModel" title="Select Vehicle Make">
                <option value="0"><?php echo $this->translate('Select Vehicle Make') ?></option>
            </select>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 xs-margin-bottom">
            <label for="department" class="_remove_bold"><?php echo $this->translate('Vehicle Model') ?></label>
            <input type="text" placeholder="Ex: Corolla" name="vehicleModal" id="vehicleModal" class="form-control" disabled="true">
            <input type="hidden" id="vehicleModalValue">
        </div>
    </div>
    <div class="row" style="padding-bottom: 35px;">
        <div class="col-lg-3 col-md-6 col-xs-12 xs-margin-bottom">
            <label class="_remove_bold"><?php echo $this->translate('Fuel Type') ?></label>
            <select class="form-control selectpicker show-tick"  id="fuelTypeID" name="fuelTypeID" data-live-search="true" title="Select Fuel Type">
                <option value="0"><?php echo $this->translate('Select Fuel Type') ?></option>
                <?php foreach ($this->fuelTypes as $key => $value) { ?>
                    <option value="<?php echo $key;?>"><?php echo $value ?></option>
                <?php } ?>
            </select>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 xs-margin-bottom">
            <label for="enginNumber" class="_remove_bold"><?php echo $this->translate('Engine Number') ?></label>
            <input type="text" placeholder="Eg: 123-4565-22" disabled="disabled" name="enginNumber" id="enginNo" class="form-control">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 xs-margin-bottom">
            <label for="serviceName" class="_remove_bold"><?php echo $this->translate('Meter Reading') ?></label>
            <div class="input-group">
                <input type="text" placeholder="Eg: 1256" name="serviceCode" disabled="disabled" id="kmCovered" class="form-control">
                <span class="input-group-addon">km</span>
            </div>
        </div>
    </div>
    <hr>
    <br>
    <div>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#createJobTab">Create Job</a></li>
            <li><a data-toggle="tab" href="#serviceHistoryTab">Service History</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-content">
                <br>
                <div id="createJobTab" class="tab-pane fade in active">
                    <div class="row" style="padding-bottom: 15px; padding-top: 15px;">
                        <div class="col-lg-3 col-md-6 col-xs-12 xs-margin-bottom">
                            <label class="_remove_bold"><?php echo $this->translate('Service Employees') ?></label>
                            <select class='form-control selectpicker' multiple data-actions-box="false" data-live-search="false" name="employeeDept" id="employees" title="Select Employees" data-selected-text-format="count>3" data-size="5">
                                <option value="0" disabled="true">Select Employees</option>
                                <?php
                                foreach ($this->employees as $employee):
                                    $employee = (object) $employee;
                                    echo '<option value="' . $employee->employeeID . '">' . $employee->employeeCode.' - '. $employee->employeeFirstName . '</option>';
                                endforeach;
                                ?>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xs-12 xs-margin-bottom">
                            <label class="_remove_bold"><?php echo $this->translate('Job Code') ?></label>
                            <input type="text" name="jobCode" id="jobCode" class="form-control" value="<?php echo $this->jobCode ?>" disabled="disabled">
                        </div>
                        <div class="col-lg-3 col-md-6 col-xs-12 xs-margin-bottom">
                            <label class="_remove_bold"><?php echo $this->translate('Job Supervisor') ?></label>
                            <input type="text" name="jobSupervisor" data-user-id="<?php echo $this->userId ?>" id="jobSupervisor" class="form-control" value="<?php echo $this->supervisorName ?>" disabled="disabled">
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 15px; padding-top: 15px;">
                        <div class="col-lg-3 col-md-6 col-xs-12 xs-margin-bottom">
                            <label class="_remove_bold"><?php echo $this->translate('Add Services By Job Card') ?></label>
                            <select class="form-control selectpicker show-tick"  id="jobCardId" name="jobCrd" data-live-search="true" title="Select Job Card">
                                <option value="0"><?php echo $this->translate('Select Job Card') ?></option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xs-12">
                            <label class="_remove_bold"><?php echo $this->translate('Add Services') ?></label>
                            <select class="form-control selectpicker show-tick"  id="serviceId" name="serviceId" data-live-search="true" title="Select Services">
                                <option value="0"><?php echo $this->translate('Select Services') ?></option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-xs-6 margin_top">
                            <span id="selectAllSpan" class="hidden"><a id="selectAllJobCard" data-selected="false"><span id="selectAllIcon" class="fa fa-square-o custom_font_size"></span></a>   <?php echo $this->translate('Select all') ?></span>
                        </div>
                    </div>
                    <div class="row" id="serviceList">
                        <div class="col-lg-6 col-xs-6" id="leftSideList">
                            <div class="table table-responsive">
                                <table class="table table-condensed">
                                    <thead>
                                        <tr id="subTskRatesHeader">
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="viewJobCardServicesLeftSide">
                                        <tr id="jobCardServiceLeftViewRow" class="hidden">
                                            <td id="selectService">
                                                <a href="#" >
                                                    <span class="fa custom_font_size" id="serviceAddIcon" style="font-size: 20px;"></span>
                                                </a>
                                            </td>
                                            <td class="text-center" id="jobCardLeftServiceNameCode"></td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-primary" id="viewSubTsk">Sub Tasks</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!--table_responsive-->
                        </div><!--./col-->
                        <div class="col-lg-6 col-xs-6" id="rightSideList">
                            <div class="table table-responsive">
                                <table class="table table-condensed">
                                    <thead>
                                        <tr id="subTskRatesHeader">
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="viewJobCardServicesRightSide">
                                        <tr id="jobCardServiceRightViewRow" class="hidden">
                                            <td>
                                                <a href="#" id="selectService">
                                                    <span class="fa   custom_font_size" id="serviceAddIcon" style="font-size: 20px;"></span>
                                                </a>
                                            </td>
                                            <td class="text-center" id="jobCardRightServiceNameCode"></td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-primary" id="viewSubTsk">Sub Tasks</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!--table_responsive-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 col-md-12 col-xs-12 margin_top">
                            <label class="_remove_bold"><?php echo $this->translate('Customer Notes') ?></label>
                            <textarea class="form-control" rows="2" id="customerNote"></textarea>
                        </div>
                    </div>
                </div>
                <div id="serviceHistoryTab" class="tab-pane fade">
                    Service History Details
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row" style="padding-top: 5px; float: right;">
        <div class="col-lg-12 col-md-12 col-xs-12 form-group project-button">
            <div class="addDiv">
                <button type="button" class="btn btn-primary" id="back">Back</button>
                <button type="button" class="btn btn-default" id="reset">Reset</button>
                <button type="button" class="btn btn-success" id="add">Save Job</button>
            </div>
            <div class="updateDiv hidden">
                <button type="button" class="btn btn-primary" id="updateBack">Back</button>
                <button type="button" class="btn btn-default" id="canceljob">Cancel</button>
                <button type="button" class="btn btn-primary" id="update">Update Job</button>
            </div>
        </div>
    </div>
</div><!--project_type_form_container-->

<!-- sub task rates view modal -->
<div class="modal fade bs-example-modal-sm" id="viewSubTaskModal" tabindex="-1" role="dialog" aria-labelledby="subTaskViewModalLabel">
    <?php echo $this->SubTaskAddView ?>
</div>

<div class="modal fade" id="addCustomerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->customerAddView; ?>
</div>

<style type="text/css">
.autocomplete-items {
  position: absolute;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 4%;
  right: 4%;
  border: 1px solid #d4d4d4;
  z-index: 99;
  max-height: 150px;
  overflow: auto;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

.autocomplete-items2 {
  position: absolute;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 4%;
  right: 4%;
  border: 1px solid #d4d4d4;
  z-index: 99;
  max-height: 150px;
  overflow: auto;
}

.autocomplete-items2 div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items2 div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
</style>
