<div class="table-responsive" id="job-list">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="13%"><?php echo $this->translate('Job Code') ?></th>
                <th width="15%"><?php echo $this->translate('Customer Name') ?></th>
                <th width="15%"><?php echo $this->translate('Vehicle No') ?></th>
                <th width="20%"><?php echo $this->translate('Vehicle') ?></th>
                <th width="15%"><?php echo $this->translate('Job Card') ?></th>
                <?php if ($this->actionName == 'closedList') { ?>
                <th width="30%"><?php echo $this->translate('Out Date & Time') ?></th>
                <?php } else { ?>
                <th width="30%"><?php echo $this->translate('In Date & Time') ?></th>
                <?php } ?>
                <th width="10%"><?php echo $this->translate('Status') ?></th>
                <th width="6%" class="text-center" ><?php echo $this->translate('View') ?></th>
                <?php if ($this->actionName != 'closedList' && $this->actionName != 'deletedList') { ?>
                <th width="6%" class="text-center" ><?php echo $this->translate('Edit') ?></th>
                <?php if($this->actionName == 'pendingList' || $this->actionName == 'completedList' || $this->actionName == 'inprogressList'){ ?>
                <th width="8%" class="text-center" ><?php echo $this->translate('Delete') ?></th>
                <?php } ?>
                <?php } ?>
                <?php if($this->actionName == 'completedList' ){ ?>
                <th width="8%" class="text-center" ><?php echo $this->translate('Redo') ?></th>
                <?php } ?>
            </tr>
        </thead>
        <tbody id="jobList">
            <?php
            foreach ($this->jobList as $job) {
                $job = (object) $job;
                $status = $job->jobStatus;
                $state = ucfirst($this->status[$status]);
                $style = NULL;
                switch ($status) {
                    case "3":
                        $style = "label label-success";
                        break;
                    case "8":
                        $style = "label label-primary";
                        break;
                    case "9":
                        $style = "label label-info";
                        break;
                    case "4":
                        $style = "label label-danger";
                        break;
                    case "20":
                        $style = "label label-invoiced";
                        break;
                    case "21":
                        $style = "label label-sucess";
                        break;
                    default :
                        $style = "label label-default";
                }

                ?>
                <tr data-jobid="<?php echo $job->jobId; ?>" data-job-supervisor = "<?php echo $job->userFirstName ?>">
                    <td class="jcode"><?php echo $job->jobReferenceNumber ?></td>
                    <td class="customerName"><?php echo $job->customerName ?></td>
                    <td class="regNo"><?php echo $job->serviceVehicleRegNo ?></td>
                    <td class="vehicle"><?php echo $job->vehicleTypeName.'-'.$job->vehicleModelName ?></td>
                    <td class="jobCardName"><?php echo $job->taskCardName ?></td>
                    <?php if ($this->actionName == 'closedList') { ?>
                    <td class="jobInTime"><?php

                        if (!is_null($job->jobClosedDate)) {
                            $from = new \DateTimeZone('GMT');
                            $to = new \DateTimeZone($this->timeZone);
                            $orgTime = new \DateTime($job->jobClosedDate, $from);
                            $toTime = new \DateTime($orgTime->format("c"));
                            $toTime->setTimezone($to);
                            echo $toTime->format('Y-m-d H:i:s');
                        } else {
                            echo '--';
                        }
                    ?></td>
                    <?php } else { ?>
                    <td class="jobInTime"><?php
                        $from = new \DateTimeZone('GMT');
                        $to = new \DateTimeZone($this->timeZone);
                        $orgTime = new \DateTime($job->createdTimeStamp, $from);
                        $toTime = new \DateTime($orgTime->format("c"));
                        $toTime->setTimezone($to);
                        echo $toTime->format('Y-m-d H:i:s');
                    ?></td>
                    <?php } ?>
                    <td class="jState"><span class="<?php echo $style; ?>"> <?php echo $state; ?></span></td>
                    <td width="10%" class="text-center">
                        <a href="#" class="serviceView">
                            <span class="glyphicon fa fa-bars openlist custom_font_size"></span>
                        </a>
                    </td>
                    <td width="20%" class="text-center">
                    <?php if($job->deleted == 0 && $status != 4) { ?>
                                <a class="edits" href="<?php echo $this->url('serviceJobs', array('action' => 'create', 'param1' => $job->jobId));?>" id="<?php echo $job->jobId ?>">
                                    <span class="fa fa-pencil-square-o custom_font_size"></span>
                                </a>
                        <?php } ?>
                    </td>
                    <?php if($this->actionName == 'pendingList' || $this->actionName == 'completedList' || $this->actionName == 'inprogressList'){ ?>
                    <td width="20%" class="text-center" >
                        <?php if($status != 20) { ?>
                            <a href="#" class="delete-job">
                                <i class="fa fa-trash-o custom_font_size"></i>
                            </a>
                        <?php } ?>
                    </td>
                    <?php } ?>
                    <td class="text-center">
                        <?php if($status != 3 && $status != 8 && $status != 18 && $status != 4 && $status != 5){ ?>
                            <a class="restart_view" href="#"><i class="glyphicon glyphicon-repeat"></i></a>
                        <?php } ?>
                    </td>
                    
                    
                </tr>
                <?php
                
            }
            if (count($this->jobList) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>

        </tbody>
    </table>
</div>
<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->jobList, 'sliding', array('partial/paginator.phtml', 'jobList'), array(
        'route' => 'serviceJobs', 'action' => $this->actionName
            )
    );
}
?>
