<br>
<div class="row">
    <div class="col-lg-2 col-xs-3" style="padding: 0px;">
        <a class="btn btn-primary" href="<?php echo $this->url('serviceJobs', array('action' => 'create'));?>" style="height: 38px; width: 95%; font-size: 18px">
            <i class="glyphicon glyphicon-plus"></i> &nbsp <span><?php echo $this->translate('New Job') ?></span>
        </a>
    </div>
    <div class="col-lg-10 col-xs-9 text-center" style="background-color: #428bca; color: white;">
        <span>
        <h4><?php 
            switch ($this->jbStatus) {
                case "3":
                    echo $this->translate('PENDING JOB LIST');
                    break;
                case "8":
                    echo $this->translate('IN PROGRESS JOB LIST');
                    break;
                case "9":
                    echo $this->translate('COMPLETED JOB LIST');
                    break;
                case "4":
                    echo $this->translate('CLOSED JOB LIST');
                    break;
                case "5":
                    echo $this->translate('DELETED JOB LIST');
                    break;
                default :
                    echo $this->translate('JOB LIST');
            }
        ?></h4></span>
    </div>
</div>
<div id="job-list-view">
    <input type="text"  class="hidden" id="jbStatus" value="<?php echo $this->jbStatus ?>" >
    <div class="well well_heading margin_top">
        <h5 class="font_weight add"><?php echo $this->translate('Search a Project') ?></h5>
    </div>
    <div class="well clearfix well_body">
        <div class="row">
            <div class="col-lg-12 xs-search-field">
                <div class=" input-group">
                   <input type="text" class="search form-control" id ='job-search-keyword' placeholder="<?php echo $this->translate('Search by customer name, phon number or vehicle number') ?>"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default search_btn_css" id="searchJob"><?php echo $this->translate('Search') ?></button>
                        <button class="btn btn-default" id="resetJob"><?php echo $this->translate('Cancel') ?></button>
                    </span>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="search_field col-lg-3 col-md-3 col-xs-3">
                <select class="form-control selectpicker show-tick" id="jobCard" name="jobCard" data-live-search="true">
                    <option value=""><?php echo $this->translate('Filter by job card') ?></option>
                </select>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-3">
                <select class="form-control selectpicker show-tick" id="serviceType" name="serviceType" data-live-search="true">
                    <option value=""><?php echo $this->translate('Filter by service type') ?></option>
                </select>     
            </div>
            <div class="col-lg-3 col-md-3 col-xs-3">
                <input type="text" name="serviceStartingDate" id="serviceStartingDate" class="form-control" placeholder="From" readonly="true" data-date-format = <?php echo $this->userDateFormat ?>>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-3">
                <input type="text" name="serviceEndingDate" id="serviceEndingDate" class="form-control" placeholder="To" readonly="true" data-date-format = <?php echo $this->userDateFormat ?>>      
            </div>
        </div>
    </div>

    <div id="search-job-list">
        <?php
        echo $this->partial('jobs/service-jobs/list-table', array('jobList' => $this->jobList,
            'paginated' => $this->paginated, 'status' => $this->status, 'maintainProject' => $maintainProject, 'actionName'=> $this->actionName, 'timeZone'=> $this->timeZone));
        ?>
    </div>

    <div class="modal fade" id="serviceListModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog _custom_large_modal" id="serviceModalInner">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row text-right">
                        <div class="col-lg-6 col-md-6 col-xs-6 text-left">
                            <h4><?php echo $this->translate('Job Services') ?></h4>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-6 text-right">
                            <label><?php echo $this->translate('Job Supervisor') ?> : </label>
                            <span id="jobSupervisorName"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-body" id="addServiceRateBody">
                    <div id="service-list" class="margin_top">
                        <?php echo $this->partial('jobs/service-jobs/view-services-modal', array('serviceList' => $this->serviceList)); ?>
                    </div>
                </div>
                <br>
                <div class="modal-footer modal-footer-style">
                    <div class="row" id="viewServiceRates">
                        <div class="col-lg-6 col-md-6 col-xs-6 text-left">
                            <button type="button" class="btn btn-success hidden" id="btnRestart"><?php echo $this->translate('Restart') ?></button>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-6">
                            <button type="button" class="btn btn-default" id="btnViewServiceClose"><?php echo $this->translate('Close') ?></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <?php echo $this->AddEmployeeView; ?>
    </div>
    <footer>
        <div class="text-right">
            <a class="btn btn-default" href="<?php echo $this->url('serviceJobDashboard', array('action' => 'list'));?>"><?php echo $this->translate('Back') ?></a>
        </div>
    </footer>

    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- dialog body -->
                <div class="modal-header">
                  <h4 class="modal-title">Job Cancel Confirmation</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <span>Are you sure you want to cancel this job, And please select what kind of job cancellation do you want?</span><br> <br>
                    <!-- <input type="checkbox" name="allowDeliveryReturn" id="allowDeliveryReturn" value="true"> <?php echo $this->translate('Cancel with returning service materials') ?><br> -->
                </div>
                <!-- dialog buttons -->
                <div class="modal-footer">
                  <button type="button" id = "normal-job-cancel" class="btn btn-danger">Only cancel Job</button>
                  <button type="button" id = "job-cancel-with-item-return" class="btn btn-warning">Cancel Job With Returning Service Material</button>
                  <button type="button" id = "back-to-dashboard" class="btn btn-default">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>
