<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
            <h4><?php echo $this->translate('Sub Tasks') ?></h4>
        </div>

        <div class="modal-body" id="subTaskBody">
            <div class="col-lg-12 margin_top" id="subTaskViewTable">
                <div class="table table-responsive modaltable">
                    <table class="table table-striped margin_top_normal table-condensed">
                        <thead>
                            <tr id="subTskHeader">
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>                        

                        <tbody id="viewServiceSubTask">
                            <tr id="subTskRow" class="hidden">
                                <td class="text-left">
                                    <a href="#" class="selectSubTask">
                                        <span class="fa custom_font_size subTskAddIcon"  style="font-size: 20px;"></span>
                                    </a>
                                </td>
                                <td class="text-left" id="addedSubTskCode"></td>
                            </tr>
                        </tbody>
                    </table>
                </div><!--table_responsive-->
            </div><!--./col-->
        </div>
        
        <div class="modal-footer modal-footer-style">
            <div class="col-lg-12" style="margin-top: 20px;">
                <div class="text-right">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
                </div>
            </div>
        </div>
    </div>
</div>































