<div class="table table-responsive modaltable">
    <table class="table table-striped margin_top_normal table-condensed" id="jobServiceTable">
        <thead>
            <tr id="viewServiceHeader">
                <th><?php echo $this->translate("Services"); ?></th>
                <th></th>
                <th class="text-center"><?php echo $this->translate("Started At"); ?></th>
                <th class="text-center"><?php echo $this->translate("Ended At"); ?></th>
                <th class="text-center"><?php echo $this->translate("Station"); ?></th>
                <th class="text-center"><?php echo $this->translate("Employee"); ?></th>
            </tr>
            <tr id="serviceRestartHeader" class="hidden">
                <th><?php echo $this->translate("Services"); ?></th>
                <th class="text-center"><?php echo $this->translate("Employee"); ?></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="viewServiceBody">
            <?php 
                foreach ($this->serviceList as $key => $service) {
                    $service = (object) $service;

                    $status = $service->jobTaskStatus;
                    $state = ucfirst($this->status[$status]);

                    $style = NULL;
                    switch ($status) {
                        case "3":
                            $style = "label label-success";
                            $state = 'Pending';
                            break;
                        case "8":
                            $style = "label label-primary";
                            break;
                        case "9":
                            $style = "label label-info";
                            break;
                        case "4":
                            $style = "label label-danger";
                            break;
                        default :
                            $style = "label label-default";
                    }
            ?>
            <tr class="job-dashboard-list-row" data-job-task-id="<?php echo $service->jobTaskID ?>">
                <td id="serviceName"><?php echo $service->taskName; ?></td>
                <td>
                    <span class="<?php echo $style; ?>"> <?php echo $state; ?></span>
                </td>
                <td id="serviceStartDate" class="text-center"><?php echo ($service->startedAt) ? $service->startedAt : '--' ?></td>
                <td id="serviceEndDate" class="text-center"><?php echo ($service->endedAt) ? $service->endedAt: '--' ?></td>
                <td class="text-center">
                     <?php echo ($service->departmentStationName) ? $service->departmentStationName : '--' ?>
                </td>
                <td class="text-center">
                    <a href="#" class="glyphicon glyphicon-user custom_font_size employee-view employee-action" data-toggle="modal"></a>
                </td>
            </tr>
            <?php 
                }
            ?>
        </tbody>
        <tbody id="serviceRestartBody" class="hidden">
            <?php 
                foreach ($this->serviceList as $key => $service) {
                    $service = (object) $service;
                    $status = $service->jobTaskStatus;
            ?>
            <tr class="job-dashboard-list-row" id="<?php echo $service->jobTaskID ?>">
                <td id="serviceName"><?php echo $service->taskName; ?></td>
                <td class="text-center">
                    <a href="#" class="glyphicon glyphicon-user custom_font_size employee-view employee-action" data-toggle="modal"></a>
                </td>

                <td class="text-center select-restart-service">
                    <a href="#" data-action="status">
                        <span class="fa fa-square-o  custom_font_size" style="font-size: 20px;" id="icon"></span>
                    </a>
                </td>
            </tr>
            <?php 
                }
            ?>
        </tbody>
    </table>
</div>