<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4><?php echo $this->translate('Job Service Employees') ?></h4>
        </div>

        <div class="modal-body">
            <div class="col-lg-12 margin_top" id="serviceViewTable">
                <div class="table table-responsive modaltable">
                    <table class="table table-striped margin_top_normal table-condensed">
                        <thead>
                            <tr>
                                <th class=""><?php echo $this->translate("Employee Code"); ?></th>
                                <th class=""><?php echo $this->translate("Employee Name"); ?></th>
                            </tr>
                        </thead>                        

                        <tbody id="viewNewServiceRow">
                            <tr id='jobEmpRow' class="hidden">
                                <td id="EmpCode"></td>
                                <td id="EmpName"></td>
                            </tr>
                        </tbody>
                    </table>
                </div><!--table_responsive-->
            </div><!--./col-->
        </div>

        <div class="modal-footer modal-footer-style">
            <div class="col-lg-12">
                <div class="text-right">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnViewServicesClose"><?php echo $this->translate('Close') ?></button>
                </div>
            </div>
        </div>
    </div>
</div>
