<div class="col-lg-12 widget w4" id="block_cashinflw">
    <h2>
        <?php echo $this->translate('Cash Inflow'); ?>
        <a href="year" class="cashInFlowGraph"><?php echo $this->translate('Yearly') ?></a>
        <a href="month" class="cashInFlowGraph"><?php echo $this->translate('Monthly') ?></a>
        <a href="day" class="selected cashInFlowGraph"><?php echo $this->translate('Daily') ?></a>
    </h2>
    <div id="cashinflow" class="graph" style="height: 345px;"></div>
</div>