<div class="col-lg-12 widget w7" id="block_cashoutflwgraph">
    <h2>
        <?php echo $this->translate('Cash Outflow'); ?>
        <a href="year" class="cashOutFlowGraph"><?php echo $this->translate('Yearly') ?></a>
        <a href="month" class="cashOutFlowGraph"><?php echo $this->translate('Monthly') ?></a>
        <a href="day" class="selected cashOutFlowGraph"><?php echo $this->translate('Daily') ?></a>
    </h2>
    <div id="cashoutflowgraph" class="graph" style="height: 345px;"></div>
</div>