<div class="col-lg-12 widget w2" id="block_cashoutflw">
    <h2>
        <?php echo $this->translate('Cash Outflow') . ' ' ?><span id="currencyCashflw"></span>
        <a href="#" class="selected" ><?php echo $this->translate('Outflow') ?></a>
    </h2>
    <ul class="revenue clearfix">
        <li class="d d2 selected">
            <strong><span id="dayCashOutFlow"></span></strong> <em><?php echo $this->translate('today'); ?></em> <span></span>
        </li>
        <li class="m m2">
            <strong><span id="monthCashOutFlow"></span></strong> <em><?php echo $this->translate('this month'); ?></em> <span></span>
        </li>
        <li class="y y2">
            <strong><span id="yearCashOutFlow"></span></strong> <em><?php echo $this->translate('this year'); ?></em> <span></span>
        </li>
    </ul>
    <div class="footer clearfix green">
        <p><?php echo $this->translate('Based on payments'); ?></p>
    </div>
</div>