<div class="modal-dialog">
    <div class="modal-content" style="">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate('Widget Close Confirmation') ?></h4>
        </div>
        <div class="modal-body">
            <?php echo $this->translate('Are You Sure You Want to Close this Widget?') ?>
        </div>
        <div class="modal-footer">
            <button id="delete-widget-button" class="btn btn-primary"><?php echo $this->translate('Close Widget') ?></button>
            <button id="cancel-widget-button" type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Cancel') ?></button>
        </div>
    </div>
</div>