<div class="col-lg-12 widget w3" id="block_ovrdueinvoices">
    <h2>
        <?php echo $this->translate('Overdue Invoices'); ?>
        <a href="40-60" class="overDueInvoicesGraph">40-60</a>
        <a href="20-40" class="overDueInvoicesGraph">20-40</a>
        <a href="1-20" class="selected overDueInvoicesGraph">1-20</a>
    </h2>
    <div id="overDueInvoices" class="graph" style="height: 345px;"></div>
</div>