<div class="col-lg-6" id="block_pmntsmry">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title" style="color: #666;"><i class="glyphicon glyphicon-file" style="margin-right: 10px;"></i>
                <?php echo $this->translate('Payments Summary : Yesterday') ?>
                <span class="glyphicon glyphicon-remove pull-right"></span>
            </h2>
        </div>
        <div id="colorPanelThree" align="center">
            <span class="lbl lbl-cash"></span>&nbsp; Cash &nbsp;
            <span class="lbl lbl-cheque"></span>&nbsp; Cheque &nbsp;
            <span class="lbl lbl-credit"></span>&nbsp; Credit Card &nbsp;
        </div>
        <div class="panel-body">
            <div id="text"></div>
            <div id="piechart" style="height: 350px;"></div>
            <div id="PlaceholderMessage"></div>
        </div>
    </div>
</div>