<div class="col-lg-12 widget" id="block_revenue">
    <h2>
        <?php echo $this->translate('Revenue'); ?>
        <a href="year" class="revenueGraph"><?php echo $this->translate('Yearly') ?></a>
        <a href="month" class="revenueGraph"><?php echo $this->translate('Monthly') ?></a>
        <a href="day" class="selected revenueGraph"><?php echo $this->translate('Daily') ?></a>
    </h2>
    <div id="revenue" class="graph" style="height: 345px;"></div>
</div>