<?php
if ($refNotSet) {
    ?>
    <script>
        $(function() {
            $('#refNotSet').modal('show');
        });
    </script>
    <?php
}
?>

<div class="margin_top">

    <div class="well clearfix well_custom_padding margin_top invoice_search">
        <div class="col-lg-3">
            <label for="invoice_no" class="remove_weight"><?php echo $this->translate("Start Dispatch Note By") ?></label>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
            <select id="get-so-select" class="form-control col-lg-4">
                <option value="Invoice No">
                    <?php echo $this->translate('Invoice No') ?>
                </option>
            </select>
        </div>
        <div class="col-lg-6 col-md-8 col-sm-7 col-xs-12">
            <select class="form-control selectpicker show-tick" id="invoiceNo" name="invoiceNo" data-live-search="true">
                <option value=""><?php echo $this->translate('Select Invoice No') ?></option>
            </select>
        </div>
    </div>

    <?php echo $this->form()->openTag($form); ?>

    <!--data_insert_section-->
    <div class="row">
        <div class="margin_top_normal">
            <div class="col-lg-5 col-md-5 col-sm-5">
                <div class="form-group">
                    <label for="customer" class="col-lg-5 control-label">
                        <?php echo $this->translate("Customer"); ?>
                        <font style="color: red">*</font>
                    </label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($form->get('customer')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="location" class="col-lg-5 control-label">
                        <?php echo $this->translate("Invoice Location"); ?>
                        <font style="color: red">*</font>
                    </label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($form->get('location')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="dispatchNoteAddress" class="col-lg-5 control-label">
                        <?php echo $this->translate('Address'); ?>
                        <font style="color: red">*</font>
                    </label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($form->get('dispatchNoteAddress')); ?>
                    </div>
                </div>

            </div><!--./col-->
        </div><!--margin_top-->

        <div class="col-lg-5 col-md-5 col-sm-5 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
            <div class="form-group">
                <label for="date" class="col-lg-5 control-label">
                    <?php echo $this->translate("Dispatch Date"); ?>
                    <font style="color: red">*</font>
                </label>
                <div class="col-lg-7">
                    <input type="text" class="datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="dispatchNoteDate" data-date-format="<?php echo $this->userdateFormat; ?>" placeholder="<?php echo $this->userdateFormat; ?>">
                </div>
            </div>
            <div class="form-group">
                <label for="dispatchNoteCode" class="col-lg-5 control-label">
                    <?php echo $this->translate('Dispatch Note Code'); ?>
                    <font style="color: red">*</font>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($form->get('dispatchNoteCode')); ?>
                </div>
            </div>
            <div class="form-group">
                <label for="salesPersonId" class="col-lg-5 control-label">
                    <?php echo $this->translate('Sales Person'); ?>
                </label>
                <div class="col-lg-7">
                    <?php echo $this->formRow($form->get('salesPersonId')); ?>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div id="productTable" class=" table">
            <div id="productAddOverlay" class=""></div>

            <table class="dispatchNoteProductTable table  table-striped margin_top_normal table-condensed" id="dispatchNoteProductTable">
                <thead>
                    <tr>
                        <th style="width: 45%"><?php echo $this->translate("Item Code or Name"); ?></th>
                        <th style="width: 20%"><?php echo $this->translate('Remaining Invoice Qty'); ?></th>
                        <th style="width: 20%"><?php echo $this->translate("Dispatch Qty"); ?></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <!--item_insert_row-->
                <tbody id="add-new-item-row">
                    <tr class="add-row sample hidden">
                        <td class="">
                            <p class="visible-xs"><?php echo $this->translate('Item Code or Name') ?></p>
                            <div class="">
                                <?php echo $this->formRow($form->get('itemCode')); ?>
                            </div>
                        </td>
                        <td class="">
                            <p class="visible-xs"><?php echo $this->translate('Invoice Qty') ?></p>
                            <div class="">
                                <?php // echo $this->formRow($form->get('invoiceQuantity')); ?>
                                <div class="input-group">
                                    <input type="text" name="invoiceQuantity" class="form-control text-right reduce_le_ri_padding invoiceQuantity" id="invoiceQuantity" disabled="disabled" autocomplete="off" value="">
                                    <span class="input-group-addon uom"><b></b></span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="visible-xs"><?php echo $this->translate('Dispatch Qty') ?></p>
                            <div class="">
                                <?php // echo $this->formRow($form->get('dispatchQuanity')); ?>
                                <div class="input-group">
                                    <input type="text" name="dispatchQuanity" class="form-control text-right reduce_le_ri_padding dispatchQuanity" id="dispatchQuanity" autocomplete="off" value="">
                                    <span class="input-group-addon uom"><b></b></span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <button type='button' class="sub-pro edit-modal btn btn-default" title="Select Batch / Serial Products">
                                <i class="fa fa-sitemap"></i>
                            </button>
                        </td>
                        <td>
                            <button  type='button' class="add btn btn-default">
                                <i class="fa fa-plus"></i>
                            </button>
                            <button  type='button' class="edit btn btn-default hidden">
                                <i class="fa fa-pencil-square-o"></i>
                            </button>
                            <button  type='button' class="save btn btn-default hidden">
                                <i class="fa fa-floppy-o"></i>
                            </button>
                        </td>
                        <td>
                            <button  type='button' class="delete disabled btn btn-default">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>

                <tbody class="dn_table_footer">
                    <tr>
                        <td colspan="11">&nbsp;</td>
                    </tr>
                </tbody>

            </table>

        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <label for="cmnt" class="">
                    <?php echo $this->translate("Comment"); ?>
                </label>
                <?php echo $this->formRow($form->get('dispatchNoteComment')); ?>
            </div>

            <div class="col-lg-4 col-sm-4">
                <div class="btn_margin_top ">
                    <?php echo $this->formRow($form->get('dispatchNoteCancelButton')); ?>
                    <?php echo $this->formRow($form->get('dispatchNoteSaveButton')); ?>
                </div>
            </div>
        </div>

    </div>

    <?php echo $this->form()->closeTag(); ?>

</div>

<div class="modal fade" id="addDispatchNoteProductsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog large grn_modal">
        <div class="modal-content">
            <form id="product-batch-modal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><?php echo $this->translate('&times;') ?></button>
                    <h4 class="modal-title"><?php echo $this->translate('Select Batch / Serial Items') ?></h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" class="re_row">
                    <div class="table-responsive">
                        <table class="table batch-table table-striped margin_top_normal table-condensed">
                            <thead>
                                <tr>
                                    <th style="width: 20%" class="text-left"><?php echo $this->translate('Batch Code') ?></th>
                                    <th style="width: 20%" class="text-left"><?php echo $this->translate('Serial Code') ?></th>
                                    <th style="width: 20%" class="text-left"><?php echo $this->translate('Available Qty') ?></th>
                                    <th style="width: 20%" class="text-center"><?php echo $this->translate('Dispatch Qty') ?></th>
                                    <th style="width: 20%" class="text-center"><?php echo $this->translate('Warranty(Days)') ?></th>
                                </tr>
                            </thead>
                            <tbody id="batch_data">
                                <tr id="defaultRow" class="batch_row hidden">
                                    <td class="batchCode"></td>
                                    <td class="serialId"></td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" readonly="true" name="availableQuantity" class="form-control availableQuantity text-right">
                                            <span class="input-group-addon aq-uom"</span>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="input-group">
                                            <input type="text" name="dispatchQuantity" class="form-control dispatchQuantity text-right">
                                            <span class="input-group-addon dq-uom"></span>
                                        </div>
                                        <input type="checkbox" name="dispatchQuantityCheck" class="dispatchQuantityCheck" value="1">
                                    </td>
                                    <td>
                                        <input type="text" id="warranty"  name="warranty" class="form-control warranty text-right">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-right">
                    <input type="button" value="<?php echo $this->translate('Save') ?>" id="batch-save" class="btn btn-primary" disabled="true">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
                </div>
            </form>
        </div> <!-- /.modal-content -->
    </div> <!--/.modal-dialog -->
</div>

<div class="modal fade" id="refNotSet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $refNotSet; ?>
</div>