<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th width="25%"><?php echo $this->translate('Dispatch Note Code'); ?></th>
                <th width="40%"><?php echo $this->translate('Customer Name'); ?></th>
                <th width="20%"><?php echo $this->translate('Dispatched Date'); ?></th>
                <th width="10%" class="text-center"><?php echo $this->translate('Print View'); ?></th>
                <th width="5%" class="text-center"><?php echo $this->translate('Delete'); ?></th>
            </tr>
        </thead>

        <tbody>
            <?php
            if (count($this->dispatchNotes) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="5"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            } else {
                foreach ($this->dispatchNotes as $dispatchNote) {
                    ?>
                    <tr data-dispatch-note-id="<?php echo $dispatchNote['dispatchNoteId']; ?>" data-dispatch-note-code="<?php echo $dispatchNote['dispatchNoteCode']; ?>">
                        <td><?php echo $dispatchNote['dispatchNoteCode']; ?></td>
                        <td><?php echo $dispatchNote['customerName']; ?></td>
                        <td><?php echo $dispatchNote['dispatchNoteDate']; ?></td>
                        <td class="text-center">
                            <span class="preview link_color" style="cursor:pointer" data-href="<?php echo $this->url('dispatch-note', array('action' => 'document-preview', 'param1' => $dispatchNote['dispatchNoteId'])); ?>">
                                <span  id="<?php echo $dispatchNote['dispatchNoteId']; ?>" class="glyphicon glyphicon-eye-open openlist"></span>
                            </span>
                        </td>
                        <td class="text-center">
                            <?php if($dispatchNote['customerStatus'] == 1){ ?>
                            <a href="#" class="fa fa-trash-o custom_font_size dispatch-note-action" data-toggle="modal" data-action="delete"></a>
                            <?php } else { ?>
                                <a href="#" class="fa fa-trash-o custom_font_size dispatch-note-action editsInactive"></a>
                                <?php } ?>
                        </td>
                    </tr>
                    <?php
                }
            }
            ?>
        </tbody>
    </table>
</div>

<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $dispatchNotes, 'sliding', array('partial/paginator.phtml', 'dispatch-note'), array('route' => 'dispatch-note', 'action' => 'view')
    );
}
?>