<?php $this->headScript()->appendFile($this->basePath('js/invoice/viewDispatchNote.js')); ?>

<div class='well clearfix well_custom_padding margin_top xs_view'><!--get_invoice-->

    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <label class="remove_weight margin_bottom_normal_low"><?php echo $this->translate('Search Dispatch Note') ?></label>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
        <select id="search-select" class=" form-control">
            <option value="dispatch-note-code"><?php echo $this->translate('Dispatch Note Code') ?></option>
            <option value="customer-name"><?php echo $this->translate('Customer Name') ?></option>
        </select>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-3">
        <select class="form-control selectpicker show-tick" id="dis-note-code-search" name="dis-note-code-search" data-live-search="true">
            <option value=""><?php echo $this->translate('Select Dispatch Note Code') ?></option>
        </select>
        <select class="form-control selectpicker show-tick" id="cust-search" name="cust-search" data-live-search="true">
            <option value=""><?php echo $this->translate('Select Customer Name') ?></option>
        </select>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2">
        <input type="text" style="background-color: white" readonly="true" class="span2 datepicker form-control pointer_cursor" id="from-date" data-date-format="<?php echo $this->userdateFormat ?>" placeholder="<?php echo $this->userdateFormat ?>">
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2">
        <input type="text" style="background-color: white" readonly="true" class="span2 datepicker form-control pointer_cursor" id="to-date" data-date-format="<?php echo $this->userdateFormat ?>" placeholder="<?php echo $this->userdateFormat ?>">
    </div>

    <div class="col-lg-1 col-md-3 col-sm-1">
        <button class="btn btn-primary" id="search-btn"><?php echo $this->translate('GO') ?></button>
    </div>
</div><!--well-->


<div id="dispatch-note-list" class="margin_top">
    <?php echo $this->partial('invoice/dispatch-note/dispatch-note-list', array('dispatchNotes' => $this->dispatchNotes, 'paginated' => $this->paginated)); ?>
</div>

<!-- Dispatch Note Delete Modal -->
<div class="modal fade bs-example-modal-sm" id="dispatchNoteDeleteModal" tabindex="-1" role="dialog" aria-labelledby="dispatchNoteDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="dispatchNoteDeleteModalLabel"><?php echo $this->translate('Delete Dispatch Note') ?></h4>
            </div>
            <div class="modal-body dispatchNoteDeleteModalBody"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
                <button type="button" class="btn btn-danger" id="btnDelete"><?php echo $this->translate('Delete') ?></button>
            </div>
        </div>
    </div>
</div>