<?php
$prform = $this->prForm;
$locationName = $this->locationName;
$locationID = $this->locationID;
$locationCode = $this->locationCode;
$companyCurrencySymbol = $this->companyCurrencySymbol;
$prform->prepare();
?>
<?php
if ($refNotSet) {
    ?>
    <script>
        $(function () {
            $('#refNotSet').modal('show');
        });
    </script>
    <?php
}
?>

<div class="margin_top">

    <div class="well clearfix well_custom_padding margin_top">
        <div class="col-lg-2">
            <label class="remove_weight"><?php echo $this->translate('Start PR by GRN') ?></label>
        </div>
        <div class="col-lg-10">
            <div class="input-group">
                <select class="form-control selectpicker show-tick" id="startByCode" name="startByCode" data-live-search="true">
                    <option value=""><?php echo $this->translate('Select GRN No') ?></option>
                </select>
                <span class="input-group-btn">
                    <a id="refreshStartBy" class="btn btn-default">
                        <?php echo $this->translate('Clear') ?>
                    </a>
                </span>
            </div>
            <br>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <label for='direct_cd_note'><?php echo $this->translate('Direct Return Note')?></label>
            </div>
            <div class="col-lg-4">
                <input type="checkBox" id="directReturn">
            </div>
        </div>
    </div>

    <?php echo $this->form()->openTag($prform); ?>

    <!--data_insert_section-->
    <div class="row">
        <div class="margin_top_normal">
            <div class="col-lg-5 col-md-5 col-sm-5">

                <div class="form-group">
                    <label for="supplier" class="col-lg-5 control-label">
                        <?php echo $this->translate("Supplier"); ?>
                        <font style="color: red">*</font>
                    </label>
                    <div class="col-lg-7 normalSupplier">
                        <?php echo $this->formRow($prform->get('supplier')); ?>
                    </div>
                    <div class="col-lg-7 directSupplier hidden" id="drcSup">
                        <select class="form-control selectpicker show-tick" id="directSupplier" name="directSupplier" data-live-search="true">
                            <option value=""><?php echo $this->translate('Select Supplier') ?></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="qot_no" class="col-lg-5 control-label">
                        <?php echo $this->translate("Retrieve Location"); ?>
                    </label>
                    <div class="col-lg-7 normal-location">
                        <?php echo $this->formRow($prform->get('retrieveLocation')); ?>
                    </div>
                    <div class="col-lg-7 direct-location hidden">
                        <?php
                        if ($locationName != NULL && $locationID != NULL) {
                            $prform->get('retrieveLocation')->setValue($locationCode . ' - ' . $locationName)->setAttribute('disabled', true);
                            ?>
                            <input type="hidden" id="idOfLocation" value="<?php echo $locationID ?>">
                        <?php }
                        ?>
                        <?php echo $this->formRow($prform->get('retrieveLocation')); ?>
                    </div>
                </div>

                <div class="form-group supplierReference">
                    <label for="date" class="col-lg-5 control-label">
                        <?php echo $this->translate("Supplier Reference"); ?>
                    </label>
                    <div class="col-lg-7">
                        <?php echo $this->formRow($prform->get('supplierReference')); ?>
                    </div>
                </div>

                <div class="form-group hidden" id="dimension_div">
                    <label for="dimensionType" class="col-lg-5 control-label">
                        <?php echo $this->translate('Dimension'); ?>
                    </label>
                    <div class="col-lg-7">
                        <a data-toggle="modal" id="dimensionView" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></a>
                    </div>
                </div>

            </div><!--./col-->
        </div><!--margin_top-->


        <div class="col-lg-5 col-md-5 col-sm-5 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
            <div class="form-group grnDate">
                <label for="date" class="col-lg-5 control-label">
                    <?php echo $this->translate("GRN Date"); ?>
                </label>
                <div class="col-lg-7">
                    <input type="text" disabled="true" class="datepicker form-control" id="receivedDate" data-date-format="<?php echo $this->dateFormat ?>">
                </div>
            </div>

            <div class="form-group">
                <label for="date" class="col-lg-5 control-label">
                    <?php echo $this->translate("Return  Date"); ?>
                    <font style="color: red">*</font>
                </label>
                <div class="col-lg-7">
                    <input type="text" class="datepicker form-control pointer_cursor"   id="returnDate" data-date-format="<?php echo $this->dateFormat ?>" placeholder="<?php echo $this->dateFormat ?>">
                </div>
            </div>

            <div class="form-group">
                <label for="payment_term" class="col-lg-5 control-label">
                    <?php echo $this->translate('PR No'); ?>
                    <font style="color: red">*</font>
                </label>
                <div class="col-lg-7">
                    <input type="text" disabled="true" class="form-control" id="prNo">
                    <input type="hidden" id="locRefID">
                </div>
            </div>
            <div class="form-group">
                <label for="dimensionType" class="col-lg-5 control-label">
                    <?php echo $this->translate('Select Documents'); ?>
                </label>
                <div class="col-lg-7 createPoDiv">
                    <input type="file" name="files[]" id="documentFiles" multiple>
                </div>
                <div class="col-lg-4 updatePoDiv hidden">
                    <input type="file" name="files[]" id="editDocumentFiles" multiple class="btn btn-default fromControl" style="border-color: white">
                </div>
                <div class="col-lg-3 text-right updatePoDiv_view hidden">
                    <button class="btn btn-default fromControl" type="button" id='viewUploadedFiles'><i class="glyphicon glyphicon-eye-open"></i></button>
                </div>
            </div>
        </div><!--./col-->
    </div><!--margin_top-->
</div><!--row-->

<!--table-->
<div class="col-lg-12 normal-return">
    <div class="table table-responsive">
        <table class="table table-striped margin_top_normal table-condensed" id="returnProductTable">
            <thead>
                <tr>
                    <th style="width: 20%"><?php echo $this->translate("Item Code or Name"); ?></th>
                    <th style="width: 15%"><?php echo $this->translate('Available Qty') ?></th>
                    <th class="" style="width: 13%"><?php echo $this->translate("Return Qty"); ?></th>
                    <th class="" style="width: 19%"><?php echo $this->translate("Price"); ?></th>
                    <th class="text-right" style="width: 1%"></th>
                    <th class="text-right" style="width: 12%"><?php echo $this->translate("Discount"); ?></th>
                    <th class="text-right" style="width: 10%"><?php echo $this->translate("Tax"); ?></th>
                    <th class="text-right" style="width: 12%"><?php echo $this->translate("Total"); ?></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody id="form_row">

                <tr id='preSetSample' class="hidden">
                    <td id='code'></td>
                    <td id='purQty' class='text-right'></td>
                    <td id='retQty' class='text-right'></td>
                    <td id='unit' class='text-right'></td>
                    <td><strong><?php echo $companyCurrencySymbol; ?></strong></td>
                    <td id='disc' class='text-right'></td>
                    <td class='text-right' id='tax'></td>
                    <td id='ttl' class='text-right'></td>
                    <td></td>
                    <td class="text-center"><span class='grnDeleteProduct glyphicon glyphicon-trash deleteRetProducts' id=''></span></td>
                    <td class="text-center"><span  style="font-size: 18px;" class='returnViewSubProducts glyphicon glyphicon-expand'></span></td>
                </tr>

            </tbody>

            <tbody id="add-new-item-row">
                <tr id="addNewItemTr" class="hidden"><!--item_insert-->
                    <td class=""><?php echo $this->formRow($prform->get('itemCode')); ?></td>
                    <td class="">
                        <div class="input-group">
                            <input type="text" id="purchasedQuantity" class="form-control purchasedQty">
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input type="text" class="form-control returnQty">
                        </div>
                    </td>
                    <td class="">
                        <div class="pull-right input-group">
                            <?php echo $this->formRow($prform->get('unitPrice')); ?>
                            <strong class="input-group-addon"><?php echo $companyCurrencySymbol; ?></strong>
                        </div>
                    </td>
                    <td></td>
                    <td>
                        <div class="input-group">
                            <?php echo $this->formRow($prform->get('discount')); ?>
                            <span class="sign input-group-addon"></span>
                        </div>
                    </td>
                    <td class='text-right' id='tax'>
                        <div class="taxDiv">
                            <div class='btn-group'><button  type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'>&nbsp<span class='glyphicon glyphicon-chevron-down'></span></button>
                                <ul class="text-left dropdown-menu taxUl">

                                </ul>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="pull-right input-group">
                            <label class="text-right itemTotal" id="addNewTotal" >0.00</label>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="viewSubProducts btn btn-default" title="Select Batch / Serial Products">
                            <i class="glyphicon glyphicon-th-list"></i>
                        </button>
                    </td>
                    <td>
                        <button type="submit" class="addItem btn btn-default">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                    </td>
                    <td>
                        <button  type="button" class="delete btn btn-default">
                            <i class="glyphicon glyphicon-minus"></i>
                        </button>
                    </td>
                </tr>
            </tbody>

            <tbody>
                <tr>
                    <td colspan="11">&nbsp;</td>
                </tr>

                <tr><!--display_taxes-->
                    <td colspan="4">
                        <label class="remove_font_weight"><?php echo $this->formRow($prform->get('showTax')) . "&nbsp;"; ?><?php echo $this->translate("Display Taxes"); ?></label>
                    </td>
                    <td></td>
                    <td colspan="2" class="text-right">
                        <div id="totalTaxShow" class="hidden"></div>
                    </td>
                    <td colspan="2"></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr><!--total-->
                    <td colspan="7" class="text-right"><h4 class="font_weight"><?php echo $this->translate("Total") . " " . $companyCurrencySymbol; ?></h4></td>
                    <td class="text-right"><h4 id="finaltotal" class="font_weight">0.00</h4></td>
                    <td colspan="3"></td>
                </tr>
            </tbody>
        </table>

    </div><!--table_responsive-->
</div><!--./col-->


<div class="col-lg-12 direct-return hidden">
    <div id="productTable" class="table">
        <div id="productAddOverlay" class="overlay"></div>

        <table class="deliveryNoteProductTable table  table-striped margin_top_normal table-condensed" id="deliveryNoteProductTable">
            <thead>
                <tr>
                    <th style="width: 22%" class="th_code"><?php echo $this->translate("Item Code or Name"); ?></th>
                    <th style="width: 13%"><?php echo $this->translate('Available Qty'); ?></th>
                    <th style="width: 13%"><?php echo $this->translate("Quantity"); ?></th>
                    <th class="text-right" style="width: 15%"><?php echo $this->translate("Price"); ?></th>
                    <th class="text-right" style="width: 17%"><?php echo $this->translate("Dis.Per Item"); ?></th>
                    <th class="text-right" style="width: 5%"><?php echo $this->translate("Taxes"); ?>
                    </th>
                    <th class="text-right" style="width: 12%"><?php echo $this->translate("Total"); ?></th>
                    <th style="width: 1%"></th>
                    <th style="width: 1%"></th>
                    <th style="width: 1%"></th>
                </tr>
            </thead>

            <!--item_row_show-->
            <tbody id="form_row">
                <tr id='preSetSample' class="hidden">
                    <td id='code'></td>
                    <td id='availableQuantity' class='text-right'></td>
                    <td id='quantity' class='text-right'></td>
                    <td><span id="uomName" class='text-right'></span></td>
                    <td id='unit' class='text-right'></td>
                    <td id='disc' class='text-right'></td>
                    <td class='text-right' id='tax'><div class='btn-group'><button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'><span id='' class=''></span>&nbsp<span class='glyphicon glyphicon-chevron-down'></span></button><ul class=''></ul></div></td>
                    <td id='ttl' class='text-right'></td>
                    <td class='text-center'>
                        <button type='button' class='btn btn-default grnDeleteProduct'>
                            <i class='glyphicon glyphicon-trash delete'></i>
                        </button>
                    </td>
                    <td class='text-center'>
                        <button type='button' class='grnViewProducts btn btn-default'>
                            <i class='fa fa-expand'></i>
                        </button>
                    </td>
                </tr>
            </tbody>

            <!--item_enter_row-->
            <tbody id="add-new-item-row-for-dPr">
                <tr class="add-row sample hidden">
                    <td class="clearfix">
                        <p class="visible-xs"><?php echo $this->translate("Item Code or Name"); ?></p>
                        <select class="form-control  show-tick"  id="item_code" name="item_code" data-live-search="true">
                            <option class="itemCodeDefaultSelect" value=""><?php echo $this->translate('Select Item Code or Name') ?></option>
                        </select>
                    </td>
                    <td class="clearfix">
                        <p class="visible-xs"><?php echo $this->translate("Available Qty"); ?></p>
                        <div><?php echo $this->formRow($prform->get('availableQuantity')); ?></div>
                    </td>
                    <td class="clearfix">
                        <p class="visible-xs"><?php echo $this->translate("Qty"); ?></p>
                        <div><?php echo $this->formRow($prform->get('deliverQuanity')); ?></div>
                    </td>
                    <td class="clearfix">
                        <p class="visible-xs"><?php echo $this->translate("Price"); ?></p>
                        <div class="input-group">
                            <?php echo $this->formRow($prform->get('unitPrice')); ?>
                            <strong class="input-group-addon cCurrency"><?php echo $companyCurrencySymbol; ?></strong>
                        </div>
                    </td>
                    <td class="clearfix">
                        <p class="visible-xs"><?php echo $this->translate("Discount"); ?></p>
                        <div class="input-group" style="min-width: 130px">
                            <?php echo $this->formRow($prform->get('discount')); ?>
                            <span class="input-group-addon sign"></span>
                        </div>
                    </td>
                    <td class='text-right clearfix' id='tax'>
                        <p class="visible-xs"><?php echo $this->translate("Taxes"); ?></p>
                        <div id="addNewTaxDiv" class='btn-group'>
                            <button id ="addNewTax" type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'>
                                <span id='taxApplied' class='glyphicon glyphicon-unchecked'></span>
                                <i class='fa fa-caret-down'></i>
                            </button>
                            <ul id="addTaxUl" class="text-left dropdown-menu">
                                <li id="sampleLi" class="hidden">&nbsp&nbsp<input class="taxChecks" id="" type='checkbox' ><label for="" class="taxName">&nbsp&nbsp</label></li>
                                <li id="toggleSelection" class="">&nbsp&nbsp<div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs" id="selectAll"><?php echo $this->translate("Select all"); ?></button>
                                <button type="button" class="btn btn-default btn-xs" id="deselectAll"><?php echo $this->translate("Deselect all"); ?></button></div></li>
                            </ul>
                        </div>
                    </td>
                    <td class="clearfix">
                        <p class="visible-xs clearfix text-right"><?php echo $this->translate("Total"); ?></p>
                        <div class="text-right">
                            <label id="addNewTotal">0.00</label>
                        </div>
                    </td>
                    <td>
                        <button  type='button' class="edit-modal btn btn-default" title="Select Batch / Serial Items">
                            <i class="fa fa-sitemap"></i>
                        </button>
                    </td>
                    <td>
                        <button type='button' class="add btn btn-default">
                            <i class="fa fa-plus"></i>
                        </button>
                        <button class="save btn btn-default hidden" type='button'>
                            <i class="fa fa-floppy-o"></i>
                        </button>
                    </td>
                    <td>
                        <button class="delete disabled btn btn-default" type='button'>
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </td>
                </tr>
            </tbody>

            <tbody class="deliveryNoteProductTable_footer">
                <!--dummy_row_for_separate_subtotal_section-->
                <tr class="hidden-xs">
                    <td colspan='10'>&nbsp;</td>
                </tr>

                <!--sub_total-->
                <tr>
                    <td colspan="6" class="text-right"><?php echo $this->translate("Sub Total"); ?></td>
                    <td class="text-right"><label id="subtotal">0.00</label></td>
                    <td colspan='3'></td>
                </tr>

                 <tr><!--display_taxes-->
                    <td colspan="4">
                        <label class="remove_font_weight">
                            <input type="checkbox" name="directTaxShow" id="directTaxShow">
                            <?php echo $this->translate("Display Taxes"); ?></label>
                    </td>
                    <td></td>
                    <td colspan="2" class="text-right">
                        <div id="directTotalTaxShow" class="hidden"></div>
                    </td>
                    <td colspan="2"></td>
                    <td></td>
                    <td></td>
                </tr>

                <!--total-->
                <tr>
                    <td colspan="6" class="text-right"><h4 class="font_weight"><?php echo $this->translate("Total  ") ?>&nbsp;<span class="cCurrency"> <?php echo $companyCurrencySymbol; ?></span></h4></td>
                    <td class="text-right"><h4 id="directFinaltotal" class="font_weight" style="font-size: 16px">0.00</h4></td>
                    <td colspan="3"></td>
                </tr>
            </tbody>
        </table>

    </div><!--table_responsive-->
</div><!--./col-->

<!--comment-->
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4"><!--comment-->
        <label for="cmnt" class="">
            <?php echo $this->translate("Comment"); ?>
        </label>
        <?php echo $this->formRow($prform->get('comment')); ?>
    </div>


    <div class="col-lg-4 col-sm-4 btnPanel"><!--button-->
        <div class="btn_margin_top">
            <button type='button' id="prCancel" class="btn btn-default"><?php echo $this->translate('Cancel') ?></button>
            <button id="prSave" type="submit" class="btn btn-primary"><?php echo $this->translate('Save') ?></button>
        </div>
    </div>
</div><!--row-->
<?php echo $this->form()->closeTag(); ?>

<div class="modal fade" id="viewReturnsSubProductsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog large">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><?php echo $this->translate('&times;') ?></button>
                <h4 class="modal-title"><?php echo $this->translate('Select Batch / Serial Items') ?></h4>
            </div>
            <div class="modal-body">
                <div class="table table-responsive">
                    <table class="batch-table table-striped margin_top_normal table-condensed">
                        <thead>
                            <tr>
                                <th style="width: 30%" class="text-left"><?php echo $this->translate('Batch Code') ?></th>
                                <th style="width: 30%" class="text-left"><?php echo $this->translate('Serial Code') ?></th>
                                <th style="width: 20%" class="text-left"><?php echo $this->translate('Available Qty') ?></th>
                                <th style="width: 20%" class="text-center"><?php echo $this->translate('Return Qty') ?></th>
                            </tr>
                        </thead>
                        <tbody id="batch_data">
                            <tr id="defaultRow" class="hidden">
                                <td class="batchCode"></td>
                                <td class="serialID"></td>
                                <td>
                                    <div class="input-group">
                                        <input type="text" readonly="true" name="availableQuantity" disabled="true" class="form-control">
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="input-group">
                                        <input type="text" name="returnQuantity" class="form-control">
                                    </div>
                                    <input type="checkbox" class="text-center" name="returnQuantityCheck">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer text-right">
                <input type="button" value="Save" id="subProductsSave" class="btn btn-primary">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="refNotSet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $refNotSet; ?>
</div>

<div class="modal fade" id="addDirectReturnProductsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->invoiceProducts; ?>
</div>
<div class="modal fade" id="addDimensionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->dimensionAddView; ?>
</div>