<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('PR No') ?></th>
                <th><?php echo $this->translate('Supplier Name') ?></th>
                <th class="text-center"><?php echo $this->translate('Status') ?></th>
                <th class="text-center"><?php echo $this->translate('Location') ?></th>
                <th class="text-center"><?php echo $this->translate('Date') ?></th>
                <th class="text-right"><?php echo $this->translate('Total') ?></th>
                <th class="text-center"><?php echo $this->translate('Print View') ?></th>
                <th class="text-center"><?php echo $this->translate('Related Documents') ?></th>
                <th class="text-center"><?php echo $this->translate('Related IN Grns') ?></th>
                <th class="text-center"><?php echo $this->translate('Attachments') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->prList as $key => $prL) {
                $pr = (object) $prL;
                if ($pr->directReturnFlag) {
                    $supplierName = $pr->prSupplierName;
                    $supplierTitle = $pr->prSupplierTitle;
                    $locationName = $pr->pLocationName;
                } else {
                    $supplierName = $pr->gSupplierName;
                    $supplierTitle = $pr->gSupplierTitle;
                    $locationName = $pr->gLocationName;
                }
                $state = ucfirst($this->statuses[$pr->purchaseReturnStatus]);
                $style = NULL;
                switch ($pr->purchaseReturnStatus) {
                    case "1":
                        $style = "label label-primary";
                        break;
                    case "2":
                        $style = "label label-default";
                        break;
                    case "3":
                        $style = "label label-success";
                        break;
                    case "4":
                        $style = "label label-warning";
                        break;
                    case "5":
                        $style = "label label-primary";
                        break;
                    case "6":
                        $state = 'Open';
                        $style = "label label-danger";
                        break;
                    default :
                        $style = "label label-default";
                }
                ?>
                <tr>
                    <td> <?php echo $pr->purchaseReturnCode; ?></td>
                    <td> <?php echo $supplierTitle . ' ' . $supplierName; ?></td>
                    <td class="text-center"><span class="<?php echo $style; ?>"> <?php echo $state; ?></span></td>
                    <td class="text-center"> <?php echo $locationName; ?></td>
                    <td class="text-center"><?php echo $this->userDateFormatHelper($pr->purchaseReturnDate, $this->dateFormat); ?></td>
                    <td class="text-right"><?php echo number_format($pr->purchaseReturnTotal, 2); ?></td>
                    <td class="text-center">
                        <span class ="printViewpr link_color" style="cursor:pointer" data-href="<?php echo $this->url('purchaseReturns', array('action' => 'preview', 'param1' => $pr->purchaseReturnID)); ?>"><span class="grnView glyphicon glyphicon-eye-open"></span></span>
                    </td>
                    <td class="text-center">
                        <span id="<?php echo $pr->purchaseReturnID; ?>" class="link_color pr_related_docs" data-pr-related-id="<?php echo $pr->purchaseReturnID; ?>" style="cursor:pointer"><span class="grnView glyphicon glyphicon-link"></span></span>
                    </td>
                    <td class="text-center">
                        <span id="<?php echo $pr->purchaseReturnID; ?>" class="link_color pr_related_in_grns" data-pr-related-id="<?php echo $pr->purchaseReturnID; ?>" style="cursor:pointer"><span class="grnView glyphicon glyphicon-file"></span></span>
                    </td>
                    <td class="text-center">
                        <span id="<?php echo $pr->purchaseReturnID; ?>" class="link_color doc_attachments" data-pr-related-id="<?php echo $pr->purchaseReturnID; ?>" style="cursor:pointer"><span class="glyphicon glyphicon-paperclip"></span></span>
                    </td>
                </tr>
                <?php
            }

            if (count($this->prList) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="7"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div>
<?php
if (!isset($this->paginated)) {
    echo $this->paginationControl(
            $this->prList, 'sliding', array('partial/paginator.phtml', 'purchaseReturns'), array(
        'route' => 'purchaseReturns', 'action' => 'list'
            )
    );
}
?>