<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><?php echo $this->translate('Add a Activity Type') ?></h4>
        </div>

        <div class="modal-body">
            <?php $this->headScript()->appendFile($this->basePath('js/job-card/activityType.js')); ?>

            <?php
            $form = $this->activityTypeForm;
            $form->setAttribute('id', 'create-activityType-form');
            $form->prepare();
            ?>

            <div class="form-horizontal clearfix">
                <?php echo $this->form()->openTag($form); ?>

                <div class="form-group">
                    <label for="activityTypeName" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Activity Name :') ?><font color="red">*</font></label>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <?php echo $this->formRow($form->get('activityTypeName')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="maxValue" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Max Value per Activity :') ?></label>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <?php echo $this->formRow($form->get('maxValue')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="minValue" class="col-lg-4 col-md-4 col-sm-4 control-label"><?php echo $this->translate('Min Value per Activity :') ?></label>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <?php echo $this->formRow($form->get('minValue')); ?>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary add act-type-add" id="addActivityType"><?php echo $this->translate('Add New') ?></button>
                    <button type="reset" class="btn btn-default add reset"><?php echo $this->translate('Reset') ?></button>
                </div>
                <?php
                echo $this->form()->closeTag();
                ?>
            </div><!--form_horizontal-->
        </div><!--modal-body-->

    </div><!--modal_content-->
</div><!--modal_dialog-->