<?php
$form = $this->addActivityTypeForm;
$form->setAttribute('id', 'create-activityType-form');
?>

<div class="category-form-container margin_top">
    <div class="well well_heading">
        <h5 class="font_weight add"><?php echo $this->translate('Add Activity Type') ?></h5>
        <h5 class="font_weight update hidden"><?php echo $this->translate('Update Activity Type') ?></h5>
    </div>

    <div class="well well_body">
        <?php
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formHidden($form->get('activityTypeID'));
        ?>

        <div class="form-group">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Activity Name') ?><font color="red"> *</font></label>
                <div class="" id="actName">
                    <?php echo $this->formRow($form->get('activityTypeName')); ?>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Max Value per Activity') ?></label>
                <div class="" id="actMxVlu">
                    <?php echo $this->formRow($form->get('maxValue')); ?>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <label class="control-label label_bottom_margin"><?php echo $this->translate('Min Value per Activity') ?></label>
                <div class="" id="actMnVlu">
                    <?php echo $this->formRow($form->get('minValue')); ?>
                </div>
            </div>

            <!--Update&cancel-->
            <div class="col-lg-3 update">
                <label class="control-label label_bottom_margin">&nbsp;</label>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary update hidden" id="update"><?php echo $this->translate('Update') ?></button>
                    <button type="reset" class="btn btn-default reset update hidden"><?php echo $this->translate('Cancel') ?></button>
                </div>
            </div>

            <!--reset&add_new-->
            <div class="col-lg-3">
                <label class="control-label label_bottom_margin">&nbsp;</label>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary add " id="add"><?php echo $this->translate('Add New') ?></button>
                    <button type="reset" class="btn btn-default add reset"><?php echo $this->translate('Reset') ?></button>
                </div>
            </div>
        </div><!--form_group-->

        <?php
        echo $this->form()->closeTag($form);
        ?>
    </div><!--well-->
</div><!--category_form_container-->

<div id="activityTypeview"></div>

<!--search-->
<div class="well clearfix well_custom_padding margin_top">
    <form class="activity-type-search" id="activity-type-search" method="post" action="">
        <div class="col-lg-3">
            <label class="remove_weight"><?php echo $this->translate('Search Activity Type') ?></label>
        </div>
        <div class="col-lg-9 xs-search-field">
            <div class=" input-group">
                <input type="text" class="search form-control" id ='activityType-search-keyword' placeholder="<?php echo $this->translate('Enter Activity Type') ?>"/>
                <span class="input-group-btn">
                    <button class="btn btn-default search_btn_css" id="act-search" type="submit"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default reset" type="reset"><?php echo $this->translate('Cancel') ?></button>
                </span>
            </div>
        </div>
    </form>
</div>

<div id="activityType-list" class="margin_top">
    <?php echo $this->partial('job-card/activity-type/list', array('activityTypes' => $this->activityTypes, 'paginated' => $this->paginated)); ?>
</div>