<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('Activity Type Name') ?></th>
                <th><?php echo $this->translate('Max Value per Activity') ?></th>
                <th><?php echo $this->translate('Min Value per Activity') ?></th>
                <th class="text-center" ><?php echo $this->translate('Edit') ?></th>
                <th class="text-center" ><?php echo $this->translate('Active') ?></th>
                <th class="text-center" ><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->activityTypes as $loo) {
                $loo = (object) $loo;
                ?>
                <tr data-activityTypeid="<?php echo $loo->activityTypeID; ?>">
                    <td class="actTypName"><?php echo $loo->activityTypeName ?></td>
                    <td class="actTypMx"><?php echo $loo->activityTypeMaxValue ?></td>
                    <td class="actTypMn"><?php echo $loo->activityTypeMinValue ?></td>
                    <td class="text-center">
                        <a href="#" class="edit">
                            <span class="fa fa-pencil-square-o custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="#" class="status">
                            <span class="<?php echo ($loo->activityTypeStatus == '1') ? 'fa fa-check-square-o' : 'fa fa-square-o '; ?> custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center" >
                        <a href="#" class="delete">
                            <span class="fa fa-trash-o custom_font_size"></span>
                        </a>
                    </td>
                </tr>
                <?php
            }
            if (count($this->activityTypes) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div><!--table_responsive-->

<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->activityTypes, 'sliding', array('partial/paginator.phtml', 'activityTypes'), array(
        'route' => 'activityType', 'action' => 'create'
            )
    );
}
?>
