<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="80%"><?php echo $this->translate('Account Type'); ?></th>
                <th width="10%" class="text-center"><?php echo $this->translate('Edit'); ?></th>
                <th width="10%" class="text-center"><?php echo $this->translate('Delete'); ?></th>
            </tr>
        </thead>

        <tbody>
            <?php
            if (count($accountTypes) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            } else {
                foreach ($accountTypes as $type) {
                    $accountType = new Expenses\Model\AccountType();
                    $accountType->exchangeArray($type);
                    ?>
                    <tr data-type-id="<?php echo $accountType->accountTypeId; ?>" data-type-name="<?php echo $accountType->accountTypeName; ?>" data-entity-id="<?php echo $accountType->entityId; ?>">
                        <td><?php echo $accountType->accountTypeName; ?></td>
                        <td class="text-center">
                            <a href="#" class="fa fa-edit custom_font_size acc-type-action" data-action="edit"></a>
                        </td>
                        <td class="text-center">
                            <a href="#" class="fa fa-trash-o custom_font_size acc-type-action" data-toggle="modal" data-target="#accountTypeDeleteModal" data-action="delete"></a>
                        </td>
                    </tr>
                    <?php
                }
            }
            ?>
        </tbody>
    </table>
</div>

<?php
echo $this->paginationControl(
        $accountTypes, 'sliding', array('partial/paginator.phtml', 'accout-type'), array('route' => 'account-type', 'action' => 'index')
);
?>