<?php $this->headScript()->appendFile($this->basePath('js/expenses/account-transaction.js')); ?>

<?php
$form = $this->form;
$form->setAttribute('id', 'accoutTransferForm');
$form->prepare();
?>

<div class="row">
    <div class="margin_top">
        <div class="col-lg-12">
            <?php echo $this->form()->openTag($form); ?>

            <div class="form-group">
                <label class="col-lg-2 col-md-3 col-sm-3 control-label">
                    <?php echo $this->translate('Transaction Type') ?>
                    <font color="red"> *</font>
                </label>
                <div class="col-lg-10 col-md-9 col-sm-9">
                    <div class="_row_with_margin clearfix">
                        <div class="col-lg-6 col-md-6 sm-margin-bottom">
                            <?php echo $this->formRow($form->get('transaction')); ?>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group" id="recived-account-div">
                <label class="col-lg-2 col-md-3 col-sm-3 control-label">
                    <?php echo $this->translate('Issued Account'); ?>
                    <font color="red"> *</font>
                </label>
                <div class="col-lg-10 col-md-9 col-sm-9">
                    <div class="_row_with_margin clearfix">
                        <div class="col-lg-6 col-md-6">
                            <?php echo $this->formRow($form->get('transactionIssuedFinanceAccountId')); ?>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form-group hidden" id="issued-bank-account-div">
                <label class="col-lg-2 col-md-3 col-sm-3 control-label">
                    <?php echo $this->translate('Bank Account'); ?>
                    <font color="red"> *</font>
                </label>
                <div class="col-lg-10 col-md-9 col-sm-9">
                    <div class="_row_with_margin clearfix">
                        <div class="col-lg-6 col-md-6">
                            <?php echo $this->formRow($form->get('transactionBankAccountId')); ?>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group " id="received-account-div">
                <label class="control-label col-lg-2 col-md-3 col-sm-3">
                    <?php echo $this->translate('Received Account'); ?>
                    <font color="red"> *</font>
                </label>
                <div class="col-lg-10 col-md-9 col-sm-9">
                    <div class="_row_with_margin clearfix">
                        <div class="col-lg-6 col-md-6">
                            <?php echo $this->formRow($form->get('transactionRecivedFinanceAccountId')); ?>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 col-sm-3 control-label">
                    <?php echo $this->translate('Amount'); ?>
                    <font color="red"> *</font>
                    <label id="currencySymbolLabel"></label>
                </label>
                <div class="col-lg-5 col-sm-9">
                    <?php echo $this->formRow($form->get('transactionAmount')); ?>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-2 col-sm-3">
                    <label><?php echo $this->translate('Date') ?></label>
                    <font color="red"> *</font>
                </div>
                <div class="col-lg-5 col-sm-9">
                    <?php echo $this->formRow($form->get('transactionDate')); ?>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-2 col-sm-3">
                    <label>
                        <?php echo $this->translate('Comment'); ?>
                    </label>
                </div>
                <div class="col-lg-5 col-sm-9">
                    <?php echo $this->formRow($form->get('transactionComment')); ?>
                </div>
            </div>

            <div class="form-group margin_top_normal">
                <div class="col-lg-2 col-sm-3"></div>
                <div class="col-lg-6 col-sm-9">
                    <button type="button" class="btn btn-primary" id="saveBtn"><?php echo $this->translate('Save'); ?></button>
                </div>
            </div>

            <?php echo $this->form()->closeTag(); ?>
        </div><!--./col-->
    </div>
</div>


