<div class="table table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class=""><?php echo $this->translate("Transaction Reference") ?></th>
                <th class=""><?php echo $this->translate("Transaction Type") ?></th>
                <th class=""><?php echo $this->translate('Issued Account') ?></th>
                <th class=""><?php echo $this->translate('Recived Account') ?></th>
                <th class=""><?php echo $this->translate('Bank Account') ?></th>
                <th class=""><?php echo $this->translate('Transaction Date') ?></th>
                <th class=""><?php echo $this->translate("Transaction Amount") ?></th>
                <th class=""><?php echo $this->translate("View") ?></th>
                <th class=""><?php echo $this->translate("Delete") ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            if (count($transactions) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            } else {
                foreach ($transactions as $transaction) {
                    ?>
                    <tr data-transaction-id="<?php echo $transaction['id']; ?>" data-transaction-type="<?php echo $transaction['type']; ?>">
                        <td><?php echo $transaction['reference']; ?></td>
                        <td><?php 
                            switch ($transaction['type']){
                                case 'withdrawal':
                                    echo '<span class="label label-primary">Withdrawal</span>';
                                    break;
                                case 'deposit':
                                    echo '<span class="label label-success">Deposit</span>';
                                    break;
                                case 'transfer':
                                    echo '<span class="label label-info">Transfer</span>';
                                    break;
                                default :
                                    error_log('invalid option');
                            }
                        
                        ?></td>
                        <td><?php echo $transaction['issuedAccount']; ?></td>
                        <td><?php echo isset($transaction['recivedAccount']) ? $transaction['recivedAccount'] : ' - '; ?></td>
                        <td><?php echo isset($transaction['bankAccount']) ? $transaction['bankAccount'] : '-'; ?></td>
                        <td><?php echo $transaction['date'];?></td>
                        <td><?php echo number_format($transaction['amount'], 2); ?></td>
                        <td class="text-center">
                            <a href="#" class="glyphicon glyphicon-eye-open custom_font_size transaction-view" data-toggle="modal"></a>
                        </td>
                        <td class="text-center">
                            <a href="#" class="fa fa-trash-o custom_font_size transaction-cancel" data-toggle="modal"></a>
                        </td>
                    </tr>
                    <?php
                }
            }
            ?>
        </tbody>
    </table>
    <?php

    ?>
</div><!--tabele_responsive-->

<?php
if($this->paginated){
    echo $this->paginationControl(
        $transactions, 'sliding', array('partial/paginator.phtml', 'transaction'), array('route' => 'transaction', 'action' => 'view')
    );
}
?>