<?php $this->headScript()->appendFile($this->basePath('js/expenses/view-transaction.js')); ?>

<div class='well clearfix well_custom_padding margin_top xs_view'><!--get_invoice-->

    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <label class="remove_weight margin_bottom_normal_low"><?php echo $this->translate('Search Transaction') ?></label>
    </div>
    
    <div id="account-types-div" class="col-lg-4 col-md-4 col-sm-4 row-fluid">
        <select id="account-transaction-type-select" class="selectpicker" data-width="300px" multiple>
            <option value="withdrawal"><?php echo $this->translate('Withdrawal') ?></option>
            <option value="deposit"><?php echo $this->translate('Deposit') ?></option>
            <option value="transfer"><?php echo $this->translate('Transfer') ?></option>
        </select>
    </div>
    
    <div class="col-lg-3 col-md-3 col-sm-3">
        <input type="text" style="background-color: white" readonly="true" class="span2 datepicker form-control pointer_cursor" id="from-date" data-date-format="<?php echo $this->userdateFormat ?>" placeholder="<?php echo $this->userdateFormat ?>">
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3">
        <input type="text" style="background-color: white" readonly="true" class="span2 datepicker form-control pointer_cursor" id="to-date" data-date-format="<?php echo $this->userdateFormat ?>" placeholder="<?php echo $this->userdateFormat ?>">
    </div>

    <div class="col-lg-1 col-md-1 col-sm-1">
        <button class="btn btn-primary" id="filter-button"><?php echo $this->translate('GO') ?></button>
    </div>
</div>

<!--table-->
<div id="transaction-list" class="margin_top">
    <?php echo $this->partial('expenses/transaction/transaction-list', array('transactions' => $this->transactions, 'paginated' => $this->paginated)); ?>
</div><!--#account_list-->

<!-- Transaction Cancel Modal -->
<div class="modal fade bs-example-modal-sm" id="transactionCancelModal" tabindex="-1" role="dialog" aria-labelledby="transactionCancelModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="transactionCancelModalLabel"><?php echo $this->translate('Cancel Transaction') ?></h4>
            </div>
            <div class="modal-body transactionCancelModalBody"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
                <button type="button" class="btn btn-danger" id="btnCancel"><?php echo $this->translate('Cancel') ?></button>
            </div>
        </div>
    </div>
</div>

<!-- Transaction View Modal -->
<div class="modal fade bs-example-modal-sm" id="transactionViewModal" tabindex="-1" role="dialog" aria-labelledby="transactionViewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="transactionViewModalLabel"><?php echo $this->translate('View Transaction') ?></h4>
            </div>
            <div class="modal-body transactionViewModalBody"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate('Close') ?></button>
            </div>
        </div>
    </div>
</div>
