<div class="margin_top">
    <div class="well well_heading">
        <h5 class="addTitle"><?php echo $this->translate('Create Voucher Type') ?></h5>
    </div>

    <div class="well well_body">
        <form id="expenseTypeForm">

            <div class="_row_with_margin clearfix">

                <!--expense_type-->
                <div class="col-lg-5 form-group">
                    <label class="_remove_bold"><?php echo $this->translate('Voucher Type Name') ?><font color="red"> *</font></label>
                    <input type="text" name="expenseTypeName" class="form-control" autocomplete="off">
                </div>

                <!--expense_type_category-->
                <div class="col-lg-5 form-group">
                    <label class="_remove_bold"><?php echo $this->translate('Voucher Type Category') ?><font color="red"> *</font></label>
                    <select class='form-control selectpicker' autocomplete="off" data-live-search="true" name="expenseCategory"   title="Select Voucher Category" data-selected-text-format="count>3">
                        <option value="0"><?php echo $this->translate('Nothing Selected') ?></option>
                        <?php
                        foreach ($this->expenseCategories as $expenseCategory) :
                            echo '<option value="' . $expenseCategory['expenseCategoryId'] . '">' . $expenseCategory['expenseCategoryName'] . '</option>';
                        endforeach;
                        ?>
                    </select>
                </div>
            </div><!--row-->

            <div class="_row_with_margin clearfix">
            	<!--expense_type_category-->
               <!--  <div class="col-lg-5 form-group">
                    <label class="_remove_bold"><?php echo $this->translate('Gl Account') ?></label>
                    <select class='form-control selectpicker' autocomplete="off" data-live-search="true" name="expenseTypeAccountID"  id='expenseTypeAccountID'  title="Select an Account" data-selected-text-format="count>3">
                        <option value=""><?php echo $this->translate('Select an Account') ?></option>
                    </select>
                </div> -->

             	<!--approve_enabled-->
                <div class="col-lg-5 form-group">
                    <label>&nbsp;</label>
                    <div class="checkbox">
                        <label>
                            <?php echo $this->translate('Approver Enabled') ?>
                            <input type="checkbox" name="approverEnabled" class="">
                        </label>
                    </div>
                </div>
             </div>

            <!--approve_section-->
            <div id="approverValues" class="hidden margin_bottom_normal">

                <div class="margin_top_normal margin_bottom_normal_low">
                    <label><?php echo $this->translate('Approver Value Limit') ?></label>
                </div>

                <!--<div class="table table-responsive">-->
                <table class="table" id="approverValueLimitList">
                    <tbody>
                        <tr id="addApproverLimit">
                            <td width="20%">
                                <div class="form-group _remove_margin_bottom">
                                    <label class="_remove_bold"><?php echo $this->translate('Min') ?></label>
                                    <input type="text" name="approverMin" class="form-control">
                                </div>
                            </td>
                            <td width="20%">
                                <div class="form-group _remove_margin_bottom">
                                    <label class="_remove_bold"><?php echo $this->translate('Max') ?></label>
                                    <input type="text" name="approverMax" class="form-control">
                                </div>
                            </td>
                            <td width="40%">
                                <div class="form-group _remove_margin_bottom">
                                    <label class="_remove_bold"><?php echo $this->translate('Approvers'); ?></label>
                                    <select class='form-control selectpicker approver' data-actions-box="true" data-live-search="true" name="approvers"  multiple="multiple" title="<?php echo $this->translate('Select Approver(s)') ?>" data-selected-text-format="count>3">
                                        <?php foreach ($this->employees as $employee) { ?>
                                            <option value="<?php echo $employee['approverID'] ?>"><?php echo $employee['firstName'] . ' ' . $employee['lastName']; ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                            </td>
                            <td width="5%" name="add">
                                <div class="form-group _remove_margin_bottom">
                                    <label class="display_block">&nbsp;</label>
                                    <button  type='button' class="add btn btn-default">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </td>
                            <td width="5%" name='edit' class="hidden">
                                <label class="display_block">&nbsp;</label>
                                <button  type='button' class="edit btn btn-default">
                                    <i class="fa fa-pencil-square-o"></i>
                                </button>
                            </td>
                            <td width="5%" name='save' class="hidden">
                                <label class="display_block">&nbsp;</label>
                                <button  type='button' class="save btn btn-default">
                                    <i class="fa fa-floppy-o"></i>
                                </button>
                            </td>
                            <td width="5%" name='delete' class="hidden">
                                <label class="display_block">&nbsp;</label>
                                <button  type='button' class="delete btn btn-default">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--</div>-->

            </div><!--#approverValues-->

            <!--button-->
            <div class="_row_with_margin clearfix">
                <div class="col-lg-12 next">
                    <div class="text-right">
                        <button type="submit" id="promotionNext" class="btn btn-primary next"><?php echo $this->translate('Save') ?></button>
                        <button type="reset" class="btn btn-default reset"><?php echo $this->translate('Cancel') ?></button>
                    </div>
                </div>
            </div>

        </form>
    </div><!--well_body-->

</div>