<div class="margin_top">
    <div class="well toggle_purpose">
        <h5 class="font_weight addTitle"><?php echo $this->translate('Update Voucher Type') ?></h5>
    </div>
    <div class="well remove_padding_bottom">
        <form id="expenseTypeForm" class="edit" data-id="<?php echo $this->editExpTypeId; ?>">
            <div class="form-group">
                <div class="form-group row" style="margin-bottom: 15px;">
                    <label class="col-lg-3 col-md-6 col-sm-6 control-label label_bottom_margin"><?php echo $this->translate('Voucher Type Name') ?><font color="red"> *</font></label>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <input type="text" name="expenseTypeName" value="<?php echo $data['expenseTypeName']; ?>" class="form-control" autocomplete="off">
                    </div>
                </div>
                <div class="form-group row" style="margin-bottom: 15px;">
                    <label class="col-lg-3 col-md-6 col-sm-6 control-label label_bottom_margin"><?php echo $this->translate('Voucher Type Category') ?><font color="red"> *</font></label>
                    <div class="col-md-4">
                        <select class='form-control selectpicker' autocomplete="off" data-live-search="true" name="expenseCategory"   title="Select Voucher Category" data-selected-text-format="count>3">
                            <option value="0"><?php echo $this->translate('Nothing Selected') ?></option>
                            <?php
                            foreach ($this->expenseCategories as $expenseCategory) :
                                if ($expenseCategory['expenseCategoryId'] == $data['expenseTypeCategory']) {
                                    echo '<option value="' . $expenseCategory['expenseCategoryId'] . '" selected="selected">' . $expenseCategory['expenseCategoryName'] . '</option>';
                                } else {
                                    echo '<option value="' . $expenseCategory['expenseCategoryId'] . '">' . $expenseCategory['expenseCategoryName'] . '</option>';
                                }
                            endforeach;
                            ?>
                        </select>
                    </div>
                </div>
                <!-- <div class="form-group row" style="margin-bottom: 20px;">
                    <label class="col-lg-3 col-md-6 col-sm-6 control-label label_bottom_margin"><?php echo $this->translate('Expense Type Account') ?></label>
                    <div class="col-md-4">
                        <select class='form-control selectpicker' autocomplete="off" data-live-search="true" name="expenseTypeAccountID"  id='expenseTypeAccountID' title="Select an Account" data-selected-text-format="count>3">
                            <?php if($data['expenseTypeAccountID'] != ''){?>
                            	<option value='<?php echo $data['expenseTypeAccountID']?>' selected="selected"><?php echo $data['expenseTypeAccountName']?></option>
                            	<option value=""><?php echo $this->translate('Select an Account') ?></option>
                            <?php }else{?>
                            	<option value="" selected="selected"><?php echo $this->translate('Select an Account') ?></option>
                            <?php } ?>
                        </select>
                    </div>
                </div> -->
                <div class="form-group row" style="margin-bottom: 20px;">
                    <label class="col-lg-3 col-md-6 col-sm-6 control-label label_bottom_margin"><?php echo $this->translate('Approver Enabled') ?></label>
                    <div class="col-lg-4">
                        <input type="checkbox" <?php echo ($data['expenseTypeApproverEnabled'] == 1) ? 'checked' : ''; ?> name="approverEnabled" class="">
                    </div>
                </div>
                <div id="approverValues" class="<?php echo ($data['expenseTypeApproverEnabled'] == 1) ? '' : 'hidden'; ?>">
                    <div class="form-group row">
                        <label class="col-lg-3 col-md-6 col-sm-6 control-label label_bottom_margin"><b><?php echo $this->translate('Approver Value Limit') ?></b></label>
                    </div>

                    <div class="form-group">
                        <table class="table table-striped" id="approverValueLimitList">
                            <tbody>
                                <?php foreach ($data['expTypeLimits'] as $expTypeLimit) : ?>
                                    <tr  class="approverLimits">
                                        <td width="5%"><?php echo $this->translate('Min') ?></td>
                                        <td width="20%"><input type="text" disabled="disabled"  value="<?php echo $expTypeLimit['expenseTypeLimitMin']; ?>" name="approverMin" class="form-control"></td>
                                        <td width="5%">Max</td>
                                        <td width="20%"><input type="text" disabled="disabled"  value="<?php echo $expTypeLimit['expenseTypeLimitMax']; ?>" name="approverMax" class="form-control"></td>
                                        <td width="10%"><b>Approvers</b></td>
                                        <td width="30%">
                                            <select class='form-control selectpicker approver' data-actions-box="true" data-live-search="true" name="approvers"  multiple="multiple" title="Select Approver(s)" data-selected-text-format="count>3">
                                                <?php
                                                foreach ($this->employees as $employee):
                                                    if (in_array($employee['approverID'], $expTypeLimit['expTypeLimitApprovers'])) {
                                                        echo '<option value="' . $employee['approverID'] . '" selected="selected">' . $employee['firstName'] . '</option>';
                                                    } else {
                                                        echo '<option value="' . $employee['approverID'] . '">' . $employee['firstName'] . '</option>';
                                                    }
                                                endforeach;
                                                ?>
                                            </select>
                                        </td>
                                        <td width="5%" name="add" class="hidden">
                                            <button  type='button' class="add btn btn-default">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </td>
                                        <td width="5%" name='edit'>
                                            <button  type='button' class="edit btn btn-default">
                                                <i class="fa fa-pencil-square-o"></i>
                                            </button>
                                        </td>
                                        <td width="5%" name='save' class="hidden">
                                            <button  type='button' class="save btn btn-default">
                                                <i class="fa fa-floppy-o"></i>
                                            </button>
                                        </td>
                                        <td width="5%" name='delete'>
                                            <button  type='button' class="delete btn btn-default">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                                <tr id="addApproverLimit">
                                    <td width="5%"><?php echo $this->translate('Min') ?></td>
                                    <td width="20%"><input type="text" name="approverMin" class="form-control"></td>
                                    <td width="5%"><?php echo $this->translate('Max') ?></td>
                                    <td width="20%"><input type="text" name="approverMax" class="form-control"></td>
                                    <td width="10%"><b><?php echo $this->translate('Approvers') ?></b></td>
                                    <td width="30%">
                                        <select class='form-control selectpicker approver' data-actions-box="true" data-live-search="true" name="approvers"  multiple="multiple" title="Select Approver(s)" data-selected-text-format="count>3">
                                            <?php foreach ($this->employees as $employee) { ?>
                                                <option value="<?php echo $employee['approverID'] ?>"><?php echo $employee['firstName'] . ' ' . $employee['lastName']; ?></option>
                                            <?php } ?>
                                        </select>
                                    </td>
                                    <td width="5%" name="add">
                                        <button  type='button' class="add btn btn-default">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </td>
                                    <td width="5%" name='edit' class="hidden">
                                        <button  type='button' class="edit btn btn-default">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </button>
                                    </td>
                                    <td width="5%" name='save' class="hidden">
                                        <button  type='button' class="save btn btn-default">
                                            <i class="fa fa-floppy-o"></i>
                                        </button>
                                    </td>
                                    <td width="5%" name='delete' class="hidden">
                                        <button  type='button' class="delete btn btn-default">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-6 next">
                    <label class="control-label label_bottom_margin">&nbsp;</label>
                    <div class="text-right">
                        <button type="reset" class="btn btn-default reset"><?php echo $this->translate('Cancel') ?></button>
                        <button type="submit" id="promotionNext" class="btn btn-primary next"><?php echo $this->translate('Save') ?></button>
                    </div>
                </div>
            </div><!--form_group-->
        </form>
    </div>
</div>