<div class="row">

    <div id="cus-order-list" class="table table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class=""><?php echo $this->translate('Customer Order No') ?></th>
                    <th class=""><?php echo $this->translate('Customer Name') ?></th>
                    <th><?php echo $this->translate('Customer Order Date') ?></th>
                    <th class="text-right"><?php echo $this->translate('State') ?></th>
                    <th class="text-right"><?php echo $this->translate("Amount") ?></th>
                    <th class="text-right"><?php echo $this->translate('Edit') ?></th>
                    <th class="text-right"><?php echo $this->translate('View') ?></th>
                    <th class="text-center"><?php echo $this->translate('Cancel') ?></th>
                    <th class="text-center"><?php echo $this->translate('Related Documents') ?></th>
                    <th class="text-center"><?php echo $this->translate('Attachments') ?></th>
                </tr>
            </thead>
            <tbody>
                <?php
                foreach ($this->customerOrderList as $key => $customerOrder) {
                    // var_dump($customerOrder['customerOrderCode']).die();
                    $quo = (object) $customerOrder;
                    $customerOrder = (object) $customerOrder;
                    $state = ucfirst($this->statuses[$customerOrder->customerOrderStatus]);
                    $style = NULL;
                    switch ($quo->customerOrderStatus) {

                        case "1":
                            $style = "label label-primary";
                            break;
                        case "2":
                            $style = "label label-default";
                            break;
                        case "3":
                            $style = "label label-success";
                            break;
                        case "4":
                            $style = "label label-warning";
                            break;
                        case "5":
                            $style = "label label-primary";
                            break;
                        case "6":
                            $state = 'Open';
                            $style = "label label-danger";
                            break;
                        default :
                            $style = "label label-default";
                    }
                    $customerName = explode('-', $customerOrder->customerOrderCustomerName);
                    ?>
                    <tr>
                        <td class=""> <?php echo $customerOrder->customerOrderCode; ?></td>
                        <td class=""> <?php
//                            echo $customerName[0];
                            echo $customerOrder->customerName . ' - ' . $customerOrder->customerCode
                            ?></td>
                        <td> <?php echo $this->userDateFormatHelper($customerOrder->customerOrderDate, $this->userdateFormat); ?></td>
                        <td class="text-right "><span class="<?php echo $style; ?>"> <?php echo $state; ?></span></td>
                        <td class="text-right"><?php echo 'Rs' . ' ' . (!empty($customerOrder->customerOrderAmount)) ? number_format(($customerOrder->customerOrderAmount), 2) : 0.00; ?></td>

                        <td class="text-right">
                            <?php 
                            if ($quo->customerOrderStatus == "3") {
                                if ($customerOrder->deleted == 0) { ?>
                                    <?php if($customerOrder->customerOrderStatus == 3) { ?>
                                    <a class="edits" href="<?php echo $this->url('customerOrder', array('action' => 'Edit', 'param1' => $customerOrder->customerOrderID));
                                    ?>" id="<?php echo $customerOrder->customerOrderCode ?>">
                                        <span class="fa fa-pencil-square-o custom_font_size"></span>
                                    </a>
                                    <?php } else { ?>
                                        <a class="editsInactive" href="#" id="<?php echo $customerOrder->customerOrderCode ?>">
                                        <span class="fa fa-pencil-square-o custom_font_size"></span>
                                    </a>
                                        <?php } ?>
                            <?php } 
                            }
                            ?>
                        </td>
                        
                        <td class="text-center">

                            <?php if($customerOrder->customerOrderStatus == 3) { ?>
                            <a class="edits" href="<?php echo $this->url('customerOrder', array('action' => 'View', 'param1' => $customerOrder->customerOrderID));
                            ?>" id="<?php echo $customerOrder->customerOrderCode ?>">
                                <span class="fa fa-search-plus custom_font_size"></span>
                            </a>
                            <?php } else { ?>
                                <a class="editsInactive" href="#" id="<?php echo $customerOrder->customerOrderCode ?>">
                                <span class="fa fa-search-plus custom_font_size"></span>
                            </a>
                                <?php } ?>
                            <!-- <a data-toggle="modal" href = "#customerOrder" class = "view" id = "<?php echo $customerOrder->customerOrderID ?>"><span class="fa fa-trash-o custom_font_size"></span></a> -->
                        </td>
                        <td class="text-center">
                            
                            <!-- <a data-toggle="modal" href = "#customerOrder" class = "deletes" id = "<?php echo $customerOrder->customerOrderID ?>"><span class="fa fa-trash-o custom_font_size"></span></a> -->
                            <?php if($customerOrder->customerOrderStatus == 3) { ?>
                            <a data-toggle="modal" href = "" onclick="deleteCustomerOrder(<?php echo $customerOrder->customerOrderID; ?>)"  id = "<?php echo $customerOrder->customerOrderID ?>">
                                    <span class="fa fa-trash-o custom_font_size"></span></a>
                            <?php } else { ?>
                                <a class="editsInactive" href="#" id="<?php echo $customerOrder->customerOrderCode ?>">
                                <span class="fa fa-trash-o custom_font_size"></span>
                            </a>
                                <?php } ?>
                                
                        </td>
                        <td class="text-center">
                            <span id="<?php echo $customerOrder->customerOrderID; ?>" class="link_color qtn_related_docs" data-qtn-related-id="<?php echo $customerOrder->customerOrderID; ?>" style="cursor:pointer"><span class="grnView glyphicon glyphicon-link"></span></span>
                        </td>
                        <td class="text-center">
                            <span id="<?php echo $customerOrder->customerOrderID; ?>" class="link_color doc_attachments" data-qtn-related-id="<?php echo $customerOrder->customerOrderID; ?>" style="cursor:pointer"><span class="glyphicon glyphicon-paperclip"></span></span>
                        </td>

                        <?php
                    }
//                        }
//                    }

                    if (count($this->customerOrderList) == 0) {
                        ?>
                    <tr class="not_found">
                        <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                    </tr>
                    <?php
                }
                ?>
            </tbody>
        </table>
        <?php
        if ($this->isPaginated) {
            echo $this->paginationControl(
                    $this->customerOrderList, 'sliding', array('partial/paginator.phtml', 'customerOrder'), array(
                'route' => 'customerOrder', 'action' => 'list',
                    )
            );
        }
        ?>
    </div>

</div>