<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
var edit_btn = '<?php echo $this->translate('Edit'); ?>';
var save = '<?php echo $this->translate('Save'); ?>';
var locationID = <?php echo $this->locationID ?>;
$(document).ready(function(){
$("#mobile_heading").html("<h3>Quotations</h3>").addClass('heading');
});
var companyCurrencySymbol =  <?php echo "'$this->companyCurrencySymbol'"; ?>;
<?php $this->headScript()->captureEnd() ?>

<?php
$this->headScript()->appendFile($this->basePath('js/invoice/customerOrderEdit.js'));
$this->headScript()->prependFile($this->basePath('js/calculations.js'));
$this->headScript()->appendFile($this->basePath('js/invoice/modalAddCustomer.js'));
?>

<?php
$quot_form = $this->quot_form;
$companyCurrencySymbol = $this->companyCurrencySymbol;
$quot_form->prepare();
?>
<?php
if ($refNotSet) {
    ?>
    <script>
        $(function () {
            $('#refNotSet').modal('show');
        });
    </script>
    <?php
}
?>


<div class="margin_top margin_bottom">
    <div class="well well_heading">
        <h5 class="font_weight"><?php echo $this->translate('Create Customer Order'); ?></h5>
    </div>

    <div class="well well_body">
        <div class="form-horizontal">
            <?php echo $this->form()->openTag($quot_form); ?>
            
            <div id="quotaion_upper_view" class="row"><!--data_insert_section-->
                <input type="hidden" id='edit_cus_order_ID' value="<?php echo $this->edit_ID; ?>">
                <input type="hidden" id='is_view' value="<?php echo $this->is_View; ?>">
                <div class="col-lg-10 col-md-10">
                    <div class="form-group"><!--customer_name-->
                        <label for="cust_name" class="col-lg-5 control-label">
                            <?php echo $this->translate("Customer Name"); ?>
                            <font color="red"> *</font>
                        </label>
                        <div class="col-lg-7">
                            <div class="input-group">
                                <select class="form-control selectpicker show-tick" id="cust_name" name="cust_name" data-live-search="true">
                                    <option value=""><?php echo $this->translate("Select Customer Name") ?></option>
                                </select>
                                <!-- <a data-toggle="modal" id="addCustomerBtn" href="#addCustomerModal" class="input-group-addon btn-default"><i class="fa fa-plus remove_font_weight"></i></a> -->
                            </div>
                        </div>
                        <input type="hidden" id="cust_id" />
                    </div>

                    <div class="form-group">
                        <label for="date" class="col-lg-5 control-label">
                            <?php echo $this->translate("Customer Order Date"); ?>
                        </label>
                        <div class="col-lg-7">
                            <input type="text" class="datepicker form-control pointer_cursor"  style="background-color: white" readonly="true" id="cus_order_date" data-date-format="<?php echo $this->userdateformat; ?>" placeholder="Click to set a Date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cus_order_no" class="col-lg-5 control-label">
                            <?php echo $this->translate("Customer Order No"); ?>
                            <font style="color: red">*</font>
                        </label>
                        <div class="col-lg-7">
                            <?php echo $this->formRow($quot_form->get('cus_order_no')); ?>
                        </div>
                    </div>
                    <div class="form-group"><!--reference-->
                        <label for="reference" class="col-lg-5 control-label">
                            <?php echo $this->translate('Customer Order Reference No'); ?>
                        </label>
                        <div class="col-lg-7">
                            <?php echo $this->formRow($quot_form->get('reference')); ?>
                        </div>
                    </div>
                    <div class="form-group" id = "attach-div">
                        <label for="dimensionType" class="col-lg-5 control-label">
                            <?php echo $this->translate('Select Documents'); ?>
                        </label>
                        <div class="col-lg-7 createPoDiv">
                            <input type="file" name="files[]" id="cusOrderdocumentFiles" multiple>
                        </div>
                        <!-- <div class="col-lg-4 updatePoDiv hidden">
                            <input type="file" name="files[]" id="editDocumentFiles" multiple class="btn btn-default fromControl" style="border-color: white">
                        </div> -->
                    </div>
                    <div class="form-group">
                        <label for="cus_order_amount" class="col-lg-5 control-label">
                            <?php echo $this->translate("Customer Order Amount"); ?>
                        </label>
                        <div class="col-lg-7">
                            <div class="input-group">
                                <?php echo $this->formRow($quot_form->get('cus_order_amount')); ?>
                                <strong class="input-group-addon">Rs</strong>
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for='salesPersonID' class="col-lg-5 control-label">
                            <?php echo $this->translate('Comment'); ?>
                        </label>
                        <div class="col-lg-7">
                            <?php echo $this->formRow($quot_form->get('cmnt')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="dimensionType" class="col-lg-5 control-label">
                            <?php echo $this->translate('View Documents'); ?>
                        </label>
                        <div class="col-lg-1 text-right">
                            <button class="btn btn-default form-control" type="button" id='viewUploadedFiles'><i class="glyphicon glyphicon-eye-open"></i></button>
                        </div>
                    </div>

                    <div class="form-group margin_top_high">
                        <div class="col-lg-5 hidden-md margin_top_normal"></div>

                        <div class="col-lg-7 text-right margin_top_normal">
                            <input type="button"  id="backToList" value="<?php echo $this->translate("Back"); ?>" class='btn btn-default'>
                            <input type="submit" value="<?php echo $this->translate("Update"); ?>" class="btn btn-primary" id="placequotation"/>
                        </div>
                    </div>
                </div><!--./col-->
            </div><!--row-->
           


            <?php
            echo $this->form()->closeTag();
            ?>
        </div><!--form_horizontal-->

    </div><!--panel_body-->

</div><!--panel-->

    
<div class="modal fade" id="addCustomerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->customerAddView; ?>
</div>
<div class="modal fade" id="add_customer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $cust_formv; ?>
</div>
<div class="modal fade" id="refNotSet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $refNotSet; ?>
</div>
<div class="modal fade" id="viewAttachmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->attachmentsView; ?>
</div>
