<?php $this->headScript()->captureStart() ?>
var BASE_URL = '<?php echo $this->basePath(); ?>';
var currentLocationID = <?php echo $this->locationID ?>;
$(document).ready(function(){
$("#mobile_heading").html("<h3>Quotations</h3>").addClass('heading');
});

<?php $this->headScript()->captureEnd() ?>

<?php $this->headScript()->appendFile($this->basePath('js/invoice/viewCustomerOrder.js')); ?>


<?php
$quot_form = $this->quot_form;
$quot_form->get('submit')->setValue('Place Invoice');
$quot_form->prepare();
?>
<div id="delete_quotations" class="modal fade" style="position: absolute"></div>

<!--search_quotation-->
<div class="well clearfix well_custom_padding margin_top quotation_panel xs_view">

    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        <label class="remove_weight"><?php echo $this->translate('Search Customer Orders') ?></label>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-4">
        <select id="searchType" class="form-control">
            <option value="Customer Order ID"><?php echo $this->translate('Customer Order No') ?></option>
            <option value="Customer Order RefID"><?php echo $this->translate('Customer Order Reference No') ?></option>
            <option value="Customer Name"><?php echo $this->translate('Customer Name') ?></option>
        </select>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-4">
        <select class="form-control selectpicker show-tick" id="qid" name="qid" data-live-search="true">
            <option value=""><?php echo $this->translate("Select Customer Order No") ?></option>
        </select>
        <select class="form-control selectpicker show-tick" id="corefid" name="corefid" data-live-search="true">
            <option value=""><?php echo $this->translate("Select Customer Order Ref No") ?></option>
        </select>
        <select class="form-control selectpicker show-tick" id="cname" name="cname" data-live-search="true">
            <option value=""><?php echo $this->translate("Select Customer Name") ?></option>
        </select>
    </div>



    <div class="col-lg-2 col-md-2 col-sm-2">
        <input type="text" style="background-color: white" readonly="true" class="span2 datepicker form-control pointer_cursor" id="from-date" data-date-format="<?php echo $this->userdateFormat ?>" placeholder="<?php echo $this->userdateFormat ?>">
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2">
        <input type="text" style="background-color: white" readonly="true" class="span2 datepicker form-control pointer_cursor" id="to-date" data-date-format="<?php echo $this->userdateFormat ?>" placeholder="<?php echo $this->userdateFormat ?>">
    </div>

    <div class="col-lg-1 col-md-2 col-sm-2">
        <button class="btn btn-primary col-lg-12 col-md-12 col-sm-12" id="filter-button"><?php echo $this->translate('GO') ?></button>
    </div>
    <div class="col-lg-1 col-md-2 col-sm-2">
        <button class="btn btn-primary col-lg-12 col-md-12 col-sm-12" id="reset-button"><?php echo $this->translate('RESET') ?></button>
    </div>

</div><!--well-->

<div id="cqview"></div>


<div id="contactList">
    <?php echo $this->partial('invoice/customer-order/customer-order-edit-list', array('customerOrderList' => $this->customerOrderList,'isPaginated' => $this->isPaginated, 'statuses' => $this->statuses)) ?>
</div>


<div class="modal fade" id="delete_customer_order" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4><?php echo $this->translate('Customer Order Delete Confirmation') ?></h4>
            </div>
            <div class="modal-body">
                <?php echo $this->translate('Are you sure you want to delete this customer order?') ?>
            </div>
            <div class="modal-footer">
                <button id="delete-quotation-button" class="btn btn-primary"><?php echo $this->translate('Ok') ?></button>
                <button type="button" data-dismiss="modal" class="btn btn-danger"><?php echo $this->translate('Cancel') ?></button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="addDocHistoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->docHistoryView; ?>
</div>
<div class="modal fade" id="DocumentViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->documentView; ?>
</div>
<div class="modal fade" id="viewAttachmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->attachmentsView; ?>
</div>
