<?php
if ($refNotSet) {
    ?>
    <script>
        $(function () {
            $('#refNotSet').modal('show');
        });
    </script>
    <?php
}
?>

<div class="category-form-container margin_top">
    <div class="well well_heading">
        <h5><?php echo $this->translate('Add Petty Cash Voucher') ?></h5>
    </div>

    <div class="well well_body">

        <?php
        $form = $this->pettyCashVoucherForm;
        $form->setAttribute('id', 'create-petty-cash-voucher-form');

        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formHidden($form->get('pettyCashVoucherID'));
        ?>

        <!--Current Balance-->
        <div class="form-group">
            <div class="col-lg-3">
                <label class="control-label" for="pettyCashFloatBalance"><?php echo $this->translate('Petty Cash Voucher Account') ?><font color="red"> *</font></label>
            </div>
            <div class="col-lg-4">
                <?php echo $this->formRow($form->get('pettyCashVoucherFinanceAccountID')); ?>
            </div>
            <div class="col-lg-2">
                <?php echo $this->formRow($form->get('pettyCashFloatBalance')); ?>
            </div>
        </div>

        <!--Voucher no-->
        <div class="form-group">
            <div class="col-lg-3">
                <label class="control-label label_bottom_margin" for="pettyCashVoucherNo"><?php echo $this->translate('Voucher No') ?><font color="red"> *</font></label>
            </div>
            <div class="col-lg-6">
                <?php echo $this->formRow($form->get('pettyCashVoucherNo')); ?>
            </div>
        </div>

        <!--voucher type-->
        <div class="form-group">
            <div class="col-lg-3">
                <label class="control-label label_bottom_margin" for="pettyCashVoucherType"><?php echo $this->translate('Voucher Type') ?><font color="red"> *</font></label>
            </div>
            <div class="col-lg-6">
                <?php echo $this->formRow($form->get('pettyCashVoucherType')); ?>
            </div>
        </div>

        <!--expense Type selection-->
        <div class="form-group" id="expense-type-selection">
            <div class="col-lg-3">
                <label class="control-label label_bottom_margin" for="pettyCashExpenseTypeID"><?php echo $this->translate('Petty Cash Expense Type') ?><font color="red"> *</font></label>
            </div>
            <div class="col-lg-6 non-item-ex-type-row">
                    <select class="form-control selectpicker show-tick ex-type ex-type-selectbox" data-live-search="true" title="Select Expense Type">
                        <option class="" value=""><?php echo $this->translate('Select Expense Type') ?></option>
                    </select>
            </div>
        </div>

        <!--inserted petty cash voucher selection-->
        <div class="form-group hidden" id="petty-cash-voucher-selection">
            <div class="col-lg-3">
                <label class="control-label label_bottom_margin" for="outgoingPettyCashVoucherID"><?php echo $this->translate('OutGoing Petty Cash Voucher') ?><font color="red"> *</font></label>
            </div>
            <div class="col-lg-6">
                <?php echo $this->formRow($form->get('outgoingPettyCashVoucherID')) ?>
            </div>
        </div>

        <!--Amount-->
        <div class="form-group">
            <div class="col-lg-3">
                <label class="control-label label_bottom_margin" for="pettyCashVoucherAmount"><?php echo $this->translate('Voucher Amount') ?><font color="red"> *</font></label>
            </div>
            <div class="col-lg-6">
                <?php echo $this->formRow($form->get('pettyCashVoucherAmount')); ?>
            </div>
        </div>

        <!--Date-->
        <div class="form-group">
            <div class="col-lg-3">
                <label class="control-label label_bottom_margin" for="pettyCashVoucherDate"><?php echo $this->translate('Date') ?><font color="red"> *</font></label>
            </div>
            <div class="col-lg-6">
                <?php echo $this->formRow($form->get('pettyCashVoucherDate')); ?>
            </div>
        </div>

        <!--user ID-->
        <div class="form-group">
            <div class="col-lg-3">
                <label class="control-label label_bottom_margin" for="userID"><?php echo $this->translate('User') ?></label>
            </div>
            <div class="col-lg-6">
                <?php echo $this->formRow($form->get('userID')) ?>
            </div>
        </div>
        <div class="form-group">
            <!-- Journal Entry No -->
            <label for="dimensionType" class="col-lg-3 col-md-3 col-sm-4 control-label">
                <?php echo $this->translate('Dimension:'); ?>
            </label>
            <div class="col-lg-7 col-md-9 col-sm-8">
                 <a data-toggle="modal" id="dimensionView" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></a>
            </div>
        </div><!-- ./row -->

        <!--comment-->
        <div class="form-group">
            <div class="col-lg-3">
                <label class="control-label label_bottom_margin" for="comment"><?php echo $this->translate('Comment') ?></label>
            </div>
            <div class="col-lg-6">
                <?php echo $this->formRow($form->get('pettyCashVoucherComment')) ?>
            </div>
        </div>

        <!--reset&add-->
        <div class="form-group _remove_margin_bottom btn_wrapper">
            <div class="col-lg-6 col-lg-push-3 text-right">
                <?php echo $this->formRow($form->get('pettyCashVoucherSubmit')); ?>
                <?php echo $this->formRow($form->get('pettyCashVoucherReset')); ?>
            </div>
        </div><!--form_group-->

        <?php
        echo $this->form()->closeTag($form);
        ?>

    </div><!--well-->
</div><!--category_form_container-->

<!--Modal for if voucher reference not set-->
<div class="modal fade" id="refNotSet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $refNotSet; ?>
</div>

<div class="modal fade" id="addDimensionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <?php echo $this->dimensionAddView; ?>
</div>

