<div class="category-form-container margin_top">
    <div class="well well_heading">
        <h5><?php echo $this->translate('Add Petty Cash Voucher') ?></h5>
    </div>

    <div class="well well_body">
        <form name="create-petty-cash-voucher" class="form-horizontal" id="create-petty-cash-voucher-form">
            <!--Voucher no-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin" for="pettyCashVoucherNo"><?php echo $this->translate('Voucher No') ?><font color="red"> *</font></label>
                </div>
                <div class="col-lg-6">
                    <input type="text" class="form-control" id="pettyCashVoucherNo" value="<?php echo $data['pettyCashVoucherNo']; ?>" disabled="true">
                </div>
            </div>

            <!--voucher type-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin" for="pettyCashVoucherType"><?php echo $this->translate('Voucher Type') ?><font color="red"> *</font></label>
                </div>
                <div class="col-lg-6">
                    <input type="text" class="form-control" id="pettyCashVoucherType" value="<?php echo $data['pettyCashVoucherTypeName']; ?>" disabled="true">
                </div>
            </div>

            <!--expense Type selection-->
            <div class="form-group <?php if ($data['pettyCashVoucherType'] == 1) { echo 'hidden'; } ?>" id="expense-type-selection">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin" for="pettyCashExpenseType"><?php echo $this->translate('OutGoing Petty Cash Voucher') ?><font color="red"> *</font></label>
                </div>
                <div class="col-lg-6">
                    <input type="text" class="form-control" id="pettyCashVoucherType" value="<?php echo $data['outGoingPettyCashVoucher']; ?>" disabled="true">
                </div>
            </div>

            <!--inserted petty cash voucher selection-->
            <div class="form-group <?php if ($data['pettyCashVoucherType'] == 2) { echo 'hidden'; } ?>" id="petty-cash-voucher-selection">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin" for="outgoingPettyCashVoucherID"><?php echo $this->translate('Petty Cash Expense Type') ?><font color="red"> *</font></label>
                </div>
                <div class="col-lg-6">
                    <input type="text" class="form-control" id="pettyCashVoucherType" value="<?php echo $data['pettyCashExpenseType']; ?>" disabled="true">
                </div>
            </div>

            <!--Amount-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin" for="pettyCashVoucherAmount"><?php echo $this->translate('Voucher Amount') ?><font color="red"> *</font></label>
                </div>
                <div class="col-lg-6">
                    <input type="text" class="form-control" id="pettyCashVoucherType" value="<?php echo number_format($data['pettyCashVoucherAmount'], 2); ?>" disabled="true">
                </div>
            </div>

            <!--Date-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin" for="pettyCashVoucherDate"><?php echo $this->translate('Date') ?><font color="red"> *</font></label>
                </div>
                <div class="col-lg-6">
                    <input type="text" class="form-control" id="pettyCashVoucherType" value="<?php echo $data['pettyCashVoucherDate']; ?>" disabled="true">
                </div>
            </div>

            <!--user ID-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin" for="user"><?php echo $this->translate('User') ?></label>
                </div>
                <div class="col-lg-6">
                    <input type="text" class="form-control" id="pettyCashVoucherType" value="<?php echo $data['userUsername']; ?>" disabled="true">
                </div>
            </div>

            <!--comment-->
            <div class="form-group">
                <div class="col-lg-3">
                    <label class="control-label label_bottom_margin" for="comment"><?php echo $this->translate('Comment') ?></label>
                </div>
                <div class="col-lg-6">
                    <textarea name="pettyCashVoucherComment" id="pettyCashVoucherComment" class="form-control" disabled="true"><?php echo $data['pettyCashVoucherComment']; ?></textarea>
                </div>
            </div>

            <!--reset&add-->
            <div class="form-group _remove_margin_bottom btn_wrapper">
                <div class="col-lg-6 col-lg-push-3 text-right">
                    <a href="<?php echo $this->url('petty-cash-voucher', array('action' => 'view')); ?>" class="btn btn-default" >Back</a>
                </div>
            </div><!--form_group-->

        </form>

    </div><!--well-->
</div><!--category_form_container-->
