<div class="table table-responsive margin_top">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('Code') ?></th>
                <th><?php echo $this->translate('Amount') ?></th>
                <th><?php echo $this->translate('Date') ?></th>
                <th><?php echo $this->translate('Voucher Type') ?></th>
                <th><?php echo $this->translate('Expense Type') ?></th>
                <th><?php echo $this->translate('Returned Petty Cash Voucher No') ?></th>
                <th class="text-center"><?php echo $this->translate('Status') ?></th>
                <th class="text-center"><?php echo $this->translate('Print view') ?></th>
                <th class="text-center"><?php echo $this->translate('View') ?></th>
                <th class="text-center"><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php if (count($this->pettyCashVouchers) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            } else {
                foreach ($this->pettyCashVouchers as $voucher) {
                    $voucher = (object) $voucher;
                    ?>
                    <tr data-pettyCashVoucherID="<?php echo $voucher->pettyCashVoucherID ?>">
                        <td><?php echo $voucher->pettyCashVoucherNo ?></td>
                        <td><?php echo number_format($voucher->pettyCashVoucherAmount, 2) ?></td>
                        <td><?php echo $voucher->pettyCashVoucherDate ?></td>
                        <td><?php echo $pettyCashVoucherTypes[$voucher->pettyCashVoucherType] ?></td>
                        <td><?php echo isset($voucher->pettyCashExpenseTypeName) ? $voucher->pettyCashExpenseTypeName : '-' ?></td>
                        <td><?php echo isset($voucher->returnedPettyCashVoucherNo) ? $voucher->returnedPettyCashVoucherNo : '-' ?></td>
                        <?php if ($voucher->deleted == '0') { ?>
                            <td class="text-center">
                                <span class="label label-success"><?php echo $this->translate('Active') ?></span>
                            </td>
                            <td class="text-center">

                                <span class="printViewPi link_color" style="cursor:pointer" data-href="<?php echo $this->url('petty-cash-voucher', array('action' => 'preview', 'param1' => $voucher->pettyCashVoucherID)); ?>"><span class="grnView glyphicon glyphicon-eye-open"></span></span>
                            </td>
                            <td class="text-center">
                                <a href="<?php echo $this->url('petty-cash-voucher', array('action' => 'lists', 'param1' => $voucher->pettyCashVoucherID)); ?>" class="text-center ">
                                    <span class="fa fa-search-plus custom_font_size"></span>
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="#" class="text-center delete">
                                    <span class="fa fa-trash-o custom_font_size"></span>
                                </a>
                            </td>
                        <?php } else { ?>
                            <td class="text-center"><span class="label label-danger"><?php echo $this->translate('Deleted') ?></span></td>
                            <td class="text-center">
                                <span class="printViewPi link_color" style="cursor:pointer" data-href="<?php echo $this->url('petty-cash-voucher', array('action' => 'preview', 'param1' => $voucher->pettyCashVoucherID)); ?>"><span class="grnView glyphicon glyphicon-eye-open"></span></span>
                            </td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        <?php } ?>
                    </tr>
                    <?php
                }
            }
            ?>
        </tbody>
    </table>
</div>

<?php
if ($this->isPaginated) {
    echo $this->paginationControl(
            $this->pettyCashVouchers, 'sliding', array('partial/paginator.phtml', 'petty-cash-voucher'), array(
        'route' => 'petty-cash-voucher', 'action' => 'view'
            )
    );
}
?>