<!--search_panel-->
<div class='well clearfix well_custom_padding margin_top margin_bottom_high'>
    <div class='col-lg-12'>
        <label class=""><?php echo $this->translate('Search Petty Cash Voucher') ?></label>
    </div>
    <div class="col-lg-12">
        <div class="_row_with_margin search_wrapper">

            <div class="col-lg-3 col-md-3">
                <select class="form-control selectpicker show-tick"   id="petty-search" name="petty-search" data-live-search="true" title="Select Voucher No">
                    <option value=""><?php echo $this->translate('Select Voucher No') ?></option>
                </select>
            </div>

            <div class="col-lg-2 col-lg-offset-3 col-md-3">
                <input type="text" style="background-color: white" readonly="true" class="span2 datepicker form-control pointer_cursor" id="from-date" data-date-format="<?php echo $this->dateFormat ?>" placeholder="<?php echo $this->dateFormat ?>">
            </div>

            <div class="col-lg-2 col-md-3">
                <input type="text" style="background-color: white" readonly="true" class="span2 datepicker form-control pointer_cursor" id="to-date" data-date-format="<?php echo $this->dateFormat ?>" placeholder="<?php echo $this->dateFormat ?>">
            </div>

            <div class="col-lg-2 col-md-12">
                <div class="btn-group search_margin_bottom pull-right">
                    <button class="btn btn-default" id="filter-button"><?php echo $this->translate('Search') ?></button>
                    <button class="btn btn-default" id="clear-search"><?php echo $this->translate('Clear') ?></button>
                </div>
            </div>
        </div>
    </div>
</div><!--well-->
<div id="petty-cash-voucher-list" >
    <?php
    echo $this->partial('expenses/petty-cash-voucher/list', array(
        'pettyCashVouchers' => $this->pettyCashVouchers,
        'pettyCashVoucherTypes' => $this->pettyCashVoucherTypes,
        'isPaginated' => $this->isPaginated))
    ?>

</div>