<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<?php include(getcwd() . '/public/css/reports/styles.css'); ?>
</style>

<div id="body">

    <div id="section_header">
    </div>

    <div id="content">

        <div class="page" style="font-size: 7pt">

            <?php echo $this->headerTemplate; ?>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 8pt;">

                <tr>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>

            </table>

            <table class="change_order_items">

                <tbody>
                    <tr>
                        <th><?php echo $this->translate('Bank') ?></th>
                        <th><?php echo $this->translate('Account Name') ?></th>
                        <th><?php echo $this->translate('Account Number') ?></th>
                        <th><?php echo $this->translate('Reconciliation Comment') ?></th>
                        <th><?php echo $this->translate('Reconciliation Date') ?></th>
                        <th><?php echo $this->translate('Reconciliation Ammount') ?></th>
                    </tr>

                    <?php
                    if(!empty($reconciliationData)){
                    foreach ($reconciliationData as $accounts) {
                        ?>
                        <tr class="even_row">
                            <td><?php echo $accounts['bankName']; ?></td>
                            <td><?php echo $accounts['accountName']; ?></td>
                            <td><?php echo $accounts['accountNumber']; ?></td>
                            <td colspan="3"></td>
                        </tr>

                        <?php
                        foreach ($accounts as $key => $account) {
                            if ($key == 'reconciliations') {
                                foreach ($account as $reconciliation) {
                                    ?>
                                    <tr class="even_row">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><?php echo $reconciliation['reconciliationComment']; ?></td>
                                        <td><?php echo $reconciliation['reconciliationDate']; ?></td>
                                        <td><?php echo $reconciliation['reconciliationAmount']; ?></td>
                                    </tr>
                                    <?php
                                }
                            }
                        }
                    }
                    } else {
                    ?>
                        <tr class="even_row">
                            <td colspan="6"><?php echo $this->translate("No related data found"); ?></td>
                        </tr>
                    <?php
                    }
                    ?>

                </tbody>
            </table>
        </div>
    </div>
</div>



