<?php
$this->headScript()->appendFile($this->basePath('js/report-pdf/reconciliation-report.js'));
$this->headScript()->appendFile($this->basePath('js/report-pdf/common-report.js'));
$this->headScript()->appendFile($this->basePath('/css/report.css'));
?>

<!--panel-->
<div class='panel panel-default margin_top margin_bottom panel_border'>

    <!--panel_heading-->
    <div class='panel-heading panel_heading_style'>
        <h4 class="font_weight h1_no_margin report_heading"><?php echo $this->translate('Reconciliation Reports') ?></h4>
    </div>

    <div class="panel-body panel_body_style flex-container">

        <!--links-->
        <div class="col-lg-3 col-md-3 remove_left_padding remove_right_padding panel_links">
            <ul class="nav nav-pills nav-stacked data-tabs" data-tabs="tabs">
                <li id="reconciliationDetails" class="report_pills active"><a href="#" class="active_link" data-toggle="tab"><?php echo $this->translate('Reconciliation Details') ?></a></li>
            </ul>
        </div>

        <!--process_area-->
        <div class="col-lg-9 col-md-9 form-horizontal process_area">

            <div id="report_head">
                <div class="form-group">

                    <div class="row">
                        <div class="item-transfer-content">
                            <div class="account-list margin_bottom_normal">
                                <div class="clearfix">
                                    <div class="col-lg-6 col-md-6 col-sm-6 xs-margin-bottom">
                                        <select class='form-control' id="bankList" title="Select Bank">
                                            <option value="">----- <?php echo $this->translate('Select Bank') ?> -----</option>
                                            <?php foreach ($banks as $bankId => $bankName) { ?>
                                                <option value="<?php echo $bankId; ?>"><?php echo $bankName; ?></option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <select class='form-control' id="accountList" title="Select Account">
                                            <option value="">----- <?php echo $this->translate('Select Account') ?> -----</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 xs-margin-bottom">
                            <div class="input-group date datetimepicker">
                                <input type="text" class="form-control cal-input" placeholder="<?php echo $this->translate('From Date')?>" id="startDate">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 xs-margin-bottom">
                            <div class="input-group date datetimepicker">
                                <input type="text" class="form-control cal-input" placeholder="<?php echo $this->translate('To Date')?>" id="endDate">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 btn-group btn_panel_height_high report_buttons">
                            <button class="btn btn-default col-lg-2 report-btn" id="viewReport"><?php echo $this->translate('View Report') ?></button>
                            <button class="btn btn-default col-lg-2 report-btn" id="generatePdf"><?php echo $this->translate('Generate Pdf') ?></button>
                            <button class="btn btn-default col-lg-2 report-btn" id="csvReport"><?php echo $this->translate('CSV Report') ?></button>
                        </div>
                    </div>

                </div><!--form-group-->
            </div><!--reportHead-->

        </div><!--form-->
    </div><!--panel_body-->
</div><!--panel-->

<iframe id="reconciliation-report" class="panel panel-default margin_top margin_bottom panel_border report-iframe" style="width: 100%"></iframe>


