<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('Event Type Code') ?></th>
                <th><?php echo $this->translate('Event Type Name') ?></th>
                <th class="text-center" ><?php echo $this->translate('Edit') ?></th>
                <th class="text-center" ><?php echo $this->translate('Active') ?></th>
                <th class="text-center" ><?php echo $this->translate('Delete') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->jobTypeList as $loo) {
                $loo = (object) $loo;
                ?>
                <tr data-jobtypeid="<?php echo $loo->jobTypeId; ?>">
                    <td class="JTC"><?php echo $loo->jobTypeCode; ?></td>
                    <td class="JTN"><?php echo $loo->jobTypeName ?></td>
                    <td class="text-center">
                        <a href="#" class="edit">
                            <span class="fa fa-pencil-square-o custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="#" class="status">
                            <span class="<?php echo ($loo->jobTypeStatus == '1') ? 'fa fa-check-square-o' : 'fa fa-square-o '; ?> custom_font_size"></span>
                        </a>
                    </td>
                    <td class="text-center" >
                        <a href="#" class="delete">
                            <span class="fa fa-trash-o custom_font_size"></span>
                        </a>
                    </td>
                </tr>
                <?php
            }
            if (count($this->jobTypeList) == 0) {
                ?>
                <tr class="not_found">
                    <td colspan="10"><?php echo $this->translate('No results were found.'); ?></td>
                </tr>
                <?php
            }
            ?>
        </tbody>
    </table>
</div><!--table_responsive-->

<?php
if ($this->paginated) {
    echo $this->paginationControl(
            $this->jobTypeList, 'sliding', array('partial/paginator.phtml', 'eventSetup'), array(
        'route' => 'eventSetup', 'action' => 'index'
            )
    );
}
?>
