<div class="data_table">
    <table width="100%" class="product-list">
        <tr>
            <td>
                <hr />
                <br />
                <div class="qout_body">
                    <table width="100%" id ="tbl_without_cost" class="table bigtable table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width: 10%"><?php echo $this->translate("Item Code"); ?></th>
                                <th style="width: 20%"><?php echo $this->translate("Item Name"); ?></th>
                                <th class="text-right" style="width: 13%">
                                    <?php echo $this->translate("Quantity"); ?>
                                </th>
                                <th style="width: 2%"></th>
                            </tr>
                        </thead>

                        <tbody id="form_row">
                            <?php foreach ($this->inventdata as $adjData) { ?>
                                <tr>
                                    <td id='code'><?php echo $adjData['productCode']; ?></td>
                                    <td id='name'>
                                        <?php
                                            echo $adjData['productName'];
                                            if (!empty($adjData['transferSubProducts'])) {
                                                echo "<br><small>(" . implode('<br>', $adjData['transferSubProducts']) . ")</small>";
                                            }
                                        ?>
                                    </td>
                                    <td id='quantity' class='text-right'>
                                        <?php echo $adjData['transferProductQuantity']; ?>
                                    </td>
                                    <td>
                                        <span id="uomName" class='text-right'>
                                            <?php echo $adjData['uomAbbr']; ?>
                                        </span>
                                    </td>
                                </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                    <table id ="tbl_with_cost" width="100%" class="table bigtable table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width: 10%"><?php echo $this->translate("Item Code"); ?></th>
                                <th style="width: 20%"><?php echo $this->translate("Item Name"); ?></th>
                                <th class="text-right" style="width: 13%">
                                    <?php echo $this->translate("Quantity"); ?>
                                </th>
                                <th style="width: 2%"></th>
                                <th style="width: 10%"><?php echo $this->translate("Item Cost"); ?></th>
                            </tr>
                        </thead>

                        <tbody id="form_row">
                            <?php foreach ($this->inventdata as $adjData) { ?>
                                <tr>
                                    <td id='code'><?php echo $adjData['productCode']; ?></td>
                                    <td id='name'>
                                        <?php
                                            echo $adjData['productName'];
                                            if (!empty($adjData['transferSubProducts'])) {
                                                echo "<br><small>(" . implode('<br>', $adjData['transferSubProducts']) . ")</small>";
                                            }
                                        ?>
                                    </td>
                                    <td id='quantity' class='text-right'>
                                        <?php echo $adjData['transferProductQuantity']; ?>
                                    </td>
                                    <td>
                                        <span id="uomName" class='text-right'>
                                            <?php echo $adjData['uomAbbr']; ?>
                                        </span>
                                    </td>
                                    <td id='quantity' class='text-center'><?php echo number_format($adjData['itemCost'], 2); ?></td>
                                </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                </div>

                <div class="summary">
                    <table width="100%"  id="" class="table">
                        <col width="90px"><col width="290px"><col width="75px">
                        <col width="100px"><col width="50px"><col width="100px">
                        <tr>
                            <td colspan="2" rowspan="2">
                                <?php
                                echo "<div id='comment'><strong>" . $this->translate('Comment') . "&nbsp;:</strong><pre style='font-family:Helvetica,Arial,sans-serif; white-space: pre-wrap;'><i>" . $this->transferDescription . "</i></div>";
                                ?>
                            </td>
                        </tr>
                    </table>
                </div>

            </td>
        </tr>
    </table>
</div><!-- ./data-table -->